@model ProEstimatorData.Models.EditorTemplateModel.ManualEntry

<div id="MEDetails">
    @Html.EditorFor(model => model.Details)
</div>

<div id="MEList">
    @Html.EditorFor(model => model.List)
</div>

