@model ProEstimator.Admin.ViewModel.EmailReport.EmailReportVM

@using ProEstimator.Admin.ViewModel.EmailReport;

@{
    ViewBag.Title = "Administration - Email Report";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<style>
    .input-group-addon {
        min-width: 150px;
        text-align: left;
    }

    .padd-top {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .k-grid td {
        white-space: normal;
    }

    .stackem {
        margin-bottom: 5px;
    }

    .k-state-selected {
        background-color: #f9f9f9 !important;
        border: 2px solid black !important;
        border-bottom: 2px solid black !important;
        border-right: 2px solid black !important;
    }

    #email-report-grid {
        cursor: pointer;
    }

    .legend span {
        border: 1px solid #ccc;
        float: left;
        width: 12px;
        height: 12px;
        margin: 2px;
    }

    .row-line-hovered {
        background-color: #dddddd !important;
        border-color: gray;
    }

    .legend .pass {
        background-color: #90EE90;
    }

    .legend .pending {
        background-color: #FFFFFF;
    }

    .legend .fail {
        background-color: #FF6961;
    }

    #email-report-grid .pass {
        background-color: #90EE90;
    }

    #email-report-grid .pending {
        background-color: #FFFFFF;
    }

    #email-report-grid .fail {
        background-color: #FF6961;
    }

    .ui-datepicker {
        z-index: 1000 !important;
    }

</style>

<script>

    function GetSearchParameters() {
        return {
            loginIDFilter: $("#LoginID").val(), rangeStartFilter: $("#RangeStart").val(), rangeEndFilter: $("#RangeEnd").val(),
            emailAddressFilter: $("#EmailAddress").val(), emailSubjectFilter: $("#EmailSubject").val(), emailBodyFilter: $("#EmailBody").val(),
            hasErrorFilter: $('#chkHasError').is(":checked"), errorMessageFilter: $("#ErrorMessage").val()
        };
    }

    $(document).ready(function () {

        $('#panelEmail').hide();

        // Set up calendar controls
        $("#RangeStart").datepicker({
            showOn: "button",
            buttonImage: "/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });

        // Set up calendar controls
        $("#RangeEnd").datepicker({
            showOn: "button",
            buttonImage: "/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });

        // Do the acount id search
        $("#btnSearchEmailReport").click(function () {

            $('#panelEmail').hide();
            // Refresh the history grid
            var grid = $("#email-report-grid").data("kendoGrid");

            if (grid) {
                grid.dataSource.read();
            }
        });

        $("#filter").on("input", function (e) {

            $('#panelEmail').hide();
            var grid = $("#email-report-grid").data("kendoGrid");
            var valuetoFilter = e.target.value;

            var filter = KendogridSearchFilter(grid, valuetoFilter);

            grid.dataSource.filter(filter);
        });

        var currentDate = new Date();
        var dateChange = new Date();
        dateChange.setDate(currentDate.getDate() - 7)

        // RangeStart
        var rangeStart = GetDayMonthYear(dateChange);
        $("#RangeStart").val(rangeStart);

        // RangeEnd
        dateChange = new Date();
        var rangeEnd = GetDayMonthYear(dateChange);
        $("#RangeEnd").val(rangeEnd);

        function GetDayMonthYear(dateChange) {
            var d = dateChange.getDate();
            var day = (d < 10) ? '0' + d : d;
            var m = dateChange.getMonth() + 1;
            var month = (m < 10) ? '0' + m : m;
            var yy = dateChange.getYear();
            var year = (yy < 1000) ? yy + 1900 : yy;

            var dateRange = month + "/" + day + "/" + year;

            return dateRange;
        }

        $("#btnExcelExport").click(function () {

            var loginIDFilter = $("#LoginID").val();
            var rangeStartFilter = $("#RangeStart").val();
            var rangeEndFilter = $("#RangeEnd").val();

            var emailAddressFilter = $("#EmailAddress").val();
            var emailSubjectFilter = $("#EmailSubject").val();
            var emailBodyFilter = $("#EmailBody").val();

            var hasErrorFilter = $('#chkHasError').is(":checked");
            var errorMessageFilter = $("#ErrorMessage").val();

            var win = window.open("/EmailReport/DownloadData/?loginIDFilter=" + loginIDFilter + "&rangeStartFilter=" + rangeStartFilter
                                 + "&rangeEndFilter=" + rangeEndFilter + "&emailAddressFilter=" + emailAddressFilter
                                  + "&emailSubjectFilter=" + emailSubjectFilter + "&emailBodyFilter=" + emailBodyFilter + "&hasErrorFilter=" + hasErrorFilter
                                   + "&errorMessageFilter=" + errorMessageFilter, "_blank");

            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert("Your browser blocked the site from opening a new tab, please allow popups for this site.");
            }
        });

    });

    function DetailsDataChanged(arg) {

        // Wire up hilighting the row when hovering.
        $("#email-report-grid tr").hover(
            function () {
                // Get the hovered row and its LineItemPreview data
                var row = $(this).closest("tr");
                row.toggleClass("row-line-hovered");
            }
        );

        var grid = $("#email-report-grid").data("kendoGrid");

        // Set row background colors
        grid.tbody.find(">tr").each(function () {

            var dataItem = grid.dataItem(this);

            if (dataItem.HasError != 'False') {
                $(this).addClass("fail");
            }
            else {
                if (dataItem.SendStamp != '') {
                    $(this).addClass("pass");
                }
                else {
                    $(this).addClass("pending");
                }
            }
        })
    }

    var _lastNotesLoginID = 0;

    function DetailsLineSelectionChanged(arg) {
        var row = $("#email-report-grid").find(".k-state-selected").first();

        //console.log(row);

        var loginID = row.find("td").first().html();
        var toAddresses = row.find("td").eq(1).html();
        var ccAddresses = row.find("td").eq(2).html();
        var smsNumbers = row.find("td").eq(3).html();
        var replyto = row.find("td").eq(4).html();
        var subject = row.find("td").eq(5).html();
        var body = row.find("td").eq(6).html();
        var errorMessage = row.find("td").eq(10).html();
        var recipient = row.find("td").eq(11).html();
        var sendStamp = row.find("td").eq(8).html();

        $("#writeEmail").empty();
        $("#writeEmail").append("<b>Send Stamp : </b>" + sendStamp);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>Recipient : </b>" + recipient);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>To : </b>" + toAddresses);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>CC : </b>" + ccAddresses);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>SMS : </b>" + smsNumbers);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>Reply To : </b>" + replyto);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>Subject : </b>" + subject);
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<br />");
        $("#writeEmail").append("<b>Body : </b>" + body);

        if (errorMessage != '')
        {
            $("#writeEmail").append("<br />");
            $("#writeEmail").append("<br />");
            $("#writeEmail").append("<b>Error Message : </b>" + errorMessage);
        }

        $('#panelEmail').show();
    }

</script>

<div class="page-container">
    <div class="row padd-top">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Email Report</h4>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row stackem">
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Login ID</span>
                                        <input type="text" class="form-control" placeholder="Login ID" aria-describedby="loginId" id="LoginID" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Range Start</span>
                                        <input type="text" class="input-group-addon" placeholder="Range Start" aria-describedby="RangeStart" id="RangeStart" readonly="true" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">RangeEnd</span>
                                        <input type="text" class="input-group-addon" placeholder="Range End" aria-describedby="RangeEnd" id="RangeEnd" readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="row stackem">
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email Address</span>
                                        <input type="text" class="form-control" placeholder="Email Address" aria-describedby="emailAddress" id="EmailAddress" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email Subject</span>
                                        <input type="text" class="form-control" placeholder="Email Subject" aria-describedby="emailSubject" id="EmailSubject" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Email Body</span>
                                        <input type="text" class="form-control" placeholder="Email Body" aria-describedby="emailBody" id="EmailBody"  />
                                    </div>
                                </div>
                            </div>

                            <div class="row stackem">
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border-right-width: 2px;border-right-style: groove;">Has Error</span>
                                        <input id="chkHasError" name="chkHasError" type="checkbox" style="width: 30px;height: 30px;" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border-right-width: 2px;border-right-style: groove;">Error Message</span>
                                        <input type="text" class="form-control" placeholder="Error Message" aria-describedby="errorMessage" id="ErrorMessage" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-primary" href="javascript:void(0);" style="width:95% !important" id="btnSearchEmailReport" role="button">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-height">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Email Report</h4>
                    </div>
                    <div class="col-sm-offset-4 col-sm-4 legend">
                        <div style="float: right;"><span class="pass"></span> Email Sent Successfully
                        <br/><span class="pending"></span>Email not sent yet<br/><span class="fail"></span> Email failed to Send</div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div style="float: left;">
                    <input type="button" value="Excel" id="btnExcelExport" />
                    <label id="labelDetailsCount" style="padding-left: 10px;"></label>
                </div>
                <div style="text-align: right; padding-bottom: 10px;">
                    Search: <input type="text" id="filter" />
                </div>

                @*<div class="row">
                    <div class="hide-small" style="padding-left: 15px;">
                        <input type="button" id="ShowHideLink" onclick="ShowHideLinkClick();" style="font-weight: bold;color: black; font-size:0.8em; text-decoration: underline;padding: 0;border: none;background: none;outline:none;" value="Show/Hide Grid Column" />
                    </div>
                    <div id="cblist" class="menu" style="display: none;position: absolute;z-index: 1000;background-color: #1d69a6;color: #FFF; width:150px;margin-top: 3px"></div>
                </div>*@

                <div class="datagrid">
                    @(Html.Kendo().Grid<EmailReportVM>()
                    .Name("email-report-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(item => item.LoginID).Width(50);
                        columns.Bound(item => item.ToAddresses).Hidden();
                        columns.Bound(item => item.CCAddresses).Hidden();
                        columns.Bound(item => item.SMSNumbers).Hidden();
                        columns.Bound(item => item.ReplyTo).Hidden();
                        columns.Bound(item => item.Subject).Width(300);
                        columns.Bound(item => item.Body).Hidden();
                        columns.Bound(item => item.CreateStamp).Width(50);
                        columns.Bound(item => item.SendStamp).Width(100);
                        columns.Bound(item => item.HasError).Width(25);
                        columns.Bound(item => item.ErrorMessage).Hidden();
                        columns.Bound(item => item.Recipient).Width(50);
                    })
                        .Selectable()
                        .Pageable(pageable => pageable
                            .Refresh(false)
                        )
                        .Events(events => events
                            .DataBound("DetailsDataChanged")
                            .Change("DetailsLineSelectionChanged")
                        )
                        .Reorderable(reorder => reorder.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Read(read => read.Action("GetEmailReport", "EmailReport").Data("GetSearchParameters"))
                            .PageSize(25)
                        )
                    )
                </div>
            </div>
        </div>

        <div class="row" id="panelEmail">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Email</h4>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div id="writeEmail"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



