@model ProEstimator.Admin.ViewModel.ManageDocument.DocumentVM

@using ProEstimator.Admin.ViewModel.ManageDocument;

@{
    ViewBag.Title = "Administration - Documents Upload";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<style>
    .input-group-addon {
        min-width: 150px;
        text-align: left;
    }

    .padd-top {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .splitter {
        width: 100%;
        height: 515px;
        display: flex;
        overflow: auto;
    }

    #listDocuments {
        width: 25%;
        height: 100%;
        min-width: 10px;
    }

    #manageDocuments {
        width: 75%;
        height: 100%;
        min-width: 10px;
        overflow: hidden;
    }

    input[type="file"] {
        height: 40px;
    }

    input[type="file"]::-webkit-file-upload-button {
        height: 40px;
    }

    .DocumentsRoot {
        background-color: black;
        color: white;
        box-shadow: inset 0 0 3px 4px black;
    }

    /* Remove default bullets */
    ul, #myUL {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
        margin: 0;
        padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
        cursor: default;
        width: 200px;
        user-select: element; /* Prevent text selection */
        border-top: none;
        font-weight: bold;
    }

    .displayDocument {
        user-select: none; /* Prevent text selection */
        padding-bottom: 5px;
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        /*content: "\25B6";*/
        font-weight: bold;
        color: black;
        /*display: inline-block;*/
        margin-right: 6px;
    }

    /* Hide the nested list */
    .nested {
        display: none;
        padding-top: 15px;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }

    .caretDown {
        /*display: inline-block;*/
        cursor: pointer;
        width: 200px;
        margin-left: 0px;
        vertical-align: middle;
        border-top: none;
    }

</style>

<script>

    var _documentID = '';
    var _dataWhenLoadDocumentInfo = '';

    $(document).ready(function () {

        $("#fileName").attr("disabled", "disabled");
        
        $("#btnUpload").click(function () {

            if (($("#category").val() == '') && $("#DocumentCategories option:selected").text() == 'Select') {
                alert("Either enter category name OR select existing cateogry.");
                return;
            }

            var files = $("#uploadInputFile").get(0).files;

            if (_documentID <= 0)
            {
                if (files.length <= 0 || files[0].name == '') {
                    alert("Plese choose file to upload.");
                    return;
                }
            }

            // enter document name
            if ($("#Name").val() == '') {
                alert("Plese enter document name.");
                return;
            }

            // Category
            var category = '';
            if ($("#DocumentCategories option:selected").text() != 'Select') {
                category = $("#DocumentCategories option:selected").text();
            }
            else {
                category = $("#category").val();
            }

            var data = new FormData();

            if (files.length > 0) {
                for (var i = 0; i < files.length; ++i) {
                    data.append('Document', files[i]);
                }
            }

            // Document
            data.append("documentID", _documentID);
            data.append("category", category);
            data.append("fileName", $("#fileName").val());
            data.append("name", $("#Name").val());

            ShowLoadingOverlay();
            $.ajax({
                url: "/DocumentsManager/SaveUploadDocument",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    if (response.Success == true) {

                        // refresh documents tree
                        RefreshDocumentsRootTree();

                        HideLoadingOverlay();

                        // refresh input fields.
                        $("#documentID").val('');
                        $("#category").val('');
                        $("#category").removeAttr('disabled');
                        $("#uploadInputFile").val('');
                        $("#fileName").val('');
                        $("#Name").val('');
                        _documentID = 0;
                    }
                    else {
                        HideLoadingOverlay();
                        alert(response.ErrorMessage);
                    }
                },
                error: function (er) {
                    alert(er);
                }
            });
        });

        $("#btnDelete").click(function () {

            if ((_documentID == '') || (_documentID <= 0)) {
                alert('Please select document in left pane to delete');
                return;
            }

            if (_documentID > 0 && confirm("Are you sure to Delete this document?")) {

                ShowLoadingOverlay();

                $.getJSON("/DocumentsManager/DeleteDocument", {
                    documentID: _documentID
                }, function (data) {
                    _documentID = 0;
                    // refresh documents tree
                    RefreshDocumentsRootTree();

                    // refresh input fields.
                    $("#documentID").val('');
                    $("#category").val('');
                    $("#uploadInputFile").val('');
                    $("#fileName").val('');
                    $("#Name").val('');

                    HideLoadingOverlay();
                });
            }
        });

        $("#uploadInputFile").change(function () {
            $("#fileName").val(this.files[0].name);
            $("#Name").val(this.files[0].name.split('.').shift());
        });

        $("#DocumentCategories").change(function () {
            if ($("#DocumentCategories option:selected").text() != 'Select') {
                $("#documentID").val('');
                $("#category").val('');
                $("#category").attr('disabled', 'disabled');
            }
            else {
                $("#category").removeAttr('disabled');
            }
        });

        $("#btnNew").click(function () {
            _documentID = 0;

            $("#documentID").val('');
            $("#category").val('');
            $("#fileName").val('');
            $("#Name").val('');

            $("#btnUpload").text('Upload');
            $("#btnDelete").hide();
        });

        RefreshDocumentsRootTree();
    });

    function RefreshDocumentsRootTree() {

        $("#listDocuments").empty();
        $("#btnDelete").hide();

        $.getJSON("/DocumentsManager/GetAllDocuments", {

        }, function (data) {

            if (data.length <= 0) {
                return;
            }
            else {
                var documentCategories = data[0].DocumentCategories;

                for (i = 0; i < documentCategories.length; i++) {

                    if (documentCategories[i].Text != 'Select') {
                        var documentContainer = "<div id='document-container'>";
                        documentContainer += "<span class='caret'>" + documentCategories[i].Text + "</span>";
                        documentContainer += "<ul class='nested active'>";

                        for (j = 0; j < data.length; j++) {

                            if (documentCategories[i].Text == data[j].Category) {
                                documentContainer += "<li class='displayDocument caretDown' onclick='LoadDocumentInfo(" + data[j].DocumentID + ");'>" + data[j].Name + "</li>";
                            }
                        }
                        documentContainer += "</ul>";
                        documentContainer += "</div>";

                        console.log(documentContainer);

                        $("#listDocuments").append(documentContainer);
                    }
                }

                RefreshDocumentsCategoryDropDown(documentCategories);
            }
        });
    }

    function RefreshDocumentsCategoryDropDown(documentCategories) {

        SetLoadingMessage('DocumentCategories');

        ClearDDL('DocumentCategories');

        var select = $("#DocumentCategories");

        $.each(documentCategories, function (index, itemData) {
            select.append($('<option/>', {
                value: itemData.Text,
                text: itemData.Value
            }));
        });
    }

    function LoadDocumentInfo(id) {

        _documentID = id;
        $("#btnUpload").text('Save');
        _dataWhenLoadDocumentInfo = '';
        $("#btnDelete").show();

        $.getJSON("/DocumentsManager/GetDocumentInfo", {
            documentID: id
        }, function (data) {
            if (data) {
                _dataWhenLoadDocumentInfo = data;
                _documentID = data.DocumentID;
                $("#documentID").val(data.DocumentID);
                $("#category").val(data.Category);
                $("#fileName").val(data.FileName);
                $("#Name").val(data.Name);
            }
        });
    }

    function SetLoadingMessage(dropDownName) {
        var dropDown = $('#' + dropDownName);
        dropDown.empty();
        dropDown.append($('<option/>', {
            value: "0",
            text: "Loading..."
        }));
        dropDown.val(0);
    }

    function ClearDDL(name) {
        var ddl = $('#' + name);
        ddl.empty();
        ddl.val(0);
    }

</script>

<form id="DocumenstManager" name="DocumentsManager">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Documents Upload</h4>
                    <a class="btn btn-default pull-right btn-primary" style="margin-top: -40px; margin-right: 20px;" href="javascript:void(0);" role="button" id="btnNew" name="btnNew">New</a>
                </div>
                <div class="panel-body" style="padding:0px">
                    <div class="container" style="padding-right:0px">
                        <div class="row" style="padding:0px">
                            <div class="col-md-12">
                                <div class="splitter" id="splitterPanel">
                                    <div id="listDocuments">
                                    </div> 
                                    <div id="manageDocuments">
                                        @using (Html.BeginForm("SaveUploadDocument", "DocumentsManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="panel panel-default" id="documentCategory" style="margin-left:5px;margin-top:5px">
                                                <div class="panel-body">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-6 stackem">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">New Category: </span>
                                                                    <input type="text" class="form-control" placeholder="New Category" aria-describedby="category" id="category" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 stackem">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Select Category: </span>
                                                                    @Html.DropDownListFor(model => model.Category, (SelectList)Model.DocumentCategories, new { @id = "DocumentCategories", @class = "form-control ng-pristine ng-untouched ng-valid ng-empty" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default" id="uploadDocument" style="margin-left:5px;margin-top:5px">
                                                    <div class="panel-body">
                                                        <input type="hidden" id="documentID" name="documentID" />
                                                        @if (ProEstimator.Business.Logic.Admin.SalesRepPermissionManager.HasPermission(ViewBag.SessionSalesRepID, "DocumentsUpload"))
                                                        {
                                                            <div class="row">
                                                                <div class="col-lg-6 stackem">
                                                                    <div class="input-group">
                                                                        <input type="file" id="uploadInputFile" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="row">
                                                            <div class="col-lg-6 stackem">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">File Name: </span>
                                                                    <input type="text" class="form-control" placeholder="File Name" aria-describedby="fileName" id="fileName" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 stackem">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Document Name: </span>
                                                                    <input type="text" class="form-control" placeholder="Document Name" aria-describedby="Name" id="Name" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="panel-footer">

                                                    <div class="col-lg-6 pull-left">
                                                        <a class="btn btn-default btn-primary" href="javascript:void(0);" role="button" id="btnUpload" name="btnUpload">Upload</a></div>
                                                   
                                                    <div class="col-lg-6 pull-left">
                                                        <a class="btn btn-default pull-right btn-primary" href="javascript:void(0);" role="button" id="btnDelete" name="btnDelete" style="margin-left:2px">Delete</a>
                                                    </div>
                                                    
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</form>

