USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Admin].[SaveUserFeedBackBug]
	@UserFeedbackID INT,
	@ActionNote NVARCHAR(MAX)
AS
BEGIN
	UPDATE [dbo].[UserFeedback]
	SET	[ActionNote] = @ActionNote
	WHERE ID = @UserFeedbackID
END
GO
