USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Alberto Heredia>
-- Create date: <Sept 15, 2012>
-- Description:	<retrieves all sales for all reps for period of time>
-- =============================================
CREATE PROCEDURE [Admin].[getSalesBoardAll]
	-- Add the parameters for the stored procedure here
	 @date datetime = null
AS
BEGIN

DECLARE @minId INT;
    SELECT @minId = max(id) from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.logins
	 
	SET NOCOUNT ON;
	if @date is null
	begin
	 select @date = GETDATE()
	end
select (FirstName + ' ' + LastName) as Name
		,sb.salesBoardID
		,sb.loginID
		,sb.numberSold
		,sb.dateSold
		,sb.frame
		,sb.ems
		,l.CompanyName
from salesboard as sb
		inner join SalesRep as s
			on sb.salesRepID = s.SalesRepID
		inner join Logins as l
			on l.id = sb.loginID 
where MONTH(datesold) = MONTH(@date)
	and YEAR(datesold) = YEAR(@date)
	AND sb.loginID > @minId
	order by Name
END


GO
