USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
--	Author:			T. Gibson
--	Create date:	7/10/2017
--	Description:	Insert new user
-- 
--	PersonInformation_Functions
--		Set ContactsId as Logins.ContactsID for LoginsID
--		If ContactsId IS NULL OR If there is no record for login the contact table
--			Create a record in the contact table
--			Return the Contact table's unique key
--			Update the login table, setting the contactsID as the previous key for the login in question
	
--	Function UpdatePersonInfo
--		Update password information
--		Update Login table with various functions
--		Set first, middle, last, title, email address in contactItems table
--		Set Phone type and phone data in contactItems table
-- =============================================
CREATE PROCEDURE [Admin].[InsertUser]
	@LoginName VarChar(25) = NULL,
	@LoginOrg VarChar(50) = NULL,
	@PasswordExpired Bit = NULL,
	@ExpireDate DateTime = NULL,
	@AccountDisabled Bit = NULL,
	@DoubtfulAccount Bit = NULL,
	@StaffAccount Bit = Null,
	@Appraiser Bit = Null,
	@Password VarChar(255) = NULL,
	@Phone1 VarChar(20) = NULL,
	@SalesRepID int = NULL,
	@ResellerID int = NULL,
	@DemoUser Bit = NULL,
	@TechSuppPass varchar(50) = null,
	@LoginsID Int = NULL OUTPUT,
	@OrgID Int = NULL OUTPUT,
	@PhoneNumberType1 VarChar(20) = NULL,
	@Phone2 VarChar(20) = NULL,
	@PhoneNumberType2 VarChar(20) = NULL,
	@FaxNumber VarChar(20) = NULL,
	@EmailAddress VarChar(100) = NULL,
	@JobTitle VarChar(100) = NULL,
	@First VarChar(50) = NULL,
	@Last VarChar(50) = NULL,
	@Middle VarChar(50) = NULL,
	@EncPassword VarChar(255) = NULL,
	@BadPassword Bit = 0 OUTPUT,
	@QuickReports Bit = 0,
	@EstInfoOwnPage Bit = NULL,
	@LargeFonts Bit = 0,
	@StartPage TinyInt = 1,
	@UseTabsOnContactInfo Bit = NULL,
	@SameWindowAfterLogin Bit = NULL,
	@AddPaintExtrasDefault varchar(2) = '',
	@GraphicSize TinyInt = 2 OUTPUT,
	@TimeZone varchar(50) = Null,
	@PDF_Image_Size TinyInt = 0,
	@CompanyOrigin TinyInt = NULL,
	@NoOfLogins SmallInt = 0
AS

DECLARE @ContactsID Int, @OrgInfoContactsID int

-- Reset ExpireDate value.  This now controlled by the Contract table.
--SELECT @ExpireDate = Coalesce(ExpirationDate, LoginExpireDate, @ExpireDate) FROM dbo.fnGetContract(@LoginsID, 0, 1)


INSERT INTO [dbo].[tbl_ContactPerson]
			   ([AdmininfoID]
			   ,[FirstName]
			   ,[MiddleName]
			   ,[LastName]
			   ,[Email]
			   ,[Phone2]
			   ,[Phone1]
			   ,[FaxNumber]
			   ,[BusinessName]
			   ,[Notes]
			   ,[Title]
			   ,[SaveCustomer]
			   ,[Extension1]
			   ,[Extension2]
			   ,[ContactTypeID]
			   ,[ContactSubTypeID]
			   ,[DateAdded])
		 VALUES
			   (NULL
			   ,@First
			   ,@Middle
			   ,@Last
			   ,@EmailAddress
			   ,@Phone2
			   ,@Phone1
			   ,@FaxNumber
			   ,NULL --BUSINESS NAME IS STORED IN THE ORGANIZATIONINFO TABLE
			   ,NULL
			   ,@JobTitle
			   ,NULL
			   ,NULL
			   ,NULL
			   ,1
			   ,22 --CONTACT SUB TYPE SHOULD BE PASSED IN BUT IN PREVIOUS STORED PROC IS ALWAYS SET TO 22
			   ,GETDATE())

SELECT @ContactsID = @@IDENTITY

BEGIN
if not exists (	SELECT id
				FROM Logins with(nolock)
				WHERE LoginName = @LoginName AND
					Organization = @LoginOrg)
		BEGIN
			INSERT INTO Logins (OrganizationID, LoginName, Organization, [password], encPassword, PasswordExpired, Disabled, DoubtfulAccount, StaffAccount, [ExpireDate], UseTabsOnContactInfo, EstInfoOwnPage, DemoUser, QuickReports, SalesRepID,TechSupportPassword, ResellerId, CompanyOrigin, NoOfLogins)
				VALUES (@OrgID, @LoginName, @LoginOrg, @password, @encPassword, @PasswordExpired, @AccountDisabled, isNull(@DoubtfulAccount, 0), @StaffAccount,@ExpireDate, 1, 0, ISNULL(@DemoUser,0), 1, isNull(@SalesRepID, 1),@TechSuppPass, @ResellerID, @CompanyOrigin, @NoOfLogins)
			SELECT @LoginsID = @@IDENTITY
			SELECT '' 'Error',@LoginsID 'LoginsID'
			
			-- Now create the users default rate profile
			EXECUTE CustomerProfileFunctions @Function = 'CreateDefault', @LoginsID = @LoginsID

			--DECLARE @myContractId INT = NULL, @myDate DATETIME = GETDATE();
			
			---- Create trial subscription contract
			--EXECUTE InsertContract
			--	@LoginID = @LoginsID,
			--	@ContractPriceLevelID = 43  -- Two Week Trial Subscription
				
			--SET @myContractId = (SELECT TOP 1 ContractId FROM ContractLogins WHERE LoginID = @LoginsID)
			
			---- Create PDR Trial
			--EXECUTE Admin.InsertContract
			--	@LoginID = @LoginsID,
			--	@ParentContractID = @myContractId,
			--	@ContractPriceLevelID = 482,
			--	@EffectiveDate = @myDate

		END
		ELSE
			SELECT 'A user already exists with that information.  Click the Search button to find the user.' 'Error',-1 'LoginsID'
END

IF @LoginsID >-1
	BEGIN
		IF @EncPassword IS NOT NULL AND @EncPassword <> ''
		BEGIN
			EXECUTE VerifyPassword @Password, @LoginsID, @BadPassword OUTPUT

			IF @BadPassword = 0
				UPDATE Logins 
				SET EncPassword = @EncPassword,
					PasswordExpired = 0
				WHERE ID = @LoginsID
		END

		UPDATE Logins WITH (ROWLOCK)
		SET 	QuickReports = ISNULL(ISNULL(@QuickReports,QuickReports),1),
			EstInfoOwnPage = ISNULL(ISNULL(@EstInfoOwnPage,EstInfoOwnPage),0),
			LargeFonts = ISNULL(ISNULL(@LargeFonts,LargeFonts),0),
			StartPage = ISNULL(ISNULL(@StartPage,StartPage),1),
			UseTabsOnContactInfo = ISNULL(ISNULL(@UseTabsOnContactInfo, UseTabsOnContactInfo),1),
			SameWindowAfterLogin = ISNULL(ISNULL(@SameWindowAfterLogin, SameWindowAfterLogin),0),
			AddPaintExtrasDefault = ISNULL(ISNULL(@AddPaintExtrasDefault,AddPaintExtrasDefault),''),
			GraphicSize = @GraphicSize,
			PDF_Image_Size = @PDF_Image_Size,
			ContactsID = @ContactsID
		WHERE id = @LoginsID
			
		
		-- If this is the only login for the organization, perform additional actions
		IF ( SELECT Count(*) FROM Logins WHERE OrganizationID = @OrgID ) = 1
		BEGIN
			
			DECLARE @OrgDateCreated datetime

			-- Set ContactsID of organization
			SELECT		@OrgInfoContactsID = o.OrgInfoContactsID,
						@OrgDateCreated = o.DateCreated
			FROM		OrganizationInfo o with(nolock)
			INNER JOIN	Logins l with(nolock)
							ON o.ID = l.OrganizationID
			WHERE		l.ID = @LoginsID
			
		END
		
	END

GO
