USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Admin].[Insert_SmsHistory]
	@Message nvarchar(max),
	@SalesRepId int,
	@PhoneNumber nvarchar(10)
AS 

	INSERT INTO	SmsHistory(
		[Message],
		SalesRepId,
		PhoneNumber,
		CreateDate
	)
	VALUES (
		@Message,
		@SalesRepId,
		@PhoneNumber,
		GETDATE()
	)
GO
