USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 6/3/2019 
-- Description:  Update Renewal Goal 
-- ============================================= 
CREATE PROCEDURE [Admin].[Updaterenewalgoal] @SalesRepId         INT = NULL, 
                                             @BonusMonth         INT = NULL, 
                                             @BonusYear          INT = NULL, 
                                             @RenewalGoal1Yr     INT = NULL, 
                                             @RenewalGoal2Yr     INT = NULL, 
                                             @SalesGoal          INT = NULL, 
                                             @SalesBonus100      INT = NULL, 
                                             @SalesBonus110      INT = NULL, 
                                             @SalesBonus120      INT = NULL, 
                                             @SalesBonus130      INT = NULL, 
                                             @RenewalBonus1Yr100 INT = NULL, 
                                             @RenewalBonus1Yr110 INT = NULL, 
                                             @RenewalBonus120    INT = NULL, 
                                             @RenewalBonus130    INT = NULL,
											 @Forecast			 INT = NULL
AS 
  BEGIN 
      UPDATE [dbo].[renewalgoal] 
      SET    [renewalgoal1yr] = @RenewalGoal1Yr, 
             [renewalgoal2yr] = @RenewalGoal2Yr, 
             [salesgoal] = @SalesGoal, 
             [salesbonus100] = @SalesBonus100, 
             [salesbonus110] = @SalesBonus110, 
             [salesbonus120] = @SalesBonus120, 
             [salesbonus130] = @SalesBonus130, 
             [renewalbonus1yr100] = @RenewalBonus1Yr100, 
             [renewalbonus1yr110] = @RenewalBonus1Yr110, 
             [renewalbonus120] = @RenewalBonus120, 
             [renewalbonus130] = @RenewalBonus130, 
			 [salesForcast] = @Forecast,
             [modifieddate] = Getdate() 
      WHERE  [salesrepid] = @SalesRepId 
             AND [bonusmonth] = @BonusMonth 
             AND [bonusyear] = @BonusYear 
  END 
GO
