USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:    T. Gibson
-- Create date: 7/17/2017
-- Description:  Get organization information
-- =============================================
CREATE PROCEDURE [Admin].[Getorganizationinfo] @OrgID INT = NULL output
AS
    SELECT 
	   org.[id]
      ,[OrgInfoContactsID]
      ,[FederalTaxID]
      ,[RegistrationNumber]
      ,[CompanyType]
      ,[PaidContract]
      ,Contracts.expirationDate as 'expireDate'
	  ,Contracts.contractid
      ,[GraphicsExpireDate]
      ,[ManualExpireDate]
      ,org.[CustomerNumber]
      ,org.[Disabled]
      ,[ShowRepairShopProfiles]
      ,[AllowAlternateIdentities]
      ,[AllowRWofInspAssignDates]
      ,[Appraiser]
      ,[LastEstimateNumber]
      ,[LastReportNumber]
      ,[LastWorkOrderNumber]
      ,org.[DateCreated]
      ,[DelPWRequired]
      ,[DelPW]
      ,[ShowLaborTimeWO]
      ,org.[Language_ID]
      ,[CompanyName]
      ,[LicenseNumber]
      ,[PrintLicenseNumber]
      ,[BarNumber]
      ,[PrintBarNumber]
      ,[PrintFederalTaxID]
      ,[CompanyID]
      ,[PrintRegistrationNumber]
      ,[UseTaxID]
      ,[UseDefaultRateProfile]
	  ,[ProfileLocked]
      ,[LogoImageType],
           [address].address1 'AddressLine1',
           [address].address2 'AddressLine2',
           [address].city 'City',
           [address].state 'State',
           [address].zip 'Zip',
           person.phone1 'Phone1',
           person.phonenumbertype1 'PhoneCode1',
           person.phone2 'Phone2',
           person.phonenumbertype2 'PhoneCode2',
           person.phone3 'Phone3',
		   person.faxNumber,
           person.phonenumbertype3 'PhoneCode3',
           person.firstname 'EstimatorFirstName',
           person.middlename 'EstimatorMiddleName',
           person.lastname 'EstimatorLastName',
           person.email 'EmailAddress',
		   logins.id AS LoginID
    FROM   organizationinfo org WITH (nolock)
           LEFT JOIN tbl_address [Address] WITH (nolock) ON [Address].contactsid = org.orginfocontactsid
           LEFT JOIN tbl_contactperson person WITH (nolock) ON person.contactid = org.orginfocontactsid
		   LEFT JOIN Logins WITH (nolock) ON logins.OrganizationID = org.id
		   LEFT JOIN Contracts ON Contracts.ContractID = (SELECT MAX(ContractID) FROM Contracts WHERE LoginID = org.CustomerNumber AND Active = 1 AND IsDeleted = 0 AND GETDATE() BETWEEN Contracts.EffectiveDate AND Contracts.ExpirationDate)
    WHERE  org.id = @OrgID
GO
