USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. GIBSON
-- Create date: 6/2/2019
-- Description:	UPDATE DISPLAY SETTINGS
-- =============================================
CREATE PROCEDURE [Admin].[UpdateRenewalReportSettings]
	@SalesRepId INT = NULL
    ,@SettingsKey NVARCHAR(1000) = NULL
AS
BEGIN
UPDATE [dbo].[RenewalReportSettings]
   SET [SettingsKey] = @SettingsKey
      ,[ModifiedDate] = GETDATE()
 WHERE [SalesRepId] = @SalesRepId
END
GO
