USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 12/1/2018
-- Description:	Estimate Migration - LOG_EXCEPTION
-- =============================================
CREATE PROCEDURE [Admin].[DataMigration_EstimatesForLogin]
	@loginId int = null
AS
BEGIN
	SET nocount ON; 

DECLARE @message VARCHAR(80), @login INT, @status INT; 
SET @login = @loginId;

SELECT @status = [Status] 
FROM ImportQueueLog 
WHERE LoginId = @login
        
          Declare @tablevar table(col1 INT)
insert into @tablevar(col1) EXEC [dbo].[DataMigration_GetUnimportedEstimates]
  @LoginID = @loginId

--PRINT '-------- Logins --------'; 

DECLARE login_cursor CURSOR FOR 

SELECT col1 FROM @tablevar

OPEN login_cursor 

FETCH next FROM login_cursor INTO @loginId 

WHILE (@@FETCH_STATUS = 0 AND @status = 2)
  BEGIN 
	BEGIN TRY
	
		EXEC  DataMigration_Estimate @AdminInfoID = @loginId
		
		SELECT @status = [Status] 
		FROM ImportQueueLog 
		WHERE LoginId = @login
		
		FETCH next FROM login_cursor INTO @loginId 
    
    END TRY
    
    BEGIN CATCH
    
		INSERT INTO [focuswrite].[dbo].[ImportQueueException]
           ([LoginId]
           ,[Message]
           ,[CreateDate])
		SELECT
			@login,
			CONCAT('Estimate', ' ', @loginId, ';'
			,'ErrorNumber', ' ', ERROR_NUMBER(), ';'
			,'ErrorSeverity', ' ', ERROR_SEVERITY(), ';'
			,'ErrorState', ' ', ERROR_STATE(), ';'
			,'ErrorProcedure', ' ', ERROR_PROCEDURE(), ';'
			,'ErrorLine', ' ', ERROR_LINE(), ';'
			,'ErrorMessage', ' ', ERROR_MESSAGE()),
			GETDATE()
			
		FETCH next FROM login_cursor INTO @loginId
		
    END CATCH
    
  END 

CLOSE login_cursor; 

DEALLOCATE login_cursor; 

EXEC ReconcileImportedAccount
    @loginId = @login

END

SET ANSI_NULLS ON
GO
