USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Admin].[UpdateUser]
	@LoginsID Int = NULL,
	@EncPassword VarChar(255) = NULL,	
	@Password VarChar(255) = NULL,	
	@PhoneNumberType1 VarChar(20) = NULL,
	@Phone1 VarChar(25) = NULL,
	@PhoneNumberType2 VarChar(20) = NULL,
	@Phone2 VarChar(25) = NULL,
	@FaxNumber VarChar(25) = NULL,
	@EmailAddress VarChar(60) = NULL,
	@JobTitle varchar(100) = NULL,
	@First VarChar(50) = NULL,
	@Last VarChar(50) = NULL,
	@Middle VarChar(50) = NULL,
	@QuickReports Bit = 0,
	@EstInfoOwnPage Bit = NULL,
	@DefaultSectionOrder VarChar(20) = NULL,
	@LargeFonts Bit = 0,
	@StartPage TinyInt = 1,
	@UseTabsOnContactInfo Bit = NULL,
	@SameWindowAfterLogin Bit = NULL,
	@AddPaintExtrasDefault varchar(2) = '',
	@GraphicSize TinyInt = 2 OUTPUT,
	@BadPassword Bit = 0 OUTPUT,
	@TimeZone varchar(50) = Null,
	@PDF_Image_Size TinyInt = 0,
	@OrgID Int = NULL OUTPUT,
	@LoginOrg VarChar(50) = NULL,
	@PasswordExpired Bit = NULL,
	@AccountDisabled Bit = NULL,
	@DoubtfulAccount Bit = NULL,
	@StaffAccount Bit = Null,
	@Appraiser Bit = Null,
	@LoginName VarChar(25) = NULL,
	@ExpireDate DateTime = NULL,
	@DemoUser Bit = NULL,
	@SalesRepID int = NULL,
	@ResellerID int = NULL,
	@TechSuppPass varchar(50) = null,
	@CompanyOrigin TinyInt = NULL,
	@NoOfLogins SmallInt = 0
AS

	IF @LoginsID >-1
	BEGIN
		UPDATE Logins
		SET	OrganizationID = @OrgID,
			Organization = @LoginOrg,
			password = @password,
			encPassword = ISNULL(@Password, encPassword),
			PasswordExpired = @PasswordExpired,
			Disabled = @AccountDisabled,
			DoubtfulAccount = isNull(@DoubtfulAccount, DoubtfulAccount),
			StaffAccount = @StaffAccount,
			LoginName = @LoginName,
			DemoUser = ISNULL(ISNULL(@DemoUser,DemoUser),0),
			SalesRepID = isNull(@SalesRepID, SalesRepID),
			TechSupportPassword = @TechSuppPass, 
			ResellerId = @ResellerId, 
			CompanyOrigin = @CompanyOrigin,
			NoOfLogins = @NoOfLogins
		WHERE Logins.ID = @LoginsID
		SELECT '' 'Error',@LoginsID 'LoginsID'

		DECLARE @ContactsID Int, @OrgInfoContactsID int

		SELECT @ContactsID = Logins.ContactsID
		FROM Logins WITH (NOLOCK)
		WHERE Logins.ID = @LoginsID

		UPDATE [dbo].[tbl_ContactPerson]
		   SET [AdmininfoID] = NULL
			  ,[FirstName] = @First
			  ,[MiddleName] = @Middle
			  ,[LastName] = @Last
			  ,[Email] = @EmailAddress
			  ,[Phone2] = @Phone2
			  ,[PhoneNumberType1] = @PhoneNumberType1
			  ,[PhoneNumberType2] = @PhoneNumberType2
			  ,[Phone1] = @Phone1
			  ,[FaxNumber] = @FaxNumber
			  ,[Title] = @JobTitle
			  ,[ContactTypeID] = 1
			  ,[ContactSubTypeID] = 22
		 WHERE ContactID = @ContactsID

		IF @EncPassword IS NOT NULL AND @EncPassword <> ''
		BEGIN
			EXECUTE VerifyPassword @Password, @LoginsID, @BadPassword OUTPUT

			IF @BadPassword = 0
				UPDATE Logins 
				SET EncPassword = @EncPassword,
					PasswordExpired = 0
				WHERE ID = @LoginsID
		END

		UPDATE Logins WITH (ROWLOCK)
		SET 	QuickReports = ISNULL(ISNULL(@QuickReports,QuickReports),1),
			EstInfoOwnPage = ISNULL(ISNULL(@EstInfoOwnPage,EstInfoOwnPage),0),
			LargeFonts = ISNULL(ISNULL(@LargeFonts,LargeFonts),0),
			StartPage = ISNULL(ISNULL(@StartPage,StartPage),1),
			UseTabsOnContactInfo = ISNULL(ISNULL(@UseTabsOnContactInfo, UseTabsOnContactInfo),1),
			SameWindowAfterLogin = ISNULL(ISNULL(@SameWindowAfterLogin, SameWindowAfterLogin),0),
			AddPaintExtrasDefault = ISNULL(ISNULL(@AddPaintExtrasDefault,AddPaintExtrasDefault),''),
			GraphicSize = @GraphicSize,
			PDF_Image_Size = @PDF_Image_Size
		WHERE id = @LoginsID
		
		-- If this is the only login for the organization, perform additional actions
		IF ( SELECT Count(*) FROM Logins WHERE OrganizationID = @OrgID ) = 1
		BEGIN
			
			DECLARE @OrgDateCreated datetime

			-- Set ContactsID of organization
			SELECT		@OrgInfoContactsID = o.OrgInfoContactsID,
						@OrgDateCreated = o.DateCreated
			FROM		OrganizationInfo o with(nolock)
			INNER JOIN	Logins l with(nolock)
							ON o.ID = l.OrganizationID
			WHERE		l.ID = @LoginsID
			
		END
		
	END
GO
