USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		T. Gibson
-- Create date: 6/23/2017
-- Description:	Create Organization
-- =============================================
CREATE PROCEDURE [Admin].[GetReseller]
	@SalesRepID int = NULL
AS

IF @SalesRepID = 0
	SET @SalesRepID = NULL
	
	
-- Open encryption key		
OPEN SYMMETRIC KEY WebEstEncryptionKey
   DECRYPTION BY CERTIFICATE WebEstEncryptionCertificate

select 0 as SalesRepID,0 as  SalesNumber,'None' as FirstName,'' as LastName,'None' as  FullName, '0 None' as FullDescription ,'' as Email,'' as UserName,'' as Password
union all

SELECT		SalesRepID,
			SalesNumber,
			FirstName,
			LastName,
			( FirstName + ' ' + LastName ) AS FullName,
			( SalesNumber + ' - ' + FirstName + ' ' + LastName ) AS FullDescription,
			Email,
			UserName,
			Convert(varchar, DecryptByKey(Password)) AS Password
FROM		SalesRep with(nolock)
WHERE		SalesRepID = isNull(@SalesRepID, SalesRepID)
 AND			SalesRepID > 0	-- Omit Admin

GO
