USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. GIBSON
-- Create date: 6/2/2019
-- Description:	SELECT DISPLAY SETTINGS
-- =============================================
CREATE PROCEDURE [Admin].[SelectRenewalReportSettings]
	@SalesRepId INT = NULL
    ,@SettingsKey NVARCHAR(1000) = NULL
AS
BEGIN
SELECT [Id]
      ,[SalesRepId]
      ,[SettingsKey]
      ,[CreateDate]
      ,[ModifiedDate]
  FROM [dbo].[RenewalReportSettings]
  WHERE SalesRepId = @SalesRepId
END
GO
