USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Admin].[GetAllSalesReps]
	@SalesRepID int = NULL
AS
	
-- Open encryption key		
--OPEN SYMMETRIC KEY WebEstEncryptionKey
--   DECRYPTION BY CERTIFICATE WebEstEncryptionCertificate

SELECT		SalesRepID,
			SalesNumber,
			FirstName,
			LastName,
			( FirstName + ' ' + LastName ) AS FullName,
			( SalesNumber + ' - ' + FirstName + ' ' + LastName ) AS FullDescription,
			Email,
			UserName,
			Convert(varchar, DecryptByKey(Password)) AS Password,
			deleted,
			[pInvoiceTab]
      ,[pOrgMaintTab]
      ,[pSalesRepMaint]
      ,[pServerLogsTab]
      ,[pLoginFailureTab]
      ,[pErrorsTab]
      ,[pCurrentSessionsTab]
      ,[pLinkingTab]
      ,[pPaymentReport]
      ,[pForcastedRevReport]
      ,[pRenewalReport]
      ,[pRoyaltyReport]
      ,[pExpectedRenReport]
      ,[pShopActivityReport]
      ,[pWebsiteAccessReport]
      ,[pUnusedContracts]
      ,[pEstimatesByShop]
      ,[pUserMaintLoginInfo]
      ,[pUserMaintOrgInfo]
      ,[pUserMaintContactInfo]
      ,[pUserMaintSalesRep]
      ,[pEditPermissions]
      ,[pEditBonusGoals]
      ,[pPromoMaintenance]
      ,[pExtensionReport]
      ,[pUserMaintImpersonate]
      ,[pLoginAttempts]
      ,[pUserMaintCreate]
	  ,[pImport]
      ,[pImportEst]
	  ,[isSalesRep]
	  ,[pDeleteRenewal]
      ,[Active]
	  ,[pCarFax]
	  ,[pSuccessBox]
	  ,[pPartsNowManager]
	  ,[pDocumentsManagerUpload]
	  ,[pDocumentsManagerDownload]
	  ,[pTrialSetup]
FROM		SalesRep
WHERE		SalesRepID = @SalesRepID
GO
