USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 5/17/2019 
-- Description:  Update renewal status 
-- ============================================= 
CREATE PROCEDURE [Admin].[UpdateSelectRenewal] @id      INT = NULL, 
                                              @willRenew    BIT = NULL, 
                                              @willNotRenew BIT = NULL, 
                                              @notes        NVARCHAR(2000) = NULL 
AS 
  BEGIN 
      UPDATE [dbo].[renewalreport] 
      SET    [willrenew] = @willRenew, 
             [willnotrenew] = @willNotRenew, 
             [notes] = @notes 
      WHERE  Id = @id

	  -- 3/6/2020 - Getting "Transaction (Process ID 67) was deadlocked on lock resources with another process and has been chosen as the deadlock victim. " errors
	  -- sometimes on this query that I can't figure out.  TOP 1 is not needed as ID is unique.  Seeing if this fixes it.
      SELECT * --TOP 1 * 
      FROM   [dbo].[renewalreport] 
      WHERE  Id = @id
  END 

GO
