USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Admin].[Get_RenewalBoardByMonth]
	  @Year int 
	 ,@Month  int = 0
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   
 create Table  #Temp (SalesRep varchar(20),SalesRepID Int,LoginID int, YearsWE int,HasRenewed int)

 Insert into #Temp
 select SalesRep,SalesRepID,LoginID,YearsWE,HasRenewed 
 from RenewalReport
 where Year(RenewalDate) = @Year 
 and Month(renewalDate) = case when @Month > 0 then @Month else Month(renewalDate) end
 

 create Table #Temp2 (SalesRep varchar(20),SalesRepID int,Renewals real,Renewed real,Year1Renewals real,Year1Renewed real,Year2Renewals real,Year2Renewed Real)

 insert into #Temp2
 select SalesRep
		,SalesRepID
		,count(loginID) as Renewals
		,sum(case when HasRenewed = 1 then 1 else 0 end) as Renewed
	,sum(case when YearsWE = 1 then 1 else 0 end) as 'Year1Renewals'
	,sum(case when YearsWE = 1 and HasRenewed = 1 then 1 else 0 end) as 'Year1Renewed'
	,sum(case when YearsWE > 1 then 1 else 0 end) as 'Year2Renewals'	
	,sum(case when YearsWE > 1 and HasRenewed = 1 then 1 else 0 end) as 'Year2Renewed'
 from #Temp
Group by SalesRep,SalesRepID
 

select SalesRep
	   ,SalesRepID
	   ,Renewals
	   ,Renewed
	   ,round((case when renewals > 0 then renewed /renewals else 0 end)*100,2) as RenewalPerc
	   ,Year1Renewals
	   ,Year1Renewed
	   ,round((case when Year1Renewals > 0 then Year1Renewed /Year1Renewals else 0 end)*100,2) as Year1RenewalPerc
	   ,Year2Renewals
	   ,Year2Renewed
	   ,round((case when Year2Renewals > 0 then Year2Renewed /Year2Renewals else 0 end)*100,2) as Year2RenewalPer
from #Temp2
order by SalesRep

END
GO
