USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 9/11/2018
-- Description:	Set default rate profile for 
-- new users
-- =============================================
CREATE PROCEDURE [Admin].[SET_DEFAULT_RATE_PROFILE]
	@ID INT
AS
BEGIN

	-- Ezra 9/11/2019 - changed to only set the flag if the customer has just 1 profile.

	DECLARE @profileCount INT = (SELECT COUNT(*) FROM CustomerProfiles WHERE OwnerID = @ID)

	if @profileCount = 1 
		BEGIN
			UPDATE [dbo].[CustomerProfiles]
			SET DefaultFlag = 1
			WHERE OwnerID = @ID
		END
END
GO
