USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Admin].[getSalesBoardDetail]
	 @date datetime = null
AS
BEGIN
	 
	SET NOCOUNT ON;
	if @date is null
	begin
	 select @date = GETDATE()
	end
    
     SELECT 
		  SalesRep.SalesRepID
		, (SalesRep.FirstName + ' ' + SalesRep.LastName) as Name  
		, SUM(ISNULL(SalesBoard.numberSold, 0)) AS [Count]  
		, SUM(ISNULL(SalesBoard.frame, 0)) as Frame  
		, SUM(ISNULL(SalesBoard.ems, 0)) as EMS  
		, SUM(ISNULL(SalesBoard.addUser, 0)) AS MultiUser
		, SUM(ISNULL(SalesBoard.bundle, 0)) AS Bundle
		, SUM(ISNULL(SalesBoard.HasQBExporter, 0)) AS QBExporter
		, SUM(ISNULL(SalesBoard.proAdvisor, 0)) AS ProAdvisor
		, SUM(ISNULL(SalesBoard.imageEditor, 0)) AS ImageEditor
		, SUM(ISNULL(SalesBoard.enterpriseReporting, 0)) AS EnterpriseReporting
	FROM SalesBoard 
	INNER JOIN SalesRep ON SalesBoard.salesRepID = SalesRep.SalesRepID  
	WHERE 
		MONTH(datesold) = MONTH(@date)  
		AND YEAR(datesold) = YEAR(@date)  
	GROUP BY 
		  SalesRep.SalesRepID
		, SalesRep.FirstName + ' ' + SalesRep.LastName  
END



GO
