USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 6/29/2017 
-- Description:  Admin app get user info 
-- ============================================= 
CREATE PROCEDURE [Admin].[Getuserinfo] @LoginsID INT = NULL output 
AS 
    SELECT top 1 logins.*, 
       person.firstname, 
       person.middlename, 
       person.lastname, 
       person.title             'JobTitle', 
       person.email             'EmailAddress', 
       person.phone1, 
       person.phonenumbertype1                     AS 'PhoneNumberType1', 
       person.phone2, 
       person.phonenumbertype2                      AS 'PhoneNumberType2', 
	   person.faxNumber								AS 'FaxNumber', 
       Logins.companyname 'CompanyName', 
       1                        AS 'RealLastActivity' 
	FROM Logins  
	LEFT JOIN tbl_contactperson person ON person.contactid = logins.ContactID 
	WHERE logins.id = @LoginsID 
 
GO
