USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		T. Gibson
-- Create date: 6/23/2017
-- Description:	Create Organization
-- =============================================
CREATE PROCEDURE [Admin].[CreateOrg]
	@LoginsID INT = NULL,
	@Organization VARCHAR(50) = NULL,
	@OrgID INT = NULL
AS
BEGIN
	DECLARE @ContactsID INT

	INSERT INTO tbl_contactPerson (FirstName) VALUES ('')
	SELECT @ContactsID = @@IDENTITY

	EXECUTE [dbo].[AddNewEstimator] 
	   @LoginID = @LoginsID
	  ,@EstimatorFirstName = ''
	  ,@EstimatorLastName = ''

	INSERT INTO OrganizationInfo (OrgInfoContactsID, CompanyName, AllowRWofInspAssignDates, CustomerNumber, UseDefaultRateProfile) VALUES (@ContactsID, @Organization, 1, @LoginsID, 1)
	SELECT @@IDENTITY AS OrgId, @Organization AS CompanyName
END

GO
