USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Admin].[TrackInvoice_Paid]  
@InvoiceID int,  
@Paid varchar(50),
@LoginID int  
 
as  
begin  
 

 insert into InvoicePaidTracking values(  
@InvoiceID ,  
@Paid ,  
@LoginID ,
GETDATE()
)  



end  



GO
