USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 6/6/2019
-- Description:	Save Forecast for rep, month, year combo
-- =============================================
CREATE PROCEDURE [Admin].[SaveForecast]
	@SalesRepId INT = NULL,
	@month INT = NULL,
	@year INT = NULL,
	@forecast INT = NULL
AS
BEGIN
	UPDATE [dbo].[RenewalGoal]
	   SET	[SalesForcast] = @forecast
	 WHERE	[SalesRepId] = @SalesRepId
	 AND	[BonusMonth] = @month
	 AND	[BonusYear] = @year
END
GO
