USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        T. Gibson
-- Create date: 8/7/2017
-- Description:   Create and update of organization information
-- =============================================
CREATE PROCEDURE [Admin].[UpdateOrgInfo]
      @OrganizationID Int = NULL,
      @Organization VarChar(50) = NULL,
      @Address1 VarChar(80) = NULL,
      @Address2 VarChar(80) = NULL,
      @City VarChar(50) = NULL,
      @State VarChar(20) = NULL,
      @ZipCode VarChar(25) = NULL,
      @PhoneNumberType1 VarChar(20) = NULL,
      @Phone1 VarChar(20) = NULL,
      @PhoneNumberType2 VarChar(20) = NULL,
      @Phone2 VarChar(20) = NULL,
      @PhoneNumberType3 VarChar(20) = NULL,
      @Phone3 VarChar(20) = NULL,
      @FaxNumber VarChar(20) = NULL,
      @EmailAddress VarChar(100) = NULL,
      @CompanyType VarChar(20) = NULL,
      @FederalTaxID VarChar(20) = NULL,
      @LicenseNumber varchar(20) = NULL,
      @BarNumber varchar (255) = NULL,
      @First VarChar(50) = NULL,
      @Middle VarChar(50) = NULL,
      @Last VarChar(50) = NULL,
      @PaidContract Bit = NULL,
      @AccountDisabled Bit = NULL,
      @ExpireDate DateTime = NULL,
      @GraphicsExpireDate DateTime = NULL,
      @ManualExpireDate DateTime = NULL,
      @CustomerNumber VarChar(20) = NULL,
      @RegistrationNumber VarChar(25) = NULL,
      @ShowRepairShopProfiles Bit = 0,
      @AllowAlternateIdentities Bit = 0,
      @AllowRWofInspAssignDates Bit = 0,
      @ProfileLocked Bit = 0,
      @Appraiser Bit = 0,
      @lastestimatenumber int = NULL,
      @DelPWRequired bit = null,
      @DelPW varchar(30) = null,
      @LoginsID Int = NULL OUTPUT,
      @LoginID Int = NULL,
      @ContractID int = null
AS
 
DECLARE @ContactsID INT, @AddressId INT, @EstID INT, @OrNum INT
 
IF @OrganizationID IS NULL OR @OrganizationID = 0
      BEGIN
 
      -- Create contract
      -- If contract date is not null, update contract date directly
      -- INSERT INTO TBL_contactPerson
      -- store @@IDENTITY
      -- Insert INTO TBL_address
      -- setting contactsId to previous @@IDENTITY
      -- Insert INTO organizationInfo
 
      -- Create trial subscription contract
      EXECUTE InsertContract
            @LoginID = @CustomerNumber,
            @ContractPriceLevelID = 43  -- Two Week Trial Subscription
      select @ContractID = @@IDENTITY
 
      UPDATE [contract]  
      SET    expirationdate = @ExpireDate
      FROM   [contract]
               INNER JOIN contractlogins logins
               ON logins.contractID = [contract].ContractID
      WHERE Contract.ContractID = @ContractID
     
 
      INSERT INTO [dbo].[tbl_ContactPerson]
                     ([AdmininfoID]
                     ,[FirstName]
                     ,[MiddleName]
                     ,[LastName]
                     ,[Email]
                     ,[Phone3]
                     ,[Phone2]
                     ,[Phone1]
                     ,PhoneNumberType3
                     ,PhoneNumberType2
                     ,PhoneNumberType1
                     ,[FaxNumber]
                     ,[BusinessName]
                     ,[Notes]
                     ,[Title]
                     ,[SaveCustomer]
                     ,[Extension1]
                     ,[Extension2]
                     ,[ContactTypeID]
                     ,[ContactSubTypeID]
                     ,[DateAdded])
            VALUES
                     (NULL
                     ,@First
                     ,@Middle
                     ,@Last
                     ,@EmailAddress
                     ,@Phone3
                     ,@Phone2
                     ,@Phone1
                     ,@PhoneNumberType3
                     ,@PhoneNumberType2
                     ,@PhoneNumberType1
                     ,@FaxNumber
                     ,NULL --BUSINESS NAME IS STORED IN THE ORGANIZATIONINFO TABLE
                     ,NULL
                     ,NULL
                     ,NULL
                     ,NULL
                     ,NULL
                     ,1
                     ,22 --CONTACT SUB TYPE SHOULD BE PASSED IN BUT IN PREVIOUS STORED PROC IS ALWAYS SET TO 22
                     ,GETDATE())
            SELECT @ContactsID = @@IDENTITY
 
            INSERT INTO [dbo].[tbl_Address]
                           ([AdminInfoID]
                           ,[ContactsID]
                           ,[Address1]
                           ,[Address2]
                           ,[City]
                           ,[State]
                           ,[zip])
                  VALUES
                           (NULL
                           ,@ContactsID
                           ,@Address1
                           ,@Address2
                           ,@City
                           ,@State
                           ,@ZipCode)
 
INSERT INTO [dbo].[OrganizationInfo]
           ([OrgInfoContactsID]
           ,[FederalTaxID]
           ,[RegistrationNumber]
           ,[CompanyType]
           ,[PaidContract]
           ,[ExpireDate]
           ,[GraphicsExpireDate]
           ,[ManualExpireDate]
           ,[CustomerNumber]
           ,[Disabled]
           ,[ShowRepairShopProfiles]
           ,[AllowAlternateIdentities]
           ,[AllowRWofInspAssignDates]
		   ,[ProfileLocked]
           ,[Appraiser]
           ,[LastEstimateNumber]
           ,[DateCreated]
           ,[DelPWRequired]
           ,[DelPW]
           ,[CompanyName]
           ,[LicenseNumber]
           ,[BarNumber]
               ,useDefaultRateProfile)
     VALUES
           (@ContactsID
           ,@FederalTaxID
           ,@RegistrationNumber
           ,@CompanyType
           ,@PaidContract
           ,@ExpireDate
           ,@GraphicsExpireDate
           ,@ManualExpireDate
           ,@CustomerNumber
           ,@AccountDisabled
           ,@ShowRepairShopProfiles
           ,@AllowAlternateIdentities
           ,@AllowRWofInspAssignDates
		   ,@ProfileLocked
           ,@Appraiser
           ,@lastestimatenumber
           ,getDate()
           ,@DelPWRequired
           ,@DelPW
           ,@Organization
           ,@LicenseNumber
           ,@BarNumber
               ,1)
 
               SELECT @OrganizationID = @@IDENTITY
 
               EXECUTE [dbo].[AddNewEstimator]
                     @LoginID = @CustomerNumber
                    ,@EstimatorFirstName = @First
                    ,@EstimatorLastName = @Last
 
      END
ELSE
      BEGIN
      -- UPDATE organizationInfo where OrganizationID = @OrganizationID
      -- store @contactIds = organizationinfo.orgInfoContactsid
      -- UPDATE TBL_contactPerson where contactIds = @contactIds
      -- UPDATE TBL_address where contactIds = @contactIds
 
      SELECT @EstID = EstimatorID FROM [EstimatorsData] WHERE LOGINID = @CustomerNumber
      SELECT @OrNum = count(*) + 1 FROM [EstimatorsData] WHERE LOGINID = @CustomerNumber
      IF @EstID IS NOT NULL
            BEGIN
                  EXECUTE [dbo].[UpdateEstimatorsData]
                        @estimatorID = @EstID
                        ,@firstName = @First
                        ,@lastName = @Last
                        ,@orderNo = @OrNum
            END
      ELSE
            BEGIN
                  EXECUTE [dbo].[AddNewEstimator]
                     @LoginID = @CustomerNumber
                    ,@EstimatorFirstName = @First
                    ,@EstimatorLastName = @Last
            END
     
   select  top 1 @ContractID = l.ContractID
   from Contract as c with(nolock)
            inner join ContractLogins as l with(nolock)
               on c.ContractID = l.ContractID
   where l.LoginID = @CUSTOMERNUMBER
      and c.ContractTypeID = 1
   order by c.EffectiveDate desc
   
   
      UPDATE [contract]
      SET    expirationdate = @ExpireDate
      FROM   [contract]
               INNER JOIN contractlogins logins
               ON logins.contractID = [contract].ContractID
      WHERE contract.ContractID = @ContractID
 
UPDATE [dbo].[OrganizationInfo]
   SET [FederalTaxID] = @FederalTaxID
            ,[RegistrationNumber] = @RegistrationNumber
            ,[CompanyType] = @CompanyType
            ,[PaidContract] = @PaidContract
            ,[ExpireDate] = @ExpireDate
            ,[GraphicsExpireDate] = @GraphicsExpireDate
            ,[ManualExpireDate] = @ManualExpireDate
            ,[CustomerNumber] = @CustomerNumber
            ,[Disabled] = @AccountDisabled
            ,[ShowRepairShopProfiles] = @ShowRepairShopProfiles
            ,[AllowAlternateIdentities] = @AllowAlternateIdentities
            ,[AllowRWofInspAssignDates] = @AllowRWofInspAssignDates
			,[ProfileLocked] = @ProfileLocked
            ,[Appraiser] = @Appraiser
            ,[LastEstimateNumber] = @lastestimatenumber
            ,[DelPWRequired] = @DelPWRequired
            ,[DelPW] = @DelPW
            ,[CompanyName] = @Organization
            ,[LicenseNumber] = @LicenseNumber
            ,[BarNumber] = @BarNumber
WHERE ID = @OrganizationID
 
SELECT @ContactsID = orgInfoContactsId FROM [dbo].[OrganizationInfo] with(nolock) WHERE ID = @OrganizationID
 
UPDATE [dbo].[tbl_ContactPerson]
      SET
                     [FirstName] = @First
                     ,[MiddleName] = @Middle
                     ,[LastName] = @Last
                     ,[Email] = @EmailAddress
                     ,[Phone3] = @Phone3
                     ,[Phone2] = @Phone2
                     ,[Phone1] = @Phone1
                     ,PhoneNumberType3 = @PhoneNumberType3
                     ,PhoneNumberType2 = @PhoneNumberType2
                     ,PhoneNumberType1 = @PhoneNumberType1
					 ,FaxNumber = @FaxNumber
      WHERE ContactId = @ContactsID
 
      SELECT @AddressId = AddressId FROM [dbo].[tbl_Address] with(nolock) WHERE ContactsId = @ContactsID
 
      IF @AddressId IS NULL
            BEGIN
 
                  INSERT INTO [dbo].[tbl_Address]
                                       ([AdminInfoID]
                                       ,[ContactsID]
                                       ,[Address1]
                                       ,[Address2]
                                       ,[City]
                                       ,[State]
                                       ,[zip])
                              VALUES
                                       (NULL
                                       ,@ContactsID
                                       ,@Address1
                                       ,@Address2
                                       ,@City
                                       ,@State
                                       ,@ZipCode)
 
            END
      ELSE
            BEGIN
 
                  UPDATE [dbo].[tbl_Address]
                  SET
                        [Address1] = @Address1
                        ,[Address2] = @Address2
                        ,[City] = @City
                        ,[State] = @State
                        ,[zip] = @ZipCode
                  WHERE ContactsId = @ContactsID
 
            END
      END
SELECT @OrganizationID
GO
