USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Admin].[GetPromobyId]
	@PromoID int
AS

/*
EXECUTE GetPromos
	@ContractPriceLevelID = 56
	
EXECUTE GetPromos
	@ContractPriceLevelID = 56,
	@ShowCurrent = 1
*/

SET NOCOUNT ON


SELECT PromoCode
FROM Promo with(nolock)
WHERE PromoID = @PromoID
GO
