USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
[Admin].[UserFeedBackBugReport]
[Admin].[UserFeedBackBugReport] @ContactName = 'JEFF JOHNSON'
[Admin].[UserFeedBackBugReport] @ContactName = 'JEF JOHNSON'
[Admin].[UserFeedBackBugReport] @ContactName = 'Jeff'
[Admin].[UserFeedBackBugReport] @ContactName = 'JEFF'
[Admin].[UserFeedBackBugReport] @ContactName = 'Jeff', @DateStart = '1/1/2023 12:00:00 PM', @DateEnd = '1/1/2025 12:00:00 PM'
[Admin].[UserFeedBackBugReport] @ContactName = 'Jeff', @DateStart = '1/1/2023 12:00:00 PM', @DateEnd = '1/2/2023 12:00:00 PM'
*/
CREATE PROCEDURE [Admin].[UserFeedBackBugReport]
	@ID				INT					= null,
	@ContactName	NVARCHAR(200)		= null,
	@DateStart		DATETIME			= null,
	@DateEnd		DATETIME			= null
AS
BEGIN
	SET NOCOUNT ON

	SELECT		UserFeedback.ID AS UserFeedbackID,
				UserFeedback.CreatedDate,
				UserFeedback.FeedbackText,
				UserFeedback.BrowserDetails,
				UserFeedback.DevicePlatform,
				UserFeedback.ActiveLoginID AS LoginID,
				UserFeedback.ActionNote AS ActionNote,
				Logins.CompanyName,
				tbl_ContactPerson.FirstName,
				tbl_ContactPerson.LastName,
				tbl_ContactPerson.Phone1,
				tbl_ContactPerson.Email,
				(SELECT		ImagesPath + '|' AS 'data()' 
					FROM	UserFeedbackImages 
					WHERE	UserFeedbackID = UserFeedback.ID FOR XML PATH('')) AS ImagesPaths
	FROM		UserFeedback 
				INNER JOIN Logins ON UserFeedback.ActiveLoginID = Logins.ID
				LEFT OUTER JOIN tbl_ContactPerson ON tbl_ContactPerson.ContactID = Logins.ContactID
	WHERE		(ISNULL(@ContactName, '') = '' 
					OR CHARINDEX(@ContactName, tbl_ContactPerson.FirstName) > 0
					OR CHARINDEX(@ContactName, tbl_ContactPerson.LastName) > 0
					OR CHARINDEX(@ContactName, tbl_ContactPerson.Email) > 0
					OR CHARINDEX(tbl_ContactPerson.FirstName + ' ' + tbl_ContactPerson.LastName, @ContactName) > 0) 
				AND  
				(ISNULL(@DateStart, '') = '' 
					OR UserFeedback.CreatedDate IS NULL 
					OR UserFeedback.CreatedDate >= DATEADD(DAY, DATEDIFF(DAY, '19000101', @DateStart), '19000101') )
				AND  
				(ISNULL(@DateEnd, '') = '' 
					OR UserFeedback.CreatedDate IS NULL 
					OR UserFeedback.CreatedDate <= DATEADD(DAY, DATEDIFF(DAY, '19000101', @DateEnd), '19000101') )
				AND ISNULL(@ID, UserFeedback.ID) = UserFeedback.ID 
	ORDER BY	UserFeedback.CreatedDate DESC

END
GO
