USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 6/3/2019 
-- Description:  Insert Renewal Goal 
-- ============================================= 
CREATE PROCEDURE [Admin].[Insertrenewalgoal] @SalesRepId         INT = NULL, 
                                             @BonusMonth         INT = NULL, 
                                             @BonusYear          INT = NULL, 
                                             @RenewalGoal1Yr     INT = NULL, 
                                             @RenewalGoal2Yr     INT = NULL, 
                                             @SalesGoal          INT = NULL, 
                                             @SalesBonus100      INT = NULL, 
                                             @SalesBonus110      INT = NULL, 
                                             @SalesBonus120      INT = NULL, 
                                             @SalesBonus130      INT = NULL, 
                                             @RenewalBonus1Yr100 INT = NULL, 
                                             @RenewalBonus1Yr110 INT = NULL, 
                                             @RenewalBonus120    INT = NULL, 
                                             @RenewalBonus130    INT = NULL,
											 @Forecast			 INT = NULL
AS 
  BEGIN 
      INSERT INTO [dbo].[renewalgoal] 
                  ([salesrepid], 
                   [bonusmonth], 
                   [bonusyear], 
                   [renewalgoal1yr], 
                   [renewalgoal2yr], 
                   [salesgoal], 
                   [salesbonus100], 
                   [salesbonus110], 
                   [salesbonus120], 
                   [salesbonus130], 
                   [renewalbonus1yr100], 
                   [renewalbonus1yr110], 
                   [renewalbonus120], 
                   [renewalbonus130], 
                   [createdate], 
                   [modifieddate],
				   [salesForcast]) 
      VALUES      (@SalesRepId, 
                   @BonusMonth, 
                   @BonusYear, 
                   @RenewalGoal1Yr, 
                   @RenewalGoal2Yr, 
                   @SalesGoal, 
                   @SalesBonus100, 
                   @SalesBonus110, 
                   @SalesBonus120, 
                   @SalesBonus130, 
                   @RenewalBonus1Yr100, 
                   @RenewalBonus1Yr110, 
                   @RenewalBonus120, 
                   @RenewalBonus130, 
                   Getdate(), 
                   Getdate(),
				   @Forecast) 
  END 


SET ANSI_NULLS ON
GO
