USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Admin].[GetNoOfLogins]
(
@LoginId int
)
as 
begin
Select NoOfLogins from Logins with(nolock) where id =@LoginId 
end



GO
