USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 6/3/2019 
-- Description:  Select Renewal Goal 
-- ============================================= 
CREATE PROCEDURE [Admin].[SelectrenewalgoalForActive]
                                             @BonusMonth INT = NULL, 
                                             @BonusYear  INT = NULL 
AS 
  BEGIN 

	  DECLARE @activeRepCount INT;
	  SET @activeRepCount = (SELECT COUNT(DISTINCT SalesRepId) FROM RenewalReport WHERE YEAR(RenewalDate) = @BonusYear AND MONTH(RenewalDate) = @BonusMonth)

	  IF @activeRepCount = 0
		BEGIN
			SET @activeRepCount = 1
		END

      SELECT
             SUM([renewalgoal1yr]) / @activeRepCount AS 'renewalgoal1yr', 
             SUM([renewalgoal2yr]) / @activeRepCount AS 'renewalgoal2yr', 
             (select SUM([salesgoal]) from renewalgoal  with(nolock) WHERE  [bonusmonth] = @BonusMonth AND  [bonusyear] = @BonusYear)   AS 'salesgoal', 
             SUM([salesbonus100]) AS 'salesbonus100', 
             SUM([salesbonus110]) AS 'salesbonus110', 
             SUM([salesbonus120]) AS 'salesbonus120', 
             SUM([salesbonus130]) AS 'salesbonus130', 
             SUM([renewalbonus1yr100]) AS 'renewalbonus1yr100', 
             SUM([renewalbonus1yr110]) AS 'renewalbonus1yr110', 
             SUM([renewalbonus120]) AS 'renewalbonus120', 
             SUM([renewalbonus130]) AS 'renewalbonus130', 
			 (select SUM([SalesForcast]) from renewalgoal  with(nolock) WHERE  [bonusmonth] = @BonusMonth AND  [bonusyear] = @BonusYear) AS 'SalesForcast'
      FROM   [dbo].[renewalgoal] 
      WHERE  [bonusmonth] = @BonusMonth       AND	 [bonusyear] = @BonusYear 
	  and SalesRepId in (SELECT DISTINCT SalesRepId FROM RenewalReport WHERE YEAR(RenewalDate) = @BonusYear AND MONTH(RenewalDate) = @BonusMonth)
  END 



SET ANSI_NULLS ON
GO
