USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:    T. Gibson
-- Create date: 6/23/2017
-- Description:  Get phone codes for dropdowns
-- =============================================
CREATE PROCEDURE [Admin].[GetCodeList] @GroupNumber INT = NULL,
                                       @EntryType   VARCHAR(20) = NULL
AS
  BEGIN
      IF @GroupNumber IS NOT NULL
         AND @EntryType IS NULL
        BEGIN
            SELECT '' 'Code',
                   '' 'Description'
            UNION
            SELECT *
            FROM   (SELECT TOP 100 code,
                                   description
                    FROM   codelist WITH (nolock)
                    WHERE  mastercodelisttabsid = @GroupNumber
                    ORDER  BY description) T
        END

  /**********************************************************************************************************/
  /**********************************************************************************************************/
  /**                                                                                                      **/
      /**********************************************************************************************************/
      IF @GroupNumber IS NOT NULL
         AND @EntryType IS NOT NULL
        BEGIN
            SELECT '' 'Code',
                   '' 'Description'
            UNION
            SELECT *
            FROM   (SELECT TOP 100 code,
                                   description
                    FROM   codelist WITH (nolock)
                    WHERE  mastercodelisttabsid = @GroupNumber
                           AND entrytype = @EntryType
                    ORDER  BY description) T
        END
  END  

GO
