USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 12/1/2018
-- Description:	Estimate Migration - LOG_EXCEPTION
-- =============================================
CREATE PROCEDURE [Admin].[DataMigration_EstimatesForLogin_bak]
	@loginId int = null
AS
BEGIN
	SET nocount ON; 

DECLARE @message VARCHAR(80); 
        
          Declare @tablevar table(col1 INT)
insert into @tablevar(col1) EXEC [dbo].[DataMigration_GetUnimportedEstimates]
  @LoginID = @loginId

--PRINT '-------- Logins --------'; 

DECLARE login_cursor CURSOR FOR 
  --SELECT TOP 1000 id 
  --FROM   logins 
  --WHERE  1 = 1 
  --ORDER  BY 1 DESC; 
  


SELECT col1 FROM @tablevar


OPEN login_cursor 

FETCH next FROM login_cursor INTO @loginId 

WHILE @@FETCH_STATUS = 0 
  BEGIN 
      --PRINT ' ' 
      
  --    SELECT @message = 'importing estimate: ' 
  --                      + CONVERT(VARCHAR(10), @loginId) 
                        
		--PRINT @message 

		EXEC  DataMigration_Estimate @AdminInfoID = @loginId
      

      -- Declare an inner cursor based      
      -- on vendor_id from the outer cursor.   
      FETCH next FROM login_cursor INTO @loginId 
  END 

CLOSE login_cursor; 

DEALLOCATE login_cursor; 

--USE [focuswrite]
--GO

--DECLARE	@return_value int

--EXEC	@return_value = [dbo].[DataMigration_GetUnimportedEstimates_NoDateRange]
--		@LoginID = 56503

--SELECT	'Return Value' = @return_value

--GO

END

/****** Object:  StoredProcedure [Admin].[DataMigration_GetEstimateMigrationMetricForLogin]    Script Date: 12/12/2018 2:26:53 PM ******/
SET ANSI_NULLS ON
GO
