USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 9/8/2017 
-- Description:  Get extension history by loginID 
-- ============================================= 
CREATE PROCEDURE [Admin].[Getextensionhistory] @id INT = NULL 
AS 
  BEGIN 
      SELECT ce.loginid, 
             ce.extendfrom, 
             ce.extendto, 
             firstname + ' ' + lastname AS SalesRep, 
             ce.extendeddate 
      FROM   contractextension AS ce with(nolock)
             INNER JOIN salesrep AS s  with(nolock)
                     ON s.salesrepid = ce.salesrep 
             INNER JOIN logins AS l  with(nolock)
                     ON l.id = ce.loginid 
      WHERE  ce.loginid = @id 
      ORDER  BY ce.loginid, 
                ce.extendeddate DESC 
  END 

GO
