USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 12/1/2018
-- Description:	GET QUEUE EXCEPTIONS
-- =============================================
CREATE PROCEDURE [Admin].[GET_QUEUE_EXCEPTIONS]
AS
BEGIN

SELECT top 50 [Id]
      ,[LoginId]
      ,[Message]
      ,[CreateDate]
  FROM [dbo].[ImportQueueException]
  ORDER BY 1 DESC
END
GO
