USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 9/4/20189 
-- Description:  Get parts now client list 
-- ============================================= 
CREATE PROCEDURE [Admin].[Get_parts_now_clients] 
AS 
  BEGIN 
;
WITH pncte
     AS ( 
         SELECT DISTINCT l.id,
                         l.CompanyName,
                         address1,
                         address2,
                         city,
                         state,
                         zip,
                         p.phone1,
                         p.firstname,
                         p.lastname,
                         Isnull(l.PartsNow, 0) AS 'PartsNow'
         FROM   logins l
                INNER JOIN tbl_address a
                        ON l.ContactID = a.contactsid
                INNER JOIN tbl_contactperson p
                        ON p.contactid = a.contactsid
				inner join contracts as c
					on c.LoginID = l.id 
         WHERE   c.ExpirationDate > getdate())
SELECT DISTINCT *
FROM   pncte 


  END 

GO
