USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Admin].[DeleteSalesRep]
	@SalesRepID int
AS

BEGIN TRANSACTION

	UPDATE		Logins
	SET			SalesRepID = 1
	WHERE		SalesRepID = @SalesRepID

	DELETE FROM	SalesRep
	WHERE		SalesRepID = @SalesRepID

COMMIT



GO
