USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 5/3/2019 
-- Description:  Get Data From Renewal Table 
-- ============================================= 
CREATE PROCEDURE [Admin].[Getrenewals] @month INT = NULL, 
                                       @year  INT = NULL 
AS 
  BEGIN 
      SELECT [id],
			 [loginid], 
             [salesrepid], 
             [salesrep], 
             [companyname], 
             [contact], 
             [phone], 
             [state], 
             [framedata], 
             [ems], 
             [multi], 
             [pdr], 
             [renewalamount], 
             [renewaldate], 
             [estcounttotal], 
             [estcountcur], 
             [yearswe], 
             [willrenew], 
             [willnotrenew], 
             [hasrenewed], 
             [pastdue], 
             [notes],
			 [Platform]
      FROM   [dbo].[renewalreport] 
      WHERE  Month(renewaldate) = @month 
             AND Year(renewaldate) = @year 
		 	 AND [Active] = 1
  END 
GO
