USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		T. Gibson
-- Create date: 6/22/2017
-- Description:	Organization Search
-- =============================================
CREATE PROCEDURE [Admin].[SearchOrg]

	-- Add the parameters for the stored procedure here
	@SearchName		VARCHAR(20) = ''

AS
BEGIN
	
	SET NOCOUNT ON

	IF OBJECT_ID('tempdb..#SearchOrg') IS NOT NULL
		DROP TABLE #SearchOrg

	SELECT
		Organization.*,
		Address.Address1 'AddressLine1',
		Address.Address2 'AddressLine2',
		Address.City + ', ' + Address.State + ' ' + Address.zip 'CityStateZip',
		Convert(bit, 0) as hasActiveWebEstContract
	FROM OrganizationInfo Organization WITH (NOLOCK)  
		LEFT JOIN tbl_Address [Address] WITH(NOLOCK) ON
			Organization.orginfocontactsid = [Address].ContactsID
	WHERE (@SearchName <> '' AND Organization.CompanyName LIKE '%' + @SearchName + '%' ) OR
		@SearchName = ''
	ORDER BY ID DESC
		
	
	-- Create cursor to loop through #SearchOrg and update hasActiveWebEstContract
	DECLARE	@SearchOrgOrganizationID int,
			@SearchOrgLoginID int

	DECLARE	LoginCursor CURSOR FOR
				SELECT ID, LoginID FROM #SearchOrg

	OPEN LoginCursor

	FETCH NEXT FROM LoginCursor
	INTO	@SearchOrgOrganizationID,
			@SearchOrgLoginID

	WHILE @@FETCH_STATUS = 0
	BEGIN		
			
		UPDATE		#SearchOrg
		SET			hasActiveWebEstContract = isNull(( SELECT hasActiveWebEstContract FROM dbo.fnGetContract(@SearchOrgLoginID, 0, 1) ), 0)
		WHERE		ID = @SearchOrgOrganizationID

		FETCH NEXT FROM LoginCursor
		INTO	@SearchOrgOrganizationID,
				@SearchOrgLoginID

	END

	CLOSE LoginCursor
	DEALLOCATE LoginCursor

	SET NOCOUNT OFF

	SELECT * FROM #SearchOrg

END


GO
