USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Admin].[DataMigration_GetEstimateMigrationMetricForLogin]
	@LoginID		int
AS
BEGIN

	DECLARE @weCount INT = NULL, @peCount INT = NULL
	
	SELECT @weCount = COUNT(WE.id)
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AdminInfo WE
	INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.EstimationData e
		ON WE.id = e.AdminInfoID
	WHERE  
		CreatorID = @LoginID
		--AND WE.id NOT IN (SELECT id FROM AdminInfo WHERE CreatorID = @LoginID)
		AND e.EstimationDate > DATEADD(YEAR, -3, GETDATE())
		AND WE.Deleted = 0

	SELECT @peCount = COUNT(PE.id)
	FROM AdminInfo PE
	WHERE  
		CreatorID = @LoginID

	SELECT 
		@weCount AS WE,
		@peCount AS PE
END
GO
