USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:    T. Gibson  
-- Create date: 05/10/2017  
-- Description:  Search for user information  
--				7/23/2020 - updated by Ezra for new Logins table
--             11/16/2022 - updated for SiteUsers
-- File Name: SearchUser-02.sql
-- =============================================  
CREATE PROCEDURE [Admin].[SearchUser]  
	@SearchLoginID VARCHAR(50) = NULL,  
    @EstimateID    VARCHAR(10) = NULL,  
    @SearchName    VARCHAR(25) = NULL, 
	@EmailAddress  VARCHAR(75) = NULL 
AS  
  BEGIN  
 
	IF @SearchLoginID = '' 
		SET @SearchLoginID = NULL 
 
	IF @EstimateID = '' 
		SET @EstimateID = NULL 
 
	IF @SearchName = '' 
		SET @SearchName = NULL 
 
	IF @EmailAddress = '' 
		SET @EmailAddress = NULL 
 
	-- Joining in the AdminInfo table takes a long time, only do it if there's an estimate ID in the search
	IF @EstimateID IS NULL
		BEGIN
			SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				Case When ISNULL(SiteUsers.Name, '') = '' Then ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.lastname, '') Else SiteUsers.Name End AS Name,
				ISNULL(tbl_ContactPerson.BusinessName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(SiteUsers.EmailAddress, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(SiteUsers.IsDeleted, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID
			LEFT JOIN SiteUsers ON Logins.ID = SiteUsers.LogInID
			WHERE   
				Logins.ID = @SearchLoginID 
				OR Logins.CompanyName LIKE '%' + @SearchName + '%' 
				OR Logins.LoginName LIKE '%' + @SearchName + '%' 
				OR tbl_ContactPerson.FirstName LIKE '%' + @SearchName + '%' 
				OR tbl_ContactPerson.LastName LIKE '%' + @SearchName + '%'
				OR SiteUsers.Name LIKE '%' + @SearchName + '%'
				OR SiteUsers.EmailAddress =  @EmailAddress
			ORDER BY Logins.ID 
		END
	ELSE
		BEGIN
			SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				Case When ISNULL(SiteUsers.Name, '') = '' Then ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.lastname, '') Else SiteUsers.Name End AS Name, 
				ISNULL(tbl_ContactPerson.BusinessName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(SiteUsers.EmailAddress, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(SiteUsers.IsDeleted, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID 
			LEFT JOIN AdminInfo ON Logins.ID = AdminInfo.CreatorID
			LEFT JOIN SiteUsers ON Logins.ID = SiteUsers.LogInID
			WHERE   
				Logins.ID = @SearchLoginID 
				OR Logins.CompanyName LIKE '%' + @SearchName + '%'
				OR AdminInfo.ID = @EstimateID
				OR Logins.LoginName LIKE '%' + @SearchName + '%' 
				OR tbl_ContactPerson.FirstName LIKE '%' + @SearchName + '%' 
				OR tbl_ContactPerson.LastName LIKE '%' + @SearchName + '%'
				OR SiteUsers.Name LIKE '%' + @SearchName + '%'
				OR SiteUsers.EmailAddress =  @EmailAddress
			ORDER BY Logins.ID 
		END
 
  END  
GO
