USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 10/16/2017 
-- Description:  Get invoice types 
-- ============================================= 
CREATE PROCEDURE [Admin].[Getinvoicetypes] 
AS 
  BEGIN 
      SELECT [invoicetypeid] AS 'ID', 
             [invoicetype]   AS 'FullDescription' 
      FROM   [invoicetype] with(nolock)
  END 


GO
