USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 9/16/2017
-- Description:	Insert software version
-- =============================================
CREATE PROCEDURE [Admin].[SoftwareVersion_Insert] 
	@Id int = null,
	@salesRepId int = null,
	@version nvarchar(20) = null,
	@createDate dateTime = null
AS
BEGIN
	INSERT INTO [dbo].[SoftwareVersion]
           ([Id]
           ,[SalesRepId]
           ,[Version]
           ,[CreateDate])
     VALUES
           (@Id
           ,@salesRepId
           ,@version
           ,@createDate)
END

GO
