USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Admin].[UpdateSalesRepPermission]
	@ID INT = NULL,
	@pInvoiceTab BIT = NULL
    ,@pOrgMaintTab BIT = NULL
    ,@pSalesRepMaint BIT = NULL
    ,@pSalesBoard BIT = NULL
    ,@pServerLogsTab BIT = NULL
    ,@pLoginFailureTab BIT = NULL
    ,@pErrorsTab BIT = NULL
    ,@pCurrentSessionsTab BIT = NULL
    ,@pLinkingTab BIT = NULL
    ,@pPaymentReport BIT = NULL
    ,@pForcastedRevReport BIT = NULL
    ,@pRenewalReport BIT = NULL
    ,@pRoyaltyReport BIT = NULL
    ,@pExpectedRenReport BIT = NULL
    ,@pShopActivityReport BIT = NULL
    ,@pWebsiteAccessReport BIT = NULL
    ,@pUnusedContracts BIT = NULL
    ,@pEstimatesByShop BIT = NULL
    ,@pUserMaintLoginInfo BIT = NULL
    ,@pUserMaintOrgInfo BIT = NULL
    ,@pUserMaintContactInfo BIT = NULL
    ,@pUserMaintSalesRep BIT = NULL
    ,@pEditPermissions BIT = NULL
    ,@pEditBonusGoals BIT = NULL
    ,@pPromoMaintenance BIT = NULL
    ,@pExtensionReport BIT = NULL
    ,@pUserMaintImpersonate BIT = NULL
    ,@pLoginAttempts BIT = NULL
    ,@pUserMaintCreate BIT = NULL
    ,@pImport BIT = NULL
    ,@pImportEst BIT = NULL
    ,@pDeleteRenewal BIT = NULL
	,@pCarfax BIT = NULL
	,@pSuccessBox BIT = NULL
	,@pMonthlySalesDashboardReport BIT = NULL 
	,@pContractAddOnReport BIT = NULL 
AS
BEGIN
UPDATE [dbo].[SalesRep]
   SET [pInvoiceTab]  = @pInvoiceTab
      ,[pOrgMaintTab]  = @pOrgMaintTab
      ,[pSalesRepMaint]  = @pOrgMaintTab
      ,[pSalesBoard]  = @pSalesBoard
      ,[pServerLogsTab]  = @pServerLogsTab
      ,[pLoginFailureTab]  = @pLoginFailureTab
      ,[pErrorsTab]  = @pErrorsTab
      ,[pCurrentSessionsTab]  = @pCurrentSessionsTab
      ,[pLinkingTab]  = @pLinkingTab
      ,[pPaymentReport]  = @pPaymentReport
      ,[pForcastedRevReport]  = @pForcastedRevReport
      ,[pRenewalReport]  = @pRenewalReport
      ,[pRoyaltyReport]  = @pRoyaltyReport
      ,[pExpectedRenReport]  = @pExpectedRenReport
      ,[pShopActivityReport]  = @pShopActivityReport
      ,[pWebsiteAccessReport]  = @pWebsiteAccessReport
      ,[pUnusedContracts]  = @pUnusedContracts
      ,[pEstimatesByShop]  = @pEstimatesByShop
      ,[pUserMaintLoginInfo]  = @pUserMaintLoginInfo
      ,[pUserMaintOrgInfo]  = @pUserMaintOrgInfo
      ,[pUserMaintContactInfo]  = @pUserMaintContactInfo
      ,[pUserMaintSalesRep]  = @pUserMaintSalesRep
      ,[pEditPermissions]  = @pEditPermissions
      ,[pEditBonusGoals]  = @pEditBonusGoals
      ,[pPromoMaintenance]  = @pPromoMaintenance
      ,[pExtensionReport]  = @pExtensionReport
      ,[pUserMaintImpersonate]  = @pUserMaintImpersonate
      ,[pLoginAttempts]  = @pLoginAttempts
      ,[pUserMaintCreate]  = @pUserMaintCreate
	  ,[pImport] = @pImport
	  ,[pImportEst] = @pImportEst
	  ,[pDeleteRenewal] = @pDeleteRenewal
	  ,[pCarfax] = @pCarfax
	  ,[pSuccessBox] = @pSuccessBox
	  ,[pMonthlySalesDashboardReport] = @pMonthlySalesDashboardReport
	  ,[pContractAddOnReport] = @pContractAddOnReport
 WHERE SalesRepId = @ID
END

GO
