USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 11/7/2018
-- Description:	Insert record to track import status
-- =============================================
CREATE PROCEDURE [Admin].[InsertImport]
	@LoginId int = null
	,@EmailAdddress nvarchar(250) = null
	,@Content nvarchar(max) = null
	,@Status int = null
	,@EnqueueDate datetime = null
	,@DequeueDate datetime = null
AS
BEGIN

INSERT INTO [dbo].[ImportQueueLog]
           ([LoginId]
           ,[EmailAdddress]
           ,[Content]
           ,[Status]
           ,[EnqueueDate]
           ,[DequeueDate]
           ,[CreateDate])
     VALUES
           (@LoginId
           ,@EmailAdddress
           ,@Content
           ,@Status
           ,@EnqueueDate
           ,@DequeueDate
           ,GETDATE())

SELECT SCOPE_IDENTITY()
END

/****** Object:  StoredProcedure [Admin].[UpdateImport]    Script Date: 12/12/2018 2:22:06 PM ******/
SET ANSI_NULLS ON
GO
