USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Admin].[getSalesBoardUser]
	-- Add the parameters for the stored procedure here
	 @SalesRepID int,
	 @date datetime = null
AS
BEGIN

DECLARE @minId INT;
    SELECT @minId = max(id) from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.logins
	 
	SET NOCOUNT ON;
	if @date is null
	begin
	 select @date = GETDATE()
	end
select (FirstName + ' ' + LastName) as Name
		,sb.salesBoardID
		,sb.loginID
		,sb.numberSold
		,sb.frame
		,sb.ems
		,sb.*
from salesboard as sb with(nolock)
		inner join SalesRep as s with(nolock)
			on sb.salesRepID = s.SalesRepID
where MONTH(datesold) = MONTH(@date)
	and YEAR(datesold) = YEAR(@date)
	and s.SalesRepID = @SalesRepID
	AND sb.loginID > @minId
END


GO
