USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:    T. Gibson  
-- Create date: 9/26/2018  
-- Description:  Get trail report  
-- =============================================  
CREATE PROCEDURE [Admin].[Get_trial_report] @SalesRepID INT = NULL,  
                                           @StartDate  DATETIME = NULL,  
                                           @EndDate    DATETIME = NULL  
AS  
  BEGIN  
      -- Set start and end date  
      SELECT @StartDate = CONVERT(VARCHAR(10), Isnull(@StartDate, nextmonthstart  
                                               )  
                                               - 1, 101),  
             @EndDate = CONVERT(VARCHAR(10), Isnull(@EndDate, nextmonthend)-1,  
                        101  
                        )  
                        + ' 11:59:59.990 PM',  
             @SalesRepID = Isnull(@SalesRepID, 0)  
      FROM   Fndates()  
 
      SELECT  
		     Logins.id, 
             Logins.companyname,  
             SalesRep.firstname + ' ' + SalesRep.lastname         AS 'Name',  
			 SalesRep.SalesRepID, 
             Trial.ID AS ContractID, 
             Trial.StartDate                        AS 'TrialStartDate',  
             Trial.EndDate                       AS 'TrialEndDate',  
             Count(*)                               AS 'EstimateCount',  
             'Trial'                                AS 'ContractType',  
			 1 Trial, 
             1 ActiveTrial 
 
      FROM   Logins  
             INNER JOIN SalesRep ON Logins.salesrepid = SalesRep.salesrepid  
			 INNER JOIN Trial ON Logins.id = Trial.LoginID 
			 LEFT OUTER JOIN AdminInfo ON Logins.ID = AdminInfo.CreatorID 
      WHERE   
			 Trial.StartDate BETWEEN @StartDate AND @EndDate  
             AND SalesRep.salesrepid IN  
			 ( 
				SELECT salesrepid  
                FROM   salesrep  
                WHERE  salesrepid = CASE WHEN @SalesRepID > 0 THEN  @SalesRepID ELSE salesrepid END)  
			AND ((Logins.DoubtfulAccount != 1) AND (Logins.StaffAccount != 1)) 
      GROUP  BY Logins.id, 
                Logins.companyname,  
                SalesRep.firstname + ' ' + SalesRep.lastname,  
				SalesRep.SalesRepID, 
				Trial.ID, 
				Trial.StartDate, 
				Trial.EndDate 
      ORDER  BY Logins.id  
  
  END  
 
 
GO
