USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Admin].[Get_RenewalBoardDetail]
	-- Add the parameters for the stored procedure here
	  @Year int, @Month  int = 0,  @SalesrepID int =0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 select SalesRep,LoginID,YearsWE,HasRenewed,CompanyName,Contact,Phone
 from RenewalReport
 where Year(RenewalDate) = @Year 
 and Month(renewalDate) = case when @Month > 0  then @Month else Month(renewalDate) end
 and SalesRepID = case when @SalesrepID > 0 then @SalesrepID else SalesRepID end
END
GO
