USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:    T. Gibson
-- Create date: 11/13/2017
-- Description:    Get web-est import history
-- =============================================
CREATE PROCEDURE [Admin].[Get_WebestImports] @startdate datetime = '11/1/17',
@enddate datetime = '11/14/17'
AS
BEGIN

  SELECT
    li.LoginID,
    c.contractid,
    c.effectiveDate,
    c.expirationDate,
    c.contractPriceLevelId,
    CASE
		WHEN pl.priceLevel = -1 THEN 1
		ELSE 0
	END AS Trial,
	CASE
		WHEN pl.PriceLevel = -1 AND c.expirationDate >= GETDATE() THEN 1
		ELSE 0
	END AS ActiveTrial,
    CONVERT(varchar, li.[TimeStamp], 101) AS LoginMoved,
    o.companyName,
    lsr.firstName + ' ' + lsr.lastName AS Sales_Rep,
    s.FirstName + ' ' + s.LastName AS Moved_By,
    CASE
      WHEN li.SelfImport = 0 THEN 'N'
      ELSE 'Y'
    END AS SelfImport,
    CASE
      WHEN li.ConversionComplete = 0 THEN 'N'
      ELSE 'Y'
    END AS Conversion_complete
  FROM dbo.LoginImportData AS li with(nolock)
  LEFT JOIN SalesRep AS s with(nolock)
    ON li.SalesRepID = s.SalesRepID
  LEFT JOIN Logins AS l with(nolock)
    ON l.id = li.LoginId
  LEFT JOIN SalesRep lsr with(nolock)
    ON lsr.salesRepId = l.salesRepId
  LEFT JOIN organizationInfo o with(nolock)
    ON o.id = l.organizationId
  LEFT JOIN contractLogins cl
    ON cl.LoginID = l.id
  LEFT JOIN Contract c
	ON cl.ContractID = c.ContractID 
	AND c.ContractTypeID = 1
  INNER JOIN dbo.ContractPriceLevels pl
	ON pl.ContractPriceLevelID = c.ContractPriceLevelID
  WHERE li.[TimeStamp] BETWEEN @startdate AND @Enddate
  ORDER BY li.LoginID, c.effectiveDate
END
GO
