USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [Admin].[getSalesBoard]
	-- Add the parameters for the stored procedure here
	  @CompanyOrigin int = 99
	 AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
Declare @Origin table(CompanyOrigin int) 

DECLARE @minId INT;
    SELECT @minId = max(id) from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.logins


if @CompanyOrigin = 99
begin 
  insert into @Origin values(0)
  insert into @Origin values(1)
  insert into @Origin values(2)
  insert into @Origin values(3)
  insert into @Origin values(4)
  insert into @Origin values(5)
  insert into @Origin values(6)
  insert into @Origin values(7)
  insert into @Origin values(8)
  insert into @Origin values(9)
  insert into @Origin values(10)
end 

if @CompanyOrigin = 0
begin 
  insert into @Origin values(0)
  insert into @Origin values(3)
  insert into @Origin values(4)
  insert into @Origin values(5)
  insert into @Origin values(6)
  insert into @Origin values(7)
  insert into @Origin values(8)
  insert into @Origin values(10)
end 
if @CompanyOrigin = 1
begin
	insert into @Origin values(1)
end
if @CompanyOrigin = 2
begin
	insert into @Origin values(2)
end 
if @CompanyOrigin = 9
begin
	insert into @Origin values(9)
end 

    SELECT @minId = max(id) from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.logins with(nolock)
    
    -- Insert statements for procedure here
	select YEAR(datesold) as [Year],
	sum(case when MONTH(datesold) = 1 then numberSold else 0 end )as Jan,
	sum(case when MONTH(datesold) = 2 then numberSold else 0 end )as Feb,
	sum(case when MONTH(datesold) = 3 then numberSold else 0 end )as Mar,
	sum(case when MONTH(datesold) = 4 then numberSold else 0 end )as Apr,
	sum(case when MONTH(datesold) = 5 then numberSold else 0 end )as May,
	sum(case when MONTH(datesold) = 6 then numberSold else 0 end )as Jun,
	sum(case when MONTH(datesold) = 7 then numberSold else 0 end )as Jul,
	sum(case when MONTH(datesold) = 8 then numberSold else 0 end )as Aug,
	sum(case when MONTH(datesold) = 9 then numberSold else 0 end )as Sep,
	sum(case when MONTH(datesold) = 10 then numberSold else 0 end )as Oct,
	sum(case when MONTH(datesold) = 11 then numberSold else 0 end )as Nov,
	sum(case when MONTH(datesold) = 12 then numberSold else 0 end )as Dec,
	sum(numberSold) as total
from dbo.SalesBoard with(nolock)
WHERE dbo.SalesBoard.loginID > @minId
group by YEAR(datesold)
order by YEAR(datesold)
END


GO
