USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:    T. Gibson 
-- Create date: 6/3/2019 
-- Description:  Select Number Sold 
-- ============================================= 
CREATE PROCEDURE [Admin].[SelectTotalSold] @SalesRepId INT = NULL, 
                                             @month INT = NULL, 
                                             @year  INT = NULL 
AS 
  BEGIN 
	  Create Table #Temp   (TotalSales int)
	  insert into #Temp
	SELECT Sum(numbersold) AS 'TotalSales'
	FROM   salesboard 
	WHERE  salesRepID = @SalesRepId
			AND Month(datesold) = @month
			AND Year(datesold) = @year 

		union all 
	SELECT Sum(numbersold) AS 'TotalSales'
	FROM   [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.salesboard  
	WHERE  Month(datesold) = @month
			AND Year(datesold) = @year 
			and  salesRepID = @SalesRepId

	select sum(TotalSales) as TotalSales from #Temp

  END 
GO
