USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 8/4/2017
-- Description:	Get organization by name
-- =============================================
CREATE PROCEDURE [Admin].[GetOrganization_Single] 
	-- Add the parameters for the stored procedure here
	@companyName varchar(200) = null
AS
BEGIN
	SELECT ID as OrgId, CompanyName FROM ORGANIZATIONINFO with(nolock) WHERE companyName = @companyName
END

GO
