USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 12/1/2018
-- Description:	Estimate Migration - LOG_EXCEPTION
-- =============================================
CREATE PROCEDURE [Admin].[DISABLE_WEBEST]
	@loginId int = null
AS
BEGIN
	UPDATE [WEB-EST-PROE\WEBESTARCHIVE].[FocusWrite].[dbo].[Logins]
	SET 
		[Disabled] = 1
		, LoginName = LoginName + ' - PE'
		, Organization = Organization + ' - PE'
	WHERE [id] = @loginId
END

SET ANSI_NULLS ON
GO
