USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:    T. Gibson  
-- Create date: 9/4/20189  
-- Description:  Get parts now client list  
-- =============================================  
CREATE PROCEDURE [Admin].[UPDATE_PARTS_NOW_CLIENT] 
	@id int, 
	@status bit 
AS 
BEGIN 
	UPDATE Logins 
	SET PartsNow = @status 
	FROM Logins 
	WHERE id = @id 
END 
GO
