USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 9/6/2017
-- Description:	Update sales rep
-- =============================================
CREATE PROCEDURE [Admin].[UpdateSalesRep] 
	@SalesRepId INT = NULL,
	@FirstName varchar(50) = NULL,
	@LastName varchar(50) = NULL,
	@Email varchar(50) = NULL,
	@UserName varchar(50) = NULL,
	@Password varchar(50) = NULL
AS
BEGIN
	OPEN SYMMETRIC KEY WebEstEncryptionKey
	DECRYPTION BY CERTIFICATE WebEstEncryptionCertificate

	UPDATE salesRep
	SET firstName = @FirstName,
		lastName = @LastName,
		email = @Email,
		userName = @UserName,
		[password] = EncryptByKey(Key_GUID('WebEstEncryptionKey'), @Password)
	WHERE salesRepId = @SalesRepId

	SELECT		SalesRepID,
			SalesNumber,
			FirstName,
			LastName,
			( FirstName + ' ' + LastName ) AS FullName,
			( SalesNumber + ' - ' + FirstName + ' ' + LastName ) AS FullDescription,
			Email,
			UserName,
			Convert(varchar, DecryptByKey(Password)) AS Password,
			[pInvoiceTab]
      ,[pOrgMaintTab]
      ,[pSalesRepMaint]
      ,[pSalesBoard]
      ,[pServerLogsTab]
      ,[pLoginFailureTab]
      ,[pErrorsTab]
      ,[pCurrentSessionsTab]
      ,[pLinkingTab]
      ,[pPaymentReport]
      ,[pForcastedRevReport]
      ,[pRenewalReport]
      ,[pRoyaltyReport]
      ,[pExpectedRenReport]
      ,[pShopActivityReport]
      ,[pWebsiteAccessReport]
      ,[pUnusedContracts]
      ,[pEstimatesByShop]
      ,[pUserMaintLoginInfo]
      ,[pUserMaintOrgInfo]
      ,[pUserMaintContactInfo]
      ,[pUserMaintSalesRep]
      ,[pEditPermissions]
      ,[pEditBonusGoals]
      ,[pPromoMaintenance]
      ,[pExtensionReport]
      ,[pUserMaintImpersonate]
      ,[pLoginAttempts]
      ,[pUserMaintCreate]
      ,[pImport]
      ,[pImportEst]
	FROM		SalesRep with(nolock)
	WHERE		SalesRepID = isNull(@SalesRepID, SalesRepID)
END

GO
