USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [Admin].[InsertInvoice_Custom]
	@LoginID int,
	@EffectiveDate datetime,
	@NumberOfPayments int,
	@InvoiceAmount decimal(9,2),
	@Notes varchar(3000) = NULL,
	@Debug bit = 0
AS

/*

EXECUTE InsertInvoice_Custom
	@LoginID = 49425,
	@EffectiveDate = '3/5/2011',
	@NumberOfPayments = 6,
	@InvoiceAmount = 50.25,
	@Notes = 'Some notes',
	@Debug = 1

*/

SET NOCOUNT ON

IF @Debug = 1
BEGIN
	PRINT Char(10) + 'Executing InsertInvoice_Custom stored procedure'
	PRINT '@LoginID: ' + Convert(varchar, @LoginID)
	PRINT '@EffectiveDate: ' + Convert(varchar, @EffectiveDate)
	PRINT '@NumberOfPayments: ' + Convert(varchar, @NumberOfPayments)
	PRINT '@InvoiceAmount: ' + Convert(varchar, @InvoiceAmount)
END



BEGIN TRANSACTION

	DECLARE	@CountPayment int,
			@DueDate datetime	

	SELECT	@CountPayment = 1,
			@EffectiveDate = Convert(varchar(10), @EffectiveDate, 101)


	-- Insert invoices
	WHILE @CountPayment <= @NumberOfPayments
	BEGIN

		SET @DueDate = dateAdd(m, @CountPayment-1, @EffectiveDate)

		SELECT @InvoiceAmount, @DueDate

		EXECUTE InsertInvoice
			@LoginID = @LoginID,
			@InvoiceTypeID = 3,	-- Custom Payment
			@InvoiceAmount = @InvoiceAmount,
			@DueDate = @DueDate,
			@Notes = @Notes,
			@Debug = @Debug
		
		SET @CountPayment = @CountPayment + 1
	END
	
COMMIT TRANSACTION



GO
