USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Admin].[Get_RenewalBoardYearly]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	 
	SET NOCOUNT ON;
 

create table #Temp  (Renewals real, Renewed  real,M int,Year int)

Insert into #Temp
select count(distinct loginID) as Renewals, sum(case when hasRenewed = 1 then 1 else 0 end) as Renewed, Month(renewalDate) as M, Year(RenewalDate) as Year
from RenewalReport
Group by  Month(renewalDate),Year(RenewalDate)
 
Select Year,
sum(case when M = 1 then round((Renewed / Renewals)* 100,2) else 0 end) as Jan,
sum(case when M = 2 then round((Renewed / Renewals)* 100,2) else 0 end) as Feb,
sum(case when M = 3 then round((Renewed / Renewals)* 100,2) else 0 end) as Mar,
sum(case when M = 4 then round((Renewed / Renewals)* 100,2) else 0 end) as Apr,
sum(case when M = 5 then round((Renewed / Renewals)* 100,2) else 0 end) as May,
sum(case when M = 6 then round((Renewed / Renewals)* 100,2) else 0 end) as Jun,
sum(case when M = 7 then round((Renewed / Renewals)* 100,2) else 0 end) as Jul,
sum(case when M = 8 then round((Renewed / Renewals)* 100,2) else 0 end) as Aug,
sum(case when M = 9 then round((Renewed / Renewals)* 100,2) else 0 end) as Sep,
sum(case when M = 10 then round((Renewed / Renewals)* 100,2) else 0 end) as Oct,
sum(case when M = 11 then round((Renewed / Renewals)* 100,2) else 0 end) as Nov,
sum(case when M = 12 then round((Renewed / Renewals)* 100,2) else 0 end) as Dec,
Round((Sum(Renewed) / Sum(Renewals)) * 100,2)  as Total
 
From #Temp
where year <= Year(getdate())
group by year
END
GO
