USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 11/9/2018
-- Description:	Image migration process
-- =============================================
CREATE PROCEDURE [Admin].[MigrateImages]
	@LoginId int = null
AS
	SELECT
		A.CreatorID 'LoginId',
		ED.AdminInfoID 'EstimateId',
		ImageURL 'WePath'
		,CONCAT(PEI.id, '.',
		(
			SELECT items 
			FROM (
				SELECT images.items, ROW_NUMBER() OVER (ORDER BY items) AS ROWNUM 
				FROM [dbo].Split([ImageURL],'.') AS images) as TBL 
			WHERE ROWNUM = 2)) as fileName
		,CONCAT(PEI.id, '_thumb.',
		(
			SELECT items 
			FROM (
				SELECT images.items, ROW_NUMBER() OVER (ORDER BY items) AS ROWNUM 
				FROM [dbo].Split([ImageURL],'.') AS images) as TBL 
			WHERE ROWNUM = 2)) as thumbFileName
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.[EstimationImages] I
	INNER JOIN EstimationData ED
	ON ED.id = I.EstimationDataID
	INNER JOIN AdminInfo A
	ON A.id = ED.AdminInfoID
	INNER JOIN [dbo].[EstimationImages] PEI
	ON I.ImageURL LIKE CONCAT('%', PEI.FileName, '%')
	AND PEI.AdminInfoID = ED.AdminInfoID
	WHERE A.CreatorID = @LoginId
	ORDER BY fileName
GO
