USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Admin].[GET_PdrReport] 
AS 
BEGIN 
 
SELECT [creatorid]                    AS 'LoginId',  
       L.companyname                  AS 'CompanyName',  
       S.firstname + ' ' + S.lastname AS 'SalesRep',  
       Count(*)                       AS 'NumberOfEstimates',  
       Max([lastview])                AS 'Date'  
FROM   [focuswrite].[dbo].[admininfo] A  
       INNER JOIN [focuswrite].[dbo].[pdr_estimatedata] PDR  
               ON PDR.admininfoid = A.id  
       INNER JOIN logins L  
               ON L.id = A.creatorid  
       INNER JOIN salesrep S  
               ON S.salesrepid = L.salesrepid  
GROUP  BY [creatorid],  
          L.companyname,  
          S.firstname + ' ' + S.lastname  
ORDER  BY Max(lastview) DESC  
 
END
GO
