USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 12/1/2018
-- Description:	Estimate Migration - LOG_EXCEPTION
-- =============================================
CREATE PROCEDURE [Admin].[LOG_EXCEPTION]
	@loginId int = null,
	@Exception nvarchar(max) = null
AS
BEGIN
	INSERT INTO [dbo].[ImportQueueException]
			   ([LoginId]
			   ,[Message]
			   ,[CreateDate])
		 VALUES
			   (@loginId
			   ,@Exception
			   ,GETDATE())
	END
GO
