USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 10/1/2021
-- =============================================
CREATE PROCEDURE [dbo].[ProAdvisorTotalCache_GetForLogin]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT SUM(ISNULL(ProAdvisorEstimateTotalCache.Total, 0)) AS Total
	FROM AdminInfo
	JOIN ProAdvisorEstimateTotalCache ON AdminInfo.ID = ProAdvisorEstimateTotalCache.EstimateID
	WHERE 
		AdminInfo.CreatorID = @LoginID
		AND ISNULL(AddOnProfileID, 0) > 0
		--AND AdminInfo.Deleted = 0

END
GO
