USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/24/2020
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPreset_AddToEstimate]
	  @EstimateID				int
	, @PresetID					int
	, @ParentLineID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @EstimationDataID INT 
	DECLARE @SupplementLevel INT

	SELECT @EstimationDataID = ID, @SupplementLevel = LockLevel
	FROM EstimationData 
	WHERE AdminInfoID = @EstimateID

	DECLARE @LineNumber INT = dbo.GetLastLineNumber(@EstimateID) + 1 --(SELECT MAX(LineNumber) FROM EstimationLineItems WHERE EstimationDataID = @EstimationDataID) + 1

	-----------------------------------------------------------------------------------------------------------------------------------------------------
	-- Add the main line item
	-----------------------------------------------------------------------------------------------------------------------------------------------------
	INSERT INTO EstimationLineItems
	(
		  EstimationDataID
		, StepID
		, PartNumber
		, PartSource
		, ActionCode
		, Description
		, Price
		, LaborTime
		, Qty
		, ActionDescription
		, PartSourceVendorID
		, SupplementVersion
		, LineNumber
		, ModifiesID
		, PartOfOverhaul
		, SubletPartsFlag
		, SubletOperationFlag
		, UniqueSequenceNumber
		, ACDCode
		, PresetShellID
		, ParentLineID
	)
	SELECT 
		@EstimationDataID
		, 0
		, ''
		, ''
		, AddOnPresetShell.OperationType
		, AddOnPresetShell.Name
		, AddOnPreset.Charge
		, 0
		, 1
		, ''
		, 0
		, @SupplementLevel
		, @LineNumber
		, -1
		, 0
		, AddOnPresetShell.Sublet
		, AddOnPresetShell.Sublet
		, 0
		, 'A'
		, AddOnPresetShell.ID
		, @ParentLineID
	FROM AddOnPreset
	LEFT OUTER JOIN AddOnPresetShell ON AddOnPreset.PresetShellID = AddOnPresetShell.ID AND AddOnPresetShell.Deleted = 0
	WHERE AddOnPreset.ID = @PresetID

	DECLARE @LineItemID INT = SCOPE_IDENTITY()


	-----------------------------------------------------------------------------------------------------------------------------------------------------
	-- Add the Main labor line
	-----------------------------------------------------------------------------------------------------------------------------------------------------
	INSERT INTO EstimationLineLabor
	(
		  EstimationLineItemsID
		, LaborType
		, LaborSubType
		, LaborTime
	)
	SELECT
		@LineItemID
		, CASE 
			WHEN AddOnPresetShell.LaborType = 'Body' THEN 1
			WHEN AddOnPresetShell.LaborType = 'Frame' THEN 2
			WHEN AddOnPresetShell.LaborType = 'Mechanical' THEN 4
			ELSE 0
		 END
		, 0
		, AddOnPreset.Labor
	FROM AddOnPreset
	LEFT OUTER JOIN AddOnPresetShell ON AddOnPreset.PresetShellID = AddOnPresetShell.ID AND AddOnPresetShell.Deleted = 0
	WHERE 
		AddOnPreset.ID = @PresetID
		AND AddOnPresetShell.LaborType IN ('Body', 'Frame', 'Mechanical')

	-----------------------------------------------------------------------------------------------------------------------------------------------------
	-- Add the Other labor line
	-----------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @OtherCharge MONEY
	DECLARE @OtherType VARCHAR(20)

	SELECT
		  @OtherCharge = ISNULL(AddOnPreset.OtherCharge, 0)
		, @OtherType = CASE WHEN AddOnPreset.OtherTypeOverride <> '' THEN AddOnPreset.OtherTypeOverride ELSE ISNULL(AddOnPresetShell.OtherType, '') END
	FROM AddOnPreset
	LEFT OUTER JOIN AddOnPresetShell ON AddOnPreset.PresetShellID = AddOnPresetShell.ID AND AddOnPresetShell.Deleted = 0
	WHERE 
		AddOnPreset.ID = @PresetID

	IF @OtherType <> '' AND @OtherCharge <> 0
		BEGIN
			DECLARE @OtherTypeID INT = 
			(
				SELECT CASE 
					WHEN @OtherType = 'Nontaxed' THEN 13
					WHEN @OtherType = 'Taxed' THEN 14
					WHEN @OtherType = 'Sublet' THEN 15
					WHEN @OtherType = 'Towing' THEN 30
					WHEN @OtherType = 'Storage' THEN 31 
				END
			)

			--SELECT @OtherCharge, @OtherType
			INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborCost)
			SELECT @LineItemID, @OtherTypeID, @OtherCharge
		END

	-----------------------------------------------------------------------------------------------------------------------------------------------------
	-- Calculate the paint labor
	-- This was copied from PaintCalculations.js and edited to work in this context
	-----------------------------------------------------------------------------------------------------------------------------------------------------

	-- Get the Paint Type from the vehicle info record
	DECLARE @PaintType INT = (SELECT DefaultPaintType
	FROM EstimationData
	LEFT OUTER JOIN VehicleInfo ON EstimationData.ID = VehicleInfo.EstimationDataId
	WHERE EstimationData.AdminInfoID = @EstimateID)

	-- Get the Paint Hours from the user defined Preset value
	DECLARE @PaintHours REAL = (SELECT Refinish FROM AddOnPreset WHERE ID = @PresetID)

	-- Initialize the paint time values 
	DECLARE @ClearcoatTime		real = 0
	DECLARE @BlendTime			real = 0
	DECLARE @EdgingTime			real = 0
	DECLARE @UndersideTime		real = 0
	DECLARE @TwoToneThreeStageTime	real = 0

	DECLARE @IncludeClearCoat	bit = 0

	-- Get paint rate values from the Rate Profile
	DECLARE @BlendGain			real 
	DECLARE @ThreeTwoBlend		real
	DECLARE @EdgingMin			real
	DECLARE @UndersideGain		real
	DECLARE @ClearCoatMajor		real
	DECLARE @paintGain_2ToneMajor real
	DECLARE @paintGain_3StageMajor real

	-- Get paint rates values
	SELECT 
		  @BlendGain = CustomerProfilesPaint.Blend
		, @ThreeTwoBlend = CustomerProfilesPaint.ThreeTwoBlend
		, @EdgingMin = CustomerProfilesPaint.Edging
		, @UndersideGain = CustomerProfilesPaint.Underside
		, @ClearCoatMajor = CustomerProfilesPaint.MajorClearCoat
		, @paintGain_2ToneMajor = CustomerProfilesPaint.MajorTwoTone
		, @paintGain_3StageMajor = CustomerProfilesPaint.MajorThreeStage
	FROM CustomerProfiles
	LEFT OUTER JOIN CustomerProfilesPaint ON CustomerProfiles.id = CustomerProfilesPaint.CustomerProfilesID
	WHERE AdminInfoID = @EstimateID

    if (@PaintType IN (18, 29))
        SET @BlendGain = @ThreeTwoBlend;

	-- Calculate blend before the adjacent deduction
	SET @BlendTime = @PaintHours * @BlendGain

    IF (@PaintHours >= @EdgingMin)
		SET @EdgingTime = 0.5

	SET @UndersideTime = @PaintHours * @UndersideGain

	DECLARE @SingleStageMult INT = 1
	IF @PaintType = 16
	    SET @SingleStageMult = 0

	SELECT @PaintHours, @ClearCoatMajor, @SingleStageMult

	SET @ClearcoatTime = @PaintHours * @ClearCoatMajor * @SingleStageMult

    IF @PaintHours <> 0 AND @PaintType <> 16
		SET @IncludeClearCoat = 1

	IF @PaintType = 0
		SET @IncludeClearCoat = 1

	-- Calculations for 3 stage or 2 tone
	if @PaintType = 18 or @PaintType = 29
		BEGIN
		--       $("#" + prefix + "toneStageContainer").show();

			DECLARE @ToneStageMult INT = 0

			-- 2 tone
            IF @PaintType = 29
                SET @ToneStageMult = @paintGain_2ToneMajor
            -- or 3 stage
            ELSE IF @PaintType = 18
                SET @ToneStageMult = @paintGain_3StageMajor
            
		END

	INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime)
	SELECT @LineItemID, 19, 0, @PaintHours

	INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, Include)
	SELECT @LineItemID, 20, 0, @ClearcoatTime / 100, @IncludeClearCoat

	INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime)
	SELECT @LineItemID, 21, 0, @EdgingTime

	INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime)
	SELECT @LineItemID, 22, 0, @UndersideTime / 100

	INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime)
	SELECT @LineItemID, 26, 0, @BlendTime / 100


	EXECUTE RedoLineNumbers @AdminInfoID = @EstimateID   

END
GO
