USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*      */
CREATE PROCEDURE [dbo].[spGetPartOrders]
	@AdminInfoID Int
AS
	SELECT	AdminInfo.id 'AdminInfoID',
		EstimationLineItems.PartNumber,
		EstimationLineItems.Description,
		ISNULL(EstimationLineItems.PartSource,'') 'PartSource',
		CONVERT(VarChar(50),
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other'
				ELSE ISNULL(EstimationLineItems.PartSource,'Other') 
			END) + ' ' + 'Parts' 'Type',
		EstimationLineItems.Price 'Price',
		EstimationLineItems.Qty 'Qty',
		CASE 	WHEN EstimationLineItems.PartSourceVendorID > 0 THEN EstimationLineItems.PartSourceVendorID
			ELSE -1
		END PartSourceVendorID,
		VehicleInfo.VehicleID
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	INNER JOIN VehicleInfo WITH (NOLOCK) ON
		(VehicleInfo.EstimationDataId = EstimationData.Id)
	LEFT JOIN EstimationLineItems EstimationLineItemsOverridden WITH (NOLOCK) ON
		(EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id)
	WHERE	AdminInfo.ID = @AdminInfoID AND
		EstimationLineItemsOverridden.ModifiesID IS NULL AND
		(	ISNULL(EstimationLineItems.PartNumber,'') <> '' OR
			ISNULL(EstimationLineItems.Description,'') <> '') AND
		EstimationLineItems.ActionCode IN ('Add','Replace','R+R')



GO
