USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/5/2017 
-- Description:	Update an estimate's "job status".  This code is copied from the old database's UpdateEstimateInformation SP which is no longer used 
-- ============================================= 
CREATE PROCEDURE [dbo].[UpdateJobStatus] 
	@LoginsID		int, 
	@AdminInfoID	int, 
	@JobStatus		int 
AS 
BEGIN 
	IF ISNULL(@JobStatus, 0) > 0 
	BEGIN 
		IF 	(SELECT Max(ID) FROM JobStatusHistory WITH (NOLOCK) WHERE AdminInfoID = @AdminInfoID) IS NULL OR 
			(	 
				SELECT JobStatusID  
				FROM JobStatusHistory 
				WHERE ID = (SELECT Max(ID) FROM JobStatusHistory WHERE AdminInfoID = @AdminInfoID)	 
			) <> @JobStatus 
		BEGIN 
			INSERT INTO JobStatusHistory (AdminInfoID, JobStatusID, ActionDate) 
				VALUES (@AdminInfoID, @JobStatus, GetDate()) 
 
			IF @JobStatus = 2 
			BEGIN 
				IF (	 
					SELECT ISNULL(WorkOrderNumber, 0) 
					FROM AdminInfo 
					WHERE AdminInfo.ID = @AdminInfoID 
				) = 0 
				BEGIN 
					DECLARE @WorkOrderNumber INT; 
 
					EXECUTE GetWorkOrderNumber 
						@LoginsID = @LoginsID, 
						@WorkOrderNumber = @WorkOrderNumber OUTPUT 
	 
					UPDATE AdminInfo  
					SET WorkOrderNumber = @WorkOrderNumber 
					WHERE AdminInfo.ID = @AdminInfoID 
				END 
			END 
			 
		END 
	END 
END 
GO
