USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/4/2020
-- Description:	Log that a feature has been sent to SuccessBox
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBox_LogFeatureSynced]
	  @ID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE SuccessBoxFeatureLog
	SET SyncStamp = GETDATE()
	WHERE ID = @ID
    
END
GO
