USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
3/13/2023 - EVB: This the loan app info associated for a given login id & estimate id.

EXEC [dbo].[Wisetack_LoanApplicationInfo_Get] @LoginID = 56027, @AdminInfoID = 12793833
*/
CREATE PROCEDURE [dbo].[Wisetack_LoanApplicationInfo_Get]
	@LoginID int,
	@AdminInfoID int
AS
BEGIN
SET NOCOUNT ON

	SELECT	MerchantID,
			MerchantSignupLink,
			MerchantSignupStatus,
			TransactionID,
			CustomerName, 
			MaximumAmount, 
			RequestedLoanAmount, 
			ApprovedLoanAmount,
			LoanApplicationLink,
			LoanApplicationStatus,
			ApplicationStartDate,
			DateOfLastUpdate,
			AdminInfoID,
			AmountToFinance,
			EstimatedDateOfCompletion,
			LoanAppMobileNumber,
			ExpirationDate
	FROM	
	(
		SELECT		Logins.WisetackMerchantID AS MerchantID,
					Logins.WisetackSignupLink AS MerchantSignupLink,
					(SELECT TOP 1 [Status] FROM WisetackCallbackMerchantSignup WHERE MerchantID = Logins.WisetackMerchantID ORDER BY CallbackDate DESC) AS MerchantSignupStatus,
					AdminInfo.WisetackTransactionID AS TransactionID,
					ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') AS CustomerName,
					loanApp.MaximumAmount, 
					loanApp.RequestedLoanAmount, 
					loanApp.ApprovedLoanAmount,
					AdminInfo.WisetackPaymentLink AS LoanApplicationLink,
					loanApp.ChangedStatus AS LoanApplicationStatus,
					loanApp.LoanCreatedAt AS ApplicationStartDate,
					loanApp.CreatedDate AS DateOfLastUpdate,
					AdminInfo.ID AS AdminInfoID,
					AdminInfo.WisetackAmountToFinance AS AmountToFinance,
					AdminInfo.WisetackEstimatedDateOfCompletion AS EstimatedDateOfCompletion,
					AdminInfo.WisetackLoanAppMobileNumber AS LoanAppMobileNumber,
					loanApp.ExpirationDate,
					ROW_NUMBER() OVER (PARTITION BY AdminInfo.WisetackTransactionID ORDER BY CreatedDate DESC) as RowNumber
		FROM		AdminInfo
		INNER JOIN	Logins on Logins.ID = AdminInfo.CreatorID
		LEFT JOIN	Customer  with(nolock)   ON AdminInfo.CustomerID = Customer.ID
		LEFT JOIN	tbl_ContactPerson  AS person with(nolock) ON Customer.ContactID = person.ContactID		
		LEFT JOIN	WisetackCallbackLoanApplication as loanApp on AdminInfo.WisetackTransactionID = loanApp.TransactionID
		WHERE		Logins.ID = @LoginID 
					AND AdminInfo.ID = @AdminInfoID
					AND ISNULL(loanApp.EventType, '') <> 'LOAN_PAYOUT'
	) AS a
	WHERE	RowNumber = 1

END
GO
