USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create FUNCTION [dbo].[GetServiceBarcode](@AdminInfoID Int)
RETURNS VarChar(10) AS  
BEGIN 	
	DECLARE @Service_BarCode VarChar(10)
	DECLARE @Service_BarCode2 VarChar(10)
	
	 
			select @Service_BarCode = x.Service_Barcode,
				@Service_BarCode2 = x.Service_Barcode
			from FocusWrite.dbo.EstimationData as e
				inner join FocusWrite.dbo.VehicleInfo as v
					on v.EstimationDataId = e.id
				inner join Vinn.dbo.Vehicle_Service_Xref as x
					on v.VehicleID = x.VehicleID
			where e.AdminInfoID = @AdminInfoID		
		 
		IF @Service_BarCode2 = '' SELECT @Service_BarCode2 = NULL
			RETURN ISNULL(@Service_BarCode2,@Service_BarCode)
END




GO
