USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DataMigration_GetUnimportedEstimates_NoDateRange]
	@LoginID		int
AS
BEGIN
	
	SELECT a.id
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AdminInfo a
	INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.EstimationData e
		ON a.id = e.AdminInfoID
	WHERE 
		CreatorID = @LoginID
		AND a.id NOT IN (SELECT id FROM AdminInfo WHERE CreatorID = @LoginID)
		--AND e.EstimationDate > DATEADD(YEAR, -3, GETDATE())
		AND a.Deleted = 0
	ORDER BY id DESC

END
GO
