USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[TieVin2]
	@VinDecode VarChar(2000)
AS

SET NOCOUNT ON

DECLARE @ModelYear SmallInt
DECLARE @Make VarChar(50)
DECLARE @Model VarChar(50)
DECLARE @Country VarChar(50)
DECLARE @Manufacturer VarChar(50)
DECLARE @TrimLevel VarChar(50)
DECLARE @Series VarChar(50)
DECLARE @SearchText VarChar(100)


	SELECT @Manufacturer = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Manufacturer'),
		@Model = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Model'),
		@ModelYear = CONVERT(SmallInt,FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Model Year')),
		@Make = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Make'),
		@Country = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Country'),
		@TrimLevel = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Trim Level'),
		@Series = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Series')

	SELECT @Model = CASE	WHEN @Model = 'Camry Solara' THEN 'Solara'
				ELSE @Model
			END
	IF @Model = 'Ion' AND @TrimLevel = 'Level 1' 
		SELECT @Model = 'Ion-1', @TrimLevel = '' 
	IF @Model = 'Ion' AND @TrimLevel = 'Level 2' 
		SELECT @Model = 'Ion-2', @TrimLevel = '' 
	IF @Model = 'Ion' AND @TrimLevel = 'Level 3' 
		SELECT @Model = 'Ion-3', @TrimLevel = '' 

	IF @Model = 'Silverado' 
	BEGIN
		IF @Series LIKE '%1500HD' 	SELECT @Model = 'Silverado 1500 HD', @Series = ''
		ELSE IF @Series LIKE '%1500' 	SELECT @Model = 'Silverado 1500', @Series = ''
		ELSE IF @Series LIKE '%2500HD'	SELECT @Model = 'Silverado 2500 HD', @Series = ''
		ELSE IF @Series LIKE '%2500'	SELECT @Model = 'Silverado 2500', @Series = ''
		ELSE IF @Series LIKE '%3500HD'	SELECT @Model = 'Silverado 3500 HD', @Series = ''
		ELSE IF @Series LIKE '%3500'	SELECT @Model = 'Silverado 3500', @Series = ''
	END
	IF @Model = 'Ram Pickup' 
	BEGIN
		SELECT @Model = 'Ram ' + @Series + ' Pickup', @Series = ''
	END
	IF @Make like 'Mercedes-Benz%'
	BEGIN
		SELECT @Make = 'Mercedes-Benz', @Model = ''
	END
	IF @Make like 'Ford%' AND @Model LIKE 'F_50'
	BEGIN
		SELECT @Make = 'Ford', @Model = SubString(@Model,1,1) + '-' + SubString(@Model,2,LEN(@Model)), @TrimLevel = '' 
	END

	IF @Make = 'BMW'
	BEGIN
		SELECT @Model = ''
	END

	IF @Make = 'Volkswagen' AND @Model = 'New Beetle'
		SELECT  @Model = 'Beetle'

	IF @TrimLevel LIKE '%;%'
		SELECT @TrimLevel = ''

	IF @Series LIKE '%;%'
		SELECT @Series = ''

	SELECT @Manufacturer = 	CASE	WHEN @Manufacturer = 'General Motors Corporation' THEN 'General Motors'
					WHEN @Manufacturer = 'American Honda Motor Co. Inc.' THEN 'Honda'
					WHEN @Manufacturer = 'Audi NSU Auto Union AG' THEN 'Audi'
					WHEN @Manufacturer LIKE 'Ford Motor Company%' THEN 'Ford'
					WHEN @Manufacturer = 'Toyota Motor Corporation' THEN 'Toyota'
					WHEN @Manufacturer = 'Nissan Motor Co. Ltd.' THEN 'Nissan'
					WHEN @Manufacturer Like 'DaimlerChrysler%' THEN 'DaimlerChrysler'
					WHEN @Manufacturer = 'Bayerische Motoren Werke AG' THEN 'BMW'
					WHEN @Manufacturer Like 'Volkswagen%' THEN 'Volkswagen'
					-- WHEN @Manufacturer = '' THEN ''
					ELSE @Manufacturer
				END


	SELECT @SearchText = LTRIM(RTRIM(REPLACE(REPLACE(CONVERT(VarChar(4),@ModelYear) + ' ' + @Make + ' ' + @Model + ' ' + @TrimLevel,'Base',''),'  ',' ')))
	--PRINT @SearchText

	EXECUTE Vehicles.Dbo.App_GetVehicleInfo
		@Function = 'Search2',
		@SearchText = @SearchText

	/*SELECT @Manufacturer 'Manufacturer',
		@Model 'Model',
		@ModelYear 'Model Year',
		@Make 'Make',
		@Country 'Country',
		@TrimLevel 'Trim Level',
		@Series 'Series',
		@SearchText 'SearchText'*/



GO
