USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalReport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[SalesRepID] [int] NULL,
	[SalesRep] [nvarchar](150) NULL,
	[CompanyName] [nvarchar](500) NULL,
	[Contact] [nvarchar](200) NULL,
	[Phone] [nvarchar](25) NULL,
	[State] [nchar](25) NULL,
	[FrameData] [bit] NULL,
	[Ems] [bit] NULL,
	[Multi] [bit] NULL,
	[PDR] [bit] NULL,
	[RenewalAmount] [real] NULL,
	[RenewalDate] [date] NULL,
	[EstCountTotal] [int] NULL,
	[EstCountCur] [int] NULL,
	[YearsWE] [int] NULL,
	[WillRenew] [bit] NULL,
	[WillNotRenew] [bit] NULL,
	[HasRenewed] [bit] NULL,
	[PastDue] [real] NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreateDate] [datetime] NOT NULL,
	[Platform] [nvarchar](20) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RenewalReport_HasRenewed] ON [dbo].[RenewalReport]
(
	[HasRenewed] ASC
)
INCLUDE([LoginID],[RenewalDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RenewalReport_LoginID_HasRenewed] ON [dbo].[RenewalReport]
(
	[LoginID] ASC,
	[HasRenewed] ASC
)
INCLUDE([RenewalDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RenewalReport] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
