USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure




CREATE PROCEDURE [dbo].[EMS_Export_GetAdministrative2_201]
	@AdminInfoID Int
 AS
 
SET NOCOUNT ON
SET FMTONLY OFF
DECLARE @LoginsID Int
DECLARE @PolicyNumber VarChar(25)
DECLARE @ClaimNumber VarChar(25)
DECLARE @recordcount int

SELECT @LoginsID = AdminInfo.CreatorID
FROM AdminInfo AdminInfo
WHERE AdminInfo.id = @AdminInfoID

CREATE TABLE #Claimant (
	ContactsID Int,
	CompanyName VarChar (255)  NULL ,
	CompanyIDCode VarChar (255)  NULL ,
	ContactFirstName VarChar (255)  NULL ,
	ContactLastName VarChar (255)  NULL ,
	AddressLine1 VarChar (255)  NULL ,
	AddressLine2 VarChar (255)  NULL ,
	City VarChar (255)  NULL ,
	State VarChar (255)  NULL ,
	Zip VarChar (255)  NULL ,
	Phone1 VarChar (255)  NULL ,
	Phone2 VarChar (255)  NULL ,
	Fax VarChar (255)  NULL ,
	Country VarChar (3)  NULL ,
	EmailAddress VarChar(255) NULL)


INSERT INTO #Claimant
	--EXECUTE GetContactDetails @AdminInfoID, 3 --Claimant
	SELECT ContactID, BusinessName, '', FirstName, LastName, Address1, Address2, City, State, Zip, Phone1, Phone2, FaxNumber, Country, Email
	FROM tbl_ContactPerson
	LEFT OUTER JOIN tbl_Address ON tbl_Address.ContactsID = tbl_ContactPerson.ContactID
	LEFT OUTER JOIN EstimationData ON EstimationData.AdminInfoID = @AdminInfoID
	WHERE tbl_ContactPerson.AdminInfoID = @AdminInfoID
	AND ContactSubTypeID = CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN 4 ELSE 3 END

CREATE TABLE #EstimatorInfo (
	ContactsID Int,
	CompanyName VarChar (255)  NULL ,
	CompanyIDCode VarChar (255)  NULL ,
	ContactFirstName VarChar (255)  NULL ,
	ContactLastName VarChar (255)  NULL ,
	AddressLine1 VarChar (255)  NULL ,
	AddressLine2 VarChar (255)  NULL ,
	City VarChar (255)  NULL ,
	State VarChar (255)  NULL ,
	Zip VarChar (255)  NULL ,
	Phone1 VarChar (255)  NULL ,
	Phone2 VarChar (255)  NULL ,
	Fax VarChar (255)  NULL ,
	Country VarChar (3)  NULL ,
	EmailAddress VarChar(255) NULL)

INSERT INTO #EstimatorInfo
	--EXECUTE GetContactDetails 179, 23 --EstimatorInfo

--IF (	SELECT COUNT(*) FROM #EstimatorInfo) = 0
--	INSERT INTO #EstimatorInfo
--		EXECUTE GetContactDetails @AdminInfoID, 8 --EstimatorInfo
	SELECT 0, '', '', AuthorFirstName, AuthorLastName, '', '', '', '', '', '', '', '', '', ''
	FROM EstimatorsData
	WHERE AdminInfoID = @AdminInfoID

CREATE TABLE #InspectionSite (
	ContactsID Int,
	CompanyName VarChar (255)  NULL ,
	CompanyIDCode VarChar (255)  NULL ,
	ContactFirstName VarChar (255)  NULL ,
	ContactLastName VarChar (255)  NULL ,
	AddressLine1 VarChar (255)  NULL ,
	AddressLine2 VarChar (255)  NULL ,
	City VarChar (255)  NULL ,
	State VarChar (255)  NULL ,
	Zip VarChar (255)  NULL ,
	Phone1 VarChar (255)  NULL ,
	Phone2 VarChar (255)  NULL ,
	Fax VarChar (255)  NULL ,
	Country VarChar (3)  NULL ,
	EmailAddress VarChar(255) NULL)

INSERT INTO #InspectionSite
	--EXECUTE GetContactDetails @AdminInfoID, 9 --InspectionSite
	SELECT ContactID, BusinessName, '', FirstName, LastName, Address1, Address2, City, State, Zip, Phone1, Phone2, FaxNumber, Country, Email
	FROM tbl_ContactPerson
	LEFT OUTER JOIN tbl_Address ON tbl_Address.ContactsID = tbl_ContactPerson.ContactID
	WHERE tbl_ContactPerson.AdminInfoID = @AdminInfoID
	AND ContactSubTypeID = 9

CREATE TABLE #RepairFacility (
	FederalTaxID VarChar(20) NULL, 
	RegistrationNumber VarChar(20) NULL, 
	CompanyType VarChar(20) NULL,
	FirstName VarChar(255) NULL,
	MiddleName VarChar(255) NULL,
	LastName VarChar(255) NULL,
	CompanyName VarChar(255) NULL,
	Address1 VarChar(255) NULL,
	Address2 VarChar(255) NULL,
	City VarChar(255) NULL,
	State VarChar(255) NULL,
	ZipCode VarChar(255) NULL,
	EmailAddress VarChar(255) NULL,
	Phone1 VarChar(255) NULL,
	PhoneCode1 VarChar(255) NULL,
	Phone2 VarChar(255) NULL, 
	PhoneCode2 VarChar(255) NULL,
	Phone3 VarChar(255) NULL, 
	PhoneCode3 VarChar(255) NULL,
	OrganizatonInfoContactsID Int,
	PaidContract Bit NULL,
	[ExpireDate] DateTime,
	RegistrationNumber2 VarChar(255) NULL,
	GraphicsExpireDate DateTime,
	ManualExpireDate DateTime,
	CustomerNumber VarChar(255) NULL,
	Disabled Bit,
	ShowRepairShopProfiles Bit,
	Appraiser Int,
	OrganizationInfoID Int, 
    timezone varchar(10),
    DelPWRequired bit,
    DelPW varchar(30),
    ShowLaborTimeWO bit)
--This most likely will be the organization information the user entered instead of a separated entry.
--INSERT INTO #RepairFacility
----	EXECUTE FocusWrite.dbo.GetContactDetails @AdminInfoID, 26 --RepairFacility
--	EXECUTE Dbo.Organization_Functions
--		@Function = 'GetOrganizationInfo',
--		@LoginsID = @LoginsID
		
SELECT	TOP 1
	CAST(LEFT(Claimant.ContactLastName,35) as nvarchar(35))	CLMT_LN,
	CAST(LEFT(Claimant.ContactFirstName,35) as nvarchar(35))	CLMT_FN,
	 NULL					CLMT_TITLE,
	 NULL					CLMT_CO_NM,
	CAST(LEFT(Claimant.AddressLine1,40)	as nvarchar(40))	CLMT_ADDR1,
	CAST(LEFT(Claimant.AddressLine2,40) as nvarchar(40))		CLMT_ADDR2,
	CAST(LEFT(Claimant.City,30)	as nvarchar(30))		CLMT_CITY,
	CAST(LEFT(Claimant.State,2)	as nvarchar(2))		CLMT_ST,
	CAST(LEFT(Claimant.Zip,11) as nvarchar(11))			CLMT_ZIP,
	CAST('USA' as nvarchar(3))					CLMT_CTRY,
	CAST(LEFT(dbo.getNumericValue(Claimant.Phone1),10) as nvarchar(10))		CLMT_PH1,
	 NULL					CLMT_PH1X,
	CAST(LEFT(dbo.getNumericValue(Claimant.Phone2),10) as nvarchar(10)) CLMT_PH2,
	 NULL 					CLMT_PH2X,
	CAST(LEFT(dbo.getNumericValue(Claimant.Fax),10) as nvarchar(10))			CLMT_FAX,
	 NULL					CLMT_FAXX,
	CAST(LEFT(Claimant.EmailAddress,80) as nvarchar(80))		CLMT_EA,
	CAST(LEFT(EstimatorInfo.CompanyIDCode,5) as nvarchar(5))	EST_CO_ID,
	CAST(LEFT(EstimatorInfo.CompanyName,35) as nvarchar(35))	EST_CO_NM,
	CAST(LEFT(EstimatorInfo.AddressLine1,40) as nvarchar(40))	EST_ADDR1,
	CAST(LEFT(EstimatorInfo.AddressLine2,40) as nvarchar(40))	EST_ADDR2,
	CAST(LEFT(EstimatorInfo.City,30) as nvarchar(30))		EST_CITY,
	CAST(LEFT(EstimatorInfo.State,2) as nvarchar(2))		EST_ST,
	CAST(LEFT(EstimatorInfo.Zip,11) as nvarchar(11))		EST_ZIP,
	CAST('USA' as nvarchar(3))					EST_CTRY,
	CAST(LEFT(dbo.getNumericValue(EstimatorInfo.Phone1),10)	as nvarchar(10))	EST_PH1,
	 NULL 					EST_PH1X,
	CAST(LEFT(dbo.getNumericValue(EstimatorInfo.Phone2),10) as nvarchar(10))		EST_PH2,
	 NULL 					EST_PH2X,
	CAST(LEFT(dbo.getNumericValue(EstimatorInfo.Fax),10) as nvarchar(10))		EST_FAX,
	 NULL					EST_FAXX,
	CAST(LEFT(EstimatorInfo.ContactLastName,35) as nvarchar(35))	EST_CT_LN,
	CAST(LEFT(EstimatorInfo.ContactFirstName,35) as nvarchar(35))	EST_CT_FN,
	CAST(LEFT(EstimatorInfo.EmailAddress,80) as nvarchar(80))	EST_EA,
	 NULL EST_LIC_NO,
	 NULL EST_FILENO,
	CAST(LEFT(InspectionSite.ContactLastName,35) as nvarchar(35))	INSP_CT_LN,
	CAST(LEFT(InspectionSite.ContactFirstName,35) as nvarchar(35)) INSP_CT_FN,
	CAST(LEFT(InspectionSite.AddressLine1,40) as nvarchar(40))	INSP_ADDR1,
	CAST(LEFT(InspectionSite.AddressLine2,40)	as nvarchar(40)) INSP_ADDR2,
	CAST(LEFT(InspectionSite.City,30) as nvarchar(30))		INSP_CITY,
	CAST(LEFT(InspectionSite.State,2) as nvarchar(2))		INSP_ST,
	CAST(LEFT(InspectionSite.Zip,11) as nvarchar(11))		INSP_ZIP,
	CAST('USA' as nvarchar(3)) INSP_CTRY,
	CAST(LEFT(dbo.getNumericValue(InspectionSite.Phone1),10) as nvarchar(10))		INSP_PH1,
	 NULL					INSP_PH1X,
	CAST(LEFT(dbo.getNumericValue(InspectionSite.Phone2),10) as nvarchar(10))		INSP_PH2,
	 NULL 					INSP_PH2X,
	CAST(LEFT(dbo.getNumericValue(InspectionSite.Fax),10) as nvarchar(10))		INSP_FAX,
	 NULL					INSP_FAXX,
	CAST(LEFT(InspectionSite.EmailAddress,80) as nvarchar(80))	INSP_EA,
	 NULL INSP_CODE,
	 NULL INSP_DESC,
	 NULL INSP_DATE,
	 NULL INSP_TIME,
	 NULL RF_CO_ID,
	CAST(LEFT(RepairFacility.CompanyName	,35) as nvarchar(35))	RF_CO_NM,
	CAST(LEFT(RepairFacility.Address1,40) as nvarchar(40))	RF_ADDR1,
	CAST(LEFT(RepairFacility.Address2,40) as nvarchar(40))	RF_ADDR2,
	CAST(LEFT(RepairFacility.City,30) as nvarchar(30))		RF_CITY,
	CAST(LEFT(RepairFacility.State,2) as nvarchar(2))		RF_ST,
	CAST(LEFT(RepairFacility.ZipCode,11) as nvarchar(11))		RF_ZIP,
	CAST ('USA' as nvarchar(3))					RF_CTRY,
	CAST(LEFT(dbo.getNumericValue(CASE	WHEN RepairFacility.PhoneCode1 NOT IN ('FX','HF') THEN RepairFacility.Phone1
		WHEN RepairFacility.PhoneCode2 NOT IN ('FX','HF') THEN RepairFacility.Phone2
		WHEN RepairFacility.PhoneCode3 NOT IN ('FX','HF') THEN RepairFacility.Phone3
	END),10) as nvarchar(10))					RF_PH1,
	 NULL				RF_PH1X,
	CAST(LEFT(dbo.getNumericValue(CASE	WHEN RepairFacility.PhoneCode2 NOT IN ('FX','HF') THEN RepairFacility.Phone3
		WHEN RepairFacility.PhoneCode3 NOT IN ('FX','HF') THEN RepairFacility.Phone2
	END),10) as nvarchar(10))					RF_PH2,
	 NULL					RF_PH2X,
	CAST(LEFT(dbo.getNumericValue(CASE	WHEN RepairFacility.PhoneCode1 IN ('FX','HF') THEN RepairFacility.Phone1
		WHEN RepairFacility.PhoneCode2 IN ('FX','HF') THEN RepairFacility.Phone2
		WHEN RepairFacility.PhoneCode3 IN ('FX','HF') THEN RepairFacility.Phone3
	END),10) as nvarchar(10))					RF_FAX,
	 NULL					RF_FAXX,
	CAST(LEFT(RepairFacility.LastName,35) as nvarchar(35))	RF_CT_LN,
	CAST(LEFT(RepairFacility.FirstName,35) as nvarchar(35))	RF_CT_FN,
	CAST(LEFT(RepairFacility.EmailAddress,80) as nvarchar(80))	RF_EA,
	CAST(LEFT(RepairFacility.FederalTaxID,30) as nvarchar(30))	RF_TAX_ID,
	 NULL RF_LIC_NO,
	 NULL RF_BAR_NO,
	 NULL RO_IN_DATE,
	 NULL RO_IN_TIME,
	 NULL RO_AUTH,
	 NULL TAR_DATE,
	 NULL TAR_TIME,
	 NULL RO_CMPDATE,
	 NULL RO_CMPTIME,
	 NULL DATE_OUT,
	 NULL TIME_OUT,
	 NULL RF_ESTIMTR,
	 NULL MKTG_TYPE,
	 NULL MKTG_SRC,
	 NULL LOC_NM,
	 NULL LOC_ADDR1,
	 NULL LOC_ADDR2,
	 NULL LOC_CITY,
	 NULL LOC_ST,
	 NULL LOC_ZIP,
	 NULL LOC_CTRY,
	 NULL LOC_CT_LN,
	 NULL LOC_CT_FN,
	 NULL LOC_PH1,
	 NULL LOC_PH1X,
	 NULL LOC_PH2,
	 NULL LOC_PH2X,
	 NULL LOC_FAX,
	 NULL LOC_FAXX,
	 NULL LOC_TITLE,
	 NULL LOC_PH,
	 NULL LOC_PHX,
	 NULL LOC_EA
	 INTO #TEMP
FROM #Claimant Claimant	
LEFT JOIN #EstimatorInfo EstimatorInfo ON
	(1=1)
LEFT JOIN #InspectionSite InspectionSite ON
	(1=1)
LEFT JOIN #RepairFacility RepairFacility ON
	(1=1)
select @recordcount = count(*) from #temp

if isnull(@recordcount,0) = 0 
begin
	insert into #temp
	SELECT 
	  NULL
	, NULL
	, NULL					
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
    , NULL
	,CAST('USA' as nvarchar(3))
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	,CAST('USA' as nvarchar(3))
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL				
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL					
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	,CAST ('USA' as nvarchar(3))
	, NULL
    , NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL 
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL 
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
end
select * from #temp
DROP TABLE #Claimant
DROP TABLE #EstimatorInfo
DROP TABLE #InspectionSite
DROP TABLE #RepairFacility
DROP TABLE #TEMP






GO
