USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/10/2018 
-- Description: Get the estimate ID for an EMS message queue record 
-- ============================================= 
CREATE PROCEDURE [dbo].[EMS_GetEstimateID] 
	@messageID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT msgValue1 
	FROM MessageQueue 
	WHERE msgid = @messageID 
END 
 
 
 
GO
