USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create FUNCTION [dbo].[GeEstCount] ( @BeginDate    DATE,@EndDate date)
RETURNS int as
BEGIN
declare @Count int


select @Count = count(*)  
from estimationdata as e
	inner join AdminInfo as a
		on a.id = e.AdminInfoID
where DATEADD(DAY,0,CAST(EstimationDate as date)) between @BeginDate and @EndDate

return @Count

END



GO
