USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[ComputerKey] [varchar](10) NULL,
	[LastActivity] [datetime] NULL,
	[IsImpersonated] [bit] NULL,
	[DeleteKey] [tinyint] NULL,
	[SiteUserID] [int] NULL,
	[SalesRepID] [int] NULL,
	[IPAddress] [varchar](20) NULL,
	[ComputerName] [varchar](500) NULL,
	[StartTime] [datetime] NULL,
	[DeviceType] [varchar](1) NULL,
	[Browser] [varchar](50) NULL,
 CONSTRAINT [PK_ActiveLogin_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_ActiveLogin_9_1303555623__K1_2_4_11] ON [dbo].[ActiveLogin]
(
	[ID] ASC
)
INCLUDE([LoginID],[LastActivity],[StartTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_ActiveLogin_9_1303555623__K1_K5] ON [dbo].[ActiveLogin]
(
	[ID] ASC,
	[IsImpersonated] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [<Name of Missing Index, sysname,>] ON [dbo].[ActiveLogin]
(
	[LoginID] ASC
)
INCLUDE([LastActivity],[StartTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
