USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessedLines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EstimateID] [int] NULL,
	[Supplement] [int] NULL,
	[LineItemID] [int] NULL,
	[ForSummary] [bit] NULL,
	[PartSourceModified] [bit] NULL,
	[ModifiedSupplementVersion] [int] NULL,
	[ModifiedID] [int] NULL,
	[OriginalID] [int] NULL,
	[Panel] [varchar](50) NULL,
	[Added] [bit] NULL,
	[Removed] [bit] NULL,
	[BettermentType] [varchar](20) NULL,
	[BettermentValue] [float] NULL,
	[BettermentAmount] [float] NULL,
	[BettermentNote] [varchar](5000) NULL,
	[Sublet] [bit] NULL,
	[Action] [varchar](20) NULL,
	[OperationDescription] [varchar](100) NULL,
	[Description] [varchar](200) NULL,
	[PartNumber] [varchar](50) NULL,
	[Price] [money] NULL,
	[PricePreview] [money] NULL,
	[Quantity] [int] NULL,
	[PartSource] [varchar](20) NULL,
	[RemovedPrice] [money] NULL,
	[RemovedPricePreview] [money] NULL,
	[RemovedQuantity] [int] NULL,
	[RemovedPartSource] [varchar](20) NULL,
	[PartSourceImage] [varchar](500) NULL,
	[LaborSummaryPaintPanelD] [varchar](200) NULL,
	[LaborSummaryPaintPanelH] [varchar](200) NULL,
	[LaborTotalPaintPanel] [float] NULL,
	[LaborSummaryPaintD] [varchar](200) NULL,
	[LaborSummaryPaintH] [varchar](200) NULL,
	[LaborTotalPaint] [float] NULL,
	[LaborTotalPaintDollars] [float] NULL,
	[LaborTotalClearcoat] [real] NULL,
	[ClearcoatIncluded] [bit] NULL,
	[ClearcoatSuppliesIncluded] [bit] NULL,
	[LaborSummaryExtraD] [varchar](200) NULL,
	[LaborSummaryExtraH] [varchar](200) NULL,
	[LaborTotalExtra] [float] NULL,
	[LaborTotalExtraOverlapped] [float] NULL,
	[ExtraLaborType] [varchar](20) NULL,
	[ExtraLaborIncludeIn] [varchar](20) NULL,
	[LaborExtraRemovedType] [varchar](50) NULL,
	[LaborExtraRemovedIncludeInType] [varchar](50) NULL,
	[LaborExtraRemovedHours] [float] NULL,
	[LaborExtraRemovedTotal] [float] NULL,
	[LaborIncluded] [bit] NULL,
	[OverlapSupplement] [int] NULL,
	[OtherCharges] [float] NULL,
	[OtherChargesPreview] [float] NULL,
	[OtherChargesLaborType] [int] NULL,
	[RemovedOtherCharges] [float] NULL,
	[RemovedOtherChargesLaborType] [int] NULL,
	[DeductionsMessage] [varchar](100) NULL,
	[AdjacentMessage] [varchar](20) NULL,
	[Notes] [varchar](5000) NULL,
	[NotesPNL] [varchar](5000) NULL,
	[LineNumber] [int] NULL,
	[SupplementVersion] [int] NULL,
	[DeletedBySupplement] [int] NULL,
	[SupplementDisplay] [int] NULL,
	[StepSupp] [varchar](500) NULL,
	[Sorter] [int] NULL,
	[GroupNumber] [int] NULL,
	[OversizedDescription] [varchar](200) NULL,
	[OversizedPrice] [money] NULL,
	[ModifierDescription] [varchar](200) NULL,
	[ModifierPrice] [money] NULL,
	[IsPartsQuantity] [bit] NULL,
	[IsLaborQuantity] [bit] NULL,
	[IsPaintQuantity] [bit] NULL,
	[PartsQuantity] [real] NULL,
	[LaborQuantity] [real] NULL,
	[PaintQuantity] [real] NULL,
	[IsOtherChargesQuantity] [bit] NULL,
	[OtherChargesQuantity] [real] NULL,
	[LaborSummaryPaintPanelPrintDescSubText] [varchar](200) NULL,
	[LaborSummaryExtraPrintDescSubText] [varchar](200) NULL,
 CONSTRAINT [PK_ProcessedLines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EstimateID] ON [dbo].[ProcessedLines]
(
	[EstimateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_ProcessedLines_Action] ON [dbo].[ProcessedLines]
(
	[Action] ASC
)
INCLUDE([LineItemID],[LineNumber],[SupplementVersion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProcessedLines] ADD  CONSTRAINT [DF__Processed__Labor__1AE8028F]  DEFAULT (NULL) FOR [LaborSummaryPaintPanelPrintDescSubText]
GO
ALTER TABLE [dbo].[ProcessedLines] ADD  CONSTRAINT [DF__Processed__Labor__1BDC26C8]  DEFAULT (NULL) FOR [LaborSummaryExtraPrintDescSubText]
GO
