USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContractAddOnHistory_GetForAddOn]
	  @AddOnID		int
	  , @EndQuantity int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM ContractAddOnHistory with(nolock)
	WHERE ContractAddOnID = @AddOnID and (@EndQuantity is null or (EndQuantity >= @EndQuantity and StartQuantity < @EndQuantity))
	      and (@EndQuantity is null or Number = (SELECT Max(Number)
				FROM ContractAddOnHistory with(nolock)
				WHERE ContractAddOnID = @AddOnID and EndQuantity >= @EndQuantity and StartQuantity < @EndQuantity))
	ORDER BY ID desc
END
GO
