USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  VIEW [dbo].[GetTrial]
AS
SELECT		LoginID 
			,(Select MAX(expirationdate)  from  dbo.GetContractTrial(1) where LoginID = c.LoginID and isTrialContract = 0) as Paid
			
			,(Select MAX(expirationdate)  from  dbo.GetContractTrial(1) where LoginID = c.LoginID and isTrialContract = 1) as Trial  
FROM		 dbo.GetContractTrial(1) as c
where LoginID > 0


 
GO
