USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[EMS_Export_GetProfileRates3_201] 
	@AdminInfoID Int 
AS 
 
SET NOCOUNT ON 
SET FMTONLY OFF 
DECLARE @PolicyNumber VarChar(25) 
DECLARE @ClaimNumber VarChar(25) 
 
SELECT 
	CAST(CodeListRateTypes.Code as nvarchar(25))			PRT_TYPE, 
	CustomerProfileRates.Taxable		PRT_TAX_IN, 
	CustomerProfilesMisc.TaxRate		PRT_TAX_RT, 
	CASE 	WHEN CustomerProfileRates.DiscountMarkup > 0 THEN CustomerProfileRates.DiscountMarkup 
		ELSE 0	 
	END	PRT_MKUPP, 
	1 PRT_MKTYP, 
	CASE 	WHEN CustomerProfileRates.DiscountMarkup < 0 THEN CustomerProfileRates.DiscountMarkup 
		ELSE 0	 
	END PRT_DISCP, 
	N'' PRT_TX_TY1, 
	N'' PRT_TX_TY2, 
	N'' PRT_TX_TY3, 
	N'' PRT_TX_TY4, 
	N'' PRT_TX_TY5, 
	N'' PRT_TX_IN1, 
	N'' PRT_TX_IN2, 
	N'' PRT_TX_IN3, 
	N'' PRT_TX_IN4, 
	N'' PRT_TX_IN5  
FROM AdminInfo AdminInfo WITH (NOLOCK) 
INNER JOIN CustomerProfiles CustomerProfiles WITH (NOLOCK) ON 
	(CustomerProfiles.id = AdminInfo.CustomerProfilesID) 
INNER JOIN CustomerProfilesMisc CustomerProfilesMisc WITH (NOLOCK) ON 
	(CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.id) 
INNER JOIN CustomerProfileRates CustomerProfileRates WITH (NOLOCK) ON 
	(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id) 
INNER JOIN RateTypes RateTypes WITH (NOLOCK) ON 
	(RateTypes.id = CustomerProfileRates.RateType) 
INNER JOIN CodeList CodeListRateTypes WITH (NOLOCK) ON 
	(CodeListRateTypes.MasterCodeListTabsID = 38 
	and CodeListRateTypes.Code not in ('PAGN','PAD')
	AND CodeListRateTypes.RateTypeID = CustomerProfileRates.RateType) 
WHERE AdminInfo.ID = @AdminInfoID AND 
	CodeListRateTypes.Code IS NOT NULL 
 
 
 
 
 
 
GO
