USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorDataUpdateHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NULL,
	[FileType] [varchar](25) NULL,
	[DateImported] [datetime] NULL,
 CONSTRAINT [PK_VendorDataUpdateHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VendorDataUpdateHistory] ADD  CONSTRAINT [DF_VendorDataUpdateHistory_DateImported]  DEFAULT (getdate()) FOR [DateImported]
GO
