USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CustomReport_GetData] 
	@AdminInfoID			int = 1 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 

	IF @AdminInfoID = 1 
		BEGIN
			SELECT  
				NULL AS CompanyLogo 
			,  12345 AS EstimateID 
			,  231 AS EstimateNumber 
			, 'A12904' AS WorkOrderNumber 
			, 'CLA491223' AS ClaimNumber 
 
			, FORMAT(GETDATE(), 'M/d/yyyy') AS PrintDate 
			, FORMAT(GETDATE(), 'M/d/yyyy hh:mm tt') AS PrintDateTime
 
			-- Customer contact information 
			, 'Adam' AS CustomerFirstName 
			, 'Fielder' AS CustomerLastName 
			, 'afielder@mail.com' AS CustomerEmail 
			, 'afielder123@mail.com' As CustomerSecondaryEmail 
			, 'Phone 1: 555-334-1044' AS CustomerPhone1   
			, 'Phone 2: 555-841-9844' AS CustomerPhone2  
			, 'Phone 3: 555-562-5402' AS CustomerPhone3 
			, 'Fielder Repairs' AS CustomerBusinessName 
			, 'These are notes about a customer.' AS CustomerNotes 
 
			-- Customer Address 
			, '492 Main St.' AS CustomerAddress1 
			, 'Apt #4' AS CustomerAddress2 
			, 'Chicago' AS CustomerCity 
			, 'IL' AS CustomerState 
			, '60612' AS CustomerZipCode 
 
			-- Vehicle Information 
			, '3GYFNAEY0BS548750' AS VehicleVin  
 
			-- Vehicle Details 
			, '2021' As VehicleYear 
			, 'Honda' As VehicleMake 
			, 'CRV' As VehicleModel 
			, 'EX' As VehicleTrim 
			, '4 Door Utility' As VehicleBody 
			, '3 Stage' As VehiclePaintType 
 
			, '2021' AS VehicleProductionDate 
			, '2.0L 4 Cyl Gas Injected' As VehicleEngine 
			, 'Automatic' As VehicleTransmission 
			, '4WD' As VehicleDriveType 
			, 'Black Forest - G542P' AS VehiclePaintCode 
			, 'Hood' As VehiclePOI   
 
			, 55000 AS VehicleMileageIn  
			, 55000 AS VehicleMileageOut 
			, '$10,500' AS VehicleValue 
			, 'IL349294221' AS VehicleLicenseNumber 
			, 'IL' AS VehicleLicenseState 
			, 'Blue' AS VehicleExtColor   
			, 'Teal' AS VehicleIntColor   
			, '123456' AS VehicleStockNumber 
			, 'Like New' AS VehicleNotes 
			, 'Air Bag Other, Air Dam, Dash Mat, Luggage Racks, Sliding-Manual Sunroof' AS VehicleAccessories 
 
			, 'Acme Insurance Co.' AS InsuranceCompanyName 
 
			, 'James' AS InsuranceAgentFirstName 
			, 'Jameson' AS InsuranceAgentLastName 
			, '555-493-4002' AS InsuranceAgentPhone 
			, '123' AS InsuranceAgentPhoneExtension 
			, '555-443-3421' AS InsuranceAgentFax 
			, 'jjameson@acme.com' AS InsuranceAgentEmail 
 
			, 'Thomas' AS InsuranceAdjusterFirstName 
			, 'Thomson' AS InsuranceAdjusterLastName 
			, '555-403-0092' AS InsuranceAdjusterPhone 
			, '34' AS InsuranceAdjusterPhoneExtension 
			, '555-443-2234' AS InsuranceAdjusterFax 
			, 'tthomson@acme.com' AS InsuranceAdjusterEmail 
 
			, 'Amanda' AS InsuranceClaimRepFirstName 
			, 'Amandason' AS InsuranceClaimRepLastName 
			, '555-456-7382' AS InsuranceClaimRepPhone 
			, '' AS InsuranceClaimRepPhoneExtension 
			, '555-243-5634' AS InsuranceClaimRepFax 
			, 'amandaa@acme.com' AS InsuranceClaimRepEmail 
 
			, 'PL941123' AS InsurancePolicyNumber 
			, 'CL0939911' AS InsuranceClaimNumber 
			, '$5,000' AS InsuranceDeductible 
			, 'Comprehensive' AS InsuranceCoverageType 
			, '12/24/2021' AS InsuranceDateOfLoss 
 
			, 'Mitch' AS InsuranceClaimantFirstName 
			, 'Mitchel' AS InsuranceClaimantLastName 
			, '555-532-2312' AS InsuranceClaimantPhone 
			, '123' AS InsuranceClaimantPhoneExtension 
			, '555-493-3019' AS InsuranceClaimantFax 
			, 'mmitchel@mail.com' AS InsuranceClaimantEmail 
 
			, 'Mitch' AS InsuranceInsuredFirstName 
			, 'Mitchel' AS InsuranceInsuredLastName 
			, '555-532-2312' AS InsuranceInsuredPhone 
			, '123' AS InsuranceInsuredPhoneExtension 
			, '555-493-3019' AS InsuranceInsuredFax 
			, 'mmitchel@mail.com' AS InsuranceInsuredEmail 
 
			, 'Estimate' AS DetailsReportHeader 
			, 'This is a description about the estimate.' AS DetailsEstimateDescription 
			, 'Martin Martinson' AS DetailsEstimator 
			, 'MartinMartinson@gmail.com' AS DetailsEstimatorEmail 
			, '555-123-4567' AS DetailsEstimatorPhone 
			, 'Martins Repair Shop' AS DetailsRepairFacility 
			, 'Estimate Location' AS DetailsEstimateLocation 
			, 'These are some notes about the estimate' AS DetailsEstimateNotes 
			, '123456' AS DetailsPurchaseOrderNumber 
			, '1/1/2022' AS DetailsInspectionDate 
			, '1/1/2022' AS DetailsAssignmentDate 
			, 0 AS DetailsSupplementVersion 
			, 'Closed Repair Order' AS DetailsJobStatus 
 
			, '$1,400' AS TotalsTaxableAmount 
			, '$140' AS TotalsTax 
			, '$2,421' AS TotalsNonTaxableAmount 
			, '$5,442' AS TotalsGrandTotal 
			, '$100' AS TotalsDeductible 
			, '$5,342' AS TotalsNetTotal 

			, '$1,234' AS TotalsAmountPaid
			, '$5,678' AS TotalsAmountOwed
 
			, '$3,333.33' AS EstimateLastSupplementTotal

			, 'JOe@SomeCo.com' AS CompanyEmail 
			, 'Some Company' AS CompanyName 
			, '555-412-6514' AS CompanyPhone 
 
			, '219 99th St.' AS CompanyAddress1 
			, 'Apt 2' AS CompanyAddress2 
			, 'Chicago' AS CompanyCity 
			, 'IL' AS CompanyState 
			, '60615' AS CompanyZip
		END
	ELSE
		BEGIN
			DECLARE @Supplement INT = (SELECT LockLevel FROM EstimationData WHERE AdminInfoID = @AdminInfoID) 
 
			-- Get some data that is too hard to put in the main query 
 
			-- Get the Vehicle Accessories 
			DECLARE @VehicleOptions VARCHAR(2000) = '' 
 
			SELECT @VehicleOptions = @VehicleOptions + Accessory + ', ' 
			FROM EstimationData 
			inner JOIN VehicleInfo ON EstimationData.id   = VehicleInfo.EstimationDataId
			LEFT JOIN VehicleSelectedOptions ON VehicleInfo.id  =  VehicleSelectedOptions.VehicleInfoID
			LEFT JOIN Accessories ON VehicleSelectedOptions.VehicleOptionsID  =  Accessories.id
			WHERE EstimationData.AdminInfoID = @AdminInfoID 
 
			-- Get the current Job Status 
			DECLARE @JobStatusHistoryID INT = (SELECT MAX(ID) FROM JobStatusHistory WHERE AdminInfoID = @AdminInfoID) 
 
			DECLARE @JobStatus VARCHAR(20) = (SELECT JobStatus.Description 
			FROM JobStatusHistory 
			JOIN JobStatus ON JobStatusHistory.JobStatusID = JobStatus.ID 
			WHERE JobStatusHistory.id = @JobStatusHistoryID) 
 
			-- Get the Totals 
			Create TABLE #Totals  
			( 
				SortOrder			int 
				, Type				varchar(50) 
				, Note				varchar(50) 
				, Amount			money 
			) 
			INSERT INTO #Totals 
			EXEC EstimateReport_GetTotals @AdminInfoID = @AdminInfoID, @SupplementVersion = @Supplement 
 
			-- Get the Last Supplement Total
			DECLARE @EstimateLastSupplementTotal money
			IF @Supplement > 0
			BEGIN
				DECLARE @PreviousSupplement INT = @Supplement - 1
				Create TABLE #TotalsPriorToSupplement
				( 
					SortOrder			int 
					, Type				varchar(50) 
					, Note				varchar(50) 
					, Amount			money 
				) 
				INSERT INTO #TotalsPriorToSupplement 
				EXEC EstimateReport_GetTotals @AdminInfoID = @AdminInfoID, @SupplementVersion = @PreviousSupplement

				SET @EstimateLastSupplementTotal = 
					ISNULL((SELECT Amount FROM #Totals WHERE Type = 'Grand Total'), 0) -
					ISNULL((SELECT Amount FROM #TotalsPriorToSupplement WHERE Type = 'Grand Total'), 0)
			END

			-- Get the total paid for this estimate
			DECLARE @TotalPaid money = 0
			SELECT	@TotalPaid = SUM(ISNULL(Amount, 0)) 
			FROM	PaymentInfo
			WHERE	AdminInfoID = @AdminInfoID

			SELECT  top 1 
				  NULL AS CompanyLogo 
				, AdminInfo.ID AS EstimateID 
				, AdminInfo.EstimateNumber AS EstimateNumber 
				, AdminInfo.WorkOrderNumber AS WorkOrderNumber 
				, AdminInfo.ClaimNumber AS ClaimNumber 
 
				, FORMAT(GETDATE(), 'M/d/yyyy') AS PrintDate 
				, FORMAT(GETDATE(), 'M/d/yyyy hh:mm tt') AS PrintDateTime
 
				-- Customer contact information 
				, ContactOwner.FirstName AS CustomerFirstName 
				, ContactOwner.LastName AS CustomerLastName 
				, ContactOwner.Email AS CustomerEmail 
				, ContactOwner.SecondaryEmail As CustomerSecondaryEmail 
				, dbo.GetPhoneType(ContactOwner.PhoneNumberType1, ': ') + dbo.FormatPhoneNumber(ISNULL(ContactOwner.Phone1, '')) + ' ' + ISNULL(ContactOwner.Extension1, '') AS CustomerPhone1   
				, dbo.GetPhoneType(ContactOwner.PhoneNumberType2, ': ') + dbo.FormatPhoneNumber(ISNULL(ContactOwner.Phone2, '')) + ' ' + ISNULL(ContactOwner.Extension2, '') AS CustomerPhone2   
				, dbo.GetPhoneType(ContactOwner.PhoneNumberType3, ': ') + dbo.FormatPhoneNumber(ISNULL(ContactOwner.Phone3, '')) + ' ' + ISNULL(ContactOwner.Extension1, '') AS CustomerPhone3  
				, ContactOwner.BusinessName AS CustomerBusinessName 
				, ContactOwner.Notes AS CustomerNotes 
 
				-- Customer Address 
				, OwnerAddress.Address1 AS CustomerAddress1 
				, OwnerAddress.Address2 AS CustomerAddress2 
				, OwnerAddress.City AS CustomerCity 
				, OwnerAddress.State AS CustomerState 
				, OwnerAddress.Zip AS CustomerZipCode 
 
				-- Vehicle Information 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN    
						ISNULL(VehicleInfoManual.ModelYear,'') + ' ' +     
						ISNULL(VehicleInfoManual.Make,'') + ' ' +    
						ISNULL(VehicleInfoManual.Model,'') + ' ' +     
						ISNULL(VehicleInfoManual.SubModel,'')    
					ELSE    
						FocusWrite.dbo.GetVehicleName(VehicleInfo.VehicleID)    
				END  AS VehicleDescription    
				, VehicleInfo.Vin AS VehicleVin  
 
				-- Vehicle Details 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN VehicleInfoManual.ModelYear ELSE VehicleInfo.Year END As VehicleYear 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN VehicleInfoManual.Make ELSE Makes.Make END As VehicleMake 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN VehicleInfoManual.Model ELSE Models.Model END As VehicleModel 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN VehicleInfoManual.SubModel ELSE CASE WHEN Submodels.SubmodelID = 1 THEN 'Base' ELSE Submodels.Submodel END END As VehicleTrim 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN '' ELSE ISNULL(Bodys.Body, '') END As VehicleBody 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN '' ELSE  
					CASE  
						WHEN VehicleInfo.DefaultPaintType = 0 THEN '' 
						WHEN VehicleInfo.DefaultPaintType = 16 THEN 'Single Stage' 
						WHEN VehicleInfo.DefaultPaintType = 18 THEN '3 Stage' 
						WHEN VehicleInfo.DefaultPaintType = 19 THEN '2 Stage' 
						WHEN VehicleInfo.DefaultPaintType = 29 THEN '2 Tone' 
					END 
				 END As VehiclePaintType 
 
				, VehicleInfo.ProductionDate AS VehicleProductionDate 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN '' ELSE ISNULL(Engines.Engine, '') END As VehicleEngine 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN '' ELSE ISNULL(Transmissions.Transmission, '') END As VehicleTransmission 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN '' ELSE ISNULL(Drives.Drive, '') END As VehicleDriveType 
				, REPLACE(VehicleInfo.ExtColor, '&', '&amp;') AS VehiclePaintCode 
				, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN '' ELSE  
					  CASE WHEN TRIM(ISNULL(POILabel1.Name, '') + ' ' + ISNULL(POIOptions1.Name, '') + ' ' + ISNULL(VehicleInfo.POICustom1, '')) <> '' 
						THEN 'First POI: ' + TRIM(ISNULL(POILabel1.Name, '') + ' ' + ISNULL(POIOptions1.Name, '') + ' ' + ISNULL(VehicleInfo.POICustom1, '')) 
						ELSE '' 
					  END 
					  + 
					  CASE WHEN TRIM(ISNULL(POILabel2.Name, '') + ' ' + ISNULL(POIOptions2.Name, '') + ' ' + ISNULL(VehicleInfo.POICustom2, '')) <> '' 
						THEN '<br />Second POI: ' + TRIM(ISNULL(POILabel2.Name, '') + ' ' + ISNULL(POIOptions2.Name, '') + ' ' + ISNULL(VehicleInfo.POICustom2, '')) 
						ELSE '' 
					  END 
				  END As VehiclePOI   
 
				, FORMAT(VehicleInfo.MilesIn, 'N0') AS VehicleMileageIn  
				, FORMAT(VehicleInfo.MilesOut, 'N0') AS VehicleMileageOut 
				, FORMAT(VehicleInfo.VehicleValue, 'C') AS VehicleValue 
				, VehicleInfo.License AS VehicleLicenseNumber 
				, VehicleInfo.State AS VehicleLicenseState 
				, REPLACE(VehicleInfo.ExtColor , '&', '&amp;') AS VehicleExtColor   
				, REPLACE(VehicleInfo.IntColor , '&', '&amp;') AS VehicleIntColor   
				, VehicleInfo.StockNumber AS VehicleStockNumber 
				, VehicleInfo.Condition AS VehicleNotes 
				, @VehicleOptions AS VehicleAccessories 
 
				, EstimationData.InsuranceCompanyName 
 
				, ISNULL(InsuranceAgent.FirstName, '') AS InsuranceAgentFirstName 
				, ISNULL(InsuranceAgent.LastName, '') AS InsuranceAgentLastName 
				, ISNULL(InsuranceAgent.Phone1, '') AS InsuranceAgentPhone 
				, ISNULL(InsuranceAgent.Extension1, '') AS InsuranceAgentPhoneExtension 
				, ISNULL(InsuranceAgent.FaxNumber, '') AS InsuranceAgentFax 
				, ISNULL(InsuranceAgent.Email, '') AS InsuranceAgentEmail 
 
				, ISNULL(InsuranceAdjuster.FirstName, '') AS InsuranceAdjusterFirstName 
				, ISNULL(InsuranceAdjuster.LastName, '') AS InsuranceAdjusterLastName 
				, ISNULL(InsuranceAdjuster.Phone1, '') AS InsuranceAdjusterPhone 
				, ISNULL(InsuranceAdjuster.Extension1, '') AS InsuranceAdjusterPhoneExtension 
				, ISNULL(InsuranceAdjuster.FaxNumber, '') AS InsuranceAdjusterFax 
				, ISNULL(InsuranceAdjuster.Email, '') AS InsuranceAdjusterEmail 
 
				, ISNULL(InsuranceClaimRep.FirstName, '') AS InsuranceClaimRepFirstName 
				, ISNULL(InsuranceClaimRep.LastName, '') AS InsuranceClaimRepLastName 
				, ISNULL(InsuranceClaimRep.Phone1, '') AS InsuranceClaimRepPhone 
				, ISNULL(InsuranceClaimRep.Extension1, '') AS InsuranceClaimRepPhoneExtension 
				, ISNULL(InsuranceClaimRep.FaxNumber, '') AS InsuranceClaimRepFax 
				, ISNULL(InsuranceClaimRep.Email, '') AS InsuranceClaimRepEmail 
 
				, EstimationData.PolicyNumber AS InsurancePolicyNumber 
				, EstimationData.ClaimNumber AS InsuranceClaimNumber 
				, FORMAT(EstimationData.Deductible, 'C') AS InsuranceDeductible 
				, CASE 
					WHEN EstimationData.CoverageType = 0 THEN 'Comprehensive' 
					WHEN EstimationData.CoverageType = 1 THEN 'Collision' 
					WHEN EstimationData.CoverageType = 2 THEN 'Third Party'  
					ELSE '' 
				  END AS InsuranceCoverageType 
				, EstimationData.DateOfLoss AS InsuranceDateOfLoss 
 
				, CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN ContactOwner.FirstName ELSE InsuranceClaimant.FirstName END AS InsuranceClaimantFirstName 
				, CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN ContactOwner.LastName ELSE InsuranceClaimant.LastName END AS InsuranceClaimantLastName 
				, CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN ContactOwner.Phone1 ELSE InsuranceClaimant.Phone1 END AS InsuranceClaimantPhone 
				, CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN ContactOwner.Extension1 ELSE InsuranceClaimant.Extension1 END AS InsuranceClaimantPhoneExtension 
				, CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN ContactOwner.FaxNumber ELSE InsuranceClaimant.FaxNumber END AS InsuranceClaimantFax 
				, CASE WHEN ISNULL(EstimationData.ClaimantSameAsOwner, 0) = 1 THEN ContactOwner.Email ELSE InsuranceClaimant.Email END AS InsuranceClaimantEmail 
 
				, CASE WHEN ISNULL(EstimationData.InsuredSameAsOwner, 0) = 1 THEN ContactOwner.FirstName ELSE InsuranceInsured.FirstName END AS InsuranceInsuredFirstName 
				, CASE WHEN ISNULL(EstimationData.InsuredSameAsOwner, 0) = 1 THEN ContactOwner.LastName ELSE InsuranceInsured.LastName END AS InsuranceInsuredLastName 
				, CASE WHEN ISNULL(EstimationData.InsuredSameAsOwner, 0) = 1 THEN ContactOwner.Phone1 ELSE InsuranceInsured.Phone1 END AS InsuranceInsuredPhone 
				, CASE WHEN ISNULL(EstimationData.InsuredSameAsOwner, 0) = 1 THEN ContactOwner.Extension1 ELSE InsuranceInsured.Extension1 END AS InsuranceInsuredPhoneExtension 
				, CASE WHEN ISNULL(EstimationData.InsuredSameAsOwner, 0) = 1 THEN ContactOwner.FaxNumber ELSE InsuranceInsured.FaxNumber END AS InsuranceInsuredFax 
				, CASE WHEN ISNULL(EstimationData.InsuredSameAsOwner, 0) = 1 THEN ContactOwner.Email ELSE InsuranceInsured.Email END AS InsuranceInsuredEmail 
 
				, CASE WHEN EstimationData.ReportTextHeader = '' THEN 'Estimate' ELSE EstimationData.ReportTextHeader END AS DetailsReportHeader 
				, AdminInfo.Description AS DetailsEstimateDescription 
				, ISNULL(EstimatorsData.AuthorFirstName, '') + ' ' + ISNULL(EstimatorsData.AuthorLastName, '') AS DetailsEstimator 
				, ISNULL(EstimatorsData.Email, '') AS DetailsEstimatorEmail 
				, ISNULL(EstimatorsData.Phone, '') AS DetailsEstimatorPhone 
				, ISNULL(RepairFacility.CompanyName, '') AS DetailsRepairFacility 
				, EstimationData.EstimateLocation AS DetailsEstimateLocation 
				, EstimationData.Note AS DetailsEstimateNotes 
				, EstimationData.PurchaseOrderNumber AS DetailsPurchaseOrderNumber 
				, EstimationData.EstimationDate AS DetailsInspectionDate 
				, EstimationData.AssignmentDate AS DetailsAssignmentDate 
				, EstimationData.LockLevel AS DetailsSupplementVersion 
				, @JobStatus AS DetailsJobStatus 
 
				, FORMAT((SELECT Amount FROM #Totals WHERE Type = 'Taxable Amount'), 'C') AS TotalsTaxableAmount 
				, FORMAT((SELECT Amount FROM #Totals WHERE Type = 'Tax'), 'C') AS TotalsTax 
				, FORMAT((SELECT Amount FROM #Totals WHERE Type = 'Nontaxable Amount'), 'C') AS TotalsNonTaxableAmount 
				, FORMAT((SELECT Amount FROM #Totals WHERE Type = 'Grand Total'), 'C') AS TotalsGrandTotal 
				, FORMAT((SELECT Amount FROM #Totals WHERE Type = 'Less Deductible'), 'C') AS TotalsDeductible 
				, FORMAT((SELECT Amount FROM #Totals WHERE Type = 'Net Total'), 'C') AS TotalsNetTotal 

				, FORMAT(@TotalPaid, 'C') AS TotalsAmountPaid
				, FORMAT(ISNULL((SELECT Amount FROM #Totals WHERE Type = 'Grand Total'), 0) - @TotalPaid, 'C') AS TotalsAmountOwed

				, FORMAT(@EstimateLastSupplementTotal, 'C') AS EstimateLastSupplementTotal 
 
				, OrganizationContact.Email AS CompanyEmail 
				, Logins.CompanyName AS CompanyName 
				, OrganizationContact.Phone1 AS CompanyPhone 
 
				, CompanyAddress.Address1 AS CompanyAddress1 
				, CompanyAddress.Address2 AS CompanyAddress2 
				, CompanyAddress.City AS CompanyCity 
				, CompanyAddress.State AS CompanyState 
				, CompanyAddress.zip AS CompanyZip	 
 
				, Logins.ID AS LoginID
			FROM AdminInfo 
			inner JOIN EstimationData ON AdminInfo.id = EstimationData.AdminInfoID 
 
			LEFT JOIN Customer ON AdminInfo.CustomerID = Customer.ID 
			LEFT JOIN tbl_ContactPerson AS ContactOwner ON Customer.ContactID = ContactOwner.ContactID 
			LEFT JOIN tbl_Address AS OwnerAddress ON Customer.AddressID = OwnerAddress.AddressID 
 
			inner JOIN VehicleInfo ON EstimationData.id = VehicleInfo.EstimationDataId  
			LEFT JOIN Vinn.dbo.Makes ON VehicleInfo.MakeID = Makes.MakeID 
			LEFT JOIN Vinn.dbo.Models ON VehicleInfo.ModelID = Models.ModelID 
			LEFT JOIN Vinn.dbo.Submodels ON VehicleInfo.SubModelID = Submodels.SubmodelID 
			LEFT JOIN Vinn.dbo.Bodys ON VehicleInfo.BodyType = Bodys.BodyID 
			LEFT JOIN Vinn.dbo.Engines ON VehicleInfo.EngineType = Engines.EngineID 
			LEFT JOIN Vinn.dbo.Transmissions ON VehicleInfo.TransmissionType = Transmissions.TransmissionsID 
			LEFT JOIN Vinn.dbo.Drives ON VehicleInfo.DriveType = Drives.DriveID 
	 
			LEFT JOIN POILabels POILabel1 ON VehicleInfo.POILabel1 = POILabel1.ID 
			LEFT JOIN POIOptions POIOptions1 ON VehicleInfo.POIOption1 = POIOptions1.ID 
			LEFT JOIN POILabels POILabel2 ON VehicleInfo.POILabel2 = POILabel2.ID 
			LEFT JOIN POIOptions POIOptions2 ON VehicleInfo.POIOption2 = POIOptions2.ID 
 
			LEFT JOIN VehicleInfoManual ON VehicleInfo.ID = VehicleInfoManual.VehicleInfoID 
 
			LEFT JOIN tbl_ContactPerson AS InsuranceAgent ON InsuranceAgent.AdmininfoID = @AdminInfoID AND InsuranceAgent.ContactTypeID = 1 AND InsuranceAgent.ContactSubTypeID = 7 
			LEFT JOIN tbl_ContactPerson AS InsuranceAdjuster ON InsuranceAdjuster.AdmininfoID = @AdminInfoID AND InsuranceAdjuster.ContactTypeID = 1 AND InsuranceAdjuster.ContactSubTypeID = 11 
			LEFT JOIN tbl_ContactPerson AS InsuranceClaimRep ON InsuranceClaimRep.AdmininfoID = @AdminInfoID AND InsuranceClaimRep.ContactTypeID = 1 AND InsuranceClaimRep.ContactSubTypeID = 20 
			LEFT JOIN tbl_ContactPerson AS InsuranceClaimant ON InsuranceClaimant.AdmininfoID = @AdminInfoID AND InsuranceClaimant.ContactTypeID = 1 AND InsuranceClaimant.ContactSubTypeID = 3 
			LEFT JOIN tbl_ContactPerson AS InsuranceInsured ON InsuranceInsured.AdmininfoID = @AdminInfoID AND InsuranceInsured.ContactTypeID = 1 AND InsuranceInsured.ContactSubTypeID = 2 
 
			LEFT JOIN EstimatorsData ON EstimationData.EstimatorID = EstimatorsData.EstimatorID 
			LEFT JOIN Vendor AS RepairFacility ON EstimationData.RepairFacilityVendorID = RepairFacility.ID 
 
			LEFT JOIN Logins ON AdminInfo.CreatorID = Logins.id 
			LEFT JOIN tbl_ContactPerson AS OrganizationContact ON Logins.ContactID = OrganizationContact.ContactID 
			LEFT JOIN tbl_Address AS CompanyAddress ON OrganizationContact.ContactID = CompanyAddress.ContactsID 
 
			WHERE AdminInfo.ID = @AdminInfoID 
	END
END
GO
