USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalDw](
	[LoginID] [int] NOT NULL,
	[ContractID] [int] NOT NULL,
	[CompanyName] [varchar](250) NULL,
	[FrameData] [bit] NOT NULL,
	[EMS] [bit] NOT NULL,
	[Contact] [varchar](100) NULL,
	[SalesRep] [varchar](250) NULL,
	[PriceLevel] [int] NULL,
	[RenewalDate] [datetime] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[RenewalAmount] [decimal](18, 0) NULL,
	[Phone] [varchar](100) NULL,
	[WillRenew] [bit] NOT NULL,
	[hasRenewed] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
