USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [dbo].[DocumentsManager_Update] NULL, 'XKDFd','OERE.xls','Description of Document',0
CREATE	PROCEDURE [dbo].[DocumentsManager_Update]
	 @DocumentID    INT = NULL,
	 @Name		    VARCHAR(50) = NULL,
	 @FileName		VARCHAR(50) = NULL,
	 @Category		VARCHAR(2000) = NULL,
	 @IsDeleted		BIT	= 0
AS
BEGIN
	IF @DocumentID IS NULL
	BEGIN
		INSERT INTO	[dbo].[Document] ([FileName],[Name],[Category], [UploadDate],[IsDeleted]) 
		VALUES (@FileName,@Name, @Category, GETDATE(),@IsDeleted)

		SELECT CAST(SCOPE_IDENTITY() AS INT) AS DocumentID
	END
	ELSE
	BEGIN
		UPDATE	[dbo].[Document] SET [FileName] = @FileName, [Name] = @Name, [Category] = @Category,
		[UploadDate] = GETDATE(), [IsDeleted] = @IsDeleted
		WHERE	DocumentID = @DocumentID

		SELECT @DocumentID AS DocumentID
	END
END


GO
