USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetSections]
	@Order VarChar(25)
AS
	IF @Order = 'Grouped'
	BEGIN
		SELECT id, ParentID, SectionName, GroupNumber, StepLevel
		INTO #SectionsListTemp
		FROM Honda.Dbo.SectionsList WITH (NOLOCK)
		ORDER BY ParentID, ID

		SELECT -1 'id', 0 'ParentID', 'Base' 'SectionName', 0 'GroupNumber', 1 'StepLevel'
		UNION
		SELECT *
		FROM #SectionsListTemp
		ORDER BY ParentID, ID

		DROP TABLE #SectionsListTemp
	END
	
	IF @Order  IN ('F2B','B2F','Grouped','Forwards','Backwards')
	BEGIN
		SELECT id,
			0 'ParentID',
			Description + CASE WHEN GraphicsDone = 0 THEN ' *' ELSE '' END 'SectionName',
			id 'GroupNumber',
			ISNULL(Location,255) 'Location',
			1 'StepLevel'
		INTO #SectionsListTempFB
		FROM Honda.Dbo.HondaSteps2 HondaSteps2 WITH (NOLOCK)

		IF @Order = 'F2B'
		BEGIN
			SELECT -1 'id', 0 'ParentID', 'Base' 'SectionName', 0 'GroupNumber', 0 'Location', 1 'StepLevel'
			UNION

			SELECT *
			FROM #SectionsListTempFB
			ORDER BY Location
		END
		IF @Order = 'B2F'
		BEGIN
			SELECT -1 'id', 0 'ParentID', 'Base' 'SectionName', 0 'GroupNumber', 0 'Location', 1 'StepLevel'
			UNION
			SELECT *
			FROM #SectionsListTempFB
			ORDER BY Location DESC
		END
		IF @Order = 'Forwards'
		BEGIN
			SELECT -1 'id', 0 'ParentID', 'Base' 'SectionName', 0 'GroupNumber', 0 'Location', 1 'StepLevel'
			UNION
			SELECT *
			FROM #SectionsListTempFB
			ORDER BY SectionName
		END
		IF @Order = 'Backwards'
		BEGIN
			SELECT -1 'id', 0 'ParentID', 'Base' 'SectionName', 0 'GroupNumber', 0 'Location', 1 'StepLevel'
			UNION
			SELECT *
			FROM #SectionsListTempFB
			ORDER BY SectionName DESC
		END

		DROP TABLE #SectionsListTempFB
	END



GO
