USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 10/28/2019 
-- Description:	Get all invoice records for an Addon ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[GetInvoicesForAddOn]  
	@AddOnID		int 
AS 
BEGIN 
 
	SELECT Invoices.*, CASE WHEN ISNULL(Contracts.IsDeleted, 0) = 1 OR ISNULL(ContractAddOn.IsDeleted, 0) = 1 THEN 1 ELSE 0 END AS ContractIsDeleted 
	FROM Invoices 
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID 
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID 
	WHERE  
		AddOnID = @AddOnID 
		AND ISNULL(Invoices.IsDeleted, 0) = 0 
END 
GO
