USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/16/2017
-- Description:	Save the results of an Image to Vin decoding for debugging.
-- =============================================
CREATE PROCEDURE [dbo].[InsertImageToVinDecodeResult]
	@LoginID		int,
	@VinResult		varchar(50),
	@Success		bit
AS
BEGIN
	INSERT INTO ImageToVinDecodeResults
	(LoginID, TimeStamp, VinResult, Success)
	VALUES (@LoginID, GetDate(), @VinResult, @Success)

	SELECT CAST(SCOPE_IDENTITY() AS INT)
END
GO
