USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec CopyEstimate_Rajiv @AdminInfoID=10200123,@EstimateName=N' copy',@CopyInsurance=1,@CopyClaimant=1,@CopyVehicle=1,@CopyImages=1,@CopyLineItems=1,@LatestInfoOnly=1;

CREATE PROCEDURE [dbo].[CopyEstimate_2_5_2021] 
	@AdminInfoID Int, 
	@EstimateName VarChar(100), 
	@CopyInsurance Bit, 
	@CopyClaimant Bit, 
	@CopyVehicle Bit, 
	@CopyImages Bit, 
	@CopyLineItems Bit, 
	@LatestInfoOnly Bit = 1, 
	@Return Int = NULL OUTPUT 
AS 
	DECLARE @EstimationDataId Int 
	DECLARE @EstimationLineItemsID Int 
	DECLARE @id Int 
	DECLARE @StepID Int 
	DECLARE @PartSource VarChar(10) 
	DECLARE @ActionCode VarChar(20) 
	DECLARE @ActionDescription VarChar(80) 
	DECLARE @PartNumber VarChar(50) 
	DECLARE @Description VarChar(80) 
	DECLARE @Price money 
	DECLARE @PartOfOverhaul bit 
	DECLARE @Qty tinyInt 
	DECLARE @LaborTime real 
	DECLARE @PaIntTime real 
	DECLARE @Other real 
	DECLARE @ImageID Int 
	DECLARE @PartSourceVendorID Int 
	DECLARE @BettermentPartsFlag bit 
	DECLARE @SubletPartsFlag bit 
	DECLARE @BettermentOperationFlag bit 
	DECLARE @SubletOperationFlag bit 
	DECLARE @SupplementVersion tinyInt 
	DECLARE @LineNumber Int 
	DECLARE @UniqueSequenceNumber Int 
	DECLARE @OldContactsID Int 
	DECLARE @NewContactsID Int 
	DECLARE @ContactTypeID Int 
	DECLARE @ContactSubTypeID Int 
	DECLARE @ModifiesID Int 
	DECLARE @ACDCode VarChar(5) 
	DECLARE @CustomerPrice Real  
	DECLARE @BettermentPercentage Real 
	DECLARE @AutomaticCharge Bit 
	DECLARE @SourcePartNumber VarChar(25) 
	DECLARE @UniversalAddress Bit 
	DECLARE @DateAdded DateTime 
	DECLARE @LoginsID Int 
	DECLARE @EstimateNumber Int 
	DECLARE @Barcode VarChar(10)  
	DECLARE @dbPrice Money 
	DECLARE @MaxSupplementVersion Int 
	 
	DECLARE @contactFirstName VARCHAR(50) 
	DECLARE @contactMiddleName VARCHAR(50) 
	DECLARE @contactLastName VARCHAR(50) 
	DECLARE @contactEmail VARCHAR(50) 
	DECLARE @contactPhone1 VARCHAR(50) 
	DECLARE @contactExtension1 VARCHAR(10) 
	DECLARE @contactPhone2 VARCHAR(50) 
	DECLARE @contactExtension2 VARCHAR(10) 
	DECLARE @contactFaxNumber VARCHAR(50) 
	DECLARE @contactBusinessName VARCHAR(100) 
	DECLARE @contactNotes VARCHAR(1500) 
	DECLARE @contactTitle VARCHAR(50) 
	DECLARE @contactSaveCustomer BIT 
	DECLARE @contactContactTypeID TINYINT 
	DECLARE @contactContactSubTypeID SMALLINT 
 
	SELECT @LoginsID = CreatorID 
	FROM AdminInfo WITH (NOLOCK) 
	WHERE ID = @AdminInfoID 
 
	EXECUTE GetEstimateNumber @LoginsID, @EstimateNumber OUTPUT 
	-- Create new AdminInfo Entry 
	INSERT INTO AdminInfo WITH (ROWLOCK)  (Description, CreatorID, CustomerProfilesID, GrandTotal, BettermentTotal, EstimateNumber, CustomerID) 
		SELECT  
			@EstimateName 
			, CreatorID 
			, CustomerProfilesID 
			, CASE WHEN @CopyLineItems = 1 THEN GrandTotal ELSE '0' END 
			, BettermentTotal 
			, @EstimateNumber 
			, CustomerID 
		FROM AdminInfo WITH (NOLOCK) 
		WHERE ID = @AdminInfoID 
	SELECT @Return = @@IDENTITY 
 
 
	--------------------------------------------------------------------------------------------------------------------------------------------------------------- 
	-- Line items and labor are queried a lot here, cache the data into a small table to speed this up 
	--------------------------------------------------------------------------------------------------------------------------------------------------------------- 
	DECLARE @LineItems TABLE     
	( 
		  id	int 
		, EstimationDataID	int 
		, StepID	int 
		, PartNumber	varchar(50) 
		, PartSource	varchar(10) 
		, ActionCode	varchar(20) 
		, Description	varchar(80) 
		, Price	money 
		, Qty	int 
		, LaborTime	real 
		, PaintTime	real 
		, Other	real 
		, ImageID	int 
		, ActionDescription	varchar(80) 
		, PartOfOverhaul	bit 
		, PartSourceVendorID	int 
		, BettermentParts	bit 
		, SubletPartsFlag	bit 
		, BettermentMaterials	bit 
		, SubletOperationFlag	bit 
		, SupplementVersion	tinyint 
		, LineNumber	int 
		, UniqueSequenceNumber	int 
		, ModifiesID	int 
		, ACDCode	char(1) 
		, CustomerPrice	real 
		, AutomaticCharge	bit 
		, SourcePartNumber	varchar(25) 
		, SectionID	int 
		, VehiclePosition	varchar(5) 
		, Barcode	varchar(10) 
		, dbPrice	money 
		, AutoAdd	bit 
		, Suppress	bit 
		, AutoAddBarcodeParent	varchar(10) 
		, Date_Entered	datetime 
		, BettermentType	char(10) 
		, BettermentValue	float 
	) 
 
	INSERT INTO @LineItems 
	SELECT  
		  EstimationLineItems.id 
		, EstimationDataID 
		, StepID 
		, PartNumber 
		, PartSource 
		, ActionCode 
		, Description 
		, Price 
		, Qty 
		, LaborTime 
		, PaintTime 
		, Other 
		, ImageID 
		, ActionDescription 
		, PartOfOverhaul 
		, PartSourceVendorID 
		, BettermentParts 
		, SubletPartsFlag 
		, BettermentMaterials 
		, SubletOperationFlag 
		, EstimationLineItems.SupplementVersion 
		, LineNumber 
		, UniqueSequenceNumber 
		, ModifiesID 
		, ACDCode 
		, CustomerPrice 
		, AutomaticCharge 
		, SourcePartNumber 
		, SectionID 
		, VehiclePosition 
		, Barcode 
		, dbPrice 
		, AutoAdd 
		, Suppress 
		, AutoAddBarcodeParent 
		, Date_Entered 
		, BettermentType 
		, BettermentValue 
	FROM EstimationLineItems 
	INNER JOIN EstimationData ON EstimationData.ID = EstimationLineItems.EstimationDataid 
	WHERE EstimationData.AdminInfoID = @AdminInfoID 
 
	DECLARE @LaborLines TABLE 
	( 
		  id	int 
		, EstimationLineItemsID	int 
		, LaborType	tinyint 
		, LaborSubType	smallint 
		, LaborTime	real 
		, LaborCost	money 
		, BettermentFlag	bit 
		, SubletFlag	bit 
		, UniqueSequenceNumber	int 
		, ModifiesID	int 
		, AdjacentDeduction	tinyint 
		, MajorPanel	bit 
		, BettermentPercentage	real 
		, dbLaborTime	real 
		, AdjacentDeductionLock	bit 
		, barcode	varchar(10) 
		, Lock	bit 
		, Include	bit 
		, WebEstID	int 
	) 
 
	INSERT INTO @LaborLines 
	SELECT  
		  EstimationLineLabor.id 
		, EstimationLineItemsID 
		, LaborType 
		, LaborSubType 
		, EstimationLineLabor.LaborTime 
		, LaborCost 
		, BettermentFlag 
		, SubletFlag 
		, EstimationLineLabor.UniqueSequenceNumber 
		, EstimationLineLabor.ModifiesID 
		, AdjacentDeduction 
		, MajorPanel 
		, BettermentPercentage 
		, dbLaborTime 
		, AdjacentDeductionLock 
		, EstimationLineLabor.barcode 
		, Lock 
		, Include 
		, WebEstID 
	FROM @LineItems LineItems 
	LEFT OUTER JOIN EstimationLineLabor ON LineItems.ID = EstimationLineLabor.EstimationLineItemsID 
	--------------------------------------------------------------------------------------------------------------------------------------------------------------- 
	--------------------------------------------------------------------------------------------------------------------------------------------------------------- 
 
	SELECT @MaxSupplementVersion = Max(LineItems.SupplementVersion) 
	FROM @LineItems LineItems 
	INNER JOIN EstimationData ON EstimationData.ID = LineItems.EstimationDataid 
	WHERE EstimationData.AdminInfoID = @AdminInfoID AND LineItems.SupplementVersion <> 99 
 
	-- Create Estimation Data Header 
	INSERT INTO EstimationData WITH (ROWLOCK)  (	AdminInfoID,EstimationDate,DateOfLoss,CoverageType,EstimateLocation, 
					TransactionLevel,LockLevel,LastLineNumber,EstimationLineItemIDLocked, 
					Note,PrintNote,AssignmentDate,ReportTextHeader,AlternateIdentitiesID, 
					SupplementVersion,NextUniqueSequenceNumber,ClaimNumber,PolicyNumber,Deductible,InsuranceCompanyName,
					ClaimantSameAsOwner, InsuredSameAsOwner) 
		SELECT @Return 'AdminInfoID',  
			GetDate() 'EstimationDate',  
			CASE WHEN @CopyInsurance <> 0 THEN DateOfLoss ELSE NULL END 'DateOfLoss',  
			CASE WHEN @CopyInsurance <> 0 THEN CoverageType ELSE NULL END 'CoverageType', 
			EstimateLocation, 
			TransactionLevel, 
			CASE WHEN @LatestInfoOnly = 0 THEN @MaxSupplementVersion ELSE NULL END 'LockLevel', 
			LastLineNumber, 
			CASE WHEN @LatestInfoOnly = 0 THEN EstimationLineItemIDLocked ELSE NULL END 'EstimationLineItemIDLocked', 
			Note, 
			PrintNote, 
			AssignmentDate, 
			ReportTextHeader, 
			AlternateIdentitiesID, 
			0, 
			NextUniqueSequenceNumber,EstimationData.ClaimNumber,PolicyNumber,Deductible,InsuranceCompanyName,
			ClaimantSameAsOwner, InsuredSameAsOwner 
		FROM AdminInfo WITH (NOLOCK) 
		INNER JOIN EstimationData WITH (NOLOCK) ON 
			(EstimationData.AdminInfoID = AdminInfo.id) 
		WHERE AdminInfo.ID = @AdminInfoID 
 
	SELECT @EstimationDataId = @@Identity 
 
	-- Copy/Create Vehicle Info 
	IF @CopyVehicle <> 0 
		BEGIN 
						INSERT INTO VehicleInfo WITH (ROWLOCK)   
			( 
				  EstimationDataId 
				, VehicleID 
				, ExtColor 
				, ExtColorCode 
				, MilesIn 
				, MilesOut 
				, License 
				, State 
				, Condition 
				, IntColor 
				, IntColorCode 
				, TrimLevel 
				, Vin 
				, VinDecode 
				, InspectionDate 
				, ProductionDate 
				, BodyType 
				, Service_Barcode 
				, DefaultPaintType 
				, DriveType 
				, VehicleValue 
				, Year 
				, MakeID 
				, ModelID 
				, SubModelID 
				, EngineType 
				, TransmissionType 
				, paintcode 
				, StockNumber
				, POILabel1 
				, POIOption1 
				, POICustom1 
				, POILabel2 
				, POIOption2 
				, POICustom2 
			) 
			SELECT  
				@EstimationDataId, 
				VehicleID, 
				ExtColor, 
				ExtColorCode, 
				MilesIn, 
				MilesOut, 
				License, 
				State, 
				Condition, 
				IntColor, 
				IntColorCode, 
				TrimLevel, 
				Vin, 
				VinDecode, 
				InspectionDate,  
				ProductionDate,  
				BodyType,  
				Service_Barcode,  
				DefaultPaintType, 
				DriveType,  
				VehicleValue,  
				Year,  
				MakeID,  
				ModelID,  
				SubModelID,  
				EngineType,  
				TransmissionType,  
				paintcode,  
				StockNumber, 
				POILabel1, 
				POIOption1, 
				POICustom1, 
				POILabel2, 
				POIOption2, 
				POICustom2 
			FROM AdminInfo WITH (NOLOCK) 
			INNER JOIN EstimationData WITH (NOLOCK) ON (EstimationData.AdminInfoID = AdminInfo.id) 
			INNER JOIN VehicleInfo WITH (NOLOCK) ON (VehicleInfo.EstimationDataId = EstimationData.Id) 
			WHERE AdminInfo.ID = @AdminInfoID 
 
 
 
			DECLARE @VehicleInfoID INT = (SELECT CAST(SCOPE_IDENTITY() AS INT)) 
 
			INSERT INTO VehicleInfoManual 
			( 
				  VehicleInfoID 
				, Country 
				, Manufacturer 
				, Make 
				, Model 
				, ModelYear 
				, SubModel 
				, Service_Barcode 
				, ManualSelection 
			) 
			SELECT 
				  @VehicleInfoID 
				, VehicleInfoManual.Country 
				, VehicleInfoManual.Manufacturer 
				, VehicleInfoManual.Make 
				, VehicleInfoManual.Model 
				, VehicleInfoManual.ModelYear 
				, VehicleInfoManual.SubModel 
				, VehicleInfoManual.Service_Barcode 
				, VehicleInfoManual.ManualSelection 
			FROM AdminInfo 
			INNER JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.id 
			INNER JOIN VehicleInfo ON VehicleInfo.EstimationDataId = EstimationData.Id 
			INNER JOIN VehicleInfoManual ON VehicleInfo.id = VehicleInfoManual.VehicleInfoID 
			WHERE AdminInfo.ID = @AdminInfoID 

			INSERT INTO VehicleSelectedOptions(VehicleInfoID, VehicleOptionsID)
			SELECT	@VehicleInfoID, VehicleOptionsID
			FROM	AdminInfo 
			INNER JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.id 
			INNER JOIN VehicleInfo ON VehicleInfo.EstimationDataId = EstimationData.Id 
			INNER JOIN VehicleSelectedOptions ON VehicleInfo.id = VehicleSelectedOptions.VehicleInfoID 
			WHERE AdminInfo.ID = @AdminInfoID 
		END 
	ELSE 
		INSERT INTO VehicleInfo (EstimationDataID, VehicleID) VALUES (@EstimationDataId,-1) 
 
DECLARE @EstimationDataInfo TABLE 
( 
	 EstimationDataID	int
)

DECLARE @EstimationLinesInfo TABLE 
( 
	 EstimationLineItemsID	int, 
	 EstimationDataID	int
)

-- Copy LineItems 
if @CopyLineItems <> 0 
BEGIN 
	INSERT INTO EstimationLineItems WITH (ROWLOCK) (EstimationDataID, StepID, PartSource, ActionCode, ActionDescription, 
					PartNumber, Description, Price, PartOfOverhaul, Qty, LaborTime, 
					PaintTime, Other, ImageID, PartSourceVendorID, BettermentParts, 
					SubletPartsFlag, BettermentType, SubletOperationFlag, 
					SupplementVersion, LineNumber, UniqueSequenceNumber, ModifiesID, ACDCode, 
					CustomerPrice, BettermentValue, AutomaticCharge, SourcePartNumber, Barcode,  
					dbPrice)
	SELECT @EstimationDataId,  
		LineItems.StepID,  
		LineItems.PartSource,  
		LineItems.ActionCode,  
		LineItems.ActionDescription,  
		LineItems.PartNumber,  
		LineItems.Description,  
		LineItems.Price,  
		LineItems.PartOfOverhaul,  
		LineItems.Qty,  
		LineItems.LaborTime,  
		LineItems.PaintTime,  
		LineItems.Other, 
		LineItems.ImageID,  
		LineItems.PartSourceVendorID,  
		LineItems.BettermentParts,  
		LineItems.SubletPartsFlag,  
		LineItems.BettermentType,  
		LineItems.SubletOperationFlag,  
		CASE WHEN @LatestInfoOnly = 0 THEN CASE WHEN LineItems.SupplementVersion = 99 THEN 0 ELSE 0 END ELSE 0 END,  
		LineItems.LineNumber, 
		LineItems.UniqueSequenceNumber,  
		CASE WHEN @LatestInfoOnly = 0 THEN LineItems.ModifiesID ELSE NULL END,  
		CASE WHEN @LatestInfoOnly = 0 THEN LineItems.ACDCode ELSE NULL END,  
		LineItems.CustomerPrice,  
		LineItems.BettermentValue,  
		LineItems.AutomaticCharge,  
		LineItems.SourcePartNumber,  
		LineItems.Barcode,  
		LineItems.dbPrice 
	FROM AdminInfo  
	INNER JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.id 
	INNER JOIN @LineItems LineItems ON LineItems.EstimationDataId = EstimationData.Id 
	LEFT JOIN @LineItems LineItemsModified ON LineItemsModified.id = FocusWrite.Dbo.GetLatestLineItemMod(LineItems.ID) 
	WHERE AdminInfo.ID = @AdminInfoID AND 
		( @LatestInfoOnly = 0 OR  
			( 	@LatestInfoOnly <> 0 AND  
			LineItemsModified.id = LineItems.ID AND 
			ISNULL(LineItems.ACDCode,'') <> 'D' )) 
	ORDER BY LineItems.ID 
	
	INSERT INTO @EstimationLinesInfo(EstimationLineItemsID, EstimationDataID)
	SELECT	ID, EstimationDataID
	FROM	EstimationLineItems
	WHERE	EstimationDataID = @EstimationDataId
	 
	--Labor Items 
	INSERT INTO EstimationLineLabor ( EstimationLineItemsID, LaborType, LaborSubType, LaborTime, 
					LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, ModifiesID, 
					AdjacentDeduction, MajorPanel, BettermentPercentage, dbLaborTime, Include) 
		SELECT  
			@EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost,  
			BettermentFlag, SubletFlag, UniqueSequenceNumber, ModifiesID, 
			AdjacentDeduction, MajorPanel, BettermentPercentage, dbLaborTime, Include 
		FROM @LaborLines LL INNER JOIN @EstimationLinesInfo ELI
		ON LL.EstimationLineItemsID = ELI.EstimationLineItemsID
	--Item Notes 
	INSERT INTO EstimationNotes  WITH (ROWLOCK) ( EstimationLineItemsID, Printed, Notes) 
		SELECT  
			@EstimationLineItemsID, Printed, Notes 
		FROM EstimationNotes EN WITH (NOLOCK) INNER JOIN @EstimationLinesInfo ELI
		ON EN.EstimationLineItemsID = ELI.EstimationLineItemsID 
END 
 
	IF (@CopyClaimant <> 0) 
		BEGIN 
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 3	-- Claimant 
		END 
 
	IF (@CopyInsurance <> 0) 
		BEGIN 
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 7	-- Insurance Agent 
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 11	-- Insurance Adjuster 
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 20	-- Insurance Adjuster 
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 3	-- Insurance Claimant 
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 2	-- Insured 
		END 
 
 
	--Fix Modified ID's 
	UPDATE EstimationLineItems WITH (ROWLOCK)  
	SET	ModifiesID = EstimationLineItems2.id 
	FROM AdminInfo WITH (NOLOCK) 
	INNER JOIN EstimationData WITH (NOLOCK) ON 
		(EstimationData.AdminInfoID = AdminInfo.id) 
	INNER JOIN EstimationLineItems WITH (ROWLOCK)  ON 
		(EstimationLineItems.EstimationDataID = EstimationData.id) 
	INNER JOIN EstimationLineItems EstimationLineItemsOld WITH (ROWLOCK)  ON 
		(EstimationLineItemsOld.id = EstimationLineItems.ModifiesID) 
	INNER JOIN EstimationLineItems EstimationLineItems2 WITH (ROWLOCK)  ON 
		(EstimationLineItems2.EstimationDataID = EstimationData.id AND 
		 EstimationLineItems2.LineNumber = EstimationLineItemsOld.LineNumber) 
	WHERE ISNULL(EstimationLineItems.ModifiesID,-1) > 0 AND 
		AdminInfo.ID = @Return 
 
	-- Fix EstimationLineItemIDLocked 
	UPDATE EstimationData WITH (ROWLOCK)  
	SET EstimationLineItemIDLocked = ( 
			SELECT EstimationLineItemsNew.id 
			FROM AdminInfo WITH (NOLOCK) 
			INNER JOIN EstimationData WITH (NOLOCK) ON 
				(EstimationData.AdminInfoID = AdminInfo.id) 
			INNER JOIN EstimationLineItems EstimationLineItemsOld WITH (NOLOCK) ON 
				(EstimationLineItemsOld.id = EstimationData.EstimationLineItemIDLocked) 
			INNER JOIN EstimationData EstimationDataNew WITH (NOLOCK) ON 
				(EstimationDataNew.AdminInfoID = @Return) 
			INNER JOIN EstimationLineItems EstimationLineItemsNew WITH (NOLOCK) ON 
				(EstimationLineItemsNew.EstimationDataID = EstimationDataNew.ID AND 
				 EstimationLineItemsNew.LineNumber = EstimationLineItemsOld.LineNumber ) 
			WHERE AdminInfo.ID = @AdminInfoID) 
	WHERE AdminInfoID = @Return 
 
	SELECT @Return 'id' 
	EXECUTE RedoLineNumbers @AdminInfoID = @Return 
GO
