USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_GetTransmissionTypes]
	@VehicleID Int,
	@AdminInfoID int,
	@BodyID int
	 
AS 
 
select  0 as TransmissionID,  '' as Transmission
union all
select DISTINCT ve.TransmissionID,  e.Transmission
from vinn.dbo.Vehicle_Service_Xref as x
	inner join vinn.dbo.VinToTransmission as ve
		on ve.MakeID = x.MakeID 
		and ve.ModelID = x.ModelID
	inner join vinn.dbo.Transmissions as e
		on e.TransmissionsID = ve.TransmissionID
where VehicleID = @VehicleID
-- ,(select v.EngineType from FocusWrite.dbo.estimationdata as e with(nolock)  inner join FocusWrite.dbo.VehicleInfo as v with(nolock) on v.EstimationDataId = e.id where e.AdminInfoID = @AdminInfoID) as 'Selected'
--from vinn.dbo.VinToTransmission a
--		inner join 	vinn.dbo.Transmissions b
--			on b.Transmissionsid = a.Transmissionid
--		inner join vinn.dbo.Vehicle_Service_Xref c
--			on c.makeid = a.makeid
--			and c.modelid = a.modelid
--		inner join vinn.dbo.VinToBody as d
--			on d.MakeID        = c.MakeID 
--			and d.ModelID       = c.ModelID 
--		inner join FocusWrite.dbo.VehicleInfo as vi
--			on vi.VehicleID = c.VehicleID
--		inner join FocusWrite.dbo.EstimationData as ed
--			on ed.id = vi.EstimationDataId			 
--where ed.AdminInfoID = @AdminInfoID
--and d.bodyid = case when @BodyID > 0 then @BodyID else d.bodyid end


GO
