USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE PROCEDURE [dbo].[sp_GetTblAddress]
	  @ContactsID int 
	 
	 
AS
BEGIN
 
	SET NOCOUNT ON;

SELECT top 1 [AddressID]
      ,[AdminInfoID]
      ,[ContactsID]
      ,[Address1]
      ,[Address2]
      ,[City]
      ,[State]
      ,[Country]
      ,[zip]
      ,[TimeZone]
FROM [tbl_Address]
where ContactsID = @ContactsID
 
End

GO
