USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DocumentsManager_Get] 
	@DocumentID	INT
AS 
BEGIN 
 
	SELECT DocumentID, [Name], [FileName], [Category], [UploadDate], [IsDeleted]
	FROM Document 
	WHERE DocumentID = @DocumentID
END 
GO
