USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoyaltyReport](
	[RoyaltyReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportMonth] [date] NOT NULL,
	[LoginID] [int] NULL,
	[ContractID] [int] NULL,
	[ContractPriceLevelID] [int] NULL,
	[EffectiveDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[Notes] [varchar](2000) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_RoyaltyReport] PRIMARY KEY NONCLUSTERED 
(
	[RoyaltyReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [idx_RoyaltyReport_1] ON [dbo].[RoyaltyReport]
(
	[ReportMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [idx_RoyaltyReport_2] ON [dbo].[RoyaltyReport]
(
	[ContractPriceLevelID] ASC,
	[LoginID] ASC,
	[ReportMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoyaltyReport] ADD  CONSTRAINT [DF_RoyaltyReport_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
