USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetUnsubscribeHistory-02.sql
CREATE PROCEDURE [dbo].[GetUnsubscribeHistory]
	@UnsubscribeID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM UnsubscribeHistory
	WHERE UnsubscribeID = Case when isnull(@UnsubscribeID, -1) = -1 then UnsubscribeID Else @UnsubscribeID End
	Order By ID desc
END
GO
