USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/17/2020
-- Description:	Update or Insert an insurance company
-- =============================================
CREATE PROCEDURE [dbo].[InsuranceCompany_Update]
	  @ID				int
	, @LoginID			int
	, @Name				varchar(100)
	, @IsDeleted		bit = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE InsuranceCompany
			SET
				  LoginID = @LoginID
				, Name = @Name
				, IsDeleted = @IsDeleted
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO InsuranceCompany
			(
				  LoginID
				, Name
				, IsDeleted
			)
			VALUES
			(
				  @LoginID
				, @Name
				, @IsDeleted
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
