USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[INSERT_PnInsertEstimate]
	@loginId int,
	@request NVARCHAR(MAX)
AS
    INSERT INTO PnEstimate (loginId, EstimateRequest, CreateDate)
    VALUES (@loginId, @request, GETDATE())
GO
