USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractAddOnHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContractAddOnID] [int] NULL,
	[InvoiceID] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[Amount] [decimal](8, 2) NULL,
	[SalesTax] [decimal](5, 2) NULL,
	[StartQuantity] [tinyint] NULL,
	[EndQuantity] [tinyint] NULL,
	[Number] [int] NULL,
	[Notes] [varchar](300) NULL,
 CONSTRAINT [PK_ContractAddOnHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
