USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[Update_UseTIN_Status]
(
@LoginID  int,
@UseTIN bit
)
as
begin
Update Logins set UseTin =@UseTIN where id=@LoginID 
end


GO
