USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/11/2017 
-- Description:	Get all PDR panels 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_Panel_GetAll] 
 
AS 
BEGIN 
	SELECT * 
	FROM PDR_Panel 
	WHERE NOT SortOrder IS NULL 
	ORDER BY SortOrder 
END 
GO
