USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetVehicleStepsTree]
	@VehicleID Int,
	@BodyTypeID Int,
	@Order VarChar(10) = 'Grouped'
AS
DECLARE @SqlStr VarChar(4000)

--IF @Order  IN ('F2B','B2F','Grouped','Forwards','Backwards')

SELECT @SqlStr = '
SELECT	DISTINCT
	VehicleSections.id ,
 	VehicleSections.Name ''StepText'',
	VehicleSections.id ''StepsID'',
	VehicleSections.ParentID,
	VehicleSections.Selectable
INTO #TempTree
FROM Vehicles.dbo.VehicleSections VehicleSections WITH (NOLOCK)
LEFT JOIN Vehicles.dbo.VehicleSectionParts VehicleSectionParts WITH (NOLOCK) ON
	(VehicleSectionParts.VehicleSectionsID = VehicleSections.id)
LEFT JOIN Vehicles.dbo.VehicleSteps VehicleSteps WITH (NOLOCK) ON
	(VehicleSteps.VehicleID = ' + CONVERT(VarCHar(12),@VehicleID) + ' AND
	 VehicleSteps.BodyTypeID = ' + CONVERT(VarCHar(12),@BodyTypeID) + ' AND
	 VehicleSteps.LevelTie = 2 )
LEFT JOIN Vehicles.dbo.StepList StepList WITH (NOLOCK) ON
	(StepList.VehicleStepsID = VehicleSteps.id AND
	 StepList.StepsID = VehicleSectionParts.StepsID)
WHERE VehicleSections.Selectable = 0 OR
	VehicleSections.Selectable = 1 AND (StepList.id IS NOT NULL or ' + CONVERT(VarCHar(12),@VehicleID) + ' = -1)

DELETE FROM T1
FROM #TempTree T1
LEFT JOIN #TempTree T2 ON
	(T2.ParentID = T1.ID)
WHERE T2.ID IS NULL AND
	T1.Selectable = 0

SELECT * FROM #TempTree ORDER BY ParentID, id

DROP TABLE #TempTree'
EXECUTE (@SqlStr)
PRINT @SqlStr



GO
