USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/18/2018
-- Description:	Copy the PDR parts of an estimate
-- =============================================
CREATE PROCEDURE [dbo].[CopyEstimate_PDR]
	@AdminInfoID INT, 
	@NewAdminInfoID INT,
	@NewProfileID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert the main PDR Estimate data record
	INSERT INTO PDR_EstimateData
	(AdminInfoID, RateProfileID)
	VALUES
	(@NewAdminInfoID, @NewProfileID)

	DECLARE @EstimateDataID INT = (SELECT CAST(SCOPE_IDENTITY() AS INT))

	-- Copy each data panel
	INSERT INTO PDR_EstimateDataPanel
	(
		  AdminInfoID
		, PanelID
		, QuantityID
		, SizeID
		, OversizedDents
		, Multiplier
		, Description
		, Expanded
		, LineNumber
		, CustomCharge
	)
	SELECT 
		  @NewAdminInfoID
		, PanelID
		, QuantityID
		, SizeID
		, OversizedDents
		, ISNULL(NewMultiplier.ID, 0)
		, Description
		, Expanded
		, LineNumber
		, CustomCharge
	FROM PDR_EstimateDataPanel 
	LEFT OUTER JOIN PDR_Multiplier OldMultiplier ON PDR_EstimateDataPanel.Multiplier = OldMultiplier.ID
	LEFT OUTER JOIN PDR_Multiplier NewMultiplier ON NewMultiplier.RateProfileID = @NewProfileID AND OldMultiplier.Name = NewMultiplier.Name AND OldMultiplier.Value = NewMultiplier.Value
	WHERE AdminInfoID = @AdminInfoID

	-- Copy Oversized records
	INSERT INTO PDR_EstimateDataPanelOversize
	(
		  EstimateDataPanelID
		, Size
		, Depth
		, Amount
		, SupplementAdded
		, SupplementDeleted
	)
	SELECT
		  Target.ID
		, Oversize.Size
		, Oversize.Depth
		, Oversize.Amount
		, Oversize.SupplementAdded
		, Oversize.SupplementDeleted
	FROM PDR_EstimateDataPanel Source
	JOIN PDR_EstimateDataPanelOversize Oversize ON Source.ID = Oversize.EstimateDataPanelID
	JOIN PDR_EstimateDataPanel Target ON Source.PanelID = Target.PanelID AND Target.AdminInfoID = @NewAdminInfoID
	WHERE Source.AdminInfoID = @AdminInfoID

	-- Copy SupplementChange records
	INSERT INTO PDR_EstimateDataPanelSupplementChange
	(
		  EstimateDataPanelID
		, QuantityID
		, SizeID
		, OversizedDents
		, Multiplier
		, SupplementVersion
		, LineNumber
		, CustomCharge
	)
	SELECT --*
		  Target.ID
		, SuppChange.QuantityID
		, SuppChange.SizeID
		, SuppChange.OversizedDents
		, ISNULL(NewMultiplier.ID, 0)
		, SuppChange.SupplementVersion
		, SuppChange.LineNumber
		, SuppChange.CustomCharge
	FROM PDR_EstimateDataPanel Source
	JOIN PDR_EstimateDataPanelSupplementChange SuppChange ON Source.ID = SuppChange.EstimateDataPanelID
	JOIN PDR_EstimateDataPanel Target ON Source.PanelID = Target.PanelID AND Target.AdminInfoID = @NewAdminInfoID

	LEFT OUTER JOIN PDR_Multiplier OldMultiplier ON SuppChange.Multiplier = OldMultiplier.ID
	LEFT OUTER JOIN PDR_Multiplier NewMultiplier ON NewMultiplier.RateProfileID = @NewProfileID AND OldMultiplier.Name = NewMultiplier.Name AND OldMultiplier.Value = NewMultiplier.Value

	WHERE Source.AdminInfoID = @AdminInfoID
END
GO
