USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPTracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[IP] [nvarchar](50) NULL,
	[LoginDate] [datetime] NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPTracking] ADD  CONSTRAINT [DF_IPTracking_LoginDate]  DEFAULT (getdate()) FOR [LoginDate]
GO
