USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDR_EstimateDataPanelSupplementChange](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EstimateDataPanelID] [int] NULL,
	[QuantityID] [int] NULL,
	[SizeID] [int] NULL,
	[OversizedDents] [int] NULL,
	[Multiplier] [int] NULL,
	[SupplementVersion] [int] NULL,
	[LineNumber] [int] NULL,
	[CustomCharge] [money] NULL,
 CONSTRAINT [PK_PDR_EstimateDataPanelSupplementChange] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
