USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
-- ============================================= 
-- Author:		<Author,,Name> 
-- Create date: <Create Date,,> 
-- Description:	<Description,,> 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddEMSExportQueue] 
	-- Add the parameters for the stored procedure here 
	@AdminInfoID Int, 
	@ExportType varchar(50),	 
	@Zip varchar(50), 
	@EndStatus varchar(50), 
	@AddBy int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    -- Insert statements for procedure here 
	INSERT INTO MessageQueue(msgValue1,msgValue2,msgValue3, msgValue4, msgType, msgAddBy) 
	Values (CAST(@AdminInfoID as varchar(50)),@ExportType,@Zip,@EndStatus,1, @AddBy) 
 
	SELECT @@IDENTITY 
END 
 
 
 
GO
