USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--GetEstimateLine-02.sql
CREATE PROCEDURE [dbo].[GetEstimateLine]
	@AdminInfoID			INT,
	@EstimationLineItemsID	INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Create TABLE #LaborLines	
	(
		  LaborType				TINYINT 
		, LaborTime				REAL  
		, LaborCost				MONEY  
		, BettermentFlag		BIT  
		, SubletFlag			BIT  
		, Lock					BIT 
		, Include				BIT
		, MajorPanel			BIT	
		, AdjacentDeduction		TINYINT
		, AdjacentDeductionLock BIT
	)

	INSERT INTO #LaborLines
	SELECT 
		  LaborType				 
		, LaborTime				  
		, LaborCost				  
		, BettermentFlag		  
		, SubletFlag			  
		, Lock					 
		, Include
		, MajorPanel			
		, AdjacentDeduction
		, AdjacentDeductionLock
	FROM EstimationLineLabor
	WHERE EstimationLineLabor.EstimationLineItemsID = @EstimationLineItemsID	

	SELECT 
		EstimationLineItems.ID,	  
		EstimationLineItems.StepID,  
		EstimationLineItems.ActionDescription 'ActionDescription',  
		CASE WHEN EstimationLineItems.ActionCode = 'R R' THEN 'R&R'  
				WHEN EstimationLineItems.ActionCode = 'R I' THEN 'R&I'  
				ELSE EstimationLineItems.ActionCode  
		END 'ActionCode',  
		EstimationLineItems.PartNumber,  
		EstimationLineItems.Price,  
		EstimationLineItems.PartSource,  
		EstimationLineItems.PartSourceVendorID,  
		EstimationLineItems.Description 'PartDescription',  
		EstimationLineItems.PartOfOverHaul,  
		dbo.GetLineItemQuantity(EstimationLineItems.id) AS 'Qty',  
		EstimationLineItems.CustomerPrice,  
  
		EstimationLineItems.BettermentValue,  
		EstimationLineItems.BettermentType,  
		EstimationLineItems.BettermentParts,  
		EstimationLineItems.BettermentMaterials,  
  
		EstimationLineItems.SubletOperationFlag,  
		EstimationLineItems.SubletPartsFlag, 
		EstimationLineItems.LaborIncluded,
	  
		AdminInfo.ID 'AdminInfoID',  
		EstimationLineItems.ID 'LineID',  

		EstimationLineLaborLaborType.LaborType 'LaborType',  
		EstimationLineLaborLaborType.LaborTime 'LaborTime',  
		EstimationLineLaborLaborType.LaborTime 'Labor',  
		EstimationLineLaborLaborType.LaborCost 'LaborCost',  
		EstimationLineLaborLaborType.BettermentFlag 'LaborBettermentFlag',  
		EstimationLineLaborLaborType.SubletFlag 'LaborSubletFlag',  
	  
		EstimationLineLaborPaintType.LaborType 'PaintType',  
		EstimationLineLaborPaintType.LaborTime 'PaintTime',  
		EstimationLineLaborPaintType.LaborTime 'Paint',  
		EstimationLineLaborPaintType.LaborCost 'PaintCost',  
		EstimationLineLaborPaintType.BettermentFlag 'PaintBettermentFlag',  
		EstimationLineLaborPaintType.SubletFlag 'PaintSubletFlag',  
	  
		EstimationLineLaborOtherType.LaborType 'OtherType',  
		EstimationLineLaborOtherType.LaborTime 'OtherTime',  
		EstimationLineLaborOtherType.LaborTime 'Other',  
		EstimationLineLaborOtherType.LaborCost 'OtherCost',  
		EstimationLineLaborOtherType.BettermentFlag 'OtherBettermentFlag',  
		EstimationLineLaborOtherType.SubletFlag 'OtherSubletFlag',  
	  
		EstimationLineLaborClearcoatType.LaborType 'ClearcoatType',  
		EstimationLineLaborClearcoatType.LaborTime 'ClearcoatTime',  
		EstimationLineLaborClearcoatType.LaborTime 'Clearcoat',  
		EstimationLineLaborClearcoatType.LaborCost 'ClearcoatCost',  
		EstimationLineLaborClearcoatType.BettermentFlag 'ClearcoatBettermentFlag',  
		EstimationLineLaborClearcoatType.SubletFlag 'ClearcoatSubletFlag',  
		EstimationLineLaborClearcoatType.Lock 'ClearcoatLock',  
		EstimationLineLaborClearcoatType.Include 'ClearcoatInclude',  
	  
		EstimationLineLaborBlendType.LaborType 'BlendType',  
		EstimationLineLaborBlendType.LaborTime 'BlendTime',  
		EstimationLineLaborBlendType.LaborTime 'Blend',  
		EstimationLineLaborBlendType.LaborCost 'BlendCost',  
		EstimationLineLaborBlendType.BettermentFlag 'BlendBettermentFlag',  
		EstimationLineLaborBlendType.SubletFlag 'BlendSubletFlag',  
		EstimationLineLaborBlendType.Lock 'BlendLock',  
		EstimationLineLaborBlendType.Include 'BlendInclude',  
	  
		EstimationLineLaborAllowanceType.LaborType 'AllowanceType',  
		EstimationLineLaborAllowanceType.LaborTime 'AllowanceTime',  
		EstimationLineLaborAllowanceType.LaborTime 'Allowance',  
		EstimationLineLaborAllowanceType.LaborCost 'AllowanceCost',  
		EstimationLineLaborAllowanceType.BettermentFlag 'AllowanceBettermentFlag',  
		EstimationLineLaborAllowanceType.SubletFlag 'AllowanceSubletFlag',  
		EstimationLineLaborAllowanceType.Lock 'AllowanceLock',  
		EstimationLineLaborAllowanceType.Include 'AllowanceInclude',  
	  
		EstimationLineLaborEdgingType.LaborType 'EdgingType',  
		EstimationLineLaborEdgingType.LaborTime 'EdgingTime',  
		EstimationLineLaborEdgingType.LaborTime 'Edging',  
		EstimationLineLaborEdgingType.LaborCost 'EdgingCost',  
		EstimationLineLaborEdgingType.BettermentFlag 'EdgingBettermentFlag',  
		EstimationLineLaborEdgingType.SubletFlag 'EdgingSubletFlag',  
		EstimationLineLaborEdgingType.Lock 'EdgingLock',  
		EstimationLineLaborEdgingType.Include 'EdgingInclude',  
	  
		EstimationLineLaborUndersideType.LaborType 'UndersideType',  
		EstimationLineLaborUndersideType.LaborTime 'UndersideTime',  
		EstimationLineLaborUndersideType.LaborTime 'Underside',  
		EstimationLineLaborUndersideType.LaborCost 'UndersideCost',  
		EstimationLineLaborUndersideType.BettermentFlag 'UndersideBettermentFlag',  
		EstimationLineLaborUndersideType.SubletFlag 'UndersideSubletFlag',  
		EstimationLineLaborUndersideType.Lock 'UndersideLock',  
		EstimationLineLaborUndersideType.Include 'UndersideInclude',  
	  
		EstimationNotesPrinted.Notes 'ExternalNotes',  
		EstimationNotesNonPrinted.Notes 'InternalNotes',  
			  
		CustomerProfilesPaint.AdjacentDeduction,  
		CustomerProfilesPaint.NonAdjacentDeduction,  
		CustomerProfilesPaint.MajorClearCoat,  
		CustomerProfilesPaint.Blend,  
		CustomerProfilesPaint.MajorThreeStage,  
		CustomerProfilesPaint.MajorTwoTone,  
		CustomerProfilesPaint.Underside,  
		CustomerProfilesPaint.OverlapClearCoat,  
		CustomerProfilesPaint.OverLapTwoTone,  
		CustomerProfilesPaint.OverlapThreeStage,  
		CustomerProfilesPaint.Edging,  

		EstimationLineLaborPaintType.MajorPanel,  
		EstimationLineLaborPaintType.AdjacentDeduction 'AdjacentDeductionFlag', 
		EstimationLineLaborPaintType.AdjacentDeductionLock,

		EstimationLineItems.SectionID,  
		EstimationLineItems.Barcode,  
		EstimationLineItems.PartSourceVendorID,  
		EstimationLineItems.SourcePartNumber,

		CASE WHEN ISNULL(EstimationLineItems.Price, 0) > 0 THEN IsPartsQuantity ELSE 0 END AS IsPartsQuantity, 
		EstimationLineItems.IsLaborQuantity,  
		EstimationLineItems.IsPaintQuantity,
		CASE WHEN ISNULL(EstimationLineItems.PresetShellID, 0) > 0 THEN 1 ELSE 0 END AS IsPAAddition,
		EstimationLineItems.IsOtherCharges
			 
	FROM AdminInfo
	LEFT JOIN EstimationLineItems ON EstimationLineItems.id = @EstimationLineItemsID
	  
	LEFT JOIN CustomerProfilesPaint ON CustomerProfilesPaint.CustomerProfilesID = AdminInfo.CustomerProfilesID
	  
	LEFT JOIN #LaborLines EstimationLineLaborLaborType ON EstimationLineLaborLaborType.LaborType in (1,2,3,4,5,6,8,24,25) 
	LEFT JOIN #LaborLines EstimationLineLaborPaintType ON EstimationLineLaborPaintType.LaborType in (9,16,18,19,29)
	LEFT JOIN #LaborLines EstimationLineLaborOtherType ON EstimationLineLaborOtherType.LaborType in (13,14,15,30,31) 
	LEFT JOIN #LaborLines EstimationLineLaborClearcoatType ON EstimationLineLaborClearcoatType.LaborType = 20  
	LEFT JOIN #LaborLines EstimationLineLaborAllowanceType ON EstimationLineLaborAllowanceType.LaborType = 27  OR EstimationLineLaborAllowanceType.LaborType = 28
	LEFT JOIN #LaborLines EstimationLineLaborBlendType ON EstimationLineLaborBlendType.LaborType = 26
	LEFT JOIN #LaborLines EstimationLineLaborEdgingType ON EstimationLineLaborEdgingType.LaborType in (21,23)  
	LEFT JOIN #LaborLines EstimationLineLaborUndersideType ON EstimationLineLaborUndersideType.LaborType in (22)  
	  
	LEFT JOIN EstimationNotes EstimationNotesPrinted ON  
		(EstimationNotesPrinted.EstimationLineItemsID = EstimationLineItems.ID AND  
			EstimationNotesPrinted.Printed <> 0)  
	  
	LEFT JOIN EstimationNotes EstimationNotesNonPrinted ON  
		(EstimationNotesNonPrinted.EstimationLineItemsID = EstimationLineItems.ID AND  
			EstimationNotesNonPrinted.Printed = 0)  
	  
	WHERE AdminInfo.id = @AdminInfoID   
 
END
GO
