USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  VIEW [dbo].[GetPartsTotals]
AS
SELECT
	CASE 	WHEN 	ISNULL(Betterment,0) = 1 
			THEN round(Price,2) 
		WHEN 	ISNULL(CapType,2) = 0 and ISNULL(Cap,0) > 0 AND ISNULL(Cap,0) < ISNULL(Price + ( Price * (ISNULL(DiscountMarkup,0)/100) ),0) 
			THEN Cap
		ELSE	round(Price,2)  
	END 'LineItemTotal',

	AdminInfoID, RateTypesID, RateName, Betterment, EMSCode1, EMSBetterment, DiscountMarkup,
	CASE 	WHEN ISNULL(Betterment,0)=0 THEN CapType
		ELSE NULL
	END 'CapType', 
	CASE 	WHEN ISNULL(Betterment,0)=0 THEN Cap
		ELSE 0
	END 'Cap', 
	Taxable
FROM GetParts with(nolock)



GO
