USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddNewEstimator]    
--@AdminInfoID int,   
@LoginID int,  
@EstimatorFirstName varchar(50) ,    
@EstimatorLastName varchar(50)  
--@AuthorFirstName varchar(50) ,    
--@AuthorLastName varchar(50)  
as    
begin    
declare @exists varchar(1)

select @exists = 'x'
from EstimatorsData with(nolock) 
where LoginID = @LoginID
and AuthorFirstName = @EstimatorFirstName
and AuthorLastName = @EstimatorLastName

If @exists is null
begin
declare @OrderNo int
select @OrderNo=(Count(*) +1) from EstimatorsData with(nolock) where LoginID=@LoginID
Insert into EstimatorsData(LoginID,AuthorFirstName,AuthorLastName,OrderNo)    
values    
(    
@LoginID  ,
--@AdminInfoID,    
--@AuthorFirstName ,    
--@AuthorLastName
@EstimatorFirstName,
@EstimatorLastName ,
@OrderNo
  
)    

end
end

GO
