USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/7/2017 
-- Description:	Add or update a PDR Estimate Data record 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddOrUpdatePDREstimateDataPanelOversize] 
	@ID					int, 
	@EstimateDataPanel	int, 
	@Size				int, 
	@Depth				int, 
	@Amount				money, 
	@SupplementAdded	int, 
	@SupplementDeleted	int 
AS 
BEGIN 
 
	IF EXISTS (SELECT * FROM PDR_EstimateDataPanelOversize with(nolock) WHERE ID = @ID) 
		BEGIN 
			UPDATE [dbo].[PDR_EstimateDataPanelOversize] 
			SET  
				  [EstimateDataPanelID] = @EstimateDataPanel 
				, [Size] = @Size 
				, [Depth] = @Depth 
				, [Amount] = @Amount 
				, [SupplementAdded] = @SupplementAdded 
				, [SupplementDeleted] = @SupplementDeleted 
			WHERE ID = @ID  
 
			SELECT @ID	 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[PDR_EstimateDataPanelOversize] 
			( 
				  [EstimateDataPanelID] 
				, [Size] 
				, [Depth] 
				, [Amount] 
				, [SupplementAdded] 
				, [SupplementDeleted] 
			) 
			VALUES 
			( 
				  @EstimateDataPanel 
				, @Size 
				, @Depth 
				, @Amount 
				, @SupplementAdded 
				, @SupplementDeleted 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
