USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/16/2019 
-- Description:	Add or insert an ActiveLogin record 
-- ============================================= 
CREATE PROCEDURE [dbo].[ActiveLogin_Update] 
	  @ID					int
	, @SiteUserID			int
	, @SalesRepID			int
	, @LoginID				int
	, @ComputerKey			varchar(10)
	, @IPAddress			varchar(20)
	, @ComputerName			varchar(500)
	, @StartTime			datetime
	, @LastActivity			datetime
	, @IsImpersonated		bit
	, @DeleteKey			tinyint
	, @DeviceType			varchar(1)
	, @Browser				varchar(50) = ''
	
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    IF @ID > 0 
		BEGIN 
			UPDATE ActiveLogin 
			SET 
				  SiteUserID = @SiteUserID
				, SalesRepID = @SalesRepID
				, LoginID = @LoginID
				, ComputerKey = @ComputerKey
				, IPAddress = @IPAddress
				, ComputerName = @ComputerName 
				, StartTime = @StartTime
				, LastActivity = @LastActivity
				, IsImpersonated = @IsImpersonated
				, DeleteKey = @DeleteKey
				, DeviceType = @DeviceType
				, Browser = @Browser

			WHERE ID = @ID 
			 
			SELECT @ID 
		END  
	ELSE 
		BEGIN 
			INSERT INTO ActiveLogin 
			( 
				  SiteUserID
				, SalesRepID
				, LoginID
				, ComputerKey
				, IPAddress
				, ComputerName
				, StartTime
				, LastActivity
				, IsImpersonated
				, DeleteKey
				, DeviceType
				, Browser
			) 
			VALUES 
			( 
				  @SiteUserID
				, @SalesRepID
				, @LoginID
				, @ComputerKey
				, @IPAddress
				, @ComputerName
				, @StartTime
				, @LastActivity
				, @IsImpersonated
				, @DeleteKey
				, @DeviceType
				, @Browser
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
