USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleBody](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BodyCode] [varchar](2) NULL,
	[Description] [varchar](50) NULL,
	[BodyID] [int] NULL
) ON [PRIMARY]
GO
