USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*      */
CREATE PROCEDURE [dbo].[spGetLaborSV]
	@AdminInfoID Int
AS
	
	IF object_id('tempdb..#GetLaborSV') IS NOT NULL
	BEGIN
	print 'a' 
	
	   INSERT INTO #GetLaborSV
	   (
	    [SupplementVersion2],
		[AdminInfoID],
		[RateTypesID],
		[RateName],
		[LaborTypesID],
		[LaborType],
		[Description],
		[BettermentType],
		[BettermentValue],
		[Sublet],
		[LaborCost],
		[LaborTime],
		[EMSCode1],
		[EMSBetterment],
		[EMSSublet],
		[Rate],
		[CapType],
		[Cap],
		[DiscountMarkup],
		[Taxable],
		[IncludeIn])
		SELECT
		ISNULL(EstimationLineItemsSV2.SupplementVersion,0) 'SupplementVersion2',
		AdminInfo.id 'AdminInfoID',
		ISNULL(RateTypes.id,0) 'RateTypesID',
		ISNULL(RateTypes.RateName,LaborTypes.LaborType) 'RateName',
		LaborTypes.id 'LaborTypesID',
		LaborTypes.LaborType,
		LaborTypes.Description,
		CASE 
			WHEN EstimationLineLabor.BettermentFlag = 0 THEN ''
			ELSE EstimationLineItems.BettermentType
		END AS BettermentType,
		EstimationLineItems.BettermentValue,
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END 'Sublet',
		Sum(ISNULL(EstimationLineLabor.LaborCost,0)) 'LaborCost',
		Sum(ISNULL(EstimationLineLabor.LaborTime,0)) 'LaborTime',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
	
		--CustomerProfileRates.Taxable,
	
		CASE 	WHEN ISNULL(LaborTypes.id,0) = 14 OR ISNULL(CustomerProfileRates.Taxable,0) <> 0 THEN 1
			ELSE 0
		END 'Taxable',
	
		CustomerProfileRates.IncludeIn
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN (	SELECT DISTINCT EstimationDataID, ISNULL(SupplementVersion,0) 'SupplementVersion' 
			FROM EstimationLineItems WITH (NOLOCK)	) EstimationLineItemsSV2 ON
		(EstimationLineItemsSV2.EstimationDataID = EstimationData.ID)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	LEFT JOIN EstimationLineItems EstimationLineItemsSV WITH (NOLOCK)  ON
		(EstimationLineItemsSV.ModifiesID = EstimationLineItems.ID AND
		 ISNULL(EstimationLineItemsSV.SupplementVersion,0) <= ISNULL(EstimationLineItemsSV2.SupplementVersion,0))
	INNER JOIN EstimationLineLabor WITH (NOLOCK) ON
		(EstimationLineLabor.EstimationLineItemsID  = EstimationLineItems.id)
	LEFT JOIN LaborTypes WITH (NOLOCK) ON
		(LaborTypes.id = EstimationLineLabor.LaborType)
	LEFT JOIN RateTypes WITH (NOLOCK) ON
		(RateTypes.id = LaborTypes.RateTypesID)
	INNER JOIN CustomerProfiles WITH (NOLOCK) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates WITH (NOLOCK) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
	
	WHERE	AdminInfo.ID = @AdminInfoID AND
		EstimationLineItemsSV.ID IS NULL AND
		ISNULL(EstimationLineItems.SupplementVersion,0) <= ISNULL(EstimationLineItemsSV2.SupplementVersion,0)
		
	GROUP BY
		ISNULL(EstimationLineItemsSV2.SupplementVersion,0),
		AdminInfo.id,
		RateTypes.id,
		RateTypes.RateName,
		LaborTypes.id,
		LaborTypes.LaborType,
		LaborTypes.Description,
		CASE 
			WHEN EstimationLineLabor.BettermentFlag = 0 THEN ''
			ELSE EstimationLineItems.BettermentType
		END,
		EstimationLineItems.BettermentValue,
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END,
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	END
	ELSE
	BEGIN
		
	print 'b' 

	SELECT
		ISNULL(EstimationLineItemsSV2.SupplementVersion,0) 'SupplementVersion2',
		AdminInfo.id 'AdminInfoID',
		ISNULL(RateTypes.id,0) 'RateTypesID',
		ISNULL(RateTypes.RateName,LaborTypes.LaborType) 'RateName',
		LaborTypes.id 'LaborTypesID',
		LaborTypes.LaborType,
		LaborTypes.Description,
		CASE 
			WHEN EstimationLineLabor.BettermentFlag = 0 THEN ''
			ELSE EstimationLineItems.BettermentType
		END AS BettermentType,
		EstimationLineItems.BettermentValue,
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END 'Sublet',
		Sum(ISNULL(EstimationLineLabor.LaborCost,0)) 'LaborCost',
		Sum(ISNULL(EstimationLineLabor.LaborTime,0)) 'LaborTime',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
	
		--CustomerProfileRates.Taxable,
	
		CASE 	WHEN ISNULL(LaborTypes.id,0) = 14 OR ISNULL(CustomerProfileRates.Taxable,0) <> 0 THEN 1
			ELSE 0
		END 'Taxable',
	
		CustomerProfileRates.IncludeIn
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN (	SELECT DISTINCT EstimationDataID, ISNULL(SupplementVersion,0) 'SupplementVersion' 
			FROM EstimationLineItems WITH (NOLOCK)	) EstimationLineItemsSV2 ON
		(EstimationLineItemsSV2.EstimationDataID = EstimationData.ID)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	LEFT JOIN EstimationLineItems EstimationLineItemsSV WITH (NOLOCK)  ON
		(EstimationLineItemsSV.ModifiesID = EstimationLineItems.ID AND
		 ISNULL(EstimationLineItemsSV.SupplementVersion,0) <= ISNULL(EstimationLineItemsSV2.SupplementVersion,0))
	INNER JOIN EstimationLineLabor WITH (NOLOCK) ON
		(EstimationLineLabor.EstimationLineItemsID  = EstimationLineItems.id)
	LEFT JOIN LaborTypes WITH (NOLOCK) ON
		(LaborTypes.id = EstimationLineLabor.LaborType)
	LEFT JOIN RateTypes WITH (NOLOCK) ON
		(RateTypes.id = LaborTypes.RateTypesID)
	INNER JOIN CustomerProfiles WITH (NOLOCK) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates WITH (NOLOCK) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
	
	WHERE	AdminInfo.ID = @AdminInfoID AND
		EstimationLineItemsSV.ID IS NULL AND
		ISNULL(EstimationLineItems.SupplementVersion,0) <= ISNULL(EstimationLineItemsSV2.SupplementVersion,0)
		
	GROUP BY
		ISNULL(EstimationLineItemsSV2.SupplementVersion,0),
		AdminInfo.id,
		RateTypes.id,
		RateTypes.RateName,
		LaborTypes.id,
		LaborTypes.LaborType,
		LaborTypes.Description,
		CASE 
			WHEN EstimationLineLabor.BettermentFlag = 0 THEN ''
			ELSE EstimationLineItems.BettermentType
		END,
		EstimationLineItems.BettermentValue,
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END,
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	END


GO
