USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		Ezra
-- Create date: 12/10/2019
-- Description:	Get Promos that can be applied to a contract
-- =============================================
CREATE PROCEDURE [dbo].[PromoCode_GetAvailableForContract]
	@ContractID			int
AS
BEGIN
	
	SELECT Promo.*
	FROM Contracts
	LEFT OUTER JOIN Promo ON Contracts.ContractPriceLevelID = Promo.ContractPriceLevelID
	WHERE 
		ContractID = @ContractID
		AND Promo.PromoID IS NOT NULL
END
GO
