USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lkq](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShopId] [nvarchar](250) NOT NULL,
	[RegistrationType] [int] NOT NULL,
	[CreateDate] [nchar](10) NOT NULL,
	[UpdateDate] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
