USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteCustomerProfilesPrintByAdminInfo]
	@admininfoid int
AS
DELETE FROM CustomerProfilePrint
FROM customerprofileprint cpp
inner join customerprofiles cp
inner join admininfo a
on cp.id = a.customerprofilesid
on cp.id = cpp.customerprofilesid
where a.id = @admininfoid


GO
