USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ezra
-- Create date: 8/16/2017
-- Description: Get the promo ID and amount for a promo code and price level
-- =============================================
CREATE PROCEDURE [dbo].[CheckPromoCode]
	@contractPriceLevelID	INT,
	@promoCode				VARCHAR(50),
	@filterDate				BIT = 0
AS
BEGIN
	SELECT *
	FROM Promo
	WHERE 
		ContractPriceLevelID = @contractPriceLevelID 
		AND PromoCode = @promoCode
		AND (@filterDate = 0 OR GETDATE() BETWEEN StartDate AND EndDate)

END
GO
