USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		T. Gibson
-- Create date: 11/4/2018
-- Description:	Get import messages by type
-- =============================================
CREATE PROCEDURE [dbo].[GET_IMPORT_MESSAGE_BY_STATUS]
	@status int = null
AS
	BEGIN
		SELECT [Id]
		  ,[LoginId]
		  ,[EmailAdddress]
		  ,[Content]
		  ,[Status]
		  ,[EnqueueDate]
		  ,[DequeueDate]
		  ,[CreateDate]
		FROM [focuswrite].[dbo].[ImportQueueLog]
		WHERE Status = @status
		ORDER BY 1 DESC
	END

--/****** Object:  StoredProcedure [Admin].[MigrateImages]    Script Date: 12/12/2018 2:23:24 PM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- =============================================
---- Author:		T. Gibson
---- Create date: 11/9/2018
---- Description:	Image migration process
---- =============================================
--CREATE PROCEDURE [Admin].[MigrateImages]
--	@LoginId int = null
--AS
--	SELECT TOP 10
--		1 'LoginId',
--		2 'EstimateId',
--		'thisIsATest' 'WePath',
--		'anotherTest' fileName
--	FROM FocusWrite.dbo.[EstimationImages] I
	

/****** Object:  StoredProcedure [Admin].[LOG_EXCEPTION]    Script Date: 12/12/2018 2:25:13 PM ******/
SET ANSI_NULLS ON
GO
