USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Rajiv K. Sharma
-- Create date: 09/17/2022
-- =============================================
CREATE PROCEDURE [dbo].[ProAdvisorEstimateTotalPerCustomer]
	@LoginID			INT			= NULL,
	@CompanyName		VARCHAR(50) = NULL, 
	@SalesRepID			INT			= NULL,
	@RangeStart			DATETIME	= NULL,
	@RangeEnd			DATETIME	= NULL 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT TOP 1000
		  Logins.ID AS LoginID
		, Logins.LoginName
		, Logins.CompanyName 
		, TRIM(SalesRep.FirstName + ' ' + ISNULL(SalesRep.LastName,'')) AS SalesRepFullName
		, SUM(ProAdvisorEstimateTotalCache.Total) AS ProAdvisorEstimateTotal
		, MAX(EstimationDate) AS EstimationDate 
	FROM ProAdvisorEstimateTotalCache
	JOIN EstimationData ON ProAdvisorEstimateTotalCache.EstimateID = EstimationData.AdminInfoID
	JOIN AdminInfo ON EstimationData.AdminInfoID = AdminInfo.ID
	JOIN Logins ON AdminInfo.CreatorID = Logins.ID
	JOIN SalesRep ON SalesRep.SalesRepID = Logins.SalesRepID 
	WHERE 
		ProAdvisorEstimateTotalCache.Total > 0
		AND Logins.ID = ISNULL(@LoginID, Logins.ID) 
		AND Logins.CompanyName LIKE '%' + ISNULL(@CompanyName, Logins.CompanyName) + '%' 
		AND EstimationData.EstimationDate BETWEEN ISNULL(@RangeStart, EstimationData.EstimationDate) AND ISNULL(@RangeEnd, EstimationData.EstimationDate)
		AND SalesRep.SalesRepID = ISNULL(@SalesRepID, SalesRep.SalesRepID)
	GROUP BY 
		  Logins.ID
		, LoginName
		, TRIM(SalesRep.FirstName + ' ' + ISNULL(SalesRep.LastName,''))
		, CompanyName 

END

GO
