USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverviewLabor](
	[AdminInfoID] [int] NOT NULL,
	[RateTypesID] [tinyint] NOT NULL,
	[RateName] [varchar](25) NULL,
	[LaborTypesID] [tinyint] NULL,
	[LaborType] [varchar](20) NULL,
	[Description] [varchar](255) NULL,
	[Betterment] [int] NOT NULL,
	[Sublet] [int] NOT NULL,
	[LaborCost] [money] NULL,
	[LaborTime] [float] NULL,
	[EMSCode1] [varchar](10) NULL,
	[EMSBetterment] [varchar](10) NULL,
	[EMSSublet] [varchar](10) NULL,
	[Rate] [real] NULL,
	[CapType] [tinyint] NULL,
	[Cap] [real] NULL,
	[DiscountMarkup] [real] NULL,
	[Taxable] [int] NOT NULL,
	[IncludeIn] [tinyint] NULL,
	[AdjacentDeduction] [tinyint] NULL,
	[AdjacentDeductionAmount] [real] NULL,
	[NonAdjacentDeductionAmount] [real] NULL,
	[BettermentPercentage] [real] NULL
) ON [PRIMARY]
GO
