USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ProcessedSubTotals_Fill]
	  @AdminInfoID			int
	, @LinesCacheID			int
	, @SupplementVersion	int = 0
	, @ImageDirectory		varchar(500) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO ProcessedSubTotalsCache
	(AdminInfoID, TimeStamp)
	VALUES (@AdminInfoID, GETDATE())

	DECLARE @SubTotalCacheID INT = (SELECT CAST(SCOPE_IDENTITY() AS INT))


	DECLARE @CapLaborAfterInclude BIT = 0
	DECLARE @CapSuppliesAfterInclude BIT = 0

	SELECT 
		  @CapLaborAfterInclude = CapRatesAfterInclude
		, @CapSuppliesAfterInclude = CapSuppliesAfterInclude
	FROM CustomerProfiles
	WHERE AdminInfoID = @AdminInfoID
 
	-- Get the rates  
	 Create TABLE #Rates  
	( 
		RateType		int,  
		Rate			real,  
		Taxable			bit,  
		RateName		varchar(50), 
		CapType			tinyint, 
		Cap				real,
		Markup			real,
		IncludeIn		int
	) 
 
	INSERT INTO #Rates 
	SELECT  
		RateType,  
		Rate,  
		Taxable,  
		REPLACE(RateName, ' Labor', ''), 
		ISNULL(CapType, 99),		-- 0 is $, 1 is Hours 
		Cap,
		DiscountMarkup,
		IncludeIn
	FROM AdminInfo   
	LEFT OUTER JOIN CustomerProfileRates ON CustomerProfileRates.CustomerProfilesID = AdminInfo.CustomerProfilesID
	LEFT OUTER JOIN RateTypes ON RateTypes.id = CustomerProfileRates.RateType  
	WHERE AdminInfo.ID = @AdminInfoID
	
	--SELECT * FROM #Rates  
 
	--SELECT * FROM @ProcessedLines

	----------------------------------------------------------------------------------------------------------------------------------------  
	-- Put together a table with calculated data for each labor type. 
	----------------------------------------------------------------------------------------------------------------------------------------  

	create TABLE #LaborTypeData 
	(
		  LaborTypeID			int
		, LaborTypeIncludeIn	int
		, LaborType				varchar(20)
		, Taxable				bit
		, CapType				int
		, Cap					real
		, Rate					real
		, Markup				real
		, Hours					real
		, CappedHours			real
		, SubTotal				money
		, MarkupTotal			money
		, CappedTotal			money
		, CapMessage			varchar(100)
	)

	INSERT INTO #LaborTypeData

	---- Add "Extra" labor. 
	SELECT
		  RateType
		, IncludedIn
		, LaborType + ' Labor'
		, Taxable
		, ISNULL(CapType, 99) AS CapType
		, ISNULL(Cap, 0) AS Cap
		, Rate
		, Markup
		, SUM(Hours)
		, null
		, null
		, null
		, null
		, ''
	FROM 
	(
		SELECT 
			  Rates.RateType 
			, ISNULL(IncludeInRates.RateType, 0) AS IncludedIn
			, ExtraLaborType AS LaborType
			, ISNULL(IncludeInRates.Taxable, Rates.Taxable) AS Taxable
			, CASE WHEN Rates.CapType = 99 THEN null ELSE Rates.CapType END AS CapType
			, CASE WHEN Rates.CapType = 99 THEN null ELSE Rates.Cap END AS Cap
			, ISNULL(IncludeInRates.Rate, Rates.Rate) AS Rate
			, ISNULL(IncludeInRates.Markup, Rates.Markup) AS Markup
			, SUM(LaborTotalExtra) AS Hours
		FROM #Rates AS Rates 
		JOIN ProcessedLines AS ProcessedLines ON ProcessedLines.CacheID = @LinesCacheID AND ExtraLaborType = Rates.RateName
		LEFT OUTER JOIN #Rates AS IncludeInRates ON IncludeInRates.RateName = ProcessedLines.ExtraLaborIncludeIn
		WHERE   
			ForSummary = 1 
			AND ISNULL(LaborTotalExtra, 0) <> 0 
			AND Rates.Rate <> 0  
			AND LaborIncluded = 0
		GROUP BY ExtraLaborIncludeIn, ExtraLaborType, Rates.Taxable, Rates.Rate, Rates.CapType, Rates.Cap, Rates.Markup, Rates.RateType, IncludeInRates.Markup, IncludeInRates.RateType, IncludeInRates.Taxable, IncludeInRates.Rate

		-- Ezra - 12/17/2018 - The next Union subtracts removed Extra Labor.  This turns out to be bad logic as it causes the removed hours to be counted twice.
		-- Leaving this in but adding to the where clause so it only happens on estimates before this fix so they don't change their totals.
		UNION 

		SELECT 
			  Rates.RateType 
			, ISNULL(IncludeInRates.RateType, 0) AS IncludedIn
			, ExtraLaborType AS LaborType
			, ISNULL(IncludeInRates.Taxable, Rates.Taxable) AS Taxable
			, CASE WHEN Rates.CapType = 99 THEN null ELSE Rates.CapType END AS CapType
			, CASE WHEN Rates.CapType = 99 THEN null ELSE Rates.Cap END AS Cap
			, ISNULL(IncludeInRates.Rate, Rates.Rate) AS Rate
			, ISNULL(INcludeInRates.Markup, Rates.Markup) AS Markup
			, SUM(LaborExtraRemovedHours) AS Hours
		FROM #Rates AS Rates 
		JOIN ProcessedLines AS ProcessedLines ON CacheID = @LinesCacheID AND ExtraLaborType = Rates.RateName 
		LEFT OUTER JOIN #Rates AS IncludeInRates ON IncludeInRates.RateName = ProcessedLines.ExtraLaborIncludeIn
		WHERE   
			@AdminInfoID <  7022915   
			AND ForSummary = 1 
			AND ISNULL(LaborExtraRemovedHours, 0) <> 0 
			AND Rates.Rate <> 0  
			AND LaborIncluded = 0
		GROUP BY LaborExtraRemovedHours, LaborExtraRemovedType, Rates.Taxable, Rates.Rate, Rates.CapType, Rates.Cap, Rates.Markup, ExtraLaborType, Rates.RateType, IncludeInRates.Markup, IncludeInRates.RateType, IncludeInRates.Taxable, IncludeInRates.Rate
	) AS extraLaborBase
	GROUP BY 		 
		  LaborType
		, Taxable
		, CapType
		, Cap
		, Rate
		, Markup
		, RateType
		, IncludedIn
		
	UNION

	-- Add Body Supplies.  This is the same as the query above but filtered to RateType 6 and only if the Extra type is Body
	SELECT
		  6
		, 0
		, LaborType + ' Supplies'
		, Taxable
		, ISNULL(CapType, 99) AS CapType
		, ISNULL(Cap, 0) AS Cap
		, Rate
		, Markup
		, SUM(Hours)
		, null
		, null
		, null
		, null
		, ''
	FROM 
	(
		SELECT  
			  CASE WHEN ExtraLaborIncludeIn <> '' THEN ExtraLaborIncludeIn ELSE ExtraLaborType END AS LaborType
			, Rates.Taxable
			, Rates.CapType
			, Rates.Cap
			, Rates.Rate
			, Rates.Markup
			, SUM(
				CASE WHEN LaborIncluded = 1 THEN 0  
				ELSE LaborTotalExtra 
				END
			  ) AS Hours
		FROM #Rates AS Rates 
		JOIN ProcessedLines ON CacheID = @LinesCacheID AND Rates.RateName = CASE WHEN ExtraLaborIncludeIn <> '' THEN ExtraLaborIncludeIn ELSE ExtraLaborType END + ' Supplies' 
		WHERE   
			ForSummary = 1 
			AND ISNULL(LaborTotalExtra, 0) <> 0 
			AND Rates.Rate <> 0  
			AND Rates.RateType = 6
			AND CASE WHEN ExtraLaborIncludeIn <> '' THEN ExtraLaborIncludeIn ELSE ExtraLaborType END = 'Body'
			AND LaborIncluded = 0
		GROUP BY ExtraLaborIncludeIn, ExtraLaborType, Rates.Taxable, Rates.Rate, Rates.CapType, Rates.Cap, Markup

		-- Ezra - 12/17/2018 - The next Union subtracts removed Extra Labor.  This turns out to be bad logic as it causes the removed hours to be counted twice.
		-- Leaving this in but adding to the where clause so it only happens on estimates before this fix so they don't change their totals.
		UNION 

		SELECT  
			  LaborExtraRemovedType AS LaborType
			, Rates.Taxable
			, Rates.CapType
			, Rates.Cap
			, Rates.Rate
			, Rates.Markup
			, SUM(
				CASE WHEN LaborIncluded = 1 THEN 0  
				ELSE LaborExtraRemovedHours 
				END
			  ) AS Hours
		FROM #Rates AS Rates 
		JOIN ProcessedLines ON CacheID = @LinesCacheID AND Rates.RateName = CASE WHEN ExtraLaborIncludeIn <> '' THEN ExtraLaborIncludeIn ELSE ExtraLaborType END + ' Supplies' 
		WHERE   
			@AdminInfoID < 7022915 
			AND ForSummary = 1 
			AND ISNULL(LaborExtraRemovedHours, 0) <> 0 
			AND Rates.Rate <> 0
			AND Rates.RateType = 6  
			AND LaborExtraRemovedType = 'Body'
			AND LaborIncluded = 0
		GROUP BY LaborExtraRemovedHours, LaborExtraRemovedType, Rates.Taxable, Rates.Rate, Rates.CapType, Rates.Cap, Markup
	) AS extraLaborBase
	GROUP BY 		 
		  LaborType
		, Taxable
		, CapType
		, Cap
		, Rate
		, Markup

	UNION

	-- Add Paint labor
	SELECT   
		  Rates.RateType
		, 0
		, 'Paint Labor'
		, Rates.Taxable
		, Rates.CapType
		, Rates.Cap
		, Rates.Rate
		, Rates.Markup
		, SUM (LaborTotalPaintPanel + LaborTotalPaint) AS Hours
		, null
		, null
		, null
		, null
		, ''
	FROM ProcessedLines  
	JOIN #Rates AS Rates ON Rates.RateType = 2  
	WHERE   
		CacheID = @LinesCacheID 
		AND	ForSummary = 1  
		AND (LaborTotalPaintPanel <> 0 OR LaborTotalPaint <> 0)  
		AND Rates.Rate <> 0  
	GROUP BY   
		Rates.Taxable, Rates.Rate, Rates.CapType, Rates.Cap, Rates.Markup, Rates.RateType

	UNION

	-- Add paint supplies, this is the same as above with a different rate profile
	SELECT   
		  Rates.RateType
		, 0
		, 'Paint Supplies'
		, Rates.Taxable
		, Rates.CapType
		, Rates.Cap
		, Rates.Rate
		, Rates.Markup
		, SUM (LaborTotalPaintPanel + LaborTotalPaint) AS Hours
		, null
		, null
		, null
		, null
		, ''
	FROM ProcessedLines  
	JOIN #Rates AS Rates ON Rates.RateType = 7  
	WHERE 
		CacheID = @LinesCacheID
		AND ForSummary = 1  
		AND (LaborTotalPaintPanel <> 0 OR LaborTotalPaint <> 0)  
		AND Rates.Rate <> 0  
	GROUP BY   
		Rates.Taxable, Rates.Rate, Rates.CapType, Rates.Cap, Rates.Markup, Rates.RateType

	UNION 

	-- Add a clearcoat line 
	SELECT 
		  21
		, CASE WHEN ProcessedLines.ClearcoatIncluded = 1 THEN 2 ELSE 0 END AS IncludedIn
		, 'Clearcoat Labor'
		, ISNULL(IncludeIn.Taxable, Rates.Taxable) AS Taxable
		, CASE WHEN @CapLaborAfterInclude = 1 THEN ISNULL(IncludeIn.CapType, Rates.CapType) ELSE Rates.CapType END AS CapType
		, CASE WHEN @CapLaborAfterInclude = 1 THEN ISNULL(IncludeIn.Cap, Rates.Cap) ELSE Rates.Cap END AS Cap
		, ISNULL(IncludeIn.Rate, Rates.Rate) AS Rate
		, ISNULL(IncludeIn.Markup, Rates.Markup) AS Markup
		, SUM (LaborTotalClearcoat) AS Hours
		, null
		, null
		, null
		, null
		, ''
	FROM ProcessedLines  
	JOIN #Rates AS Rates ON Rates.RateType = 21 
	LEFT OUTER JOIN #Rates AS IncludeIn ON IncludeIn.RateType = Rates.IncludeIn
	WHERE   
		CacheID = @LinesCacheID 
		AND ForSummary = 1  
		AND LaborTotalClearcoat <> 0
		AND ISNULL(IncludeIn.Rate, Rates.Rate) <> 0  
	GROUP BY   
		ProcessedLines.ClearcoatIncluded, IncludeIn.Taxable, Rates.Taxable, IncludeIn.CapType, Rates.CapType, IncludeIn.Cap, Rates.Cap, IncludeIn.Rate, Rates.Rate, IncludeIn.Markup, Rates.Markup

	UNION

	SELECT   
		  22
		, CASE WHEN ProcessedLines.ClearcoatSuppliesIncluded = 1 THEN 7 ELSE 0 END AS IncludedIn
		, 'Clearcoat Supplies'
		, ISNULL(IncludeIn.Taxable, Rates.Taxable) AS Taxable
		, CASE WHEN @CapSuppliesAfterInclude = 1 THEN ISNULL(IncludeIn.CapType, Rates.CapType) ELSE Rates.CapType END AS CapType
		, CASE WHEN @CapSuppliesAfterInclude = 1 THEN ISNULL(IncludeIn.Cap, Rates.Cap) ELSE Rates.Cap END AS Cap
		, ISNULL(IncludeIn.Rate, Rates.Rate) AS Rate
		, ISNULL(IncludeIn.Markup, Rates.Markup) AS Markup
		, SUM (LaborTotalClearcoat) AS Hours
		, null
		, null
		, null
		, null
		, ''
	FROM ProcessedLines  
	JOIN #Rates AS Rates ON Rates.RateType = 22 
	LEFT OUTER JOIN #Rates AS IncludeIn ON IncludeIn.RateType = Rates.IncludeIn
	WHERE   
		CacheID = @LinesCacheID 
		AND ForSummary = 1  
		AND LaborTotalClearcoat <> 0  
		AND ISNULL(IncludeIn.Rate, Rates.Rate) <> 0  
	GROUP BY   
		ProcessedLines.ClearcoatSuppliesIncluded, IncludeIn.Taxable, Rates.Taxable, IncludeIn.CapType, Rates.CapType, IncludeIn.Cap, Rates.Cap, IncludeIn.Rate, Rates.Rate, IncludeIn.Markup, Rates.Markup

	--SELECT * FROM #LaborTypeData

	-- Add a record for any labor type that isn't already in the LaborTypeData table but has another type included into it, this way there is something to join into
	INSERT INTO #LaborTypeData
	SELECT 
		  Base.RateType AS LaborTypeID
		, Base.IncludeIn AS LaborTypeIncludeIn
		, CASE WHEN Base.RateName LIKE '%Supplies%' OR Base.RateName LIKE '%Parts%' THEN Base.RateName ELSE Base.RateName + ' Labor' END AS LaborType
		, Base.Taxable
		, Base.CapType
		, Base.Cap
		, Base.Rate
		, Base.Markup
		, 0
		, 0
		, 0
		, 0
		, 0
		, ''
	FROM #Rates AS Included
	JOIN #Rates AS Base ON Base.RateType = Included.IncludeIn
	WHERE 
		Included.IncludeIn > 0
		AND Base.RateType NOT IN (SELECT LaborTypeID FROM #LaborTypeData)

	-- Calculated the capped hours
	UPDATE #LaborTypeData
	SET CappedHours = 
		CASE 
			WHEN @CapLaborAfterInclude = 0 AND CapType = 1 AND Hours > CAP THEN Cap
			ELSE Hours
		END

	-- Calculate the sub total, Hours X Capped Hours
	UPDATE #LaborTypeData
	SET 
		  SubTotal = Rate * CappedHours
		, CapMessage = ( 
			CASE WHEN CappedHours < Hours THEN LaborType + ' capped at ' + CAST(CappedHours AS VARCHAR(20)) + ' hours'
			ELSE '' END)

	-- Calculate the marked up total
	UPDATE #LaborTypeData
	SET
		MarkupTotal = SubTotal + (SubTotal * (Markup / 100))
		, CapMessage = CapMessage + (
			CASE WHEN Markup < 0 THEN LaborType + ' Discounted by %' + CAST(ABS(Markup) AS VARCHAR(10)) + ' ($' + FORMAT((SubTotal * (Markup / 100) * -1), 'N') + ')' ELSE '' END
		)

		-- Do the $ cap
	UPDATE #LaborTypeData
	SET
		CappedTotal = 
			CASE 
				WHEN @CapLaborAfterInclude = 0 AND CapType = 0 AND MarkupTotal > Cap THEN Cap
				ELSE MarkupTotal
			END
		, CapMessage = CapMessage + 
			CASE WHEN @CapLaborAfterInclude = 0 AND CapType = 0 AND MarkupTotal > Cap 
				THEN CASE WHEN ISNULL(CapMessage, '') <> '' THEN '<br/>' ELSE '' END + LaborType + ' capped at $' + FORMAT(Cap, 'N')
				ELSE '' 
			END

	--SELECT * FROM #LaborTypeData
	----------------------------------------------------------------------------------------------------------------------------------------  
	-- End Labor table
	----------------------------------------------------------------------------------------------------------------------------------------  
	
	----------------------------------------------------------------------------------------------------------------------------------------  
	-- Union together queries to get all data types for the final sub totals  
	----------------------------------------------------------------------------------------------------------------------------------------  

	INSERT INTO ProcessedSubTotals  
  
	-- Get all Labor type totals  
		SELECT 
		  @SubTotalCacheID
		, Base.LaborType AS RateName
		, SUM(Base.CappedTotal + ISNULL(Included.CappedTotal, 0)) AS FinalLineItemTotal
		, Base.Taxable AS Taxable
		, Base.Rate AS Rate
		, ROUND(SUM(Base.CappedHours + ISNULL(Included.CappedHours, 0)), 1) AS Hours
		, 'A' + Base.LaborType AS SortOrder
		, Base.CapMessage 
		  + CASE WHEN ISNULL(Included.CapMessage, '') <> ''
				THEN 
					CASE WHEN ISNULL(Base.CapMessage, '') <> '' THEN '<br />' ELSE '' END
					+ Included.CapMessage
				ELSE ''
			END AS Notes
		, Base.CapType
		, Base.Cap
	FROM #LaborTypeData AS Base
	LEFT OUTER JOIN #LaborTypeData AS Included ON Base.LaborTypeID = Included.LaborTypeIncludeIn
	WHERE Base.LaborTypeIncludeIn = 0
	GROUP BY Base.LaborType, Base.Taxable, Base.Rate, Base.CappedHours, Base.CapMessage, Included.CapMessage, Base.CapType, Base.Cap

	UNION  
  
	-- PDR  
	SELECT  @SubTotalCacheID, * FROM  
	(  
		SELECT   
			 'PDR' AS RateName   
			, SUM(ProcessedLines.Price + ProcessedLines.OversizedPrice + ProcessedLines.ModifierPrice) AS FinalLineItemTotal
			, ISNULL((SELECT TOP 1 Taxable FROM PDR_RateProfile WHERE AdminInfoID = @AdminInfoID), 0) AS Taxable
			, null AS Rate
			, null AS Hours
			, 'BPDR' As SortOrder
			, '' As Notes
			, 0 AS CapType
			, 0 AS Cap
			FROM ProcessedLines 
			LEFT OUTER JOIN ProcessedLines AS Modified ON Modified.CacheID = @LinesCacheID AND ProcessedLines.LineItemID = Modified.LineItemID AND ProcessedLines.SupplementVersion - 1  = Modified.SupplementVersion
			WHERE   
				ProcessedLines.CacheID = @LinesCacheID 
				AND ProcessedLines.ForSummary = 1  
				--AND ProcessedLines.SupplementVersion <= @SupplementVersion
				AND ProcessedLines.Action = 'PDR Matrix'  
	) PDRData WHERE ISNULL(FinalLineItemTotal, 0) <> 0  
				  
	UNION  
  
	-- Get the Other charges  
	SELECT 
		  @SubTotalCacheID
		, RateName 
		, FinalLineItemTotal 
		, Taxable   
		, 0 As Rate
		, NULL As Hours
		, SortOrder
		, CASE WHEN DiscountAmount < -0.001 
			THEN RateName + ' discounted %' + CAST( ROUND(((DiscountAmount / PreTotal) * 100), 0) * -1 AS VARCHAR(20)) + ' ($' + FORMAT(DiscountAmount * -1, 'N') + ')' 
			ELSE ''
			END AS Notes
		, 99
		, 0
	FROM
	(
		SELECT  
			 ISNULL(LaborTypes.LaborType, '') AS RateName 
			, SUM(ProcessedLines.OtherCharges) AS FinalLineItemTotal 
			, CASE   
				WHEN ProcessedLines.OtherChargesLaborType = 14 THEN 1		-- Taxed labor type  
				ELSE ISNULL(Rates.Taxable, 0)
				END AS Taxable   
			, 'C' + ISNULL(LaborTypes.LaborType, '') As SortOrder
			, SUM(EstimationLineLabor.LaborCost) AS PreTotal
			, SUM(ProcessedLines.OtherCharges - EstimationLineLabor.LaborCost) AS DiscountAmount
		FROM ProcessedLines  
		LEFT OUTER JOIN LaborTypes ON ProcessedLines.OtherChargesLaborType = LaborTypes.ID
		LEFT OUTER JOIN #Rates As Rates ON Rates.RateType = LaborTypes.RateTypesID
		LEFT OUTER JOIN EstimationLineLabor ON ProcessedLines.LineItemID = EstimationLineLabor.EstimationLineItemsID AND EstimationLineLabor.LaborType IN (13, 14, 15, 30, 31)
		WHERE   
			CacheID = @LinesCacheID 
			AND ProcessedLines.OtherCharges <> 0  
			AND ForSummary = 1  
		GROUP BY  
			LaborTypes.LaborType, ProcessedLines.OtherChargesLaborType, Rates.Taxable
	) AS OtherBase
  
	UNION  
  
	-- Parts  
	SELECT
		  @SubTotalCacheID
		, RateName
		, FinalLineItemTotal
		, ISNULL(Taxable, 0) AS Taxable
		, 0 AS Rate
		, null AS Hours
		, SortOrder
		, CASE WHEN Markup < 0 
			THEN RateName + ' discounted %' + CAST(ROUND(Markup * -1, 0) AS VARCHAR)  + ' ($' + FORMAT(ABS(CASE WHEN Markup <> 0 THEN (Markup / 100) * OriginalPartsTotal ELSE 0 END), 'N') + ')'
			ELSE ''
		  END As Notes
		, CapType
		, Cap
	FROM
	(
		SELECT   
			REPLACE(REPLACE(ProcessedLines.PartSource, 'After', 'Aftermarket'), 'Reman', 'Remanufactured') + ' Parts' AS RateName
			, SUM(ProcessedLines.Price * ProcessedLines.Quantity) AS FinalLineItemTotal 
			, SUM(EstimationLineItems.Price * ProcessedLines.Quantity) AS OriginalPartsTotal
			, Rates.Taxable AS Taxable
			, 'C' + REPLACE(REPLACE(ProcessedLines.PartSource, 'After', 'Aftermarket'), 'Reman', 'Remanufactured') + ' Parts' AS SortOrder
			, Rates.CapType
			, Rates.Cap
			, Rates.Markup
		FROM ProcessedLines  
		LEFT OUTER JOIN #Rates AS Rates ON Rates.RateType =  
			CASE  
				WHEN ProcessedLines.PartSource = 'OEM' THEN 8   
				WHEN ProcessedLines.PartSource = 'LKQ' THEN 9  
				WHEN ProcessedLines.PartSource = 'After' THEN 10  
				WHEN ProcessedLines.PartSource = 'Reman' THEN 13  
				WHEN ProcessedLines.PartSource = 'Other' THEN 18  
				ELSE -1  
			END  
		LEFT OUTER JOIN EstimationLineItems ON ProcessedLines.LineItemID = EstimationLineItems.id
		WHERE   
			CacheID = @LinesCacheID AND
			(ISNULL(ProcessedLines.Price, 0) <> 0 AND Action <> 'PDR Matrix')  
			AND ForSummary = 1  
		GROUP BY   
			ProcessedLines.PartSource  
			, Rates.Taxable  
			, Rates.CapType 
			, Rates.Cap 
			, Rates.Markup
 
		--UNION  
	  
		---- Parts removed by changing part source  
		--SELECT   
		--	REPLACE(REPLACE(ProcessedLines.RemovedPartSource, 'After', 'Aftermarket'), 'Reman', 'Remanufactured') + ' Parts' AS RateName 
		--	, SUM(ProcessedLines.RemovedPrice * ProcessedLines.RemovedQuantity) * -1 AS FinalLineItemTotal
		--	, Rates.Taxable AS Taxable
		--	, 'C' + REPLACE(REPLACE(ProcessedLines.RemovedPartSource, 'After', 'Aftermarket'), 'Reman', 'Remanufactured') + ' Parts' AS SortOrder
		--	, Rates.CapType
		--	, Rates.Cap
		--	, Rates.Markup
		--FROM @ProcessedLines AS ProcessedLines 
		--LEFT OUTER JOIN #Rates AS Rates ON Rates.RateType =  
		--	CASE  
		--		WHEN ProcessedLines.RemovedPartSource = 'OEM' THEN 8   
		--		WHEN ProcessedLines.RemovedPartSource = 'LKQ' THEN 9  
		--		WHEN ProcessedLines.RemovedPartSource = 'After' THEN 10  
		--		WHEN ProcessedLines.RemovedPartSource = 'Reman' THEN 13  
		--		WHEN ProcessedLines.RemovedPartSource = 'Other' THEN 18  
		--		ELSE -1  
		--	END  
		--WHERE   
		--	ISNULL(ProcessedLines.RemovedPrice, 0) <> 0   
		--	AND ForSummary = 1  
		--GROUP BY   
		--	ProcessedLines.RemovedPartSource  
		--	, Rates.Taxable  
		--	, Rates.CapType 
		--	, Rates.Cap 
		--	, Rates.Markup
	) base
 
	ORDER BY SortOrder  

	--SELECT * FROM @EstimateSubTotals

	-- Final hours cap
	UPDATE ProcessedSubTotals
	SET 
		  Hours = Cap
		, FinalLineItemTotal = Cap * Rate
		, Notes += 
			-- The first case avoids showing the same cap message twice
			CASE WHEN Notes LIKE '%' + RateName + ' Capped%' THEN '' 
			ELSE
				CASE WHEN ISNULL(Notes, '') <> '' THEN '<br />' ELSE '' END + RateName + ' Capped at ' + CAST(ROUND(Cap, 2) AS VARCHAR(20)) + ' hours'
			END
	FROM ProcessedSubTotals
	WHERE CacheID = @SubTotalCacheID AND CapType = 1 AND Hours > Cap AND RateName <> 'PDR'

	-- Final $ cap
	UPDATE ProcessedSubTotals
	SET 
		FinalLineItemTotal = Cap
		, Notes += 
			-- The first case avoids showing the same cap message twice
			CASE WHEN Notes LIKE '%' + RateName + ' Capped%' THEN ''	-- The cap message is already shown
			ELSE
				CASE WHEN ISNULL(Notes, '') <> '' THEN '<br />' ELSE '' END + RateName + ' Capped at $' + FORMAT(Cap, 'N')
			END
	FROM ProcessedSubTotals
	WHERE CacheID = @SubTotalCacheID AND CapType = 0 AND FinalLineItemTotal > Cap AND RateName <> 'PDR'
 
	SELECT @SubTotalCacheID
END
GO
