USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/17/2020
-- Description:	Get a saved insurance company
-- =============================================
CREATE PROCEDURE [dbo].[InsuranceCompany_Get]
	  @ID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM InsuranceCompany
	WHERE ID = @ID

END
GO
