USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE      VIEW [dbo].[vwContractPriceLevelTerms]
AS

/*

SELECT		*
FROM		vwContractPriceLevelTerms


SELECT		*
FROM		vwContractPriceLevelTerms
WHERE		ContractTypeID = 1	-- Web-Est
AND			TermActive = 1
AND			PriceLevelActive = 1
ORDER BY	TermDescription,
			PriceLevel

SELECT		*
FROM		vwContractPriceLevelTerms
WHERE		ContractTypeID = 2	-- Frame Data
AND			TermActive = 1
AND			PriceLevelActive = 1
ORDER BY	NumberOfPayments

*/

SELECT		t.ContractTypeID,
			ct.Type AS ContractType,
			ct.ProductCode,
			ct.ProductDescription,
			p.ContractPriceLevelID,
			p.PriceLevel,
			t.ContractTermID,
			t.PreviousContractTermID,
			t.TermDescription,
			( Convert(varchar(10), p.PriceLevel) + ' / ' + t.TermDescription ) AS LevelTerm,
			t.ContractLength,
			( CASE WHEN t.DepositAmount > 0 THEN ( 'Deposit of $' + Replace(Convert(varchar(10), DepositAmount), '.00', '') + ', then ' ) ELSE '' END ) +
				( Convert(varchar(10), NumberOfPayments) + ' payment' +
				( CASE WHEN NumberOfPayments <> 1 THEN 's' ELSE '' END ) +
				' of $' + Replace(Convert(varchar(10), PaymentAmount), '.00', '') )
				AS PaymentDescription,
			t.NumberOfPayments,
			Convert(bit, ( CASE WHEN t.DepositAmount > 0 THEN 1 ELSE 0 END )) AS DepositRequired,
			t.DepositAmount,
			p.PaymentAmount,
			( t.DepositAmount + ( t.NumberOfPayments * p.PaymentAmount ) ) AS TermTotal,
			t.ForceAutoPay,
			t.Active AS TermActive,
			p.Active AS PriceLevelActive
FROM		ContractPriceLevels p (NOLOCK)
INNER JOIN	ContractTerms t (NOLOCK)
				ON p.ContractTermID = t.ContractTermID
INNER JOIN	ContractType ct (NOLOCK)
				ON t.ContractTypeID = ct.ContractTypeID

GO
