USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInvoicesForLogin] 
	  @LoginID		int
	, @ShowDeleted	bit = 0
AS
BEGIN

	SELECT Invoices.*, CASE WHEN ISNULL(Contracts.IsDeleted, 0) = 1 OR ISNULL(ContractAddOn.IsDeleted, 0) = 1 THEN 1 ELSE 0 END AS ContractIsDeleted
	FROM Invoices
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	WHERE 
		Invoices.LoginID = @LoginID
		AND ((Invoices.IsDeleted = 0 AND ISNULL(Contracts.IsDeleted, 0) = 0 AND ISNULL(ContractAddOn.IsDeleted, 0) = 0) OR @ShowDeleted = 1)
		AND Contracts.ContractID IS NOT NULL

END
GO
