USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[InsertPromo]
	@ContractPriceLevelID int,
	@PromoCode varchar(50),
	@PromoAmount decimal(6,2),
	@StartDate datetime,
	@EndDate datetime
AS

/*
EXECUTE InsertPromo
	@ContractPriceLevelID = 47,	-- $200 Plus 11 Payments
	@PromoCode = 'ABC123',
	@PromoAmount = 25,
	@StartDate = '4/1/2012',
	@EndDate = '5/1/2012'
*/

SET NOCOUNT ON

SET @EndDate = Convert(varchar(10), @EndDate, 101) + ' 23:59:59.99'

INSERT INTO	Promo (
	ContractPriceLevelID,
	PromoCode,
	PromoAmount,
	StartDate,
	EndDate
)
VALUES (
	@ContractPriceLevelID,
	@PromoCode,
	@PromoAmount,
	@StartDate,
	@EndDate
)


GO
