USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetEstimateNumber]
	@LoginsID Int,
	@EstimateNumber Int = NULL OUTPUT	--A NULL is returned if an Organization has not been set up.
AS
	SET TRANSACTION ISOLATION LEVEL REPEATABLE READ	--Don't allow the record to change while getting the report number
	BEGIN TRANSACTION

	SELECT @EstimateNumber = Logins.LastEstimateNumber
	FROM Logins 
	WHERE Logins.id = @LoginsID

	IF @EstimateNumber IS NOT NULL 
	BEGIN
		SELECT @EstimateNumber = @EstimateNumber + 1

		UPDATE Logins
		SET LastEstimateNumber = @EstimateNumber
		FROM Logins 
		WHERE Logins.id = @LoginsID
	END

	COMMIT TRANSACTION



GO
