USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ryan Blade
-- Create date: 3/27/2020
-- Description:	Find comparable week of the month in past or future for comparison
-- =============================================
CREATE FUNCTION [dbo].[fnGetWeekOfMonth]
(
	 @Date date
	,@Week int
	,@Month int
)
RETURNS date
AS
BEGIN
SELECT  @date = 
    DATEADD (
        DAY, (
            DATEDIFF ( DAY, 3, --Day of week where 0 = Mon 
                DATEADD ( MONTH, 
                    DATEDIFF ( MONTH, 0, dateadd(mm,@Month,@Date)), 0
                    )
                ) 
            / 7
        ) * 7 + ( @Week * 7 ), --1 * 7 for week 1, 2 * 7 for week 2, etc.
        3 --Day of week where 0 = Mon 
    )  

Return @Date

END
GO
