USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](50) NULL,
	[Organization] [varchar](50) NULL,
	[CompanyName] [varchar](100) NULL,
	[CompanyType] [varchar](20) NULL,
	[CompanyOrigin] [tinyint] NULL,
	[Password] [varchar](50) NULL,
	[CreationDate] [datetime] NULL,
	[ContactID] [int] NULL,
	[HeaderContact] [varchar](50) NULL,
	[SalesRepID] [int] NULL,
	[ResellerID] [int] NULL,
	[NoOfLogins] [tinyint] NULL,
	[DoubtfulAccount] [bit] NULL,
	[Disabled] [bit] NULL,
	[StaffAccount] [bit] NULL,
	[RegistrationNumber] [varchar](25) NULL,
	[PrintRegistrationNumber] [bit] NULL,
	[ShowRepairShopProfiles] [bit] NULL,
	[AllowAlternateIdentities] [bit] NULL,
	[Appraiser] [bit] NULL,
	[ShowLaborTimeWO] [bit] NULL,
	[LicenseNumber] [varchar](50) NULL,
	[PrintLicenseNumber] [bit] NULL,
	[BarNumber] [varchar](50) NULL,
	[PrintBarNumber] [bit] NULL,
	[FederalTaxID] [varchar](15) NULL,
	[PrintFederalTaxID] [bit] NOT NULL,
	[UseTaxID] [bit] NULL,
	[UseDefaultRateProfile] [bit] NULL,
	[UseDefaultPDRRateProfile] [bit] NULL,
	[LogoImageType] [varchar](5) NULL,
	[ProfileLocked] [bit] NULL,
	[PartsNow] [bit] NULL,
	[OverlapAdmin] [bit] NULL,
	[LastEstimateNumber] [int] NULL,
	[LastWorkOrderNumber] [int] NULL,
	[CarfaxExcludeDate] [datetime] NULL,
	[TechSupportPassword] [varchar](50) NULL,
	[LanguageID] [tinyint] NULL,
	[WisetackMerchantID] [nvarchar](200) NULL,
	[WisetackSignupLink] [nvarchar](200) NULL,
 CONSTRAINT [PK_Loginss] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_Logins_WisetackMerchantID] ON [dbo].[Logins]
(
	[WisetackMerchantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logins] ADD  CONSTRAINT [DF__Logins__L_ID__5C2BB607]  DEFAULT ((1)) FOR [LanguageID]
GO
