USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetPOI] 
@AdminInfoID int 
	 
AS 
select '' as POI_ID, '' as Description ,(select ISNULL(POI_ID, '') 
										from FocusWrite.dbo.VehicleInfo as v with(nolock) 
											inner join FocusWrite.dbo.estimationdata as e with(nolock) 
												 on v.EstimationDataId = e.id
										where e.admininfoid = @AdminInfoID)  as selected , '' as ordered
union all
select p.POI_ID, p.Description ,
(select isnull(POI_ID,' ') as POI_ID
from FocusWrite.dbo.VehicleInfo as v  with(nolock)
inner join FocusWrite.dbo.EstimationData as e  with(nolock)
on e.id = v.EstimationDataId  
where AdminInfoID = @AdminInfoID) as selected, p.Description as ordered
from dbo.POI p
order by ordered

GO
