USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/15/2019
-- Description: Get the reports that were sent as attachments with an Email
-- =============================================
CREATE PROCEDURE [dbo].[Report_GetByEmail] 
	@EmailID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Reports.*
	FROM ReportEmailAttachment
	JOIN Reports ON ReportEmailAttachment.ReportID = Reports.ID
	WHERE ReportEmailAttachment.EmailID = @EmailID
END
GO
