USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/17/2017 
-- Description:	Insert a payment record 
-- ============================================= 
CREATE PROCEDURE [dbo].[PaymentInsert] 
	@loginID			int, 
	@timeStamp			datetime, 
	@paymentType		tinyint, 
	@paymentID			varchar(100), 
	@total				money 
AS 
BEGIN 
	INSERT INTO Payment 
	(LoginID, TimeStamp, PaymentType, PaymentID, Total) 
	VALUES (@loginID, @timeStamp, @paymentType, @paymentID, @total) 
 
	SELECT CAST(SCOPE_IDENTITY() AS INT) 
END 
GO
