USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 
CREATE PROCEDURE [dbo].[UpdateAdminTotals] 
	@AdminInfoID Int 
AS 

	-- Get the results of the line items totals SP which calculates the grand total
	DECLARE  @tablevar  Table
	(
		SortOrder INT, 
		Type VARCHAR(50), 
		Note VARCHAR(50), 
		Amount MONEY
	)

	--declare @tesmp int = 'abc'

	DECLARE @Supplement INT = (SELECT ISNULL(LockLevel, 0) FROM EstimationData WHERE AdminInfoID = @AdminInfoID)

	insert into @tablevar(SortOrder, Type, Note, Amount) 
	EXEC EstimateReport_GetTotals 
		@AdminInfoID = @AdminInfoID,
		@SupplementVersion = @Supplement,
		@ForEOR = 1,
		@AlwaysIncludeGT = 1

	DECLARE @newTotal AS FLOAT = (SELECT Amount FROM @tablevar WHERE Type = 'Grand Total')

	-- Update the AdminInfo record with the new total
	-- NOTE: The old SP (below) also updated the Betterment Total.  The Betterment Total is not used in ProE, if we do end up using it, this will have to be updated
	UPDATE AdminInfo 
	SET	GrandTotal = FocusWrite.dbo.FormatMoney(@newTotal)
	FROM AdminInfo 
	WHERE ID = @AdminInfoID
GO
