USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeList](
	[MasterCodeListTabsID] [int] NULL,
	[Code] [varchar](25) NULL,
	[Description] [varchar](100) NULL,
	[EntryType] [varchar](10) NULL,
	[LaborTypeID] [int] NULL,
	[RateTypeID] [int] NULL
) ON [PRIMARY]
GO
