USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/16/2018 
-- Description:	Get oversized dents for a panel as a comma seperated list 
-- ============================================= 
CREATE FUNCTION [dbo].[PDR_GetOversizedDentsDisplay] 
( 
	@estimateDataPanelID		int 
) 
RETURNS VARCHAR(500) 
AS 
BEGIN 
	 
	DECLARE @result AS VARCHAR(500) =  
	( 
		SELECT PDR_SizeLookup.Size + ' ' + PDR_DepthLookup.Depth + ', ' 
		FROM PDR_EstimateDataPanelOversize  
		LEFT OUTER JOIN PDR_SizeLookup ON PDR_SizeLookup.ID = PDR_EstimateDataPanelOversize.Size 
		LEFT OUTER JOIN PDR_DepthLookup ON PDR_DepthLookup.ID = PDR_EstimateDataPanelOversize.Depth 
		WHERE PDR_EstimateDataPanelOversize.EstimateDataPanelID = @estimateDataPanelID 
		FOR XML PATH ('') 
	) 
 
	if LEN(@result) > 0 
		SET @result = LEFT(@result, LEN(@result) - 1) 
 
	-- If there are oversized dents on the panel add them first 
	DECLARE @oversized INT = (SELECT ISNULL(OversizedDents, 0) FROM PDR_EstimateDataPanel WHERE ID = @estimateDataPanelID) 
	if (@oversized > 0) 
		SET @result = CAST(@oversized AS VARCHAR(10)) + ' Oversized' + CASE WHEN ISNULL(@result, '') <> '' THEN ', ' ELSE '' END + @result 
 
	RETURN @result 
END 
GO
