USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[EstimateReport_GetLineItems_EOR_BACKUP]    
	@AdminInfoID		int,   
	@ImageDirectory		VARCHAR(200) = '',   
	@SupplementVersion	INT = 0   
AS  
BEGIN  
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.    
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component    
	 IF 1=0 BEGIN    
       SET FMTONLY OFF    
     END    
 
	SELECT  
		Base.*  
		, CASE WHEN Base.LaborIncluded = 1 AND Previous.LaborIncluded = 0 THEN OverlapSupplement ELSE 0 END AS IncludeAdded 
	INTO #EOR_Temp 
	FROM  
	( 
		SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter, LineItemID) AS LineNumberCalculated, *   
		FROM  dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion, @ImageDirectory, 0) AS ProcessedLines    
		WHERE ForSummary = 1 AND PartSourceModified = 0	AND OperationDescription NOT LIKE '%Delete Line%' 
	) Base 
	LEFT OUTER JOIN  
	( 
		SELECT LineItemID, LaborIncluded 
		FROM  dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion - 1, @ImageDirectory, 0) AS ProcessedLines    
		WHERE ForSummary = 1 AND PartSourceModified = 0	AND OperationDescription NOT LIKE '%Delete Line%' 
	) Previous 
	ON Base.LineItemID = Previous.LineItemID 
	ORDER BY GroupNumber, Sorter, Base.LineItemID  
 
	UPDATE #EOR_Temp 
	SET SupplementDisplay = dbo.Biggest(SupplementDisplay, IncludeAdded) 
 
	SELECT * FROM #EOR_Temp 
  OPTION(RECOMPILE)
	--SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter, LineItemID) AS LineNumberCalculated, *   
	--FROM  dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion, @ImageDirectory, 0) AS ProcessedLines    
	--WHERE ForSummary = 1 AND PartSourceModified = 0	AND OperationDescription NOT LIKE '%Delete Line%' 
	--ORDER BY GroupNumber, Sorter, LineItemID  
 
  
END  
GO
