USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--select * from SalesRep   
  
CREATE procedure [dbo].[GetImpersonateValue]       
@LoginID int ,     
@SalesRepID int
as      
begin      
--GetImpersonateValue 96,30
      
select Logins.id,Logins.LoginName,Logins.Organization ,Logins.Password,SalesRep.SalesRepID,      
SalesRep.FirstName,SalesRep.LastName , SalesRep.pUsermaintImpersonate from Logins inner join SalesRep       
on Logins.SalesRepID=SalesRep.SalesRepID       
where Logins.id=@LoginID    and SalesRep.SalesRepID= @SalesRepID   
end


GO
