USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetEstimateTotalLossOrNot] ( 
	@CustomerProfileID Int, 
	@VehiclePrice money, 
	@EstimateGrandTotal varchar(20) 
	)   
RETURNS bit AS   
BEGIN  
	DECLARE @Result bit=0 
	Declare @TotalLossPerc real 
 
	select @TotalLossPerc = TotalLossPerc from CustomerProfilesMisc where CustomerProfilesID=@CustomerProfileID 
 
	if((Convert(float, IsNull(Replace(@EstimateGrandTotal,',',''),0)) > ISNull(@VehiclePrice,0) * Convert(float,(IsNull(@TotalLossPerc,0))/100))  
	and ISNull(@VehiclePrice,0) > 0 and IsNull(@TotalLossPerc,0) > 0) 
	select @Result=1 
	else 
	select @Result=0 
 
 
	RETURN(@Result) 
END 
GO
