USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 8/6/2018
-- Description:	Get the list of sections by a vehicle ID.  If the vehicle ID is null (for manual estimates) returns the list of sections used by PDR.
--				This is a cleaned up and added to version of GetSectionsListByVehicleID from the Mitchell 3 database that replaces it
-- =============================================
CREATE PROCEDURE [dbo].[GetSectionsListByVehicle]
	@VehicleID			INT,
	@IgnoreYearFilter	BIT = 0
AS
BEGIN

	DECLARE	@Year Int = NULL

	DECLARE @Service_BarCode VarChar(10)

	IF @VehicleID > 0
		SELECT @Service_BarCode = Max(Service_Barcode)
		FROM [Vinn].[dbo].[Vehicle_Service_Xref]
		WHERE VehicleID = @VehicleID

	IF @VehicleID > 0	
		BEGIN
			SELECT @Year = VinYear
			FROM vinn.dbo.Vehicle_Service_Xref
			WHERE VehicleID = @VehicleID

			SELECT 
				-1 AS SectionKey
				, '' AS SectionName

			UNION

			SELECT DISTINCT
				Category.nheader * 256 + ISNULL(Subcategory.nsection, 0) 'SectionKey',
				dbo.CapFirstSection(
					CASE 
						WHEN Category.Category IS NULL AND SubCategory.Subcategory IS NOT NULL
							THEN SubCategory.Subcategory
	 					WHEN Category.Category IS NOT NULL AND SubCategory.Subcategory IS NULL
							THEN Category.Category
						WHEN Category.Category = SubCategory.Subcategory
							THEN Category.Category 
						ELSE Category.Category + ' \ ' + SubCategory.Subcategory
					END
				) 'SectionName'
			FROM Mitchell3.dbo.Category
			LEFT OUTER JOIN Mitchell3.dbo.Subcategory ON Subcategory.Service_BarCode = Category.Service_BarCode AND Subcategory.nheader = Category.nheader
			WHERE 
				Category.Service_BarCode = @Service_Barcode 
				AND
				(
					@IgnoreYearFilter = 1
					OR
					(
						@Year IS NULL 
						OR Subcategory.Start_Date IS NULL 
						OR Subcategory.End_Date IS NULL 
						OR 
						(
							@Year IS NOT NULL 
							AND Subcategory.Start_Date IS NOT NULL 
							AND Subcategory.End_Date IS NOT NULL 
							AND	@Year Between Year(Subcategory.Start_Date) AND Year(Subcategory.End_Date)
						)
					)
				)
				AND Category.Category <> 'A/C Refrigerant Capacities'
		END
	ELSE
		BEGIN
			SELECT 
				-1 AS SectionKey
				, '' AS SectionName
				, 0 As SortOrder

			UNION

			SELECT 
				ID As SectionKey
				, Section AS SectionName
				, SortOrder
			FROM ManualSections
			ORDER BY SortOrder
		END

END



SET ANSI_NULLS ON
GO
