USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/16/2021
-- =============================================
CREATE PROCEDURE [dbo].[SitePermissionLinks_GetForUser]
	@SiteUserID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM SitePermissionLinks
	WHERE SiteUserID = @SiteUserID

END
GO
