USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetDaysToRepair-4.sql
CREATE PROCEDURE [dbo].[GetDaysToRepair]
	  @AdminInfoID INT 
	, @SupplementVersion INT
AS
BEGIN
	Set NoCount On

	DECLARE @Current bit = 1, @HoursInDay tinyint = 5, @LockLevel tinyint, @MaxSupplement tinyint
	
	SELECT @LockLevel =  isnull(LockLevel, 0)
		   , @HoursInDay = HoursInDay
	FROM EstimationData with(nolock) 
	WHERE EstimationData.AdminInfoID = @AdminInfoID

	SELECT @MaxSupplement = ISNULL(MAX(ISNULL(EstimationLineItems.SupplementVersion, 0)), 0)
	FROM EstimationData 
		JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID  
	WHERE EstimationData.AdminInfoID = @AdminInfoID
	if @LockLevel > @MaxSupplement set @LockLevel = @MaxSupplement
	if @LockLevel <>  @SupplementVersion set @Current = 0
	
	SELECT Convert(varchar, SUM(Hours) / @HoursInDay) + CASE WHEN @Current = 0 THEN ' (Supplement ' + CONVERT(varchar,@SupplementVersion) + ')' ELSE '' END 'DaysToRepair',
	       Convert(varchar, ceiling(SUM(Hours) / @HoursInDay)) + CASE WHEN @Current = 0 THEN ' (Supplement ' + CONVERT(varchar,@SupplementVersion) + ')' ELSE '' END 'RoundDaysToRepair'
	FROM dbo.GetEstimateSubTotalsFunction(@AdminInfoID, @SupplementVersion, 0, 0)   
	WHERE 
		RateName not like '%Supplies'
		And (FinalLineItemTotal > 0 OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%'))	
END
GO
