USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[GetPresetLaborItems] (@CustomerProfilePresetsID Int)
RETURNS VarChar(500) AS  
BEGIN 	
	DECLARE @LaborList VarChar(500)
	SELECT @LaborList = ''
	
	SELECT	@LaborList = @LaborList + 
		ISNULL(CONVERT(VarChar(20),CustomerProfilePresetsLabor.LaborTime),'') + 
		ISNULL(CONVERT(VarChar(20),CustomerProfilePresetsLabor.LaborCost),'') + ' ' +
		ISNULL(LaborTypes.LaborType, '') + ', '
	FROM CustomerProfilePresets 
	LEFT JOIN CustomerProfilePresetsLabor ON 
		CustomerProfilePresetsLabor.CustomerProfilePresetsID = CustomerProfilePresets.ID 
		AND (ISNULL(CustomerProfilePresetsLabor.Include, 0) = 1 OR CustomerProfilePresetsLabor.LaborType NOT IN (20, 21, 22, 26))
	LEFT JOIN LaborTypes ON LaborTypes.ID = CustomerProfilePresetsLabor.LaborType
	WHERE CustomerProfilePresets.ID = @CustomerProfilePresetsID
	ORDER BY CustomerProfilePresets.ID
	
	SELECT	@LaborList = @LaborList + 

		CASE	WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 1 THEN FocusWrite.dbo.FormatNumber(-CustomerProfilesPaint.AdjacentDeduction,1)
			WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 2 THEN FocusWrite.dbo.FormatNumber(-CustomerProfilesPaint.NonAdjacentDeduction,1)
			ELSE ''
		END + 'hrs.' + 
		CASE	WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 1 THEN ' Adj. Deduct.'
			WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 2 THEN  ' NonAdj. Deduct.'
			ELSE ''
		END
	FROM CustomerProfilePresets 
	LEFT JOIN CustomerProfilePresetsLabor ON CustomerProfilePresetsLabor.CustomerProfilePresetsID = CustomerProfilePresets.ID
	LEFT JOIN LaborTypes ON LaborTypes.ID = CustomerProfilePresetsLabor.LaborType
	LEFT JOIN CustomerProfilesPaint ON CustomerProfilesPaint.CustomerProfilesID = CustomerProfilePresets.ID
	WHERE CustomerProfilePresets.ID = @CustomerProfilePresetsID AND	ISNULL(CustomerProfilePresetsLabor.AdjacentDeduction,0) > 0 
	ORDER BY CustomerProfilePresets.ID	

	IF LEN(@LaborList) > 2 
		SELECT @LaborList = LEFT(@LaborList ,LEN(@LaborList)-1)
	
	RETURN @LaborList
END



GO
