USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 5/14/2020
-- Description:	Add or update a QBExportLog record
-- =============================================
CREATE PROCEDURE [dbo].[QBExportLog_Update]
	  @ID					int
	, @LoginID			int
	, @StartDate		datetime
	, @EndDate			datetime
	, @TimeStamp		datetime
	, @IsDeleted		BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE QBExportLog
			SET
				  LoginID = @LoginID
				, StartDate = @StartDate
				, EndDate = @EndDate
				, TimeStamp = @TimeStamp
				, IsDeleted = @IsDeleted
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO QBExportLog
			(
				  LoginID
				, StartDate
				, EndDate
				, TimeStamp
				, IsDeleted
			)
			VALUES
			(
				  @LoginID
				, @StartDate
				, @EndDate
				, @TimeStamp
				, @IsDeleted
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
