USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VinDecodeHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [varchar](25) NULL,
	[VinDecode] [varchar](2000) NULL,
	[LoginsID] [int] NULL,
	[DateDecoded] [datetime] NULL,
 CONSTRAINT [PK_VinDecodeHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VinDecodeHistory] ADD  CONSTRAINT [DF_VinDecodeHistory_DateDecoded]  DEFAULT (getdate()) FOR [DateDecoded]
GO
