USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    
create procedure [dbo].[GetSelectedEstimatorsData]    
@EstimatorID int      
as      
begin      
Select       
EstimatorID,      
admininfoID,     
authorFirstName as 'First Name',      
authorLastName as 'Last Name'
from EstimatorsData      
where  EstimatorID=@EstimatorID     
end 



GO
