USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/13/2023
-- Description:	Get the sub categories in a section container
-- =============================================
CREATE PROCEDURE [dbo].[LinkRuleManager_GetSubSectionsForEstimate]
	  @Search					varchar(8000)
	, @AdminInfoID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the service barcode from the estimate info.  This is done differently for older estimates
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @ServiceBarCode VarChar(10)

    IF @AdminInfoID > 1583497 
		BEGIN 
			SELECT @ServiceBarCode = Vehicle_Service_Xref.Service_Barcode 
			FROM VehicleInfo 
			INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataId 
			INNER JOIN Vinn.dbo.Vehicle_Service_Xref ON Vehicle_Service_Xref.VehicleID = VehicleInfo.VehicleID 
			WHERE EstimationData.AdminInfoID = @AdminInfoID 
		END 
	ELSE 
		BEGIN 
			SELECT @ServiceBarcode = Mitchell3.Dbo.GetServiceBarcode(@AdmininfoID) 
		END 


	DECLARE @Query NVARCHAR(4000) = 
	'SELECT DISTINCT Subcategory.nheader, Subcategory.nsection, Subcategory.Subcategory
	FROM Mitchell3.dbo.Category
	LEFT OUTER JOIN Mitchell3.dbo.Subcategory ON Subcategory.Service_BarCode = Category.Service_BarCode AND Subcategory.nheader = Category.nheader
	WHERE Category.Service_BarCode = ''' + @ServiceBarcode + ''' AND ' + @Search
	
	--INSERT INTO #Base
	EXECUTE sp_executesql @Query
END
GO
