USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/18/2017
-- Description:	Get all invoice types
-- =============================================
CREATE PROCEDURE [dbo].[GetAllInvoiceTypes]
	
AS
BEGIN
	SELECT *
	FROM InvoiceType
END

GO
