USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[GetContractTrial] 
(	
	@ContractTypeID int = 1
)
RETURNS    @Contracts table (
	LoginID int,
	ContractID int,
	EffectiveDate datetime,
	ExpirationDate datetime,
	DateRange varchar(50),
	isTrialContract bit
)
AS
 
 
	     
 begin 
  insert into @Contracts
  
	select distinct loginid
	,id as ContractID
	, StartDate
	,EndDate
	,( Convert(varchar(10),StartDate, 101) + ' - ' + Convert(varchar(10), EndDate, 101) ) AS DateRange
	,1 as isTrialContract
from trial 
where(  
  EndDate >= DATEADD(DAY, DATEDIFF(DAY, '19000101', GETDATE()), '19000101')
and loginid not in (  select LoginID
  from contracts 
  where ExpirationDate >=  DATEADD(DAY, DATEDIFF(DAY, '19000101', GETDATE()), '19000101') and IsDeleted = 0)
and loginid not in (
 select cl.LoginID
 from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.contractlogins as cl
	inner join [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.contract as c
		on c.ContractID = cl.ContractID 
 where ExpirationDate >=  DATEADD(DAY, DATEDIFF(DAY, '19000101', GETDATE()), '19000101'))
 )
 
 

 

 
 
  
  RETURN 
  end
    

 
GO
