USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[GetEstimateReportTotals]
	@AdminInfoID Int,
	@Betterment Bit = 0,
	@SupplementVersion TinyInt = NULL,
	@TotalsOnly Bit = 0,
	@UseDollars Bit = 0
AS

	
     
	IF @SupplementVersion IS NULL
	BEGIN
		IF @TotalsOnly = 0
			EXECUTE GetEstimateSubTotals @AdminInfoID, @Betterment

		EXECUTE GetEstimateTotalLines @AdminInfoID, @Betterment
	
		IF @TotalsOnly = 0
			IF @Betterment = 0
				EXECUTE GetEstimateCaps 
					@AdminInfoID = @AdminInfoID,
					@SupplementVersion = @SupplementVersion,
					@UseDollars = @UseDollars
			ELSE
				SELECT CONVERT(VarChar(50),'') 'CapInfo'
				WHERE 1=0
	END
	ELSE
	BEGIN
		IF @TotalsOnly = 0
			EXECUTE GetEstimateSubTotals @AdminInfoID, @Betterment, @SupplementVersion

		EXECUTE GetEstimateTotalLinesSV @AdminInfoID, @Betterment, @SupplementVersion

		IF @TotalsOnly = 0
			IF @Betterment = 0
				EXECUTE GetEstimateCapsSV 
					@AdminInfoID = @AdminInfoID,
					@SupplementVersion = @SupplementVersion,
					@UseDollars = @UseDollars
			ELSE
				SELECT CONVERT(VarChar(50),'') 'CapInfo'
				WHERE 1=0
	END




GO
