USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[VerifyPassword]
	@Password VarChar(50), 
	@LoginsID Int,
	@BadPassword Bit OUTPUT
AS


SELECT @BadPassword = 0


GO
