USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 8/2/2018
-- Description:	Get the renewal survey attached to the passed contract ID if it exists
-- =============================================
CREATE PROCEDURE [dbo].[RenewalSurvey_GetByContract]
	@ContractID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM RenewalSurvey
	WHERE ContractID = @ContractID
END
GO
