USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractPayCodeCommissionMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContractID] [int] NOT NULL,
	[PreviousCycleContractID] [int] NOT NULL,
	[PayCode] [int] NOT NULL,
	[Commission] [decimal](18, 2) NULL,
	[MUCommission] [decimal](18, 2) NULL,
	[QBCommission] [decimal](18, 2) NULL,
	[WalkThrough] [datetime] NULL,
	[PaymentExtension] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ContractPayCodeCommissionMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
