USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuccessBoxFeatureLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[ModuleID] [tinyint] NULL,
	[Feature] [varchar](50) NULL,
	[SyncStamp] [datetime] NULL,
	[ActiveLoginID] [int] NULL,
 CONSTRAINT [PK_SuccessBoxFeatureLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_SuccessBoxFeatureLog_9_365124287__K1D_K2_K3_5] ON [dbo].[SuccessBoxFeatureLog]
(
	[ID] DESC,
	[LoginID] ASC,
	[TimeStamp] ASC
)
INCLUDE([Feature]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
