USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetStates]
AS
BEGIN
	SELECT '' 'Code','' 'Description'
	UNION
	SELECT * 
	FROM (
		SELECT TOP 100 Code, Description
		FROM CodeList WITH (NOLOCK)
		WHERE MasterCodeListTabsID = 48 AND
			EntryType = 'USState'
		) T
	ORDER BY Description
END


GO
