USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/17/2020
-- Description:	Get an Insurance Company Employee record by ID
-- =============================================
CREATE PROCEDURE [dbo].[InsuranceCompanyEmployee_Get]
	    @ID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT * 
	FROM InsuranceCompanyEmployee
	WHERE ID = @iD
		
END	
GO
