USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrameSub](
	[FrameSub_Id] [int] IDENTITY(1,1) NOT NULL,
	[loginID] [int] NOT NULL,
	[OrganizationID] [int] NULL,
	[SubName] [nvarchar](70) NULL,
	[SubDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FrameSub] ADD  CONSTRAINT [DF_FrameSub_SubDate]  DEFAULT (getdate()) FOR [SubDate]
GO
