USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure

-- Stored Procedure

CREATE PROCEDURE [dbo].[UpdateWEContractWillRenew]   
	@ContractID				int, 
	@WillRenew				bit
AS 
BEGIN 
	UPDATE [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Contract SET WillRenew = @WillRenew 
	WHERE ContractID = @ContractID

	SELECT @ContractID
END 


GO
