USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*      */
CREATE PROCEDURE [dbo].[spGetLaborWorkOrders]
	@AdminInfoID Int
AS
	SELECT	DISTINCT
		EstimationData.AdminInfoid,
		LaborTypesName.id,
		LaborTypesName.LaborType 'Labor Name',
		EstimationLineItems.ActionCode,
		EstimationLineItems.PartNumber,
		ActionList.ActionLong,
	 	CASE	WHEN EstimationLineLabor.LaborType = LaborTypes2.id AND 
				LaborTypes2.id IN (9,10,11,12)	THEN 'Refinish'
			WHEN EstimationLineLabor.LaborType = ReportLaborTypes.ID THEN LaborTypes1.LaborType
			WHEN EstimationLineLabor.LaborType = LaborTypes2.id THEN LaborTypes2.LaborType
		END 'Labor Type',
		CASE	WHEN ISNULL(EstimationLineItems.Description,'') <> '' THEN EstimationLineItems.Description
			WHEN ISNULL(EstimationLineItems.ActionDescription,'') <> '' THEN EstimationLineItems.ActionDescription
		END 'Part Description',
		EstimationLineLabor.LaborTime 'Labor',
		LaborTypes2.id 'id2'
	FROM EstimationData WITH (NOLOCK)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID = EstimationData.id)
	INNER JOIN EstimationLineLabor WITH (NOLOCK) ON
		(EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.id)
	INNER JOIN ActionList WITH (NOLOCK) ON
		(ActionList.ActionShort = EstimationLineItems.ActionCode)
	INNER JOIN (	SELECT 1 'id'
			UNION SELECT 2
			UNION SELECT 3
			UNION SELECT 4
			UNION SELECT 7
			UNION SELECT 15
			UNION SELECT 24
			UNION SELECT 25	) ReportLaborTypes ON
		(1=1)
	INNER JOIN LaborTypes LaborTypesName WITH (NOLOCK) ON
		(LaborTypesName.id = ReportLaborTypes.ID)
	
	INNER JOIN LaborTypes LaborTypes1 ON
		(	CASE	WHEN LaborTypes1.id = ReportLaborTypes.ID  THEN 1
				WHEN ReportLaborTypes.ID = 7 AND LaborTypes1.id = 20 THEN 1
			END = 1)
	LEFT JOIN  LaborTypes LaborTypes2 WITH (NOLOCK) ON
		(LaborTypes2.RateTypesId = LaborTypes1.RateTypesId)
	
	LEFT JOIN EstimationLineItems EstimationLineItemsModifiedBy WITH (NOLOCK) ON
		(EstimationLineItemsModifiedBy.ModifiesID = EstimationLineItems.ID)
	
	WHERE 	EstimationData.AdminInfoID = @AdminInfoID AND
		( EstimationLineLabor.LaborType = LaborTypes1.id OR EstimationLineLabor.LaborType = LaborTypes2.id ) AND
		EstimationLineLabor.LaborTime > 0 AND
		EstimationLineItemsModifiedBy.id IS NULL



GO
