USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================   
-- Author:		Ezra   
-- Create date: 2/22/2018   
-- Description:	Get the line item preview list   
--				This is copied and cleaned up from Mitchell3.App_Reports   
-- =============================================   
CREATE PROCEDURE [dbo].[Estimate_GetLineItemsPreview_Backup]    
	@AdminInfoID		int   
AS   
BEGIN   

	DECLARE @estimateID INT = @AdminInfoID
   
	DECLARE @SuppVersion INT = (SELECT ISNULL(LockLevel, 0) FROM EstimationData WHERE AdminInfoID = @estimateID)   
   
	DECLARE @Service_BarCode VarCHar(10)    
	SELECT @Service_BarCode = Mitchell3.dbo.GetServiceBarcode(@estimateID)    
 
	DECLARE @ProcessedLines TABLE 
	(
		  LineItemID	int
		, ForSummary	bit
		, PartSourceModified	bit
		, ModifiedSupplementVersion	int
		, ModifiedID	int
		, Panel	varchar(50)
		, Added	bit
		, Removed	bit
		, BettermentType	varchar(20)
		, BettermentValue	float
		, BettermentAmount	float
		, BettermentNote	varchar(50)
		, Sublet	bit
		, Action	varchar(20)
		, OperationDescription	varchar(100)
		, Description	varchar(200)
		, PartNumber	varchar(50)
		, Price	money
		, Quantity	int
		, PartSource	varchar(20)
		, RemovedPrice	money
		, RemovedQuantity	int
		, RemovedPartSource	varchar(20)
		, PartSourceImage	varchar(500)
		, LaborSummaryPaintPanel	varchar(200)
		, LaborTotalPaintPanel	float
		, LaborSummaryPaint	varchar(200)
		, LaborTotalPaint	float
		, LaborTotalPaintHours float
		, LaborTotalClearcoat		real
		, ClearcoatIncluded			bit
		, ClearcoatSuppliesIncluded	bit
		, LaborSummaryExtra	varchar(200)
		, LaborTotalExtra	float
		, LaborTotalExtraOverlapped	float
		, ExtraLaborType	varchar(20)
		, ExtraLaborIncludeIn	varchar(20)
		, LaborExtraRemovedType		varchar(50) 
		, LaborExtraRemovedIncludeInType		varchar(50) 
		, LaborExtraRemovedHours	float 
		, LaborExtraRemovedTotal	float 
		, LaborIncluded	bit
		, OverlapSupplement int
		, OtherCharges	float
		, OtherChargesLaborType	int
		, RemovedOtherCharges	float
		, RemovedOtherChargesLaborType	int
		, DeductionsMessage	varchar(100)
		, AdjacentMessage varchar(20)
		, Notes	varchar(5000)
		, LineNumber	int
		, SupplementVersion	int
		, DeletedBySupplement	int
		, SupplementDisplay	int
		, StepSupp	varchar(500)
		, Sorter	int
		, GroupNumber	int
		, OversizedDescription	varchar(200)
		, OversizedPrice	money
		, ModifierDescription	varchar(200)
		, ModifierPrice	money
	)
 
	INSERT INTO @ProcessedLines 
	SELECT * FROM dbo.GetProcessedLines(@estimateID, @SuppVersion, '', 1) 
   
	SELECT DISTINCT   
		CASE    
			WHEN ISNULL(ProcessedLines.LaborIncluded, 0) = 1 THEN 'Included, '   
			ELSE    
				CASE WHEN ISNULL(ProcessedLines.LaborTotalExtra, 0) <> 0    
					THEN
						CASE WHEN NOT ProcessedLines.ExtraLaborIncludeIn IS NULL
							-- If the extra labor is "included" in another labor type, the summary shows the other type.  In the line item preview we want to show the original 
							-- type so do a string replace
							THEN REPLACE(ISNULL(ProcessedLines.LaborSummaryExtra, ''), ProcessedLines.ExtraLaborIncludeIn, ProcessedLines.ExtraLaborType)
							ELSE ISNULL(ProcessedLines.LaborSummaryExtra, '')
						END
						 +    
						CASE WHEN ISNULL(ProcessedLines.LaborSummaryExtra, '') <> '' THEN ', ' ELSE '' END   
					ELSE ''   
				END   
		END   
		+    
			CASE  
				WHEN ISNULL(ProcessedLines.LaborTotalPaintPanel, 0) <> 0    
					THEN CAST(ISNULL(ProcessedLines.LaborSummaryPaintPanel, '') AS VARCHAR(200)) + CASE WHEN ISNULL(ProcessedLines.LaborSummaryPaintPanel, '') <> '' THEN ', ' ELSE '' END   
				ELSE ''    
			END   
		+    
			CASE  
				WHEN ISNULL(ProcessedLines.LaborTotalPaint, 0) <> 0 OR ISNULL(ProcessedLines.LaborTotalClearcoat, 0) <> 0  
					THEN CAST(ISNULL(ProcessedLines.LaborSummaryPaint, '') AS VARCHAR(200)) + CASE WHEN ISNULL(ProcessedLines.LaborSummaryPaint, '') <> '' THEN ', ' ELSE '' END   
				ELSE ''   
			END   
		+ CASE WHEN ISNULL(ProcessedLines.OtherCharges, 0) <> 0 THEN '$' + CAST(ProcessedLines.OtherCharges AS VARCHAR) + ' ' + ISNULL(LaborTypes.LaborType, '') ELSE '' END   
		+ CASE WHEN ISNULL(ProcessedLines.AdjacentMessage, '') <> '' THEN ' ' + ProcessedLines.AdjacentMessage ELSE '' END  
		AS LaborItems,   
   
		--CASE    
		--	WHEN ProcessedLines.Action = 'PDR'   
		--		THEN ProcessedLines.Panel   
		--	ELSE   
		--		ISNULL(Mitchell3.dbo.GetCategory(@Service_BarCode, EstimationLineItems.SectionID), ISNULL(T1.Step, t2.step))    
		--END 'Step',    
		REPLACE(ProcessedLines.Panel, 'ZZZ', '') AS Step,
		ProcessedLines.OperationDescription AS ActionDescription,   
		ProcessedLines.Action AS ActionCode,   
		ProcessedLines.PartNumber,   
		'$' + CAST(   
			ROUND(   
				  ISNULL(ProcessedLines.Price, 0)    
				+ ISNULL(ProcessedLines.OversizedPrice, 0)    
				+ ISNULL(ProcessedLines.ModifierPrice, 0)   
			, 2)    
		AS Varchar) AS Price,   
		ProcessedLines.PartSource,   
		ProcessedLines.Description + CASE WHEN ISNULL(ProcessedLines.Quantity, 0) > 1 THEN ' x ' + CAST(ProcessedLines.Quantity AS VARCHAR(10)) ELSE '' END AS PartDescription,      
		CASE WHEN EstimationLineItems.PartOfOverHaul <> 0 THEN 'Yes' ELSE 'No' END 'PartOfOverHaul',   
		ProcessedLines.LineItemID AS LineID,   
		ProcessedLines.LineNumber,   
		CASE    
			WHEN    
				EstimationLineItems.ID <= ISNULL(EstimationData.EstimationLineItemIDLocked, -1)    
				OR (ProcessedLines.Action = 'PDR Matrix' AND ProcessedLines.SupplementVersion < @SuppVersion)   
				THEN 1   
			ELSE 0   
		END 'Locked',   
		CASE 	   
			WHEN ISNULL(EstimationLineItemsModified.LineNumber, -1) <> EstimationLineItems.LineNumber THEN ISNULL(EstimationLineItemsModified.LineNumber, -1)   
			WHEN ISNULL(ProcessedLinesModified.LineNumber, 0) > 0 THEN ProcessedLinesModified.LineNumber   
			ELSE -1   
		END 'Modified'   
	FROM @ProcessedLines AS ProcessedLines 
   
	LEFT OUTER JOIN EstimationLineItems ON EstimationLineItems.ID = ProcessedLines.LineItemID  
	LEFT OUTER JOIN EstimationLineItems AS EstimationLineItemsModified ON EstimationLineItemsModified.ID = Focuswrite.Dbo.GetLatestLineItemMod(EstimationLineItems.ID)   
   
	LEFT OUTER JOIN @ProcessedLines AS ProcessedLinesModified    
		ON ProcessedLinesModified.Action = 'PDR Matrix' AND ProcessedLines.Action = 'PDR Matrix' 
		AND ProcessedLinesModified.LineItemID = ProcessedLines.LineItemID    
		AND ProcessedLinesModified.SupplementVersion > ProcessedLines.SupplementVersion   
   
	LEFT OUTER JOIN EstimationData ON EstimationData.ID = EstimationLineItems.EstimationDataID
   
	LEFT JOIN LaborTypes ON LaborTypes.id  = ProcessedLines.OtherChargesLaborType  
   
	LEFT JOIN dbo.GetEstimateLineItemSummary(@estimateID) T1 ON T1.barcode = EstimationLineItems.Barcode   
	LEFT JOIN dbo.GetEstimateLineItemSummary(@estimateID) T2 ON T2.GroupNumber = EstimationLineItems.SectionID    
   
	WHERE   
		ProcessedLines.Action <> 'PDR Matrix' 
		OR (ProcessedLines.Action = 'PDR Matrix' AND (ProcessedLines.ForSummary = 1 OR ProcessedLines.Removed = 1 OR ProcessedLines.Added = 1))   
   
	ORDER BY LineNumber DESC   
   
   
   
END   
GO
