USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/23/2017
-- Description:	Format a phone number for reports
-- =============================================
CREATE FUNCTION [dbo].[FormatPhoneNumber]
(
	@phoneNumber VARCHAR(20)
)
RETURNS VARCHAR(15)
AS
BEGIN

	IF ISNULL(@phoneNumber, '') = ''
		RETURN ''

	SET @phoneNumber = REPLACE(@phoneNumber, ' ', '')
	SET @phoneNumber = REPLACE(@phoneNumber, '(', '')
	SET @phoneNumber = REPLACE(@phoneNumber, ')', '')
	SET @phoneNumber = REPLACE(@phoneNumber, '-', '')

	IF LEN(@phoneNumber) = 10
		RETURN '(' + SUBSTRING(@phoneNumber, 1, 3) + ') ' + 
				SUBSTRING(@phoneNumber, 4, 3) + '-' + 
				SUBSTRING(@phoneNumber, 7, 4)

	RETURN @phoneNumber
END
GO
