USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: Jan 2020
-- Description:	An in progress update of Overlaps_FillProposals.  Doing clean up and adjustments
-- =============================================
CREATE PROCEDURE [dbo].[Overlaps_FillProposals]
	@AdminInfoID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @Service_Barcode VarChar(10) = Mitchell3.Dbo.GetServiceBarcode(@AdminInfoID)

	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Put together a small summary line for each line in the estimate
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	SELECT 	
		EstimationLineItems.id AS LineItemID,
		EstimationLineItems.ActionCode AS ActionCode,
		EstimationLineLabor.LaborTime AS LaborTime,
		EstimationLineItems.Barcode AS Barcode,
		EstimationLineLabor.LaborType AS LaborType,
		Detail.Prtc_Description AS PartDescription				
	INTO #EstimateData
	FROM FocusWrite.dbo.EstimationData  With(nolock)
	INNER JOIN FocusWrite.dbo.EstimationLineItems With(nolock)
		 ON EstimationLineItems.EstimationDataID = EstimationData.ID --AND EstimationLineItems.ID = @estimationLineItemID
	LEFT JOIN FocusWrite.dbo.EstimationLineLabor With(nolock)
		 ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID
	LEFT JOIN Mitchell3.dbo.Detail	With(nolock)
		 ON EstimationLineItems.Barcode = Detail.Barcode AND Detail.Service_Barcode = @Service_Barcode
	WHERE EstimationData.AdmininfoID = @AdminInfoID 
		-- Ezra - 9/17/2018 - this is an attempt to ignore Repair, Refinish, and Blend actions for overlaps
		AND EstimationLineItems.ActionCode NOT IN ('Repair', 'Refinish', 'Blend')
		AND EstimationLineLabor.LaborType IN (1, 2, 4, 9, 25)

	-- SELECT * FROM #EstimateData

	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Put together a table with overlap data from the Matrix table for each line in the estimate
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	SELECT DISTINCT 
		EstData.LineItemID AS EstimationLineItemsid,
		EstDataInc.LineItemID AS EstimationLineItemsIncid,
		Detail.nheader AS DetailHeader,
		Detail.nsection AS DetailSection,
		DetailInc.nheader AS DetailIncHeader,
		DetailInc.nsection AS DetailIncSection,
		EstData.ActionCode AS EstimationLineItemsActionCode,
		EstDataInc.ActionCode AS EstimationLineItemsIncActionCode,
		EstData.LaborTime AS EstimationLineLaborLaborTime,
		EstDataInc.LaborTime AS EstimationLineLaborIncLaborTime,
		EstData.Barcode AS EstimationLineItemsBarcode,
		EstDataInc.Barcode AS EstimationLineItemsIncBarcode,
		Part.Part_Desc AS PartPart_Desc,
		PartInc.Part_Desc AS PartIncPart_Desc,
		Detail.Prtc AS DetailPrtc,
		Detail.Right_Left_Code AS DetailRight_Left_Code,
		DetailInc.Right_Left_Code AS DetailIncRight_Left_Code,
		Detail.Part_Text AS DetailPart_Text,
		DetailInc.Prtc_Description AS DetailIncPart_Text,
		Detail.barcode AS DetailBarcode,
		DetailInc.barcode AS DetailIncBarcode,
		Detail.Labor_Hours AS DetailLabor_Hours,
		DetailInc.Labor_Hours AS DetailIncLabor_Hours,
		Detail.Part_Number AS DetailPart_Number,
		DetailInc.Part_Number AS DetailIncPart_Number,
		Detail.Labor_Type AS DetailLabor_Type,
		DetailInc.Labor_Type AS DetailIncLabor_Type
	INTO #MatrixPartsTemp

	-- Start with the quick summary for each line
	FROM #EstimateData EstData

	-- Join in the Detail and Part info from the Mitchell database for the Barcode on each line
	INNER JOIN Mitchell3.dbo.Detail ON 
		Detail.Service_BarCode = @Service_Barcode
		AND Detail.barcode = EstData.Barcode
		AND EstData.LaborType = 
			CASE	
				WHEN Detail.Labor_Type = 0 THEN 1
					WHEN Detail.Labor_Type = 1 THEN 9
					WHEN Detail.Labor_Type = 2 THEN 25
					WHEN Detail.Labor_Type = 3 THEN 2
					WHEN Detail.Labor_Type = 4 THEN 4
				END

	INNER JOIN Mitchell3.dbo.Part ON
		Detail.Service_BarCode = Part.Service_BarCode 
		AND Detail.nheader = Part.nheader 
		AND Detail.nsection = Part.nsection 
		AND Detail.npart = Part.npart

	-- Get the barcodes for parts that overlap each line from the Matrix table in Mitchell
	INNER JOIN Mitchell3.dbo.Matrix ON 
		Matrix.Service_Barcode = Detail.Service_BarCode 
		AND Matrix.Relationship = 1 
		AND Matrix.Parent_Barcode = Detail.barcode

	-- Get Mitchell Detail and Part details for the overlap parts
	INNER JOIN Mitchell3.dbo.Detail AS DetailInc
		ON DetailInc.Service_BarCode = Detail.Service_BarCode 
		AND DetailInc.barcode = Matrix.Child_Barcode

	INNER JOIN Mitchell3.dbo.Part AS PartInc ON
		DetailInc.Service_BarCode = PartInc.Service_BarCode 
		AND DetailInc.nheader = PartInc.nheader 
		AND DetailInc.nsection = PartInc.nsection 
		AND DetailInc.npart = PartInc.npart

	-- Finally if the overlapping part is already in the estimate, get that line's info
	LEFT OUTER JOIN #EstimateData EstDataInc ON
		DetailInc.barcode = EstDataInc.Barcode
		AND EstDataInc.LaborType = 
			CASE	
				WHEN Detail.Labor_Type = 0 THEN 1
					WHEN DetailInc.Labor_Type = 1 THEN 9
					WHEN DetailInc.Labor_Type = 2 THEN 25
					WHEN DetailInc.Labor_Type = 3 THEN 2
					WHEN DetailInc.Labor_Type = 4 THEN 4
				END
	--SELECT * FROM #MatrixPartsTemp

	SELECT
		Parts.EstimationLineItemsid,
		Parts.EstimationLineItemsIncid,
		Parts.EstimationLineItemsActionCode,
		Parts.EstimationLineItemsIncActionCode,
		Parts.EstimationLineLaborLaborTime,
		Parts.EstimationLineLaborIncLaborTime,
		Parts.EstimationLineItemsBarcode,
		Parts.EstimationLineItemsIncBarcode,
		Parts.PartPart_Desc,
		Parts.PartIncPart_Desc,
		Parts.DetailPrtc,
		Parts.DetailRight_Left_Code,
		Parts.DetailIncRight_Left_Code,
		Parts.DetailPart_Text,
		Parts.DetailIncPart_Text,
		Parts.DetailBarcode,
		Parts.DetailIncBarcode,
		Parts.DetailLabor_Hours,
		Parts.DetailIncLabor_Hours,
		Parts.DetailPart_Number,
		Parts.DetailIncPart_Number,
		Parts.DetailLabor_Type,
		Parts.DetailIncLabor_Type
	INTO #MatrixParts
	FROM #MatrixPartsTemp Parts
	LEFT OUTER JOIN #MatrixPartsTemp Parts2 ON 
		Parts.DetailHeader = Parts2.DetailIncHeader 
		AND Parts.DetailSection = Parts2.DetailIncSection 
		AND Parts.PartIncPart_Desc = Parts2.PartIncPart_Desc
		AND Parts.DetailIncBarcode <> Parts2.DetailIncBarcode
	WHERE Parts2.EstimationLineItemsid IS NULL

	-- SELECT * FROM #MatrixParts

	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Make a temp table for the following queries to add overlap records to.
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #OverlapTemp 
	(
		  ID				Int IDENTITY(1,1)
		, Process			Varchar(50)
		, AdminInfoID		Int
		, ActionID			Int NULL
		, ResultID			Int NULL
		, ActionPart		VarChar(500)
		, Reason			VarChar(100)
		, BecauseOf			VarChar(500)
		, ActionCode		Int NULL
		, OverlapAmount		Real NULL
		, MinimumLabor		Real NULL
		, AcceptFlag		Bit NULL
		, BarcodeInc		Varchar(10) NULL
		, LaborHours		Real NULL
		, LaborHoursInc		Real NULL 
	)

	
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Copied from AssemblyProcessing
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	INSERT INTO #OverlapTemp
	SELECT 
		'Assembly Processing' 'Process',
		@AdmininfoID 'AdminInfoID',
		EstimateData1.LineItemID 'ActionID',
		EstimateData2.LineItemID 'ResultID',

		CASE 	WHEN ISNULL(DetailParts.Right_Left_Code,0) = 0 THEN '' 
			WHEN DetailParts.Right_Left_Code = 1 THEN 'Right ' 
			WHEN DetailParts.Right_Left_Code = 2 THEN 'Left ' 
		END +
		CASE 	WHEN PartParts.Part_Desc IS NOT NULL AND DetailParts.Part_Text IS NOT NULL AND PartParts.Part_Desc NOT LIKE '%' + DetailParts.Part_Text + '%' THEN PartParts.Part_Desc + ' (' + DetailParts.Part_Text + ')'
			WHEN PartParts.Part_Desc IS NOT NULL THEN PartParts.Part_Desc
			WHEN DetailParts.Part_Text IS NOT NULL THEN DetailParts.Part_Text	
			ELSE ''
		END 'ActionPart',
		'Part is included in an assembly' 'Reason',
		CASE 	WHEN ISNULL(DetailAssemblyParts.Right_Left_Code,0) = 0 THEN '' 
			WHEN DetailAssemblyParts.Right_Left_Code = 1 THEN 'Right ' 
			WHEN DetailAssemblyParts.Right_Left_Code = 2 THEN 'Left ' 
		END +
		CASE 	WHEN PartAssemblyParts.Part_Desc IS NOT NULL AND DetailAssemblyParts.Part_Text IS NOT NULL AND PartAssemblyParts.Part_Desc NOT LIKE '%' + DetailAssemblyParts.Part_Text + '%' THEN PartAssemblyParts.Part_Desc + ' (' + DetailAssemblyParts.Part_Text + ')'
			WHEN PartAssemblyParts.Part_Desc IS NOT NULL THEN PartAssemblyParts.Part_Desc
			WHEN DetailAssemblyParts.Part_Text IS NOT NULL THEN DetailAssemblyParts.Part_Text	
			ELSE ''
		END 'BecauseOf',
		9 'ActionCode',
		99.9 'OverlapAmount',
		0 'MinimumLabor',
		0 'AcceptFlag',
		EstimateData2.Barcode 'BarcodeInc',
		EstimateData1.LaborTime 'LaborHours',
		EstimateData2.LaborTime 'LaborHoursInc'
	FROM #EstimateData EstimateData1
	INNER JOIN Mitchell3.dbo.Matrix ON
		Matrix.Service_Barcode = @Service_BarCode 
		AND	Matrix.Relationship = 2 
		AND	Matrix.Parent_Barcode = EstimateData1.Barcode
	INNER JOIN #EstimateData EstimateData2 ON EstimateData2.Barcode = Matrix.Child_Barcode

	INNER JOIN Mitchell3.dbo.Detail DetailParts ON DetailParts.Service_BarCode = Matrix.Service_Barcode AND DetailParts.barcode = EstimateData1.Barcode
	INNER JOIN Mitchell3.dbo.Part PartParts ON
		PartParts.Service_BarCode = DetailParts.Service_BarCode 
		AND PartParts.nheader = DetailParts.nheader 
		AND	PartParts.nSection = DetailParts.nSection 
		AND	PartParts.nPart = DetailParts.nPart

	INNER JOIN Mitchell3.dbo.Detail DetailAssemblyParts ON
		DetailAssemblyParts.Service_BarCode = Matrix.Service_Barcode 
		AND	DetailAssemblyParts.barcode = EstimateData2.Barcode
	INNER JOIN Mitchell3.dbo.Part PartAssemblyParts ON
		PartAssemblyParts.Service_BarCode = DetailAssemblyParts.Service_BarCode 
		AND PartAssemblyParts.nheader = DetailAssemblyParts.nheader 
		AND	PartAssemblyParts.nSection = DetailAssemblyParts.nSection 
		AND	PartAssemblyParts.nPart = DetailAssemblyParts.nPart


	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Copied from AutoIncludes3Paint
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	INSERT INTO #OverlapTemp
	SELECT	DISTINCT 
		CONVERT(Varchar(50),'AutoIncludes2Paint') 'Process',
		@AdminInfoID 'AdminInfoID',
		EstimationLineItemsid 'ActionID',
		EstimationLineItemsIncid 'ResultID',
		PartPart_Desc 'ActionPart',
		'Included in' 'Reason',
		PartIncPart_Desc 'BecauseOf',
		5 'ActionCode',
		NULL 'OverlapAmount',
		NULL 'MinimumLabor',
		CONVERT(Bit,0) 'AcceptFlag',
		CONVERT(Varchar(10),NULL) 'BarcodeInc', NULL, NULL
	FROM #MatrixParts
	WHERE EstimationLineItemsIncBarcode IS NULL AND
		DetailLabor_Type = 1

	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Copied from AutoIncludedItems3
	-- Adds an overlap for parts that are already in the database that are linked in the Matrix table
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	INSERT INTO #OverlapTemp
	SELECT DISTINCT
		 'AutoIncludedItems2' AS Process
		, @AdminInfoID AS AdminInfoID
		, EstimationLineItemsid AS ActionID
		, EstimationLineItemsIncid AS ResultID
		, PartPart_Desc AS ActionPart
		, 'Included in' AS Reason
		, PartIncPart_Desc AS BecauseOf
		, 1 AS ActionCode
		, NULL AS OverlapAmount
		, NULL AS MinimumLabor
		, 0 AS AcceptFlag
		, NULL AS BarcodeInc
		, Null
		, Null
	FROM #MatrixParts
	WHERE 	DetailBarcode <> DetailIncBarcode AND
		DetailLabor_Hours = CONVERT(Int,EstimationLineLaborLaborTime * 10) AND
		DetailIncLabor_Hours = CONVERT(Int,EstimationLineLaborIncLaborTime * 10) AND
		DetailIncLabor_Type <> 1 AND
		EstimationLineItemsActionCode IN ('Replace','R&R','R R','R+R') AND
		EstimationLineItemsIncActionCode IN ('Replace','R&R','R R','R+R')

	
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get an overlap record for each set of parts already in the estimate that overlap with eachother. 

	-- This is copied from ItemIncluded2 and modified a bit to make it more efficient. 
	-- This also added getting the max MinimumLabor for a distinct set of rows.
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	SELECT 
		ROW_NUMBER() OVER(ORDER BY LineItemID ASC) AS RowNumber,
		'ItemIncluded2.1' AS Process,
		@AdminInfoID AS AdminInfoID,
		LineItemID AS ActionID,
		IncludedLineItemID AS ResultID,
		PartDetail AS ActionPart,
		'Overlaps with' AS Reason,
		Base.PartDetailInc AS BecauseOf,
		0 AS ActionCode,
		Min(OverlapAmount) AS OverlapAmount,
		MAX(MinimumLabor) AS MinimumLabor,
		CONVERT(Bit,0) 'AcceptFlag',
		BarcodeInc,
		Base.LaborHours,
		Base.LaborHoursInc
	INTO #ItemInclude2Temp
	FROM (
		SELECT	DISTINCT 
			CASE	
				WHEN OverlapDetail.Labor_Time = 0 AND DetailInc.Labor_Hours > MatrixParts.DetailLabor_Hours THEN CONVERT(Decimal(9,2), 99.9) 
				ELSE CONVERT(Decimal(9,2), OverlapDetail.Labor_Time) / 10 
			END OverlapAmount,

			CONVERT(Decimal(9,2),OverLapHeader.Minimum_Labor_Time) / 10 AS MinimumLabor,
	
			MatrixParts.EstimationLineItemsid AS LineItemID,
			CONVERT(Varchar(200), 
					CASE 	WHEN ISNULL(MatrixParts.DetailRight_Left_Code,0) = 0 THEN '' 
						WHEN MatrixParts.DetailRight_Left_Code = 1 THEN 'Right ' 
						WHEN MatrixParts.DetailRight_Left_Code = 2 THEN 'Left ' 
					END +
				ISNULL(MatrixParts.PartPart_Desc,'') + 
					CASE 	WHEN MatrixParts.PartPart_Desc NOT LIKE '%' + MatrixParts.DetailPart_Text + '%' THEN ISNULL(' (' + MatrixParts.DetailPart_Text + ')','')
						ELSE '' 
					END) AS PartDetail,

			CONVERT(Varchar(10),Focuswrite.dbo.FormatNumber(CONVERT(Decimal(9,2), MatrixParts.DetailLabor_Hours) / 10, 1)) AS LaborHours,
	
			EstDataInc.LineItemID AS IncludedLineItemID,
			DetailInc.barcode AS BarcodeInc,

			CONVERT(Varchar(200),
					CASE 	WHEN ISNULL(DetailInc.Right_Left_Code,0) = 0 THEN '' 
						WHEN DetailInc.Right_Left_Code = 1 THEN 'Right ' 
						WHEN DetailInc.Right_Left_Code = 2 THEN 'Left ' 
					END +
				ISNULL(PartInc.Part_Desc,'') + 
					CASE 	WHEN PartInc.Part_Desc NOT LIKE '%' + DetailInc.Part_Text + '%' THEN ISNULL(' (' + DetailInc.Part_Text + ')','') 
						ELSE '' 
					END) AS PartDetailInc,
			CONVERT(Varchar(10),Focuswrite.dbo.FormatNumber(CONVERT(Decimal(9,2),DetailInc.Labor_Hours)/10, 1)) AS LaborHoursInc
	
		FROM #MatrixParts MatrixParts
	
		-- Join the Mitchel OverlapHeader and OverlapDetail records for each line in the estimate
		INNER JOIN Mitchell3.dbo.OverLapHeader ON
			OverlapHeader.Service_Barcode = @Service_Barcode  
			AND OverlapHeader.Prtc = MatrixParts.DetailPrtc
		INNER JOIN Mitchell3.dbo.OverlapDetail ON
			OverlapDetail.Service_Barcode = OverlapHeader.Service_Barcode
			AND OverlapDetail.Overlap_SKey = OverlapHeader.Overlap_SKey
	
		-- Get details about the overlapped parts
		INNER JOIN Mitchell3.dbo.Detail DetailInc ON
			DetailInc.Service_BarCode = @Service_Barcode
			AND DetailInc.barcode IN (SELECT DISTINCT Barcode FROM #EstimateData)
			AND DetailInc.PRTC = OverlapDetail.Prtc
			--AND DetailInc.Labor_Hours = ROUND(CONVERT(Real,EstDataInc.LaborTime),1) )
		INNER JOIN Mitchell3.dbo.Part PartInc ON
			PartInc.Service_BarCode = @Service_BarCode
			AND PartInc.nheader = DetailInc.nheader
			AND PartInc.nsection = DetailInc.nsection 
			AND PartInc.npart = DetailInc.npart

		INNER JOIN #EstimateData EstDataInc ON
			EstDataInc.Barcode = DetailInc.barcode 
			AND EstDataInc.LaborType = 
				CASE	WHEN DetailInc.Labor_Type = 0 THEN 1
					WHEN DetailInc.Labor_Type = 1 THEN 9
					WHEN DetailInc.Labor_Type = 2 THEN 25
					WHEN DetailInc.Labor_Type = 3 THEN 2
					WHEN DetailInc.Labor_Type = 4 THEN 4
				END 
			 AND ROUND(CONVERT(Real,DetailInc.Labor_Hours)/10,1) = ROUND(CONVERT(Real,EstDataInc.LaborTime),1)

		WHERE 
			MatrixParts.EstimationLineLaborLaborTime * 10 = MatrixParts.DetailLabor_Hours		-- The labor time for the line item matches the labor time in the details table
			AND MatrixParts.EstimationLineItemsBarcode <> DetailInc.barcode
			AND MatrixParts.EstimationLineItemsActionCode IN ('Replace','R&R','R R','R+R','R&I','R I','R+I')
			AND EstDataInc.ActionCode IN ('Replace','R&R','R R','R+R','R&I','R I','R+I')

		-- 12/12/2018 - Ezra - Don't show overlap for different sides of the vehicle
		AND 
		(
			MatrixParts.DetailRight_Left_Code = DetailInc.Right_Left_Code 
			OR MatrixParts.DetailRight_Left_Code = 0
			OR DetailInc.Right_Left_Code = 0
		)
	) Base
	GROUP BY
		  LineItemID
		, IncludedLineItemID
		, PartDetail
		, Base.PartDetailInc
		, BarcodeInc
		, Base.LaborHours
		, Base.LaborHoursInc

	-- We have all of the "Overlaps With" recomendations for parts already in the estimate.
	-- The same relationship may be represented twice, like "A overlaps with B" and "B overlaps with A".  Now just return one row for each relationship
	INSERT INTO #OverlapTemp
	SELECT 
		Base.Process
		, Base.AdminInfoID
		, Base.ActionID
		, Base.ResultID
		, Base.ActionPart
		, Base.Reason
		, Base.BecauseOf
		, Base.ActionCode
		, Base.OverlapAmount
		, Base.MinimumLabor
		, Base.AcceptFlag
		, Base.BarcodeInc
		, Base.LaborHours
		, Base.LaborHoursInc
	FROM #ItemInclude2Temp AS Base
	LEFT OUTER JOIN #ItemInclude2Temp AS Duplicate ON 
		Base.ActionID = Duplicate.ResultID AND Base.ResultID = Duplicate.ActionID
		AND Duplicate.RowNumber < Base.RowNumber
	WHERE Duplicate.RowNumber IS NULL
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Done getting overlaps for parts already in the estimate
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Copied from AutoIncludes3
	-- Get "Overhaul" overlaps
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #Temp (
		Process Varchar(50),
		ActionID Int,
		Part1 VarChar(200),
		Part2 VarChar(200),
		Part3 VarChar(200),
		ResultID Int,
		BarcodeInc Varchar(10),
		Part_Desc_Inc VarChar(200),
		LaborHours Decimal(7,2),
		IncLaborHours Decimal(7,2)	
	)

	INSERT INTO #Temp
	SELECT	DISTINCT 
		  'AutoIncludes3' AS Process
		, Base.EstimationLineItemsid AS ActionID
	
		, CASE 	
			WHEN ISNULL(Base.DetailIncRight_Left_Code,0) = 0 THEN '' 
			WHEN Base.DetailIncRight_Left_Code = 1 THEN 'Right ' 
			WHEN Base.DetailIncRight_Left_Code = 2 THEN 'Left ' 
		END +
		CASE 	
			WHEN Base.PartIncPart_Desc IS NOT NULL AND Base.DetailIncPart_Text IS NOT NULL AND Base.PartIncPart_Desc NOT LIKE '%' + Base.DetailIncPart_Text + '%' THEN Base.PartIncPart_Desc + ' (' + Base.DetailIncPart_Text + ')'
			WHEN Base.PartIncPart_Desc IS NOT NULL THEN Base.PartIncPart_Desc
			WHEN Base.DetailIncPart_Text IS NOT NULL THEN Base.DetailIncPart_Text	
			ELSE ''
		END AS Part1
	
		, CASE 	
			WHEN ISNULL(Base.DetailRight_Left_Code,0) = 0 THEN '' 
			WHEN Base.DetailRight_Left_Code = 1 THEN 'Right ' 
			WHEN Base.DetailRight_Left_Code = 2 THEN 'Left ' 
		END +
		CASE 	
			WHEN Base.PartPart_Desc IS NOT NULL AND Base.DetailPart_Text IS NOT NULL AND Base.PartPart_Desc NOT LIKE '%' + Base.DetailPart_Text + '%' THEN Base.PartPart_Desc + ' (' + Base.DetailPart_Text + ')'
			WHEN Base.PartPart_Desc IS NOT NULL THEN Base.PartPart_Desc
			WHEN Base.DetailPart_Text IS NOT NULL THEN Base.DetailPart_Text	
			ELSE ''
		END AS Part2

		, Base.DetailIncPart_Text AS Part3

		, Base.EstimationLineItemsIncid AS ResultID
		, CONVERT(Varchar(10), Base.DetailIncbarcode) AS BarcodeInc

		, CASE 	
			WHEN Base.PartIncPart_Desc IS NOT NULL AND Base.DetailIncPart_Text IS NOT NULL AND Base.PartIncPart_Desc NOT LIKE '%' + Base.DetailIncPart_Text + '%' THEN Base.PartIncPart_Desc + ' (' + Base.DetailIncPart_Text + ')'
			WHEN Base.PartIncPart_Desc IS NOT NULL THEN Base.PartIncPart_Desc
			WHEN Base.DetailIncPart_Text IS NOT NULL THEN Base.DetailIncPart_Text	
			ELSE ''
		  END AS Part_Desc_Inc

		, ROUND(CONVERT(Decimal(7,2), Base.DetailLabor_Hours) / 10,1) AS LaborHours
		, ROUND(CONVERT(Decimal(7,2), Base.DetailIncLabor_Hours) / 10,1) AS IncLaborHours
	FROM #MatrixParts Base

	-- Don't add an R&I line if there is already an O/H line in the estimate
	LEFT OUTER JOIN #MatrixParts Other ON Base.PartIncPart_Desc LIKE '%R&I%' AND Other.PartIncPart_Desc LIKE '%O/H ' + REPLACE(REPLACE(Base.PartIncPart_Desc, 'R&I ', ''), ' Assy', '') + '%'

	WHERE 	
		Base.EstimationLineItemsIncbarcode IS NULL 
		AND Base.DetailIncLabor_Type <> 1 
		AND Base.EstimationLineItemsActionCode IN ('Replace','R&R','R R','R+R')
		AND Other.EstimationLineItemsid IS NULL

	
	
	INSERT INTO #OverlapTemp
	SELECT	DISTINCT
 		  Process
		, @AdminInfoID
		, NULL AS ActionID 
		, ISNULL(ResultID, ActionID) AS ResultID
		, Part1 'ActionPart'
		, 'Added Because of' AS Reason
		, Part2 AS BecauseOf
		, 2 AS ActionCode
		, NULL AS OverlapAmount
		, NULL AS MinimumLabor
		, 0 AcceptFlag
		, BarcodeInc
		, IncLaborHours
		, NULL
	FROM #Temp T1
	WHERE 
		(
			LaborHours >= IncLaborHours 
			AND
			(Part1 LIKE 'O/H %' OR Part1 LIKE 'Right O/H %' OR Part1 LIKE 'Left O/H %') 
		) 
		OR
		NOT (Part1 LIKE 'O/H %' OR Part1 LIKE 'Right O/H %' OR Part1 LIKE 'Left O/H %')


	UNION ALL
	SELECT DISTINCT
		'AMarkIncludedByAutoInclude' AS Process
		, @AdminInfoID AS AdminInfoID
		, ActionID
		, ResultID
		, Part2 AS ActionPart
		, 'is included in' AS Reason
		, Part1 AS BecauseOf
		, 3 AS AcionCode
		, -99.9 AS OverlapAmount
		, MAX(ROUND(CONVERT(Decimal(7,2), OverLapHeader.Minimum_Labor_Time)/10,1)) AS MinimumLabor
		, 0 AS AcceptFlag
		, T1.BarcodeInc
		, T1.LaborHours
		, NULL
	FROM #Temp T1

	LEFT JOIN Mitchell3.dbo.Detail ON
		Detail.Service_BarCode = @Service_BarCode
		AND Detail.Barcode = T1.BarcodeInc

	LEFT JOIN Mitchell3.dbo.OverLapHeader ON
		OverlapHeader.Service_Barcode = Detail.Service_BarCode 
		AND OverlapHeader.Prtc = Detail.PRTC
	LEFT JOIN Mitchell3.dbo.OverlapDetail ON
		OverlapDetail.Service_Barcode = OverlapHeader.Service_Barcode 
		AND OverlapDetail.Overlap_SKey = OverlapHeader.Overlap_SKey

	LEFT JOIN Mitchell3.dbo.Detail DetailInc ON
		DetailInc.Service_BarCode = Detail.Service_BarCode 
		AND DetailInc.PRTC = OverlapDetail.Prtc
	LEFT JOIN Mitchell3.dbo.Part PartInc ON
		PartInc.Service_BarCode = DetailInc.Service_BarCode
		AND PartInc.nheader = DetailInc.nheader
		AND PartInc.nsection = DetailInc.nsection
		AND PartInc.npart = DetailInc.npart

	LEFT JOIN #EstimateData EstData ON
		EstData.Barcode = DetailInc.barcode
		AND EstData.LaborType = CASE	
								WHEN DetailInc.Labor_Type = 0 THEN 1
								WHEN DetailInc.Labor_Type = 1 THEN 9
								WHEN DetailInc.Labor_Type = 2 THEN 25
								WHEN DetailInc.Labor_Type = 3 THEN 2
								WHEN DetailInc.Labor_Type = 4 THEN 4
							END 
	WHERE LaborHours >= IncLaborHours 
		AND
		(Part1 LIKE 'O/H %' OR Part1 LIKE 'Right O/H %' OR Part1 LIKE 'Left O/H %')

	GROUP BY
		  ActionID
		, ResultID
		, Part2 
		, Part1 
		, T1.BarcodeInc
		, T1.LaborHours

	UNION ALL
	SELECT DISTINCT
		'AMarkIncludedByAutoInclude',
		@AdminInfoID,
		EstimationLineItemsid 'ActionID',
		EstimationLineItemsIncid 'ResultID',
		PartPart_Desc 'ActionPart',
		'is included in' 'Reason',
		PartIncPart_Desc 'BecauseOf',
		3 'AcionCode',
		-99.9,
		0,
		0 AcceptFlag,
		DetailBarcode, 
		DetailLabor_Hours, NULL
	FROM #MatrixParts T1
	WHERE 	
		EstimationLineItemsIncid IS NOT NULL  
		AND (PartIncPart_Desc LIKE 'O/H %' OR PartIncPart_Desc LIKE 'Right O/H %' OR PartIncPart_Desc LIKE 'Left O/H %')

	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Done getting "Overhaul" overlaps
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------



	-- Now fill the Overalaps_FillProposals table
	INSERT INTO EstimationOverlapProposed 
	(	
		  ActionPart
		, Reason
		, BecauseOf
		, OverlapAmount
		, MinimumLabor
		, [Labor Hours]
		, [Labor Hours Inc]
		, Process
		, AdminInfoID
		, ActionID
		, ResultID
		, ActionCode
		, AcceptFlag
		, BarcodeInc
	)
	SELECT DISTINCT
		  OT.ActionPart
		, OT.Reason
		, OT.BecauseOf
		, CONVERT(VarChar(8), dbo.FormatNumber(OT.OverlapAmount, 1)) 'OverlapAmount'
		, CONVERT(VarChar(8), dbo.FormatNumber(OT.MinimumLabor,1)) 'MinimumLabor'
		, OT.LaborHours
		, OT.LaborHoursInc
		, OT.Process
		, OT.AdminInfoID
		, OT.ActionID
		, OT.ResultID
		, OT.ActionCode
		, OT.AcceptFlag
		, OT.BarcodeInc
	FROM #OverlapTemp OT
	LEFT JOIN EstimationOverlapProposed EOP ON EOP.ActionID = OT.ActionID AND EOP.ResultID = OT.ResultID
	LEFT JOIN Focuswrite.dbo.EstimationOverlap EO ON EO.EstimationLineItemsID1 = OT.ActionID AND EO.EstimationLineItemsID2 = OT.ResultID
	LEFT JOIN EstimationOverlapRejected ON EstimationOverlapRejected.AdminInfoID = @AdminInfoID AND EstimationOverlapRejected.Barcode = OT.BarcodeInc
	WHERE 
		EO.EstimationLineItemsID1 IS NULL 
		AND EOP.ActionID IS NULL
		AND EstimationOverlapRejected.ID IS NULL
		AND
		(
			OT.ActionPart NOT IN (SELECT PartDescription FROM #EstimateData UNION SELECT REPLACE(PartDescription, 'frt', 'front') FROM #EstimateData)		-- Ezra 3/11/2019 - Don't add parts who's description is already in the estimate
			--OR OT.ActionID IS NULL
		)
	--ORDER BY OT.ActionID, OT.BarcodeInc, OT.Process
	ORDER BY Process

	DROP TABLE #Temp
	DROP TABLE #ItemInclude2Temp
	DROP TABLE #EstimateData
	DROP TABLE #MatrixParts
	DROP TABLE #MatrixPartsTemp
	DROP TABLE #OverlapTemp



END
GO
