USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkRule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RuleType] [tinyint] NULL,
	[Deleted] [bit] NULL,
	[Enabled] [bit] NULL,
 CONSTRAINT [PK_LinkRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
