USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ActiveLogin_GetActivities-01.sql
CREATE PROCEDURE [dbo].[ActiveLogin_GetActivities] 
	@IncludeImpersonated bit = 0,
	@LoginID int = 0,
	@UserID int = 0 
AS 
BEGIN 
	SET NOCOUNT ON; 
 
    SELECT TOP 1000 * 
	FROM ActiveLogin 
	WHERE 
		(@IncludeImpersonated = 1 OR IsImpersonated = 0)
		AND (@LoginID <= 0 OR LoginID = @LoginID)
		AND (@UserID <= 0 OR SiteUserID = @UserID)
	ORDER BY LastActivity desc
END 
GO
