USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/4/2019 
-- Description:	Update a profile print record 
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfilesPrint_Update] 
	  @ID	int 
	, @CustomerProfilesID	int 
	, @GraphicsQuality	tinyint 
	, @NoHeaderLogo	bit 
	, @NoInsuranceSection	bit 
	, @NoPhotos	bit 
	, @FooterText	varchar(8000) 
	, @PrintPrivateNotes	bit 
	, @PrintPublicNotes	bit 
	, @ContactOption	varchar(20) 
	, @SupplementOption	varchar(20) 
	, @OrderBy	varchar(20) 
	, @UseBigLetters	bit 
	, @SeparateLabor	bit 
	, @EstimateNumber	bit 
	, @AdminInfoID	bit 
	, @Dollars	bit 
	, @GreyBars	bit 
	, @NoVehicleAccessories	varchar(5000) 
	, @PrintPaymentInfo	bit 
	, @PrintEstimator	bit 
	, @PrintVendors	bit 
	, @NoFooterDateTimeStamp bit
	 
	 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    UPDATE CustomerProfilePrint 
	SET 
		  CustomerProfilesID = @CustomerProfilesID 
		, GraphicsQuality = @GraphicsQuality 
		, NoHeaderLogo = @NoHeaderLogo 
		, NoInsuranceSection = @NoInsuranceSection 
		, NoPhotos = @NoPhotos 
		, FooterText = @FooterText 
		, PrintPrivateNotes = @PrintPrivateNotes 
		, PrintPublicNotes = @PrintPublicNotes 
		, ContactOption = @ContactOption 
		, SupplementOption = @SupplementOption 
		, OrderBy = @OrderBy 
		, UseBigLetters = @UseBigLetters 
		, SeparateLabor = @SeparateLabor 
		, EstimateNumber = @EstimateNumber 
		, AdminInfoID = @AdminInfoID 
		, Dollars = @Dollars 
		, GreyBars = @GreyBars 
		, NoVehicleAccessories = @NoVehicleAccessories 
		, PrintPaymentInfo = @PrintPaymentInfo 
		, PrintEstimator = @PrintEstimator 
		, PrintVendors = @PrintVendors
		, NoFooterDateTimeStamp = @NoFooterDateTimeStamp
 
	WHERE id = @ID 
END 
GO
