USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/1/2017
-- =============================================
CREATE PROCEDURE [dbo].[AddOrUpdateEstimateImageLookup]
	@id			int,
	@tag		varchar(50)
AS
BEGIN
	IF EXISTS (SELECT * FROM EstimationImagesLookup with(nolock)  WHERE ID = @id)
		BEGIN
			UPDATE EstimationImagesLookup
			SET Tag = @tag
			WHERE id = @id

			SELECT @id
		END
	ELSE
		BEGIN
			INSERT INTO EstimationImagesLookup
			(
				Tag
			)
			VALUES
			(
				@tag
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END

GO
