USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetEstimateImagesByAdminInfo]
	@AdminInfoId int
AS

SELECT * FROM EstimationImages
WHERE AdminInfoID = @AdminInfoId


GO
