USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[InsertDocuSignLog]
	@LoginID int,
	@ContractID int,
	@DocuSignEnvelopeID varchar(50),
	@SigningEvent varchar(100)
AS

INSERT INTO	DocuSignLog (
	LoginID,
	ContractID,
	DocuSignEnvelopeID,
	SigningEvent
)
VALUES (
	@LoginID,
	@ContractID,
	@DocuSignEnvelopeID,
	@SigningEvent
)


GO
