USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/21/2020 
-- Description:	Insert a new job status history 
-- ============================================= 
CREATE PROCEDURE [dbo].[JobStatusHistory_Insert] 
	  @AdminInfoID			int 
	, @JobStatusID			int 
	, @ActionDate			datetime 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    INSERT INTO JobStatusHistory 
	( 
	      AdminInfoID 
		, JobStatusID 
		, ActionDate 
	) 
	VALUES 
	( 
		  @AdminInfoID 
		, @JobStatusID 
		, @ActionDate 
	) 
 
	SELECT CAST(SCOPE_IDENTITY() AS INT) 
END 
GO
