USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 3/17/2021
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPreset_CopyForProfile]
	  @SourceProfileID			int
	, @TargetProfileID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO AddOnPreset
	(
		  ProfileID
		, PresetShellID
		, Labor
		, Refinish
		, Charge
		, OtherTypeOverride
		, OtherCharge 
		, Active
		, AutoSelect
	)
	SELECT 
		  @TargetProfileID
		, PresetShellID
		, Labor
		, Refinish
		, Charge
		, OtherTypeOverride
		, OtherCharge 
		, Active
		, AutoSelect
	FROM AddOnPreset
	WHERE ProfileID = @SourceProfileID

END
GO
