USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempRyan](
	[shop] [int] NOT NULL,
	[M] [int] NULL,
	[y] [int] NULL,
	[estimates] [int] NULL
) ON [PRIMARY]
GO
