USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[AddOrUpdateLoginTracking]  
	@ID int = 0,
	@TimeStamp		datetime,
	@IPAddress		varchar(25),
	@LoginID		int,
	@BrowserType	varchar(50),
	@BrowserName	varchar(50),
	@BrowserVersion	varchar(50),
	@BrowserPlatform	varchar(50),
	@IsMobile		bit,
	@UserAgent		varchar(1000)
AS
BEGIN
IF EXISTS (SELECT * FROM LoginTracking with(nolock) WHERE ID = @ID)
	BEGIN
		UPDATE [FocusWrite].[dbo].[LoginTracking]
		SET  
			TimeStamp = @TimeStamp,
			IPAddress = @IPAddress,
			LoginID = @LoginID,
			BrowserType = @BrowserType,
			BrowserName = @BrowserName,
			BrowserVersion = @BrowserVersion,
			BrowserPlatform = @BrowserPlatform,
			IsMobile = @IsMobile,
			UserAgent = @UserAgent
		WHERE ID = @ID
		
		SELECT @ID		
	END
ELSE
	BEGIN
		INSERT INTO [FocusWrite].[dbo].[LoginTracking]
        (
			TimeStamp,
			IPAddress,
			LoginID,
			BrowserType,
			BrowserName,
			BrowserVersion,
			BrowserPlatform,
			IsMobile,
			UserAgent
		)
		VALUES
		(
			@TimeStamp,
			@IPAddress,
			@LoginID,
			@BrowserType,
			@BrowserName,
			@BrowserVersion,
			@BrowserPlatform,
			@IsMobile,
			@UserAgent
		)
           
		SELECT CAST(SCOPE_IDENTITY() AS INT)
	END
end

GO
