USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/6/2017
-- Description:	Get a Logins record by ID
-- =============================================
CREATE PROCEDURE [dbo].[GetLoginsByID]
	@id		int
AS
BEGIN
	SELECT *
	FROM Logins
	WHERE id = @id
END

GO
