USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




      
      
CREATE procedure [dbo].[GetReportPaymentInfoData]     
@AdmininfoId int        
as        
begin      
-- GetReportPaymentInfoData 2325439  
 declare @GrandTotal as varchar(50)
declare @PayableAmt as varchar(50) 

    select @GrandTotal=CONVERT(varchar(50), CAST( SUM(amount) as money),-1) from PaymentInfo   
where admininfoid=@AdmininfoId    
group by AdminInfoID  
   select @PayableAmt =GrandTotal  from AdminInfo where id=@AdmininfoId 

 
select     
PayeeName,    
convert(decimal(15,2), Amount) as 'Amount',  
convert(varchar(12),PaymentDate,107) as 'PaymentDate',  
Memo as 'Description',
@GrandTotal as 'Payments Total',
 @PayableAmt as 'Payable Amount' into #temp

from PaymentInfo         
where AdminInfoID =@AdmininfoID     

If exists(select 'x'from #temp)
begin
select * from #temp
end
else 
begin
select
'' as PayeeName,    
convert(decimal(15,2), 0) as 'Amount',  
'' as 'PaymentDate',  
'' as 'Description',
'0' as 'Payments Total', 
'0' as 'Payable Amount' 
end 
end



GO
