USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTracking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[IPAddress] [varchar](25) NULL,
	[LoginID] [int] NULL,
	[BrowserType] [varchar](50) NULL,
	[BrowserName] [varchar](50) NULL,
	[BrowserVersion] [varchar](50) NULL,
	[BrowserPlatform] [varchar](50) NULL,
	[IsMobile] [bit] NULL,
	[UserAgent] [varchar](1000) NULL,
 CONSTRAINT [PK_Logintracking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
