USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ImageAttachment_AddOrUpdate]
	  @ID						int
	, @ReportID					int
	, @EstimationImageID		int
	, @DateCreated				datetime
	, @DeleteStamp				datetime = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (@ID > 0)
		BEGIN
			UPDATE ImageAttachment
			SET   ReportID = @ReportID
				, EstimationImageID = @EstimationImageID
				, DateCreated = @DateCreated
				, DeleteStamp = @DeleteStamp
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO ImageAttachment
			(
				  ReportID
				, EstimationImageID
				, DateCreated
				, DeleteStamp
			)
			VALUES
			(
			      @ReportID
				, @EstimationImageID
				, @DateCreated
				, @DeleteStamp
			)
			
			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
