USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSupplementLineLaborTime] 
( 
	@estimationLineLaborID		int, 
	@adminInfoID				int, 
	@supplementVersion			int 
) 
RETURNS real 
AS 
BEGIN 
 
	DECLARE @LaborTotal TABLE 
	( 
		id						int,  
		EstimationLineItemsID	int,  
		LaborType				int,  
		LaborSubType			int,  
		LaborTime				real,  
		LaborCost				real,  
		BettermentFlag			bit,  
		SubletFlag				bit,  
		UniqueSequenceNumber	int,  
		ModifiesID				int,  
		AdjacentDeduction		tinyint,  
		MajorPanel				bit,  
		BettermentPercentage	real,  
		dbLaborTime				real,  
		AdjacentDeductionLock	bit,  
		barcode					varchar(10),  
		Lock					bit,	  
		include					bit, 
		WebEstID				int 
	) 
		INSERT INTO @LaborTotal 
		SELECT EstimationLineLabor.* 
		FROM EstimationData 
		JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
		JOIN EstimationLineLabor ON EstimationLineItemsID = EstimationLineItems.ID 
		WHERE  
			AdminInfoID = @AdminInfoID 
			AND ISNULL(EstimationLineItems.SupplementVersion, 0) = @supplementVersion 
			AND LaborType <> 0 
			AND (LaborType NOT IN (20, 21, 22, 26) OR ISNULL(include, 0) = 1) 
 
		UNION 
 
		-- Get labor line items with no time or cost for labor items that were in the previous supplement but not in the current supplement 
		SELECT ell.id, Modifier.id AS EstimationLineItemsID, 
			ell.LaborType, ell.LaborSubType, 0 as 'LaborTime', 0 as 'LaborCost', ell.BettermentFlag, ell.SubletFlag, ell.UniqueSequenceNumber, ell.ModifiesID, 
			ell.AdjacentDeduction, ell.MajorPanel, ell.BettermentPercentage, ell.dbLaborTime, ell.AdjacentDeductionLock, ell.barcode, ell.Lock, 1 as 'include', 0 --ell.include 
		FROM EstimationData 
		JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
		JOIN EstimationLineLabor ell ON ell.EstimationLineItemsID = EstimationLineItems.ID AND (LaborType NOT IN (20, 21, 22, 26) OR ISNULL(include, 0) = 1) 
		JOIN EstimationLineItems AS Modifier ON Modifier.ModifiesID = EstimationLineItems.id 
		WHERE  
			AdminInfoID = @adminInfoID 
			AND ISNULL(EstimationLineItems.SupplementVersion, 0) = @supplementVersion - 1 
			AND LaborType NOT IN  
			( 
				-- Get all labor types in the current supplement 
				SELECT LaborType 
				FROM EstimationData 
				JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
				JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID 
				WHERE  
					AdminInfoID = @adminInfoID 
					AND ISNULL(EstimationLineItems.SupplementVersion, 0) = @supplementVersion 
					AND (LaborType NOT IN (20, 21, 22, 26) OR ISNULL(include, 0) = 1) 
			) 
 
	DECLARE @result REAL =  
	( 
		SELECT ISNULL(ell.LaborTime, 0) - ISNULL(ellMod.LaborTime, 0) AS LaborTime 
		FROM @LaborTotal ell 
		JOIN EstimationLineItems eli ON eli.id = ell.EstimationLineItemsID 
		LEFT OUTER JOIN EstimationLineItems eliMod ON eli.ModifiesID = eliMod.id 
		LEFT OUTER JOIN EstimationLineLabor ellMod ON eliMod.id = ellMod.EstimationLineItemsID AND ellMod.LaborType = ell.LaborType AND ellMod.LaborType = ell.LaborType AND (ellMod.LaborType NOT IN (20, 21, 22, 26) OR ISNULL(ellMod.include, 0) = 1) 
		WHERE ell.id = @estimationLineLaborID 
	)  
 
	RETURN @result 
END 
GO
