USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


-- Ezra - 8/9/2016 - Insurance company name is now in EstimationData table.
CREATE PROCEDURE [dbo].[SP_getInsuranceCompanies]
	@LoginsID Int = NULL --
	
AS

SET NOCOUNT ON

BEGIN

	SELECT EstimationData.AdminInfoID, EstimationData.InsuranceCompanyName
	FROM AdminInfo
	JOIN EstimationData ON AdminInfo.id = EstimationData.AdminInfoID
	WHERE 
		NOT EstimationData.InsuranceCompanyName IS NULL 
		AND AdminInfo.CreatorID = @LoginsID
		AND EstimationData.InsuranceCompanyName <> ''
	ORDER BY InsuranceCompanyName
END
GO
