USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*      */
CREATE PROCEDURE [dbo].[spGetPartsSV]
	@AdminInfoID Int
AS
	SELECT
		ISNULL(EstimationLineItemsSV2.SupplementVersion,0) 'SupplementVersion2',
		AdminInfo.id 'AdminInfoID',
		RateTypes.id 'RateTypesID',
		RateTypes.RateName,
		ISNULL(EstimationLineItems.PartSource,'') 'PartSource',
		CONVERT(VarChar(50),
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other'
				ELSE ISNULL(EstimationLineItems.PartSource,'Other') 
			END) + ' ' + 'Parts' 'Type',
		Sum(ISNULL(EstimationLineItems.Price,0) * ISNULL(EstimationLineItems.Qty, 1)) 'Price',
	
		ISNULL(EstimationLineItems.BettermentType, '') AS 'BettermentType',
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineItems.SubletPartsFlag  <> 0 THEN 1
			ELSE 0
		END 'Sublet',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	FROM AdminInfo with(nolock)
	INNER JOIN EstimationData with(nolock) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN (	SELECT DISTINCT EstimationDataID, ISNULL(SupplementVersion,0) 'SupplementVersion' 
			FROM EstimationLineItems with(nolock)	) EstimationLineItemsSV2 ON
		(EstimationLineItemsSV2.EstimationDataID = EstimationData.ID)
	INNER JOIN EstimationLineItems with(nolock) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	LEFT JOIN EstimationLineItems EstimationLineItemsSV with(nolock)  ON
		(EstimationLineItemsSV.ModifiesID = EstimationLineItems.ID AND
		 ISNULL(EstimationLineItemsSV.SupplementVersion,0) <= ISNULL(EstimationLineItemsSV2.SupplementVersion,0))
	LEFT JOIN (		SELECT 'OEM Parts' 'Type', 8 'RateTypesID'
			UNION	SELECT 'LKQ Parts', 9
			UNION	SELECT 'Reman Parts', 13
			UNION	SELECT 'After Parts', 10
			UNION	SELECT 'Other Parts', 18) PartRates ON
		(PartRates.Type = 	CONVERT(VarChar(50),
						CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other'
							ELSE ISNULL(EstimationLineItems.PartSource,'Other') 
						END) + ' ' + 'Parts')
	LEFT JOIN RateTypes with(nolock) ON
		(RateTypes.id = PartRates.RateTypesID)
	INNER JOIN CustomerProfiles with(nolock) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates with(nolock) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
	WHERE	AdminInfo.ID = @AdminInfoID AND
		EstimationLineItemsSV.ID IS NULL AND
		ISNULL(EstimationLineItems.SupplementVersion,0) <= ISNULL(EstimationLineItemsSV2.SupplementVersion,0)
	GROUP BY
		ISNULL(EstimationLineItemsSV2.SupplementVersion,0),
		AdminInfo.id,
		RateTypes.id,
		RateTypes.RateName,
		ISNULL(EstimationLineItems.PartSource,''),
		CONVERT(VarChar(50),
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other'
				ELSE ISNULL(EstimationLineItems.PartSource,'Other') 
			END) + ' ' + 'Parts',
		ISNULL(EstimationLineItems.BettermentType, ''),
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineItems.SubletPartsFlag  <> 0 THEN 1
			ELSE 0
		END,
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn



GO
