USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 3/17/2021
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPresetProfile_SetDefaultProfile]
	  @ProfileID		int
	, @LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE AddOnPresetProfile
	SET DefaultFlag = 0
	WHERE LoginID = @LoginID

	IF @ProfileID > 0
		BEGIN
			UPDATE AddOnPresetProfile
			SET DefaultFlag = 1
			WHERE ID = @ProfileID
		END
END
GO
