USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/10/2018 
-- Description: Set an EMS row's status 
-- ============================================= 
CREATE PROCEDURE [dbo].[UpdateEMSStatus] 
	-- Add the parameters for the stored procedure here 
	@messageID			int, 
	@status				int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    UPDATE MessageQueue 
	SET msgStatus = @status 
	WHERE msgid = @messageID 
END 
 
 
 
GO
