USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalReportSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesRepId] [int] NULL,
	[SettingsKey] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
