USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE procedure [dbo].[FrameData_GetAllVehiclesModel] 
@VehicleMakesID int 
as 
begin 
select distinct v.vehModelId,m.makDescription  ,modDescription model   
 from FrameMatrix.dbo.app_vehicles v join   
  FrameMatrix.dbo.app_lumakes m on v.vehmakeid = m.makid   
  join FrameMatrix.dbo.app_lumodels md on v.vehmodelid = md.modid  where v.vehMakeId =@VehicleMakesID  
order by moddescription asc 
end 
 
GO
