USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:		Ezr a  
-- Create date: 4/11/2018  
-- Description:	Get the line items for an estimate  
-- =============================================  
CREATE PROCEDURE [dbo].[EstimateReport_GetLineItems]   
	@AdminInfoID		int,  
	@ImageDirectory		VARCHAR(200) = '',  
	@SupplementVersion	INT = 0  
AS  
BEGIN  
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.   
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component   
	 IF 1=0 BEGIN   
       SET FMTONLY OFF   
     END   
  
	EXEC Estimate_RefreshProcessedLines   
		  @AdminInfoID = @AdminInfoID  
		, @SupplementVersion = @SupplementVersion  
		, @ImageDirectory = @ImageDirectory  
		, @ForEOR = 1  
  
	-- EOR  
	SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter) AS LineNumberCalculated, *  
	INTO #EOR  
	FROM  Estimate_ProcessedLines   with(nolock)  
	WHERE Estimate_ProcessedLines.AdminInfoID = @AdminInfoID AND ForSummary = 1 AND PartSourceModified = 0		-- For EOR  
	ORDER BY  GroupNumber, Sorter  
  
	------------------------------------------------------------------------------------------------------------------------------------  
	-- Select the EOR items  
	SELECT 1 AS EOR, * FROM #EOR  
  
	------------------------------------------------------------------------------------------------------------------------------------  
	-- Union the supplement lines  
	UNION   
	SELECT 0, ISNULL(PDREOR.LineNumberCalculated, ISNULL(#EOR.LineNumberCalculated, 0)) AS LineNumberCalculated, Estimate_ProcessedLines.*  
	FROM Estimate_ProcessedLines   with(nolock) 
	LEFT JOIN #EOR ON Estimate_ProcessedLines.ModifiedID = #EOR.LineItemID  
  
	-- For PDR join in the ForSummary line with this line item ID to get the calculated line number  
	LEFT OUTER JOIN #EOR PDREOR ON Estimate_ProcessedLines.Action = 'PDR' AND PDREOR.LineItemID = Estimate_ProcessedLines.LineItemID AND PDREOR.ForSummary = 1  
  
	WHERE  
		Estimate_ProcessedLines.AdminInfoID = @AdminInfoID  
		AND (ISNULL(Estimate_ProcessedLines.SupplementDisplay, 0) = @SupplementVersion)  
		AND @SupplementVersion > 0  
  
	------------------------------------------------------------------------------------------------------------------------------------  
	-- Add the PDR lines from the last supplement.  These don't work int he above query because the LineItemID is the same for all PDR lines  
	UNION  
  
	SELECT 0, ISNULL(PDREOR.LineNumberCalculated, ISNULL(#EOR.LineNumberCalculated, 0)) AS LineNumberCalculated, Estimate_ProcessedLines.*  
	FROM Estimate_ProcessedLines   with(nolock) 
	LEFT JOIN #EOR ON Estimate_ProcessedLines.ModifiedID = #EOR.LineItemID  
  
	-- For PDR join in the ForSummary line with this line item ID to get the calculated line number  
	LEFT OUTER JOIN #EOR PDREOR ON Estimate_ProcessedLines.Action = 'PDR' AND PDREOR.LineItemID = Estimate_ProcessedLines.LineItemID AND PDREOR.ForSummary = 1  
  
	WHERE   
		Estimate_ProcessedLines.AdminInfoID = @AdminInfoID  
		AND Estimate_ProcessedLines.Action = 'PDR'   
		AND Estimate_ProcessedLines.SupplementVersion = @SupplementVersion - 1   
		AND (Estimate_ProcessedLines.Added = 1 OR Estimate_ProcessedLines.Removed = 1)  
      OPTION(RECOMPILE)
	DROP TABLE #EOR  

END 

GO
