USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NULL,
	[ContactsID] [int] NULL,
	[Address1] [nvarchar](150) NULL,
	[Address2] [nvarchar](150) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[zip] [nvarchar](12) NULL,
	[TimeZone] [varchar](10) NULL,
 CONSTRAINT [PK_tbl_Address] PRIMARY KEY NONCLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [_dta_index_tbl_Address_c_7_1357075766__K3] ON [dbo].[tbl_Address]
(
	[ContactsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_tbl_Address_47_1357075766__K3_1_2_4_5_6_7_8_9] ON [dbo].[tbl_Address]
(
	[ContactsID] ASC
)
INCLUDE([AddressID],[AdminInfoID],[Address1],[Address2],[City],[State],[Country],[zip]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_tbl_Address_6_1357075766__K1_K3_2_4_5_6_7_8_9_10] ON [dbo].[tbl_Address]
(
	[AddressID] ASC,
	[ContactsID] ASC
)
INCLUDE([AdminInfoID],[Address1],[Address2],[City],[State],[Country],[zip],[TimeZone]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
