USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateReportHistory_Insert] 
	@LoginID [int] ,
	@FileName VARCHAR(100),
	@ReportType VARCHAR(50)
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    INSERT INTO [dbo].[CreateReportHistory] 
	( 
	      LoginID 
		, [FileName]
		, ReportType
		, CreatedTimeStamp
	) 
	VALUES 
	( 
		  @LoginID 
		, @FileName 
		, @ReportType 
		, GETDATE()
	) 
 
	SELECT CAST(SCOPE_IDENTITY() AS INT) 
END 
GO
