USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[aaaCopyGlobalProfilePresetToAllProfiles]
	@PresetID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ProfileID INT

	-- Get a cursor with all unassigned CustomerProfileIDs that aren't the global
	DECLARE db_cursor CURSOR FOR 
		SELECT DISTINCT CustomerProfiles.ID
		FROM CustomerProfiles
		WHERE 
			CustomerProfiles.AdminInfoID = 0
			AND ISNULL(CustomerProfiles.Deleted, 0) = 0
			AND CustomerProfiles.ID > 1 

	OPEN db_cursor  
	FETCH NEXT FROM db_cursor INTO @ProfileID  

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		  -- Insert the base CustomerProfilePresets record
		  INSERT INTO CustomerProfilePresets
			SELECT 
	 			  @ProfileID AS CustomerProfilesID
				, CustomerProfilePresets.StepID
				, CustomerProfilePresets.PartSource
				, CustomerProfilePresets.ActionCode
				, CustomerProfilePresets.ActionDescription
				, CustomerProfilePresets.PartNumber
				, CustomerProfilePresets.Description
				, CustomerProfilePresets.Price
				, CustomerProfilePresets.PartOfOverhaul
				, CustomerProfilePresets.Qty
				, CustomerProfilePresets.LaborTime
				, CustomerProfilePresets.PaintTime
				, CustomerProfilePresets.Other
				, CustomerProfilePresets.ImageID
				, CustomerProfilePresets.PartSourceVendorID
				, CustomerProfilePresets.SubletOperationFlag
				, CustomerProfilePresets.BettermentOperationFlag
				, CustomerProfilePresets.OrderNo

			FROM CustomerProfilePresets
			WHERE CustomerProfilePresets.ID = @PresetID

			DECLARE @NewPresetID INT = SCOPE_IDENTITY()


			INSERT INTO CustomerProfilePresetsLabor
			SELECT
				  @NewPresetID AS CustomerProfilePresetsID
				, LaborType
				, LaborSubType
				, LaborTime
				, LaborCost
				, AdjacentDeduction
				, MajorPanel
				, Lock
				, Include
			FROM CustomerProfilePresetsLabor
			WHERE CustomerProfilePresetsID = @PresetID

			INSERT INTO CustomerProfilePresetsNotes
			SELECT 
				@NewPresetID AS CustomerProfilePresetsID
				, Printed
				, Notes
			FROM CustomerProfilePresetsNotes
			WHERE CustomerProfilePresetsID = @PresetID

		  FETCH NEXT FROM db_cursor INTO @ProfileID 
	END 

	CLOSE db_cursor  
	DEALLOCATE db_cursor 


	--INSERT INTO CustomerProfilePresets
	--SELECT 
	-- 	  ProfileIDs.ID AS CustomerProfilesID
	--	, CustomerProfilePresets.StepID
	--	, CustomerProfilePresets.PartSource
	--	, CustomerProfilePresets.ActionCode
	--	, CustomerProfilePresets.ActionDescription
	--	, CustomerProfilePresets.PartNumber
	--	, CustomerProfilePresets.Description
	--	, CustomerProfilePresets.Price
	--	, CustomerProfilePresets.PartOfOverhaul
	--	, CustomerProfilePresets.Qty
	--	, CustomerProfilePresets.LaborTime
	--	, CustomerProfilePresets.PaintTime
	--	, CustomerProfilePresets.Other
	--	, CustomerProfilePresets.ImageID
	--	, CustomerProfilePresets.PartSourceVendorID
	--	, CustomerProfilePresets.SubletOperationFlag
	--	, CustomerProfilePresets.BettermentOperationFlag
	--	, CustomerProfilePresets.OrderNo

	--FROM CustomerProfilePresets
	--LEFT OUTER JOIN
	--(
	--	SELECT DISTINCT CustomerProfiles.*
	--	FROM CustomerProfiles
	--	WHERE 
	--		CustomerProfiles.AdminInfoID = 0
	--		AND ISNULL(CustomerProfiles.Deleted, 0) = 0
	--		AND CustomerProfiles.ID > 1
	--)
	--AS ProfileIDs ON 1 = 1
	--WHERE CustomerProfilePresets.ID = @PresetID


END
GO
