USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 4/14/2020 
-- Description:	Get a Contract Add Trial On by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[ContractAddOnTrial_Get] 
	@id				int 
AS 
BEGIN 
	SELECT * 
	FROM ContractAddOnTrial 
	WHERE ID = @id  
END 
GO
