USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportQueueLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [int] NULL,
	[EmailAdddress] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[EnqueueDate] [datetime] NULL,
	[DequeueDate] [datetime] NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
