USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleDriveMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriveCode] [varchar](10) NULL,
	[DriveID] [int] NULL
) ON [PRIMARY]
GO
