USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
   
-- =============================================    
-- Author:  Rajiv    
-- Create date: 7/23/2020 
-- Description: Saving new column "Reordering" 
-- =============================================    
CREATE PROCEDURE [dbo].[UpdateManualEntryReorder]    
 @id   int, 
 @OrderNo int 
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
    
UPDATE [dbo].[CustomerProfilePresets] SET OrderNo = @OrderNo WHERE Id = @id 
END    
GO
