USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimationOverlap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EstimationLineItemsID1] [int] NULL,
	[EstimationLineItemsID2] [int] NULL,
	[OverlapAdjacentFlag] [char](1) NULL,
	[Amount] [real] NULL,
	[SectionOverlapsID] [int] NULL,
	[Minimum] [real] NULL,
	[UserOverride] [bit] NULL,
	[UserAccepted] [bit] NULL,
	[UserResponded] [bit] NULL,
	[SupplementLevel] [tinyint] NULL,
 CONSTRAINT [PK_EstimationOvlAdj] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_EstimationOverlap_6_1380199967__K2_K9_K11_3_4_5_7] ON [dbo].[EstimationOverlap]
(
	[EstimationLineItemsID1] ASC,
	[UserAccepted] ASC,
	[SupplementLevel] ASC
)
INCLUDE([EstimationLineItemsID2],[OverlapAdjacentFlag],[Amount],[Minimum]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [_dta_index_EstimationOverlap_7_1380199967__K3_K1_K2_K9_K4_5_7] ON [dbo].[EstimationOverlap]
(
	[EstimationLineItemsID2] ASC,
	[id] ASC,
	[EstimationLineItemsID1] ASC,
	[UserAccepted] ASC,
	[OverlapAdjacentFlag] ASC
)
INCLUDE([Amount],[Minimum]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [<Name of Missing Index, sysname,>] ON [dbo].[EstimationOverlap]
(
	[OverlapAdjacentFlag] ASC,
	[UserAccepted] ASC
)
INCLUDE([EstimationLineItemsID1],[EstimationLineItemsID2],[Amount],[Minimum]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EstimationLineItemsID2_Includes] ON [dbo].[EstimationOverlap]
(
	[EstimationLineItemsID2] ASC
)
INCLUDE([EstimationLineItemsID1]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstimationOverlap] ADD  CONSTRAINT [DF_EstimationOverlap_UserOverride]  DEFAULT (0) FOR [UserOverride]
GO
ALTER TABLE [dbo].[EstimationOverlap] ADD  CONSTRAINT [DF_EstimationOverlap_UserResponded]  DEFAULT (0) FOR [UserResponded]
GO
ALTER TABLE [dbo].[EstimationOverlap] ADD  CONSTRAINT [DF_EstimationOverlap_SupplementLevel]  DEFAULT (0) FOR [SupplementLevel]
GO
