USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CustomerProfileAddBlank]
	-- Add the parameters for the stored procedure here
	@LoginID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
   
 INSERT INTO CustomerProfiles WITH (ROWLOCK) (OwnerID, OwnerType, ProfileName, Description, DefaultFlag, CreationDate, CreatedBy)      
   VALUES (@LoginID, 0, 'Enter new name', 'Enter a new description', 0, GetDate(), @LoginID)      
 SELECT  @@IDENTITY as ID   
 
END


GO
