USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXEC [dbo].[Wisetack_FinancingReportLoanApplicationsLog_Get] @TransactionID = '8524da2c-d70c-4279-a647-550562f1975c'
*/
CREATE PROCEDURE [dbo].[Wisetack_FinancingReportLoanApplicationsLog_Get]
	@TransactionID VARCHAR(200)
AS
BEGIN
SET NOCOUNT ON

	SELECT		CreatedDate,
				CallbackDate,
				ChangedStatus,
				ActionsRequired,
				RequestedLoanAmount,
				ApprovedLoanAmount,
				SettledLoanAmount,
				ProcessingFee,
				MaximumAmount,
				ServiceCompletedOn,
				TilaAcceptedOn,
				LoanCreatedAt,
				EventType,
				ExpirationDate,
				CustomerID
	FROM		WisetackCallbackLoanApplication WITH (NOLOCK)
	WHERE		TransactionID = @TransactionID
	ORDER BY	CreatedDate

END
GO
