USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- ============================================= 
-- Author:		Ezra 
-- Create date: 2/23/2017 
-- Description:	Get preset for an estimate 
-- GetPresetsForEstimate 7807643 
-- ============================================= 
CREATE PROCEDURE [dbo].[GetPresetsForEstimate]  
	@AdminInfoID INT 
AS 
BEGIN 
 
	DECLARE @LoginsID INT 
	DECLARE @ProfileID INT 
 
	SELECT  
		@LoginsID = CreatorID,  
		@ProfileID = CustomerProfilesID       
	FROM AdminInfo    
	WHERE id = @AdminInfoID       
 
	SELECT 
		  id
		, [Description]
		, FullDescription
		, OrderNo
		, Section
	FROM ( 
       
		-- Get all presets for the profile attached to the estimate 
		SELECT   
			id,        
			CASE  
				WHEN ISNULL(CustomerProfilePresets.ActionDescription,'') <> '' THEN CustomerProfilePresets.ActionDescription       
				WHEN ISNULL(CustomerProfilePresets.Description,'') <> '' THEN CustomerProfilePresets.Description       
			ELSE '--No description--'       
			END 'Description', 
			ISNULL(PartSource, '') + ISNULL(ActionCode, '') + ISNULL(CustomerProfilePresets.ActionDescription,'') + ISNULL(CustomerProfilePresets.Description,'') + CAST(Price AS VARCHAR) + CAST(Qty AS VARCHAR) + CAST(ISNULL(LaborTime, '') AS VARCHAR) + CAST(ISNULL(PaintTime, '') AS VARCHAR) + CAST(ISNULL(Other, '') AS VARCHAR) AS FullDescription, 
			ISNULL(OrderNo, 9999) AS OrderNo,
			1 AS Section
		FROM CustomerProfilePresets     
		WHERE CustomerProfilesID = @ProfileID       
 
		-- Get presets for all "default presets" profiles
		UNION ALL       
		
		SELECT   
			CustomerProfilePresets.id,        
			CASE   
				WHEN ISNULL(CustomerProfilePresets.ActionDescription,'') <> '' THEN CustomerProfilePresets.ActionDescription       
				WHEN ISNULL(CustomerProfilePresets.Description,'') <> '' THEN CustomerProfilePresets.Description       
			ELSE '--No description--'       
			END + ' (From Default Presets)' 'Description', 
			ISNULL(PartSource, '') + ISNULL(ActionCode, '') + ISNULL(CustomerProfilePresets.ActionDescription,'') + ISNULL(CustomerProfilePresets.Description,'') + CAST(Price AS VARCHAR) + CAST(Qty AS VARCHAR) + CAST(ISNULL(LaborTime, '') AS VARCHAR) + CAST(ISNULL(PaintTime, '') AS VARCHAR) + CAST(ISNULL(Other, '') AS VARCHAR) AS FullDescription, 
			ISNULL(OrderNo, 9999),
			CustomerProfiles.ID AS Section
		FROM CustomerProfiles      
		INNER JOIN CustomerProfilePresets ON CustomerProfilePresets.CustomerProfilesID = CustomerProfiles.ID     
		WHERE   
			CustomerProfiles.OwnerID = @LoginsID  
			AND ISNULL(CustomerProfiles.Deleted, 0) = 0
			AND ISNULL(CustomerProfiles.DefaultPreset,0) = 1  
			AND ISNULL(CustomerProfiles.AdminInfoID, 0) = 0
	) Result 
	ORDER BY Section, OrderNo
 END
GO
