USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE FUNCTION [dbo].[getNumericValue] (@TheString AS varchar(500))
RETURNS bigint
AS

/*

This function will strip all non-numeric characters from a string - primarily for phone numbers, social security numbers, etc.
It will also strip the following characters even though IsNumeric function considers them numeric: +-$

Parameters:
	@TheString - Original number

Returns:
	bigint - @NewString

Usage:
	SELECT dbo.getNumericValue('123-45-6789')	// Will return '123456789'
	
*/


BEGIN

	DECLARE 	@Number AS bigint,
				@CurChar AS VarChar(1),
				@NewString AS VarChar(100)
	SELECT		@Number = 0,
				@CurChar = '',
				@NewString = ''

	IF @TheString IS NOT NULL
	BEGIN
		
		SET @TheString = dbo.Trim(@TheString)

		WHILE @Number <= Len(@TheString) AND Len(@TheString) > 0
		BEGIN
			SELECT @CurChar = SubString(@TheString,@Number,1)
			IF @CurChar IN ('1','2','3','4','5','6','7','8','9','0')
			BEGIN
				SELECT @NewString = @NewString + @CurChar
			END
			SELECT @Number=@Number+1
		END
		
		IF isNumeric(@NewString) = 0
			SELECT @NewString = NULL
		
	END
	ELSE
	BEGIN
		SELECT @NewString = NULL
	END
 
	RETURN ( Convert(bigint, @NewString) )

END



GO
