USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/14/2021
-- =============================================
CREATE PROCEDURE [dbo].[PasswordResetLink_GetByCode]
	@Code					varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM PasswordResetLink
	WHERE Code = @Code

END
GO
