USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetProcessedLines]
(
	@AdminInfoID		int, 
	@SupplementVersion	int = 0, 
	@ImageDirectory		varchar(500) = '', 
	@ForPreview			bit = 0,			-- True when putting together the line item preview, which doesn't calculate markup for prices
	@PrintPnLNotes		INT = 0
)
RETURNS @ProcessedLines TABLE  
(
	  LineItemID	int
	, ForSummary	bit
	, PartSourceModified	bit
	, ModifiedSupplementVersion	int
	, ModifiedID	int
	, Panel	varchar(50)
	, Added	bit
	, Removed	bit
	, BettermentType	varchar(20)
	, BettermentValue	float
	, BettermentAmount	float
	, BettermentNote	varchar(100)
	, Sublet	bit
	, Action	varchar(20)
	, OperationDescription	varchar(100)
	, Description	varchar(200)
	, PartNumber	varchar(50)
	, Price	money
	, Quantity	int
	, PartSource	varchar(20)
	, RemovedPrice	money
	, RemovedQuantity	int
	, RemovedPartSource	varchar(20)
	, PartSourceImage	varchar(500)
	, LaborSummaryPaintPanel	varchar(200)
	, LaborTotalPaintPanel	float
	, LaborSummaryPaint	varchar(200)
	, LaborTotalPaint	float
	, LaborTotalPaintDollars float
	, LaborTotalClearcoat		real
	, ClearcoatIncluded			bit
	, ClearcoatSuppliesIncluded	bit
	, LaborSummaryExtra	varchar(200)
	, LaborTotalExtra	float
	, LaborTotalExtraOverlapped float
	, ExtraLaborType	varchar(20)
	, ExtraLaborIncludeIn	varchar(20)
	, LaborExtraRemovedType		varchar(50) 
	, LaborExtraRemovedIncludeInType		varchar(50) 
	, LaborExtraRemovedHours	float 
	, LaborExtraRemovedTotal	float 
	, LaborIncluded	bit
	, OverlapSupplement int
	, OtherCharges	float
	, OtherChargesLaborType	int
	, RemovedOtherCharges	float
	, RemovedOtherChargesLaborType	int
	, DeductionsMessage	varchar(100)
	, AdjacentMessage varchar(20)
	, Notes	varchar(5000)
	, LineNumber	int
	, SupplementVersion	int
	, DeletedBySupplement	int
	, SupplementDisplay	int
	, StepSupp	varchar(500)
	, Sorter	int
	, GroupNumber	int
	, OversizedDescription	varchar(200)
	, OversizedPrice	money
	, ModifierDescription	varchar(200)
	, ModifierPrice	money
	, LaborSummaryPaintPanelPrint	varchar(200)
	, LaborSummaryPaintPrint	varchar(200)
	, LaborSummaryExtraPrint	varchar(200)
	, IsPartsQuantity				BIT
	, IsLaborQuantity				BIT
	, IsPaintQuantity				BIT
	, PartsQuantity					REAL
	, LaborQuantity					REAL
	, PaintQuantity					REAL
	, PaintMaterialsBetterment		REAL
	, LaborBetterment				REAL
	, PaintLaborBetterment			REAL
)

BEGIN

	DECLARE @estimateID INT = @AdminInfoID
	DECLARE @SupVersion INT = @SupplementVersion
	DECLARE @ImgDirectory VARCHAR(500) = @ImageDirectory
	DECLARE @Preview BIT = @ForPreview
	DECLARE @IsImported BIT = (SELECT ISNULL(IsImported, 0) FROM AdminInfo with(nolock) WHERE ID = @estimateID)

	DECLARE @Service_BarCode VarCHar(10) = Mitchell3.dbo.GetServiceBarcode(@estimateID) 
	--- aaa
	-- Set up variables used for controlling overlap calculations.  Older estimates and imported estimates use different calculations
	DECLARE @OverlapRoundingFirst INT = 7163683		-- Set this to the first estimate that should use the 0.001 instead of 0 comparison for including labor
	DECLARE @OtherLaborTypesIncludeFirst INT = 0	-- Before only Body labor was applying the Included overlap logic, but Mechanical and Structure should be too.  Estimates after this ID will include Mech and Structure as well

	DECLARE @UseNewOverlapFormula BIT = 0

	IF @AdminInfoID > @OverlapRoundingFirst		-- Set this to the first estimate that should use the new overlap formula
		SET @UseNewOverlapFormula = 1

	IF @IsImported = 1
		SET @UseNewOverlapFormula =0

--SET @UseNewOverlapFormula = 0		-- TEMP - Ignore new formula

	-- Get a table with the results of GetEstimateLineItemSummary which is joined a few times in the big query
	DECLARE @EstimateLineItemSummary TABLE 
	(
		  LineItemID	int
		, Service_BarCode	varchar(20)
		, Category		varchar(200)
		, SubCategory	varchar(200)
		, barcode		varchar(50)
		, GroupNumber	int
		, nHeader		int
		, nSection		int
		, Step			varchar(200)
	)

	INSERT INTO @EstimateLineItemSummary 
	SELECT * FROM dbo.GetEstimateLineItemSummary(@estimateID)

	-- SELECT * FROM @EstimateLineItemSummary;

	-- Get a temp table with the line items for this estimate
	DECLARE @LineItems TABLE
	(
		[id] [int] NOT NULL,
		[EstimationDataID] [int] NOT NULL,
		[StepID] [int] NULL,
		[PartNumber] [varchar](50) NULL,
		[PartSource] [varchar](10) NULL,
		[ActionCode] [varchar](20) NULL,
		[Description] [varchar](80) NULL,
		[Price] [money] NULL,
		[Qty] [int] NULL,
		[LaborTime] [real] NULL,
		[PaintTime] [real] NULL,
		[Other] [real] NULL,
		[ImageID] [int] NULL,
		[ActionDescription] [varchar](80) NULL,
		[PartOfOverhaul] [bit] NULL,
		[PartSourceVendorID] [int] NULL,
		[BettermentParts] [bit] NULL,
		[SubletPartsFlag] [bit] NULL,
		[BettermentMaterials] [bit] NULL,
		[SubletOperationFlag] [bit] NULL,
		[SupplementVersion] [tinyint] NULL,
		[LineNumber] [int] NULL,
		[UniqueSequenceNumber] [int] NULL,
		[ModifiesID] [int] NULL,
		[ACDCode] [char](1) NULL,
		[CustomerPrice] [real] NULL,
		[AutomaticCharge] [bit] NULL,
		[SourcePartNumber] [varchar](25) NULL,
		[SectionID] [int] NULL,
		[VehiclePosition] [varchar](5) NULL,
		[Barcode] [varchar](10) NULL,
		[dbPrice] [money] NULL,
		[AutoAdd] [bit] NULL,
		[Suppress] [bit] NULL,
		[AutoAddBarcodeParent] [varchar](10) NULL,
		[Date_Entered] [datetime] NOT NULL,
		[BettermentType] [char](10) NULL,
		[BettermentValue] [float] NULL,
		IsPartsQuantity BIT NULL,
		IsLaborQuantity BIT NULL,
		IsPaintQuantity BIT NULL,
		PresetShellID INT NULL,
		ParentLineID INT NULL,
		IsOtherCharges  BIT NULL,
		LaborIncluded INT NULL
	)

	INSERT INTO @LineItems
	SELECT EstimationLineItems.*
	FROM EstimationData  with(nolock)
	JOIN EstimationLineItems with(nolock) ON EstimationLineItems.EstimationDataID = EstimationData.id
	WHERE EstimationData.AdminInfoID = @estimateID 

	--SELECT * FROM @LineItems;

	 -- Get a temp table with the labor lines for this estimate
	 DECLARE @LaborItems TABLE
	 (
		[id] [int] NOT NULL,
		[EstimationLineItemsID] [int] NOT NULL,
		[LaborType] [tinyint] NOT NULL,
		[LaborSubType] [smallint] NULL,
		[LaborTime] [real] NULL,
		[LaborCost] [money] NULL,
		[BettermentFlag] [bit] NULL,
		[SubletFlag] [bit] NULL,
		[UniqueSequenceNumber] [int] NULL,
		[ModifiesID] [int] NULL,
		[AdjacentDeduction] [tinyint] NULL,
		[MajorPanel] [bit] NULL,
		[BettermentPercentage] [real] NULL,
		[dbLaborTime] [real] NULL,
		[AdjacentDeductionLock] [bit] NULL,
		[barcode] [varchar](10) NULL,
		[Lock] [bit] NULL,
		[include] [bit] NULL,
		[WebEstID] [int] NULL,
		BettermentType [Char] NULL
	 )

	INSERT INTO @LaborItems
	SELECT EstimationLineLabor.*
	FROM @LineItems LineItems
	JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = LineItems.id

	--SELECT * FROM @LaborItems;

	-- Get the labor summary
	DECLARE @LaborSummary TABLE  
	( 
		 EstimationLineItemsID		int 
		,LaborSummaryPaintPanel		varchar(200) 
		,LaborTotalPaintPanel		real 
		,LaborSummaryPaint			varchar(200) 
		,LaborTotalPaint			real 
		,LaborTotalPaintDollars		real
		,LaborTotalClearcoat		real
		,ClearcoatLaborIncluded		bit
		,ClearcoatSuppliesIncluded	bit
		,LaborSummaryExtra			varchar(200) 
		,LaborTotalExtra			real 
		,LaborExtraType				varchar(50)
		,LaborExtraIncludedInType	varchar(50)
		,LaborExtraRemovedType		varchar(50)
		,LaborExtraRemovedIncludedInType		varchar(50) 
		,LaborExtraRemovedHours		real 
		,LaborExtraRemovedTotal		real
		,LaborSummaryPaintPanelPrint	varchar(200)
		,LaborSummaryPaintLaborPrint	varchar(200)
		,LaborSummaryExtraPrint			varchar(200)
		,IsPartsQuantity				BIT
		,IsLaborQuantity				BIT
		,IsPaintQuantity				BIT
		, PartsQuantity					REAL
		, LaborQuantity					REAL
		, PaintQuantity					REAL
		, PaintMaterialsBetterment		REAL
		, LaborBetterment				REAL
		, PaintLaborBetterment			REAL
	)  

	INSERT INTO @LaborSummary
	SELECT * FROM dbo.GetLaborSummary(@estimateID, @Preview)

	-- SELECT * FROM @LaborSummary;
	INSERT INTO @ProcessedLines 
	SELECT  
		EstimationLineItems.ID, 
 
		-- Don't include lines that have been change by a supplement 
		CASE WHEN ISNULL(SuppOverride.ID, 0) > 0 AND ISNULL(EstimationLineItems.SupplementVersion, 0) < @SupVersion THEN 0 ELSE 1 END AS ForSummary, 
  
		-- Set a flag if a line has been modified by another line with a different part source, these lines aren't shown in the main list ofline items  
		CASE WHEN EstimationLineItems.id <> EstimationLineItemsModified.id AND EstimationLineItems.PartSource <> EstimationLineItemsModified.PartSource THEN 1 ELSE 0 END AS PartSourceModified,  
		CASE WHEN EstimationLineItems.id <> EstimationLineItemsModified.id THEN ISNULL(EstimationLineItemsModified.SupplementVersion, 0) ELSE 0 END AS ModifiedSupplementVersion,  
		EstimationLineItemsModified.ID AS ModifiedID, 
	  
		-- If there is no panel, return ZZZ so it is sorted at the end of the list.  The report will not show ZZZ  
				ISNULL(  
			CASE WHEN @Service_Barcode IS NULL
				THEN
					dbo.GetManualSection(ISNULL(ModifiesData.SectionID, EstimationLineItems.SectionID))
				ELSE
					NULLIF(  
						CASE WHEN ModifiesData.id IS NULL  
							THEN ISNULL(Mitchell3.dbo.GetCategory(@Service_BarCode, CASE WHEN ParentLineItems.SectionID IS NULL THEN EstimationLineItems.SectionID ELSE ParentLineItems.SectionID END), ISNULL(T1.Step, ''))  
						ELSE Mitchell3.dbo.GetCategory(@Service_BarCode, ModifiesData.SectionID)  
						END
					, '')
				END
		, 'ZZZ') As 'Panel',  
  
		CASE WHEN ISNULL(EstimationLineItems.SupplementVersion,0) > 0 AND EstimationLineItems.ModifiesID = -1 THEN 1 ELSE 0 END 'Added',  
		CASE   
			WHEN (ISNULL(SuppOverride.id, 0) > 0 AND SuppOverride.ActionDescription LIKE 'Delete%')  
				OR (ISNULL(ModifiesData.id, 0) > 0 AND EstimationLineItems.ActionDescription LIKE 'Delete%')  
			THEN 1   
		--WHEN EstimationLineItems.id <> EstimationLineItemsModified.id AND EstimationLineItems.PartSource <> EstimationLineItemsModified.PartSource THEN 1  
		WHEN EstimationLineItems.id <> EstimationLineItemsModified.id THEN 1  
		ELSE 0 END 'Removed',  
  
		REPLACE(ISNULL(EstimationLineItems.BettermentType, ''), ' ', '') AS BettermentType,  
		ISNULL(EstimationLineItems.BettermentValue, 0) AS BettermentValue,  
		CASE     
		WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'P' THEN    
		CASE     
			WHEN EstimationOverlap.OverlapAdjacentFlag = 1 THEN 0   
			ELSE     
			CASE   
				WHEN EstimationLineItems.BettermentType = 'P'  
				THEN 
					((CASE WHEN ISNULL(EstimationLineItems.BettermentParts, 0) = 1 THEN EstimationLineItems.Price ELSE 0 END) + 
					(CASE WHEN ISNULL(EstimationLineItems.BettermentMaterials, 0) = 1 THEN LaborSummary.PaintMaterialsBetterment ELSE 0 END) + 
					--labor
					(CASE WHEN EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25) AND EstimationLineLaborMain.BettermentFlag = 1 THEN LaborSummary.LaborBetterment ELSE 0 END) + 
					--paint
					(CASE WHEN EstimationLineLaborPaint.LaborType in (9,16,18,19,29) AND EstimationLineLaborPaint.BettermentFlag = 1 THEN LaborSummary.PaintLaborBetterment ELSE 0 END))
	
					*		
					(EstimationLineItems.BettermentValue / 100) * -1  
				ELSE -1  
			END 
		END     
       
		WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'D' THEN    
		EstimationLineItems.BettermentValue * -1    
		ELSE 0    
		END AS BettermentAmount,   
  
		CASE    
		WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'P' THEN    
		CASE WHEN ISNULL(EstimationLineItems.BettermentParts,0) = 1 OR ISNULL(EstimationLineItems.BettermentMaterials,0) = 1 OR 
		EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25) AND EstimationLineLaborMain.BettermentFlag = 1 OR 
		EstimationLineLaborPaint.LaborType in (9,16,18,19,29) AND EstimationLineLaborPaint.BettermentFlag = 1 THEN
		'Betterment ' + CAST(EstimationLineItems.BettermentValue AS VARCHAR) + '%' +     

		(CASE WHEN ISNULL(EstimationLineItems.BettermentParts,0) = 1 THEN ' Parts' + ',' ELSE '' END) + 
		(CASE WHEN ISNULL(EstimationLineItems.BettermentMaterials,0) = 1 THEN ' Paint Materials' + ',' ELSE '' END) + 
		(CASE WHEN EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25) AND EstimationLineLaborMain.BettermentFlag = 1 THEN ' Labor' + ',' ELSE '' END) + 
		(CASE WHEN EstimationLineLaborPaint.LaborType in (9,16,18,19,29) AND EstimationLineLaborPaint.BettermentFlag = 1 THEN ' Paint Labor' + ',' ELSE '' END) END

		WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'D' THEN    
		CASE WHEN ISNULL(EstimationLineItems.BettermentParts,0) = 1 OR ISNULL(EstimationLineItems.BettermentMaterials,0) = 1 OR 
		EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25) AND EstimationLineLaborMain.BettermentFlag = 1 OR 
		EstimationLineLaborPaint.LaborType in (9,16,18,19,29) AND EstimationLineLaborPaint.BettermentFlag = 1 THEN 'Betterment $' + CAST(EstimationLineItems.BettermentValue AS VARCHAR)  + 

		(CASE WHEN ISNULL(EstimationLineItems.BettermentParts,0) = 1 THEN ' Parts' + ',' ELSE '' END) + 
		(CASE WHEN ISNULL(EstimationLineItems.BettermentMaterials,0) = 1 THEN ' Paint Materials' + ',' ELSE '' END) + 
		(CASE WHEN EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25) AND EstimationLineLaborMain.BettermentFlag = 1 THEN ' Labor' + ',' ELSE '' END) + 
		(CASE WHEN EstimationLineLaborPaint.LaborType in (9,16,18,19,29) AND EstimationLineLaborPaint.BettermentFlag = 1 THEN ' Paint Labor' ELSE '' END)    
		ELSE ''    
		END END As BettermentNote,  
  
		CASE WHEN ISNULL(EstimationLineItems.SubletOperationFlag,0) <> 0 THEN 1 ELSE 0 END 'Sublet',  
  
		CASE WHEN EstimationLineItems.ActionCode = 'PDR' THEN 'PDR' 
		ELSE
			CASE WHEN ISNULL(EstimationLineItems.Description + ' ','') NOT LIKE ISNULL(ActionList.ActionLong + ' ','') + '%' THEN ISNULL(ActionList.ActionLong + ' ','') ELSE '' END
		END AS 'Action',  
  
		COALESCE(EstimationLineItems.ActionDescription, ModifiesData.ActionDescription) AS OperationDescription, 
 
		dbo.HtmlEncode(UPPER(ISNULL(COALESCE(EstimationLineItems.Description, ModifiesData.Description), '')) +    
		CASE WHEN EstimationOverlap.OverlapAdjacentFlag = 1
			THEN ', Included in ' + ISNULL(EstimationLineItemsAssembly.Description,' Assembly')   
			ELSE ''   
		END  
		+ CASE WHEN ISNULL(EstimationLineItems.SubletOperationFlag, 0) = 1 THEN ' Sublet' ELSE '' END
		+ CASE WHEN ISNULL(OtherLaborType.LaborType, '') <> '' 
			THEN 
				-- Add a Dash if there is a description and labor type
				CASE WHEN ISNULL(COALESCE(EstimationLineItems.Description, ModifiesData.Description), '') <> '' THEN ' - ' ELSE '' END
				+ ISNULL(OtherLaborType.LaborType, '') 
			ELSE '' 
			END 
		+ ' ' + UPPER(COALESCE(EstimationLineItems.ActionDescription, ModifiesData.ActionDescription)))
		AS 'Description',   
		
		CASE	
			WHEN EstimationLineItems.ActionCode = 'Replace' THEN
				CASE   
					WHEN   
						ISNULL(COALESCE(EstimationLineItems.BettermentType, ModifiesData.BettermentType), '') <> ''   
						AND ISNULL(COALESCE(EstimationLineItems.BettermentValue, ModifiesData.BettermentValue), 0) > 0   
						--AND ISNULL(COALESCE(EstimationLineItems.BettermentParts, ModifiesData.BettermentParts), 0) = 1  -- Ezra 6/6 this was in the old query, but BettermentParts never seems to be set to true.  Not sure how this worked...
					THEN '(Bet) ' ELSE '' END +  
				CASE   
					WHEN COALESCE(EstimationLineItems.PartSource, ModifiesData.PartSource) = 'LKQ' AND ISNULL(CustomerProfilesMisc.LKQText, '') <> '' THEN CustomerProfilesMisc.LKQText  
					WHEN COALESCE(EstimationLineItems.PartSource, ModifiesData.PartSource) = 'LKQ' AND ISNULL(CustomerProfilesMisc.LKQText,'')='' THEN '*LKQ*'  
					WHEN COALESCE(EstimationLineItems.PartSource, ModifiesData.PartSource) = 'After' THEN isnull(nullif(COALESCE(EstimationLineItems.SourcePartNumber, ModifiesData.SourcePartNumber),''), COALESCE(EstimationLineItems.PartNumber, ModifiesData.PartNumber) )  
					WHEN COALESCE(EstimationLineItems.PartNumber, ModifiesData.PartNumber) NOT LIKE '**%' THEN COALESCE(EstimationLineItems.PartNumber, ModifiesData.PartNumber) ELSE ''   
				END 
			ELSE ''
		END	'PartNumber',  
  
		CASE   
			WHEN EstimationOverlap.OverlapAdjacentFlag = 1 THEN 0 
			ELSE 
				CASE WHEN @Preview = 0 
					THEN
						EstimationLineItems.Price + (EstimationLineItems.Price * (CustomerProfileRates.DiscountMarkup / 100)) 
					ELSE
						EstimationLineItems.Price 
					END  
		END 
		'Price',   
  
		CASE WHEN EstimationLineItems.Price = 0 THEN null ELSE dbo.GetLineItemQuantity(EstimationLineItems.ID) END 'Quantity',   
		CASE WHEN ISNULL(EstimationLineItems.PartSource, '') != '' THEN ISNULL(EstimationLineItems.PartSource, '') ELSE 'Other' END AS 'PartSource',  
 
		-- If the part source changed, get the full price of the modified part and select it as subtracted 
		CASE  
			WHEN ISNULL(@SupVersion, 0) > 0 AND ISNULL(EstimationLineitems.PartSource, '') <> ISNULL(EstimationLineItemsModifies.PartSource, '') AND ISNULL(EstimationLineItemsModifies.PartSource, '') <> '' 
				THEN 
					CASE WHEN @Preview = 0 
						THEN
							EstimationLineItems.Price + (EstimationLineItems.Price * (CustomerProfileRatesRemoved.DiscountMarkup / 100)) 
						ELSE
							EstimationLineItems.Price 
						END  
			ELSE 0 
		END AS RemovedPrice, 
 
		CASE  
			WHEN ISNULL(@SupVersion, 0) > 0 AND ISNULL(EstimationLineitems.PartSource, '') <> ISNULL(EstimationLineItemsModifies.PartSource, '') 
				THEN dbo.GetLineItemQuantity(EstimationLineItems.ModifiesID) 
			ELSE 0 
		END AS RemovedQuantity, 
 
		CASE  
			WHEN ISNULL(@SupVersion, 0) > 0 AND ISNULL(EstimationLineitems.PartSource, '') <> ISNULL(EstimationLineItemsModifies.PartSource, '') 
				THEN ISNULL(EstimationLineItemsModifies.PartSource, '') 
			ELSE '' 
		END AS RemovedPartSource, 
 
		CASE 
			 WHEN EstimationLineItems.PartSource = 'After' THEN @ImgDirectory + 'Aftermarket.gif'  
			 WHEN EstimationLineItems.PartSource = 'LKQ' THEN @ImgDirectory + 'LKQ.gif'  
			 WHEN EstimationLineItems.PartSource = 'Reman' THEN @ImgDirectory + 'Remanufacturered.gif'  
			 ELSE @ImgDirectory + 'empty.gif'  
		END As PartSourceImage,  
  
		dbo.HtmlEncode(ISNULL(LaborSummary.LaborSummaryPaintPanel, '')) AS 'LaborSummaryPaintPanel',
		ISNULL(ROUND(LaborSummary.LaborTotalPaintPanel, 1), 0), 
		dbo.HtmlEncode(ISNULL(LaborSummary.LaborSummaryPaint, '')) AS 'LaborSummaryPaint', 
		ISNULL(ROUND(LaborSummary.LaborTotalPaint, 1), 0), 
		ISNULL(ROUND(LaborSummary.LaborTotalPaintDollars, 1), 0),
		ISNULL(ROUND(LaborSummary.LaborTotalClearcoat, 1), 0),
		ISNULL(LaborSummary.ClearcoatLaborIncluded, '') AS 'ClearcoatIncluded',
		ISNULL(LaborSummary.ClearcoatSuppliesIncluded, ''),
		dbo.HtmlEncode(ISNULL(LaborSummary.LaborSummaryExtra, '')) AS 'LaborSummaryExtra', 
		ROUND(ISNULL(LaborSummary.LaborTotalExtra, 0), 1) AS LaborTotalExtra,
		ROUND(
			-- For Imported estimates, subtract EstimationLineItems.LaborTime from the body labor
			CASE WHEN ISNULL(AdminInfo.IsImported, 0) = 1  THEN
				CASE WHEN ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationLineItems.LaborTime, 0) < 0 THEN 0
					 ELSE ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationLineItems.LaborTime, 0)
					 END
			ELSE
			-- For regular estimates, subtract the overlap amountfrom the overlap table
				CASE WHEN ISNULL(LaborSummary.LaborTotalExtra, 0) < ISNULL(EstimationOverlap.Minimum, 0) THEN ISNULL(LaborSummary.LaborTotalExtra, 0)	-- Labor must be > the minimum to get deducted
				ELSE 
					-- Remove the amount from the labor, cap at 0
					CASE WHEN ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationOverlap.Amount, 0) < 0 THEN 0
					ELSE ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationOverlap.Amount, 0)
					END
				END
			END
			
		, 1) AS LaborTotalExtraOverlapped, 
		ISNULL(LaborSummary.LaborExtraType, ''),
		ISNULL(LaborSummary.LaborExtraIncludedInType, ''),
		ISNULL(LaborSummary.LaborExtraRemovedType, ''), 
		ISNULL(LaborSummary.LaborExtraRemovedIncludedInType, ''),
		ISNULL(ROUND(LaborSummary.LaborExtraRemovedHours, 1), 0), 
		ISNULL(ROUND(LaborSummary.LaborExtraRemovedTotal, 1), 0), 
 
		CASE WHEN @UseNewOverlapFormula = 0 AND ISNULL(AdminInfo.IsImported, 0) = 0 THEN
			-- Use the old formula
			CASE  
				WHEN ActionList.ActionLong IN ('R+R','R+I','R&I','Replace')
				AND  
				( 
					(EstimationOverlap2.Amount IS NOT NULL AND EstimationOverlap2.Amount = 0)  
					OR  
					( 
						ABS(LaborSummary.LaborTotalExtra) > 0 
						AND 
						( 
							( 
								ISNULL(EstimationOverlap1.Minimum, 0) = 0 
								AND (ABS(LaborSummary.LaborTotalExtra) <= ABS(EstimationOverlap1.Amount)) 
							) 
							OR  
							( 
								ISNULL(EstimationOverlap1.Minimum, 0) <> 0  
								AND (ABS(LaborSummary.LaborTotalExtra) - ABS(ISNULL(EstimationOverlap1.Minimum, 0)) <= CASE WHEN @AdminInfoID > @OverlapRoundingFirst THEN 0.001 ELSE 0 END)	-- 4/10/2019 - fixed a bug where a rounding error caused labor to not be included
							) 
						)  
					)					 
				)  
				THEN 1 
				ELSE 0 
			END 

		-- Otherwise start with labor not included, this will be calculated in the next query using the new formula
		ELSE 0 END AS LaborIncluded, 

		CASE WHEN @AdminInfoID > @OverlapRoundingFirst THEN ISNULL(EstimationOverlap.SupplementLevel, 0) ELSE 0 END AS OverlapSupplement,
 
		ISNULL(EstimationLineLaborOther.LaborCost, 0) +
			CASE WHEN @ForPreview = 1 THEN 0
			ELSE (ISNULL(EstimationLineLaborOther.LaborCost, 0) * (ISNULL(OtherLaborRate.DiscountMarkup, 0) / 100)) 
			END
		AS OtherCharges, 

		ISNULL(EstimationLineLaborOther.LaborType, 0) AS OtherChargesLaborType, 
 
		CASE 
			WHEN ISNULL(EstimationLineLaborOther.LaborType, 0) <> ISNULL(EstimationLineLaborModifiesOther.LaborType, 0) 
				THEN ISNULL(EstimationLineLaborModifiesOther.LaborCost, 0) + (ISNULL(EstimationLineLaborModifiesOther.LaborCost, 0) * (ISNULL(ModifiesOtherLaborRate.DiscountMarkup, 0) / 100))
			ELSE 0 
		END AS RemovedOtherCharges, 
 
		CASE 
			WHEN ISNULL(EstimationLineLaborOther.LaborType, 0) <> ISNULL(EstimationLineLaborModifiesOther.LaborType, 0) 
				THEN ISNULL(EstimationLineLaborModifiesOther.LaborType, 0) 
			ELSE 0 
		END AS RemovedOtherChargesLaborType, 
 
		CASE WHEN ISNULL(EstimationLineLaborPaint.AdjacentDeduction, 0) > 0 THEN 
			cast(EstimationLineLaborPaint.LaborTime AS VARCHAR(20)) 
			+ ' hrs. Paint - ' + 
			CASE  
				WHEN EstimationLineLaborPaint.AdjacentDeduction = 1 THEN FocusWrite.dbo.FormatNumber(CustomerProfilesPaint.AdjacentDeduction,1)  
				WHEN EstimationLineLaborPaint.AdjacentDeduction = 2 THEN FocusWrite.dbo.FormatNumber(CustomerProfilesPaint.NonAdjacentDeduction,1)  
				ELSE ''  
			END  
			+ ' hrs. Adjacent Deduction' 
		ELSE '' END  
		
		AS DeductionsMessage, 

		CASE 
			WHEN EstimationLineLaborPaint.AdjacentDeduction = 1 THEN 'Adj O/L'
			WHEN EstimationLineLaborPaint.AdjacentDeduction = 2 THEN 'Non Adj O/L'
			ELSE '' 
		END AS AdjacentMessage,
 
		CASE   
			WHEN ISNULL(CustomerProfilePrint.PrintPublicNotes, 0) = 1 THEN ISNULL(CONVERT(VarChar(5000), EstimationNotes.Notes), '')  
			ELSE ''  
		END 'Notes',  
  
		COALESCE(EstimationLineItems.LineNumber, ModifiesData.LineNumber) As LineNumber,  
  
		ISNULL(EstimationLineItems.SupplementVersion, 0) AS 'SupplementVersion',  
  
		CASE   
			WHEN SuppOverride.ActionDescription LIKE 'Delete%'  
			THEN SuppOverride.SupplementVersion ELSE 0 END 'DeletedBySupplement',  
  
		dbo.Biggest(ISNULL(EstimationLineItems.SupplementVersion, 0), ISNULL(SuppOverride.SupplementVersion, 0)) AS 'SupplementDisplay',
		--ISNULL(COALESCE(EstimationLineItems.SupplementVersion, SuppOverride.SupplementVersion), 0) AS 'SupplementDisplay',  
  
		--ISNULL(T1.Step,t2.step) +'-'+  
		ISNULL(T1.Step,'') +'-'+
		CONVERT(VarChar(3),ISNULL(EstimationLineItems.SupplementVersion,0)) 'StepSupp'  

		, ISNULL(T1.nheader, 1000) * 256 AS Sorter 
		, LineItemSummary.GroupNumber 
		, '' AS OversizedDescription 
		, 0 AS OversizedPrice 
		, '' AS ModifierDescription 
		, 0 AS ModifierPrice,
		dbo.HtmlEncode(ISNULL(LaborSummary.LaborSummaryPaintPanelPrint, '')) AS LaborSummaryPaintPanelPrint,
		dbo.HtmlEncode(ISNULL(LaborSummary.LaborSummaryPaintLaborPrint, '')) AS LaborSummaryPaintLaborPrint, 
		dbo.HtmlEncode(ISNULL(LaborSummary.LaborSummaryExtraPrint, '')) AS LaborSummaryExtraPrint
		,ISNULL(LaborSummary.IsPartsQuantity, EstimationLineItems.IsPartsQuantity)
		,ISNULL(LaborSummary.IsLaborQuantity, EstimationLineItems.IsLaborQuantity)
		,ISNULL(LaborSummary.IsPaintQuantity, EstimationLineItems.IsPaintQuantity)
		,ISNULL(LaborSummary.PartsQuantity, EstimationLineItems.Qty)
		,ISNULL(LaborSummary.LaborQuantity, 1)
		,ISNULL(LaborSummary.PaintQuantity, 1)
        ,PaintMaterialsBetterment
        ,LaborBetterment
        ,PaintLaborBetterment
	FROM AdminInfo   with(nolock)
  
	-- TODO - Customer profile sups, not ready to go live
	--LEFT JOIN CustomerProfiles ON CustomerProfiles.id = AdminInfo.CustomerProfilesID AND ISNULL(CustomerProfiles.Supplement, 0) = @SupplementVersion 
	LEFT JOIN CustomerProfiles with(nolock) 
		ON  AdminInfo.CustomerProfilesID   =  CustomerProfiles.id
	LEFT JOIN CustomerProfilePrint with(nolock) 
		ON CustomerProfilePrint.id = (SELECT TOP 1 id FROM CustomerProfilePrint WHERE CustomerProfilesID = CustomerProfiles.id)
	LEFT JOIN CustomerProfilesMisc with(nolock) 
		ON CustomerProfiles.id  = CustomerProfilesMisc.CustomerProfilesID  
	inner JOIN EstimationData with(nolock)
		 ON EstimationData.AdminInfoID = AdminInfo.ID  
	JOIN @LineItems EstimationLineItems  
		ON EstimationData.ID  = EstimationLineItems.EstimationDataID
	LEFT JOIN @LineItems ParentLineItems 
		ON EstimationLineItems.ParentLineID = ParentLineItems.ID
	LEFT JOIN ActionList with(nolock) 
		ON EstimationLineItems.ActionCode  = ActionList.ActionShort
 
	LEFT JOIN @EstimateLineItemSummary AS LineItemSummary ON EstimationLineItems.id =  LineItemSummary.LineItemID
  
	LEFT JOIN VehicleInfo with(nolock) ON EstimationData.ID = VehicleInfo.EstimationDataId
  
	LEFT JOIN @EstimateLineItemSummary T1 ON T1.Service_BarCode = @Service_BarCode AND T1.barcode = ISNULL(ParentLineItems.Barcode, EstimationLineItems.Barcode)

	--LEFT JOIN (SELECT DISTINCT GroupNumber, Step FROM @EstimateLineItemSummary AS T2Base WHERE NOT T2Base.Service_BarCode IS NULL) T2 ON T2.GroupNumber = EstimationLineItems.SectionID 
  
	LEFT JOIN EstimationNotes with(nolock)   
		ON EstimationLineItems.ID    = EstimationNotes.EstimationLineItemsID
		AND (EstimationNotes.Printed = 1 AND ISNULL(CustomerProfilePrint.PrintPublicNotes, 0) = 1)   
	LEFT JOIN @LineItems EstimationLineItemsModified ON EstimationLineItemsModified.id = Focuswrite.Dbo.GetLatestLineItemMod(EstimationLineItems.ID)   
	LEFT JOIN @LineItems EstimationLineItemsModifies ON EstimationLineItems.ModifiesID = EstimationLineItemsModifies.ID
  
	LEFT JOIN (	        
		SELECT 'LKQ' 'PartSource', 9 'RateType'  
		UNION SELECT 'OEM', 8  
		UNION SELECT 'Retail', 8  
		UNION SELECT 'After', 10  
		UNION SELECT 'Reman', 13  
		UNION SELECT 'Other', 18 	  
	) PartSourceRateTypes ON CASE WHEN ISNULL(EstimationLineItems.PartSource, '') = '' THEN 'Other' ELSE EstimationLineItems.PartSource END = PartSourceRateTypes.PartSource
	LEFT JOIN CustomerProfileRates ON  CustomerProfiles.id  = CustomerProfileRates.CustomerProfilesID AND CustomerProfileRates.RateType = PartSourceRateTypes.RateType   

	LEFT JOIN (	        
		SELECT 'LKQ' 'PartSource', 9 'RateType'  
		UNION SELECT 'OEM', 8  
		UNION SELECT 'Retail', 8  
		UNION SELECT 'After', 10  
		UNION SELECT 'Reman', 13  
		UNION SELECT 'Other', 18 	  
	) PartSourceRemovedRateTypes ON CASE WHEN ISNULL(EstimationLineItemsModifies.PartSource, '') = '' THEN '' ELSE EstimationLineItemsModifies.PartSource END = PartSourceRemovedRateTypes.PartSource
	LEFT JOIN CustomerProfileRates AS CustomerProfileRatesRemoved 
	ON CustomerProfiles.id = CustomerProfileRatesRemoved.CustomerProfilesID  
	AND PartSourceRemovedRateTypes.RateType = CustomerProfileRatesRemoved.RateType
   
	LEFT JOIN @LaborItems EstimationLineLaborMain 
		ON  EstimationLineItems.ID = EstimationLineLaborMain.EstimationLineItemsID AND EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25)  
	
	LEFT JOIN LaborTypes LaborTypesMain   
		ON EstimationLineLaborMain.LaborType   = LaborTypesMain.id
  
	LEFT JOIN @LaborItems EstimationLineLaborPaint   
		ON EstimationLineLaborPaint.EstimationLineItemsID = EstimationLineItems.ID   
		AND  
		(  
			EstimationLineLaborPaint.LaborType in (9,16,19,18,29)  -- Clearcoat, Base Coat, 2 Stage, 3 Stage, 2 Tone 
			OR   
			(EstimationLineLaborPaint.LaborType = 26 AND EstimationLineItems.ActionCode = 'Blend')   
		)  
	LEFT JOIN LaborTypes LaborTypesPaint with(nolock) 
	 ON EstimationLineLaborPaint.LaborType = LaborTypesPaint.id 
  
	LEFT JOIN @LaborItems EstimationLineLaborOther 
	ON EstimationLineItems.ID =  EstimationLineLaborOther.EstimationLineItemsID  AND EstimationLineLaborOther.LaborType in (13,14,15,30,31)  
	LEFT JOIN LaborTypes OtherLaborType with(nolock)
	 ON EstimationLineLaborOther.LaborType = OtherLaborType.id
	LEFT JOIN CustomerProfileRates OtherLaborRate with(nolock) 
	ON OtherLaborRate.CustomerProfilesID = CustomerProfiles.id AND OtherLaborType.RateTypesID = OtherLaborRate.RateType

	LEFT JOIN @LaborItems EstimationLineLaborModifiesOther 
	ON EstimationLineItemsModifies.ID  =   EstimationLineLaborModifiesOther.EstimationLineItemsID AND EstimationLineLaborModifiesOther.LaborType in (13,14,15,30,31) 
	LEFT JOIN LaborTypes ModifiesOtherLaborType with(nolock)
	 ON ModifiesOtherLaborType.id = EstimationLineLaborModifiesOther.LaborType
	LEFT JOIN CustomerProfileRates ModifiesOtherLaborRate with(nolock) ON ModifiesOtherLaborRate.CustomerProfilesID = CustomerProfiles.id AND ModifiesOtherLaborType.RateTypesID = ModifiesOtherLaborRate.RateType

	-- New correct overlap logoc
	--LEFT JOIN EstimationOverlap ON @UseNewOverlapFormula = 1 AND EstimationLineItems.ID = EstimationOverlap.EstimationLineItemsID1 AND EstimationOverlap.SupplementLevel <= @SupplementVersion AND EstimationOverlap.UserAccepted = 1
	LEFT JOIN  
	( 
		SELECT
		  EstimationLineItemsID1
		, EstimationLineItemsID2
		, MIN(Amount) AS Amount
		, MIN(Minimum) AS Minimum
		, MAX(SupplementLevel) AS SupplementLevel
		, MAX(OverlapAdjacentFlag) AS OverlapAdjacentFlag
		FROM 
		(
			SELECT  
				  CASE WHEN LaborSummary1.LaborTotalExtra <= LaborSummary2.LaborTotalExtra THEN EstimationLineItemsID1 ELSE EstimationLineItemsID2 END AS EstimationLineItemsID1 
				, Amount 
				, Minimum 
				, SupplementLevel	SupplementLevel 
				, CASE WHEN CASE WHEN OverlapAdjacentFlag = 'S' THEN 1 ELSE 0 END > 0 THEN 1 ELSE 0 END AS OverlapAdjacentFlag 
				, CASE WHEN OverlapAdjacentFlag = 'S' THEN CASE WHEN LaborSummary1.LaborTotalExtra <= LaborSummary2.LaborTotalExtra THEN EstimationLineItemsID2 ELSE EstimationLineItemsID1 END ELSE 0 END As EstimationLineItemsID2 
			FROM EstimationData  with(nolock)
			JOIN EstimationLineItems with(nolock) ON EstimationData.id = EstimationLineItems.EstimationDataID 
			LEFT JOIN EstimationOverlap with(nolock) ON  
				EstimationLineItems.ID = EstimationOverlap.EstimationLineItemsID1  
				AND EstimationOverlap.SupplementLevel <= @SupplementVersion
				AND EstimationOverlap.UserAccepted = 1 
				--AND dbo.IsLineDeletedBySupplement(EstimationOverlap.EstimationLineItemsID2, @SupplementVersion) = 0 
 
			LEFT JOIN @LaborSummary LaborSummary1 ON EstimationOverlap.EstimationLineItemsID1 = LaborSummary1.EstimationLineItemsID 
			LEFT JOIN @LaborSummary LaborSummary2 ON EstimationOverlap.EstimationLineItemsID2 = LaborSummary2.EstimationLineItemsID 
 
			WHERE  
				AdminInfoID = @AdminInfoID   
				AND EstimationLineItemsID1 IS NOT NULL 
		) base
		GROUP BY 
		  EstimationLineItemsID1
		, EstimationLineItemsID2
	) EstimationOverlap ON @UseNewOverlapFormula = 1 AND EstimationLineItems.ID = EstimationOverlap.EstimationLineItemsID1 
  
	-- Old incorrect overlap logic
	LEFT JOIN dbo.GetEstimateOverlap1(@estimateID) AS EstimationOverlap1 
	ON @UseNewOverlapFormula = 0 AND EstimationOverlap1.EstimationLineItemsID1 = dbo.GetOriginalLineItemID(EstimationLineItems.id) AND EstimationOverlap1.SupplementVersion <= @SupplementVersion
	LEFT JOIN dbo.GetEstimateOverlap2(@estimateID) AS EstimationOverlap2 ON @UseNewOverlapFormula = 0 AND EstimationOverlap2.EstimationLineItemsID2 = dbo.GetOriginalLineItemID(EstimationLineItems.id) AND EstimationOverlap2.SupplementVersion <= @SupplementVersion

	LEFT JOIN @LineItems EstimationLineItemsAssembly ON EstimationLineItemsAssembly.id = EstimationOverlap.EstimationLineItemsID2 AND EstimationOverlap.OverlapAdjacentFlag = 1  
  
	-- Ezra - 12/13/2019 - added AND clause to not join supplement changes beyond what we are pulling data for - delete this comment in a while if there are no side effects
	LEFT JOIN @LineItems SuppOverride ON SuppOverride.ModifiesID = EstimationLineItems.id AND SuppOverride.SupplementVersion <= @SupVersion  
	LEFT JOIN @LineItems ModifiesData ON ModifiesData.id = EstimationLineItems.ModifiesID   
  
	LEFT JOIN CustomerProfilesPaint ON AdminInfo.CustomerProfilesID  = CustomerProfilesPaint.CustomerProfilesID
 
	LEFT JOIN @LaborSummary AS LaborSummary ON EstimationLineItems.ID  = LaborSummary.EstimationLineItemsID
 
	WHERE  
		AdminInfo.ID = @estimateID 
 
		AND (ISNULL(EstimationLineItems.SupplementVersion, 0) <= @SupVersion) 

	-------------------------------------------------------------------------------------------------------------------------------------------------------- 
	---- Add the PDR lines to the main results 
 
	UNION 
 
	SELECT --DISTINCT 
		  PDRSummary.EstimateDataPanelID As ID 
		, ForEOR AS ForSummary 
		, 0 AS PartSourceModified 
		, 0 AS ModifiedSupplementVersion 
		, 0 AS ModifiedID 
		, PDRSummary.Panel 
		, CASE WHEN PDRSummary.SupplementVersion = @SupVersion AND @SupVersion > 0 THEN 1 ELSE 0 END AS Added 
		, CASE WHEN ForEOR = 0 AND PDRSummary.SupplementVersion < @SupVersion THEN 1 ELSE 0 END AS Removed 
		, '' AS BettermentType 
		, 0 AS BettermentValue 
		, 0 AS BettermentAmount 
		, '' AS BettermentNote 
		, 0 AS Sublet 
		, 'PDR Matrix' AS Action 
		, ''  AS OperationDescription
		, PDRSummary.Description 
		, '' AS PartNumber 
		, ISNULL(PDRSummary.Price, 0) AS Price 
		, 1 AS Quantity 
		, '' AS PartSource 
		, 0 AS RemovedPrice 
		, 0 AS RemovedQuantity 
		, '' AS RemovedPartSource 
		, @ImgDirectory + 'empty.gif' AS PartSourceImage 
		, '' AS LaborSummaryPaintPanel 
		, 0 AS LaborTotalPaintPanel 
		, '' AS LaborSummaryPaint 
		, 0 AS LaborTotalPaint 
		, 0 AS LaborTotalPaintDollars
		, 0
		, 0
		, 0
		, '' AS LaborSummaryExtra 
		, 0 AS LaborTotalExtra
		, 0 AS LaborTotalExtraOverlapped
		, '' AS ExtraLaborType
		, '' AS ExtraLaborIncludeInType
		, '' AS LaborExtraRemovedType
		, '' AS LaborExtraRemovedIncludeInType
		, 0 LaborExtraRemovedHours
		, 0 LaborExtraRemovedTotal
		, 0 AS LaborIncluded 
		, 0 AS OverlapSupplement
		, 0 AS OtherCharges 
		, 0 AS OtherChargesLaborType 
		, 0 AS RemovedOtherCharges 
		, 0 AS RemovedOtherChargesLaborType 
		, '' DeductionsMessage 
		, '' AdjacentMessage
		, PDRSummary.Notes 
		, PDRSummary.LineNumber 
		, PDRSummary.SupplementVersion 
		, 0 AS DeletedBySupplement 
		, PDRSummary.SupplementVersion AS SupplementDisplay 
		, '' AS StepSupp 
		, PDRSummary.Sorter		 
		, PDRSummary.GroupNumber 
		, PDRSummary.OversizedDescription AS OversizedDescription 
		, PDRSummary.OversizedPrice AS OversizedPrice 
		, PDRSummary.ModifierDescription AS ModifierDescription 
		, PDRSummary.ModifierPrice AS ModifierPrice
		, '' AS LaborSummaryPaintPanelPrint 
		, '' AS LaborSummaryPaintPrint 
		, '' AS LaborSummaryExtraPrint
		, 0 AS IsPartsQuantity
		, 0 AS IsLaborQuantity
		, 0 AS IsPaintQuantity
		, 1 AS PartsQuantity
		, 1 AS LaborQuantity
		, 1 AS PaintQuantity
        , 0 AS PaintMaterialsBetterment
        , 0 AS LaborBetterment
        , 0 AS PaintLaborBetterment
	FROM dbo.GetPDRSummary(@estimateID, 1, @SupplementVersion) AS PDRSummary 
	WHERE PDRSummary.AdminInfoID = @estimateID AND PDRSummary.SupplementVersion <= @SupVersion 
 
	---- END PDR 
	--------------------------------------------------------------------------------------------------------------------------------------------------------

	IF @PrintPnLNotes = 1
	BEGIN
		DECLARE @ProcessedLinesBarCode TABLE
		(
			LineItemID	int,
			SectionID INT,
			Barcode VARCHAR(10)		
		)

		INSERT INTO @ProcessedLinesBarCode(LineItemID,SectionID,Barcode) 
		SELECT	LineItemID, EstimationLineItems.SectionID, EstimationLineItems.Barcode
		FROM	@ProcessedLines PL INNER JOIN EstimationLineItems ON PL.LineItemID = EstimationLineItems.ID

		DECLARE @Service_BarCode1 VarChar(10)
		DECLARE @Year INT  

		 IF @AdminInfoID > 1583497   
		  BEGIN   
		   SELECT   
			  @Service_BarCode1 = Vehicle_Service_Xref.Service_Barcode
			, @Year = Year  
		   FROM VehicleInfo   
		   INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataId   
		   INNER JOIN Vinn.dbo.Vehicle_Service_Xref ON Vehicle_Service_Xref.VehicleID = VehicleInfo.VehicleID   
		   WHERE EstimationData.AdminInfoID = @AdminInfoID   
		  END   
		 ELSE   
		  BEGIN   
		   SELECT @Service_BarCode1 = Mitchell3.Dbo.GetServiceBarcode(@AdmininfoID)  
		  END   

		 UPDATE Details SET Notes = CASE WHEN Details.Action IN ('Replace','R&I ') THEN CASE WHEN ISNULL(Details.Notes, '')= '' THEN REPLACE(REPLACE(ISNULL('<B>Labor time is for '+ IOHChanges.Part_Desc+'</B><BR>','') + DetailNotes.Notes, '·', ''),'&','&amp;')
										WHEN ISNULL(REPLACE(ISNULL('<B>Labor time is for '+ IOHChanges.Part_Desc+'</B><BR>','') + DetailNotes.Notes, '·', ''), '')= '' THEN REPLACE(Details.Notes,'&','&amp;')
										ELSE  Details.Notes +  ' <br/> ' + REPLACE(REPLACE(ISNULL('<B>Labor time is for '+ IOHChanges.Part_Desc+'</B><BR>','') + DetailNotes.Notes, '·', ''),'&','&amp;') END
									ELSE '' END
		 FROM @ProcessedLines Details INNER JOIN @ProcessedLinesBarCode PLBC ON Details.LineItemID = PLBC.LineItemID   
		 LEFT JOIN Mitchell3.dbo.DetailNotes ON DetailNotes.Service_Barcode = @Service_BarCode1 AND DetailNotes.Barcode = PLBC.barcode  
		 LEFT JOIN Mitchell3.dbo.IOHChanges ON IOHChanges.Service_Barcode = @Service_BarCode1 AND IOHChanges.BarcodeIOH = PLBC.barcode 
		 WHERE PLBC.SectionID > 0
	END

	IF @UseNewOverlapFormula = 1 OR @IsImported = 1
		BEGIN
			-- Mark LaborIncluded when the overlapped body labor is <= 0 and the pre-overlapped value > 0
			UPDATE @ProcessedLines
			SET LaborIncluded = 1
			WHERE 
				(
					((@AdminInfoID >= @OtherLaborTypesIncludeFirst OR @IsImported = 1) AND ExtraLaborType IN ('Body' , 'Mechanical', 'Structure'))
					OR (@AdminInfoID < @OtherLaborTypesIncludeFirst AND @IsImported = 0 AND ExtraLaborType = 'Body')
				)
				
				AND LaborTotalExtraOverlapped = 0 
				AND LaborTotalExtra > 0

			-- If the labor total overlapped is < the labor total, use the overlapped value as the labor total extra value
			UPDATE @ProcessedLines
			SET 
				  LaborSummaryExtra = CAST(LaborTotalExtraOverlapped AS VARCHAR) + ' hrs. Body'
				, LaborTotalExtra = LaborTotalExtraOverlapped
			WHERE ExtraLaborType = 'Body' AND LaborTotalExtraOverlapped < LaborTotalExtra
		END

	-- If a panel has the Primary part in the estimate as a repair, replace, or blend, than any R&I lines should be exculted from the overlap calculation.
	-- This query updates the processed lines and sets the labor included to 0 when the above logic is true.
	UPDATE @ProcessedLines
		SET LaborIncluded = 0 
		FROM @ProcessedLines Lines
		JOIN 
		(
			SELECT Panel, MAX(CASE WHEN IsPrimaryPanel = 1 THEN 1 ELSE 0 END) AS PrimaryPanelUsed
			FROM @ProcessedLines Lines
			JOIN  
			(
				SELECT EstimationLineItems.id AS LineItemID, CASE WHEN EstimationLineItems.ActionCode IN ('Repair', 'Refinish', 'Blend') AND ISNULL(Hotspot.Callout_Number, 0) = 1 THEN 1 ELSE 0 END AS IsPrimaryPanel
				FROM EstimationData with(nolock)
				LEFT OUTER JOIN EstimationLineItems with(nolock) ON EstimationData.ID = EstimationLineItems.EstimationDataID
				LEFT OUTER JOIN Mitchell3.dbo.Detail    ON 
					EstimationLineItems.PartNumber <> 'ORDER FROM DEALER' 
					AND EstimationLineItems.PartNumber = Detail.Part_Number 
					--AND CASE WHEN EstimationLineItems.VehiclePosition = 'R' THEN 1 ELSE 2 END = Detail.Right_Left_Code
					AND (EstimationLineItems.VehiclePosition = '' OR CASE WHEN EstimationLineItems.VehiclePosition = 'R' THEN 1 ELSE 2 END = Detail.Right_Left_Code)
				LEFT OUTER JOIN Mitchell3.dbo.Hotspot with(nolock) ON 
					Detail.Service_BarCode = Hotspot.Service_Barcode
					AND Detail.nheader =  Hotspot.nheader
					AND  Detail.nsection = Hotspot.nsection 
					AND Detail.npart = Hotspot.npart 
				WHERE EstimationData.AdminInfoID = @AdminInfoID
			) AS Panel ON Panel.LineItemID = Lines.LineItemID
			GROUP BY Panel
		) AS PanelUsed
		ON PanelUsed.Panel = Lines.Panel
		WHERE Action = 'R&I' AND PanelUsed.PrimaryPanelUsed = 1
		  OPTION(RECOMPILE)
	RETURN 

END
GO
