USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CloseRatioReport] 
	@LoginID INT, 
	@StartDate DateTime,  
	@EndDate DateTime  
AS  
	SET NOCOUNT ON  
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.  
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component  
	 IF 1=0 BEGIN  
       SET FMTONLY OFF  
     END  
 
create TABLE #SubTable  (JobStatusID INT) 
 
INSERT INTO #SubTable 
SELECT ISNULL(JobStatusHistory.JobStatusID, 0) 
FROM AdminInfo 
LEFT OUTER JOIN EstimationData ON AdminInfo.ID = EstimationData.AdminInfoID 
LEFT OUTER JOIN JobStatusHistory ON JobStatusHistory.id = (SELECT MAX(ID) FROM JobStatusHistory WHERE AdminInfoID = AdminInfo.ID) 
WHERE 
       AdminInfo.CreatorID = @LoginID 
       AND ISNULL(AdminInfo.Deleted, 0) = 0 
       AND (JobStatusHistory.ActionDate BETWEEN @StartDate AND @EndDate OR EstimationData.EstimationDate BETWEEN @StartDate AND @EndDate) 
       AND ISNULL(GrandTotal, '0.00') <> '0.00' 
 
DECLARE @Total INT = (SELECT COUNT(*) FROM #SubTable) 
DECLARE @RepairOrders INT = (SELECT COUNT(*) FROM #SubTable WHERE JobStatusID = 3) 
 
SELECT @Total AS TotalEstimates, @RepairOrders AS CloseRepairOrders, 
(CASE WHEN @Total != 0 THEN cast(cast(@RepairOrders as decimal(18,4)) * 100/@Total as decimal(18,2)) ELSE 0 END) AS [CloseRatio] 
 
GO
