USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 5/14/2020 
-- Description:	Add or update a QBExportEstimateLog record 
-- ============================================= 
CREATE PROCEDURE [dbo].[QBExportEstimateLog_Update] 
	  @ID					int 
	, @ExportLogID			int 
	, @EstimateID			int 
	, @Supplement			tinyint 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	IF @ID > 0 
		BEGIN 
			UPDATE QBExportEstimateLog 
			SET 
				  ExportLogID = @ExportLogID 
				, EstimateID = @EstimateID 
				, Supplement = @Supplement 
			WHERE ID = @ID 
 
			SELECT @ID 
		END 
	ELSE 
		BEGIN 
			INSERT INTO QBExportEstimateLog 
			( 
				  ExportLogID 
				, EstimateID 
				, Supplement 
			) 
			Values 
			( 
				  @ExportLogID 
				, @EstimateID 
				, @Supplement 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
 
END 
GO
