USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
CREATE PROCEDURE [dbo].[SP_GetYears] 
	--exec dbo.SP_GetYears 1178892 
AS 
 
BEGIN 
	 
	SELECT DISTINCT 
		VinYear as 'id', 
		cast(VinYear as varchar(4)) as 'ModelYear' 
		from vinn.dbo.vehicle_service_xref with(nolock) 
		order by id desc 
END 
 
GO
