USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstimateReport_GetPartSourceVendors]   
	  @AdminInfoID			INT  
	, @SupplementVersion	INT  
AS  
BEGIN  
	-- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.     
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component     
	 IF 1=0 BEGIN     
       SET FMTONLY OFF     
     END     
  
    DECLARE @PreviousSupplement INT = @SupplementVersion - 1 
 
	SELECT   
		Base.*   
		, CASE WHEN Base.LaborIncluded = 1 AND Previous.LaborIncluded = 0 THEN OverlapSupplement ELSE 0 END AS IncludeAdded  
	INTO #EOR_Temp  
	FROM   
	(  
		SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter, OriginalID) AS LineNumberCalculated, *    
		FROM ProcessedLines     
		WHERE 
			EstimateID = @AdminInfoID 
			AND SupplementVersion = @SupplementVersion 
			AND	ForSummary = 1  
			AND PartSourceModified = 0	 
			AND OperationDescription NOT LIKE '%Delete Line%'  
	) Base  
	LEFT OUTER JOIN   
	(  
		SELECT LineItemID, LaborIncluded  
		FROM ProcessedLines     
		WHERE  
			EstimateID = @AdminInfoID 
			AND SupplementVersion = @PreviousSupplement 
			AND ForSummary = 1  
			AND PartSourceModified = 0	 
			AND OperationDescription NOT LIKE '%Delete Line%'  
	) Previous  
	ON Base.LineItemID = Previous.LineItemID  
	ORDER BY GroupNumber, Sorter, Base.LineItemID   
  
	------------------------------------------------------------------------------------------------------------------------------------------------ 
	------------------------------------------------------------------------------------------------------------------------------------------------ 
  
	DECLARE @LoginID INT = (SELECT CreatorID FROM AdminInfo WHERE ID = @AdminInfoID) 
  
	create TABLE #ReturnTable   
	(  
		  Lines				VARCHAR(100)  
		, CompanyName		VARCHAR(100)  
		, ContactName		VARCHAR(100) 
		, Email				VARCHAR(100) 
		, Phone				VARCHAR(30) 
		, Fax				VARCHAR(30) 
		, Address			VARCHAR(200) 
	)  
  
	DECLARE lineCursor CURSOR FOR  
  
	SELECT  
		  ProcessedLines.LineNumberCalculated 
		, Vendor.CompanyName 
		, ISNULL(Vendor.FirstName, '') + ' ' + ISNULL(Vendor.LastName, '') AS ContactName 
		, ISNULL(Email, '') AS Email 
		, ISNULL(WorkNumber, '') AS Phone 
		, ISNULL(FaxNumber, '') AS Fax 
		, ISNULL(Address1, '') 
			+ CASE WHEN ISNULL(Address2, '') <> '' THEN ' ' + Address2 ELSE '' END 
			+ ' ' + ISNULL(City, '') 
			+ CASE WHEN ISNULL(State, '') <> '' THEN ', ' + State ELSE '' END 
			+ ' ' + Zip 
		 AS Address 
	FROM #EOR_Temp AS ProcessedLines  
	JOIN EstimationLineItems ON ProcessedLines.LineItemID = EstimationLineItems.ID  
	JOIN Vendor ON   
		EstimationLineItems.PartSourceVendorID = Vendor.ID   
		AND (ISNULL(Vendor.LoginsID, 0) = @LoginID OR ISNULL(Vendor.Universal, 0) = 1) 
		AND ISNULL(Vendor.Deleted, 0) = 0 
		AND ISNULL(EstimationLineItems.PartSource, '') <> ''  
		AND Vendor.Type =   
			CASE   
				WHEN EstimationLineItems.PartSource = 'After' THEN 'After Market'  
				WHEN EstimationLineItems.PartSource = 'Reman' THEN 'Remanufactured'  
				ELSE EstimationLineItems.PartSource  
			END  
	ORDER BY LineNumberCalculated  
  
	DECLARE @LineID				INT  
	DECLARE @CompanyName		VARCHAR(100)  
	DECLARE @ContactName		VARCHAR(100) 
	DECLARE @Email				VARCHAR(100) 
	DECLARE @Phone				VARCHAR(30) 
	DECLARE @Fax				VARCHAR(30) 
	DECLARE @Address			VARCHAR(200) 
  
	OPEN lineCursor  
	FETCH NEXT FROM lineCursor INTO  
		@LineID, @CompanyName, @ContactName, @Email, @Phone, @Fax, @Address 
  
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
	  
		IF EXISTS (SELECT * FROM #ReturnTable WHERE CompanyName = @CompanyName)  
			BEGIN  
				UPDATE #ReturnTable  
				SET Lines = Lines + ', ' + CAST(@LineID AS VARCHAR)  
				WHERE CompanyName = @CompanyName  
			END  
		ELSE  
			BEGIN  
				INSERT INTO #ReturnTable  
				(Lines, CompanyName, ContactName, Email, Phone, Fax, Address)  
				VALUES (CAST(@LineID AS VARCHAR), @CompanyName, @ContactName, @Email, dbo.FormatPhoneNumber(@Phone), dbo.FormatPhoneNumber(@Fax), @Address)  
			END  
  
		FETCH NEXT FROM lineCursor INTO  
		@LineID, @CompanyName, @ContactName, @Email, @Phone, @Fax, @Address 
	END  
  
	CLOSE lineCursor  
	DEALLOCATE lineCursor  
  
	SELECT * FROM #ReturnTable  
END  
GO
