USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[shopID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[city] [nvarchar](25) NOT NULL,
	[state] [nvarchar](5) NOT NULL,
	[zip] [nvarchar](10) NOT NULL,
	[phone] [nvarchar](25) NOT NULL,
	[initial] [datetime] NULL,
	[lasttouch] [datetime] NULL
) ON [PRIMARY]
GO
