USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetSectionsMitchell]
	@Order VarChar(25),
	@VehicleID Int,
	@BodyType Int
AS
	DECLARE @CegDocID Int
	DECLARE @MaxID Int
	IF EXISTS (	SELECT VehicleIDtoMitchell3VehicleID.FWVehicleID
			FROM Mitchell3.Dbo.VehicleIDtoMitchell3VehicleID VehicleIDtoMitchell3VehicleID WITH (NOLOCK)
			WHERE VehicleIDtoMitchell3VehicleID.FWVehicleID = @VehicleID AND
				(VehicleIDtoMitchell3VehicleID.BodyType = -1 OR VehicleIDtoMitchell3VehicleID.BodyType = @BodyType) )
	BEGIN
		EXECUTE Mitchell3.dbo.GetSectionsMitchell3
			@Order = @Order,
			@VehicleID = @VehicleID,
			@BodyType = @BodyType
	END
	ELSE
	BEGIN
		
		SELECT @CegDocID = Max(Service.CegDocID )
		FROM Mitchell.Dbo.ServicesToVehicleID ServicesToVehicleID WITH (NOLOCK)
		INNER JOIN Mitchell.Dbo.service Service WITH (NOLOCK) ON
			(Service.barcode = ServicesToVehicleID.BarCode) 
		WHERE ServicesToVehicleID.VehicleID = @VehicleID AND
			( ServicesToVehicleID.BodyTypesID = -1 OR ServicesToVehicleID.BodyTypesID = @BodyType)

		SELECT @MaxID = Max(Section.SectionID)
		FROM Mitchell.Dbo.ServicesToVehicleID ServicesToVehicleID WITH (NOLOCK)
		INNER JOIN Mitchell.Dbo.service Service WITH (NOLOCK) ON
			(Service.barcode = ServicesToVehicleID.BarCode) 
		INNER JOIN Mitchell.dbo.section Section WITH (NOLOCK) ON
			(Section.CegDocID = Service.CegDocID)
		WHERE ServicesToVehicleID.VehicleID = @VehicleID AND
			( ServicesToVehicleID.BodyTypesID = -1 OR ServicesToVehicleID.BodyTypesID = @BodyType)
	
		SELECT DISTINCT
			Section.Sectionid 'id', 
			0 'ParentID', 
			FocusWrite.Dbo.CapFirst(Section.sectionhead) 'SectionName', 
			Min(SubSection.SubSectionid) 'GroupNumber', 
			1 'StepLevel',
			CONVERT(VarChar(50),'') 'ImageName'
		INTO #Temp
		FROM Mitchell.dbo.section Section WITH (NOLOCK)
		LEFT JOIN Mitchell.dbo.subsection SubSection WITH (NOLOCK) ON
			(SubSection.SectionID = Section.SectionID)
		LEFT JOIN Mitchell.dbo.subsectionhead subsectionhead WITH (NOLOCK) ON
			(subsectionhead.SubSectionID = SubSection.SubSectionID)
		LEFT JOIN Mitchell.Dbo.DetailGroup DetailGroup WITH (NOLOCK) ON
			(DetailGroup.SubSectionID = SubSection.SubSectionID)
		--This limits returns to groups with items that can be put on estimate
		LEFT JOIN Mitchell.dbo.DetailLine DetailLine WITH (NOLOCK) ON
			(DetailGroup.DetailGroupID = DetailLine.DetailGroupID)
		LEFT JOIN Mitchell.dbo.figureDetailGroup figureDetailGroup WITH (NOLOCK) ON
			(figureDetailGroup.DetailGroupID = DetailGroup.DetailGroupid)
		WHERE Section.CegDocID = @CegDocID AND
			--This limits returns to groups with items that can be put on estimate
			(DetailLine.DetailGroupID IS NOT NULL OR 
			 Section.sectionhead = 'Underhood Dimensions')
		GROUP BY Section.Sectionid , 
			Section.sectionhead
		UNION 
	
		SELECT DISTINCT 
			@MaxID + SubSection.SubSectionid, 
			Section.SectionID, 
			FocusWrite.Dbo.CapFirst(subsectionhead.subsectionheadline), 
			SubSection.SubSectionid, 
			2, 
			''--figureDetailGroup.gxid 
		FROM Mitchell.dbo.section Section WITH (NOLOCK)
		INNER JOIN Mitchell.dbo.subsection SubSection WITH (NOLOCK) ON
			(SubSection.SectionID = Section.SectionID)
		INNER JOIN Mitchell.dbo.subsectionhead subsectionhead WITH (NOLOCK) ON
			(subsectionhead.SubSectionID = SubSection.SubSectionID)
		LEFT JOIN Mitchell.Dbo.DetailGroup DetailGroup WITH (NOLOCK) ON
			(DetailGroup.SubSectionID = SubSection.SubSectionID)
		--This limits returns to groups with items that can be put on estimate
		LEFT JOIN Mitchell.dbo.DetailLine DetailLine WITH (NOLOCK) ON
			(DetailGroup.DetailGroupID = DetailLine.DetailGroupID)
		LEFT JOIN Mitchell.dbo.figureDetailGroup figureDetailGroup WITH (NOLOCK) ON
			(figureDetailGroup.DetailGroupID = DetailGroup.DetailGroupid)
		WHERE Section.CegDocID = @CegDocID AND
			--This limits returns to groups with items that can be put on estimate
			(DetailLine.DetailGroupID IS NOT NULL OR 
			 Section.sectionhead = 'Underhood Dimensions')
	
		ORDER BY ParentID, ID
	
		UPDATE T1
		SET GroupNumber = -1
		FROM #Temp T1
		INNER JOIN #Temp T2 ON
			(t2.ParentID = T1.ID)
		LEFT JOIN Mitchell.Dbo.DetailGroup DetailGroup WITH (NOLOCK) ON
			(DetailGroup.SubSectionID = T1.GroupNumber)
		LEFT JOIN Mitchell.dbo.DetailLine DetailLine WITH (NOLOCK) ON
			(DetailGroup.DetailGroupID = DetailLine.DetailGroupID)
		WHERE T1.ParentID = 0 AND
			DetailLine.DetailLineID IS NULL

		SELECT DISTINCT * FROM #Temp
	
		DROP TABLE #Temp
	END



GO
