USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEstimationLineLabor]   
	 @id					int = null 
	,@EstimationLineItemsID	int = null 
AS 
BEGIN 
 
		SELECT *  
		FROM EstimationLineLabor 
		WHERE (id = @id OR @id IS NULL) 
			AND (EstimationLineItemsID = @EstimationLineItemsID OR @EstimationLineItemsID IS NULL) 
end 
GO
