USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 6/20/2019 
-- Description:	Gets estimates from Web-Est and whether the estimate has already been imported into ProE 
-- ============================================= 
CREATE PROCEDURE [dbo].[GetWebEstEstimates] 
	@LoginID			int 
	, @FilterOption		int 
	, @SearchText		varchar(50) 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
 
	Create TABLE #WebEstEstimates  
	( 
		RN					int 
		, ResultID			int 
		, EstimateNumber	int 
		, RepairOrderNumber	varchar(200) 
		, id				int 
		, Description		varchar(200) 
		, DateCreated		datetime 
		, Name				varchar(200) 
		, Vehicle			varchar(500) 
		, Status			varchar(200) 
		, TotalCost			varchar(20) 
		, CustomerCost		money 
		, CustomerNumber	varchar(200) 
		, Pictures			bit 
		, JobStatusID		int 
		, LockLevel			int 
		, Archived			bit 
		, InsuranceName		varchar(200) 
		, ClaimNumber		varchar(200) 
		, PageCount			int 
		, OpenText			varchar(200) 
		, CopyText			varchar(200) 
		, DeleteText		varchar(200) 
	) 
 
	INSERT INTO #WebEstEstimates 
	EXEC [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.GetEstimateList2 
		@LoginsID = @LoginID, 
		@FilterOption = @FilterOption, 
		@PageNumber = 1, 
		@RowsPerPage = 5000, 
		@SearchText = @SearchText, 
		@Language_ID = 1 
 
	SELECT --*  
		  WebEstEstimates.EstimateNumber 
		, 0 AS RepairOrderNumber 
		, WebEstEstimates.id  
		, WebEstEstimates.Description 
		, WebEstEstimates.DateCreated 
		, WebEstEstimates.Name 
		, '' AS BusinessName 
		, WebEstEstimates.Vehicle 
		, WebEstEstimates.Status 
		, WebEstEstimates.TotalCost 
		, WebEstEstimates.CustomerCost 
		, WebEstEstimates.CustomerNumber 
		, WebEstEstimates.JobStatusID 
		, WebEstEstimates.LockLevel 
		, WebEstEstimates.Archived 
		, WebEstEstimates.InsuranceName 
		, WebEstEstimates.ClaimNumber 
		, WebEstEstimates.DateCreated AS LastView 
		, 0 AS ImageCount 
		, CASE WHEN AdminInfo.ID IS NULL THEN 0 ELSE 1 END AS Imported 
	FROM #WebEstEstimates WebEstEstimates 
	LEFT OUTER JOIN AdminInfo ON WebEstEstimates.id = AdminInfo.ID 
	WHERE WebEstEstimates.Archived = 0 
 
END 
GO
