USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/5/2021
-- =============================================
CREATE PROCEDURE [dbo].[SalesRepPermissionLink_Save]
	  @ID				int
	, @SalesRepID		int
	, @PermissionID		int
	, @HasPermission	bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@ID > 0)
		BEGIN
			UPDATE SalesRepPermissionLink
			SET
				  SalesRepID = @SalesRepID
				, PermissionID = @PermissionID
				, HasPermission = @HasPermission
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO SalesRepPermissionLink
			(
				  SalesRepID
				, PermissionID
				, HasPermission
			)
			VALUES
			(
				  @SalesRepID
				, @PermissionID
				, @HasPermission
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
