USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[CustomerUpdate]    
	@ID					int,  
	@LoginID			int,  
	@IsDeleted			bit,  
	@ContactID			int,  
	@AddressID			int  
AS  
BEGIN  
IF @ID > 0  
	BEGIN  
		UPDATE [dbo].[Customer]  
		SET    
			  LoginID = @LoginID  
			, IsDeleted = @IsDeleted  
			, ContactID = @ContactID  
			, AddressID = @AddressID  
		WHERE ID = @ID  
		  
		SELECT @ID		  
	END  
ELSE  
	BEGIN  
		INSERT INTO [dbo].[Customer]  
        (  
			  LoginID  
			, IsDeleted  
			, ContactID  
			, AddressID  
		)  
		VALUES  
		(  
			  @LoginID  
			, @IsDeleted  
			, @ContactID  
			, @AddressID  
		)  
             
		SELECT CAST(SCOPE_IDENTITY() AS INT)  
	END  
end  
GO
