USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 9/27/2023
-- Description:	Get all global vendors and whether they are selected for an account
-- =============================================
CREATE PROCEDURE [dbo].[Vendors_GetUniversal]
	@LoginID		int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
	    Vendor.*
	  , CASE WHEN SelectedVendor.ID IS NULL THEN 0 ELSE 1 END AS Selected
	FROM Vendor
	LEFT OUTER JOIN SelectedVendor ON SelectedVendor.VendorID = Vendor.ID AND SelectedVendor.LoginID = @LoginID
	WHERE 
		TypeID = 1
		AND ISNULL(Deleted, 0) = 0
END
GO
