USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetProfileRates]
	@ProfileID int
AS
BEGIN
	 
	SET NOCOUNT ON;
SELECT CustomerProfileRates.*, RateTypes.RateName      
 FROM CustomerProfileRates WITH (NOLOCK)      
 INNER JOIN RateTypes WITH (NOLOCK) ON      
  (RateTypes.ID = CustomerProfileRates.RateType)      
 WHERE CustomerProfileRates.CustomerProfilesID = @ProfileID      
 ORDER BY CustomerProfileRates.RateType    
END


GO
