USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




create PROCEDURE [dbo].[GetEstimateReportTotals_v]
	@AdminInfoID Int,
	@Betterment Bit = 0,
	@SupplementVersion TinyInt = 0,
	@TotalsOnly Bit = 0,
	@UseDollars Bit = 0
AS
	 
		IF @TotalsOnly = 0 print 'd'
			EXECUTE GetEstimateSubTotals_v @AdminInfoID, @Betterment,@SupplementVersion
		print 'e'
		EXECUTE GetEstimateTotalLines_v @AdminInfoID, @Betterment,@SupplementVersion
	
		IF @TotalsOnly = 0
			IF @Betterment = 0
				EXECUTE GetEstimateCaps 
					@AdminInfoID = @AdminInfoID,
					@SupplementVersion = @SupplementVersion,
					@UseDollars = @UseDollars
			ELSE
				SELECT CONVERT(VarChar(50),'') 'CapInfo'
				WHERE 1=0
	  



GO
