USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetPaymentInfoByID]
	@PaymentID INT
AS
BEGIN
	SELECT * 
	FROM PaymentInfo 
	WHERE PaymentID = @PaymentID
END
GO
