USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/6/2021
-- =============================================
CREATE PROCEDURE [dbo].[ProAdvisorEstimateTotalCache_Update]
	@EstimateID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	CREATE TABLE #TotalsTable  
	(
		  SortOrder		int
		, Type			varchar(200)
		, Note			varchar(100)
		, Amount		money
	)

	-- We need the supplement for the estimate to get totals
	DECLARE @SupplementVersion INT = 
	(
		SELECT LockLevel
		FROM EstimationData 
		WHERE AdminInfoID = @EstimateID
	)
 
 
	-- Run the Total stored procedure
	INSERT INTO #TotalsTable
	EXEC [dbo].[EstimateReport_GetTotals] 
		  @AdminInfoID = @EstimateID	
		, @SupplementVersion = @SupplementVersion  
		, @AddOnsOnly = 1

	-- Get just the grand total
	DECLARE @AddOnTotal MONEY
	SET @AddOnTotal = 
	(
		SELECT Amount
		FROM #TotalsTable
		WHERE Type = 'Grand Total'
	)

	-- Update or insert the cache line
	IF (SELECT ISNULL(ID, 0) FROM ProAdvisorEstimateTotalCache WHERE EstimateID = @EstimateID) > 0
		BEGIN
			UPDATE ProAdvisorEstimateTotalCache
			SET Total = @AddOnTotal
			WHERE EstimateID = @EstimateID
		END
	ELSE
		BEGIN
			INSERT INTO ProAdvisorEstimateTotalCache (EstimateID, Total) VALUES (@EstimateID, @AddOnTotal)
		END
		end
 
GO
