USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CustomerGetByDate-01.sql
CREATE PROCEDURE [dbo].[CustomerGetByDate]
	@LoginID Int = 0,
	@StartDate DateTime = '',
	@EndDate DateTime = '',
	@ClosedOnly BIT = 1
AS
BEGIN
	SET NoCount On;

	SELECT 
		Customer.*, tbl_ContactPerson.*, tbl_Address.*
	FROM
		AdminInfo with(index(ix_dba_CreatorID_Deleted), nolock)
		INNER JOIN Customer with(nolock) ON AdminInfo.CustomerID = Customer.ID
		INNER JOIN tbl_ContactPerson with(nolock) ON Customer.ContactID = tbl_ContactPerson.ContactID
		LEFT OUTER JOIN tbl_Address with(nolock) ON Customer.AddressID = tbl_Address.AddressID
		LEFT OUTER JOIN JobStatusHistory with(nolock) ON JobStatusHistory.ID = (SELECT MAX(id) FROM JobStatusHistory with(index(_dta_index_JobStatusHistory_6_327672215__K2_K1D_3_4), nolock) WHERE AdminInfoID = AdminInfo.ID)
	WHERE 
		(isnull(@LoginID, 0) <= 0 OR AdminInfo.CreatorID = @LoginID)
		AND AdminInfo.Deleted = 0
		--AND LEN(TRIM(ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.LastName, ''))) > 0
        AND (isnull(@ClosedOnly, 0) = 0 OR JobStatusHistory.JobStatusID = 3)
		AND (isnull(@StartDate, '') = '' OR ActionDate >= @StartDate)
		AND (isnull(@EndDate, '') = '' OR ActionDate < dateadd(dd, 1, @EndDate))
	ORDER BY TRIM(ISNULL(tbl_ContactPerson.FirstName, '')), TRIM(ISNULL(tbl_ContactPerson.LastName, ''))
END
GO
