USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:		Ezra  
-- Create date: 4/3/2018  
-- Description:	Copied from App_Functions  
-- =============================================  
CREATE PROCEDURE [dbo].[Overlaps_RejectProposals]  
	@AdminInfoID		int  
AS  
BEGIN  
	  
	DECLARE @SupplementVersion INT = 0  
  
	SELECT 	@SupplementVersion = ISNULL(EstimationData.LockLevel, 0)  
	FROM EstimationData    
	WHERE AdminInfoID = @AdminInfoID   
   
	INSERT INTO EstimationOverlap    
	(	  
		  EstimationLineItemsID1  
		, EstimationLineItemsID2  
		, OverlapAdjacentFlag  
		, Amount  
		, Minimum  
		, UserOverride  
		, UserAccepted  
		, UserResponded  
		, SupplementLevel  
	)   
	SELECT DISTINCT   
		EstimationOverlapProposed.ActionID  
		, ISNULL(EstimationOverlapProposed.ResultID,EstimationLineItems.id)  
		, CASE WHEN EstimationOverlapProposed.ActionCode = 9 THEN 'S' ELSE 'O' END  
		, EstimationOverlapProposed.OverlapAmount  
		, EstimationOverlapProposed.MinimumLabor  
		, 0  
		, 0  
		, 1  
		, @SupplementVersion   
	FROM EstimationOverlapProposed    
	LEFT JOIN EstimationOverlap ON EstimationOverlap.EstimationLineItemsID1 = EstimationOverlapProposed.ActionID AND EstimationOverlap.EstimationLineItemsID2 = EstimationOverlapProposed.ResultID  
	INNER JOIN EstimationData ON  EstimationData.AdminInfoID = EstimationOverlapProposed.AdminInfoID  
	LEFT JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID AND EstimationLineItems.Barcode = EstimationOverlapProposed.BarcodeInc  
	WHERE   
		EstimationOverlapProposed.AdminInfoID = @AdminInfoID    
		AND EstimationOverlap.EstimationLineItemsID1 IS NULL    
		AND EstimationOverlapProposed.ActionID IS NOT NULL    
		AND ISNULL(EstimationOverlapProposed.ResultID, EstimationLineItems.id) IS NOT NULL   
 
	INSERT INTO EstimationOverlapRejected 
	( 
		  AdminInfoID 
		, Barcode 
	) 
	SELECT  
		  AdminInfoID 
		, BarcodeInc 
	FROM EstimationOverlapProposed 
	WHERE AdminInfoID = @AdminInfoID 
   
	EXEC Overlaps_DeleteProposals @AdminInfoID = @AdminInfoID  
  
END  
GO
