USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[CreationStamp] [datetime] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Active] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[HasPDR] [bit] NULL,
	[HasEMS] [bit] NULL,
	[HasFrameData] [bit] NULL,
	[HasQBExport] [bit] NULL,
	[HasProAdvisor] [bit] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[HasImages] [bit] NULL,
	[HasBundle] [bit] NULL,
	[HasCustomReports] [bit] NULL,
	[HasMultiUser] [bit] NULL,
 CONSTRAINT [PK_Trial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
