USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RecordEstimateView]
	@AdminInfoID		int
AS
BEGIN
	UPDATE AdminInfo SET LastView = GETDATE() WHERE id = @AdminInfoID
END


GO
