USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[aaaClearDuplicatePDR]
	@EstimateID		int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE PDR_EstimateDataPanel
	FROM
	(
		SELECT MIN(ID) AS ID, PanelID
		FROM PDR_EstimateDataPanel
		WHERE AdminInfoID = @EstimateID 
			AND LineNumber = 0
		GROUP BY PanelID
	) AS Base
	LEFT OUTER JOIN PDR_EstimateDataPanel ON Base.ID = PDR_EstimateDataPanel.ID

	DELETE 
	FROM PDR_EstimateData 
	WHERE ID = (
		SELECT MAX(ID)
		FROM PDR_EstimateData
		WHERE AdminInfoID = @EstimateID
	)
END
GO
