USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/5/2020
-- Description:	Get an Add On Rule by ID
-- =============================================
CREATE PROCEDURE [dbo].[AddOnRule_Get]
	  @ID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM AddOnRule
	WHERE ID = @ID

END
GO
