USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
Create FUNCTION [dbo].[decodeVin]
(
	-- Add the parameters for the function here
	@Orig varchar(17)
)
RETURNS varchar(10)
AS
BEGIN
	-- Declare the return variable here
	--select *
--from vin

declare @vin varchar(17) 

 


select  @vin =LEFT(@Orig,8), @Orig = RIGHT(@Orig, len(@Orig) - 9) 

select @vin = @vin + LEFT(@Orig,2)

 

  
 
  
	RETURN @vin

END

 

GO
