USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSavedCustomerList] 
	@LoginID INT,
	@IncludeClosedDeleted BIT= 0 
AS
BEGIN
	SELECT DISTINCT
		  Customer.ID AS CustomerID
		, ISNULL(tbl_ContactPerson.FirstName, '') AS FirstName
		, ISNULL(tbl_ContactPerson.LastName, '') AS LastName
		, ISNULL(tbl_Address.Address1, '') + ' ' + ISNULL(tbl_Address.Address2, '') AS Address
		, ISNULL(tbl_Address.City, '') AS City
		, ISNULL(tbl_Address.STATE, '') AS STATE
		, ISNULL(tbl_Address.zip, '') AS Zip
		, tbl_ContactPerson.Email
		, tbl_ContactPerson.Phone1
		, tbl_ContactPerson.FaxNumber
		, ISNULL(TotalCounts.EstimateCount, 0) AS EstimateCount
	FROM Customer
	LEFT JOIN tbl_ContactPerson ON Customer.ContactID = tbl_ContactPerson.ContactID
	LEFT JOIN tbl_Address ON Customer.AddressID = tbl_Address.AddressID
	LEFT JOIN (
		SELECT 
			  CustomerID
			, COUNT(*) AS EstimateCount
		FROM AdminInfo
		WHERE 
			CreatorID = @LoginID
			AND CustomerID IS NOT NULL
			AND (AdminInfo.Deleted = (CASE WHEN @IncludeClosedDeleted = 1 THEN Deleted ELSE @IncludeClosedDeleted END))
		GROUP BY CustomerID
	) AS TotalCounts ON Customer.ID = TotalCounts.CustomerID
	LEFT JOIN dbo.AdminInfo ON AdminInfo.CustomerID = TotalCounts.CustomerID
	WHERE 
		Customer.LoginID = @LoginID
		AND ((LEN(TRIM(ISNULL(tbl_ContactPerson.FirstName, '') + ISNULL(tbl_ContactPerson.LastName, ''))) > 0)

		AND ((LEN(TRIM(ISNULL(tbl_Address.Address1, '') + ISNULL(tbl_Address.Address2, '')
		      + ISNULL(tbl_Address.City, '')  + ISNULL(tbl_Address.STATE, '')  + ISNULL(tbl_Address.zip, ''))) > 0)
		OR (LEN(TRIM(ISNULL(tbl_ContactPerson.Email, ''))) > 0)
		OR (LEN(TRIM(ISNULL(tbl_ContactPerson.Phone1, ''))) > 0) OR (LEN(TRIM(ISNULL(tbl_ContactPerson.FaxNumber, ''))) > 0)))

		AND (AdminInfo.Deleted = (CASE WHEN @IncludeClosedDeleted = 1 THEN Deleted ELSE @IncludeClosedDeleted END))
	ORDER BY 
		  ISNULL(tbl_ContactPerson.LastName, '')
		, ISNULL(tbl_ContactPerson.FirstName, '')
END
GO
