USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
7/31/2023 - EVB: Fixed issue with the handling expired loan apps that had no other activity

EXEC [dbo].[Wisetack_FinancingReportMerchantLoanApplications_Get] @MerchantID = '69d4aa2b-378b-4b6e-a797-4f32c31a7526', @IncludeAllLoanApplications = 0
EXEC [dbo].[Wisetack_FinancingReportMerchantLoanApplications_Get] @MerchantID = '69d4aa2b-378b-4b6e-a797-4f32c31a7526', @IncludeAllLoanApplications = 1
*/
CREATE PROCEDURE [dbo].[Wisetack_FinancingReportMerchantLoanApplications_Get]
	@MerchantID					VARCHAR(200),
	@IncludeAllLoanApplications BIT = 0
AS
BEGIN
SET NOCOUNT ON

	SELECT	MerchantID,
			MerchantName,
			LoginID,
			EstimateID,
			CustomerName,
			TransactionID,
			EstimateGrandTotal,
			MaximumAmount, 
			RequestedLoanAmount, 
			ApprovedLoanAmount,
			LoanApplicationLink,
			LoanApplicationStatus,
			ApplicationStartDate,
			DateOfLastUpdate,
			ExpirationDate
	FROM	
	(
		SELECT		Logins.WisetackMerchantID AS MerchantID,
					Logins.CompanyName AS MerchantName,
					Logins.ID AS LoginID,
					AdminInfo.ID AS EstimateID,
					ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') AS CustomerName,
					AdminInfo.WisetackTransactionID AS TransactionID,
					AdminInfo.GrandTotal AS EstimateGrandTotal,
					loanApp.MaximumAmount, 
					loanApp.RequestedLoanAmount, 
					loanApp.ApprovedLoanAmount,
					AdminInfo.WisetackPaymentLink AS LoanApplicationLink,
					loanApp.ChangedStatus AS LoanApplicationStatus,
					loanApp.LoanCreatedAt AS ApplicationStartDate,
					loanApp.CreatedDate AS DateOfLastUpdate,
					loanApp.ExpirationDate,
					ROW_NUMBER() OVER (PARTITION BY AdminInfo.WisetackTransactionID ORDER BY CreatedDate DESC) as RowNumber
		FROM		AdminInfo  WITH (NOLOCK)
		INNER JOIN	Logins WITH (NOLOCK) ON Logins.ID = AdminInfo.CreatorID
		LEFT JOIN	WisetackCallbackLoanApplication AS loanApp WITH (NOLOCK) ON AdminInfo.WisetackTransactionID = loanApp.TransactionID
					AND (@IncludeAllLoanApplications = 1 OR (SELECT Count(1) FROM WisetackCallbackLoanApplication la WHERE la.TransactionID = AdminInfo.WisetackTransactionID AND la.ChangedStatus <> 'EXPIRED') > 0)
		LEFT JOIN	Customer  WITH (NOLOCK) ON AdminInfo.CustomerID = Customer.ID
		LEFT JOIN	tbl_ContactPerson AS person with(nolock) ON Customer.ContactID = person.ContactID
		WHERE		Logins.WisetackMerchantID = @MerchantID 
					AND ISNULL(AdminInfo.WisetackPaymentLink, '') <> '' 
					AND (ISNULL(loanApp.EventType, '') <> 'LOAN_PAYOUT' OR 
						(SELECT Count(1) FROM WisetackCallbackLoanApplication la WHERE la.TransactionID = AdminInfo.WisetackTransactionID AND la.EventType <> 'LOAN_PAYOUT') = 0)
	) AS a
	WHERE	RowNumber = 1 AND (@IncludeAllLoanApplications = 1 OR ISNULL(LoanApplicationStatus, '') <> '')
	ORDER BY DateOfLastUpdate DESC, EstimateID DESC

END
GO
