USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetLaborSVSums]
	@AdminInfoID Int
as
	CREATE TABLE [dbo].[#GetLaborSV] (
		[SupplementVersion2] [tinyint] NOT NULL ,
		[AdminInfoID] [int] NOT NULL ,
		[RateTypesID] [tinyint] NOT NULL ,
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[LaborTypesID] [tinyint] NULL ,
		[LaborType] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Description] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[BettermentType] [varchar] (1) NOT NULL ,
		[BettermentValue] [float] NOT NULL,
		[Sublet] [int] NOT NULL ,
		[LaborCost] [money] NULL ,
		[LaborTime] [float] NULL ,
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSSublet] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Rate] [real] NULL ,
		[CapType] [tinyint] NULL ,
		[Cap] [real] NULL ,
		[DiscountMarkup] [real] NULL ,
		[Taxable] [int] NOT NULL ,
		[IncludeIn] [tinyint] NULL
	) ON [PRIMARY]

	--INSERT INTO #GetLaborSV
		EXECUTE spGetLaborSV @AdminInfoID = @AdminInfoID

	IF object_id('tempdb..#GetLaborSVSums') IS NOT NULL
	BEGIN
	   INSERT INTO #GetLaborSVSums([SupplementVersion2],
		[AdminInfoID],
		[RateTypesID],
		[RateName],
		[BettermentType],
		[BettermentValue],
		[LaborCost],
		[LaborTime],
		[EMSCode1],
		[EMSBetterment],
		[Rate],
		[CapType],
		[Cap],
		[DiscountMarkup],
		[Taxable],
		[IncludeIn])
		SELECT SupplementVersion2,AdminInfoID,RateTypesID,RateName,BettermentType,BettermentValue,Sum(LaborCost) LaborCost,Sum(LaborTime) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
	FROM #GetLaborSV
	GROUP BY SupplementVersion2,AdminInfoID,RateTypesID,RateName,BettermentType,BettermentValue,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
		
	END
	ELSE
	BEGIN
	SELECT SupplementVersion2,AdminInfoID,RateTypesID,RateName,BettermentType,BettermentValue,Sum(LaborCost) LaborCost,Sum(LaborTime) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
	FROM #GetLaborSV
	GROUP BY SupplementVersion2,AdminInfoID,RateTypesID,RateName,BettermentType,BettermentValue,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
	END
	DROP TABLE #GetLaborSV


GO
