USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	4/24/2023 - EVB: This gets the Sales data for a given login over the
		past 12 months. Used by the process for the Merchant sign up for
		applying for Financing services.

	EXEC [dbo].[Wisetack_MerchantSalesInfo_Get]  @LoginID = 56027
*/
CREATE PROCEDURE [dbo].[Wisetack_MerchantSalesInfo_Get] 
	@LoginID	int
AS
BEGIN
	SET NOCOUNT ON

	SELECT	COUNT(*) AS TtmSalesUnits, 
			SUM(CAST(AdminInfo.GrandTotal AS MONEY)) AS TtmSales
	FROM	EstimationData 
			INNER JOIN AdminInfo on AdminInfo.ID = EstimationData.AdminInfoID
	WHERE	EstimationData.EstimationDate >= DATEADD(day, -365, GETDATE()) 
			AND CAST(AdminInfo.GrandTotal AS MONEY) > '0'
			AND AdminInfo.CreatorID = @LoginID 

END
GO
