USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/8/2017 
-- Description:	Add or update a PDR Rate Profile record 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddOrUpdatePDRRateProfile] 
	@ID					int, 
	@ProfileName		varchar(50), 
	@LoginID			int, 
	@AdminInfoID		int, 
	@IsDefault			bit, 
	@RateTypeID			int, 
	@Deleted			bit, 
	@GridType			varchar(20), 
	@HideDentCounts		bit, 
	@TieredOversizedDents	bit, 
	@OriginalID			int, 
	@Taxable			bit,
	@CreationStamp		datetime = NULL
AS 
BEGIN 
 
	IF EXISTS (SELECT * FROM PDR_RateProfile with(nolock) WHERE ID = @ID) 
		BEGIN 
			UPDATE [dbo].[PDR_RateProfile] 
			SET [ProfileName] = @ProfileName 
				,[LoginID] = @LoginID 
				,[AdminInfoID] = @AdminInfoID 
				,[IsDefault] = @IsDefault 
				,[RateTypeID] = @RateTypeID 
				,[Deleted] = @Deleted 
				,[GridType] = @GridType 
				,[HideDentCounts] = @HideDentCounts 
				,[TieredOversizedDents] = @TieredOversizedDents 
				,[OriginalID] = @OriginalID 
				,[Taxable] = @Taxable 
				,CreationStamp = @CreationStamp  
			WHERE ID = @ID  
 
			SELECT @ID	 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[PDR_RateProfile] 
			   ([ProfileName] 
			   ,[LoginID] 
			   ,[AdminInfoID] 
			   ,[IsDefault] 
			   ,[RateTypeID] 
			   ,[Deleted] 
			   ,[GridType] 
			   ,[HideDentCounts] 
			   ,[TieredOversizedDents] 
			   ,[OriginalID] 
			   ,[Taxable]
			   ,[CreationStamp]) 
			 VALUES 
			( 
			   @ProfileName 
			   ,@LoginID 
			   ,@AdminInfoID 
			   ,@IsDefault 
			   ,@RateTypeID 
			   ,@Deleted 
			   ,@GridType 
			   ,@HideDentCounts 
			   ,@TieredOversizedDents 
			   ,@OriginalID 
			   ,@Taxable
			   ,@CreationStamp
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
