USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimateLineItemsChanges](
	[VehicleID] [int] NULL,
	[EstimationDataID] [int] NOT NULL,
	[PartNumber] [varchar](50) NULL,
	[BarCode] [varchar](7) NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EID] ON [dbo].[EstimateLineItemsChanges]
(
	[EstimationDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
