USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 10/23/2019 
-- Description:	Add or update a Contract AddOn 
-- ============================================= 
CREATE PROCEDURE [dbo].[ContractAddOn_Update] 
	  @ID					int 
	, @ContractID			int 
	, @ContractPriceLevelID	int 
	, @AddOnType			tinyint 
	, @StartDate			date 
	, @Active				bit 
	, @IsDeleted			bit
	, @Quantity				tinyint			
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    IF @ID > 0 
		BEGIN 
			UPDATE ContractAddOn	 
			SET 
				  ContractID = @ContractID 
				, ContractPriceLevelID = @ContractPriceLevelID 
				, AddOnType = @AddOnType 
				, StartDate = @StartDate 
				, Active = @Active 
				, IsDeleted = @IsDeleted
				, Quantity = @Quantity
			WHERE ID = @ID 
 
			SELECT @ID 
		END 
	ELSE 
		BEGIN 
			INSERT INTO ContractAddOn 
			( 
				  ContractID 
				, ContractPriceLevelID 
				, AddOnType 
				, StartDate 
				, Active 
				, IsDeleted
				, Quantity
			) 
			VALUES 
			( 
			      @ContractID 
				, @ContractPriceLevelID 
				, @AddOnType 
				, @StartDate 
				, @Active 
				, @IsDeleted 
				, @Quantity
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END
GO
