USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalGoal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesRepId] [int] NULL,
	[BonusMonth] [int] NULL,
	[BonusYear] [int] NULL,
	[RenewalGoal1Yr] [int] NULL,
	[RenewalGoal2Yr] [int] NULL,
	[SalesGoal] [int] NULL,
	[SalesBonus100] [int] NULL,
	[SalesBonus110] [int] NULL,
	[SalesBonus120] [int] NULL,
	[SalesBonus130] [int] NULL,
	[RenewalBonus1Yr100] [int] NULL,
	[RenewalBonus1Yr110] [int] NULL,
	[RenewalBonus120] [int] NULL,
	[RenewalBonus130] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[SalesForcast] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RenewalGoal] ADD  DEFAULT ((0)) FOR [SalesForcast]
GO
