USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[L_ID] [int] NOT NULL,
	[Language] [nvarchar](50) NULL,
	[Culture] [varchar](10) NULL
) ON [PRIMARY]
GO
