USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/23/2021
-- =============================================
CREATE FUNCTION [dbo].[GetContractDetails]
(	
	@Date			datetime
)
RETURNS @table TABLE 
(
	  LoginID			int
	, ContractID		int
	, TermDescription	varchar(100)
	, NumberOfPayments	int
	, DepositAmount		money
	, PaymentAmount		money
	, EffectiveDate		datetime
	, ExpirationDate	datetime
	, NewSale			bit
	, PaidAmount		money
)
AS
BEGIN 
	INSERT INTO @table
	SELECT
		  Contracts.LoginID
		, Contracts.ContractID 
		, ContractTerms.TermDescription
		, ContractTerms.NumberOfPayments
		, ContractTerms.DepositAmount
		, ContractPriceLevels.PaymentAmount
		, Contracts.EffectiveDate
		, Contracts.ExpirationDate
		, CASE WHEN SalesBoard.salesBoardID IS NULL THEN 0 ELSE 1 END AS NewSale
		, SUM(Invoices.InvoiceAmount + Invoices.SalesTax) AS PaidAmount
	FROM Contracts
	LEFT OUTER JOIN ContractPriceLevels ON Contracts.ContractPriceLevelID = ContractPriceLevels.ContractPriceLevelID
	LEFT OUTER JOIN ContractTerms ON ContractPriceLevels.ContractTermID = ContractTerms.ContractTermID
	LEFT OUTER JOIN SalesBoard ON 
		Contracts.LoginID = SalesBoard.loginID 
		AND DATEPART(YYYY, @Date) = DATEPART(YYYY, SalesBoard.dateSold)
		AND DATEPART(MM, @Date) = DATEPART(MM, SalesBoard.dateSold)
	LEFT OUTER JOIN Invoices ON Contracts.ContractID = Invoices.ContractID
	WHERE 
		Contracts.IsDeleted = 0
		AND @Date BETWEEN Contracts.EffectiveDate AND Contracts.ExpirationDate
		AND Invoices.IsDeleted = 0
		AND Invoices.Paid = 1
	GROUP BY
		  Contracts.LoginID
		, Contracts.ContractID 
		, ContractTerms.TermDescription
		, ContractTerms.NumberOfPayments
		, ContractTerms.DepositAmount
		, ContractPriceLevels.PaymentAmount
		, Contracts.EffectiveDate
		, Contracts.ExpirationDate
		, SalesBoard.salesBoardID

	RETURN
END
GO
