USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [dbo].[sp_GetGridShowHideColumnInfo] 101083, 'estimate-grid'        
CREATE PROCEDURE [dbo].[sp_SaveGridShowHideColumnInfo]   
 @LoginID INT,  
 @ColumnName VARCHAR(50),
 @Visible BIT,
 @SortOrderIndex INT = NULL,
 @GridControlID VARCHAR(50) = NULL
AS  
BEGIN  
  
 DECLARE @GridColumnInfoID INT
 
 SELECT @GridColumnInfoID = ID from GridColumnInfo 
 WHERE ColumnName = @ColumnName AND GridControlID = ISNULL(@GridControlID, GridControlID);

 IF NOT EXISTS(SELECT ID FROM GridColumnInfoLoginMapping WHERE GridColumnInfoID=@GridColumnInfoID AND LoginID = @LoginID)  
  INSERT INTO GridColumnInfoLoginMapping(GridColumnInfoID,LoginID,Visible,SortOrderIndex) VALUES(@GridColumnInfoID,@LoginID,@Visible,@SortOrderIndex)  
 ELSE  
 BEGIN

	IF (@SortOrderIndex IS NOT NULL AND @GridControlID IS NOT NULL)
	BEGIN
	   UPDATE GridColumnInfoLoginMapping SET Visible = @Visible, SortOrderIndex = @SortOrderIndex
	   WHERE GridColumnInfoID=@GridColumnInfoID AND LoginID = @LoginID  
	END
	ELSE
	BEGIN
	   UPDATE GridColumnInfoLoginMapping SET Visible = @Visible
	   WHERE GridColumnInfoID=@GridColumnInfoID AND LoginID = @LoginID 
	END

 END

END  
  
GO
