USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/19/2022
-- =============================================
CREATE PROCEDURE [dbo].[MiscTracking_Get]
	  @LoginID				int = 0
	, @EstimateID			int = 0
	, @Tag					varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM MiscTracking
	WHERE 
		LoginID = (CASE WHEN @LoginID = 0 THEN LoginID ELSE @LoginID END)
		AND EstimateID = (CASE WHEN @EstimateID = 0 THEN EstimateID ELSE @EstimateID END)
		AND Tag = @Tag

END
GO
