USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 6/20/2017 
-- Description:	Get the final price for a line item that is part of a supplement.   
-- ============================================= 
CREATE FUNCTION [dbo].[GetSupplementLineItemPrice] (@lineItemID int) 
RETURNS decimal(16, 2) 
AS 
BEGIN 
	 
	DECLARE @overridesID INT = (SELECT ISNULL(ModifiesID, 0) FROM EstimationLineItems WHERE id = @lineItemID) 
	DECLARE @supplementLevel INT = (SELECT ISNULL(SupplementVersion, 0) FROM EstimationLineItems WHERE id = @lineItemID) 
	 
	DECLARE @price DECIMAL(16, 2) = 0 
 
	IF @supplementLevel > 0 AND @overridesID > 0 
		BEGIN 
			-- If the line is a Delete line, use the price of the modified line * -1 
			IF (SELECT id FROM EstimationLineItems WHERE id = @lineItemID AND ISNULL(ActionDescription, '') LIKE 'Delete%') > 0 
				SET @price = dbo.GetSupplementLineItemPrice(@overridesID) * -1 
 
			-- If the line and the line it modifies have a different part source, return the full price listed on the line as it is being added to the new part source 
			ELSE IF 
			( 
				SELECT REPLACE(ISNULL(EstimationLineItems.PartSource, ''), ISNULL(ModifiedItem.PartSource, ''), '') 
				FROM EstimationLineItems  
				LEFT OUTER JOIN EstimationLineItems ModifiedItem ON EstimationLineItems.ModifiesID = ModifiedItem.ID 
				WHERE EstimationLineItems.ID = @lineItemID 
			) <> '' 
			SET @price =  
			( 
				SELECT Price 
				FROM EstimationLineItems 
				WHERE ID = @lineItemID 
			) 
 
			-- If the line and the line it modifies have the same part number than this line changed the price or quantity of the modified line.  Return the difference of price for the two lines 
			ELSE IF  
			( 
				SELECT CASE WHEN eli1.PartNumber = eli2.PartNumber AND (eli1.Price <> eli2.Price OR eli2.Qty <> 0) THEN 1 ELSE 0 END AS ModifiesPart  
				FROM EstimationLineItems eli1  
				LEFT OUTER JOIN EstimationLineItems eli2 ON eli1.ModifiesID = eli2.id  
				WHERE eli1.id = @lineItemID 
			) = 1 
			SET @price =  
			( 
				SELECT ISNULL(Price, 0) * CAST(dbo.GetLineItemQuantity(id) AS DECIMAL)  
				FROM EstimationLineItems  
				WHERE id = @lineItemID 
			) - dbo.GetSupplementLineItemPrice(@overridesID) 
			 
		END 
	ELSE 
		-- This is either a supplement 0 or an unmodified item.  Calculate the price for the line 
		--SET @price = CAST(dbo.GetLineItemQuantity(@lineItemID) AS DECIMAL) * (SELECT ISNULL(CustomerPrice, ISNULL(Price, 0)) FROM EstimationLineItems WHERE id = @lineItemID) 
		SET @price = (SELECT Price FROM EstimationLineItems WHERE id = @lineItemID) 
 
	RETURN @price 
END 
GO
