USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteReportsByAdminInfo]
	@admininfoid int
AS
DELETE FROM Reports 
where admininfoid = @admininfoid


GO
