USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetInvoicesForContractForAdmin-01.sql
CREATE PROCEDURE [dbo].[GetInvoicesForContractForAdmin] 
	  @ContractID		int
	, @IncludeAddons	bit = 0
	, @Deleted			bit = 0
	, @AddOnDeleted     bit = 0
AS
BEGIN

	SELECT Invoices.*, CASE WHEN ISNULL(Contracts.IsDeleted, 0) = 1 OR ISNULL(ContractAddOn.IsDeleted, 0) = 1 THEN 1 ELSE 0 END AS ContractIsDeleted
	FROM Invoices
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	WHERE 
		Invoices.ContractID = @ContractID
		AND (@IncludeAddons = 1 OR AddOnID = 0)
		AND (ISNULL(Invoices.IsDeleted, 0) = 0 OR @Deleted = 1)
		AND (ISNULL(ContractAddOn.IsDeleted, 0) = 0 OR @AddOnDeleted = 1)

END
GO
