USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[isLeapYear] (
	@Date datetime
)
RETURNS bit
AS

/*
--Example:
SELECT dbo.isLeapYear('3/5/2012')
*/

BEGIN

	DECLARE @isLeapYear bit

	SET @isLeapYear = 
		( CASE
			WHEN (YEAR(@Date) % 4 = 0 AND YEAR(@Date) % 100 != 0) OR YEAR(@Date) % 400 = 0 THEN 1
			ELSE 0
		END )
		
	RETURN @isLeapYear
	
END

GO
