USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ezra
-- Create date: 8/3/2017
-- Description:	Get a sent estimate record by ID
-- =============================================
CREATE PROCEDURE [dbo].[GetSentEstimate]
	@id		int
AS
BEGIN
	SELECT SentEstimate.*, Reports.FileName, Reports.ReportType
	FROM SentEstimate
	JOIN Reports ON SentEstimate.ReportID = Reports.ID
	WHERE SentEstimate.ID = @id
END



GO
