USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[GetNonConvertedCount]
	@DaysBack int	
AS
SELECT COUNT(*)
FROM FocusWrite.dbo.Flyer WITH(NOLOCK)
WHERE
	Dateadd(d,@DaysBack*-1,getdate()) <= ExpireDate
	AND InvitationNumber NOT IN
	(SELECT Organization FROM Logins)
	


GO
