USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/6/2019
-- Description:	Figure out if we should add a record to the sales board 
-- =============================================
CREATE PROCEDURE [dbo].[SalesBoard_ShouldInsert]
	@LoginID			int
AS
BEGIN

	-- Only add to the sales board if all querys return 0
	SELECT CASE WHEN SUM(Total) = 0 THEN 1 ELSE 0 END AS ShouldAdd
	FROM (
		-- Don't add if there's already a record in the sales board
		SELECT COUNT(*) AS Total
		FROM SalesBoard
		WHERE LoginID = @LoginID AND numberSold > 0

		UNION

		SELECT COUNT(*) AS Total
		FROM [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.SalesBoard
		WHERE LoginID = @LoginID AND numberSold > 0

		UNION

		-- Don't add if there are more than 1 digital signatures.  One was just added before this was called.
		SELECT CASE WHEN COUNT(*) > 1 THEN 1 ELSE 0 END AS Total
		FROM ContractDigitalSignature
		WHERE LoginID = @LoginID

		UNION 

		-- Don't add if the login is a staff account or marked as doubtful
		SELECT CASE WHEN COUNT(*) = 0 THEN 1 ELSE 0 END AS Total
		FROM Logins
		WHERE ID = @LoginID AND DoubtfulAccount = 0 AND StaffAccount = 0

		UNION

		-- Don't add if there is more than 1 contract with a payment
		SELECT CASE WHEN COUNT(DISTINCT Contracts.ContractID) > 1 THEN 1 ELSE 0 END
		FROM Contracts
		JOIN Invoices ON Contracts.ContractID = Invoices.ContractID AND Invoices.Paid = 1 AND Invoices.IsDeleted = 0
		WHERE Contracts.LoginID = @LoginID AND Contracts.IsDeleted = 0
	) Base

END
GO
