USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[EMS_Export_GetProfileRates1_201] 
	@AdminInfoID Int 
AS 
SET NOCOUNT ON 
DECLARE @PolicyNumber VarChar(25) 
DECLARE @ClaimNumber VarChar(25) 
 
SELECT 
	CAST(LEFT(CustomerProfiles.ProfileName,40) as nvarchar(40)) 			ID_PRO_NAM, 
	ISNULL(CustomerProfilesMisc.TaxRate,0)			TAX_PRETHR, 
	CustomerProfilesMisc.SecondTaxRateStart			TAX_THRAMT, 
	CustomerProfilesMisc.SecondTaxRate			TAX_PSTTHR, 
	0 TAX_TOW_IN, 
	0 TAX_TOW_RT, 
	0 TAX_STR_IN, 
	0 TAX_STR_RT, 
	ISNULL(CustomerProfileRatesSublet.Taxable,0) 		TAX_SUB_IN, 
	ISNULL(CustomerProfilesMisc.TaxRate,0)			TAX_SUB_RT, 
	0 TAX_BTR_IN, 
	0 TAX_LBR_RT, 
	0 TAX_GST_RT, 
	0 TAX_GST_IN, 
	ISNULL(CustomerProfileRatesGlass.DiscountMarkup,0)	ADJ_G_DISC, 
	0 ADJ_TOWDIS, 
	0 ADJ_STRDIS, 
	0 ADJ_BTR_IN, 
	0 TAX_PREDIS  
FROM FocusWrite.dbo.AdminInfo AdminInfo WITH (NOLOCK) 
LEFT JOIN FocusWrite.dbo.CustomerProfiles CustomerProfiles WITH (NOLOCK) ON 
	(CustomerProfiles.id = AdminInfo.CustomerProfilesID) 
LEFT JOIN FocusWrite.dbo.CustomerProfilesMisc CustomerProfilesMisc WITH (NOLOCK) ON 
	(CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.id) 
LEFT JOIN FocusWrite.dbo.CustomerProfileRates CustomerProfileRatesSublet WITH (NOLOCK) ON 
	(CustomerProfileRatesSublet.CustomerProfilesID = CustomerProfiles.id AND 
	 CustomerProfileRatesSublet.RateType = 11) 
LEFT JOIN FocusWrite.dbo.CustomerProfileRates CustomerProfileRatesGlass WITH (NOLOCK) ON 
	(CustomerProfileRatesGlass.CustomerProfilesID = CustomerProfiles.id AND 
	 CustomerProfileRatesGlass.RateType = 20) 
WHERE AdminInfo.ID = @AdminInfoID  
 
 
 
 
 
 
GO
