USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/22/2021
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPresetProfile_GetDefaultProfile]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM AddOnPresetProfile
	WHERE 
		LoginID = @LoginID 
		AND DefaultFlag = 1 
		AND Deleted = 0

END
GO
