USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



    
    
CREATE procedure [dbo].[EstimatorDetail]     
@AdminInfoID as int    
as    
begin    
--EstimatorDetail 2335260   
DECLARE @AppraiserFlag Bit      
Declare @RowsCount as int    
 Declare @Contacttype as varchar(10)    
Declare @Location as varchar(50)    
SELECT @AppraiserFlag = 0        
SELECT @AppraiserFlag = ISNULL(OrganizationInfo.Appraiser,0)        
FROM AdminInfo WITH (NOLOCK)        
INNER JOIN Logins WITH (NOLOCK) ON        
 (Logins.id = AdminInfo.CreatorID)        
INNER JOIN OrganizationInfo WITH (NOLOCK) ON        
 (OrganizationInfo.id = Logins.OrganizationID)        
WHERE AdminInfo.ID = @AdminInfoID      
--select @AppraiserFlag 
SELECT @Location=EstimateLocation  FROM EstimationData WITH(NOLOCK) WHERE AdminInfoID =@AdminInfoID     
if @Location<>''    
set @Location='Location:'     
else    
set @Location=''     
    
SET @RowsCount=(Select   COUNT (*)     
from EstimatorsData where AdminInfoID=@AdminInfoID)    
if @RowsCount>=1     
if @AppraiserFlag=0     
set @Contacttype ='Estimators'    
else    
set @Contacttype='Appraisers'   

begin    


Select AuthorFirstName+' '+ AuthorLastName as ContactInfo,'7' as ColumnNumber,(select @Contacttype) as contacttype      
from EstimatorsData with(nolock) where AdminInfoID=@AdminInfoID    
union all    
select  @Location +EstimationData.EstimateLocation as ContactInfo,'7' as ColumnNumber ,(select @Contacttype) as contacttype     
from EstimationData with(nolock) where AdminInfoID=@AdminInfoID    
end    
    
    
    
    
end    
    


GO
