USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[GetSectionHotspots]
	@VehicleID Int = NULL,
	@AdminInfoID Int = NULL,
	@BodyTypesID Int = NULL,
	@nHeader Int,
	@nSection Int
AS
DECLARE @Service_BarCode VarChar(10)
DECLARE @Year Int
IF @AdminInfoID IS NOT NULL
BEGIN
	SELECT @Service_Barcode = FocusWrite.Dbo.GetServiceBarcode(@AdmininfoID)
	SELECT @Year = MAX(CONVERT(Int,LEFT(FocusWrite.Dbo.GetVehicleName(VehicleInfo.VehicleID),4)))
	FROM FocusWrite.dbo.EstimationData EstimationData WITH (NOLOCK)
	INNER JOIN FocusWrite.dbo.VehicleInfo VehicleInfo WITH (NOLOCK) ON
	(VehicleInfo.EstimationDataId = EstimationData.Id)
	WHERE EstimationData.AdminInfoID = @AdminInfoID 
END
--Get Notes For Category
SELECT DISTINCT
	Hotspot.Callout_Number,
	Hotspot.X_Coordinate,
	Hotspot.Y_Coordinate,
	Hotspot.X_Extent,
	Hotspot.Y_Extent,
	Hotspot.nimage,
	Graphic.Graphic_Filename/*,
	Mitchell3.dbo.GetPartNotes(Part.Service_BarCode,Part.nHeader,Part.nSection,Part.nPart) 'AltText' */
INTO #Temp
FROM Part WITH (NOLOCK)
INNER JOIN Detail WITH (NOLOCK) ON
	(Detail.Service_Barcode = Part.Service_Barcode AND
	 Detail.nHeader = Part.nheader AND
	 Detail.nSection = Part.nsection AND
	 Detail.nPart = Part.nPart)
LEFT JOIN Hotspot WITH (NOLOCK) ON
	(Hotspot.Service_Barcode = Part.Service_Barcode AND
	 Hotspot.nHeader = Part.nheader AND
	 Hotspot.nSection = Part.nsection AND
	 Hotspot.nPart = Part.nPart)
LEFT JOIN Graphic WITH (NOLOCK) ON
	(Graphic.Service_Barcode = Hotspot.Service_Barcode AND
	 Graphic.nimage = Hotspot.nimage)
WHERE Part.Service_Barcode = @Service_BarCode AND
	Part.nHeader = @nHeader AND
	Part.nSection = @nSection AND
	(@Year IS NULL OR
	 ( @Year IS NOT NULL AND 
	   @Year BETWEEN Year(ISNULL(Detail.Start_Date,'01/01/1900')) AND Year(ISNULL(Detail.End_Date,'01/01/2900'))) ) AND
	(@Year IS NULL OR
	 ( @Year IS NOT NULL AND 
	   @Year BETWEEN Year(ISNULL(Part.Start_Date,'01/01/1900')) AND Year(ISNULL(Part.End_Date,'01/01/2900'))) ) AND
	Hotspot.Callout_Number IS NOT NULL AND
	Hotspot.X_Coordinate IS NOT NULL AND
	Hotspot.Y_Coordinate IS NOT NULL AND
	Hotspot.X_Extent IS NOT NULL AND
	Hotspot.Y_Extent IS NOT NULL AND
	Graphic.Graphic_Filename IS NOT NULL 
ORDER BY Hotspot.Callout_Number
IF (	SELECT Count(*) FROM #Temp) = 0 
BEGIN
	INSERT INTO #Temp
	SELECT DISTINCT
		Hotspot.Callout_Number,
		Hotspot.X_Coordinate,
		Hotspot.Y_Coordinate,
		Hotspot.X_Extent,
		Hotspot.Y_Extent,
		Hotspot.nimage,
		Graphic.Graphic_Filename/*,
		''*/
	FROM Hotspot WITH (NOLOCK)
	LEFT JOIN Graphic WITH (NOLOCK) ON
		(Graphic.Service_Barcode = Hotspot.Service_Barcode AND
		 Graphic.nimage = Hotspot.nimage)
	WHERE Hotspot.Service_Barcode = @Service_BarCode AND
		Hotspot.nHeader = @nHeader AND
		Hotspot.nSection = @nSection	
END
SELECT * FROM #Temp
DROP TABLE #Temp
--END

--PRINT @Service_BarCode






GO
