USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/7/2017
-- Description:	Add or update a Logins record
-- =============================================
CREATE PROCEDURE [dbo].[AddOrUpdateLogins]
	@loginsID int,
	@LoginName varchar(25) = null,
	@Organization varchar(50) = null,
	@encPassword varchar(255) = null,
	@Password varchar(100) = null,
	@PasswordExpired bit = null,
	@Disabled bit = null,
	@CreationDate datetime = null,
	@CertificateInfo varchar(255) = null,
	@SessionID varchar(255) = null,
	@AdminInfoID int = null,
	@SessionExpires datetime = null,
	@OrgAdminRights bit = null,
	@FWAdminRights bit = null,
	@AuthOnly bit = null,
	@OrganizationID int = null,
	@ContactsID int = null,
	@LastLogin datetime = null,
	@LastActivity datetime = null,
	@CustomerNumber int = null,
	@ExpireDate datetime = null,
	@QuickReports bit = null,
	@DefaultSectionOrder varchar(20) = null,
	@EstInfoOwnPage bit = null,
	@LargeFonts bit = null,
	@UseTabsOnContactInfo bit = null,
	@StartPage tinyint = null,
	@SameWindowAfterLogin bit = null,
	@AddPaintExtrasDefault varchar(2) = null,
	@DemoUser bit = null,
	@MarkForDelete bit = null,
	@PaymentDueDate datetime = null,
	@PaymentDueAmount money = null,
	@MarkForDeleteAddr varchar(20) = null,
	@MarkForDeleteDate datetime = null,
	@GraphicSize tinyint = null,
	@InfoForm bit = null,
	@SalesRepID int = null,
	@DoubtfulAccount bit = null,
	@Language_id int = null,
	@StaffAccount bit = null,
	@PDF_Image_Size tinyint = null,
	@TechSupportPassword nvarchar(50) = null,
	@UseTin bit = null,
	@NoOfLogins smallint = null,
	@SoftwareType varchar(50) = null,
	@CompanyOrigin tinyint = null,
	@CWAccountID varchar(50) = null
AS
BEGIN
	IF EXISTS (SELECT * FROM Logins with(nolock) WHERE id = @loginsID)
	BEGIN
		UPDATE Logins
		SET 
			  LoginName = @LoginName
			  ,Organization = @Organization
			  ,encPassword = @encPassword
			  ,Password = @Password
			  ,PasswordExpired = @PasswordExpired
			  ,Disabled = @Disabled
			  ,CreationDate = @CreationDate
			  ,CertificateInfo = @CertificateInfo
			  ,SessionID = @SessionID
			  ,AdminInfoID = @AdminInfoID
			  ,SessionExpires = @SessionExpires
			  ,OrgAdminRights = @OrgAdminRights
			  ,FWAdminRights = @FWAdminRights
			  ,AuthOnly = @AuthOnly
			  ,OrganizationID = @OrganizationID
			  ,ContactsID = @ContactsID
			  ,LastLogin = @LastLogin
			  ,LastActivity = @LastActivity
			  ,CustomerNumber = @CustomerNumber
			  ,ExpireDate = @ExpireDate
			  ,QuickReports = @QuickReports
			  ,DefaultSectionOrder = @DefaultSectionOrder
			  ,EstInfoOwnPage = @EstInfoOwnPage
			  ,LargeFonts = @LargeFonts
			  ,UseTabsOnContactInfo = @UseTabsOnContactInfo
			  ,StartPage = @StartPage
			  ,SameWindowAfterLogin = @SameWindowAfterLogin
			  ,AddPaintExtrasDefault = @AddPaintExtrasDefault
			  ,DemoUser = @DemoUser
			  ,MarkForDelete = @MarkForDelete
			  ,PaymentDueDate = @PaymentDueDate
			  ,PaymentDueAmount = @PaymentDueAmount
			  ,MarkForDeleteAddr = @MarkForDeleteAddr
			  ,MarkForDeleteDate = @MarkForDeleteDate
			  ,GraphicSize = @GraphicSize
			  ,InfoForm = @InfoForm
			  ,SalesRepID = @SalesRepID
			  ,DoubtfulAccount = @DoubtfulAccount
			  ,Language_id = @Language_id
			  ,StaffAccount = @StaffAccount
			  ,PDF_Image_Size = @PDF_Image_Size
			  ,TechSupportPassword = @TechSupportPassword
			  ,UseTin = @UseTin
			  ,NoOfLogins = @NoOfLogins
			  ,SoftwareType = @SoftwareType
			  ,CompanyOrigin = @CompanyOrigin
			  ,CWAccountID = @CWAccountID
		WHERE id = @loginsID
		
		SELECT @loginsID		
	END
ELSE
	BEGIN
		INSERT INTO Logins
           ([LoginName]
           ,[Organization]
           ,[encPassword]
           ,[Password]
           ,[PasswordExpired]
           ,[Disabled]
           ,[CreationDate]
           ,[CertificateInfo]
           ,[SessionID]
           ,[AdminInfoID]
           ,[SessionExpires]
           ,[OrgAdminRights]
           ,[FWAdminRights]
           ,[AuthOnly]
           ,[OrganizationID]
           ,[ContactsID]
           ,[LastLogin]
           ,[LastActivity]
           ,[CustomerNumber]
           ,[ExpireDate]
           ,[QuickReports]
           ,[DefaultSectionOrder]
           ,[EstInfoOwnPage]
           ,[LargeFonts]
           ,[UseTabsOnContactInfo]
           ,[StartPage]
           ,[SameWindowAfterLogin]
           ,[AddPaintExtrasDefault]
           ,[DemoUser]
           ,[MarkForDelete]
           ,[PaymentDueDate]
           ,[PaymentDueAmount]
           ,[MarkForDeleteAddr]
           ,[MarkForDeleteDate]
           ,[GraphicSize]
           ,[InfoForm]
           ,[SalesRepID]
           ,[DoubtfulAccount]
           ,[Language_id]
           ,[StaffAccount]
           ,[PDF_Image_Size]
           ,[TechSupportPassword]
           ,[UseTin]
           ,[NoOfLogins]
           ,[SoftwareType]
           ,[CompanyOrigin]
           ,[CWAccountID])
		 VALUES
			(
			   @LoginName
			  ,@Organization
			  ,@encPassword
			  ,@Password
			  ,@PasswordExpired
			  ,@Disabled
			  ,@CreationDate
			  ,@CertificateInfo
			  ,@SessionID
			  ,@AdminInfoID
			  ,@SessionExpires
			  ,@OrgAdminRights
			  ,@FWAdminRights
			  ,@AuthOnly
			  ,@OrganizationID
			  ,@ContactsID
			  ,@LastLogin
			  ,@LastActivity
			  ,@CustomerNumber
			  ,@ExpireDate
			  ,@QuickReports
			  ,@DefaultSectionOrder
			  ,@EstInfoOwnPage
			  ,@LargeFonts
			  ,@UseTabsOnContactInfo
			  ,@StartPage
			  ,@SameWindowAfterLogin
			  ,@AddPaintExtrasDefault
			  ,@DemoUser
			  ,@MarkForDelete
			  ,@PaymentDueDate
			  ,@PaymentDueAmount
			  ,@MarkForDeleteAddr
			  ,@MarkForDeleteDate
			  ,@GraphicSize
			  ,@InfoForm
			  ,@SalesRepID
			  ,@DoubtfulAccount
			  ,@Language_id
			  ,@StaffAccount
			  ,@PDF_Image_Size
			  ,@TechSupportPassword
			  ,@UseTin
			  ,@NoOfLogins
			  ,@SoftwareType
			  ,@CompanyOrigin
			  ,@CWAccountID
			)
           
		SELECT CAST(SCOPE_IDENTITY() AS INT)
	END
END

GO
