USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[GetStepText] (@StepsID Int)
RETURNS VarChar(250) AS  
BEGIN
	DECLARE @ReturnString VarChar(250)
	SELECT @ReturnString = 
		CASE	WHEN Step5.TextValue <> '' THEN Step5.TextValue
			WHEN Step4.TextValue <> '' THEN Step4.TextValue
			WHEN Step3.TextValue <> '' THEN Step3.TextValue
			WHEN Step2.TextValue <> '' THEN Step2.TextValue
		END
	FROM Vehicles.dbo.Steps Steps  WITH (NOLOCK)
	INNER JOIN Vehicles.dbo.StepElementTextValues Step1 WITH (NOLOCK) ON
		(Step1.id = Steps.Step1TextValuesID)
	INNER JOIN Vehicles.dbo.StepElementTextValues Step2 WITH (NOLOCK) ON
		(Step2.id = Steps.Step2TextValuesID)
	INNER JOIN Vehicles.dbo.StepElementTextValues Step3 WITH (NOLOCK) ON
		(Step3.id = Steps.Step3TextValuesID)
	INNER JOIN Vehicles.dbo.StepElementTextValues Step4 WITH (NOLOCK) ON
		(Step4.id = Steps.Step4TextValuesID)
	INNER JOIN Vehicles.dbo.StepElementTextValues Step5 WITH (NOLOCK) ON
		(Step5.id = Steps.Step5TextValuesID)
	WHERE Steps.ID = @StepsID

	RETURN (@ReturnString)
END




GO
