USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 6/14/2021
-- =============================================
CREATE PROCEDURE [dbo].[Estimate_GetChildLineIDsIfParentActionChange]
	@LineID					int,
	@NewActionCode			varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT ChildLines.ID
	FROM EstimationLineItems
	LEFT OUTER JOIN EstimationLineItems ChildLines ON ChildLines.ParentLineID = EstimationLineItems.ID
	WHERE EstimationLineItems.ID = @LineID AND EstimationLineItems.ActionCode <> @NewActionCode

END
GO
