USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackId] [bigint] NOT NULL,
	[ImagesPath] [nvarchar](500) NULL,
 CONSTRAINT [PK_FeedbackImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FeedbackImages]  WITH CHECK ADD  CONSTRAINT [FK_FeedbackImages_UserFeedback] FOREIGN KEY([FeedbackId])
REFERENCES [dbo].[UserFeedback_Backup] ([FeedbackID])
GO
ALTER TABLE [dbo].[FeedbackImages] CHECK CONSTRAINT [FK_FeedbackImages_UserFeedback]
GO
