USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [dbo].[Estimate_UncommitSupplements] 10097866  
CREATE PROCEDURE [dbo].[Estimate_UnCommitSupplements] 
	@AdminInfoID		int 
AS 
BEGIN 
	 
	DECLARE @lineCount INT 
 
	SET @lineCount =  
	(	 
		SELECT Count(*)  
		FROM EstimationData  with(nolock) 
		INNER JOIN EstimationLineItems  with(nolock) ON EstimationLineItems.EstimationDataID = EstimationData.ID  
 
		WHERE AdminInfoID = @AdminInfoID AND  
			ISNULL(EstimationLineItems.SupplementVersion, 0) = ISNULL(EstimationData.LockLevel, 0) 
	) 
 
	SET @lineCount = @lineCount + 
	( 
		SELECT COUNT(*)
		FROM EstimationData
		JOIN PDR_EstimateDataPanel ON PDR_EstimateDataPanel.AdminInfoID = @AdminInfoID 
		LEFT OUTER JOIN PDR_EstimateDataPanelSupplementChange change ON 
			change.EstimateDataPanelID = PDR_EstimateDataPanel.ID 
			AND change.SupplementVersion = ISNULL(EstimationData.LockLevel, 0) 
		LEFT OUTER JOIN PDR_EstimateDataPanelOversize oversize ON 
			PDR_EstimateDataPanel.ID = oversize.EstimateDataPanelID 
			AND (oversize.SupplementAdded = ISNULL(EstimationData.LockLevel, 0) OR oversize.SupplementDeleted = ISNULL(EstimationData.LockLevel, 0))
		WHERE  
			EstimationData.AdminInfoID = @AdminInfoID 
			AND (ISNULL(change.ID, 0) > 0 OR ISNULL(oversize.ID, 0) > 0) 
			AND   
			( 
				PDR_EstimateDataPanel.QuantityID > 0 
				OR PDR_EstimateDataPanel.OversizedDents > 0 
				OR ISNULL(PDR_EstimateDataPanel.CustomCharge, 0) <> 0
				OR ISNULL(change.QuantityID, 0) <> 0 
				OR ISNULL(change.OversizedDents, 0) <> 0 
				OR ISNULL(change.CustomCharge, 0) <> 0
			) 
	) 
 
	IF @lineCount > 0  
	BEGIN  
			IF  
			( 
				SELECT ISNULL(LockLevel, 0)  
				FROM EstimationData    with(nolock) 
				WHERE AdminInfoID = @AdminInfoID  
			) = 0 
				SELECT 1 -- 'Estimate can't uncommit when there is no supplement over estimate.' 'ErrorReturn'  
			ELSE  
				BEGIN  
					SELECT 2 -- 'Estimate can't uncommit since there are items on the estimate over supplement.' 'ErrorReturn'
				END   
	END  
	ELSE  
	BEGIN  
			-- PreviousSupplement
			DECLARE @PreviousSupplement INT
			DECLARE @EstimationLineItemIDLocked INT = 0

			-- @PreviousSupplement
			SELECT @PreviousSupplement = ISNULL(EstimationData.LockLevel,0) - 1
			FROM EstimationData with(nolock) 
			WHERE EstimationData.AdminInfoID = @AdminInfoID 

			-- @EstimationLineItemIDLocked
			IF @PreviousSupplement > 0
				BEGIN
					SELECT @EstimationLineItemIDLocked = Max(EstimationLineItems.ID)  
					FROM EstimationLineItems    with(nolock) 
					INNER JOIN EstimationData  with(nolock)  ON EstimationData.id = EstimationLineItems.EstimationDataID 
					WHERE EstimationData.AdminInfoID = @AdminInfoID 
					AND EstimationLineItems.SupplementVersion = (CASE WHEN @PreviousSupplement > 1 THEN @PreviousSupplement - 1 ELSE 0 END)
				END

			UPDATE EstimationData   
			SET LockLevel = @PreviousSupplement,   
				EstimationLineItemIDLocked = @EstimationLineItemIDLocked 
			FROM EstimationData		with(nolock) 
			WHERE EstimationData.AdminInfoID = @AdminInfoID    
	END  
  
	SELECT 0  
 
END 
GO
