USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/22/2017
-- Description:	Gets all languages
-- =============================================
CREATE PROCEDURE [dbo].[GetAllLanguages]

AS
BEGIN
	SELECT *
	FROM [Language]
END

GO
