USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/21/2017
-- Description:	Get data for a timed event
-- =============================================
CREATE PROCEDURE [dbo].[TimedEventData_Get] 
	@EventName	varchar(100)
AS
BEGIN
	SELECT *
	FROM TimedEventData
	WHERE EventName = @EventName
END

GO
