USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSuccessBoxSync]
	 @LoginID    int,
	 @TimeStamp DATETIME
AS

INSERT INTO	SuccessBoxManualSync (
	LoginID,
	[TimeStamp]
)
VALUES (
	@LoginID,
	@TimeStamp
)


GO
