USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetSelectedOptionsByAdminInfo]
@admininfoid int
AS
SELECT 	[VehicleInfoID]
	,[VehicleOptionsID]
FROM VehicleSelectedOptions with(nolock)


GO
