USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ImageAttachment_DeleteForReport]
	  @ReportID					int
	, @DeleteStamp				datetime = null
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE dbo.ImageAttachment SET DeleteStamp = @DeleteStamp 
	WHERE ReportID = @ReportID

	SELECT @ReportID
END
GO
