USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  function [dbo].[getOverlap]
	(
		@adminInfoId	int
	)  
	returns @EstimationOverlap1 table(EstimationLineItemsID1 int,EstimationLineItemsID2 int,OverlapAdjacentFlag varchar(10),Minimum money,amount money)
	AS
	BEGIN 
		
insert  INTO @EstimationOverlap1
SELECT DISTINCT
		CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2
			WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2
			WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1
			ELSE EstimationOverlap.EstimationLineItemsID1
		END 'EstimationLineItemsID1',

		Min(	CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID1
			WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID1
				WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID2
				ELSE EstimationOverlap.EstimationLineItemsID2
			END) 'EstimationLineItemsID2',
		EstimationOverlap.OverlapAdjacentFlag 'OverlapAdjacentFlag',
		Max(EstimationOverlap.Minimum) 'Minimum',
		Sum(	CASE 	WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN -EstimationLineLabor2.LaborTime
				WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN -EstimationLineLabor.LaborTime
				ELSE EstimationOverlap.Amount
			END) 'Amount'
	
	FROM FocusWrite.Dbo.EstimationData EstimationData WITH (NOLOCK)
	INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID = EstimationData.ID)
	INNER JOIN FocusWrite.dbo.VehicleInfo VehicleInfo WITH (NOLOCK) ON
		(VehicleInfo.EstimationDataId = EstimationData.id)
	LEFT JOIN Mitchell3.dbo.ServicesToVehicleID as ServicesToVehicleID WITH (NOLOCK) 
		ON 	(VehicleInfo.VehicleID =  ServicesToVehicleID.VehicleID AND
		 (ServicesToVehicleID.BodyTypesID = -1 OR VehicleInfo.BodyType = ServicesToVehicleID.BodyTypesID ) AND
		 (ServicesToVehicleID.DriveTypeID = -1 OR VehicleInfo.DriveType = ServicesToVehicleID.DriveTypeID ) AND
		 ( ISNULL(ServicesToVehicleID.VinRequired,0) = 0 OR 
		   (ISNULL(ServicesToVehicleID.VinRequired,0) <> 0 AND VehicleInfo.Vin LIKE ServicesToVehicleID.VinLike) ) )
	LEFT JOIN FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor WITH (NOLOCK)
		 ON
		(EstimationLineItems.ID = EstimationLineLabor.EstimationLineItemsID AND
		EstimationLineLabor.LaborType IN (1,2,3,4,5,6,8,24,25) )

	LEFT JOIN FocusWrite.dbo.EstimationLineItems EstimationLineItemsMod1  WITH (NOLOCK) ON
		(EstimationData.ID  =  EstimationLineItemsMod1.EstimationDataID AND
		 EstimationLineItems.ID = EstimationLineItemsMod1.ModifiesID )

	LEFT JOIN mitchell3.dbo.Detail as detail WITH (NOLOCK) ON	--The time must be the database value
		(Detail.Service_BarCode = isnull(ServicesToVehicleID.BarCode,VehicleInfo.Service_Barcode) AND
		 EstimationData.AdminInfoID = @adminInfoId AND
		 Detail.barcode = EstimationLineItems.Barcode AND
		 ( ( Detail.Labor_Hours IS NULL AND EstimationLineLabor.LaborTime IS NULL ) OR 
		   ( Detail.Labor_Hours IS NOT NULL AND EstimationLineLabor.LaborTime IS NOT NULL AND
		     ROUND(CONVERT(Real,ISNULL(Detail.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor.LaborTime,0)),1) )) )

	INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems2 WITH (NOLOCK) ON
		(EstimationLineItems2.EstimationDataID = EstimationData.ID)
	LEFT JOIN FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor2 WITH (NOLOCK) ON
		(EstimationLineItems2.ID  = EstimationLineLabor2.EstimationLineItemsID  AND
		 EstimationLineLabor2.LaborType IN (1,2,3,4,5,6,8,24,25) )

	LEFT JOIN FocusWrite.dbo.EstimationLineItems EstimationLineItemsMod2  WITH (NOLOCK) ON
		(EstimationData.ID = EstimationLineItemsMod2.EstimationDataID  AND
		  EstimationLineItems2.ID =EstimationLineItemsMod2.ModifiesID)

	LEFT JOIN mitchell3.dbo.Detail Detail2 WITH (NOLOCK) ON	--The time must be the database value
		(Detail2.Service_BarCode = isnull(ServicesToVehicleID.BarCode,VehicleInfo.Service_Barcode) AND
		 Detail2.barcode = EstimationLineItems2.Barcode  AND
		 ( ( Detail2.Labor_Hours IS NULL AND EstimationLineLabor2.LaborTime IS NULL ) OR 
		   ( Detail2.Labor_Hours IS NOT NULL AND EstimationLineLabor2.LaborTime IS NOT NULL AND
		     ROUND(CONVERT(Real,ISNULL(Detail2.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor2.LaborTime,0)),1) )) )

	INNER JOIN FocusWrite.Dbo.EstimationOverlap EstimationOverlap WITH (NOLOCK) ON
		(EstimationOverlap.EstimationLineItemsID1 = EstimationLineItems.id AND
		 EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems2.id)
	WHERE EstimationData.AdminInfoID = @adminInfoId AND
		Detail.Service_BarCode = isnull(ServicesToVehicleID.BarCode,VehicleInfo.Service_Barcode) AND
		EstimationOverlap.UserAccepted <> 0 AND
		EstimationLineItemsMod1.id IS NULL AND EstimationLineItemsMod2.id IS NULL AND
		EstimationOverlap.OverlapAdjacentFlag = 'S'
	GROUP BY CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2
			WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2
			WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1
			ELSE EstimationOverlap.EstimationLineItemsID1
		END,
		EstimationOverlap.OverlapAdjacentFlag

	
insert into @EstimationOverlap1

SELECT DISTINCT
			CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2
				WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2
				WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1
				ELSE EstimationOverlap.EstimationLineItemsID1
			END 'EstimationLineItemsID1',
	
			Min(	CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID1
				WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID1
					WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID2
					ELSE EstimationOverlap.EstimationLineItemsID2
				END) 'EstimationLineItemsID2',
			EstimationOverlap.OverlapAdjacentFlag 'OverlapAdjacentFlag',
			Max(EstimationOverlap.Minimum) 'Minimum',
			Sum(	CASE 	WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN -EstimationLineLabor2.LaborTime
					WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN -EstimationLineLabor.LaborTime
					ELSE EstimationOverlap.Amount
				END) 'Amount'
		FROM FocusWrite.Dbo.EstimationData EstimationData WITH (NOLOCK)
		INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems WITH (NOLOCK) ON
			(EstimationLineItems.EstimationDataID = EstimationData.ID)		 
		INNER JOIN FocusWrite.dbo.VehicleInfo VehicleInfo WITH (NOLOCK) ON
			(VehicleInfo.EstimationDataId = EstimationData.id)
		LEFT JOIN mitchell3.dbo.ServicesToVehicleID as ServicesToVehicleID WITH (NOLOCK) ON
			(VehicleInfo.VehicleID = ServicesToVehicleID.VehicleID   AND
			 (ServicesToVehicleID.BodyTypesID = -1 OR VehicleInfo.BodyType = ServicesToVehicleID.BodyTypesID ) AND
			 (ServicesToVehicleID.DriveTypeID = -1 OR VehicleInfo.DriveType = ServicesToVehicleID.DriveTypeID) AND
			 ( ISNULL(ServicesToVehicleID.VinRequired,0) = 0 OR 
			   (ISNULL(ServicesToVehicleID.VinRequired,0) <> 0 AND VehicleInfo.Vin LIKE ServicesToVehicleID.VinLike) ) )
		LEFT JOIN FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor WITH (NOLOCK) ON
			( EstimationLineItems.ID = EstimationLineLabor.EstimationLineItemsID AND
			EstimationLineLabor.LaborType IN (1,2,3,4,5,6,8,24,25) )
	
		LEFT JOIN FocusWrite.dbo.EstimationLineItems EstimationLineItemsMod1  WITH (NOLOCK) ON
			(EstimationData.ID  = EstimationLineItemsMod1.EstimationDataID AND
			  EstimationLineItems.ID = EstimationLineItemsMod1.ModifiesID )
	
		LEFT JOIN mitchell3.dbo.Detail as detail WITH (NOLOCK) ON	--The time must be the database value
			(Detail.Service_BarCode = isnull(ServicesToVehicleID.BarCode,VehicleInfo.Service_Barcode) AND
			 EstimationData.AdminInfoID = @adminInfoId AND
			EstimationLineItems.Barcode =  Detail.barcode AND
			 ( ( Detail.Labor_Hours IS NULL AND EstimationLineLabor.LaborTime IS NULL ) OR 
			   ( Detail.Labor_Hours IS NOT NULL AND EstimationLineLabor.LaborTime IS NOT NULL AND
			     ROUND(CONVERT(Real,ISNULL(Detail.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor.LaborTime,0)),1) )) )
	
		INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems2 WITH (NOLOCK) ON
			(EstimationData.ID = EstimationLineItems2.EstimationDataID)
		LEFT JOIN FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor2 WITH (NOLOCK) ON
			(EstimationLineItems2.ID = EstimationLineLabor2.EstimationLineItemsID   AND
			 EstimationLineLabor2.LaborType IN (1,2,3,4,5,6,8,24,25) )
	
		LEFT JOIN FocusWrite.dbo.EstimationLineItems EstimationLineItemsMod2  WITH (NOLOCK) ON
			(EstimationData.ID = EstimationLineItemsMod2.EstimationDataID AND
			 EstimationLineItems2.ID = EstimationLineItemsMod2.ModifiesID)
	
		LEFT JOIN mitchell3.dbo.Detail Detail2 WITH (NOLOCK) ON	--The time must be the database value
			(Detail2.Service_BarCode = isnull(ServicesToVehicleID.BarCode,VehicleInfo.Service_Barcode) AND
			 Detail2.barcode = EstimationLineItems2.Barcode  AND
			 ( ( Detail2.Labor_Hours IS NULL AND EstimationLineLabor2.LaborTime IS NULL ) OR 
			   ( Detail2.Labor_Hours IS NOT NULL AND EstimationLineLabor2.LaborTime IS NOT NULL AND
			     ROUND(CONVERT(Real,ISNULL(Detail2.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor2.LaborTime,0)),1) )) )
	
		INNER JOIN FocusWrite.Dbo.EstimationOverlap EstimationOverlap WITH (NOLOCK) ON
			(EstimationOverlap.EstimationLineItemsID1 = EstimationLineItems.id AND
			 EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems2.id)
		LEFT JOIN @EstimationOverlap1 EO1 ON
			(EstimationOverlap.EstimationLineItemsID1 =  EO1.EstimationLineItemsID1)
		WHERE EstimationData.AdminInfoID = @adminInfoId AND
			Detail.Service_BarCode = isnull(ServicesToVehicleID.BarCode,VehicleInfo.Service_Barcode) AND
			EstimationOverlap.UserAccepted <> 0 AND
			EstimationLineItemsMod1.id IS NULL AND EstimationLineItemsMod2.id IS NULL AND
			EO1.EstimationLineItemsID1 IS NULL AND
		EstimationOverlap.OverlapAdjacentFlag <> 'S'
		GROUP BY CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2
				WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2
				WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1
				ELSE EstimationOverlap.EstimationLineItemsID1
			END,
			EstimationOverlap.OverlapAdjacentFlag
	Return
	end
	





 

 



GO
