USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 
CREATE PROCEDURE [dbo].[CreateOrUpdateUserMessages]  
      @Id int=null, 
	  @Title nvarchar(100)=null 
      ,@Description nvarchar(2000)=null 
      ,@CreatedDate datetime=null 
      ,@StartDate datetime=null 
      ,@EndDate datetime=null 
      ,@IsPermanent bit=null 
      ,@IsDeleted bit=null 
      ,@ModifiedDate datetime=null 
	  	  ,@CreatedByLoginID int=null 
	  ,@ModifiedByLoginID int=null 
	  as 
 
begin 
SET NOCOUNT ON 
 
BEGIN TRANSACTION 
if(isnull(@ID,0)=0) 
begin 
		-- Insert message 
		INSERT INTO UserMessages ( 
			[Title] 
      ,[Description] 
      ,[CreatedDate] 
	   ,[StartDate] 
	   ,[EndDate] 
      ,[IsPermanent] 
      ,[IsDeleted] 
      ,[ModifiedDate] 
	  ,[ModifiedByLoginID] 
	    ,[CreatedByLoginID] 
		) 
		VALUES ( 
			@Title 
      ,@Description 
      ,@CreatedDate 
      ,@StartDate 
      ,@EndDate 
      ,@IsPermanent 
      ,@IsDeleted 
      ,@ModifiedDate 
	  ,@ModifiedByLoginID 
	  ,@CreatedByLoginID 
 
		) 
declare @UserMessageID bigint 
		SET @UserMessageID = scope_identity() 
end 
else 
begin 
update UserMessages set [Title] =@Title 
      ,[Description] =@Description 
	   ,[StartDate]=@StartDate 
	   ,[EndDate] =@EndDate 
      ,[IsPermanent]=@IsPermanent 
       
      ,[ModifiedDate]= GetutcDate() 
	  ,[ModifiedByLoginID] = @ModifiedByLoginID 
	    ,[CreatedByLoginID] =@CreatedByLoginID 
		where UserMessageID=@Id 
		set @UserMessageID=@Id 
end 
commit 
SELECT @UserMessageID AS UserMessageID 
 
end 
GO
