USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDR_Rate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RateProfileID] [int] NOT NULL,
	[Size] [smallint] NOT NULL,
	[Amount] [money] NOT NULL,
	[PanelID] [int] NOT NULL,
	[Depth] [smallint] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PDR_Rate_RateProfileID] ON [dbo].[PDR_Rate]
(
	[RateProfileID] ASC
)
INCLUDE([Size],[Amount],[PanelID],[Depth],[Quantity]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ix_PDR_Rate_RateProfileID_Size_PanelID_includes] ON [dbo].[PDR_Rate]
(
	[RateProfileID] ASC,
	[Size] ASC,
	[PanelID] ASC
)
INCLUDE([Amount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
