USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEstimateNotesByID] 
	@ID INT
AS	  
BEGIN 

	SELECT id, LoginID, EstimateID,NotesText, 
	(CASE WHEN DeleteStamp IS NULL THEN DateCreated ELSE DeleteStamp END) AS [TimeStamp],
	(CASE WHEN DeleteStamp IS NULL THEN 0 ELSE 1 END) AS [IsDeleted]
	FROM dbo.EstimateNotes 
	WHERE id = @ID

END 




GO
