USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/23/2021
-- Description:	Get all GridInfoUserMapping records for a grid and login
-- Modified:    10/11/22 (SortOrderIndex value change)
--              "GridColumnInfoUserMapping_GetForGridAndUser-01.sql"
-- =============================================
CREATE PROCEDURE [dbo].[GridColumnInfoUserMapping_GetForGridAndUser]
	    @GridControlID		varchar(50) 
	  , @UserID			int
AS
BEGIN

	SELECT
		  ISNULL(Mapping.ID, 0) AS ID
		, GridColumnInfo.ID AS GridColumnInfoID
		, @UserID AS UserID
		, ISNULL(Mapping.Visible, 1) AS Visible
		, ISNULL(Mapping.SortOrderIndex, ISNULL(GridColumnInfo.SortOrderIndex, -1)) AS SortOrderIndex
	FROM GridColumnInfo with(nolock)
	LEFT OUTER JOIN GridColumnInfoUserMapping Mapping with(nolock) ON GridColumnInfo.ID = Mapping.GridColumnInfoID AND Mapping.UserID = @UserID
	WHERE GridControlID = @GridControlID

END
GO
