USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vwContractLogins]
AS
SELECT      cl.ContractLoginID, 
			cl.LoginID, 
			cl.PrimaryLogin, 
			c.ContractID, 
			c.ContractTypeID, 
			c.ParentContractID, 
			c.ContractPriceLevelID, 
			c.EffectiveDate, 
            c.ExpirationDate, 
            c.isAutoPay, 
            c.isSigned, 
            c.DocuSignEnvelopeID, 
            c.Notes, 
            c.PromoID,
            c.acceptEChecks, 
            c.Active,
            c.DateCreated, 
            c.WillRenew
FROM		Contract AS c (NOLOCK) 
INNER JOIN	ContractLogins AS cl (NOLOCK) 
				ON c.ContractID = cl.ContractID




GO
