USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[UnpuctuatePartNumber](@OemPartNumber VarChar(50))
RETURNS VarChar(50) AS  
BEGIN 
	DECLARE @i Int
	DECLARE @OemPartNumberBare VarChar(50)

	SELECT @OemPartNumberBare = @OemPartNumber
	SELECT @i = 1
	WHILE @i <= LEN(@OemPartNumberBare) 
	BEGIN
		IF SUBSTRING(@OemPartNumberBare,@i,1) NOT LIKE '[a-z,A-Z,0-9]'
			SELECT @OemPartNumberBare = REPLACE(@OemPartNumberBare, SUBSTRING(@OemPartNumberBare,@i,1), '')
		ELSE
			SELECT @i = @i + 1			
	END


	RETURN(@OemPartNumberBare)
END



GO
