USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	exec [dbo].[WorkOrderReport] @AdminInfoID = 12795314
	exec [dbo].[WorkOrderReport] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~0!All!0!~1!Body!0!~2!Frame!0!~3!Structure!0!~4!Mechanical!0!~24!Electrical!0!~25!Glass!0!~5!Detail!0!~6!Cleanup!0!~8!Other!0!~-1!Refinish!0!~-2!PDR!1044!Pete Rose', @PrintPnLNotes = 1
	exec [dbo].[WorkOrderReport] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~1!Body!0!~2!Frame!0!~3!Structure!0!~4!Mechanical!0!~24!Electrical!0!~25!Glass!0!~5!Detail!0!~6!Cleanup!0!~8!Other!0!~-1!Refinish!0!', @PrintPnLNotes = 1
*/
CREATE  PROCEDURE [dbo].[WorkOrderReport]       
	@AdminInfoID int,
	@LaborTypeTechnicianMapping VARCHAR(5000) = '',
	@PrintPnLNotes  bit = 0,
	@SupplementVersion INT = 0	-- NOTE: this is only used when calling sp "PDR_WorkOrderReport"
AS       
BEGIN              

	-- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.       
	-- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component       
	IF 1=0 BEGIN       
		SET FMTONLY OFF       
	END       
     
	DECLARE @LTEZLaborTypeID INT = 9999;    
    
	DECLARE @LTMapping TABLE    
	(    
		LaborTechnicianMapping VARCHAR(1000)    
	)    
    
	IF(@LaborTypeTechnicianMapping = '')  
	BEGIN
		SET @LaborTypeTechnicianMapping = '~0!All!0'  
	END  
  
	INSERT INTO @LTMapping(LaborTechnicianMapping)    
	SELECT items FROM dbo.Split(@LaborTypeTechnicianMapping,'~')    
    
	DECLARE @LTMappingSplit TABLE    
	(    
		ID INT IDENTITY(1,1),    
		LaborTechnicianMappingSplit VARCHAR(1000)    
	)        
    
	DECLARE @LaborTechnicianMapping TABLE    
	(
		LaborTypeID  INT,    
		LaborTypeText VARCHAR(500),    
		TechnicianID INT,    
		TechnicianName VARCHAR(200)    
	)    
    
	DECLARE @LaborTechMapping VARCHAR(1000)    
    
	DECLARE cursor_ltmapping CURSOR    
	FOR SELECT LaborTechnicianMapping FROM @LTMapping    
    
	OPEN cursor_ltmapping;    
    
	FETCH NEXT FROM cursor_ltmapping INTO @LaborTechMapping    
    
	WHILE @@FETCH_STATUS = 0    
	BEGIN    
    
		DELETE FROM @LTMappingSplit     
    
		INSERT INTO @LTMappingSplit    
		SELECT * FROM string_split(@LaborTechMapping,'!')    
    
		DECLARE @LaborTypeID  INT = NULL,    
		@LaborTypeText  VARCHAR(500) = NULL,    
		@TechnicianID  INT = NULL,    
		@TechnicianName VARCHAR(200) = NULL    
    
		DECLARE @minID INT    
		SELECT @minID = MIN(ID) FROM @LTMappingSplit    
    
		SELECT @LaborTypeID = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID    
    
		SELECT @LaborTypeText = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID + 1    
    
		SELECT @TechnicianID = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID + 2    
      
		SELECT @TechnicianName = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID + 3    
      
		INSERT INTO @LaborTechnicianMapping(LaborTypeID, LaborTypeText, TechnicianID, TechnicianName)    
		VALUES (@LaborTypeID, @LaborTypeText, @TechnicianID, @TechnicianName)    
    
		FETCH NEXT FROM cursor_ltmapping INTO @LaborTechMapping    

	END;    
    
	CLOSE cursor_ltmapping;    
    
	DEALLOCATE cursor_ltmapping;    
    
	IF EXISTS (SELECT LaborTypeID FROM @LaborTechnicianMapping WHERE LaborTypeText IN ('All'))    
	BEGIN    
		SET @LTEZLaborTypeID = 0    
		DELETE FROM @LaborTechnicianMapping WHERE LaborTypeText IN ('All')    
	END    
    
	IF EXISTS (SELECT LaborTypeID FROM @LaborTechnicianMapping WHERE LaborTypeText IN ('Refinish'))    
	BEGIN    
		SET @LTEZLaborTypeID = -1    
	END    
     
	SELECT	*        
	INTO	#processedLines       
	FROM	ProcessedLines
	WHERE	EstimateID = @AdminInfoID 
			AND Supplement = (SELECT MAX(Supplement) FROM ProcessedLines WHERE EstimateID = @AdminInfoID)
       
	UPDATE Details SET Notes = ''       
	FROM #processedLines Details       
       
	IF @PrintPnLNotes = 1       
	BEGIN       

		CREATE TABLE #processedLinesBarCode        
		(       
			LineItemID INT,       
			SectionID INT,       
			Barcode VARCHAR(10)         
		)       
       
		INSERT INTO #processedLinesBarCode(LineItemID,SectionID,Barcode)        
		SELECT LineItemID, EstimationLineItems.SectionID, EstimationLineItems.Barcode       
		FROM #processedLines PL INNER JOIN EstimationLineItems ON PL.LineItemID = EstimationLineItems.ID       
       
		DECLARE @Service_BarCode1 VarChar(10)       
		DECLARE @Year INT         
       
		IF @AdminInfoID > 1583497          
		BEGIN          

			SELECT	@Service_BarCode1 = Vehicle_Service_Xref.Service_Barcode       
					, @Year = Year         
			FROM	VehicleInfo          
					INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataId          
					INNER JOIN Vinn.dbo.Vehicle_Service_Xref ON Vehicle_Service_Xref.VehicleID = VehicleInfo.VehicleID          
			WHERE	EstimationData.AdminInfoID = @AdminInfoID   
		
		END          
		ELSE          
		BEGIN          

			SELECT @Service_BarCode1 = Mitchell3.Dbo.GetServiceBarcode(@AdmininfoID)  
		
		END          
       
		UPDATE	Details 
		SET		Notes = REPLACE(REPLACE(ISNULL('<B>Labor time is for '+ IOHChanges.Part_Desc+'</B><BR>','') + DetailNotes.Notes, '·', ''),'&','&amp;')       
		FROM	#processedLines Details 
				INNER JOIN #processedLinesBarCode PLBC ON Details.LineItemID = PLBC.LineItemID          
				LEFT JOIN Mitchell3.dbo.DetailNotes ON DetailNotes.Service_Barcode = @Service_BarCode1 AND DetailNotes.Barcode = PLBC.barcode         
				LEFT JOIN Mitchell3.dbo.IOHChanges ON IOHChanges.Service_Barcode = @Service_BarCode1 AND IOHChanges.BarcodeIOH = PLBC.barcode        
		WHERE	PLBC.SectionID > 0     
		
	END       
       
	-- Get paint labor details.  The ProcessedLines query sums these together but we need them separated for this report       
	CREATE TABLE #PaintLaborDetails         
	(       
		LineItemID INT
		, LaborTime FLOAT
		, LaborType VARCHAR(20)       
	)       
       
	INSERT INTO #PaintLaborDetails       
	SELECT	EstimationLineLabor.EstimationLineItemsID       
			, EstimationLineLabor.LaborTime       
			, LaborTypes.LaborType       
	FROM	EstimationData       
			LEFT OUTER JOIN EstimationLineItems ON EstimationData.id = EstimationLineItems.EstimationDataID       
			LEFT OUTER JOIN EstimationLineLabor ON EstimationLineItems.id = EstimationLineLabor.EstimationLineItemsID 
													AND EstimationLineLabor.LaborType IN (21, 22, 26, 27, 28) 
													AND EstimationLineLabor.Include = 1       
			LEFT OUTER JOIN LaborTypes ON EstimationLineLabor.LaborType = LaborTypes.id       
	WHERE	EstimationData.AdminInfoID = @AdminInfoID       
			AND EstimationLineLabor.EstimationLineItemsID IS NOT NULL       



	CREATE TABLE #PDRTotals
	(
		PanelName VARCHAR(500)
		, DentCount VARCHAR(500)
		, OversizedDents INT
		, CustomCharge FLOAT
		, Multiplier VARCHAR(200)
		, TotalCharge FLOAT
	)

	IF (EXISTS (SELECT 1 FROM @LTMapping WHERE CHARINDEX('!ALL!', LaborTechnicianMapping) > 0 OR CHARINDEX('!PDR!', LaborTechnicianMapping) > 0))
	BEGIN
		INSERT INTO #PDRTotals
		EXEC [focuswrite].[dbo].[PDR_WorkOrderReport] @AdminInfoID = @AdminInfoID, @SupplementVersion = @SupplementVersion
	END

	SELECT	LineItemID       
			, PartDescription        
			, ActionLong       
			, Category       
			, LaborName       
			, Labor       
			, LaborType       
			, LaborTypeSort       
			, Notes + CASE WHEN Note <> '' THEN '<br/>' ELSE '' END + Note AS Note       
			, Technician    
	FROM	(   
	
				SELECT	Base.* 
						, REPLACE(ISNULL(ExternalNote.Notes, ''), '&', '&amp;') + CASE WHEN ISNULL(ExternalNote.Notes, '') <> '' THEN '<br/>' ELSE '' END + REPLACE(ISNULL(InternalNote.Notes, ''), '&', '&amp;') AS Note       
						, TechnicianName AS Technician    
						-- , '' AS Technician    
				FROM	(

							-- Get the PDR data
							SELECT	0 AS LineItemID
									, PanelName + CASE WHEN ISNULL(DentCount, '') = '' THEN '' ELSE ': ' + DentCount END AS PartDescription
									, '' AS ActionLong
									, PanelName AS Category
									, 'PDR' AS LaborName
									, FORMAT(ISNULL(TotalCharge, 0), 'C') AS Labor
									, 'PDR' AS LaborType
									, 'Otheq' AS LaborTypeSort	-- Order PDR before 'Other'
									, CASE WHEN @PrintPnLNotes = 0 
										THEN '' 
										ELSE CASE WHEN OversizedDents = 0 
												THEN '' 
												ELSE 'Oversize x ' + CAST(OversizedDents AS VARCHAR(10)) 
														+ CASE WHEN ISNULL(Multiplier, '') = '' 
															THEN '' 
															ELSE ', ' + Multiplier 
														END 
												END 
										END AS Notes
							FROM	#PDRTotals
							WHERE	ISNULL(PanelName, '') <> ''

							-- Get the main labor type       
							UNION
							SELECT	processedLines.LineItemID       
									, processedLines.Description AS PartDescription        
									, Action AS ActionLong       
									, Panel AS Category       
									, ExtraLaborType AS LaborName       
									, CASE WHEN LaborIncluded = 1 THEN 'Included' ELSE CAST(ROUND(LaborTotalExtra, 1) AS VARCHAR(10)) + ' hrs' END AS Labor       
									, ExtraLaborType AS LaborType       
									, ExtraLaborType AS LaborTypeSort       
									, processedLines.Notes       
							FROM	#processedLines as processedLines       
									LEFT OUTER JOIN LaborTypes ON (CASE WHEN processedLines.ExtraLaborType = 'Aluminum' THEN 'Detail' ELSE ExtraLaborType END) = LaborTypes.LaborType 
							WHERE	(LaborTotalExtra > 0 OR Action IN ('Replace', 'R&I'))       
									AND	(@LTEZLaborTypeID = 0 OR LaborTypes.ID IN (SELECT LaborTypeID FROM @LaborTechnicianMapping))
									--AND	(@LTEZLaborTypeID = 0 OR LaborTypes.ID IN (SELECT (CASE WHEN LaborTypeID = 5 THEN 32 ELSE LaborTypeID END) FROM @LaborTechnicianMapping))
									AND ForSummary = 1       
									--LaborTotalExtra > 0       
									--OR (@LaborTypeID = 0 OR @LaborTypeID = LaborTypes.ID)       
									--AND ExtraLaborType <> ''       
       
							-- Join the Paint labor       
							UNION        
							SELECT	LineItemID
									, Description AS PartDescription        
									, 'Paint Panel' AS ActionLong       
									, Panel AS Category       
									, 'Refinish' AS LaborName       
									, CAST(ROUND(LaborTotalPaintPanel, 1) AS VARCHAR(10)) + ' hrs' AS Labor       
									, 'Paint Panel' AS LaborType       
									, 'zzzPaintPanel' AS LaborTypeSort       
									, processedLines.Notes       
							FROM	#processedLines processedLines       
							WHERE	LaborTotalPaintPanel > 0 
									AND @LTEZLaborTypeID <= 0     
									AND ForSummary = 1       
       
							UNION       
							SELECT	ProcessedLines.LineItemID       
									, Description AS PartDescription        
									, 'Paint Panel' AS ActionLong       
									, Panel AS Category       
									, 'Refinish' AS LaborName       
									--, CAST(ROUND(LaborTotalPaintPanel + LaborTotalPaint, 1) AS VARCHAR(10)) AS Labor       
									, CAST(ROUND(LaborDetails.LaborTime, 1) AS VARCHAR(10)) + ' hrs' AS Labor       
									, LaborDetails.LaborType AS LaborType       
									, 'zzzPaintPanel' AS LaborTypeSort       
									, processedLines.Notes       
							FROM	#processedLines ProcessedLines       
									LEFT OUTER JOIN #PaintLaborDetails LaborDetails ON ProcessedLines.LineItemID = LaborDetails.LineItemID       
							WHERE	LaborTotalPaintPanel + LaborTotalPaint > 0 
									AND @LTEZLaborTypeID <= 0     
									AND ForSummary = 1       
       
							-- Join the Clearcoat labor       
							UNION        
							SELECT	LineItemID
									, Description AS PartDescription        
									, 'Clearcoat' AS ActionLong       
									, Panel AS Category       
									, ExtraLaborType AS LaborName       
									, CAST(ROUND(LaborTotalClearcoat, 1) AS VARCHAR(10)) + ' hrs' AS Labor       
									, 'Clearcoat' AS LaborType       
									, 'yyyClearcoat' AS LaborTypeSort       
									, processedLines.Notes       
							FROM	#processedLines processedLines       
							WHERE	LaborTotalClearcoat > 0 
									AND @LTEZLaborTypeID <= 0     
									AND ForSummary = 1   
						
						) AS Base       
						LEFT OUTER JOIN EstimationNotes AS ExternalNote ON ExternalNote.EstimationLineItemsID = Base.LineItemID AND ExternalNote.Printed = 1       
						LEFT OUTER JOIN EstimationNotes AS InternalNote ON InternalNote.EstimationLineItemsID = Base.LineItemID AND InternalNote.Printed = 0       
						LEFT OUTER JOIN @LaborTechnicianMapping AS LTM ON LTM.LaborTypeText = (CASE WHEN LaborType = 'Clearcoat' THEN 'Refinish' ELSE LaborName END)    
							-- ON LTM.LaborTypeText = LaborName  
				WHERE	Base.LaborType IS NOT NULL      
				
			) Combined       
       
END 
GO
