USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 9/27/2017 
-- Description:	Gets the status for one message queue row 
-- ============================================= 
CREATE PROCEDURE [dbo].[GetMessageQueueItemStatus] 
	@id			int 
AS 
BEGIN 
 
	SELECT msgid, msgStatus, msgStatusLong 
	FROM MessageQueue 
	WHERE msgid = @id 
 
END 
GO
