USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/4/2020
-- Description:	Add or update a Success Box Contract Synce Log record
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBoxContractLog_Update]
	  @ContractID				int
	, @AddOnID					int
	, @IsSynced					bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF EXISTS (SELECT * FROM SuccessBoxContractLog WHERE ContractID = @ContractID AND AddOnID = @AddOnID)
		BEGIN
			UPDATE SuccessBoxContractLog
			SET IsSynced = @IsSynced
			WHERE ContractID = @ContractID AND AddOnID = @AddOnID
		END
	ELSE
		BEGIN
			-- Only add a new record if the IsSynced value is true.  Setting it to false only applies to already synced contracts
			IF (@IsSynced = 1)
				BEGIN
					INSERT INTO SuccessBoxContractLog
					(ContractID, AddOnID, IsSynced)
					VALUES (@ContractID, @AddOnID, @IsSynced)
				END
		END

END
GO
