USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetGridColumnInfoLoginMapping] 
@LoginID INT
AS
BEGIN
	SELECT ID
		,GridColumnInfoID
		,LoginID
		,Visible
		,SortOrderIndex 
	FROM GridColumnInfoLoginMapping
	WHERE LoginID = @LoginID
END
GO
