USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/28/2020
-- Description: Get parts search details for a part
-- =============================================
CREATE PROCEDURE [dbo].[VehiclePartSearch_PartDetails]
	  @VehicleID		INT
	, @Search1			VARCHAR(20) = null
	, @Search2			VARCHAR(20) = null
	, @Search3			VARCHAR(20) = null
	, @Search4			VARCHAR(20) = null
	, @PartNumber		VARCHAR(20) = null
	, @SectionKey		int
	, @PartDescription	varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Create TABLE #SearchResults 
	(
		  SectionKey			int
		, SectionName		varchar(100)
		, Part_Desc			varchar(100)
		, Barcode			varchar(100)
		, Part_Number		varchar(100)
		, Part_Number_Unpunc		varchar(100)
		, Part_Text			varchar(100)
		, Prtc_Description	varchar(100)
		, FullDescription	varchar(500)
		, Price				money
		, DateRange			varchar(50)
	)

	INSERT INTO #SearchResults
	EXEC VehiclePartSearch 
		  @VehicleID = @VehicleID
		, @Search1 = @Search1
		, @Search2 = @Search2
		, @Search3 = @Search3
		, @Search4 = @Search4
		, @PartNumber = @PartNumber


	SELECT Barcode, Part_Number AS PartNumber, Prtc_Description + ' ' + Part_Text AS PartText, Price, DateRange
	FROM #SearchResults
	WHERE SectionKey = @SectionKey AND Part_Desc = @PartDescription -- LIKE '%' + @PartDescription + '%'

END
GO
