USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [dbo].[CustomReportTemplateList] 105291,0,1,0

CREATE	PROCEDURE [dbo].[CustomReportTemplateList]
		@LoginID			INT,
		@IsDeleted			BIT,
		@CustomReportTemplateTypeID		INT = NULL,
		@IsSystemReport	BIT = NULL
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT	* 
	FROM	CustomReportTemplate
	WHERE	LoginID = ISNULL(@LoginID, LoginID) AND IsDeleted = ISNULL(@IsDeleted, IsDeleted)
	AND		CustomReportTemplateTypeID = ISNULL(@CustomReportTemplateTypeID, CustomReportTemplateTypeID)
	AND		@IsSystemReport	= (CASE WHEN IsSystemReport IS NULL THEN 0 ELSE @IsSystemReport END)
END
GO
