USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/4/2020
-- Description:	Get all Add On Preset Shell records
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPresetShell_GetAll]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM AddOnPresetShell
  
END
GO
