USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DataMigration_Contracts]
	@LoginID int
AS
BEGIN

	-- Get Trial contracts from old system for the new Trial table

	INSERT INTO Trial (LoginID, CreationStamp, StartDate, EndDate, Active, IsDeleted, HasPDR, HasEMS, HasFrameData)
	SELECT 
		  ContractLogins.LoginID
		, TrialContract.DateCreated AS CreationStamp
		, TrialContract.EffectiveDate AS StartDate
		, TrialContract.ExpirationDate AS EndDate
		, ISNULL(TrialContract.Active, 0) AS Active
		, 0
		, 1
		, CASE WHEN ISNULL(EmsAddOn.ContractID, 0) > 0 THEN 1 ELSE 0 END AS HasEMS
		, CASE WHEN ISNULL(FrameDataAddOn.ContractID, 0) > 0 THEN 1 ELSE 0 END AS HasFrameData
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract AS TrialContract ON ContractLogins.ContractID = TrialContract.ContractID
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract AS EmsAddOn ON TrialContract.ContractID = EmsAddOn.ParentContractID AND EmsAddOn.ContractTypeID = 5
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract AS FrameDataAddOn ON TrialContract.ContractID = FrameDataAddOn.ParentContractID AND EmsAddOn.ContractTypeID = 2
	WHERE 
		ContractLogins.LoginID = @LoginID
		AND TrialContract.ContractID IS NOT NULL
		AND TrialContract.ContractTypeID = 1
		AND TrialContract.ContractPriceLevelID IN (43, 462, 463, 482)	



	
	-- Copy the main contracts from Web-Est

		SET IDENTITY_INSERT Contracts on

	INSERT INTO Contracts (ContractID, LoginID, ContractPriceLevelID, DateCreated, EffectiveDate, ExpirationDate, IsSigned, Notes, PromoID, Active, WillRenew, IsDeleted)
	SELECT Contract.ContractID, ContractLogins.LoginID, Contract.ContractPriceLevelID, Contract.DateCreated, Contract.EffectiveDate, Contract.ExpirationDate, 0 AS IsSigned, ISNULL(Contract.Notes, '') AS Notes, ISNULL(Contract.PromoID, 0) AS PromoID, ISNULL(Contract.Active, 0) AS Active, ISNULL(Contract.WillRenew, 0) AS WillRenew, 0 AS IsDeleted
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON ContractLogins.ContractID = Contract.ContractID
	LEFT OUTER JOIN Contracts ON Contract.ContractID = Contracts.ContractID
	WHERE 
		ContractLogins.LoginID = @LoginID
		AND Contract.ContractID IS NOT NULL
		AND Contract.ContractTypeID = 1
		AND Contract.ContractPriceLevelID NOT IN (43, 462, 463, 482)		-- Ignore trials
		AND Contracts.ContractID IS NULL
	
	SET IDENTITY_INSERT Contracts off

	-- Insert Frame Data add ons
	INSERT INTO ContractAddOn(ContractID, ContractPriceLevelID, AddOnType, StartDate, Active, IsDeleted)
	SELECT DISTINCT Contracts.ContractID, Contract.ContractPriceLevelID, Contract.ContractTypeID, Contract.EffectiveDate, ISNULL(Contract.Active, 0), 0
	FROM Contracts
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON Contracts.ContractID = Contract.ParentContractID AND Contract.ContractTypeID = 2
	WHERE Contracts.LoginID = @LoginID AND Contract.ContractID IS NOT NULL AND Contract.Active = 1

	-- Insert EMS add ons
	INSERT INTO ContractAddOn(ContractID, ContractPriceLevelID, AddOnType, StartDate, Active, IsDeleted)
	SELECT DISTINCT Contracts.ContractID, Contract.ContractPriceLevelID, Contract.ContractTypeID, Contract.EffectiveDate, ISNULL(Contract.Active, 0), 0
	FROM Contracts
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON Contracts.ContractID = Contract.ParentContractID AND Contract.ContractTypeID = 5
	WHERE Contracts.LoginID = @LoginID AND Contract.ContractID IS NOT NULL AND Contract.Active = 1


	-- Copy all invoices that are connected to a contract (main or add on)
	SET IDENTITY_INSERT Invoices on

	INSERT INTO Invoices (InvoiceID, LoginID, ContractID, AddOnID, FeeInvoiceID, PaymentNumber, InvoiceTypeID, InvoiceAmount, SalesTax, DueDate, Notes, Summary, Paid, DatePaid, PaymentID, IsDeleted)
	SELECT 
		  Invoice.InvoiceID
		, Invoice.LoginID
		, ISNULL(Contract.ParentContractID, Contract.ContractID) AS ContractID
		, ISNULL(ContractAddOn.ID, 0) AS AddOnID
		, ISNULL(Invoice.FeeInvoiceID, 0) AS FeeInvoiceID
		, Invoice.PaymentNumber
		, Invoice.InvoiceTypeID
		, Invoice.InvoiceAmount
		, Invoice.SalesTax
		, Invoice.DueDate
		, ISNULL(Invoice.Notes, '') AS Notes
		, '' AS Summary
		, ISNULL(Invoice.Paid, 0) AS Paid
		, CASE WHEN ISNULL(Invoice.Paid, 0) = 1 AND Invoice.DatePaid IS NULL THEN Invoice.DueDate ELSE Invoice.DatePaid END AS DatePaid
		, 0
		, 0 AS IsDeleted
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Invoice
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON Invoice.ContractID = Contract.ContractID
	LEFT OUTER JOIN ContractAddOn ON ContractAddOn.ID = (SELECT MAX(ContractAddOn.ID) FROM ContractAddOn WHERE Contract.ParentContractID = ContractAddOn.ContractID AND Contract.ContractTypeID = ContractAddOn.AddOnType)
	LEFT OUTER JOIN Invoices ON Invoice.InvoiceID = Invoices.InvoiceID
	WHERE Invoice.LoginID = @LoginID AND Invoice.ContractID IS NOT NULL AND Invoices.InvoiceID IS NULL



	-- Copy all custom invoices
	INSERT INTO Invoices (InvoiceID, LoginID, ContractID, AddOnID, FeeInvoiceID, PaymentNumber, InvoiceTypeID, InvoiceAmount, SalesTax, DueDate, Notes, Summary, Paid, DatePaid, PaymentID, IsDeleted)
	SELECT 
		  Invoice.InvoiceID
		, Invoice.LoginID
		, ISNULL(Contracts.ContractID, MostRecentContract.ContractID) AS ContractID
		, 0 AS AddOnID
		, ISNULL(Invoice.FeeInvoiceID, 0) AS FeeInvoiceID
		, Invoice.PaymentNumber
		, Invoice.InvoiceTypeID
		, Invoice.InvoiceAmount
		, Invoice.SalesTax
		, Invoice.DueDate
		, ISNULL(Invoice.Notes, '') AS Notes
		, '' AS Summary
		, ISNULL(Invoice.Paid, 0) AS Paid
		, Invoice.DatePaid
		, 0
		, 0 AS IsDeleted
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Invoice
	LEFT OUTER JOIN Contracts ON Contracts.ContractID = (SELECT MAX(ContractID) FROM Contracts WHERE Invoice.LoginID = Contracts.LoginID AND Invoice.DueDate BETWEEN Contracts.EffectiveDate AND Contracts.ExpirationDate AND Contracts.IsDeleted = 0)
	LEFT OUTER JOIN Contracts AS MostRecentContract ON MostRecentContract.ContractID = (SELECT MAX(ContractID) FROM Contracts WHERE LoginID = Invoice.LoginID AND Contracts.IsDeleted = 0)
	LEFT OUTER JOIN Invoices ON Invoice.InvoiceID = Invoices.InvoiceID
	WHERE Invoice.LoginID = @LoginID AND Invoice.ContractID IS NULL AND (Contracts.ContractID IS NOT NULL OR MostRecentContract.ContractID IS NOT NULL) AND Invoices.InvoiceID IS NULL
	ORDER BY Invoice.DueDate DESC

	SET IDENTITY_INSERT Invoices off
END
GO
