USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/15/2019
-- Description:	Get an e-mail by ID
-- =============================================
CREATE PROCEDURE [dbo].[ReportEmail_Get]
	@ID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM ReportEmail
	WHERE ID = @ID
END
GO
