USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/8/2020 
-- Description:	Get all POI Labels 
-- ============================================= 
CREATE PROCEDURE [dbo].[POILabels_GetAll]  
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM POILabels 
	ORDER BY ID 
 
END 
GO
