USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCreateReportHistoryForLogin] 
	@LoginID			int,
	@ReportType			VARCHAR(50)
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT	* 
	FROM	[dbo].[CreateReportHistory] 
	WHERE	LoginID = @LoginID 
	AND		ReportType = @ReportType
	ORDER BY CreatedTimeStamp DESC 
END 
GO
