USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/21/2020
-- Description:	Get all GridInfoLoginMapping records for a grid and login
-- =============================================
CREATE PROCEDURE [dbo].[GridColumnInfoLoginMapping_GetForGridAndLogin]
	    @GridControlID		varchar(50) 
	  , @LoginID			int
AS
BEGIN

	SELECT
		  ISNULL(Mapping.ID, 0) AS ID
		, GridColumnInfo.ID AS GridColumnInfoID
		, @LoginID AS LoginID
		, ISNULL(Mapping.Visible, 1) AS Visible
		, ISNULL(Mapping.SortOrderIndex, -1) AS SortOrderIndex
	FROM GridColumnInfo
	LEFT OUTER JOIN GridColumnInfoLoginMapping Mapping ON GridColumnInfo.ID = Mapping.GridColumnInfoID AND Mapping.LoginID = @LoginID
	WHERE GridControlID = @GridControlID

END
GO
