USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailCustomTemplate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](1000) NULL,
	[Template] [text] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_EmailCustomTemplate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailCustomTemplate] ADD  CONSTRAINT [DF__EmailCust__IsDef__1FACB7AC]  DEFAULT ((0)) FOR [IsDefault]
GO
