USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[SetAdminInfoArchived]
	@AdminInfoId int
AS
UPDATE AdminInfo set Archived = 1 where id = @admininfoid


GO
