USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteJobStatusHistoryByAdminInfo]
	@admininfoid int
AS
DELETE FROM JobStatusHistory 
where admininfoid = @admininfoid


GO
