USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[GetVehicleInfoManualByAdminInfo]
@AdminInfoId int
AS
SELECT 	[VehicleInfoID]
	,[Country]
	,[Manufacturer]
	,[Make]
	,[Model]
	,[ModelYear]
	,[SubModel]
	,vim.[Service_Barcode]
	,[ManualSelection]
FROM VehicleInfoManual vim with(nolock)
INNER JOIN VehicleInfo vi with(nolock)
INNER JOIN EstimationData e with(nolock)
INNER JOIN AdminInfo a with(nolock)
ON a.id = e.AdminInfoId
on e.id = vi.estimationdataid
on vi.id = vim.vehicleinfoid
where a.id = @AdminInfoId


GO
