USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(20001,1) NOT NULL,
	[LoginID] [int] NOT NULL,
	[ContractID] [int] NULL,
	[AddOnID] [int] NULL,
	[FeeInvoiceID] [int] NULL,
	[PaymentNumber] [int] NOT NULL,
	[InvoiceTypeID] [int] NOT NULL,
	[InvoiceAmount] [decimal](8, 2) NOT NULL,
	[SalesTax] [decimal](5, 2) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Notes] [varchar](3000) NULL,
	[Summary] [varchar](500) NULL,
	[Paid] [bit] NOT NULL,
	[DatePaid] [datetime] NULL,
	[PaymentID] [int] NULL,
	[IsDeleted] [bit] NULL,
	[FailStamp] [datetime] NULL,
	[EarlyRenewalStamp] [datetime] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_1] ON [dbo].[Invoices]
(
	[LoginID] ASC,
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_4] ON [dbo].[Invoices]
(
	[ContractID] ASC,
	[InvoiceTypeID] ASC,
	[Paid] ASC,
	[InvoiceAmount] ASC,
	[SalesTax] ASC,
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Invoices_AddOnID] ON [dbo].[Invoices]
(
	[AddOnID] ASC
)
INCLUDE([Paid],[IsDeleted]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
