USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/28/2020
-- Description:	Get the sections with parts found in the parts search
-- =============================================
CREATE PROCEDURE [dbo].[VehiclePartSearch_Sections]
	  @VehicleID		INT
	, @Search1			VARCHAR(20) = null
	, @Search2			VARCHAR(20) = null
	, @Search3			VARCHAR(20) = null
	, @Search4			VARCHAR(20) = null
	, @PartNumber		VARCHAR(20) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Create TABLE #SearchResults 
	(
		SectionKey			int
		, SectionName		varchar(300)
		, Part_Desc			varchar(300)
		, Barcode			varchar(300)
		, Part_Number		varchar(300)
		, Part_Number_Unpunc		varchar(300)
		, Part_Text			varchar(300)
		, Prtc_Description	varchar(300)
		, FullDescription	varchar(500)
		, Price				money
		, DateRange			varchar(50)
	)


	INSERT INTO #SearchResults
	EXEC VehiclePartSearch 
		  @VehicleID = @VehicleID
		, @Search1 = @Search1
		, @Search2 = @Search2
		, @Search3 = @Search3
		, @Search4 = @Search4
		, @PartNumber = @PartNumber


	SELECT SectionKey, SectionName, COUNT(*) AS Parts
	FROM 
	(
		SELECT DISTINCT SectionKey, SectionName, Part_Desc
		FROM #SearchResults
	) Base
	GROUP BY SectionKey, SectionName
END
GO
