USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/18/2017
-- Description:	Get an invoice by ID
-- =============================================
CREATE PROCEDURE [dbo].[GetInvoice] 
	@InvoiceID		int
AS
BEGIN

	SELECT Invoices.*, CASE WHEN ISNULL(Contracts.IsDeleted, 0) = 1 OR ISNULL(ContractAddOn.IsDeleted, 0) = 1 THEN 1 ELSE 0 END AS ContractIsDeleted
	FROM Invoices
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	WHERE InvoiceID = @InvoiceID

END
GO
