USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleValues](
	[VehicleID] [int] NOT NULL,
	[VehicleValue] [money] NULL,
	[EstimateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_VehicleValues] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC,
	[EstimateDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VehicleValues] ADD  CONSTRAINT [DF_VehicleValues_EstimateDate]  DEFAULT (getdate()) FOR [EstimateDate]
GO
