USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[StringCount] (
	@StringToSearch VarChar(5000), 
	@StringToSearchFor VarChar(50))  
RETURNS Int AS  
BEGIN 
	DECLARE @TempString VarChar(5000)
	DECLARE @At Int
	DECLARE @Cnt Int

	SELECT @TempString = @StringToSearch,
		@Cnt = 0,
		@At = CHARINDEX(@StringToSearchFor,@StringToSearch)

	WHILE @At > 0 
	BEGIN
		SELECT @Cnt = @Cnt + 1
		SELECT @At = CHARINDEX(@StringToSearchFor, @StringToSearch, @At + LEN(@StringToSearchFor))
	END

	RETURN(@Cnt)
END



GO
