USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/15/2018 
-- Description:	Get all data panel supplement changes for an estimate 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_EstimateDataPanelSupplementChange_GetByEstimateID] 
	@estimateID		int 
	 
AS 
BEGIN 
	 
	SELECT PDR_EstimateDataPanelSupplementChange.* 
	FROM PDR_EstimateDataPanel 
	JOIN PDR_EstimateDataPanelSupplementChange ON PDR_EstimateDataPanelSupplementChange.EstimateDataPanelID = PDR_EstimateDataPanel.ID 
	WHERE PDR_EstimateDataPanel.AdminInfoID = @estimateID 
 
END 
GO
