USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/24/2022
-- Description:	For the admin page, return Category match summary info for the passed search string.
--				Note that this returns 2 tables.  
--				The first table shows the categories that matched and how many vehicles made the match.
--				The second table shows details of vehicles that don't have a category match.
-- =============================================
CREATE PROCEDURE [dbo].[LinkRule_GetCategoryMatchDetailsSummary] 
	@Search				VARCHAR(4000)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @Service_BarCode VarChar(10)

	-- Get all cars (made on or after 2000) in a temp table
	Create TABLE #AllCars 
	(
		  ServiceBarcode		int
		, Make					varchar(50)
		, Model					varchar(50)
		, YearStart				int
		, YearEnd				int
	)

	INSERT INTO #AllCars
	SELECT 
		  Vehicle_Service_Xref.Service_Barcode
		, Makes.Make
		, Models.Model
		, MIN(VinYear) AS YearStart
		, MAX(VinYear) AS YearEnd
	FROM Vinn.dbo.Vehicle_Service_Xref
	LEFT OUTER JOIN Vinn.dbo.Makes ON Vehicle_Service_Xref.MakeID = Makes.MakeID
	LEFT OUTER JOIN Vinn.dbo.Models ON Vehicle_Service_Xref.ModelID = Models.ModelID
	LEFT OUTER JOIN Mitchell3.dbo.Service ON Vehicle_Service_Xref.Service_Barcode = Service.Service_Barcode
	WHERE Vehicle_Service_Xref.VinYear >= 2000
		AND VinYear BETWEEN from_year AND to_year
	GROUP BY
		  Vehicle_Service_Xref.Service_Barcode
		, Makes.Make
		, Models.Model
	ORDER BY Make, Model



	-- Get a list of all service barcodes and part descriptions that match the searched words
	Create TABLE #Base 
	(
		  ServiceBarcode		int
		, Category				varchar(100)
	)

	DECLARE @Query NVARCHAR(4000) = 
	'SELECT DISTINCT Category.Service_BarCode, dbo.CapFirstSection(
			CASE 
				WHEN Category.Category IS NULL AND SubCategory.Subcategory IS NOT NULL
					THEN SubCategory.Subcategory
	 			WHEN Category.Category IS NOT NULL AND SubCategory.Subcategory IS NULL
					THEN Category.Category
				WHEN Category.Category = SubCategory.Subcategory
					THEN Category.Category 
				ELSE Category.Category + '' \ '' + SubCategory.Subcategory
			END
		) ''SectionName''
	FROM Mitchell3.dbo.Category
	LEFT OUTER JOIN Mitchell3.dbo.Subcategory ON Subcategory.Service_BarCode = Category.Service_BarCode AND Subcategory.nheader = Category.nheader
	WHERE ' + @Search

	INSERT INTO #Base
	EXECUTE sp_executesql @Query

	-- SELECT * FROM #Base

	-- Get all Category matches
	SELECT 
		  Category
		, COUNT(*) AS VehicleCount
	FROM #Base 
	GROUP BY Category
	ORDER BY COUNT(*) DESC

	-- Select all cars that DON'T match the search
	SELECT
		MAX(ServiceBarcode) AS ServiceBarcode
		, Make
		, Model
		, MIN(YearStart) AS YearStart
		, MAX(YearEnd) AS YearEnd
	FROM
	(
		SELECT 
			  AllCars.ServiceBarcode
			, AllCars.Make
			, AllCars.Model
			, MIN(YearStart) AS YearStart
			, MAX(YearEnd) AS YearEnd
		FROM #AllCars AllCars
		LEFT OUTER JOIN #Base Base ON AllCars.ServiceBarcode = Base.ServiceBarcode 
		WHERE Base.ServiceBarcode IS NULL
		GROUP BY 
			  AllCars.ServiceBarcode
			, AllCars.Make
			, AllCars.Model
	) AS Base
	GROUP BY 
		  Make
		, Model
	ORDER BY Make, Model


	DROP TABLE #AllCars
	DROP TABLE #Base
		
END
GO
