USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/24/2017
-- Description:	Gets the job status lookup table
-- =============================================
CREATE PROCEDURE [dbo].[GetJobStatuses]

AS
BEGIN
	SELECT *
	FROM JobStatus
	ORDER BY id
END

GO
