USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/17/2017
-- Description:	Get a Vendor record by it's unique database ID
-- =============================================
CREATE PROCEDURE [dbo].[GetVendorByID] 
	@ID	int
AS
BEGIN
	SELECT *
	FROM Vendor
	WHERE ID = @ID
END

GO
