USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 4/3/2018 
-- Description:	Accept all overlaps.  Copied from App_Functions 
-- ============================================= 
CREATE PROCEDURE [dbo].[Overlaps_AcceptAll] 
	@AdminInfoID	int 
AS 
BEGIN 
	 
	EXECUTE AddCheckedAutoIncludes  
		@AdminInfoID = @AdminInfoID,   
		@IDsChecked = '',  
		@AddAll = 1  
 
	DECLARE @Supplement INT = (SELECT LockLevel FROM EstimationData WHERE AdminInfoID = @AdminInfoID) 
  
	INSERT INTO EstimationOverlap   
	(	 
		  EstimationLineItemsID1 
		, EstimationLineItemsID2 
		, OverlapAdjacentFlag 
		, Amount 
		, Minimum 
		, UserOverride 
		, UserAccepted 
		, UserResponded 
		, SupplementLevel 
	)  
	SELECT 	 
		  ActionID 
		, ISNULL(EstimationOverlapProposed.ResultID,EstimationLineItems.id) 
		, CASE WHEN EstimationOverlapProposed.ActionCode = 9 THEN 'S' ELSE 'O' END 
		--, ISNULL(OverlapAmount,0) 
		, MAX(ISNULL(OverlapAmount,0))		-- Ezra - 3/18/2019 - Sometimes we get lines that are identical except for the Amount, like one for -0.1 and one for -99.9.  In this case we want to ignore the -99.9 ones 
		, MAX(MinimumLabor)					-- Also only get the smallest min labor value 
		, 0 
		, 1 
		, 1  
		, @Supplement 
	FROM EstimationOverlapProposed   
	INNER JOIN EstimationData ON EstimationData.AdminInfoID = EstimationOverlapProposed.AdminInfoID 
	LEFT JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID AND EstimationLineItems.Barcode = EstimationOverlapProposed.BarcodeInc 
	LEFT JOIN EstimationOverlap ON EstimationOverlap.EstimationLineItemsID1 = ActionID AND EstimationOverlap.EstimationLineItemsID2 = ISNULL(EstimationOverlapProposed.ResultID,EstimationLineItems.id) 
	WHERE  
		EstimationOverlapProposed.AdminInfoID = @AdminInfoID   
		AND Reason <> 'Added Because of'    
		AND EstimationOverlapProposed.ActionID IS NOT NULL   
		AND EstimationOverlap.id IS NULL   
		AND ISNULL(EstimationOverlapProposed.ResultID, EstimationLineItems.id) IS NOT NULL  
	GROUP BY ActionID, EstimationOverlapProposed.ResultID, EstimationLineItems.id, EstimationOverlapProposed.ActionCode		-- Ezra - 3/18/2019 - for the Min change above 
 
	UPDATE EstimationLineItems  
	SET PartOfOverhaul = 1  
	FROM EstimationLineItems  
	INNER JOIN   
	(  
		SELECT EstimationLineItems1.ID  
		FROM EstimationOverlap   
		INNER JOIN EstimationLineItems EstimationLineItems1 ON EstimationLineItems1.id = EstimationOverlap.EstimationLineItemsID1  
		INNER JOIN EstimationLineItems EstimationLineItems2 ON EstimationLineItems2.id = EstimationOverlap.EstimationLineItemsID2 
		INNER JOIN EstimationData ON EstimationData.id = EstimationLineItems1.EstimationDataID 
		WHERE EstimationData.AdminInfoID = @AdminInfoID AND EstimationLineItems2.ActionCode = 'Over'	 
	) T ON T.ID = EstimationLineItems.id  
  
	EXEC Overlaps_DeleteProposals @AdminInfoID = @AdminInfoID 
 
	EXECUTE UpdateAdminTotals @AdminInfoID = @AdminInfoID 
 
END 
GO
