USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/28/2018 
-- Description:	Get a rate profile by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfile_Get] 
	@ID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM CustomerProfiles 
	WHERE id = @ID 
END 
GO
