USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
 
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/17/2017 
-- Description:	Get one or more errors based on passed criteria.  Don't have to send most data. 
-- ============================================= 
CREATE PROCEDURE [dbo].[Error_GetList] 
	@LoginID		int, 
	@AdminInfoID	int, 
	@ErrorTag		varchar(255) = NULL, 
	@RangeStart		varchar(25), 
	@RangeEnd		varchar(25), 
	@ErrorText		varchar(2000) = NULL 
	 
AS 
BEGIN 
 
	SELECT *  
	FROM Errors 
	WHERE  
		(ISNULL(@LoginID, 0) = 0 OR LoginID = @LoginID) 
		AND (ISNULL(@AdminInfoID, 0) = 0 OR AdminInfoID = @AdminInfoID) 
		AND (TimeOccurred BETWEEN CAST(@RangeStart AS DATETIME) AND DATEADD(Day,1,CAST(@RangeEnd AS DATETIME))) 
		AND (ISNULL(@ErrorTag, '') = '' OR FixNote = @ErrorTag) 
		AND (ISNULL(@ErrorText, '') = '' OR ErrorText LIKE '%' + @ErrorText + '%') 
 
END
GO
