USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[spGetSubTotalsSV] 
	@AdminInfoID Int 
AS 
 
/* Create the Temp tables that will be used */ 
	CREATE TABLE [dbo].[#GetPartsSV] ( 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[PartSource] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL , 
		[Type] [varchar] (56) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Price] [money] NULL ,		 
		[Sublet] [int] NOT NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSSublet] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Rate] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[DiscountMarkup] [real] NULL , 
		[Taxable] [bit] NULL , 
		[IncludeIn] [tinyint] NULL, 
		[BettermentType] [varchar] (1) NULL , 
		[BettermentAmount] [money] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetLaborSV] ( 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[LaborTypesID] [tinyint] NULL , 
		[LaborType] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Description] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[Sublet] [int] NOT NULL , 
		[LaborCost] [money] NULL , 
		[LaborTime] [float] NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSSublet] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Rate] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[DiscountMarkup] [real] NULL , 
		[Taxable] [int] NOT NULL , 
		[IncludeIn] [tinyint] NULL, 
		[ActionCode] varchar(20), 
		[LaborTotal] [money] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetPartsSVTotals] ( 
		SupplementVersion2 TinyInt , 
		[LineItemTotal] [real] NULL , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[BettermentAmount] [money] NOT NULL, 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[DiscountMarkup] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[Taxable] [bit] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetLaborSVSums] ( 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[LaborCost] [money] NULL , 
		[LaborTime] [float] NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Rate] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[DiscountMarkup] [real] NULL , 
		[Taxable] [int] NOT NULL , 
		[IncludeIn] [tinyint] NULL, 
		[LaborTotal] [money] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetLaborSVTotals] ( 
		[LineItemTotal] [float] NULL , 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[BettermentAmount] [money] NOT NULL, 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[DiscountMarkup] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[Taxable] [int] NOT NULL , 
		[Rate] [real] NULL , 
		[Hours] [float] NULL , 
		[Cost] [money] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetSuppliesSV] ( 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL , 
		[LaborTypesID] [tinyint] NULL , 
		[LaborType] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Description] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[Sublet] [int] NOT NULL , 
		[LaborCost] [money] NULL , 
		[LaborTime] [float] NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSSublet] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Rate] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[DiscountMarkup] [real] NULL , 
		[Taxable] [bit] NULL , 
		[IncludeIn] [tinyint] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetSuppliesSVSums] ( 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[LaborCost] [money] NULL , 
		[LaborTime] [float] NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Rate] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[DiscountMarkup] [real] NULL , 
		[Taxable] [bit] NULL , 
		[IncludeIn] [tinyint] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetSuppliesSVTotals] ( 
		[LineItemTotal] [float] NULL , 
		SupplementVersion2 TinyInt , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[DiscountMarkup] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[Taxable] [bit] NULL , 
		[Rate] [real] NULL , 
		[Hours] [float] NULL , 
		[Cost] [money] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetSubTotalsSV] ( 
		[SupplementVersion2] [int] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[FinalLineItemTotal] [float] NULL , 
		[AdminInfoID] [int] NOT NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[BettermentAmount] [money] NOT NULL,  
		[Taxable] [int] NULL , 
		[Hours] [float] NULL , 
		[Rate] [real] NULL 
	) ON [PRIMARY] 
 
--Get Data 
	-- Total Parts  
	EXECUTE CalcPartsSV @AdminInfoID 
	 
	--SELECT * FROM #GetPartsSV 
 
	-- Get Parts Totals 
	EXECUTE CalcPartsSVTotals 
 
	--SELECT * FROM #GetPartsSVTotals 
 
	-- Total Labor  
	EXECUTE CalcLaborSV @AdminInfoID 
	--SELECT * FROM #GetLaborSV 
 
	-- Get Labor SUme 
	EXECUTE CalcLaborSVSums 
	--SELECT * FROM #GetLaborSVSums 
 
	-- Get Labor Totals 
	EXECUTE CalcLaborSVTotals 
	--SELECT * FROM #GetLaborSVTotals 
 
	-- GetSupplies 
	EXECUTE CalcSuppliesSV 
 
	--GetSuppliesSums 
	EXECUTE CalcSuppliesSVSums 
 
	--GetSuppliesTotals 
	EXECUTE CalcSuppliesSVTotals 
 
	--GetSubTotals 
	EXECUTE CalcSubTotalsSV 
 
	--SELECT * FROM #GetSuppliesSV 
	--SELECT * FROM #GetSuppliesSVSums 
	--SELECT * FROM #GetSuppliesSVTotals 
 
	--SELECT * FROM #GetLaborSVTotals 
 
	--SELECT * FROM #GetSubTotalsSV 
 
	IF object_id('tempdb..#GetSubTotals2') IS NOT NULL 
	BEGIN 
	   INSERT INTO #GetSubTotals2([SupplementVersion2],[RateName],[CapType],[Cap],[FinalLineItemTotal],[AdminInfoID],[BettermentType], [BettermentAmount],[Taxable],[Rate], [Hours]) 
	   select [SupplementVersion2],[RateName],[CapType],[Cap],[FinalLineItemTotal],[AdminInfoID],[BettermentType],[BettermentAmount],[Taxable],[Rate],	[Hours] from #GetSubTotalsSV 
    END 
    ELSE 
    BEGIn 
		select [SupplementVersion2],[RateName],[CapType],[Cap],[FinalLineItemTotal],[AdminInfoID],[BettermentType],[BettermentAmount],[Taxable],[Rate],[Hours] from #GetSubTotalsSV 
    END 
 
	 
	DROP TABLE #GetPartsSVTotals 
	DROP TABLE #GetLaborSVTotals 
	DROP TABLE #GetSuppliesSVTotals 
	DROP TABLE #GetLaborSV 
	DROP TABLE #GetLaborSVSums 
	DROP TABLE #GetPartsSV 
	DROP TABLE #GetSuppliesSV 
	DROP TABLE #GetSuppliesSVSums 
	DROP TABLE #GetSubTotalsSV 
 
GO
