USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[GetLabor]
AS
SELECT        AdminInfo.id 'AdminInfoID', ISNULL(RateTypes.id, 0) 'RateTypesID', ISNULL(RateTypes.RateName, LaborTypes.LaborType) 'RateName', LaborTypes.id 'LaborTypesID', LaborTypes.LaborType, LaborTypes.Description, 
                         CASE WHEN EstimationLineItems.BettermentType <> '' THEN 1 ELSE 0 END 'Betterment', 
                         CASE WHEN EstimationLineItems.SubletOperationFlag <> 0 THEN 1 WHEN EstimationLineLabor.SubletFlag <> 0 THEN 1 ELSE 0 END 'Sublet', Sum(ISNULL(EstimationLineLabor.LaborCost, 0)) 'LaborCost', 
                         Sum(ROUND(ISNULL(EstimationLineLabor.LaborTime, 0), 1)) 'LaborTime', CASE WHEN EstimationLineItems.ActionCode = 'Other' AND (EstimationLineItems.description LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%EPA%') THEN 'MAHW' WHEN EstimationLineItems.ActionCode = 'Other' AND ISNULL(RateTypes.EMSCode1, '') = '' THEN 'OTAC' ELSE RateTypes.EMSCode1 END 'EMSCode1', 
                         RateTypes.EMSBetterment, RateTypes.EMSSublet, ISNULL(CustomerProfileRates3.Rate, ISNULL(CustomerProfileRates2.Rate, CustomerProfileRates.Rate)) 'Rate', CustomerProfileRates.CapType, CustomerProfileRates.Cap, 
                         ISNULL(CustomerProfileRates3.DiscountMarkup, ISNULL(CustomerProfileRates2.DiscountMarkup, CustomerProfileRates.DiscountMarkup)) 'DiscountMarkup', CASE WHEN ISNULL(LaborTypes.id, 0) = 14 OR
                         ISNULL(CustomerProfileRates.Taxable, 0) <> 0 THEN 1 ELSE 0 END 'Taxable', CustomerProfileRates.IncludeIn
FROM            AdminInfo WITH (nolock) INNER JOIN
                         EstimationData WITH (nolock) ON (EstimationData.AdminInfoID = AdminInfo.id) INNER JOIN
                         EstimationLineItems WITH (nolock) ON (EstimationLineItems.EstimationDataID = EstimationData.id) LEFT JOIN
                         EstimationLineItems EstimationLineItemsOverridden WITH (nolock) ON (EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id) INNER JOIN
                         EstimationLineLabor WITH (nolock) ON (EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.id) LEFT JOIN
                         LaborTypes WITH (nolock) ON (LaborTypes.id = EstimationLineLabor.LaborType) LEFT JOIN
                         RateTypes WITH (nolock) ON (RateTypes.id = LaborTypes.RateTypesID) INNER JOIN
                         CustomerProfiles WITH (nolock) ON (CustomerProfiles.id = AdminInfo.CustomerProfilesID) LEFT JOIN
                         CustomerProfileRates WITH (nolock) ON (CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates.RateType = RateTypes.id) LEFT JOIN
                         CustomerProfileRates CustomerProfileRates2 WITH (nolock) ON (CustomerProfileRates2.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates2.RateType = CustomerProfileRates.IncludeIn) LEFT JOIN
                         CustomerProfileRates CustomerProfileRates3 WITH (nolock) ON (CustomerProfileRates3.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates3.RateType = CustomerProfileRates2.IncludeIn)
WHERE        EstimationLineItemsOverridden.ID IS NULL
/*and not exists (select estimationlineitemsid2 from ESTIMATIONOVERLAP with(nolock) where estimationlineitemsid2 = EstimationLineItems.id)*/ GROUP BY AdminInfo.id, RateTypes.id, RateTypes.RateName, LaborTypes.id, 
                         LaborTypes.LaborType, LaborTypes.Description, CASE WHEN EstimationLineItems.BettermentType <> '' THEN 1 ELSE 0 END, 
                         CASE WHEN EstimationLineItems.SubletOperationFlag <> 0 THEN 1 WHEN EstimationLineLabor.SubletFlag <> 0 THEN 1 ELSE 0 END, CASE WHEN EstimationLineItems.ActionCode = 'Other' AND 
                         (EstimationLineItems.Description LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%EPA%') THEN 'MAHW' WHEN EstimationLineItems.ActionCode = 'Other' AND ISNULL(RateTypes.EMSCode1, '') = '' THEN 'OTAC' ELSE RateTypes.EMSCode1 END, 
                         RateTypes.EMSBetterment, RateTypes.EMSSublet, ISNULL(CustomerProfileRates3.Rate, ISNULL(CustomerProfileRates2.Rate, CustomerProfileRates.Rate)), CustomerProfileRates.CapType, CustomerProfileRates.Cap, 
                         ISNULL(CustomerProfileRates3.DiscountMarkup, ISNULL(CustomerProfileRates2.DiscountMarkup, CustomerProfileRates.DiscountMarkup)), CustomerProfileRates.Taxable, CustomerProfileRates.IncludeIn
UNION ALL
SELECT        AdminInfo.id 'AdminInfoID', ISNULL(RateTypes.id, 0) 'RateTypesID', ISNULL(RateTypes.RateName, LaborTypes.LaborType) 'RateName', LaborTypes.id 'LaborTypesID', LaborTypes.LaborType, LaborTypes.Description, 
                         CASE WHEN EstimationLineItems.BettermentType <> '' THEN 1 ELSE 0 END 'Betterment', 
                         CASE WHEN EstimationLineItems.SubletOperationFlag <> 0 THEN 1 WHEN EstimationLineLabor.SubletFlag <> 0 THEN 1 ELSE 0 END 'Sublet', Sum(ISNULL(EstimationLineLabor.LaborCost, 0)) 'LaborCost', 
                         Sum(CASE WHEN EstimationLineLabor.AdjacentDeduction = 1 THEN - CustomerProfilesPaint.AdjacentDeduction WHEN EstimationLineLabor.AdjacentDeduction = 2 THEN - CustomerProfilesPaint.NonAdjacentDeduction ELSE 0 END)
                          'LaborTime', RateTypes.EMSCode1, RateTypes.EMSBetterment, RateTypes.EMSSublet, ISNULL(CustomerProfileRates3.Rate, ISNULL(CustomerProfileRates2.Rate, CustomerProfileRates.Rate)) 'Rate', 
                         CustomerProfileRates.CapType, CustomerProfileRates.Cap, ISNULL(CustomerProfileRates3.DiscountMarkup, ISNULL(CustomerProfileRates2.DiscountMarkup, CustomerProfileRates.DiscountMarkup)) 'DiscountMarkup', 
                         CASE WHEN ISNULL(LaborTypes.id, 0) = 14 OR
                         ISNULL(CustomerProfileRates.Taxable, 0) <> 0 THEN 1 ELSE 0 END 'Taxable', CustomerProfileRates.IncludeIn
FROM            AdminInfo WITH (nolock) INNER JOIN
                         EstimationData WITH (nolock) ON (EstimationData.AdminInfoID = AdminInfo.id) INNER JOIN
                         EstimationLineItems WITH (nolock) ON (EstimationLineItems.EstimationDataID = EstimationData.id) LEFT JOIN
                         EstimationLineItems EstimationLineItemsOverridden WITH (nolock) ON (EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id) INNER JOIN
                         EstimationLineLabor WITH (nolock) ON (EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.id) LEFT JOIN
                         LaborTypes WITH (nolock) ON (LaborTypes.id = EstimationLineLabor.LaborType) LEFT JOIN
                         RateTypes WITH (nolock) ON (RateTypes.id = LaborTypes.RateTypesID) INNER JOIN
                         CustomerProfiles WITH (nolock) ON (CustomerProfiles.id = AdminInfo.CustomerProfilesID) LEFT JOIN
                         CustomerProfileRates WITH (nolock) ON (CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates.RateType = RateTypes.id) LEFT JOIN
                         CustomerProfilesPaint WITH (nolock) ON (CustomerProfilesPaint.CustomerProfilesID = CustomerProfiles.id) LEFT JOIN
                         CustomerProfileRates CustomerProfileRates2 WITH (nolock) ON (CustomerProfileRates2.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates2.RateType = CustomerProfileRates.IncludeIn) LEFT JOIN
                         CustomerProfileRates CustomerProfileRates3 WITH (nolock) ON (CustomerProfileRates3.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates3.RateType = CustomerProfileRates2.IncludeIn)
WHERE        EstimationLineItemsOverridden.ID IS NULL AND ISNULL(EstimationLineLabor.AdjacentDeduction, 0) > 0 AND EstimationLineItems.id NOT IN (12156516, 12156517, 12156562)
/* and not exists (select estimationlineitemsid2 from ESTIMATIONOVERLAP with(nolock) where estimationlineitemsid2 = EstimationLineItems.id)*/ GROUP BY AdminInfo.id, RateTypes.id, RateTypes.RateName, LaborTypes.id, 
                         LaborTypes.LaborType, LaborTypes.Description, CASE WHEN EstimationLineItems.BettermentType <> '' THEN 1 ELSE 0 END, 
                         CASE WHEN EstimationLineItems.SubletOperationFlag <> 0 THEN 1 WHEN EstimationLineLabor.SubletFlag <> 0 THEN 1 ELSE 0 END, RateTypes.EMSCode1, RateTypes.EMSBetterment, RateTypes.EMSSublet, 
                         ISNULL(CustomerProfileRates3.Rate, ISNULL(CustomerProfileRates2.Rate, CustomerProfileRates.Rate)), CustomerProfileRates.CapType, CustomerProfileRates.Cap, ISNULL(CustomerProfileRates3.DiscountMarkup, 
                         ISNULL(CustomerProfileRates2.DiscountMarkup, CustomerProfileRates.DiscountMarkup)), CustomerProfileRates.Taxable, 
                         CustomerProfileRates.IncludeIn
/* added 4/11/10 by Ryan Blade to account for overlap deductions*/ UNION ALL
SELECT DISTINCT 
                         EstimationData.AdminInfoid, ISNULL(RateTypes.id, 0) 'RateTypesID', ISNULL(RateTypes.RateName, LaborTypes.LaborType) 'RateName', LaborTypes.id 'LaborTypesID', LaborTypes.LaborType, LaborTypes.Description, 
                         /*	END 'EstimationLineItemsID1',*/ CASE WHEN EstimationLineItems.BettermentType <> '' THEN 1 ELSE 0 END 'Betterment', 
                         CASE WHEN EstimationLineItems.SubletOperationFlag <> 0 THEN 1 WHEN EstimationLineLabor.SubletFlag <> 0 THEN 1 ELSE 0 END 'Sublet', Sum(ISNULL(EstimationLineLabor.LaborCost, 0)) 'LaborCost', 
                         Sum(CASE WHEN EstimationLineItems.ActionCode = 'Over' THEN - EstimationLineLabor2.LaborTime WHEN EstimationLineItems2.ActionCode = 'Over' THEN - EstimationLineLabor.LaborTime WHEN EstimationOverlap.Amount = 0
                          AND 
                         EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN - EstimationLineLabor2.LaborTime /*			WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN -EstimationLineLabor.LaborTime*/ ELSE
                          isnull(NULLIF (EstimationOverlap.Amount, '-99.9'), 0) END) 'LaborTime', CASE WHEN EstimationLineItems.ActionCode = 'Other' AND (EstimationLineItems.description LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%EPA%') THEN 'MAHW' WHEN EstimationLineItems.ActionCode = 'Other' AND ISNULL(RateTypes.EMSCode1, '') = '' THEN 'OTAC' ELSE RateTypes.EMSCode1 END 'EMSCode1', 
                         RateTypes.EMSBetterment, RateTypes.EMSSublet, ISNULL(CustomerProfileRates3.Rate, ISNULL(CustomerProfileRates2.Rate, CustomerProfileRates.Rate)) 'Rate', CustomerProfileRates.CapType, CustomerProfileRates.Cap, 
                         ISNULL(CustomerProfileRates3.DiscountMarkup, ISNULL(CustomerProfileRates2.DiscountMarkup, CustomerProfileRates.DiscountMarkup)) 'DiscountMarkup', CASE WHEN ISNULL(LaborTypes.id, 0) = 14 OR
                         ISNULL(CustomerProfileRates.Taxable, 0) <> 0 THEN 1 ELSE 0 END 'Taxable', CustomerProfileRates.IncludeIn
FROM            AdminInfo WITH (nolock) INNER JOIN
                         EstimationData WITH (nolock) ON (EstimationData.AdminInfoID = AdminInfo.id) INNER JOIN
                         FocusWrite.Dbo.EstimationLineItems EstimationLineItems WITH (NOLOCK) ON (EstimationLineItems.EstimationDataID = EstimationData.ID) LEFT JOIN
                         FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor WITH (NOLOCK) ON (EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID AND EstimationLineLabor.LaborType IN (1, 2, 3, 4, 5, 6, 8, 24, 25)) LEFT JOIN
                         FocusWrite.dbo.EstimationLineItems EstimationLineItemsMod1 WITH (NOLOCK) ON (EstimationLineItemsMod1.EstimationDataID = EstimationData.ID AND EstimationLineItemsMod1.ModifiesID = EstimationLineItems.ID) LEFT 
                         JOIN
                         Mitchell3.Dbo.Detail Detail WITH (NOLOCK) ON /*The time must be the database value*/ (Detail.Service_BarCode = FocusWrite.Dbo.GetServiceBarcode(EstimationData.AdminInfoID) AND 
                         Detail.barcode = EstimationLineItems.Barcode AND ((Detail.Labor_Hours IS NULL AND EstimationLineLabor.LaborTime IS NULL) OR
                         (Detail.Labor_Hours IS NOT NULL AND EstimationLineLabor.LaborTime IS NOT NULL AND ISNULL(Detail.Labor_Hours, 0) = CONVERT(Int, ISNULL(EstimationLineLabor.LaborTime, 0) * 10)))) INNER JOIN
                         FocusWrite.Dbo.EstimationLineItems EstimationLineItems2 WITH (NOLOCK) ON (EstimationLineItems2.EstimationDataID = EstimationData.ID) LEFT JOIN
                         FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor2 WITH (NOLOCK) ON (EstimationLineLabor2.EstimationLineItemsID = EstimationLineItems2.ID AND EstimationLineLabor2.LaborType IN (1, 2, 3, 4, 5, 6, 8, 24, 25)) LEFT 
                         JOIN
                         FocusWrite.dbo.EstimationLineItems EstimationLineItemsMod2 WITH (NOLOCK) ON (EstimationLineItemsMod2.EstimationDataID = EstimationData.ID AND EstimationLineItemsMod2.ModifiesID = EstimationLineItems2.ID) LEFT 
                         JOIN
                         Mitchell3.Dbo.Detail Detail2 WITH (NOLOCK) ON /*The time must be the database value*/ (Detail2.Service_BarCode = FocusWrite.Dbo.GetServiceBarcode(EstimationData.AdminInfoID) AND 
                         Detail2.barcode = EstimationLineItems2.Barcode AND ((Detail2.Labor_Hours IS NULL AND EstimationLineLabor2.LaborTime IS NULL) OR
                         (Detail2.Labor_Hours IS NOT NULL AND EstimationLineLabor2.LaborTime IS NOT NULL AND ISNULL(Detail2.Labor_Hours, 0) = CONVERT(Int, ISNULL(EstimationLineLabor2.LaborTime, 0) * 10)))) INNER JOIN
                         FocusWrite.Dbo.EstimationOverlap EstimationOverlap WITH (NOLOCK) ON (EstimationOverlap.EstimationLineItemsID1 = EstimationLineItems.id AND EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems2.id) LEFT 
                         JOIN
                         LaborTypes WITH (nolock) ON (LaborTypes.id = EstimationLineLabor.LaborType) LEFT JOIN
                         RateTypes WITH (nolock) ON (RateTypes.id = LaborTypes.RateTypesID) INNER JOIN
                         CustomerProfiles WITH (nolock) ON (CustomerProfiles.id = AdminInfo.CustomerProfilesID) LEFT JOIN
                         CustomerProfileRates WITH (nolock) ON (CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates.RateType = RateTypes.id) LEFT JOIN
                         CustomerProfileRates CustomerProfileRates2 WITH (nolock) ON (CustomerProfileRates2.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates2.RateType = CustomerProfileRates.IncludeIn) LEFT JOIN
                         CustomerProfileRates CustomerProfileRates3 WITH (nolock) ON (CustomerProfileRates3.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates3.RateType = CustomerProfileRates2.IncludeIn)
WHERE        Detail.Service_BarCode = FocusWrite.Dbo.GetServiceBarcode(EstimationData.AdminInfoID) AND EstimationOverlap.UserAccepted <> 0 AND EstimationLineItemsMod1.id IS NULL AND EstimationLineItemsMod2.id IS NULL AND 
                         ISNULL(EstimationLineItems.Suppress, 0) = 0 AND ISNULL(EstimationLineItems2.Suppress, 0) = 0 AND ISNULL(EstimationOverlap.OverlapAdjacentFlag, '') <> 'S'
GROUP BY /*	END ,*/ EstimationData.AdminInfoid, ISNULL(RateTypes.id, 0), ISNULL(RateTypes.RateName, LaborTypes.LaborType), LaborTypes.id, LaborTypes.LaborType, LaborTypes.Description, 
                         CASE WHEN EstimationLineItems.BettermentType <> '' THEN 1 ELSE 0 END, 
                         CASE WHEN EstimationLineItems.SubletOperationFlag <> 0 THEN 1 WHEN EstimationLineLabor.SubletFlag <> 0 THEN 1 ELSE 0 END, CASE WHEN EstimationLineItems.ActionCode = 'Other' AND 
                         (EstimationLineItems.description LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%hazard%' OR
                         EstimationLineItems.ActionDescription LIKE '%EPA%') THEN 'MAHW' WHEN EstimationLineItems.ActionCode = 'Other' AND ISNULL(RateTypes.EMSCode1, '') = '' THEN 'OTAC' ELSE RateTypes.EMSCode1 END, 
                         RateTypes.EMSBetterment, RateTypes.EMSSublet, ISNULL(CustomerProfileRates3.Rate, ISNULL(CustomerProfileRates2.Rate, CustomerProfileRates.Rate)), CustomerProfileRates.CapType, CustomerProfileRates.Cap, 
                         ISNULL(CustomerProfileRates3.DiscountMarkup, ISNULL(CustomerProfileRates2.DiscountMarkup, CustomerProfileRates.DiscountMarkup)), CASE WHEN ISNULL(LaborTypes.id, 0) = 14 OR
                         ISNULL(CustomerProfileRates.Taxable, 0) <> 0 THEN 1 ELSE 0 END, CustomerProfileRates.IncludeIn


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetLabor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetLabor'
GO
