USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[CheckNumeric] (
	@Number VarChar(50)	)
RETURNS Bit AS  
BEGIN 
	DECLARE @i TinyInt
	DECLARE @PeriodCount TinyInt
	DECLARE @Valid Bit

	SELECT @i = 1,
		@Valid = 1,
		@PeriodCount = 0
		
	IF SUBSTRING(@Number,1,1) = '-'
		SELECT @i = 2

	WHILE @i <= LEN(@Number)
	BEGIN	
		IF NOT SUBSTRING(@Number,@i,1) IN ('0','1','2','3','4','5','6','7','8','9')
		BEGIN	
			IF SUBSTRING(@Number,@i,1) = '.'
				SELECT @PeriodCount = @PeriodCount + 1
			ELSE
				SELECT @Valid = 0
		END
		SELECT @i = @i + 1
	END

	SELECT @Valid	= 	CASE	WHEN @Valid = 1 AND @PeriodCount<2 THEN 1
					ELSE 0
				END

	RETURN(@Valid)
END



GO
