USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  VIEW [dbo].[GetEMSTotals]
AS
SELECT	RateName,
	NULL 'Hours',
	NULL 'Cost',
	NULL 'LaborTypeID',
	NULL 'Rate',
	LineItemTotal,
	Taxable,
	CapType,
	Cap,
	DiscountMarkup,
	RateTypesID,
	EMSCode1,
	EMSBetterment,
	AdminInfoID
FROM GetPartsTotals with(nolock)
UNION ALL
SELECT 	RateName,
	Hours,
	Cost,
	NULL 'LaborTypeID',
	Rate,
	LineItemTotal,
	Taxable,
	CapType,
	Cap,
	DiscountMarkup,
	RateTypesID,
	EMSCode1,
	EMSBetterment,
	AdminInfoID
FROM GetLaborTotals with(nolock)
UNION ALL
SELECT 	RateName,
	Hours,
	Cost,
	NULL 'LaborTypeID',
	Rate,
	LineItemTotal,
	Taxable,
	CapType,
	Cap,
	DiscountMarkup,
	RateTypesID,
	EMSCode1,
	EMSBetterment,
	AdminInfoID
FROM GetSuppliesTotals with(nolock)

GO
