USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_AddLoginFailure]
 @LoginName VarChar(50) = NULL,  
 @Organization VarChar(50) = NULL,  
 @Password VarChar(255) = NULL, 
 @USER_ADDR VarChar(255) = NULL   
as
BEGIN
 INSERT INTO LoginFailures WITH (ROWLOCK) (LoginName,Organization,Password,USER_ADDR)   
  VALUES (@LoginName, @Organization, @Password, @USER_ADDR )
END

GO
