USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerList]
	@LoginsID Int,
	@StartDate DateTime,
	@EndDate DateTime,
	@IncludeClosedDeleted BIT= 0
AS
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.   
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component   
	 IF 1=0 BEGIN   
       SET FMTONLY OFF   
     END 

	 SET @EndDate = DATEADD(mm, 59, DATEADD(hh, 23, CAST(CAST(@EndDate AS Date) AS DATETIME)))

	SELECT 
		 ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.LastName, '') AS Name
	  , tbl_ContactPerson.Email AS EmailAddress  
	  , tbl_ContactPerson.Phone1 AS PhoneNumber
		, ISNULL(tbl_Address.Address1, '') + ' ' + ISNULL(tbl_Address.City, '') + CASE WHEN (ISNULL(tbl_Address.Address1, '') + ISNULL(tbl_Address.City, '') + ISNULL(tbl_Address.State, '')) <> '' THEN ', ' ELSE '' END + ISNULL(tbl_Address.State, '') 'Address'
		, CASE	
			WHEN VehicleInfo.VehicleID = 0 THEN
				VehicleInfoManual.ModelYear + ' ' + 
				VehicleInfoManual.Make + ' ' +
				VehicleInfoManual.Model + ' ' + 
				VehicleInfoManual.SubModel
			ELSE
				CAST(veh.VinYear AS VARCHAR(10)) + ' ' + Makes.Make + ' ' + Models.Model + ' '+ Submodels.Submodel
		  END 'Vehicle'
		--, AdminInfo.GrandTotal AS Total
		, CAST(REPLACE(ISNULL(AdminInfo.GrandTotal, '0'), ',', '') AS float) AS Total
	FROM AdminInfo
	LEFT JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.ID

	-- Join customer info
	LEFT OUTER JOIN Customer ON AdminInfo.CustomerID = Customer.ID
	LEFT OUTER JOIN tbl_ContactPerson ON Customer.ContactID = tbl_ContactPerson.ContactID
	LEFT OUTER JOIN tbl_Address ON Customer.AddressID = tbl_Address.AddressID

	-- Join vehicle data
	LEFT OUTER JOIN VehicleInfo ON VehicleInfo.EstimationDataID = EstimationData.ID
	LEFT OUTER JOIN Vinn.dbo.Vehicle_Service_Xref veh ON veh.VehicleID = VehicleInfo.VehicleID
	LEFT OUTER JOIN Vinn.dbo.Makes ON veh.MakeID = Makes.MakeID
	LEFT OUTER JOIN Vinn.dbo.Models ON veh.ModelID = Models.ModelID
	LEFT OUTER JOIN Vinn.dbo.Submodels ON veh.SubmodelID = Submodels.SubmodelID

	LEFT OUTER JOIN VehicleInfoManual ON VehicleInfoManual.VehicleInfoID = VehicleInfo.ID

	-- Get the most recent job status
	LEFT OUTER JOIN JobStatusHistory ON JobStatusHistory.ID = (SELECT MAX(id) FROM JobStatusHistory WHERE AdminInfoID = AdminInfo.ID)

	WHERE 
		AdminInfo.CreatorID = @LoginsID
		AND JobStatusHistory.JobStatusID = 3
		AND JobStatusHistory.ActionDate BETWEEN @StartDate AND @EndDate
  AND LEN(TRIM(ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.LastName, ''))) > 0
  AND Deleted = (CASE WHEN @IncludeClosedDeleted = 1 THEN Deleted ELSE @IncludeClosedDeleted END)   
	ORDER BY ISNULL(tbl_ContactPerson.LastName, ''), ISNULL(tbl_ContactPerson.FirstName, '')





GO
