USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
7/31/2023 - EVB: Fixed issue with the handling expired loan apps that had no other activity

EXEC [dbo].[Wisetack_FinancingReportLoanApplications_Get] 
EXEC [dbo].[Wisetack_FinancingReportLoanApplications_Get] @RangeStart = '2023-05-01', @RangeEnd = '2023-05-25', @MerchantName = 'eb'
EXEC [dbo].[Wisetack_FinancingReportLoanApplications_Get] @LoanAppStatus = 'ALL_WITH_ACTIVITY'
*/
CREATE PROCEDURE [dbo].[Wisetack_FinancingReportLoanApplications_Get]
	@RangeStart DATETIME = null,
	@RangeEnd DATETIME = null,
	@LoginID INT = null,
	@MerchantName VARCHAR(200) = null,	
	@LoanAppStatus VARCHAR(200) = 'ALL',
	@EstimateID INT = null,
	@CustomerName VARCHAR(200) = null
AS
BEGIN
SET NOCOUNT ON

	SELECT	MerchantID,
			MerchantName,
			LoginID,
			EstimateID,
			CustomerName,
			TransactionID,
			EstimateGrandTotal,
			MaximumAmount, 
			RequestedLoanAmount, 
			ApprovedLoanAmount,
			LoanApplicationLink,
			LoanApplicationStatus,
			ApplicationStartDate,
			DateOfLastUpdate,
			ExpirationDate
	FROM	
	(
		SELECT		Logins.WisetackMerchantID AS MerchantID,
					Logins.CompanyName AS MerchantName,
					Logins.ID AS LoginID,
					AdminInfo.ID AS EstimateID,
					ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') AS CustomerName,
					AdminInfo.WisetackTransactionID AS TransactionID,
					AdminInfo.GrandTotal AS EstimateGrandTotal,
					loanApp.MaximumAmount, 
					loanApp.RequestedLoanAmount, 
					loanApp.ApprovedLoanAmount,
					AdminInfo.WisetackPaymentLink AS LoanApplicationLink,
					loanApp.ChangedStatus AS LoanApplicationStatus,
					loanApp.LoanCreatedAt AS ApplicationStartDate,
					loanApp.CreatedDate AS DateOfLastUpdate,
					loanApp.ExpirationDate,
					ROW_NUMBER() OVER (PARTITION BY AdminInfo.WisetackTransactionID ORDER BY CreatedDate DESC) as RowNumber
		FROM		AdminInfo  WITH (NOLOCK)
		INNER JOIN	Logins WITH (NOLOCK) ON Logins.ID = AdminInfo.CreatorID
		LEFT JOIN	WisetackCallbackLoanApplication AS loanApp WITH (NOLOCK) ON AdminInfo.WisetackTransactionID = loanApp.TransactionID 
					AND (SELECT Count(1) FROM WisetackCallbackLoanApplication la WHERE la.TransactionID = AdminInfo.WisetackTransactionID AND la.ChangedStatus <> 'EXPIRED') > 0
		LEFT JOIN	Customer  WITH (NOLOCK) ON AdminInfo.CustomerID = Customer.ID
		LEFT JOIN	tbl_ContactPerson AS person with(nolock) ON Customer.ContactID = person.ContactID
		WHERE		(ISNULL(@LoginID, 0) = 0 OR Logins.ID = @LoginID)
					AND (ISNULL(@EstimateID, 0) = 0 OR AdminInfo.ID = @EstimateID)
					AND (ISNULL(@MerchantName, '') = '' OR Logins.CompanyName LIKE '%' + @MerchantName + '%')
					AND (ISNULL(@CustomerName, '') = '' OR ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') LIKE '%' + @CustomerName + '%')
					AND ISNULL(AdminInfo.WisetackPaymentLink, '') <> '' 
					AND (ISNULL(loanApp.EventType, '') <> 'LOAN_PAYOUT' OR 
						(SELECT Count(1) FROM WisetackCallbackLoanApplication la WHERE la.TransactionID = AdminInfo.WisetackTransactionID AND la.EventType <> 'LOAN_PAYOUT') = 0)
	) AS a
	WHERE	RowNumber = 1 			
			AND (ISNULL(@RangeStart, '') = '' OR DateOfLastUpdate >= @RangeStart)
			AND (ISNULL(@RangeEnd, '') = '' OR DateOfLastUpdate <= @RangeEnd)
			AND (ISNULL(@LoginID, 0) = 0 OR LoginID = @LoginID)
			
			AND (ISNULL(@LoanAppStatus, 'ALL') = 'ALL' OR LoanApplicationStatus = @LoanAppStatus OR 
				(@LoanAppStatus = 'ALL_WITH_ACTIVITY' AND ISNULL(LoanApplicationStatus, '') <> '') OR 
				(@LoanAppStatus = 'INCOMPLETE' 
					AND (ISNULL(LoanApplicationStatus, '') = 'INITIATED' OR  ISNULL(LoanApplicationStatus, '') = 'ACTIONS REQUIRED')) OR
				(@LoanAppStatus = 'APPROVED' 
					AND (ISNULL(LoanApplicationStatus, '') = 'AUTHORIZED' OR  ISNULL(LoanApplicationStatus, '') = 'LOAN TERMS ACCEPTED')) OR
				(@LoanAppStatus = 'PAID' 
					AND (ISNULL(LoanApplicationStatus, '') = 'LOAN CONFIRMED' OR  ISNULL(LoanApplicationStatus, '') = 'SETTLED')))
	ORDER BY DateOfLastUpdate DESC, EstimateID DESC

END
GO
