USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Trial_Get] 
	@ID					int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
	SELECT Trial.* , (SalesRep.FirstName + ' ' + SalesRep.LastName) As ModifiedByName
	FROM Trial 
	LEFT JOIN dbo.SalesRep ON Trial.ModifiedBy = SalesRep.SalesRepID
	WHERE ID = @ID 
END 
GO
