USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
   
-- =======================================================================
-- Author:		Eric Bahns    
-- Create date: 12/29/2022 
-- Description: Updates just the LineNumber field on EstimationLineItems 
-- =======================================================================
CREATE PROCEDURE [dbo].[UpdateEstmateLineItemLineNumber]    
 @id   int, 
 @LineNumber int 
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
    
UPDATE [dbo].[EstimationLineItems] SET LineNumber = @LineNumber WHERE Id = @id 
END    
GO
