USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/1/2021
-- =============================================
CREATE PROCEDURE [dbo].[AddOn_GetTotalForEstimate]
	@EstimateID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SupplementVersion INT = 
	(SELECT LockLevel
	FROM EstimationData 
	WHERE AdminInfoID = @EstimateID)


	Create TABLE #Table 
	(
		  SortOrder		int
		, Type			varchar(200)
		, Note			varchar(100)
		, Amount		money
	)

	INSERT INTO #Table
	EXEC [dbo].[EstimateReport_GetTotals] 
		  @AdminInfoID = @EstimateID	
		, @SupplementVersion = @SupplementVersion  
		, @AddOnsOnly	= 1


	SELECT Amount
	FROM #Table
	WHERE Type = 'Grand Total'
END
GO
