USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RenewalSurvey](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[ContractID] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[Reason] [varchar](50) NULL,
	[Comments] [varchar](2000) NULL,
 CONSTRAINT [PK_RenewalSurvey] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
