USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DataMigration_Contracts_OLD]
	@LoginID int
AS
BEGIN

	-- Ezra - 12/9/2019 - this is a backup copy of the old import script before the new Contracts and Invoices table

	SET IDENTITY_INSERT ContractLogins on
	INSERT INTO [ContractLogins]
			   (ContractLoginID
			   ,[ContractID]
			   ,[LoginID]
			   ,[PrimaryLogin])
	select *
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins
	where LoginID = @LoginID
	SET IDENTITY_INSERT ContractLogins off
	
	
	SET IDENTITY_INSERT Contract on

	INSERT INTO [Contract]
			   (ContractID
			   ,[ContractTypeID]
			   ,[ParentContractID]
			   ,[ContractPriceLevelID]
			   ,[EffectiveDate]
			   ,[ExpirationDate]
			   ,[isAutoPay]
			   ,[isSigned]
			   ,[DocuSignEnvelopeID]
			   ,[Notes]
			   ,[PromoID]
			   ,[acceptEChecks]
			   ,[Active]
			   ,[DateCreated]
			   ,[WillRenew])
	 select *
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract
	where contractid in
	( 
		select ContractID
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins
		where LoginID = @LoginID
	)
	AND contractid NOT IN (SELECT ContractID FROM Contract)
	
	SET IDENTITY_INSERT Contract off


	
	 
	-- Don't think this table is used
	/*
	INSERT INTO [Contract_Unused]
			   ([ContractID]
			   ,[LoginID]
			   ,[ContractPriceLevelID]
			   ,[EffectiveDate]
			   ,[ExpirationDate]
			   ,[DateCreated]
			   ,[DateDeleted]) 
	select *
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract_Unused
	where LoginID = @LoginID
	*/
	
	SET IDENTITY_INSERT ContractExtension on
	INSERT INTO [ContractExtension]
			   (ContractExtID
			   ,LoginID
			   ,[SalesRep]
			   ,[extendFrom]
			   ,[Days]
			   ,[ExtendTo]
			   ,[ExtendedDate])
	select *
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractExtension
	where LoginID = @LoginID
	AND ContractExtID NOT IN (SELECT ContractExtID FROM ContractExtension)
	SET IDENTITY_INSERT ContractExtension off
		


	SET IDENTITY_INSERT Invoice on
	INSERT INTO [Invoice]
			(InvoiceID
			   ,[LoginID]
			   ,[ContractID]
			   ,[FeeInvoiceID]
			   ,[PaymentNumber]
			   ,[InvoiceTypeID]
			   ,[InvoiceAmount]
			   ,[SalesTax]
			   ,[DueDate]
			   ,[Notes]
			   ,[Paid]
			   ,[DatePaid]
			)
     
	select 
		[InvoiceID]
		,[LoginID]
		,[ContractID]
		,[FeeInvoiceID]
		,[PaymentNumber]
		,[InvoiceTypeID]
		,[InvoiceAmount]
		,[SalesTax]
		,[DueDate]
		,[Notes]
		,[Paid]
		,[DatePaid]
			
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Invoice
	where LoginID = @LoginID AND isnull(ContractID, 0) > 0
	AND InvoiceID NOT IN (SELECT InvoiceID FROM Invoice)

	SET IDENTITY_INSERT Invoice off


	INSERT INTO [Contract_DW]
			   ([LoginID]
			   ,[ContractID]
			   ,[DocuSignEnvelopeID]
			   ,[LoginName]
			   ,[LoginOrganization]
			   ,[Password]
			   ,[CustomerName]
			   ,[EffectiveDate]
			   ,[ExpirationDate]
			   ,[RenewalDate]
			   ,[ContractPriceLevelID]
			   ,[PriceLevel]
			   ,[TermDescription]
			   ,[LevelTerm]
			   ,[NumberOfPayments]
			   ,[PaymentsMade]
			   ,[PaymentsRemaining]
			   ,[DepositRequired]
			   ,[TermTotal]
			   ,[TotalPaid]
			   ,[TotalRemaining]
			   ,[NextInvoiceAmount]
			   ,[NextInvoiceDueDate]
			   ,[NextPriceLevel]
			   ,[NextContractPriceLevelID]
			   ,[isRenewed]
			   ,[UnpaidCustomInvoiceTotal]
			   ,[DaysSinceEffectiveDate]
			   ,[LoginExpireDate]
			   ,[hasActiveWebEstContract]
			   ,[hasFrameDataContract]
			   ,[hasEMSContract]
			   ,[hasUnsignedContract]
			   ,[hasExpiredContract]
			   ,[hasUnpaidFirstInvoice]
			   ,[hasOverdueInvoice]
			   ,[isManuallyDisabled]
			   ,[hasExpiredLogin]
			   ,[hasSiteAccess]
			   ,[DatePopulated])
   
	select *
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract_DW
	where LoginID = @LoginID 
	AND contractid NOT IN (SELECT ContractID FROM Contract_DW)

END
GO
