USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/11/2021
-- =============================================
CREATE PROCEDURE [dbo].[GetWebEstExpiration]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Result DATETIME

    SELECT @Result = Contract.ExpirationDate
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins 
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON ContractLogins.ContractID = Contract.ContractID

	-- 1/28/2021 - Ezra - Don't require a paid invoice, some contracts in WE have custom invoices that aren't attached to the contract.
	--JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Invoice ON Contract.ContractID = Invoice.InvoiceID -- AND Invoice.Paid = 1
	WHERE 
		ContractLogins.LoginID = @LoginID
		AND Contract.ContractTypeID = 1
		AND Contract.ExpirationDate > DATEADD(month, -1, GETDATE())
		AND Contract.Active = 1
	ORDER BY ContractLogins.LoginID

	SELECT @Result

END
GO
