USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContractAddOnReport]   
    @contractAddOnDate	DateTime    
AS    
BEGIN    
	 -- SET NOCOUNT ON added to prevent extra result sets from    
	 -- interfering with SELECT statements.    
	--  [dbo].[ContractAddOnReport] '07/03/2021'
	 SET NOCOUNT ON;    
    
	SELECT AddOnType AS AddOnTypeID, ContractType.Type, 
	-- Cont ractType.ProductDescription, 
	COUNT(ContractAddOn.ContractID) AS ContractCount 
	FROM dbo.Contracts INNER JOIN dbo.ContractAddOn  
	ON Contracts.ContractID = ContractAddOn.ContractID 
	INNER JOIN dbo.Invoices ON Invoices.AddOnID = ContractAddOn.ID AND Invoices.Paid = 1 
	INNER JOIN dbo.ContractType ON ContractType.ContractTypeID = ContractAddOn.AddOnType 
	WHERE Contracts.Active = 1 AND Contracts.IsDeleted = 0  
	AND ContractAddOn.Active = 1 AND ContractAddOn.IsDeleted = 0 
	AND Invoices.IsDeleted = 0 AND (@contractAddOnDate BETWEEN ContractAddOn.StartDate AND Contracts.ExpirationDate)
	GROUP BY AddOnType, ContractType.Type-- , ContractType.ProductDescription
	ORDER BY AddOnType ASC; 
    
END  
GO
