USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/20/23
-- Description:	In the Mitchel database some part descriptions end with -M or -S, but are spaced out to the at the end of the 40 characters.
--				This function removes the extra spaces, turning:
--				UPR COOLING TUBE                      -M
--				int
--				UPR COOLING TUBE -M
-- =============================================
CREATE FUNCTION [dbo].[ProcessPartDescrption]
(
	@Input			varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
	
	SET @Input = TRIM(@Input)
	DECLARE @LastTwoCharacters VARCHAR(3) = SUBSTRING(@Input, LEN(@INPUT) - 1, 2)

	IF @LastTwoCharacters IN ('-M', '-S')
		BEGIN
			DECLARE @Beginning VARCHAR(40) = TRIM(SUBSTRING(@Input, 0, LEN(@Input) - 2))

			SET @Input = @Beginning + ' ' + @LastTwoCharacters
		END

	RETURN @Input

END
GO
