USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstimateReport_GetLineItems_Supplement]   
	@AdminInfoID		int,  
	@ImageDirectory		VARCHAR(200) = '',  
	@SupplementVersion	INT = 0,
	@PdrOnly			INT = 0  
AS 
BEGIN 
 
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.   
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component   
	 IF 1=0 BEGIN   
       SET FMTONLY OFF   
     END   
 
	DECLARE @PreviousSup INT = @SupplementVersion - 1

  	-- EOR  
	SELECT DISTINCT
		Base.* 
		, CASE WHEN Base.LaborIncluded = 1 AND Previous.LaborIncluded = 0 THEN OverlapSupplement ELSE 0 END AS IncludeAdded
	INTO #EOR
	FROM 
	(
		SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter, OriginalID) AS LineNumberCalculated, *  
		FROM ProcessedLines   
		WHERE 
			EstimateID = @AdminInfoID
			AND Supplement = @SupplementVersion
			AND ForSummary = 1 
			AND PartSourceModified = 0	
			AND OperationDescription NOT LIKE '%Delete Line%'
	) Base
	LEFT OUTER JOIN 
	(
		SELECT LineItemID, LaborIncluded
		FROM  ProcessedLines   
		WHERE 
			EstimateID = @AdminInfoID
			AND SupplementDisplay = (@SupplementVersion - 1)
			AND ForSummary = 1 
			AND PartSourceModified = 0	
			AND OperationDescription NOT LIKE '%Delete Line%'
	) Previous
	ON Base.LineItemID = Previous.LineItemID
	ORDER BY GroupNumber, Sorter, OriginalID 

	UPDATE #EOR
	SET
		 SupplementDisplay = dbo.Biggest(SupplementDisplay, IncludeAdded)
		 , SupplementVersion = dbo.Biggest(SupplementVersion, IncludeAdded)



	DECLARE @ShowDollars BIT = 
	(
		SELECT TOP 1 ISNULL(Dollars, 0) AS Dollars
		FROM AdminInfo
		LEFT OUTER JOIN CustomerProfilePrint ON AdminInfo.CustomerProfilesID = CustomerProfilePrint.CustomerProfilesID
		WHERE AdminInfo.ID = @AdminInfoID
	)

	------------------------------------------------------------------------------------------------------------------------------------  
	-- Select the supplement lines  
	SELECT 
		  ISNULL(EORLineNumber.LineNumberCalculated, ProcessedLines.LineNumber) AS LineNumberCalculated
		, ProcessedLines.*  
		, CASE WHEN @ShowDollars = 1 THEN ProcessedLines.LaborSummaryPaintD ELSE ProcessedLines.LaborSummaryPaintH END AS LaborSummaryPaint
		, CASE WHEN @ShowDollars = 1 THEN ProcessedLines.LaborSummaryPaintPanelD ELSE ProcessedLines.LaborSummaryPaintPanelH END AS LaborSummaryPaintPanel
		, CASE WHEN @ShowDollars = 1 THEN ProcessedLines.LaborSummaryExtraD ELSE ProcessedLines.LaborSummaryExtraH END AS LaborSummaryExtra
	FROM ProcessedLines  
	LEFT OUTER JOIN #EOR AS EORLineNumber ON ProcessedLines.OriginalID > 0 AND ProcessedLines.OriginalID = EORLineNumber.OriginalID
	LEFT JOIN #EOR ON ProcessedLines.ModifiedID = #EOR.LineItemID  
  
	WHERE  
		ProcessedLines.EstimateID = @AdminInfoID
		--AND ProcessedLines.Action <> 'PDR Matrix'
		AND
		(
			--ISNULL(ProcessedLines.SupplementDisplay, 0) = @SupplementVersion
			-- Ezra - 2/6/2023 - the above line was showing duplicate lines for every future supplement.  
			(ISNULL(ProcessedLines.SupplementDisplay, 0) = @SupplementVersion AND ISNULL(ProcessedLines.Supplement, 0) <= @SupplementVersion)
			OR 
			(
				ProcessedLines.LaborIncluded = 1 And ProcessedLines.OverlapSupplement = @SupplementVersion
			)
		)  
		AND @SupplementVersion > 0 
		AND ProcessedLines.OperationDescription NOT LIKE '%Delete Line%' 
  
	------------------------------------------------------------------------------------------------------------------------------------  
	-- Add the PDR lines from the last supplement.  These don't work int he above query because the LineItemID is the same for all PDR lines  
	UNION  
  
	SELECT 
		  ISNULL(EORLineNumber.LineNumberCalculated, ProcessedLines.LineNumber) AS LineNumberCalculated
		, ProcessedLines.*  
		, CASE WHEN @ShowDollars = 1 THEN ProcessedLines.LaborSummaryPaintD ELSE ProcessedLines.LaborSummaryPaintH END AS LaborSummaryPaint
		, CASE WHEN @ShowDollars = 1 THEN ProcessedLines.LaborSummaryPaintPanelD ELSE ProcessedLines.LaborSummaryPaintPanelH END AS LaborSummaryPaintPanel
		, CASE WHEN @ShowDollars = 1 THEN ProcessedLines.LaborSummaryExtraD ELSE ProcessedLines.LaborSummaryExtraH END AS LaborSummaryExtra
	FROM ProcessedLines  
	LEFT OUTER JOIN #EOR AS EORLineNumber ON ProcessedLines.OriginalID > 0 AND ProcessedLines.OriginalID = EORLineNumber.OriginalID
	LEFT JOIN #EOR ON #EOR.LineItemID = ProcessedLines.ModifiedID  
  
	-- For PDR join in the ForSummary line with this line item ID to get the calculated line number  
	LEFT OUTER JOIN #EOR PDREOR ON ProcessedLines.Action = 'PDR Matrix' AND PDREOR.LineItemID = ProcessedLines.LineItemID AND PDREOR.ForSummary = 1  
  
	WHERE   
		ProcessedLines.EstimateID = @AdminInfoID
		AND ProcessedLines.Action = 'PDR Matrix'   
		AND ProcessedLines.SupplementVersion = @SupplementVersion - 1   
		AND (ProcessedLines.Added = 1 OR ProcessedLines.Removed = 1)  
		AND ProcessedLines.Supplement = @SupplementVersion
  
END 
GO
