USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[aaaDeleteEstimate]
	@AdminInfoID INT
AS
BEGIN

	DECLARE @EstimationDataID INT = (SELECT id FROM EstimationData WHERE AdminInfoID = @AdminInfoID)

	DELETE FROM AdminInfo WHERE id = @AdminInfoID
	DELETE FROM EstimationData WHERE AdminInfoID = @AdminInfoID

	DELETE FROM EstimationOverlap WHERE EstimationLineItemsID1 IN (SELECT id FROM EstimationLineItems WHERE EstimationDataID = @EstimationDataID) OR EstimationLineItemsID2 IN (SELECT id FROM EstimationLineItems WHERE EstimationDataID = @EstimationDataID)
	DELETE FROM EstimationNotes WHERE EstimationLineItemsID IN (SELECT id FROM EstimationLineItems WHERE EstimationDataID = @EstimationDataID)
	DELETE FROM VehicleInfo WHERE EstimationDataId = @EstimationDataID
	DELETE FROM JobStatusHistory WHERE AdminInfoID = @AdminInfoID
	DELETE FROM Reports WHERE AdminInfoID = @AdminInfoID

	DECLARE @CustomerProfileID INT = (SELECT id FROM CustomerProfiles WHERE AdminInfoID = @AdminInfoID)
	--DELETE FROM CustomerProfileEditHistory WHERE CustomerProfileID = @CustomerProfileID
	DELETE FROM CustomerProfilePresetsLabor WHERE CustomerProfilePresetsID IN (SELECT id FROM CustomerProfilePresets WHERE CustomerProfilesID = @CustomerProfileID)
	DELETE FROM CustomerProfilePresetsNotes WHERE CustomerProfilePresetsID IN (SELECT id FROM CustomerProfilePresets WHERE CustomerProfilesID = @CustomerProfileID)
	DELETE FROM CustomerProfilePresets WHERE CustomerProfilesID = @CustomerProfileID
	DELETE FROM CustomerProfilePrint WHERE CustomerProfilesID = @CustomerProfileID
	DELETE FROM CustomerProfileRates WHERE CustomerProfilesID = @CustomerProfileID
	DELETE FROM CustomerProfilesMisc WHERE CustomerProfilesID = @CustomerProfileID
	DELETE FROM CustomerProfilesPaint WHERE CustomerProfilesID = @CustomerProfileID
	DELETE FROM CustomerProfiles WHERE AdminInfoID = @AdminInfoID

	DELETE FROM EstimationImages WHERE AdminInfoID = @AdminInfoID

	DELETE FROM EstimationLineLabor WHERE EstimationLineItemsID IN (SELECT id FROM EstimationLineItems WHERE EstimationDataID = @EstimationDataID)
	DELETE FROM EstimationLineItems WHERE EstimationDataID = @EstimationDataID

	DELETE FROM WebEstImportLog WHERE AdminInfoID = @AdminInfoID
END
GO
