USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/23/2021
-- =============================================
CREATE PROCEDURE [dbo].[LoginsAutoRenew_GetLoginsForRenewal]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT LoginsAutoRenew.LoginID
	FROM LoginsAutoRenew

	-- Find any auto renew accounts with a contract that expires today
	JOIN Contracts ON 
		LoginsAutoRenew.LoginID = Contracts.LoginID 
		AND CAST(Contracts.ExpirationDate AS DATE) = CAST(GETDATE() AS DATE)
		AND ISNULL(Contracts.IsDeleted, 0) = 0
		AND Contracts.Active = 1 AND Contracts.IsSigned = 1

	-- Join in any contracts for the account that are newer than the one that expires today
	LEFT OUTER JOIN Contracts AS NewContract ON Contracts.LoginID = NewContract.LoginID AND NewContract.ContractID > Contracts.ContractID AND NewContract.IsDeleted = 0
	
	-- Only select the most recent AutoRenew record, and only if it's enabled
	WHERE (LoginsAutoRenew.ID) IN (
		SELECT MAX(ID) AS ID
		FROM LoginsAutoRenew
		GROUP BY LoginID
	)
	AND LoginsAutoRenew.Enabled = 1

	-- Only keep records where there is no new replacement contract
	AND NewContract.ContractID IS NULL



END
GO
