USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateInvoice]    
	@InvoiceID			int,  
	@LoginID			int,  
	@ContractID			int,  
	@AddOnID			int, 
	@FeeInvoiceID		int,  
	@PaymentNumber		int,  
	@InvoiceTypeID		int,  
	@InvoiceAmount		decimal(8, 2),  
	@SalesTax			decimal(5, 2),  
	@DueDate			datetime,  
	@Notes				varchar(3000), 
	@Summary			varchar(500),  
	@Paid				bit,  
	@DatePaid			datetime = null,  
	@PaymentID			int, 
	@IsDeleted			bit, 
	@FailStamp			datetime = null,
	@EarlyRenewalStamp			datetime = null 
AS  
BEGIN  
IF @InvoiceID > 0  
	BEGIN  
		UPDATE Invoices 
		SET    
			LoginID = @LoginID,  
			ContractID = @ContractID,  
			AddOnID = @AddOnID, 
			FeeInvoiceID = @FeeInvoiceID,  
			PaymentNumber = @PaymentNumber,  
			InvoiceTypeID = @InvoiceTypeID,  
			InvoiceAmount = @InvoiceAmount,  
			SalesTax = @SalesTax,  
			DueDate = @DueDate,  
			Notes = @Notes,  
			Summary = @Summary, 
			Paid = @Paid,  
			DatePaid = @DatePaid,  
			PaymentID = @PaymentID, 
			IsDeleted = @IsDeleted, 
			FailStamp = @FailStamp,
			EarlyRenewalStamp = @EarlyRenewalStamp 
		WHERE InvoiceID = @InvoiceID  
		  
		SELECT @InvoiceID		  
	END  
ELSE  
	BEGIN  
		INSERT INTO Invoices 
        (  
			LoginID,  
			ContractID,  
			AddOnID, 
			FeeInvoiceID,  
			PaymentNumber,  
			InvoiceTypeID,  
			InvoiceAmount,  
			SalesTax,  
			DueDate,  
			Notes,  
			Summary, 
			Paid,  
			DatePaid,  
			PaymentID, 
			IsDeleted, 
			FailStamp,
			EarlyRenewalStamp
		 )  
		 VALUES  
		 (  
			@LoginID,  
			@ContractID,  
			@AddOnID, 
			@FeeInvoiceID,  
			@PaymentNumber,  
			@InvoiceTypeID,  
			@InvoiceAmount,  
			@SalesTax,  
			@DueDate,  
			@Notes,  
			@Summary, 
			@Paid,  
			@DatePaid,  
			@PaymentID, 
			@IsDeleted, 
			@FailStamp,
			@EarlyRenewalStamp
		)  
             
		SELECT CAST(SCOPE_IDENTITY() AS INT)  
	END  
end  
GO
