USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DataMigration_GetLoginInfo]
	@LoginID		int
AS
BEGIN

	SELECT 
	(
		SELECT Organization
		FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins
		WHERE Logins.id = @LoginID
	) As Organization
	, (
		SELECT COUNT(*)
		FROM Logins
		WHERE id = @LoginID
	) AS LoginIsImported
	, (
		SELECT COUNT(*)
		FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AdminInfo
		WHERE 
			CreatorID = @LoginID
			AND id NOT IN (SELECT id FROM AdminInfo WHERE CreatorID = @LoginID)
			AND Deleted = 0
	) As EstimatesOld
	, (
		SELECT COUNT(*)
		FROM AdminInfo
		WHERE 
			CreatorID = @LoginID
			AND id NOT IN (SELECT id FROM AdminInfo WHERE CreatorID = @LoginID)
			AND Deleted = 0
	) As EstimatesNew

END
GO
