USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetLineItemQuantitySummary]  
(  
	@lineItemID			int
)  
RETURNS @LineItemQuantitySummary TABLE   
(  
	LineItemID				INT, 
	IsPartsQuantityFlag		BIT,
	PartsQuantity			REAL,
	IsLaborQuantityFlag		BIT,
	LaborQuantity			REAL,
	IsPaintQuantityFlag		BIT,  
	PaintQuantity			REAL
)   
AS  
BEGIN  

	DECLARE @partsQuantity INT
	DECLARE @laborQuantity INT
	DECLARE @paintQuantity INT

	DECLARE @quantity int = (SELECT ISNULL(Qty, 0) FROM EstimationLineItems WHERE id = @lineItemID)

	DECLARE @isPartsQuantityFlag BIT = (SELECT ISNULL(IsPartsQuantity, 0) FROM EstimationLineItems WHERE id = @lineItemID) 
	DECLARE @isLaborQuantityFlag BIT = (SELECT ISNULL(IsLaborQuantity, 0) FROM EstimationLineItems WHERE id = @lineItemID)
	DECLARE @isPaintQuantityFlag BIT = (SELECT ISNULL(IsPaintQuantity, 0) FROM EstimationLineItems WHERE id = @lineItemID)

	DECLARE @modifiedLineItemID INT = (SELECT ISNULL(ModifiesID, -1) FROM EstimationLineItems WHERE id = @lineItemID) 
 
	--IF @modifiedLineItemID > -1  
	--BEGIN 
		SET @quantity = @quantity + dbo.GetLineItemQuantity(@modifiedLineItemID) 

		SET @partsQuantity = 1
		IF(@isPartsQuantityFlag = 1)
		BEGIN 
			SET @partsQuantity = @quantity
		END

		SET @laborQuantity = 1
		IF(@isLaborQuantityFlag = 1)
		BEGIN 
			SET @laborQuantity = @quantity
		END

		SET @paintQuantity = 1
		IF(@isPaintQuantityFlag = 1)
		BEGIN 
			SET @paintQuantity = @quantity
		END

		DELETE FROM @LineItemQuantitySummary

		INSERT INTO @LineItemQuantitySummary(LineItemID,IsPartsQuantityFlag,PartsQuantity,IsLaborQuantityFlag,LaborQuantity,
					IsPaintQuantityFlag,PaintQuantity) 
		VALUES(@lineItemID,@isPartsQuantityFlag,@partsQuantity,@isLaborQuantityFlag,@laborQuantity,@isPaintQuantityFlag,@paintQuantity)

	--END 
	  
	RETURN   
END  
GO
