USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetEstimateOverlap2]  
(  
	@AdminInfoID		int  
)  
RETURNS @Overlap2 TABLE (AdminInfoID INT, EstimationLineItemsID1 INT, EstimationLineItemsID2 INT, OverlapAdjacentFlag VARCHAR(50), Minimum MONEY, Amount MONEY, SupplementVersion INT)  
AS  
BEGIN  
	 
	DECLARE @estimateID INT = @AdminInfoID 
	DECLARE @ServiceBarcode VARCHAR(10) = Mitchell3.dbo.GetServiceBarcode(@estimateID)  
  
	INSERT INTO @Overlap2     
	SELECT DISTINCT      
		@estimateID,   
		EstimationOverlap.EstimationLineItemsID1,      
		EstimationOverlap.EstimationLineItemsID2,      
		EstimationOverlap.OverlapAdjacentFlag,      
		EstimationOverlap.Minimum,     
		EstimationOverlap.Amount 'Amount', 
		EstimationOverlap.SupplementLevel 
	FROM EstimationData       
	INNER JOIN EstimationLineItems 
		ON EstimationLineItems.EstimationDataID = EstimationData.ID 
	LEFT JOIN EstimationLineItems AS EstimationLineItemsMod1 
		ON  EstimationData.ID = EstimationLineItemsMod1.EstimationDataID 
		AND EstimationLineItemsMod1.ModifiesID = EstimationLineItems.ID     
	LEFT JOIN EstimationLineLabor 
		ON EstimationLineItems.ID = EstimationLineLabor.EstimationLineItemsID AND	EstimationLineLabor.LaborType IN (1,2,3,4,5,6,8,24,25)      
	LEFT JOIN Mitchell3.dbo.Detail ON     
	(      
		Detail.Service_BarCode = @ServiceBarcode       
		AND	EstimationData.AdminInfoID = @estimateID       
		AND	Detail.barcode = EstimationLineItems.Barcode        
		AND       
		(       
			(Detail.Labor_Hours IS NULL AND EstimationLineLabor.LaborTime IS NULL)       
			OR       
			(Detail.Labor_Hours IS NOT NULL AND EstimationLineLabor.LaborTime IS NOT NULL AND ISNULL(Detail.Labor_Hours,0) = CONVERT(Int,ISNULL(EstimationLineLabor.LaborTime,0) * 10))       
		)       
	)      
	INNER JOIN EstimationLineItems AS EstimationLineItems2 
		ON EstimationLineItems2.EstimationDataID = EstimationData.ID    
	LEFT JOIN EstimationLineItems AS EstimationLineItemsMod2 
		ON EstimationData.ID = EstimationLineItemsMod2.EstimationDataID 
		AND EstimationLineItems2.ID =     EstimationLineItemsMod2.ModifiesID 
	LEFT JOIN EstimationLineLabor AS EstimationLineLabor2 
		ON EstimationLineItems2.ID = EstimationLineLabor2.EstimationLineItemsID 
		AND EstimationLineLabor2.LaborType IN (1,2,3,4,5,6,8,24,25)       
	LEFT JOIN Mitchell3.dbo.Detail Detail2 ON     
	(      
		Detail2.Service_BarCode = @ServiceBarcode       
		AND Detail2.barcode = EstimationLineItems2.Barcode       
		AND      
		(       
			(Detail2.Labor_Hours IS NULL AND EstimationLineLabor2.LaborTime IS NULL )       
			OR       
			(Detail2.Labor_Hours IS NOT NULL AND EstimationLineLabor2.LaborTime IS NOT NULL AND ISNULL(Detail2.Labor_Hours, 0) = CONVERT(Int, ISNULL(EstimationLineLabor2.LaborTime,0) * 10))       
		)       
	)      
      
	INNER JOIN EstimationOverlap 
		ON EstimationOverlap.EstimationLineItemsID1 = EstimationLineItems.id 
		AND EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems2.id     
	WHERE   
		EstimationData.AdminInfoID = @estimateID       
		AND Detail.Service_BarCode = @ServiceBarcode       
		AND EstimationOverlap.Amount = 0       
		AND EstimationOverlap.UserAccepted <> 0       
		AND EstimationLineItemsMod1.id IS NULL AND EstimationLineItemsMod2.id IS NULL     
	  
	RETURN   
END  
GO
