USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/18/2017
-- Description:	Gets a single Contract record
-- =============================================
CREATE PROCEDURE [dbo].[GetContractByID]
	@ContractID		int
AS
BEGIN
	SELECT Contracts.*, HasPayment.Paid AS HasPayment 
	FROM [Contracts]
	LEFT OUTER JOIN
	(
		SELECT ContractID, MAX(CAST(ISNULL(Paid, 0) AS int)) AS Paid
		FROM Invoices
		WHERE ContractID = @ContractID AND ISNULL(IsDeleted, 0) = 0 AND ISNULL(AddOnID, 0) = 0
		GROUP BY ContractID 
	) AS HasPayment ON Contracts.ContractID = HasPayment.ContractID
	WHERE Contracts.ContractID = @ContractID
END
GO
