USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[EstimateReport_GetLineItems_EOR]    
	@AdminInfoID		int,
	@SupplementVersion	INT,
	@PdrOnly			INT
AS 
BEGIN  
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.    
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component    
	 IF 1=0 BEGIN    
       SET FMTONLY OFF    
     END    

	DECLARE @PreviousSup INT = @SupplementVersion - 1
	DECLARE @IsManual bit = ISNULL((SELECT		vim.ManualSelection 
							  FROM		VehicleInfoManual vim
							  JOIN		VehicleInfo vi ON vim.VehicleInfoID = vi.id
							  JOIN		EstimationData ed ON vi.EstimationDataId = ed.id
							  WHERE		ed.AdminInfoID = @AdminInfoID), 0)

 	DECLARE @loginID INT
	SELECT @loginID = CreatorID FROM dbo.AdminInfo WHERE ID = @AdminInfoID

    DECLARE @manualEstimatePrintSortAscendingOrder BIT
	SELECT @manualEstimatePrintSortAscendingOrder = ISNULL([Value], 0) FROM dbo.SiteSetting WHERE LoginID = @loginID And Tag = 'ManualEstimatePrintSortAscendingOrder'
 
	SELECT Base.*  
	INTO #EOR_Temp 
	FROM  
	( 
		SELECT ID,EstimateID,Supplement,LineItemID,ForSummary,PartSourceModified,ModifiedSupplementVersion,ModifiedID,OriginalID,Panel,Added,Removed,BettermentType,BettermentValue,BettermentAmount,
				BettermentNote,Sublet,Action,OperationDescription,Description,CASE WHEN BettermentNote IS NULL THEN '' ELSE PartNumber END AS PartNumber,Price,PricePreview,Quantity,PartSource,RemovedPrice,RemovedPricePreview,RemovedQuantity,RemovedPartSource,
				PartSourceImage,LaborSummaryPaintPanelD,LaborSummaryPaintPanelH,LaborTotalPaintPanel,LaborSummaryPaintD,LaborSummaryPaintH,LaborTotalPaint,LaborTotalPaintDollars,LaborTotalClearcoat,
				ClearcoatIncluded,ClearcoatSuppliesIncluded,LaborSummaryExtraD,LaborSummaryExtraH,LaborTotalExtra,LaborTotalExtraOverlapped,ExtraLaborType,ExtraLaborIncludeIn,LaborExtraRemovedType,
				LaborExtraRemovedIncludeInType,LaborExtraRemovedHours,LaborExtraRemovedTotal,LaborIncluded,OverlapSupplement,OtherCharges,OtherChargesPreview,OtherChargesLaborType,RemovedOtherCharges,
				RemovedOtherChargesLaborType,DeductionsMessage,AdjacentMessage,Notes,NotesPNL,LineNumber,SupplementVersion,DeletedBySupplement,SupplementDisplay,StepSupp,Sorter,GroupNumber,
				OversizedDescription,OversizedPrice,ModifierDescription,ModifierPrice,IsPartsQuantity,IsLaborQuantity,IsPaintQuantity,PartsQuantity,LaborQuantity,PaintQuantity,IsOtherChargesQuantity,
				OtherChargesQuantity,LaborSummaryPaintPanelPrintDescSubText,LaborSummaryExtraPrintDescSubText
		FROM ProcessedLines     
		WHERE 
			EstimateID = @AdminInfoID
			AND Supplement = @SupplementVersion
			AND ForSummary = 1 
			AND PartSourceModified = 0	
			AND OperationDescription NOT LIKE '%Delete Line%' 
			AND 
			(
				(@PdrOnly = 1 AND Action IN ('PDR Matrix','PDR')) OR (@PdrOnly = 0 AND Action IN (Action))
			)
	) Base 
	LEFT OUTER JOIN  
	( 
		SELECT LineItemID, LaborIncluded 
		FROM ProcessedLines   
		WHERE 
			EstimateID = @AdminInfoID
			AND Supplement = @PreviousSup
			AND ForSummary = 1 
			AND PartSourceModified = 0	
			AND OperationDescription NOT LIKE '%Delete Line%' 
	) Previous 
	ON 
		@PreviousSup > -1 
		AND Base.LineItemID = Previous.LineItemID 
 
	DECLARE @ShowDollars BIT = 
	(
		SELECT TOP 1 ISNULL(Dollars, 0) AS Dollars
		FROM AdminInfo
		LEFT OUTER JOIN CustomerProfilePrint ON AdminInfo.CustomerProfilesID = CustomerProfilePrint.CustomerProfilesID
		WHERE AdminInfo.ID = @AdminInfoID
	)

	IF((ISNULL(@IsManual, 0) = 0) OR (@IsManual = 1 AND ISNULL(@manualEstimatePrintSortAscendingOrder, 0) = 0))
	BEGIN
		SELECT 
			  ROW_NUMBER() OVER (ORDER BY GroupNumber, CASE @IsManual WHEN 0 THEN 0 ELSE LineNumber  END DESC, Sorter, OriginalID) AS LineNumberCalculated
			, #EOR_Temp.*
			, CASE WHEN @ShowDollars = 1 THEN LaborSummaryPaintD ELSE LaborSummaryPaintH END AS LaborSummaryPaint
			, CASE WHEN @ShowDollars = 1 THEN LaborSummaryPaintPanelD ELSE LaborSummaryPaintPanelH END AS LaborSummaryPaintPanel
			, CASE WHEN @ShowDollars = 1 THEN LaborSummaryExtraD ELSE LaborSummaryExtraH END AS LaborSummaryExtra
		FROM #EOR_Temp 
		ORDER BY 
			GroupNumber
			, CASE @IsManual WHEN 0 THEN 0 ELSE LineNumber END DESC 
			, Sorter
			, OriginalID
	END
	ELSE IF(@manualEstimatePrintSortAscendingOrder = 1)
	BEGIN
		SELECT 
			  ROW_NUMBER() OVER (ORDER BY GroupNumber, CASE @IsManual WHEN 0 THEN 0 ELSE LineNumber  END ASC, Sorter, OriginalID) AS LineNumberCalculated
			, #EOR_Temp.*
			, CASE WHEN @ShowDollars = 1 THEN LaborSummaryPaintD ELSE LaborSummaryPaintH END AS LaborSummaryPaint
			, CASE WHEN @ShowDollars = 1 THEN LaborSummaryPaintPanelD ELSE LaborSummaryPaintPanelH END AS LaborSummaryPaintPanel
			, CASE WHEN @ShowDollars = 1 THEN LaborSummaryExtraD ELSE LaborSummaryExtraH END AS LaborSummaryExtra
		FROM #EOR_Temp 
		ORDER BY 
			GroupNumber
			, CASE @IsManual WHEN 0 THEN 0 ELSE LineNumber END ASC 
			, Sorter
			, OriginalID
	END

END
GO
