USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/4/2022
-- =============================================
CREATE PROCEDURE [dbo].[LinkRulePresetLink_Save]
	  @ID				int
	, @LinkRuleID			int
	, @PresetID			int
	, @AddAction		varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (@ID > 0)
		BEGIN
			UPDATE LinkRulePresetLink
			SET
				  LinkRuleID = @LinkRuleID
				, PresetID = @PresetID
				, AddAction = @AddAction
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO LinkRulePresetLink
			(
			      LinkRuleID
				, PresetID
				, AddAction
			)
			VALUES 
			(
				  @LinkRuleID
				, @PresetID 
				, @AddAction
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
