USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetProfilePaint]
	@ProfileID int
AS
BEGIN
	 
	SET NOCOUNT ON;
SELECT *      
 FROM CustomerProfilesPaint WITH (NOLOCK)      
 WHERE CustomerProfilesID = @ProfileID  END


GO
