USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SendGridInfo_Save] 
	@ID int,
	@Email varchar(50),
	@TimeStamp DateTime,
	@Event varchar(20),
	@Reason varchar(500),
	@EmailID int
AS 
BEGIN 
	IF (@ID > 0 ) 
		BEGIN 
			UPDATE SendGridInfo
			SET Email = @Email,
				TimeStamp = @TimeStamp,
				Event = @Event,
				Reason = @Reason,
				EmailID = @EmailID
			WHERE ID = @ID
 
			SELECT @ID
		END 
	ELSE 
		INSERT INTO SendGridInfo
		(
			Email,
			TimeStamp,
			Event,
			Reason,
			EmailID
		) 
		VALUES
		(
			  @Email
			, @TimeStamp
			, @Event
			, @Reason
			, @EmailID
		)
 
		SELECT CAST(SCOPE_IDENTITY() AS INT)
END
GO
