USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
  
CREATE PROCEDURE [dbo].[EstimateReport_GetTotals_CF]  
	@AdminInfoID	int,  
	@SupplementVersion int = 0,  
	@ForEOR bit = 1,  
	@AlwaysIncludeGT	BIT = 0	,
	@PdrOnly bit  = 0
			-- By default don't show the Grant Total if it's the same as the Net Total.    
 as
BEGIN  
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.   
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component   
	 IF 1=0 BEGIN   
       SET FMTONLY OFF   
     END   
	  
	 -- Get the sub totals  
		create table #EstimateSubTotals    
	( 
		RateName				varchar(50),   
		FinalLineItemTotal		float,   
		Taxable					bit,   
		Rate					float,   
		Hours					float,   
		SortOrder				varchar(50), 
		Notes					varchar(300), 
		CapType					int, 
		Cap						real,
		DirectLineItemTotal				real,
		DiscountMarkupLineItemTotal		real
	) 
 
	IF @ForEOR = 1  
		BEGIN 
			INSERT INTO #EstimateSubTotals 
			SELECT *  
			FROM dbo.GetEstimateSubTotalsFunction(7464984, 0,0,0) 
			WHERE FinalLineItemTotal > 0  
				OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%')-- AND SortOrder NOT LIKE '%Parts')	-- Get negative "other charges" lines 
		END 
	ELSE 
		BEGIN 
 
			Create TABLE  #CurrentSubTotals   
			( 
				RateName				varchar(50),   
				FinalLineItemTotal		float,   
				Taxable					bit,   
				Rate					float,   
				Hours					float,   
				SortOrder				varchar(50), 
				Notes					varchar(300), 
				CapType					int, 
				Cap						real 
			) 
 
			Create TABLE #PreviousSubTotals   
			( 
				RateName				varchar(50),   
				FinalLineItemTotal		float,   
				Taxable					bit,   
				Rate					float,   
				Hours					float,   
				SortOrder				varchar(50), 
				Notes					varchar(300), 
				CapType					int, 
				Cap						real 
			) 
 
			INSERT INTO #CurrentSubTotals 
			SELECT * FROM [dbo].[GetEstimateSubTotalsFunction] (@AdminInfoID, @SupplementVersion,0,0) 
				WHERE FinalLineItemTotal > 0  
				OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%')-- AND SortOrder NOT LIKE '%Parts')	-- Get negative "other charges" lines 
			 
			INSERT INTO #PreviousSubTotals 
			SELECT * FROM [dbo].[GetEstimateSubTotalsFunction] (@AdminInfoID, @SupplementVersion - 1,0,0)  
				WHERE FinalLineItemTotal > 0  
				OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%')-- AND SortOrder NOT LIKE '%Parts')	-- Get negative "other charges" lines 
 
 
			INSERT INTO #EstimateSubTotals 
			SELECT * 
			FROM  
			( 
				SELECT  
				  ISNULL(Base.RateName, Previous.RateName) AS RateName 
				, CASE  
					WHEN Previous.RateName IS NULL THEN 
						Base.FinalLineItemTotal 
					ELSE 
						CASE WHEN Base.FinalLineItemTotal <> 0 THEN Base.FinalLineItemTotal ELSE 0 END - ISNULL(Previous.FinalLineItemTotal, 0) 
					END 
				  AS FinalLineItemTotal 
				, ISNULL(Base.Taxable, Previous.Taxable) AS Taxable 
				, ISNULL(Base.Rate, Previous.Rate) AS Rate 
				, CASE  
					WHEN Previous.RateName IS NULL THEN 
						Base.Hours 
					ELSE 
						CASE WHEN Base.Hours > 0 THEN Base.Hours ELSE 0 END - ISNULL(Previous.Hours, 0) 
					END 
				  AS Hours 
				, ISNULL(Base.SortOrder, Previous.SortOrder) AS SortOrder 
				, ISNULL(Base.Notes, Previous.Notes) AS Notes 
				, ISNULL(Base.CapType, Previous.CapType) AS CapType 
				, ISNULL(Base.Cap, Previous.Cap) AS Cap 
				FROM #CurrentSubTotals AS Base 
				FULL OUTER JOIN #PreviousSubTotals AS Previous ON Previous.RateName = Base.RateName 
			 
			) AS Base 
			WHERE FinalLineItemTotal <> 0 OR Hours <> 0 
		END 
 
	-- Get the tax rates for the estimate  
	DECLARE @TaxRate REAL  
	DECLARE @TaxRate2 REAL  
	DECLARE @TaxRate2Start REAL  
  
	SELECT  
		@TaxRate = ISNULL(CustomerProfilesMisc.TaxRate, 0),   
		@TaxRate2 = ISNULL(CustomerProfilesMisc.SecondTaxRate, 0),   
		@TaxRate2Start = ISNULL(CustomerProfilesMisc.SecondTaxRateStart, 0)  
	FROM AdminInfo   
	INNER JOIN CustomerProfiles ON CustomerProfiles.id = AdminInfo.CustomerProfilesID       
	INNER JOIN CustomerProfilesMisc ON CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.id 
	WHERE AdminInfo.ID = @AdminInfoID  
  
	-- Get the taxable and non taxable totals as variables for later use  
	DECLARE @TaxableTotal MONEY = (SELECT ISNULL(SUM(FinalLineItemTotal), 0) FROM #EstimateSubTotals WHERE Taxable = 1)  
	DECLARE @NonTaxableTotal MONEY = (SELECT ISNULL(SUM(FinalLineItemTotal), 0) FROM #EstimateSubTotals WHERE Taxable = 0)  
	DECLARE @Deductible MONEY = (SELECT ISNULL(Deductible, 0) FROM EstimationData WHERE AdminInfoID = @AdminInfoID)  
  
	-- Calculate the tax based on the estimate's tax rate  
	DECLARE @Tax MONEY = 0  
	DECLARE @TaxRateDescription VARCHAR(100) = ''  
  
	IF @TaxRate2 > 0 AND @TaxRate2Start > 0 AND @TaxableTotal > @TaxRate2Start  
		BEGIN  
			SET @Tax = ((@TaxRate / 100) * @TaxRate2Start) + ((@TaxRate2 / 100) * (@TaxableTotal - @TaxRate2Start))  
			SET @TaxRateDescription = CAST(Round(@TaxRate, 3) AS Varchar) + '% for first $' + dbo.FormatMoney(@TaxRate2Start) + ', ' + CAST(Round(@TaxRate2, 3) AS VARCHAR) + '% after'  
		END  
	ELSE  
		BEGIN  
			SET @Tax = (@TaxRate / 100) * @TaxableTotal  
			SET @TaxRateDescription = CAST(Round(@TaxRate, 3) AS Varchar) + '%'  
		END  
  
	------------------------------------------------------------------------------------------------------------------------------------- 
	-- Sum up the betterment total  
 
	create TABLE #ProcessedLines  
	(
		[ID] [int] NOT NULL,
		[EstimateID] [int] NULL,
		[Supplement] [int] NULL,
		[LineItemID] [int] NULL,
		[ForSummary] [bit] NULL,
		[PartSourceModified] [bit] NULL,
		[ModifiedSupplementVersion] [int] NULL,
		[ModifiedID] [int] NULL,
		[OriginalID] [int] NULL,
		[Panel] [varchar](50) NULL,
		[Added] [bit] NULL,
		[Removed] [bit] NULL,
		[BettermentType] [varchar](20) NULL,
		[BettermentValue] [float] NULL,
		[BettermentAmount] [float] NULL,
		[BettermentNote] [varchar](8000) NULL,
		[Sublet] [bit] NULL,
		[Action] [varchar](20) NULL,
		[OperationDescription] [varchar](100) NULL,
		[Description] [varchar](200) NULL,
		[PartNumber] [varchar](50) NULL,
		[Price] [money] NULL,
		[PricePreview] [money] NULL,
		[Quantity] [int] NULL,
		[PartSource] [varchar](20) NULL,
		[RemovedPrice] [money] NULL,
		[RemovedPricePreview] [money] NULL,
		[RemovedQuantity] [int] NULL,
		[RemovedPartSource] [varchar](20) NULL,
		[PartSourceImage] [varchar](500) NULL,
		[LaborSummaryPaintPanelD] [varchar](200) NULL,
		[LaborSummaryPaintPanelH] [varchar](200) NULL,
		[LaborTotalPaintPanel] [float] NULL,
		[LaborSummaryPaintD] [varchar](200) NULL,
		[LaborSummaryPaintH] [varchar](200) NULL,
		[LaborTotalPaint] [float] NULL,
		[LaborTotalPaintDollars] [float] NULL,
		[LaborTotalClearcoat] [real] NULL,
		[ClearcoatIncluded] [bit] NULL,
		[ClearcoatSuppliesIncluded] [bit] NULL,
		[LaborSummaryExtraD] [varchar](200) NULL,
		[LaborSummaryExtraH] [varchar](200) NULL,
		[LaborTotalExtra] [float] NULL,
		[LaborTotalExtraOverlapped] [float] NULL,
		[ExtraLaborType] [varchar](20) NULL,
		[ExtraLaborIncludeIn] [varchar](20) NULL,
		[LaborExtraRemovedType] [varchar](50) NULL,
		[LaborExtraRemovedIncludeInType] [varchar](50) NULL,
		[LaborExtraRemovedHours] [float] NULL,
		[LaborExtraRemovedTotal] [float] NULL,
		[LaborIncluded] [bit] NULL,
		[OverlapSupplement] [int] NULL,
		[OtherCharges] [float] NULL,
		[OtherChargesPreview] [float] NULL,
		[OtherChargesLaborType] [int] NULL,
		[RemovedOtherCharges] [float] NULL,
		[RemovedOtherChargesLaborType] [int] NULL,
		[DeductionsMessage] [varchar](100) NULL,
		[AdjacentMessage] [varchar](20) NULL,
		[Notes] [varchar](5000) NULL,
		[NotesPNL] [varchar](5000) NULL,
		[LineNumber] [int] NULL,
		[SupplementVersion] [int] NULL,
		[DeletedBySupplement] [int] NULL,
		[SupplementDisplay] [int] NULL,
		[StepSupp] [varchar](500) NULL,
		[Sorter] [int] NULL,
		[GroupNumber] [int] NULL,
		[OversizedDescription] [varchar](200) NULL,
		[OversizedPrice] [money] NULL,
		[ModifierDescription] [varchar](200) NULL,
		[ModifierPrice] [money] NULL,
		[IsPartsQuantity] [bit] NULL,
		[IsLaborQuantity] [bit] NULL,
		[IsPaintQuantity] [bit] NULL,
		[PartsQuantity] [real] NULL,
		[LaborQuantity] [real] NULL,
		[PaintQuantity] [real] NULL,
		[IsOtherChargesQuantity] [bit] NULL,
		[OtherChargesQuantity] [real] NULL,
		[LaborSummaryPaintPanelPrintDescSubText] VARCHAR(200) NULL,
		[LaborSummaryExtraPrintDescSubText] VARCHAR(200) NULL
	) 
   
  

   
	INSERT INTO #ProcessedLines 
		SELECT *
	FROM ProcessedLines 
	WHERE 
		EstimateID = @AdminInfoID
		AND SupplementVersion <= @SupplementVersion
		AND	((@PdrOnly = 1 AND Action IN ('PDR Matrix','PDR')) OR (@PdrOnly = 0 AND Action IN (Action)))

 
	DECLARE @Betterment MONEY =   
	(  
		SELECT SUM(ISNULL(Modified.BettermentAmount, 0) - ABS(ISNULL(Base.BettermentAmount, 0))) AS BettermentAmount  
		FROM #ProcessedLines Base  
		LEFT OUTER JOIN #ProcessedLines Modified ON Base.LineItemID = Modified.ModifiedID AND Modified.LineItemID <> Base.LineItemID  
		WHERE Base.ForSummary = 1  
	)  
  
	-- Calculate the grand and net totals  
	DECLARE @GrandTotal MONEY = @TaxableTotal + @NonTaxableTotal + @Tax  
	DECLARE @NetTotal MONEY = @TaxableTotal + @NonTaxableTotal + @Tax + (CASE WHEN @ForEOR = 1 THEN @Deductible * -1 ELSE 0 END) + @Betterment	  
  
	-------------------------------------------------------------------------------------------------------------------------------  
	-- Union together the final table  
	-------------------------------------------------------------------------------------------------------------------------------  
  
	SELECT LineDesc,Note,Total,@AdminInfoID as Admininfoid,0 as taxable FROM (  
		SELECT   
			'Taxable Amount' AS LineDesc, 			 
			'' As Note,  
			@TaxableTotal AS Total,  
			1 AS SortOrder  
		UNION SELECT  
			
			'Tax' AS LineDesc,  
			@TaxRateDescription AS Note,  
			@Tax AS Total  ,
			2 AS SortOrder
		UNION SELECT   
		 
			'Nontaxable Amount' AS LineDesc,  
			'' As OtherInfo,  
			@NonTaxableTotal AS Total,   
			3 AS SortOrder
		UNION SELECT   
			 
			'Grand Total' AS LineDesc,  
			'' As Note,  
			@GrandTotal AS Total ,		 
			4 AS SortOrder 
		UNION SELECT   
			 
			'Less Deductible' AS LineDesc,  
			'' AS Note,  
			@Deductible * -1 AS Total,   
			5 AS SortOrder
		WHERE @ForEOR = 1 AND ISNULL(@Deductible, 0) > 0  
  
		UNION SELECT  
			'Betterment' AS LineDesc, 
			 
			 
			'' AS Note,  
			@Betterment AS Amount,   
			6 AS SortOrder
		WHERE @Betterment <> 0  
  
		UNION SELECT   
			'Net Total' AS LineDesc,
			  
			  
			'' As Note,  
			@NetTotal AS Total ,  
			10 AS SortOrder

		WHERE @AlwaysIncludeGT = 1 OR @GrandTotal <> @NetTotal  
	) Base ORDER BY SortOrder  
  
END  

  
GO
