USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/24/2019
-- Description:	Get the long version of a phone type for the code.  This function avoids lots of joins in queries that need this value.
--				the Seperator is some text to add after the type if a result was found, for example you could pass ": " and get back "Home Phone: ", making it easier to join into a bigger string
-- =============================================
CREATE FUNCTION [dbo].[GetPhoneType]
(
	  @Code		varchar(15)
	, @Seperator	varchar(10)
)
RETURNS varchar(50)
AS
BEGIN
	DECLARE @result VARCHAR(50) = (SELECT TOP 1 Report FROM PhoneTypes WHERE Code = @Code)
	
	IF ISNULL(@result, '') <> ''
		SET @result = @result + @Seperator

	RETURN ISNULL(@result, '')

END
GO
