USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[GetVehicleName2] (
	@VehicleID Int		)  
RETURNS VarChar(500) AS  
BEGIN 
	DECLARE @Extracted VarChar(500)
	SELECT @Extracted = 	LEFT(CONVERT(VarChar(10),ModelYear.ModelYear),4) + ' ' + 
				TextValuesMake.TextValue + ' ' + 
				TextValuesModel.TextValue +
				CASE 	WHEN TextValuesSubModel.TextValue = 'Base' THEN ''
					ELSE  ' ' + TextValuesSubModel.TextValue
				END +
				' (' + TextValuesRegion.TextValue + ')'
	FROM Vehicles.Dbo.Region Region WITH (NOLOCK)
	INNER JOIN Vehicles.Dbo.Manufacturer Manufacturer WITH (NOLOCK) ON
		(Manufacturer.RegionID = Region.ID)
	INNER JOIN Vehicles.Dbo.Make Make WITH (NOLOCK) ON
		(Make.ManufacturerID = Manufacturer.id)
	INNER JOIN Vehicles.Dbo.Model VehModel WITH (NOLOCK) ON
		(VehModel.MakeID = Make.id)
	INNER JOIN Vehicles.Dbo.ModelYear ModelYear WITH (NOLOCK) ON
		(ModelYear.ModelID = VehModel.id)
	INNER JOIN Vehicles.Dbo.SubModel SubModel WITH (NOLOCK) ON
		(SubModel.ModelYearID = ModelYear.ID)
	
	INNER JOIN Vehicles.Dbo.TextValues TextValuesRegion WITH (NOLOCK) ON
		(TextValuesRegion.id = Region.TextValuesID)
	INNER JOIN Vehicles.Dbo.TextValues TextValuesManufacturer WITH (NOLOCK) ON
		(TextValuesManufacturer.id = Manufacturer.TextValuesID)
	INNER JOIN Vehicles.Dbo.TextValues TextValuesMake WITH (NOLOCK) ON
		(TextValuesMake.id = Make.TextValuesID)
	INNER JOIN Vehicles.Dbo.TextValues TextValuesModel WITH (NOLOCK) ON
		(TextValuesModel.id = VehModel.TextValuesID)
	INNER JOIN Vehicles.Dbo.TextValues TextValuesSubModel WITH (NOLOCK) ON
		(TextValuesSubModel.id = SubModel.TextValuesID)
	WHERE SubModel.ID = ABS(@VehicleID)

	RETURN(@Extracted)
END




GO
