USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimationOverlapRejected](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NULL,
	[Barcode] [int] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ix_EstimationOverlapRejected_AdminInfoID] ON [dbo].[EstimationOverlapRejected]
(
	[AdminInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
