USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[EMS_Export_GetDetails_201] 
	@AdminInfoID Int 
AS 
SET NOCOUNT ON 
SET FMTONLY OFF 
SET ANSI_WARNINGS OFF; 
 
declare @Service_BarCode varchar(10)  
SELECT  @Service_BarCode = FocusWrite.Dbo.GetServiceBarcode(@AdminInfoID)  
 
DECLARE @SupplementVersion INT = (SELECT LockLevel FROM EstimationData WHERE AdminInfoID = @AdminInfoID) 
  
SELECT DISTINCT  
		CASE WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2  
			WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2  
			WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1  
			ELSE EstimationOverlap.EstimationLineItemsID1  
		END 'EstimationLineItemsID1',  
  
		Min(	CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID1  
			WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID1  
				WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID2  
				ELSE EstimationOverlap.EstimationLineItemsID2  
			END) 'EstimationLineItemsID2',  
		EstimationOverlap.OverlapAdjacentFlag 'OverlapAdjacentFlag',  
		Max(EstimationOverlap.Minimum) 'Minimum',  
		Sum(	CASE 	WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN -EstimationLineLabor2.LaborTime  
				WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN -EstimationLineLabor.LaborTime  
				ELSE EstimationOverlap.Amount  
			END) 'Amount'  
	 INTO #EstimationOverlap1  
	FROM EstimationData EstimationData  
	INNER JOIN EstimationLineItems EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
	LEFT JOIN EstimationLineLabor EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID AND EstimationLineLabor.LaborType IN (1,2,3,4,5,6,8,24,25,32) 
	LEFT JOIN EstimationLineItems EstimationLineItemsMod1 ON EstimationLineItemsMod1.EstimationDataID = EstimationData.ID AND EstimationLineItemsMod1.ModifiesID = EstimationLineItems.ID 
	LEFT JOIN mitchell3.dbo.Detail ON	 
		Detail.Service_BarCode = @Service_BarCode AND EstimationData.AdminInfoID = @AdminInfoID AND Detail.barcode = EstimationLineItems.Barcode  
		AND  
		(  
			(Detail.Labor_Hours IS NULL AND EstimationLineLabor.LaborTime IS NULL)  
			OR   
		    (Detail.Labor_Hours IS NOT NULL AND EstimationLineLabor.LaborTime IS NOT NULL AND ROUND(CONVERT(Real,ISNULL(Detail.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor.LaborTime,0)),1)) 
		)  
  
	INNER JOIN EstimationLineItems EstimationLineItems2 ON EstimationLineItems2.EstimationDataID = EstimationData.ID 
	LEFT JOIN EstimationLineLabor EstimationLineLabor2 ON EstimationLineLabor2.EstimationLineItemsID = EstimationLineItems2.ID AND EstimationLineLabor2.LaborType IN (1,2,3,4,5,6,8,24,25,32) 
	LEFT JOIN EstimationLineItems EstimationLineItemsMod2 ON EstimationLineItemsMod2.EstimationDataID = EstimationData.ID AND EstimationLineItemsMod2.ModifiesID = EstimationLineItems2.ID 
	LEFT JOIN mitchell3.dbo.Detail Detail2 ON 
		(Detail2.Service_BarCode = @Service_BarCode AND  
		 Detail2.barcode = EstimationLineItems2.Barcode  AND  
		 (  
			(Detail2.Labor_Hours IS NULL AND EstimationLineLabor2.LaborTime IS NULL)  
			OR   
		    (Detail2.Labor_Hours IS NOT NULL AND EstimationLineLabor2.LaborTime IS NOT NULL AND ROUND(CONVERT(Real,ISNULL(Detail2.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor2.LaborTime,0)),1) ))  
		)  
	INNER JOIN EstimationOverlap EstimationOverlap ON EstimationOverlap.EstimationLineItemsID1 = EstimationLineItems.id AND EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems2.id 
	WHERE EstimationData.AdminInfoID = @AdminInfoID AND  
		Detail.Service_BarCode = @Service_BarCode AND  
		EstimationOverlap.UserAccepted <> 0 AND  
		EstimationLineItemsMod1.id IS NULL AND EstimationLineItemsMod2.id IS NULL AND  
		EstimationOverlap.OverlapAdjacentFlag = 'S'  
	GROUP BY CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2  
			WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2  
			WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1  
			ELSE EstimationOverlap.EstimationLineItemsID1  
		END,  
		EstimationOverlap.OverlapAdjacentFlag  
 
insert into #EstimationOverlap1  
SELECT DISTINCT  
			CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2  
				WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2  
				WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1  
				ELSE EstimationOverlap.EstimationLineItemsID1  
			END 'EstimationLineItemsID1',  
	  
			Min(	CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID1  
				WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID1  
					WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN EstimationOverlap.EstimationLineItemsID2  
					ELSE EstimationOverlap.EstimationLineItemsID2  
				END) 'EstimationLineItemsID2',  
			EstimationOverlap.OverlapAdjacentFlag 'OverlapAdjacentFlag',  
			Max(EstimationOverlap.Minimum) 'Minimum',  
			Sum(	CASE 	WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime THEN -EstimationLineLabor2.LaborTime  
					WHEN EstimationOverlap.Amount = 0 AND EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime THEN -EstimationLineLabor.LaborTime  
					ELSE EstimationOverlap.Amount  
				END) 'Amount'  
		FROM EstimationData  
		INNER JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
		LEFT JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID AND EstimationLineLabor.LaborType IN (1,2,3,4,5,6,8,24,25,32) 
	  
		LEFT JOIN EstimationLineItems EstimationLineItemsMod1 ON EstimationLineItemsMod1.EstimationDataID = EstimationData.ID AND EstimationLineItemsMod1.ModifiesID = EstimationLineItems.ID 
	  
		LEFT JOIN mitchell3.dbo.Detail as detail ON	--The time must be the database value  
			(Detail.Service_BarCode = @Service_BarCode AND  
			 EstimationData.AdminInfoID = @AdminInfoID AND  
			 Detail.barcode = EstimationLineItems.Barcode AND  
			 ( ( Detail.Labor_Hours IS NULL AND EstimationLineLabor.LaborTime IS NULL ) OR   
			   ( Detail.Labor_Hours IS NOT NULL AND EstimationLineLabor.LaborTime IS NOT NULL AND  
			     ROUND(CONVERT(Real,ISNULL(Detail.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor.LaborTime,0)),1) )) )  
	  
		INNER JOIN EstimationLineItems EstimationLineItems2 ON EstimationLineItems2.EstimationDataID = EstimationData.ID 
		LEFT JOIN EstimationLineLabor EstimationLineLabor2 ON EstimationLineLabor2.EstimationLineItemsID = EstimationLineItems2.ID AND EstimationLineLabor2.LaborType IN (1,2,3,4,5,6,8,24,25,32) 
	  
		LEFT JOIN EstimationLineItems EstimationLineItemsMod2 ON EstimationLineItemsMod2.EstimationDataID = EstimationData.ID AND EstimationLineItemsMod2.ModifiesID = EstimationLineItems2.ID 
	  
		LEFT JOIN mitchell3.dbo.Detail Detail2 ON	--The time must be the database value  
			(Detail2.Service_BarCode = @Service_BarCode AND  
			 Detail2.barcode = EstimationLineItems2.Barcode  AND  
			 ( ( Detail2.Labor_Hours IS NULL AND EstimationLineLabor2.LaborTime IS NULL ) OR   
			   ( Detail2.Labor_Hours IS NOT NULL AND EstimationLineLabor2.LaborTime IS NOT NULL AND  
			     ROUND(CONVERT(Real,ISNULL(Detail2.Labor_Hours,0))/10,1) = ROUND(CONVERT(Real,ISNULL(EstimationLineLabor2.LaborTime,0)),1) )) )  
	  
		INNER JOIN EstimationOverlap EstimationOverlap ON EstimationOverlap.EstimationLineItemsID1 = EstimationLineItems.id AND EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems2.id 
		LEFT JOIN #EstimationOverlap1 EO1  ON EO1.EstimationLineItemsID1 = EstimationOverlap.EstimationLineItemsID1  
		WHERE EstimationData.AdminInfoID = @AdminInfoID AND  
			Detail.Service_BarCode = @Service_BarCode AND  
			EstimationOverlap.UserAccepted <> 0 AND  
			EstimationLineItemsMod1.id IS NULL AND EstimationLineItemsMod2.id IS NULL AND  
			EO1.EstimationLineItemsID1 IS NULL AND  
		EstimationOverlap.OverlapAdjacentFlag <> 'S'  
		GROUP BY CASE	WHEN EstimationOverlap.OverlapAdjacentFlag = 'S' THEN EstimationOverlap.EstimationLineItemsID2  
				WHEN EstimationLineLabor2.LaborTime < EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID2  
				WHEN EstimationLineLabor2.LaborTime >= EstimationLineLabor.LaborTime AND EstimationOverlap.Amount < -80 THEN EstimationOverlap.EstimationLineItemsID1  
				ELSE EstimationOverlap.EstimationLineItemsID1  
			END,  
			EstimationOverlap.OverlapAdjacentFlag  
  
BEGIN	  
 
-------------------------------------------------------------------------------------------------------------------------------------- 
-- We need to make sure there is an "Extra Labor" row for every line, otherwise the line's part price info won't show up. 
CREATE TABLE #LaborTable  
( 
	  id						int 
	, EstimationLineItemsID		int 
	, LaborType					int 
	, LaborSubType				int 
	, LaborTime					float 
	, LaborCost					money 
	, BettermentFlag			bit 
	, SubletFlag				bit 
	, UniqueSequenceNumber		int 
	, ModifiesID				int 
	, AdjacentDeduction			bit 
	, MajorPanel				bit 
	, BettermentPercentage		float 
	, dbLaborTime				float 
	, AdjacentDeductionLock		bit 
	, barcode					varchar(20) 
	, Lock						bit 
	, include					bit 
	, WebEstID					int 
	, BettermentType			char(10)
) 
 
INSERT INTO #LaborTable 
SELECT EstimationLineLabor.* 
FROM EstimationData 
JOIN EstimationLineItems ON EstimationData.ID = EstimationLineItems.EstimationDataID 
LEFT OUTER JOIN EstimationLineLabor ON EstimationLineItems.id = EstimationLineLabor.EstimationLineItemsID 
WHERE  
	EstimationData.AdminInfoID = @AdminInfoID  
	AND EstimationLineLabor.LaborType <> 0  
	AND (EstimationLineLabor.LaborType NOT IN (20, 21, 22, 26, 27, 28) OR EstimationLineLabor.Include = 1)   
 
-- Make sure there is an "extra labor" row for every line, otherwise the part data for that line won't show up 
INSERT INTO #LaborTable 
SELECT 0, EstimationLineItemsID, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '', 0, 0, 0, ''
FROM 
( 
	SELECT DISTINCT EstimationLineItemsID 
	FROM #LaborTable 
	WHERE EstimationLineItemsID NOT IN ( 
		SELECT DISTINCT EstimationLineItemsID 
		FROM #LaborTable 
		WHERE LaborType IN (0, 1, 2, 3, 4, 5, 6, 8, 13, 24, 25) 
	)  
) BASE 
-------------------------------------------------------------------------------------------------------------------------------------- 
 
	 
SELECT  
		distinct  
		CASE 	 
			WHEN ISNULL(EstimationLineItems.SupplementVersion,0) > 0   
			THEN 'S' + RIGHT('0'+CONVERT(nvarchar(2),EstimationLineItems.SupplementVersion),2)  
			ELSE 'E'  
		END 'LineIndicator',  
 
		EstimationLineItems.LineNumber 'LineReference',  
 
		CASE 	 
			WHEN EstimationLineItems.ACDCode = 'A' THEN 1  
			WHEN EstimationLineItems.ACDCode = 'C' THEN 2  
			WHEN EstimationLineItems.ACDCode = 'D' THEN 3  
			ELSE 1  
		END	'TransactionCode',  
 
		NULL 'DatabaseReference',  
		CASE WHEN ISNULL(EstimationLineLabor.UniqueSequenceNumber, 0) > 0 THEN EstimationLineLabor.UniqueSequenceNumber ELSE EstimationLineItems.UniqueSequenceNumber END 'UniqueSequenceNumber', 
		'O' 'WhoPays',  
 
		CASE  
			WHEN LaborTypes.id is null AND ISNULL(EstimationLineItems.Description, '')  = ''   
				THEN cast(LEFT(EstimationLineItems.PartNumber, 25) AS nvarchar(25))	  
			--WHEN LEFT(ISNULL(LaborTypes.EMSCodeLabor, 'LAB'), 4) = 'LA2S'  
			WHEN ISNULL(LaborTypes.id, 0) = 20  
				THEN 'Clear Coat'  
			ELSE   
				CAST(LEFT(ISNULL(nullif(EstimationLineItems.Description, ''), EstimationLineItems.ActionDescription), 40) AS nvarchar(40))	 
		END AS 'DamageEntryDescription',  
 
		--CASE  
			--WHEN (LaborTypes.EMSCodeLabor IN ('LAB', 'LAM', 'LAG')) 
			--AND CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation, ActionList.EMSActionCode), 'OP11') AS nvarchar(10)) <> 'OP5'  
			--THEN 
				CAST( 
					CASE 	 
						WHEN ISNULL(EstimationLineItems.PartSource ,'') = 'OEM' THEN 'PAN'  
						WHEN ISNULL(EstimationLineItems.PartSource, '') = 'Reman' 	THEN 'PAM'  
						WHEN ISNULL(EstimationLineItems.PartSource, '') = 'After' 	THEN 'PAA'  
						WHEN ISNULL(EstimationLineItems.PartSource, '') = 'LKQ' 	THEN 'PAL'  
						WHEN ISNULL(EstimationLineItems.PartSource, '') = 'Other' 	THEN 'PAO'  
						WHEN LaborTypes.id = 15										THEN 'PAS'  
					ELSE '' END	AS nvarchar(4) 
				)	  
			--ELSE ''  
		--END  
		'PartDescriptionPartType',  
 
		0 'PartDescriptionDescriptionJudgmentFlag',  
 
		CASE WHEN LaborTypes.id = 25 THEN 1 ELSE 0 END 'PartDescriptionGlassPartFlag',  
		  
		CASE  
			WHEN (LaborTypes.EMSCodeLabor IN ('LAB', 'LAM', 'LAG')) 
			AND CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation, ActionList.EMSActionCode), 'OP11') AS nvarchar(10)) <> 'OP5'  
				THEN  
					CASE  
						WHEN LaborTypes.id is null AND ISNULL(EstimationLineItems.Description, '')  = ''   
							THEN ''  
						ELSE  
							CASE WHEN ISNULL(EstimationLineItems.PartSource, '') <> ''  
								THEN cast(LEFT(EstimationLineItems.PartNumber, 25) AS nvarchar(25)) ELSE ''  
							END  
						END  
			ELSE ''  
		END AS 'PartDescriptionOEMPartNumber',  
 
		0 'PartDescriptionPriceIncludedIndicator',  
		0 'PartDescriptionAlternatePartIndicator',  
  
		CASE 
			WHEN ISNULL(EstimationLineItems.Price, 0) > 0 THEN ISNULL(CustomerProfileRatesPartInfo.Taxable,0)  
			ELSE 0  
		END 'PartDescriptionTaxableFlag',  
 
		--CASE  
		--	WHEN LEFT(ISNULL(LaborTypes.EMSCodeLabor, 'LAB'), 4) = 'LA2S' THEN 0  
		--	ELSE   
		--		CASE  
		--			WHEN (LaborTypes.EMSCodeLabor IN ('LAB', 'LAM', 'LAG')) 
		--			AND CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation, ActionList.EMSActionCode), 'OP11') AS nvarchar(10)) <> 'OP5'  
		--				THEN ISNULL(dbo.GetDBPartPrice(EstimationLineItems.PartNumber,EstimationLineItems.Barcode),	ISNULL(EstimationLineItems.Price, 0))  
		--	ELSE 0 END  
		--END 'PartDescriptionDatabasePartPrice',  
		ISNULL(dbo.GetDBPartPrice(EstimationLineItems.PartNumber,EstimationLineItems.Barcode),	ISNULL(EstimationLineItems.Price, 0)) AS 'PartDescriptionDatabasePartPrice', 
		  
		ProcessedLines.Price AS 'PartDescriptionActualPartPrice',  
		--CASE  
		--	WHEN LEFT(ISNULL(LaborTypes.EMSCodeLabor, 'LAB'), 4) = 'LA2S' THEN 0  
		--    WHEN ol2.OverlapAdjacentFlag = 'S' THEN 0  
		--	ELSE  
		--		CASE  
		--			WHEN  CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation,ActionList.EMSActionCode),'OP11') AS nvarchar(10)) <> 'OP5'  
		--				THEN ISNULL(EstimationLineItems.Price, 0)	  
		--			ELSE 0   
		--		END   
		--END	'PartDescriptionActualPartPrice', 
 
		0 'PartDescriptionPriceJudgmentFlag',  
		0 'PartDescriptionCertifiedFlag',  
		dbo.GetLineItemQuantity(EstimationLineItems.id) 'PartDescriptionQuantity',  
 
		CAST(LEFT( 
			CASE 
				WHEN EstimationLineItems.PartSourceVENDorID IS NOT NULL AND ISNULL(EstimationLineItems.PartSource, '') <> 'OEM' THEN '' 
			ELSE ''  
		END, 20) AS nvarchar(20)) 'NonOemSupplierCompanyIDCode',  
 
		CASE  
			WHEN LEFT(ISNULL(LaborTypes.EMSCodeLabor,'LAB'), 4) = 'LAB' AND CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation,ActionList.EMSActionCode),'OP11') AS nvarchar(10)) <> 'OP5'  
				THEN  
					CASE  
						WHEN  LaborTypes.id is null AND ISNULL(EstimationLineItems.Description, '')  = ''   
							THEN ''  
						ELSE   
							CAST 
							( 
								LEFT( 
									CASE 	
										WHEN ISNULL(EstimationLineItems.PartSource, '') = 'After' 
											THEN EstimationLineItems.SourcePartNumber
										WHEN EstimationLineItems.PartSourceVENDorID IS NOT NULL AND ISNULL(EstimationLineItems.PartSource, '') <>'OEM' AND ISNULL(EstimationLineItems.PartSource, '') <>''  
											THEN EstimationLineItems.PartNumber  
										ELSE ''  
										END 
								, 25)  
							AS nvarchar(25)) END ELSE ''  
		END as 'NonOemSupplierPartNumber', 
		0  'NonOemSupplierUserOverride',  
		NULL 'NonOemSupplierMemo',  
		isnull(CustomerProfileRatesPartInfo.DiscountMarkup,0) AS 'AdjustmentPercent',  
		CASE WHEN isnull(CustomerProfileRatesPartInfo.DiscountMarkup,0) > 0  
			 THEN round((((ISNULL(EstimationLineItems.Price, 0) * CustomerProfileRatesPartInfo.DiscountMarkup) /100) + .0001),2) ELSE 0 END  AS 'AdjustmentAmount',  
		CAST(CASE  
			WHEN LaborTypes.id = 15	THEN ''  
			WHEN LEFT(ISNULL(LaborTypes.EMSCodeLabor,'LAB'),4) = 'LA2S'THEN 'LAR'  
			ELSE LEFT(ISNULL(LaborTypes.EMSCodeLabor,'LAB'),4)	  
		END	AS nvarchar(4))					'LaborDescriptionType',  
		ISNULL(EstimationLineLabor.LaborTime,0)		'LaborDescriptionDatabaseHours',  
		--ISNULL(EstimationLineLabor.LaborTime,0)		'LaborDescriptionActualHours',  
		CASE WHEN EstimationLineLabor.LaborType = 1 THEN ISNULL(ProcessedLines.LaborTotalExtra, 0) ELSE ISNULL(EstimationLineLabor.LaborTime,0) END AS 'LaborDescriptionActualHours',   
		--CASE WHEN isnull(ol.estimationlineitemsid2,0) > 0 THEN 1 ELSE 0 END AS 'LaborDescriptionLaborIncludedIndicator',   
		 
		CASE WHEN ISNULL(LaborTypes.id, 0) = 20   
		THEN 0 
		ELSE ProcessedLines.LaborIncluded END AS 'LaborDescriptionLaborIncludedIndicator',   
		 
		CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation,ActionList.EMSActionCode),'OP11') AS nvarchar(4)) 'LaborDescriptionOperation',  
		0 'LaborDescriptionHoursJudgmentFlag',  
		0 'LaborDescriptionTypeJudgmentFlag',  
		0 'LaborDescriptionOperationJudgmentFlag',  
		0 'LaborDescriptionPaintStageIndicator',  
		0 'LaborDescriptionToneIndicator',  
		ISNULL(ISNULL(ISNULL(CustomerProfileRates3.Taxable,CustomerProfileRates2.Taxable),CustomerProfileRates1.Taxable),0)  
								'LaborDescriptionTaxableFlag',  
		ISNULL(EstimationLineLabor.LaborTime,0)	* COALESCE(CustomerProfileRates3.Rate,CustomerProfileRates2.Rate,CustomerProfileRates1.Rate,0) 'LaborDescriptionAmount', 
		--dbo.getRate(CustomerProfiles.ID,CAST(CASE  
		--	WHEN LaborTypes.id = 15	THEN ''  
		--	WHEN LEFT(ISNULL(LaborTypes.EMSCodeLabor,'LAB'),4) = 'LA2S'THEN 'LAR'  
		--	ELSE LEFT(ISNULL(LaborTypes.EMSCodeLabor,'LAB'),4)	  
		--END	AS nvarchar(4)))		'LaborDescriptionAmount',  
 
		CASE  
			WHEN LaborTypes.id IN (8,13,14,15,30,31)	THEN ProcessedLines.OtherCharges 
			ELSE 0  
		END						'LaborMiscSublet',  
		CASE  
			WHEN LaborTypes.id = 15	THEN 1  
			ELSE ISNULL(EstimationLineLabor.SubletFlag,0)  
		END						'LaborMiscSubletSubletFlag',  
		CASE   
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) <> 0 OR  
				LaborTypes.id = 14					THEN 1  
			WHEN ISNULL(EstimationLineLabor.BettermentFlag,0)	<> 0 OR  
				LaborTypes.id = 14					THEN 1  
			ELSE 0  
		END						'LaborMiscSubletTaxableFlag',  
		CAST(LEFT(CASE  
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) <> 0 AND   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN  
				CASE 	WHEN EstimationLineLabor.LaborType IN (7,9,10,11,12,16,17,18,19,20,21,22) THEN 'BELP'  
					ELSE 'BELA'  
				END  
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) = 0 AND   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN  
				CASE 	WHEN EstimationLineLabor.LaborType IN (7,9,10,11,12,16,17,18,19,20,21,22) THEN 'BETP'  
					ELSE 'BELA'  
				END  
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) <> 0 AND   
				ISNULL(EstimationLineLabor.BettermentFlag,0) = 0	THEN	'BEPA'  
			END,4) AS nvarchar(4))							'LaborMiscBettermentType',  
  
		CASE  
			WHEN 	ISNULL(EstimationLineItems.BettermentParts,0) <> 0 OR   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN	100  
			WHEN ISNULL(EstimationLineItems.BettermentValue,0) > 0 	THEN 	EstimationLineItems.BettermentValue  
			ELSE 0  
		END 							'LaborMiscBettermentPercent',  
		( (ISNULL(EstimationLineItems.Price, 0) + ISNULL(EstimationLineLabor.LaborTime,0) ) *   
			ISNULL(ISNULL(CustomerProfileRates3.Rate,CustomerProfileRates2.Rate),CustomerProfileRates1.Rate) ) *  
		CASE  
			WHEN 	ISNULL(EstimationLineItems.BettermentParts,0) <> 0 OR   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN	100  
			WHEN ISNULL(EstimationLineItems.BettermentValue,0) > 0 	THEN 	EstimationLineItems.BettermentValue  
			ELSE 0  
		END / 100						'LaborMiscBettermentAmount',  
		COALESCE(CustomerProfileRates3.Taxable,CustomerProfileRates2.Taxable,CustomerProfileRates1.Taxable,0) 'LaborMiscBettermentTaxableFlag',  
		EstimationLineItems.Id AS 'lid',  
		LaborTypes.id AS 'ltid',  
		EstimationLineItems.ModifiesID, 
 
		CASE WHEN EstimationLineItems.ActionCode IN ('R+R','R+I','Replace') AND ISNULL(ol2.Amount, 0) < 0 
		THEN '0' ELSE '1' END AS 'IsIncluded' 
		 
		into #temp 
	FROM AdminInfo 
	LEFT JOIN CustomerProfiles ON CustomerProfiles.ID = AdminInfo.CustomerProfilesID 
  
	INNER JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.id 
	LEFT JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.id 
  
	LEFT JOIN (SELECT 'LKQ' 'PartSource', 9 'RateType'  
			UNION SELECT 'OEM', 8  
			UNION SELECT 'Retail', 8  
			UNION SELECT 'After', 10  
			UNION SELECT 'Reman', 13  
			UNION SELECT 'Other', 18  	 
		) PartSourceRateTypes ON PartSourceRateTypes.PartSource = EstimationLineItems.PartSource 
	LEFT JOIN CustomerProfileRates CustomerProfileRatesPartInfo ON CustomerProfileRatesPartInfo.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRatesPartInfo.RateType = PartSourceRateTypes.RateType 
	LEFT join #EstimationOverlap1 AS ol on ol.estimationlineitemsid2 = EstimationLineItems.id  
	LEFT join #EstimationOverlap1 AS ol2 on ol2.estimationlineitemsid1 = EstimationLineItems.id  
	LEFT JOIN ActionList ON ActionList.ActionShort = EstimationLineItems.ActionCode 
		and ActionList.EMSActionCode in ('OP9','OP11','OP5','OP6','OP15','OP11')
	LEFT JOIN #LaborTable EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.id AND ((ISNULL(EstimationLineLabor.Include, 1) = 1 OR EstimationLineLabor.LaborType NOT IN (20, 21, 22, 26))) 
	LEFT JOIN LaborTypes ON LaborTypes.id  = EstimationLineLabor.LaborType 
		--and LaborTypes.EMSCodeLabor in ('LAB','LAD','LAE','LAR','LAS','LAF','LAM','LAG','LAU','LAT','LA1','LA2','LA3','LA4')
	LEFT JOIN RateTypes ON RateTypes.id   = LaborTypes.RateTypesID 
  
	LEFT JOIN CustomerProfileRates CustomerProfileRates1 ON CustomerProfileRates1.CustomerProfilesID = CustomerProfiles.ID AND CustomerProfileRates1.RateType = RateTypes.ID 
	LEFT JOIN CustomerProfileRates CustomerProfileRates2 ON CustomerProfileRates2.CustomerProfilesID = CustomerProfiles.ID AND CustomerProfileRates2.RateType = CustomerProfileRates1.IncludeIn 
	LEFT JOIN CustomerProfileRates CustomerProfileRates3 ON CustomerProfileRates3.CustomerProfilesID = CustomerProfiles.ID AND CustomerProfileRates3.RateType = CustomerProfileRates2.IncludeIn 
  
	LEFT JOIN ProcessedLines ON ProcessedLines.EstimateID = @AdminInfoID AND EstimationLineItems.Id = ProcessedLines.LineItemID 
  
	WHERE AdminInfo.ID = @AdminInfoID  
  
	UNION ALL  
  
	SELECT  
		CASE 	WHEN ISNULL(EstimationLineItems.SupplementVersion,0) > 0   
				THEN 'S' + RIGHT('0'+CONVERT(nVarChar(2),EstimationLineItems.SupplementVersion),2)  
			ELSE 'E'  
		END						'LineIndicator',  
		EstimationLineItems.LineNumber		'LineReference',  
		CASE 	WHEN EstimationLineItems.ACDCode = 'A' 	THEN 1  
			WHEN EstimationLineItems.ACDCode = 'C' 	THEN 2  
			WHEN EstimationLineItems.ACDCode = 'D' 	THEN 3  
			ELSE 1  
		END						'TransactionCode',  
		N''				'DatabaseReference',  
		ISNULL(EstimationLineLabor.UniqueSequenceNumber,EstimationLineItems.UniqueSequenceNumber)  
								'UniqueSequenceNumber',  
		N'O'				'WhoPays',  
		CAST(LEFT(  
		ISNULL(nullif(EstimationLineItems.Description,''),EstimationLineItems.ActionDescription),40) as nvarchar(40))	'DamageEntryDescription',  
  
		CAST(CASE 	WHEN ISNULL(EstimationLineItems.PartSource ,'') = 'OEM' 	THEN 'PAN'  
			WHEN ISNULL(EstimationLineItems.PartSource ,'') = 'Reman' 	THEN 'PAM'  
			WHEN ISNULL(EstimationLineItems.PartSource ,'') = 'After' 	THEN 'PAA'  
			WHEN ISNULL(EstimationLineItems.PartSource ,'') = 'LKQ' 	THEN 'PAL'  
			WHEN ISNULL(EstimationLineItems.PartSource ,'') = 'Other' 	THEN 'PAO'  
			WHEN LaborTypes.id = 15						THEN 'PAS'  
			ELSE ''  
		END	as nvarchar(4))					'PartDescriptionPartType',  
		0						'PartDescriptionDescriptionJudgmentFlag',  
		0						'PartDescriptionGlassPartFlag',  
		cast(left(EstimationLineItems.PartNumber,25) as nvarchar(25))		'PartDescriptionOEMPartNumber',  
		0						'PartDescriptionPriceIncludedIndicator',  
		0						'PartDescriptionAlternatePartIndicator',  
		CASE	WHEN ISNULL(EstimationLineItems.Price, 0)>0 THEN  ISNULL(CustomerProfileRatesPart.Taxable,0)  
			ELSE 0  
		END						'PartDescriptionTaxableFlag',  
		ISNULL(EstimationLineItems.Price, 0)		'PartDescriptionDatabasePartPrice',  
		case when ol2.OverlapAdjacentFlag = 'S' then 0  
			else ISNULL(EstimationLineItems.Price, 0)	end	'PartDescriptionActualPartPrice',  
		0						'PartDescriptionPriceJudgmentFlag',  
		0						'PartDescriptionCertifiedFlag',  
		dbo.GetLineItemQuantity(EstimationLineItems.id) 			'PartDescriptionQuantity',  
		CAST(LEFT(CASE 	WHEN 	EstimationLineItems.PartSourceVendorID IS NOT NULL AND   
				ISNULL(EstimationLineItems.PartSource,'')<>'OEM'   
				--THEN ISNULL(IDCode.ItemText,'')  
				THEN ''		 
			ELSE ''  
		END,20) as nvarchar(20))						 'NonOemSupplierCompanyIDCode',  
		LEFT(
			CASE 	
				WHEN ISNULL(EstimationLineItems.PartSourceVendorID, 0) > 0  
					THEN
						CASE WHEN ISNULL(EstimationLineItems.PartSource, '') = 'After' THEN EstimationLineItems.SourcePartNumber + 'CC'  
						WHEN ISNULL(EstimationLineItems.PartSource,'') <> 'OEM' THEN EstimationLineItems.PartNumber + 'BB'  
						ELSE ''
					END
				ELSE 'none' 
			 END
		,25) 'NonOemSupplierPartNumber',  
		0  'NonOemSupplierUserOverride',  
		NULL 'NonOemSupplierMemo',  
		0 'AdjustmentPercent',  
		0 'AdjustmentAmount',  
		CAST(CASE  
			WHEN LaborTypes.id = 15	THEN  NULL  
			when left(ISNULL(LaborTypes.EMSCodeLabor,'LAB'),4) = 'LA2S'Then 'LAR'  
			ELSE left(ISNULL(LaborTypes.EMSCodeLabor,'LAB'),4)	  
		END	as nvarchar(4))						'LaborDescriptionType',  
		ISNULL(-CustomerProfilesPaint.AdjacentDeduction,0)	'LaborDescriptionDatabaseHours',  
		ISNULL(-CustomerProfilesPaint.AdjacentDeduction,0)	'LaborDescriptionActualHours',  
		--case when isnull(ol.estimationlineitemsid2,0) > 0 then 1 else 0 end as 'LaborDescriptionLaborIncludedIndicator',  
		 
		CASE WHEN ISNULL(LaborTypes.id, 0) = 20   
		THEN 0 
		ELSE ProcessedLines.LaborIncluded END AS 'LaborDescriptionLaborIncludedIndicator',   
 
		CAST(ISNULL(ISNULL(LaborTypes.EMSCodeOperation,ActionList.EMSActionCode),'OP11') as nvarchar(4)) 'LaborDescriptionOperation',  
		0 'LaborDescriptionHoursJudgmentFlag',  
		0 'LaborDescriptionTypeJudgmentFlag',  
		0 'LaborDescriptionOperationJudgmentFlag',  
		0 'LaborDescriptionPaintStageIndicator',  
		0 'LaborDescriptionToneIndicator',  
		0 'LaborDescriptionTaxableFlag',  
		0 'LaborDescriptionAmount',  
  
		CASE  
			WHEN LaborTypes.id = 15	THEN ProcessedLines.OtherCharges   
			ELSE NULL  
		END							'LaborMiscSublet',  
		 CASE  
			WHEN LaborTypes.id = 15	THEN 1  
			ELSE ISNULL(EstimationLineLabor.SubletFlag,0)  
		END							'LaborMiscSubletSubletFlag',  
		CASE   
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) <> 0	THEN 1  
			WHEN ISNULL(EstimationLineLabor.BettermentFlag,0)	<> 0	THEN 1  
			ELSE 0  
		END							'LaborMiscSubletTaxableFlag',  
		CAST(LEFT(CASE  
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) <> 0 AND   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN  
				CASE 	WHEN EstimationLineLabor.LaborType IN (7,9,10,11,12,16,17,18,19,20,21,22) THEN 'BELP'  
					ELSE 'BELA'  
				END  
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) = 0 AND   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN  
				CASE 	WHEN EstimationLineLabor.LaborType IN (7,9,10,11,12,16,17,18,19,20,21,22) THEN 'BETP'  
					ELSE 'BELA'  
				END  
			WHEN ISNULL(EstimationLineItems.BettermentParts,0) <> 0 AND   
				ISNULL(EstimationLineLabor.BettermentFlag,0) = 0	THEN	'BEPA'  
		END,4) as nvarchar(4))							'LaborMiscBettermentType',  
		CASE  
			WHEN 	ISNULL(EstimationLineItems.BettermentParts,0) <> 0 OR   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN	100  
			WHEN ISNULL(EstimationLineItems.BettermentValue,0) > 0 	THEN 	EstimationLineItems.BettermentValue  
			ELSE 0  
		END 							'LaborMiscBettermentPercent',  
		( (ISNULL(EstimationLineItems.Price, 0) + ISNULL(EstimationLineLabor.LaborTime,0) ) *   
			ISNULL(ISNULL(CustomerProfileRates3.Rate,CustomerProfileRates2.Rate),CustomerProfileRates1.Rate) ) *  
		CASE  
			WHEN 	ISNULL(EstimationLineItems.BettermentParts,0) <> 0 OR   
				ISNULL(EstimationLineLabor.BettermentFlag,0) <> 0	THEN	100  
			WHEN ISNULL(EstimationLineItems.BettermentValue,0) > 0 	THEN 	EstimationLineItems.BettermentValue  
			ELSE 0  
		END / 100						'LaborMiscBettermentAmount',  
		COALESCE(CustomerProfileRates3.Taxable,CustomerProfileRates2.Taxable,CustomerProfileRates1.Taxable,0) 'LaborMiscBettermentTaxableFlag',  
		EstimationLineItems.id as 'lid',  
		LaborTypes.id as 'ltid',  
		EstimationLineItems.ModifiesID, 
 
		CASE WHEN EstimationLineItems.ActionCode IN ('R+R','R+I','Replace') AND ISNULL(ol2.Amount, 0) < 0 
		THEN '0' ELSE '1' END AS 'IsIncluded' 
	  
	FROM AdminInfo   
	INNER JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.id 
	LEFT JOIN CustomerProfiles ON CustomerProfiles.ID = AdminInfo.CustomerProfilesID  
	LEFT JOIN EstimationLineItems EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.id  
  
	LEFT JOIN  
	( 
		SELECT 'LKQ' 'PartSource', 9 'RateType'  
		UNION SELECT 'OEM', 8  
		UNION SELECT 'Retail', 8  
		UNION SELECT 'After', 10  
		UNION SELECT 'Reman', 13  
		UNION SELECT 'Other', 18  	 
	) PartSourceRateTypes ON PartSourceRateTypes.PartSource = EstimationLineItems.PartSource 
	LEFT JOIN CustomerProfileRates CustomerProfileRatesPart ON CustomerProfileRatesPart.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRatesPart.RateType = PartSourceRateTypes.RateType  
	left join #EstimationOverlap1 as ol on ol.estimationlineitemsid2 = EstimationLineItems.id  
	left join #EstimationOverlap1 as ol2 on ol2.estimationlineitemsid1 = EstimationLineItems.id  
	LEFT JOIN ActionList ON ActionList.ActionShort = EstimationLineItems.ActionCode 
	LEFT JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.id AND  ((ISNULL(EstimationLineLabor.Include, 1) = 1 OR EstimationLineLabor.LaborType NOT IN (20, 21, 22, 26))) 
	LEFT JOIN LaborTypes ON LaborTypes.id  = EstimationLineLabor.LaborType  
	LEFT JOIN RateTypes ON RateTypes.id   = LaborTypes.RateTypesID  
	--LEFT JOIN ContactItems IDCode ON IDCode.ContactsID  = EstimationLineItems.PartSourceVendorID AND IDCode.ContactItemTypeID = 31 
	LEFT JOIN CustomerProfileRates CustomerProfileRates1 ON CustomerProfileRates1.CustomerProfilesID = CustomerProfiles.ID AND CustomerProfileRates1.RateType = RateTypes.ID 
	LEFT JOIN CustomerProfileRates CustomerProfileRates2 ON CustomerProfileRates2.CustomerProfilesID = CustomerProfiles.ID AND CustomerProfileRates2.RateType = CustomerProfileRates1.IncludeIn 
	LEFT JOIN CustomerProfileRates CustomerProfileRates3 ON CustomerProfileRates3.CustomerProfilesID = CustomerProfiles.ID AND CustomerProfileRates3.RateType = CustomerProfileRates2.IncludeIn  
	LEFT JOIN CodeList PartTypes ON PartTypes.MasterCodeListTabsID = 38 AND PartTypes.RateTypeID = RateTypes.id 
	LEFT JOIN EstimationLineItems EstimationLineItemsModifies ON EstimationLineItemsModifies.id = EstimationLineItems.ModifiesID 
	LEFT JOIN CustomerProfilesPaint CustomerProfilesPaint ON CustomerProfilesPaint.CustomerProfilesID = CustomerProfiles.ID 
	  
	LEFT JOIN ProcessedLines ON ProcessedLines.EstimateID = @AdminInfoID AND EstimationLineItems.Id = ProcessedLines.LineItemID 
 
	WHERE AdminInfo.ID = @AdminInfoID AND  
		EstimationLineLabor.AdjacentDeduction>0 AND  
  
		LEFT(ISNULL(EstimationLineItems.ActionCode + '-', '') +  
		ISNULL(EstimationLineItems.ActionDescription + '-', '') +   
		ISNULL(EstimationLineItems.Description, ''),40) NOT LIKE '%Hazard%' AND  
  
		LEFT(ISNULL(EstimationLineItems.ActionCode + '-', '') +  
		ISNULL(EstimationLineItems.ActionDescription + '-', '') +   
		ISNULL(EstimationLineItems.Description, ''),40) NOT LIKE '%Hazerd%'  
  
	ORDER BY EstimationLineItems.id, 	  
		LaborTypes.id  
		  
	  
select distinct * into #temp2  
from #temp  
   
    
  
select ROW_NUMBER() OVER(ORDER BY lid, 	ltid)'LineNumber',* into #temp3  
from #temp2  
  
   
  
select * into #temp4  
from #temp3  
where lid in (select ModifiesID from #temp3 where ModifiesID > 0)  
   
  
delete from #temp3 where lid in (select lid from #temp4)  
   
--SELECT * FROM #temp3
   
--delete   
--from #temp3   
--where lid in (select EstimationLineItemsID1 from #EstimationOverlap1)  
--and nullif(PartDescriptionPartType,'') is null  
  
  
select   
 isnull(t4.LineNumber,t3.LineNumber) as LINE_NO  
,t3.LineIndicator AS LINE_IND 
,isnull(t4.LineReference,t3.LineReference) as LINE_REF  
,t3.TransactionCode AS TRAN_CODE 
,t3.DatabaseReference AS DB_REF 
,isnull(t4.UniqueSequenceNumber,t3.UniqueSequenceNumber) AS UNQ_SEQ 
,t3.WhoPays AS WHO_PAYS 
, isnull(nullif(t3.DamageEntryDescription,''),l.ActionDescription)  as LINE_DESC 
,t3.PartDescriptionPartType AS PART_TYPE 
,t3.PartDescriptionDescriptionJudgmentFlag AS PART_DES_J 
,t3.PartDescriptionGlassPartFlag AS GLASS_FLAG 
,t3.PartDescriptionOEMPartNumber AS OEM_PARTNO 
,t3.PartDescriptionPriceIncludedIndicator AS PRICE_INC 
,t3.PartDescriptionAlternatePartIndicator AS ALT_PART_I 
,t3.PartDescriptionTaxableFlag AS TAX_PART 
,t3.PartDescriptionDatabasePartPrice AS DB_PRICE 
--,case when nullif(t3.PartDescriptionPartType,'') is null then '0.00' else  t3.PartDescriptionActualPartPrice end  AS ACT_PRICE  
,t3.PartDescriptionActualPartPrice AS ACT_PRICE  
,t3.PartDescriptionPriceJudgmentFlag AS PRICE_J 
,t3.PartDescriptionCertifiedFlag AS CERT_PART 
,t3.PartDescriptionQuantity AS PART_QTY 
,t3.NonOemSupplierCompanyIDCode AS ALT_CO_ID 
,t3.NonOemSupplierPartNumber AS ALT_PARTNO 
,t3.NonOemSupplierUserOverride AS ALT_OVERRD 
,t3.NonOemSupplierMemo AS ALT_PARTM 
,t3.AdjustmentPercent AS PRT_DSMK_P 
,t3.AdjustmentAmount AS PRT_DSMK_M 
,t3.LaborDescriptionType AS MOD_LBR_TY 
--,CASE WHEN t3.IsIncluded = '1' THEN ROUND(t3.LaborDescriptionDatabaseHours, 1) ELSE 0 END As DB_HRS 
--,CASE WHEN t3.IsIncluded = '1' THEN ROUND(t3.LaborDescriptionActualHours, 1) ELSE 0 END As MOD_LB_HRS 
,ROUND(t3.LaborDescriptionDatabaseHours, 1) As DB_HRS 
--,CASE WHEN t3.LaborDescriptionLaborIncludedIndicator = 0 THEN ROUND(t3.LaborDescriptionActualHours, 1) ELSE 0 END As MOD_LB_HRS 
,ROUND(t3.LaborDescriptionActualHours, 1) MOD_LB_HRS 
,CASE WHEN t3.LaborDescriptionType = 'LAB' THEN t3.LaborDescriptionLaborIncludedIndicator ELSE 0 END AS LBR_INC 
,t3.LaborDescriptionOperation AS LBR_OP 
,t3.LaborDescriptionHoursJudgmentFlag AS LBR_HRS_J 
,t3.LaborDescriptionTypeJudgmentFlag AS LBR_TYP_J 
,t3.LaborDescriptionOperationJudgmentFlag AS LBR_OP_J 
,t3.LaborDescriptionPaintStageIndicator AS PAINT_STG 
,t3.LaborDescriptionToneIndicator AS PAINT_TONE 
,t3.LaborDescriptionTaxableFlag AS LBR_TAX 
,CASE WHEN t3.LaborDescriptionLaborIncludedIndicator = 0 THEN t3.LaborDescriptionAmount ELSE 0 END As LBR_AMT 
--,t3.LaborDescriptionAmount As LBR_AMT 
,t3.LaborMiscSublet AS MISC_AMT 
,t3.LaborMiscSubletSubletFlag AS MISC_SUBLT 
,t3.LaborMiscSubletTaxableFlag AS MISC_TAX 
,t3.LaborMiscBettermentType AS BETT_TYPE 
,t3.LaborMiscBettermentPercent AS BETT_PCTG 
,t3.LaborMiscBettermentAmount AS BETT_AMT 
,t3.LaborMiscBettermentTaxableFlag AS BETT_TAX 
from #temp3 as t3	   
	left join #temp4 as t4  
		on t3.ltid = t4.ltid  
		and t3.ModifiesID = t4.lid  
	left join EstimationLineItems as l  
		on l.id = t3.lid  
where l.ActionDescription not like '%delete%'  
AND (t3.LaborDescriptionType <> 'LAR' OR ISNULL(t3.LaborDescriptionActualHours, 0) > 0) 
END  


DROP TABLE #EstimationOverlap1
DROP TABLE #LaborTable
DROP TABLE #temp
DROP TABLE #temp2
DROP TABLE #temp3
DROP TABLE #temp4
GO
