USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_GetAllImages]   
@AdminInfoID int  
as  
begin  

	SELECT *
	FROM EstimationImages
	WHERE AdminInfoID = @AdminInfoID
    
end


 

GO
