USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechNotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoginsID] [int] NULL,
	[NoteDate] [datetime] NULL,
	[Tech] [varchar](50) NULL,
	[Note] [varchar](1000) NULL,
	[IPAddress] [varchar](25) NULL,
 CONSTRAINT [PK_TechNotes] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TechNotes] ADD  CONSTRAINT [DF_TechNotes_NoteDate]  DEFAULT (getdate()) FOR [NoteDate]
GO
