USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impersonate_Logins](
	[ImpersonateID] [int] IDENTITY(1,1) NOT NULL,
	[LanguageID] [int] NULL,
	[LoginID] [int] NOT NULL,
	[LoginName] [varchar](50) NULL,
	[Organization] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[SessionID] [varchar](50) NULL
) ON [PRIMARY]
GO
