USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[ImportInvitationNumber]
	@InvitationNumber VarChar(20)
AS
DECLARE @COMPANY VarChar(100)
DECLARE @CONTACT VarChar(100)
DECLARE @ADDRESS VarChar(100)
DECLARE @ADDRESS2 VarChar(100)
DECLARE @CITY VarChar(100)
DECLARE @STATE VarChar(100)
DECLARE @ZIP VarChar(100)
DECLARE @STATUS VarChar(100)
DECLARE @PHONE VarChar(100)
DECLARE @REP VarChar(100)
DECLARE @ExpireDate DateTime
DECLARE @LoginsID Int
DECLARE @i Int
SET NOCOUNT ON

SELECT @ExpireDate = DateAdd(d, 30, GetDate())

DECLARE DemoCursor CURSOR FOR
	SELECT 	[Company], 
		[Contact], 
		[Address], 
		[Address2], 
		[City], 
		[State], 
		[Zip], 
		[Status], 
		[Phone], 
		[Rep], 
		[InvitationNumber],
		[ExpireDate]
	FROM Flyer with(nolock)
	WHERE Flyer.InvitationNumber = @InvitationNumber
OPEN DemoCursor

FETCH NEXT FROM DemoCursor INTO @COMPANY,@CONTACT,@ADDRESS,@ADDRESS2,@CITY,@STATE,@ZIP,@STATUS,@PHONE,@REP,@InvitationNumber,@ExpireDate
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @LoginsID = NULL, @i = 1, @ExpireDate = DateAdd(d, 30, GetDate())
	INSERT INTO Logins WITH (ROWLOCK) (OrganizationID, LoginName, Organization, encPassword, PasswordExpired, Disabled, [ExpireDate], UseTabsOnContactInfo, EstInfoOwnPage, DemoUser, QuickReports)
		VALUES (NULL, 'BodyshopInvite', @InvitationNumber, '33-45-A5-78-AB-68-69-F7-6E-A3-CF-AE-FC-55-C4-CB', 0, 0, @ExpireDate, 1, 0, 1, 1)
	SELECT @LoginsID = @@IDENTITY
	IF ISNULL(@LoginsID,-1) >-1
	BEGIN
		EXECUTE CustomerProfileFunctions @Function = 'CreateDefault', @LoginsID = @LoginsID, @NoReturn = 1

		EXECUTE PersonalInformation_Functions
			@Function = 'UpdatePersonInfo',
			@LoginsID = @LoginsID,
			@Phone1 = @PHONE,
			@PhoneCode1 = 'WP',
			@EmailAddress = '',
			@FirstName = @CONTACT,
			@LastName = '',
			@MiddleName = ''

		EXECUTE Organization_Functions
			@Function = 'UpdateOrgInfo',
			@LoginsID = @LoginsID,
			@CompanyName = @COMPANY,
			@Address1 = @ADDRESS,
			@Address2 = @ADDRESS2,
			@City = @CITY,
			@State = @STATE,
			@ZipCode = @ZIP,
			@PhoneCode1 = @PHONE,
			@Phone1 = 'WP'
	END

	FETCH NEXT FROM DemoCursor INTO @COMPANY,@CONTACT,@ADDRESS,@ADDRESS2,@CITY,@STATE,@ZIP,@STATUS,@PHONE,@REP,@InvitationNumber,@ExpireDate
END

CLOSE DemoCursor
DEALLOCATE DemoCursor



GO
