USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[App_ImportExport]
	@Function VarChar(25),
	@AdminInfoID Int = NULL,
	@SWVersion VarChar(20) = NULL,
	@EnvelopeID Int = NULL,
	@LoginsID Int = NULL,
	@FileList VarChar(2000) = NULL,
	@id Int = NULL,
	@BaseName VarChar(25) = NULL,
	@ExportType VarChar(10) = NULL,
	@EstimateMode VarChar(10) = NULL
AS
SET NOCOUNT ON
DECLARE @i Int
DECLARE @FileName VarChar(25)

IF @Function = 'ExportEMS2.6' AND
	@AdminInfoID IS NOT NULL
BEGIN
	EXECUTE EMS26.dbo.ExportEMS26 
		@AdminInfoID = @AdminInfoID,
		@SWVersion = @SWVersion,
		@ExportType = @ExportType,
		@EstimateMode = @EstimateMode,
		@EnvelopeID = @EnvelopeID OUTPUT
	SELECT @EnvelopeID 'ID'
END

IF @Function = 'GetExportListEMS2.6' AND
	@AdminInfoID IS NOT NULL
BEGIN
--	SELECT id, CreationDateTime
--	FROM EMS26.Dbo.Envelope WITH (NOLOCK)
--	WHERE AdminInfoID = @AdminInfoID

	SELECT msgID id, msgAddDate CreationDateTime, msgStatusLong Status, msgValue3 ExportFormat
	FROM MessageQueue WITH (NOLOCK)
	WHERE msgType = 1
	AND 
		CAST(@AdminInfoID as varchar(20)) = msgValue1
	AND
		msgViewable = 1
	ORDER BY msgAddDate DESC
	 
	
END

IF @Function = 'DeleteEnvelopeEMS2.6' AND
	@EnvelopeID IS NOT NULL 
BEGIN
--	DELETE FROM EMS26.Dbo.Administrative1 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.Administrative2 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.ProfileRates1 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.ProfileRates2 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.ProfileRates3 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.ProfileRates4 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.ProfileRates5 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.ProfileRates6 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.NonOEM WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.DetailPartsPriceChange WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.Totals1 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.Totals2 WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.Vehicle WHERE EnvelopeID = @EnvelopeID
--	DELETE FROM EMS26.Dbo.Envelope WHERE id = @EnvelopeID
	Update MessageQueue SET msgViewable = 0,
	msgDeleteDate = getdate(), msgChgBy = @LoginsID, msgChgDate = getdate() 
	WHERE msgID = @EnvelopeID
END

IF @Function = 'AddImportInfo'  AND
	@LoginsID IS NOT NULL AND
	@AdminInfoID IS NOT NULL
BEGIN
	INSERT INTO EMS26In.Dbo.ImportInfo (AdminInfoID, OwnerID)
		VALUES (@AdminInfoID, @LoginsID)
	SELECT @id = @@IDENTITY 
	SELECT @id 'ID'
END

IF @Function = 'UpdateBaseName'  AND
	@ID IS NOT NULL AND
	@BaseName IS NOT NULL
BEGIN
	UPDATE EMS26In.Dbo.ImportInfo 
	SET OriginalBaseName = @BaseName	
	WHERE ID = @ID
END

IF @Function = 'ConvertImport'  AND
	@ID IS NOT NULL 
BEGIN
	EXECUTE EMS26IN.Dbo.ConvertImport @EnvelopeID = @id
END

IF @Function = 'DeleteImportInfo' AND
	@AdminInfoID IS NOT NULL
BEGIN
	SELECT @EnvelopeID = ImportInfo.ID 
	FROM EMS26In.Dbo.ImportInfo ImportInfo WITH (NOLOCK)
	WHERE ImportInfo.AdminInfoID = @AdminInfoID 

	DELETE FROM EMS26In.Dbo.Totals2 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Totals1 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Vehicle WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.NonOem WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Admin2 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Admin1 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Detail WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Profile1 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Profile2 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Profile3 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Profile4 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Profile5 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Profile6 WHERE EnvelopeID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.Envelope WHERE ID = @EnvelopeID 
	DELETE FROM EMS26In.Dbo.ImportInfo WHERE ID = @EnvelopeID 
END







GO
