USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[GetVehicleStepParts]
	@VehicleID Int,
	@SectionID Int,
	@AdminInfoID Int,
	@PartNumber VarChar(50) = NULL
AS
-- Gets the oem info and times which ooverride the defaults for this vehicle type.



DECLARE @PartNumberID Int
DECLARE @SideID Int
DECLARE @OEMPriceID Int
DECLARE @RITimeID Int
DECLARE @RRTimeID Int
DECLARE @ReplaceID Int
DECLARE @PaintableID Int
DECLARE @PaintTimeID Int
DECLARE @LaborTypeID Int
DECLARE @PaintTypeID Int
DECLARE @NoteID Int

SELECT 	@PartNumberID = 7,
	@SideID = 1,
	@OEMPriceID = 8,
	@RITimeID = 33,
	@RRTimeID = 34,
	@ReplaceID = 35,
	@PaintableID = 36,
	@PaintTimeID = 37,
	@LaborTypeID = 38,
	@PaintTypeID = 39,
	@NoteID = 14

SELECT	DISTINCT
	StepList.id 'StepListID',
 	CONVERT(VarChar(100),Elements.OEMPartNumber + ' - ' + 
		CASE 	WHEN StepListToElements.VehiclePosition = 'L' THEN 'Left '
			WHEN StepListToElements.VehiclePosition = 'R' THEN 'Right '
			ELSE ''
		END + ISNULL(StepElementsTextValuesLastStep.TextValue,'')) +
		CASE	WHEN StepElementTextValuesNote.TextValue IS NOT NULL THEN ' ' + StepElementTextValuesNote.TextValue 
			ELSE ''
		END 		'ListBoxText',
	CONVERT(VarChar(100),'') 'Description',
	Elements.OEMPartNumber 'PartNumber',
	StepListToElements.VehiclePosition 'Side',
	Elements.OEMRetailPrice 'OEMPrice',

	 
	ISNULL(OperationExceptions.RI, BodyTypeOperations.RI) 'RI',
	ISNULL(OperationExceptions.RR, BodyTypeOperations.RR) 'RR',
	0 'Repair',
	ISNULL(OperationExceptions.[Replace], BodyTypeOperations.[Replace]) 'Replace',
	ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint) 'Paint',
	ISNULL(OperationExceptions.LaborType, BodyTypeOperations.LaborType) 'LaborType',
	ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType) 'PaintType',

	CASE 	WHEN 	CONVERT(Int,ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType)) = 1 AND
			ISNULL(CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint)),0)>0 
			THEN	(CustomerProfilesPaint.Blend/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		ELSE	0
	END 'Blend',

	CASE 	WHEN 	CONVERT(Int,ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType)) = 1 AND
			ISNULL(CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint)),0)>0 
			THEN	CustomerProfilesPaint.Edging
		ELSE	0
	END 'Edging',

	CASE 	WHEN 	CONVERT(Int,ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType)) = 1 AND
			ISNULL(CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint)),0)>0 
			THEN	(CustomerProfilesPaint.Underside/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		ELSE	0
	END 'Underside',

	CASE 	WHEN 	ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType) = '9' AND	--Clearcoat
			FocusWrite.dbo.GetMajorPanel(Elements.OEMPartNumber, @AdminInfoID) = 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 	(CustomerProfilesPaint.OverlapClearCoat/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		WHEN  	ISNULL(OperationExceptions.RI, BodyTypeOperations.PaintType) = '9' AND	--Clearcoat
			FocusWrite.dbo.GetMajorPanel(Elements.OEMPartNumber, @AdminInfoID) <> 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 	(CustomerProfilesPaint.MajorClearCoat/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		ELSE 0
	END 'Clearcoat',

	CASE 	WHEN 	ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType) = '18' AND	--ThreeStage
			FocusWrite.dbo.GetMajorPanel(Elements.OEMPartNumber, @AdminInfoID) = 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 	(CustomerProfilesPaint.OverlapThreeStage/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		WHEN  	ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType) = '18' AND	--ThreeStage
			FocusWrite.dbo.GetMajorPanel(Elements.OEMPartNumber, @AdminInfoID) <> 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 	(CustomerProfilesPaint.MajorThreeStage/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))

		WHEN 	ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType) = '29' AND	--TwoTone
			FocusWrite.dbo.GetMajorPanel(Elements.OEMPartNumber, @AdminInfoID) = 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 	(CustomerProfilesPaint.OverLapTwoTone/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		WHEN  	ISNULL(OperationExceptions.PaintType, BodyTypeOperations.PaintType) = '29' AND	--TwoTone
			FocusWrite.dbo.GetMajorPanel(Elements.OEMPartNumber, @AdminInfoID) <> 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 	(CustomerProfilesPaint.MajorTwoTone/100.0) * CONVERT(Real,ISNULL(OperationExceptions.Paint, BodyTypeOperations.Paint))
		ELSE	0
	END 'Allowance',

	CASE 	WHEN 	FocusWrite.dbo.GetAdjacnetPanel(Elements.OEMPartNumber, @AdminInfoID) = 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 2
		WHEN 	FocusWrite.dbo.GetAdjacnetPanel(Elements.OEMPartNumber, @AdminInfoID) <> 0 AND
			CustomerProfilesPaint.AllowDeductions <> 0
			THEN 1
		ELSE 0
	END 'AdjacentDeduction',
	CASE 	WHEN ActionList.ActionShort = 'Replace' THEN EstimationLineLaborLaborType.LaborTime
		ELSE NULL
	END 'UserReplace',
	CASE 	WHEN ActionList.ActionShort = 'R+I' THEN EstimationLineLaborLaborType.LaborTime
		ELSE NULL
	END 'UserRI',
	CASE 	WHEN ActionList.ActionShort = 'R+R' THEN EstimationLineLaborLaborType.LaborTime
		ELSE NULL
	END 'UserRR',
	CASE 	WHEN ActionList.ActionShort = 'Repair' THEN EstimationLineLaborLaborType.LaborTime
		ELSE NULL
	END 'UserRepair',


	CASE 	WHEN ActionList.ActionShort = 'Replace' THEN EstimationLineItems.id
		ELSE NULL
	END 'UserReplace_ID',
	CASE 	WHEN ActionList.ActionShort = 'R+I' THEN EstimationLineItems.id
		ELSE NULL
	END 'UserRI_ID',
	CASE 	WHEN ActionList.ActionShort = 'R+R' THEN EstimationLineItems.id
		ELSE NULL
	END 'UserRR_ID',
	CASE 	WHEN ActionList.ActionShort = 'Repair' THEN EstimationLineItems.id
		ELSE NULL
	END 'UserRepair_ID',
	EstimationLineLaborLaborType.LaborType 'UserLaborType',
	EstimationLineLaborPaintType.LaborType 'UserPaintType',
	EstimationLineLaborPaintType.LaborTime 'UserRefinish',
	EstimationLineLaborBlendType.LaborTime 'UserBlend',
	EstimationLineLaborClearcoatType.LaborTime 'UserClearcoat',
	EstimationLineLaborAllowanceType.LaborTime 'UserAllowance',
	EstimationLineLaborEdgingType.LaborTime 'UserEdge',
	EstimationLineLaborUndersideType.LaborTime 'UserUnderside',

	CASE 	WHEN ISNULL(EstimationLineLaborPaintType.LaborTime,0)>0 THEN EstimationLineItems.id
		ELSE NULL
	END 'UserRefinish_ID',

	EstimationLineItems.PartNumber 'UserPartSourcePartNumber',
	EstimationLineItems.Price 'UserPartSourcePrice',
	EstimationLineItems.PartSource 'UserPartSourceType',
	EstimationLineItems.PartSourceVendorID 'UserPartSourceID',
	EstimationLineLaborPaintType.AdjacentDeduction 'UserAdjacentDeduction',
	OtherParts.SourceID,
	OtherParts.SourcePartNumber,
	OtherParts.SourceName ,
	StepListToElements.ReferenceNumber2d,
	StepListToElements.ReferenceNumber3d,
	StepList.StepsID 'StepsID'

FROM Vehicles.dbo.VehicleSteps VehicleSteps WITH (NOLOCK)
INNER JOIN Vehicles.dbo.VehicleSections VehicleSections WITH (NOLOCK) ON
	(VehicleSections.id = @SectionID)
INNER JOIN Vehicles.dbo.VehicleSectionParts VehicleSectionParts WITH (NOLOCK) ON
	(VehicleSectionParts.VehicleSectionsID = VehicleSections.id)
INNER JOIN Vehicles.dbo.StepList StepList WITH (NOLOCK) ON
	(StepList.VehicleStepsID = VehicleSteps.id AND
	 StepList.StepsID = VehicleSectionParts.StepsID)
INNER JOIN Vehicles.dbo.Steps StepsBig WITH (NOLOCK) ON
	(StepsBig.id = StepList.StepsID)


INNER JOIN Vehicles.dbo.StepElementTextValues StepElementsTextValuesLastStep WITH (NOLOCK) ON
	(	(ISNULL(StepsBig.Step6TextValuesID,43) = 43 AND ISNULL(StepsBig.Step5TextValuesID,43) = 43 AND ISNULL(StepsBig.Step4TextValuesID,43) = 43 AND 
		 StepElementsTextValuesLastStep.ID = StepsBig.Step3TextValuesID) OR
		(ISNULL(StepsBig.Step6TextValuesID,43) = 43 AND ISNULL(StepsBig.Step5TextValuesID,43) = 43 AND ISNULL(StepsBig.Step4TextValuesID,43) <> 43  AND 
		 StepElementsTextValuesLastStep.ID = StepsBig.Step4TextValuesID) OR
		(ISNULL(StepsBig.Step6TextValuesID,43) = 43 AND ISNULL(StepsBig.Step5TextValuesID,43) <> 43 AND ISNULL(StepsBig.Step4TextValuesID,43) <> 43  AND   
		 StepElementsTextValuesLastStep.ID = StepsBig.Step5TextValuesID) OR
		(ISNULL(StepsBig.Step6TextValuesID,43) <> 43 AND ISNULL(StepsBig.Step5TextValuesID,43) <> 43 AND ISNULL(StepsBig.Step4TextValuesID,43) <> 43  AND   
		 StepElementsTextValuesLastStep.ID = StepsBig.Step6TextValuesID)
	)


INNER JOIN Vehicles.dbo.StepListToElements StepListToElements WITH (NOLOCK) ON
	(StepListToElements.StepListID = StepList.id)
INNER JOIN Vehicles.dbo.Elements Elements WITH (NOLOCK) ON
	(Elements.id = StepListToElements.ElementsID)
LEFT JOIN Vehicles.dbo.ElementProperties ElementPropertiesNote WITH (NOLOCK) ON
	(ElementPropertiesNote.ElementsID = Elements.id AND
	 ElementPropertiesNote.ElementTitlesID = 14)
LEFT JOIN Vehicles.dbo.StepElementTextValues StepElementTextValuesNote WITH (NOLOCK) ON
	(StepElementTextValuesNote.id = ElementPropertiesNote.ValueTextValuesID)

INNER JOIN AdminInfo WITH (NOLOCK) ON
	(AdminInfo.id = @AdminInfoID)
LEFT JOIN CustomerProfiles CustomerProfiles1 WITH (NOLOCK) ON
	(CustomerProfiles1.id = AdminInfo.CustomerProfilesID)
LEFT JOIN (	SELECT TOP 1 CustomerProfiles.*
		FROM CustomerProfiles WITH (NOLOCK)
		INNER JOIN AdminInfo WITH (NOLOCK) ON
			(AdminInfo.id = @AdminInfoID)
		WHERE CustomerProfiles.OwnerID = AdminInfo.CreatorID AND
			CustomerProfiles.DefaultFlag <> 0) CustomerProfiles2 ON
	(1=1)
INNER JOIN CustomerProfilesPaint WITH (NOLOCK) ON
	(CustomerProfilesPaint.CustomerProfilesID = ISNULL(CustomerProfiles1.ID,CustomerProfiles2.ID)) 

INNER JOIN EstimationData WITH (NOLOCK) ON
	(EstimationData.AdminInfoID = AdminInfo.ID)
INNER JOIN VehicleInfo WITH (NOLOCK) ON
	(VehicleInfo.EstimationDataId = EstimationData.id)

LEFT JOIN EstimationLineItems WITH (NOLOCK) ON
	(EstimationLineItems.EstimationDataID = EstimationData.ID AND
	 (Elements.OEMPartNumber = EstimationLineItems.PartNumber OR
	  EstimationLineItems.StepID = VehicleSectionParts.StepsID))
LEFT JOIN ActionList WITH (NOLOCK) ON
	(ActionList.ActionShort = EstimationLineItems.ActionCode)

LEFT JOIN EstimationLineLabor EstimationLineLaborLaborType WITH (NOLOCK) ON
	(EstimationLineLaborLaborType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborLaborType.LaborType in (1,2,3,4,5,6,8,24,25) )

LEFT JOIN EstimationLineLabor EstimationLineLaborPaintType WITH (NOLOCK) ON
	(EstimationLineLaborPaintType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborPaintType.LaborType in (9,16,18,19) )

LEFT JOIN EstimationLineLabor EstimationLineLaborOtherType WITH (NOLOCK) ON
	(EstimationLineLaborOtherType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborOtherType.LaborType in (13,14,15) )

LEFT JOIN EstimationLineLabor EstimationLineLaborClearcoatType WITH (NOLOCK) ON
	(EstimationLineLaborClearcoatType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborClearcoatType.LaborType = 20 )

LEFT JOIN EstimationLineLabor EstimationLineLaborAllowanceType WITH (NOLOCK) ON
	(EstimationLineLaborAllowanceType.EstimationLineItemsID = EstimationLineItems.ID AND
	 (EstimationLineLaborAllowanceType.LaborType = 27 AND EstimationLineLaborPaintType.LaborType = 18) OR
	 (EstimationLineLaborAllowanceType.LaborType = 28 AND EstimationLineLaborPaintType.LaborType = 19) )

LEFT JOIN EstimationLineLabor EstimationLineLaborBlendType WITH (NOLOCK) ON
	(EstimationLineLaborBlendType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborBlendType.LaborType = 26 )

LEFT JOIN EstimationLineLabor EstimationLineLaborEdgingType WITH (NOLOCK) ON
	(EstimationLineLaborEdgingType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborEdgingType.LaborType in (21,23) )

LEFT JOIN EstimationLineLabor EstimationLineLaborUndersideType WITH (NOLOCK) ON
	(EstimationLineLaborUndersideType.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationLineLaborUndersideType.LaborType in (22) )

LEFT JOIN EstimationNotes EstimationNotesPrinted WITH (NOLOCK) ON
	(EstimationNotesPrinted.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationNotesPrinted.Printed <> 0)

LEFT JOIN EstimationNotes EstimationNotesNonPrinted WITH (NOLOCK) ON
	(EstimationNotesNonPrinted.EstimationLineItemsID = EstimationLineItems.ID AND
	 EstimationNotesNonPrinted.Printed = 0)

LEFT JOIN Vehicles.Dbo.BodyTypeOperations BodyTypeOperations WITH (NOLOCK) ON
	(BodyTypeOperations.BodyTypeID = VehicleInfo.BodyType AND
	 BodyTypeOperations.StepsID = VehicleSectionParts.StepsID)

LEFT JOIN Vehicles.Dbo.OperationExceptions OperationExceptions WITH (NOLOCK) ON
	(OperationExceptions.VehiclesID = @VehicleID AND
	 OperationExceptions.StepsID = VehicleSectionParts.StepsID)

LEFT JOIN Parts.Dbo.OtherParts OtherParts WITH (NOLOCK) ON
	(OtherParts.SourceID = EstimationLineItems.PartSourceVendorID AND
	 OtherParts.SourcePartNumber = EstimationLineItems.SourcePartNumber)

WHERE VehicleSteps.VehicleID = @VehicleID AND
	VehicleSteps.LevelTie = 2 AND 
	StepList.StepsID = VehicleSectionParts.StepsID AND
	(@PartNumber IS NULL OR (@PartNumber IS NOT NULL AND Elements.OEMPartNumber = @PartNumber))




GO
