USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[UpdateInfoCollect]
	@LoginId int
	
AS

	UPDATE Logins set InfoForm = 1 where id = @LoginId


GO
