USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfilesMisc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerProfilesID] [int] NOT NULL,
	[TaxRate] [real] NULL,
	[SecondTaxRateStart] [real] NULL,
	[SecondTaxRate] [real] NULL,
	[ChargeForRadiatorRefilling] [bit] NULL,
	[RadiatorChargeAmount] [money] NULL,
	[ChargeForACRefilling] [bit] NULL,
	[ACChargeHow] [tinyint] NULL,
	[ACChargeAmount] [money] NULL,
	[LKQText] [varchar](50) NULL,
	[TotalLossPerc] [real] NULL,
	[IncludeStructureInBody] [bit] NULL,
	[ChargeForAimingHeadlights] [bit] NULL,
	[ChargeForPowerUnits] [bit] NULL,
	[ChargeForRefrigRecovery] [bit] NULL,
	[SuppressAddRelatedPrompt] [bit] NULL,
	[ChargeSuppliesOnAllOperations] [bit] NULL,
	[SuppLevel] [tinyint] NULL,
	[DoNotMarkChanges] [bit] NULL,
	[UseSepPartLaborTax] [bit] NULL,
	[PartTax] [real] NULL,
	[LaborTax] [real] NULL,
 CONSTRAINT [PK_CustomerProfileMisc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_CustomerProfilesMisc_7_750625717__K2_K1_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23] ON [dbo].[CustomerProfilesMisc]
(
	[CustomerProfilesID] ASC,
	[id] ASC
)
INCLUDE([TaxRate],[SecondTaxRateStart],[SecondTaxRate],[ChargeForRadiatorRefilling],[RadiatorChargeAmount],[ChargeForACRefilling],[ACChargeHow],[ACChargeAmount],[LKQText],[TotalLossPerc],[IncludeStructureInBody],[ChargeForAimingHeadlights],[ChargeForPowerUnits],[ChargeForRefrigRecovery],[SuppressAddRelatedPrompt],[ChargeSuppliesOnAllOperations],[SuppLevel],[DoNotMarkChanges],[UseSepPartLaborTax],[PartTax],[LaborTax]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_CustomerProfilesMisc_9_750625717__K2_K1_12] ON [dbo].[CustomerProfilesMisc]
(
	[CustomerProfilesID] ASC,
	[id] ASC
)
INCLUDE([TotalLossPerc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerProfilesMisc] ADD  CONSTRAINT [DF_CustomerProfilesMisc_DoNotMarkChanges]  DEFAULT (0) FOR [DoNotMarkChanges]
GO
