USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		<Author,,Name> 
-- Create date: <Create Date,,> 
-- Description:	<Description,,> 
-- ============================================= 
CREATE FUNCTION [dbo].[GetEstimateLineItemSummary]  
(	 
	@AdminInfoID		int 
) 
RETURNS TABLE  
AS 
RETURN  
( 
	SELECT     
			EstimationLineItems.id AS LineItemID,     
			Detail.Service_BarCode,     
			Category.Category,     
			SubCategory.Subcategory,     
			Detail.barcode,     
			ISNULL   
			(   
				Category.nheader * 256 + SubCategory.nsection   
				, CASE WHEN EstimationLineItems.SectionID = -1 THEN 100000 ELSE ISNULL(EstimationLineItems.SectionID, 100000) END   
			) 'GroupNumber',   
			SubCategory.nHeader,     
			SubCategory.nSection,     
			CASE 	    
				WHEN Category.Category IS NULL AND SubCategory.Subcategory IS NOT NULL THEN SubCategory.Subcategory     
 				WHEN Category.Category IS NOT NULL AND SubCategory.Subcategory IS NULL THEN Category.Category     
				WHEN Category.Category = SubCategory.Subcategory THEN Category.Category      
				ELSE Category.Category + ' \ ' + SubCategory.Subcategory     
			END 'Step'     
		FROM AdminInfo  with(nolock)   
		INNER JOIN EstimationData with(nolock)    ON EstimationData.AdminInfoID = AdminInfo.ID   
		INNER JOIN EstimationLineItems with(nolock)    ON EstimationLineItems.EstimationDataID  = EstimationData.ID   
		LEFT OUTER JOIN EstimationLineItems AS ParentLineItem with(nolock)     ON EstimationLineItems.ParentLineID = ParentLineItem.id
		LEFT OUTER JOIN Mitchell3.dbo.Detail with(nolock)    ON Detail.Service_BarCode = Mitchell3.dbo.GetServiceBarcode(@AdminInfoID) AND Detail.barcode = ISNULL(ParentLineItem.Barcode, EstimationLineItems.Barcode)
			-- Limit to 1 join, sometimes there are multiple detail records with same barcodes
			AND Detail.npart = (SELECT MIN(npart) FROM Mitchell3.dbo.Detail with(nolock)    WHERE Detail.Service_BarCode = Mitchell3.dbo.GetServiceBarcode(@AdminInfoID) AND Detail.barcode = ISNULL(ParentLineItem.Barcode, EstimationLineItems.Barcode))
		LEFT OUTER JOIN Mitchell3.dbo.Part with(nolock)    ON Part.Service_BarCode = Detail.Service_BarCode      
			 AND Part.nheader = Detail.nHeader     
			 AND Part.nsection = Detail.nsection 
			 AND Part.nPart = Detail.nPart    
		LEFT OUTER JOIN Mitchell3.dbo.SubCategory ON SubCategory.Service_BarCode = Part.Service_BarCode AND SubCategory.nheader = Part.nHeader AND SubCategory.nsection = Part.nsection  
		LEFT OUTER JOIN Mitchell3.dbo.Category ON Category.Service_BarCode = SubCategory.Service_BarCode AND Category.nheader = SubCategory.nHeader 
		WHERE AdminInfo.ID = @AdminInfoID  
) 
GO
