USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:		Ezra  
-- Create date: 8/12/2020  
-- Description:	Get renewal report data  
-- =============================================  
CREATE PROCEDURE [dbo].[RenewalReport_GetBN]  
	  @SalesRepID		int  
	, @Year				int  
	, @Month			int  
AS  
BEGIN  
	-- SET NOCOUNT ON added to prevent extra result sets from  
	-- interfering with SELECT statements.  
--  [RenewalReport_Get] -1,2021,1
	SET NOCOUNT ON;  
  
    create TABLE #Data  
	(  
		  LoginID			INT  
		, ContractID		INT  
		, ContractTotal		MONEY  
		, TotalPaid			MONEY  
		, TotalDue			MONEY  
		, ContractStart		DATE  
		, ContractEnd		DATE  
		, TotalYears		INT  
		, DidRenew			BIT  
		, SalesRepID		INT  
		, SalesRep			VARCHAR(50)  
		, CompanyName		VARCHAR(100)  
		, Contact			VARCHAR(100)  
		, PhoneNumber		VARCHAR(20)  
		, State				VARCHAR(50)  
		, HasFrame			BIT  
		, HasEMS			BIT  
		, HasMU				BIT  
		, WillRenew			BIT  
		, WillNotRenew		BIT  
		, Notes				VARCHAR(2000)  
	)  
  
	 create TABLE #DataWE  
	(  
		  LoginID			INT  
		, ContractID		INT  
		, ContractTotal		MONEY  
		, TotalPaid			MONEY  
		, TotalDue			MONEY  
		, ContractStart		DATE  
		, ContractEnd		DATE  
		, TotalYears		INT  
		, DidRenew			BIT  
		, SalesRepID		INT  
		, SalesRep			VARCHAR(50)  
		, CompanyName		VARCHAR(100)  
		, Contact			VARCHAR(100)  
		, PhoneNumber		VARCHAR(50)  
		, State				VARCHAR(50)  
		, HasFrame			BIT  
		, HasEMS			BIT  
		, HasMU				BIT  
		, WillRenew			BIT  
		, WillNotRenew		BIT  
		, Notes				VARCHAR(2000)  
		,TotalEstimates int  
		, CurrentEstimates int  
		,PeTrial nvarchar(50)
	)  
  
  
	INSERT INTO #Data  
	SELECT   
		Contracts.LoginID  
		, Contracts.ContractID  
		, ContractTotals.Total AS ContractTotal  
		--, SUM(ISNULL(InvoiceAmount, 0) + ISNULL(SalesTax, 0)) AS ContractTotal  
		, SUM(CASE WHEN Paid = 1 THEN InvoiceAmount + SalesTax ELSE 0 END) AS TotalPaid  
		, SUM(CASE WHEN Paid = 0 and Invoices.DueDate < getdate() THEN isnull(InvoiceAmount,0) + isnull(SalesTax,0) ELSE 0 END) AS TotalDue  
		, Contracts.EffectiveDate AS ContractStartDate  
		, Contracts.ExpirationDate AS ContractExpirationDate  
		, ISNULL(TotalYears.TotalContracts, 1)  
		, CASE WHEN RenewedContract.ContractID IS NULL THEN 0 ELSE 1 END AS DidRenew  
		, SalesRep.SalesRepID  
		, SalesRep.FirstName + ' ' + SalesRep.LastName AS SalesRep  
		, Logins.CompanyName  
		, ISNULL(CompanyContact.FirstName, '') + ' ' + ISNULL(CompanyContact.LastName, '') AS Contact  
		, ISNULL(CompanyContact.Phone1, '') AS PhoneNumber  
		, ISNULL(tbl_Address.State, '')  
		, CASE WHEN AddOnFrame.ID IS NULL THEN 0 ELSE 1 END AS HasFrame  
		, CASE WHEN AddOnEMS.ID IS NULL THEN 0 ELSE 1 END AS HasEMS  
		, CASE WHEN AddOnMU.ID IS NULL THEN 0 ELSE 1 END AS HasMU  
		, Contracts.WillRenew  
		, Contracts.WillNotRenew  
		, Contracts.Notes  
	FROM Contracts   
	LEFT OUTER JOIN Invoices 
		ON Contracts.ContractID = Invoices.ContractID 
		AND Invoices.IsDeleted = 0 
		and contracts.IsDeleted = 0 
		and Contracts.ContractID in (select distinct ContractID from invoices (nolock)  where Invoices.Paid = 1)
    LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID		-- To ignore invoices attached to a deleted add on
	LEFT OUTER JOIN  
	( SELECT Contracts.LoginID, datediff(YEAR,min(EffectiveDate), max(ExpirationDate)) TotalContracts 
		FROM Contracts  
		WHERE   
			Contracts.IsDeleted = 0  
			AND Contracts.EffectiveDate <= EOMONTH(DATEFROMPARTS(@Year, @Month , 1)) 
		GROUP BY Contracts.LoginID  
	) AS TotalYears ON Contracts.LoginID = TotalYears.LoginID  
  
	LEFT OUTER JOIN ContractAddOn AS AddOnFrame ON Contracts.ContractID = AddOnFrame.ContractID AND AddOnFrame.IsDeleted = 0 AND AddOnFrame.Active = 1 AND AddOnFrame.AddOnType = 2  
	LEFT OUTER JOIN ContractAddOn AS AddOnEMS ON Contracts.ContractID = AddOnEMS.ContractID AND AddOnEMS.IsDeleted = 0 AND AddOnEMS.Active = 1 AND AddOnEMS.AddOnType = 5  
	LEFT OUTER JOIN ContractAddOn AS AddOnMU ON Contracts.ContractID = AddOnMU.ContractID AND AddOnMU.IsDeleted = 0 AND AddOnMU.Active = 1 AND AddOnMU.AddOnType = 8  
  
	LEFT OUTER JOIN Logins ON Contracts.LoginID = Logins.id  
	LEFT OUTER JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID  
  
	LEFT OUTER JOIN tbl_ContactPerson AS CompanyContact ON Logins.ContactID = CompanyContact.ContactID  
	LEFT OUTER JOIN tbl_Address ON CompanyContact.ContactID = tbl_Address.ContactsID  
  
	LEFT OUTER JOIN Contracts AS RenewedContract ON RenewedContract.ContractID =  
	(  
		SELECT TOP 1 ChildContracts.ContractID  
		FROM Contracts AS ChildContracts  
		JOIN Invoices ON   
			ChildContracts.ContractID = Invoices.ContractID   
			AND Invoices.Paid = 1  
			AND Invoices.IsDeleted = 0  
		WHERE   
			ChildContracts.LoginID = Contracts.LoginID  
			AND ChildContracts.IsDeleted = 0  
			AND ChildContracts.ContractID > Contracts.ContractID  
		ORDER BY ContractID  
	)   
	LEFT OUTER JOIN   
	(  
		SELECT Contracts.ContractID, (PaymentAmount * NumberOfPayments) + DepositAmount AS Total  
		FROM Contracts  
		LEFT OUTER JOIN ContractPriceLevels ON Contracts.ContractPriceLevelID = ContractPriceLevels.ContractPriceLevelID  
		LEFT OUTER JOIN ContractTerms ON ContractPriceLevels.ContractTermID = ContractTerms.ContractTermID  
	) AS ContractTotals ON Contracts.ContractID = ContractTotals.ContractID  
  
	WHERE  
		Contracts.IsDeleted = 0  
		and Logins.StaffAccount <> 1
		--AND Year(Contracts.ExpirationDate) = @Year  
		--AND Month(Contracts.ExpirationDate) = @Month  
		
		AND DATEPART(YY, DATEADD(YY, 1, Contracts.EffectiveDate)) = @Year  
		AND DATEPART(MM, DATEADD(YY, 1, Contracts.EffectiveDate)) = @Month  
		AND Logins.SalesRepID =  case when @SalesRepID = -1 then Logins.SalesrepID else @SalesRepID  end
		AND Invoices.InvoiceID IS NOT NULL   

		AND ISNULL(ContractAddOn.IsDeleted, 0) = 0
	GROUP BY   
		Contracts.LoginID  
		, Contracts.ContractID  
		, Contracts.EffectiveDate  
		, Contracts.ExpirationDate  
		, ContractTotals.Total  
		, TotalYears.TotalContracts  
		, RenewedContract.ContractID  
		, RenewedContract.DateCreated  
		, SalesRep.SalesRepID  
		, SalesRep.FirstName  
		, SalesRep.LastName  
		, Logins.CompanyName  
		, CompanyContact.FirstName  
		, CompanyContact.LastName   
		, CompanyContact.Phone1  
		, tbl_Address.State  
		, AddOnFrame.ID  
		, AddOnEMS.ID  
		, AddOnMU.ID  
		, Contracts.WillRenew  
		, Contracts.WillNotRenew  
		, Contracts.Notes  
  
	create TABLE #EstimateTotals   
	(  
		  LoginID			INT  
		, TotalEstimates	INT  
		, CurrentEstimates	INT  
	)  
  
	INSERT INTO #EstimateTotals  
	SELECT   
		  Data.LoginID  
		, COUNT(*) AS TotalEstimates  
		, SUM(CASE WHEN EstimationData.EstimationDate >= Data.ContractStart THEN 1 ELSE 0 END) AS CurrentEstimates  
	FROM #Data Data  
	LEFT OUTER JOIN AdminInfo ON Data.LoginID = AdminInfo.CreatorID  
	LEFT OUTER JOIN EstimationData ON AdminInfo.id = EstimationData.AdminInfoID  
	WHERE AdminInfo.Deleted = 0 and isnull(AdminInfo.GrandTotal,'0.00')  <> '0.00'  
	GROUP BY   
		Data.LoginID  
  
Insert into #DataWE   
	    
SELECT		l.id AS LoginID  
			,c.ContractID  
			,isNull(pNext.TermTotal, pCurrent.TermTotal) as ContractTotal  
			,0 as TotalPaid  
			,isnull(dbo.getPastDue(l.ID),0) as  TotalDue	  
			,c.effectiveDate as  ContractStart		  
			,Convert(varchar(10), c.ExpirationDate+1, 101)as  ContractEnd		  
			, case when @Year - Year(cl.FirstContractDate) <= 1 then 1 else @Year - Year(cl.FirstContractDate) end as TotalYears	   
			,dbo.hasRenewed(c.LoginID,c.ExpirationDate)  DidRenew	  
			, s.SalesRepID	  
			,( s.FirstName + ' ' + s.LastName ) AS SalesRep  
			,isNull(ci_CompanyName.ItemText, '') AS CompanyName  
			,( isNull(ci_FirstName.ItemText, '') + ' ' + isNull(ci_LastName.ItemText, '') ) AS Contact			  
			,(  
				SELECT		TOP 1 ci.ItemText AS Phone  
				FROM		[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContactItems ci (NOLOCK)  
				WHERE		ci.ContactsID = l.ContactsID  
				AND			ci.ContactItemTypeID = 17	-- Phone  
				AND			ci.Qualifier NOT IN ('FX', 'HF')  
				ORDER BY	( CASE  
								WHEN ci.Qualifier = 'WF' THEN 1	-- Work Phone  
								WHEN ci.Qualifier = 'WP' THEN 2	-- Business Phone  
								WHEN ci.Qualifier = 'WC' THEN 3	-- Work Cell  
								WHEN ci.Qualifier = 'CP' THEN 4	-- Cell Phone  
								WHEN ci.Qualifier = 'HP' THEN 5 -- Home Phone  
								WHEN ci.Qualifier = 'NP' THEN 6 -- Evening Phone  
								WHEN ci.Qualifier = 'PC' THEN 7 -- Personal Cell Phone  
								WHEN ci.Qualifier = 'VM' THEN 8 -- Voice Mail  
								ELSE 99  
							END )  
			)as  PhoneNumber  
			,ci_State.ItemText as  State	  
			,Convert(bit, isNull(fc.ContractID, 0)) AS HasFrame  
			,Convert(bit, isNull(e.ContractID, 0)) AS HasEMS  
			,0 as  HasMU		  
			,c.WillRenew as WillRenew  
			,0 as willnotrenew			   
			,c.Notes	   
			,l.t_est TotalEstimates  
			,l.c_est as CurrentEstimates		
			,(select max(trial.EndDate) from trial where LoginID = c.LoginID) as PETrial
		   
FROM		[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.vwContractLogins c (NOLOCK)  
INNER JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Logins l (NOLOCK)  
				ON c.LoginID = l.ID  
				AND l.DoubtfulAccount = 0  
INNER JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContractPriceLevels p (NOLOCK)  
				ON c.ContractPriceLevelID = p.ContractPriceLevelID  
				AND p.PriceLevel >= 0  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.vwContractPriceLevelTerms pCurrent  
				ON p.ContractTermID = pCurrent.ContractTermID  
				AND pCurrent.PriceLevel = p.PriceLevel  
				AND pCurrent.TermActive = 1   
				AND pCurrent.PriceLevelActive = 1  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.vwContractPriceLevelTerms pNext  
				ON p.ContractTermID = pNext.PreviousContractTermID  
				AND pNext.PriceLevel = p.PriceLevel  
				AND pNext.TermActive = 1  
				AND pNext.PriceLevelActive = 1  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContactItems ci_FirstName (NOLOCK)  
				ON l.ContactsID = ci_FirstName.ContactsID  
				AND ci_FirstName.ContactItemTypeID = 2  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContactItems ci_LastName (NOLOCK)  
				ON l.ContactsID = ci_LastName.ContactsID  
				AND ci_LastName.ContactItemTypeID = 6  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.OrganizationInfo o (NOLOCK)
				ON l.OrganizationID = o.id
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContactItems ci_CompanyName
				ON o.OrgInfoContactsID = ci_CompanyName.ContactsID
				AND ci_CompanyName.ContactItemTypeID = 9
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContactItems ci_State  
				ON o.OrgInfoContactsID = ci_State.ContactsID  
				AND ci_State.ContactItemTypeID = 13  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.SalesRep s (NOLOCK)  
				ON l.SalesRepID = s.SalesRepID  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Contract fc (NOLOCK)  
				ON fc.ParentContractID = c.ContractID  
				AND fc.ContractTypeID = 2 -- Frame Data  
				AND fc.Active = 1  
LEFT JOIN	[WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Contract e (NOLOCK)  
				ON e.ParentContractID = c.ContractID  
				AND e.ContractTypeID = 5 -- EMS  
				AND e.Active = 1  
--left join (select creatorid,a.id,e.EstimationDate from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.admininfo as a inner join [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.estimationdata as e on a.id = e.AdminInfoID where  isnull(a.GrandTotal,'0.00')  <> '0.00') as EstT   
--			on estT.CreatorID = l.id	  
left join (  
select MIN(c.DateCreated) as FirstContractDate, Min(c.ExpirationDate) as FirstExpirationDate,MAX(c.ExpirationDate) as MaxExpirationDate, cl.LoginID   
from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.ContractLogins as cl  with(nolock)  
	inner join [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.contract as c  with(nolock)  
		on c.ContractID = cl.ContractID  
where  c.isSigned = 1   
and ContractTypeID = 1   
 group by cl.LoginID  
) as cl    
on c.LoginID = cl.LoginID  
	  
WHERE		c.ContractTypeID = 1  
AND			c.PrimaryLogin = 1  
  
AND DATEPART(YY, DATEADD(YY, 1, c.EffectiveDate)) = @Year  
		AND DATEPART(MM, DATEADD(YY, 1, c.EffectiveDate)) = @Month   
 
AND			l.StaffAccount <> 1    
AND l.SalesRepID =  case when @SalesRepID = -1 then l.SalesrepID else @SalesRepID  end   
and l.id not in (select LoginID from contracts where IsDeleted = 0 and contracts.DateCreated < '2020-12-01 00:00:00.000')  
Group By l.CompanyOrigin,c.LoginID,c.ContractID,ci_CompanyName.ItemText,fc.ContractID  
,e.ContractID,ci_FirstName.ItemText,ci_LastName.ItemText,s.FirstName,s.LastName,ci_State.ItemText  
,p.PriceLevel, c.ExpirationDate,pNext.TermTotal,pCurrent.TermTotal,c.Notes,l.contactsid ,l.t_est,l.c_est
,c.WillRenew,cl.FirstContractDate,cl.MaxExpirationDate,l.id,c.effectiveDate,s.SalesRepID  
   
  
	SELECT distinct Data.LoginID			   
		, ContractID		   
		, ContractTotal		   
		, TotalPaid			   
		, TotalDue			   
		, ContractStart		   
		, cast(dateadd(yy,1,ContractStart)as nvarchar(10)) as ContractEnd	   
		,case when dbo.[isFirstYear](Data.LoginID,@Year,@Month) = 1 then 1 else isnull(nullif(TotalYears,1),2) end as TotalYears	   
		, DidRenew			   
		, SalesRepID		   
		, SalesRep			  
		, CompanyName		  
		, Contact			   
		, PhoneNumber		   
		, State				   
		, HasFrame			   
		, HasEMS			   
		, HasMU				   
		, WillRenew			   
		, WillNotRenew		   
		, Notes				   
		,EstimateTotals.TotalEstimates  
		, EstimateTotals.CurrentEstimates   
		, 'PE' AS Source  
		,'' as PETrial into #BN
	FROM #Data Data  
	LEFT OUTER JOIN #EstimateTotals EstimateTotals ON Data.LoginID = EstimateTotals.LoginID  
	 
	 union all  
	select distinct LoginID			   
		, ContractID		   
		, ContractTotal		   
		, TotalPaid			   
		, TotalDue			   
		, ContractStart		   
		, cast(dateadd(yy,1,ContractStart)as nvarchar(10)) as ContractEnd
		,case when dbo.[isFirstYear](LoginID,@Year,@Month) = 1 then 1 else isnull(nullif(TotalYears,1),2) end as TotalYears	   
		, DidRenew			   
		, SalesRepID		   
		, SalesRep			  
		, CompanyName		  
		, Contact			   
		, PhoneNumber		   
		, State				   
		, HasFrame			   
		, HasEMS			   
		, HasMU				   
		, WillRenew			   
		, WillNotRenew		   
		, Notes				   
		,TotalEstimates  
		, CurrentEstimates   
		, 'WE' AS Source  
		, PeTrial
	from #DataWE 

	Select  LoginID,CompanyName,SalesRep, TotalEstimates,TotalDue,DidRenew, Month(ContractEnd) as 'Month' 
	, Year(ContractEnd) as 'Year'  
	from #BN 
	where TotalYears <= 1
	  
  
  
END

GO
