USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManualSections](
	[ID] [tinyint] NULL,
	[Section] [varchar](50) NULL,
	[SortOrder] [tinyint] NULL
) ON [PRIMARY]
GO
