USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/5/2022
-- Description:	Get CarFax history for an account from the MiscTracking table.  Copied from a query by Rajiv
-- =============================================
CREATE PROCEDURE [dbo].[CarFax_GetHistory]
	@LoginID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT
		  MiscTracking.TimeStamp
		, dbo.SalesRep.SalesRepID
		, dbo.SalesRep.UserName
		, dbo.SalesRep.FirstName + ' ' + dbo.SalesRep.LastName AS FullName
		, REPLACE(MiscTracking.Tag, 'CarFax', '') AS Action
	FROM MiscTracking 
	LEFT JOIN SalesRep ON CAST(dbo.MiscTracking.OtherData AS INT) = dbo.SalesRep.SalesRepID
	WHERE 
		LoginID = @LoginID
		AND Tag LIKE 'CarFax%'
	ORDER BY MiscTracking.TimeStamp DESC
END
GO
