USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/4/2020
-- Description:	Add or update an Add On Preset Shell
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPresetShell_Save]
	  @ID					int
	, @OperationType		varchar(20)
	, @Sublet				bit
	, @Name					varchar(100)
	, @LaborType			varchar(20)
	, @OtherType			varchar(20)
	, @Notes				varchar(300)
	, @Deleted				bit
	, @AccessLevel			tinyint
	, @OnePerVehicle		bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (@ID > 0)
		BEGIN
			UPDATE AddOnPresetShell
			SET
				  OperationType = @OperationType
				, Sublet = @Sublet
				, Name = @Name
				, LaborType = @LaborType
				, OtherType = @OtherType
				, Notes = @Notes 
				, OnePerVehicle = @OnePerVehicle
				, AccessLevel = @AccessLevel
				, Deleted = @Deleted
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO AddOnPresetShell
			(
				  OperationType
				, Sublet
				, Name
				, LaborType
				, OtherType
				, Notes
				, OnePerVehicle
				, AccessLevel
				, Deleted
			)
			VALUES
			(
				  @OperationType
				, @Sublet
				, @Name
				, @LaborType
				, @OtherType
				, @Notes
				, @OnePerVehicle
				, @AccessLevel
				, @Deleted
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
