USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEstimatorsData]
 -- Add the parameters for the stored procedure here
 @estimatorID  int,
 @firstName   varchar(50),
 @lastName   varchar(50)
 ,@orderNo int
 
AS
BEGIN
 UPDATE EstimatorsData
 SET 
  AuthorFirstName = @firstName,
  AuthorLastName = @lastName,
  OrderNo=@orderNo
 WHERE EstimatorID = @estimatorID
END

GO
