USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ImageAttachment_GetByReport]
	@ReportID	int
AS	 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SELECT * FROM EstimationImages INNER JOIN ImageAttachment 
	ON EstimationImages.ID = ImageAttachment.EstimationImageID
	INNER JOIN [dbo].[Reports] ON [Reports].id = ImageAttachment.ReportID
	WHERE ImageAttachment.ReportID = @ReportID;
END
GO
