USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimationContacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EstimationDataID] [int] NOT NULL,
	[ContactSubType] [smallint] NOT NULL,
	[Order] [smallint] NULL,
 CONSTRAINT [PK_EstimationContacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_EstimationContacts] ON [dbo].[EstimationContacts]
(
	[EstimationDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstimationContacts] ADD  CONSTRAINT [DF_EstimationContacts_Order]  DEFAULT (0) FOR [Order]
GO
