USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/29/2022
-- Description:	Get a panel by ID
-- =============================================
CREATE PROCEDURE [dbo].[Panels_Get] 
	@id					int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT * 
	FROM Panels
	WHERE ID = @id

END
GO
