USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateEstimateNotes]
		@ID					int, 
		@LoginID			int, 
		@EstimateID			int, 
		@NotesText			varchar(5000),
		@DeleteStamp		DateTime = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (@ID > 0)
		BEGIN
			UPDATE [dbo].[EstimateNotes] SET NotesText = @NotesText ,  DeleteStamp = @DeleteStamp
			WHERE id = @ID 

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO [dbo].[EstimateNotes]
			(
				  LoginID 
				, EstimateID
				, NotesText
			)
			VALUES
			(
				  @LoginID
				, @EstimateID
				, @NotesText
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
