USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getSalesBoardUser] 
	-- Add the parameters for the stored procedure here 
	 @SalesRepID int, 
	 @date datetime = null 
AS 
BEGIN 
	  
	SET NOCOUNT ON; 
	if @date is null 
	begin 
	 select @date = GETDATE() 
	end 

	SELECT 
		(FirstName + ' ' + LastName) as Name 
		, Logins.Organization as Company
		, '1' as ProE
		, SalesBoard.* 
	FROM SalesBoard
	JOIN SalesRep ON SalesBoard.salesRepID = SalesRep.SalesRepID 
	LEFT OUTER JOIN Logins on Logins.id = SalesBoard.loginID 
	WHERE MONTH(datesold) = MONTH(@date) 
		and YEAR(datesold) = YEAR(@date) 
		and SalesRep.SalesRepID = @SalesRepID 

END 
 
GO
