USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 5/18/2017
-- Description:	Save a record of a sent estimate
-- =============================================
CREATE PROCEDURE [dbo].[GetSentEstimateRecords]
	@AdminInfoID		int
AS
BEGIN
	SELECT SentEstimate.*, Reports.FileName, Reports.ReportType
	FROM SentEstimate
	JOIN Reports ON SentEstimate.ReportID = Reports.ID
	--WHERE SentEstimate.AdminInfoID = 4576840
	WHERE SentEstimate.AdminInfoID = @AdminInfoID
	ORDER BY SentEstimate.TimeStamp DESC
END


GO
