USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesRepPermissionLink](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SalesRepID] [int] NULL,
	[PermissionID] [int] NULL,
	[HasPermission] [bit] NULL,
 CONSTRAINT [PK_SalesRepPermissionLink] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
