USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/4/2020
-- Description:	Get invoices that need to be synced with Success Box
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBox_GetInvoicesToSync]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT DISTINCT Invoices.*
	FROM SuccessBoxContractLog
	JOIN Invoices ON SuccessBoxContractLog.ContractID = Invoices.ContractID --AND Invoices.IsDeleted = 0-- AND Invoices.Paid = 1
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	LEFT OUTER JOIN SuccessBoxInvoiceLog ON Invoices.InvoiceID = SuccessBoxInvoiceLog.InvoiceID
	WHERE 
		SuccessBoxContractLog.IsSynced = 1 
		AND ISNULL(SuccessBoxInvoiceLog.IsSynced, 0) = 0
		AND ISNULL(Contracts.ContractID, 0) > 0
		--AND ISNULL(Contracts.IsDeleted, 0) = 0
		--AND ISNULL(Contracts.Active, 0) = 1
		--AND ISNULL(ContractAddOn.IsDeleted, 0) = 0
		--AND (ContractAddOn.Active IS NULL OR ContractAddOn.Active = 1)


END
GO
