USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteChangeLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[ShortNote] [varchar](500) NULL,
	[LongNote] [varchar](5000) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SiteChangeLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
