USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================

-- Author:           Ezra

-- Create date: 7/3/2019

-- Description:      Records that an account has fully migrated from web-est to ProE

-- =============================================

CREATE PROCEDURE [dbo].[LoginsConversionCompleteInsert]

       @LoginID                   int

AS

BEGIN

       -- SET NOCOUNT ON added to prevent extra result sets from

       -- interfering with SELECT statements.

       SET NOCOUNT ON;

 

    INSERT INTO LoginsConversionComplete

       (

                LoginID

              , TimeStamp

       )

       VALUES

       (

                @LoginID

              , GETDATE()

       )

END

GO
