USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DataMigration_GetCompanyLogo]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select ImageURL
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.OrgLogoImages
	where OrganizationInfoID = 
	(
		SELECT MAX(ID)
		FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.OrganizationInfo 
		WHERE CustomerNumber = CAST(@LoginID AS VARCHAR)
	)
END
GO
