USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SitePermissionPaths_GetAll-01.sql
CREATE PROCEDURE [dbo].[SitePermissionPaths_GetAll]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM SitePermissionPaths
END
GO
