USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAdminInfoAndEstimationData] 
	@AdminInfoID		int, 
	 
	-- AdminInfo table values 
	@CreatorID int, 
	@Description varchar(255), 
	@CustomerProfilesID  int,
	@AddOnProfileID int, 
	@BettermentTotal varchar(20), 
	@EstimateNumber int, 
	@WorkOrderNumber int, 
	@PrintDescription bit, 
	@Archived bit, 
	@Deleted bit, 
	@ClaimNumber varchar(50), 
	@LastView datetime, 
	@CustomerID int = 0, 
	 
	-- EstimationData table values 
    @EstimationDate datetime = null, 
	@DateOfLoss datetime = null, 
	@CoverageType tinyint, 
	@EstimateLocation varchar(100), 
	@TransactionLevel varchar(2), 
	@LockLevel tinyint, 
	@LastLineNumber smallint, 
	@EstimationLineItemIDLocked int, 
	@Note varchar(5000), 
	@PrintNote bit, 
	@AssignmentDate datetime = null, 
	@ReportTextHeader varchar(50), 
	@AlternateIdentitiesID int, 
	@NextUniqueSequenceNumber int, 
	@PolicyNumber varchar(50), 
	@Deductible money, 
	@InsuranceCompanyID int = 0, 
	@InsuranceCompanyName varchar(50), 
	@ClaimantSameAsOwner bit, 
	@InsuredSameAsOwner bit, 
	@EstimatorID int, 
	@RepairFacilityVendorID	int, 
	@ImageSize varchar(50)=Null, 
	@PurchaseOrderNumber varchar(50) = null, 
	@AdjusterID INT, 
	@ClaimRepID INT,  
	@PrintInsured bit = 0 ,
	@RepairDays tinyint = null,
	@HoursInDay tinyint = 5,
	@FacilityRepairOrder varchar(50) = null, 
	@FacilityRepairInvoice varchar(50) = null,
	@CreditCardFeePercentage decimal(18,2) = null,
	@TaxedCreditCardFee BIT = null
AS 
BEGIN 

	IF EXISTS(SELECT * FROM AdminInfo WHERE id = @AdminInfoID) 
		BEGIN 
			UPDATE [dbo].[AdminInfo] 
			   SET [CreatorID] = @CreatorID 
				  ,[Description] = @Description 
				  ,[CustomerProfilesID] = @CustomerProfilesID 
				  ,[AddOnProfileID] = @AddOnProfileID
				  ,[BettermentTotal] = @BettermentTotal 
				  ,[EstimateNumber] = @EstimateNumber 
				  ,[WorkOrderNumber] = @WorkOrderNumber 
				  ,[PrintDescription] = @PrintDescription 
				  ,[Archived] = @Archived 
				  ,[Deleted] = @Deleted 
				  ,[ClaimNumber] = @ClaimNumber 
				  ,[LastView] = @LastView 
				  ,[CustomerID] = @CustomerID 
			 WHERE id = @AdminInfoID 
			  
			 UPDATE [dbo].[EstimationData] 
			   SET [AdminInfoID] = @AdminInfoID 
				  ,[EstimationDate] = @EstimationDate 
				  ,[DateOfLoss] = @DateOfLoss 
				  ,[CoverageType] = @CoverageType 
				  ,[EstimateLocation] = @EstimateLocation 
				  ,[TransactionLevel] = @TransactionLevel 
				  ,[LockLevel] = @LockLevel 
				  ,[LastLineNumber] = @LastLineNumber 
				  ,[EstimationLineItemIDLocked] = @EstimationLineItemIDLocked 
				  ,[Note] = @Note 
				  ,[PrintNote] = @PrintNote 
				  ,[AssignmentDate] = @AssignmentDate 
				  ,[ReportTextHeader] = @ReportTextHeader 
				  ,[AlternateIdentitiesID] = @AlternateIdentitiesID 
				  ,[NextUniqueSequenceNumber] = @NextUniqueSequenceNumber 
				  ,[ClaimNumber] = @ClaimNumber 
				  ,[PolicyNumber] = @PolicyNumber 
				  ,[Deductible] = @Deductible 
				  ,[InsuranceCompanyID] = @InsuranceCompanyID 
				  ,[InsuranceCompanyName] = @InsuranceCompanyName 
				  ,[ClaimantSameAsOwner] = @ClaimantSameAsOwner 
				  ,[InsuredSameAsOwner] = @InsuredSameAsOwner 
				  ,[EstimatorID] = @EstimatorID 
				  ,[RepairFacilityVendorID] = @RepairFacilityVendorID 
				  ,[ImageSize] = @ImageSize 
				  ,[PurchaseOrderNumber] = @PurchaseOrderNumber 
				  ,[AdjusterID] = @AdjusterID 
				  ,[ClaimRepID] = @ClaimRepID
				  ,[PrintInsured] = @PrintInsured
				  ,[RepairDays] = @RepairDays
				  ,[HoursInDay] = @HoursInDay
				  ,[FacilityRepairOrder] = @FacilityRepairOrder
				  ,[FacilityRepairInvoice] = @FacilityRepairInvoice
				  ,[CreditCardFeePercentage] = @CreditCardFeePercentage
				  ,[TaxedCreditCardFee] = @TaxedCreditCardFee
			 WHERE AdminInfoID = @AdminInfoID 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[AdminInfo] 
			   ([CreatorID] 
			   ,[Description] 
			   ,[CustomerProfilesID] 
			   ,[AddOnProfileID]
			   ,[BettermentTotal] 
			   ,[EstimateNumber] 
			   ,[WorkOrderNumber] 
			   ,[PrintDescription] 
			   ,[Archived] 
			   ,[Deleted] 
			   ,[ClaimNumber] 
			   ,[LastView] 
			   ,[CustomerID]) 
			VALUES 
			   (@CreatorID 
			   ,@Description 
			   ,@CustomerProfilesID 
			   ,@AddOnProfileID
			   ,@BettermentTotal 
			   ,@EstimateNumber 
			   ,@WorkOrderNumber 
			   ,@PrintDescription 
			   ,@Archived 
			   ,@Deleted 
			   ,@ClaimNumber 
			   ,@LastView 
			   ,@CustomerID) 
			    
		SET @AdminInfoID = (SELECT SCOPE_IDENTITY()) 
		 
		INSERT INTO [dbo].[EstimationData] 
           ([AdminInfoID] 
           ,[EstimationDate] 
           ,[DateOfLoss] 
           ,[CoverageType] 
           ,[EstimateLocation] 
           ,[TransactionLevel] 
           ,[LockLevel] 
           ,[LastLineNumber] 
           ,[EstimationLineItemIDLocked] 
           ,[Note] 
           ,[PrintNote] 
           ,[AssignmentDate] 
           ,[ReportTextHeader] 
           ,[AlternateIdentitiesID] 
           ,[NextUniqueSequenceNumber] 
           ,[ClaimNumber] 
           ,[PolicyNumber] 
           ,[Deductible] 
		   ,[InsuranceCompanyID] 
           ,[InsuranceCompanyName] 
           ,[ClaimantSameAsOwner] 
           ,[InsuredSameAsOwner] 
           ,[EstimatorID] 
		   ,[RepairFacilityVendorID] 
		   ,[ImageSize] 
		   ,[PurchaseOrderNumber] 
		   ,[AdjusterID] 
		   ,[ClaimRepID] 
		   ,[PrintInsured]
		   ,[FacilityRepairOrder]
		   ,[FacilityRepairInvoice]
		   ,[CreditCardFeePercentage]
		   ,[TaxedCreditCardFee]
		) 
		VALUES 
           (@AdminInfoID 
           ,@EstimationDate 
           ,@DateOfLoss 
           ,@CoverageType 
           ,@EstimateLocation 
           ,@TransactionLevel 
           ,@LockLevel 
           ,@LastLineNumber 
           ,@EstimationLineItemIDLocked 
           ,@Note 
           ,@PrintNote 
           ,@AssignmentDate 
           ,@ReportTextHeader 
           ,@AlternateIdentitiesID 
           ,@NextUniqueSequenceNumber 
           ,@ClaimNumber 
           ,@PolicyNumber 
           ,@Deductible 
		   ,@InsuranceCompanyID 
           ,@InsuranceCompanyName 
           ,@ClaimantSameAsOwner 
           ,@InsuredSameAsOwner 
           ,@EstimatoriD 
		   ,@RepairFacilityVendorID 
		   ,@ImageSize 
		   ,@PurchaseOrderNumber 
		   ,@AdjusterID 
		   ,@ClaimRepID 
		   ,@PrintInsured
		   ,@FacilityRepairOrder
		   ,@FacilityRepairInvoice
		   ,@CreditCardFeePercentage
		   ,@TaxedCreditCardFee

		) 
		END 
		 
	SELECT @AdminInfoID 
END 
 
GO
