USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/11/2021
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPresetProfile_Save]
	  @ID				int
	, @LoginID			int
	, @Name				varchar(100)
	, @DefaultFlag		bit
	, @CreationStamp	datetime
	, @Deleted			bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE AddOnPresetProfile
			SET
				  LoginID = @LoginID
				, Name = @Name
				, DefaultFlag = @DefaultFlag
				, CreationStamp = @CreationStamp
				, Deleted = @Deleted
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO AddOnPresetProfile
			(
				  LoginID
				, Name
				, DefaultFlag
				, CreationStamp
				, Deleted
			)
			VALUES
			(
				  @LoginID
				, @Name
				, @DefaultFlag
				, @CreationStamp
				, @Deleted
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
