USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetNextEMSExport]
	@AdminInfoID INT OUTPUT,
	@EnvelopeID INT OUTPUT,
	@ZipContents VARCHAR(50) OUTPUT,
	@ExportType VARCHAR(50) OUTPUT,
    @EstimateMode VARCHAR(50) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ID int


    -- Insert statements for procedure here
--	SELECT TOP 1 @ID = msgid, @AdminInfoID = CAST(msgValue1 as int)
--	FROM MessageQueue (nolock)
--	WHERE
--		msgType = 1 
--		AND 
--		msgDeleteDate IS NULL
--		AND
--		msgStatus = 1
--	ORDER BY msgAddDate ASC
	INSERT INTO RequestQueue(rqqAddBy) VALUES (99999)

	
	DECLARE @MessageID INT
	SET @MessageID = @@IDENTITY

	print @MessageID

	Update MessageQueue SET msgStatus = 2,
	msgChgDate = getdate(),
	msgChgBy = 99999
	where
		msgRequestQID = @MessageID


		
	IF(@@ROWCOUNT > 0)
	BEGIN
		SELECT @AdminInfoID = CAST(msgValue1 as int) 
		,@ExportType = LTRIM(RTRIM(msgValue2))
		,@ZipContents = LTRIM(RTRIM(msgValue3))
		,@EstimateMode = LTRIM(RTRIM(msgValue4))
		,@EnvelopeID = msgID
		FROM
		MessageQueue where msgRequestQID = @MessageID
	END
	ELSE
	BEGIN
		SELECT @AdminInfoID = -1
	END
END



GO
