USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/8/2017 
-- Description:	Get a PDR Rate Profile by ID, or all PDR Rate Profiles for a login 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_RateProfile_Get] 
	@LoginID		int = null, 
	@RateProfileID	int = null, 
	@Deleted		bit = 0 
AS 
BEGIN 
	 
	IF NOT @RateProfileID IS NULL  
		BEGIN 
			SELECT * 
			FROM PDR_RateProfile 
			WHERE ID = @RateProfileID 
		END 
	ELSE IF NOT @LoginID IS NULL 
		BEGIN 
			SELECT * 
			FROM PDR_RateProfile 
			WHERE LoginID = @LoginID AND ISNULL(Deleted, 0) = @Deleted AND ISNULL(AdminInfoID, 0) = 0 
		END 
END 
GO
