USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra Schwartz 
-- Create date: 3/1/2019 
-- Description:	Get the a preset by ID
-- Revision:    CustomerProfile_GetPreset-02.sql
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfile_GetPreset] 
	@CustomerProfilePresetsID		int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
SELECT CustomerProfilePresets.ID,       
	'' 'Step',       
	CustomerProfilePresets.StepID,       
	ActionList.ActionShort,       
	CustomerProfilePresets.ActionDescription 'ActionDescription',       
	CustomerProfilePresets.ActionCode,       
	CustomerProfilePresets.PartNumber,       
	--dbo.fnCurrency(CustomerProfilePresets.Price, @Country_ID) as 'Price',       
	CustomerProfilePresets.Price as 'Price',       
	CustomerProfilePresets.PartSource,       
	CustomerProfilePresets.Description 'PartDescription',       
	CustomerProfilePresets.PartOfOverHaul,       
	CustomerProfilePresets.Qty,       
	CustomerProfilePresets.PartSourceVendorID,       
	CustomerProfilePresets.BettermentOperationFlag,       
	CustomerProfilePresets.SubletOperationFlag,       
	CustomerProfiles.ID 'CustomerProfilesID',       
	CustomerProfilePresets.ID 'LineID',       
	FocusWrite.Dbo.GetPresetLaborItems(CustomerProfilePresets.ID) 'LaborItems',       
	CustomerProfilePresetsLaborLaborType.LaborType 'LaborType',       
	isnull(CustomerProfilePresetsLaborLaborType.LaborTime,CustomerProfilePresets.LaborTime) 'LaborTime',       
	CustomerProfilePresetsLaborLaborType.LaborCost 'LaborCost',       
       
	CustomerProfilePresetsLaborPaintType.LaborType 'PaintType',       
	CustomerProfilePresetsLaborPaintType.LaborTime 'PaintTime',       
	CustomerProfilePresetsLaborPaintType.LaborCost 'PaintCost',       
	CustomerProfilePresetsLaborPaintType.AdjacentDeduction,       
	CustomerProfilePresetsLaborPaintType.MajorPanel,       
       
	CustomerProfilePresetsLaborOtherType.LaborType 'OtherType',       
	CustomerProfilePresetsLaborOtherType.LaborTime 'OtherTime',       
	CustomerProfilePresetsLaborOtherType.LaborCost 'OtherCost',       
       
	CustomerProfilePresetsLaborClearcoatType.LaborType 'ClearcoatType',       
	CustomerProfilePresetsLaborClearcoatType.LaborTime 'ClearcoatTime',       
	CustomerProfilePresetsLaborClearcoatType.LaborCost 'ClearcoatCost',    
	ISNULL(CustomerProfilePresetsLaborClearcoatType.Include, 0) 'ClearcoatInclude',       
	ISNULL(CustomerProfilePresetsLaborClearcoatType.Lock, 0) 'ClearcoatLock',  
	   
	CustomerProfilePresetsLaborBlendType.LaborType 'BlendType',       
	CustomerProfilePresetsLaborBlendType.LaborTime 'BlendTime',       
	CustomerProfilePresetsLaborBlendType.LaborCost 'BlendCost',      
	ISNULL(CustomerProfilePresetsLaborBlendType.Include, 0) 'BlendInclude',   
	ISNULL(CustomerProfilePresetsLaborBlendType.Lock, 0) 'BlendLock',   
       
	CustomerProfilePresetsLaborAllowanceType.LaborType 'AllowanceType',       
	CustomerProfilePresetsLaborAllowanceType.LaborTime 'AllowanceTime',       
	CustomerProfilePresetsLaborAllowanceType.LaborCost 'AllowanceCost',       
	ISNULL(CustomerProfilePresetsLaborAllowanceType.Include, 0) 'AllowanceInclude',    
	ISNULL(CustomerProfilePresetsLaborAllowanceType.Lock, 0) 'AllowanceLock',    
       
	CustomerProfilePresetsLaborEdgingType.LaborType 'EdgingType',       
	CustomerProfilePresetsLaborEdgingType.LaborTime 'EdgingTime',       
	CustomerProfilePresetsLaborEdgingType.LaborCost 'EdgingCost',       
	ISNULL(CustomerProfilePresetsLaborEdgingType.Include, 0) 'EdgingInclude',    
	ISNULL(CustomerProfilePresetsLaborEdgingType.Lock, 0) 'EdgingLock',   
       
	CustomerProfilePresetsLaborUndersideType.LaborType 'UndersideType',       
	CustomerProfilePresetsLaborUndersideType.LaborTime 'UndersideTime',       
	CustomerProfilePresetsLaborUndersideType.LaborCost 'UndersideCost',       
	ISNULL(CustomerProfilePresetsLaborUndersideType.Include, 0) 'UndersideInclude',   
	ISNULL(CustomerProfilePresetsLaborUndersideType.Lock, 0) 'UndersideLock',  
       
	CustomerProfilePresetsNotesPrinted.Notes 'ExternalNotes',       
	CustomerProfilePresetsNotesNonPrinted.Notes 'InternalNotes',       
         
	CustomerProfilesPaint.AdjacentDeduction,       
	CustomerProfilesPaint.NonAdjacentDeduction,       
	CustomerProfilesPaint.MajorClearCoat,       
	CustomerProfilesPaint.Blend,    
	CustomerProfilesPaint.ThreeTwoBlend,         
	CustomerProfilesPaint.MajorThreeStage,       
	CustomerProfilesPaint.MajorTwoTone,       
	CustomerProfilesPaint.Underside,       
	CustomerProfilesPaint.OverlapClearCoat,       
	CustomerProfilesPaint.OverLapTwoTone,       
	CustomerProfilesPaint.OverlapThreeStage,       
	CustomerProfilesPaint.Edging,       
	0 'MajorPanel',       
	0 'AdjacentDeduction',       
	'' 'Barcode',       
	'' 'SourcePartNumber',       
	0 'AdjacentDeductionLock', 
	CustomerProfilePresets.StepID AS SectionID,
	CustomerProfilePresets.LaborIncluded
	,'Edit' as EditText       
	,'Delete' as DeleteText       
 FROM CustomerProfiles WITH (NOLOCK)       
 LEFT JOIN CustomerProfilePresets WITH (NOLOCK) ON       
  (CustomerProfilePresets.CustomerProfilesID = CustomerProfiles.ID)       
 LEFT JOIN ActionList WITH (NOLOCK) ON       
  (ActionList.ActionShort = CustomerProfilePresets.ActionCode)       
       
 LEFT JOIN CustomerProfilesPaint WITH (NOLOCK) ON       
  (CustomerProfilesPaint.CustomerProfilesID = CustomerProfiles.ID)       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborLaborType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborLaborType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
CustomerProfilePresetsLaborLaborType.LaborType in (1,2,3,4,5,6,8,24,25) )     
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborPaintType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborPaintType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborPaintType.LaborType in (16,18,19,9) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborOtherType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborOtherType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborOtherType.LaborType in (13,14,15,30,31) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborClearcoatType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborClearcoatType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborClearcoatType.LaborType = 20 )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborAllowanceType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborAllowanceType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   (CustomerProfilePresetsLaborAllowanceType.LaborType = 27 AND CustomerProfilePresetsLaborPaintType.LaborType = 18) OR       
   (CustomerProfilePresetsLaborAllowanceType.LaborType = 28 AND CustomerProfilePresetsLaborPaintType.LaborType = 19) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborBlendType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborBlendType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborBlendType.LaborType = 26 )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborEdgingType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborEdgingType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborEdgingType.LaborType in (21,23) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborUndersideType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborUndersideType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborUndersideType.LaborType in (22) )       
       
 LEFT JOIN CustomerProfilePresetsNotes CustomerProfilePresetsNotesPrinted WITH (NOLOCK) ON       
  (CustomerProfilePresetsNotesPrinted.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsNotesPrinted.Printed <> 0)       
       
 LEFT JOIN CustomerProfilePresetsNotes CustomerProfilePresetsNotesNonPrinted WITH (NOLOCK) ON       
  (CustomerProfilePresetsNotesNonPrinted.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsNotesNonPrinted.Printed = 0)       
       
 WHERE CustomerProfilePresets.ID = @CustomerProfilePresetsID    
 
END 
GO
