USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
3/13/2023 - EVB: This gets the list of loan apps associated for a given login id.
7/31/2023 - EVB: Fixed issue with the handling expired loan apps that had no other activity

EXEC [dbo].[Wisetack_MerchantLoanApplications_Get] @LoginID = 111085, @IncludeAllLoanApplications = 1
EXEC [dbo].[Wisetack_MerchantLoanApplications_Get] @LoginID = 111085, @IncludeAllLoanApplications = 0
*/
CREATE PROCEDURE [dbo].[Wisetack_MerchantLoanApplications_Get]
@LoginID int,
@IncludeAllLoanApplications bit
AS
BEGIN
SET NOCOUNT ON

	SELECT	TransactionID,
			CustomerName, 
			MaximumAmount, 
			RequestedLoanAmount, 
			ApprovedLoanAmount,
			LoanApplicationLink,
			LoanApplicationStatus,
			ApplicationStartDate,
			DateOfLastUpdate,
			AdminInfoID,
			AmountToFinance,
			EstimatedDateOfCompletion,
			LoanAppMobileNumber,
			ExpirationDate
	FROM	
	(
		SELECT		AdminInfo.WisetackTransactionID AS TransactionID,
					ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') AS CustomerName,
					loanApp.MaximumAmount, 
					loanApp.RequestedLoanAmount, 
					loanApp.ApprovedLoanAmount,
					AdminInfo.WisetackPaymentLink AS LoanApplicationLink,
					loanApp.ChangedStatus AS LoanApplicationStatus,
					loanApp.LoanCreatedAt AS ApplicationStartDate,
					loanApp.CreatedDate AS DateOfLastUpdate,
					AdminInfo.ID AS AdminInfoID,
					AdminInfo.WisetackAmountToFinance AS AmountToFinance,
					AdminInfo.WisetackEstimatedDateOfCompletion AS EstimatedDateOfCompletion,
					AdminInfo.WisetackLoanAppMobileNumber AS LoanAppMobileNumber,
					loanApp.ExpirationDate,
					ROW_NUMBER() OVER (PARTITION BY AdminInfo.WisetackTransactionID ORDER BY CreatedDate DESC) as RowNumber
		FROM		AdminInfo  WITH (NOLOCK)
		INNER JOIN	Logins WITH (NOLOCK) ON Logins.ID = AdminInfo.CreatorID
		LEFT JOIN	WisetackCallbackLoanApplication AS loanApp WITH (NOLOCK) ON AdminInfo.WisetackTransactionID = loanApp.TransactionID
					AND (@IncludeAllLoanApplications = 1 OR (SELECT Count(1) FROM WisetackCallbackLoanApplication la WHERE la.TransactionID = AdminInfo.WisetackTransactionID AND la.ChangedStatus <> 'EXPIRED') > 0)
		LEFT JOIN	Customer  WITH (NOLOCK) ON AdminInfo.CustomerID = Customer.ID
		LEFT JOIN	tbl_ContactPerson AS person with(nolock) ON Customer.ContactID = person.ContactID
		WHERE		Logins.ID = @LoginID 
					AND ISNULL(AdminInfo.WisetackPaymentLink, '') <> '' 
					AND (ISNULL(loanApp.EventType, '') <> 'LOAN_PAYOUT' OR 
						(SELECT Count(1) FROM WisetackCallbackLoanApplication la WHERE la.TransactionID = AdminInfo.WisetackTransactionID AND la.EventType <> 'LOAN_PAYOUT') = 0)
	) AS a
	WHERE	RowNumber = 1 AND (@IncludeAllLoanApplications = 1 OR ISNULL(LoanApplicationStatus, '') <> '')
	ORDER BY AdminInfoID DESC

END
GO
