USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[GetAdjacentPanels]
	@AdminInfoID Int, 
	@Barcode VarChar(10), 
	@PaintTime Real
AS
	DECLARE	@Service_Barcode VarChar(10)
	DECLARE @AdjacentInfo VarChar(255)
	DECLARE	@FirstPanel VarChar(10)
	DECLARE @MajorPanel Bit
	DECLARE	@rBarcode VarChar(10)
	DECLARE	@FirstPanelBarcode VarChar(10)
	DECLARE @PanelsAdded TinyInt
	DECLARE @AllowDeductions Bit

	--If panel is not painted we don't need to check for adjacencies
	IF @PaintTime = 0
	BEGIN
		SELECT @MajorPanel = 0
		SELECT CONVERT(VarChar(10),'') 'BarCode'
		RETURN  
	END
	/*
		EXECUTE GetAdjacentPanels 
			@AdminInfoID = 276, 
			@Barcode = 722260, 
			@PaintTime = 1.0
	*/
	
	SELECT @AllowDeductions = CustomerProfilesPaint.AllowDeductions
	FROM AdminInfo WITH (NOLOCK) 
	INNER JOIN CustomerProfiles WITH (NOLOCK)  ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	INNER JOIN CustomerProfilesPaint WITH (NOLOCK)  ON
		(CustomerProfilesPaint.CustomerProfilesID = CustomerProfiles.ID)
	WHERE AdminInfo.ID = @AdminInfoID
	
	IF ISNULL(@AllowDeductions,0) = 0
	BEGIN
		SELECT @MajorPanel = 0
		SELECT CONVERT(VarChar(10),'') 'BarCode'
		RETURN  
	END

	SELECT @Service_Barcode = FocusWrite.Dbo.GetServiceBarcode(@AdmininfoID)

	SELECT DISTINCT EstimationLineItems2.Barcode
	FROM FocusWrite.Dbo.EstimationData EstimationData WITH (NOLOCK) 
	INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems WITH (NOLOCK)  ON
		(EstimationLineItems.EstimationDataID = EstimationData.ID)
	INNER JOIN FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor WITH (NOLOCK)  ON
		(EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID)
	LEFT JOIN Mitchell3.Dbo.Matrix Matrix1 WITH (NOLOCK)  ON
		(Matrix1.Service_Barcode = @Service_BarCode AND
		 Matrix1.Parent_Barcode = EstimationLineItems.Barcode AND
		 Matrix1.Relationship = 1)
	LEFT JOIN Mitchell3.dbo.Detail Detail1 WITH (NOLOCK)  ON
		(Detail1.Service_BarCode = @Service_BarCode AND
		 Detail1.barcode = Matrix1.Child_Barcode)
	LEFT JOIN Mitchell3.Dbo.Part Part1 WITH (NOLOCK) ON
		(Part1.Service_BarCode = Detail1.Service_BarCode AND
		 Part1.nheader = Detail1.nheader AND
		 Part1.nsection =  Detail1.nsection AND
		 Part1.npart = Detail1.npart) 

	INNER JOIN Mitchell3.Dbo.PanelAdjacency PanelAdjacency WITH (NOLOCK)  ON
		(PanelAdjacency.Service_Barcode = @Service_Barcode AND
		  (PanelAdjacency.barcode = EstimationLineItems.Barcode OR
		   ('**'+EstimationLineItems.Barcode = EstimationLineItems.PartNumber AND 
		    PanelAdjacency.BarcodePaint = EstimationLineItems.Barcode ) ) )

	INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems2 WITH (NOLOCK)  ON
		(EstimationLineItems2.EstimationDataID = EstimationData.id AND
		 ( EstimationLineItems2.Barcode = PanelAdjacency.BarcodeAdjacentPart OR
		   ( '**'+EstimationLineItems2.Barcode = EstimationLineItems2.PartNumber AND
		     EstimationLineItems2.Barcode = PanelAdjacency.BarcodeAdjacentPaint   ) ) )
	INNER JOIN FocusWrite.Dbo.EstimationLineLabor EstimationLineLabor2 WITH (NOLOCK)  ON
		(EstimationLineLabor2.EstimationLineItemsID = EstimationLineItems2.ID)
	LEFT JOIN Mitchell3.Dbo.Matrix Matrix2 WITH (NOLOCK)  ON
		(Matrix2.Service_Barcode = @Service_BarCode AND
		 Matrix2.Parent_Barcode = EstimationLineItems2.Barcode AND
		 Matrix2.Relationship = 1)
	LEFT JOIN Mitchell3.dbo.Detail Detail2 WITH (NOLOCK)  ON
		(Detail2.Service_BarCode = @Service_BarCode AND
		 Detail2.barcode = Matrix2.Child_Barcode)
	LEFT JOIN Mitchell3.Dbo.Part Part2 WITH (NOLOCK) ON
		(Part2.Service_BarCode = Detail2.Service_BarCode AND
		 Part2.nheader = Detail2.nheader AND
		 Part2.nsection =  Detail2.nsection AND
		 Part2.npart = Detail2.npart) 
	
	WHERE EstimationData.AdminInfoID = @AdminInfoID AND
		EstimationLineLabor.LaborType in (7,9,10,16,17,18,19,20) AND
		EstimationLineLabor2.LaborType in (7,9,10,16,17,18,19,20) AND
		EstimationLineItems.Barcode = @Barcode AND
		('**' + EstimationLineItems.Barcode = EstimationLineItems.PartNumber OR
		  ( Detail1.Labor_Op = 6 AND 
		    ISNULL(Detail1.Part_Text,'') NOT LIKE 'Add %' AND ISNULL(Part1.Part_Desc ,'') NOT LIKE 'Add %' AND
		    Detail1.Labor_Hours = CONVERT(Int,EstimationLineLabor.LaborTime * 10) ) ) AND
		('**' + EstimationLineItems2.Barcode = EstimationLineItems2.PartNumber OR
		  ( Detail2.Labor_Op = 6 AND 
		    ISNULL(Detail2.Part_Text,'') NOT LIKE 'Add %' AND ISNULL(Part2.Part_Desc ,'') NOT LIKE 'Add %' AND
		    Detail2.Labor_Hours = CONVERT(Int,EstimationLineLabor2.LaborTime * 10) ) )




GO
