USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GridColumnInfoUserMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GridColumnInfoID] [int] NULL,
	[UserID] [int] NULL,
	[Visible] [bit] NULL,
	[SortOrderIndex] [int] NULL,
 CONSTRAINT [PK_GridColumnInfoUserMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
