USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:		Ezra  
-- Create date: 3/31/2017  
-- Description:	Gets the price to display for a line item.  If the line is altered by a supplement, use the supplement's value.    
--				Supplements can also be supplemented, so recurse to the last supplement.  
-- =============================================  
CREATE FUNCTION [dbo].[GetLineItemPartPrice] (@lineItemID int, @discountMarkup real)  
RETURNS decimal(16, 2)  
AS  
BEGIN  
	DECLARE @price DECIMAL(16, 2)  
  
	-- See if there is a line item that overrides this line item  
	DECLARE @overrideID INT  
	SELECT @overrideID = (SELECT MAX(id) FROM EstimationLineItems WHERE ModifiesID = @lineItemID)  
	SET @overrideID = ISNULL(@overrideID, 0)  
  
	SELECT @price =   
		CASE WHEN @overrideID > 0  
			THEN dbo.GetLineItemPartPrice(@overrideID, @discountMarkup)  
		ELSE  
			(ISNULL(EstimationLineItems.Price, 0) * ISNULL(dbo.GetLineItemQuantity(EstimationLineItems.id), 0)) 
			* (1 + (ISNULL(@discountMarkup, 0) / 100)) 
		END  
	FROM EstimationLineItems  
	WHERE EstimationLineItems.id = @lineItemID  
  
	RETURN @price  
END  
GO
