USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/14/2020 
-- Description:	Renewal Goal, Add or update 
-- ============================================= 
CREATE PROCEDURE [dbo].[RenewalGoal_Update]  
	  @ID						INT 
	, @SalesRepId				INT 
	, @BonusMonth				INT 
	, @BonusYear				INT 
	, @RenewalGoal1Yr			INT 
	, @RenewalGoal2Yr			INT 
	, @SalesGoal				INT 
	, @SalesBonus100			INT 
	, @SalesBonus110			INT 
	, @SalesBonus120			INT 
	, @SalesBonus130			INT 
	, @RenewalBonus1Yr100		INT 
	, @RenewalBonus1Yr110		INT 
	, @RenewalBonus120			INT 
	, @RenewalBonus130			INT 
	, @CreateDate				DATETIME = null 
	, @ModifiedDate				DATETIME = null 
	, @SalesForcast				INT 
 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	IF @ID > 0 
		BEGIN 
			UPDATE RenewalGoal 
			SET 
				  SalesRepId = @SalesRepId 
				, BonusMonth = @BonusMonth 
				, BonusYear = @BonusYear 
				, RenewalGoal1Yr = @RenewalGoal1Yr 
				, RenewalGoal2Yr = @RenewalGoal2Yr 
				, SalesGoal = @SalesGoal 
				, SalesBonus100 = @SalesBonus100 
				, SalesBonus110 = @SalesBonus110 
				, SalesBonus120 = @SalesBonus120 
				, SalesBonus130 = @SalesBonus130 
				, RenewalBonus1Yr100 = @RenewalBonus1Yr100 
				, RenewalBonus1Yr110 = @RenewalBonus1Yr110 
				, RenewalBonus120 = @RenewalBonus120 
				, RenewalBonus130 = @RenewalBonus130 
				, CreateDate = @CreateDate 
				, ModifiedDate = @ModifiedDate 
				, SalesForcast = @SalesForcast 
 
			WHERE ID = @ID 
 
			SELECT @ID 
		END 
	ELSE 
		BEGIN 
			INSERT INTO RenewalGoal 
			( 
				  SalesRepId 
				, BonusMonth 
				, BonusYear 
				, RenewalGoal1Yr 
				, RenewalGoal2Yr 
				, SalesGoal 
				, SalesBonus100 
				, SalesBonus110 
				, SalesBonus120 
				, SalesBonus130 
				, RenewalBonus1Yr100 
				, RenewalBonus1Yr110 
				, RenewalBonus120 
				, RenewalBonus130 
				, CreateDate 
				, ModifiedDate 
				, SalesForcast 
			) 
			VALUES 
			( 
				  @SalesRepId 
				, @BonusMonth 
				, @BonusYear 
				, @RenewalGoal1Yr 
				, @RenewalGoal2Yr 
				, @SalesGoal 
				, @SalesBonus100 
				, @SalesBonus110 
				, @SalesBonus120 
				, @SalesBonus130 
				, @RenewalBonus1Yr100 
				, @RenewalBonus1Yr110 
				, @RenewalBonus120 
				, @RenewalBonus130 
				, @CreateDate 
				, @ModifiedDate 
				, @SalesForcast 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
    
END 
GO
