USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestQueue](
	[rqqID] [int] IDENTITY(1,1) NOT NULL,
	[rqqAddDate] [datetime] NOT NULL,
	[rqqAddBy] [int] NOT NULL,
 CONSTRAINT [PK_RequestQueue] PRIMARY KEY CLUSTERED 
(
	[rqqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RequestQueue] ADD  CONSTRAINT [DF_RequestQueue_rqqAddDate]  DEFAULT (getdate()) FOR [rqqAddDate]
GO
