USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[hasContractSigned] (@LoginID int,@ExpirationDate datetime)
Returns Int
AS
BEGIN


DECLARE @result bit

SELECT @result = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END 
FROM
(
	SELECT Contracts.ContractID
	FROM Contracts 
	JOIN Invoices ON Invoices.ContractID = Contracts.ContractID AND Invoices.AddOnID = 0
	WHERE	
		Contracts.LoginID = @LoginID
		AND Contracts.IsDeleted = 0 
		AND Invoices.IsDeleted = 0
		AND Invoices.Paid = 1
		AND ExpirationDate BETWEEN DATEADD(dd, 1, CAST(@ExpirationDate AS DATE)) AND @ExpirationDate + 397
) AS PEInvoicePaid
 
IF @result = 0 
	BEGIN
		SELECT @result = CASE WHEN COUNT(ContractID) > 0 THEN COUNT(isSigned) ELSE 0 END 
		FROM 
		(
			SELECT ContractID, isSigned
			FROM [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.vwContractLogins
			WHERE ContractTypeID = 1
			AND LoginID = @LoginID
			AND ExpirationDate BETWEEN DATEADD(dd, 1, CAST(@ExpirationDate AS DATE)) AND @ExpirationDate + 397
			GROUP BY ContractID, isSigned
		) AS WEContract
	END

RETURN @result


END
GO
