USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		<Author,,Name> 
-- Create date: <Create Date, ,> 
-- Description:	<Description, ,> 
-- ============================================= 
CREATE FUNCTION [dbo].[getPastDue]  
( 
	@LoginID int 
) 
RETURNS real as  
  
BEGIN 
	-- Declare the return variable here 
	DECLARE @Total real 
 
	-- Add the T-SQL statements to compute the return value here 
	Select @Total = SUM(InvoiceAmount)  
	from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Invoice  
	where  loginid   = @LoginID
	and Paid = 0 
	and DueDate < GETDATE() 
	and invoice.InvoiceAmount > 0 
	-- Return the result of the function 
	RETURN @Total 
 
END 
GO
