USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/4/2022
-- =============================================
CREATE PROCEDURE [dbo].[LinkRulePresetLink_GetForRule]
	  @LinkRuleID			int
	, @AddAction		varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM LinkRulePresetLink
	WHERE 
		LinkRuleID = @LinkRuleID
		AND AddAction = ISNULL(@AddAction, AddAction)
END
GO
