USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetVehicleInfoInVinn-05.sql (temporary)
CREATE PROCEDURE [dbo].[GetVehicleInfoInVinn]
	@Vin varchar(17),
	@Year int,
	@Make varchar(35),
	@Model varchar(25),
	@SubModel varchar(25),
	@BodyCode varchar(2), --<oem-body-type>
	@Body varchar(20),--<oem-full-body-style> chosen or <nonoem-body>
	@Engine varchar(26), --<oem-engine-information>
	@TransmissionCode char(1), --oem-transmission
	@Transmission varchar(17),--oem-transmission-type
	@Drive varchar(10),--nonoem-drive
	@AdminInfoID int --oem-vehicle-type
AS
BEGIN
	SET NOCOUNT ON;
	
	declare @ID int = 0
	declare @MakeID int = 0
	declare @MakeVinn varchar(50)
	declare @ModelID int = 0
	declare @ModelVinn varchar(50)
	declare @VehicleTypeID int
	declare @VehicleType varchar(10)
	declare @SubmodelID int = 0
	declare @SubmodelVinn varchar(50)
	declare @BodyID int = 0
	declare @BodyVinn varchar(50)
	declare @EngineID int = 0
	declare @EngineVinn varchar(50)
	declare @TransmissionID int = 0
	declare @TransmissionVinn varchar(50)
	declare @DriveID int = 0
	declare @DriveVinn varchar(50)
	declare @VehicleID int = 0

	--Vehicle Make
	SELECT DISTINCT @MakeID = a. MakeID, @MakeVinn = b.Make  
	FROM vinn.dbo.VinToMake a, 
            vinn.dbo.Makes b 
	WHERE
		VinSecondCharacter = substring(@Vin, 2, 1)
		AND ( @Vin like a.VinExpression + '%' )
		AND b.MakeID = a.MakeID
	--Vehicle Make via Mapping
	if @MakeID = 0
	Begin
		Select @MakeID = MakeID, @MakeVinn = Make From vinn.dbo.Makes with(nolock) Where Make = @Make
		if @MakeID = 0
		Begin
			Select @MakeID = VehicleMakeMapping.MakeID, @MakeVinn = Make
			From VehicleMakeMapping with(nolock) inner join vinn.dbo.Makes with(nolock) on VehicleMakeMapping.MakeID = vinn.dbo.Makes.MakeID
			Where MakeName = @Make
		End
    End
	
	--Vehicle Model
	SELECT distinct  @ModelID=  a.ModelID, @ModelVinn = b.Model
	FROM vinn.dbo.VinToModel a 
		inner join vinn.dbo.Models b 
			on a.ModelID = b.ModelID 
		inner join vinn.dbo.Vehicle_Service_Xref as x
			on x.MakeID = a.MakeID
			and x.VinYear = @Year
			and a.ModelID = x.modelid
	WHERE a.MakeID = @MakeID
      and ( @Vin like VinExpression + '%' 
            OR VinExpression IS NULL)
	--Vehicle Model via Mapping
	if @ModelID = 0
	Begin	
		Set @Model = REPLACE(@Model, ' ', '')
		SELECT distinct  @ModelID = a.ModelID, @ModelVinn = b.Model
		FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
			inner join vinn.dbo.Models b with(nolock) on a.ModelID = b.ModelID
		WHERE MakeID = @MakeID And VinYear  = @Year
			And (REPLACE(b.Model, ' ', '') like '%' + @Model + '%' OR @Model like '%' + REPLACE(b.Model, ' ', '') + '%')		
	End

	SELECT DISTINCT @VehicleTypeID = a.VehicleTypeID, @VehicleType = b.VehicleType
	FROM vinn.dbo.VinToVehicleType a with(nolock) 
         inner join vinn.dbo.VehicleTypes b with(nolock) on a.VehicleTypeID = b.VehicleTypeID
	WHERE a.MakeID = @MakeID and a.ModelID = @ModelID

	--Vehicle Submodel via Mapping first
	if @SubmodelID = 0 And isnull(@SubModel, '') <> ''
	Begin
		SELECT distinct  @SubmodelID = a.SubmodelID, @SubmodelVinn = b.Submodel
			FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
				inner join vinn.dbo.submodels b with(nolock) on a.SubmodelID = b.SubmodelID
			WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
				And b.Submodel = @SubModel
	End

	--Vehicle Submodel
	/*declare @i int
	SELECT @i = COUNT(DISTINCT a.SubmodelID) 
	FROM    vinn.dbo.VinToSubmodel a
			inner join vinn.dbo.submodels b
				on b.submodelid = a.submodelid 
			inner join  vinn.dbo.Vehicle_Service_Xref c
				on a.MakeID = c.MakeID 
			    and a.ModelID = c.ModelID 
			    and a.SubmodelID = c.SubmodelID 
	WHERE a.MakeID = @MakeID
      and a.ModelID = @ModelID
      and ( @Vin like VinExpression + '%' 
            OR VinExpression IS NULL)
      and c.VinYear = @Year
      --and c.VehicleTypeID = @VehicleTypeID
      and a.MakeID        = c.MakeID 
      and a.ModelID       = c.ModelID 
      and a.SubmodelID    = c.SubmodelID 
      and a.SubmodelID    = b.SubmodelID
	if @i = 1*/
	if @SubmodelID = 0
	Begin
		SELECT DISTINCT  @SubmodelID = a.SubmodelID, @SubmodelVinn = b.Submodel 
		FROM    vinn.dbo.VinToSubmodel a
				inner join vinn.dbo.submodels b
					on b.submodelid = a.submodelid 
				inner join  vinn.dbo.Vehicle_Service_Xref c
					on a.MakeID = c.MakeID 
					and a.ModelID = c.ModelID 
					and a.SubmodelID = c.SubmodelID 
		WHERE a.MakeID = @MakeID
		  and a.ModelID = @ModelID
		  and ( @Vin like VinExpression + '%' 
				OR VinExpression IS NULL)
		  and c.VinYear = @Year
		  --and c.VehicleTypeID = @VehicleTypeID
		  and a.MakeID        = c.MakeID 
		  and a.ModelID       = c.ModelID 
		  and a.SubmodelID    = c.SubmodelID 
		  and a.SubmodelID    = b.SubmodelID
	End

	--Vehicle Body
	SELECT DISTINCT @BodyID = b.BodyID, @BodyVinn = b.Body
	FROM   vinn.dbo.VinToBody a, 
           vinn.dbo.Bodys b,
		   vinn.dbo.Vehicle_Service_Xref c
	WHERE a.MakeID      = @MakeID
      and a.ModelID = @ModelID
       and (@Vin like VinExpression + '%' 
             OR VinExpression IS NULL)
      and c.VinYear       = @Year
      --and c.VehicleTypeID = @VehicleTypeID
      and c.SubmodelID    = @SubmodelID
      and a.MakeID        = c.MakeID 
      and a.ModelID       = c.ModelID 
      and a.BodyID        = c.EngineID -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and a.BodyID        = b.BodyID        
	--Vehicle Submodel via Mapping
	if @BodyID = 0 --hard to match it here (vinn.dbo.Bodys is too specific)
	Begin
		SELECT distinct  @BodyID = b.BodyID, @BodyVinn = b.Body
			FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
				inner join vinn.dbo.Bodys b with(nolock) on a.EngineID = b.BodyID
			WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
				And SubmodelID = @SubmodelID And b.Body = @Body
		if @BodyID = 0
		Begin
			SELECT distinct  @BodyID = b.BodyID, @BodyVinn = b.Body
				FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
					inner join VehicleBodyMapping c with(nolock) on a.EngineID = c.BodyID
					inner join vinn.dbo.Bodys b with(nolock) on c.BodyID = b.BodyID
				WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
					And SubmodelID = @SubmodelID And c.BodyCode = @BodyCode
		End
	End

	--Vehicle Engine
	SELECT DISTINCT @EngineID = a.EngineID, @EngineVinn = b.Engine 
	FROM      vinn.dbo.VinToEngine a, 
          vinn.dbo.Engines b,
		  vinn.dbo.Vehicle_Service_Xref c
	WHERE a.MakeID      = @MakeID
      and a.ModelID = @ModelID
      and ( @Vin like VinExpression + '%' 
            OR VinExpression IS NULL)
      and c.VinYear       = @Year
      --and c.VehicleTypeID = @VehicleTypeID
      and c.SubmodelID    = @SubmodelID       
      and c.engineid        = @BodyID -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and a.MakeID        = c.MakeID 
      and a.ModelID       = c.ModelID 
      and a.EngineID      = c.BodyID -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and a.EngineID      = b.EngineID 
	--Vehicle Engine via Mapping
	if @EngineID = 0
	Begin
		Select @Engine = value From STRING_SPLIT(@Engine, ' ') where value like '%.%' and value like '%L%'
		SELECT distinct  @EngineID = b.EngineID, @EngineVinn = b.Engine
		FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
			inner join vinn.dbo.Engines b with(nolock) on a.BodyID = b.EngineID
		WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
			And SubmodelID = @SubmodelID And a.EngineID = @BodyID And b.Engine like '%' + @Engine + '%'
	End
	
	--Vehicle Transmission
	SELECT DISTINCT @TransmissionID = a.TransmissionID, @TransmissionVinn = b.Transmission 
	FROM vinn.dbo.VinToTransmission a, 
     vinn.dbo.Transmissions b,
	 vinn.dbo.Vehicle_Service_Xref c
	WHERE a.MakeID      = @MakeID
      and a.ModelID = @ModelID
      and ( @Vin like VinExpression + '%' 
            OR VinExpression IS NULL)
      and c.VinYear        = @Year
      --and c.VehicleTypeID  = @VehicleTypeID
      and c.SubmodelID     = @SubmodelID       
      and c.EngineID       = @BodyID   -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and c.BodyID         = @EngineID  -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and a.MakeID         = c.MakeID 
      and a.ModelID        = c.ModelID 
      and a.TransmissionID = c.TransmissionID 
      and a.TransmissionID = b.TransmissionsID 
	--Vehicle Transmission via Mapping
	if @TransmissionID in (0, 1) --1 look to see if there is a btter fit
	Begin
		SELECT distinct  @TransmissionID = a.TransmissionID, @TransmissionVinn = b.Transmission
		FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
			inner join VehicleTransmissionMapping c with(nolock) on a.TransmissionID = c.TransmissionID
			inner join vinn.dbo.Transmissions b with(nolock) on c.TransmissionID = b.TransmissionsID
		WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
			And SubmodelID = @SubmodelID And EngineID = @BodyID And a.BodyID = @EngineID And c.TransCode = @TransmissionCode
	    if @TransmissionID in (0, 1)
		Begin
			Set @Transmission = REPLACE(REPLACE(REPLACE(@Transmission, 'SPD', 'Speed'), 'AUTOMATIC', 'Auto'), 'MANUAL', 'Man')
			SELECT distinct  @TransmissionID = a.TransmissionID, @TransmissionVinn = b.Transmission
			FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
				inner join vinn.dbo.Transmissions b with(nolock) on a.TransmissionID = b.TransmissionsID
			WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
				And SubmodelID = @SubmodelID And EngineID = @BodyID And a.BodyID = @EngineID And @Transmission like '%' + REPLACE(b.Transmission, ' Trans', '') + '%'
		End
	End
	
	--Vehicle Drive
	SELECT DISTINCT @DriveID = a.DriveID, @DriveVinn = b.Drive 
	FROM  vinn.dbo.VinToDrive a, 
      vinn.dbo.Drives b,
	  vinn.dbo.Vehicle_Service_Xref c
	WHERE a.MakeID      = @MakeID
      and a.ModelID = @ModelID
      and ( @Vin like VinExpression + '%' 
           OR VinExpression IS NULL)
      and c.VinYear        = @Year
      --and c.VehicleTypeID  = @VehicleTypeID
      and c.SubmodelID     = @SubmodelID       
      and c.EngineID       = @BodyID   -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and c.BodyID         = @EngineID  -- Vehicle_Service_Xref has these backwards  engineid,bodyid 
      and c.TransmissionID = @TransmissionID 
      and a.MakeID         = c.MakeID 
      and a.ModelID        = c.ModelID 
      and a.DriveID       = c. DriveID
		  and a.DriveID        = b.DriveID 
	--Vehicle Drive via Mapping
	if @DriveID = 0
	Begin
		SELECT distinct  @DriveID = a.DriveID, @DriveVinn = b.Drive
		FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
			inner join VehicleDriveMapping c with(nolock) on a.DriveID = c.DriveID
			inner join vinn.dbo.Drives b with(nolock) on c.DriveID = b.DriveID
		WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
			And SubmodelID = @SubmodelID And EngineID = @BodyID And BodyID = @EngineID And TransmissionID = @TransmissionID And c.DriveCode = @Drive
	    if @DriveID = 0
		Begin
			SELECT distinct  @DriveID = a.DriveID, @DriveVinn = b.Drive
			FROM vinn.dbo.Vehicle_Service_Xref a with(nolock)
				inner join vinn.dbo.Drives b with(nolock) on a.DriveID = b.DriveID
			WHERE MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year --And VehicleTypeID = @VehicleTypeID
				And SubmodelID = @SubmodelID And EngineID = @BodyID And BodyID = @EngineID And TransmissionID = @TransmissionID And b.Drive = @Drive
		End
	End
	
	select @VehicleID = VehicleID
	from vinn.dbo.Vehicle_Service_Xref with(nolock)
	where MakeID = @MakeID And ModelID = @ModelID And VinYear  = @Year And SubmodelID = @SubmodelID
		And EngineID = case when isnull(@BodyID,0) = 0 then EngineID else @BodyID end
		And BodyID = case when isnull(@EngineID,0) = 0 then BodyID else @EngineID end
		And TransmissionID = case when isnull(@TransmissionID,0) = 0 then TransmissionID else @TransmissionID end
		And DriveID = case when isnull(@DriveID,0) = 0 then DriveID else @DriveID end

	Select  @Year as 'Year', @MakeID as MakeID, @ModelID as ModelID, @SubModelID as SubModelID, @BodyID as BodyID
	, @EngineID as EngineID, @TransmissionID as TransmissionID, @DriveID as DriveID, @VehicleID as VehicleID

	exec SP_GetYears

	exec SP_GetMakes @Year
	
	exec SP_GetModels @Year, @MakeID

	exec SP_GetGetSubmodels @Year, @MakeID, @ModelID

	exec sp_GetBodyTypes @Year, @MakeID, @ModelID, @SubModelID
	 
	exec SP_GetEngineTypes @VehicleID, @AdminInfoID, @BodyID
	
	exec SP_GetTransmissionTypes @VehicleID, @AdminInfoID, @BodyID
	
	exec SP_GetDriveTypes @VehicleID, @AdminInfoID
END
GO
