USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Email_Save]
	@ID							int,
	@LoginID					int,
	@TemplateID					int,
	@ToAddresses				varchar(1000),
	@CCAddresses				varchar(1000),
	@SMSNumbers					varchar(1000),
	@ReplyTo			    	varchar(100),
	@Subject					varchar(500),
	@Body						text,
	@AttachmentPaths			varchar(MAX),
	@CreateStamp				datetime,
	@SendStamp					datetime = null,
	@HasError					bit,
	@ErrorMessage				text

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @ID > 0
		BEGIN
			UPDATE Emails
			SET 
				  LoginID = @LoginID
				, TemplateID = @TemplateID
				, ToAddresses = @ToAddresses
				, CCAddresses = @CCAddresses
				, SMSNumbers = @SMSNumbers	
				, ReplyTo = @ReplyTo
				, Subject = @Subject
				, Body = @Body
				, AttachmentPaths = @AttachmentPaths
				, CreateStamp = @CreateStamp
				, SendStamp = @SendStamp
				, HasError = @HasError
				, ErrorMessage = @ErrorMessage
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO Emails
			(
				  LoginID
				, TemplateID
				, ToAddresses
				, CCAddresses
				, SMSNumbers
				, ReplyTo
				, Subject
				, Body
				, AttachmentPaths
				, CreateStamp
				, SendStamp
				, HasError
				, ErrorMessage
			)
			VALUES
			(
				  @LoginID
				, @TemplateID
				, @ToAddresses
				, @CCAddresses
				, @SMSNumbers
				, @ReplyTo
				, @Subject
				, @Body
				, @AttachmentPaths
				, @CreateStamp
				, @SendStamp
				, @HasError
				, @ErrorMessage
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END

END
GO
