USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 10/29/2019 
-- Description:	Permanantly delete a contract add on.  This can only be done when there are no payments. 
-- ============================================= 
CREATE PROCEDURE [dbo].[ContractAddOn_DeletePermanent] 
	@id				int 
AS 
BEGIN 
	DELETE  
	FROM ContractAddOn 
	WHERE ID = @id 
 
	DELETE  
	FROM Invoices 
	WHERE AddOnID = @id 
 
END 
GO
