USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessedSubTotals](
	[CacheID] [int] NULL,
	[RateName] [varchar](50) NULL,
	[FinalLineItemTotal] [float] NULL,
	[Taxable] [bit] NULL,
	[Rate] [float] NULL,
	[Hours] [float] NULL,
	[SortOrder] [varchar](50) NULL,
	[Notes] [varchar](300) NULL,
	[CapType] [int] NULL,
	[Cap] [real] NULL
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [CacheID] ON [dbo].[ProcessedSubTotals]
(
	[CacheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
