USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSMSAttachmentMapping]   
   @UniqueID   VARCHAR(10)   
AS    
BEGIN   
 -- SET NOCOUNT ON added to prevent extra result sets from   
 -- interfering with SELECT statements.   
 SET NOCOUNT ON;   
   
 SELECT AdminInfo.ID As AdminInfoID, AdminInfo.CreatorID AS LoginID, Reports.ID AS ReportID, Reports.ReportType, Reports.FileName,ReportEmail.Subject, ReportEmail.Body, 
 Reports.ImagesOnlyChecked
 FROM SMSAttachmentMapping INNER JOIN  ReportEmail ON SMSAttachmentMapping.EmailID = ReportEmail.ID   
 INNER JOIN ReportEmailAttachment ON ReportEmailAttachment.EmailID = ReportEmail.ID   
 INNER JOIN Reports ON Reports.ID = ReportEmailAttachment.ReportID   
 INNER JOIN AdminInfo ON AdminInfo.ID = Reports.AdminInfoID   
 WHERE UniqueID = @UniqueID    
   
END   
GO
