USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 4.3//2018 
-- Description:	<Description,,> 
-- ============================================= 
CREATE PROCEDURE [dbo].[Overlaps_GetProposals]  
	@AdminInfoID		int 
AS 
BEGIN 

	SELECT DISTINCT Min(EOP.ID) 'ID', EOP.ActionPart, EOP.Reason, EOP.BecauseOf, EOP.OverlapAmount, EOP.MinimumLabor  
	FROM EstimationOverlapProposed EOP
	WHERE AdminInfoID = @AdminInfoID AND 
	CONCAT(EOP.ActionPart, EOP.Reason, EOP.BecauseOf, EOP.OverlapAmount, EOP.MinimumLabor)
	NOT IN (select CONCAT(ActionPart, Reason, BecauseOf, OverlapAmount, MinimumLabor) 
	from EstimationOverlapProposedFill where AdminInfoID = @AdminInfoID
	GROUP BY ActionPart, Reason, BecauseOf, OverlapAmount, MinimumLabor) 
	GROUP BY EOP.ActionPart, EOP.Reason, EOP.BecauseOf, EOP.OverlapAmount, EOP.MinimumLabor
 
	--SELECT DISTINCT  
	--	  Min(ID) 'ID' 
	--	, ActionPart 
	--	, Reason 
	--	, BecauseOf 
	--	, OverlapAmount 
	--	, MinimumLabor  
	--FROM EstimationOverlapProposed   
	--WHERE AdminInfoID = @AdminInfoID  
	--GROUP BY ActionPart, Reason, BecauseOf, OverlapAmount, MinimumLabor  

	INSERT INTO EstimationOverlapProposedFill(ActionPart, Reason, BecauseOf, OverlapAmount, MinimumLabor, [Labor Hours], [Labor Hours Inc], 
				[ID], Process, AdminInfoID, ActionID, ResultID, ActionCode, AcceptFlag, BarcodeInc)
	SELECT ActionPart, Reason, BecauseOf, OverlapAmount, MinimumLabor, [Labor Hours], [Labor Hours Inc], [ID], Process, AdminInfoID, ActionID, 
		   ResultID, ActionCode, AcceptFlag, BarcodeInc 
	FROM EstimationOverlapProposed
	WHERE AdminInfoID = @AdminInfoID  
 
END 
GO
