USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ezra
-- Create date: 5/18/2017
-- Description:	Save a record of a sent estimate
-- =============================================
CREATE PROCEDURE [dbo].[InsertSentEstimateRecord] 
	@AdminInfoID		int,
	@Recipients			varchar(500),
	@Message			varchar(1000),
	@ReportID			int
AS
BEGIN
	INSERT INTO SentEstimate
	(AdminInfoID, TimeStamp, Recipients, Message, ReportID)
	VALUES (@AdminInfoID, GETDATE(), @Recipients, @Message, @ReportID)

	SELECT CAST(SCOPE_IDENTITY() AS INT)
END
GO
