USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create  PROCEDURE [dbo].[EMS_Export_GetVehicle_201]
	@AdminInfoID Int
AS

SET NOCOUNT ON
SET FMTONLY OFF

DECLARE @Manual BIT = (SELECT TOP 1 ISNULL(VehicleInfoManual.ManualSelection, 0)
FROM VehicleInfo
LEFT OUTER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataID
LEFT OUTER JOIN VehicleInfoManual ON VehicleInfo.id = VehicleInfoManual.VehicleInfoID
WHERE EstimationData.AdminInfoID = @AdminInfoID)

IF (@Manual = 0)
	BEGIN
		SELECT TOP 1
			N'14' as 'IMPACT_1',
			NULL IMPACT_2,
			NULL DMG_MEMO,
			NULL DB_V_CODE,
			CAST(LEFT(VehicleInfo.License,10) as nvarchar(10)) PLATE_NO,
			CAST(LEFT(VehicleInfo.State,2) as nvarchar(2)) PLATE_ST,
			CAST(LEFT(VehicleInfo.Vin,25) as nvarchar(25)) V_VIN,
			NULL V_COND,
			NULL V_PROD_DT,
			RIGHT(CONVERT(nvarchar(4),a.VinYear),2) V_MODEL_YR,
			LEFT(CONVERT(nvarchar(12),a.MakeID),6) V_MAKECODE,
			CAST(LEFT(b.Make,20) as nvarchar(20)) V_MAKEDESC,
			CAST(LEFT(c.Model,50) as nvarchar(50)) V_MODEL,
			dbo.GetVehicleType(VehicleInfo.VehicleID) V_TYPE,
			--f.Body V_BSTYLE,
			--Submodel V_TRIMCODE,
			NULL V_BSTYLE,
			NULL V_TRIMCODE,
			NULL TRIM_COLOR,
			NULL V_MLDGCODE,
			NULL V_ENGINE,
			RIGHT(CONVERT(nvarchar(12),CONVERT(Int,VehicleInfo.MilesIn)),6) V_MILEAGE,
			NULL V_OPTIONS,
			CASE
				WHEN LEFT(ISNULL(VehicleInfo.IntColorCode,0),20) = '-1' THEN NULL
				WHEN LEFT(ISNULL(VehicleInfo.IntColorCode,0),20) = NULL THEN NULL
				ELSE cast(LEFT(ISNULL(VehicleInfo.IntColorCode,0),20) as nvarchar(20))
			END V_COLOR,
			NULL V_TONE,
			NULL V_STAGE,
			NULL PAINT_CD1,
			NULL PAINT_CD2,
			NULL PAINT_CD3,
			NULL V_MEMO 
		FROM VehicleInfo
		INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataID
		INNER JOIN vinn.dbo.vehicle_service_xref a ON VehicleInfo.VehicleID = A.VehicleID
		INNER JOIN vinn.dbo.makes b ON b.makeid = a.makeid
		INNER JOIN vinn.dbo.models c ON c.modelid = a.modelid
		INNER JOIN vinn.dbo.submodels d ON d.submodelid = a.submodelid  
		inner join vinn.dbo.VinToBody as e on a.MakeID  = e.MakeID and a.ModelID = e.ModelID 
		inner join vinn.dbo.Bodys as f on e.bodyid = f.bodyid
	 
		WHERE EstimationData.AdminInfoID = @AdminInfoID
	END
ELSE
	BEGIN

		SELECT TOP 1
			N'14' as 'IMPACT_1',
			NULL IMPACT_2,
			NULL DMG_MEMO,
			NULL DB_V_CODE,
			CAST(LEFT(VehicleInfo.License,10) as nvarchar(10)) PLATE_NO,
			CAST(LEFT(VehicleInfo.State,2) as nvarchar(2)) PLATE_ST,
			CAST(LEFT(VehicleInfo.Vin,25) as nvarchar(25)) V_VIN,
			NULL V_COND,
			NULL V_PROD_DT,
			RIGHT(CONVERT(nvarchar(4), VehicleInfoManual.ModelYear),2) V_MODEL_YR,
			NULL V_MAKECODE,
			CAST(LEFT(VehicleInfoManual.Make, 20) as nvarchar(20)) V_MAKEDESC,
			CAST(LEFT(VehicleInfoManual.Model, 50) as nvarchar(50)) V_MODEL,
			dbo.GetVehicleType(VehicleInfo.VehicleID) V_TYPE,
			NULL V_BSTYLE,
			NULL V_TRIMCODE,
			NULL TRIM_COLOR,
			NULL V_MLDGCODE,
			NULL V_ENGINE,
			RIGHT(CONVERT(nvarchar(12),CONVERT(Int,VehicleInfo.MilesIn)),6) V_MILEAGE,
			NULL V_OPTIONS,
			CASE
				WHEN LEFT(ISNULL(VehicleInfo.IntColorCode,0),20) = '-1' THEN NULL
				WHEN LEFT(ISNULL(VehicleInfo.IntColorCode,0),20) = NULL THEN NULL
				ELSE cast(LEFT(ISNULL(VehicleInfo.IntColorCode,0),20) as nvarchar(20))
			END V_COLOR,
			NULL V_TONE,
			NULL V_STAGE,
			NULL PAINT_CD1,
			NULL PAINT_CD2,
			NULL PAINT_CD3,
			NULL V_MEMO 
		FROM VehicleInfo
		INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataID
		LEFT OUTER JOIN VehicleInfoManual ON VehicleInfo.id = VehicleInfoManual.VehicleInfoID
	 
		WHERE EstimationData.AdminInfoID = @AdminInfoID
	END

GO
