USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VehiclePartSearch_GetVehiclesForBarcode]
	@Category AS VARCHAR(100),
	@SubCategory AS VARCHAR(100),
	@Part_Desc AS VARCHAR(200),
	@Part_Number AS VARCHAR(100),
	@Prtc_Description AS VARCHAR(100),
	@Price AS VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Create TABLE #tblServiceBarCode 
	( 
		Service_BarCode INT
	);

	With CTE
	As
	(
		select Row_Number() Over(Partition by Category.Category
		, Subcategory.Subcategory
		, Part.Part_Desc
		, Detail.Part_Number
		, Detail.Prtc_Description
		, Detail.Price_1 
			Order By Category.Category, Subcategory.Subcategory, Part.Part_Desc, Detail.Part_Number, 
			Detail.Prtc_Description, Detail.Price_1) As Row_Num
		, MIN(Detail.Service_BarCode) AS Service_BarCode
		, Category.Category
		, Subcategory.Subcategory
		, Part.Part_Desc
		, Detail.Part_Number
		, Detail.Prtc_Description
		, Detail.Price_1
		FROM Mitchell3.dbo.Detail 
		LEFT OUTER JOIN Mitchell3.dbo.Part ON  
			Detail.Service_BarCode = Part.Service_BarCode  
			AND Detail.nheader = Part.nheader 
			AND Detail.nsection = Part.nsection 
			AND Detail.npart = Part.npart 
		LEFT OUTER JOIN Mitchell3.dbo.Subcategory ON 
			Detail.Service_BarCode = Subcategory.Service_BarCode 
			AND Detail.nheader = Subcategory.nheader 
			AND Detail.nsection = Subcategory.nsection 
		LEFT OUTER JOIN Mitchell3.dbo.Category ON 
			Detail.Service_BarCode = Category.Service_BarCode
			AND Detail.nheader = Category.nheader
		WHERE   Category.Category = ISNULL(@Category, Category.Category)
			AND Subcategory.Subcategory = ISNULL(@SubCategory, Subcategory.Subcategory)
			AND Part.Part_Desc = ISNULL(@Part_Desc, Part.Part_Desc)
			AND Detail.Part_Number = ISNULL(@Part_Number, Detail.Part_Number)
			AND Detail.Prtc_Description = ISNULL(@Prtc_Description, Detail.Prtc_Description)
			AND Detail.Price_1 = ISNULL(@Price, Detail.Price_1)
		GROUP BY Category, Subcategory, Part_Desc, Part_Number, Prtc_Description, Price_1 -- ,Make, Model
	)

	INSERT INTO #tblServiceBarCode(Service_BarCode)
	Select  Service_BarCode
	From	CTE 

	SELECT Make, Model, MIN(VinYear) MinYear, MAX(VinYear) AS MaxYear
	FROM (
		SELECT DISTINCT
			  Vehicle_Service_Xref.VinYear
			, ISNULL(Makes.Make, '') AS Make
			, ISNULL(Models.Model, '') AS Model
		FROM Vinn.dbo.Vehicle_Service_Xref
		LEFT OUTER JOIN Vinn.dbo.Makes ON Vehicle_Service_Xref.MakeID = Makes.MakeID
		LEFT OUTER JOIN Vinn.dbo.Models ON Vehicle_Service_Xref.ModelID = Models.ModelID
		LEFT OUTER JOIN Vinn.dbo.Submodels ON Vehicle_Service_Xref.SubmodelID = Submodels.SubmodelID
		LEFT OUTER JOIN Vinn.dbo.Engines ON Vehicle_Service_Xref.EngineID = Engines.EngineID
		LEFT OUTER JOIN Vinn.dbo.Bodys ON Vehicle_Service_Xref.BodyID = Bodys.BodyID
		WHERE Vehicle_Service_Xref.Service_Barcode IN (SELECT Service_BarCode FROM #tblServiceBarCode)
	) AS Base
	GROUP BY Make, Model

END
GO
