USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetExpandListMitchell]
	@GroupNumber Int,
	@VehicleID Int,
	@BodyType Int
AS
  
	DECLARE @CegDocID Int
	IF EXISTS (	SELECT VehicleIDtoMitchell3VehicleID.FWVehicleID
			FROM Mitchell3.Dbo.VehicleIDtoMitchell3VehicleID VehicleIDtoMitchell3VehicleID WITH (NOLOCK)
			WHERE VehicleIDtoMitchell3VehicleID.FWVehicleID = @VehicleID AND
				(VehicleIDtoMitchell3VehicleID.BodyType = -1 OR VehicleIDtoMitchell3VehicleID.BodyType = @BodyType) )
	BEGIN
		EXECUTE Mitchell3.dbo.GetExpandListMitchell3
			@GroupNumber = @GroupNumber,
			@VehicleID = @VehicleID,
			@BodyType = @BodyType
	END
	ELSE
		SELECT @CegDocID = Max(Service.CegDocID )
		FROM Mitchell.Dbo.ServicesToVehicleID ServicesToVehicleID WITH (NOLOCK)
		INNER JOIN Mitchell.Dbo.service Service WITH (NOLOCK) ON
			(Service.barcode = ServicesToVehicleID.BarCode) 
		WHERE ServicesToVehicleID.VehicleID = @VehicleID AND
			( ServicesToVehicleID.BodyTypesID = -1 OR ServicesToVehicleID.BodyTypesID = @BodyType)

		SELECT DISTINCT SubSection.SubSectionid,
			0 'ParentID',
			section.sectionhead + ISNULL(' / '+SubSectionHead.subsectionheadline,'') 'SectionName',
			SubSection.SubSectionid 'GroupNumber',
			1 'Selectable'
		FROM Mitchell.dbo.section Section  WITH (NOLOCK)
		INNER JOIN Mitchell.dbo.subsection SubSection WITH (NOLOCK) ON
			(SubSection.SectionID = Section.SectionID)
		LEFT JOIN Mitchell.dbo.subsectionhead subsectionhead WITH (NOLOCK) ON
			(subsectionhead.SubSectionID = SubSection.SubSectionID)
		WHERE
			Section.CegDocID = @CegDocID AND
			 SubSection.SubSectionid = @GroupNumber




GO
