USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DataMigration_SingleContract]
	@ContractID int
AS
BEGIN


	SET IDENTITY_INSERT Contracts on

	INSERT INTO Contracts (ContractID, LoginID, ContractPriceLevelID, DateCreated, EffectiveDate, ExpirationDate, IsSigned, Notes, PromoID, Active, WillRenew, IsDeleted)
	SELECT Contract.ContractID, ContractLogins.LoginID, Contract.ContractPriceLevelID, Contract.DateCreated, Contract.EffectiveDate, Contract.ExpirationDate, 0 AS IsSigned, ISNULL(Contract.Notes, '') AS Notes, ISNULL(Contract.PromoID, 0) AS PromoID, ISNULL(Contract.Active, 0) AS Active, ISNULL(Contract.WillRenew, 0) AS WillRenew, 0 AS IsDeleted
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON ContractLogins.ContractID = Contract.ContractID
	LEFT OUTER JOIN Contracts ON Contract.ContractID = Contracts.ContractID
	WHERE  
		Contract.ContractID = @ContractID
		AND Contracts.ContractID IS NULL
	
	SET IDENTITY_INSERT Contracts off

	-- Insert Frame Data add ons
	INSERT INTO ContractAddOn(ContractID, ContractPriceLevelID, AddOnType, StartDate, Active, IsDeleted)
	SELECT DISTINCT Contracts.ContractID, Contract.ContractPriceLevelID, Contract.ContractTypeID, Contract.EffectiveDate, ISNULL(Contract.Active, 0), 0
	FROM Contracts
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON Contracts.ContractID = Contract.ParentContractID AND Contract.ContractTypeID = 2
	WHERE Contract.ContractID = @ContractID

	-- Insert EMS add ons
	INSERT INTO ContractAddOn(ContractID, ContractPriceLevelID, AddOnType, StartDate, Active, IsDeleted)
	SELECT DISTINCT Contracts.ContractID, Contract.ContractPriceLevelID, Contract.ContractTypeID, Contract.EffectiveDate, ISNULL(Contract.Active, 0), 0
	FROM Contracts
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON Contracts.ContractID = Contract.ParentContractID AND Contract.ContractTypeID = 5
	WHERE Contract.ContractID = @ContractID


	-- Copy all invoices that are connected to a contract (main or add on)
	SET IDENTITY_INSERT Invoices on

	INSERT INTO Invoices (InvoiceID, LoginID, ContractID, AddOnID, FeeInvoiceID, PaymentNumber, InvoiceTypeID, InvoiceAmount, SalesTax, DueDate, Notes, Summary, Paid, DatePaid, PaymentID, IsDeleted)
	SELECT 
		  Invoice.InvoiceID
		, Invoice.LoginID
		, ISNULL(Contract.ParentContractID, Contract.ContractID) AS ContractID
		, ISNULL(ContractAddOn.ID, 0) AS AddOnID
		, ISNULL(Invoice.FeeInvoiceID, 0) AS FeeInvoiceID
		, Invoice.PaymentNumber
		, Invoice.InvoiceTypeID
		, Invoice.InvoiceAmount
		, Invoice.SalesTax
		, Invoice.DueDate
		, ISNULL(Invoice.Notes, '') AS Notes
		, '' AS Summary
		, ISNULL(Invoice.Paid, 0) AS Paid
		, CASE WHEN ISNULL(Invoice.Paid, 0) = 1 AND Invoice.DatePaid IS NULL THEN Invoice.DueDate ELSE Invoice.DatePaid END AS DatePaid
		, 0
		, 0 AS IsDeleted
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Invoice
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON Invoice.ContractID = Contract.ContractID
	LEFT OUTER JOIN ContractAddOn ON ContractAddOn.ID = (SELECT MAX(ContractAddOn.ID) FROM ContractAddOn WHERE Contract.ParentContractID = ContractAddOn.ContractID AND Contract.ContractTypeID = ContractAddOn.AddOnType)
	LEFT OUTER JOIN Invoices ON Invoice.InvoiceID = Invoices.InvoiceID
	WHERE Invoice.ContractID = @ContractID

	SET IDENTITY_INSERT Invoices off
END
GO
