USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WisetackCallbackMerchantSignup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CallbackDate] [datetime] NOT NULL,
	[MerchantID] [nvarchar](200) NOT NULL,
	[SignupLink] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[Reasons] [nvarchar](4000) NULL,
	[ExternalID] [nvarchar](200) NULL,
	[OnboardingType] [nvarchar](100) NULL,
	[TransactionsEnabled] [bit] NOT NULL,
	[TransactionRange] [nvarchar](100) NULL,
 CONSTRAINT [PK_WisetackCallbackMerchantSignup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
