USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/2/2020
-- Description:	Get a make and model ID from the text, for the Ride Share Collision Network integration
-- =============================================
CREATE PROCEDURE [dbo].[GetMakeAndModelFromNames]
	  @Make				varchar(50)
	, @Model			varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT (SELECT MakeID FROM Vinn.dbo.Makes WHERE Make = @Make) AS MakeID, (SELECT ModelID FROM Vinn.dbo.Models WHERE Model = @Model) AS ModelID

END
GO
