USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	2/9/2023 - EVB: This inserts rows into WisetackCallbackMerhantSignup, triggered from Wisetack callbacks
		during the merchant signup process.
*/
CREATE PROCEDURE [dbo].[WisetackCallbackMerchantSignup_Insert] 
	@CreatedDate datetime,
	@CallbackDate datetime,
	@MerchantID nvarchar(200),
	@SignupLink nvarchar(200),
	@Status nvarchar(100),
	@EventType nvarchar(100),
	@Reasons nvarchar(4000) = NULL,
	@ExternalID nvarchar(200) = NULL,
	@OnboardingType nvarchar(100) = NULL,
	@TransactionsEnabled bit,
	@TransactionRange nvarchar(100) = NULL
AS
BEGIN
	SET NOCOUNT ON

	INSERT INTO WisetackCallbackMerchantSignup 
		(
			[CreatedDate],
			[CallbackDate],
			[MerchantID],
			[SignupLink],
			[Status],
			[EventType],
			[Reasons],
			[ExternalID],
			[OnboardingType],
			[TransactionsEnabled],
			[TransactionRange]
		) VALUES (
			@CreatedDate,
			@CallbackDate,
			@MerchantID,
			@SignupLink,
			@Status,
			@EventType,
			@Reasons,
			@ExternalID,
			@OnboardingType,
			@TransactionsEnabled,
			@TransactionRange
		)

	SELECT scope_identity() AS ID

END
GO
