USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================   
-- Author:  Ezra   
-- Create date: 2/20/2019   
-- Description: Get a summary of estimate reports and if they were attached to an e-mail   
-- =============================================   
CREATE PROCEDURE [dbo].[Report_GetEstimateReportSummary]
	  @EstimateID INT
	, @ShowDeletedOnly BIT = 0
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	      Reports.id AS ReportID
		, Reports.FileName
		, CASE WHEN Reports.ReportType = '' THEN 'Custom' ELSE Reports.ReportType END AS ReportType
		, CASE WHEN Reports.ReportType = '' THEN 'Custom' ELSE CASE WHEN charindex(' ', Reports.ReportType) > 1 THEN LEFT(Reports.ReportType, charindex(' ', Reports.ReportType) - 1) ELSE Reports.ReportType END END AS ReportTypeTag
		, ISNULL(CustomReportTemplate.ID, 0) AS CustomTemplateID
		, ISNULL(CustomReportTemplate.Name, '') CustomReportName
		, Reports.DateCreated
		, MIN(ISNULL(ReportEmail.ID, 0)) AS EmailID
		, CASE WHEN Reports.DeleteStamp IS NULL THEN 0 ELSE 1 END AS IsDeleted
		, Reports.Notes
	FROM Reports
	LEFT OUTER JOIN ReportEmailAttachment ON Reports.id = ReportEmailAttachment.ReportID
	LEFT OUTER JOIN ReportEmail ON ReportEmailAttachment.EmailID = ReportEmail.ID
	LEFT OUTER JOIN CustomReportTemplate ON Reports.CustomReportTemplateID = CustomReportTemplate.ID
	WHERE 
		AdminInfoID = @EstimateID
		AND @ShowDeletedOnly = CASE WHEN Reports.DeleteStamp IS NULL THEN 0 ELSE 1 END
	GROUP BY 
		  Reports.id
		, Reports.FileName
		, Reports.ReportType
		, Reports.DateCreated
		, CustomReportTemplate.ID
		, CustomReportTemplate.Name
		, Reports.DeleteStamp
		, Reports.Notes
END
GO
