USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 9/30/2019
-- Description:	Get a site setting by LoginID and Tag
-- =============================================
CREATE PROCEDURE [dbo].[SiteSetting_GetByTag] 
	  @LoginID				int
	, @Tag					varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM SiteSetting
	WHERE LoginID = @LoginID AND Tag = @Tag
END
GO
