USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/14/2021
-- =============================================
CREATE PROCEDURE [dbo].[PasswordResetLink_Update]
	  @ID					int
	, @Code					varchar(20)
	, @SiteUserID			int
	, @TimeStamp			datetime
	, @Used					bit	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE PasswordResetLink
			SET
				  Code = @Code
				, SiteUserID = @SiteUserID
				, TimeStamp = @TimeStamp
				, Used = @Used
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO PasswordResetLink
			(
				  Code
				, SiteUserID
				, TimeStamp
				, Used 
			)
			VALUES
			(
				  @Code
				, @SiteUserID
				, @TimeStamp
				, @Used
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
