USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetCustomerProfileEditHistoryByAdminInfo]
@AdminInfoId int
AS
SELECT 	cpeh.[id]
	,[CustomerProfileID]
	,[Changes]
	,[ChangeDate]
	,[ChangedBy]
FROM CustomerProfileEditHistory cpeh WITH(NOLOCK)
INNER JOIN CustomerProfiles cp WITH(NOLOCK)
ON cp.id = cpeh.CustomerProfileID
WHERE cp.AdminInfoId = @AdminInfoId


GO
