USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocuSignLog](
	[DocuSignLogID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NOT NULL,
	[ContractID] [int] NOT NULL,
	[DocuSignEnvelopeID] [varchar](50) NOT NULL,
	[SigningEvent] [varchar](100) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_DocuSignLog] PRIMARY KEY NONCLUSTERED 
(
	[DocuSignLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [idx_DocuSignLog_1] ON [dbo].[DocuSignLog]
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_DocuSignLog_2] ON [dbo].[DocuSignLog]
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocuSignLog] ADD  CONSTRAINT [DF_DocuSignLog_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
