USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [dbo].[FormatDateTime] (@pValue DateTime)
RETURNS VarChar(25) AS  
BEGIN
	DECLARE @TempValue VarChar(25)

	SELECT @TempValue = 
		RIGHT('0'+CONVERT(VarChar(2),DatePart(m,@pValue)),2) + '/' + 
		RIGHT('0'+CONVERT(VarChar(2),DatePart(d,@pValue)),2) + '/' + 
		CONVERT(VarChar(4),DatePart(yyyy,@pValue)) + ' ' + 
		RIGHT('0'+CONVERT(VarChar(2),DatePart(hh,@pValue)),2) + ':' + 
		RIGHT('0'+CONVERT(VarChar(2),DatePart(n,@pValue)),2) + ':' +
		RIGHT('0'+CONVERT(VarChar(2),DatePart(s,@pValue)),2) + '.' +
		RIGHT('00'+CONVERT(VarChar(3),DatePart(ms,@pValue)),3) 
	RETURN (@TempValue)
END




GO
