USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/18/2018 
-- Description:	Add or update a PDR Multiplier 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddOrUpdatePDRMultiplier] 
	@ID					int, 
	@RateProfileID		int, 
	@Name				varchar(100), 
	@Value				float 
AS 
BEGIN 
 
	IF EXISTS (SELECT * FROM PDR_Multiplier with(nolock) WHERE ID = @ID) 
		BEGIN 
			UPDATE [dbo].[PDR_Multiplier] 
			SET  
			     [RateProfileID] = @RateProfileID 
				,[Name] = @Name 
				,[Value] = @Value 
			WHERE ID = @ID  
 
			SELECT @ID	 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[PDR_Multiplier] 
			( 
			     [RateProfileID] 
				,[Name] 
				,[Value] 
			) 
			VALUES 
			( 
				 @RateProfileID 
				,@Name 
				,@Value 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
