USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 10/23/2019 
-- Description:	Get all Contract Add Ons by contract ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[ContractAddOn_GetForContract] 
	  @contractID		int 
	, @Deleted			bit = 0 
AS 
BEGIN 
	SELECT 
		  ContractAddOn.ID
		, ContractAddOn.ContractID
		, ContractAddOn.ContractPriceLevelID
		, ContractAddOn.AddOnType
		, CASE WHEN ContractAddOn.StartDate > Contracts.EffectiveDate THEN ContractAddOn.StartDate ELSE Contracts.EffectiveDate END AS StartDate
		, ContractAddOn.Active
		, ContractAddOn.IsDeleted
		, InvoicesPaid.Paid AS HasPayment
		, ContractAddOn.Quantity 
	FROM ContractAddOn 
	LEFT OUTER JOIN  
	( 
		SELECT ContractID, AddOnID, MAX(CAST(ISNULL(Paid, 0) AS int)) AS Paid 
		FROM Invoices 
		WHERE ContractID = @ContractID AND ISNULL(IsDeleted, 0) = 0 AND AddOnID > 0 
		GROUP BY ContractID, AddOnID 
	) AS InvoicesPaid ON ContractAddOn.ID = InvoicesPaid.AddOnID 
	LEFT OUTER JOIN Contracts ON ContractAddOn.ContractID = Contracts.ContractID
	WHERE  
		ContractAddOn.ContractID = @contractID  
		AND (ContractAddOn.IsDeleted = 0 OR @Deleted = 1) 
END
GO
