USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/11/2022
-- =============================================
CREATE PROCEDURE [dbo].[ReportEmail_GetBySMSCode]
	@Code			varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT ReportEmail.*
	FROM SMSAttachmentMapping 
	JOIN  ReportEmail ON SMSAttachmentMapping.EmailID = ReportEmail.ID   
	WHERE SMSAttachmentMapping.UniqueID = @Code
END
GO
