USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[EstimateReport_GetCumulativeEffects] 
	@AdminInfoID	int, 
	@Supplement		int,
	@PdrOnly		INT = 0  
AS 
BEGIN 
	 
	-- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables. 
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component 
	 IF 1=0 BEGIN 
       SET FMTONLY OFF 
     END 
 
	-- The table to return 
	CREATE TABLE #result (Caption VARCHAR(50), Total FLOAT) 
 
	CREATE TABLE #Temp (SortOrder int, Type varchar(50), Note varchar(100), Amount money) 
 
	DECLARE @suppID INT = 0; 
	DECLARE @lastTotal FLOAT = 0; 
	DECLARE @total FLOAT = 0; 

	IF @Supplement = -1
		BEGIN
			SELECT @Supplement = LockLevel FROM EstimationData WHERE AdminInfoID = @AdminInfoID
		END
 
	WHILE @suppID <= @Supplement 
	BEGIN 
		-- Get the total of the supplement 
		--INSERT INTO #Temp Exec GetEstimateTotalLines_v @AdminInfoID = @adminInfoID, @Betterment = 0, @SupplementVersion = @suppID 
		INSERT INTO #Temp Exec EstimateReport_GetTotals @AdminInfoID = @adminInfoID, @SupplementVersion = @suppID, @ForEOR = 1, @AlwaysIncludeGT = 1 , @PdrOnly = @PdrOnly
 
		--SELECT * FROM #Temp 
 
		DECLARE @lineTotal FLOAT = ISNULL((SELECT Amount FROM #Temp WHERE Type = 'Grand Total'), 0) 
 
		INSERT INTO #result (Caption, Total) VALUES  
		( 
			CASE WHEN @suppID = 0 THEN 'Estimate' ELSE 'Supplement ' + CAST((@suppID) AS VARCHAR(50)) END 
			, ROUND(@lineTotal - @lastTotal, 2)
		) 
 
		SET @total = @total + (@lineTotal - @lastTotal) 
		SET @lastTotal = @lineTotal 
 
		DELETE FROM #Temp 
		SET @suppID = @suppID + 1 
	END 
 
	INSERT INTO #result (Caption, Total) VALUES ('Total', ROUND(@total, 2)) 
 
	SELECT * FROM #result 
 
	DROP TABLE #Temp 
	DROP TABLE #result 
 
END 
GO
