USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDR_RateProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileName] [nvarchar](50) NOT NULL,
	[LoginID] [int] NOT NULL,
	[AdminInfoID] [int] NULL,
	[IsDefault] [bit] NOT NULL,
	[RateTypeID] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[GridType] [varchar](20) NOT NULL,
	[HideDentCounts] [bit] NOT NULL,
	[TieredOversizedDents] [bit] NOT NULL,
	[OriginalID] [int] NULL,
	[Taxable] [bit] NULL,
	[CreationStamp] [datetime] NULL,
 CONSTRAINT [PK_PDR_RateProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PDR_RateProfile_AdminInfoID_Deleted] ON [dbo].[PDR_RateProfile]
(
	[AdminInfoID] ASC,
	[Deleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PDR_RateProfile_LoginID_Deleted] ON [dbo].[PDR_RateProfile]
(
	[LoginID] ASC,
	[Deleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
