USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QB_Export_PreProcessing] 
	  @LoginID			INT 
	, @StartDate		DATETIME 
	, @EndDate			DATETIME 
AS 
BEGIN 
		-- SET NOCOUNT ON added to prevent extra result sets from 
		-- interfering with SELECT statements. 
		SET NOCOUNT ON; 
 
		-- Declare a cursor
		DECLARE AdminCursor CURSOR
		FOR
		SELECT EstimationData.AdminInfoID
		FROM AdminInfo
		LEFT OUTER JOIN EstimationData ON AdminInfo.ID = EstimationData.AdminInfoID
		LEFT OUTER JOIN JobStatusHistory ON JobStatusHistory.ID = (
				SELECT MAX(ID)
				FROM JobStatusHistory
				WHERE AdminInfoID = AdminInfo.ID
				)
		WHERE AdminInfo.CreatorID = @LoginID
			AND CAST(JobStatusHistory.ActionDate AS DATE) BETWEEN @StartDate
				AND @EndDate
			AND ISNULL(AdminInfo.Deleted, 0) = 0
			AND ISNULL(JobStatusHistory.JobStatusID, 0) = 3;

		OPEN AdminCursor;

		DECLARE @AdminInfoID INT;

		FETCH NEXT
		FROM AdminCursor
		INTO @AdminInfoID;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			EXEC FillProcessedLines @AdminInfoID = @AdminInfoID;

			FETCH NEXT FROM AdminCursor INTO @AdminInfoID;
		END

		CLOSE AdminCursor;

		DEALLOCATE AdminCursor;
END
GO
