USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Invoice_Delete-01.sql
Create PROCEDURE [dbo].[Invoice_Delete] 
	@id				int 
AS 
BEGIN
	DELETE  
	FROM Invoices 
	WHERE InvoiceID = @id 
END
GO
