USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE    PROCEDURE [dbo].[InsertFrameSub]
	@Loginid int
	 
	,@SubName varchar(70) = NULL
	 
AS
          
declare @OrganizationID int
           
SELECT @OrganizationID = Logins.OrganizationID	 
	 
FROM Logins WITH (NOLOCK)
INNER JOIN OrganizationInfo WITH (NOLOCK) ON
	(OrganizationInfo.ID = Logins.OrganizationID)
WHERE Logins.ID = @LoginID

INSERT INTO [FocusWrite].[dbo].[FrameSub]
           ([loginID]
           ,[OrganizationID]
           ,[SubName]
            )
     VALUES
           (@Loginid
           ,@OrganizationID
           ,@SubName)
 

--update OrganizationInfo
--set FramesEnabled =1
--where ID = @OrganizationID
 





GO
