USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/24/2021
-- =============================================
CREATE PROCEDURE [dbo].[ReminderLog_Insert]
	  @LoginID				int
	, @LinkedID				int
	, @Tag					varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO ReminderLog
	(
		  LoginID
		, LinkedID
		, Tag
		, TimeStamp
	)
	VALUES
	(
		  @LoginID
		, @LinkedID
		, @Tag
		, GETDATE()
	)
END
GO
