USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [dbo].[[MonthlyRenewSalesDashboardReport]] '06','2019';   
  
CREATE PROCEDURE [dbo].[MonthlyRenewSalesDashboardReport]   
    @Month    int    
  , @Year    int    
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
--  [dbo].[MonthlyRenewSalesDashboardReport] 5,2021  
 SET NOCOUNT ON;    
    
	-- Get a list of all Logins that were added to the sales board for the passed month and year
	Create TABLE  #MonthsLogins   
	(  
		LoginID INT
	)

	INSERT INTO #MonthsLogins (LoginID)
	SELECT SalesBoard.LoginID 
	FROM SalesBoard
	INNER JOIN Logins ON SalesBoard.loginID = Logins.id AND Logins.StaffAccount = 0			-- Ignore staff accounts
	WHERE 
		MONTH(DateSold) = @Month 
		AND YEAR(DateSold) = @Year
	ORDER BY LoginID

	-- Save a list of ContractAddOn.IDs that are active, haven't been deleted, and have had a payment made
	CREATE TABLE #GoodAddOns 
	(
		  ContractID			int
		, AddOnType				int
		, AddOnID				int
	)

	INSERT INTO #GoodAddOns
	SELECT DISTINCT 
		  ContractAddOn.ContractID
		, ContractAddOn.AddOnType
		, Invoices.AddOnID
	FROM ContractAddOn
	LEFT OUTER JOIN Invoices ON ContractAddOn.ID = Invoices.AddOnID
	WHERE 
		ContractAddOn.Active = 1
		AND ContractAddOn.IsDeleted = 0
		AND Invoices.Paid = 1
		AND Invoices.IsDeleted = 0
	

	-- Save a table with every contract and whether they have every add on
	CREATE TABLE #ContractsWithAddOns
	(
		  ContractID			int
		, HasFrame				bit
		, HasEMS				bit
		, HasPDR				bit
		, HasMultiUser			bit
		, HasQBExport			bit
		, HasProAdvisor			bit
		, HasImageEditor		bit
		, HasBundle				bit
		, HasReporting			bit
	)

	INSERT INTO #ContractsWithAddOns
	SELECT 
		  Contracts.ContractID
		, CASE WHEN ISNULL(AddOnFrame.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasFrame
		, CASE WHEN ISNULL(AddOnEMS.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasEMS
		, CASE WHEN ISNULL(AddOnPDR.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasPDR
		, CASE WHEN ISNULL(AddOnMultiUser.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasMultiUser
		, CASE WHEN ISNULL(AddOnQBExport.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasQBExport
		, CASE WHEN ISNULL(AddOnProAdvisor.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasProAdvisor
		, CASE WHEN ISNULL(AddOnImageEditor.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasImageEditor
		, CASE WHEN ISNULL(AddOnBundle.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasBundle
		, CASE WHEN ISNULL(AddOnReporting.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasReporting
	FROM Contracts
	LEFT OUTER JOIN #GoodAddOns AddOnFrame ON Contracts.ContractID = AddOnFrame.ContractID AND AddOnFrame.AddOnType = 2
	LEFT OUTER JOIN #GoodAddOns AddOnEMS ON Contracts.ContractID = AddOnEMS.ContractID AND AddOnEMS.AddOnType = 5
	LEFT OUTER JOIN #GoodAddOns AddOnPDR ON Contracts.ContractID = AddOnPDR.ContractID AND AddOnPDR.AddOnType = 7
	LEFT OUTER JOIN #GoodAddOns AddOnMultiUser ON Contracts.ContractID = AddOnMultiUser.ContractID AND AddOnMultiUser.AddOnType = 8
	LEFT OUTER JOIN #GoodAddOns AddOnQBExport ON Contracts.ContractID = AddOnQBExport.ContractID AND AddOnQBExport.AddOnType = 9
	LEFT OUTER JOIN #GoodAddOns AddOnProAdvisor ON Contracts.ContractID = AddOnProAdvisor.ContractID AND AddOnProAdvisor.AddOnType = 10
	LEFT OUTER JOIN #GoodAddOns AddOnImageEditor ON Contracts.ContractID = AddOnImageEditor.ContractID AND AddOnImageEditor.AddOnType = 11
	LEFT OUTER JOIN #GoodAddOns AddOnBundle ON Contracts.ContractID = AddOnBundle.ContractID AND AddOnBundle.AddOnType = 12
	LEFT OUTER JOIN #GoodAddOns AddOnReporting ON Contracts.ContractID = AddOnReporting.ContractID AND AddOnReporting.AddOnType = 13
	WHERE 
		Contracts.IsDeleted = 0

	-- Create and fill the results table.  An update needs to be done on it before it is returned.
	Create TABLE  #Results 
	(
		  CustomerID			int
		, ContractID			int
		, PreviousCycleContractID int
		, State					varchar(100)
		, ExpectedRenewalDate	datetime
		, CustomerName			varchar(100)
		, SalesPrice			decimal(8,2)
		, PreviousCycleSalesPrice decimal(8,2)
		, ActualRenewalDate		datetime
		, RenewalDiscount		decimal(6,2)
		, DownPayment			decimal(9,2)
		, MonthlyPayment		decimal(9,2)
		, SalesRepID			int
		, SalesRep				varchar(50)
		, HasFrame				bit
		, HasEMS				bit
		, HasPDR				bit
		, HasMultiUser			bit
		, HasQBExport			bit
		, HASProAdvisor			bit
		, HasImageEditor		bit
		, HasBundle				bit
		, HasReporting			bit
		, Has1styrRenewal		int
		, HasLateRenewal		int
		, PayCode				int
		, Commission			decimal(18,2)
		, MUCommission			decimal(18,2)
		, QBCommission			decimal(18,2)
		, TotalCommission		decimal(18,2) 
		, PaymentExtension		bit
		, WillRenew				bit
	)
    
	INSERT INTO #Results
	(
		  CustomerID
		, ContractID
		, PreviousCycleContractID 
		, State
		, ExpectedRenewalDate
		, CustomerName
		, SalesPrice
		, PreviousCycleSalesPrice
		, ActualRenewalDate
		, RenewalDiscount
		, DownPayment
		, MonthlyPayment 
		, SalesRepID
		, SalesRep
		, HasFrame
		, HasEMS
		, HasPDR
		, HasMultiUser
		, HasQBExport
		, HasProAdvisor
		, HasImageEditor
		, HasBundle
		, HasReporting
		, Has1styrRenewal
		, HasLateRenewal
		, PayCode
		, Commission
		, MUCommission
		, QBCommission
		, PaymentExtension
		, WillRenew
	) 
	SELECT    
		  Logins.ID AS CustomerID   
		, RenewedContract2.ContractID      
		, Contracts.ContractID AS PreviousCycleContractID    
		, ISNULL(tbl_Address.State, '') AS State   
		, DATEADD(DAY,1,Contracts.ExpirationDate) AS [ExpectedRenewalDate]    
		, Logins.CompanyName AS CustomerName     
		, (
			SELECT SUM(ISNULL(InvoiceAmount,0))
			FROM Invoices 
			WHERE RenewedContract2.ContractID = Invoices.ContractID AND RenewedContract2.IsDeleted = 0
		  ) AS SalesPrice   
		, (
			SELECT SUM(ISNULL(InvoiceAmount,0))    
			FROM Invoices 
			WHERE Contracts.ContractID = Invoices.ContractID AND Contracts.IsDeleted = 0
		  ) AS [PreviousCycleSalesPrice]    
		, RenewedContract2.EffectiveDate AS [Actual Renewal Date]     
		, ISNULL(Promo.PromoAmount, 0) AS [RenewalDiscount]   
  
		, ISNULL(ContractTerms.DepositAmount, 0) AS DownPayment   
		, ISNULL(ContractPriceLevels.PaymentAmount, 0) AS MonthlyPayment   
  
		, SalesRep.SalesRepID    
		, SalesRep.FirstName + ' ' + SalesRep.LastName AS SalesRep    
    
		, AddOns.HasFrame
		, AddOns.HasEMS
		, AddOns.HasPDR
		, AddOns.HasMultiUser
		, AddOns.HasQBexport
		, AddOns.HasProAdvisor
		, AddOns.HasImageEditor
		, AddOns.HasBundle
		, AddOns.HasReporting
    
		, CASE WHEN TotalYears.TotalContracts = 1 THEN 1 ELSE 0 END AS [Has1styrRenewal]  
  
		, CASE WHEN datediff(DAY,DATEADD(YEAR,1,RenewedContract2.EffectiveDate), Contracts.EffectiveDate) > 1 THEN 1 ELSE 0 END [HasLateRenewal]  
	
		, CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.PayCode 
			ELSE PayCodeCommission2.PayCode 
		  END AS PayCode
		, CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.Commission 
			ELSE PayCodeCommission2.Commission 
		  END AS Commission
		, CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.MUCommission   
			WHEN AddOns.HasMultiUser = 1 THEN PayCodeCommission2.MUCommission
			ELSE 0
		  END AS MUCommission
		, CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.QBCommission   
			WHEN AddOns.HasQBExport = 1 THEN PayCodeCommission2.QBCommission 
			ELSE 0
		  END AS QBCommission
	
		, PaymentExtension
		, RenewedContract2.WillRenew
	FROM #MonthsLogins
	LEFT OUTER JOIN Contracts ON #MonthsLogins.LoginID = Contracts.LoginID 
	LEFT OUTER JOIN Invoices ON 
		Contracts.ContractID = Invoices.ContractID   
		AND Invoices.IsDeleted = 0   
		AND Contracts.IsDeleted = 0   
		AND Contracts.ContractID IN (SELECT DISTINCT ContractID FROM Invoices WHERE Invoices.Paid = 1)
		AND Invoices.AddOnID = 0
    LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID  -- To ignore invoices attached to a deleted add on  
	LEFT OUTER JOIN Promo ON Contracts.PromoID = Promo.PromoID  
	LEFT OUTER JOIN ContractPriceLevels ON Contracts.ContractPriceLevelID = ContractPriceLevels.ContractPriceLevelID  
	LEFT OUTER JOIN ContractTerms ON ContractPriceLevels.ContractTermID = ContractTerms.ContractTermID  
	LEFT OUTER JOIN    
	( 
		SELECT 
			  Contracts.LoginID
			, datediff(YEAR,min(EffectiveDate), max(ExpirationDate)) TotalContracts   
		FROM Contracts    
		WHERE     
			Contracts.IsDeleted = 0    
			AND Contracts.EffectiveDate <= EOMONTH(DATEFROMPARTS(@Year, @Month , 1))   
		GROUP BY Contracts.LoginID    
	) AS TotalYears ON Contracts.LoginID = TotalYears.LoginID 
    
	LEFT OUTER JOIN #ContractsWithAddOns AddOns ON Contracts.ContractID = AddOns.ContractID  
  	
	LEFT OUTER JOIN Logins ON Contracts.LoginID = Logins.id    
	LEFT OUTER JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID    
    
	LEFT OUTER JOIN tbl_ContactPerson AS CompanyContact ON Logins.ContactID = CompanyContact.ContactID    
	LEFT OUTER JOIN tbl_Address ON CompanyContact.ContactID = tbl_Address.ContactsID    
    
	LEFT OUTER JOIN Contracts AS RenewedContract ON RenewedContract.ContractID =    
	(    
		SELECT TOP 1 ChildContracts.ContractID    
		FROM Contracts AS ChildContracts    
		JOIN Invoices ON     
			ChildContracts.ContractID = Invoices.ContractID     
			AND Invoices.Paid = 1    
			AND Invoices.IsDeleted = 0    
		WHERE     
			ChildContracts.LoginID = Contracts.LoginID    
			AND ChildContracts.IsDeleted = 0    
			AND ChildContracts.ContractID > Contracts.ContractID    
		ORDER BY ContractID    
	)     
	LEFT OUTER JOIN     
	(    
		SELECT Contracts.ContractID, (PaymentAmount * NumberOfPayments) + DepositAmount AS Total    
		FROM Contracts    
		LEFT OUTER JOIN ContractPriceLevels ON Contracts.ContractPriceLevelID = ContractPriceLevels.ContractPriceLevelID    
		LEFT OUTER JOIN ContractTerms ON ContractPriceLevels.ContractTermID = ContractTerms.ContractTermID    
	) AS ContractTotals ON Contracts.ContractID = ContractTotals.ContractID    
	LEFT OUTER JOIN Contracts AS RenewedContract2 ON RenewedContract.ContractID = RenewedContract2.ContractID  
	LEFT JOIN ContractPayCodeCommissionMapping ON ContractPayCodeCommissionMapping.ContractID = Invoices.ContractID
	LEFT JOIN 
	(
		SELECT * 
		FROM PayCodeCommission 
		WHERE PayCodeCommission.SalesType = 'Renew'
	) AS PayCodeCommission2 ON 
		ISNULL(PayCodeCommission2.HasFrame, 0) = AddOns.HasFrame
		AND ISNULL(PayCodeCommission2.HasEMS, 0) = AddOns.HasEMS  
		 
	WHERE    
		Contracts.IsDeleted = 0    
		and Logins.StaffAccount <> 1  
		AND DATEPART(YY, DATEADD(YY, 1, Contracts.EffectiveDate)) = @Year    
		AND DATEPART(MM, DATEADD(YY, 1, Contracts.EffectiveDate)) = @Month    
		AND Invoices.InvoiceID IS NOT NULL     
		AND ISNULL(ContractAddOn.IsDeleted, 0) = 0  
	GROUP BY     
		  Logins.ID   
		, Contracts.LoginID    
		, Contracts.ContractID    
		, Contracts.EffectiveDate    
		, Contracts.ExpirationDate    
		, Promo.PromoAmount   
		, RenewedContract2.ContractID  
		, RenewedContract2.IsDeleted  
		, RenewedContract2.EffectiveDate  
		, ContractTerms.DepositAmount   
		, ContractPriceLevels.PaymentAmount   
		, RenewedContract.ContractID    
		, RenewedContract.DateCreated    
		, SalesRep.SalesRepID    
		, SalesRep.FirstName    
		, SalesRep.LastName    
		, Logins.CompanyName    
		, CompanyContact.FirstName    
		, CompanyContact.LastName     
		, CompanyContact.Phone1    
		, tbl_Address.State    
		, AddOns.HasFrame
		, AddOns.HasEMS
		, AddOns.HasPDR
		, AddOns.HasMultiUser
		, AddOns.HasQBExport
		, AddOns.HasProAdvisor
		, AddOns.HasImageEditor
		, AddOns.HasBundle
		, AddOns.HasReporting 
		, TotalYears.TotalContracts  
		, ContractPayCodeCommissionMapping.ContractID
		, ContractPayCodeCommissionMapping.PayCode
		, ContractPayCodeCommissionMapping.Commission
		, PayCodeCommission2.PayCode
		, PayCodeCommission2.Commission
		, ContractPayCodeCommissionMapping.MUCommission
		, PayCodeCommission2.MUCommission
		, ContractPayCodeCommissionMapping.QBCommission
		, PayCodeCommission2.QBCommission
		, SalesRep.LastName
		, ContractPayCodeCommissionMapping.PaymentExtension 
		, Contracts.WillRenew
		, ContractTotals.Total
		, Contracts.IsDeleted
		, RenewedContract2.WillRenew 
   
 	UPDATE #Results 
	SET 
		  TotalCommission = ISNULL(Commission,0) + ISNULL(MUCommission,0) + ISNULL(QBCommission,0)
		, SalesPrice = CASE WHEN ContractID IS NULL THEN PreviousCycleSalesPrice ELSE SalesPrice END
		, HasLateRenewal = CASE WHEN ContractID IS NULL THEN 1 ELSE HasLateRenewal END

	SELECT *
	FROM #Results 
	ORDER BY 
		ContractID
		, PreviousCycleContractID

	DROP TABLE #Results
    
END  
GO
