USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 4/5/2017 
-- Description:	Add or update a PDR Estimate Data Supplement Changes record 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddOrUpdatePDREstimateDataPanelSupplementChange] 
	@ID					int, 
	@EstimateDataPanelID	int, 
	@QuantityID			int, 
	@SizeID				int, 
	@OversizedDents		int, 
	@Multiplier			int, 
	@CustomCharge		money,
	@SupplementVersion	int, 
	@LineNumber			int 
AS 
BEGIN 
 
	IF EXISTS (SELECT * FROM PDR_EstimateDataPanelSupplementChange with(nolock) WHERE ID = @ID) 
		BEGIN 
			UPDATE [dbo].[PDR_EstimateDataPanelSupplementChange] 
			SET  
				  [EstimateDataPanelID] = @EstimateDataPanelID 
				, [QuantityID] = @QuantityID 
				, [SizeID] = @SizeID 
				, [OversizedDents] = @OversizedDents 
				, [Multiplier] = @Multiplier 
				, [CustomCharge] = @CustomCharge
				, [SupplementVersion] = @SupplementVersion 
				, [LineNumber] = @LineNumber 
			WHERE ID = @ID  
 
			SELECT @ID	 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[PDR_EstimateDataPanelSupplementChange] 
			( 
				 [EstimateDataPanelID] 
				,[QuantityID] 
				,[SizeID] 
				,[OversizedDents] 
				,[Multiplier] 
				,[CustomCharge]
				,[SupplementVersion] 
				,[LineNumber] 
			) 
			VALUES 
			( 
				 @EstimateDataPanelID 
				,@QuantityID 
				,@SizeID 
				,@OversizedDents 
				,@Multiplier 
				,@CustomCharge
				,@SupplementVersion 
				,@LineNumber 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
