USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetRenewals_jr]
	@SalesRepID int = null,
	@StartDate datetime = NULL,
	@EndDate datetime = NULL
AS

/*

EXECUTE GetRenewals
	@SalesRepID = 2,
	@StartDate = '7/1/2012',
	@EndDate = '7/31/2012'

*/

SET NOCOUNT ON

-- Set start and end date
SELECT	@StartDate = Convert(varchar(10), isNull(@StartDate, ThisMonthStart), 101),
		@EndDate = Convert(varchar(10), isNull(@EndDate, ThisMonthEnd), 101) + ' 11:59:59.990 PM',
		@SalesRepID = ISNULL(@SalesRepID,0)
FROM	fnDates()


SET NOCOUNT OFF

SELECT		l.ContactsID,c.LoginID,
			c.ContractID,
			isNull(ci_CompanyName.ItemText, '') AS CompanyName,
			Convert(bit, isNull(fc.ContractID, 0)) AS FrameData,
			Convert(bit, isNull(e.ContractID, 0)) AS EMS,
			( isNull(ci_FirstName.ItemText, '') + ' ' + isNull(ci_LastName.ItemText, '') ) AS Contact,
			( s.FirstName + ' ' + s.LastName ) AS SalesRep,
			p.PriceLevel,
			Convert(varchar(10), c.ExpirationDate+1, 101) AS RenewalDate,
			c.Notes,
			isNull(pNext.TermTotal, pCurrent.TermTotal) AS RenewalAmount,
			(
				SELECT		TOP 1 ci.ItemText AS Phone
				FROM		ContactItems ci (NOLOCK)
				WHERE		ci.ContactsID = l.ContactsID
				AND			ci.ContactItemTypeID = 17	-- Phone
				AND			ci.Qualifier NOT IN ('FX', 'HF')
				ORDER BY	( CASE
								WHEN ci.Qualifier = 'WF' THEN 1	-- Work Phone
								WHEN ci.Qualifier = 'WP' THEN 2	-- Business Phone
								WHEN ci.Qualifier = 'WC' THEN 3	-- Work Cell
								WHEN ci.Qualifier = 'CP' THEN 4	-- Cell Phone
								WHEN ci.Qualifier = 'HP' THEN 5 -- Home Phone
								WHEN ci.Qualifier = 'NP' THEN 6 -- Evening Phone
								WHEN ci.Qualifier = 'PC' THEN 7 -- Personal Cell Phone
								WHEN ci.Qualifier = 'VM' THEN 8 -- Voice Mail
								ELSE 99
							END )
			) AS Phone
			,c.WillRenew as WillRenew
			,case when dbo.hasRenewed(c.LoginID,c.ExpirationDate) = 1 then 'Yes' else 'No' end as hasRenewed
			,ci_email.ItemText as Email
FROM		vwContractLogins c (NOLOCK)
INNER JOIN	Logins l (NOLOCK)
				ON c.LoginID = l.ID
				AND l.DoubtfulAccount = 0
INNER JOIN	ContractPriceLevels p (NOLOCK)
				ON c.ContractPriceLevelID = p.ContractPriceLevelID
				AND p.PriceLevel >= 0
LEFT JOIN	vwContractPriceLevelTerms pCurrent
				ON p.ContractTermID = pCurrent.ContractTermID
				AND pCurrent.PriceLevel = p.PriceLevel
				AND pCurrent.TermActive = 1
				AND pCurrent.PriceLevelActive = 1
LEFT JOIN	vwContractPriceLevelTerms pNext
				ON p.ContractTermID = pNext.PreviousContractTermID
				AND pNext.PriceLevel = p.PriceLevel
				AND pNext.TermActive = 1
				AND pNext.PriceLevelActive = 1
LEFT JOIN	ContactItems ci_FirstName (NOLOCK)
				ON l.ContactsID = ci_FirstName.ContactsID
				AND ci_FirstName.ContactItemTypeID = 2
LEFT JOIN	ContactItems ci_email (NOLOCK)
				ON l.ContactsID = ci_email.ContactsID
				AND ci_email.ContactItemTypeID = 18
LEFT JOIN	ContactItems ci_LastName (NOLOCK)
				ON l.ContactsID = ci_LastName.ContactsID
				AND ci_LastName.ContactItemTypeID = 6
LEFT JOIN	OrganizationInfo o (NOLOCK)
				ON l.OrganizationID = o.id
LEFT JOIN	ContactItems ci_CompanyName
				ON o.OrgInfoContactsID = ci_CompanyName.ContactsID
				AND ci_CompanyName.ContactItemTypeID = 9
LEFT JOIN	SalesRep s (NOLOCK)
				ON l.SalesRepID = s.SalesRepID
LEFT JOIN	Contract fc (NOLOCK)
				ON fc.ParentContractID = c.ContractID
				AND fc.ContractTypeID = 2 -- Frame Data
				AND fc.Active = 1
LEFT JOIN	Contract e (NOLOCK)
				ON e.ParentContractID = c.ContractID
				AND e.ContractTypeID = 5 -- EMS
				AND e.Active = 1		
WHERE		c.ContractTypeID = 1
AND			c.PrimaryLogin = 1
AND			c.ExpirationDate BETWEEN @StartDate AND @EndDate
AND			l.StaffAccount <> 1
and			s.salesRepID in (select SalesRepID
from salesrep
where salesrepid = case when @SalesRepID > 0 then @SalesRepID else salesrepid end)
ORDER BY	hasRenewed

GO
