USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/12/2018 
-- Description:	Get all PDR Quantity Lookup records 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_QuantityLookup_GetAll] 
 
AS 
BEGIN 
	SELECT * 
	FROM PDR_QuantityLookup 
	ORDER BY Min 
END 
GO
