USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






Create FUNCTION [dbo].[getSuppVersion] (@admininfoid AS int)
RETURNS smallint
AS

 

BEGIN

	DECLARE 	@EstimationDataId AS int,@supp as int		 
	 
		
select @EstimationDataId  = id
from estimationdata
where admininfoid = @admininfoid
       
       
select @supp = Max(supplementversion) 
from dbo.EstimationLineItems
where  EstimationDataID = @EstimationDataId
  
	RETURN ( Convert(smallint, @supp) )

END




GO
