USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE PROCEDURE [dbo].[EstimateReport_GetTotals_Backup]  
	@AdminInfoID	int,  
	@SupplementVersion int = 0,  
	@ForEOR bit = 1,  
	@AlwaysIncludeGT	BIT = 0			-- By default don't show the Grant Total if it's the same as the Net Total.    
AS  
BEGIN  
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.   
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component   
	 IF 1=0 BEGIN   
       SET FMTONLY OFF   
     END   
	  
	 -- Get the sub totals  
	DECLARE @EstimateSubTotals TABLE  
	( 
		RateName				varchar(50),   
		FinalLineItemTotal		float,   
		Taxable					bit,   
		Rate					float,   
		Hours					float,   
		SortOrder				varchar(50), 
		Notes					varchar(300), 
		CapType					int, 
		Cap						real 
	) 
 
	IF @ForEOR = 1  
		BEGIN 
			INSERT INTO @EstimateSubTotals 
			SELECT *  
			FROM dbo.GetEstimateSubTotalsFunction(@AdminInfoID, @SupplementVersion, '') 
			WHERE FinalLineItemTotal > 0  
				OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%')-- AND SortOrder NOT LIKE '%Parts')	-- Get negative "other charges" lines 
		END 
	ELSE 
		BEGIN 
 
			DECLARE @CurrentSubTotals TABLE  
			( 
				RateName				varchar(50),   
				FinalLineItemTotal		float,   
				Taxable					bit,   
				Rate					float,   
				Hours					float,   
				SortOrder				varchar(50), 
				Notes					varchar(300), 
				CapType					int, 
				Cap						real 
			) 
 
			DECLARE @PreviousSubTotals TABLE  
			( 
				RateName				varchar(50),   
				FinalLineItemTotal		float,   
				Taxable					bit,   
				Rate					float,   
				Hours					float,   
				SortOrder				varchar(50), 
				Notes					varchar(300), 
				CapType					int, 
				Cap						real 
			) 
 
			INSERT INTO @CurrentSubTotals 
			SELECT * FROM [dbo].[GetEstimateSubTotalsFunction] (@AdminInfoID, @SupplementVersion, '') 
				WHERE FinalLineItemTotal > 0  
				OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%')-- AND SortOrder NOT LIKE '%Parts')	-- Get negative "other charges" lines 
			 
			INSERT INTO @PreviousSubTotals 
			SELECT * FROM [dbo].[GetEstimateSubTotalsFunction] (@AdminInfoID, @SupplementVersion - 1, '')  
				WHERE FinalLineItemTotal > 0  
				OR (FinalLineItemTotal < 0 AND SortOrder LIKE 'C%')-- AND SortOrder NOT LIKE '%Parts')	-- Get negative "other charges" lines 
 
 
			INSERT INTO @EstimateSubTotals 
			SELECT * 
			FROM  
			( 
				SELECT  
				  ISNULL(Base.RateName, Previous.RateName) AS RateName 
				, CASE  
					WHEN Previous.RateName IS NULL THEN 
						Base.FinalLineItemTotal 
					ELSE 
						CASE WHEN Base.FinalLineItemTotal <> 0 THEN Base.FinalLineItemTotal ELSE 0 END - ISNULL(Previous.FinalLineItemTotal, 0) 
					END 
				  AS FinalLineItemTotal 
				, ISNULL(Base.Taxable, Previous.Taxable) AS Taxable 
				, ISNULL(Base.Rate, Previous.Rate) AS Rate 
				, CASE  
					WHEN Previous.RateName IS NULL THEN 
						Base.Hours 
					ELSE 
						CASE WHEN Base.Hours > 0 THEN Base.Hours ELSE 0 END - ISNULL(Previous.Hours, 0) 
					END 
				  AS Hours 
				, ISNULL(Base.SortOrder, Previous.SortOrder) AS SortOrder 
				, ISNULL(Base.Notes, Previous.Notes) AS Notes 
				, ISNULL(Base.CapType, Previous.CapType) AS CapType 
				, ISNULL(Base.Cap, Previous.Cap) AS Cap 
				FROM @CurrentSubTotals AS Base 
				FULL OUTER JOIN @PreviousSubTotals AS Previous ON Previous.RateName = Base.RateName 
			 
			) AS Base 
			WHERE FinalLineItemTotal <> 0 OR Hours <> 0 
		END 
 
	-- Get the tax rates for the estimate  
	DECLARE @TaxRate REAL  
	DECLARE @TaxRate2 REAL  
	DECLARE @TaxRate2Start REAL  
  
	SELECT  
		@TaxRate = ISNULL(CustomerProfilesMisc.TaxRate, 0),   
		@TaxRate2 = ISNULL(CustomerProfilesMisc.SecondTaxRate, 0),   
		@TaxRate2Start = ISNULL(CustomerProfilesMisc.SecondTaxRateStart, 0)  
	FROM AdminInfo   
	INNER JOIN CustomerProfiles ON CustomerProfiles.id = AdminInfo.CustomerProfilesID       
	INNER JOIN CustomerProfilesMisc ON CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.id 
	WHERE AdminInfo.ID = @AdminInfoID  
  
	-- Get the taxable and non taxable totals as variables for later use  
	DECLARE @TaxableTotal MONEY = (SELECT ISNULL(SUM(FinalLineItemTotal), 0) FROM @EstimateSubTotals WHERE Taxable = 1)  
	DECLARE @NonTaxableTotal MONEY = (SELECT ISNULL(SUM(FinalLineItemTotal), 0) FROM @EstimateSubTotals WHERE Taxable = 0)  
	DECLARE @Deductible MONEY = (SELECT ISNULL(Deductible, 0) FROM EstimationData WHERE AdminInfoID = @AdminInfoID)  
  
	-- Calculate the tax based on the estimate's tax rate  
	DECLARE @Tax MONEY = 0  
	DECLARE @TaxRateDescription VARCHAR(100) = ''  
  
	IF @TaxRate2 > 0 AND @TaxRate2Start > 0 AND @TaxableTotal > @TaxRate2Start  
		BEGIN  
			SET @Tax = ((@TaxRate / 100) * @TaxRate2Start) + ((@TaxRate2 / 100) * (@TaxableTotal - @TaxRate2Start))  
			SET @TaxRateDescription = CAST(Round(@TaxRate, 3) AS Varchar) + '% for first $' + dbo.FormatMoney(@TaxRate2Start) + ', ' + CAST(Round(@TaxRate2, 3) AS VARCHAR) + '% after'  
		END  
	ELSE  
		BEGIN  
			SET @Tax = (@TaxRate / 100) * @TaxableTotal  
			SET @TaxRateDescription = CAST(Round(@TaxRate, 3) AS Varchar) + '%'  
		END  
  
	------------------------------------------------------------------------------------------------------------------------------------- 
	-- Sum up the betterment total  
 
	DECLARE @ProcessedLines TABLE 
	( 
		  LineItemID	int 
		, ForSummary	bit 
		, PartSourceModified	bit 
		, ModifiedSupplementVersion	int 
		, ModifiedID	int 
		, Panel	varchar(50) 
		, Added	bit 
		, Removed	bit 
		, BettermentType	varchar(20) 
		, BettermentValue	float 
		, BettermentAmount	float 
		, BettermentNote	varchar(50) 
		, Sublet	bit 
		, Action	varchar(20) 
		, OperationDescription	varchar(100) 
		, Description	varchar(200) 
		, PartNumber	varchar(50) 
		, Price	money 
		, Quantity	int 
		, PartSource	varchar(20) 
		, RemovedPrice	money 
		, RemovedQuantity	int 
		, RemovedPartSource	varchar(20) 
		, PartSourceImage	varchar(500) 
		, LaborSummaryPaintPanel	varchar(200) 
		, LaborTotalPaintPanel	float 
		, LaborSummaryPaint	varchar(200) 
		, LaborTotalPaint	float 
		, LaborTotalPaintDollars	float 
		, LaborTotalClearcoat		real 
		, ClearcoatIncluded			bit 
		, ClearcoatSuppliesIncluded	bit 
		, LaborSummaryExtra	varchar(200) 
		, LaborTotalExtra	float 
		, LaborTotalExtraOverlapped	float 
		, ExtraLaborType	varchar(20) 
		, ExtraLaborIncludeIn	varchar(20) 
		, LaborExtraRemovedType		varchar(50)  
		, LaborExtraRemovedIncludeInType		varchar(50)  
		, LaborExtraRemovedHours	float  
		, LaborExtraRemovedTotal	float  
		, LaborIncluded	bit 
		, OverlapSupplement int 
		, OtherCharges	float 
		, OtherChargesLaborType	int 
		, RemovedOtherCharges	float 
		, RemovedOtherChargesLaborType	int 
		, DeductionsMessage	varchar(100) 
		, AdjacentMessage varchar(20) 
		, Notes	varchar(5000) 
		, LineNumber	int 
		, SupplementVersion	int 
		, DeletedBySupplement	int 
		, SupplementDisplay	int 
		, StepSupp	varchar(500) 
		, Sorter	int 
		, GroupNumber	int 
		, OversizedDescription	varchar(200) 
		, OversizedPrice	money 
		, ModifierDescription	varchar(200) 
		, ModifierPrice	money 
	) 
   
	INSERT INTO @ProcessedLines 
	SELECT * FROM dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion, '', 0) 
 
	DECLARE @Betterment MONEY =   
	(  
		--SELECT SUM(ISNULL(Modified.BettermentAmount, 0) - ABS(ISNULL(Base.BettermentAmount, 0))) AS BettermentAmount  
		--FROM @ProcessedLines Base  
		--LEFT OUTER JOIN @ProcessedLines Modified ON Base.LineItemID = Modified.ModifiedID AND Modified.LineItemID <> Base.LineItemID  
		--WHERE Base.ForSummary = 1  

		SELECT SUM(ISNULL(Base.BettermentAmount, 0)) AS BettermentAmount  
		FROM @ProcessedLines Base  
		WHERE Base.SupplementVersion = @SupplementVersion OR @ForEOR = 1
	)  
  
	-- Calculate the grand and net totals  
	DECLARE @GrandTotal MONEY = @TaxableTotal + @NonTaxableTotal + @Tax  
	DECLARE @NetTotal MONEY = @TaxableTotal + @NonTaxableTotal + @Tax + (CASE WHEN @ForEOR = 1 THEN @Deductible * -1 ELSE 0 END) + @Betterment	  
  
	-------------------------------------------------------------------------------------------------------------------------------  
	-- Union together the final table  
	-------------------------------------------------------------------------------------------------------------------------------  
  
	SELECT * FROM (  
		SELECT   
			1 AS SortOrder,  
			'Taxable Amount' AS Type,  
			'' As Note,  
			@TaxableTotal AS Amount  
  
		UNION SELECT  
			2 AS SortOrder,  
			'Tax' AS Type,  
			@TaxRateDescription AS Note,  
			@Tax AS Amount  
  
		UNION SELECT   
			3 AS SortOrder,  
			'Nontaxable Amount' AS Type,  
			'' As Note,  
			@NonTaxableTotal AS Amount  
  
		UNION SELECT   
			4 AS SortOrder,  
			'Grand Total' AS Type,  
			'' As Note,  
			@GrandTotal AS Amount 		 
  
		UNION SELECT   
			5 AS SortOrder,  
			'Less Deductible' AS Type,  
			'' AS Note,  
			@Deductible * -1 AS Amount  
		WHERE @ForEOR = 1 AND ISNULL(@Deductible, 0) > 0  
  
		UNION SELECT  
			6 AS SortOrder,  
			'Betterment' AS Type,  
			'' AS Note,  
			@Betterment AS Amount  
		WHERE @Betterment <> 0  
  
		UNION SELECT   
			10 AS SortOrder,  
			'Net Total' AS Type,  
			'' As Note,  
			@NetTotal AS Amount  
		WHERE @AlwaysIncludeGT = 1 OR @GrandTotal <> @NetTotal  
	) Base ORDER BY SortOrder  
  
END  
GO
