USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddOnManager_GetSectionsForRule]
	  @Search			varchar(8000)
	, @AdminInfoID		int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the service barcode from the estimate info.  This is done differently for older estimates
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @ServiceBarCode VarChar(10)

	IF @AdminInfoID > 1583497 
		BEGIN 
			SELECT @ServiceBarCode = Vehicle_Service_Xref.Service_Barcode 
			FROM VehicleInfo 
			INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataId 
			INNER JOIN Vinn.dbo.Vehicle_Service_Xref ON Vehicle_Service_Xref.VehicleID = VehicleInfo.VehicleID 
			WHERE EstimationData.AdminInfoID = @AdminInfoID 
		END 
	ELSE 
		BEGIN 
			SELECT @ServiceBarcode = Mitchell3.Dbo.GetServiceBarcode(@AdmininfoID) 
		END 

	
	DECLARE @Query NVARCHAR(4000) = 
	'SELECT DISTINCT Detail.nheader, Detail.nsection
	FROM Mitchell3.dbo.Category
	LEFT OUTER JOIN Mitchell3.dbo.Detail ON Category.Service_BarCode = Detail.Service_BarCode AND Category.nheader = Detail.nheader
	LEFT OUTER JOIN Vinn.dbo.Vehicle_Service_Xref ON Category.Service_BarCode = Vehicle_Service_Xref.Service_Barcode
	WHERE Category.Service_BarCode = ''' + @ServiceBarcode + ''' AND ' + @Search-- + 'AND Part_Text NOT LIKE ''%(Alum)%'''
	
	--INSERT INTO #Base
	EXECUTE sp_executesql @Query

END
GO
