USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ezra
-- Create date: 8/25/16
-- Description:	The FrameMatrix and Vinn databases have their own tables for makes and models with their own IDS.
--				FocusWrite uses the Vinn database's IDs.  This function returns the make and model ID in the
--				FrameMatrix by joining on make and model name.  
-- =============================================
CREATE PROCEDURE [dbo].[GetFrameMatrixIDsFromVinnIDs]
	@vinnMakeID			int,
	@vinnModelID		int
AS
BEGIN
	
	SELECT * FROM
	(
		SELECT fmm.makId AS MakeID
		FROM Vinn.dbo.Makes vm
		JOIN FrameMatrix.dbo.app_LUMakes fmm ON fmm.makDescription = vm.Make 
		WHERE vm.MakeID = @vinnMakeID
	) AS makeTable
	JOIN
	(
		SELECT fmm.modId AS ModelID
		FROM Vinn.dbo.Models vm
		LEFT OUTER JOIN FrameMatrix.dbo.app_LUModels fmm ON fmm.modDescription = vm.Model 
		WHERE vm.ModelID = @vinnModelID
	) AS modelTable ON 1 = 1

END


GO
