USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetSuppliesCaps]
	@AdminInfoID Int
AS
	CREATE TABLE [dbo].[#GetSuppliesSums] (
		[AdminInfoID] [int] NOT NULL ,
		[RateTypesID] [tinyint] NOT NULL ,
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
		[Betterment] [int] NOT NULL ,
		[LaborCost] [money] NULL ,
		[LaborTime] [float] NULL ,
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Rate] [real] NULL ,
		[CapType] [tinyint] NULL ,
		[Cap] [real] NULL ,
		[DiscountMarkup] [real] NULL ,
		[Taxable] [bit] NULL ,
		[IncludeIn] [tinyint] NULL
	) ON [PRIMARY]
	
	--INSERT INTO #GetSuppliesSums
		EXECUTE spGetSuppliesSums @AdminInfoID = @AdminInfoID

	SELECT DISTINCT
		GetSuppliesSums.RateName + ' Capped at ' +
		CASE	WHEN ISNULL(GetSuppliesSums.CapType,2) = 1 THEN FocusWrite.Dbo.FormatNumber(GetSuppliesSums.Cap,1) + ' Hour(s)'
			WHEN ISNULL(GetSuppliesSums.CapType,2) = 0 THEN FocusWrite.Dbo.FormatMoney(GetSuppliesSums.Cap)
		END 'CapInfo',
		GetSuppliesSums.AdminInfoID
	FROM #GetSuppliesSums GetSuppliesSums
	INNER JOIN #GetSuppliesSums GetSuppliesSums2 ON
		(GetSuppliesSums2.AdminInfoID = GetSuppliesSums.AdminInfoID AND
		 GetSuppliesSums2.RateTypesID = GetSuppliesSums.IncludeIn)
	WHERE 	ISNULL(GetSuppliesSums.Betterment,0) = 0 AND
		( ( ISNULL(GetSuppliesSums.CapType,2) = 1 AND GetSuppliesSums.Cap < GetSuppliesSums.LaborTime ) OR
		  ( ISNULL(GetSuppliesSums.CapType,2) = 0 AND GetSuppliesSums.Cap < ISNULL(GetSuppliesSums.LaborTime,0) * ISNULL(GetSuppliesSums2.Rate,0) + ISNULL(GetSuppliesSums.LaborCost,0) ) 
		) AND
		ISNULL(GetSuppliesSums.IncludeIn,0) > 0

	DROP TABLE #GetSuppliesSums


GO
