USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetBounce-02.sql
CREATE PROCEDURE [dbo].[GetBounce]
	@Email varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @offDays int = 1
	declare @cur datetime = getdate()

	SELECT *
	FROM SendGridInfo
	WHERE Email = @Email and [Event] = 'bounce'
	AND dateadd(hh, 4, cast(cast(dateadd(dd, @offDays, dateadd(hh, -1, TimeStamp)) as date) as datetime)) >= @cur
END
GO
