USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/31/2017 
-- ============================================= 
CREATE PROCEDURE [dbo].[GetAllTaxRates] 
	 
AS 
BEGIN 
	SELECT * 
	FROM TaxRateLookup 
END 
GO
