USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StripeInfoGetByStripeID] 
	@stripeID		VARCHAR(50)
AS 
BEGIN 
	SELECT TOP 1 * 
	FROM StripeInfo 
	WHERE StripeCustomerID = @stripeID
END 
GO
