USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[DeletePromo]
	@PromoID int
AS

SET NOCOUNT ON

DELETE FROM Promo
WHERE		PromoID = @PromoID


GO
