USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/14/2020
-- Description:	Get a QBExportLog record by ID
-- =============================================
CREATE PROCEDURE [dbo].[QBExportLog_Get]
	  @ID					int
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM QBExportLog
	WHERE ID = @ID
END
GO
