USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 9/30/2019
-- Description:	Save a site setting
-- =============================================
CREATE PROCEDURE [dbo].[SiteSetting_Save]
	  @ID					int
	, @LoginID				int
	, @TagGroup				varchar(50)
	, @Tag					varchar(50)
	, @Value				varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @ID > 0
		BEGIN
			UPDATE SiteSetting
			SET
				LoginID = @LoginID
				, TagGroup = @TagGroup
				, Tag = @Tag
				, Value = @Value
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO SiteSetting
			(
				  LoginID
				, TagGroup
				, Tag
				, Value
			)
			VALUES 
			(
				  @LoginID
				, @TagGroup
				, @Tag
				, @Value
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
