USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/8/2021
-- =============================================
CREATE PROCEDURE [dbo].[aaaGetMultiUserWithoutContract]
	  @Month			int
	, @Year			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT Logins.*
	FROM Contracts
	JOIN Logins ON Contracts.LoginID = Logins.ID
	LEFT OUTER JOIN ContractAddOn ON Contracts.ContractID = ContractAddOn.ContractID AND ContractAddOn.AddOnType = 8
	WHERE 
		DATEPART(mm, Contracts.ExpirationDate) = @Month
		AND DATEPART(yy, Contracts.ExpirationDate) = @Year
		AND Contracts.IsDeleted = 0
		AND Contracts.Active = 1
		AND Logins.NoOfLogins > 1

END
GO
