USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/5/2020
-- =============================================
CREATE PROCEDURE [dbo].[AddOnRuleMatchText_Save]
	  @ID				int
	, @AddOnRuleID		int
	, @MatchPiece		tinyint
	, @MatchType		tinyint
	, @MatchText		varchar(50)
	, @Disabled			bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF (@ID > 0)
		BEGIN
			UPDATE AddOnRuleMatchText
			SET 
				  AddOnRuleID = @AddOnRuleID
				, MatchPiece = @MatchPiece
				, MatchType = @MatchType
				, MatchText = @MatchText
				, Disabled = @Disabled
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO AddOnRuleMatchText
			(
				  AddOnRuleID
				, MatchPiece
				, MatchType
				, MatchText 
				, Disabled
			)
			VALUES
			(
				  @AddOnRuleID
				, @MatchPiece
				, @MatchType
				, @MatchText
				, @Disabled
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
