USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 5/16/2018 
-- Description:	Get the last line number for an estimate, this checks both regular line items and PDR lines 
-- ============================================= 
CREATE FUNCTION [dbo].[GetLastLineNumber]  
( 
	@AdminInfoID		int 
) 
RETURNS int 
AS 
BEGIN 
	 
	RETURN (SELECT MAX(LineNumber) AS LastLineNumber 
	FROM 
	( 
		SELECT ISNULL(EstimationLineItems.LineNumber, 0) AS LineNumber 
		FROM EstimationData   
		LEFT OUTER JOIN EstimationLineItems  ON EstimationLineItems.EstimationDataID = EstimationData.id 
		WHERE EstimationData.AdminInfoID = @AdminInfoID  
 
		UNION  
 
		SELECT ISNULL(LineNumber, 0) AS LineNumber 
		FROM PDR_EstimateDataPanel  
		WHERE AdminInfoID = @AdminInfoID 
 
		UNION  
 
		SELECT ISNULL(PDR_EstimateDataPanelSupplementChange.LineNumber, 0) AS LineNumber 
		FROM PDR_EstimateDataPanel  
		JOIN PDR_EstimateDataPanelSupplementChange ON PDR_EstimateDataPanelSupplementChange.EstimateDataPanelID = PDR_EstimateDataPanel.ID 
		WHERE PDR_EstimateDataPanel.AdminInfoID = @AdminInfoID 
	) base) 
 
END 
GO
