USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Technician_Get] 
	@ID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
	
    SELECT *, CASE WHEN TimeStamp IS NULL THEN 0 ELSE 1 END AS IsDeleted
	FROM TechniciansData 
	WHERE TechnicianID = @ID 
END 
GO
