USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*      */
CREATE PROCEDURE [dbo].[spGetLaborSums]
	@AdminInfoID Int
as
	CREATE TABLE [dbo].[#TempGetLabor] (
		[AdminInfoID] [int] NOT NULL ,
		[RateTypesID] [tinyint] NOT NULL ,
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[LaborTypesID] [tinyint] NULL ,
		[LaborType] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Description] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Betterment] [int] NOT NULL ,
		[Sublet] [int] NOT NULL ,
		[LaborCost] [money] NULL ,
		[LaborTime] [float] NULL ,
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSSublet] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Rate] [real] NULL ,
		[CapType] [tinyint] NULL ,
		[Cap] [real] NULL ,
		[DiscountMarkup] [real] NULL ,
		[Taxable] [int] NOT NULL ,
		[IncludeIn] [tinyint] NULL
	) ON [PRIMARY]

	--INSERT INTO #TempGetLabor
		EXECUTE spGetLabor @AdminInfoID = @AdminInfoID

	SELECT AdminInfoID,RateTypesID,RateName,Betterment,Sum(ISNULL(LaborCost,0)) LaborCost,Sum(ISNULL(LaborTime,0)) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
	FROM #TempGetLabor
	GROUP BY AdminInfoID,RateTypesID,RateName,Betterment,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn

	IF object_id('tempdb..#GetLaborSums') IS NOT NULL
	BEGIN
		INSERT INTO #GetLaborSums([AdminInfoID],[RateTypesID],	[RateName],
		[Betterment],
		[LaborCost],
		[LaborTime],
		[EMSCode1] ,
		[EMSBetterment],
		[Rate],
		[CapType],
		[Cap] ,
		[DiscountMarkup],
		[Taxable],
		[IncludeIn])
		SELECT AdminInfoID,RateTypesID,RateName,Betterment,Sum(ISNULL(LaborCost,0)) LaborCost,Sum(ISNULL(LaborTime,0)) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
		FROM #TempGetLabor
		GROUP BY AdminInfoID,RateTypesID,RateName,Betterment,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
		
	END
	ELSE
	BEGIN
		SELECT AdminInfoID,RateTypesID,RateName,Betterment,Sum(ISNULL(LaborCost,0)) LaborCost,Sum(ISNULL(LaborTime,0)) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
		FROM #TempGetLabor
		GROUP BY AdminInfoID,RateTypesID,RateName,Betterment,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
	END
	DROP TABLE #TempGetLabor


GO
