USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/1/2019 
-- Description:	Get all Estimators for a login account 
-- ============================================= 
CREATE PROCEDURE [dbo].[Estimator_GetByLogin] 
	@LoginID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM EstimatorsData 
	WHERE LoginID = @LoginID 
	ORDER BY ISNULL(OrderNo, 0) 
END 
GO
