USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
CREATE PROCEDURE [dbo].[SP_GetMakes] 
	@Year Int 
AS 
 
BEGIN 
	select distinct  a.MakeId,b.Make 
	from vinn.dbo.vehicle_service_xref a with(nolock) 
	inner join vinn.dbo.makes b with(nolock) 
	on b.makeid = a.makeid 
	where VinYear = @Year 
	order by Make 
END 
 
GO
