USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentInfo](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NOT NULL,
	[ContactsID] [int] NOT NULL,
	[PayeeName] [varchar](60) NOT NULL,
	[PaymentType] [varchar](15) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[CheckNumber] [varchar](20) NOT NULL,
	[Amount] [money] NOT NULL,
	[Memo] [text] NULL,
	[WhoPays] [varchar](15) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [_dta_index_PaymentInfo_c_7_1807397558__K2_K6] ON [dbo].[PaymentInfo]
(
	[AdminInfoID] ASC,
	[PaymentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [AdminInfoID] ON [dbo].[PaymentInfo]
(
	[AdminInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PaymentInfo_PaymentId] ON [dbo].[PaymentInfo]
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
