USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  VIEW [dbo].[GetLaborSums]
as
SELECT AdminInfoID,RateTypesID,RateName,Betterment,Sum(ISNULL(LaborCost,0)) LaborCost,Sum(Round(ISNULL(LaborTime,0),1)) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
FROM GetLabor with(nolock)
GROUP BY AdminInfoID,RateTypesID,RateName,Betterment,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn



GO
