USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteEstimationLineItemsByAdminInfo]
	@admininfoid int
AS
DELETE FROM EstimationLineItems
from estimationlineitems eli
inner join estimationdata ed 
on ed.id = eli.estimationdataid
where ed.admininfoid = @admininfoid


GO
