USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/22/2021
-- =============================================
CREATE PROCEDURE [dbo].[EmailFailures_GetForEmail]
	  @EmailID					int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT * 
	FROM EmailFailures
	WHERE EmailID = @EmailID
	ORDER BY TimeStamp DESC

END
GO
