USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/18/2017
-- Description:	Get all invoice records for a Contract ID
-- =============================================
CREATE PROCEDURE [dbo].[GetInvoicesForContractExport] 
	  @ContractID		int 
	, @IncludeAddons	bit = 0 
	, @Deleted			bit = 0 
	, @GroupBy			VARCHAR(50) = 'DueDate'
AS 
BEGIN

	SELECT Invoices.*, CASE WHEN ISNULL(Contracts.IsDeleted, 0) = 1 OR ISNULL(ContractAddOn.IsDeleted, 0) = 1 THEN 1 ELSE 0 END AS ContractIsDeleted, 
	(CASE WHEN @GroupBy = 'DueDate' THEN DueDate ELSE (CASE WHEN [Type] IS NULL THEN 'Base' ELSE [Type] END) END) AS ContractType
	FROM Invoices
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	LEFT OUTER JOIN ContractType ON ContractAddOn.AddOnType = ContractType.ContractTypeID
	WHERE 
		Invoices.ContractID = @ContractID
		AND (@IncludeAddons = 1 OR AddOnID = 0)
		AND ((Invoices.IsDeleted = 0 AND ISNULL(Contracts.IsDeleted, 0) = 0 AND ISNULL(ContractAddOn.IsDeleted, 0) = 0) OR @Deleted = 1)

END
GO
