USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactItems](
	[id] [int] NOT NULL,
	[ContactsID] [int] NOT NULL,
	[ContactItemTypeID] [smallint] NOT NULL,
	[ItemText] [varchar](255) NULL,
	[Qualifier] [varchar](10) NULL,
	[Extension] [varchar](8) NULL
) ON [PRIMARY]
GO
