USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/20/2020
-- Description:	Delete a suppment change records.  Used if the data is deleted while still on the same supplement
-- =============================================
CREATE PROCEDURE [dbo].[PDR_EstimateDataPanelSupplementChange_Delete]
	@ID		int
	
AS
BEGIN
	
	DELETE FROM PDR_EstimateDataPanelSupplementChange
	WHERE ID = @ID

END
GO
