USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 6/26/2020 
-- Description:	Get all POI Options 
-- ============================================= 
CREATE PROCEDURE [dbo].[POIOptions_GetAll]  
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM POIOptions 
 
END 
GO
