USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GetImageList]

	@AdminInfoID Int = NULL,

	@Service_BarCode Varchar(10) = NULL,

	@GroupNumber Int = NULL,

	@nSection Int = 0,

	@nHeader Int = NULL

AS



IF @Service_BarCode IS NULL AND @AdminInfoID IS NOT NULL

	SELECT @Service_BarCode = FocusWrite.Dbo.GetServiceBarcode(@AdminInfoID)



IF @GroupNumber IS NOT NULL AND (@nHeader IS NULL OR @nSection IS NULL)

BEGIN

	SELECT	@nHeader = @GroupNumber / 256

	SELECT	@nSection = @GroupNumber - (@nHeader * 256)

END



SELECT DISTINCT

	Hotspot.nimage,

	isnull(Graphic.Graphic_Filename,'99999.gif') as Graphic_Filename

FROM Mitchell3.Dbo.Hotspot Hotspot 

LEFT JOIN Graphic WITH (NOLOCK) ON

	(Graphic.Service_Barcode = Hotspot.Service_Barcode AND

	 Graphic.nimage = Hotspot.nimage)

WHERE Hotspot.Service_Barcode = @Service_BarCode AND

	Hotspot.nheader = @nHeader AND

	Hotspot.nsection = @nSection




GO
