USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetBodyTypeALL]
AS
SELECT CONVERT(Int,-1) 'BodyStyleConfigID', CONVERT(VarChar(100),'') 'BodyType'
UNION ALL
SELECT DISTINCT 
	BodyStyleConfig.BodyStyleConfigID,
	RTRIM(LTRIM(BodyNumDoors.BodyNumDoors)) + ' Door ' + RTRIM(LTRIM(BodyType.BodyTypeName)) 'BodyType'
FROM Vehicles.dbo.SubModel VSubModel WITH (NOLOCK) 
INNER JOIN VCDB_Public.dbo.VehicleToBodyStyleConfig VehicleToBodyStyleConfig WITH (NOLOCK)  ON
	(VehicleToBodyStyleConfig.VehicleID = VSubModel.AAIAVehicleID)
INNER JOIN VCDB_Public.dbo.BodyStyleConfig BodyStyleConfig WITH (NOLOCK)  ON
	(BodyStyleConfig.BodyStyleConfigID = VehicleToBodyStyleConfig.BodyStyleConfigID)
INNER JOIN VCDB_Public.dbo.BodyType BodyType WITH (NOLOCK)  ON
	(BodyType.BodyTypeID = BodyStyleConfig.BodyTypeID)
LEFT JOIN VCDB_Public.dbo.BodyNumDoors BodyNumDoors WITH (NOLOCK)  ON
	(BodyNumDoors.BodyNumDoorsID = BodyStyleConfig.BodyNumDoorsID)
ORDER BY BodyType




GO
