USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/16/2017
-- Description:	Get aftermaket verions of a part.  This is a cleaned up version of the old GetPartsListByPartNumber2 SP
-- =============================================
CREATE PROCEDURE [dbo].[GetAfterMarketParts]
	@LoginsID		int,
	@PartNumber		varchar(25)
AS
BEGIN

	SELECT @PartNumber = LTRIM(RTRIM(REPLACE(@PartNumber,'GM PART','')))

	SELECT DISTINCT
		  Vendor.CompanyIDCode AS VendorID
		, CASE WHEN ISNULL(OtherParts.Price, 0) = 0 THEN '$Call$'
		  ELSE FocusWrite.dbo.FormatNumber(CONVERT(Money, OtherParts.Price),2)
		  END 'Price'
		, Vendor.CompanyName 'VendorName'
		, ISNULL(ISNULL(OtherParts.SourcePartNumber,OEMPartNumber),'') 'VendorPartNumber'
		, ISNULL(OtherParts.Description, '') 'Description'
		, ISNULL(OtherParts.Side, '') 'Side'
	FROM SelectedVendor
	JOIN Vendor ON Vendor.ID = SelectedVendor.VendorID
	JOIN Parts.dbo.OtherParts ON OtherParts.SourceID = Vendor.FileName
	WHERE 
		SelectedVendor.LoginID = @LoginsID
		AND OtherParts.OEMPartNumber = FocusWrite.dbo.UnpuctuatePartNumber(@PartNumber)

END

 

GO
