USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 4/26/2018 
-- Description:	Commit an estimate, moving it to the next supplement level 
--				This was copied from App_Functions and modified for PDR 
-- ============================================= 
CREATE PROCEDURE [dbo].[Estimate_Commit] 
	@AdminInfoID		int 
AS 
BEGIN 
	 
	DECLARE @lineCount INT 
 
	SET @lineCount =  
	(	 
		SELECT Count(*)  
		FROM EstimationData  with(nolock) 
		INNER JOIN EstimationLineItems  with(nolock) ON EstimationLineItems.EstimationDataID = EstimationData.ID  
 
		WHERE AdminInfoID = @AdminInfoID AND  
			ISNULL(EstimationLineItems.SupplementVersion, 0) = ISNULL(EstimationData.LockLevel, 0) 
	) 
 
	SET @lineCount = @lineCount + 
	( 
		SELECT COUNT(*)
		FROM EstimationData
		JOIN PDR_EstimateDataPanel ON 
			PDR_EstimateDataPanel.AdminInfoID = @AdminInfoID 
			AND ISNULL(EstimationData.LockLevel, 0) = 0
		LEFT OUTER JOIN PDR_EstimateDataPanelSupplementChange change ON 
			change.EstimateDataPanelID = PDR_EstimateDataPanel.ID 
			AND change.SupplementVersion = ISNULL(EstimationData.LockLevel, 0) 
		LEFT OUTER JOIN PDR_EstimateDataPanelOversize oversize ON 
			PDR_EstimateDataPanel.ID = oversize.EstimateDataPanelID 
			AND (oversize.SupplementAdded = ISNULL(EstimationData.LockLevel, 0) OR oversize.SupplementDeleted = ISNULL(EstimationData.LockLevel, 0))
		WHERE  
			EstimationData.AdminInfoID = @AdminInfoID 
			AND (ISNULL(change.ID, 0) > 0 OR ISNULL(oversize.ID, 0) > 0 OR ISNULL(PDR_EstimateDataPanel.LineNumber, 0) > 0) 
			AND   
			( 
				PDR_EstimateDataPanel.QuantityID > 0 
				OR PDR_EstimateDataPanel.OversizedDents > 0 
				OR ISNULL(PDR_EstimateDataPanel.CustomCharge, 0) <> 0
				OR ISNULL(change.QuantityID, 0) <> 0 
				OR ISNULL(change.OversizedDents, 0) <> 0 
				OR ISNULL(change.CustomCharge, 0) <> 0
			) 
	) 
 
	IF @lineCount > 0  
		BEGIN  
			UPDATE EstimationData   
			SET  
				LockLevel = ISNULL(EstimationData.LockLevel,0) + 1,  
				EstimationLineItemIDLocked =  
				(	 
					SELECT Max(EstimationLineItems.ID)  
					FROM EstimationData
					LEFT OUTER JOIN EstimationLineItems ON EstimationData.ID = EstimationLineItems.EstimationDataID
					WHERE EstimationData.AdminInfoID = @AdminInfoID
				)  
			FROM EstimationData    with(nolock) 
			WHERE EstimationData.AdminInfoID = @AdminInfoID  
		END  
	ELSE  
		BEGIN  
			IF  
			( 
				SELECT ISNULL(LockLevel, 0)  
				FROM EstimationData    with(nolock) 
				WHERE AdminInfoID = @AdminInfoID  
			) = 0 
				SELECT 1 -- 'Estimate not committed since there are no items on the estimatate.' 'ErrorReturn'  
			ELSE  
				SELECT 2 --'Estimate not committed since there are no items on the current supplement level.' 'ErrorReturn'  
		END  
  
	SELECT 0  
 
END 
GO
