USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrUpdateEstimateImage]
	@ID					int,
	@AdminInfoID		int,
	@FileName			varchar(100) = '',
	@FileType			varchar(10) = '',
	@ImageTag			int,
	@ImageTagCustom		varchar(50) = '',
	@PDFPageCount		int,
	@SupplementVersion  int,
	@Include			bit,
	@Deleted			bit,
	@OrderNo			int = null
AS
BEGIN
	IF EXISTS (SELECT * FROM EstimationImages with(nolock)  WHERE id = @ID)
		BEGIN
			UPDATE EstimationImages
			SET
				AdminInfoID = @AdminInfoID,
				FileName = @FileName,
				FileType = @FileType,
				ImageTag = @ImageTag,
				ImageTagCustom = @ImageTagCustom,
				PDFPageCount = @PDFPageCount,
				SupplementVersion = @SupplementVersion,
				Include = @Include,
				Deleted = @Deleted,
				OrderNo = @OrderNo
			WHERE id = @ID

			SELECT @ID
		END
	ELSE
		BEGIN

			IF (ISNULL(@OrderNo, 0) = 0)
				BEGIN
					SET @OrderNo = (SELECT MAX(ISNULL(OrderNo, 0)) FROM EstimationImages WHERE AdminInfoID = @AdminInfoID AND ISNULL(Deleted, 0) = 0) + 1
				END

			INSERT INTO EstimationImages
			(
				AdminInfoID,
				FileName,
				FileType,
				ImageTag,
				ImageTagCustom,
				PDFPageCount,
				SupplementVersion,
				Include,
				Deleted,
				OrderNo
			)
			VALUES
			(
				@AdminInfoID,
				@FileName,
				@FileType,
				@ImageTag,
				@ImageTagCustom,
				@PDFPageCount,
				@SupplementVersion,
				@Include,
				@Deleted,
				@OrderNo
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
