USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueryLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[LoginID] [int] NULL,
	[PageRequest] [varchar](200) NULL,
	[StoredProcedure] [varchar](100) NULL,
	[Parameters] [varchar](3000) NULL,
	[EstimateID] [int] NULL,
	[ExecutionTicks] [int] NULL,
 CONSTRAINT [PK_QueryLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
