USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[GetVehicleType] (@VehicleID Int)
RETURNS NVarChar(2) AS  
BEGIN 	
	DECLARE @VehicleType NVarCHar(2)
	SELECT @VehicleType = ''
	
	select @VehicleType = case when VehicleTypeID = 1 then 'PC'
		    when VehicleTypeID = 3 then 'TK'
		    when VehicleTypeID = 4 then 'VN'
		    when VehicleTypeID = 5 then 'UV'
		   else 'PC' end 
	from vinn.dbo.Vehicle_Service_Xref
	where vehicleid = @VehicleID
	
	return @VehicleType
END



GO
