USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/1/2021
-- =============================================
CREATE PROCEDURE [dbo].[ProAdvisorTotalCache_UpdateForLogin]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DECLARE @Total MONEY = 0

	-- These are used in the loop
	DECLARE @EstimateID INT

	Create Table  #TotalsTable  
	(
		 SortOrder		int
		, Type			varchar(200)
		, Note			varchar(100)
		, Amount		money
	)

if 1 = 0
begin

	-- Loop through all estimates for the account that have an add on profile
	DECLARE estimateCursor CURSOR FOR
	SELECT id
	FROM AdminInfo
	WHERE CreatorID = @LoginID AND ISNULL(AddOnProfileID, 0) > 0

	OPEN estimateCursor
	FETCH NEXT FROM estimateCursor INTO @EstimateID

	WHILE @@FETCH_STATUS = 0
	BEGIN

		-- We need the supplement for the estimate to get totals
		DECLARE @SupplementVersion INT = 
		(SELECT LockLevel
		FROM EstimationData 
		WHERE AdminInfoID = @EstimateID)

		DELETE FROM #TotalsTable

		-- Run the Total stored procedure
		INSERT INTO #TotalsTable
		EXEC [dbo].[EstimateReport_GetTotals] 
			  @AdminInfoID = @EstimateID	
			, @SupplementVersion = @SupplementVersion  
			, @AddOnsOnly	= 1

		-- Get just the grand total
		DECLARE @AddOnTotal MONEY
		SET @AddOnTotal = 
		(SELECT Amount
		FROM #TotalsTable
		WHERE Type = 'Grand Total')

		-- Add it to the running total
		SET @Total += @AddOnTotal

		FETCH NEXT FROM estimateCursor INTO @EstimateID
	END

	CLOSE estimateCursor
	DEALLOCATE estimateCursor

	IF (SELECT ISNULL(ID, 0) FROM ProAdvisorTotalCache WHERE LoginID = @LoginID) > 0
		BEGIN
			UPDATE ProAdvisorTotalCache
			SET Total = @Total
			WHERE LoginID = @LoginID
		END
	ELSE
		BEGIN
			INSERT INTO ProAdvisorTotalCache (LoginID, Total) VALUES (@LoginID, @Total)
		END

end
END
GO
