USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spGetSuppliesSV]
	@AdminInfoID Int
as
	CREATE TABLE [dbo].[#GetLaborSV] (
		[SupplementVersion2] [tinyint] NOT NULL ,
		[AdminInfoID] [int] NOT NULL ,
		[RateTypesID] [tinyint] NOT NULL ,
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[LaborTypesID] [tinyint] NULL ,
		[LaborType] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Description] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Betterment] [int] NOT NULL ,
		[Sublet] [int] NOT NULL ,
		[LaborCost] [money] NULL ,
		[LaborTime] [float] NULL ,
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSSublet] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Rate] [real] NULL ,
		[CapType] [tinyint] NULL ,
		[Cap] [real] NULL ,
		[DiscountMarkup] [real] NULL ,
		[Taxable] [int] NOT NULL ,
		[IncludeIn] [tinyint] NULL
	) ON [PRIMARY]

	--INSERT INTO #GetLaborSV
		EXECUTE spGetLaborSV @AdminInfoID = @AdminInfoID

	IF object_id('tempdb..#GetSuppliesSV') IS NOT NULL
	BEGIN
	    INSERT INTO #GetSuppliesSV([SupplementVersion2],
		[AdminInfoID],
		[RateTypesID],
		[RateName],
		[LaborTypesID],
		[LaborType],
		[Description],
		[Betterment],
		[Sublet],
		[LaborCost],
		[LaborTime],
		[EMSCode1],
		[EMSBetterment],
		[EMSSublet],
		[Rate],
		[CapType],
		[Cap],
		[DiscountMarkup],
		[Taxable],
		[IncludeIn])
		SELECT 
		GetLabor.SupplementVersion2,
		GetLabor.AdminInfoID,
		RateTypes.ID 'RateTypesID',
		RateTypes.RateName,
		GetLabor.LaborTypesID,
		GetLabor.LaborType,
		GetLabor.Description,
		GetLabor.Betterment,
		GetLabor.Sublet,
		GetLabor.LaborCost,
		GetLabor.LaborTime,
		GetLabor.EMSCode1,
		GetLabor.EMSBetterment,
		GetLabor.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	FROM #GetLaborSV GetLabor
	INNER JOIN RateTypes with(nolock) ON
		(RateTypes.ID = CASE 	WHEN GetLabor.RateTypesID = 2 THEN 7
					WHEN GetLabor.RateTypesID = 1 THEN 6 
					WHEN GetLabor.RateTypesID = 17 THEN 19
					WHEN GetLabor.RateTypesID = 21 THEN 22
				END )
	INNER JOIN AdminInfo with(nolock) ON
		(AdminInfo.id = GetLabor.AdminInfoID)
	INNER JOIN CustomerProfiles with(nolock) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates with(nolock) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)

		
	END
ELSE
BEGIN
	SELECT 
		GetLabor.SupplementVersion2,
		GetLabor.AdminInfoID,
		RateTypes.ID 'RateTypesID',
		RateTypes.RateName,
		GetLabor.LaborTypesID,
		GetLabor.LaborType,
		GetLabor.Description,
		GetLabor.Betterment,
		GetLabor.Sublet,
		GetLabor.LaborCost,
		GetLabor.LaborTime,
		GetLabor.EMSCode1,
		GetLabor.EMSBetterment,
		GetLabor.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	FROM #GetLaborSV GetLabor
	INNER JOIN RateTypes with(nolock) ON
		(RateTypes.ID = CASE 	WHEN GetLabor.RateTypesID = 2 THEN 7
					WHEN GetLabor.RateTypesID = 1 THEN 6 
					WHEN GetLabor.RateTypesID = 17 THEN 19
					WHEN GetLabor.RateTypesID = 21 THEN 22
				END )
	INNER JOIN AdminInfo with(nolock) ON
		(AdminInfo.id = GetLabor.AdminInfoID)
	INNER JOIN CustomerProfiles with(nolock) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates with(nolock) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
END
	DROP TABLE #GetLaborSV


GO
