USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 6/15/2017
-- Description:	Get labor per barcode item for the passed AdminInfoID
-- =============================================
CREATE PROCEDURE [dbo].[GetLaborForEstimate]
	@AdminInfoID		int
AS
BEGIN

	SELECT li.Barcode, li.id, ll.LaborType, ll.LaborTime, lt.LaborType
	--SELECT *
	FROM EstimationData ed
	JOIN EstimationLineItems li ON li.EstimationDataID = ed.id
	JOIN EstimationLineLabor ll ON ll.EstimationLineItemsID = li.id
	JOIN LaborTypes lt ON lt.id = ll.LaborType
	WHERE ed.AdminInfoID = @AdminInfoID

END
GO
