USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/23/2021
-- =============================================
CREATE PROCEDURE [dbo].[LoginsAutoRenew_GetLoginsForWarning]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT LoginsAutoRenew.LoginID
	FROM LoginsAutoRenew
	JOIN Contracts ON 
		LoginsAutoRenew.LoginID = Contracts.LoginID 
		AND CAST(Contracts.ExpirationDate AS DATE) <= DATEADD(mm, 1, GETDATE())
		AND ISNULL(Contracts.IsDeleted, 0) = 0
	LEFT OUTER JOIN Contracts AS NewContract ON Contracts.LoginID = NewContract.LoginID AND NewContract.ContractID > Contracts.ContractID AND NewContract.IsDeleted = 0
	LEFT OUTER JOIN ReminderLog ON LoginsAutoRenew.LoginID = ReminderLog.LoginID AND ReminderLog.Tag = 'AutoRenewWarning' AND Contracts.ContractID = ReminderLog.LinkedID
	WHERE (LoginsAutoRenew.ID) IN (
		SELECT MAX(ID) AS ID
		FROM LoginsAutoRenew
		GROUP BY LoginID
	)
	AND LoginsAutoRenew.Enabled = 1
	AND NewContract.ContractID IS NULL
	AND ReminderLog.ID IS NULL

END
GO
