USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MonthlyNewSalesDashboardReport]
	@Month				INT,
	@Year				INT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Get a list of all Logins that were added to the sales board for the passed month and year
	Create TABLE  #MonthsLogins   
	(  
		LoginID INT
	)

	INSERT INTO #MonthsLogins (LoginID)
	SELECT SalesBoard.LoginID 
	FROM SalesBoard
	INNER JOIN Logins ON SalesBoard.loginID = Logins.id AND Logins.StaffAccount = 0			-- Ignore staff accounts
	WHERE 
		MONTH(DateSold) = @Month 
		AND YEAR(DateSold) = @Year
	ORDER BY LoginID

	-- Save a list of ContractAddOn.IDs that are active, haven't been deleted, and have had a payment made
	CREATE TABLE #GoodAddOns 
	(
		  ContractID			int
		, AddOnType				int
		, AddOnID				int
	)

	INSERT INTO #GoodAddOns
	SELECT DISTINCT 
		  ContractAddOn.ContractID
		, ContractAddOn.AddOnType
		, Invoices.AddOnID
	FROM ContractAddOn
	LEFT OUTER JOIN Invoices ON ContractAddOn.ID = Invoices.AddOnID
	WHERE 
		ContractAddOn.Active = 1
		AND ContractAddOn.IsDeleted = 0
		AND Invoices.Paid = 1
		AND Invoices.IsDeleted = 0
	

	-- Save a table with every contract and whether they have every add on
	CREATE TABLE #ContractsWithAddOns
	(
		  ContractID			int
		, HasFrame				bit
		, HasEMS				bit
		, HasPDR				bit
		, HasMultiUser			bit
		, HasQBExport			bit
		, HasProAdvisor			bit
		, HasImageEditor		bit
		, HasBundle				bit
		, HasReporting			bit
	)

	INSERT INTO #ContractsWithAddOns
	SELECT 
		  Contracts.ContractID
		, CASE WHEN ISNULL(AddOnFrame.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasFrame
		, CASE WHEN ISNULL(AddOnEMS.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasEMS
		, CASE WHEN ISNULL(AddOnPDR.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasPDR
		, CASE WHEN ISNULL(AddOnMultiUser.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasMultiUser
		, CASE WHEN ISNULL(AddOnQBExport.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasQBExport
		, CASE WHEN ISNULL(AddOnProAdvisor.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasProAdvisor
		, CASE WHEN ISNULL(AddOnImageEditor.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasImageEditor
		, CASE WHEN ISNULL(AddOnBundle.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasBundle
		, CASE WHEN ISNULL(AddOnReporting.AddOnID, 0) > 0 THEN 1 ELSE 0 END AS HasReporting
	FROM Contracts
	LEFT OUTER JOIN #GoodAddOns AddOnFrame ON Contracts.ContractID = AddOnFrame.ContractID AND AddOnFrame.AddOnType = 2
	LEFT OUTER JOIN #GoodAddOns AddOnEMS ON Contracts.ContractID = AddOnEMS.ContractID AND AddOnEMS.AddOnType = 5
	LEFT OUTER JOIN #GoodAddOns AddOnPDR ON Contracts.ContractID = AddOnPDR.ContractID AND AddOnPDR.AddOnType = 7
	LEFT OUTER JOIN #GoodAddOns AddOnMultiUser ON Contracts.ContractID = AddOnMultiUser.ContractID AND AddOnMultiUser.AddOnType = 8
	LEFT OUTER JOIN #GoodAddOns AddOnQBExport ON Contracts.ContractID = AddOnQBExport.ContractID AND AddOnQBExport.AddOnType = 9
	LEFT OUTER JOIN #GoodAddOns AddOnProAdvisor ON Contracts.ContractID = AddOnProAdvisor.ContractID AND AddOnProAdvisor.AddOnType = 10
	LEFT OUTER JOIN #GoodAddOns AddOnImageEditor ON Contracts.ContractID = AddOnImageEditor.ContractID AND AddOnImageEditor.AddOnType = 11
	LEFT OUTER JOIN #GoodAddOns AddOnBundle ON Contracts.ContractID = AddOnBundle.ContractID AND AddOnBundle.AddOnType = 12
	LEFT OUTER JOIN #GoodAddOns AddOnReporting ON Contracts.ContractID = AddOnReporting.ContractID AND AddOnReporting.AddOnType = 13
	WHERE 
		Contracts.IsDeleted = 0

	SELECT *, ROW_NUMBER() OVER (PARTITION BY ContractID ORDER BY TimeStamp DESC) AS rn
	INTO #ContractDigitalSignatureTemp
	FROM ContractDigitalSignature

	-- Create and fill the results table.  An update needs to be done on it before it is returned.
	Create TABLE #Results 
	(
		  CustomerID			int
		, ContractID			int
		, State					varchar(5)
		, SalesDate				datetime
		, CustomerName			varchar(100)
		, SalesPrice			decimal(8,2)
		, Promo					decimal(6,2)
		, DownPayment			decimal(9,2)
		, MonthlyPayment		decimal(9,2)
		, HasFrame				bit
		, HasEMS				bit
		, HasPDR				bit
		, HasMultiUser			bit
		, HasQBExport			bit
		, HasProAdvisor			bit
		, HasImageEditor		bit
		, HasBundle				bit
		, HasReporting			bit
		, SalesRepID			int
		, SalesRep				varchar(50)
		, WalkThrough			datetime
		, PayCode				int
		, Commission			decimal(18,2)
		, MUCommission			decimal(18,2)
		, QBCommission			decimal(18,2)
		, ContractTermDescription varchar(1000)
		, TotalCommission		decimal(18,2) 
		, PaymentExtension		bit
		, ContractSignedDate datetime
	)

	INSERT INTO #Results
	(
		  CustomerID
		, ContractID
		, State
		, SalesDate
		, CustomerName
		, SalesPrice
		, Promo
		, DownPayment
		, MonthlyPayment
		, HasFrame
		, HasEMS
		, HasPDR
		, HasMultiUser
		, HasQBExport
		, HasProAdvisor
		, HasImageEditor
		, HasBundle
		, HasReporting
		, SalesRepID
		, SalesRep
		, WalkThrough
		, PayCode
		, Commission
		, MUCommission
		, QBCommission
		, ContractTermDescription
		, PaymentExtension
		, ContractSignedDate
	)  
    SELECT   
		Logins.ID AS CustomerID  
	  , Contracts.ContractID AS ContractID  
	  , tbl_Address.State  
	  , MIN(Invoices.DatePaid) AS SalesDate  
	  , Logins.CompanyName AS CustomerName  
	  , ROUND(SUM(Invoices.InvoiceAmount) + ISNULL(Promo.PromoAmount, 0), 0) AS SalesPrice  
	  , ISNULL(Promo.PromoAmount, 0) AS Promo
	  , (
			SELECT TOP 1 InvoiceAmount
			FROM Invoices
			WHERE ContractID = Contracts.ContractID AND AddOnID = 0 AND IsDeleted = 0
			ORDER BY PaymentNumber
		) AS DownPayment
	  --, ISNULL(DownPaymentInvoice.InvoiceAmount, 0) AS DownPayment
	  , ISNULL(ContractPriceLevels.PaymentAmount, 0) AS MonthlyPayment  

	  , AddOns.HasFrame
	  , AddOns.HasEMS
	  , AddOns.HasPDR
	  , AddOns.HasMultiUser
	  , AddOns.HasQBexport
	  , AddOns.HasProAdvisor
	  , AddOns.HasImageEditor
	  , AddOns.HasBundle
	  , AddOns.HasReporting

	  , ISNULL(SalesRep.SalesRepID, 0) AS SalesRepID  
	  , ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '') AS SalesRep  
	  , WalkThrough
	  , CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.PayCode   
			ELSE PayCodeCommission.PayCode 
		END AS PayCode
	  , CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.Commission   
			ELSE PayCodeCommission.Commission
		END AS Commission
	  , CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.MUCommission   
			WHEN AddOns.HasMultiUser = 1 THEN PayCodeCommission.MUCommission
			ELSE 0
		END AS MUCommission
	  , CASE 
			WHEN ContractPayCodeCommissionMapping.ContractID IS NOT NULL THEN ContractPayCodeCommissionMapping.QBCommission   
			WHEN AddOns.HasQBExport = 1 THEN PayCodeCommission.QBCommission 
			ELSE 0
		END AS QBCommission
	  , PayCodeCommission.ContractTermDescription     
	  , PaymentExtension   
	  , MAX(TimeStamp)
	FROM #MonthsLogins
	LEFT OUTER JOIN Contracts ON #MonthsLogins.LoginID = Contracts.LoginID 
	LEFT OUTER JOIN Invoices ON 
		Contracts.ContractID = Invoices.ContractID   
		AND Invoices.IsDeleted = 0   
		AND Contracts.IsDeleted = 0   
		AND Contracts.ContractID IN (SELECT DISTINCT ContractID FROM Invoices WHERE Invoices.Paid = 1)
		AND Invoices.AddOnID = 0
    LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID  -- To ignore invoices attached to a deleted add on  
	LEFT OUTER JOIN Promo ON Contracts.PromoID = Promo.PromoID  
	LEFT OUTER JOIN ContractPriceLevels ON Contracts.ContractPriceLevelID = ContractPriceLevels.ContractPriceLevelID  
	LEFT OUTER JOIN ContractTerms ON ContractPriceLevels.ContractTermID = ContractTerms.ContractTermID  
	LEFT OUTER JOIN    
	( 
		SELECT 
			  Contracts.LoginID
			, datediff(YEAR,min(EffectiveDate), max(ExpirationDate)) TotalContracts   
		FROM Contracts    
		WHERE     
			Contracts.IsDeleted = 0    
			AND Contracts.EffectiveDate <= EOMONTH(DATEFROMPARTS(@Year, @Month , 1))   
		GROUP BY Contracts.LoginID    
	) AS TotalYears ON Contracts.LoginID = TotalYears.LoginID    

	LEFT OUTER JOIN #ContractsWithAddOns AddOns ON Contracts.ContractID = AddOns.ContractID
  
	LEFT JOIN Logins ON Contracts.LoginID = Logins.ID  
	LEFT OUTER JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID  
  
	LEFT OUTER JOIN tbl_ContactPerson AS CompanyContact ON Logins.ContactID = CompanyContact.ContactID    
	LEFT OUTER JOIN tbl_Address ON CompanyContact.ContactID = tbl_Address.ContactsID   

	LEFT JOIN ContractPayCodeCommissionMapping ON ContractPayCodeCommissionMapping.ContractID = Invoices.ContractID  
	LEFT JOIN PayCodeCommission ON 
		PayCodeCommission.HasEMS = AddOns.HasEMS  
		 AND PayCodeCommission.HasFrame = AddOns.HasFrame
		 AND PayCodeCommission.HasWT = (CASE WHEN WalkThrough IS NULL THEN 0 ELSE 1 END)  
		 AND PayCodeCommission.ContractTermDescription = ContractTerms.TermDescription   
	LEFT OUTER JOIN #ContractDigitalSignatureTemp ContractDigitalSignatureTemp ON ContractDigitalSignatureTemp.ContractID = Invoices.ContractID
	WHERE   
		Contracts.IsDeleted = 0    
		AND Logins.StaffAccount <> 1  
		AND DATEPART(YY, Contracts.EffectiveDate) = @Year    
		AND DATEPART(MM, Contracts.EffectiveDate) = @Month    
		AND Invoices.InvoiceID IS NOT NULL     
		AND ISNULL(ContractAddOn.IsDeleted, 0) = 0  
	GROUP BY    
		  Logins.ID   
		, Contracts.ContractID  
		, tbl_Address.State   
		, Logins.CompanyName   
		, Contracts.EffectiveDate   
		, Promo.PromoAmount   
		, ContractTerms.DepositAmount   
		, ContractPriceLevels.PaymentAmount   
		, AddOns.HasFrame
		, AddOns.HasEMS
		, AddOns.HasPDR
		, AddOns.HasMultiUser
		, AddOns.HasQBExport
		, AddOns.HasProAdvisor
		, AddOns.HasImageEditor
		, AddOns.HasBundle
		, AddOns.HasReporting
		, SalesRep.SalesRepID   
		, SalesRep.FirstName   
		, WalkThrough  
		, ContractPayCodeCommissionMapping.ContractID  
		, ContractPayCodeCommissionMapping.PayCode  
		, ContractPayCodeCommissionMapping.Commission  
		, PayCodeCommission.PayCode  
		, PayCodeCommission.ContractTermDescription  
		, PayCodeCommission.Commission  
		, ContractPayCodeCommissionMapping.MUCommission  
		, PayCodeCommission.MUCommission  
		, ContractPayCodeCommissionMapping.QBCommission  
		, PayCodeCommission.QBCommission  
		, SalesRep.LastName  
		, ContractPayCodeCommissionMapping.PaymentExtension 
 
 -- Sum up the commissions before returning
 UPDATE #Results 
 SET TotalCommission = ISNULL(Commission,0) + ISNULL(MUCommission,0) + ISNULL(QBCommission,0)  
  
 SELECT *
 FROM #Results
 ORDER BY SalesDate

 DROP TABLE #MonthsLogins
 DROP TABLE #GoodAddOns
 DROP TABLE #Results
 DROP TABLE #ContractsWithAddOns

END 
GO
