USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddOnPresetShell](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OperationType] [varchar](20) NULL,
	[Sublet] [bit] NULL,
	[Name] [varchar](100) NULL,
	[LaborType] [varchar](20) NULL,
	[OtherType] [varchar](20) NULL,
	[Notes] [varchar](300) NULL,
	[OnePerVehicle] [bit] NULL,
	[AccessLevel] [tinyint] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_AddOnPresetShell] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
