USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezr a
-- Create date: 6/19/2018
-- Description:	Update the EstimateSummary record for the passed estimate ID.  
-- =============================================
CREATE PROCEDURE [dbo].[Estimate_UpdateSummary]
	@AdminInfoID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	  -- Get the results of the line items totals SP which calculates the grand total
	Create table #tablevar 
	(
		SortOrder INT, 
		Type VARCHAR(50), 
		Note VARCHAR(50), 
		Amount MONEY
	)

	DECLARE @Supplement INT = (SELECT ISNULL(LockLevel, 0) FROM EstimationData WHERE AdminInfoID = @AdminInfoID)

	insert into #tablevar(SortOrder, Type, Note, Amount) 
	EXEC EstimateReport_GetTotals 
		@AdminInfoID = @AdminInfoID,
		@SupplementVersion = @Supplement,
		@ForEOR = 1,
		@AlwaysIncludeGT = 1

	DECLARE @grandTotal AS MONEY = (SELECT Amount FROM #tablevar WHERE Type = 'Grand Total')

	-- Make sure there is a record for this estimate
	IF NOT EXISTS (SELECT * FROM EstimateSummary WHERE AdminInfoID = @AdminInfoID)
		INSERT INTO EstimateSummary	(AdminInfoID) Values (@AdminInfoID)

	-- Put together the estimate summary data and update the table
	UPDATE EstimateSummary
	SET
		  LoginID = AdminInfo.CreatorID
		, AdminInfoID = AdminInfo.ID
		, EstimateNumber = AdminInfo.EstimateNumber
		, WorkOrderNumber = ISNULL(AdminInfo.WorkOrderNumber, 0)
		, JobStatusID = ISNULL(j.id, 0)
		, SupplementLevel = ISNULL(EstimationData.LockLevel, 0)
		, Description = AdminInfo.Description
		, DateCreated = EstimationData.EstimationDate 
		, LastView = ISNULL(AdminInfo.LastView, EstimationData.EstimationDate)  
		, Name = ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') 
		, BusinessName = ISNULL(person.BusinessName, '')
		, Vehicle = 
			CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN
				ISNULL(VehicleInfoManual.ModelYear,'') + ' ' + 
				ISNULL(VehicleInfoManual.Make,'') + ' ' +
				ISNULL(VehicleInfoManual.Model,'') + ' ' + 
				ISNULL(VehicleInfoManual.SubModel,'')
			 ELSE
				FocusWrite.dbo.GetVehicleName(VehicleInfo.VehicleID)
			 END

		, Vin = ISNULL(VehicleInfo.Vin, '')
		, VehicleValue = ISNULL(VehicleInfo.VehicleValue, 0)
		, Status = 
			ISNULL(j.Description,'') +
			 CASE 
				When (SELECT dbo.GetEstimateTotalLossOrNot(AdminInfo.CustomerProfilesID, VehicleInfo.VehicleValue, @grandTotal)) = 1 Then 'Total Loss'

				WHEN j.id = 3 THEN ', ' + FocusWrite.dbo.FormatDate(jsh.ActionDate)
				WHEN ISNULL(EstimationData.LockLevel, 0) > 0 THEN 'Supplement ' + CONVERT(VarChar(2), EstimationData.LockLevel)
				ELSE ''
			 END 

		, GrandTotal = @grandTotal 
		, TotalLossPercent = ISNULL(CustomerProfilesMisc.TotalLossPerc, 0)
		, IsTotalLoss = dbo.GetEstimateTotalLossOrNot(AdminInfo.CustomerProfilesID, VehicleInfo.VehicleValue, @grandTotal)
		, HasImages = CASE WHEN Images.ImageCount > 0 THEN 1 ELSE 0 END
		, IsDeleted = AdminInfo.Deleted 
	
	FROM AdminInfo
	JOIN EstimationData ON EstimationData.AdminInfoID = @AdminInfoID AND AdminInfo.id = EstimationData.AdminInfoID
	LEFT OUTER JOIN VehicleInfo ON VehicleInfo.EstimationDataID = EstimationData.ID
	LEFT OUTER JOIN VehicleInfoManual ON VehicleInfoManual.VehicleInfoID = VehicleInfo.ID
	LEFT OUTER JOIN 
	(
		SELECT MAX(id) as ID, AdminInfoID, JobStatusID, ActionDate, ROW_NUMBER() OVER(PARTITION BY AdminInfoID ORDER BY ActionDate DESC) AS row
		FROM JobStatusHistory
		GROUP BY AdminInfoID, JobStatusID, ActionDate
	) AS jsh ON jsh.AdminInfoID = AdminInfo.id AND jsh.row = 1
	LEFT OUTER JOIN JobStatus as j on j.id = jsh.JobStatusID 
	LEFT OUTER JOIN
	(
		SELECT AdminInfoID, COUNT(*) AS ImageCount
		FROM EstimationImages
		WHERE AdminInfoID = @AdminInfoID
		GROUP BY AdminInfoID
	) AS Images ON Images.AdminInfoID = @AdminInfoID
	LEFT OUTER JOIN tbl_ContactPerson AS person ON person.AdminInfoID = @AdminInfoID AND person.ContactSubTypeID = 4
	LEFT OUTER JOIN CustomerProfilesMisc ON CustomerProfilesMisc.CustomerProfilesID = AdminInfo.CustomerProfilesID
	WHERE EstimateSummary.AdminInfoID = @AdminInfoID	

END
GO
