USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentSMS_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReportId] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[SMSResponseResource] [varchar](5000) NOT NULL,
	[SMSId] [varchar](500) NULL,
	[ErrorMessage] [varchar](5000) NULL,
 CONSTRAINT [PK_SentSMS_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SentSMS_Status_ReportId] ON [dbo].[SentSMS_Status]
(
	[ReportId] ASC
)
INCLUDE([ID],[Status],[SMSResponseResource],[SMSId],[ErrorMessage]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
