USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEstimationLineItem]   
	 @id					int = null 
	,@AdminInfoID	int = null 
AS 
BEGIN 
	 
	IF @id IS NOT NULL 
		SELECT * FROM EstimationLineItems WHERE id = @id 
		 
	ELSE IF @AdminInfoID IS NOT NULL 
		SELECT * 
		FROM EstimationData 
		JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
		WHERE EstimationData.AdminInfoID = @AdminInfoID 
end 
GO
