USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSMSAttachmentMapping]
	  @EmailID			int
	, @UniqueID			VARCHAR(10)
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO SMSAttachmentMapping (EmailID, UniqueID)
	VALUES (@EmailID, @UniqueID)

END
GO
