USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:		Ezra  
-- Create date: 6/26/2019 
-- Description:	Get a digital signature record by its ID 
-- =============================================  
CREATE PROCEDURE [dbo].[ContractDigitalSignature_Get]    
	  @ID			int  
AS  
BEGIN  
 
	SELECT * 
	FROM ContractDigitalSignature 
	WHERE ID = @ID 
 
end  
GO
