USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteEstimationOverlapByAdminInfo]
	@admininfoid int
AS
DELETE FROM EstimationOverlap
FROM EstimationOverlap eo
INNER JOIN EstimationLineItems eli on eli.id = estimationlineitemsid1
INNER JOIN EstimationData e on e.id = eli.estimationdataid
WHERE e.admininfoid = @admininfoid

DELETE FROM EstimationOverlap 
FROM EstimationOverlap eo
INNER JOIN EstimationLineItems eli2 on eli2.id = estimationlineitemsid2
INNER JOIN estimationdata e2 on eli2.estimationdataid = e2.id
WHERE e2.admininfoid = @admininfoid


GO
