USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/12/2021
-- =============================================
CREATE PROCEDURE [dbo].[EmailConfirmLog_Get]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM EmailConfirmLog
	WHERE LoginID = @LoginID

END
GO
