USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfilePresets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerProfilesID] [int] NOT NULL,
	[StepID] [int] NULL,
	[PartSource] [varchar](50) NULL,
	[ActionCode] [varchar](20) NULL,
	[ActionDescription] [varchar](80) NULL,
	[PartNumber] [varchar](50) NULL,
	[Description] [varchar](80) NULL,
	[Price] [money] NULL,
	[PartOfOverhaul] [bit] NULL,
	[Qty] [tinyint] NULL,
	[LaborTime] [real] NULL,
	[PaintTime] [real] NULL,
	[Other] [real] NULL,
	[ImageID] [int] NULL,
	[PartSourceVendorID] [int] NULL,
	[SubletOperationFlag] [bit] NULL,
	[BettermentOperationFlag] [bit] NULL,
	[OrderNo] [int] NULL,
	[LaborIncluded] [bit] NULL,
 CONSTRAINT [PK_CustomerProfilePresets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CustomerProfilesID_Includes] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] ASC
)
INCLUDE([StepID],[PartSource],[ActionCode],[ActionDescription],[PartNumber],[Description],[Price],[PartOfOverhaul],[Qty],[LaborTime],[PaintTime],[Other],[ImageID],[PartSourceVendorID],[SubletOperationFlag],[BettermentOperationFlag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CustomerProfilesID_Includes_a] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] ASC
)
INCLUDE([PartSource],[ActionCode],[ActionDescription],[Description],[Price],[Qty],[LaborTime],[PaintTime],[Other],[OrderNo]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfilePresets] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfilePresets_CustomerProfilesID] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] ASC
)
INCLUDE([StepID],[PartSource],[ActionCode],[ActionDescription],[PartNumber],[Description],[Price],[PartOfOverhaul],[Qty],[LaborTime],[PaintTime],[Other],[ImageID],[PartSourceVendorID],[SubletOperationFlag],[BettermentOperationFlag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfilePresets_CustomerProfilesID333] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] ASC
)
INCLUDE([StepID],[PartSource],[ActionCode],[ActionDescription],[PartNumber],[Description],[Price],[PartOfOverhaul],[Qty],[LaborTime],[PaintTime],[Other],[ImageID],[PartSourceVendorID],[SubletOperationFlag],[BettermentOperationFlag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfilePresets_CustomerProfilesIDbbb] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] ASC
)
INCLUDE([StepID],[PartSource],[ActionCode],[ActionDescription],[PartNumber],[Description],[Price],[PartOfOverhaul],[Qty],[LaborTime],[PaintTime],[Other],[ImageID],[PartSourceVendorID],[SubletOperationFlag],[BettermentOperationFlag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfilePresets_CustomerProfilesIDwww] ON [dbo].[CustomerProfilePresets]
(
	[CustomerProfilesID] ASC
)
INCLUDE([StepID],[PartSource],[ActionCode],[ActionDescription],[PartNumber],[Description],[Price],[PartOfOverhaul],[Qty],[LaborTime],[PaintTime],[Other],[ImageID],[PartSourceVendorID],[SubletOperationFlag],[BettermentOperationFlag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerProfilePresets] ADD  CONSTRAINT [DF_CustomerProfilePresets_Qty]  DEFAULT (1) FOR [Qty]
GO
