USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerNetworkClick](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PartnerID] [int] NULL,
	[ActiveLoginID] [int] NULL,
	[TimeStamp] [datetime] NULL,
 CONSTRAINT [PK_PartnerNetworkClick] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
