USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetExpectedRenewals]
	@StartDate datetime = NULL,
	@EndDate datetime = NULL
AS

/*

EXECUTE GetExpectedRenewals
	@StartDate = '10/1/2010'

*/


-- Set start and end date
SELECT	@StartDate = Convert(varchar(10), isNull(@StartDate, ThisMonthStart), 101),
		@EndDate = Convert(varchar(10), isNull(@EndDate, '12/31/2999'), 101) + ' 11:59:59.990 PM'
FROM	fnDates()


SELECT		RenewalMonth,
			PriceLevel,
			Count(PriceLevel) AS ExpectedRenewals
FROM		(
				SELECT		p.PriceLevel,
							Year(c.ExpirationDate) AS DueDateYear,
							Month(c.ExpirationDate) AS DueDateMonth,
							dateName(m, c.ExpirationDate) + ', ' + Convert(char(4), Year(c.ExpirationDate)) AS RenewalMonth
				FROM		vwContractLogins c
				INNER JOIN	Logins l
								ON c.LoginID = l.ID
								AND l.DoubtfulAccount = 0
				INNER JOIN	vwContractPriceLevelTerms p
								ON c.ContractPriceLevelID = p.ContractPriceLevelID
								AND p.PriceLevel >= 0
				WHERE		c.ContractTypeID = 1
				AND			c.PrimaryLogin = 1
				AND			c.ExpirationDate BETWEEN @StartDate AND @EndDate
			) x
GROUP BY	DueDateYear,
			DueDateMonth,
			RenewalMonth,
			PriceLevel
ORDER BY	DueDateYear,
			DueDateMonth,
			PriceLevel

GO
