USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:		<Author,,Name>  
-- Create date: <Create Date,,>  
-- Description:	<Description,,>  
-- =============================================  
CREATE  PROCEDURE [dbo].[getSalesBoard]  
	-- Add the parameters for the stored procedure here  
	   
	 AS  
BEGIN  
	-- SET NOCOUNT ON added to prevent extra result sets from  
	-- interfering with SELECT statements.  
	SET NOCOUNT ON;  
 
select YEAR(datesold) as [Year], 
	--case when @CompanyOrigin = 99 then 99 else companyorigin end as ctype, 
	sum(case when MONTH(datesold) = 1 then numberSold else 0 end )as Jan, 
	sum(case when MONTH(datesold) = 2 then numberSold else 0 end )as Feb, 
	sum(case when MONTH(datesold) = 3 then numberSold else 0 end )as Mar, 
	sum(case when MONTH(datesold) = 4 then numberSold else 0 end )as Apr, 
	sum(case when MONTH(datesold) = 5 then numberSold else 0 end )as May, 
	sum(case when MONTH(datesold) = 6 then numberSold else 0 end )as Jun, 
	sum(case when MONTH(datesold) = 7 then numberSold else 0 end )as Jul, 
	sum(case when MONTH(datesold) = 8 then numberSold else 0 end )as Aug, 
	sum(case when MONTH(datesold) = 9 then numberSold else 0 end )as Sep, 
	sum(case when MONTH(datesold) = 10 then numberSold else 0 end )as Oct, 
	sum(case when MONTH(datesold) = 11 then numberSold else 0 end )as Nov, 
	sum(case when MONTH(datesold) = 12 then numberSold else 0 end )as Dec, 
	sum(numberSold )as Total into #temp 
from dbo.SalesBoard as s 
	inner join Logins as l  
		on s.loginID = l.id 
	--	and l.DoubtfulAccount = 0 
		and l.StaffAccount = 0 
  
group by YEAR(datesold)  
 
 
union all 
 
select YEAR(datesold) as [Year], 
	--case when @CompanyOrigin = 99 then 99 else companyorigin end as ctype, 
	sum(case when MONTH(datesold) = 1 then numberSold else 0 end )as Jan, 
	sum(case when MONTH(datesold) = 2 then numberSold else 0 end )as Feb, 
	sum(case when MONTH(datesold) = 3 then numberSold else 0 end )as Mar, 
	sum(case when MONTH(datesold) = 4 then numberSold else 0 end )as Apr, 
	sum(case when MONTH(datesold) = 5 then numberSold else 0 end )as May, 
	sum(case when MONTH(datesold) = 6 then numberSold else 0 end )as Jun, 
	sum(case when MONTH(datesold) = 7 then numberSold else 0 end )as Jul, 
	sum(case when MONTH(datesold) = 8 then numberSold else 0 end )as Aug, 
	sum(case when MONTH(datesold) = 9 then numberSold else 0 end )as Sep, 
	sum(case when MONTH(datesold) = 10 then numberSold else 0 end )as Oct, 
	sum(case when MONTH(datesold) = 11 then numberSold else 0 end )as Nov, 
	sum(case when MONTH(datesold) = 12 then numberSold else 0 end )as Dec, 
	sum(numberSold )as Total 
from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.SalesBoard as s 
	inner join [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Logins as l 
		on s.loginID = l.id 
where   dateSold >= '8/1/17'  
--and l.DoubtfulAccount = 0 
		and l.StaffAccount = 0 
 
group by YEAR(datesold)  
order by YEAR(datesold) 
 
select [Year] as 'Year', SUM(Jan) as Jan,SUM(feb) as Feb,SUM(mar) as Mar, 
SUM(Apr) as Apr, SUM(May) as May,SUM(Jun) as Jun, SUM(jul)as Jul 
,sum(Aug) as Aug,Sum(Sep) as Sep,sum(oct) as Oct,Sum(nov) as Nov 
,Sum(Dec) as Dec, Sum(total) as Total 
from #temp 
group by [year] 
END  
--select *   from dbo.SalesBoard  
  
GO
