USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimateSummary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[AdminInfoID] [int] NULL,
	[EstimateNumber] [int] NULL,
	[WorkOrderNumber] [int] NULL,
	[JobStatusID] [int] NULL,
	[SupplementLevel] [int] NULL,
	[Description] [varchar](100) NULL,
	[DateCreated] [datetime] NULL,
	[LastView] [datetime] NULL,
	[Name] [varchar](100) NULL,
	[BusinessName] [varchar](100) NULL,
	[Vehicle] [varchar](100) NULL,
	[Vin] [varchar](50) NULL,
	[VehicleValue] [money] NULL,
	[Status] [varchar](100) NULL,
	[GrandTotal] [money] NULL,
	[TotalLossPercent] [real] NULL,
	[IsTotalLoss] [bit] NULL,
	[HasImages] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_EstimateSummary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NonClusteredIndex-AdminInfoID] ON [dbo].[EstimateSummary]
(
	[AdminInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NonClusteredIndex-LoginID] ON [dbo].[EstimateSummary]
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
