USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEstimationLineItem]   
	 @id					int = null 
AS 
BEGIN 
	DELETE FROM EstimationLineItems WHERE id = @id 
 
	DELETE FROM EstimationLineLabor WHERE EstimationLineItemsID = @id 
end 
GO
