USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/4/2020
-- Description:	Get all contracts that need to be synced with Success Box
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBox_GetContractsToSync] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Contracts.*
	FROM SuccessBoxAccountLog
	JOIN Contracts ON SuccessBoxAccountLog.LoginID = Contracts.LoginID --AND Contracts.IsDeleted = 0
	LEFT OUTER JOIN SuccessBoxContractLog ON Contracts.ContractID = SuccessBoxContractLog.ContractID AND SuccessBoxContractLog.AddOnID = 0
	WHERE ISNULL(IsSynced, 0) = 0

END
GO
