USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 4/3/2018
-- Description:	Copied from App_Functions
-- =============================================
CREATE PROCEDURE [dbo].[Overlaps_DeleteProposals] 
	@AdminInfoID		int
AS
BEGIN

	DELETE FROM EstimationOverlapProposed  
	WHERE AdminInfoID = @AdminInfoID 

END

GO
