USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/27/2023
-- Description:	Get all Partner Network records
-- =============================================
CREATE PROCEDURE [dbo].[PartnerNetwork_GetAll]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM PartnerNetwork
	ORDER BY SortOrder
END
GO
