USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetAdminInfoByadmininfoid]
@admininfoid int
AS
SELECT 	[id]
	,[CreatorID]
	,[Description]
	,[CustomerProfilesID]
	,[GrandTotal]
	,[BettermentTotal]
	,[EstimateNumber]
	,[WorkOrderNumber]
	,[PrintDescription]
	,[Archived]
FROM AdminInfo WITH(NOLOCK)
where id = @admininfoid


GO
