USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/4/2020
-- Description:	Get all unsynced feature logs
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBox_GetUnsynced]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- NOTE: Success Box is rate limited to 200 posts per minute.  In testing we were only able to process 3 logs per second, so about 180 per minute. Limit to 150 to keep things running smoothly
	SELECT TOP 150 * 
	FROM SuccessBoxFeatureLog
	WHERE SyncStamp IS NULL
    
END
GO
