USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ActionShort] [varchar](10) NOT NULL,
	[ActionLong] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
	[ColorR] [numeric](5, 3) NOT NULL,
	[ColorG] [numeric](5, 3) NOT NULL,
	[ColorB] [numeric](5, 3) NOT NULL,
	[EMSOpCode] [varchar](10) NULL,
	[EMSActionCode] [varchar](10) NULL,
 CONSTRAINT [PK_ActionList] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActionList] ADD  CONSTRAINT [DF_ActionList_ColorR]  DEFAULT (0.5) FOR [ColorR]
GO
ALTER TABLE [dbo].[ActionList] ADD  CONSTRAINT [DF_ActionList_ColorG]  DEFAULT (0.5) FOR [ColorG]
GO
ALTER TABLE [dbo].[ActionList] ADD  CONSTRAINT [DF_ActionList_ColorB]  DEFAULT (0.5) FOR [ColorB]
GO
ALTER TABLE [dbo].[ActionList]  WITH CHECK ADD  CONSTRAINT [CK_ActionList] CHECK  (([ColorR] >= 0 and [ColorR] <= 1 and [ColorG] >= 0 and [ColorG] <= 1 and [ColorB] >= 0 and [ColorB] <= 1))
GO
ALTER TABLE [dbo].[ActionList] CHECK CONSTRAINT [CK_ActionList]
GO
