USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/15/2018 
-- Description:	Get a PDR Estimate Data record by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_EstimateDataPanelSupplementChange_GetByEstimateDataPanelID] 
	@estimateDataPanelID		int 
	 
AS 
BEGIN 
	SELECT * 
	FROM PDR_EstimateDataPanelSupplementChange 
	WHERE EstimateDataPanelID = @estimateDataPanelID 
END 
GO
