USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimationLineLabor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EstimationLineItemsID] [int] NOT NULL,
	[LaborType] [tinyint] NOT NULL,
	[LaborSubType] [smallint] NULL,
	[LaborTime] [real] NULL,
	[LaborCost] [money] NULL,
	[BettermentFlag] [bit] NULL,
	[SubletFlag] [bit] NULL,
	[UniqueSequenceNumber] [int] NULL,
	[ModifiesID] [int] NULL,
	[AdjacentDeduction] [tinyint] NULL,
	[MajorPanel] [bit] NULL,
	[BettermentPercentage] [real] NULL,
	[dbLaborTime] [real] NULL,
	[AdjacentDeductionLock] [bit] NULL,
	[barcode] [varchar](10) NULL,
	[Lock] [bit] NULL,
	[Include] [bit] NULL,
	[WebEstID] [int] NULL,
	[BettermentType] [char](10) NULL,
 CONSTRAINT [PK_EstimationLineLabor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_EstimationLineLabor_7_1182627256__K2_K1_K3_5] ON [dbo].[EstimationLineLabor]
(
	[EstimationLineItemsID] ASC,
	[id] ASC,
	[LaborType] ASC
)
INCLUDE([LaborTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_EstimationLineLabor_7_1182627256__K3_K2_5] ON [dbo].[EstimationLineLabor]
(
	[LaborType] ASC,
	[EstimationLineItemsID] ASC
)
INCLUDE([LaborTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_EstimationLineLabor] ON [dbo].[EstimationLineLabor]
(
	[EstimationLineItemsID] ASC,
	[LaborType] ASC,
	[LaborSubType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [LineItemId_LaborType] ON [dbo].[EstimationLineLabor]
(
	[EstimationLineItemsID] ASC,
	[LaborType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstimationLineLabor] ADD  CONSTRAINT [DF_EstimationLineLabor_Lock]  DEFAULT (0) FOR [Lock]
GO
