USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ProcessEstimateItemString]
	@AdminInfoID Int,
	@InfoString VarChar(2000),
	@StepsID Int
AS
	DECLARE @i Int
	DECLARE @ItemString VarChar(500)
	DECLARE @URI Real			--0      User RI
	DECLARE @URR Real			--1      User RR
	DECLARE @UReplace Real			--2      User Replace
	DECLARE @URepair Real			--3      User Repair
	DECLARE @UAdjDed Int			--4      User Adjacent Deduction
	DECLARE @URefinish Real			--5      User Refinish
	DECLARE @UAllowance Real		--6      User Allowance
	DECLARE @UClearcoat Real		--7      User Clearcoat
	DECLARE @UBlend Real			--8      User Blend
	DECLARE @UUnderside Real		--9      User Underside
	DECLARE @UEdge Real			--10     User Edge
	DECLARE @URI_ID Int			--11     User RI ID
	DECLARE @URR_ID Int			--12     User RR ID
	DECLARE @UReplace_ID Int		--13     User Replace ID
	DECLARE @URepair_ID Int			--14     User Repair ID
	DECLARE @URefinish_ID Int		--15     User Refinish ID
	DECLARE @ULaborType Int			--16     LaborType
	DECLARE @UPaintType Int			--17     PaintType
	DECLARE @UPartNumber VarChar(25)	--18     Part Number
	DECLARE @USourceID Int	        	--19 	 Source ID
	DECLARE @USourcePartNumber VarChar(25)	--20	 Source Part Number
	DECLARE @USourceType VarChar(25)	--21	 Source Type
	DECLARE @EstimationLineItemsID Int
	DECLARE @Function VarChar(25)
	DECLARE	@PartNumber VarChar(25)
	DECLARE	@Price Real
	DECLARE	@Description  VarChar(50)
	DECLARE	@PartSource VarChar(20)
	DECLARE	@Operation VarChar(50)
	DECLARE	@OpDesc VarChar(50)
	DECLARE	@LaborTime Real
	DECLARE	@LaborType Int
	DECLARE	@PaintTime Real
	DECLARE	@PaintType Int
	DECLARE	@OtherCharge Real
	DECLARE	@Other Real
	DECLARE	@ClearcoatTime Real
	DECLARE	@BlendTime Real
	DECLARE	@EdgingType Int
	DECLARE	@EdgingTime Real
	DECLARE	@InternalNotes VarChar(500)
	DECLARE	@ExternalNotes  VarChar(500)
	DECLARE	@Overhaul Bit
	DECLARE	@Qty Int
	DECLARE	@OperationBetterment Bit
	DECLARE	@OperationSublet Bit
	DECLARE	@PartBetterment Bit
	DECLARE	@PartSublet Bit
	DECLARE	@LaborBetterment Bit
	DECLARE	@LaborSublet Bit
	DECLARE	@PaintBetterment Bit
	DECLARE	@PaintSublet Bit
	DECLARE	@VendorID Int
	DECLARE	@Allowance Real
	DECLARE	@UndersideTime Real
	DECLARE	@AdjacentDeduction Int
	DECLARE	@MajorPanel Bit
	DECLARE	@CustomerPrice Real
	DECLARE	@Return Int
	DECLARE @RefinishDone Bit

	SELECT 
		@i = 0,
		@ItemString = '*',
		@RefinishDone = 0

	WHILE @ItemString <> '' 
	BEGIN
		SELECT	@ItemString = FocusWrite.dbo.Extract(@InfoString,@i,CHAR(10)),
			@RefinishDone = 0
		IF @ItemString <> '' 
		BEGIN
			SELECT @URI = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,0,CHAR(9)))			--0      User RI
			SELECT @URR = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,1,CHAR(9)))			--1      User RR
			SELECT @UReplace = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,2,CHAR(9)))			--2      User Replace
			SELECT @URepair = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,3,CHAR(9)))			--3      User Repair
			SELECT @UAdjDed = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,4,CHAR(9)))			--4      User Adjacent Deduction
			SELECT @URefinish = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,5,CHAR(9)))			--5      User Refinish
			SELECT @UAllowance = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,6,CHAR(9)))		--6      User Allowance
			SELECT @UClearcoat = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,7,CHAR(9)))		--7      User Clearcoat
			SELECT @UBlend = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,8,CHAR(9)))			--8      User Blend
			SELECT @UUnderside = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,9,CHAR(9)))		--9      User Underside
			SELECT @UEdge = CONVERT(Real,FocusWrite.dbo.Extract(@ItemString,10,CHAR(9)))			--10     User Edge
			SELECT @URI_ID = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,11,CHAR(9)))			--11     User RI ID
			SELECT @URR_ID = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,12,CHAR(9)))			--12     User RR ID
			SELECT @UReplace_ID = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,13,CHAR(9)))		--13     User Replace ID
			SELECT @URepair_ID = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,14,CHAR(9)))		--14     User Repair ID
			SELECT @URefinish_ID = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,15,CHAR(9)))		--15     User Refinish ID
			SELECT @ULaborType = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,16,CHAR(9)))		--16     LaborType
			SELECT @UPaintType = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,17,CHAR(9)))		--17     PaintType
			SELECT @UPartNumber = FocusWrite.dbo.Extract(@ItemString,18,CHAR(9))				--18     Part Number
			SELECT @USourceID = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,19,CHAR(9)))     		--19 	 Source ID
			SELECT @USourcePartNumber = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,19,CHAR(9)))  	--20 	 Source Part Number
			SELECT @USourceType = CONVERT(Int,FocusWrite.dbo.Extract(@ItemString,19,CHAR(9)))     		--21 	 Source Type

			SELECT @AdjacentDeduction = 	CASE	WHEN @UAdjDed = 0 THEN 	0	--First Panel
								WHEN @UAdjDed = 1 AND CustomerProfilesPaint.AllowDeductions <> 0 THEN CustomerProfilesPaint.AdjacentDeduction	--Adjacent
								WHEN @UAdjDed = 2 AND CustomerProfilesPaint.AllowDeductions <> 0 THEN CustomerProfilesPaint.NonAdjacentDeduction	--Nonadjacent
							END
			FROM AdminInfo WITH (NOLOCK)
			INNER JOIN CustomerProfilesPaint WITH (NOLOCK) ON
				(CustomerProfilesPaint.CustomerProfilesID = AdminInfo.CustomerProfilesID)
			WHERE AdminInfo.id = @AdminInfoID

			SELECT @Description = CASE 	WHEN StepListToElements.VehiclePosition = 'L' THEN 'Left '
							WHEN StepListToElements.VehiclePosition = 'R' THEN 'Right '
							ELSE ''
						END + StepElementsTextValuesLastStep.TextValue
			FROM EstimationData WITH (NOLOCK)
			INNER JOIN VehicleInfo WITH (NOLOCK) ON
				(VehicleInfo.EstimationDataId = EstimationData.Id)
			INNER JOIN Vehicles.dbo.VehicleSteps VehicleSteps WITH (NOLOCK) ON
				(VehicleSteps.VehicleID = VehicleInfo.VehicleID)
			INNER JOIN Vehicles.dbo.VehicleSections VehicleSections WITH (NOLOCK) ON
				(VehicleSections.id = @StepsID)
			INNER JOIN Vehicles.dbo.VehicleSectionParts VehicleSectionParts WITH (NOLOCK) ON
				(VehicleSectionParts.VehicleSectionsID = VehicleSections.id)
			INNER JOIN Vehicles.dbo.StepList StepList WITH (NOLOCK) ON
				(StepList.VehicleStepsID = VehicleSteps.id AND
				 StepList.StepsID = VehicleSectionParts.StepsID)
			INNER JOIN Vehicles.dbo.StepListToElements StepListToElements WITH (NOLOCK) ON
				(StepListToElements.StepListID = StepList.id)
			INNER JOIN Vehicles.dbo.Steps StepsBig WITH (NOLOCK) ON
				(StepsBig.id = StepList.StepsID)
			INNER JOIN Vehicles.dbo.StepElementTextValues StepElementsTextValuesLastStep WITH (NOLOCK) ON
				(	(ISNULL(StepsBig.Step6TextValuesID,43) = 43 AND ISNULL(StepsBig.Step5TextValuesID,43) = 43 AND ISNULL(StepsBig.Step4TextValuesID,43) = 43 AND 
					 StepElementsTextValuesLastStep.ID = StepsBig.Step3TextValuesID) OR
					(ISNULL(StepsBig.Step6TextValuesID,43) = 43 AND ISNULL(StepsBig.Step5TextValuesID,43) = 43 AND ISNULL(StepsBig.Step4TextValuesID,43) <> 43  AND 
					 StepElementsTextValuesLastStep.ID = StepsBig.Step4TextValuesID) OR
					(ISNULL(StepsBig.Step6TextValuesID,43) = 43 AND ISNULL(StepsBig.Step5TextValuesID,43) <> 43 AND ISNULL(StepsBig.Step4TextValuesID,43) <> 43  AND   
					 StepElementsTextValuesLastStep.ID = StepsBig.Step5TextValuesID) OR
					(ISNULL(StepsBig.Step6TextValuesID,43) <> 43 AND ISNULL(StepsBig.Step5TextValuesID,43) <> 43 AND ISNULL(StepsBig.Step4TextValuesID,43) <> 43  AND   
					 StepElementsTextValuesLastStep.ID = StepsBig.Step6TextValuesID)
				)
			WHERE EstimationData.AdminInfoID = @AdminInfoID 

			SELECT @MajorPanel = 	CASE	WHEN @UAdjDed = 0 THEN 1
							ELSE 0
						END

			--************************ Repair
			IF @URepair>0 
			BEGIN
				IF @URepair_ID <=0
				BEGIN
					--Add Repair
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = 195,
						@EstimationLineItemsID = NULL
				END
				ELSE IF @URepair_ID > 0
				BEGIN
					--Update Repair
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = NULL,
						@EstimationLineItemsID = @URepair_ID
				END
				SELECT @RefinishDone = 1,
					@StepsID = @StepsID,
					@PartNumber = @PartNumber,
					@Price = @Price,
					@Description = @Description,
					@PartSource = @USourceType,
					@Operation = 'Repair',
					@LaborTime = @URepair,
					@LaborType = @ULaborType,
					@VendorID = @USourceID,
					@CustomerPrice = @Price,
					@OtherCharge = 0, @Other = 0, @InternalNotes = '', @ExternalNotes = '', @Overhaul = 0, @Qty = 1,
					 @OperationSublet = 0, @PartBetterment = 0, @PartSublet = 0,
					@LaborBetterment = 0, @LaborSublet = 0, @PaintBetterment = 0, @PaintSublet = 0, @OpDesc = ''
				
				--Paint Times
				IF (@URefinish >0 OR @UAllowance > 0 OR @UClearcoat > 0 OR @UBlend > 0 OR @UUnderside > 0 OR @UEdge > 0 ) AND @RefinishDone =0
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = @PaintTime,
						@PaintType = @PaintType,
						@ClearcoatTime = @ClearcoatTime,
						@BlendTime = @BlendTime,
						@EdgingType = 0,
						@EdgingTime = @EdgingTime,
						@Allowance = @Allowance,
						@UndersideTime = @UndersideTime,
						@AdjacentDeduction = @AdjacentDeduction,
						@MajorPanel = @MajorPanel
				END 
				ELSE
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = 0,
						@PaintType = 0,
						@ClearcoatTime = 0,
						@BlendTime = 0,
						@EdgingType = 0,
						@EdgingTime = 0,
						@Allowance = 0,
						@UndersideTime = 0,
						@AdjacentDeduction = 0,
						@MajorPanel = 0
				END 
				EXECUTE App_Functions @Function = @Function, @AdminInfoID = @AdminInfoID, @EstimationLineItemsID = @EstimationLineItemsID, 
					@StepID = @StepsID, @PartNumber = @PartNumber, @Price = @Price, @Description = @Description, @PartSource = @PartSource, 
					@Operation = @Operation, @OpDesc = @OpDesc, @LaborTime = @LaborTime, @LaborType = @LaborType, @PaintTime = @PaintTime, 
					@PaintType = @PaintType, @OtherCharge = @OtherCharge, @Other = @Other, @ClearcoatTime = @ClearcoatTime, 
					@BlendTime = @BlendTime, @EdgingType = @EdgingType, @EdgingTime = @EdgingTime, @InternalNotes = @InternalNotes, 
					@ExternalNotes = @ExternalNotes, @Overhaul = @Overhaul, @Qty = @Qty, 
					@OperationSublet = @OperationSublet, @PartBetterment = @PartBetterment, @PartSublet = @PartSublet, 
					@LaborBetterment = @LaborBetterment, @LaborSublet = @LaborSublet, @PaintBetterment = @PaintBetterment, 
					@PaintSublet = @PaintSublet, @VendorID = @VendorID, @Allowance = @Allowance, @UndersideTime = @UndersideTime, 
					@AdjacentDeduction = @AdjacentDeduction, @MajorPanel = @MajorPanel, @CustomerPrice = @CustomerPrice, 
					@Return = @Return OUTPUT

			END
			ELSE IF @URepair=0 AND @URepair_ID > 0
			BEGIN
				--Delete Repair
				SELECT @RefinishDone = 0
				EXECUTE App_Functions 
					@Function = 'DeleteEstimateLineItem',
					@EstimationLineItemsID = @URepair_ID
			END

			--************************ RR
			IF @URR>0 
			BEGIN
				IF @URR_ID <=0
				BEGIN
					--Add RR
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = 195,
						@EstimationLineItemsID = NULL
				END
				ELSE IF @URR_ID > 0
				BEGIN
					--Update RR
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = NULL,
						@EstimationLineItemsID = @URR_ID
				END
				SELECT @RefinishDone = 1,
					@StepsID = @StepsID,
					@PartNumber = @PartNumber,
					@Price = @Price,
					@Description = @Description,
					@PartSource = @USourceType,
					@Operation = 'RR',
					@LaborTime = @URR,
					@LaborType = @ULaborType,
					@VendorID = @USourceID,
					@CustomerPrice = @Price,
					@OtherCharge = 0, @Other = 0, @InternalNotes = '', @ExternalNotes = '', @Overhaul = 0, @Qty = 1,
					@OperationSublet = 0, @PartBetterment = 0, @PartSublet = 0,
					@LaborBetterment = 0, @LaborSublet = 0, @PaintBetterment = 0, @PaintSublet = 0, @OpDesc = ''
				
				--Paint Times
				IF (@URefinish >0 OR @UAllowance > 0 OR @UClearcoat > 0 OR @UBlend > 0 OR @UUnderside > 0 OR @UEdge > 0 ) AND @RefinishDone =0
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = @PaintTime,
						@PaintType = @PaintType,
						@ClearcoatTime = @ClearcoatTime,
						@BlendTime = @BlendTime,
						@EdgingType = 0,
						@EdgingTime = @EdgingTime,
						@Allowance = @Allowance,
						@UndersideTime = @UndersideTime,
						@AdjacentDeduction = @AdjacentDeduction,
						@MajorPanel = @MajorPanel
				END 
				ELSE
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = 0,
						@PaintType = 0,
						@ClearcoatTime = 0,
						@BlendTime = 0,
						@EdgingType = 0,
						@EdgingTime = 0,
						@Allowance = 0,
						@UndersideTime = 0,
						@AdjacentDeduction = 0,
						@MajorPanel = 0
				END 

			END
			ELSE IF @URR=0 AND @URR_ID > 0
			BEGIN
				--Delete RR
				SELECT @RefinishDone = 0
				EXECUTE App_Functions 
					@Function = 'DeleteEstimateLineItem',
					@EstimationLineItemsID = @URR_ID
			END


			--************************ RI
			IF @URI>0 
			BEGIN
				IF @URI_ID <=0
				BEGIN
					--Add RI
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = 195,
						@EstimationLineItemsID = NULL
				END
				ELSE IF @URI_ID > 0
				BEGIN
					--Update RI
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = NULL,
						@EstimationLineItemsID = @URI_ID
				END
				SELECT @RefinishDone = 1,
					@StepsID = @StepsID,
					@PartNumber = @PartNumber,
					@Price = @Price,
					@Description = @Description,
					@PartSource = @USourceType,
					@Operation = 'RI',
					@LaborTime = @URI,
					@LaborType = @ULaborType,
					@VendorID = @USourceID,
					@CustomerPrice = @Price,
					@OtherCharge = 0, @Other = 0, @InternalNotes = '', @ExternalNotes = '', @Overhaul = 0, @Qty = 1,
					@OperationSublet = 0, @PartBetterment = 0, @PartSublet = 0,
					@LaborBetterment = 0, @LaborSublet = 0, @PaintBetterment = 0, @PaintSublet = 0, @OpDesc = ''
				
				--Paint Times
				IF (@URefinish >0 OR @UAllowance > 0 OR @UClearcoat > 0 OR @UBlend > 0 OR @UUnderside > 0 OR @UEdge > 0 ) AND @RefinishDone =0
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = @PaintTime,
						@PaintType = @PaintType,
						@ClearcoatTime = @ClearcoatTime,
						@BlendTime = @BlendTime,
						@EdgingType = 0,
						@EdgingTime = @EdgingTime,
						@Allowance = @Allowance,
						@UndersideTime = @UndersideTime,
						@AdjacentDeduction = @AdjacentDeduction,
						@MajorPanel = @MajorPanel
				END 
				ELSE
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = 0,
						@PaintType = 0,
						@ClearcoatTime = 0,
						@BlendTime = 0,
						@EdgingType = 0,
						@EdgingTime = 0,
						@Allowance = 0,
						@UndersideTime = 0,
						@AdjacentDeduction = 0,
						@MajorPanel = 0
				END 
				EXECUTE App_Functions @Function = @Function, @AdminInfoID = @AdminInfoID, @EstimationLineItemsID = @EstimationLineItemsID, 
					@StepID = @StepsID, @PartNumber = @PartNumber, @Price = @Price, @Description = @Description, @PartSource = @PartSource, 
					@Operation = @Operation, @OpDesc = @OpDesc, @LaborTime = @LaborTime, @LaborType = @LaborType, @PaintTime = @PaintTime, 
					@PaintType = @PaintType, @OtherCharge = @OtherCharge, @Other = @Other, @ClearcoatTime = @ClearcoatTime, 
					@BlendTime = @BlendTime, @EdgingType = @EdgingType, @EdgingTime = @EdgingTime, @InternalNotes = @InternalNotes, 
					@ExternalNotes = @ExternalNotes, @Overhaul = @Overhaul, @Qty = @Qty, 
					@OperationSublet = @OperationSublet, @PartBetterment = @PartBetterment, @PartSublet = @PartSublet, 
					@LaborBetterment = @LaborBetterment, @LaborSublet = @LaborSublet, @PaintBetterment = @PaintBetterment, 
					@PaintSublet = @PaintSublet, @VendorID = @VendorID, @Allowance = @Allowance, @UndersideTime = @UndersideTime, 
					@AdjacentDeduction = @AdjacentDeduction, @MajorPanel = @MajorPanel, @CustomerPrice = @CustomerPrice, 
					@Return = @Return OUTPUT

			END
			ELSE IF @URI=0 AND @URI_ID > 0
			BEGIN
				--Delete RI
				SELECT @RefinishDone = 0
				EXECUTE App_Functions 
					@Function = 'DeleteEstimateLineItem',
					@EstimationLineItemsID = @URI_ID
			END


			--************************ Replace
			IF @UReplace>0 
			BEGIN
				IF @UReplace_ID <=0
				BEGIN
					--Add Replace
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = 195,
						@EstimationLineItemsID = NULL
				END
				ELSE IF @UReplace_ID > 0
				BEGIN
					--Update Replace
					SELECT	@Function = 'AddEstimateLineItem',
						@AdminInfoID = NULL,
						@EstimationLineItemsID = @UReplace_ID
				END
				SELECT @RefinishDone = 1,
					@StepsID = @StepsID,
					@PartNumber = @PartNumber,
					@Price = @Price,
					@Description = @Description,
					@PartSource = @USourceType,
					@Operation = 'Replace',
					@LaborTime = @UReplace,
					@LaborType = @ULaborType,
					@VendorID = @USourceID,
					@CustomerPrice = @Price,
					@OtherCharge = 0, @Other = 0, @InternalNotes = '', @ExternalNotes = '', @Overhaul = 0, @Qty = 1,
					@OperationSublet = 0, @PartBetterment = 0, @PartSublet = 0,
					@LaborBetterment = 0, @LaborSublet = 0, @PaintBetterment = 0, @PaintSublet = 0, @OpDesc = ''
				
				--Paint Times
				IF (@URefinish >0 OR @UAllowance > 0 OR @UClearcoat > 0 OR @UBlend > 0 OR @UUnderside > 0 OR @UEdge > 0 ) AND @RefinishDone =0
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = @PaintTime,
						@PaintType = @PaintType,
						@ClearcoatTime = @ClearcoatTime,
						@BlendTime = @BlendTime,
						@EdgingType = 0,
						@EdgingTime = @EdgingTime,
						@Allowance = @Allowance,
						@UndersideTime = @UndersideTime,
						@AdjacentDeduction = @AdjacentDeduction,
						@MajorPanel = @MajorPanel
				END 
				ELSE
				BEGIN
					--Add Refinish
					SELECT @RefinishDone = 1,
						@PaintTime = 0,
						@PaintType = 0,
						@ClearcoatTime = 0,
						@BlendTime = 0,
						@EdgingType = 0,
						@EdgingTime = 0,
						@Allowance = 0,
						@UndersideTime = 0,
						@AdjacentDeduction = 0,
						@MajorPanel = 0
				END 
				EXECUTE App_Functions @Function = @Function, @AdminInfoID = @AdminInfoID, @EstimationLineItemsID = @EstimationLineItemsID, 
					@StepID = @StepsID, @PartNumber = @PartNumber, @Price = @Price, @Description = @Description, @PartSource = @PartSource, 
					@Operation = @Operation, @OpDesc = @OpDesc, @LaborTime = @LaborTime, @LaborType = @LaborType, @PaintTime = @PaintTime, 
					@PaintType = @PaintType, @OtherCharge = @OtherCharge, @Other = @Other, @ClearcoatTime = @ClearcoatTime, 
					@BlendTime = @BlendTime, @EdgingType = @EdgingType, @EdgingTime = @EdgingTime, @InternalNotes = @InternalNotes, 
					@ExternalNotes = @ExternalNotes, @Overhaul = @Overhaul, @Qty = @Qty,  
					@OperationSublet = @OperationSublet, @PartBetterment = @PartBetterment, @PartSublet = @PartSublet, 
					@LaborBetterment = @LaborBetterment, @LaborSublet = @LaborSublet, @PaintBetterment = @PaintBetterment, 
					@PaintSublet = @PaintSublet, @VendorID = @VendorID, @Allowance = @Allowance, @UndersideTime = @UndersideTime, 
					@AdjacentDeduction = @AdjacentDeduction, @MajorPanel = @MajorPanel, @CustomerPrice = @CustomerPrice, 
					@Return = @Return OUTPUT

			END
			ELSE IF @UReplace=0 AND @UReplace_ID > 0
			BEGIN
				--Delete Replace
				SELECT @RefinishDone = 0
				EXECUTE App_Functions 
					@Function = 'DeleteEstimateLineItem',
					@EstimationLineItemsID = @UReplace_ID
			END


			--************************ Refinish
			IF (@URefinish >0 OR @UAllowance > 0 OR @UClearcoat > 0 OR @UBlend > 0 OR @UUnderside > 0 OR @UEdge > 0 ) AND @RefinishDone =0
			BEGIN
				--Add Refinish
				SELECT @RefinishDone = 1
				IF @URefinish>0 
				BEGIN
					IF @URefinish_ID <=0
					BEGIN
						--Add Refinish
						SELECT	@Function = 'AddEstimateLineItem',
							@AdminInfoID = 195,
							@EstimationLineItemsID = NULL
					END
					ELSE IF @URefinish_ID > 0
					BEGIN
						--Update Refinish
						SELECT	@Function = 'AddEstimateLineItem',
							@AdminInfoID = NULL,
							@EstimationLineItemsID = @URefinish_ID
					END
					SELECT @RefinishDone = 1,
						@StepsID = @StepsID,
						@PartNumber = @PartNumber,
						@Price = @Price,
						@Description = @Description,
						@PartSource = @USourceType,
						@Operation = 'Refinish',
						@LaborTime = 0,
						@LaborType = 0,
						@VendorID = @USourceID,
						@CustomerPrice = @Price,
						@OtherCharge = 0, @Other = 0, @InternalNotes = '', @ExternalNotes = '', @Overhaul = 0, @Qty = 1,
						@OperationSublet = 0, @PartBetterment = 0, @PartSublet = 0,
						@LaborBetterment = 0, @LaborSublet = 0, @PaintBetterment = 0, @PaintSublet = 0, @OpDesc = ''
					
					--Paint Times
					IF (@URefinish >0 OR @UAllowance > 0 OR @UClearcoat > 0 OR @UBlend > 0 OR @UUnderside > 0 OR @UEdge > 0 ) AND @RefinishDone =0
					BEGIN
						--Add Refinish
						SELECT @RefinishDone = 1,
							@PaintTime = @PaintTime,
							@PaintType = @PaintType,
							@ClearcoatTime = @ClearcoatTime,
							@BlendTime = @BlendTime,
							@EdgingType = 0,
							@EdgingTime = @EdgingTime,
							@Allowance = @Allowance,
							@UndersideTime = @UndersideTime,
							@AdjacentDeduction = @AdjacentDeduction,
							@MajorPanel = @MajorPanel
					END 
					ELSE
					BEGIN
						--Add Refinish
						SELECT @RefinishDone = 1,
							@PaintTime = 0,
							@PaintType = 0,
							@ClearcoatTime = 0,
							@BlendTime = 0,
							@EdgingType = 0,
							@EdgingTime = 0,
							@Allowance = 0,
							@UndersideTime = 0,
							@AdjacentDeduction = 0,
							@MajorPanel = 0
					END 
				EXECUTE App_Functions @Function = @Function, @AdminInfoID = @AdminInfoID, @EstimationLineItemsID = @EstimationLineItemsID, 
					@StepID = @StepsID, @PartNumber = @PartNumber, @Price = @Price, @Description = @Description, @PartSource = @PartSource, 
					@Operation = @Operation, @OpDesc = @OpDesc, @LaborTime = @LaborTime, @LaborType = @LaborType, @PaintTime = @PaintTime, 
					@PaintType = @PaintType, @OtherCharge = @OtherCharge, @Other = @Other, @ClearcoatTime = @ClearcoatTime, 
					@BlendTime = @BlendTime, @EdgingType = @EdgingType, @EdgingTime = @EdgingTime, @InternalNotes = @InternalNotes, 
					@ExternalNotes = @ExternalNotes, @Overhaul = @Overhaul, @Qty = @Qty,  
					@OperationSublet = @OperationSublet, @PartBetterment = @PartBetterment, @PartSublet = @PartSublet, 
					@LaborBetterment = @LaborBetterment, @LaborSublet = @LaborSublet, @PaintBetterment = @PaintBetterment, 
					@PaintSublet = @PaintSublet, @VendorID = @VendorID, @Allowance = @Allowance, @UndersideTime = @UndersideTime, 
					@AdjacentDeduction = @AdjacentDeduction, @MajorPanel = @MajorPanel, @CustomerPrice = @CustomerPrice, 
					@Return = @Return OUTPUT
	
				END
				ELSE IF @URefinish=0 AND @URefinish_ID > 0
				BEGIN
					--Delete Refinish
					EXECUTE App_Functions 
						@Function = 'DeleteEstimateLineItem',
						@EstimationLineItemsID = @URefinish_ID
				END
			END
 
		END	

		SELECT 	@i = @i + 1
	END



GO
