USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE  [dbo].[sp_GetEstimateListRB]
	@LoginsID int, 
	@CustomerID int = 0,
	@FilterOption TinyInt = 0,
	@SearchText VarChar(50) = NULL,
	@Deleted BIT = 0,

	@AdvancedSearch BIT = 1,
	@Advanced_EstimateID VARCHAR(20) = '',
	@Advanced_EstimateNumber VARCHAR(20) = '',
	@Advanced_EstimateDescription VARCHAR(20) = '',
	@Advanced_WorkOrderNumber VARCHAR(20) = '',
	@Advanced_ClaimNumber VARCHAR(20) = '',
	@Advanced_LicensePlate VARCHAR(20) = '',
	@Advanced_VIN VARCHAR(20) = '',
	@Advanced_StockNumber VARCHAR(20) = '',
	@Advanced_PhoneNumber VARCHAR(20) = ''  
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @Top INT = 250;
IF @FilterOption = 0 
	SELECT @Top = 4000

SELECT DISTINCT TOP (@Top)
	  AdminInfo.EstimateNumber
	, ISNULL(AdminInfo.WorkOrderNumber, '') as RepairOrderNumber
	, AdminInfo.id
	, AdminInfo.Description
	, EstimationData.EstimationDate as DateCreated
	, ISNULL(person.FirstName, '') + ' ' + ISNULL(person.LastName, '') + ' ' + ISNULL(person.Phone1, '') AS Name
	, ISNULL(person.BusinessName, '') AS BusinessName
	, CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 THEN
		ISNULL(VehicleInfoManual.ModelYear,'') + ' ' + 
		ISNULL(VehicleInfoManual.Make,'') + ' ' +
		ISNULL(VehicleInfoManual.Model,'') + ' ' + 
		ISNULL(VehicleInfoManual.SubModel,'')
	  ELSE
		vname.VehicleName
	  END 'Vehicle'
	, ISNULL(JobStatus.Description,'') +
	  CASE 

	    When 
		case when ((Convert(float, IsNull(Replace(Admininfo.GrandTotal,',',''),0)) > ISNull(VehicleInfo.VehicleValue,0) * Convert(float,(IsNull(CustomerProfilesMisc.TotalLossPerc,0))/100))  
	and ISNull(VehicleInfo.VehicleValue,0) > 0 and IsNull(CustomerProfilesMisc.TotalLossPerc,0) > 0) then 1 else 0 end =1 Then 'Total Loss'

		WHEN JobStatus.id = 3 THEN ', ' + RIGHT('0'+CONVERT(VarChar(2),DatePart(m,jsh.ActionDate)),2) + '/' + RIGHT('0'+CONVERT(VarChar(2),DatePart(d,jsh.ActionDate)),2) + '/' + CONVERT(VarChar(4),DatePart(yyyy,jsh.ActionDate)) 
		WHEN ISNULL(EstimationData.LockLevel, 0) > 0 THEN 'Supplement ' + CONVERT(VarChar(2),EstimationData.LockLevel)
		ELSE ''
	  END 'Status'
	, AdminInfo.GrandTotal 'TotalCost' 
	, ISNULL(AdminInfo.BettermentTotal, '') 'CustomerCost'
	, '' as CustomerNumber
	, isnull(JobStatus.id,0) 'JobStatusID'
	, isnull(EstimationData.LockLevel,0) 'LockLevel' 
	, CONVERT(Bit,ISNULL(AdminInfo.Archived,0)) 'Archived'
	, ''  as InsuranceName
	, ISNULL(AdminInfo.ClaimNumber, '') AS ClaimNumber
	, ISNULL(AdminInfo.LastView, EstimationData.EstimationDate)  AS LastView 
	, Images.ImageCount
	, 0 AS Imported
FROM AdminInfo with(nolock)
INNER JOIN EstimationData with(nolock) on AdminInfo.id = EstimationData.AdminInfoID
LEFT JOIN VehicleInfo with(nolock) ON EstimationData.ID = VehicleInfo.EstimationDataID
left join (select a.VehicleID,cast(a.vinyear as varchar(4)) + ' ' + b.Make + ' -' + c.Model + ' ' + d.Submodel as VehicleName
		FROM  vinn.dbo.vehicle_service_xref a		
		inner join vinn.dbo.makes b
			on b.makeid = a.makeid
		inner join vinn.dbo.models c
			on c.modelid = a.modelid
		inner join vinn.dbo.submodels d
			on d.submodelid = a.submodelid  
		   ) as VName
		on VName.VehicleID = VehicleInfo.VehicleID
LEFT JOIN VehicleInfoManual with(nolock) ON VehicleInfo.ID = VehicleInfoManual.VehicleInfoID
LEFT OUTER JOIN 
(
	SELECT MAX(id) as ID, AdminInfoID, JobStatusID, ActionDate, ROW_NUMBER() OVER(PARTITION BY AdminInfoID ORDER BY ID DESC) AS row
	FROM JobStatusHistory with(nolock)
	GROUP BY AdminInfoID, JobStatusID, ActionDate, ID
) AS jsh ON AdminInfo.id = jsh.AdminInfoID AND jsh.row = 1
LEFT JOIN JobStatus with(nolock) ON jsh.JobStatusID = JobStatus.id 
LEFT JOIN
(
	SELECT COUNT(EstimationImages.id) AS ImageCount, AdminInfo.id AS AdminInfoID
	FROM AdminInfo  with(nolock) 
	LEFT OUTER JOIN EstimationImages with(nolock) ON AdminInfo.id = EstimationImages.AdminInfoID
	WHERE AdminInfo.CreatorID = @LoginsID AND EstimationImages.Deleted = 0
	GROUP BY AdminInfo.id
) AS Images ON AdminInfo.id = Images.AdminInfoID 
LEFT OUTER JOIN Customer   ON AdminInfo.CustomerID = Customer.ID
left join CustomerProfilesMisc on AdminInfo.CustomerProfilesID = CustomerProfilesMisc.CustomerProfilesID
LEFT OUTER JOIN tbl_ContactPerson  AS person with(nolock) ON Customer.ContactID = person.ContactID
WHERE 
	AdminInfo.CreatorID = @LoginsID 
	AND (@CustomerID = 0 OR AdminInfo.CustomerID = @CustomerID)
	AND AdminInfo.Deleted = @Deleted
	AND 
	(
		(@FilterOption = 4 AND 
		case when ((Convert(float, IsNull(Replace(Admininfo.GrandTotal,',',''),0)) > ISNull(VehicleInfo.VehicleValue,0) * Convert(float,(IsNull(CustomerProfilesMisc.TotalLossPerc,0))/100))  
	and ISNull(VehicleInfo.VehicleValue,0) > 0 and IsNull(CustomerProfilesMisc.TotalLossPerc,0) > 0) then 1 else 0 end=1 
	AND EstimationData.EstimationDate > Convert(varchar(10), getDate()-60, 101) )
		OR
		((ISNULL(@FilterOption,0) = 0 OR ISNULL(@FilterOption,0) = 5))
		OR
		(@FilterOption = 1 AND isnull(JobStatus.id,0)=0) 
		OR 
		(@FilterOption = 2 AND jsh.JobStatusID = 2)
		OR 
		(@FilterOption = 3 AND jsh.JobStatusID = 3)
	)
	AND
	(
		(
			@AdvancedSearch = 1
			AND
			(
				(@Advanced_EstimateID = '' OR AdminInfo.ID = @Advanced_EstimateID)
				AND (@Advanced_EstimateNumber = '' OR AdminInfo.EstimateNumber LIKE '%' + @Advanced_EstimateNumber + '%')
				AND (@Advanced_EstimateDescription = '' OR AdminInfo.[Description] LIKE '%' + @Advanced_EstimateDescription + '%')
				AND (@Advanced_WorkOrderNumber = '' OR ISNULL(AdminInfo.WorkOrderNumber, '') LIKE '%' + @Advanced_WorkOrderNumber + '%')
				AND (@Advanced_ClaimNumber = '' OR ISNULL(EstimationData.ClaimNumber, '') LIKE '%' + @Advanced_ClaimNumber + '%')
				AND (@Advanced_LicensePlate = '' OR ISNULL(VehicleInfo.License, '') LIKE '%' + @Advanced_LicensePlate + '%')
				AND (@Advanced_VIN = '' OR ISNULL(VehicleInfo.Vin, '') LIKE '%' + @Advanced_VIN + '%')
				AND (@Advanced_StockNumber = '' OR ISNULL(VehicleInfo.StockNumber, '') LIKE '%' + @Advanced_StockNumber + '%')
				AND ((@Advanced_PhoneNumber = '' OR ISNULL(person.Phone1, '') LIKE '%' + @Advanced_PhoneNumber + '%') OR
					(@Advanced_PhoneNumber = '' OR ISNULL(person.Phone2, '') LIKE '%' + @Advanced_PhoneNumber + '%'))
			)
		) 
		OR
		(
			@AdvancedSearch = 0
			AND 
			(
				ISNULL(@SearchText, '') = '' 
				OR
				(	
					CAST(AdminInfo.ID AS VARCHAR) LIKE '%' + @SearchText + '%' 
					OR AdminInfo.ClaimNumber LIKE '%' + @SearchText + '%' 
					OR AdminInfo.EstimateNumber LIKE '%' + @SearchText + '%'
					OR AdminInfo.[Description] LIKE '%' + @SearchText + '%'
					OR ISNULL(person.FirstName, '') LIKE '%' + @SearchText + '%' 
					OR ISNULL(person.LastName, '') LIKE '%' + @SearchText + '%' 
					OR ISNULL(person.Phone1, '') LIKE '%' + @SearchText + '%' 
					OR ISNULL(person.BusinessName, '') LIKE '%' + @SearchText + '%' 
					OR VehicleInfo.Vin LIKE '%' + @SearchText + '%'
					OR VehicleInfo.StockNumber LIKE '%' + @SearchText + '%'
					OR CASE	WHEN ISNULL(VehicleInfo.VehicleID,0) = 0 THEN
							ISNULL(VehicleInfoManual.ModelYear,'') + ' ' + 
							ISNULL(VehicleInfoManual.Make,'') + ' ' +
							ISNULL(VehicleInfoManual.Model,'') + ' ' + 
							ISNULL(VehicleInfoManual.SubModel,'')
						ELSE
							vname.VehicleName
						END 
					LIKE '%' + @SearchText + '%'
				)	
			)
		)
	)
ORDER BY ISNULL(AdminInfo.LastView, EstimationData.EstimationDate) DESC 

END

 
GO
