USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/15/2020 
-- Description:	Save a logins record
-- Update date: 11/15/2022 (for Language column)
--              Logins_Update-02.sql
-- ============================================= 
CREATE PROCEDURE [dbo].[Logins_Update] 
	  @ID						int 
	, @LoginName				varchar(50) 
	, @Organization				varchar(50) 
	, @CompanyName				varchar(100) 
	, @CompanyType				varchar(20) 
	, @CompanyOrigin			tinyint 
	, @Password					varchar(50) 
	, @CreationDate				datetime 
	, @ContactID				int 
	, @HeaderContact			varchar(50) 
	, @SalesRepID				int 
	, @ResellerID				int 
	, @NoOfLogins				tinyint 
	, @DoubtfulAccount			bit 
	, @Disabled					bit 
	, @StaffAccount				bit 
	, @RegistrationNumber		varchar(25) 
	, @PrintRegistrationNumber	bit 
	, @ShowRepairShopProfiles	bit 
	, @AllowAlternateIdentities	bit 
	, @Appraiser				bit 
	, @ShowLaborTimeWO			bit 
	, @LicenseNumber			varchar(50) 
	, @PrintLicenseNumber		bit 
	, @BarNumber				varchar(50) 
	, @PrintBarNumber			bit 
	, @FederalTaxID				varchar(15) 
	, @PrintFederalTaxID		bit 
	, @UseTaxID					bit 
	, @UseDefaultRateProfile	bit 
	, @UseDefaultPDRRateProfile	bit 
	, @LogoImageType			varchar(5) 
	, @ProfileLocked			bit 
	, @PartsNow					bit 
	, @OverlapAdmin				bit 
	, @LastEstimateNumber		int 
	, @LastWorkOrderNumber		int 
	, @CarfaxExcludeDate		datetime = null 
	, @TechSupportPassword		varchar(50)
	, @LanguageID               tinyint
AS 
BEGIN 
	IF @ID > 0 
		BEGIN 
			UPDATE Logins 
			SET 
				  LoginName = @LoginName 
				, Organization = @Organization 
				, CompanyName = @CompanyName 
				, CompanyType = @CompanyType 
				, CompanyOrigin = @CompanyOrigin 
				, Password = @Password 
				, CreationDate = @CreationDate 
				, ContactID = @ContactID 
				, HeaderContact = @HeaderContact 
				, SalesRepID = @SalesRepID 
				, ResellerID = @ResellerID 
				, NoOfLogins = @NoOfLogins 
				, DoubtfulAccount = @DoubtfulAccount 
				, Disabled = @Disabled 
				, StaffAccount = @StaffAccount 
				, RegistrationNumber = @RegistrationNumber 
				, PrintRegistrationNumber = @PrintRegistrationNumber 
				, ShowRepairShopProfiles = @ShowRepairShopProfiles 
				, AllowAlternateIdentities = @AllowAlternateIdentities 
				, Appraiser = @Appraiser 
				, ShowLaborTimeWO = @ShowLaborTimeWO 
				, LicenseNumber = @LicenseNumber 
				, PrintLicenseNumber = @PrintLicenseNumber 
				, BarNumber = @BarNumber 
				, PrintBarNumber = @PrintBarNumber 
				, FederalTaxID = @FederalTaxID 
				, PrintFederalTaxID = @PrintFederalTaxID 
				, UseTaxID = @UseTaxID 
				, UseDefaultRateProfile = @UseDefaultRateProfile 
				, UseDefaultPDRRateProfile = @UseDefaultPDRRateProfile 
				, LogoImageType = @LogoImageType 
				, ProfileLocked = @ProfileLocked 
				, PartsNow = @PartsNow 
				, OverlapAdmin = @OverlapAdmin 
				, LastEstimateNumber = @LastEstimateNumber 
				, LastWorkOrderNumber = @LastWorkOrderNumber 
				, CarfaxExcludeDate = @CarfaxExcludeDate 
				, TechSupportPassword = @TechSupportPassword
				, LanguageID = @LanguageID
			WHERE ID = @ID 
 
			SELECT @ID 
		END 
	ELSE 
		BEGIN 
			INSERT INTO Logins 
			( 
				  LoginName 
				, Organization 
				, CompanyName 
				, CompanyType 
				, CompanyOrigin 
				, Password 
				, CreationDate 
				, ContactID 
				, HeaderContact 
				, SalesRepID 
				, ResellerID 
				, NoOfLogins 
				, DoubtfulAccount 
				, Disabled 
				, StaffAccount 
				, RegistrationNumber 
				, PrintRegistrationNumber 
				, ShowRepairShopProfiles 
				, AllowAlternateIdentities 
				, Appraiser 
				, ShowLaborTimeWO 
				, LicenseNumber 
				, PrintLicenseNumber 
				, BarNumber 
				, PrintBarNumber 
				, FederalTaxID 
				, PrintFederalTaxID 
				, UseTaxID 
				, UseDefaultRateProfile 
				, UseDefaultPDRRateProfile 
				, LogoImageType 
				, ProfileLocked 
				, PartsNow 
				, OverlapAdmin 
				, LastEstimateNumber 
				, LastWorkOrderNumber 
				, CarfaxExcludeDate 
				, TechSupportPassword
				, LanguageID
			) 
			VALUES 
			( 
				  @LoginName 
				, @Organization 
				, @CompanyName 
				, @CompanyType 
				, @CompanyOrigin 
				, @Password 
				, @CreationDate 
				, @ContactID 
				, @HeaderContact 
				, @SalesRepID 
				, @ResellerID 
				, @NoOfLogins 
				, @DoubtfulAccount 
				, @Disabled 
				, @StaffAccount 
				, @RegistrationNumber 
				, @PrintRegistrationNumber 
				, @ShowRepairShopProfiles 
				, @AllowAlternateIdentities 
				, @Appraiser 
				, @ShowLaborTimeWO 
				, @LicenseNumber 
				, @PrintLicenseNumber 
				, @BarNumber 
				, @PrintBarNumber 
				, @FederalTaxID 
				, @PrintFederalTaxID 
				, @UseTaxID 
				, @UseDefaultRateProfile 
				, @UseDefaultPDRRateProfile 
				, @LogoImageType 
				, @ProfileLocked 
				, @PartsNow 
				, @OverlapAdmin 
				, @LastEstimateNumber 
				, @LastWorkOrderNumber 
				, @CarfaxExcludeDate 
				, @TechSupportPassword
				, @LanguageID
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
