USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimationImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NULL,
	[FileName] [varchar](255) NULL,
	[FileType] [varchar](10) NULL,
	[ImageTag] [int] NULL,
	[ImageTagCustom] [varchar](255) NULL,
	[PDFPageCount] [int] NULL,
	[SupplementVersion] [int] NULL,
	[Include] [bit] NULL,
	[Deleted] [bit] NULL,
	[OrderNo] [int] NULL,
 CONSTRAINT [PK_EstimationImages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_EstimationImages_6_1145599015__K10_K2_K1] ON [dbo].[EstimationImages]
(
	[Deleted] ASC,
	[AdminInfoID] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_EstimationImages_7_1145599015__K2_1] ON [dbo].[EstimationImages]
(
	[AdminInfoID] ASC
)
INCLUDE([id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
