USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [varchar](2000) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[LoginID] [int] NULL,
	[OrganizationID] [int] NULL,
	[Language_ID] [int] NOT NULL,
 CONSTRAINT [PK_Annoucements] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  CONSTRAINT [DF_Announcements_Language_ID]  DEFAULT ((1)) FOR [Language_ID]
GO
