USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[EstimateReport_GetLineItems_Supplement_BACKUP]   
	@AdminInfoID		int,  
	@ImageDirectory		VARCHAR(200) = '',  
	@SupplementVersion	INT = 0  
AS 
BEGIN 
 
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.   
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component   
	 IF 1=0 BEGIN   
       SET FMTONLY OFF   
     END   
 
	-- Get the EOR data
	DECLARE @ProcessedLines TABLE
	(
		  LineItemID	int
		, ForSummary	bit
		, PartSourceModified	bit
		, ModifiedSupplementVersion	int
		, ModifiedID	int
		, Panel	varchar(50)
		, Added	bit
		, Removed	bit
		, BettermentType	varchar(20)
		, BettermentValue	float
		, BettermentAmount	float
		, BettermentNote	varchar(50)
		, Sublet	bit
		, Action	varchar(20)
		, OperationDescription	varchar(100)
		, Description	varchar(200)
		, PartNumber	varchar(50)
		, Price	money
		, Quantity	int
		, PartSource	varchar(20)
		, RemovedPrice	money
		, RemovedQuantity	int
		, RemovedPartSource	varchar(20)
		, PartSourceImage	varchar(500)
		, LaborSummaryPaintPanel	varchar(200)
		, LaborTotalPaintPanel	float
		, LaborSummaryPaint	varchar(200)
		, LaborTotalPaint	float
		, LaborTotalPaintDollars float
		, LaborTotalClearcoat		real
		, ClearcoatIncluded			bit
		, ClearcoatSuppliesIncluded	bit
		, LaborSummaryExtra	varchar(200)
		, LaborTotalExtra	float
		, LaborTotalExtraOverlapped	float
		, ExtraLaborType	varchar(20)
		, ExtraLaborIncludeIn	varchar(20)
		, LaborExtraRemovedType		varchar(50) 
		, LaborExtraRemovedIncludeInType		varchar(50) 
		, LaborExtraRemovedHours	float 
		, LaborExtraRemovedTotal	float 
		, LaborIncluded	bit
		, OverlapSupplement int
		, OtherCharges	float
		, OtherChargesLaborType	int
		, RemovedOtherCharges	float
		, RemovedOtherChargesLaborType	int
		, DeductionsMessage	varchar(100)
		, AdjacentMessage varchar(20)
		, Notes	varchar(5000)
		, LineNumber	int
		, SupplementVersion	int
		, DeletedBySupplement	int
		, SupplementDisplay	int
		, StepSupp	varchar(500)
		, Sorter	int
		, GroupNumber	int
		, OversizedDescription	varchar(200)
		, OversizedPrice	money
		, ModifierDescription	varchar(200)
		, ModifierPrice	money
	)
  
	INSERT INTO @ProcessedLines
	SELECT * FROM dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion, @ImageDirectory, 0)
  

  	-- EOR  
	SELECT 
		Base.* 
		, CASE WHEN Base.LaborIncluded = 1 AND Previous.LaborIncluded = 0 THEN OverlapSupplement ELSE 0 END AS IncludeAdded
	INTO #EOR
	FROM 
	(
		SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter, LineItemID) AS LineNumberCalculated, *  
		FROM  dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion, @ImageDirectory, 0) AS ProcessedLines   
		WHERE ForSummary = 1 AND PartSourceModified = 0	AND OperationDescription NOT LIKE '%Delete Line%'
	) Base
	LEFT OUTER JOIN 
	(
		SELECT LineItemID, LaborIncluded
		FROM  dbo.GetProcessedLines(@AdminInfoID, @SupplementVersion - 1, @ImageDirectory, 0) AS ProcessedLines   
		WHERE ForSummary = 1 AND PartSourceModified = 0	AND OperationDescription NOT LIKE '%Delete Line%'
	) Previous
	ON Base.LineItemID = Previous.LineItemID
	ORDER BY GroupNumber, Sorter, Base.LineItemID 

	UPDATE #EOR
	SET
		 SupplementDisplay = dbo.Biggest(SupplementDisplay, IncludeAdded)
		 , SupplementVersion = dbo.Biggest(SupplementVersion, IncludeAdded)


	------------------------------------------------------------------------------------------------------------------------------------  
	-- Select the supplement lines  
	SELECT ISNULL(PDREOR.LineNumberCalculated, ISNULL(#EOR.LineNumberCalculated, 0)) AS LineNumberCalculated, ProcessedLines.*  
	FROM @ProcessedLines AS ProcessedLines  
	LEFT JOIN #EOR ON ProcessedLines.ModifiedID = #EOR.LineItemID  
  
	-- For PDR join in the ForSummary line with this line item ID to get the calculated line number  
	LEFT OUTER JOIN #EOR PDREOR ON ProcessedLines.Action = 'PDR Matrix' AND PDREOR.LineItemID = ProcessedLines.LineItemID AND PDREOR.ForSummary = 1  
  
	WHERE  
		(
			ISNULL(ProcessedLines.SupplementDisplay, 0) = @SupplementVersion
			OR 
			(
				ProcessedLines.LaborIncluded = 1 And ProcessedLines.OverlapSupplement = @SupplementVersion
			)
		)  
		AND @SupplementVersion > 0 
		AND ProcessedLines.OperationDescription NOT LIKE '%Delete Line%' 
  
	------------------------------------------------------------------------------------------------------------------------------------  
	-- Add the PDR lines from the last supplement.  These don't work int he above query because the LineItemID is the same for all PDR lines  
	UNION  
  
	SELECT ISNULL(PDREOR.LineNumberCalculated, ISNULL(#EOR.LineNumberCalculated, 0)) AS LineNumberCalculated, ProcessedLines.*  
	FROM @ProcessedLines AS ProcessedLines  
	LEFT JOIN #EOR ON #EOR.LineItemID = ProcessedLines.ModifiedID  
  
	-- For PDR join in the ForSummary line with this line item ID to get the calculated line number  
	LEFT OUTER JOIN #EOR PDREOR ON ProcessedLines.Action = 'PDR Matrix' AND PDREOR.LineItemID = ProcessedLines.LineItemID AND PDREOR.ForSummary = 1  
  
	WHERE   
		ProcessedLines.Action = 'PDR Matrix'   
		AND ProcessedLines.SupplementVersion = @SupplementVersion - 1   
		AND (ProcessedLines.Added = 1 OR ProcessedLines.Removed = 1)  
  
	DROP TABLE #EOR  

END 
GO
