USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/7/2018 
-- Description: Delete a PDR_EstimateDataPanelOversize record 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_EstimateDataPanelOversize_Delete] 
	@ID		int 
AS 
BEGIN 
	 
	DECLARE @supplementLevel INT =  
	( 
		SELECT ISNULL(LockLevel, 0) 
		FROM PDR_EstimateDataPanelOversize 
		JOIN PDR_EstimateDataPanel ON PDR_EstimateDataPanel.ID = PDR_EstimateDataPanelOversize.EstimateDataPanelID 
		JOIN EstimationData ON EstimationData.AdminInfoID = PDR_EstimateDataPanel.AdminInfoID 
		WHERE PDR_EstimateDataPanelOversize.ID = @ID 
	) 
 
	IF @supplementLevel = 0 
		BEGIN 
			DELETE 
			FROM PDR_EstimateDataPanelOversize 
			WHERE ID = @ID 
		END 
	ELSE 
		BEGIN 
			UPDATE PDR_EstimateDataPanelOversize 
			SET SupplementDeleted = @supplementLevel 
			WHERE ID = @ID 
		END 
END 
GO
