USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 8/9/2016
-- Description:	Get the full name and ID for all contacts associated with a Logins ID.  This is used for filling a drop down box
--				with a list of all existing customers for a location.
-- =============================================
CREATE PROCEDURE [dbo].[GetContactsForLogin]
	@LoginsID	int
AS
BEGIN
	
	SELECT ContactID AS ContactsID, FirstName + ' ' + LastName As FullName
	FROM AdminInfo
	JOIN tbl_ContactPerson ON AdminInfo.id = tbl_ContactPerson.AdmininfoID
	WHERE CreatorID = @LoginsID
		AND (FirstName <> '' AND LastName <> '')
	ORDER BY FullName

END

GO
