USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/19/2023
-- Description:	Get all InvoiceFailureLog records
-- =============================================
CREATE PROCEDURE [dbo].[InvoiceFailureLog_GetForInvoice]
	  @InvoiceID		int
	, @AutoPay			bit = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT InvoiceFailureLog.*, CardLast4, CAST(DATEPART(mm,CardExpiration) AS VARCHAR(2)) + '/' + CAST(DATEPART(yyyy,CardExpiration) AS VARCHAR(4)) 'Expiration', StripeCardID
	FROM InvoiceFailureLog with(nolock)
	     Left Outer Join StripeInfo with(nolock) on InvoiceFailureLog.StripeInfoID = StripeInfo.ID
	WHERE InvoiceID = @InvoiceID
		  And (@AutoPay is null or isnull(InvoiceFailureLog.AutoPay, 1) = @AutoPay)
	ORDER BY TimeStamp
END
GO
