USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[GetUserMessages] (@UserLoginID bigint=null) 
	  as 
begin 
SET NOCOUNT ON 
 
BEGIN TRANSACTION 
 
if(isnull(@UserLoginID,0)=0) 
begin 
SELECT a.*  
	FROM  UserMessages a 
	WHERE  Isnull(a.IsDEleted,0) <> 1 
end 
else 
begin 
	SELECT a.*  
	FROM  UserMessages a 
		LEFT JOIN UserMessagesConfirm b  ON b.UserMessageID = a.UserMessageID and (isnull(@UserLoginID,0)=0 or  b.UserLoginID = @UserLoginID) 
	WHERE  b.UserMessageID IS NULL  and  Isnull(a.IsDEleted,0) <> 1 and  
	GetUtcDate() between Convert(DateTime,CONVERT(date, a.StartDate)) and Convert(DateTime,CONVERT(date, DateAdd(day,1,a.EndDate))) 
end 
end 
GO
