USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetReplacedPhoneNumberType]
(
	@phoneNumberType NCHAR(20)
)
RETURNS NCHAR(20)
AS
BEGIN
	
	SET @phoneNumberType = CASE TRIM(@phoneNumberType) 
								WHEN 'B2' THEN 'WP' 
								WHEN 'Home' THEN 'HP'
								WHEN 'Work' THEN 'WF'
								WHEN 'VM' THEN 'WP'
								ELSE @phoneNumberType 
							END

	RETURN @phoneNumberType
END
GO
