USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/10/2022
-- Description:	Insert a record into the MiscTracking table.  
-- =============================================
CREATE PROCEDURE [dbo].[MiscTracking_Insert]
	@LoginID			int
	, @EstimateID		int
	, @OtherData		varchar(50)
	, @Tag				varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO MiscTracking
	(
		  LoginID
		, TimeStamp
		, EstimateID
		, OtherData
		, Tag
	)
	VALUES
	(
		  @LoginID
		, GETDATE()
		, @EstimateID
		, @OtherData
		, @Tag
	)
END
GO
