USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 9/27/2016
-- Description:	Get paint codes by vehicle info
-- =============================================
CREATE PROCEDURE [dbo].[GetPaintCodes]
	@year		int,
	@makeID		int = 0,
	@modelID	int = 0,
	@engineID	int = 0,
	@bodyID		int = 0,
	@transmissionID		int = 0
AS
BEGIN

	SELECT '' AS PaintCode, '' AS Color, '' AS Ordered 

	UNION

	SELECT DISTINCT PaintCode, Color + ' - ' + PaintCode AS Color, Color AS Ordered
	FROM Vinn.dbo.Vehicle_Service_Xref v
	JOIN Vinn.dbo.ServicePaintXref p ON v.Service_Barcode = p.ServiceBarCode
	WHERE 
		v.VinYear = @year
		AND (@makeID = 0 OR v.MakeID = @makeID)
		AND (@modelID = 0 OR v.ModelID = @modelID)
		AND (@engineID = 0 OR v.EngineID = @engineID)
		AND (@bodyID = 0 OR v.BodyID = @bodyID)
		AND (@transmissionID = 0 OR v.TransmissionID = @transmissionID)
	ORDER BY PaintCode
END

GO
