USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/30/23
-- =============================================
CREATE PROCEDURE [dbo].[PartnerNetworkClick_Insert]
	  @PartnerID				int
	, @ActiveLoginID		int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO PartnerNetworkClick
	(
		  PartnerID
		, ActiveLoginID
		, TimeStamp
	)
	VALUES
	(
		  @PartnerID
		, @ActiveLoginID
		, GETDATE()
	)
END
GO
