USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddEstimateLineItem] 
	@AdminInfoID Int = NULL,
	@StepID Int = NULL,  
	@SectionID Int = NULL,
	@PartNumber VarChar(50) = NULL,  
	@VehiclePosition VarChar(5) = '', 
	@Price Money = NULL,  
	@Description VarChar(255) = NULL, 
	@PartSource VarChar(20) = NULL, 
	@Operation VarChar(20) = NULL, 
	@OpDesc VarChar(80) = NULL,  

	@LaborTime Real = NULL,  
	@LaborType Int = NULL,  
	@PaintTime Real = NULL,  
	@PaintType Int = NULL,  
	@OtherCharge Real = NULL,  
	@Other Int = NULL, 
	@ClearcoatTime Real = NULL,  
	@BlendTime Real = NULL,  
	@EdgingType Int = NULL,  
	@EdgingTime Real = NULL, 

	@InternalNotes VarChar(5000) = NULL,  
	@ExternalNotes VarChar(5000) = NULL, 
	@Overhaul Bit = NULL,  
	@Qty Int = NULL,
	@MaterialsBetterment Bit = 0,  
	@OperationSublet Bit = 0,  
	@PartBetterment Bit = 0,  
	@PartSublet Bit = 0,  
	@LaborBetterment Bit = 0,  
	@LaborSublet Bit = 0,  
	@PaintBetterment Bit = 0,  
	@PaintSublet Bit = 0, 
	@VendorID Int = 0,  
	@SourcePartNumber VarChar(50) = NULL,  
	@Allowance Real = NULL,
	@UndersideTime Real = NULL,
	@AdjacentDeduction TinyInt = 0,  
	@MajorPanel Bit = 0,  
	@CustomerPrice Money = NULL, 
	@BettermentValue Real = NULL,  
	@BettermentType CHAR(1) = '',		-- Blank for none, P for percent D for dollar  
	@barcode VarChar(10)= NULL,
	@AdjacentDeductionLock Bit = 0, 
	@LockAllowance Bit = 0,  
	@LockClearcoat Bit = 0,  
	@LockBlend Bit = 0,  
	@LockEdging Bit = 0,  
	@LockUnderside Bit = 0,	  
	@IncludeAllowance Bit = 0,  
	@IncludeClearcoat Bit = 0,  
	@IncludeBlend Bit = 0,  
	@IncludeEdging Bit = 0,  
	@IncludeUnderside Bit = 0,	

	@IsPartsQuantity BIT = false,  
	@IsLaborQuantity BIT = false,  
	@IsPaintQuantity BIT = false,  
	@IsOtherCharges BIT = false,  

	@Return Int = NULL OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ModifiesID Int  
	DECLARE @AcdCode Char(1)  
	DECLARE @SupplementVersion Int 
	DECLARE @EstimationDataID Int
	DECLARE @NextSeq Int 
	DECLARE @LastLineNumber SmallInt  
	DECLARE @Service_Barcode Varchar(10)
	DECLARE @VehicleID Int 

    SELECT @ModifiesID = -1,	  
		@AcdCode = 'A',  
		@SupplementVersion = NULL  
  
	SELECT @EstimationDataID = EstimationData.ID,  
		@SupplementVersion = EstimationData.LockLevel,  
		@NextSeq = EstimationData.NextUniqueSequenceNumber  
	FROM EstimationData   
	WHERE AdminInfoID = @AdminInfoID  
  
	SELECT @LastLineNumber = ISNULL(@LastLineNumber,0)

	/* 
	-- Ezra - 4/16/2018 - commented this section out.  Not sure why it's here but it prevents supplement data from saving. 
	IF @PartNumber LIKE '**%'  
	BEGIN  
		IF EXISTS (	SELECT EstimationLineItems.PartNumber  
				FROM EstimationData   
				INNER JOIN EstimationLineItems  ON  
					(EstimationLineItems.EstimationDataID = EstimationData.id)  
				WHERE EstimationLineItems.PartNumber = @PartNumber AND  
					ISNULL(EstimationLineItems.SupplementVersion,0) = 0 AND  
					EstimationData.AdminInfoID = @AdminInfoID	)  
			RETURN  
	END  
	*/ 
 
--PRINT 'SELECT @Service_Barcode = '  
	SELECT @Service_Barcode = FocusWrite.Dbo.GetServiceBarcode(@AdmininfoID)  
--PRINT 'Max(EstimationLineItems.LineNumber)'  
	SELECT @LastLineNumber = dbo.GetLastLineNumber(@AdminInfoID) 
  
	SELECT	@NextSeq = EstimationData.NextUniqueSequenceNumber,  
		@VehicleID = VehicleID  
	FROM EstimationData   
	LEFT JOIN VehicleInfo  ON  
		(VehicleInfo.EstimationDataId = EstimationData.id)  
	WHERE AdminInfoID = @AdminInfoID  
  
    declare @x DATETIME  
	  
	  -- Ezra - 5/6/2019 - On manual entry pages we were getting a bug where sometimes the entry wouldn't save.  I believe this was the cause.  I commented this out and changed the front end pages to 
	  -- disable the save button until getting a response from the server

	--SELECT @X = isnull(Date_Entered,DATEADD(ss,-4,GETDATE()))  
	--FROM EstimationLineItems WITH(NOLOCK)  
	--WHERE EstimationDataID = @EstimationDataID  
	--AND StepID = @StepID  
	--AND SectionID = @SectionID   
	--AND PartNumber =  @PartNumber  
	--AND Barcode = @Barcode  
 
	if (@X is null or datediff(ss,@x,getdate()) >=3)  
	begin  
  
	INSERT INTO EstimationLineItems  (EstimationDataID, StepID, SectionID, PartSource, ActionCode, ActionDescription,   
							PartNumber, Description, Price, PartOfOverhaul, Qty,   
							SubletOperationFlag, SubletPartsFlag,   
							PartSourceVendorID, LineNumber, ACDCode, SupplementVersion, ModifiesID,   
							CustomerPrice, BettermentValue, BettermentType, UniqueSequenceNumber, VehiclePosition,   
							Barcode, dbPrice, SourcePartNumber, AutomaticCharge, AutoAddBarcodeParent, LaborTime,
							IsPartsQuantity, IsLaborQuantity, IsPaintQuantity, IsOtherCharges,BettermentParts,BettermentMaterials)  
				VALUES (@EstimationDataID, @StepID, @SectionID, @PartSource, REPLACE(@Operation,'&','+'), @OpDesc,   
							@PartNumber, LEFT(@Description,80), @Price, @Overhaul, @Qty,   
							@OperationSublet, @PartSublet,   
							@VendorID, @LastLineNumber+1, @AcdCode, @SupplementVersion, @ModifiesID,   
							@CustomerPrice, @BettermentValue , @BettermentType, @NextSeq, @VehiclePosition, @Barcode, null,   
							@SourcePartNumber, 0, null, 0, @IsPartsQuantity, @IsLaborQuantity, @IsPaintQuantity,@IsOtherCharges,
							@PartBetterment, @MaterialsBetterment)
	
	DECLARE @EstimationLineItemsID INT
	SELECT @EstimationLineItemsID = @@IDENTITY  
	SELECT @Return = @EstimationLineItemsID  
	SELECT @NextSeq = @NextSeq + 1  
  
	-- if a new line was added, update the quantity value.  This is the difference between the passed value adn the current value  
	UPDATE EstimationLineItems   
	SET Qty = @Qty - dbo.GetLineItemQuantity(ModifiesID)  
	WHERE id = @EstimationLineItemsID AND SupplementVersion > 0  
  
	IF @ExternalNotes <> ''  
		INSERT INTO EstimationNotes  (EstimationLineItemsID, Printed, Notes)  
			VALUES (@EstimationLineItemsID, 1, @ExternalNotes)  
	IF @InternalNotes <> ''  
		INSERT INTO EstimationNotes  (EstimationLineItemsID, Printed, Notes)  
				VALUES (@EstimationLineItemsID, 0, @InternalNotes)  
	  
	IF @LaborType IS NOT NULL  AND abs(@LaborTime) >= 0.01  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, AdjacentDeductionLock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, @LaborType, 0, @LaborTime, NULL, @LaborBetterment, @LaborSublet, @NextSeq, null, @AdjacentDeductionLock,@BettermentValue, @BettermentType 
		SELECT @NextSeq = @NextSeq + 1  
	END  
--PRINT '@PaintTime='+ISNULL(CONVERT(VarChar(20),@PaintTime),'NULL')  
--PRINT '@PaintType='+ISNULL(CONVERT(VarChar(20),@PaintType),'NULL')  
  
	-- Ezra - 1/25/17 - for blend we need to be able to add no paint time but still have a paint type  
	--IF abs(@PaintTime) >= 0.01 AND @PaintType IS NOT NULL  
	--BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, AdjacentDeduction, MajorPanel, UniqueSequenceNumber, dbLaborTime, AdjacentDeductionLock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, ISNULL(@PaintType, 0), 0, @PaintTime, NULL, @LaborBetterment, @LaborSublet, @AdjacentDeduction, @MajorPanel, @NextSeq, null, @AdjacentDeductionLock,@BettermentValue, @BettermentType   
		SELECT @NextSeq = @NextSeq + 1  
	--END  
  
	IF @Other IS NOT NULL  AND abs(@OtherCharge) > 0
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, @Other, 0, NULL, @OtherCharge, 0,0, @NextSeq, null,@BettermentValue, @BettermentType    
		SELECT @NextSeq = @NextSeq + 1  
	END  
  
	IF abs(@ClearcoatTime) >= 0.01  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, 20, 0, @ClearcoatTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeClearcoat, @LockClearcoat, @BettermentValue, @BettermentType  
		SELECT @NextSeq = @NextSeq + 1  
	END  
  
	IF abs(@BlendTime) >= 0.01  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, 26, 0, @BlendTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeBlend, @LockBlend, @BettermentValue, @BettermentType    
		SELECT @NextSeq = @NextSeq + 1  
	END  
		  
	IF abs(@Allowance) >= 0.01 AND @PaintType = 29	--2 Tone Allowance  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, 28, 0, @Allowance, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeAllowance, @LockAllowance, @BettermentValue, @BettermentType  
		SELECT @NextSeq = @NextSeq + 1  
	END  
		  
	IF abs(@Allowance) >= 0.01 AND @PaintType = 18	--3 Stage Allowance  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, 27, 0, @Allowance, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeAllowance, @LockAllowance, @BettermentValue, @BettermentType  
		SELECT @NextSeq = @NextSeq + 1  
	END  
		  
	IF abs(@EdgingTime) >= 0.01  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, 21, 0, @EdgingTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeEdging, @LockEdging, @BettermentValue, @BettermentType  
		SELECT @NextSeq = @NextSeq + 1  
	END  
		  
	IF abs(@UndersideTime) >= 0.01  
	BEGIN  
		INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
			SELECT @EstimationLineItemsID, 22, 0, @UndersideTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeUnderside, @LockUnderside, @BettermentValue, @BettermentType    
		SELECT @NextSeq = @NextSeq + 1  
	END  
  
	UPDATE EstimationData   
	SET NextUniqueSequenceNumber = @NextSeq  
	WHERE AdminInfoID = @AdminInfoID  
  
	EXECUTE AddOverlapInfo	@EstimationLineItemsID, @VehicleID, @AdminInfoID, @SectionID, @StepID  
  
	EXECUTE UpdateAdminTotals @AdminInfoID = @AdminInfoID  

END

END
GO
