USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTerms](
	[ContractTermID] [int] IDENTITY(1,1) NOT NULL,
	[ContractTypeID] [int] NOT NULL,
	[TermDescription] [varchar](100) NOT NULL,
	[ContractLength] [int] NOT NULL,
	[NumberOfPayments] [int] NOT NULL,
	[DepositAmount] [decimal](9, 2) NOT NULL,
	[PreviousContractTermID] [int] NULL,
	[ForceAutoPay] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ContractTerms] PRIMARY KEY CLUSTERED 
(
	[ContractTermID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ContractTerms] ADD  CONSTRAINT [DF_ContractTerms_ContractTypeID]  DEFAULT (1) FOR [ContractTypeID]
GO
ALTER TABLE [dbo].[ContractTerms] ADD  CONSTRAINT [DF_ContractTerms_DepositAmount]  DEFAULT (0) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[ContractTerms] ADD  CONSTRAINT [DF_ContractTerms_ForceAutoPay]  DEFAULT (0) FOR [ForceAutoPay]
GO
ALTER TABLE [dbo].[ContractTerms] ADD  CONSTRAINT [DF_ContractTerms_Active]  DEFAULT (1) FOR [Active]
GO
