USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[GetVehicleName] (
	@VehicleID Int
	)  
RETURNS VarChar(500) AS  
BEGIN 
	DECLARE @Extracted VarChar(500)

	IF ISNULL(@VehicleID,-1) = -1 
		SELECT @Extracted = 'None'
	ELSE
		SELECT @Extracted = cast(a.vinyear as varchar(4)) + ' ' + b.Make + ' -' + c.Model + ' ' + d.Submodel 
		FROM  vinn.dbo.vehicle_service_xref a		
		inner join vinn.dbo.makes b
			on b.makeid = a.makeid
		inner join vinn.dbo.models c
			on c.modelid = a.modelid
		inner join vinn.dbo.submodels d
			on d.submodelid = a.submodelid  
		WHERE a.VehicleID = @VehicleID 

	RETURN(@Extracted)
END




GO
