USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/25/2020
-- Description:	Get all contract Add Ons that need to be synced with Success Box
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBox_GetContractAddOnsToSync] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT ContractAddOn.*
	FROM SuccessBoxAccountLog
	JOIN Contracts ON SuccessBoxAccountLog.LoginID = Contracts.LoginID --AND Contracts.IsDeleted = 0
	JOIN ContractAddOn ON Contracts.ContractID = ContractAddOn.ContractID --AND ContractAddOn.IsDeleted = 0 AND ContractAddOn.Active = 1
	LEFT OUTER JOIN SuccessBoxContractLog ON Contracts.ContractID = SuccessBoxContractLog.ContractID AND SuccessBoxContractLog.AddOnID = ContractAddOn.ID
	WHERE ISNULL(IsSynced, 0) = 0

END
GO
