USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnsubscribeHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UnsubscribeID] [varchar](50) NULL,
	[TimeStamp] [datetime] NULL,
	[Event] [varchar](20) NULL,
	[SalesRep] [varchar](50) NULL,
 CONSTRAINT [PK_UnsubscribeHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
