USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/18/2020
-- =============================================
CREATE PROCEDURE [dbo].[AddOnRulePresetLink_GetForRule]
	  @RuleID			int
	, @AddAction		varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM AddOnRulePresetLink
	WHERE 
		RuleID = @RuleID
		AND AddAction = ISNULL(@AddAction, AddAction)
END
GO
