USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetReportHeaders]

AS
BEGIN
	SELECT *
	FROM ReportHeaders
	ORDER BY SortOrder
END


GO
