USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_DeleteImages]
@ID int
as
begin
DELETE FROM EstimationImages WITH (ROWLOCK)    
  WHERE id = @ID  
  end

GO
