USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/13/2019 
-- Description:	Get all Job Status records 
-- ============================================= 
CREATE PROCEDURE [dbo].[JobStatus_GetALl] 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM JobStatus 
	ORDER BY id 
END 
GO
