USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:		Ezra  
-- Create date: 6/20/2018  
-- Description:	Search for estimates for a login.  This replaces sp_GetEstimateList and searches in the EstimateSummary table instead of doing joins   
-- =============================================  
CREATE PROCEDURE [dbo].[Estimate_GetList]  
	@LoginID			int,   
	@FilterOption		TinyInt = 0,  
	@SearchText			VarChar(50) = NULL  
AS  
BEGIN  
	-- SET NOCOUNT ON added to prevent extra result sets from  
	-- interfering with SELECT statements.  
	SET NOCOUNT ON;  
  
	SET @FilterOption = ISNULL(@FilterOption, 0)  
  
	SELECT *  
	FROM EstimateSummary  
	WHERE   
		LoginID = @LoginID  
		AND IsDeleted = 0  
		AND  
		(  
			(@FilterOption = 0 OR @FilterOption = 5)	-- 0 = All, 5 = Recent  
			OR  
			(@FilterOption = 1 AND JobStatusID = 0)		-- 1 = Open  
			OR   
			(@FilterOption = 2 AND JobStatusID = 2)		-- 2 = OpenRepairOrder  
			OR   
			(@FilterOption = 3 AND JobStatusID = 3)		-- 3 = ClosedRepairOrder  
			OR   
			(@FilterOption = 4 AND IsTotalLoss = 1)		-- 4 = Totaled  
		)  
		AND  
		(  
			ISNULL(@SearchText, '') = '' OR  
			(	  
				CAST(AdminInfoID AS varchar(10)) LIKE '%' + @SearchText + '%'   
				OR Name LIKE '%' + @SearchText + '%'   
				OR BusinessName LIKE '%' + @SearchText + '%'   
				OR Vehicle LIKE '%' + @SearchText + '%'   
				OR Vin LIKE '%' + @SearchText + '%'  
			)	  
		)	  
END  
GO
