USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 2/21/2017 
-- Description:	Toggle a vendor selected by a login.  
-- ============================================= 
CREATE PROCEDURE [dbo].[ToggleSelectedVendor]  
	@VendorID INT, 
	@LoginID INT 
AS 
BEGIN 
	IF EXISTS (SELECT * FROM SelectedVendor WHERE VendorID = @VendorID AND LoginID = @LoginID) 
		DELETE FROM SelectedVendor WHERE VendorID = @VendorID AND LoginID = @LoginID 
	ELSE 
		INSERT INTO SelectedVendor (VendorID, LoginID) VALUES (@VendorID, @LoginID) 
 
END 
GO
