USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/12/2019
-- Description:	If a WebEst login has a contract that expires in the next 14 days, get that expiration date.  This is used as an end date for the new trial.
-- =============================================
CREATE PROCEDURE [dbo].[DataMigration_GetWEExpirationDate]
	-- Add the parameters for the stored procedure here
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT Contract.ExpirationDate
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContractLogins
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contract ON ContractLogins.ContractID = Contract.ContractID
	WHERE 
		ContractLogins.LoginID = @LoginID
		AND Contract.ContractID IS NOT NULL
		AND Contract.ContractTypeID = 1
		AND ContractPriceLevelID NOT IN (43, 462, 463, 482)		-- Ignore trials
		AND Contract.ExpirationDate > GETDATE()
		AND Contract.ExpirationDate < DATEADD(day, 14, GETDATE())
END
GO
