USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/15/2019
-- Description:	Find out if a report is attached to a sent email, so we don't delete it.
-- =============================================
CREATE PROCEDURE [dbo].[Report_GetAttachmentCount] 
	@ReportID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT COUNT(*) 
	FROM EmailReportAttachment
	WHERE ReportID = @ReportID
END
GO
