USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateTypes](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[RateName] [varchar](25) NOT NULL,
	[EMSCode1] [varchar](10) NULL,
	[EMSSublet] [varchar](10) NULL,
	[EMSBetterment] [varchar](10) NULL,
 CONSTRAINT [PK_RateTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
