USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetProfilePrint]
	@ProfileID int
AS
-- sp_getprofileprint 385930
BEGIN
	 
	SET NOCOUNT ON;
SELECT   CustomerProfilePrint.[id]
      , CustomerProfilePrint.[CustomerProfilesID]
      , CustomerProfilePrint.[GraphicsQuality]
      , CustomerProfilePrint.[NoHeaderLogo]
      , CustomerProfilePrint.[NoInsuranceSection]
      , CustomerProfilePrint.[NoPhotos]
      , CustomerProfilePrint.[FooterText]
      , CustomerProfilePrint.[PrintPrivateNotes]
      , CustomerProfilePrint.[PrintPublicNotes]       
      , CustomerProfilePrint.[ContactOption]
      , CustomerProfilePrint.[SupplementOption]
      , CustomerProfilePrint.[OrderBy]
      , isnull(CustomerProfilePrint.[UseBigLetters],0) as [UseBigLetters]
      , CustomerProfilePrint.[SeparateLabor]
      ,  isnull(CustomerProfilePrint.[EstimateNumber],0)  as EstimateNumber 
      , isnull(CustomerProfilePrint.AdminInfoID,1) as AdminInfoID
      , CustomerProfilePrint.[Dollars]
      , CustomerProfilePrint.[GreyBars]
      , CustomerProfilePrint.[NoVehicleAccessories]
      , CustomerProfilePrint.[PrintPaymentInfo]  
	  , CustomerProfilePrint.[PrintEstimator]  
	  , CustomerProfilePrint.[PrintVendors]  
 FROM CustomerProfilePrint  WITH (NOLOCK)      
 WHERE CustomerProfilePrint.CustomerProfilesID = @ProfileID      
end

GO
