USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempInvoiceRyan](
	[InvoiceID] [int] IDENTITY(20001,1) NOT NULL,
	[LoginID] [int] NOT NULL,
	[ContractID] [int] NULL,
	[FeeInvoiceID] [int] NULL,
	[PaymentNumber] [int] NOT NULL,
	[InvoiceTypeID] [int] NOT NULL,
	[InvoiceAmount] [decimal](8, 2) NOT NULL,
	[SalesTax] [decimal](5, 2) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Notes] [varchar](3000) NULL,
	[Paid] [bit] NOT NULL,
	[DatePaid] [datetime] NULL,
	[PaymentID] [int] NULL
) ON [PRIMARY]
GO
