USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMPartsUpdate](
	[OEM] [nvarchar](255) NULL,
	[SUPP] [nvarchar](255) NULL,
	[LIST] [float] NULL,
	[DESC] [nvarchar](255) NULL,
	[type] [nvarchar](50) NULL
) ON [PRIMARY]
GO
