USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Map_EstimateID_QuickbookInvoiceID]   
 @AdminInfoID	INT,
 @QuickbookInvoiceID	INT,
 @QuickbookType			VARCHAR(50)
AS   
BEGIN   
    
	INSERT INTO [dbo].[MappingEstIdQbInvoiceID]([AdminInfoID], [QuickbookInvoiceID], [QuickbookType], [CreatedOn])
	VALUES(@AdminInfoID, @QuickbookInvoiceID, @QuickbookType, GETDATE())
   
END   
GO
