USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/23/2021
-- Description:	Save a GridInfoUserMapping record
-- =============================================
CREATE PROCEDURE [dbo].[GridColumnInfoUserMapping_Save]
	  @ID					int
	, @GridColumnInfoID		int
	, @UserID				int
	, @Visible				bit
	, @SortOrderIndex		int	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE GridColumnInfoUserMapping
			SET
				  GridColumnInfoID = @GridColumnInfoID
				, UserID = @UserID
				, Visible = @Visible
				, SortOrderIndex = @SortOrderIndex
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO GridColumnInfoUserMapping
			(
				  GridColumnInfoID
				, UserID
				, Visible
				, SortOrderIndex
			)
			VALUES
			(
				  @GridColumnInfoID
				, @UserID
				, @Visible
				, @SortOrderIndex
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
