USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/17/2017
-- Description:	Get a StripeInfo record by ID
-- =============================================
CREATE PROCEDURE [dbo].[StripeInfoGet]
	@id		int
AS
BEGIN
	SELECT *
	FROM StripeInfo
	WHERE ID = @id
END

GO
