USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddOnRuleLine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AddOnRuleID] [int] NULL,
	[SortOrder] [tinyint] NULL,
	[MatchType] [tinyint] NULL,
	[MatchPiece] [tinyint] NULL,
	[ChildRuleID] [int] NULL,
	[MatchText] [varchar](50) NULL,
	[Indented] [bit] NULL,
	[Disabled] [bit] NULL,
 CONSTRAINT [PK_AddOnPartMatchText] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
