USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/1/2019 
-- Description:	Get an estimator by it's ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[Estimator_Get] 
	@ID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM EstimatorsData 
	WHERE EstimatorID = @ID 
END 
GO
