USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--getLoginFailures-01.sql
CREATE PROCEDURE [dbo].[getLoginFailures]
	@LoginID			int,
	@LoginNameFilter	nvarchar(50),
	@Password			nvarchar(255)
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON;
 
	SELECT TOP 500
		LoginFailures.ID 
		, ISNULL(Logins.ID, 0) AS LoginId 
		, LoginFailures.LoginName
		, SUBSTRING(ISNULL(LoginFailures.Password, ''), 1, 20) AS Password 
		, LoginFailures.TimeDate 
		, LoginFailures.User_Addr 
		, ISNULL(LoginFailures.Reason, '') AS Reason 
		, ISNULL((SalesRep.SalesNumber + ' - ' + SalesRep.FirstName + ' ' + SalesRep.LastName), '') AS SalesRep 
	FROM LoginFailures with(nolock)
	LEFT OUTER JOIN SiteUsers with(nolock) ON LoginFailures.LoginName = SiteUsers.EmailAddress
	LEFT OUTER JOIN Logins with(nolock) ON SiteUsers.LoginID = Logins.ID
	LEFT OUTER JOIN SalesRep with(nolock) ON Logins.SalesRepID = SalesRep.SalesRepID 
	WHERE  
		(ISNULL(@LoginID, 0) = 0 OR Logins.ID = @LoginID) 
		AND LoginFailures.TimeDate > dateAdd(day, -30, getDate()) 
		-- LoginName
		AND LoginFailures.LoginName LIKE '%' + (CASE WHEN (RTRIM(LTRIM(@LoginNameFilter))='' OR @LoginNameFilter IS NULL) THEN LoginFailures.LoginName 
		ELSE @LoginNameFilter END) + '%'
		-- Password
		AND LoginFailures.Password LIKE '%' + (CASE WHEN (RTRIM(LTRIM(@Password))='' OR @Password IS NULL) THEN LoginFailures.Password 
		ELSE @Password END) + '%'
	ORDER BY TimeDate DESC
END
GO
