USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateEstimateLineItem]
    @AdminInfoID Int = NULL,
	@EstimationLineItemsID Int = NULL,  
	@StepID Int = NULL,  
	@SectionID Int = NULL,
	@PartNumber VarChar(50) = NULL,  
	@VehiclePosition VarChar(5) = '', 
	@Price Money = NULL,  
	@Description VarChar(255) = NULL, 
	@PartSource VarChar(20) = NULL, 
	@Operation VarChar(20) = NULL, 
	@OpDesc VarChar(80) = NULL,  

	@LaborTime Real = NULL,  
	@LaborType Int = NULL,  
	@PaintTime Real = NULL,  
	@PaintType Int = NULL,  
	@OtherCharge Real = NULL,  
	@Other Int = NULL, 
	@ClearcoatTime Real = NULL,  
	@BlendTime Real = NULL,  
	@EdgingType Int = NULL,  
	@EdgingTime Real = NULL, 

	@InternalNotes VarChar(5000) = NULL,  
	@ExternalNotes VarChar(5000) = NULL, 
	@Overhaul Bit = NULL,  
	@Qty Int = NULL,
	@MaterialsBetterment Bit = 0,  
	@OperationSublet Bit = 0,  
	@PartBetterment Bit = 0,  
	@PartSublet Bit = 0,  
	@LaborBetterment Bit = 0,  
	@LaborSublet Bit = 0,  
	@PaintBetterment Bit = 0,  
	@PaintSublet Bit = 0, 
	@VendorID Int = 0,  
	@SourcePartNumber VarChar(50) = NULL,  
	@Allowance Real = NULL,
	@UndersideTime Real = NULL,
	@AdjacentDeduction TinyInt = 0,  
	@MajorPanel Bit = 0,  
	@CustomerPrice Money = NULL, 
	@BettermentValue Real = NULL,  
	@BettermentType CHAR(1) = '',		-- Blank for none, P for percent D for dollar  
	@barcode VarChar(10)= NULL,
	@AdjacentDeductionLock Bit = 0, 
	@LockAllowance Bit = 0,  
	@LockClearcoat Bit = 0,  
	@LockBlend Bit = 0,  
	@LockEdging Bit = 0,  
	@LockUnderside Bit = 0,	  
	@IncludeAllowance Bit = 0,  
	@IncludeClearcoat Bit = 0,  
	@IncludeBlend Bit = 0,  
	@IncludeEdging Bit = 0,  
	@IncludeUnderside Bit = 0,	
	@UpdateBaseRecord BIT = 0,

	@IsPartsQuantity BIT = false,  
	@IsLaborQuantity BIT = false,  
	@IsPaintQuantity BIT = false,  
	@IsOtherCharges BIT = false,  

	@Return Int = NULL OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @LockedID Int  
	DECLARE @SupplementVersion Int  
	DECLARE @NextSeq Int  
	DECLARE @AutomaticCharge BIT
	DECLARE @AutoAddBarcodeParent VarChar(10)
	DECLARE @RowCount Int  

	SELECT @PartNumber = LTRIM(RTRIM(REPLACE(@PartNumber,'GM PART','')))  
  
	SELECT @LockedID = NULL,  
		@SupplementVersion = NULL,  
		@Return = @EstimationLineItemsID  
  
	SELECT @LockedID = EstimationData.EstimationLineItemIDLocked,  
		@SupplementVersion = EstimationData.LockLevel,  
		@AdminInfoID = EstimationData.AdminInfoID   
	FROM EstimationLineItems  
	INNER JOIN EstimationData ON  
		(EstimationData.id = EstimationLineItems.EstimationDataID)  
	WHERE EstimationLineItems.id = @EstimationLineItemsID   
  
	SELECT @NextSeq = EstimationData.NextUniqueSequenceNumber  
	FROM EstimationData   
	WHERE AdminInfoID = @AdminInfoID  
  
	SELECT @LockedID = ISNULL(@LockedID,-1), @SupplementVersion = ISNULL(@SupplementVersion,0)  

	IF @EstimationLineItemsID > @LockedID OR @UpdateBaseRecord = 1 
	BEGIN  
		UPDATE EstimationLineItems   
		SET	StepID = @StepID,   
			SectionID = @SectionID,   
			PartSource = @PartSource,   
			ActionCode = REPLACE(@Operation,'&','+'),   
			ActionDescription = @OpDesc,   
			PartNumber = @PartNumber,   
			Description = LEFT(@Description,80),   
			Price = @Price,   
			PartOfOverhaul = @Overhaul,   
			Qty = @Qty,  
			SubletOperationFlag = @OperationSublet,   
			SubletPartsFlag = @PartSublet,  
			PartSourceVendorID = @VendorID,  
			SupplementVersion = @SupplementVersion,  
			CustomerPrice  = @CustomerPrice,  
			BettermentType = @BettermentType,  
			BettermentValue = @BettermentValue,  
			BettermentParts = @PartBetterment,  
			BettermentMaterials = @MaterialsBetterment,  
			VehiclePosition = @VehiclePosition,  
			Barcode = @Barcode,  
			dbPrice = 0,  
			SourcePartNumber = @SourcePartNumber,  
			@AutomaticCharge = ISNULL(AutomaticCharge, @AutomaticCharge),  
			@AutoAddBarcodeParent = ISNULL(AutoAddBarcodeParent,@AutoAddBarcodeParent),
			
			IsPartsQuantity = @IsPartsQuantity,
			IsLaborQuantity = @IsLaborQuantity,
			IsPaintQuantity = @IsPaintQuantity,
			IsOtherCharges  = @IsOtherCharges
		WHERE ID = @EstimationLineItemsID  
	  
		UPDATE EstimationLineItems   
		SET Qty = @Qty - dbo.GetLineItemQuantity(ModifiesID)  
		WHERE id = @EstimationLineItemsID AND SupplementVersion > 0  
  
		IF @ExternalNotes <> ''  
		BEGIN  
			UPDATE EstimationNotes  
			SET	Printed = 1,  
				Notes = @ExternalNotes  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				Printed = 1  
  
			IF @@ROWCOUNT = 0   
				INSERT INTO EstimationNotes (EstimationLineItemsID, Printed, Notes)  
					VALUES (@EstimationLineItemsID, 1, @ExternalNotes)  
		END  
		ELSE  
			DELETE FROM EstimationNotes   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				Printed = 1  
  
		IF @InternalNotes <> ''  
		BEGIN  
			UPDATE EstimationNotes   
			SET	Printed = 0,  
				Notes = @ExternalNotes  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				Printed = 0  
  
			IF @@ROWCOUNT = 0   
				INSERT INTO EstimationNotes (EstimationLineItemsID, Printed, Notes)  
						VALUES (@EstimationLineItemsID, 0, @InternalNotes)  
		END  
		ELSE  
			DELETE FROM EstimationNotes   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				Printed = 0  
		  
		--DELETE FROM EstimationLineLabor  
		--WHERE EstimationLineItemsID = @EstimationLineItemsID  
	  
		/****** Labor ******/  
		IF @LaborType in (1,2,3,4,5,6,8,24,25,32)  AND abs(@LaborTime) >= 0.01  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = @LaborType,   
				LaborSubType = 0,   
				LaborTime = @LaborTime,   
				LaborCost = NULL,   
				BettermentFlag = @LaborBetterment,   
				SubletFlag = @LaborSublet,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType
			FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType in (1,2,3,4,5,6,8,24,25,32)  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType in (1,2,3,4,5,6,8,24,25,32)  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, @LaborType, 0, @LaborTime, NULL, @LaborBetterment, @LaborSublet, @NextSeq, null, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType in (1,2,3,4,5,6,8,24,25,32)  
		/****** End Labor ******/  
  
		/****** Paint ******/  
		IF @PaintType in (9,16,18,19,29)    -- Ezra 6/27 paint type can be set without an allowance and we still want it to save -- AND abs(ISNULL(@PaintTime,0)) >= 0.01  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = @PaintType,   
				LaborSubType = 0,   
				LaborTime = @PaintTime,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				AdjacentDeduction = @AdjacentDeduction,  
				MajorPanel = @MajorPanel,  
				AdjacentDeductionLock = @AdjacentDeductionLock,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType in (9,16,18,19,29)  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType in (9,16,18,19,29)  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, AdjacentDeduction, MajorPanel, UniqueSequenceNumber, dbLaborTime, AdjacentDeductionLock,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, @PaintType, 0, @PaintTime, NULL, @PaintBetterment, @PaintSublet, @AdjacentDeduction, @MajorPanel, @NextSeq, null, @AdjacentDeductionLock, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType in (9,16,18,19,29)  
		/****** End Paint ******/  
  
		/****** Other ******/	  
		IF @Other in (13,14,15,30,31)  AND abs(@OtherCharge) <> 0  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = @Other,   
				LaborSubType = 0,   
				LaborTime = NULL,   
				LaborCost = @OtherCharge,   
				BettermentFlag = @LaborBetterment,   
				SubletFlag = @LaborSublet,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType in (13,14,15,30,31)  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType in (13,14,15,30,31)  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, @Other, 0, NULL, @OtherCharge, @LaborBetterment, @LaborSublet, @NextSeq, null, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType in (13,14,15,30,31)  
		/****** End Other ******/  
  
		/****** Clearcoat ******/	  
		IF abs(@ClearcoatTime) >= 0.01 OR @LockClearcoat <> 0  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = 20,   
				LaborSubType = 0,   
				LaborTime = @ClearcoatTime,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				Lock = @LockClearcoat,   
				Include = @IncludeClearcoat,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 20  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor  
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType = 20  
  
				INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Lock, Include,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, 20, 0, @ClearcoatTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @LockClearcoat, @IncludeClearcoat, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
		BEGIN  
			DELETE FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 20  
			SELECT @RowCount = @@ROWCOUNT   
		END  
		/****** End Clearcoat ******/  
  
		/****** Blend ******/	  
		IF abs(@BlendTime) >= 0.01 OR @LockBlend <> 0  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = 26,   
				LaborSubType = 0,   
				LaborTime = @BlendTime,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				Lock = @LockBlend,  
				Include = @IncludeBlend,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 26  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType = 26  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Lock, Include,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, 26, 0, @BlendTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @LockBlend, @IncludeBlend, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 26  
		/****** End Blend ******/  
  
		/****** 2 Tone Allowance ******/			  
		IF (abs(@Allowance) >= 0.01 OR @LockAllowance <> 0) AND @PaintType = 29	--2 Tone Allowance  
		BEGIN  
			UPDATE EstimationLineLabor  
			SET	LaborType = 28,   
				LaborSubType = 0,   
				LaborTime = @Allowance,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				Lock = @LockAllowance,  
				Include = @IncludeAllowance,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 28  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType = 28  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Lock, Include,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, 28, 0, @Allowance, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @LockAllowance, @IncludeAllowance, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 28  
		/****** End 2 Tone Allowance ******/  
  
		/****** 3 Stage Allowance ******/			  
		IF (abs(@Allowance) >= 0.01 OR @LockAllowance <> 0) AND @PaintType = 18	--3 Stage Allowance  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = 27,   
				LaborSubType = 0,   
				LaborTime = @Allowance,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				Lock = @LockAllowance,  
				Include = @IncludeAllowance,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 27  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType = 27  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Lock, Include,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, 27, 0, @Allowance, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @LockAllowance, @IncludeAllowance, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 27  
		/****** End 3 Stage Allowance ******/  
  
		/****** Edging ******/  
		IF abs(@EdgingTime) >= 0.01 OR @LockEdging <> 0  
		BEGIN  
			UPDATE EstimationLineLabor  
			SET	LaborType = 21,   
				LaborSubType = 0,   
				LaborTime = @EdgingTime,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				Lock = @LockEdging,  
				Include = @IncludeEdging,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 21  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType = 21  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Lock, Include,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, 21, 0, @EdgingTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @LockEdging, @IncludeEdging, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 21  
		/****** End Edging ******/  
  
		/****** Underside ******/  
		IF abs(@UndersideTime) >= 0.01 OR @LockUnderside <> 0  
		BEGIN  
			UPDATE EstimationLineLabor   
			SET	LaborType = 22,   
				LaborSubType = 0,   
				LaborTime = @UndersideTime,   
				LaborCost = NULL,   
				BettermentFlag = @PaintBetterment,   
				SubletFlag = @PaintSublet,  
				Lock = @LockUnderside,  
				Include = @IncludeUnderside,
				BettermentPercentage = @BettermentValue,
				BettermentType = @BettermentType  
			FROM EstimationLineLabor  
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 22  
  
			IF @@ROWCOUNT = 0  
			BEGIN  
				DELETE FROM EstimationLineLabor   
				WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
					LaborType = 22  
  
				INSERT INTO EstimationLineLabor (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Lock, Include,BettermentPercentage,BettermentType)  
					SELECT @EstimationLineItemsID, 22, 0, @UndersideTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @LockUnderside, @IncludeUnderside, @BettermentValue, @BettermentType  
				SELECT @NextSeq = @NextSeq + 1  
			END  
		END  
		ELSE  
			DELETE FROM EstimationLineLabor   
			WHERE EstimationLineItemsID = @EstimationLineItemsID AND  
				LaborType = 22  
		/****** End Underside ******/  
  
		--PRINT @NextSeq  
		UPDATE EstimationData   
		SET NextUniqueSequenceNumber = @NextSeq  
		WHERE AdminInfoID = @AdminInfoID  
  
		--TODO:  Overlaps need recalculated whenever the operation time has changed.  
		--EXECUTE FixAdjacencies @AdminInfoID  
		--EXECUTE ShowHideAutoPaints @AdminInfoID  
		
		EXECUTE UpdateAdminTotals @AdminInfoID = @AdminInfoID  
		--IF @NoOverlapCheck = 0  
		--BEGIN  
		--	EXECUTE Mitchell3.dbo.GetOverlapChanges @AdminInfoID--, @AutoPaint, @PaintType  
		--END  
	END  
	ELSE  
	BEGIN  
		-- Here we add a changed record  
		DECLARE @ModifiesID Int 
		DECLARE @AcdCode Char(1) 
		DECLARE @EstimationDataID Int
		DECLARE @LineNumberModified Int  
		DECLARE @LineItemLaborTime	REAL = 0
		DECLARE @Service_Barcode Varchar(10)  
		DECLARE @LastLineNumber SmallInt  
		DECLARE @VehicleID INT

		SELECT @ModifiesID = @EstimationLineItemsID,	  
			@AcdCode = 'C',  
			@SupplementVersion = NULL  
  
		SELECT @SupplementVersion = EstimationData.LockLevel,  
			@EstimationDataID = EstimationData.id,  
			@LineNumberModified = EstimationLineItems.LineNumber ,  
			@AdminInfoID = EstimationData.AdminInfoID,
			@LineItemLaborTime = EstimationLineItems.LaborTime
		FROM EstimationData   
		INNER JOIN EstimationLineItems ON  
			(EstimationLineItems.EstimationDataID = EstimationData.ID)  
		WHERE EstimationLineItems.ID = @EstimationLineItemsID  
  
		SELECT @Service_Barcode = FocusWrite.Dbo.GetServiceBarcode(@AdmininfoID)  
		SELECT @LastLineNumber = dbo.GetLastLineNumber(@AdminInfoID) 
  
		SELECT	@NextSeq = EstimationData.NextUniqueSequenceNumber,  
			@VehicleID = VehicleID  
		FROM EstimationData   
		LEFT JOIN VehicleInfo  ON  
			(VehicleInfo.EstimationDataId = EstimationData.id)  
		WHERE AdminInfoID = @AdminInfoID  
  
		declare @x DATETIME  
	  
		  -- Ezra - 5/6/2019 - On manual entry pages we were getting a bug where sometimes the entry wouldn't save.  I believe this was the cause.  I commented this out and changed the front end pages to 
		  -- disable the save button until getting a response from the server

		--SELECT @X = isnull(Date_Entered,DATEADD(ss,-4,GETDATE()))  
		--FROM EstimationLineItems WITH(NOLOCK)  
		--WHERE EstimationDataID = @EstimationDataID  
		--AND StepID = @StepID  
		--AND SectionID = @SectionID   
		--AND PartNumber =  @PartNumber  
		--AND Barcode = @Barcode  
   
		if (@X is null or datediff(ss,@x,getdate()) >=3)  
		begin  
  
		INSERT INTO EstimationLineItems  (EstimationDataID, StepID, SectionID, PartSource, ActionCode, ActionDescription,   
								PartNumber, Description, Price, PartOfOverhaul, Qty,   
								SubletOperationFlag, SubletPartsFlag,   
								PartSourceVendorID, LineNumber, ACDCode, SupplementVersion, ModifiesID,   
								CustomerPrice, BettermentValue, BettermentType, UniqueSequenceNumber, VehiclePosition,   
								Barcode, dbPrice, SourcePartNumber, AutomaticCharge, AutoAddBarcodeParent, LaborTime,
								IsPartsQuantity, IsLaborQuantity, IsPaintQuantity, IsOtherCharges,BettermentParts,BettermentMaterials)  
					VALUES (@EstimationDataID, @StepID, @SectionID, @PartSource, REPLACE(@Operation,'&','+'), @OpDesc,   
								@PartNumber, LEFT(@Description,80), @Price, @Overhaul, @Qty,   
								@OperationSublet, @PartSublet,   
								@VendorID, @LastLineNumber+1, @AcdCode, @SupplementVersion, @ModifiesID,   
								@CustomerPrice, @BettermentValue, @BettermentType, @NextSeq, @VehiclePosition, @Barcode, null,   
								@SourcePartNumber, @AutomaticCharge, @AutoAddBarcodeParent, @LineItemLaborTime,
								@IsPartsQuantity, @IsLaborQuantity, @IsPaintQuantity, @IsOtherCharges,@PartBetterment, @MaterialsBetterment)  
  
		DECLARE @originalLineItemID INT = @EstimationLineItemsID  
		SELECT @EstimationLineItemsID = @@IDENTITY  
		SELECT @Return = @EstimationLineItemsID  
		SELECT @NextSeq = @NextSeq + 1  
  
		-- if a new line was added, update the quantity value.  This is the difference between the passed value adn the current value  
		UPDATE EstimationLineItems   
		SET Qty = @Qty - dbo.GetLineItemQuantity(ModifiesID)  
		WHERE id = @EstimationLineItemsID AND SupplementVersion > 0  
  
		IF @ExternalNotes <> ''  
			INSERT INTO EstimationNotes  (EstimationLineItemsID, Printed, Notes)  
				VALUES (@EstimationLineItemsID, 1, @ExternalNotes)  
		IF @InternalNotes <> ''  
			INSERT INTO EstimationNotes  (EstimationLineItemsID, Printed, Notes)  
					VALUES (@EstimationLineItemsID, 0, @InternalNotes)  
	  
		IF @LaborType IS NOT NULL  AND abs(@LaborTime) >= 0.01  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, AdjacentDeductionLock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, @LaborType, 0, @LaborTime, NULL, @LaborBetterment, @LaborSublet, @NextSeq, null, @AdjacentDeductionLock,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
	--PRINT '@PaintTime='+ISNULL(CONVERT(VarChar(20),@PaintTime),'NULL')  
	--PRINT '@PaintType='+ISNULL(CONVERT(VarChar(20),@PaintType),'NULL')  
  
		-- Ezra - 1/25/17 - for blend we need to be able to add no paint time but still have a paint type  
		--IF abs(@PaintTime) >= 0.01 AND @PaintType IS NOT NULL  
		--BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, AdjacentDeduction, MajorPanel, UniqueSequenceNumber, dbLaborTime, AdjacentDeductionLock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, ISNULL(@PaintType, 0), 0, @PaintTime, NULL, @LaborBetterment, @LaborSublet, @AdjacentDeduction, @MajorPanel, @NextSeq, null, @AdjacentDeductionLock,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		--END  
  
		IF @Other IS NOT NULL  AND abs(@OtherCharge) > 0
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, @Other, 0, NULL, @OtherCharge, 0,0, @NextSeq, null,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
  
		IF abs(@ClearcoatTime) >= 0.01  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, 20, 0, @ClearcoatTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeClearcoat, @LockClearcoat,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
  
		IF abs(@BlendTime) >= 0.01  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, 26, 0, @BlendTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeBlend, @LockBlend,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
		  
		IF abs(@Allowance) >= 0.01 AND @PaintType = 29	--2 Tone Allowance  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, 28, 0, @Allowance, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeAllowance, @LockAllowance,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
		  
		IF abs(@Allowance) >= 0.01 AND @PaintType = 18	--3 Stage Allowance  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, 27, 0, @Allowance, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeAllowance, @LockAllowance,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
		  
		IF abs(@EdgingTime) >= 0.01  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, 21, 0, @EdgingTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeEdging, @LockEdging,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
		  
		IF abs(@UndersideTime) >= 0.01  
		BEGIN  
			INSERT INTO EstimationLineLabor  (EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, dbLaborTime, Include, Lock,BettermentPercentage,BettermentType)  
				SELECT @EstimationLineItemsID, 22, 0, @UndersideTime, NULL, @PaintBetterment, @PaintSublet, @NextSeq, null, @IncludeUnderside, @LockUnderside,@BettermentValue, @BettermentType  
			SELECT @NextSeq = @NextSeq + 1  
		END  
  
		UPDATE EstimationData   
		SET NextUniqueSequenceNumber = @NextSeq  
		WHERE AdminInfoID = @AdminInfoID  
  
		EXECUTE AddOverlapInfo	@EstimationLineItemsID, @VehicleID, @AdminInfoID, @SectionID, @StepID  
		EXECUTE UpdateAdminTotals @AdminInfoID = @AdminInfoID  
	END  
END
END
GO
