USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/9/2018 
-- Description:	Get all phone types 
-- ============================================= 
CREATE PROCEDURE [dbo].[PhoneTypes_GetAll]  
	 
AS 
BEGIN 
	SELECT * 
	FROM PhoneTypes 
	WHERE IsActive = 1
	ORDER BY Screen 
END 
GO
