USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:                            Ezra
-- Create date: 4/22/2019
-- Description:    Get part info for a section for an estimate.
--                                                             This was moved from the Mitchel database so it can be caught by sql compares
-- =============================================
CREATE PROCEDURE [dbo].[GetSectionParts]
                  @nHeader                        Int
                , @nSection                        Int
                , @AdminInfoID Int
                , @AllYears                         BIT = 0
AS
BEGIN
                -- SET NOCOUNT ON added to prevent extra result sets from
                -- interfering with SELECT statements.
                SET NOCOUNT ON;

                -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                -- Get the service barcode and vehicle ID from the estimate info.  This is done differently for older estimates
                -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                DECLARE              @Service_BarCode VarChar(10)
                DECLARE @VehicleID Int 
                DECLARE @Year INT

                IF @AdminInfoID > 1583497 
                                BEGIN 
                                                SELECT 
                                                                  @Service_BarCode = Vehicle_Service_Xref.Service_Barcode 
                                                                , @VehicleID = Vehicle_Service_Xref.VehicleID 
                                                                , @Year = Year
                                                FROM VehicleInfo 
                                                INNER JOIN EstimationData ON EstimationData.id = VehicleInfo.EstimationDataId 
                                                INNER JOIN Vinn.dbo.Vehicle_Service_Xref ON Vehicle_Service_Xref.VehicleID = VehicleInfo.VehicleID 
                                                WHERE EstimationData.AdminInfoID = @AdminInfoID 
                                END 
                ELSE 
                                BEGIN 
                                                SELECT @Service_Barcode = Mitchell3.Dbo.GetServiceBarcode(@AdmininfoID) 

                                                SELECT @VehicleID = VehicleInfo.VehicleID 
                                                FROM Focuswrite.dbo.EstimationData 
                                                INNER JOIN VehicleInfo ON VehicleInfo.EstimationDataId = EstimationData.id
                                                WHERE EstimationData.AdminInfoID = @AdminInfoID 
                                                
                                                SET @AllYears = 1
                                END 

                DECLARE @VehicleStamp DATETIME = DATETIMEFROMPARTS(@Year, 1, 2, 0, 0, 0, 0)

                -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                -- Create the #Details temp table to prevent multiple joins.
                -- This table has all of the Detail, Part, and Hotspot data for the Service_Barcode / nheader / nsection combination. 
                -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                SELECT DISTINCT
                                                Detail.*
                                  , Part.Part_Desc
                                  , Hotspot.nimage
                                  , Hotspot.Callout_Number
                                  , Hotspot.X_Coordinate
                                  , Hotspot.Y_Coordinate
                                  , Hotspot.X_Extent
                                  , Hotspot.Y_Extent
                INTO #Details
                FROM Mitchell3.Dbo.Part  
    LEFT JOIN Mitchell3.Dbo.Detail  ON 
        Part.Service_Barcode = Detail.Service_Barcode
        AND Part.nheader = Detail.nHeader  
        AND Part.nsection  = Detail.nSection
        AND Part.nPart = Detail.nPart
    LEFT JOIN Mitchell3.Dbo.Hotspot ON 
        Part.Service_Barcode = Hotspot.Service_Barcode
        AND Part.nheader = Hotspot.nHeader
        AND Part.nsection = Hotspot.nSection  
        AND Part.nPart = Hotspot.nPart
                WHERE 
                                Part.Service_Barcode = @Service_BarCode  
        AND Part.nHeader = @nHeader  
        AND Part.nSection = @nSection 
                                AND 
                                (
                                                (@AllYears = 1 OR @VehicleStamp BETWEEN Detail.Start_Date AND Detail.End_Date)
                                                OR
                                                (Detail.Start_Date IS NULL AND Detail.End_Date IS NULL)
                                )

                SELECT DISTINCT 
                                ISNULL('N' + CONVERT(VarChar(5), Details.Callout_Number), '') 'Reference', 
                                ISNULL('N' + CONVERT(VarChar(5), Details.Callout_Number), '') 'ExName', 
                                CONVERT(VarChar(25), LTRIM(RTRIM(REPLACE(Details.Part_Number, 'GM PART','')))) 'PartNumber', 

                                CASE  
                                                WHEN 
                                                                Details.Part_Text IS NOT NULL AND Details.Part_Desc IS NOT NULL  
                                                                AND CHARINDEX(Details.Part_Desc, Details.Part_Text) = 0  
                                                                AND CHARINDEX(Details.Part_Text, Details.Part_Desc) = 0   
                                                                THEN Details.Part_Desc +' (' + Details.Part_Text + ')' 
                                                WHEN 
                                                                Details.Part_Text IS NOT NULL AND Details.Part_Desc IS NOT NULL 
                                                                AND CHARINDEX(Details.Part_Desc, Details.Part_Text) > 0  
                                                                THEN Details.Part_Desc 
                                                WHEN 
                                                                Details.Part_Text IS NOT NULL AND Details.Part_Desc IS NOT NULL 
                                                                AND CHARINDEX(Details.Part_Text, Details.Part_Desc) > 0   
                                                                THEN Details.Part_Text 
                                                WHEN 
                                                                Details.Part_Desc IS NOT NULL 
                                                                THEN Details.Part_Desc  
                                                WHEN Details.Part_Text IS NOT NULL 
                                                                THEN Details.Part_Text 
                                                ELSE '' 
                                END 
                                + 
                                CASE  
                                                WHEN 
                                                                Details.Start_Date IS NOT NULL 
                                                                AND Details.End_Date IS NOT NULL 
                                                                AND Year(Details.Start_Date) <> Year(Details.End_Date) 
                                                                THEN ' (' + CONVERT(VarChar(4), Year(Details.Start_Date)) + '-' + CONVERT(VarChar(4), Year(Details.End_Date)) + ')' 
                                                WHEN 
                                                                Details.Start_Date IS NOT NULL 
                                                                AND Details.End_Date IS NOT NULL 
                                                                AND Year(Details.Start_Date) = Year(Details.End_Date) 
                                                                THEN ' (' + CONVERT(VarChar(4), Year(Details.Start_Date)) + ')' 
                                                WHEN 
                                                                Details.Start_Date IS NOT NULL 
                                                                AND Details.End_Date IS NOT NULL 
                                                                AND Year(Details.Start_Date) <> Year(Details.End_Date) 
                                                                THEN ' (' + CONVERT(VarChar(4),Year(Details.Start_Date)) + '-' + CONVERT(VarChar(4),Year(Details.End_Date)) + ')' 
                                                WHEN 
                                                                Details.Start_Date IS NOT NULL 
                                                                AND Details.End_Date IS NOT NULL 
                                                                AND Year(Details.Start_Date) = Year(Details.End_Date) 
                                                THEN ' (' + CONVERT(VarChar(4),Year(Details.Start_Date)) + ')' 
                                                ELSE '' 
                                END 
                                +
                                CASE  
                                                WHEN Details.Right_Left_Code = 1 THEN ' (Right)' 
                                                WHEN Details.Right_Left_Code = 2 THEN ' (Left)' 
                                                ELSE '' 
                                END 'comment', 

                                Details.Prtc_Description as 'Description', 
             
                                CONVERT(Money,Details.Price_1) / 100 'Price', 
                                EstimationLineItems.Price 'EnteredPrice', 
                                ISNULL('N' + CONVERT(VarChar(5), Details.Callout_Number),'') 'Reference2', 
                                CASE WHEN Details.Labor_op = 6 THEN 1 ELSE 0 END 'Paintable', 

                                CASE  
                                                WHEN Details.Labor_Type = 0 THEN 1 
                                                WHEN Details.Labor_Type = 1 THEN 9 
                                                WHEN Details.Labor_Type = 2 THEN 25 
                                                WHEN Details.Labor_Type = 3 THEN 2 
                                                WHEN Details.Labor_Type = 4 THEN 4 
                                END 'LaborType', 

                                CASE  
                                                WHEN Details.Labor_Type = 0 THEN 'Body' 
                                                WHEN Details.Labor_Type = 1 THEN 'Refinish' 
                                                WHEN Details.Labor_Type = 2 THEN 'Glass' 
                                                WHEN Details.Labor_Type = 3 THEN 'Frame' 
                                                WHEN Details.Labor_Type = 4 THEN 'Mechanical' 
                                END 'LaborName', 

                                CASE  
                                                WHEN Details.Labor_Type = 0 THEN 1 
                                                WHEN Details.Labor_Type = 1 THEN 9 
                                                WHEN Details.Labor_Type = 2 THEN 25 
                                                WHEN Details.Labor_Type = 3 THEN 2 
                                                WHEN Details.Labor_Type = 4 THEN 4 
                                END 'LaborNameID', 

                                CASE WHEN Details.Labor_op = 6 THEN 9 ELSE 0 END 'PaintType' , 
                                CASE WHEN Details.Labor_op = 6 THEN 'Clearcoat' ELSE '' END 'PaintName', 
                                CASE WHEN Details.Labor_op = 6 THEN 9 ELSE 0 END 'PaintNameID' , 
                                CASE WHEN Details.Labor_op = 6 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'PaintTime', 
                                CASE WHEN Details.Labor_Op = 1 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'RRTime', 
                                CASE WHEN Details.Labor_Op IN (1, 2) THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'RITime', 
                                CASE WHEN Details.Labor_Op = 3 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'AddTime', 
                                CASE WHEN Details.Labor_Op = 4 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'AlignTime', 
                                CASE WHEN Details.Labor_Op = 5 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'OHTime', 
                                CASE WHEN Details.Labor_Op = 7 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'AITime', 
                                CASE WHEN Details.Labor_Op = 8 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'CATime', 
                                CASE WHEN EstimationLineLabor.LaborType IN (1, 2, 3, 4, 5, 6, 7, 24, 25) THEN EstimationLineLabor.LaborTime END 'LaborTime', 
                                CASE  
                                                WHEN Details.Right_Left_Code = 1 THEN 'Right' 
                                                WHEN Details.Right_Left_Code = 2 THEN 'Left' 
                                END 'VehiclePosition', 
                                ISNULL(EstimationLineItems.Qty, 0) 'QtyOrdered', 
                                ISNULL(EstimationLineItems.ActionCode, '') 'Action', 
                                ISNULL(EstimationLineItems.id, -1) 'ID', 
                                ISNULL(EstimationLineItems.LineNumber, -1) 'LineNumber', 
                                Details.Callout_Number 'DetailLineCallout', 
                                @Service_BarCode 'Service_Barcode', 
                                Details.barcode 'Barcode', 
                                ISNULL(Details.Sequence, 99999) 'Sequence', 
                                Details.Part_Text, 
                                REPLACE(ISNULL('<B>Labor time is for '+ IOHChanges.Part_Desc+'</B><BR>','') + DetailNotes.Notes, '·', '') 'Notes', 
                                EstimationLineItemsRep.id 'RepairID', 
                                case when EstimationLineLabor.LaborType in (27,28) then EstimationLineLabor.Lock end 'LockAllowance', 
                                case when EstimationLineItems.ActionCode <> 'Blend' AND EstimationLineLabor.LaborType = 26 then EstimationLineLabor.LaborTime end 'LaborTimeBlend', 
                                case when EstimationLineLabor.LaborType in (7,9,10,16,17,18,19,20) AND EstimationLineLabor.AdjacentDeduction IS NOT NULL then EstimationLineLabor.LaborType end 'LaborPaintType', 
                                case when EstimationLineLabor.LaborType in (7,9,10,16,17,18,19,20) AND EstimationLineLabor.AdjacentDeduction IS NOT NULL then EstimationLineLabor.LaborTime end 'LaborPaintTime', 
                                case when EstimationLineLabor.LaborType in (1,2,3,4,5,6,7,24,25,32) then EstimationLineLabor.LaborType end 'LaborMainType', 
                                Details.Right_Left_Code,
                                CONVERT(Decimal(8, 3), RIAssembly.Labor_Hours) / 10 AS RILaborHours
                INTO #Temp1 
                FROM #Details Details
                LEFT JOIN AdminInfo ON AdminInfo.id = @AdminInfoID
                LEFT JOIN EstimationData ON AdminInfo.ID = EstimationData.AdminInfoID
                LEFT JOIN EstimationLineItems ON EstimationData.ID = EstimationLineItems.EstimationDataID AND Details.barcode = EstimationLineItems.Barcode

                LEFT JOIN EstimationLineLabor ON EstimationLineItems.ID = EstimationLineLabor.EstimationLineItemsID

                --Get the secondary repair information 
                LEFT JOIN EstimationLineItems EstimationLineItemsRep ON EstimationData.ID = EstimationLineItemsRep.EstimationDataID AND LTRIM(RTRIM(EstimationLineItems.Barcode)) + 'REP' = EstimationLineItemsRep.Barcode

                LEFT JOIN Mitchell3.dbo.DetailNotes ON DetailNotes.Service_Barcode = @Service_BarCode AND Details.barcode = DetailNotes.Barcode
                LEFT JOIN Mitchell3.dbo.IOHChanges ON IOHChanges.Service_Barcode = @Service_BarCode AND Details.barcode = IOHChanges.BarcodeIOH 

                LEFT OUTER JOIN #Details RIAssembly ON RIAssembly.Part_Desc LIKE 'R&I ' + Details.Part_Desc + '%'

                WHERE                                 
                                AdminInfo.id = @AdminInfoID  

                UPDATE #Temp1 
                SET   
                                PaintType = 9, 
                                PaintName = 'Clearcoat', 
                                PaintNameID = 9, 
                                PaintTime = CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10, 
                                Paintable = 1 
                FROM #Temp1 Temp1 
                INNER JOIN Mitchell3.Dbo.Matrix ON 
                                Temp1.Service_Barcode = Matrix.Service_Barcode
                                AND Temp1.barcode = Matrix.Parent_Barcode
                                AND Temp1.LaborType <> 9
                INNER JOIN #Details Details ON
                                Temp1.Service_Barcode = Details.Service_BarCode
                                AND Matrix.Child_Barcode = Details.barcode
                                AND Details.Labor_Type = 1 
                                AND Temp1.Right_Left_Code = Details.Right_Left_Code
     
                WHERE  
                                (Details.Part_Text IS NULL OR (Details.Part_Text IS NOT NULL AND Details.Part_Text NOT LIKE 'Add%' ))
                                AND (Details.Part_Desc IS NULL OR (Details.Part_Desc IS NOT NULL AND Details.Part_Desc NOT LIKE 'Add%' )) 
                                AND Details.Right_Left_Code > 0 
                                AND ISNULL(Details.Right_Left_Code, 0) = ISNULL(Temp1.Right_Left_Code, 0)   
                                OR (Details.Right_Left_Code = 0 AND ((Details.prtc_description like '%Complete%') OR (Details.prtc_description like '%components%'))) 
 
                UPDATE #Temp1 
                SET   
                                PaintType = 9, 
                                PaintName = 'Clearcoat', 
                                PaintNameID = 9, 
                                PaintTime = CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10, 
                                Paintable = 1 
                FROM #Temp1 Temp1 
                INNER JOIN Mitchell3.Dbo.Matrix  ON 
                                Temp1.Service_Barcode = Matrix.Service_Barcode  
                                AND Temp1.barcode = Matrix.Parent_Barcode 
                                AND Temp1.LaborType <> 9
                INNER JOIN #Details Details ON
                                Temp1.Service_Barcode = Details.Service_BarCode
                                AND Matrix.Child_Barcode = Details.barcode
                                AND Details.Labor_Type = 1 
                                AND Temp1.Right_Left_Code = Details.Right_Left_Code
                WHERE  
                                (Details.Part_Text IS NULL OR (Details.Part_Text IS NOT NULL AND Details.Part_Text NOT LIKE 'Add%' ) )
                                AND (Details.Part_Desc IS NULL OR (Details.Part_Desc IS NOT NULL AND Details.Part_Desc NOT LIKE 'Add%' ) ) 
                                AND Temp1.PaintTime = 0 
 
                SELECT  
                                Reference,           
                                RepairID,             
                                MAX(LaborTime) AS LaborTime,
                                ExName,         
                                PartNumber,           
                                Description, 
                                comment,           
                                Price,    
                                Reference2, 
                                LaborType,
                                LaborName,      
                                LaborNameID,     
                                PaintType,     
                                PaintName,            
                                PaintTime,      
                                RRTime,      
                                CASE WHEN RILaborHours > 0 THEN RILaborHours ELSE RITime END AS RITime,   
                                VehiclePosition,      
                                QtyOrdered,           
                                Action,         
                                ID,     
                                LineNumber,      
                                DetailLineCallout,     
                                Service_Barcode,      
                                Barcode, 
                                Part_Text, 
                                Notes, 
                                AddTime,  
                                AlignTime,  
                                OHTime,  
                                AITime,  
                                CATime, 
                                LockAllowance,        
                                MAX(LaborTimeBlend) LaborTimeBlend,       
                                MAX(LaborPaintTime) LaborPaintTime,       
                                MAX(LaborPaintType) LaborPaintType, 
                                MAX(LaborMainType) LaborMainType
                FROM #Temp1
                GROUP BY
                                Reference,           
                                RepairID,             
                                ExName,         
                                PartNumber,           
                                Description, 
                                comment,           
                                Price,    
                                Reference2, 
                                LaborType,
                                LaborName,      
                                LaborNameID,     
                                PaintType,     
                                PaintName,            
                                PaintTime,      
                                RRTime,         
                                RITime,         
                                VehiclePosition,      
                                QtyOrdered,           
                                Action,         
                                ID,     
                                LineNumber,      
                                DetailLineCallout,     
                                Service_Barcode,      
                                Barcode, 
                                Part_Text, 
                                Notes, 
                                AddTime,  
                                AlignTime,  
                                OHTime,  
                                AITime,  
                                CATime, 
                                LockAllowance,
                                Sequence,
                                RILaborHours
                ORDER BY Sequence 

                DROP TABLE #Temp1 
                DROP TABLE #Details

END
GO
