USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 9/4/2018 
-- Description:	Get the oringinal rate ID for the profile attached to the passed estimate ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfile_GetOriginalID] 
	@AdminInfoID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	-- Get the Original Profile ID for the profile attached to the passed estimate 
	DECLARE @OriginalID INT =  
	( 
		SELECT CustomerProfiles.OriginalID 
		FROM AdminInfo 
		JOIN CustomerProfiles ON CustomerProfiles.ID = AdminInfo.CustomerProfilesID 
		WHERE AdminInfo.ID = @AdminInfoID 
	) 
 
	-- Keep looking for a parent original ID until we find null or 1, don't use that one 
	DECLARE @Continue BIT = 1 
 
	WHILE @Continue = 1 
		BEGIN 
 
			DECLARE @ParentID INT = 
			( 
				SELECT ISNULL(OriginalID, 0) 
				FROM CustomerProfiles 
				WHERE id = @OriginalID AND ISNULL(AdminInfoID, 0) > 1 
			) 
 
			IF @ParentID > 1 
				BEGIN 
					SET @OriginalID = @ParentID  
				END 
			ELSE 
				BEGIN 
					SET @Continue = 0 
				END 
		END 
 
	SELECT @OriginalID 
 
END 
GO
