USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/22/2021
-- =============================================
CREATE PROCEDURE [dbo].[Emails_GetUnsent]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT		Emails.*,
				CASE WHEN ISNULL(Vendor.ID, 0) > 1
					THEN Vendor.CompanyName
					ELSE Logins.CompanyName    
				END As CompanyName		     
	FROM		Emails WITH (NOLOCK)
	LEFT JOIN	ReportEmail  WITH (NOLOCK) ON Emails.ID = ReportEmail.EmailID
	LEFT JOIN	EstimationData WITH (NOLOCK) ON EstimationData.AdminInfoID = ReportEmail.EstimateID
	LEFT JOIN	Logins WITH (NOLOCK) ON Emails.LoginID = Logins.ID   
	LEFT JOIN	Vendor WITH (NOLOCK) ON EstimationData.AlternateIdentitiesID  = Vendor.ID 
	WHERE		SendStamp IS NULL 
				AND ISNULL(HasError, 0) = 0

END
GO
