USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CustomerGet]   
	@ID					int 
AS 
BEGIN 
 
	SELECT TOP 1 Customer.*,  tbl_ContactPerson.ContactID, tbl_ContactPerson.AdmininfoID, tbl_ContactPerson.FirstName, tbl_ContactPerson.MiddleName, tbl_ContactPerson.LastName, 
	tbl_ContactPerson.Email, tbl_ContactPerson.Phone2, tbl_ContactPerson.Phone1, tbl_ContactPerson.FaxNumber, tbl_ContactPerson.BusinessName, tbl_ContactPerson.Notes,
	tbl_ContactPerson.Title, tbl_ContactPerson.SaveCustomer, tbl_ContactPerson.Extension1, tbl_ContactPerson.Extension2, tbl_ContactPerson.ContactTypeID, 
	tbl_ContactPerson.ContactSubTypeID, tbl_ContactPerson.DateAdded, tbl_ContactPerson.Phone3, tbl_ContactPerson.Extension3, tbl_ContactPerson.SecondaryEmail,
	[dbo].[GetReplacedPhoneNumberType](PhoneNumberType1) AS PhoneNumberType1, 
	[dbo].[GetReplacedPhoneNumberType](PhoneNumberType2) AS PhoneNumberType2, 
	[dbo].[GetReplacedPhoneNumberType](PhoneNumberType3) AS PhoneNumberType3, tbl_Address.*
	FROM Customer 
	LEFT JOIN tbl_ContactPerson ON Customer.ContactID = tbl_ContactPerson.ContactID 
	LEFT JOIN tbl_Address ON Customer.AddressID = tbl_Address.AddressID 
	WHERE Customer.ID = @ID 
 
end 
GO
