USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteCustomerProfilePresetsLaborByAdminInfo]
	@admininfoid int
AS
DELETE FROM CustomerProfilePresetsLabor
FROM customerprofilepresetslabor cppl
inner join customerprofilepresets cpp
inner join customerprofiles cp
inner join admininfo a
on cp.id = a.customerprofilesid
on cp.id = cpp.customerprofilesid
on cpp.id = cppl.customerprofilepresetsid
where a.id = @admininfoid


GO
