USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMake](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MakeName] [varchar](35) NULL,
	[MakeID] [int] NULL
) ON [PRIMARY]
GO
