USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins_Old](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](25) NOT NULL,
	[Organization] [varchar](50) NULL,
	[encPassword] [varchar](255) NOT NULL,
	[Password] [varchar](100) NULL,
	[PasswordExpired] [bit] NULL,
	[Disabled] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CertificateInfo] [varchar](255) NULL,
	[SessionID] [varchar](255) NULL,
	[AdminInfoID] [int] NULL,
	[SessionExpires] [datetime] NULL,
	[OrgAdminRights] [bit] NULL,
	[FWAdminRights] [bit] NULL,
	[AuthOnly] [bit] NULL,
	[OrganizationID] [int] NULL,
	[ContactsID] [int] NULL,
	[LastLogin] [datetime] NULL,
	[LastActivity] [datetime] NULL,
	[CustomerNumber] [int] NULL,
	[ExpireDate] [datetime] NULL,
	[QuickReports] [bit] NULL,
	[DefaultSectionOrder] [varchar](20) NULL,
	[EstInfoOwnPage] [bit] NULL,
	[LargeFonts] [bit] NULL,
	[UseTabsOnContactInfo] [bit] NULL,
	[StartPage] [tinyint] NULL,
	[SameWindowAfterLogin] [bit] NULL,
	[AddPaintExtrasDefault] [varchar](2) NULL,
	[DemoUser] [bit] NULL,
	[MarkForDelete] [bit] NULL,
	[PaymentDueDate] [datetime] NULL,
	[PaymentDueAmount] [money] NULL,
	[MarkForDeleteAddr] [varchar](20) NULL,
	[MarkForDeleteDate] [datetime] NULL,
	[GraphicSize] [tinyint] NULL,
	[InfoForm] [bit] NOT NULL,
	[SalesRepID] [int] NOT NULL,
	[DoubtfulAccount] [bit] NOT NULL,
	[Language_id] [int] NOT NULL,
	[StaffAccount] [bit] NOT NULL,
	[PDF_Image_Size] [tinyint] NULL,
	[TechSupportPassword] [nvarchar](50) NULL,
	[UseTin] [bit] NOT NULL,
	[NoOfLogins] [smallint] NOT NULL,
	[SoftwareType] [varchar](50) NOT NULL,
	[CompanyOrigin] [tinyint] NOT NULL,
	[CWAccountID] [varchar](50) NULL,
	[ResellerId] [int] NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_Logins_9_335392314__K1_K39_K17_K41_K38_K16] ON [dbo].[Logins_Old]
(
	[id] ASC,
	[DoubtfulAccount] ASC,
	[ContactsID] ASC,
	[StaffAccount] ASC,
	[SalesRepID] ASC,
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [admininfoid] ON [dbo].[Logins_Old]
(
	[AdminInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [contactsid] ON [dbo].[Logins_Old]
(
	[ContactsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_Logins_1] ON [dbo].[Logins_Old]
(
	[LoginName] ASC,
	[Organization] ASC,
	[encPassword] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_Logins_2] ON [dbo].[Logins_Old]
(
	[OrganizationID] ASC,
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Logins_CompanyOrigin] ON [dbo].[Logins_Old]
(
	[CompanyOrigin] ASC
)
INCLUDE([id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Logins_ContactsID] ON [dbo].[Logins_Old]
(
	[ContactsID] ASC
)
INCLUDE([id],[LoginName],[Organization],[OrganizationID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [LoginName] ON [dbo].[Logins_Old]
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_Disabled]  DEFAULT ((0)) FOR [Disabled]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_AdminRights]  DEFAULT ((0)) FOR [OrgAdminRights]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_FWAdminRights]  DEFAULT ((0)) FOR [FWAdminRights]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_QuickReports]  DEFAULT ((1)) FOR [QuickReports]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_DefaultSectionOrder]  DEFAULT ('F2B') FOR [DefaultSectionOrder]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_EstInfoOwnPage]  DEFAULT ((1)) FOR [EstInfoOwnPage]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_LargeFonts]  DEFAULT ((0)) FOR [LargeFonts]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_UseTabsOnContactInfo]  DEFAULT ((1)) FOR [UseTabsOnContactInfo]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_FirstPage]  DEFAULT ((1)) FOR [StartPage]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_AddPaintExtrasDefault]  DEFAULT ('') FOR [AddPaintExtrasDefault]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_DemoUser]  DEFAULT ((0)) FOR [DemoUser]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_MarkForDelete]  DEFAULT ((0)) FOR [MarkForDelete]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_MarkForDeleteDate]  DEFAULT (getdate()) FOR [MarkForDeleteDate]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_GraphicSize]  DEFAULT ((2)) FOR [GraphicSize]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_InfoForm]  DEFAULT ((1)) FOR [InfoForm]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_SalesRepID]  DEFAULT ((1)) FOR [SalesRepID]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_DoubtfulAccount]  DEFAULT ((0)) FOR [DoubtfulAccount]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_Language_id]  DEFAULT ((1)) FOR [Language_id]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_StaffAccount]  DEFAULT ((0)) FOR [StaffAccount]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_UseTin]  DEFAULT ((0)) FOR [UseTin]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_NoOfLogins]  DEFAULT ((2)) FOR [NoOfLogins]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_SoftwareType]  DEFAULT ('WebEst') FOR [SoftwareType]
GO
ALTER TABLE [dbo].[Logins_Old] ADD  CONSTRAINT [DF_Logins_CompanyOrigin]  DEFAULT ((0)) FOR [CompanyOrigin]
GO
