USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 9/13/2018 
-- Description:	Log a delete stamp for the passed estimate. 
-- ============================================= 
CREATE PROCEDURE [dbo].[EstimateDeleteHistory_LogDeletion] 
	@AdminInfoID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    INSERT INTO EstimateDeleteHistory 
	( 
		  AdminInfoID 
		, DeleteStamp 
	) 
	VALUES  
	( 
		  @AdminInfoID 
		, GETDATE() 
	) 
END 
GO
