USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- =============================================  
-- Author:		Ezra  
-- Create date: 3/17/2017  
-- Description:	Add or update a stripe record  
-- =============================================  
CREATE PROCEDURE [dbo].[StripeInfoAddOrUpdate]  
	@id					int,  
	@loginID			int,  
	@stripeCustomerID	varchar(50),  
	@stripeCardID		varchar(50),  
	@cardLast4			varchar(4),  
	@cardExpiration		datetime,  
	@deleteFlag			bit,  
	@cardError			bit,  
	@errorMessage		varchar(300),  
	@plaidAccessToken	varchar(50),  
	@plaidItemID		varchar(50),  
	@stripeBankAccountToken	varchar(50),  
	@autoPay			bit  
AS  
BEGIN  
IF EXISTS (SELECT * FROM StripeInfo WHERE ID = @id)  
	BEGIN  
		UPDATE [dbo].[StripeInfo]  
		SET    
		  LoginID = @loginID  
		  ,StripeCustomerID = @stripeCustomerID  
		  ,StripeCardID = @stripeCardID  
		  ,CardLast4 = @cardLast4  
		  ,CardExpiration = @cardExpiration  
		  ,DeleteFlag = @deleteFlag  
		  ,CardError = @cardError  
		  ,ErrorMessage = @errorMessage  
		  ,PlaidAccessToken = @plaidAccessToken  
		  ,PlaidItemID = @plaidItemID  
		  ,StripeBankAccountToken = @stripeBankAccountToken  
		  ,AutoPay = @autoPay  
		WHERE ID = @id  
		  
		SELECT @id		  
	END  
ELSE  
	BEGIN  
		INSERT INTO [dbo].[StripeInfo]  
           (  
			  LoginID  
			  ,StripeCustomerID  
			  ,StripeCardID  
			  ,CardLast4  
			  ,CardExpiration  
			  ,DeleteFlag  
			  ,CardError  
			  ,ErrorMessage  
			  ,PlaidAccessToken  
			  ,PlaidItemID  
			  ,StripeBankAccountToken  
			  ,AutoPay  
			  )  
		 VALUES  
			   (  
			   @loginID  
			  ,@stripeCustomerID  
			  ,@stripeCardID  
			  ,@cardLast4  
			  ,@cardExpiration  
			  ,@deleteFlag  
			  ,@CardError  
			  ,@ErrorMessage  
			  ,@plaidAccessToken  
			  ,@plaidItemID  
			  ,@stripeBankAccountToken  
			  ,@autoPay  
			)  
             
		SELECT CAST(SCOPE_IDENTITY() AS INT)  
	END  
end  
GO
