USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [dbo].[CustomReportTemplateGetForLogin] 105291,0,NULL,0
-- EXEC [dbo].[CustomReportTemplateGetForLogin] NULL,0,NULL,1

CREATE PROCEDURE [dbo].[CustomReportTemplateGetForLogin]
	  @LoginID			INT = NULL,
	  @IsDeleted		BIT = null
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * 
	FROM CustomReportTemplate 
	WHERE	
		 (LoginID = CASE WHEN IsSystemReport = 1 THEN LoginID ELSE ISNULL(@LoginID, LoginID) END)
		 AND IsDeleted = ISNULL(@IsDeleted, IsDeleted)
END
GO
