USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GridColumnInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GridControlID] [varchar](50) NOT NULL,
	[ColumnName] [varchar](100) NOT NULL,
	[HeaderText] [varchar](100) NULL,
	[SortOrderIndex] [int] NULL,
 CONSTRAINT [PK_GridColumnInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
