USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 9/27/2022
-- Description:	Get a LinkRule by ID
-- =============================================
CREATE PROCEDURE [dbo].[LinkRule_Get]
	  @ID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM LinkRule
	WHERE ID = @ID

END
GO
