USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getLineItem]
	@Report varchar(70),
	@AdminInfoID int,
	@PrintPrivateNotes bit,
	@PrintPublicNotes bit,
	@SupplementVersion tinyint
	
	
AS
BEGIN

create table  #Line (Step varchar(200)
					,Description varchar(200)
					,PartNumber varchar(50)
					,Price varchar(50)
					,Qty int
					,PartSource varchar(20)
					,AdminInfoId int
					, LineId int
					, ModifiedID int
					, LaborLineItems varchar(250)
					,Printed varchar(250)
					,Notes varchar(5000)
					, BettermentOperationFlag bit
					, BettermentPartsFlag bit
					, SubletOperationFlag bit
					,SubletPartsFlag bit
					, LineNumber int
					,ModifiesLineNumber int
					,Locked int
					, Modified Int
					, SupplementVersion varchar(50)
					, Location int
					, StepSupp varchar(150)
					, LaborCost varchar(50)
					, LaborTime varchar(150)
					,PaintCost varchar(50)
					, Labor_Cost varchar(50)
					, PaintTime varchar(50)
					, OtherCost varchar(50)
					,LaborLineItemsTotal varchar(50)
					, OverlapAmount varchar(100)
					,a int
					,b int
					,c int
					,d int
					,Line_Number int)

insert into #Line
EXECUTE Mitchell3.dbo.App_Reports @Report = @Report, @AdminInfoID = @AdminInfoID,
			@PrintPrivateNotes = @PrintPrivateNotes,
			@PrintPublicNotes = @PrintPublicNotes

 
 
 
 
if @SupplementVersion = 50
begin  
	 
 select  * 
from #line AS l
	left join (select MIN(line_number)  as MinLineNumber, isnull(step,' ') as step,supplementversion
				from #Line
				group by step,supplementversion) as b
		on b.step = isnull(l.step, ' ') 
		and b.supplementversion = l.supplementversion
	where  l.SupplementVersion in ('','Supplement 1','Supplement 2','Supplement 3','Supplement 4','Supplement 5','Supplement 6')
	order by l.supplementversion,c,l.linenumber
end 
else 
begin
		 
	 select  * 
from #line AS l
	left join (select MIN(line_number)  as MinLineNumber, step,supplementversion
				from #Line
				group by step,supplementversion) as b
		on b.step = l.step 
		and b.supplementversion = l.supplementversion
	where  l.SupplementVersion = case when @SupplementVersion = 0 then '' when @SupplementVersion = 1 then 'Supplement 1' when @SupplementVersion = 2 then 'Supplement 2' when @SupplementVersion = 3 then 'Supplement 3'  when @SupplementVersion = 4 then 'Supplement 4'  when @SupplementVersion = 5 then 'Supplement 5'  when @SupplementVersion = 6 then 'Supplement 6'  end 
	order by l.supplementversion,b.MinLineNumber,l.linenumber
end 


drop table #line
END


GO
