USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 8/2/2018
-- Description:	Insert a Renewal Survey record
-- =============================================
CREATE PROCEDURE [dbo].[RenewalSurvey_Insert]
	@LoginID				int,
	@ContractID				int,
	@TimeStamp				datetime,
	@Reason					varchar(50),
	@Comments				varchar(2000)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO RenewalSurvey
	(
		  LoginID
		, ContractID
		, TimeStamp
		, Reason
		, Comments
	)
	VALUES
	(
		  @LoginID
		, @ContractID
		, @TimeStamp
		, @Reason
		, @Comments
	)
END
GO
