USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/14/2017 
-- Description:	Copy all PDR_Rate records and Multipliers from one rate profile to another 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_Rate_CopyToNewProfile] 
	@SourceProfileID		int, 
	@TargetProfileID		int 
AS 
BEGIN 
	INSERT INTO PDR_Rate 
	( 
		  RateProfileID 
		, Size 
		, Amount 
		, PanelID 
		, Depth 
		, Quantity 
	) 
	SELECT  
		  @TargetProfileID 
		, Size 
		, Amount 
		, PanelID 
		, Depth 
		, Quantity 
	FROM PDR_Rate 
	WHERE RateProfileID = @SourceProfileID 
 
	INSERT INTO PDR_Multiplier 
	( 
		  RateProfileID 
		, Name 
		, Value 
	) 
	SELECT 
		  @TargetProfileID 
		, Name 
		, Value 
	FROM PDR_Multiplier 
	WHERE RateProfileID = @SourceProfileID 
END 
GO
