USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_GetImage]   
	@id int  
as  
begin  

	SELECT *
	FROM EstimationImages
	WHERE id = @id
    
end 

GO
