USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 9/27/2023
-- Description:	Get all global vendors and whether they are selected for an account
-- =============================================
CREATE PROCEDURE [dbo].[Vendors_GetPrivate]
	@LoginID		int
	, @TypeID		tinyint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Vendor.*
	FROM Vendor
	WHERE 
		LoginsID = @LoginID
		AND ISNULL(Deleted, 0) = 0
		AND TypeID = @TypeID
	ORDER BY CompanyName
END
GO
