USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetAddOnPresetProfileForLogin]  
(	 
	    @LoginID			int
	  , @Deleted			bit = 0
) 
RETURNS TABLE  
AS 
RETURN  
( 
			SELECT *
			FROM AddOnPresetProfile
			WHERE 1 = (CASE WHEN LoginID = @LoginID AND Deleted = @Deleted THEN 1 ELSE 0 END)
) 
GO
