USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleData](
	[Step] [int] NOT NULL,
	[Reference] [tinyint] NULL,
	[PartNumber] [varchar](25) NULL,
	[Description] [varchar](100) NULL,
	[ColorCode] [varchar](20) NULL,
	[Price] [money] NULL,
	[Notes] [varchar](255) NOT NULL,
	[QuantityRequired] [smallint] NULL,
	[Paintable] [bit] NULL,
	[LaborType] [tinyint] NULL,
	[LaborTime] [real] NULL,
	[PaintType] [tinyint] NULL,
	[PaintTime] [real] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ReplaceTime] [real] NULL,
	[RRTime] [real] NULL,
	[RepairTime] [real] NULL,
	[RITime] [real] NULL,
	[VehicleID] [int] NULL,
	[Betterment] [bit] NULL,
 CONSTRAINT [PK_VehicleData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [vehicleid] ON [dbo].[VehicleData]
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
