USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE    PROCEDURE [dbo].[GetFrameSub]
	@StartDate datetime,
	@EndDate datetime
	 
 
	 
AS
-- Set start and end date
SELECT	@StartDate = Convert(varchar(10), @StartDate, 101),
		@EndDate = Convert(varchar(10), @EndDate, 101) + ' 11:59:59 PM' 
		
		
select f.*,(s.Firstname + ' ' + s.LastName) as SalesRep
from [FocusWrite].[dbo].[FrameSub] as f with(nolock)
	inner join [FocusWrite].[dbo].[Logins] as l with(nolock)
		on l.id = f.loginid
	left join salesrep as s with(nolock)
		on s.salesrepid = l.salesrepid
where Subdate between   @StartDate and    @EndDate     
order by SubDate desc
   
 




GO
