USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 8/12/2021
-- =============================================
CREATE PROCEDURE [dbo].[EmailChangeLog_Insert]
	  @LoginID				int
	, @OldEmail				varchar(50)
	, @NewEmail				varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO EmailChangeLog
	(
		  LoginID
		, OldEmail
		, NewEmail
		, TimeStamp
	)
	VALUES
	(
		  @LoginID
		, @OldEmail
		, @NewEmail
		, GETDATE()
	)
END
GO
