USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/15/2018 
-- Description:	Create a list of blank EstimateDataPanels for the passed estimate 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_EstimateDataPanel_CreateForEstimate] 
	@AdminInfoID		int 
	 
AS 
BEGIN 
	INSERT INTO PDR_EstimateDataPanel 
	SELECT @AdminInfoID, PDR_Panel.PanelID, 0, 0, 0, 0, '', 0, 0, 0
	FROM PDR_Panel 
	WHERE ISNULL(SortOrder, 0) > 0 
	ORDER BY SortOrder 
END 
GO
