USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[CustomerProfileSupport]
	@Function VarChar(25),
	@ProfileID Int = NULL,
	@RateType TinyInt = NULL,
	@RateString VarChar(100) = NULL
AS

DECLARE @RateID Int
DECLARE @Rate Real
DECLARE @CapType TinyInt
DECLARE @CapAmount Real
DECLARE @Taxable Bit
DECLARE @DiscountMarkup Real
DECLARE @Temp Int
DECLARE @IncludeIn TinyInt


IF @Function = 'UpdateRateInfo' AND
	@ProfileID IS NOT NULL AND
	@RateType IS NOT NULL AND
	@RateString IS NOT NULL
BEGIN
	SELECT @RateID = CONVERT(Int,FocusWrite.Dbo.Extract ( @RateString,  0, '|'))
	SELECT @Rate = CONVERT(Real,FocusWrite.Dbo.Extract ( @RateString,  1, '|'))
	SELECT @Temp = CONVERT(Int,FocusWrite.Dbo.Extract ( @RateString,  2, '|'))
	IF @Temp in (-1,2)
		SELECT @CapType = NULL
	ELSE
		SELECT @CapType = @Temp
	--SELECT @CapType = CONVERT(TinyInt,FocusWrite.Dbo.Extract ( @RateString,  2, '|'))
	SELECT @CapAmount = CONVERT(Real,FocusWrite.Dbo.Extract ( @RateString,  3, '|'))
	SELECT @Taxable = CASE WHEN FocusWrite.Dbo.Extract ( @RateString,  4, '|') = '1' THEN 1 ELSE 0 END
	SELECT @DiscountMarkup = CONVERT(Real,FocusWrite.Dbo.Extract ( @RateString,  5, '|'))
	SELECT @IncludeIn = CONVERT(TinyInt,FocusWrite.Dbo.Extract ( @RateString,  6, '|'))

	INSERT INTO CustomerProfileRates WITH (ROWLOCK) (CustomerProfilesID,RateType,Rate,CapType,Cap,Taxable,DiscountMarkup,IncludeIn)
			VALUES	(@ProfileID, @RateType, @Rate, @CapType, @CapAmount, @Taxable, @DiscountMarkup,@IncludeIn)

END



GO
