USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDR_EstimateDataPanelOversize](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EstimateDataPanelID] [int] NULL,
	[Size] [int] NULL,
	[Depth] [int] NULL,
	[Amount] [money] NULL,
	[SupplementAdded] [int] NULL,
	[SupplementDeleted] [int] NULL,
 CONSTRAINT [PK_PDR_EstimateDataPanelOversize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
