USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/13/2017
-- Description:	Copied from App_Reports, couldn't get results to return in the Telerek report 
-- Revised : 3/6/23 Report_GetPartOrders-02.sql
-- =============================================
--Report_GetPartOrders-02.sql
CREATE PROCEDURE [dbo].[Report_GetPartOrders]   --[dbo].[Report_GetPartOrders]  3467012,'All',100
	@AdminInfoID	int
	, @PartSourceFilter		varchar(20) = 'All'
	, @SupplementVersion	int = -1
AS
BEGIN

DECLARE @IsManual bit = ISNULL((SELECT		vim.ManualSelection 
							  FROM		VehicleInfoManual vim
							  JOIN		VehicleInfo vi ON vim.VehicleInfoID = vi.id
							  JOIN		EstimationData ed ON vi.EstimationDataId = ed.id
							  WHERE		ed.AdminInfoID = @AdminInfoID), 0)

DECLARE @DisplayOrder TABLE
				(
					LineItemID int
					, GroupNumber	int
					, LineNumber	int
					, Sorter	int
					, OriginalID	int
				)
INSERT INTO @DisplayOrder
SELECT Distinct LineItemID, GroupNumber, LineNumber, Sorter, OriginalID
FROM ProcessedLines
Where EstimateID = @AdminInfoID
      And Supplement = (select max(Supplement) from ProcessedLines Where EstimateID = @AdminInfoID)

SELECT 
	AdminInfo.id 'AdminInfoID',  
	EstimationLineItems.PartNumber,  
	EstimationLineItems.Description,  
	ISNULL(VendorType.Name, '') 'PartSource',   
	CONVERT(VarChar(50),  
	CASE  
		WHEN EstimationLineItems.PartSource = '' THEN 'Other'  
		ELSE ISNULL(EstimationLineItems.PartSource,'Other')   
	END) + ' ' + 'Parts' 'Type',  
	EstimationLineItems.Price 'Price',  
	dbo.GetLineItemQuantity(EstimationLineItems.id) AS 'Qty',
	EstimationLineItems.PartSourceVendorID,  
	ISNULL(Vendor.CompanyName, '') AS 'Vendor',
	VehicleInfo.VehicleID,  
	EstimationLineItems.SourcePartNumber,
	ISNULL(EstimationLineItems.SupplementVersion, 0) AS 'Supplement',
	AdminInfo.WorkOrderNumber as 'RandONumber'
FROM AdminInfo with(nolock)
INNER JOIN EstimationData with(nolock) ON EstimationData.AdminInfoID = AdminInfo.id
INNER JOIN EstimationLineItems with(nolock) ON EstimationLineItems.EstimationDataID  = EstimationData.id
INNER JOIN VehicleInfo with(nolock) ON VehicleInfo.EstimationDataId = EstimationData.Id
--LEFT OUTER JOIN EstimationLineItems EstimationLineItemsOverridden ON EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id
LEFT OUTER JOIN EstimationLineItems EstimationLineItemsOverridden with(nolock) ON EstimationLineItems.id = EstimationLineItemsOverridden.ModifiesID
LEFT OUTER JOIN EstimationLineItems EstimationLineItemsModified with(nolock) ON EstimationLineItems.ModifiesID = EstimationLineItemsModified.id
LEFT OUTER JOIN Vendor with(nolock) ON 
	EstimationLineItems.PartSourceVendorID > 0 
		AND EstimationLineItems.PartSourceVendorID = Vendor.ID 
		AND (Vendor.LoginsID = AdminInfo.CreatorID OR Vendor.LoginsID IS NULL)
LEFT OUTER JOIN VendorType ON Vendor.TypeID = VendorType.ID
LEFT OUTER JOIN @DisplayOrder AS DisplayOrder ON EstimationLineItems.ID = DisplayOrder.LineItemID
WHERE 
	AdminInfo.ID = @AdminInfoID  
	--AND (EstimationLineItemsOverridden.ModifiesID IS NULL OR ISNULL(EstimationLineItems.SupplementVersion, 0) = @SupplementVersion)
	AND
	(
		(@SupplementVersion = -1 AND EstimationLineItemsOverridden.ModifiesID IS NULL)
		OR
		(
			ISNULL(EstimationLineItems.SupplementVersion, 0) = @SupplementVersion
			AND
			(
				EstimationLineItemsModified.id IS NULL
				OR EstimationLineItems.PartNumber <> EstimationLineItemsModified.PartNumber
				OR ISNULL(EstimationLineItems.PartSource,'') <> ISNULL(EstimationLineItemsModified.PartSource,'')
			)
		)
	)
	AND  
	( 
		ISNULL(EstimationLineItems.PartNumber,'') <> '' 
		OR ISNULL(EstimationLineItems.Description,'') <> ''
	) 
	AND EstimationLineItems.ActionCode IN ('Add','Replace','R+R') 
	AND (@PartSourceFilter = 'All' OR ISNULL(EstimationLineItems.PartSource,'') = @PartSourceFilter)
	--AND (@SupplementVersion = -1 OR ISNULL(EstimationLineItems.SupplementVersion, 0) = @SupplementVersion)-- OR ISNULL(EstimationLineItemsOverridden.SupplementVersion, 0)= @SupplementVersion))
	--And (@SupplementVersion = -1 OR ISNULL(EstimationLineItemsOverridden.SupplementVersion, 0) = 0 OR ISNULL(EstimationLineItemsOverridden.SupplementVersion, 0)= @SupplementVersion)
ORDER BY 
		GroupNumber
		, CASE @IsManual WHEN 0 THEN 0 ELSE DisplayOrder.LineNumber END DESC
		, Sorter
		, OriginalID
END
GO
