USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/15/2019
-- Description:	Link a report to a sent e-mail
-- =============================================
CREATE PROCEDURE [dbo].[ReportEmailAttachment_Insert]
	  @EmailID			int
	, @ReportID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO ReportEmailAttachment
	(
		  EmailID
		, ReportID
	)
	VALUES
	(
		  @EmailID
		, @ReportID
	)
END
GO
