USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/16/2020 
-- Description:	Mark that a user message has been seen by a user 
-- ============================================= 
CREATE PROCEDURE [dbo].[UserMessages_MarkSeen] 
	  @MessageID			int 
	, @UserID				int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	IF NOT EXISTS (SELECT * FROM UserMessagesConfirm WHERE UserMessageID = @MessageID AND UserID = @UserID) 
		BEGIN 
			INSERT INTO UserMessagesConfirm 
			(UserMessageID, UserID) 
			VALUES (@MessageID, @UserID) 
		END 
    
END 
GO
