USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomReportTemplate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](1000) NULL,
	[Template] [text] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[ReportHeaderID] [int] NULL,
	[ReportFooterID] [int] NULL,
	[CustomReportTemplateTypeID] [int] NULL,
	[OriginalID] [int] NULL,
	[IsSystemReport] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ReportTemplateToCopyFrom] [int] NULL,
 CONSTRAINT [PK_CustomReportTemplate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
