USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSupplementLineLaborPrice] 
( 
	@lineItemID			int, 
	@laborType			tinyint, 
	@rate				money, 
	@adminInfoID		int, 
	@supplementVersion	int 
) 
RETURNS decimal(16, 2) 
AS 
BEGIN 
	 
	DECLARE @LaborTotal TABLE 
	( 
		id						int,  
		EstimationLineItemsID	int,  
		LaborType				int,  
		LaborSubType			int,  
		LaborTime				real,  
		LaborCost				real,  
		BettermentFlag			bit,  
		SubletFlag				bit,  
		UniqueSequenceNumber	int,  
		ModifiesID				int,  
		AdjacentDeduction		tinyint,  
		MajorPanel				bit,  
		BettermentPercentage	real,  
		dbLaborTime				real,  
		AdjacentDeductionLock	bit,  
		barcode					varchar(10),  
		Lock					bit,	  
		include					bit 
	) 
		INSERT INTO @LaborTotal 
		SELECT l.id, l.EstimationLineItemsID, l.LaborType, l.LaborSubType, 
		/* 
			Round( 
				dbo.GetSupplementLineLaborTime(l.id, @AdminInfoID, @SupplementVersion) 
				* CASE WHEN ISNULL(EstimationLineItems.Qty,0) = 0 THEN 1 ELSE EstimationLineItems.Qty END 
				*  
				CASE  
					WHEN EstimationLineItems.ActionDescription LIKE 'Delete%' AND ISNULL(EstimationLineItems.ModifiesID, 0) > 0 THEN -1 
					ELSE 1 
				END 
			, 1) as LaborTime, 
			*/ 
			l.LaborTime, 
			l.LaborCost, l.BettermentFlag, l.SubletFlag, l.UniqueSequenceNumber, l.ModifiesID, l.AdjacentDeduction, l.MajorPanel, l.BettermentPercentage, l.dbLaborTIme, l.AdjacentDeductionLock, l.barcode, l.Lock, l.include 
		FROM EstimationData 
		JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
		JOIN EstimationLineLabor l ON EstimationLineItemsID = EstimationLineItems.ID 
		WHERE  
			AdminInfoID = @AdminInfoID 
			AND ISNULL(EstimationLineItems.SupplementVersion, 0) = @supplementVersion 
			AND LaborType <> 0 
			AND (LaborType NOT IN (20, 21, 22, 26) OR ISNULL(include, 0) = 1) 
 
		UNION 
 
		-- Get labor line items with no time or cost for labor items that were in the previous supplement but not in the current supplement 
		SELECT ell.id, Modifier.id AS EstimationLineItemsID, 
			ell.LaborType, ell.LaborSubType, 0 as 'LaborTime', 0 as 'LaborCost', ell.BettermentFlag, ell.SubletFlag, ell.UniqueSequenceNumber, ell.ModifiesID, 
			ell.AdjacentDeduction, ell.MajorPanel, ell.BettermentPercentage, ell.dbLaborTime, ell.AdjacentDeductionLock, ell.barcode, ell.Lock, 1 as 'include' --ell.include 
		FROM EstimationData 
		JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
		JOIN EstimationLineLabor ell ON ell.EstimationLineItemsID = EstimationLineItems.ID AND (LaborType NOT IN (20, 21, 22, 26) OR ISNULL(include, 0) = 1) 
		JOIN EstimationLineItems AS Modifier ON Modifier.ModifiesID = EstimationLineItems.id 
		WHERE  
			AdminInfoID = @adminInfoID 
			AND ISNULL(EstimationLineItems.SupplementVersion, 0) = @supplementVersion - 1 
			AND LaborType NOT IN  
			( 
				-- Get all labor types in the current supplement 
				SELECT LaborType 
				FROM EstimationData 
				JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
				JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID 
				WHERE  
					AdminInfoID = @adminInfoID 
					AND ISNULL(EstimationLineItems.SupplementVersion, 0) = @supplementVersion 
					AND (LaborType NOT IN (20, 21, 22, 26) OR ISNULL(include, 0) = 1) 
			) 
 
	declare @laborInfo TABLE (SupplementVersion INT, ModifiesID INT, LaborTime REAL, LaborTimeMod REAL, LaborCost REAL, LaborCostMod REAL, Include BIT, IncludeMod BIT) 
	insert into @laborInfo(SupplementVersion, ModifiesID, LaborTime, LaborTimeMod, LaborCost, LaborCostMod, Include, IncludeMod) 
	SELECT  
		ISNULL(eli.SupplementVersion, 0) AS SupplementVersion 
		, eli.ModifiesID 
		, ROUND(ell.LaborTime, 2) 
		, ROUND(ISNULL(ellMod.LaborTime, 0), 2) AS 'LaborTimeMod' 
		, ISNULL(ell.LaborCost, 0) AS 'LaborCost' 
		, ISNULL(ISNULL(ellMod.LaborCost, 0), 0) AS 'LaborCostMod' 
		, CASE WHEN ISNULL(ell.Include, 0) = 1 OR ell.LaborType NOT IN (20, 21, 22, 26) OR ISNULL(ell.LaborTime, 0) = 0 THEN 1 ELSE 0 END AS Include 
		, CASE WHEN ISNULL(ellMod.Include, 0) = 1 OR ellMod.LaborType NOT IN (20, 21, 22, 26) OR ISNULL(ellMod.LaborTime, 0) = 0 THEN 1 ELSE 0 END AS IncludeMod 
	FROM EstimationLineItems eli 
	LEFT OUTER JOIN EstimationLineItems eliMod ON eli.ModifiesID = eliMod.id 
	LEFT OUTER JOIN @LaborTotal ell ON ell.EstimationLineItemsID = eli.id AND ell.LaborType = @laborType 
	LEFT OUTER JOIN EstimationLineLabor ellMod ON ellMod.EstimationLineItemsID = eliMod.id AND ellMod.LaborType = @laborType AND (ISNULL(ellMod.Include, 1) = 1 OR ellMod.LaborType NOT IN (20, 21, 22, 26)) 
	WHERE eli.id = @lineItemID AND eli.ModifiesID > 0 
	 
	IF (SELECT SupplementVersion FROM @laborInfo) > 0 
		BEGIN 
			 
 
			DECLARE @moddedPrice DECIMAL(16, 2) = ISNULL(dbo.GetSupplementLineLaborPrice((SELECT ModifiesID FROM @laborInfo), @laborType, @rate, @adminInfoID, @supplementVersion), 0) 
			--DECLARE @debug int = 'val: ' + CAST(@supplementVersion AS varchar(10)) + ' ' + CAST(@moddedPrice AS VARCHAR(20)) 
 
			-- If the line is a Delete line use the price of the modified line * -1 
			IF (SELECT id FROM EstimationLineItems WHERE id = @lineItemID AND ISNULL(ActionDescription, '') LIKE 'Delete%') > 0 
				RETURN @moddedPrice * -1 
 
			-- If the line has include False and the modified has include True, include was turned off, so use the price of the modified line * -1 
			IF (SELECT ISNULL(ModifiesID, 0)FROM @laborInfo WHERE Include = 0 AND IncludeMod = 1) > 0				 
				RETURN @moddedPrice * -1 
 
			-- If the labor time is different, return the difference in time * the rate 
			DECLARE @timeDifference REAL = ROUND(ISNULL((SELECT LaborTime - LaborTimeMod FROM @laborInfo WHERE Include = 1 AND IncludeMod = 1 AND LaborTime <> LaborTimeMod), 0), 1) 
			DECLARE @laborCostDifference REAL = ISNULL((SELECT LaborCost - LaborCostMod FROM @laborInfo WHERE Include = 1 AND IncludeMod = 1 AND LaborCost <> LaborCostMod), 0) 
			IF @timeDifference <> 0 OR @laborCostDifference <> 0				 
				RETURN (@rate * @timeDifference) + @laborCostDifference 
 
			-- Return the difference between this line's total labor cost and the line it modifies 
			--ELSE IF (SELECT CASE WHEN eli1.PartNumber = eli2.PartNumber THEN 1 ELSE 0 END AS ModifiesPart FROM EstimationLineItems eli1 LEFT OUTER JOIN EstimationLineItems eli2 ON eli1.ModifiesID = eli2.id WHERE eli1.id = @lineItemID) = 1 
			--	SET @price = (SELECT ISNULL(CustomerPrice, ISNULL(Price, 0)) * CAST(dbo.GetLineItemQuantity(id) AS DECIMAL) FROM EstimationLineItems WHERE id = @lineItemID) - dbo.GetSupplementLineItemPrice(@overridesID) 
			RETURN ( 
				SELECT ISNULL(SUM(@rate * ROUND(LaborTime, 1)), 0) + ISNULL(LaborCost, 0) 
				FROM @LaborTotal  
				WHERE EstimationLineItemsID = @lineItemID AND LaborType = @laborType 
				GROUP BY LaborCost 
			) - ( 
					SELECT (ISNULL(EstimationLineLabor.LaborTime, 0) * @rate) + ISNULL(EstimationLineLabor.LaborCost, 0) As LaborTotal  
					FROM @laborInfo as laborInfoTable 
					JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = laborInfoTable.ModifiesID 
					WHERE LaborType = @laborType 
				) 
			--ISNULL(dbo.GetSupplementLineLaborPrice((SELECT ModifiesID FROM @laborInfo), @laborType, @rate, @adminInfoID, @supplementVersion - 1), 0) 
		END 
	ELSE 
		-- This is either a supplement 0 or an unmodified item.  Calculate the price for the line 
		--SET @price = CAST(dbo.GetLineItemQuantity(@lineItemID) AS DECIMAL) * (SELECT ISNULL(CustomerPrice, ISNULL(Price, 0)) FROM EstimationLineItems WHERE id = @lineItemID) 
		RETURN ISNULL(( 
			SELECT ISNULL(SUM(@rate * ROUND(LaborTime, 1)), 0) + ISNULL(LaborCost, 0) 
			FROM @LaborTotal  
			WHERE EstimationLineItemsID = @lineItemID AND LaborType = @laborType 
			GROUP BY LaborCost 
		), 0) 
		 
	RETURN 0.0 
END 
GO
