USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Get Overlap Amount
CREATE FUNCTION [dbo].[GetOverlapAmount] (@EstimationLineItemsID Int)
RETURNS Real AS  
BEGIN 	
	DECLARE @OverlapAmount Real
	DECLARE @LaborAmount Real
	DECLARE @LaborMinimum Real
	DECLARE @PartOfOverhaul Bit

	SELECT TOP 1 	@LaborAmount = EstimationLineLabor.LaborTime,
			@PartOfOverhaul = EstimationLineItems.PartOfOverhaul 
	FROM EstimationLineItems WITH (NOLOCK)
	INNER JOIN EstimationLineLabor WITH (NOLOCK) ON
		(EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID)
	WHERE EstimationLineItems.ID = @EstimationLineItemsID AND
		EstimationLineLabor.LaborType IN (1,2,3,4,5,6,8,24,25)
	ORDER BY EstimationLineLabor.LaborType 

	SELECT @OverlapAmount = Sum(EstimationOverlap.Amount)
	FROM EstimationOverlap WITH (NOLOCK)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.ID = @EstimationLineItemsID)
	WHERE EstimationLineItemsID1 = @EstimationLineItemsID

	SELECT @LaborMinimum = Max(EstimationOverlap.Minimum)
	FROM EstimationOverlap WITH (NOLOCK)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.ID = @EstimationLineItemsID)
	WHERE EstimationLineItemsID1 = @EstimationLineItemsID
	
	SELECT @OverlapAmount = ISNULL(@OverlapAmount, 0),
		@LaborMinimum = ISNULL(@LaborMinimum, 0)

	IF @OverlapAmount < @LaborMinimum
		SELECT @OverlapAmount = @LaborAmount - @LaborMinimum
	
	if ISNULL(@PartOfOverhaul,0) <> 0 OR ROUND(@LaborAmount,1) = ROUND(@OverlapAmount,1)
		SELECT @OverlapAmount = 0
	SELECT @OverlapAmount = ISNULL(@PartOfOverhaul,0)

	RETURN @OverlapAmount	
END



GO
