USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[GetJobStatusHistoryByAdminInfo]
	@AdminInfoID int
AS

SELECT JobStatus.id, JobStatus.Description, JobStatusHistory.ActionDate
FROM JobStatusHistory
JOIN JobStatus ON JobStatus.id = JobStatusHistory.JobStatusID
WHERE AdminInfoID = @AdminInfoID
ORDER BY JobStatusHistory.ID DESC

GO
