USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContractAddOnHistory_GetForInvoice]
	  @InvoiceID		int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM ContractAddOnHistory with(nolock)
	WHERE InvoiceID = @InvoiceID
	ORDER BY ID
END
GO
