USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
  
  
  
CREATE PROCEDURE [dbo].[GetEstimateTotals2]  
	@AdminInfoID Int,  
	@TotalsOnly Bit = 0,  
	@ExportTotals TinyInt = 0,  
	@BettermentOnly Bit = 0,  
	@SubletOnly Bit = 0  
AS  
	IF @BettermentOnly <> 0 and @SubletOnly <> 0  
	BEGIN  
		RaisError('Both BettermentOnly and SubletOnly can not be set.',8,1)  
		RETURN  
	END  
  
	DECLARE @TaxRate Real  
	DECLARE @TaxRateSecondStart Real  
	DECLARE @TaxRateSecond Real  
	DECLARE @TaxTotal Real  
	DECLARE @SecondTaxTotal Real  
	DECLARE @Total Real  
	DECLARE @SubTotal Real  
	DECLARE @TaxableTotal Real  
	DECLARE @NonTaxableTotal Real  
  
	SELECT   
		@TaxRate = CustomerProfilesMisc.TaxRate,  
		@TaxRateSecondStart = CustomerProfilesMisc.SecondTaxRateStart,  
		@TaxRateSecond = CustomerProfilesMisc.SecondTaxRate  
	FROM AdminInfo WITH (NOLOCK)  
	INNER JOIN CustomerProfiles WITH (NOLOCK) ON  
		(CustomerProfiles.ID = AdminInfo.CustomerProfilesID)  
	INNER JOIN CustomerProfilesMisc WITH (NOLOCK) ON  
		(CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.ID)  
	WHERE AdminInfo.ID = @AdminInfoID   
  
	SELECT @TaxRate = ISNULL(@TaxRate,0),  
		@TaxRateSecondStart = ISNULL(@TaxRateSecondStart,0),  
		@TaxRateSecond = ISNULL(@TaxRateSecond,0)  
  
	SELECT   
		ISNULL(Sum(ISNULL(EstimationLineLabor.LaborCost,0)),0) 'TotalCost',   
		CONVERT(VarChar(50),LaborTypes.LaborType) 'Type',  
		LaborTypes.ID 'LaborTypesID'  
	INTO #Cost2  
	FROM AdminInfo WITH (NOLOCK)  
	LEFT JOIN EstimationData WITH (NOLOCK)ON  
		(EstimationData.AdminInfoID = AdminInfo.ID)  
	LEFT JOIN EstimationLineItems WITH (NOLOCK) ON  
		(EstimationLineItems.EstimationDataID = EstimationData.ID)  
	LEFT JOIN EstimationLineLabor WITH (NOLOCK) ON  
		(EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID)  
	LEFT JOIN LaborTypes WITH (NOLOCK) ON  
		(LaborTypes.ID = EstimationLineLabor.LaborType)  
	WHERE AdminInfo.ID = @AdminInfoID AND LaborTypes.LaborType IS NOT NULL AND  
		(   
			(@BettermentOnly = 0 AND (ISNULL(EstimationLineItems.BettermentType, '') = ''))  
			OR  
			(@BettermentOnly <> 0 AND (ISNULL(EstimationLineItems.BettermentType, '') <> ''))  
		)  
	GROUP BY CONVERT(VarChar(50),LaborTypes.LaborType),  
		LaborTypes.ID   
	  
	SELECT   
		ISNULL(Sum(ISNULL(EstimationLineLabor.LaborTime,0)),0) 'TotalTime',   
		CONVERT(VarChar(50),ISNULL(LaborTypes.LaborType,'Other')) 'Type',  
		ISNULL(LaborTypes.ID,8) 'LaborTypesID'  
	INTO #Time2  
	FROM AdminInfo WITH (NOLOCK)  
	LEFT JOIN EstimationData WITH (NOLOCK) ON  
		(EstimationData.AdminInfoID = AdminInfo.ID)  
	LEFT JOIN EstimationLineItems WITH (NOLOCK) ON  
		(EstimationLineItems.EstimationDataID = EstimationData.ID)  
	LEFT JOIN ActionList WITH (NOLOCK) ON  
		(ActionList.ActionShort = EstimationLineItems.ActionCode)  
	LEFT JOIN EstimationLineLabor WITH (NOLOCK) ON  
		(EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID)  
	LEFT JOIN LaborTypes WITH (NOLOCK) ON  
		(LaborTypes.ID = EstimationLineLabor.LaborType)  
	WHERE AdminInfo.ID = @AdminInfoID AND  
		(   
			(@BettermentOnly = 0 AND (ISNULL(EstimationLineItems.BettermentType, '') = '') )  
			OR  
			(@BettermentOnly <> 0 AND (ISNULL(EstimationLineItems.BettermentType, '') <> '') )  
		)  
	GROUP BY CONVERT(VarChar(50),ISNULL(LaborTypes.LaborType,'Other')),  
		ISNULL(LaborTypes.ID,8)  
  
	SELECT 0 'SortOrder',  
		CASE 	WHEN CONVERT(VarChar(50),ISNULL(EstimationLineItems.PartSource,'Other')) IS NULL THEN 'Other'  
			WHEN CONVERT(VarChar(50),ISNULL(EstimationLineItems.PartSource,'Other')) = '' THEN 'Other'  
			ELSE CONVERT(VarChar(50),ISNULL(EstimationLineItems.PartSource,'Other')) END + ' ' + 'Parts' 'Type',  
		Sum(ISNULL(EstimationLineItems.Price * EstimationLineItems.Qty,0)) 'Cost',   
		Convert(Real,0) 'Time',  
		0 'LaborTypesID'  
	INTO #Totals2  
	FROM AdminInfo WITH (NOLOCK)  
	LEFT JOIN EstimationData WITH (NOLOCK) ON  
		(EstimationData.AdminInfoID = AdminInfo.ID)  
	LEFT JOIN EstimationLineItems WITH (NOLOCK) ON  
		(EstimationLineItems.EstimationDataID = EstimationData.ID)  
	WHERE AdminInfo.ID = @AdminInfoID AND  
		( (@BettermentOnly = 0 AND   
			(ISNULL(EstimationLineItems.BettermentType, '') = '') )  
		  OR  
		  (@BettermentOnly <> 0 AND   
			(ISNULL(EstimationLineItems.BettermentType, '') <> '') )  
			)  
		/* AND  
		( (@SubletOnly = 0 AND ISNULL(EstimationLineItems.SubletOperationFlag,0) = 0 )  
		  OR  
		  (@SubletOnly <> 0 AND ISNULL(EstimationLineItems.SubletOperationFlag,0) <> 0) )*/  
	GROUP BY CASE 	WHEN CONVERT(VarChar(50),ISNULL(EstimationLineItems.PartSource,'Other')) IS NULL THEN 'Other'  
			WHEN CONVERT(VarChar(50),ISNULL(EstimationLineItems.PartSource,'Other')) = '' THEN 'Other'  
			ELSE CONVERT(VarChar(50),ISNULL(EstimationLineItems.PartSource,'Other')) END + ' ' + 'Parts'  
		  
	UNION  
	SELECT 1,  
		ISNULL(T.Type,'Unknown') + ' Labor' 'Type',  
		ISNULL(C.TotalCost,0) 'Cost',   
		ISNULL(Tm.TotalTime,0) 'Time',  
		T.LaborTypesID  
	FROM (	SELECT Type, LaborTypesID  
		FROM #Cost2  
		WHERE Type IS NOT NULL  
		UNION  
		SELECT Type, LaborTypesID  
		FROM #Time2	) T  
	LEFT JOIN #Time2 Tm ON  
		(Tm.Type = T.Type)  
	LEFT JOIN #Cost2 C ON  
		(C.Type = T.Type)  
	ORDER BY SortOrder  
  
	DROP TABLE #Cost2  
	DROP TABLE #Time2  
  
	SELECT ISNULL(ISNULL(RateTypes.RateName,RateTypes2.RateName),LaborTypes.LaborType) 'Type',  
		Sum(ISNULL(T.[Time],0)) 'Hours',  
		Sum(ISNULL(T.[Cost],0)) 'Cost',  
		Max(ISNULL(T.LaborTypesID,0)) 'LaborTypeID',  
		Max(ISNULL(CustomerProfileRates.Rate,0)) 'Rate',  
  
		CASE   
			WHEN 	ISNULL(CustomerProfileRates.CapType,99) = 1 AND ISNULL(CustomerProfileRates.Cap,0) < Sum(T.[Time]) THEN CustomerProfileRates.Cap * CustomerProfileRates.Rate  
			WHEN 	ISNULL(CustomerProfileRates.CapType,99) = 0 AND ISNULL(CustomerProfileRates.Cap,0) < Sum(T.[Cost]) + ISNULL(Sum(T.[Time]),0) *  ISNULL(CustomerProfileRates.Rate,0) THEN CustomerProfileRates.Cap  
			--WHEN 	CustomerProfileRates.CapType = 1 THEN Sum(T.[Time]) *  CustomerProfileRates.Rate  
			--WHEN  CustomerProfileRates.CapType = 0 THEN Sum(T.[Cost])  
			ELSE	Sum(T.[Cost]) + ISNULL(Sum(T.[Time]),0) *  ISNULL(CustomerProfileRates.Rate,0)  
		END  *  
		CASE 	WHEN ISNULL(CustomerProfileRates.DiscountMarkup,0) = 0 THEN 1  
			ELSE (1 + (CustomerProfileRates.DiscountMarkup/100))  
		END 'LineSubTotal',  
		CASE 	WHEN CustomerProfileRates.Taxable IS NOT NULL THEN CustomerProfileRates.Taxable  
			WHEN CustomerProfileRates.Taxable IS NULL AND Max(T.LaborTypesID)=14 THEN 1  
			WHEN CustomerProfileRates.Taxable IS NULL AND Max(T.LaborTypesID)=13 THEN 0  
			ELSE 0  
		END 'Taxable' ,  
		CustomerProfileRates.CapType,  
		CustomerProfileRates.Cap,  
		CustomerProfileRates.DiscountMarkup,  
		ISNULL(RateTypes.id,RateTypes2.id) 'RateTypesID',  
		CASE 	WHEN @BettermentOnly = 0 THEN ISNULL(RateTypes.EMSCode1,RateTypes2.EMSCode1)  
			ELSE 'BEPO'  
		END 'EmsCode'  
	INTO #Totals3  
	FROM #Totals2 T  
	INNER JOIN AdminInfo WITH (NOLOCK) ON  
		(AdminInfo.ID = @AdminInfoID)  
	LEFT JOIN LaborTypes WITH (NOLOCK) ON  
		(LaborTypes.ID = T.LaborTypesID)  
	LEFT JOIN (		SELECT 'OEM Parts' 'Type', 8 'RateTypesID'  
			UNION	SELECT 'LKQ Parts', 9  
			UNION	SELECT 'Reman Parts', 13  
			UNION	SELECT 'After Parts', 10  
			UNION	SELECT 'Other Parts', 18) PartRates ON  
		(PartRates.Type = T.Type)  
	LEFT JOIN RateTypes WITH (NOLOCK) ON  
		(RateTypes.ID = LaborTypes.RateTypesID)  
	LEFT JOIN RateTypes RateTypes2 WITH (NOLOCK) ON  
		(RateTypes2.ID = PartRates.RateTypesID)  
	LEFT JOIN CustomerProfiles WITH (NOLOCK) ON  
		(CustomerProfiles.ID = AdminInfo.CustomerProfilesID)  
	LEFT JOIN CustomerProfileRates WITH (NOLOCK) ON  
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.ID AND  
		 CustomerProfileRates.RateType = ISNULL(RateTypes.ID,RateTypes2.ID))  
	WHERE t.[Time] > 0 OR T.[Cost] > 0  
	GROUP BY ISNULL(ISNULL(RateTypes.RateName,RateTypes2.RateName),LaborTypes.LaborType),   
		CustomerProfileRates.Taxable,  
		CustomerProfileRates.CapType,  
		CustomerProfileRates.Cap,  
		CustomerProfileRates.DiscountMarkup,  
		CustomerProfileRates.Rate,  
		ISNULL(RateTypes.id,RateTypes2.id),RateTypes.EMSCode1,RateTypes2.EMSCode1,  
		ISNULL(RateTypes.EMSCode1,RateTypes2.EMSCode1)  
  
 	UNION  
  
	SELECT RateName, Sum(ISNULL(Hours,0)), Sum(ISNULL(Cost,0)), LaborTypeID, Rate, Sum(ISNULL(LineSubTotal,0)),  
		Taxable, CapType, Cap, DiscountMarkup, RateTypesID, EmsCode  
	FROM (  
		SELECT RateTypes2.RateName,  
			Sum(ISNULL(T.[Time],0)) 'Hours',  
			Sum(ISNULL(T.[Cost],0)) 'Cost',  
			0 'LaborTypeID',  
			Max(CustomerProfileRates.Rate) 'Rate',  
	  
			CASE   
				WHEN 	CustomerProfileRates.CapType = 1 AND ISNULL(CustomerProfileRates.Cap,0) < Sum(T.[Time]) THEN CustomerProfileRates.Cap * CustomerProfileRates.Rate  
				WHEN 	CustomerProfileRates.CapType = 0 AND ISNULL(CustomerProfileRates.Cap,0) < Sum(T.[Cost]) + ISNULL(Sum(T.[Time]),0) *  ISNULL(CustomerProfileRates.Rate,0) THEN CustomerProfileRates.Cap  
				--WHEN 	CustomerProfileRates.CapType = 1 THEN Sum(T.[Cost]) + ISNULL(Sum(T.[Time]),0) *  ISNULL(CustomerProfileRates.Rate,0)  
				--WHEN	CustomerProfileRates.CapType = 0 THEN Sum(T.[Cost]) + ISNULL(Sum(T.[Time]),0) *  ISNULL(CustomerProfileRates.Rate,0)  
				ELSE	Sum(T.[Cost]) + ISNULL(Sum(T.[Time]),0) *  ISNULL(CustomerProfileRates.Rate,0)  
			END  *  
			CASE 	WHEN CustomerProfileRates.DiscountMarkup = 0 THEN 1  
				ELSE (1 + (CustomerProfileRates.DiscountMarkup/100))  
			END  'LineSubTotal',  
	  
			CustomerProfileRates.Taxable,  
			CustomerProfileRates.CapType,  
			CustomerProfileRates.Cap,  
			CustomerProfileRates.DiscountMarkup,  
			ISNULL(RateTypes.id,RateTypes2.id) 'RateTypesID',  
			CASE 	WHEN @BettermentOnly = 0 THEN   
				CASE 	WHEN RateTypes.RateName = 'Labor-Paint' THEN 'MAPA'  
					WHEN RateTypes.RateName = 'Labor-Body' THEN 'MASH'  
					WHEN RateTypes.RateName = 'Labor-Finish' THEN 'MASH'  
				END   
				ELSE 'BEPO'  
			END	'EmsCode'  
		FROM #Totals2 T  
		INNER JOIN AdminInfo WITH (NOLOCK) ON  
			(AdminInfo.ID = @AdminInfoID)  
		INNER JOIN LaborTypes WITH (NOLOCK) ON  
			(LaborTypes.ID = T.LaborTypesID)  
		INNER JOIN RateTypes WITH (NOLOCK) ON  
			(RateTypes.ID = LaborTypes.RateTypesID AND  
			 RateTypes.RateName IN ('Labor-Paint','Labor-Body','Labor-Finish'))  
		INNER JOIN RateTypes RateTypes2 WITH (NOLOCK) ON  
			(RateTypes2.ID = CASE 	WHEN RateTypes.RateName = 'Labor-Paint' THEN 7  
						WHEN RateTypes.RateName = 'Labor-Body' THEN 6   
						WHEN RateTypes.RateName = 'Labor-Finish' THEN 19  
					END )  
		LEFT JOIN CustomerProfiles WITH (NOLOCK) ON  
			(CustomerProfiles.ID = AdminInfo.CustomerProfilesID)  
		LEFT JOIN CustomerProfileRates WITH (NOLOCK) ON  
			(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.ID AND  
			 CustomerProfileRates.RateType = RateTypes2.ID)  
		WHERE (t.[Time] > 0 OR T.[Cost] > 0)	  
			  
		GROUP BY RateTypes2.RateName, LaborTypes.LaborType, CustomerProfileRates.Taxable,  
			CustomerProfileRates.CapType,  
			CustomerProfileRates.Cap,  
			CustomerProfileRates.DiscountMarkup,  
			CustomerProfileRates.Rate,RateTypes.RateName,  
			ISNULL(RateTypes.id,RateTypes2.id),  
			CASE 	WHEN RateTypes.RateName = 'Labor-Paint' THEN 'MAPA'  
				WHEN RateTypes.RateName = 'Labor-Body' THEN 'MASH'  
				WHEN RateTypes.RateName = 'Labor-Finish' THEN 'MASH'  
			END) T  
	GROUP BY RateName, LaborTypeID, Rate, Taxable, CapType, Cap, DiscountMarkup, RateTypesID, EmsCode  
	ORDER BY LaborTypeID  
  
  
	DROP TABLE #Totals2  
  
	SELECT @TaxableTotal = Sum(LineSubTotal)  
	FROM #Totals3  
	WHERE Taxable <> 0  
  
	SELECT @NonTaxableTotal = Sum(LineSubTotal)  
	FROM #Totals3  
	WHERE Taxable = 0  
  
	SELECT @NonTaxableTotal = ISNULL(@NonTaxableTotal,0)  
  
	SELECT @SubTotal = @TaxableTotal + @NonTaxableTotal  
  
	IF @TaxableTotal > @TaxRateSecondStart AND @TaxRateSecondStart > 0  
	BEGIN  
		SELECT @TaxTotal = (@TaxRateSecondStart * @TaxRate/100)   
		SELECT @SecondTaxTotal = ((@TaxableTotal - @TaxRateSecondStart) * (@TaxRateSecond/100))   
	END  
	ELSE  
	BEGIN  
		SELECT @TaxTotal = @TaxableTotal * (ISNULL(@TaxRate,0)/100)  
		SELECT @SecondTaxTotal = 0  
	END   
  
	SELECT 	 @Total = ISNULL(@TaxableTotal,0) + ISNULL(@TaxTotal,0)+ ISNULL(@SecondTaxTotal,0) + ISNULL(@NonTaxableTotal,0)  
  
	IF @ExportTotals IN (0,1)  
		SELECT  
			@SubTotal 'SubTotal',  
			@TaxableTotal 'TaxableTotal',  
			@NonTaxableTotal 'NonTaxableTotal',  
			@TaxRate 'TaxRate',  
			@TaxRateSecondStart 'SecondTaxRateStart' ,  
			@TaxRateSecond 'SecondTaxRate',  
			@TaxTotal 'TaxTotal',  
			@Total 'Total'  
  
	IF @ExportTotals IN (0,2)  
		IF @TotalsOnly = 0  
			SELECT *   
			FROM #Totals3  
			WHERE LineSubTotal <> 0  
  
	DROP TABLE #Totals3  
  
  
  
GO
