USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/1/2017 
-- Description:	Get all accessories and whether they are selected for an estimate. 
-- ============================================= 
CREATE PROCEDURE [dbo].[Accessories_GetAll] 
	@AdminInfoID		int 
AS 
BEGIN 
 
	DECLARE @VehicleInfoID INT = 0 
 
	SELECT @VehicleInfoID = VehicleInfo.ID 
	FROM EstimationData with(nolock) 
	JOIN VehicleInfo with(nolock) ON VehicleInfo.EstimationDataID = EstimationData.ID 
	WHERE EstimationData.AdminInfoID = @AdminInfoID 
 
	SELECT Accessories.*, CASE WHEN ISNULL(VehicleSelectedOptions.VehicleInfoID, 0) > 0 THEN 1 ELSE 0 END AS Included 
	FROM Accessories with(nolock) 
	LEFT OUTER JOIN VehicleSelectedOptions with(nolock) ON Accessories.ID = VehicleSelectedOptions.VehicleOptionsID AND VehicleSelectedOptions.VehicleInfoID = @VehicleInfoID 
	ORDER BY Accessories.Accessory 
 
END 
GO
