USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSalesBoard] 
  -- Add the parameters for the stored procedure here 
  @LoginID  INT, 
  @Est      INT, 
  @Frame    INT, 
  @EMS      INT, 
  @SalesRep INT, 
  @DateSold DATETIME, 
  @AddUser  INT = 0 , 
  @HasQBExporter  BIT = 0,
  @ProAdvisor	INT = 0,
  @Bundle		INT = 0,
  @ImageEditor	INT = 0,
  @EnterpriseReporting INT = 0
AS 
  BEGIN 
      -- SET NOCOUNT ON added to prevent extra result sets from 
      -- interfering with SELECT statements. 
      SET nocount ON; 

      --Check for duplicate entry (ie submit button clicked twice) 
      DECLARE @Duplicate INT = 0 

      SELECT @Duplicate = Count(loginid) 
      FROM   salesboard 
      WHERE  loginid = @LoginID 
             AND numbersold = @Est 
             AND frame = @Frame 
             AND ems = @EMS 
			 AND HasQBExporter = @HasQBExporter 
             AND datesold > Dateadd(mi, -5, @DateSold) 

      --DECLARE @SalesRepID INT = null 
      --select @SalesRepID = salesRepId from salesrep where salesnumber = @salesrep 
      -- Insert statements for procedure here if no duplicate 
      IF @Duplicate = 0 
        BEGIN 
            INSERT INTO salesboard 
            (
				salesrepid, 
                numbersold, 
                frame, 
                ems, 
                loginid, 
                datesold, 
                adduser, 
                HasQBExporter,
				proAdvisor,
				bundle,
				imageEditor,
				enterpriseReporting
			) 
            VALUES      
			(
				@SalesRep, 
                @Est, 
                @Frame, 
                @EMS, 
                @LoginID, 
                @DateSold, 
                @AddUser, 
                @HasQBExporter,
				@ProAdvisor,
				@Bundle,
				@ImageEditor,
				@EnterpriseReporting
			) 
        END 
  END 
  
  
GO
