USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/7/22
-- Description:	Get all Logins with the passed email address, for finding used email addresses
-- =============================================
CREATE PROCEDURE [dbo].[Logins_GetByEmail]
	@EmailAddress			varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Logins.*
	FROM Logins
	LEFT OUTER JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID
	WHERE tbl_ContactPerson.Email = @EmailAddress
END
GO
