USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDR_Panel](
	[PanelID] [int] NOT NULL,
	[PanelName] [varchar](50) NOT NULL,
	[Orientation] [varchar](10) NOT NULL,
	[ShowEuro] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[LinkedPanelID] [int] NULL
) ON [PRIMARY]
GO
