USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ErrorTag_GetList] 
AS 
BEGIN 
	SELECT DISTINCT FixNote, COUNT(*) AS FixNoteCount
	FROM Errors 
	WHERE FixNote NOT LIKE 'ExecuteSql%' 
	GROUP BY FixNote;
END
GO
