USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetCustomerProfilesByAdminInfo]
@AdminInfoId int
AS
SELECT 	cp.[id]
	,[OwnerID]
	,[OwnerType]
	,[ProfileName]
	,cp.[Description]
	,[DefaultFlag]
	,[CreationDate]
	,[CreatedBy]
	,[OriginalID]
	,[AdminInfoID]
	,[DefaultPreset]
FROM CustomerProfiles cp WITH(NOLOCK)
INNER JOIN AdminInfo a WITH(NOLOCK)
On cp.id = a.customerprofilesid
where a.id = @AdminInfoId


GO
