USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/18/2017
--				Edited on 10/21/2019 when LoginID was added to Contract table
-- Description:	Get all contracts for a login
-- =============================================
CREATE PROCEDURE [dbo].[GetContractsByLoginID]
	    @LoginID		int
	  , @Deleted		bit = 0
AS
BEGIN
	SELECT Contracts.*, HasPayment.Paid AS HasPayment
	FROM [Contracts]
	LEFT OUTER JOIN
	(
		SELECT ContractID, MAX(CAST(ISNULL(Paid, 0) AS int)) AS Paid
		FROM Invoices
		WHERE LoginID = @LoginID AND ISNULL(IsDeleted, 0) = 0 AND ISNULL(AddOnID, 0) = 0
		GROUP BY ContractID 
	) AS HasPayment ON Contracts.ContractID = HasPayment.ContractID
	WHERE 
		LoginID = @LoginID 
		AND (ISNULL(IsDeleted, 0) = 0 OR @Deleted = 1)
	ORDER BY Contracts.ContractID
END
GO
