USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Trial_Update]
	@ID					int
	, @LoginID			int
	, @CreationStamp	datetime
	, @StartDate		date
	, @EndDate			date
	, @Active			bit
	, @IsDeleted		bit
	, @HasPDR			bit
	, @HasEMS			bit
	, @HasFrameData		bit
	, @HasQBExport		bit
	, @HasProAdvisor	bit
	, @HasImages		bit
    , @HasBundle		BIT
    , @HasCustomReports	bit
	, @ModifiedBy		int
    , @HasMultiUser		BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE Trial
			SET
				  LoginID = @LoginID
				, CreationStamp = @CreationStamp
				, StartDate = @StartDate
				, EndDate = @EndDate
				, Active = @Active
				, IsDeleted = @IsDeleted
				, HasPDR = @HasPDR
				, HasEMS = @HasEMS
				, HasFrameData = @HasFrameData
				, HasQBExport = @HasQBExport
				, HasProAdvisor = @HasProAdvisor
				, HasImages = @HasImages
				, HasBundle = @HasBundle
				, HasCustomReports = @HasCustomReports
				, ModifiedBy = @ModifiedBy
				, ModifiedOn = GETDATE()
				, HasMultiUser = @HasMultiUser
			WHERE ID = @ID
			
			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO Trial
			(
				  LoginID
				, CreationStamp
				, StartDate
				, EndDate
				, Active
				, IsDeleted
				, HasPDR
				, HasEMS
				, HasFrameData
				, HasQBExport
				, HasProAdvisor
				, HasImages
				, HasBundle
				, HasCustomReports
				, ModifiedBy
				, ModifiedOn
				, HasMultiUser
			)
			VALUES
			(
			      @LoginID
				, @CreationStamp
				, @StartDate
				, @EndDate
				, @Active
				, @IsDeleted
				, @HasPDR
				, @HasEMS
				, @HasFrameData
				, @HasQBExport
				, @HasProAdvisor
				, @HasImages
				, @HasBundle
				, @HasCustomReports
				, @ModifiedBy
				, GETDATE()
				, @HasMultiUser
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
