USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimateNotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NOT NULL,
	[EstimateID] [int] NOT NULL,
	[NotesText] [varchar](5000) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DeleteStamp] [datetime] NULL,
 CONSTRAINT [PK_EstimateNotes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstimateNotes] ADD  CONSTRAINT [DF_EstimateNotes_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
