USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXEC [dbo].[Wisetack_FinancingReportMerchantSignupsLog_Get] @MerchantID = '67a7c667-5493-4127-9457-d3de8088ea74'
*/
CREATE PROCEDURE [dbo].[Wisetack_FinancingReportMerchantSignupsLog_Get]
	@MerchantID VARCHAR(200)
AS
BEGIN
SET NOCOUNT ON

	SELECT		CreatedDate,
				CallbackDate,
				[Status],
				EventType,
				Reasons,
				ExternalID,
				OnboardingType
	FROM		WisetackCallbackMerchantSignup WITH (NOLOCK)
	WHERE		MerchantID = @MerchantID
	ORDER BY	CreatedDate

END
GO
