USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[CheckSalesRepLogin]
	@UserName varchar(50),
	@Password varchar(50)
AS

/*

EXECUTE CheckSalesRepLogin
	@UserName = 'mshanks',
	@Password = 'abc123'

*/

SET NOCOUNT ON

DECLARE @SalesRepID int,
		@isValidLogin bit,
		@isAdminUser bit
		
SELECT	@isValidLogin = 0,
		@isAdminUser = 0


-- Open encryption key		
OPEN SYMMETRIC KEY WebEstEncryptionKey
   DECRYPTION BY CERTIFICATE WebEstEncryptionCertificate


SELECT		@SalesRepID = SalesRepID,
			@isValidLogin = 1,
			@isAdminUser = ( CASE WHEN SalesRepID = 0 THEN 1 ELSE 0 END )
FROM		SalesRep
WHERE		UserName = @UserName
AND			Convert(varchar, DecryptByKey(Password)) = @Password
AND			@UserName <> ''	-- Ignore if @UserName is blank

SET NOCOUNT OFF


SELECT		@SalesRepID AS SalesRepID,
			@isValidLogin AS isValidLogin,
			@isAdminUser AS isAdminUser,
			( CASE WHEN @isValidLogin = 1 THEN Upper(@UserName) ELSE '' END ) AS UserName

GO
