USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  VIEW [dbo].[GetSuppliesSums]
AS
SELECT AdminInfoID,RateTypesID,RateName,Betterment,Sum(isnull(LaborCost,0)) LaborCost,Sum(Round(isnull(LaborTime,0),1)) LaborTime,EMSCode1,EMSBetterment, Rate ,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
FROM GetSupplies with(nolock)
GROUP BY AdminInfoID,RateTypesID,RateName,Betterment,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn



GO
