USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create Procedure  [dbo].[DeletePaymentItem]
@PaymentID int
as
begin
delete from PaymentInfo where Paymentid=@PaymentID 
end


GO
