USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetInvoicesForContract_Totals] 
	  @ContractID		int
	, @IncludeAddons	bit = 0
	, @Deleted			bit = 0
AS
-- [dbo].[GetInvoicesForContract_Totals] 229888,1,0
BEGIN    
   
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.    
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component    
	 IF 1=0 BEGIN 
       SET FMTONLY OFF 
     END 

	DECLARE @InvoicesForContract TABLE (
		[InvoiceID] [int] ,
		[LoginID] [int],
		[ContractID] [int],
		[AddOnID] [int],
		[FeeInvoiceID] [int],
		[PaymentNumber] [int],
		[InvoiceTypeID] [int],
		[InvoiceAmount] [decimal](8, 2),
		[SalesTax] [decimal](5, 2),
		[DueDate] [datetime],
		[Notes] [varchar](3000),
		[Summary] [varchar](500),
		[Paid] [bit],
		[DatePaid] [datetime],
		[PaymentID] [int],
		[IsDeleted] [bit],
		[FailStamp] [datetime],
		[EarlyRenewalStamp] [datetime],
		ContractIsDeleted [bit],
		ContractType [varchar](50),
		DueDateType [varchar](50)
	)

	INSERT INTO @InvoicesForContract
	EXEC GetInvoicesForContract @ContractID, @IncludeAddons, @Deleted

	DECLARE @InvoicesForContractGroupby TABLE (
		ContractType [varchar](50),
		[InvoiceAmountTotal] [decimal](8, 2),
		[DueAmountTotal] [decimal](8, 2)
	)

	INSERT INTO @InvoicesForContractGroupby
	SELECT ContractType, SUM(InvoiceAmount) AS InvoiceAmountTotal, (CASE WHEN DatePaid IS NULL THEN SUM(InvoiceAmount) ELSE 0 END) AS DueAmountTotal 
	FROM @InvoicesForContract
	GROUP BY ContractType, DatePaid

	SELECT SUM([InvoiceAmountTotal]) AS [InvoiceAmountTotal], SUM([DueAmountTotal]) AS [DueAmountTotal]
	FROM @InvoicesForContractGroupby

END    
GO
