USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 5/9/2017 
-- Description:	A helper to get the Make and Model of an estimate's vehicle
-- Revised date: 6/16/2022
-- =============================================

--GetMakeModel-02.sql
CREATE PROCEDURE [dbo].[GetMakeModel] 
	@AdminInfoID		int 
AS 
BEGIN
    Set NoCount On

	Declare @useManual bit

	SELECT
		@useManual = CASE WHEN ISNULL(VehicleInfoManual.ManualSelection, 0) = 1 And (ISNULL(VehicleInfoManual.Make,'') <> '' Or ISNULL(VehicleInfoManual.Model,'') <> '') THEN 1 ELSE 0 END
	FROM EstimationData ed with(nolock) 
	JOIN VehicleInfo v with(nolock) ON ed.id = v.EstimationDataId
	LEFT OUTER JOIN VehicleInfoManual with(nolock) ON v.ID = VehicleInfoManual.VehicleInfoID
	WHERE ed.AdminInfoID = @AdminInfoID

	SELECT
		CASE WHEN @useManual = 1 THEN ISNULL(VehicleInfoManual.Make,'') ELSE Makes.Make END 'Make',
		CASE WHEN @useManual = 1 THEN ISNULL(VehicleInfoManual.Model,'') ELSE Models.Model END 'Model' 
	FROM EstimationData ed with(nolock) 
	JOIN VehicleInfo v with(nolock) ON ed.id = v.EstimationDataId
	LEFT OUTER JOIN Vinn.dbo.Makes with(nolock) ON v.MakeID = Makes.MakeID
	LEFT OUTER JOIN Vinn.dbo.Models with(nolock) ON v.ModelID = Models.ModelID
	LEFT OUTER JOIN VehicleInfoManual with(nolock) ON v.ID = VehicleInfoManual.VehicleInfoID
	WHERE ed.AdminInfoID = @AdminInfoID
END 
GO
