USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CustomReportTemplate_Save]
	  @ID			int
	, @LoginID		int
	, @Name			varchar(100)
	, @Description	varchar(1000)
	, @Template		text
	, @IsActive		bit
	, @IsDeleted		bit
	, @ReportHeaderID			int
	, @ReportFooterID			int
	, @CustomReportTemplateTypeID			int
	, @IsSystemReport			bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@ID > 0)
		BEGIN
			UPDATE [dbo].[CustomReportTemplate]
			SET
				  LoginID = @LoginID
				, Name = @Name
				, Description = @Description
				, Template = @Template
				, IsActive = @IsActive
				, IsDeleted = @IsDeleted
				, ReportHeaderID = @ReportHeaderID
				, ReportFooterID = @ReportFooterID
				, CreatedOn		= CreatedOn
				, ModifiedOn    = GETDATE()
			WHERE ID = @ID
			
			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO [dbo].[CustomReportTemplate]
			(
				  LoginID
				, Name
				, Description
				, Template
				, IsActive
				, IsDeleted
				, ReportHeaderID
				, ReportFooterID
				, CustomReportTemplateTypeID
				, IsSystemReport
				, CreatedOn
				, ModifiedOn
			)
			VALUES
			(
				  @LoginID
				, @Name
				, @Description
				, @Template
				, @IsActive
				, @IsDeleted
				, @ReportHeaderID
				, @ReportFooterID
				, @CustomReportTemplateTypeID
				, @IsSystemReport
				, GETDATE()
				, GETDATE()
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END
END
GO
