USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[GetDBPartPrice] (
	@PartNumber VarChar(25),
	@Barcode varchar(20)		)  
RETURNS money AS  
BEGIN 
 declare @price money
  
     select top 1 @price = CONVERT(Money,Price_1)/100
    from mitchell3.dbo.detail with(nolock)
    where part_number = @PartNumber
    and barcode = @Barcode
 
 return @price
END



GO
