USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[F_ID] [int] NOT NULL,
	[P_ID] [int] NOT NULL,
	[L_ID] [int] NOT NULL,
	[LabelName] [nvarchar](150) NULL,
	[Text] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_Fields_7_873598046__K2_K3_K1_5] ON [dbo].[Fields]
(
	[P_ID] ASC,
	[L_ID] ASC,
	[F_ID] ASC
)
INCLUDE([Text]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
