USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/11/2021
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPresetProfile_GetForLogin]
	    @LoginID			int
	  , @Deleted			bit = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM AddOnPresetProfile
	WHERE 
		LoginID = @LoginID
		AND Deleted = @Deleted
	
END
GO
