USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/22/2021
-- =============================================
CREATE PROCEDURE [dbo].[EmailFailures_Insert]
	  @EmailID					int
	, @Message					varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO EmailFailures
	(
		  EmailID
		, TimeStamp
		, Message
	)
	VALUES
	(
		  @EmailID
		, GETDATE()
		, @Message
	)
END
GO
