USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[Overlaps_FillProposals_Backup_3_10_2020] 
	@AdminInfoID Int 
AS 
 
SET NOCOUNT ON 
 
DECLARE @Service_Barcode VarChar(10) = Mitchell3.Dbo.GetServiceBarcode(@AdminInfoID) 
 
-- Get the last added line item.  Only look for overlaps for this item 
-- Undoing this, I think the process does need to check all lines 
/* 
DECLARE @estimationLineItemID INT =  
( 
	SELECT MAX(EstimationLineItems.id) AS ID 
	FROM EstimationData 
	LEFT OUTER JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
	WHERE EstimationData.AdminInfoID = @AdminInfoID 
) 
*/ 
 
SELECT 	 
	EstimationLineItems.id 'EstimationLineItemsid', 
	EstimationLineItems.ActionCode 'EstimationLineItemsActionCode', 
	EstimationLineLabor.id 'EstimationLineLaborid', 
	EstimationLineLabor.LaborTime 'EstimationLineLaborLaborTime', 
	EstimationLineItems.Barcode 'EstimationLineItemsBarcode', 
	EstimationLineLabor.LaborType 'EstimationLineLaborLaborType', 
	Detail.Prtc_Description				-- Ezra 3/11/2019 - Don't add parts who's description is already in the estimate 
INTO #EstimateData 
FROM EstimationData   
INNER JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID --AND EstimationLineItems.ID = @estimationLineItemID 
LEFT JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = EstimationLineItems.ID 
LEFT JOIN Mitchell3.dbo.Detail ON EstimationLineItems.Barcode = Detail.Barcode AND Detail.Service_Barcode = @Service_Barcode 
WHERE EstimationData.AdmininfoID = @AdminInfoID  
	-- Ezra - 9/17/2018 - this is an attempt to ignore Repair, Refinish, and Blend actions for overlaps 
	AND EstimationLineItems.ActionCode NOT IN ('Repair', 'Refinish', 'Blend') 
 
SELECT	DISTINCT  
	EstData.EstimationLineItemsid 'EstimationLineItemsid', 
	EstDataInc.EstimationLineItemsid 'EstimationLineItemsIncid', 
	EstData.EstimationLineItemsActionCode 'EstimationLineItemsActionCode', 
	EstDataInc.EstimationLineItemsActionCode 'EstimationLineItemsIncActionCode', 
	EstData.EstimationLineLaborid 'EstimationLineLaborid', 
	EstDataInc.EstimationLineLaborid 'EstimationLineLaborIncid', 
	EstData.EstimationLineLaborLaborTime 'EstimationLineLaborLaborTime', 
	EstDataInc.EstimationLineLaborLaborTime 'EstimationLineLaborIncLaborTime', 
	EstData.EstimationLineItemsBarcode 'EstimationLineItemsBarcode', 
	EstDataInc.EstimationLineItemsBarcode 'EstimationLineItemsIncBarcode', 
	Part.Part_Desc 'PartPart_Desc', 
	PartInc.Part_Desc 'PartIncPart_Desc', 
	Detail.Right_Left_Code 'DetailRight_Left_Code', 
	DetailInc.Right_Left_Code 'DetailIncRight_Left_Code', 
	Detail.Part_Text 'DetailPart_Text', 
	DetailInc.Prtc_Description 'DetailIncPart_Text', 
	Detail.barcode 'DetailBarcode', 
	DetailInc.barcode 'DetailIncBarcode', 
	Detail.Labor_Hours 'DetailLabor_Hours', 
	DetailInc.Labor_Hours 'DetailIncLabor_Hours', 
	Detail.Part_Number 'DetailPart_Number', 
	DetailInc.Part_Number 'DetailIncPart_Number', 
	Detail.Labor_Type 'DetailLabor_Type', 
	DetailInc.Labor_Type 'DetailIncLabor_Type' 
INTO #MatrixParts 
FROM Mitchell3.dbo.Part 
INNER JOIN Mitchell3.dbo.Detail ON 
	 Detail.Service_BarCode = Part.Service_BarCode  
	 And Detail.nheader = Part.nheader  
	 And Detail.nsection = Part.nsection  
	 And Detail.npart = Part.npart 
INNER JOIN #EstimateData EstData ON 
	EstData.EstimationLineItemsBarcode = Detail.barcode  
	AND EstData.EstimationLineLaborLaborType =  
		CASE	 
			WHEN Detail.Labor_Type = 0 THEN 1 
				WHEN Detail.Labor_Type = 1 THEN 9 
				WHEN Detail.Labor_Type = 2 THEN 25 
				WHEN Detail.Labor_Type = 3 THEN 2 
				WHEN Detail.Labor_Type = 4 THEN 4 
			END 
INNER JOIN Mitchell3.dbo.Matrix ON Matrix.Service_Barcode = Detail.Service_BarCode AND Matrix.Relationship = 1 AND Matrix.Parent_Barcode = Detail.barcode 
INNER JOIN Mitchell3.dbo.Detail DetailInc ON DetailInc.Service_BarCode = Detail.Service_BarCode AND DetailInc.barcode = Matrix.Child_Barcode 
INNER JOIN Mitchell3.dbo.Part PartInc ON 
	 PartInc.Service_BarCode = DetailInc.Service_BarCode And 
	 PartInc.nheader = DetailInc.nheader AND 
	 PartInc.nsection = DetailInc.nsection AND 
	 PartInc.npart = DetailInc.npart 
 
LEFT JOIN #EstimateData EstDataInc ON 
	EstDataInc.EstimationLineItemsBarcode = DetailInc.barcode  
	AND EstDataInc.EstimationLineLaborLaborType =  
		CASE	 
			WHEN DetailInc.Labor_Type = 0 THEN 1 
			WHEN DetailInc.Labor_Type = 1 THEN 9 
			WHEN DetailInc.Labor_Type = 2 THEN 25 
			WHEN DetailInc.Labor_Type = 3 THEN 2 
			WHEN DetailInc.Labor_Type = 4 THEN 4 
		END 
WHERE Part.Service_BarCode = @Service_Barcode 
 
CREATE TABLE #OverlapTemp (ID Int IDENTITY(1,1), Process Varchar(50), AdminInfoID Int, ActionID Int NULL, ResultID Int NULL, ActionPart VarChar(100), Reason VarChar(100), BecauseOf VarChar(100), ActionCode Int NULL, OverlapAmount Real NULL, MinimumLabor Real NULL, AcceptFlag Bit NULL, BarcodeInc Varchar(10) NULL, [Labor Hours] Real NULL, [Labor Hours Inc] Real NULL ) 
 
INSERT INTO #OverlapTemp (Process, AdminInfoID, ActionID, ResultID, ActionPart, Reason, BecauseOf, ActionCode, OverlapAmount, MinimumLabor, AcceptFlag, BarcodeInc, [Labor Hours], [Labor Hours Inc]) 
	EXECUTE Mitchell3.dbo.AutoIncludedItems3 @Service_Barcode, @AdminInfoID 
 
INSERT INTO #OverlapTemp (Process, AdminInfoID, ActionID, ResultID, ActionPart, Reason, BecauseOf, ActionCode, OverlapAmount, MinimumLabor, AcceptFlag, BarcodeInc, [Labor Hours], [Labor Hours Inc]) 
	EXECUTE Mitchell3.dbo.ItemIncluded2 @Service_Barcode = @Service_Barcode, @AdminInfoID = @AdminInfoID 
 
INSERT INTO #OverlapTemp (Process, AdminInfoID, ActionID, ResultID, ActionPart, Reason, BecauseOf, ActionCode, OverlapAmount, MinimumLabor, AcceptFlag, BarcodeInc, [Labor Hours], [Labor Hours Inc]) 
	EXECUTE Mitchell3.dbo.AutoIncludes3 @Service_Barcode = @Service_Barcode, @AdminInfoID = @AdminInfoID , @Results = 0 
 
INSERT INTO #OverlapTemp (Process, AdminInfoID, ActionID, ResultID, ActionPart, Reason, BecauseOf, ActionCode, OverlapAmount, MinimumLabor, AcceptFlag, BarcodeInc, [Labor Hours], [Labor Hours Inc]) 
	EXECUTE Mitchell3.dbo.AssemblyProcessing @Service_Barcode = @Service_Barcode, @AdminInfoID = @AdminInfoID 
 
INSERT INTO #OverlapTemp (Process, AdminInfoID, ActionID, ResultID, ActionPart, Reason, BecauseOf, ActionCode, OverlapAmount, MinimumLabor, AcceptFlag, BarcodeInc, [Labor Hours], [Labor Hours Inc]) 
	EXECUTE Mitchell3.dbo.AutoIncludes3Paint @Service_Barcode = @Service_Barcode, @AdminInfoID = @AdminInfoID 
 
CREATE TABLE #OverlapPaintTemp  
( 
	PartID Int NULL, 
	PaintID Int NULL  
) 
 
INSERT INTO #OverlapPaintTemp 
	EXECUTE Mitchell3.dbo.AutoIncludedItems3Paint @Service_Barcode = @Service_Barcode, @AdminInfoID = @AdminInfoID 
 
INSERT INTO #OverlapTemp  
(	 
	  Process 
	, AdminInfoID 
	, ActionID 
	, ResultID 
	, ActionPart 
	, Reason 
	, BecauseOf 
	, ActionCode 
	, OverlapAmount 
	, MinimumLabor 
	, AcceptFlag 
	, BarcodeInc 
	, [Labor Hours] 
	, [Labor Hours Inc] 
) 
	SELECT  
		'OverlapPaint' 'Process',  
		OT.AdminInfoID,  
		OPT1.PaintID,  
		OPT2.PaintID, 
		'',  
		'Paint for', 
		OT.ActionPart + ' Paint', 
		OT.ActionCode,  
		OT.OverlapAmount,  
		OT.MinimumLabor,  
		OT.AcceptFlag,  
		OT.BarcodeInc, NULL, NULL 
	FROM #OverlapTemp OT 
	INNER JOIN #OverlapPaintTemp OPT1 ON OPT1.PartID = OT.ActionID 
	INNER JOIN #OverlapPaintTemp OPT2 ON OPT2.PartID = OT.ResultID 
 
DROP TABLE #OverlapPaintTemp  
 
UPDATE #OverlapTemp 
SET 	 
	OverlapAmount = -OT.OverlapAmount,  
	[Labor Hours] = OT.[Labor Hours Inc],  
	[Labor Hours Inc] = OT.[Labor Hours], 
	ActionID = OT.ResultID,  
	ResultID = OT.ActionID, 
	MinimumLabor = 0 
FROM #OverlapTemp OT 
WHERE OT.OverlapAmount > 0 
 
 
INSERT INTO EstimationOverlapProposed  
(	 
	  ActionPart 
	, Reason 
	, BecauseOf 
	, OverlapAmount 
	, MinimumLabor 
	, [Labor Hours] 
	, [Labor Hours Inc] 
	, Process 
	, AdminInfoID 
	, ActionID 
	, ResultID 
	, ActionCode 
	, AcceptFlag 
	, BarcodeInc 
) 
SELECT DISTINCT 
	  OT.ActionPart 
	, OT.Reason 
	, OT.BecauseOf 
	, CONVERT(VarChar(8), dbo.FormatNumber(OT.OverlapAmount, 1)) 'OverlapAmount' 
	, CONVERT(VarChar(8), dbo.FormatNumber(OT.MinimumLabor,1)) 'MinimumLabor' 
	, OT.[Labor Hours] 
	, OT.[Labor Hours Inc] 
	, OT.Process 
	, OT.AdminInfoID 
	, OT.ActionID 
	, OT.ResultID 
	, OT.ActionCode 
	, OT.AcceptFlag 
	, OT.BarcodeInc 
FROM #OverlapTemp OT 
LEFT JOIN EstimationOverlapProposed EOP ON EOP.ActionID = OT.ActionID AND EOP.ResultID = OT.ResultID 
LEFT JOIN Focuswrite.dbo.EstimationOverlap EO ON EO.EstimationLineItemsID1 = OT.ActionID AND EO.EstimationLineItemsID2 = OT.ResultID 
LEFT JOIN EstimationOverlapRejected ON EstimationOverlapRejected.AdminInfoID = @AdminInfoID AND EstimationOverlapRejected.Barcode = OT.BarcodeInc 
WHERE  
	EO.EstimationLineItemsID1 IS NULL  
	AND EOP.ActionID IS NULL 
	AND EstimationOverlapRejected.ID IS NULL 
	AND 
	( 
		OT.ActionPart NOT IN (SELECT Prtc_Description FROM #EstimateData UNION SELECT REPLACE(Prtc_Description, 'frt', 'front') FROM #EstimateData)		-- Ezra 3/11/2019 - Don't add parts who's description is already in the estimate 
		--OR OT.ActionID IS NULL 
	) 
ORDER BY OT.ActionID, OT.BarcodeInc, OT.Process 
 
 
DROP TABLE #OverlapTemp 
DROP TABLE #MatrixParts 
DROP TABLE #EstimateData
GO
