USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Report_AddOrUpdate]  
   @ID    int  
 , @EstimateID  int  
 , @ReportType  varchar(25)  
 , @CustomReportTemplateID int = 0  
 , @FileName   varchar(250)  
 , @DateCreated  datetime  
 , @DeleteStamp  datetime = null  
 , @ImagesOnlyChecked  BIT = null  
 , @Notes	varchar(50) = null  
 , @ContractID  int = null    
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
	IF (@ID > 0)  
		BEGIN  
			UPDATE [dbo].[Reports]  
			SET  
			  AdminInfoID = @EstimateID  
			, ReportType = @ReportType  
			, CustomReportTemplateID = @CustomReportTemplateID  
			, FileName = @FileName  
			, DateCreated = @DateCreated  
			, DeleteStamp = @DeleteStamp  
			, ImagesOnlyChecked = @ImagesOnlyChecked
			, Notes = @Notes
			, ContractID = @ContractID
			WHERE id = @ID  
  
		   SELECT @ID  
		END  
	ELSE  
		BEGIN  
			INSERT INTO [dbo].[Reports]  
			(  
				  AdminInfoID   
				, ReportType  
				, CustomReportTemplateID  
				, FileName  
				, DateCreated  
				, DeleteStamp  
				, ImagesOnlyChecked
				, Notes
				, ContractID
			)  
			VALUES  
			(  
				  @EstimateID  
				, @ReportType  
				, @CustomReportTemplateID  
				, @FileName  
				, @DateCreated  
				, @DeleteStamp  
				, @ImagesOnlyChecked
				, @Notes
				, @ContractID
			)  
  
			SELECT CAST(SCOPE_IDENTITY() AS INT)   
		END  
END  
GO
