USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 
CREATE PROCEDURE [dbo].[InsertAnnouncements]  --  [InsertAnnouncements] @Name='test',@LoginID=10000,@ImagePaths='test2|test3' 
      @Title nvarchar(100)=null 
      ,@Summary nvarchar(2000)=null 
      ,@CreatedDate datetime=null 
      ,@Priority nvarchar(50)=null 
      ,@URL nvarchar(500)=null 
      ,@StartDate datetime=null 
      ,@ShowInSupport bit=null 
      ,@ExpirationDate datetime=null 
	  ,@FilePath nvarchar(500)=null 
	  as 
 
begin 
SET NOCOUNT ON 
 
BEGIN TRANSACTION 
 
		-- Insert contract 
		INSERT INTO Announcement ( 
			[Title] 
      ,[Summary] 
      ,[CreatedDate] 
      ,[Priority] 
      ,[URL] 
      ,[StartDate] 
      ,[ShowInSupport] 
      ,[ExpirationDate] 
      ,[FilePath] 
 
		) 
		VALUES ( 
			@Title 
      ,@Summary 
      ,@CreatedDate 
      ,@Priority 
      ,@URL 
      ,@StartDate 
      ,@ShowInSupport 
      ,@ExpirationDate 
      ,@FilePath 
 
		) 
declare @ID bigint 
		SET @ID = scope_identity() 
 
commit 
SELECT @ID AS ID 
 
end 
GO
