USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_GetDriveTypes]
	@VehicleID Int,
	@AdminInfoID int,
	@DriveTypeRequired Bit = 0 OUTPUT
AS

begin
select 0 as DriveTypeID, ' ' as DriveType, 0 as DriveTypeRequired,(select TOP 1 v.DriveType from FocusWrite.dbo.estimationdata as e with(nolock)  inner join FocusWrite.dbo.VehicleInfo as v with(nolock) on v.EstimationDataId = e.id where e.AdminInfoID = @AdminInfoID) as 'Selected'
union all
select distinct ve.DriveID as DriveTypeID,e.Drive as DriveType,@DriveTypeRequired as'DriveTypeRequired' 
,(select v.DriveType from FocusWrite.dbo.estimationdata as e with(nolock)  inner join FocusWrite.dbo.VehicleInfo as v with(nolock) on v.EstimationDataId = e.id where e.AdminInfoID = @AdminInfoID) as 'Selected'
from vinn.dbo.Vehicle_Service_Xref as x
	inner join vinn.dbo.VinToDrive as ve
		on ve.MakeID = x.MakeID 
		and ve.ModelID = x.ModelID
	inner join vinn.dbo.Drives as e
		on e.DriveID = ve.DriveID
where VehicleID = @VehicleID
--where v.ModelID = (select v.modelid
--				from FocusWrite.dbo.VehicleInfo as v with(nolock)
--					inner join FocusWrite.dbo.EstimationData as e with(nolock)
--						on e.id = v.EstimationDataId
--				where e.AdminInfoID =  @AdminInfoID)
end

GO
