USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[GetExpandList]
	@GroupNumber Int,
	@VehicleID Int
AS
/*	IF @VehicleID = 35826
	BEGIN
		SELECT CONVERT(INT,SectionsList.ID) 'ID',
			SectionsList.ParentID,
			SectionsList.SectionName,
			SectionsList.GroupNumber
		INTO #ExpandList
		FROM Honda.Dbo.SectionsList SectionsList WITH (NOLOCK)
		WHERE GroupNumber = @GroupNumber
		
		WHILE (	SELECT COUNT(*)
			FROM #ExpandList EL
			INNER JOIN Honda.Dbo.SectionsList SectionsList WITH (NOLOCK) ON
				(SectionsList.ID = EL.ParentID)
			LEFT JOIN #ExpandList EL2 ON
				(EL2.id = EL.ParentID)
			WHERE EL2.ID IS NULL	) > 0
		BEGIN
	
			INSERT INTO #ExpandList
				SELECT SectionsList.ID, SectionsList.ParentID, SectionsList.SectionName, SectionsList.GroupNumber
				FROM #ExpandList EL
				INNER JOIN Honda.Dbo.SectionsList SectionsList WITH (NOLOCK) ON
					(SectionsList.ID = EL.ParentID)
				LEFT JOIN #ExpandList EL2 ON
					(EL2.id = EL.ParentID)
				WHERE EL2.ID IS NULL	
		END
	
		
		SELECT * 
		FROM #ExpandList
		ORDER BY ParentID
		
		DROP TABLE #ExpandList
	END
	ELSE
	BEGIN*/
		SELECT CONVERT(INT,VehicleSections.ID) 'ID',
			VehicleSections.ParentID,
			VehicleSections.Name,
			VehicleSections.Selectable
		INTO #ExpandList2
		FROM Vehicles.Dbo.VehicleSections VehicleSections WITH (NOLOCK)
		WHERE VehicleSections.id = @GroupNumber
		
		WHILE (	SELECT COUNT(*)
			FROM #ExpandList2 EL
			INNER JOIN Vehicles.Dbo.VehicleSections VehicleSections WITH (NOLOCK) ON
				(VehicleSections.ID = EL.ParentID)
			LEFT JOIN #ExpandList2 EL2 ON
				(EL2.id = EL.ParentID)
			WHERE EL2.ID IS NULL	) > 0
		BEGIN
	
			INSERT INTO #ExpandList2
				SELECT VehicleSections.ID, VehicleSections.ParentID, VehicleSections.Name 'SectionName', VehicleSections.Selectable
				FROM #ExpandList2 EL
				INNER JOIN Vehicles.Dbo.VehicleSections VehicleSections WITH (NOLOCK) ON
					(VehicleSections.ID = EL.ParentID)
				LEFT JOIN #ExpandList2 EL2 ON
					(EL2.id = EL.ParentID)
				WHERE EL2.ID IS NULL	
		END
	
		
		SELECT id, ParentID, Name 'SectionName', 
			CASE	WHEN	Selectable = 0 THEN	-1
				ELSE	ID 
			END 'GroupNumber'
		FROM #ExpandList2
		ORDER BY ParentID
		
		DROP TABLE #ExpandList2
--	END




GO
