USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 
 
 
CREATE PROCEDURE [dbo].[GetOtherContactInformation] 
	@AdminInfoID Int 
AS 
	SELECT AdminInfoID, InsuranceCompanyName, PolicyNumber, ClaimNumber, Deductible, CoverageType, DateOfLoss, ClaimantSameAsOwner, InsuredSameAsOwner 
	FROM EstimationData 
	WHERE AdminInfoID = @AdminInfoID 
GO
