USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--getVehicleID-02.sql
CREATE PROCEDURE [dbo].[getVehicleID]
	 @Year int
	,@MakeID int
	,@ModelID int
	,@TrimLevelID int
	,@BodyID	int = null
AS
BEGIN

if isnull(@TrimLevelID, 0) = 0
Begin
	declare @i int
	SELECT @i = COUNT(DISTINCT SubmodelID)
	FROM vinn.dbo.vehicle_service_xref AS Xref 
	WHERE  
		   Xref.VinYear = @Year  
		   AND Xref.MakeID = @MakeID  
		   AND XRef.ModelID = @ModelID 
		   AND (ISNULL(@BodyID, 0) = 0 OR Xref.EngineID = @BodyID)              -- !!! Vehicle_Service_Xref has the BodyID and EngineID data flipped
	if @i = 1
	Begin
		SELECT DISTINCT @TrimLevelID = SubmodelID
		FROM vinn.dbo.vehicle_service_xref AS Xref 
		WHERE  
		   Xref.VinYear = @Year  
		   AND Xref.MakeID = @MakeID  
		   AND XRef.ModelID = @ModelID 
		   AND (ISNULL(@BodyID, 0) = 0 OR Xref.EngineID = @BodyID)
	End
End

SELECT 
	VehicleID
	, Xref.Service_Barcode
	, CASE WHEN VinYear BETWEEN from_year AND to_year THEN 1 Else 0 END AS Data
	, Xref.CarryUp
FROM vinn.dbo.vehicle_service_xref AS Xref 
LEFT OUTER JOIN Mitchell3.dbo.Service ON Xref.Service_Barcode = Service.Service_Barcode
       
WHERE  
       Xref.VinYear = @Year  
       AND Xref.MakeID = @MakeID  
       AND XRef.ModelID = @ModelID 
	   AND (ISNULL(@TrimLevelID, 0) = 0 OR Xref.SubModelID = @TrimLevelID)
       AND (ISNULL(@BodyID, 0) = 0 OR Xref.EngineID = @BodyID)              -- !!! Vehicle_Service_Xref has the BodyID and EngineID data flipped 

END


GO
