USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[CopyEstimate_SlowBackup]
	@AdminInfoID Int,
	@EstimateName VarChar(100),
	@CopyInsurance Bit,
	@CopyClaimant Bit,
	@CopyVehicle Bit,
	@CopyImages Bit,
	@CopyLineItems Bit,
	@LatestInfoOnly Bit = 1,
	@Return Int = NULL OUTPUT
AS
	DECLARE @EstimationDataId Int
	DECLARE @EstimationLineItemsID Int
	DECLARE @id Int
	DECLARE @StepID Int
	DECLARE @PartSource VarChar(10)
	DECLARE @ActionCode VarChar(20)
	DECLARE @ActionDescription VarChar(80)
	DECLARE @PartNumber VarChar(50)
	DECLARE @Description VarChar(80)
	DECLARE @Price money
	DECLARE @PartOfOverhaul bit
	DECLARE @Qty tinyInt
	DECLARE @LaborTime real
	DECLARE @PaIntTime real
	DECLARE @Other real
	DECLARE @ImageID Int
	DECLARE @PartSourceVendorID Int
	DECLARE @BettermentPartsFlag bit
	DECLARE @SubletPartsFlag bit
	DECLARE @BettermentOperationFlag bit
	DECLARE @SubletOperationFlag bit
	DECLARE @SupplementVersion tinyInt
	DECLARE @LineNumber Int
	DECLARE @UniqueSequenceNumber Int
	DECLARE @OldContactsID Int
	DECLARE @NewContactsID Int
	DECLARE @ContactTypeID Int
	DECLARE @ContactSubTypeID Int
	DECLARE @ModifiesID Int
	DECLARE @ACDCode VarChar(5)
	DECLARE @CustomerPrice Real 
	DECLARE @BettermentPercentage Real
	DECLARE @AutomaticCharge Bit
	DECLARE @SourcePartNumber VarChar(25)
	DECLARE @UniversalAddress Bit
	DECLARE @DateAdded DateTime
	DECLARE @LoginsID Int
	DECLARE @EstimateNumber Int
	DECLARE @Barcode VarChar(10) 
	DECLARE @dbPrice Money
	DECLARE @MaxSupplementVersion Int
	
	DECLARE @contactFirstName VARCHAR(50)
	DECLARE @contactMiddleName VARCHAR(50)
	DECLARE @contactLastName VARCHAR(50)
	DECLARE @contactEmail VARCHAR(50)
	DECLARE @contactPhone1 VARCHAR(50)
	DECLARE @contactExtension1 VARCHAR(10)
	DECLARE @contactPhone2 VARCHAR(50)
	DECLARE @contactExtension2 VARCHAR(10)
	DECLARE @contactFaxNumber VARCHAR(50)
	DECLARE @contactBusinessName VARCHAR(100)
	DECLARE @contactNotes VARCHAR(1500)
	DECLARE @contactTitle VARCHAR(50)
	DECLARE @contactSaveCustomer BIT
	DECLARE @contactContactTypeID TINYINT
	DECLARE @contactContactSubTypeID SMALLINT

	SELECT @LoginsID = CreatorID
	FROM AdminInfo WITH (NOLOCK)
	WHERE ID = @AdminInfoID

	EXECUTE GetEstimateNumber @LoginsID, @EstimateNumber OUTPUT
	-- Create new AdminInfo Entry
	INSERT INTO AdminInfo WITH (ROWLOCK)  (Description, CreatorID, CustomerProfilesID, GrandTotal, BettermentTotal, EstimateNumber, CustomerID)
		SELECT 
			@EstimateName
			, CreatorID
			, CustomerProfilesID
			, CASE WHEN @CopyLineItems = 1 THEN GrandTotal ELSE '0' END
			, BettermentTotal
			, @EstimateNumber
			, CustomerID
		FROM AdminInfo WITH (NOLOCK)
		WHERE ID = @AdminInfoID
	SELECT @Return = @@IDENTITY

	SELECT @MaxSupplementVersion = Max(EstimationLineItems.SupplementVersion)
	FROM EstimationLineItems WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.ID = EstimationLineItems.EstimationDataid)
	WHERE EstimationData.AdminInfoID = @AdminInfoID AND
		EstimationLineItems.SupplementVersion <> 99

	-- Create Estimation Data Header
	INSERT INTO EstimationData WITH (ROWLOCK)  (	AdminInfoID,EstimationDate,DateOfLoss,CoverageType,EstimateLocation,
					TransactionLevel,LockLevel,LastLineNumber,EstimationLineItemIDLocked,
					Note,PrintNote,AssignmentDate,ReportTextHeader,AlternateIdentitiesID,
					SupplementVersion,NextUniqueSequenceNumber)
		SELECT @Return 'AdminInfoID', 
			GetDate() 'EstimationDate', 
			CASE WHEN @CopyInsurance <> 0 THEN DateOfLoss ELSE NULL END 'DateOfLoss', 
			CASE WHEN @CopyInsurance <> 0 THEN CoverageType ELSE NULL END 'CoverageType',
			EstimateLocation,
			TransactionLevel,
			CASE WHEN @LatestInfoOnly = 0 THEN @MaxSupplementVersion ELSE NULL END 'LockLevel',
			LastLineNumber,
			CASE WHEN @LatestInfoOnly = 0 THEN EstimationLineItemIDLocked ELSE NULL END 'EstimationLineItemIDLocked',
			Note,
			PrintNote,
			AssignmentDate,
			ReportTextHeader,
			AlternateIdentitiesID,
			0,
			NextUniqueSequenceNumber
		FROM AdminInfo WITH (NOLOCK)
		INNER JOIN EstimationData WITH (NOLOCK) ON
			(EstimationData.AdminInfoID = AdminInfo.id)
		WHERE AdminInfo.ID = @AdminInfoID

	SELECT @EstimationDataId = @@Identity

	-- Copy/Create Vehicle Info
	IF @CopyVehicle <> 0
		BEGIN
			INSERT INTO VehicleInfo WITH (ROWLOCK)  (EstimationDataId, VehicleID, ExtColor, ExtColorCode, 
						MilesIn, MilesOut, License, State, Condition, IntColor, IntColorCode, 
						TrimLevel, Vin, VinDecode, InspectionDate, ProductionDate, BodyType, 
						Service_Barcode, DefaultPaintType,
						DriveType, VehicleValue, Year, MakeID, ModelID, SubModelID, EngineType, TransmissionType, paintcode, POI_ID)
			SELECT 
				@EstimationDataId,
				VehicleID,
				ExtColor,
				ExtColorCode,
				MilesIn,
				MilesOut,
				License,
				State,
				Condition,
				IntColor,
				IntColorCode,
				TrimLevel,
				Vin,
				VinDecode,
				InspectionDate, 
				ProductionDate, 
				BodyType, 
				Service_Barcode, 
				DefaultPaintType,
				DriveType, 
				VehicleValue, 
				Year, 
				MakeID, 
				ModelID, 
				SubModelID, 
				EngineType, 
				TransmissionType, 
				paintcode, 
				POI_ID
			FROM AdminInfo WITH (NOLOCK)
			INNER JOIN EstimationData WITH (NOLOCK) ON (EstimationData.AdminInfoID = AdminInfo.id)
			INNER JOIN VehicleInfo WITH (NOLOCK) ON (VehicleInfo.EstimationDataId = EstimationData.Id)
			WHERE AdminInfo.ID = @AdminInfoID


			DECLARE @VehicleInfoID INT = (SELECT CAST(SCOPE_IDENTITY() AS INT))

			INSERT INTO VehicleInfoManual
			(
				  VehicleInfoID
				, Country
				, Manufacturer
				, Make
				, Model
				, ModelYear
				, SubModel
				, Service_Barcode
				, ManualSelection
			)
			SELECT
				  @VehicleInfoID
				, VehicleInfoManual.Country
				, VehicleInfoManual.Manufacturer
				, VehicleInfoManual.Make
				, VehicleInfoManual.Model
				, VehicleInfoManual.ModelYear
				, VehicleInfoManual.SubModel
				, VehicleInfoManual.Service_Barcode
				, VehicleInfoManual.ManualSelection
			FROM AdminInfo
			INNER JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.id
			INNER JOIN VehicleInfo ON VehicleInfo.EstimationDataId = EstimationData.Id
			INNER JOIN VehicleInfoManual ON VehicleInfo.id = VehicleInfoManual.VehicleInfoID
			WHERE AdminInfo.ID = @AdminInfoID
		END
	ELSE
		INSERT INTO VehicleInfo (EstimationDataID, VehicleID) VALUES (@EstimationDataId,-1)

	-- Copy LineItems
	if @CopyLineItems <> 0
	BEGIN
		DECLARE LineItemCursor CURSOR FOR 
			SELECT	EstimationLineItems.id, 
				EstimationLineItems.StepID, 
				EstimationLineItems.PartSource, 
				EstimationLineItems.ActionCode, 
				EstimationLineItems.ActionDescription, 
				EstimationLineItems.PartNumber, 
				EstimationLineItems.Description, 
				EstimationLineItems.Price, 
				EstimationLineItems.PartOfOverhaul, 
				EstimationLineItems.Qty, 
				EstimationLineItems.LaborTime, 
				EstimationLineItems.PaintTime, 
				EstimationLineItems.Other, 				
				EstimationLineItems.ImageID, 
				EstimationLineItems.PartSourceVendorID, 
				EstimationLineItems.BettermentParts, 
				EstimationLineItems.SubletPartsFlag, 
				EstimationLineItems.BettermentType, 
				EstimationLineItems.SubletOperationFlag, 
				EstimationLineItems.SupplementVersion, 
				EstimationLineItems.LineNumber,
				EstimationLineItems.UniqueSequenceNumber, 
				EstimationLineItems.ModifiesID, 
				EstimationLineItems.ACDCode, 
				EstimationLineItems.CustomerPrice, 
				EstimationLineItems.BettermentValue, 
				EstimationLineItems.AutomaticCharge, 
				EstimationLineItems.SourcePartNumber, 
				EstimationLineItems.Barcode, 
				EstimationLineItems.dbPrice			
			FROM AdminInfo WITH (NOLOCK)
			INNER JOIN EstimationData WITH (NOLOCK) ON
				(EstimationData.AdminInfoID = AdminInfo.id)
			INNER JOIN EstimationLineItems WITH (NOLOCK) ON
				(EstimationLineItems.EstimationDataId = EstimationData.Id)
			LEFT JOIN EstimationLineItems EstimationLineItemsModified WITH (NOLOCK) ON
				(EstimationLineItemsModified.id = FocusWrite.Dbo.GetLatestLineItemMod(EstimationLineItems.ID))
			WHERE AdminInfo.ID = @AdminInfoID AND
				( @LatestInfoOnly = 0 OR 
				  ( 	@LatestInfoOnly <> 0 AND 
					EstimationLineItemsModified.id = EstimationLineItems.ID AND
					ISNULL(EstimationLineItems.ACDCode,'') <> 'D' ))
			ORDER BY EstimationLineItems.ID
		OPEN LineItemCursor

		FETCH NEXT FROM LineItemCursor INTO @id, @StepID, @PartSource, @ActionCode, @ActionDescription, @PartNumber, 
			@Description, @Price, @PartOfOverhaul, @Qty, @LaborTime, @PaintTime, @Other, @ImageID, 
			@PartSourceVendorID, @BettermentPartsFlag, @SubletPartsFlag, @BettermentOperationFlag, 
			@SubletOperationFlag, @SupplementVersion, @LineNumber, @UniqueSequenceNumber, @ModifiesID, @ACDCode,
			@CustomerPrice, @BettermentPercentage, @AutomaticCharge, @SourcePartNumber, @Barcode, 
			@dbPrice

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO EstimationLineItems WITH (ROWLOCK)  (EstimationDataID, StepID, PartSource, ActionCode, ActionDescription,
							PartNumber, Description, Price, PartOfOverhaul, Qty, LaborTime,
							PaintTime, Other, ImageID, PartSourceVendorID, BettermentParts,
							SubletPartsFlag, BettermentType, SubletOperationFlag,
							SupplementVersion, LineNumber, UniqueSequenceNumber, ModifiesID, ACDCode,
							CustomerPrice, BettermentValue, AutomaticCharge, SourcePartNumber, Barcode, 
							dbPrice )
				SELECT @EstimationDataId, StepID, PartSource, ActionCode, ActionDescription,
					PartNumber, Description, Price, PartOfOverhaul, Qty, LaborTime,
					PaintTime, Other, ImageID, PartSourceVendorID, BettermentParts,
					SubletPartsFlag, BettermentType, SubletOperationFlag,
					CASE WHEN @LatestInfoOnly = 0 THEN CASE WHEN SupplementVersion = 99 THEN 0 ELSE 0 END ELSE 0 END, 
					LineNumber, UniqueSequenceNumber, 
					CASE WHEN @LatestInfoOnly = 0 THEN ModifiesID ELSE NULL END,
					CASE WHEN @LatestInfoOnly = 0 THEN ACDCode ELSE NULL END,
					@CustomerPrice, @BettermentPercentage, @AutomaticCharge, @SourcePartNumber, @Barcode, 
					@dbPrice 
				FROM EstimationLineItems WITH (NOLOCK)
				WHERE ID = @id

			SELECT @EstimationLineItemsID = @@IDENTITY 
	
			--Labor Items
			INSERT INTO EstimationLineLabor WITH (ROWLOCK)  ( EstimationLineItemsID, LaborType, LaborSubType, LaborTime,
							LaborCost, BettermentFlag, SubletFlag, UniqueSequenceNumber, ModifiesID,
							AdjacentDeduction, MajorPanel, BettermentPercentage, dbLaborTime, Include)
				SELECT 
					@EstimationLineItemsID, LaborType, LaborSubType, LaborTime, LaborCost, 
					BettermentFlag, SubletFlag, UniqueSequenceNumber, ModifiesID,
					AdjacentDeduction, MajorPanel, BettermentPercentage, dbLaborTime, Include
				FROM EstimationLineLabor WITH (NOLOCK)
				WHERE EstimationLineItemsID = @id

			--Item Notes
			INSERT INTO EstimationNotes  WITH (ROWLOCK) ( EstimationLineItemsID, Printed, Notes)
				SELECT 
					@EstimationLineItemsID, Printed, Notes
				FROM EstimationNotes WITH (NOLOCK)
				WHERE EstimationLineItemsID = @id

			FETCH NEXT FROM LineItemCursor INTO @id, @StepID, @PartSource, @ActionCode, @ActionDescription, 
				@PartNumber, @Description, @Price, @PartOfOverhaul, @Qty, @LaborTime, @PaintTime, @Other, 
				@ImageID, @PartSourceVendorID, @BettermentPartsFlag, @SubletPartsFlag, 
				@BettermentOperationFlag, @SubletOperationFlag, @SupplementVersion, @LineNumber, 
				@UniqueSequenceNumber, @ModifiesID, @ACDCode,
				@CustomerPrice, @BettermentPercentage, @AutomaticCharge, @SourcePartNumber, @Barcode, 
				@dbPrice 
		END
		CLOSE LineItemCursor
		DEALLOCATE LineItemCursor
	END

	IF (@CopyClaimant <> 0)
		BEGIN
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 3	-- Claimant
		END

	IF (@CopyInsurance <> 0)
		BEGIN
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 7	-- Insurance Agent
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 11	-- Insurance Adjuster
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 20	-- Insurance Adjuster
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 3	-- Insurance Claimant
			EXEC CopyContactAndAddress @adminInfoID = @AdminInfoID, @newAdminInfoID = @Return, @contactTypeID = 1, @contactSubTypeID = 2	-- Insured
		END


	--Fix Modified ID's
	UPDATE EstimationLineItems WITH (ROWLOCK) 
	SET	ModifiesID = EstimationLineItems2.id
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN EstimationLineItems WITH (ROWLOCK)  ON
		(EstimationLineItems.EstimationDataID = EstimationData.id)
	INNER JOIN EstimationLineItems EstimationLineItemsOld WITH (ROWLOCK)  ON
		(EstimationLineItemsOld.id = EstimationLineItems.ModifiesID)
	INNER JOIN EstimationLineItems EstimationLineItems2 WITH (ROWLOCK)  ON
		(EstimationLineItems2.EstimationDataID = EstimationData.id AND
		 EstimationLineItems2.LineNumber = EstimationLineItemsOld.LineNumber)
	WHERE ISNULL(EstimationLineItems.ModifiesID,-1) > 0 AND
		AdminInfo.ID = @Return

	-- Fix EstimationLineItemIDLocked
	UPDATE EstimationData WITH (ROWLOCK) 
	SET EstimationLineItemIDLocked = (
			SELECT EstimationLineItemsNew.id
			FROM AdminInfo WITH (NOLOCK)
			INNER JOIN EstimationData WITH (NOLOCK) ON
				(EstimationData.AdminInfoID = AdminInfo.id)
			INNER JOIN EstimationLineItems EstimationLineItemsOld WITH (NOLOCK) ON
				(EstimationLineItemsOld.id = EstimationData.EstimationLineItemIDLocked)
			INNER JOIN EstimationData EstimationDataNew WITH (NOLOCK) ON
				(EstimationDataNew.AdminInfoID = @Return)
			INNER JOIN EstimationLineItems EstimationLineItemsNew WITH (NOLOCK) ON
				(EstimationLineItemsNew.EstimationDataID = EstimationDataNew.ID AND
				 EstimationLineItemsNew.LineNumber = EstimationLineItemsOld.LineNumber )
			WHERE AdminInfo.ID = @AdminInfoID)
	WHERE AdminInfoID = @Return

	SELECT @Return 'id'
	EXECUTE RedoLineNumbers @AdminInfoID = @Return
GO
