USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 4/12/2023
-- Description:	Get a StripeCustomerIDs record for a LoginID
-- =============================================
CREATE PROCEDURE [dbo].[StripeCustomerIDs_Get]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM StripeCustomerIDs
	WHERE LoginID = @LoginID
END
GO
