USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetProcessedLinesBettermentAmount] (
	@AdminInfoID INT
	,@SupplementVersion INT = 0
	,@ForPreview BIT = 0
	)
RETURNS @ProcessedLinesBettermentAmount TABLE (
	LineItemID INT
	,LineNumber INT
	,BettermentValue FLOAT
	,BettermentAmount FLOAT
	,BettermentNote VARCHAR(100)
	)

BEGIN
	DECLARE @estimateID INT = @AdminInfoID
	DECLARE @SupVersion INT = @SupplementVersion
	DECLARE @Preview BIT = @ForPreview
	-- Get a temp table with the line items for this estimate
	DECLARE @LineItems TABLE (
		[LineItemID] [int] NOT NULL
		,[EstimationDataID] [int] NOT NULL
		,[ActionCode] [varchar](20) NULL
		,LineNumber [varchar](20) NULL
		,[Price] [money] NULL
		,[ModifiesID] [int] NULL
		,[BettermentParts] [bit] NULL
		,[BettermentMaterials] [bit] NULL
		,[SupplementVersion] [tinyint] NULL
		,[BettermentType] [char](10) NULL
		,[BettermentValue] [float] NULL
		)

	INSERT INTO @LineItems
	SELECT EstimationLineItems.id
		,EstimationLineItems.EstimationDataID
		,EstimationLineItems.ActionCode
		,EstimationLineItems.LineNumber
		,EstimationLineItems.Price
		,EstimationLineItems.ModifiesID
		,EstimationLineItems.BettermentParts
		,EstimationLineItems.BettermentMaterials
		,EstimationLineItems.SupplementVersion
		,EstimationLineItems.BettermentType
		,EstimationLineItems.BettermentValue
	FROM EstimationData WITH (NOLOCK)
	JOIN EstimationLineItems WITH (NOLOCK) ON EstimationLineItems.EstimationDataID = EstimationData.id
	WHERE EstimationData.AdminInfoID = @estimateID

	-- Get a temp table with the labor lines for this estimate
	DECLARE @LaborItems TABLE (
		[id] [int] NOT NULL
		,[EstimationLineItemsID] [int] NOT NULL
		,[LaborType] [tinyint] NOT NULL
		,[BettermentFlag] [bit] NULL
		,[BettermentPercentage] [real] NULL
		,BettermentType [Char] NULL
		)

	INSERT INTO @LaborItems
	SELECT EstimationLineLabor.id
		,EstimationLineLabor.EstimationLineItemsID
		,EstimationLineLabor.LaborType
		,EstimationLineLabor.BettermentFlag
		,EstimationLineLabor.BettermentPercentage
		,EstimationLineLabor.BettermentType
	FROM @LineItems LineItems
	JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = LineItems.LineItemID

	-- Get the labor summary
	DECLARE @LaborSummary TABLE (
		EstimationLineItemsID INT
		,PaintMaterialsBetterment REAL
		,LaborBetterment REAL
		,PaintLaborBetterment REAL
		)

	INSERT INTO @LaborSummary
	SELECT EstimationLineItemsID
		,PaintMaterialsBetterment
		,LaborBetterment
		,PaintLaborBetterment
	FROM dbo.GetLaborSummary(@estimateID, @Preview)

	INSERT INTO @ProcessedLinesBettermentAmount
	SELECT EstimationLineItems.LineItemID
		,COALESCE(EstimationLineItems.LineNumber, ModifiesData.LineNumber) AS LineNumber
		,ISNULL(EstimationLineItems.BettermentValue, 0) AS BettermentValue
		,CASE 
			WHEN ISNULL(EstimationLineItems.BettermentType, '') = 'P'
				THEN (
						(
							CASE 
								WHEN ISNULL(EstimationLineItems.BettermentParts, 0) = 1
									THEN EstimationLineItems.Price
								ELSE 0
								END
							) + (
							CASE 
								WHEN ISNULL(EstimationLineItems.BettermentMaterials, 0) = 1
									THEN LaborSummary.PaintMaterialsBetterment
								ELSE 0
								END
							) +
						--labor
						(
							CASE 
								WHEN EstimationLineLaborMain.LaborType IN (1,2,3,4,5,6,8,24,25)
									AND EstimationLineLaborMain.BettermentFlag = 1
									THEN LaborSummary.LaborBetterment
								ELSE 0
								END
							) +
						--paint
						(
							CASE 
								WHEN EstimationLineLaborPaint.LaborType IN (9,16,18,19,29)
									AND EstimationLineLaborPaint.BettermentFlag = 1
									THEN LaborSummary.PaintLaborBetterment
								ELSE 0
								END
							)
						) * (EstimationLineItems.BettermentValue / 100) * - 1
			WHEN ISNULL(EstimationLineItems.BettermentType, '') = 'D'
				THEN EstimationLineItems.BettermentValue * - 1
			ELSE 0
			END AS BettermentAmount
		,CASE 
			WHEN ISNULL(EstimationLineItems.BettermentType, '') = 'P'
				THEN CASE 
						WHEN ISNULL(EstimationLineItems.BettermentParts, 0) = 1
							OR ISNULL(EstimationLineItems.BettermentMaterials, 0) = 1
							OR EstimationLineLaborMain.LaborType IN (1,2,3,4,5,6,8,24,25)
							AND EstimationLineLaborMain.BettermentFlag = 1
							OR EstimationLineLaborPaint.LaborType IN (9,16,18,19,29)
							AND EstimationLineLaborPaint.BettermentFlag = 1
							THEN 'Betterment ' + CAST(EstimationLineItems.BettermentValue AS VARCHAR) + '%' + (
									CASE 
										WHEN ISNULL(EstimationLineItems.BettermentParts, 0) = 1
											THEN ' Parts' + ','
										ELSE ''
										END
									) + (
									CASE 
										WHEN ISNULL(EstimationLineItems.BettermentMaterials, 0) = 1
											THEN ' Paint Materials' + ','
										ELSE ''
										END
									) + (
									CASE 
										WHEN EstimationLineLaborMain.LaborType IN  (1,2,3,4,5,6,8,24,25)
											AND EstimationLineLaborMain.BettermentFlag = 1
											THEN ' Labor' + ','
										ELSE ''
										END
									) + (
									CASE 
										WHEN EstimationLineLaborPaint.LaborType IN (9,16,18,19,29)
											AND EstimationLineLaborPaint.BettermentFlag = 1
											THEN ' Paint Labor' + ','
										ELSE ''
										END
									)
						END
			WHEN ISNULL(EstimationLineItems.BettermentType, '') = 'D'
				THEN CASE 
						WHEN ISNULL(EstimationLineItems.BettermentParts, 0) = 1
							OR ISNULL(EstimationLineItems.BettermentMaterials, 0) = 1
							OR EstimationLineLaborMain.LaborType IN (1,2,3,4,5,6,8,24,25)
							AND EstimationLineLaborMain.BettermentFlag = 1
							OR EstimationLineLaborPaint.LaborType IN (9,16,18,19,29)
							AND EstimationLineLaborPaint.BettermentFlag = 1
							THEN 'Betterment $' + CAST(EstimationLineItems.BettermentValue AS VARCHAR) + (
									CASE 
										WHEN ISNULL(EstimationLineItems.BettermentParts, 0) = 1
											THEN ' Parts' + ','
										ELSE ''
										END
									) + (
									CASE 
										WHEN ISNULL(EstimationLineItems.BettermentMaterials, 0) = 1
											THEN ' Paint Materials' + ','
										ELSE ''
										END
									) + (
									CASE 
										WHEN EstimationLineLaborMain.LaborType IN (1,2,3,4,5,6,8,24,25)
											AND EstimationLineLaborMain.BettermentFlag = 1
											THEN ' Labor' + ','
										ELSE ''
										END
									) + (
									CASE 
										WHEN EstimationLineLaborPaint.LaborType IN (9,16,18,19,29)
											AND EstimationLineLaborPaint.BettermentFlag = 1
											THEN ' Paint Labor'
										ELSE ''
										END
									)
						ELSE ''
						END
			END AS BettermentNote
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON EstimationData.AdminInfoID = AdminInfo.ID
	JOIN @LineItems EstimationLineItems ON EstimationData.ID = EstimationLineItems.EstimationDataID
	LEFT JOIN @LaborItems EstimationLineLaborMain ON EstimationLineItems.LineItemID = EstimationLineLaborMain.EstimationLineItemsID
		AND EstimationLineLaborMain.LaborType IN (1,2,3,4,5,6,8,24,25)
	LEFT JOIN LaborTypes LaborTypesMain ON EstimationLineLaborMain.LaborType = LaborTypesMain.id
	LEFT JOIN @LaborItems EstimationLineLaborPaint ON EstimationLineLaborPaint.EstimationLineItemsID = EstimationLineItems.LineItemID
		AND (
			EstimationLineLaborPaint.LaborType IN (9,16,18,19,29) -- Clearcoat, Base Coat, 2 Stage, 3 Stage, 2 Tone 
			OR (
				EstimationLineLaborPaint.LaborType = 26
				AND EstimationLineItems.ActionCode = 'Blend'
				)
			)
	LEFT JOIN LaborTypes LaborTypesPaint WITH (NOLOCK) ON EstimationLineLaborPaint.LaborType = LaborTypesPaint.id
	LEFT JOIN @LineItems ModifiesData ON ModifiesData.LineItemID = EstimationLineItems.ModifiesID
	LEFT JOIN @LaborSummary AS LaborSummary ON EstimationLineItems.LineItemID = LaborSummary.EstimationLineItemsID
	WHERE AdminInfo.ID = @estimateID
		AND (ISNULL(EstimationLineItems.SupplementVersion, 0) <= @SupVersion)

	RETURN
END
GO
