USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[RedoLineNumbers]
	@AdminInfoID Int
AS

Create TABLE #UsedLines  (LineNumber INT)

-- Get line numbers from regular estimate lines
INSERT INTO #UsedLines
SELECT EstimationLineItems.LineNumber
FROM EstimationData 
JOIN EstimationLineItems ON EstimationData.id = EstimationLineItems.EstimationDataID
WHERE EstimationData.AdminInfoID = @AdminInfoID AND ISNULL(EstimationLineItems.Suppress,0) = 0

-- Get line numbers used in PDR or PDR supplement changes
INSERT INTO #UsedLines
SELECT PDR_EstimateDataPanel.LineNumber
FROM PDR_EstimateDataPanel
WHERE AdminInfoID = @AdminInfoID AND PDR_EstimateDataPanel.LineNumber > 0

INSERT INTO #UsedLines
SELECT PDR_EstimateDataPanelSupplementChange.LineNumber
FROM PDR_EstimateDataPanel
LEFT OUTER JOIN PDR_EstimateDataPanelSupplementChange ON PDR_EstimateDataPanel.ID = PDR_EstimateDataPanelSupplementChange.EstimateDataPanelID
WHERE AdminInfoID = @AdminInfoID AND ISNULL(PDR_EstimateDataPanelSupplementChange.LineNumber, 0) > 0

DECLARE @MaxLineNumber INT = (SELECT MAX(LineNumber) FROM #UsedLines)

DECLARE @SupplementVersion INT = (SELECT LockLevel FROM EstimationData WHERE AdminInfoID = @AdminInfoID)


DECLARE @LineNumber INT = @MaxLineNumber

WHILE @LineNumber > 0
	BEGIN
		IF (SELECT TOP 1 LineNumber FROM #UsedLines WHERE LineNumber = @LineNumber) IS NULL
			
			BEGIN
				--SELECT @LineNumber

				UPDATE EstimationLineItems WITH (ROWLOCK)
				SET LineNumber = case when LineNumber > @LineNumber then LineNumber - 1 else LineNumber end
				FROM EstimationData WITH (NOLOCK)
				INNER JOIN EstimationLineItems WITH (ROWLOCK) ON EstimationLineItems.EstimationDataID = EstimationData.ID
				WHERE AdminInfoID = @AdminInfoID 

				UPDATE EstimationLineItems WITH (ROWLOCK)
				SET	ActionDescription = 'Delete Line # ' + CONVERT(VarChar(12),EstimationLineItems2.LineNumber)
				FROM EstimationData WITH (NOLOCK)
				INNER JOIN EstimationLineItems WITH (ROWLOCK) ON
					(EstimationLineItems.EstimationDataID = EstimationData.ID)
				LEFT JOIN EstimationLineItems EstimationLineItems2 WITH (ROWLOCK) ON
					(EstimationLineItems2.id = EstimationLineItems.ModifiesID)
				WHERE AdminInfoID = @AdminInfoID AND	
					EstimationLineItems.ActionDescription LIKE 'Delete Line # %' AND
					EstimationLineItems.ModifiesID IS NOT NULL


				IF @SupplementVersion = 0
					BEGIN
						UPDATE PDR_EstimateDataPanel
						SET LineNumber = LineNumber - 1   --, Description = Description + ', ' + CAST(@LineNumber AS VARCHAR) + ' - ' + CAST(LineNumber AS VARCHAR)
						FROM PDR_EstimateDataPanel
						WHERE AdminInfoID = @AdminInfoID AND LineNumber > @LineNumber
					END
				ELSE
					BEGIN
						UPDATE PDR_EstimateDataPanelSupplementChange
						SET PDR_EstimateDataPanelSupplementChange.LineNumber = PDR_EstimateDataPanelSupplementChange.LineNumber - 1
						FROM PDR_EstimateDataPanel
						INNER JOIN PDR_EstimateDataPanelSupplementChange ON PDR_EstimateDataPanel.ID = PDR_EstimateDataPanelSupplementChange.EstimateDataPanelID
						WHERE PDR_EstimateDataPanelSupplementChange.LineNumber > @LineNumber
					END
			END
		SET @LineNumber = @LineNumber - 1
	END

GO
