USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


      
create procedure [dbo].[sp_GetEstVehicle]           
        
  --sp_GetVehicleInfo 3150040          
  @AdminInfoID int         
 as          
BEGIN          
        
     
declare  @Function VarChar(50)        
declare @BodyType Int = NULL          
DECLARE @GraphicsVehicleID Int    
  declare @DriveType Int = NULL          
  declare @VehicleID Int = NULL    
  declare @ModelYearID Int = NULL       
 declare @ModelID Int = NULL        
 declare @MakeID Int = NULL        
 declare @ManufacturerID Int = NULL        
 declare @RegionID Int = NULL        
declare  @PartyID Int = NULL        
 declare @MitchellServiceID Int = NULL            
 DECLARE @CurrentProfileAdminInfoID Int      
DECLARE @EstimateProfileID Int      
DECLARE @Archived Bit      
DECLARE @Status VarChar(25)      
         
      
     
        
 SELECT @VehicleID = VehicleInfo.VehicleID,          
  @BodyType = VehicleInfo.BodyType,          
  @DriveType = VehicleInfo.DriveType          
 FROM EstimationData WITH (NOLOCK)          
 INNER JOIN VehicleInfo WITH (NOLOCK) ON          
  (VehicleInfo.EstimationDataID = EstimationData.ID)          
 WHERE EstimationData.AdminInfoID = @AdminInfoID          
      
     
 IF ( SELECT ISNULL(AdminInfo.CustomerProfilesID ,-1)          
  FROM AdminInfo  WITH (NOLOCK)          
  WHERE AdminInfo.ID = @AdminInfoID) = -1          
 BEGIN          
  UPDATE  AdminInfo WITH (ROWLOCK)          
  SET CustomerProfilesID = CustomerProfiles.ID          
  FROM  AdminInfo WITH (ROWLOCK)          
  INNER JOIN CustomerProfiles WITH (NOLOCK) ON          
   (CustomerProfiles.OwnerID = AdminInfo.CreatorID)          
  WHERE  AdminInfo.ID = @AdminInfoID AND          
   CustomerProfiles.DefaultFlag = 1          
 END          
 ELSE          
 BEGIN          
  IF (SELECT ISNULL(CustomerProfiles.AdminInfoID, -1)          
  FROM AdminInfo  WITH (NOLOCK)          
  INNER JOIN CustomerProfiles ON          
  (CustomerProfiles.id = AdminInfo.CustomerProfilesID)          
  WHERE AdminInfo.ID = @AdminInfoID) <> @AdminInfoID          
  BEGIN          
   --Branch the profile so that changes don't effect other estimates          
   EXECUTE CustomerProfileFunctions          
    @Function = 'BranchProfile',          
    @AdminInfoID = @AdminInfoID,          
    @NoReturn = 1          
  END          
 END                
SELECT @Function = 'GetVehicleInfo'           
     
IF ( @Function = 'GetVehicleInfo'  )    
BEGIN      
    
     
    
 SELECT @ModelYearID = NULL,      
  @ModelID = NULL,      
  @MakeID = NULL,      
  @ManufacturerID = NULL,      
  @RegionID = NULL,      
  @GraphicsVehicleID = NULL      
     
--select Abs(@VehicleID)  'data'  
 SELECT @ModelYearID = ModelYearID      
 FROM Vehicles.Dbo.SubModel WITH (NOLOCK)      
 WHERE id = Abs(@VehicleID)     
     
     
 select @ModelYearID = YEAR    
 , @ModelID = ModelID     
 ,@MakeID = MakeID    
 ,@ManufacturerID = 1    
 ,@RegionID = NULL      
 ,@GraphicsVehicleID = NULL     
 ,@GraphicsVehicleID= null    
from VehicleInfo     
 inner join EstimationData     
  on EstimationData.id = VehicleInfo.EstimationDataId    
where EstimationData.AdminInfoID = @AdminInfoID    
     
 SELECT @MitchellServiceID = NULL      
 SELECT @GraphicsVehicleID = ISNULL(@GraphicsVehicleID,@VehicleID)      
 SELECT @Status =  CASE  WHEN ISNULL(EstimationData.LockLevel,0) = 0 THEN 'OPEN'      
     WHEN EstimationData.LockLevel = 99 THEN 'CLOSED'      
     ELSE 'Supplement ' + CONVERT(VarChar(2),EstimationData.LockLevel)      
    END      
 FROM EstimationData WITH (NOLOCK)      
 WHERE AdminInfoID = @AdminInfoID      
 SELECT @CurrentProfileAdminInfoID =  CustomerProfiles.AdminInfoID,      
  @EstimateProfileID = AdminInfo.CustomerProfilesID,      
  @Archived = AdminInfo.Archived      
 FROM FocusWrite.dbo.AdminInfo AdminInfo WITH (NOLOCK)      
 LEFT JOIN FocusWrite.dbo.CustomerProfiles CustomerProfiles WITH (NOLOCK) ON      
  (CustomerProfiles.id = AdminInfo.CustomerProfilesID)      
 WHERE AdminInfo.ID = @AdminInfoID      
 SELECT -1 'RegionID',      
  ISNULL(@ManufacturerID,-1) 'ManufacturerID',      
 ISNULL(@MakeID,-1) 'MakeID',      
  ISNULL(@ModelID,-1) 'ModelID',      
  ISNULL(@ModelYearID,-1) 'ModelYearID',      
  ISNULL(@VehicleID,-1) 'VehicleID',      
  @Status 'Status',      
  @GraphicsVehicleID 'GraphicsVehicleID',      
  @BodyType 'BodyTypeID',      
  @DriveType 'DriveTypeID',      
  @MitchellServiceID 'MitchellServiceID',      
  @CurrentProfileAdminInfoID 'CurrentProfileAdminInfoID',      
  @EstimateProfileID 'EstimateProfileID',      
  ISNULL(@Archived,0) 'Archived'      
END      
end 

GO
