USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_GetEngineTypes]
	@VehicleID Int,
	@AdminInfoID int,
	@BodyID int
	 
AS 
 
select  0 as EngineID,  '' as Engine
union all
select DISTINCT e.EngineID,   e.Engine
-- ,(select v.EngineType from FocusWrite.dbo.estimationdata as e with(nolock)  inner join FocusWrite.dbo.VehicleInfo as v with(nolock) on v.EstimationDataId = e.id where e.AdminInfoID = @AdminInfoID) as 'Selected'
from vinn.dbo.Vehicle_Service_Xref as x
	inner join vinn.dbo.VinToEngine as ve
		on ve.MakeID = x.MakeID 
		and ve.ModelID = x.ModelID
	inner join vinn.dbo.Engines as e
		on e.EngineID = ve.EngineID
where VehicleID = @VehicleID


--from vinn.dbo.VinToEngine a
--		inner join 	vinn.dbo.Engines b
--			on b.engineid = a.engineid
--		inner join vinn.dbo.Vehicle_Service_Xref c
--			on c.makeid = a.makeid
--			and c.modelid = a.modelid
		 
--		inner join vinn.dbo.VinToBody as d
--			on d.MakeID        = c.MakeID 
--			and d.ModelID       = c.ModelID 
--		inner join FocusWrite.dbo.VehicleInfo as vi
--			on vi.VehicleID = c.VehicleID
--		inner join FocusWrite.dbo.EstimationData as ed
--			on ed.id = vi.EstimationDataId			 
--where ed.AdminInfoID = @AdminInfoID
--and d.bodyid = case when @BodyID > 0 then @BodyID else d.bodyid end


GO
