USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE                PROCEDURE [dbo].[TieVin]
	@VinDecode VarChar(2000),
	@AdminInfoID INT = NULL,
	@Vin VarChar(50),
	@Makeid INT = null,
	@modelid INT = null,	
	@year int = null,
	@SubModel varchar(10) = null,
	@barcode float
AS

SET NOCOUNT ON

DECLARE @ModelYear SmallInt
DECLARE @Make VarChar(50)
DECLARE @Model VarChar(50)
DECLARE @Country VarChar(50)
DECLARE @Manufacturer VarChar(50)
DECLARE @TrimLevel VarChar(50)
DECLARE @Series VarChar(50)
DECLARE @SearchText VarChar(100)

IF @AdminInfoID IS NOT NULL
BEGIN
	IF EXISTS (	SELECT 	EstimationData.id
			FROM VehicleInfo WITH (NOLOCK)
			INNER JOIN EstimationData WITH (NOLOCK) ON
				(EstimationData.id = VehicleInfo.EstimationDataId)
			WHERE EstimationData.AdminInfoID = @AdminInfoID	)
	BEGIN
		UPDATE VehicleInfo WITH (ROWLOCK)
		SET	VinDecode = @VinDecode,
			Vin = ISNULL(@Vin, Vin)
		FROM VehicleInfo WITH (ROWLOCK)
		INNER JOIN EstimationData WITH (NOLOCK) ON
			(EstimationData.id = VehicleInfo.EstimationDataId)
		WHERE EstimationData.AdminInfoID = @AdminInfoID
	END
	ELSE
	BEGIN
		INSERT INTO VehicleInfo WITH (ROWLOCK) (EstimationDataID, Vin, VinDecode)
			SELECT EstimationData.id, ISNULL(@Vin, ''), @VinDecode
			FROM EstimationData WITH (NOLOCK)
			WHERE EstimationData.AdminInfoID = @AdminInfoID
	END
END

	/*SELECT @Manufacturer = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Manufacturer'),
		@Model = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Model'),
		@ModelYear = CONVERT(SmallInt,FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Model Year')),
		@Make = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Make'),
		@Country = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Country'),
		@TrimLevel = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Trim Level'),
		@Series = FocusWrite.dbo.ExtractVinDecodeItem (@VinDecode,'Series')

	SELECT @Model = CASE	WHEN @Model = 'Camry Solara' THEN 'Solara'
				ELSE @Model
			END
	IF @Model = 'Ion' AND @TrimLevel = 'Level 1' 
		SELECT @Model = 'Ion-1', @TrimLevel = '' 
	IF @Model = 'Ion' AND @TrimLevel = 'Level 2' 
		SELECT @Model = 'Ion-2', @TrimLevel = '' 
	IF @Model = 'Ion' AND @TrimLevel = 'Level 3' 
		SELECT @Model = 'Ion-3', @TrimLevel = '' 

	IF @Model = 'Silverado' 
	BEGIN
		IF @Series LIKE '%1500HD' 	SELECT @Model = 'Silverado 1500 HD', @Series = ''
		ELSE IF @Series LIKE '%1500' 	SELECT @Model = 'Silverado 1500', @Series = ''
		ELSE IF @Series LIKE '%2500HD'	SELECT @Model = 'Silverado 2500 HD', @Series = ''
		ELSE IF @Series LIKE '%2500'	SELECT @Model = 'Silverado 2500', @Series = ''
		ELSE IF @Series LIKE '%3500HD'	SELECT @Model = 'Silverado 3500 HD', @Series = ''
		ELSE IF @Series LIKE '%3500'	SELECT @Model = 'Silverado 3500', @Series = ''
	END
	IF @Model = 'Ram Pickup' 
	BEGIN
		SELECT @Model = 'Ram ' + @Series + ' Pickup', @Series = ''
	END
	IF @Make like 'Mercedes-Benz%'
	BEGIN
		SELECT @Make = 'Mercedes-Benz', @Model = ''
	END
	IF @Make like 'Ford%' AND @Model LIKE 'F_50'
	BEGIN
		SELECT @Make = 'Ford', @Model = SubString(@Model,1,1) + '-' + SubString(@Model,2,LEN(@Model)), @TrimLevel = '' 
	END

	IF @Make = 'BMW'
	BEGIN
		SELECT @Model = ''
	END

	IF @Make = 'Volkswagen' AND @Model = 'New Beetle'
		SELECT  @Model = 'Beetle'

	IF @TrimLevel LIKE '%;%'
		SELECT @TrimLevel = ''

	IF @Series LIKE '%;%'
		SELECT @Series = ''

	SELECT @Manufacturer = 	CASE	WHEN @Manufacturer = 'General Motors Corporation' THEN 'General Motors'
					WHEN @Manufacturer = 'American Honda Motor Co. Inc.' THEN 'Honda'
					WHEN @Manufacturer = 'Audi NSU Auto Union AG' THEN 'Audi'
					WHEN @Manufacturer LIKE 'Ford Motor Company%' THEN 'Ford'
					WHEN @Manufacturer = 'Toyota Motor Corporation' THEN 'Toyota'
					WHEN @Manufacturer = 'Nissan Motor Co. Ltd.' THEN 'Nissan'
					WHEN @Manufacturer Like 'DaimlerChrysler%' THEN 'DaimlerChrysler'
					WHEN @Manufacturer = 'Bayerische Motoren Werke AG' THEN 'BMW'
					WHEN @Manufacturer Like 'Volkswagen%' THEN 'Volkswagen'
					-- WHEN @Manufacturer = '' THEN ''
					ELSE @Manufacturer
				END

	CREATE TABLE #VehicleTemp ( 	FullModeText VarChar(100) NULL,
					ID Int NULL,
					Cnt Int NULL)

	DROP TABLE #VehicleTemp

	SELECT @SearchText = LTRIM(RTRIM(REPLACE(REPLACE(CONVERT(VarChar(4),@ModelYear) + ' ' + @Make + ' ' + @Model + ' ' + @TrimLevel,'Base',''),'  ',' ')))
	PRINT @SearchText*/
	CREATE TABLE #VehicleTemp ( 	FullModeText VarChar(100) NULL,
					ID Int NULL,
					Cnt Int NULL)

	INSERT INTO #VehicleTemp	
	SELECT TOP 100 SearchText, sm.id, 0 
	from Mitchell3.dbo.ServicesToVehicleID s with(nolock)
		INNER JOIN Vehicles.dbo.SubModel sm with(nolock)
			INNER JOIN Vehicles.dbo.ModelYear my with(nolock)
				INNER JOIN Vehicles.dbo.Model m with(nolock)
					INNER JOIN Vehicles.dbo.Make mk with(nolock)
					on mk.id = m.makeid
				on m.id = my.modelid
			on my.id = sm.modelyearid
		on s.vehicleid = sm.id
	WHERE s.barcode = @barcode AND my.modelyear = @year
	
	
	/*WHERE 
	EXECUTE Vehicles.Dbo.App_GetVehicleInfo
		@Function = 'Search2',
		@SearchText = @SearchText

	IF (	SELECT COunt(*) FROM #VehicleTemp) = 0 
	BEGIN
		SELECT @SearchText = LTRIM(RTRIM(REPLACE(REPLACE(CONVERT(VarChar(4),@ModelYear) + ' ' + @Make + ' ' + @Model,'Base',''),'  ',' ')))
		PRINT '2nd Try: ' + @SearchText
		INSERT INTO #VehicleTemp
		EXECUTE Vehicles.Dbo.App_GetVehicleInfo
			@Function = 'Search2',
			@SearchText = @SearchText
		IF (	SELECT COunt(*) FROM #VehicleTemp) = 0 
		BEGIN
			SELECT @SearchText = LTRIM(RTRIM(REPLACE(REPLACE(CONVERT(VarChar(4),@ModelYear) + ' ' + @Make,'Base',''),'  ',' ')))
			PRINT '3rd Try: ' + @SearchText
			INSERT INTO #VehicleTemp
			EXECUTE Vehicles.Dbo.App_GetVehicleInfo
				@Function = 'Search2',
				@SearchText = @SearchText
		END
	END*/

	SELECT	DISTINCT
		vSubModel.id,
		vSubModel.AAIAVehicleID 'VehicleID',
		CONVERT(Int,ModelYear.ModelYear) 'YearID',
		MakeTextValues.TextValue 'MakeName',
		ModelTextValues.TextValue 'ModelName',
		SubModelTextValues.TextValue 'SubModelName',
		ISNULL(VehicleType.VehicleTypeName, 'UNK') 'VehicleTypeName',
		REPLACE(FocusWrite.dbo.fnGetBodyTypes(vSubModel.id),' ','&nbsp;') 'BodyStyle',
		REPLACE(FocusWrite.dbo.GetEngineTypes(vSubModel.id),' ','&nbsp;') + '<BR>' +
		REPLACE(FocusWrite.dbo.GetDriveTypes(vSubModel.id),' ','&nbsp;') 'Engine',
		RegionTextValues.TextValue 'Region' into #temp1
	FROM #VehicleTemp V 

	INNER JOIN Vehicles.dbo.SubModel vSubModel WITH (NOLOCK) ON 
		(V.ID = vSubModel.id)		
	INNER JOIN  Vehicles.dbo.TextValues SubModelTextValues WITH (NOLOCK) ON
		(SubModelTextValues.ID = vSubModel.TextValuesID)
	
	INNER JOIN  Vehicles.dbo.ModelYear ModelYear WITH (NOLOCK) ON
		(ModelYear.ID = vSubModel.ModelYearID)
	
	INNER JOIN  Vehicles.dbo.Model v2Model WITH (NOLOCK) ON
		(v2Model.ID = ModelYear.ModelID)
	INNER JOIN  Vehicles.dbo.TextValues ModelTextValues WITH (NOLOCK) ON
		(ModelTextValues.ID = v2Model.TextValuesID)
	
	INNER JOIN  Vehicles.dbo.Make Make2 WITH (NOLOCK) ON
		(Make2.ID = v2Model.MakeID)
	INNER JOIN  Vehicles.dbo.TextValues MakeTextValues WITH (NOLOCK) ON
		(MakeTextValues.ID = Make2.TextValuesID)
	
	INNER JOIN  Vehicles.dbo.Manufacturer Manufacturer WITH (NOLOCK) ON
		(Manufacturer.ID = Make2.ManufacturerID)
	INNER JOIN  Vehicles.dbo.TextValues ManufacturerTextValues WITH (NOLOCK) ON
		(ManufacturerTextValues.ID = Manufacturer.TextValuesID)

	INNER JOIN  Vehicles.dbo.Region Region2 WITH (NOLOCK) ON
		(Region2.ID = Manufacturer.RegionID)
	INNER JOIN  Vehicles.dbo.TextValues RegionTextValues WITH (NOLOCK) ON
		(RegionTextValues.ID = Region2.TextValuesID)

	LEFT JOIN VCDB_Public.dbo.Vehicle Vehicle WITH (NOLOCK) ON
		(Vehicle.VehicleID = vSubModel.AAIAVehicleID)
	LEFT JOIN VCDB_Public.dbo.BaseVehicle BaseVehicle WITH (NOLOCK) ON
		(BaseVehicle.BaseVehicleID = Vehicle.BaseVehicleID)
	LEFT JOIN VCDB_Public.dbo.Model VModel WITH (NOLOCK) ON
		(VModel.ModelID = BaseVehicle.ModelID)
	LEFT JOIN VCDB_Public.dbo.VehicleType VehicleType WITH (NOLOCK) ON
		(VehicleType.VehicleTypeID = VModel.VehicleTypeID)
	
	ORDER BY RegionTextValues.TextValue Desc, 
		CONVERT(Int,ModelYear.ModelYear),
		MakeTextValues.TextValue,
		ModelTextValues.TextValue,
		SubModelTextValues.TextValue
	
	select * into #temp2
	from #temp1
	where left(SubModelName ,3)= case when @SubModel is not null then
	    @SubModel
	else
	 left(SubModelName ,3)
	end 
	declare @count int 
	select @count = COUNT(*)
	from #temp2
	
	if @count > 0
	begin
	 select * from #temp2
	end 
	else
	begin
	 select * from #temp1
	end 
	
	DROP TABLE #VehicleTemp




















GO
