USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[DuplicatePresets] 
	@FromID Int, 
	@ToID Int
AS

DECLARE @OldID Int 
DECLARE @NewID Int 
DECLARE @CustomerProfilesID Int
DECLARE @StepID Int 
DECLARE @PartSource VarChar(50)
DECLARE @ActionCode VarChar(20)
DECLARE @ActionDescription VarChar(80)
DECLARE @PartNumber VarChar(50)
DECLARE @Description VarChar(80)
DECLARE @Price Money 
DECLARE @PartOfOverhaul Bit 
DECLARE @Qty TinyInt 
DECLARE @LaborTime Real 
DECLARE @PaintTime Real 
DECLARE @Other Real 
DECLARE @ImageID Int 
DECLARE @PartSourceVendorID Int 
DECLARE @SubletOperationFlag Bit 
DECLARE @BettermentOperationFlag Bit
DECLARE @OrderNo INT

DECLARE PresetLinesCussor  CURSOR FOR
	SELECT ID, CustomerProfilesID,StepID,PartSource,ActionCode,ActionDescription,PartNumber,Description,Price,PartOfOverhaul,Qty,LaborTime,PaintTime,Other,ImageID,PartSourceVendorID,SubletOperationFlag,BettermentOperationFlag,OrderNo
	FROM CustomerProfilePresets WITH(NOLOCK)
	WHERE CustomerProfilePresets.CustomerProfilesID = @FromID
OPEN PresetLinesCussor

FETCH NEXT FROM PresetLinesCussor INTO 
			@OldID, @CustomerProfilesID, @StepID, @PartSource, @ActionCode, @ActionDescription, 
			@PartNumber, @Description, @Price, @PartOfOverhaul, @Qty, @LaborTime, @PaintTime, 
			@Other, @ImageID, @PartSourceVendorID, @SubletOperationFlag, @BettermentOperationFlag,@OrderNo
WHILE @@FETCH_STATUS = 0
BEGIN
	INSERT INTO CustomerProfilePresets (CustomerProfilesID,StepID,PartSource,ActionCode,ActionDescription,PartNumber,Description,Price,PartOfOverhaul,Qty,LaborTime,PaintTime,Other,ImageID,PartSourceVendorID,SubletOperationFlag,BettermentOperationFlag,OrderNo)
		SELECT @ToID, @StepID, @PartSource, @ActionCode, @ActionDescription, @PartNumber, 
			@Description, @Price, @PartOfOverhaul, @Qty, @LaborTime, @PaintTime, @Other, @ImageID, 
			@PartSourceVendorID, @SubletOperationFlag, @BettermentOperationFlag,@OrderNo
	SELECT @NewID = @@IDENTITY 
	print @NewID
	print @OldID

	INSERT INTO CustomerProfilePresetsLabor (CustomerProfilePresetsID,LaborType,LaborSubType,LaborTime,LaborCost,AdjacentDeduction,MajorPanel)
		SELECT @NewID,LaborType,LaborSubType,LaborTime,LaborCost,AdjacentDeduction,MajorPanel
		FROM CustomerProfilePresetsLabor WITH(NOLOCK)
		WHERE CustomerProfilePresetsLabor.CustomerProfilePresetsID = @OldID

	INSERT INTO CustomerProfilePresetsNotes (CustomerProfilePresetsID,Printed,Notes)
		SELECT @NewID,Printed,Notes
		FROM CustomerProfilePresetsNotes WITH(NOLOCK)
		WHERE CustomerProfilePresetsNotes.CustomerProfilePresetsID = @OldID

	FETCH NEXT FROM PresetLinesCussor INTO 
				@OldID, @CustomerProfilesID, @StepID, @PartSource, @ActionCode, @ActionDescription, 
				@PartNumber, @Description, @Price, @PartOfOverhaul, @Qty, @LaborTime, @PaintTime, 
				@Other, @ImageID, @PartSourceVendorID, @SubletOperationFlag, @BettermentOperationFlag,@OrderNo
END

CLOSE PresetLinesCussor
DEALLOCATE PresetLinesCussor


 


GO
