USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayCodeCommission](
	[PayCodeCommissionID] [int] IDENTITY(1,1) NOT NULL,
	[HasEMS] [bit] NULL,
	[HasFrame] [bit] NULL,
	[HasWT] [bit] NULL,
	[ContractTermDescription] [varchar](1000) NULL,
	[PayCode] [int] NOT NULL,
	[Commission] [decimal](18, 2) NULL,
	[HasMU] [bit] NULL,
	[MUCommission] [decimal](18, 2) NULL,
	[HasQB] [bit] NULL,
	[QBCommission] [decimal](18, 2) NULL,
	[CodeListVsText] [varchar](500) NULL,
	[WEText] [varchar](1000) NULL,
	[SalesType] [varchar](10) NULL,
 CONSTRAINT [PK_PayCodeCommission] PRIMARY KEY CLUSTERED 
(
	[PayCodeCommissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
