USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetVehicleVars]
	-- Add the parameters for the stored procedure here
	@AdminInfoID int 
	 
AS
BEGIN
	 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT v.VehicleID,
			v.MakeID,
			v.ModelID,
			v.SubmodelID,
			v.BodyType,
			v.DriveType,
			v.EngineType,
			v.TransmissionType,
			v.paintcode,
			v.Service_Barcode
	FROM EstimationData AS e WITH(NOLOCK)
	INNER JOIN VehicleInfo AS v  WITH(NOLOCK)
		ON v.EstimationDataId = e.id
	WHERE e.AdminInfoID = @AdminInfoID
			
END


GO
