USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @SupplementVersion = 0
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @SupplementVersion = 1
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~0!All!0!~1!Body!0!~2!Frame!0!~3!Structure!0!~4!Mechanical!0!~24!Electrical!0!~25!Glass!0!~5!Detail!0!~6!Cleanup!0!~8!Other!0!~-1!Refinish!0!~-2!PDR!1044!Pete Rose'
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~1!Body!0!~2!Frame!0!~3!Structure!0!~4!Mechanical!0!~24!Electrical!0!~25!Glass!0!~5!Detail!0!~6!Cleanup!0!~8!Other!0!~-1!Refinish!0!'
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~1!Body!0!~4!Mechanical!0!~24!~-2!PDR!1044!Pete Rose'
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~-2!PDR!1044!Pete Rose'
exec [dbo].[WorkOrderReport_GetTotals] @AdminInfoID = 12795314, @LaborTypeTechnicianMapping = '~1!Body!0!'
*/
CREATE  PROCEDURE [dbo].[WorkOrderReport_GetTotals]
	@AdminInfoID INT,       
	@LaborTypeTechnicianMapping VARCHAR(5000) = '',
	@SupplementVersion INT = 0  	-- NOTE: this is only used when calling sp "PDR_WorkOrderReport"
AS       
BEGIN

	-- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.       
	-- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component       
	IF 1=0 BEGIN       
		SET FMTONLY OFF       
	END       

	DECLARE @LTEZLaborTypeID INT = 9999;    

	DECLARE @LTMapping TABLE    
	(    
		LaborTechnicianMapping VARCHAR(1000)    
	)    
    
	IF(@LaborTypeTechnicianMapping = '')  
	BEGIN  
		SET @LaborTypeTechnicianMapping = '~0!All!0'  
	END  
  
	INSERT INTO @LTMapping(LaborTechnicianMapping)    
	SELECT items FROM dbo.Split(@LaborTypeTechnicianMapping,'~')    
    
	DECLARE @LTMappingSplit TABLE    
	(    
		ID INT IDENTITY(1,1),
		LaborTechnicianMappingSplit VARCHAR(1000)
	)        

	DECLARE @LaborTechnicianMapping TABLE    
	(    
		LaborTypeID  INT,    
		LaborTypeText VARCHAR(500),    
		TechnicianID INT,    
		TechnicianName VARCHAR(200)    
	)

	DECLARE @LaborTechMapping VARCHAR(1000)    

	DECLARE cursor_ltmapping CURSOR    
	FOR SELECT LaborTechnicianMapping FROM @LTMapping    
    
	OPEN cursor_ltmapping;    
    
	FETCH NEXT FROM cursor_ltmapping INTO @LaborTechMapping    
    
	WHILE @@FETCH_STATUS = 0    
	BEGIN    
    
		DELETE FROM @LTMappingSplit     
    
		INSERT INTO @LTMappingSplit    
		SELECT * FROM string_split(@LaborTechMapping,'!')    
    
		DECLARE		@LaborTypeID	INT = NULL,    
					@LaborTypeText  VARCHAR(500) = NULL,    
					@TechnicianID	INT = NULL,    
					@TechnicianName VARCHAR(200) = NULL    
    
		DECLARE @minID INT    
		SELECT @minID = MIN(ID) FROM @LTMappingSplit    
    
		SELECT @LaborTypeID = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID    
		SELECT @LaborTypeText = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID + 1    
		SELECT @TechnicianID = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID + 2    
		SELECT @TechnicianName = LaborTechnicianMappingSplit FROM @LTMappingSplit WHERE ID = @minID + 3    
      
		INSERT INTO @LaborTechnicianMapping(LaborTypeID, LaborTypeText, TechnicianID, TechnicianName)    
		VALUES (@LaborTypeID, @LaborTypeText, @TechnicianID, @TechnicianName)    
    
		FETCH NEXT FROM cursor_ltmapping INTO @LaborTechMapping    

	END;    
    
	CLOSE cursor_ltmapping;    
    
	DEALLOCATE cursor_ltmapping;    
    
	IF EXISTS (SELECT LaborTypeID FROM @LaborTechnicianMapping WHERE LaborTypeText IN ('All'))    
	BEGIN    
		SET @LTEZLaborTypeID = 0    
		DELETE FROM @LaborTechnicianMapping WHERE LaborTypeText IN ('All')    
	END    
    
	IF EXISTS (SELECT LaborTypeID FROM @LaborTechnicianMapping WHERE LaborTypeText IN ('Refinish'))    
	BEGIN    
		SET @LTEZLaborTypeID = -1    
	END    
     
	SELECT	*        
	INTO	#processedLines       
	FROM	ProcessedLines
	WHERE	EstimateID = @AdminInfoID 
			AND Supplement = (SELECT MAX(Supplement) FROM ProcessedLines WHERE EstimateID = @AdminInfoID)
       
	-- Get paint labor details.  The ProcessedLines query sums these together but we need them separated for this report       
	CREATE TABLE #PaintLaborDetails         
	(       
		LineItemID INT       
		, LaborTime  FLOAT
		, LaborType  VARCHAR(20)       
	)       
       
	INSERT	INTO #PaintLaborDetails       
	SELECT	EstimationLineLabor.EstimationLineItemsID       
			, EstimationLineLabor.LaborTime       
			, LaborTypes.LaborType       
	FROM	EstimationData       
			LEFT OUTER JOIN EstimationLineItems ON EstimationData.id = EstimationLineItems.EstimationDataID       
			LEFT OUTER JOIN EstimationLineLabor ON EstimationLineItems.id = EstimationLineLabor.EstimationLineItemsID AND EstimationLineLabor.LaborType IN (21, 22, 26, 27, 28) AND EstimationLineLabor.Include = 1       
			LEFT OUTER JOIN LaborTypes ON EstimationLineLabor.LaborType = LaborTypes.id       
	WHERE	EstimationData.AdminInfoID = @AdminInfoID       
			AND EstimationLineLabor.EstimationLineItemsID IS NOT NULL       
   
	CREATE TABLE #LaborTotals
	(
		LaborGroupType VARCHAR(500)
		, LaborTime FLOAT
	)

	INSERT INTO #LaborTotals
	SELECT LaborGroupType, Sum(LaborTime)
	FROM
	(
		-- Get the main labor type       
		SELECT	processedLines.LineItemID       
				, processedLines.[Description] AS PartDescription        
				, Action AS ActionLong       
				, Panel AS Category       
				, ExtraLaborType AS LaborName       
				, CASE WHEN LaborIncluded = 1 THEN 0 ELSE ROUND(LaborTotalExtra, 1) END AS LaborTime    
				, ExtraLaborType AS LaborType
				, ExtraLaborType + ' Labor' AS LaborGroupType          
		FROM	#processedLines as processedLines       
				LEFT OUTER JOIN LaborTypes ON processedLines.ExtraLaborType = LaborTypes.LaborType       
		WHERE   (LaborTotalExtra > 0 OR Action IN ('Replace', 'R&I'))       
				AND (@LTEZLaborTypeID = 0 OR LaborTypes.ID IN (SELECT LaborTypeID FROM @LaborTechnicianMapping))       
				AND ForSummary = 1       
				--LaborTotalExtra > 0       
				--OR (@LaborTypeID = 0 OR @LaborTypeID = LaborTypes.ID)       
				--AND ExtraLaborType <> ''       
       
		-- Join the Paint labor       
		UNION        
		SELECT	LineItemID       
				, [Description] AS PartDescription        
				, 'Paint Panel' AS ActionLong       
				, Panel AS Category       
				, 'Refinish' AS LaborName       
				, ROUND(LaborTotalPaintPanel, 1) AS LaborTime       
				, 'Paint Panel' AS LaborType
				, 'Paint Labor' AS LaborGroupType
		FROM	#processedLines processedLines       
		WHERE	LaborTotalPaintPanel > 0 
				AND @LTEZLaborTypeID <= 0     
				AND ForSummary = 1       
       
		UNION       
		SELECT		ProcessedLines.LineItemID       
					, [Description] AS PartDescription        
					, 'Paint Panel' AS ActionLong       
					, Panel AS Category       
					, 'Refinish' AS LaborName       
					--, CAST(ROUND(LaborTotalPaintPanel + LaborTotalPaint, 1) AS VARCHAR(10)) AS Labor       
					, ROUND(LaborDetails.LaborTime, 1) AS LaborTime       
					, LaborDetails.LaborType AS LaborType
					, 'Paint Labor' AS LaborGroupType
		FROM		#processedLines ProcessedLines       
		INNER JOIN	#PaintLaborDetails LaborDetails ON ProcessedLines.LineItemID = LaborDetails.LineItemID       
		WHERE		LaborTotalPaintPanel + LaborTotalPaint > 0 
					AND @LTEZLaborTypeID <= 0     
					AND ForSummary = 1       
       
		-- Join the Clearcoat labor       
		UNION        
		SELECT		LineItemID       
					, [Description] AS PartDescription        
					, 'Clearcoat' AS ActionLong       
					, Panel AS Category       
					, ExtraLaborType AS LaborName       
					, ROUND(LaborTotalClearcoat, 1) AS LaborTime       
					, 'Clearcoat' AS LaborType
					, 'Paint Labor' AS LaborGroupType    
		FROM		#processedLines processedLines       
		WHERE		LaborTotalClearcoat > 0 
					AND @LTEZLaborTypeID <= 0     
					AND ForSummary = 1
		
	) AS Labor
	Group BY LaborGroupType

	CREATE TABLE #PDRTotals
	(
		PanelName VARCHAR(500)
		, DentCount VARCHAR(500)
		, OversizedDents INT
		, CustomCharge FLOAT
		, Multiplier VARCHAR(200)
		, TotalCharge FLOAT
	)

	INSERT INTO #PDRTotals
	EXEC [focuswrite].[dbo].[PDR_WorkOrderReport] @AdminInfoID = @AdminInfoID, @SupplementVersion = @SupplementVersion

	IF (EXISTS (SELECT 1 FROM @LTMapping WHERE CHARINDEX('!ALL!', LaborTechnicianMapping) > 0 OR CHARINDEX('!PDR!', LaborTechnicianMapping) > 0) AND
		EXISTS (SELECT 1 FROM #PDRTotals))
	BEGIN    	

		SELECT	LaborGroupType AS [Type], 
				CAST(LaborTime AS VARCHAR(20)) + ' hrs' AS TotalLabor
		FROM	#LaborTotals

		UNION

		SELECT	'PDR' AS [Type],
				FORMAT(SUM(ISNULL(TotalCharge, 0)), 'C') AS TotalLabor
		FROM	#PDRTotals

	END
	ELSE
	BEGIN

		SELECT	LaborGroupType AS [Type], 
				CAST(LaborTime AS VARCHAR(20)) + ' hrs' AS TotalLabor
		FROM	#LaborTotals

	END

END 
GO
