USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 5/28/2021
-- Description:	Gets the sections for a vehicle for display on the AddOns page
-- =============================================
CREATE PROCEDURE [dbo].[AddOnManager_GetSectionParts]
	  @nHeader				int
	, @nSection				int
	, @ServiceBarCode		varchar(10)
	, @Year					int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @VehicleStamp DATETIME = DATETIMEFROMPARTS(@Year, 1, 2, 0, 0, 0, 0)

	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Create the #Details temp table to prevent multiple joins.
	-- This table has all of the Detail, Part, and Hotspot data for the Service_Barcode / nheader / nsection combination. 
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	SELECT DISTINCT
			Detail.*
		  , Part.Part_Desc
		  , Hotspot.nimage
		  , Hotspot.Callout_Number
		  , Hotspot.X_Coordinate
		  , Hotspot.Y_Coordinate
		  , Hotspot.X_Extent
		  , Hotspot.Y_Extent
	INTO #Details
	FROM Mitchell3.Dbo.Part  
    LEFT JOIN Mitchell3.Dbo.Detail  ON 
        Detail.Service_Barcode = Part.Service_Barcode  
        AND Detail.nHeader = Part.nheader  
        AND Detail.nSection = Part.nsection  
        AND Detail.nPart = Part.nPart 
    LEFT JOIN Mitchell3.Dbo.Hotspot ON 
        Hotspot.Service_Barcode = Part.Service_Barcode  
        AND Hotspot.nHeader = Part.nheader  
        AND Hotspot.nSection = Part.nsection  
        AND Hotspot.nPart = Part.nPart 
	WHERE 
		Part.Service_Barcode = @ServiceBarCode  
        AND Part.nHeader = @nHeader  
        AND Part.nSection = @nSection 
		AND 
		(
			(@VehicleStamp BETWEEN Detail.Start_Date AND Detail.End_Date)
			OR
			(Detail.Start_Date IS NULL AND Detail.End_Date IS NULL)
		)

	--SELECT * FROM #Details

	SELECT DISTINCT 
		ISNULL('N' + CONVERT(VarChar(5), Details.Callout_Number), '') 'Reference', 
		ISNULL('N' + CONVERT(VarChar(5), Details.Callout_Number), '') 'ExName', 
		CONVERT(VarChar(25), LTRIM(RTRIM(REPLACE(Details.Part_Number, 'GM PART','')))) 'PartNumber', 

		CASE  
			WHEN 
				Details.Part_Text IS NOT NULL AND Details.Part_Desc IS NOT NULL  
				AND CHARINDEX(Details.Part_Desc, Details.Part_Text) = 0  
				AND CHARINDEX(Details.Part_Text, Details.Part_Desc) = 0   
				THEN Details.Part_Desc +' (' + Details.Part_Text + ')' 
			WHEN 
				Details.Part_Text IS NOT NULL AND Details.Part_Desc IS NOT NULL 
				AND CHARINDEX(Details.Part_Desc, Details.Part_Text) > 0  
				THEN Details.Part_Desc 
			WHEN 
				Details.Part_Text IS NOT NULL AND Details.Part_Desc IS NOT NULL 
				AND CHARINDEX(Details.Part_Text, Details.Part_Desc) > 0   
				THEN Details.Part_Text 
			WHEN 
				Details.Part_Desc IS NOT NULL 
				THEN Details.Part_Desc  
			WHEN Details.Part_Text IS NOT NULL 
				THEN Details.Part_Text 
			ELSE '' 
		END 
		+ 
		CASE  
			WHEN 
				Details.Start_Date IS NOT NULL 
				AND Details.End_Date IS NOT NULL 
				AND Year(Details.Start_Date) <> Year(Details.End_Date) 
				THEN ' (' + CONVERT(VarChar(4), Year(Details.Start_Date)) + '-' + CONVERT(VarChar(4), Year(Details.End_Date)) + ')' 
			WHEN 
				Details.Start_Date IS NOT NULL 
				AND Details.End_Date IS NOT NULL 
				AND Year(Details.Start_Date) = Year(Details.End_Date) 
				THEN ' (' + CONVERT(VarChar(4), Year(Details.Start_Date)) + ')' 
			WHEN 
				Details.Start_Date IS NOT NULL 
				AND Details.End_Date IS NOT NULL 
				AND Year(Details.Start_Date) <> Year(Details.End_Date) 
				THEN ' (' + CONVERT(VarChar(4),Year(Details.Start_Date)) + '-' + CONVERT(VarChar(4),Year(Details.End_Date)) + ')' 
			WHEN 
				Details.Start_Date IS NOT NULL 
				AND Details.End_Date IS NOT NULL 
				AND Year(Details.Start_Date) = Year(Details.End_Date) 
			THEN ' (' + CONVERT(VarChar(4),Year(Details.Start_Date)) + ')' 
			ELSE '' 
		END 
		+
		CASE  
			WHEN Details.Right_Left_Code = 1 THEN ' (Right)' 
			WHEN Details.Right_Left_Code = 2 THEN ' (Left)' 
			ELSE '' 
		END 'comment', 

		Details.Prtc_Description as 'Description', 
             
		CONVERT(Money,Details.Price_1) / 100 'Price', 
		ISNULL('N' + CONVERT(VarChar(5), Details.Callout_Number),'') 'Reference2', 
		CASE WHEN Details.Labor_op = 6 THEN 1 ELSE 0 END 'Paintable', 

		CASE  
			WHEN Details.Labor_Type = 0 THEN 1 
			WHEN Details.Labor_Type = 1 THEN 9 
			WHEN Details.Labor_Type = 2 THEN 25 
			WHEN Details.Labor_Type = 3 THEN 2 
			WHEN Details.Labor_Type = 4 THEN 4 
		END 'LaborType', 

		CASE  
			WHEN Details.Labor_Type = 0 THEN 'Body' 
			WHEN Details.Labor_Type = 1 THEN 'Refinish' 
			WHEN Details.Labor_Type = 2 THEN 'Glass' 
			WHEN Details.Labor_Type = 3 THEN 'Frame' 
			WHEN Details.Labor_Type = 4 THEN 'Mechanical' 
		END 'LaborName', 

		CASE  
			WHEN Details.Labor_Type = 0 THEN 1 
			WHEN Details.Labor_Type = 1 THEN 9 
			WHEN Details.Labor_Type = 2 THEN 25 
			WHEN Details.Labor_Type = 3 THEN 2 
			WHEN Details.Labor_Type = 4 THEN 4 
		END 'LaborNameID', 

		CASE WHEN Details.Labor_op = 6 THEN 9 ELSE 0 END 'PaintType' , 
		CASE WHEN Details.Labor_op = 6 THEN 'Clearcoat' ELSE '' END 'PaintName', 
		CASE WHEN Details.Labor_op = 6 THEN 9 ELSE 0 END 'PaintNameID' , 
		CASE WHEN Details.Labor_op = 6 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'PaintTime', 
		CASE WHEN Details.Labor_Op = 1 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'RRTime', 
		CASE WHEN Details.Labor_Op IN (1, 2) THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'RITime', 
		CASE WHEN Details.Labor_Op = 3 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'AddTime', 
		CASE WHEN Details.Labor_Op = 4 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'AlignTime', 
		CASE WHEN Details.Labor_Op = 5 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'OHTime', 
		CASE WHEN Details.Labor_Op = 7 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'AITime', 
		CASE WHEN Details.Labor_Op = 8 THEN CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10 ELSE 0 END 'CATime', 
		CASE  
			WHEN Details.Right_Left_Code = 1 THEN 'Right' 
			WHEN Details.Right_Left_Code = 2 THEN 'Left' 
		END 'VehiclePosition', 
		Details.Callout_Number 'DetailLineCallout', 
		@ServiceBarCode 'Service_Barcode', 
		Details.barcode 'Barcode', 
		ISNULL(Details.Sequence, 99999) 'Sequence', 
		Details.Part_Text, 
		REPLACE(ISNULL('<B>Labor time is for '+ IOHChanges.Part_Desc+'</B><BR>','') + DetailNotes.Notes, '·', '') 'Notes', 
		Details.Right_Left_Code,
		CONVERT(Decimal(8, 3), RIAssembly.Labor_Hours) / 10 AS RILaborHours
	INTO #Temp1 
	FROM #Details Details
 
	LEFT JOIN Mitchell3.dbo.DetailNotes ON DetailNotes.Service_Barcode = @ServiceBarCode AND DetailNotes.Barcode = Details.barcode
	LEFT JOIN Mitchell3.dbo.IOHChanges ON IOHChanges.Service_Barcode = @ServiceBarCode AND IOHChanges.BarcodeIOH = Details.barcode

	LEFT OUTER JOIN #Details RIAssembly ON RIAssembly.Part_Desc LIKE 'R&I ' + Details.Part_Desc + '%'
  
  
 
	UPDATE #Temp1 
	SET   
		PaintType = 9, 
		PaintName = 'Clearcoat', 
		PaintNameID = 9, 
		PaintTime = CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10, 
		Paintable = 1 
	FROM #Temp1 Temp1 
	INNER JOIN Mitchell3.Dbo.Matrix ON 
		Matrix.Service_Barcode = Temp1.Service_Barcode 
		AND Matrix.Parent_Barcode = Temp1.barcode 
		AND Temp1.LaborType <> 9
	INNER JOIN #Details Details ON
		Temp1.Service_Barcode = Details.Service_BarCode
		AND Matrix.Child_Barcode = Details.barcode
		AND Details.Labor_Type = 1 
		AND Details.Right_Left_Code = Temp1.Right_Left_Code
     
	WHERE  
		(Details.Part_Text IS NULL OR (Details.Part_Text IS NOT NULL AND Details.Part_Text NOT LIKE 'Add%' ))
		AND (Details.Part_Desc IS NULL OR (Details.Part_Desc IS NOT NULL AND Details.Part_Desc NOT LIKE 'Add%' )) 
		AND Details.Right_Left_Code > 0 
		AND ISNULL(Details.Right_Left_Code, 0) = ISNULL(Temp1.Right_Left_Code, 0)   
		OR (Details.Right_Left_Code = 0 AND ((Details.prtc_description like '%Complete%') OR (Details.prtc_description like '%components%'))) 
 
       

	UPDATE #Temp1 
	SET   
		PaintType = 9, 
		PaintName = 'Clearcoat', 
		PaintNameID = 9, 
		PaintTime = CONVERT(Decimal(8, 3), Details.Labor_Hours) / 10, 
		Paintable = 1 
	FROM #Temp1 Temp1 
	INNER JOIN Mitchell3.Dbo.Matrix  ON 
		Matrix.Service_Barcode = Temp1.Service_Barcode  
		AND Matrix.Parent_Barcode = Temp1.barcode 
		AND Temp1.LaborType <> 9
	INNER JOIN #Details Details ON
		Temp1.Service_Barcode = Details.Service_BarCode
		AND Matrix.Child_Barcode = Details.barcode
		AND Details.Labor_Type = 1 
		AND Details.Right_Left_Code = Temp1.Right_Left_Code
	WHERE  
		(Details.Part_Text IS NULL OR (Details.Part_Text IS NOT NULL AND Details.Part_Text NOT LIKE 'Add%' ) )
		AND (Details.Part_Desc IS NULL OR (Details.Part_Desc IS NOT NULL AND Details.Part_Desc NOT LIKE 'Add%' ) ) 
		AND Temp1.PaintTime = 0 
 
	
	DECLARE @DoRIJoin BIT = 0

	SET @DoRIJoin = 
	(
		SELECT CASE WHEN Category IN ('HOOD', 'HOOD/FENDER', 'FRONT DOOR', 'REAR DOOR', 'SIDE DOOR', 'BACK DOOR', 'TAILGATE', 'LIFTGATE', 'LUGGAGE LID') THEN 1 ELSE 0 END
		FROM Mitchell3.dbo.Category 
		WHERE Service_BarCode = @ServiceBarCode AND nHeader = @nHeader
	)

	SELECT  
		Base.PartNumber,           
		Base.Description, 
		Base.comment,           
		Base.Price,    
		Base.Barcode, 
		Base.Part_Text, 
		Base.Notes
	FROM #Temp1 Base
	LEFT OUTER JOIN #Temp1 RIJoin ON 
		@DoRIJoin = 1
		AND Base.DetailLineCallout = 1
		AND Base.Notes LIKE '%Includes R&I%'
		AND RIJoin.comment LIKE 'R&I%'
		AND Base.VehiclePosition = RIJoin.VehiclePosition
	GROUP BY
		Base.Reference,           
		Base.ExName,         
		Base.PartNumber,           
		Base.Description, 
		Base.comment,           
		Base.Price,    
		Base.Reference2, 
		Base.LaborType,
		Base.LaborName,      
		Base.LaborNameID,     
		Base.PaintType,     
		Base.PaintName,            
		Base.PaintTime,      
		Base.RRTime,         
		Base.RITime,         
		Base.VehiclePosition,      
		Base.DetailLineCallout,     
		Base.Service_Barcode,      
		Base.Barcode, 
		Base.Part_Text, 
		Base.Notes, 
		Base.AddTime,  
		Base.AlignTime,  
		Base.OHTime,  
		Base.AITime,  
		Base.CATime, 
		Base.Sequence,
		Base.RILaborHours,
		RIJoin.RITime
	ORDER BY Base.Sequence 
END
GO
