USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FinalizeEMSExport]
	-- Add the parameters for the stored procedure here
	@EnvelopeID int,
	@Status int	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE MessageQueue 
		SET msgStatus = @Status,
		msgChgDate = getdate(),
		msgChgBy = 99999
	WHERE msgID = @EnvelopeID
END


GO
