USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CarfaxInfo_Save] 
	@ID	INT, 
	@Vin VARCHAR(20) = null, 
	@VinInfo VARCHAR(max)
AS 
BEGIN 
	IF @Vin IS NULL
		BEGIN
			SET @Vin = ''
		END

	IF (@ID > 0 ) 
		BEGIN 
			UPDATE CarfaxInfo
			SET VinInfo = @VinInfo
			WHERE ID = @ID
 
			SELECT @ID
		END 
	ELSE 
		INSERT INTO CarfaxInfo
		(
			  Vin
			, VinInfo
		) 
		VALUES
		(
			  @Vin
			, @VinInfo
		)
 
		SELECT CAST(SCOPE_IDENTITY() AS INT)
END
GO
