USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ContractInvoicesReport_GetHeader] 
	  @ContractID				INT 
	, @ContentDirectory		VARCHAR(100) = ''
AS
-- [dbo].[ContractsInvoiceReport_GetHeader] 205947, 'C:'
BEGIN    
   
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.    
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component    
	 IF 1=0 BEGIN    
       SET FMTONLY OFF    
     END    
      
	SELECT    Logins.CompanyName
		, (CompanyContact.FirstName + ' ' + CompanyContact.LastName) AS CompanyContactName 
		, CompanyAddress.Address1
		, CompanyAddress.Address2
		, dbo.HtmlEncode(CompanyAddress.Address1) + CASE WHEN ISNULL(CompanyAddress.Address1, '') <> '' AND ISNULL(CompanyAddress.Address2, '') <> '' THEN '<br/>' ELSE '' END + dbo.HtmlEncode(CompanyAddress.Address2) AS CompanyAddress
		, ISNULL(CompanyAddress.City, '') + CASE WHEN ISNULL(CompanyAddress.City, '') <> '' THEN ', ' ELSE '' END + ISNULL(CompanyAddress.State, '') + CASE WHEN ISNULL(CompanyAddress.State, '') <> '' THEN ' ' ELSE '' END + ISNULL(CompanyAddress.zip, '') AS CompanyCityStateZip   
		, dbo.FormatPhoneNumber(IsNull(CompanyContact.Phone1, '')) + ' ' + ISNULL(CompanyContact.Extension1, '') AS CompanyContactCellPhone
		, dbo.HtmlEncode(dbo.FormatPhoneNumber(IsNull(CompanyContact.Phone2, '')) + ' ' + ISNULL(CompanyContact.Extension2, '')) AS CompanyContactSecondaryPhone   
		, CompanyContact.FaxNumber AS CompanyContactFax    
		, CompanyContact.Email AS CompanyContactEmail
		, dbo.HtmlEncode(Phone1Type.Report) AS CompanyContactPhoneType1   
		, dbo.HtmlEncode(Phone2Type.Report) AS CompanyContactPhoneType2      
		, CASE WHEN ISNULL(Logins.LogoImageType, '') = ''    
			THEN @ContentDirectory + '/CompanyLogos/default.png'    
			ELSE @ContentDirectory + '/CompanyLogos/' + CAST(Logins.ID AS VARCHAR) + '.' + Logins.LogoImageType    
		  END AS CompanyLogoPath,
		  Contracts.EffectiveDate AS ContractsEffectiveDate, Contracts.ExpirationDate AS ContractsExpirationDate,
		  ContractTerms.TermDescription AS ContractTermDescription
	FROM Contracts with(nolock) INNER JOIN Logins with(nolock) ON Contracts.LoginID = Logins.ID
    LEFT JOIN dbo.ContractPriceLevels with(nolock) ON Contracts.ContractPriceLevelID = ContractPriceLevels.ContractPriceLevelID 
	LEFT JOIN dbo.ContractTerms with(nolock) ON ContractPriceLevels.ContractTermID = ContractTerms.ContractTermID  
	LEFT JOIN tbl_ContactPerson AS CompanyContact  with(nolock) ON Logins.ContactID = CompanyContact.ContactID 
	LEFT JOIN tbl_Address AS CompanyAddress  with(nolock) ON Logins.ContactID = CompanyAddress.ContactsID  
	LEFT JOIN PhoneTypes AS Phone1Type  with(nolock) ON CompanyContact.PhoneNumberType1 = Phone1Type.Code 
	LEFT JOIN PhoneTypes AS Phone2Type  with(nolock) ON CompanyContact.PhoneNumberType2 = Phone2Type.Code 
    LEFT JOIN SiteSetting  SiteSetting WITH(NOLOCK) ON  SiteSetting.LoginID  = Logins.ID AND TagGroup = 'ReportOptions' AND Tag = 'PrintEmailAddressInHeader'      
    
	WHERE Contracts.ContractID =  @ContractID

END    
GO
