USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CustomReportTemplate_Copy] 
	  @LoginID			INT ,
	  @ReportToCopy		INT
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    -- Copy the base customer profile record 
	INSERT INTO [dbo].[CustomReportTemplate] 
    ( 
		  [LoginID] 
        , [Name] 
        , [Description] 
        , [Template] 
        , [IsActive] 
        , [IsDeleted] 
		, [ReportHeaderID]
		, [ReportFooterID]
		, [CustomReportTemplateTypeID]
		, [OriginalID]
		, [IsSystemReport]
	 ) 
	 SELECT 
		  @LoginID 
		, ISNULL([Name], '')  + ' - Copy'
		, ISNULL([Description], '')
		, [Template]
		, [IsActive]
		, [IsDeleted] 
		, [ReportHeaderID]
		, [ReportFooterID]
		, [CustomReportTemplateTypeID]
		, @ReportToCopy
		, 0
    FROM CustomReportTemplate   
    WHERE ID = @ReportToCopy  
 
	SELECT CAST(SCOPE_IDENTITY() AS INT)  
END 
GO
