USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[OwnerType] [tinyint] NOT NULL,
	[ProfileName] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[DefaultFlag] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[OriginalID] [int] NULL,
	[AdminInfoID] [int] NULL,
	[DefaultPreset] [bit] NULL,
	[Deleted] [bit] NULL,
	[CapRatesAfterInclude] [bit] NULL,
	[CapSuppliesAfterInclude] [bit] NULL,
	[Imported] [bit] NOT NULL,
	[IsFullEstimateDiscountMarkup] [bit] NULL,
	[FullEstimateDiscountMarkupValue] [real] NULL,
 CONSTRAINT [PK_CustomerProfiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_CustomerProfiles_7_2010318117__K1] ON [dbo].[CustomerProfiles]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfiles_1] ON [dbo].[CustomerProfiles]
(
	[AdminInfoID] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfiles_OwnerID] ON [dbo].[CustomerProfiles]
(
	[OwnerID] ASC
)
INCLUDE([OwnerType],[ProfileName],[Description],[DefaultFlag],[CreationDate],[CreatedBy],[OriginalID],[AdminInfoID],[DefaultPreset],[Deleted],[CapRatesAfterInclude],[CapSuppliesAfterInclude],[Imported],[IsFullEstimateDiscountMarkup],[FullEstimateDiscountMarkupValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ix_dba_CustomerProfiles_OwnerID_Includes] ON [dbo].[CustomerProfiles]
(
	[OwnerID] ASC
)
INCLUDE([OwnerType],[ProfileName],[Description],[DefaultFlag],[CreationDate],[CreatedBy],[OriginalID],[AdminInfoID],[DefaultPreset],[Deleted],[CapRatesAfterInclude],[CapSuppliesAfterInclude]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerProfiles] ADD  CONSTRAINT [DF_CustomerProfiles_OwnerType]  DEFAULT ((0)) FOR [OwnerType]
GO
ALTER TABLE [dbo].[CustomerProfiles] ADD  CONSTRAINT [DF_CustomerProfiles_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[CustomerProfiles] ADD  CONSTRAINT [DF_CustomerProfiles_DefaultPreset]  DEFAULT ((0)) FOR [DefaultPreset]
GO
ALTER TABLE [dbo].[CustomerProfiles] ADD  DEFAULT ((0)) FOR [Imported]
GO
