USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE [dbo].[SP_GetPaintTypeDefault]
	@AdminInfoID Int = NULL
AS

BEGIN
	SELECT VehicleInfo.DefaultPaintType
	FROM EstimationData WITH (NOLOCK)
	INNER JOIN VehicleInfo WITH (NOLOCK) oN
		(VehicleInfo.EstimationDataID = EstimationData.id)
	WHERE EstimationData.AdminInfoID = @AdminInfoID
END

GO
