USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstimationOverlapProposed](
	[ActionPart] [varchar](200) NULL,
	[Reason] [varchar](100) NULL,
	[BecauseOf] [varchar](200) NULL,
	[OverlapAmount] [varchar](8) NULL,
	[MinimumLabor] [varchar](8) NULL,
	[Labor Hours] [real] NULL,
	[Labor Hours Inc] [real] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Process] [varchar](50) NULL,
	[AdminInfoID] [int] NULL,
	[ActionID] [int] NULL,
	[ResultID] [int] NULL,
	[ActionCode] [int] NULL,
	[AcceptFlag] [bit] NULL,
	[BarcodeInc] [varchar](10) NULL
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [idx_EstimationOverlapProposed_1] ON [dbo].[EstimationOverlapProposed]
(
	[AdminInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_EstimationOverlapProposed_2] ON [dbo].[EstimationOverlapProposed]
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_EstimationOverlapProposed_3] ON [dbo].[EstimationOverlapProposed]
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_EstimationOverlapProposed_ActionPart] ON [dbo].[EstimationOverlapProposed]
(
	[ActionPart] ASC
)
INCLUDE([ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_EstimationOverlapProposed_ID] ON [dbo].[EstimationOverlapProposed]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
