USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ezra
-- Create date: 5/14/2020
-- Description:	Get all QBExportLog records by LoginID
-- =============================================
CREATE PROCEDURE [dbo].[QBExportLog_GetByLogin]
	  @LoginID					int,
	  @IsDeleted				BIT = NULL
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM QBExportLog
	WHERE LoginID	= @LoginID
	AND   ISNULL(IsDeleted, 0) = ISNULL(@IsDeleted, 0)
END
GO
