USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstimateReport_GetLineItems_EOR_1_26_2023]    
	@AdminInfoID		int,
	@SupplementVersion	INT,
	@PdrOnly			INT
AS 
BEGIN  

-- NOTE - On 1/26/23 Ezra updated this query.  I fixed the bug where sometimes Other labor was first, and removed an unused join.  This is a backup in case
  
	 -- This strange piece of code is necessary for the Telerek designer to work with a sp that uses temp tables.    
	 -- http://www.telerik.com/support/kb/reporting/details/how-to-configure-stored-procedure-with-temporary-tables-for-use-with-sqldatasource-component    
	 IF 1=0 BEGIN    
       SET FMTONLY OFF    
     END    

	DECLARE @PreviousSup INT = @SupplementVersion - 1
 
	SELECT  
		  Base.*  
		--, CASE WHEN Base.LaborIncluded = 1 AND Previous.LaborIncluded = 0 THEN OverlapSupplement ELSE 0 END AS IncludeAdded 
	INTO #EOR_Temp 
	FROM  
	( 
		SELECT ROW_NUMBER() OVER (ORDER BY GroupNumber, Sorter, OriginalID) AS LineNumberCalculated, *   
		FROM ProcessedLines    
		WHERE 
			EstimateID = @AdminInfoID
			AND Supplement = @SupplementVersion
			AND ForSummary = 1 
			AND PartSourceModified = 0	
			AND OperationDescription NOT LIKE '%Delete Line%' 
			AND 
			(
				(@PdrOnly = 1 AND Action IN ('PDR Matrix','PDR')) OR (@PdrOnly = 0 AND Action IN (Action))
			)
	) Base 
	LEFT OUTER JOIN  
	( 
		SELECT LineItemID, LaborIncluded 
		FROM ProcessedLines   
		WHERE 
			EstimateID = @AdminInfoID
			AND Supplement = @PreviousSup
			AND ForSummary = 1 
			AND PartSourceModified = 0	
			AND OperationDescription NOT LIKE '%Delete Line%' 
	) Previous 
	ON 
		@PreviousSup > -1 
		AND Base.LineItemID = Previous.LineItemID 

	ORDER BY GroupNumber, Sorter, OriginalID
 
	--UPDATE #EOR_Temp 
	--SET SupplementDisplay = dbo.Biggest(SupplementDisplay, IncludeAdded) 
 
	DECLARE @ShowDollars BIT = 
	(
		SELECT TOP 1 ISNULL(Dollars, 0) AS Dollars
		FROM AdminInfo
		LEFT OUTER JOIN CustomerProfilePrint ON AdminInfo.CustomerProfilesID = CustomerProfilePrint.CustomerProfilesID
		WHERE AdminInfo.ID = @AdminInfoID
	)

	SELECT 
		*
		, CASE WHEN @ShowDollars = 1 THEN LaborSummaryPaintD ELSE LaborSummaryPaintH END AS LaborSummaryPaint
		, CASE WHEN @ShowDollars = 1 THEN LaborSummaryPaintPanelD ELSE LaborSummaryPaintPanelH END AS LaborSummaryPaintPanel
		, CASE WHEN @ShowDollars = 1 THEN LaborSummaryExtraD ELSE LaborSummaryExtraH END AS LaborSummaryExtra
	FROM #EOR_Temp 

END
GO
