USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vwTieVin] AS
	SELECT
		vSubModel.id,
		Vehicle.VehicleID,
		BaseVehicle.YearID,
		Make.MakeName,
		VModel.ModelName,
		Submodel.SubmodelName,
		VehicleType.VehicleTypeName,
		CASE 	WHEN 	BodyNumDoors.BodyNumDoors IS NOT NULL THEN RTRIM(LTRIM(CONVERT(VarChar(2),BodyNumDoors.BodyNumDoors))) + ' Door'
			ELSE ''
		END + ' ' + ISNULL(LTRIM(RTRIM(BodyType.BodyTypeName)),'') +
		CASE	WHEN DriveType.DriveTypeID IS NOT NULL THEN ' - ' + DriveType.DriveTypeName
			ELSE ''
		END 'BodyStyle',

		CASE 	WHEN 	EngineBase.Cylinders IS NOT NULL THEN 'V' + LTRIM(RTRIM(CONVERT(VarChar(3),EngineBase.Cylinders)))
			ELSE ''
		END +
		CASE	WHEN EngineBase.Cylinders IS NOT NULL AND (EngineBase.Liter IS NOT NULL OR Aspiration.AspirationName IN ('S','T')) THEN ', '
			ELSE ''
		END +
		CASE 	WHEN 	EngineBase.Liter IS NOT NULL THEN LTRIM(RTRIM(CONVERT(VarChar(10),EngineBase.Liter))) + 'L'
			ELSE ''
		END +
		CASE 	WHEN EngineBase.Liter IS NOT NULL  AND Aspiration.AspirationName IN ('S','T') THEN '; '
			ELSE ''
		END +
		CASE 	WHEN Aspiration.AspirationName = 'S' THEN 'Supercharged'
			WHEN Aspiration.AspirationName = 'T' THEN 'Turbocharged'
			ELSE ''
		END 'Engine'
	FROM VCDB_Public.dbo.Vehicle Vehicle
	INNER JOIN VCDB_Public.dbo.BaseVehicle BaseVehicle ON
		(BaseVehicle.BaseVehicleID = Vehicle.BaseVehicleID)
	INNER JOIN VCDB_Public.dbo.Region Region ON
		(Region.RegionID = Vehicle.RegionID)
	INNER JOIN VCDB_Public.dbo.Submodel Submodel ON
		(Submodel.SubmodelID = Vehicle.SubmodelID)
	INNER JOIN VCDB_Public.dbo.Make Make ON
		(Make.MakeID = BaseVehicle.MakeID)
	INNER JOIN VCDB_Public.dbo.Model VModel ON
		(VModel.ModelID = BaseVehicle.ModelID)
	INNER JOIN VCDB_Public.dbo.VehicleType VehicleType ON
		(VehicleType.VehicleTypeID = VModel.VehicleTypeID)
	/* Body Style */
	LEFT JOIN VCDB_Public.dbo.VehicleToBodyStyleConfig VehicleToBodyStyleConfig ON
		(VehicleToBodyStyleConfig.VehicleID = Vehicle.VehicleID)
	LEFT JOIN VCDB_Public.dbo.BodyStyleConfig BodyStyleConfig ON
		(BodyStyleConfig.BodyStyleConfigID = VehicleToBodyStyleConfig.BodyStyleConfigID)
	LEFT JOIN VCDB_Public.dbo.BodyNumDoors BodyNumDoors ON
		(BodyNumDoors.BodyNumDoorsID = BodyStyleConfig.BodyNumDoorsID)
	LEFT JOIN VCDB_Public.dbo.BodyType BodyType ON
		(BodyType.BodyTypeID = BodyStyleConfig.BodyTypeID)
	/* Engine */
	LEFT JOIN VCDB_Public.dbo.VehicleToEngineConfig VehicleToEngineConfig ON
		(VehicleToEngineConfig.VehicleID = Vehicle.VehicleID)
	LEFT JOIN VCDB_Public.dbo.EngineConfig EngineConfig ON
		(EngineConfig.EngineConfigID = VehicleToEngineConfig.EngineConfigID)
	LEFT JOIN VCDB_Public.dbo.EngineBase EngineBase ON
		(EngineBase.EngineBaseID = EngineConfig.EngineBaseID)
	LEFT JOIN VCDB_Public.dbo.Aspiration Aspiration ON
		(Aspiration.AspirationID = EngineConfig.AspirationID)

	LEFT JOIN VCDB_Public.dbo.VehicleToDriveType VehicleToDriveType ON
		(VehicleToDriveType.VehicleID = Vehicle.VehicleID)
	LEFT JOIN VCDB_Public.dbo.DriveType DriveType ON
		(DriveType.DriveTypeID = VehicleToDriveType.DriveTypeID)

	INNER JOIN Vehicles.dbo.SubModel vSubModel ON
		(vSubModel.AAIAVehicleID = Vehicle.VehicleID)



GO
