USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezea
-- Create date: 3/25/2019
-- Description:	Get a contact by its ID
-- =============================================
CREATE PROCEDURE [dbo].[Contact_GetByID]
	@ID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM tbl_ContactPerson
	WHERE ContactID = @ID
END
GO
