USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/15/2018 
-- Description:	Get a PDR Estimate Data record by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_EstimateDataPanel_GetByID] 
	@id		int 
	 
AS 
BEGIN 
	SELECT * 
	FROM PDR_EstimateDataPanel 
	WHERE ID = @id 
END 
GO
