USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Estimator_GetDefaultByActiveLoginID]
	@ActiveLoginID int
AS
BEGIN

	SELECT	DefaultEstimatorID
	FROM	SiteUsers
	JOIN	ActiveLogin ON SiteUsers.ID = ActiveLogin.SiteUserID
	WHERE	ActiveLogin.ID = @ActiveLoginID

END
GO
