USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/26/2018
-- Description:	Calculate tiered tax
-- =============================================
CREATE FUNCTION [dbo].[GetTieredTax]
(
	@total			float,
	@taxRate1		real,
	@taxRate2		real,
	@taxRate2Start	real
)
RETURNS MONEY
AS
BEGIN
	IF @taxRate2Start = 0 OR @total <= @taxRate2Start
		RETURN CAST(@total * (@taxRate1 / 100) AS MONEY)
	ELSE 
		RETURN CAST((@taxRate2Start * (@taxRate1 / 100)) + ((@total - @taxRate2Start) * (@taxRate2 / 100)) AS MONEY)

	RETURN 0
END
GO
