USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 5/6/2019 
-- Description:	Get overlap details for a line item, for letting the user edit the overlaps 
-- ============================================= 
CREATE PROCEDURE [dbo].[Overlaps_GetForLine] 
	@LineItemID				int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	SELECT EstimationOverlap.ID AS OverlapID, OverlapAdjacentFlag, Amount, Minimum, UserAccepted, Description 
	FROM EstimationOverlap 
	JOIN EstimationLineItems ON EstimationOverlap.EstimationLineItemsID2 = EstimationLineItems.id 
	WHERE EstimationLineItemsID1 = @LineItemID OR EstimationLineItemsID2 = @LineItemID --AND UserAccepted = 1 
END 
GO
