USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesRep](
	[SalesRepID] [int] IDENTITY(1,1) NOT NULL,
	[SalesNumber] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varbinary](128) NULL,
	[Deleted] [bit] NOT NULL,
	[pInvoiceTab] [bit] NOT NULL,
	[pOrgMaintTab] [bit] NOT NULL,
	[pSalesRepMaint] [bit] NOT NULL,
	[pSalesBoard] [bit] NOT NULL,
	[pServerLogsTab] [bit] NOT NULL,
	[pLoginFailureTab] [bit] NOT NULL,
	[pErrorsTab] [bit] NOT NULL,
	[pCurrentSessionsTab] [bit] NOT NULL,
	[pLinkingTab] [bit] NOT NULL,
	[pPaymentReport] [bit] NOT NULL,
	[pForcastedRevReport] [bit] NOT NULL,
	[pRenewalReport] [bit] NOT NULL,
	[pRoyaltyReport] [bit] NOT NULL,
	[pExpectedRenReport] [bit] NOT NULL,
	[pShopActivityReport] [bit] NOT NULL,
	[pWebsiteAccessReport] [bit] NOT NULL,
	[pUnusedContracts] [bit] NOT NULL,
	[pEstimatesByShop] [bit] NOT NULL,
	[pUserMaintLoginInfo] [bit] NOT NULL,
	[pUserMaintOrgInfo] [bit] NOT NULL,
	[pUserMaintContactInfo] [bit] NOT NULL,
	[pUserMaintSalesRep] [bit] NOT NULL,
	[pEditPermissions] [bit] NOT NULL,
	[pEditBonusGoals] [bit] NOT NULL,
	[pPromoMaintenance] [bit] NOT NULL,
	[pExtensionReport] [bit] NOT NULL,
	[pUserMaintImpersonate] [bit] NOT NULL,
	[pLoginAttempts] [bit] NOT NULL,
	[pUserMaintCreate] [bit] NOT NULL,
	[pImport] [bit] NULL,
	[pImportEst] [bit] NULL,
	[phoneNumber] [varchar](10) NULL,
	[phoneExtension] [varchar](3) NULL,
	[isSalesRep] [bit] NULL,
	[Active] [bit] NULL,
	[pDeleteRenewal] [bit] NULL,
	[pCarfax] [bit] NULL,
	[pSuccessBox] [bit] NULL,
	[pPartsNowManager] [bit] NULL,
	[pAddOns] [bit] NULL,
	[pDocumentsManagerUpload] [bit] NULL,
	[pDocumentsManagerDownload] [bit] NULL,
	[pTrialSetup] [bit] NULL,
	[pMonthlySalesDashboardReport] [bit] NULL,
	[pContractAddOnReport] [bit] NULL,
	[pChangeLog] [bit] NULL,
 CONSTRAINT [PK_SalesRep] PRIMARY KEY NONCLUSTERED 
(
	[SalesRepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE CLUSTERED INDEX [idx_SalesRep_1] ON [dbo].[SalesRep]
(
	[SalesNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pInvoiceTab]  DEFAULT ((0)) FOR [pInvoiceTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pOrgMaintTab]  DEFAULT ((0)) FOR [pOrgMaintTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pSalesRepMaint]  DEFAULT ((0)) FOR [pSalesRepMaint]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pSalesBoard]  DEFAULT ((0)) FOR [pSalesBoard]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pServerLogsTab]  DEFAULT ((0)) FOR [pServerLogsTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pLoginFailureTab]  DEFAULT ((0)) FOR [pLoginFailureTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pErrorsTab]  DEFAULT ((0)) FOR [pErrorsTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pCurrentSessionsTab]  DEFAULT ((0)) FOR [pCurrentSessionsTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pLinkingTab]  DEFAULT ((0)) FOR [pLinkingTab]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pPaymentReport]  DEFAULT ((0)) FOR [pPaymentReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pForcastedRevReport]  DEFAULT ((0)) FOR [pForcastedRevReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pRenewalReport]  DEFAULT ((0)) FOR [pRenewalReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pRoyaltyReport]  DEFAULT ((0)) FOR [pRoyaltyReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pExpectedRenReport]  DEFAULT ((0)) FOR [pExpectedRenReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pShopActivityReport]  DEFAULT ((0)) FOR [pShopActivityReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pWebsiteAccessReport]  DEFAULT ((0)) FOR [pWebsiteAccessReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUnusedContracts]  DEFAULT ((0)) FOR [pUnusedContracts]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pEstimatesByShop]  DEFAULT ((0)) FOR [pEstimatesByShop]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUserMaintLoginInfo]  DEFAULT ((0)) FOR [pUserMaintLoginInfo]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUserMaintOrgInfo]  DEFAULT ((0)) FOR [pUserMaintOrgInfo]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUserMaintContactInfo]  DEFAULT ((0)) FOR [pUserMaintContactInfo]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUserMaintSalesRep]  DEFAULT ((0)) FOR [pUserMaintSalesRep]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pEditPermissions]  DEFAULT ((0)) FOR [pEditPermissions]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pEditBonusGoals]  DEFAULT ((0)) FOR [pEditBonusGoals]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pPromoMaintenance]  DEFAULT ((0)) FOR [pPromoMaintenance]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pExtensionReport]  DEFAULT ((0)) FOR [pExtensionReport]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUserMaintImpersonate]  DEFAULT ((1)) FOR [pUserMaintImpersonate]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pLoginAttempts]  DEFAULT ((1)) FOR [pLoginAttempts]
GO
ALTER TABLE [dbo].[SalesRep] ADD  CONSTRAINT [DF_SalesRep_pUserMaintCreate]  DEFAULT ((1)) FOR [pUserMaintCreate]
GO
ALTER TABLE [dbo].[SalesRep] ADD  DEFAULT ((0)) FOR [isSalesRep]
GO
ALTER TABLE [dbo].[SalesRep] ADD  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[SalesRep] ADD  DEFAULT ((0)) FOR [pDeleteRenewal]
GO
