USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/8/2016
-- Description:	Insert or update a VehicleInfoManual record
-- =============================================
CREATE PROCEDURE [dbo].[AddOrUpdateVehicleInfoManual]
	@vehicleinfoid int
	,@country varchar(50) = null
	,@manufacturer varchar(50) = null
	,@make varchar(50) = null
	,@model varchar(50) = null
	,@modelyear varchar(50) = null
	,@submodel varchar(50) = null
	,@service_barcode varchar(10) = NULL
    ,@manualSelection BIT = 0
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

IF EXISTS (SELECT * FROM dbo.VehicleInfoManual WHERE VehicleInfoID = @vehicleinfoid)
	BEGIN
		UPDATE dbo.VehicleInfoManual
		SET			
			[Country] = @country, 
			[Manufacturer] = @manufacturer, 
			[Make] = @make, 
			[Model] = @model, 
			[ModelYear] = @modelyear, 
			[SubModel] = @submodel, 
			[Service_Barcode] = @service_barcode,
			[ManualSelection] = @manualSelection
		WHERE [VehicleInfoID] = @vehicleinfoid

		SELECT @vehicleinfoid
	END
ELSE
	BEGIN
		INSERT INTO VehicleInfoManual(
			[VehicleInfoID], 
			[Country], 
			[Manufacturer], 
			[Make], 
			[Model], 
			[ModelYear], 
			[SubModel], 
			[Service_Barcode],
			[ManualSelection])
		VALUES(
			@vehicleinfoid 
			,@country 
			,@manufacturer 
			,@make 
			,@model 
			,@modelyear 
			,@submodel 
			,@service_barcode
			,@manualSelection)

		SELECT CAST(SCOPE_IDENTITY() AS INT)
	END
END

GO
