USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Batch submitted through debugger: SQLQuery5.sql|7|0|C:\Users\Administrator\AppData\Local\Temp\1\~vsB406.sql 
-- ============================================= 
-- Author:		<Author,,Name> 
-- Create date: <Create Date,,> 
-- Description:	<Description,,> 
-- ============================================= 
CREATE Function [dbo].[isFirstYear] (@LoginID int,@Year int, @Month int) 
Returns Int 
AS 
BEGIN 
declare @result bit,@Newsale int 
 
select @year = @Year -1  
 
  
select @Newsale = loginid from SalesBoard where loginID = @LoginID and numberSold > 0 and year(dateSold) = @Year and Month(dateSold) = @Month 
 
If @Newsale is null 
begin 
select @Newsale = loginid from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.SalesBoard where loginID = @LoginID and numberSold > 0 and year(dateSold) = @Year and Month(dateSold) = @Month 
end  
If @Newsale is not null 
begin 
  select @result = 1  
end 
 
return isnull(@result,0)  
END 
 
GO
