USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CustomerProfile_AddOrUpdate]  
	@ID					int, 
	@LoginID			int, 
	@Name				varchar(50), 
	@Description		varchar(500), 
	@DefaultFlag		bit, 
	@OriginalID			int, 
	@EstimateID			int, 
	@DefaultPreset		bit, 
	@Deleted			bit, 
	@CapRatesAfterInclude		bit, 
	@CapSuppliesAfterInclude	bit, 
	@IsFullEstimateDiscountMarkup	bit, 
	@FullEstimateDiscountMarkupValue	real 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    IF (@ID > 0) 
		BEGIN 
			UPDATE [dbo].[CustomerProfiles] 
			SET  
				 [OwnerID] = @LoginID 
				,[ProfileName] = @Name 
				,[Description] = @Description 
				,[DefaultFlag] = @DefaultFlag 
				,[OriginalID] = @OriginalID 
				,[AdminInfoID] = @EstimateID 
				,[DefaultPreset] = @DefaultPreset 
				,[Deleted] = @Deleted 
				,[CapRatesAfterInclude] = @CapRatesAfterInclude 
				,[CapSuppliesAfterInclude] = @CapSuppliesAfterInclude 
				,[IsFullEstimateDiscountMarkup] = @IsFullEstimateDiscountMarkup
				,[FullEstimateDiscountMarkupValue] = @FullEstimateDiscountMarkupValue
			WHERE id = @ID 
 
			SELECT @ID	  
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[CustomerProfiles] 
			( 
				[OwnerID] 
			   ,[OwnerType] 
			   ,[ProfileName] 
			   ,[Description] 
			   ,[DefaultFlag] 
			   ,[CreationDate] 
			   ,[CreatedBy] 
			   ,[OriginalID] 
			   ,[AdminInfoID] 
			   ,[DefaultPreset] 
			   ,[Deleted] 
			   ,[CapRatesAfterInclude] 
			   ,[CapSuppliesAfterInclude] 
			   ,[IsFullEstimateDiscountMarkup]
			   ,[FullEstimateDiscountMarkupValue]
			) 
			VALUES 
			( 
				@LoginID 
			   ,0 
			   ,@Name 
			   ,@Description 
			   ,@DefaultFlag 
			   ,GETDATE() 
			   ,@LoginID 
			   ,@OriginalID 
			   ,@EstimateID 
			   ,@DefaultPreset 
			   ,@Deleted 
			   ,@CapRatesAfterInclude 
			   ,@CapSuppliesAfterInclude 
			   ,@IsFullEstimateDiscountMarkup
			   ,@FullEstimateDiscountMarkupValue
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT)  
		END 
END 
GO
