USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetPresetLineItems]
	@ProfileID int
AS
BEGIN
	 
	SET NOCOUNT ON;
SELECT       
  CustomerProfilePresets.ID,      
  '' 'Step',      
  ISNULL(ActionList.ActionLong,'') + ' ' + CustomerProfilePresets.ActionDescription 'ActionDescription',      
  CustomerProfilePresets.ActionCode,      
  CustomerProfilePresets.PartNumber,      
  CustomerProfilePresets.Price,      
  CustomerProfilePresets.PartSource,      
  CustomerProfilePresets.Description 'PartDescription',      
  CASE WHEN CustomerProfilePresets.PartOfOverHaul <> 0 THEN 'Yes' ELSE 'No' END 'PartOfOverHaul',      
  CustomerProfiles.ID 'CustomerProfilesID',      
  CustomerProfilePresets.ID 'LineID',      
  0 'LineNumber',      
  0 'Locked',      
  -1 'Modified',      
  '' 'Status',      
  FocusWrite.Dbo.GetPresetLaborItems(CustomerProfilePresets.ID) 'LaborItems'      
  ,'Edit' as EditText      
  ,'Delete' as DeleteText      
 FROM CustomerProfiles WITH (NOLOCK)      
 INNER JOIN CustomerProfilePresets WITH (NOLOCK) ON      
  (CustomerProfilePresets.CustomerProfilesID = CustomerProfiles.ID)      
 LEFT JOIN ActionList WITH (NOLOCK) ON      
  (ActionList.ActionShort = CustomerProfilePresets.ActionCode)      
 WHERE CustomerProfiles.ID = @ProfileID    
end


GO
