USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_GetExistingCustomerName] 
	@LoginID int 
as 
begin 
 
	SELECT DISTINCT  
		  contact.ContactID as id 
		, CASE WHEN ISNULL(contact.FirstName, '') + ISNULL(contact.LastName, '') <> ''  
			THEN ISNULL(contact.FirstName, '') + ' ' + ISNULL(contact.LastName, '')  
		  ELSE contact.BusinessName  
		  END 
		  AS firstName 
	FROM AdminInfo 
	JOIN EstimationData ON AdminInfo.id = EstimationData.AdminInfoID 
	LEFT OUTER JOIN tbl_ContactPerson contact ON contact.AdminInfoID = EstimationData.AdminInfoID AND contact.ContactTypeID = 1 AND contact.ContactSubTypeID = 4 AND contact.SaveCustomer = 1 
	WHERE AdminInfo.CreatorID = @LoginID 
	AND NOT contact.ContactID IS NULL 
	ORDER BY firstName 
 
	-- This is the old query that pulled from the ContactInfoMemory table, which didn't make much sense 
	 --select id,firstName + ' ' + lastName as firstname from ContactInfoMemory Where LoginsID = @LoginID Order by firstName 
end 
GO
