USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlternateIdentities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationInfoID] [int] NULL,
	[ContactsID] [int] NULL,
	[LastEstimateNumber] [int] NULL,
	[LastReportNumber] [int] NULL,
	[LastWorkOrderNumber] [int] NULL,
 CONSTRAINT [PK_AlternateIdentities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
