USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keystone2](
	[OEM] [nvarchar](255) NULL,
	[SUPP] [nvarchar](255) NULL,
	[LIST] [float] NULL,
	[TYPE] [nvarchar](50) NULL,
	[DESC] [nvarchar](255) NULL,
	[KEY] [varchar](15) NULL
) ON [PRIMARY]
GO
