USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfilePresetsLabor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerProfilePresetsID] [int] NOT NULL,
	[LaborType] [tinyint] NOT NULL,
	[LaborSubType] [smallint] NULL,
	[LaborTime] [real] NULL,
	[LaborCost] [money] NULL,
	[AdjacentDeduction] [tinyint] NULL,
	[MajorPanel] [bit] NULL,
	[Lock] [bit] NULL,
	[Include] [bit] NULL,
 CONSTRAINT [PK_CustomerProfilePresetsLabor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_CustomerProfilePresetsLabor_7_107147427__K2_K1_3_4_5_6_7_8] ON [dbo].[CustomerProfilePresetsLabor]
(
	[CustomerProfilePresetsID] ASC,
	[id] ASC
)
INCLUDE([LaborType],[LaborSubType],[LaborTime],[LaborCost],[AdjacentDeduction],[MajorPanel]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CustomerProfilePresetsLabor_LaborType] ON [dbo].[CustomerProfilePresetsLabor]
(
	[LaborType] ASC
)
INCLUDE([CustomerProfilePresetsID],[LaborTime],[LaborCost],[Lock],[Include]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
