USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[GetAdjacnetPanel] (
	@PartNumber VarChar(25),
	@AdminInfoID Int		)  
RETURNS Bit AS  
BEGIN 
	--Returns false for now
	RETURN(0)
END




GO
