USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 9/13/2018 
-- Description:	Restore the last delete stamp for the passed estimate  
-- ============================================= 
CREATE PROCEDURE [dbo].[EstimateDeleteHistory_RestoreLast] 
	@AdminInfoID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    UPDATE EstimateDeleteHistory 
	SET RestoreStamp = GETDATE() 
	WHERE ID = (SELECT MAX(ID) FROM EstimateDeleteHistory WHERE AdminInfoID = @AdminInfoID) 
END 
GO
