USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesBoard](
	[salesBoardID] [int] IDENTITY(1,1) NOT NULL,
	[salesRepID] [int] NOT NULL,
	[loginID] [int] NULL,
	[numberSold] [int] NOT NULL,
	[frame] [int] NOT NULL,
	[ems] [int] NOT NULL,
	[dateSold] [datetime] NOT NULL,
	[addUser] [int] NOT NULL,
	[HasQBExporter] [int] NULL,
	[proAdvisor] [int] NULL,
	[bundle] [int] NULL,
	[imageEditor] [int] NULL,
	[enterpriseReporting] [int] NULL,
 CONSTRAINT [PK_SalesBoard] PRIMARY KEY CLUSTERED 
(
	[salesBoardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_SalesBoard_7_966346557__K2_K7_K3_4] ON [dbo].[SalesBoard]
(
	[salesRepID] ASC,
	[dateSold] ASC,
	[loginID] ASC
)
INCLUDE([numberSold]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_SalesBoard_7_966346557__K3_K7_4] ON [dbo].[SalesBoard]
(
	[loginID] ASC,
	[dateSold] ASC
)
INCLUDE([numberSold]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SalesBoard_numberSold] ON [dbo].[SalesBoard]
(
	[numberSold] ASC
)
INCLUDE([salesRepID],[dateSold]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesBoard] ADD  CONSTRAINT [DF_SalesBoard_numberSold]  DEFAULT ((1)) FOR [numberSold]
GO
ALTER TABLE [dbo].[SalesBoard] ADD  CONSTRAINT [DF_SalesBoard_frames]  DEFAULT ((0)) FOR [frame]
GO
ALTER TABLE [dbo].[SalesBoard] ADD  CONSTRAINT [DF_SalesBoard_ems]  DEFAULT ((0)) FOR [ems]
GO
ALTER TABLE [dbo].[SalesBoard] ADD  CONSTRAINT [DF_SalesBoard_dateSold]  DEFAULT (getdate()) FOR [dateSold]
GO
ALTER TABLE [dbo].[SalesBoard] ADD  CONSTRAINT [DF_SalesBoard_addUser]  DEFAULT ((0)) FOR [addUser]
GO
