USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/24/2021
-- =============================================
CREATE PROCEDURE [dbo].[EmailTemplate_Save]
	  @ID					int
	, @Name					varchar(50)
	, @Description			varchar(200)
	, @Subject				varchar(100)
	, @Template				text
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE EmailTemplate
			SET
				  Name = @Name
				, Description = @Description
				, Subject = @Subject
				, Template = @Template
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO EmailTemplate
			(
				  Name
				, Description
				, Subject
				, Template
			)
			VALUES
			(
				  @Name
				, @Description
				, @Subject
				, @Template
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
