USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/4/2019
-- Description:	Update a profile misc record
-- =============================================
CREATE PROCEDURE [dbo].[CustomerProfilesMisc_Update]
	  @ID	int
	, @CustomerProfilesID	int
	, @TaxRate	real
	, @SecondTaxRateStart	real
	, @SecondTaxRate	real
	, @ChargeForRadiatorRefilling	bit
	, @RadiatorChargeAmount	money
	, @ChargeForACRefilling	bit
	, @ACChargeHow	tinyint
	, @ACChargeAmount	money
	, @LKQText	varchar(50)
	, @TotalLossPerc	real
	, @IncludeStructureInBody	bit
	, @ChargeForAimingHeadlights	bit
	, @ChargeForPowerUnits	bit
	, @ChargeForRefrigRecovery	bit
	, @SuppressAddRelatedPrompt	bit
	, @ChargeSuppliesOnAllOperations	bit
	, @SuppLevel	tinyint
	, @DoNotMarkChanges	bit
	, @UseSepPartLaborTax	bit
	, @PartTax	real
	, @LaborTax	real
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE CustomerProfilesMisc
	SET
		  CustomerProfilesID = @CustomerProfilesID
		, TaxRate = @TaxRate
		, SecondTaxRateStart = @SecondTaxRateStart
		, SecondTaxRate = @SecondTaxRate
		, ChargeForRadiatorRefilling = @ChargeForRadiatorRefilling
		, RadiatorChargeAmount = @ChargeForACRefilling
		, ChargeForACRefilling = @ChargeForACRefilling
		, ACChargeHow = @ACChargeAmount
		, ACChargeAmount = @ACChargeAmount
		, LKQText = @LKQText
		, TotalLossPerc = @TotalLossPerc
		, IncludeStructureInBody = @IncludeStructureInBody
		, ChargeForAimingHeadlights = @ChargeForAimingHeadlights
		, ChargeForPowerUnits = @ChargeForPowerUnits
		, ChargeForRefrigRecovery = @ChargeForRefrigRecovery
		, SuppressAddRelatedPrompt = @SuppressAddRelatedPrompt
		, ChargeSuppliesOnAllOperations = @ChargeSuppliesOnAllOperations
		, SuppLevel = @SuppLevel
		, DoNotMarkChanges = @DoNotMarkChanges
		, UseSepPartLaborTax = @UseSepPartLaborTax
		, PartTax = @PartTax
		, LaborTax = @LaborTax
	WHERE id = @ID
END
GO
