USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 6/12/23
-- Description:	Get Opt Out records
-- =============================================
CREATE PROCEDURE [dbo].[OptOut_Get]
	  @LoginID				int
	, @TypeID				tinyint
	, @DetailID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM OptOut
	WHERE 
		LoginID = @LoginID
		AND TypeID = @TypeID
		AND (DetailID = @DetailID OR @DetailID = 0)
END
GO
