USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Summary] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NULL,
	[Priority] [nvarchar](50) NULL,
	[URL] [nvarchar](500) NULL,
	[FilePath] [nvarchar](500) NULL,
	[StartDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[ShowInSupport] [bit] NULL,
 CONSTRAINT [PK_Announcement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
