USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[ShowHideAutoPaints]
	@AdminInfoID Int
AS
DECLARE @Service_BarCode VarChar(10)
SELECT @Service_BarCode  = FocusWrite.Dbo.GetServiceBarcode(@AdminInfoID)

SELECT EstimationLineItems.PartNumber, 
	EstimationLineItems.Barcode, 
	EstimationLineItems.Description, 
	EstimationLineItems.AutoAdd, 
	EstimationLineItems.AutomaticCharge,
	EstimationLineItems.Suppress
FROM FocusWrite.Dbo.EstimationData EstimationData with(nolock)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems with(nolock) ON
	(EstimationLineItems.EstimationDataID = EstimationData.id)
WHERE AdminInfoID = @AdminInfoID

/******************************************************************************************/
SELECT 	EstimationLineItems.AutoAdd 'AutoAdd1',
	EstimationLineItems.AutomaticCharge 'AutomaticCharge1',
	Detail.barcode 'barcode1', Part.Part_Desc 'Part_Desc1', Detail.Part_Text 'Part_Text1', Detail.Labor_Hours 'Labor_Hours1', CONVERT(Bit,0) 'Suppress1',
	Matrix.Relationship,
	EstimationLineItems2.AutoAdd 'AutoAdd2',
	EstimationLineItems2.AutomaticCharge 'AutomaticCharge2',
	Detail2.barcode 'barcode2', Part2.Part_Desc 'Part_Desc2', Detail2.Part_Text 'Part_Text2', Detail2.Labor_Hours 'Labor_Hours2', CONVERT(Bit,0) 'Suppress2'
INTO #Temp
FROM Mitchell3.Dbo.Part Part with(nolock)
INNER JOIN Mitchell3.Dbo.Detail Detail with(nolock) ON
	(Detail.Service_BarCode =		Part.Service_BarCode AND
	 Detail.nheader =			Part.nheader AND
	 Detail.nSection =			Part.nSection AND
	 Detail.nPart = 			Part.nPart )
INNER JOIN Mitchell3.Dbo.Matrix Matrix ON
	(Matrix.Service_Barcode = 	Detail.Service_BarCode AND
	 --Matrix.Relationship = 		1 AND
	 Matrix.PArent_Barcode = 	Detail.barcode)

INNER JOIN Mitchell3.Dbo.Detail Detail2 ON
	(Detail2.Service_BarCode = 	Detail.Service_BarCode AND
	 Detail2.barcode = 		Matrix.Child_Barcode)
INNER JOIN Mitchell3.Dbo.Part Part2 ON
	(Part2.Service_BarCode = 	Detail2.Service_BarCode AND
	 Part2.nheader = 		Detail2.nheader AND
	 Part2.nSection = 		Detail2.nSection AND
	 Part2.nPart = 			Detail2.nPart)

INNER JOIN FocusWrite.Dbo.EstimationData EstimationData ON
	(EstimationData.AdminInfoID = @AdminInfoID)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems ON
	(EstimationLineItems.EstimationDataID = EstimationData.id AND
	 EstimationLineItems.Barcode = Detail.barcode)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems2 ON
	(EstimationLineItems2.EstimationDataID = EstimationData.id AND
	 EstimationLineItems2.Barcode = Detail2.barcode)

WHERE 	EstimationData.AdminInfoID = @AdminInfoID AND
	Part.Service_BarCode = @Service_BarCode AND
	Detail.Labor_Op = 6 AND
	Detail2.Labor_Op = 6 
ORDER BY Detail2.barcode

SELECT * FROM #Temp

--Get a list of Parents who's children need suppressed because the parent was manually added
SELECT DISTINCT
	CONVERT(VarChar(50),'Suppress Children of, Parent added manually') 'Msg',
	BarCode2,
	Labor_Hours2,
	0 Labor_Hours1
INTO #ParentSupp
FROM #Temp T
WHERE ISNULL(AutomaticCharge2,1) = 0 AND ISNULL(AutoAdd2,1) = 0
UNION ALL
SELECT DISTINCT
	'Suppress Children of' 'Msg',
	BarCode2,
	Labor_Hours2,
	Sum(Labor_Hours1) 'Labor_Hours1'
FROM #Temp T
GROUP BY BarCode2,
	Labor_Hours2
HAVING Sum(Labor_Hours1) > Labor_Hours2

SELECT 'ParentSupp',* FROM #ParentSupp 

--Get a list of Children Who's parents need suppressed
SELECT DISTINCT
	CONVERT(VarChar(50),'Suppress Parent') 'Msg',
	T.BarCode2,
	T.Labor_Hours2,
	Sum(T.Labor_Hours1) 'Labor_Hours1'
INTO #ChildrenSupp 
FROM #Temp T
LEFT JOIN #ParentSupp PS ON
	(PS.BarCode2 = T.BarCode2)
WHERE PS.BarCode2 IS NULL
GROUP BY T.BarCode2,
	T.Labor_Hours2
HAVING Sum(T.Labor_Hours1) <= T.Labor_Hours2

SELECT 'ChildrenSupp',* FROM #ChildrenSupp 

UPDATE FocusWrite.Dbo.EstimationLineItems
SET	Suppress = 0
FROM FocusWrite.Dbo.Estimationdata Estimationdata with(nolock)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems  ON
	(EstimationLineItems.EstimationDataID = EstimationData.ID)
INNER JOIN #Temp T ON
	(T.BarCode1 = EstimationLineItems.BarCode)
WHERE EstimationData.AdminInfoID = @AdminInfoID

--Suppress Parents
UPDATE FocusWrite.Dbo.EstimationLineItems
SET	Suppress = 1
FROM FocusWrite.Dbo.Estimationdata Estimationdata with(nolock)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems ON
	(EstimationLineItems.EstimationDataID = EstimationData.ID)
INNER JOIN #ChildrenSupp P ON
	(P.BarCode2 = EstimationLineItems.Barcode)
WHERE EstimationData.AdminInfoID = @AdminInfoID

--Suppress Children
UPDATE FocusWrite.Dbo.EstimationLineItems
SET	Suppress = 1
FROM FocusWrite.Dbo.Estimationdata Estimationdata with(nolock)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems ON
	(EstimationLineItems.EstimationDataID = EstimationData.ID)
INNER JOIN #Temp T ON
	(T.BarCode1 = EstimationLineItems.BarCode)
INNER JOIN #ParentSupp C ON
	(C.BarCode2 = T.Barcode2)
WHERE EstimationData.AdminInfoID = @AdminInfoID

DROP TABLE #Temp 
DROP TABLE #ParentSupp
DROP TABLE #ChildrenSupp

SELECT EstimationLineItems.PartNumber, 
	EstimationLineItems.Barcode, 
	EstimationLineItems.Description, 
	EstimationLineItems.AutoAdd, 
	EstimationLineItems.AutomaticCharge,
	EstimationLineItems.Suppress
FROM FocusWrite.Dbo.EstimationData EstimationData with(nolock)
INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems with(nolock) ON
	(EstimationLineItems.EstimationDataID = EstimationData.id)
WHERE AdminInfoID = @AdminInfoID



GO
