USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 8/29/2019
-- Description:	Get invoice paid tracking records for an invoice
-- =============================================
CREATE PROCEDURE [dbo].[InvoicePaidTracking_GetForInvoice]
	  @InvoiceID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM InvoicePaidTracking
	WHERE InvoiceID = @InvoiceID
	ORDER BY DateTracked DESC

END
GO
