USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [dbo].[VerifyDate] (@pValue VarChar(25))
RETURNS DateTime AS  
BEGIN
	DECLARE @TempValue VarChar(20)

	DECLARE @Service_BarCode VarChar(10)
	DECLARE @YearTxt VarChar(25)
	DECLARE @Year Int
	DECLARE @Month Int
	DECLARE @MonthTxt VarChar(25)
	DECLARE @Day Int
	DECLARE @DayTxt VarChar(25)
	DECLARE @ProdDatad DateTime
	/*
	SELECT @Service_BarCode = ServicesToVehicleID.BarCode
	FROM ServicesToVehicleID
	WHERE ServicesToVehicleID.VehicleID = @VehicleID
	
	SELECT @ProdData = VehicleInfo.ProductionDate
	FROM FocusWrite.Dbo.EstimationData EstimationData
	INNER JOIN FocusWrite.Dbo.VehicleInfo VehicleInfo ON
		(VehicleInfo.EstimationDataId = EstimationData.id)
	WHERE EstimationData.AdminInfoID = @AdminInfoID
	*/	
	
	EXECUTE Master.Dbo.XP_REGEX_SPLIT 
		@input = @pValue,
		@Regex = '\s*[/-]\s*',
		@column_number = 3,
		@Result = @YearTxt OUTPUT

	IF @YearTxt LIKE '[12][0-9][0-9][0-9]'
		SELECT @Year = CONVERT(Int,@YearTxt)
	
	EXECUTE Master.Dbo.XP_REGEX_SPLIT 
		@input = @pValue,
		@Regex = '\s*[/-]\s*',
		@column_number = 1,
		@Result = @MonthTxt OUTPUT
	
	IF Len(@MonthTxt) = 1 AND @MonthTxt LIKE '[1-9]'
		SELECT @Month = CONVERT(Int,@MonthTxt)
	IF Len(@MonthTxt) = 2 AND (@MonthTxt LIKE '1[0-2]' OR @MonthTxt LIKE '0[1-9]')
		SELECT @Month = CONVERT(Int,@MonthTxt)
	
	EXECUTE Master.Dbo.XP_REGEX_SPLIT 
		@input = @pValue,
		@Regex = '\s*[/-]\s*',
		@column_number = 2,
		@Result = @DayTxt OUTPUT

	IF @YearTxt IS NULL AND @DayTxt LIKE '[12][0-9][0-9][0-9]'
		SELECT @Year = CONVERT(Int,@DayTxt),
			@DayTxt = '01'

	IF Len(@DayTxt) = 1 AND @DayTxt LIKE '[1-9]'
		SELECT @Day = CONVERT(Int,@DayTxt)
	IF Len(@DayTxt) = 2 AND (@DayTxt LIKE '[1-3][0-9]' OR @DayTxt LIKE '0[1-9]')
		SELECT @Day = CONVERT(Int,@DayTxt)
	
	IF @Day IS NOT NULL AND @Month IS NOT NULL AND @Year IS NOT NULL AND @Year BETWEEN 1900 AND 2100
	BEGIN
		IF 	CASE	WHEN @Month IN (1,3,5,7,8,10,12) AND @Day BETWEEN 1 and 31 	THEN 1
				WHEN @Month IN (4,6,9,11) AND @Day BETWEEN 1 and 30 		THEN 1
				WHEN	@Month = 2 AND 	-- Verify Not Leap Year
					( CONVERT(Real,@Year)/400 <> @Year/400 OR
					  CONVERT(Real,@Year)/4 <> @Year/4 ) AND
					@Day BETWEEN 1 AND 28					THEN 1
				WHEN	@Month = 2 AND 	-- Verify Leap Year
					( CONVERT(Real,@Year)/400 = @Year/400 OR
					  CONVERT(Real,@Year)/4 = @Year/4 ) AND
					@Day BETWEEN 1 AND 29					THEN 1
				ELSE 0
			END = 1
		BEGIN
			SELECT @TempValue = CONVERT(DateTIme,CONVERT(VarChar(2),@Month)+'/'+CONVERT(VarChar(2),@Day)+'/'+CONVERT(VarChar(4),@Year))
		END
	END
	
	RETURN (@TempValue)
END




GO
