USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:		Ezra 
-- Create date: 4/3/2018 
-- Description:	Copied from App_Functions 
-- ============================================= 
CREATE PROCEDURE [dbo].[Overlaps_AcceptChecked] 
	@AdminInfoID		int, 
	@IDsChecked			varchar(1000) 
AS 
BEGIN 
	 
	DECLARE @SupplementVersion INT = (SELECT ISNULL(EstimationData.LockLevel, 0) 
	FROM EstimationData   
	WHERE AdminInfoID = @AdminInfoID) 
  
	SELECT @IDsChecked = ',' + @IDsChecked + ','  
  
	EXECUTE AddCheckedAutoIncludes  
		@AdminInfoID = @AdminInfoID,   
		@IDsChecked = @IDsChecked,  
		@AddAll = 0  
  
	INSERT INTO EstimationOverlap   
	(	 
		  EstimationLineItemsID1 
		, EstimationLineItemsID2 
		, OverlapAdjacentFlag 
		, Amount 
		, Minimum 
		, UserOverride 
		, UserAccepted 
		, UserResponded 
		, SupplementLevel 
	)  
	SELECT  
		  EOP.ActionID 
		, ISNULL(EOP.ResultID,EstimationLineItems.id) 
		, CASE WHEN EOP.ActionCode = 9 THEN 'S' ELSE 'O' END 
		, EOP.OverlapAmount 
		, EOP.MinimumLabor 
		, 0 
		, CASE WHEN T.ID IS NOT NULL THEN 1 ELSE 0 END 
		, 1 
		, @SupplementVersion  
	FROM EstimationOverlapProposed EOP   
	INNER JOIN EstimationData ON EstimationData.AdminInfoID = EOP.AdminInfoID 
	LEFT JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID AND EstimationLineItems.Barcode = EOP.BarcodeInc 
	LEFT JOIN EstimationOverlap EO ON EO.EstimationLineItemsID1 = EOP.ActionID AND EO.EstimationLineItemsID2 = ISNULL(EOP.ResultID,EstimationLineItems.id) 
	LEFT JOIN  
	(	 
		SELECT EOP1.id  
		FROM EstimationOverlapProposed EOP1   
		WHERE CHARINDEX(',' + CONVERT(VarChar(10), EOP1.ID) + ',', @IDsChecked) > 0  
 
		UNION  
		 
		SELECT EOP2.id  
		FROM EstimationOverlapProposed EOP1   
		INNER JOIN EstimationOverlapProposed EOP2 ON EOP1.ActionPart = EOP2.ActionPart 
		WHERE CHARINDEX(',' + CONVERT(VarChar(10), EOP1.ID) + ',', @IDsChecked) > 0	 
	) T ON T.id = EOP.ID 
	WHERE  
		EOP.AdminInfoID = @AdminInfoID   
		AND EO.EstimationLineItemsID1 IS NULL   
		AND EOP.Reason <> 'Added Because of'  
		AND EOP.ActionID IS NOT NULL   
		AND ISNULL(EOP.ResultID, EstimationLineItems.id) IS NOT NULL  
  
	UPDATE EstimationLineItems  
	SET PartOfOverhaul = 1  
	FROM EstimationLineItems  
	INNER JOIN   
	(  
		SELECT EstimationLineItems1.ID  
		FROM EstimationOverlap EO   
		INNER JOIN EstimationLineItems EstimationLineItems1 ON EstimationLineItems1.id = EO.EstimationLineItemsID1  
		INNER JOIN EstimationLineItems EstimationLineItems2 ON EstimationLineItems2.id = EO.EstimationLineItemsID2 
		INNER JOIN EstimationData ON EstimationData.id = EstimationLineItems1.EstimationDataID  
		WHERE EstimationData.AdminInfoID = @AdminInfoID AND EstimationLineItems2.ActionCode = 'Over' 
	) T ON T.ID = EstimationLineItems.id   
  
	EXEC Overlaps_DeleteProposals @AdminInfoID = @AdminInfoID 
 
	EXECUTE UpdateAdminTotals @AdminInfoID = @AdminInfoID 
 
END 
GO
