USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 5/11/2018 
-- Description:	Add a record to the query log 
-- ============================================= 
CREATE PROCEDURE [dbo].[QueryLog_Insert] 
	@StoredProcedure		varchar(100), 
	@Parameters				varchar(3000), 
	@PageRequest			varchar(200), 
	@ExecutionTicks			int, 
	@LoginID				int, 
	@EstimateID				int 
AS 
BEGIN 
	INSERT INTO QueryLog([TimeStamp], [StoredProcedure], [Parameters], [PageRequest], [LoginID], [EstimateID], [ExecutionTicks]) 
	VALUES (GETDATE(), @StoredProcedure, @Parameters, @PageRequest, @LoginID, @EstimateID, @ExecutionTicks) 
END 
GO
