USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[InsertSalesRep]
	@SalesNumber varchar(50),
	@FirstName varchar(50),
	@LastName varchar(50),
	@Email varchar(50)
AS

/*

EXECUTE InsertSalesRep
	@SalesNumber = 999,
	@FirstName = 'Mickey',
	@LastName = 'Mouse',
	@Email = 'mmouse@web-est.com'

*/

-- Create random password
DECLARE @Password varchar(50)
SET @Password = 'P@ssword' + Replace(Right(Convert(varchar,Rand()),4),'0','9')


-- Open encryption key		
OPEN SYMMETRIC KEY WebEstEncryptionKey
	DECRYPTION BY CERTIFICATE WebEstEncryptionCertificate
   

INSERT INTO	SalesRep (
	SalesNumber,
	FirstName,
	LastName,
	Email,
	UserName,
	Password
)
VALUES (
	@SalesNumber,
	@FirstName,
	@LastName,
	@Email,
	Lower(Left(@FirstName, 1) + @LastName),
	EncryptByKey(Key_GUID('WebEstEncryptionKey'), @Password)
)


GO
