USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/25/2020
-- =============================================
CREATE PROCEDURE [dbo].[AddOn_GetMatchDetails]
	@Search				VARCHAR(4000) -- = 'Detail.Prtc_Description LIKE ''%door shell%'''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Get all cars (made on or after 2000) in a temp table
	Create TABLE #AllCars 
	(
		  ServiceBarcode		int
		, Make					varchar(50)
		, Model					varchar(50)
		, YearStart				int
		, YearEnd				int
	)

	INSERT INTO #AllCars
	SELECT 
		  Vehicle_Service_Xref.Service_Barcode
		, Makes.Make
		, Models.Model
		, MIN(VinYear) AS YearStart
		, MAX(VinYear) AS YearEnd
	FROM Vinn.dbo.Vehicle_Service_Xref
	LEFT OUTER JOIN Vinn.dbo.Makes ON Vehicle_Service_Xref.MakeID = Makes.MakeID
	LEFT OUTER JOIN Vinn.dbo.Models ON Vehicle_Service_Xref.ModelID = Models.ModelID
	LEFT OUTER JOIN Mitchell3.dbo.Service ON Vehicle_Service_Xref.Service_Barcode = Service.Service_Barcode
	WHERE Vehicle_Service_Xref.VinYear >= 2000
		AND VinYear BETWEEN from_year AND to_year
	GROUP BY
		  Vehicle_Service_Xref.Service_Barcode
		, Makes.Make
		, Models.Model
	ORDER BY Make, Model



	-- Get a list of all service barcodes and part descriptions that match the searched words
	Create TABLE #Base 
	(
		  ServiceBarcode		int
		, Category				varchar(100)
		, Prtc_Description		varchar(100)
	)

	DECLARE @Query NVARCHAR(4000) = 
	'SELECT DISTINCT Category.Service_BarCode, Category.Category, Detail.Prtc_Description
	FROM Mitchell3.dbo.Category
	LEFT OUTER JOIN Mitchell3.dbo.Detail ON Category.Service_BarCode = Detail.Service_BarCode AND Category.nheader = Detail.nheader
	LEFT OUTER JOIN Vinn.dbo.Vehicle_Service_Xref ON Category.Service_BarCode = Vehicle_Service_Xref.Service_Barcode
	WHERE ' + @Search

	INSERT INTO #Base
	EXECUTE sp_executesql @Query


	-- Get all part matches
	SELECT 
		  Category
		, Prtc_Description AS PartDescription
		, COUNT(*) AS VehicleCount
	FROM #Base 
	GROUP BY Category, Prtc_Description
	ORDER BY COUNT(*) DESC

	-- Select all cars that DON'T match the search
	SELECT 
		  AllCars.ServiceBarcode
		, AllCars.Make
		, AllCars.Model
		, MIN(YearStart) AS YearStart
		, MAX(YearEnd) AS YearEnd
	FROM #AllCars AllCars
	LEFT OUTER JOIN #Base Base ON AllCars.ServiceBarcode = Base.ServiceBarcode 
	WHERE Base.ServiceBarcode IS NULL
	GROUP BY 
		  AllCars.ServiceBarcode
		, AllCars.Make
		, AllCars.Model
	ORDER BY Make, Model

END
GO
