USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
CREATE PROCEDURE [dbo].[sp_GetOrganizationInfo] 
	@loginsID		int 
AS 
BEGIN 
	--SELECT * 
	--FROM OrganizationInfo 
	--WHERE CustomerNumber = @loginsID 
 
	SELECT OrganizationInfo.* 
	FROM Logins 
	JOIN OrganizationInfo ON OrganizationInfo.ID = Logins.OrganizationID 
	WHERE Logins.id = @loginsID 
END 
 
 
GO
