USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/17/2018
-- Description: Get forgot password information by e-mail address
-- =============================================
CREATE PROCEDURE [dbo].[GetForgotPasswordInformation]
	@EmailAddress		varchar(75)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT tbl_ContactPerson.FirstName, tbl_ContactPerson.LastName, tbl_ContactPerson.Email, Logins.LoginName, Logins.Organization, Logins.Password
	FROM tbl_ContactPerson  with(nolock)
	JOIN OrganizationInfo  with(nolock) ON OrganizationInfo.OrgInfoContactsID = tbl_ContactPerson.ContactID
	JOIN Logins with(nolock) ON OrganizationInfo.id = Logins.OrganizationID
	WHERE Email = @EmailAddress
END
GO
