USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[UpdateOtherContactInformation]
	@AdminInfoID Int,
	@InsuranceCompanyName VarChar(50),
	@InsuranceCompanyName2 VarChar(50),
	@PolicyNumber VarChar(50),
	@ClaimNumber VarChar(50),
	@DateOfLoss DATETIME = null,
	@CoverageType int,
	@LoginsID Int,
	@ClaimantSameAsOwner BIT,
	@InsuredSameAsOwner BIT,
    @Deductible money = NULL
AS

-- Ezra - 8/8/2016 - Moved this data to the EstimationData table.
UPDATE EstimationData
SET 
	ClaimNumber = @ClaimNumber
	, InsuranceCompanyName = @InsuranceCompanyName
	, PolicyNumber = @PolicyNumber
	, Deductible = @Deductible
	, CoverageType = @CoverageType 
	, DateOfLoss = @DateOfLoss
	, ClaimantSameAsOwner = @ClaimantSameAsOwner
	, InsuredSameAsOwner = @InsuredSameAsOwner
WHERE AdminInfoID = @AdminInfoID
 

GO
