USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 2/27/2018 
-- Description:	Get line item previews for PDR items, these are to be joined with the list on the AddParts page 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_GetLineItemsPreview] 
	@AdminInfoID		int 
AS 
BEGIN 
	 
	SELECT  
		'' AS LineItems 
		, PDR_Panel.PanelID AS ID 
		, 'PDR' AS Step 
		, '' AS ActionDescription 
		, 'PDR' as ActionCode 
		, '' AS PartNumber 
		, PDR_Rate.Amount * CASE WHEN ISNULL(PDR_Multiplier.Value, 0) = 0 THEN 1 ELSE PDR_Multiplier.Value / 100 END AS Price 
		, '' AS PartSource 
		, PDR_Panel.PanelName + ' Dents ' + CAST(PDR_QuantityLookup.Min AS VARCHAR) + ' - ' + CAST(PDR_QuantityLookup.Max AS VARCHAR) + ' ' + PDR_SizeLookup.Size AS PartDescription 
		, 'No' AS PartOfOverhaul 
		, PDR_EstimateData.AdminInfoID 
		, 0 AS LineID 
		, 0 AS LineNumber 
		, 0 AS Locked 
		, -1 AS Modified 
		, 'Edit' AS EditText 
		, 'Delete' AS DeleteText 
	FROM PDR_EstimateData 
 
	-- Join in PDR panels with selections 
	JOIN PDR_EstimateDataPanel ON PDR_EstimateDataPanel.AdminInfoID = PDR_EstimateData.AdminInfoID 
		AND (PDR_EstimateDataPanel.QuantityID > 0 OR PDR_EstimateDataPanel.OversizedDents > 0) 
 
	-- Join the rate profile data 
	JOIN PDR_RateProfile ON PDR_EstimateData.RateProfileID = PDR_RateProfile.ID 
	JOIN PDR_Rate ON  
		PDR_RateProfile.ID = PDR_Rate.RateProfileID  
		AND PDR_Rate.Size = PDR_EstimateDataPanel.SizeID 
		AND PDR_Rate.PanelID = PDR_EstimateDataPanel.PanelID 
		AND PDR_Rate.Quantity = PDR_EstimateDataPanel.QuantityID 
 
	JOIN PDR_Panel ON PDR_EstimateDataPanel.PanelID = PDR_Panel.PanelID 
	JOIN PDR_SizeLookup ON PDR_EstimateDataPanel.SizeID = PDR_SizeLookup.ID 
	JOIN PDR_QuantityLookup ON PDR_EstimateDataPanel.QuantityID = PDR_QuantityLookup.ID 
	LEFT OUTER JOIN PDR_Multiplier ON PDR_EstimateDataPanel.Multiplier = PDR_Multiplier.ID 
	WHERE PDR_EstimateData.AdminInfoID = @AdminInfoID 
 
END 
GO
