USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [dbo].[getRate] (@ProfileID int,@RateType varchar(20))
RETURNS money AS  
BEGIN
	DECLARE @Rate Money

	SELECT top 1 @Rate = ISNULL(Rate,0) 
	FROM CustomerProfileRates as c WITH (NOLOCK)
	INNER JOIN RateTypes  as r WITH (NOLOCK) ON
		(r.ID = c.RateType)	 
	WHERE c.CustomerProfilesID = @ProfileID
	and EMSCode1 = case when @RateType = 'LA2S'Then 'LAR' else @RateType end
	 
	
	
	RETURN (@Rate)
END




GO
