USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[AdminInfoID] [int] NULL,
	[ErrorText] [varchar](2000) NULL,
	[TimeOccurred] [datetime] NULL,
	[SessionVars] [varchar](2000) NULL,
	[ErrorFixed] [bit] NULL,
	[FixNote] [varchar](255) NULL,
	[App] [varchar](25) NULL,
 CONSTRAINT [PK_Errors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Errors] ADD  CONSTRAINT [DF_Errors_TimeOccurred]  DEFAULT (getdate()) FOR [TimeOccurred]
GO
ALTER TABLE [dbo].[Errors] ADD  CONSTRAINT [DF_Errors_ErrorFixed]  DEFAULT (0) FOR [ErrorFixed]
GO
