USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[StripeCustomerID] [varchar](50) NULL,
	[StripeCardID] [varchar](50) NULL,
	[CardLast4] [varchar](4) NULL,
	[CardExpiration] [datetime] NULL,
	[DeleteFlag] [bit] NULL,
	[CardError] [bit] NULL,
	[ErrorMessage] [varchar](300) NULL,
	[PlaidAccessToken] [varchar](50) NULL,
	[PlaidItemID] [varchar](50) NULL,
	[StripeBankAccountToken] [varchar](50) NULL,
	[AutoPay] [bit] NULL,
 CONSTRAINT [PK_StripeInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
