USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsuranceCompanyEmployee_Update]
	  @ID					int
	, @LoginID				int
	, @InsuranceCompanyID	int
	, @EmployeeType			tinyint
	, @FirstName			varchar(50)
	, @LastName				varchar(50)
	, @Phone				varchar(20)
	, @Extension			varchar(10)
	, @Fax					varchar(20)
	, @Email				varchar(100)
	, @IsDeleted			BIT	=	0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE InsuranceCompanyEmployee
			SET
				  LoginID = @LoginID
				, InsuranceCompanyID = @InsuranceCompanyID
				, EmployeeType = @EmployeeType
				, FirstName = @FirstName
				, LastName = @LastName
				, Phone = @Phone
				, Extension = @Extension
				, Fax = @Fax
				, Email = @Email
				, IsDeleted = @IsDeleted
			WHERE ID = @ID
			
			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO InsuranceCompanyEmployee
			(
				  LoginID
				, InsuranceCompanyID
				, EmployeeType
				, FirstName
				, LastName
				, Phone
				, Extension
				, Fax
				, Email
				, IsDeleted
			)
			VALUES
			(
				  @LoginID
				, @InsuranceCompanyID
				, @EmployeeType
				, @FirstName
				, @LastName
				, @Phone
				, @Extension
				, @Fax
				, @Email
				, @IsDeleted
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
	END
GO
