USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 9/6/2019 
-- Description:	Get the paint code location note for an estimate 
-- ============================================= 
CREATE PROCEDURE [dbo].[GetPaintCodeLocation] 
	@AdminInfoID				int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    DECLARE @Service_Barcode VarChar(10) = Mitchell3.Dbo.GetServiceBarcode(@AdmininfoID) 
 
	SELECT TOP 1 Note_Text 
	FROM Mitchell3.dbo.Part_Note_Xref  
	INNER JOIN Mitchell3.dbo.Note ON Note.Service_Barcode = Part_Note_Xref.Service_Barcode AND Note.Note_Id = Part_Note_Xref.Note_id  
	WHERE 
		Part_Note_Xref.Service_Barcode = @Service_BarCode  
		AND	Part_Note_Xref.nSection = 0  
		AND	Part_Note_Xref.nPart = 0 
		AND Part_Note_Xref.Note_Type = 82 
		AND Note_Text LIKE '%Located%' 
END 
GO
