USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/28/2021
-- Description:	Gets the sections for a vehicle for display on the AddOns page
-- =============================================
CREATE PROCEDURE [dbo].[AddOnManager_GetSections]
	  @ServiceBarcode	VARCHAR(10)
	, @Year				INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT DISTINCT
		Category.nheader * 256 + ISNULL(Subcategory.nsection, 0) 'SectionKey',
		Category.nheader,
		ISNULL(Subcategory.nsection, 0) AS nsection,
		dbo.CapFirstSection(
			CASE 
				WHEN Category.Category IS NULL AND SubCategory.Subcategory IS NOT NULL
					THEN SubCategory.Subcategory
	 			WHEN Category.Category IS NOT NULL AND SubCategory.Subcategory IS NULL
					THEN Category.Category
				WHEN Category.Category = SubCategory.Subcategory
					THEN Category.Category 
				ELSE Category.Category + ' \ ' + SubCategory.Subcategory
			END
		) 'SectionName'
	FROM Mitchell3.dbo.Category
	LEFT OUTER JOIN Mitchell3.dbo.Subcategory ON Subcategory.Service_BarCode = Category.Service_BarCode AND Subcategory.nheader = Category.nheader 
	WHERE 
		Category.Service_Barcode = @ServiceBarcode
END
GO
