USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[LoginTrackingGet]  
	@ID				int = 0,
	@StartDate		datetime = null,
	@EndDate		datetime = null,
	@LoginID		int = null,
	@IsMobile		bit = null
AS
BEGIN

	SELECT *
	FROM LoginTracking
	WHERE
		(@ID IS NULL OR ID = @ID)
		AND ((@StartDate IS NULL AND @EndDate IS NULL) OR TimeStamp BETWEEN @StartDate AND @EndDate)
		AND (@LoginID IS NULL OR LoginID = @LoginID)
		AND (@IsMobile IS NULL OR IsMobile = IsMobile)

end
GO
