USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetReportsByAdminInfo]
@AdminInfoId int = null,
@ReportID	int = null
AS
SELECT 	R.id
	,R.AdminInfoID
	,R.ReportType
	,R.FileName
	,R.Description
	,R.DateCreated
	,R.IsTemp
	,convert(bit,case when IsNull(SE.id,0)=0 then 0 else 1 end )as IsMailSent
FROM Reports R with(nolock) left join sentestimate SE on SE.ReportID=R.id
WHERE (@AdminInfoId IS NULL OR R.admininfoid =@AdminInfoId)
	AND (@ReportID IS NULL OR R.id = @ReportID)


GO
