USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
  
CREATE PROCEDURE [dbo].[sp_GetRateProfileList] 
  
	@LoginsID int 
	,@AddBlank int = 0  
	,@AdminInfoID int = null 
as 
BEGIN 
	 
 
	SET NOCOUNT ON; 
 
	 declare @Return int, @AppraiserFlag int ,@Return2  int 
	SELECT @Return = NULL 
	SELECT @AppraiserFlag = 0 
	 
	SELECT @AppraiserFlag = ISNULL(Logins.Appraiser,0) 
	FROM AdminInfo WITH (NOLOCK) 
	INNER JOIN Logins WITH (NOLOCK) ON 
		(Logins.id = AdminInfo.CreatorID) 
	WHERE AdminInfo.ID = @AdminInfoID 
 
	SELECT TOP 1 @Return = CustomerProfiles.ID  
	FROM CustomerProfiles WITH (NOLOCK) 
	WHERE OwnerType = 0 AND 
		OwnerID = @LoginsID AND 
		DefaultFlag = 1 
 
	SELECT @Return = ISNULL(@Return,-1) 
 
	SELECT @Return2 = NULL 
	SELECT @Return2 = AdminInfo.CustomerProfilesID 
	FROM AdminInfo WITH (NOLOCK) 
	  
	WHERE AdminInfo.ID = @AdminInfoID 
 
	IF @Return2 IS NULL and @Return <> -1 
	BEGIN 
		UPDATE AdminInfo WITH (ROWLOCK) 
		SET CustomerProfilesID = @Return 
		FROM AdminInfo WITH (ROWLOCK) 
		WHERE AdminInfo.ID = @AdminInfoID 
 
		SELECT @Return2 = @Return 
	END 
 
	SELECT CustomerProfiles.id,  
		REPLACE(CustomerProfiles.ProfileName,'&nbsp;','') 'ProfileName',  
		REPLACE(CustomerProfiles.Description,'&nbsp;','') 'Description',  
		CustomerProfiles.DefaultFlag,  
		ISNULL(CustomerProfiles.DefaultPreset,0) 'PresetDefaultFlag',  
		CustomerProfiles.CreationDate, 
		CASE	WHEN CustomerProfiles.id = @Return2 AND @AppraiserFlag = 0 AND @Return2 <> @Return THEN '<BR><B><I>Current Estimate''s Profile</I></B>' 
			WHEN CustomerProfiles.id = @Return2 AND @AppraiserFlag <> 0 AND @Return2 <> @Return THEN '<BR><B><I>Current Appraisal''s Profile</I></B>' 
			ELSE '' 
		END 'CurrentProfile',IsNull(@Return2,-1) 'Selected', @Return 'Default' 
	FROM CustomerProfiles WITH (NOLOCK) 
	WHERE OwnerType = 0 AND 
		OwnerID = @LoginsID AND 
		(CustomerProfiles.AdminInfoID IS NULL OR CustomerProfiles.id = @Return2) 
		AND ISNULL(Deleted, 0) = 0 
END 
 
 
GO
