USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReportEmail_GetByID]
	@ID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--Make vertical to horizontal **** ONLY WORKS WHEN 1 or 0 'delivered' AND 1 or 0 not in ('delivered', 'processed') SO NOT USED ****
	--@ID = 665894 shows an issue with duplicate ReportEmail.*
	--@ID = 665893 shows GOOD cause 1 'delivered' and 1 'bounce'
    SELECT
		ReportEmail.*,
		SendGridInfo.Email, SendGridInfo.Event, --'delivered'
		SendGridError.Email, SendGridError.Event, SendGridError.Reason
	FROM
		ReportEmail
		Left Join SendGridInfo on ReportEmail.EmailID = SendGridInfo.EmailID and SendGridInfo.[Event] = 'delivered'
		Left Join SendGridInfo as SendGridError on ReportEmail.EmailID = SendGridError.EmailID and SendGridError.[Event] not in ('delivered', 'processed')		
	WHERE ReportEmail.ID = @ID
	--ORDER BY SentStamp DESC
END
GO
