USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[ExtractVinDecodeItem] (
	@VinDecode VarChar(5000), 
	@SearchString VarChar(50)		)  
RETURNS VarChar(50) AS  
BEGIN 
	DECLARE @ReturnString VarChar(50)
	DECLARE @SearchStringAt Int
	DECLARE @TabAt Int
	DECLARE @CRAt Int
		
	SELECT @ReturnString = ''
	SELECT @SearchString = @SearchString + CHAR(9)
	SELECT @SearchStringAt = CHARINDEX(@SearchString, @VinDecode)
	IF @SearchStringAt > 0
	BEGIN
		SELECT @TabAT = CHARINDEX(CHAR(9), @VinDecode, @SearchStringAt)
		SELECT @CRAt = CHARINDEX(CHAR(13), @VinDecode, @SearchStringAt)
		IF @TabAT > 0 AND @CRAt > 0
			SELECT @ReturnString = SUBSTRING(@VinDecode, @TabAT + 1, @CRAt - @TabAT - 1)
	END

	RETURN(@ReturnString)
END



GO
