USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/3/2020
-- Description:	Log when a Logins account is posted to Success Box
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBoxAccountLog_GetUnposted]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Get all Logins that have 1 paid contract that expires in the future
	SELECT Base2.LoginID
	FROM
	(
		-- For each login get the total number of contracts that have a payment, and the latest contract expiration date
		SELECT LoginID, COUNT(*) AS ContractCount, MAX(ExpirationDate) AS ExpDate
		FROM
		(
			-- Get contracts that have had a payment made to them
			SELECT DISTINCT Contracts.ContractID, Contracts.LoginID, Contracts.ExpirationDate
			FROM Contracts
			JOIN Invoices ON Invoices.ContractID = Contracts.ContractID AND Invoices.IsDeleted = 0 AND Invoices.Paid = 1
			WHERE Contracts.IsDeleted = 0 AND Contracts.Active = 1
		) AS Base
		GROUP BY LoginID
	) Base2
	LEFT OUTER JOIN SuccessBoxAccountLog ON SuccessBoxAccountLog.LoginID = Base2.LoginID		-- Ignore logins that have already been synced
	WHERE 
		ContractCount = 1 
		AND ExpDate > GETDATE()
		AND SuccessBoxAccountLog.ID IS NULL

	UNION 

	SELECT DISTINCT LoginImportData.LoginID
	FROM LoginsConversionComplete
	JOIN LoginImportData ON LoginsConversionComplete.LoginID = LoginImportData.LoginID
	LEFT OUTER JOIN SuccessBoxAccountLog ON LoginsConversionComplete.LoginID = SuccessBoxAccountLog.LoginID
	WHERE 
		SuccessBoxAccountLog.ID IS NULL
		AND LoginImportData.TimeStamp > '3/1/2020'
		AND LoginsConversionComplete.TimeStamp > '3/1/2020'

	UNION

	SELECT DISTINCT SuccessBoxManualSync.LoginID
	FROM SuccessBoxManualSync
	LEFT OUTER JOIN SuccessBoxAccountLog ON SuccessBoxManualSync.LoginID = SuccessBoxAccountLog.LoginID
	WHERE SuccessBoxAccountLog.ID IS NULL

END
GO
