USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DataMigration_Logins]
	@LoginID int
AS
BEGIN


	/*
	If the database to import data from is in another server, first set up a Linked Server.
		In the object explorer for this server, open Server Objects and add to Linked Servers.  See google for help.

	It doesn't seem possible to pass a server name and database name as parameters to a stored procedure, so before running this make sure the server name/database name are correct.
	Tables in the external database are referenced out like [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins 
	Before running the query, do a text find/replace to change [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite to whatever the actual server and database name are
	
	TODO:
	Copy the image from the location in OrgLogoImages in the old database to the local folder <ProEstUserContent>\CompanyLogos
		It's name should be the id of the OrganizationInfo in the local database, like 131429.jpg
		Also update the LogoImageType filed in OrganizationInfo

	*/

	-- Create temp tables with data from the ContactItems table 
	CREATE TABLE #blank (Empty varchar(50));
	CREATE TABLE #info (ItemText varchar(50), Qualifier varchar(50), Description varchar(50));
	CREATE TABLE #orgInfo (ItemText varchar(50), Qualifier varchar(50), Description varchar(50))

	INSERT INTO #blank (Empty) Values ('empty');
	
	INSERT INTO #info
	SELECT ContactItems.ItemText, ContactItems.Qualifier, ContactItemTypes.Description
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins 
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contacts ON Logins.ContactsID = Contacts.id
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems ON ContactItems.ContactsID = Contacts.id
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItemTypes ON ContactItems.ContactItemTypeID = ContactItemTypes.id
	WHERE Logins.ID = @LoginID;
	
	INSERT INTO #orgInfo
	SELECT ContactItems.ItemText, ContactItems.Qualifier, ContactItemTypes.Description
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.OrganizationInfo ON OrganizationInfo.id = Logins.OrganizationID
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contacts ON OrganizationInfo.OrgInfoContactsID = Contacts.id
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems ON ContactItems.ContactsID = Contacts.id
	JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItemTypes ON ContactItems.ContactItemTypeID = ContactItemTypes.id
	WHERE Logins.id = @LoginID 

	--SELECT * FROM #blank
	--SELECT * FROM #info
	--SELECT * FROM #orgInfo

	DECLARE @organizationContactID INT = (SELECT OrgInfoContactsID FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.OrganizationInfo ON OrganizationInfo.id = Logins.OrganizationID WHERE Logins.ID = @LoginID)

	-- Create a contact record with login information to attach to the Logins record
	--INSERT INTO tbl_ContactPerson (FirstName, LastName, Email, Phone1, PhoneNumberType1, Title, ContactTypeID, ContactSubTypeID, DateAdded)
	--SELECT 
	--	  first.ItemText
	--	, last.ItemText
	--	, email.ItemText
	--	, CASE WHEN ISNULL(phoneWP.ItemText, '') <> '' THEN phoneWP.ItemText ELSE PhoneWF.ItemText END
	--	, CASE WHEN ISNULL(phoneWP.ItemText, '') <> '' THEN 'WP' ELSE 'WF' END
	--	, jobTitle.ItemText
	--	, 1
	--	, 22
	--	, GetDate()
	--FROM #blank
	--LEFT OUTER JOIN #info AS first ON first.Description = 'First'
	--LEFT OUTER JOIN #info AS last ON last.Description = 'Last'
	--LEFT OUTER JOIN #info AS email ON email.Description = 'Email Address'
	--LEFT OUTER JOIN #info AS phoneWF ON phoneWF.Description = 'Number' AND phoneWF.Qualifier = 'WF'
	--LEFT OUTER JOIN #info AS phoneWP ON phoneWP.Description = 'Number' AND phoneWP.Qualifier = 'WP'
	--LEFT OUTER JOIN #info AS jobTitle ON jobTitle.Description = 'Job Title'

	--DECLARE @loginInfoContactID int = (SELECT CAST(SCOPE_IDENTITY() AS INT))	

	--SET IDENTITY_INSERT logins ON

	-- INSERT INTO [Logins]
	--		   (id,[LoginName]
	--		   ,[Organization]
	--		   ,[encPassword]
	--		   ,[Password]
	--		   ,[PasswordExpired]
	--		   ,[Disabled]
	--		   ,[CreationDate]
	--		   ,[CertificateInfo]
	--		   ,[SessionID]
	--		   ,[AdminInfoID]
	--		   ,[SessionExpires]
	--		   ,[OrgAdminRights]
	--		   ,[FWAdminRights]
	--		   ,[AuthOnly]
	--		   ,[OrganizationID]
	--		   ,[ContactsID]
	--		   ,[LastLogin]
	--		   ,[LastActivity]
	--		   ,[CustomerNumber]
	--		   ,[ExpireDate]
	--		   ,[QuickReports]
	--		   ,[DefaultSectionOrder]
	--		   ,[EstInfoOwnPage]
	--		   ,[LargeFonts]
	--		   ,[UseTabsOnContactInfo]
	--		   ,[StartPage]
	--		   ,[SameWindowAfterLogin]
	--		   ,[AddPaintExtrasDefault]
	--		   ,[DemoUser]
	--		   ,[MarkForDelete]
	--		   ,[PaymentDueDate]
	--		   ,[PaymentDueAmount]
	--		   ,[MarkForDeleteAddr]
	--		   ,[MarkForDeleteDate]
	--		   ,[GraphicSize]
	--		   ,[InfoForm]
	--		   ,[SalesRepID]
	--		   ,[DoubtfulAccount]
	--		   ,[Language_id]
	--		   ,[StaffAccount]
	--		   ,[PDF_Image_Size]
	--		   ,[TechSupportPassword]
	--		   ,[UseTin]
	--		   ,[NoOfLogins]
	--		   ,[SoftwareType]
	--		   ,[CompanyOrigin]
	--		   ,[CWAccountID])
    

	-- SELECT [id]
	--	  ,[LoginName]
	--	  ,[Organization]
	--	  ,[encPassword]
	--	  ,[Password]
	--	  ,[PasswordExpired]
	--	  ,[Disabled]
	--	  ,[CreationDate]
	--	  ,[CertificateInfo]
	--	  ,[SessionID]
	--	  ,[AdminInfoID]
	--	  ,[SessionExpires]
	--	  ,[OrgAdminRights]
	--	  ,[FWAdminRights]
	--	  ,[AuthOnly]
	--	  ,[OrganizationID]
	--	  ,@loginInfoContactID
	--	  ,[LastLogin]
	--	  ,[LastActivity]
	--	  ,[CustomerNumber]
	--	  ,[ExpireDate]
	--	  ,[QuickReports]
	--	  ,[DefaultSectionOrder]
	--	  ,[EstInfoOwnPage]
	--	  ,[LargeFonts]
	--	  ,[UseTabsOnContactInfo]
	--	  ,[StartPage]
	--	  ,[SameWindowAfterLogin]
	--	  ,[AddPaintExtrasDefault]
	--	  ,[DemoUser]
	--	  ,[MarkForDelete]
	--	  ,[PaymentDueDate]
	--	  ,[PaymentDueAmount]
	--	  ,[MarkForDeleteAddr]
	--	  ,[MarkForDeleteDate]
	--	  ,[GraphicSize]
	--	  ,[InfoForm]
	--	  ,[SalesRepID]
	--	  ,[DoubtfulAccount]
	--	  ,[Language_id]
	--	  ,[StaffAccount]
	--	  ,[PDF_Image_Size]
	--	  ,[TechSupportPassword]
	--	  ,[UseTin]
	--	  ,[NoOfLogins]
       
	--	  ,case when [CompanyOrigin] = 0 then 'Web-Est'
	--			when [CompanyOrigin] = 1 then 'CW'
	--			when [CompanyOrigin] = 2 then 'RM'
	--			else 'Web-Est' end 
	--	  ,[CompanyOrigin]
	--	  ,[CWAccountID]
	--  FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins 
	--where id = @LoginID

	--SET IDENTITY_INSERT logins off

	INSERT INTO tbl_ContactPerson (FirstName, LastName, Email, Phone1, PhoneNumberType1, Phone2, FaxNumber, BusinessName, ContactTypeID, ContactSubTypeID, DateAdded)
	SELECT 
		  first.ItemText
		, last.ItemText
		, email.ItemText
		, CASE WHEN ISNULL(phoneWP.ItemText, '') <> '' THEN phoneWP.ItemText ELSE PhoneWF.ItemText END
		, CASE WHEN ISNULL(phoneWP.ItemText, '') <> '' THEN 'WP' ELSE 'WF' END
		, phone2.ItemText
		, fax.ItemText
		, companyName.ItemText
		, 2
		, 21
		, GetDate()
	FROM #blank
	LEFT OUTER JOIN #orgInfo AS first ON first.Description = 'First'
	LEFT OUTER JOIN #orgInfo AS last ON last.Description = 'Last'
	LEFT OUTER JOIN #orgInfo AS email ON email.Description = 'Email Address'
	LEFT OUTER JOIN #orgInfo AS phoneWF ON phoneWF.Description = 'Number' AND phoneWF.Qualifier = 'WF'
	LEFT OUTER JOIN #orgInfo AS phoneWP ON phoneWP.Description = 'Number' AND phoneWP.Qualifier = 'WP'
	LEFT OUTER JOIN #orgInfo AS phone2 ON phone2.Description = 'Number' AND phone2.Qualifier = 'CP'
	LEFT OUTER JOIN #orgInfo AS fax ON fax.Description = 'Number' AND fax.Qualifier = 'FX'
	LEFT OUTER JOIN #orgInfo AS companyName ON companyName.Description = 'Name'

	DECLARE @newOrgInfoContactID int = (SELECT CAST(SCOPE_IDENTITY() AS INT))

	-- Add the organization's address info
	INSERT INTO tbl_Address
	(ContactsID, Address1, Address2, City, State, zip, TimeZone)
	VALUES
	(
		@newOrgInfoContactID
		, (SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 10 AND ContactsID = @organizationContactID)
		, (SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 11 AND ContactsID = @organizationContactID)
		, (SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 12 AND ContactsID = @organizationContactID)
		, (SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 13 AND ContactsID = @organizationContactID)
		, (SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 14 AND ContactsID = @organizationContactID)
		, (SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 80 AND ContactsID = @organizationContactID)
	)

	--@organizationContactID

	--SET IDENTITY_INSERT OrganizationInfo ON

	--INSERT INTO [OrganizationInfo]
	--		   (ID
	--		   ,[OrgInfoContactsID]
	--		   ,[FederalTaxID]
	--		   ,[RegistrationNumber]
	--		   ,[CompanyType]
	--		   ,[PaidContract]
	--		   ,[ExpireDate]
	--		   ,[GraphicsExpireDate]
	--		   ,[ManualExpireDate]
	--		   ,[CustomerNumber]
	--		   ,[Disabled]
	--		   ,[ShowRepairShopProfiles]
	--		   ,[AllowAlternateIdentities]
	--		   ,[AllowRWofInspAssignDates]
	--		   ,[Appraiser]
	--		   ,[LastEstimateNumber]
	--		   ,[LastReportNumber]
	--		   ,[LastWorkOrderNumber]
	--		   ,[DateCreated]
	--		   ,[DelPWRequired]
	--		   ,[DelPW]
	--		   ,[ShowLaborTimeWO]
	--		   ,[Language_ID]
	--		   ,[CompanyName]
	--		   ,[LicenseNumber]
	--		   ,[PrintLicenseNumber]
	--		   ,[BarNumber]
	--		   ,[PrintBarNumber]
	--		   ,[PrintFederalTaxID]
	--		   ,[CompanyID]
	--		   ,[PrintRegistrationNumber]
	--		   ,[UseTaxID]
	--		   ,[UseDefaultRateProfile]
	--		   ,[ProfileLocked])
	--SELECT [id]
	--	  ,@newOrgInfoContactID
	--	  ,[FederalTaxID]
	--	  ,[RegistrationNumber]
	--	  ,(SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 72 AND ContactsID = @organizationContactID)	
	--	  ,[PaidContract]
	--	  ,[ExpireDate]
	--	  ,[GraphicsExpireDate]
	--	  ,[ManualExpireDate]
	--	  ,@LoginID
	--	  ,[Disabled]
	--	  ,[ShowRepairShopProfiles]
	--	  ,[AllowAlternateIdentities]
	--	  ,[AllowRWofInspAssignDates]
	--	  ,[Appraiser]
	--	  ,[LastEstimateNumber]
	--	  ,[LastReportNumber]
	--	  ,10000
	--	  ,[DateCreated]
	--	  ,[DelPWRequired]
	--	  ,[DelPW]
	--	  ,[ShowLaborTimeWO]
	--	  ,[Language_ID]
	--	  ,(SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 9 AND ContactsID = @organizationContactID)		-- Company Name
	--	  ,(SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 41 AND ContactsID = @organizationContactID)		-- License Number
	--	  ,(SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 41 AND ContactsID = @organizationContactID)
	--	  ,(SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 60 AND ContactsID = @organizationContactID)		-- Bar number
	--	  ,(SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 60 AND ContactsID = @organizationContactID)
	--	  ,(SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 34 AND ContactsID = @organizationContactID)	-- Print federal tax ID
	--	  ,(SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 31 AND ContactsID = @organizationContactID)				-- Company ID
	--	  ,(SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 73 AND ContactsID = @organizationContactID)	-- Print Registration number
	--	  ,0
	--	  ,1
	--	  ,1
	-- FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.[dbo].[OrganizationInfo]
	-- where id = CAST((Select OrganizationID from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins where id = @LoginID) AS VARCHAR(20))

	--SET IDENTITY_INSERT OrganizationInfo off


	SET IDENTITY_INSERT Logins ON

	INSERT INTO Logins
	(
		  ID
		, LoginName
		, Organization
		, CompanyName
		, CompanyType
		, CompanyOrigin
		, Password
		, CreationDate
		, ContactID
		, SalesRepID
		, NoOfLogins
		, DoubtfulAccount
		, Disabled
		, StaffAccount
		, RegistrationNumber
		, PrintRegistrationNumber
		, ShowRepairShopProfiles
		, AllowAlternateIdentities
		, Appraiser
		, ShowLaborTimeWO
		, LicenseNumber
		, PrintLicenseNumber
		, BarNumber
		, PrintBarNumber
		, FederalTaxID
		, PrintFederalTaxID
		, UseTaxID
		, UseDefaultRateProfile
		, UseDefaultPDRRateProfile
		, LogoImageType
		, ProfileLocked
		, PartsNow
		, OverlapAdmin
		, LastEstimateNumber
		, LastWorkOrderNumber
		, HeaderContact
		, TechSupportPassword
	)
	SELECT 
		  Logins.ID
		, LoginName
		, Organization
		, ISNULL((SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 9 AND ContactsID = @organizationContactID), '')		-- Company Name
		, ISNULL((SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 72 AND ContactsID = @organizationContactID), '')		-- Company Type
		, ISNULL(CompanyOrigin, 0)
		, Password
		, CreationDate
		--, ISNULL(OrganizationInfo.OrgInfoContactsID, 0)
		, @newOrgInfoContactID
		, ISNULL(SalesRepID, 0)
		, CASE WHEN ISNULL(NoOfLogins, 1) > 255 THEN 255 ELSE ISNULL(NoOfLogins, 1) END AS NoOfLogins
		, ISNULL(DoubtfulAccount, 0)
		, CASE WHEN Logins.Disabled = 1 THEN 1 ELSE ISNULL(OrganizationInfo.Disabled, 0) END 
		, ISNULL(StaffAccount, 0)
		, ISNULL(RegistrationNumber, '')
		, ISNULL((SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 73 AND ContactsID = @organizationContactID), 0)	-- Print Registration number
		, ISNULL(ShowRepairShopProfiles, 0)
		, ISNULL(AllowAlternateIdentities, 0)
		, ISNULL(Appraiser, 0)
		, ISNULL(ShowLaborTimeWO, 0)
		, ISNULL((SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 41 AND ContactsID = @organizationContactID), '')	-- License Number
		, ISNULL((SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 41 AND ContactsID = @organizationContactID), 0)   -- Print License Number
		, ISNULL((SELECT ItemText FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 60 AND ContactsID = @organizationContactID), '')		-- Bar number
		, ISNULL((SELECT ISNULL(Qualifier, 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 60 AND ContactsID = @organizationContactID), 0) -- print bar number
		, ISNULL(FederalTaxID, '')
		, ISNULL((SELECT ISNULL(MAX(Qualifier), 0) FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems WHERE ContactItemTypeID = 34 AND ContactsID = @organizationContactID), 0)	-- Print federal tax ID
		, 0
		, 1
		, 1
		, ''
		, 1
		, 0
		, 0
		, ISNULL(LastEstimateNumber, 0)
		, ISNULL(LastWorkOrderNumber, 0)
		, SUBSTRING(ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.LastName, ''), 0, 50)
		, ISNULL(TechSupportPassword, '')
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.OrganizationInfo ON OrganizationInfo.ID = (SELECT TOP 1 ID FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.OrganizationInfo WHERE CustomerNumber = CAST(Logins.ID AS VARCHAR))
	LEFT OUTER JOIN tbl_ContactPerson ON OrganizationInfo.OrgInfoContactsID = tbl_ContactPerson.ContactID
	WHERE Logins.ID = @LoginID

	SET IDENTITY_INSERT Logins off
	

	--SET IDENTITY_INSERT EstimatorsData on
	INSERT INTO EstimatorsData
	(AdminInfoID, AuthorFirstName, AuthorLastName, LoginID)
	SELECT AdminInfoID, AuthorFirstName, AuthorLastName, LoginID FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.EstimatorsData
	WHERE LoginID = @LoginID AND EstimatorID NOT IN (SELECT EstimatorID FROM EstimatorsData)
	--SET IDENTITY_INSERT EstimatorsData off	
	
	
	---- Make a temp contract 
	--INSERT INTO Contract (ContractTypeID, ContractPriceLevelID, EffectiveDate, ExpirationDate, isAutoPay, isSigned, DateCreated)
	--VALUES (1, 43, GETDATE(), DATEADD(D, 14, GETDATE()), 0, 1, GETDATE())

	--DECLARE @tempContractID INT = (SELECT CAST(SCOPE_IDENTITY() AS INT))	

	--INSERT INTO ContractLogins (ContractID, LoginID, PrimaryLogin)
	--VALUES(@tempContractID, @LoginID, 1)


	/*
	UPDATE MostRecentContract
	SET ExpirationDate = DATEADD(d, 14, GETDATE()), isSigned = 1
	FROM
	(
		SELECT TOP 1 c.*
		FROM ContractLogins cl
		JOIN Contract c ON cl.ContractID = c.ContractID
		WHERE cl.LoginID = @LoginID AND c.ContractTypeID = 1
		ORDER BY c.ContractID DESC
	) MostRecentContract
	WHERE ExpirationDate < GETDATE()
	*/

	SET IDENTITY_INSERT InvoicePaidTracking on
	INSERT INTO [InvoicePaidTracking]
			   (TrackID
			   ,[InvoiceID]
			   ,[Paid]
			   ,[SalesRepID]
			   ,[DateTracked])
	select * 
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.InvoicePaidTracking
	where InvoiceID in (
	select InvoiceID
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Invoice
	where LoginID = @LoginID)
	SET IDENTITY_INSERT InvoicePaidTracking off
	
	

	SET IDENTITY_INSERT [AlternateIdentities] on

	INSERT INTO [AlternateIdentities]
			   (id
			   ,[OrganizationInfoID]
			   ,[ContactsID]
			   ,[LastEstimateNumber]
			   ,[LastReportNumber]
			   ,[LastWorkOrderNumber])
   
	select *
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AlternateIdentities
	where OrganizationInfoID in(
	select OrganizationID
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins
	where ID = @LoginID)

	SET IDENTITY_INSERT [AlternateIdentities] off
	

	SET IDENTITY_INSERT [AlternateIdentityImages] on
	INSERT INTO [AlternateIdentityImages]
			   (id
			   ,[AlternateIdentitiesID]
			   ,[ImageURL]
			   ,[Caption])
     
	select * 
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AlternateIdentityImages
	where AlternateIdentitiesID in (
	select id
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AlternateIdentities
	where OrganizationInfoID in(
	select OrganizationID
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Logins
	where ID = @LoginID)) 

	SET IDENTITY_INSERT [AlternateIdentityImages] off

	
	
	--SET IDENTITY_INSERT CustomerProfileRates on
	INSERT INTO [CustomerProfileRates]
	(
		[CustomerProfilesID]
		,[RateType]
		,[Rate]
		,[CapType]
		,[Cap]
		,[Taxable]
		,[DiscountMarkup]
		,[IncludeIn]
	)
	select 
		[CustomerProfilesID]
		,[RateType]
		,[Rate]
		,[CapType]
		,[Cap]
		,[Taxable]
		,[DiscountMarkup]
		,[IncludeIn]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfileRates
	where CustomerProfilesID in
	(
		select id
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
		where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
	)
	--SET IDENTITY_INSERT CustomerProfileRates off
		


	--SET IDENTITY_INSERT CustomerProfilePresets on
	INSERT INTO [CustomerProfilePresets]
		(
		--id
		[CustomerProfilesID]
		,[StepID]
		,[PartSource]
		,[ActionCode]
		,[ActionDescription]
		,[PartNumber]
		,[Description]
		,[Price]
		,[PartOfOverhaul]
		,[Qty]
		,[LaborTime]
		,[PaintTime]
		,[Other]
		,[ImageID]
		,[PartSourceVendorID]
		,[SubletOperationFlag]
		,[BettermentOperationFlag])
	select  
		[CustomerProfilesID]
		,[StepID]
		,[PartSource]
		,[ActionCode]
		,[ActionDescription]
		,[PartNumber]
		,[Description]
		,[Price]
		,[PartOfOverhaul]
		,[Qty]
		,[LaborTime]
		,[PaintTime]
		,[Other]
		,[ImageID]
		,[PartSourceVendorID]
		,[SubletOperationFlag]
		,[BettermentOperationFlag]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilePresets
	where CustomerProfilesID in
	(
		select id
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
		where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
	)

	--SET IDENTITY_INSERT CustomerProfilePresets off
	
	

	--SET IDENTITY_INSERT CustomerProfilePresetsLabor on

	INSERT INTO [CustomerProfilePresetsLabor]
	(
		 [CustomerProfilePresetsID]
		,[LaborType]
		,[LaborSubType]
		,[LaborTime]
		,[LaborCost]
		,[AdjacentDeduction]
		,[MajorPanel]
	)
	select 
		 [CustomerProfilePresetsID]
		,[LaborType]
		,[LaborSubType]
		,[LaborTime]
		,[LaborCost]
		,[AdjacentDeduction]
		,[MajorPanel]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilePresetsLabor
	where CustomerProfilePresetsID in 
	(
		select id
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilePresets
		where CustomerProfilesID in
		(
			select id
			from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
			where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
		)
	)
	AND id NOT IN (SELECT id FROM CustomerProfilePresetsLabor)
	--SET IDENTITY_INSERT CustomerProfilePresetsLabor off
	
	

	--SET IDENTITY_INSERT CustomerProfilePresetsNotes on
	INSERT INTO [CustomerProfilePresetsNotes]
	(
		[CustomerProfilePresetsID]
		,[Printed]
		,[Notes]
	)
	select 
		 [CustomerProfilePresetsID]
		,[Printed]
		,[Notes]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilePresetsNotes
	where CustomerProfilePresetsID in 
	(
		select id
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilePresets
		where CustomerProfilesID in
		(
			select id
			from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
			where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
		)
	)
	--SET IDENTITY_INSERT CustomerProfilePresetsNotes off
	

	--SET IDENTITY_INSERT CustomerProfilePrint on
	INSERT INTO [CustomerProfilePrint]
	(
		 [CustomerProfilesID]
        ,[GraphicsQuality]
        ,[NoHeaderLogo]
        ,[NoInsuranceSection]
        ,[NoPhotos]
        ,[FooterText]
        ,[PrintPrivateNotes]
        ,[PrintPublicNotes]
        ,[ContactOption]
        ,[SupplementOption]
        ,[OrderBy]
        ,[UseBigLetters]
        ,[SeparateLabor]
        ,[EstimateNumber]
        ,[AdminInfoID]
        ,[Dollars]
        ,[GreyBars]
        ,[NoVehicleAccessories]
        ,[PrintPaymentInfo]
	)
	select 
	     [CustomerProfilesID]
        ,[GraphicsQuality]
        ,[NoHeaderLogo]
        ,[NoInsuranceSection]
        ,[NoPhotos]
        ,[FooterText]
        ,[PrintPrivateNotes]
        ,[PrintPublicNotes]
        ,[ContactOption]
        ,[SupplementOption]
        ,[OrderBy]
        ,[UseBigLetters]
        ,[SeparateLabor]
        ,[EstimateNumber]
        ,[AdminInfoID]
        ,[Dollars]
        ,[GreyBars]
        ,[NoVehicleAccessories]
        ,[PrintPaymentInfo]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilePrint
	where CustomerProfilesID in
	(
		select id
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
		where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
	)
	AND id NOT IN (SELECT id FROM CustomerProfilePrint)
	--SET IDENTITY_INSERT CustomerProfilePrint off
	


	--SET IDENTITY_INSERT CustomerProfilesMisc on

	INSERT INTO [CustomerProfilesMisc]
	(
		 [CustomerProfilesID]
		,[TaxRate]
		,[SecondTaxRateStart]
		,[SecondTaxRate]
		,[ChargeForRadiatorRefilling]
		,[RadiatorChargeAmount]
		,[ChargeForACRefilling]
		,[ACChargeHow]
		,[ACChargeAmount]
		,[LKQText]
		,[TotalLossPerc]
		,[IncludeStructureInBody]
		,[ChargeForAimingHeadlights]
		,[ChargeForPowerUnits]
		,[ChargeForRefrigRecovery]
		,[SuppressAddRelatedPrompt]
		,[ChargeSuppliesOnAllOperations]
		,[SuppLevel]
		,[DoNotMarkChanges]
		,UseSepPartLaborTax
		,PartTax
		,LaborTax
	)
	select 
	     [CustomerProfilesID]
		,[TaxRate]
		,[SecondTaxRateStart]
		,[SecondTaxRate]
		,[ChargeForRadiatorRefilling]
		,[RadiatorChargeAmount]
		,[ChargeForACRefilling]
		,[ACChargeHow]
		,[ACChargeAmount]
		,[LKQText]
		,[TotalLossPerc]
		,[IncludeStructureInBody]
		,[ChargeForAimingHeadlights]
		,[ChargeForPowerUnits]
		,[ChargeForRefrigRecovery]
		,[SuppressAddRelatedPrompt]
		,[ChargeSuppliesOnAllOperations]
		,[SuppLevel]
		,[DoNotMarkChanges]
		,UseSepPartLaborTax
		,PartTax
		,LaborTax
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilesMisc
	where CustomerProfilesID in 
	(
		select id
		from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
		where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
	)

	--SET IDENTITY_INSERT CustomerProfilesMisc off


	
	DECLARE @DefaultProfileID INT = (SELECT ID FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles WHERE CreatedBy = @LoginID AND DefaultFlag = 1)

	--SET IDENTITY_INSERT CustomerProfilesPaint on
	INSERT INTO [CustomerProfilesPaint]
			   ([CustomerProfilesID]
			   ,[AllowDeductions]
			   ,[AdjacentDeduction]
			   ,[NonAdjacentDeduction]
			   ,[EdgeInteriorTimes]
			   ,[MajorClearCoat]
			   ,[MajorThreeStage]
			   ,[MajorTwoTone]
			   ,[OverlapClearCoat]
			   ,[OverlapThreeStage]
			   ,[OverLapTwoTone]
			   ,[ClearCoatCap]
			   ,[DeductFinishOverlap]
			   ,[TotalClearcoatWithPaint]
			   ,[NoClearcoatCap]
			   ,[ThreeStageInner]
			   ,[ThreeStagePillars]
			   ,[ThreeStateInterior]
			   ,[TwoToneInner]
			   ,[TwoTonePillars]
			   ,[TwoToneInterior]
			   ,[Blend]
			   ,[Underside]
			   ,[Edging]
			   ,[ManualPaintOverlap]
			   ,[AutomaticOverlap])
			SELECT 
				 CustomerProfiles.id
				,[AllowDeductions]
				,[AdjacentDeduction]
				,[NonAdjacentDeduction]
				,[EdgeInteriorTimes]
				,[MajorClearCoat]
				,[MajorThreeStage]
				,[MajorTwoTone]
				,[OverlapClearCoat]
				,[OverlapThreeStage]
				,[OverLapTwoTone]
				,[ClearCoatCap]
				,[DeductFinishOverlap]
				,[TotalClearcoatWithPaint]
				,[NoClearcoatCap]
				,[ThreeStageInner]
				,[ThreeStagePillars]
				,[ThreeStateInterior]
				,[TwoToneInner]
				,[TwoTonePillars]
				,[TwoToneInterior]
				,[Blend]
				,[Underside]
				,[Edging]
				,isnull([ManualPaintOverlap], 0)
				, 1
			FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
			LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilesPaint ON CustomerProfilesPaint.CustomerProfilesID = CASE WHEN EXISTS (SELECT * FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilesPaint WHERE CustomerProfilesID = CustomerProfiles.ID) THEN CustomerProfiles.ID ELSE @DefaultProfileID END
			WHERE OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) 

	--select *,1 
	--from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfilesPaint
	--where CustomerProfilesID in 
	--(
	--	select id
	--	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
	--	where OwnerID = @LoginID AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1) AND id NOT IN (SELECT id FROM CustomerProfiles)
	--)

	--SET IDENTITY_INSERT CustomerProfilesPaint off


	SET IDENTITY_INSERT [CustomerProfiles] on
	INSERT INTO [CustomerProfiles]
	(
		id
		,[OwnerID]
		,[OwnerType]
		,[ProfileName]
		,[Description]
		,[DefaultFlag]
		,[CreationDate]
		,[CreatedBy]
		,[OriginalID]
		,[AdminInfoID]
		,[DefaultPreset]
	)
	select 
		 id
		,[OwnerID]
		,[OwnerType]
		,[ProfileName]
		,[Description]
		,[DefaultFlag]
		,[CreationDate]
		,[CreatedBy]
		,[OriginalID]
		,0
		,[DefaultPreset]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CustomerProfiles
	where OwnerID = @LoginID 
	AND (AdminInfoID IS NULL OR DefaultFlag = 1 OR DefaultPreset = 1)
	AND id NOT IN (SELECT id FROM CustomerProfiles)
	SET IDENTITY_INSERT CustomerProfiles off

	SET IDENTITY_INSERT FrameSub ON
	INSERT INTO FrameSub
	(
		FrameSub_Id
		,[loginID]
		,[OrganizationID]
		,[SubName]
		,[SubDate]
	)
	select j.*
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.FrameSub j
	where loginID = @LoginID
	SET IDENTITY_INSERT FrameSub off


	INSERT INTO [FocusWrite].[dbo].[VinDecodeHistory]
	(
		 [VIN]
		,[VinDecode]
		,[LoginsID]
		,[DateDecoded]
	)
	select [VIN]
		,[VinDecode]
		,[LoginsID]
		,[DateDecoded]
	from [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.VinDecodeHistory
	where loginsID = @LoginID



	-- Insert Vendors
	INSERT INTO Vendor
	(
		 [LoginsID]
		,[CompanyIDCode]
		,[CompanyName]
		,[FirstName]
		,[MiddleName]
		,[LastName]
		,[Email]
		,[MobileNumber]
		,[HomeNumber]
		,[WorkNumber]
		,[Address1]
		,[Address2]
		,[City]
		,[State]
		,[Zip]
		,[TimeZone]
		,[Universal]
		,[Type]
		,[FaxNumber]
		,[FileName]
		,[Deleted]
		,[Extension]
	)
	SELECT DISTINCT
		@LoginID AS LoginsID,
		Contacts.id AS CompanyIDCode,
		CompanyName.ItemText 'CompanyName',
		ISNULL(FirstName.ItemText, '') 'FirstName',
		'' AS 'MiddleName',
		ISNULL(LastName.ItemText, '') 'LastName',
		'' AS 'Email',
		'' AS 'MobileNumber',
		'' AS 'HomeNumber',
		CASE 
			WHEN CodeList1.Description = 'Work Phone' OR CodeList1.Description = 'Business Phone' THEN Phone1.ItemText  
			WHEN CodeList2.Description = 'Work Phone' OR CodeList2.Description = 'Business Phone' THEN Phone2.ItemText 
			ELSE ''
		END	AS 'WorkNumber',
		AddressLine1.ItemText 'Address1',
		'' AS 'Address2',
		City.ItemText 'City',
		State.ItemText 'State',	
		Zip.ItemText 'Zip',	
		'EST' AS 'TimeZone',
		0 AS 'Universal',
		CASE   
			WHEN Contacts.ContactSubTypeID = 24 THEN 'After Market'
			WHEN Contacts.ContactSubTypeID = 25 THEN 'OEM'
			WHEN Contacts.ContactSubTypeID = 26 THEN 'Repair Facility'
			WHEN Contacts.ContactSubTypeID = 27 THEN 'LKQ'
			WHEN Contacts.ContactSubTypeID = 32 THEN 'Alternate Identity'
		END AS 'Type',
		CASE 
			WHEN CodeList1.Description = 'Fax Number' OR CodeList1.Description = 'Fax Number' THEN Phone1.ItemText  
			WHEN CodeList2.Description = 'Fax Number' OR CodeList2.Description = 'Fax Number' THEN Phone2.ItemText 
			ELSE ''
		END	AS 'FaxNumber',
		NULL AS 'FileName',
		NULL AS 'Deleted',
		NULL AS 'Extension'
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.LoginsToContacts
	INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contacts ON Contacts.id = LoginsToContacts.ContactsID 
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems CompanyName ON
		(CompanyName.ContactsID  = LoginsToContacts.ContactsID AND
			CompanyName.ContactItemTypeID = 9)
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems FirstName ON
		(FirstName.ContactsID  = LoginsToContacts.ContactsID AND
			FirstName.ContactItemTypeID = 2)
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems LastName ON
		(LastName.ContactsID  = LoginsToContacts.ContactsID AND
			LastName.ContactItemTypeID = 6)
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems IDCode ON
		(IDCode.ContactsID  = LoginsToContacts.ContactsID AND
			IDCode.ContactItemTypeID = 31)

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems AddressLine1 ON
		(AddressLine1.ContactsID  = LoginsToContacts.ContactsID AND
			AddressLine1.ContactItemTypeID = 10)

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems City ON
		(City.ContactsID  = LoginsToContacts.ContactsID AND
			City.ContactItemTypeID = 12)

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems State ON
		(State.ContactsID  = LoginsToContacts.ContactsID AND
			State.ContactItemTypeID = 13)

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems Zip ON
		(Zip.ContactsID  = LoginsToContacts.ContactsID AND
			Zip.ContactItemTypeID = 14)		
			
	LEFT JOIN (SELECT Contacts.id, Count(*) 'PhoneCount'
			FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.LoginsToContacts
			INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contacts ON
				(Contacts.id = LoginsToContacts.ContactsID)
			INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems ON
				(ContactItems.ContactsID = Contacts.id)
			WHERE ContactItems.ContactItemTypeID = 17 AND 
				Contacts.ContactSubTypeID IN (24, 25, 26, 27, 32) AND
				LoginsToContacts.LoginsID = @LoginID
			GROUP BY Contacts.id) PhoneCount ON
		(PhoneCount.id = LoginsToContacts.ContactsID)

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems Phone1 ON
		(Phone1.ContactsID  = LoginsToContacts.ContactsID AND 
			Phone1.ContactItemTypeID = 17)
	
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CodeList CodeList1 ON
		(CodeList1.Code = Phone1.Qualifier AND
			CodeList1.MasterCodeListTabsID = 11)

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems Phone2 ON
		(Phone2.ContactsID  = LoginsToContacts.ContactsID AND
			Phone2.ContactItemTypeID = 17 AND 
			Phone2.id <> Phone1.ID AND
			Phone2.id > Phone1.ID)		
	
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.CodeList CodeList2 ON
		(CodeList2.Code = Phone2.Qualifier AND
			CodeList2.MasterCodeListTabsID = 11)
			
	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems Phone3 ON
		(Phone3.ContactsID  = LoginsToContacts.ContactsID AND
			Phone3.ContactItemTypeID = 17 AND 
			Phone3.id <> Phone1.ID AND
			Phone3.id <> Phone2.ID AND
			Phone3.id > Phone2.ID)			 

	LEFT JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.ContactItems Phone4 ON
		(Phone4.ContactsID  = LoginsToContacts.ContactsID AND
			Phone4.ContactItemTypeID = 17 AND 
			Phone4.id <> Phone1.ID AND 
			Phone4.id <> Phone2.ID AND
			Phone4.id <> Phone3.ID AND
			Phone4.id > Phone3.ID)

	LEFT JOIN (	SELECT Contacts.id, Count(*) Cnt
			FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.LoginsToContacts
			INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.Contacts ON
				(Contacts.id = LoginsToContacts.ContactsID)
			INNER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.AdminInfoTOContacts ON
				(AdminInfoTOContacts.ContactsID = Contacts.id)
			GROUP BY Contacts.ID) ContactCount ON
		(ContactCount.ID = Contacts.id)

	WHERE ContactSubTypeID IN (24, 25, 26, 27, 32) AND
		LoginsToContacts.LoginsID = @LoginID AND
			
		( PhoneCount.PhoneCount = 0 OR PhoneCount.PhoneCount IS NULL OR
			(PhoneCount.PhoneCount = 1 AND Phone1.id IS NOT NULL) OR
			(PhoneCount.PhoneCount = 2 AND Phone1.id IS NOT NULL AND Phone2.id IS NOT NULL) OR
			(PhoneCount.PhoneCount = 3 AND Phone1.id IS NOT NULL AND Phone2.id IS NOT NULL AND Phone3.id IS NOT NULL) OR
			(PhoneCount.PhoneCount = 4 AND Phone1.id IS NOT NULL AND Phone2.id IS NOT NULL AND Phone3.id IS NOT NULL AND Phone4.id IS NOT NULL) )


	-- Clean up temp tables
	If(OBJECT_ID('tempdb..#blank') Is Not Null)
	Begin
		Drop Table #blank
	End

	If(OBJECT_ID('tempdb..#info') Is Not Null)
	Begin
		Drop Table #info
	End

	If(OBJECT_ID('tempdb..#orgInfo') Is Not Null)
	Begin
		Drop Table #orgInfo
	End

	/*

	truncate table InvoicePaidTracking
	truncate table CustomerProfilesPaint
	truncate table CustomerProfilesMisc
	truncate table CustomerProfilePresetsNotes
	truncate table CustomerProfilePresetsLabor
	truncate table CustomerProfilePresets
	truncate table CustomerProfileRates
	truncate table CustomerProfiles
	truncate table AlternateIdentityImages
	truncate table AlternateIdentities
	truncate table Invoice
	truncate table  ContractExtension
	truncate table Contract_Unused
	truncate table logins 
	truncate table OrganizationInfo
	truncate table OrgLogoImages 
	truncate table ContractLogins
	truncate table Contract
	truncate table Contract_DW
	*/

END
GO
