USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageToVinDecodeResults](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[VinResult] [varchar](50) NULL,
	[Success] [bit] NULL
) ON [PRIMARY]
GO
