USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/14/2020
-- Description:	Get all Add On Rules
-- =============================================
CREATE PROCEDURE [dbo].[AddOnRule_GetAll]
	@Deleted		bit = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM AddOnRule
	WHERE Deleted = @Deleted

END
GO
