USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[InsertUserFeedBack]    Script Date: 1/25/2023 11:00:21 AM ******/
/*
	1/26/2023 - EVB: Modified, removing many fields and simplifying to basically just the text & images

	TEST SCRIPTS:
	exec [InsertUserFeedBack] @FeedbackText = 'Test Text1', @ActiveLoginID = 1147165, @ImagePaths='test1a|test1b|test1c'
	exec [InsertUserFeedBack] @FeedbackText = 'Test Text2', @ActiveLoginID = 1147165, @ImagePaths='|test2a|test2b|'
	exec [InsertUserFeedBack] @FeedbackText = 'Test Text3', @ActiveLoginID = 1147165, @ImagePaths='test3a'
	exec [InsertUserFeedBack] @FeedbackText = 'Test Text4', @ActiveLoginID = 1147165, @ImagePaths='a|b'
	exec [InsertUserFeedBack] @FeedbackText = 'Test Text5', @ActiveLoginID = 1147165, @ImagePaths=''
	exec [InsertUserFeedBack] @FeedbackText = 'Test Text6', @ActiveLoginID = 1147165

	SELECT * FROM UserFeedBack
	SELECT * FROM UserFeedBackImages

	DELETE FROM UserFeedBackImages
	DELETE FROM UserFeedBack
*/
CREATE PROCEDURE [dbo].[InsertUserFeedBack] 
      @ActiveLoginID int 
	  ,@FeedbackText nvarchar(Max)
      ,@CreatedDate datetime = NULL
      ,@BrowserDetails nvarchar(2000) = NULL
      ,@DevicePlatform nvarchar(2000) = NULL
	  ,@ImagePaths nvarchar(Max) = NULL
AS
BEGIN
	SET NOCOUNT ON

	SET @CreatedDate = ISNULL(@CreatedDate, GETDATE()) 

	BEGIN TRANSACTION

	INSERT INTO UserFeedBack (
		[ActiveLoginID]
		,[FeedbackText]
		,[CreatedDate]
		,[BrowserDetails] 
		,[DevicePlatform] 
		) VALUES (
		@ActiveLoginID
		,@FeedbackText
		,@CreatedDate
		,@BrowserDetails 
		,@DevicePlatform 
		)

	DECLARE @FeedbackID int
	SET @FeedbackID = scope_identity()
		
	IF LEN(ISNULL(@ImagePaths, '')) > 0
	BEGIN
		
		SET @ImagePaths = '|' + @ImagePaths + '|'

		DECLARE @CurrPipeIndex int = 0
		DECLARE @NextPipeIndex int = CHARINDEX('|', @ImagePaths, @CurrPipeIndex + 1)
		DECLARE @CurrImagePath nvarchar(500)

		WHILE @CurrPipeIndex < LEN(@ImagePaths)
		BEGIN
			
			SET @CurrImagePath = SUBSTRING(@ImagePaths, @CurrPipeIndex + 1, @NextPipeIndex - @CurrPipeIndex - 1)

			IF LEN(@CurrImagePath) > 0
			BEGIN
				
				INSERT INTO UserFeedbackImages
					(UserFeedbackId, ImagesPath) 
				VALUES
					(@FeedbackID, @CurrImagePath)

			END

			SET @CurrPipeIndex = @NextPipeIndex
			SET @NextPipeIndex = CHARINDEX('|', @ImagePaths, @CurrPipeIndex + 1)
		END

	END

	COMMIT

	SELECT @FeedbackID AS FeedbackID

END
GO
