USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 6/15/2020
-- Description:	Get web est image paths for importing
-- =============================================
CREATE PROCEDURE [dbo].[DataMigration_GetImages] 
	@AdminInfoID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT ImageURL
	FROM [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.EstimationData
	LEFT OUTER JOIN [WEB-EST-PROE\WEBESTARCHIVE].FocusWrite.dbo.EstimationImages ON EstimationData.id = EstimationImages.EstimationDataID
	WHERE EstimationData.AdminInfoID = @AdminInfoID

END
GO
