USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 6/21/2019 
-- Description:	Insert a record into the WebEstImportLog 
-- ============================================= 
CREATE PROCEDURE [dbo].[WebEstImportLog_Insert] 
	@AdminInfoID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    INSERT INTO WebEstImportLog 
	( 
		  AdminInfoID 
		, TimeStamp 
	) 
	VALUES 
	( 
		  @AdminInfoID 
		, GETDATE() 
	) 
END 
GO
