USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEstimationLineLabor]   
	 @id					int = null 
	,@EstimationLineItemsID	int = null 
AS 
BEGIN 
	 
	if @id IS NOT NULL 
		DELETE FROM EstimationLineLabor WHERE id = @id 
	ELSE IF @EstimationLineItemsID IS NOT NULL 
		DELETE FROM EstimationlineLabor WHERE EstimationLineItemsID = @EstimationLineItemsID 
 
end 
GO
