USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[GetPresetLaborItems2] (@CustomerProfilePresetsID Int)
RETURNS VarChar(500) AS  
BEGIN 	
	DECLARE @LaborList VarChar(500)
	SELECT @LaborList = ''
	
	SELECT	@LaborList = @LaborList + 
		ISNULL(CONVERT(VarChar(20),CustomerProfilePresetsLabor.LaborTime),'') + 
		ISNULL(CONVERT(VarChar(20),CustomerProfilePresetsLabor.LaborCost),'') + ' ' +
		ISNULL(LaborTypes.LaborType, '') + ', '
	FROM CustomerProfilePresets WITH (NOLOCK)
	LEFT JOIN ActionList WITH (NOLOCK) ON
		(ActionList.ActionShort = CustomerProfilePresets.ActionCode)
	LEFT JOIN CustomerProfilePresetsLabor WITH (NOLOCK) ON
		(CustomerProfilePresetsLabor.CustomerProfilePresetsID = CustomerProfilePresets.ID)
	LEFT JOIN LaborTypes WITH (NOLOCK) ON
		(LaborTypes.ID = CustomerProfilePresetsLabor.LaborType)
	WHERE CustomerProfilePresets.ID = @CustomerProfilePresetsID  AND
		not CustomerProfilePresetsLabor.LaborType in (9,16,19,18,29) AND
		not CustomerProfilePresetsLabor.LaborType in (1,2,3,4,5,6,8,24,25) AND
		not CustomerProfilePresetsLabor.LaborType in (13,14,15)
	ORDER BY CustomerProfilePresets.ID
	
	SELECT	@LaborList = @LaborList + 

		CASE	WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 1 THEN FocusWrite.dbo.FormatNumber(-CustomerProfilesPaint.AdjacentDeduction,1)
			WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 2 THEN FocusWrite.dbo.FormatNumber(-CustomerProfilesPaint.NonAdjacentDeduction,1)
			ELSE ''
		END + ' hrs.' + 
		CASE	WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 1 THEN ' Adj. Deduct.'
			WHEN CustomerProfilePresetsLabor.AdjacentDeduction = 2 THEN  ' NonAdj. Deduct.'
			ELSE ''
		END
	FROM CustomerProfilePresets WITH (NOLOCK)
	LEFT JOIN ActionList WITH (NOLOCK) ON
		(ActionList.ActionShort = CustomerProfilePresets.ActionCode)
	LEFT JOIN CustomerProfilePresetsLabor WITH (NOLOCK) ON
		(CustomerProfilePresetsLabor.CustomerProfilePresetsID = CustomerProfilePresets.ID)
	LEFT JOIN LaborTypes WITH (NOLOCK) ON
		(LaborTypes.ID = CustomerProfilePresetsLabor.LaborType)
	LEFT JOIN CustomerProfilesPaint WITH (NOLOCK) ON
		(CustomerProfilesPaint.CustomerProfilesID = CustomerProfilePresets.ID)
	WHERE CustomerProfilePresets.ID = @CustomerProfilePresetsID AND
		ISNULL(CustomerProfilePresetsLabor.AdjacentDeduction,0)  > 0 
	ORDER BY CustomerProfilePresets.ID
	

	IF LEN(@LaborList)>2 
		SELECT @LaborList = LEFT(@LaborList ,LEN(@LaborList)-1)
	
	RETURN @LaborList
END



GO
