USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 11/9/2017 
-- ============================================= 
CREATE PROCEDURE [dbo].[LoginImportDataInsert] 
	@LoginID			int, 
	@SalesRepID			int = null, 
	@SelfImport			bit = 0 
AS 
BEGIN 
	INSERT INTO LoginImportData 
	(LoginID, TimeStamp, SalesRepID, SelfImport, ConversionComplete) 
	VALUES (@LoginID, GETDATE(), @SalesRepID, @SelfImport, 0) 
END 
GO
