USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/15/2017 
-- Description:	Add or update a PDR Estimate Data record 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddOrUpdatePDREstimateDataPanel] 
	@ID					int, 
	@AdminInfoID		int, 
	@PanelID			int, 
	@QuantityID			int, 
	@SizeID				int, 
	@OversizedDents		int, 
	@Multiplier			int, 
	@Description		varchar(300), 
	@CustomCharge		money,
	@Expanded			bit, 
	@LineNumber			int 
AS 
BEGIN 
 
	IF EXISTS (SELECT * FROM PDR_EstimateDataPanel with(nolock) WHERE ID = @ID) 
		BEGIN 
			UPDATE [dbo].[PDR_EstimateDataPanel] 
			SET  
				  [AdminInfoID] = @AdminInfoID 
			    , [PanelID] = @PanelID 
				, [QuantityID] = @QuantityID 
				, [SizeID] = @SizeID 
				, [OversizedDents] = @OversizedDents 
				, [Multiplier] = @Multiplier 
				, [Description] = @Description 
				, [CustomCharge] = @CustomCharge
				, [Expanded] = @Expanded 
				, [LineNumber] = @LineNumber 
			WHERE ID = @ID  
 
			SELECT @ID	 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[PDR_EstimateDataPanel] 
			( 
				 [AdminInfoID] 
			    ,[PanelID] 
				,[QuantityID] 
				,[SizeID] 
				,[OversizedDents] 
				,[Multiplier] 
				,[Description] 
				,[CustomCharge]
				,[Expanded] 
				,[LineNumber] 
			) 
			VALUES 
			( 
				 @AdminInfoID 
				,@PanelID 
				,@QuantityID 
				,@SizeID 
				,@OversizedDents 
				,@Multiplier 
				,@Description 
				,@CustomCharge
				,@Expanded 
				,@LineNumber 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
