USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/7/2020
-- Description: Encode html tags in input text
-- =============================================
CREATE FUNCTION [dbo].[HtmlEncode]
(
	@input			varchar(8000)
)
RETURNS varchar(8000)
AS
BEGIN
	SET @input = ISNULL(@input, '')

	RETURN REPLACE(REPLACE(REPLACE(REPLACE(@input, '&', '&amp;'), '<', '&lt;'), '>', '&gt;'), char(13), '<br/>')
END
GO
