USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create FUNCTION [dbo].[GeEstCountByState] ( @BeginDate DATE,@EndDate date,@State varchar(2))
RETURNS int as
BEGIN
declare @Count int


select @Count = count(*)  
from estimationdata as e
	inner join AdminInfo as a
		on a.id = e.AdminInfoID
	inner join logins as l
		on a.CreatorID = l.id 
	inner join OrganizationInfo as o
		on o.id = l.OrganizationID
	left join tbl_Address as ta
		on o.OrgInfoContactsID = ta.ContactsID
where DATEADD(DAY,0,CAST(EstimationDate as date)) between @BeginDate and @EndDate
and ta.State = @State 

return @Count

END



GO
