USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechniciansData](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NULL,
	[AuthorFirstName] [varchar](50) NULL,
	[AuthorLastName] [varchar](50) NULL,
	[LoginID] [int] NULL,
	[OrderNo] [int] NULL,
	[LaborTypeID] [int] NULL,
	[LaborTypeText] [nvarchar](100) NULL,
	[TimeStamp] [datetime] NULL
) ON [PRIMARY]
GO
