USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/21/2020 
-- Description:	Get all Job Status History records for an estimate 
-- ============================================= 
CREATE PROCEDURE [dbo].[JobStatusHistory_GetForEstimate] 
	  @AdminInfoID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	SELECT * 
	FROM JobStatusHistory 
	WHERE AdminInfoID = @AdminInfoID 
	ORDER BY ID DESC 
END 
GO
