USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteEstimationOverlapProposedByAdminInfo]
	@admininfoid int
AS
DELETE FROM EstimationOverlapProposed 
FROM EstimationOverlapProposed eop
where admininfoid = @admininfoid


GO
