USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VendorListReport] 
	@LoginID	int
AS
BEGIN

	SELECT 
		CompanyName
		, FirstName + ' ' + LastName AS Name
		, MobileNumber AS Phone
		, FaxNumber
		, Address1 + ' ' + Address2 AS Address
		, City
		, State
		, Zip
	FROM Vendor
	WHERE LoginsID = @LoginID
		AND (Type = 'After Market' OR Type = 'OEM' OR Type = 'LKQ')
	ORDER BY Type, CompanyName

END
GO
