USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [dbo].[GetExpandedSection] (@SectionNumber Int, @PartNumber VarChar(25), @VehicleID Int)
RETURNS VarChar(250) AS  
BEGIN
	DECLARE @ReturnString VarChar(250)
	DECLARE @ParentID Int
	DECLARE @SectionNumber2 Int
	DECLARE @Name VarChar(50)
	DECLARE @VehiclePosition VarChar(10)

	SELECT @ParentID = -5,
		@ReturnString = '',
		@SectionNumber2 = @SectionNumber

	SELECT @ParentID = ParentID,
		@Name = Name
	FROM Vehicles.Dbo.VehicleSections WITH (NOLOCK)
	WHERE id = @SectionNumber2

	WHILE @SectionNumber2 IS NOT NULL AND ISNULL(@SectionNumber2,0)>0
	BEGIN
		IF @ReturnString <> ''
			SELECT @ReturnString =  ' \ ' + @ReturnString
			
		SELECT @ReturnString = @Name + @ReturnString
		SELECT @SectionNumber2 = @ParentID
		SELECT @ParentID = ParentID,
			@Name = Name
		FROM Vehicles.Dbo.VehicleSections WITH (NOLOCK)
		WHERE id = @SectionNumber2
	END

	SELECT @VehiclePosition = StepListToElements.VehiclePosition
	FROM Vehicles.Dbo.VehicleSteps VehicleSteps WITH (NOLOCK)
	INNER JOIN Vehicles.Dbo.VehicleSectionParts VehicleSectionParts WITH (NOLOCK) ON
		(VehicleSectionParts.VehicleSectionsID = @SectionNumber)
	INNER JOIN Vehicles.Dbo.StepList StepList WITH (NOLOCK) ON
		(StepList.VehicleStepsID = VehicleSteps.ID AND
		 StepList.StepsID = VehicleSectionParts.StepsID)
	INNER JOIN Vehicles.dbo.StepListToElements StepListToElements WITH (NOLOCK) ON
		(StepListToElements.StepListID = StepList.ID)
	INNER JOIN Vehicles.Dbo.Elements VehElements WITH (NOLOCK) ON
		(VehElements.id = StepListToElements.ElementsID AND
		 (VehElements.OEMPartNumber = @PartNumber OR
		  VehElements.OEMPartNumberBare = @PartNumber ) )
	WHERE VehicleSteps.VehicleID = @VehicleID

	SELECT @ReturnString = @ReturnString + 
		CASE	WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'R'	THEN ' (Right)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'L'	THEN ' (Left)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'C'	THEN ' (Center)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'T'	THEN ' (Top)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'B'	THEN ' (Bottom)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'F'	THEN ' (Front)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'BK'	THEN ' (Back)'
			WHEN ISNULL(RTRIM(LTRIM(@VehiclePosition)),'') = 'RR'	THEN ' (Rear)'
			ELSE ''
		END
	RETURN (@ReturnString)
END



GO
