USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 6/21/2019 
-- Description:	Get a web est import log record by AdminInfoID 
-- ============================================= 
CREATE PROCEDURE [dbo].[WebEstImportLog_Get] 
	@AdminInfoID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT * 
	FROM WebEstImportLog 
	WHERE AdminInfoID = @AdminInfoID 
END 
GO
