USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/13/2020 
-- Description:	Add or update a site change log record 
-- ============================================= 
CREATE PROCEDURE [dbo].[SiteChangeLog_Update] 
	  @ID				int 
	, @Date				date 
	, @ShortNote		varchar(500) 
	, @LongNote			varchar(5000) 
	, @IsActive			bit 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    if @ID > 0 
		BEGIN 
			UPDATE SiteChangeLog 
			SET 
				[Date] = @Date 
				, ShortNote = @ShortNote 
				, LongNote = @LongNote 
				, IsActive = @IsActive 
			WHERE ID = @ID 
 
			SELECT @ID 
		END 
	ELSE 
		BEGIN 
			INSERT INTO SiteChangeLog 
			( 
				  Date 
				, ShortNote 
				, LongNote 
				, IsActive 
			) 
			VALUES 
			( 
				  @Date 
				, @ShortNote 
				, @LongNote 
				, @IsActive 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
