USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:    T. Gibson
-- Create date: 3/22/2017
-- Description:  Log LKQ quotes for historical reasons
-- =============================================
CREATE PROCEDURE [dbo].[Loglkqquote]
  -- Add the parameters for the stored procedure here
  @shopId   AS NVARCHAR(250),
  @request  AS NVARCHAR(max),
  @response AS NVARCHAR(max)
AS
  BEGIN
      INSERT INTO [lkqquote]
                  ([shopid],
                   [request],
                   [response],
                   [createdate])
      VALUES      (@shopId,
                   @request,
                   @response,
                   getdate())
  END
GO
