USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertFlyerRecord]
@shopname varchar(255),
@address varchar(255),
@city varchar(255),
@state varchar(2),
@postal varchar(15),
@phone varchar(25),
@invitationNumber varchar(15),
@expireDate smalldatetime

as

if(not exists(select * from flyer with(nolock) where InvitationNumber = @invitationNumber))
begin
	INSERT INTO [FocusWrite].[dbo].[Flyer]
	([Company], [Address], [City], [State], [Zip], [Phone], [InvitationNumber], [ExpireDate])
	VALUES(
		@shopname,
		@address,
		@city,
		@state,
		@postal,
		@phone,
		@invitationNumber,
		@expireDate)
end
else
begin
	raiserror('The invitation number %s is already in the database',18,1,@invitationNumber)
end



GO
