USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*      */
CREATE PROCEDURE [dbo].[spGetLabor]
	@AdminInfoID Int
AS
    IF object_id('tempdb..#TempGetLabor') IS NOT NULL
	BEGIN
	INSERT INTO #TempGetLabor([AdminInfoID],
		[RateTypesID],
		[RateName],
		[LaborTypesID],
		[LaborType],
		[Description],
		[BettermentType],
		[Sublet],
		[LaborCost],
		[LaborTime],
		[EMSCode1],
		[EMSBetterment],
		[EMSSublet],
		[Rate],
		[CapType],
		[Cap],
		[DiscountMarkup],
		[Taxable],
		[IncludeIn])
	SELECT	AdminInfo.id 'AdminInfoID',
		ISNULL(RateTypes.id,0) 'RateTypesID',
		ISNULL(RateTypes.RateName,LaborTypes.LaborType) 'RateName',
		LaborTypes.id 'LaborTypesID',
		LaborTypes.LaborType,
		LaborTypes.Description,
		ISNULL(EstimationLineItems.BettermentType, '') AS 'BettermentType',
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END 'Sublet',
		Sum(ISNULL(EstimationLineLabor.LaborCost,0)) 'LaborCost',
		Sum(ISNULL(EstimationLineLabor.LaborTime,0)) 'LaborTime',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CASE 	WHEN ISNULL(LaborTypes.id,0) = 14 OR ISNULL(CustomerProfileRates.Taxable,0) <> 0 THEN 1
			ELSE 0
		END 'Taxable',
		CustomerProfileRates.IncludeIn	
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	LEFT JOIN EstimationLineItems EstimationLineItemsOverridden WITH (NOLOCK) ON
		(EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id)
	INNER JOIN EstimationLineLabor WITH (NOLOCK) ON
		(EstimationLineLabor.EstimationLineItemsID  = EstimationLineItems.id)
	LEFT JOIN LaborTypes WITH (NOLOCK) ON
		(LaborTypes.id = EstimationLineLabor.LaborType)
	LEFT JOIN RateTypes WITH (NOLOCK) ON
		(RateTypes.id = LaborTypes.RateTypesID)
	INNER JOIN CustomerProfiles WITH (NOLOCK) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates WITH (NOLOCK) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
	WHERE	AdminInfo.ID = @AdminInfoID AND
		EstimationLineItemsOverridden.ID IS NULL
		and EstimationLineItems.id not in (12156516,
12156517,
12156562)
	GROUP BY
		AdminInfo.id,
		RateTypes.id,
		RateTypes.RateName,
		LaborTypes.id,
		LaborTypes.LaborType,
		LaborTypes.Description,
		ISNULL(EstimationLineItems.BettermentType, ''),
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END,
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	END
	ELSE
	BEGIN
		SELECT	AdminInfo.id 'AdminInfoID',
		ISNULL(RateTypes.id,0) 'RateTypesID',
		ISNULL(RateTypes.RateName,LaborTypes.LaborType) 'RateName',
		LaborTypes.id 'LaborTypesID',
		LaborTypes.LaborType,
		LaborTypes.Description,
		ISNULL(EstimationLineItems.BettermentType, '') AS 'BettermentType',
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END 'Sublet',
		Sum(ISNULL(EstimationLineLabor.LaborCost,0)) 'LaborCost',
		Sum(ISNULL(EstimationLineLabor.LaborTime,0)) 'LaborTime',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CASE 	WHEN ISNULL(LaborTypes.id,0) = 14 OR ISNULL(CustomerProfileRates.Taxable,0) <> 0 THEN 1
			ELSE 0
		END 'Taxable',
		CustomerProfileRates.IncludeIn	
	FROM AdminInfo WITH (NOLOCK)
	INNER JOIN EstimationData WITH (NOLOCK) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN EstimationLineItems WITH (NOLOCK) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	LEFT JOIN EstimationLineItems EstimationLineItemsOverridden WITH (NOLOCK) ON
		(EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id)
	INNER JOIN EstimationLineLabor WITH (NOLOCK) ON
		(EstimationLineLabor.EstimationLineItemsID  = EstimationLineItems.id)
	LEFT JOIN LaborTypes WITH (NOLOCK) ON
		(LaborTypes.id = EstimationLineLabor.LaborType)
	LEFT JOIN RateTypes WITH (NOLOCK) ON
		(RateTypes.id = LaborTypes.RateTypesID)
	INNER JOIN CustomerProfiles WITH (NOLOCK) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates WITH (NOLOCK) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
	WHERE	AdminInfo.ID = @AdminInfoID AND
		EstimationLineItemsOverridden.ID IS NULL
		and EstimationLineItems.id not in (12156516,
12156517,
12156562)
	GROUP BY
		AdminInfo.id,
		RateTypes.id,
		RateTypes.RateName,
		LaborTypes.id,
		LaborTypes.LaborType,
		LaborTypes.Description,
		ISNULL(EstimationLineItems.BettermentType, ''),
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END,
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn

	END

GO
