USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ezra
-- Create date: 9/14/2016
-- Description:	Update the password for a Logins record
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdatePassword] 
	@loginsID		int,
	@encPassword	varchar(255),
	@password		varchar(100)
AS
BEGIN
	UPDATE Logins 
	SET 
		encPassword = @encPassword
		, Password = @password
	WHERE id = @loginsID
END


GO
