USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmailCustomTemplateGetForLogin]
	  @LoginID			INT
AS 
BEGIN

	SET NOCOUNT ON;

	SELECT * 
	FROM EmailCustomTemplate
	WHERE LoginID = @LoginID

END

GO
