USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 5/16/2018 
-- Description:	Get the last line number for an estimate, this checks both regular line items and PDR lines 
-- ============================================= 
CREATE PROCEDURE [dbo].[Estimate_GetLastLineNumber] 
	@AdminInfoID			int 
AS 
BEGIN 
 
	SELECT dbo.GetLastLineNumber(@AdminInfoID) 
 
END 

GO
