USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/15/2020 
-- Description:	Get a Logins by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[Logins_GetByID] 
	@ID				int 
AS 
BEGIN 
	SELECT * 
	FROM Logins 
	WHERE ID = @ID 
END 
GO
