USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 8/17/2017 
-- Description:	Get a payment by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[PaymentGet] 
	@id			int 
AS 
BEGIN 
	SELECT * 
	FROM Payment 
	WHERE ID = @id 
END 
GO
