USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/1/2019 
-- Description:	Get a profile paint record by profile ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfilesPaint_GetByProfile] 
   @CustomerProfilesID	int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT *  
	FROM CustomerProfilesPaint 
	WHERE CustomerProfilesID = @CustomerProfilesID 
 
END 
GO
