USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[GetNoOfLogins]
(
@LoginId int
)
as 
begin
Select NoOfLogins from Logins where id =@LoginId 
end

GO
