USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[ContractPriceLevelID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[IsSigned] [bit] NOT NULL,
	[Notes] [varchar](2000) NULL,
	[PromoID] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[WillRenew] [bit] NOT NULL,
	[IsDeleted] [bit] NULL,
	[WillNotRenew] [bit] NULL,
	[AutoRenew] [bit] NULL,
	[IgnoreAutoPay] [bit] NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Contracts_ExpirationDate_IsSigned_Active] ON [dbo].[Contracts]
(
	[ExpirationDate] ASC,
	[IsSigned] ASC,
	[Active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Contracts_LoginID] ON [dbo].[Contracts]
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_isSigned]  DEFAULT ((0)) FOR [IsSigned]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_PromoID]  DEFAULT ((0)) FOR [PromoID]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_WillRenew]  DEFAULT ((0)) FOR [WillRenew]
GO
