USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/3/2020
-- Description:	Log when a Logins account is posted to Success Box
-- =============================================
CREATE PROCEDURE [dbo].[SuccessBoxAccountLog_Insert]
	@LoginID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO SuccessBoxAccountLog (LoginID, TimeStamp)
	VALUES (@LoginID, GETDATE())
END
GO
