USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DueInvoiceReport]
	@LoginID		INT  = NULL, 
	@DateStart		DATETIME  = NULL, 
	@DateEnd		DATETIME  = NULL, 
	@HasCardError	BIT = NULL,
	@AutoPay		BIT = NULL, 
	@Paid			BIT = NULL, 
	@HasStripeInfo	BIT = NULL 
AS
BEGIN

	SELECT StripeInfo.ID, Invoices.ContractID, InvoiceID, Summary AS InvoiceSummary, InvoiceAmount, Invoices.LoginID,
	CONVERT(varchar, DueDate, 1) AS DueDate, StripeInfo.StripeCardID,
	(CASE WHEN Paid = 1 THEN 'Yes' ELSE 'No' END) AS Paid,
	(CASE WHEN AutoPay = 1 THEN 'Yes' ELSE 'No' END) AS AutoPay,
	(CASE WHEN StripeCardID = '' OR StripeCardID IS NULL THEN 'No' ELSE 'Yes' END) AS HasCard, 
	(CASE WHEN CardError = 1 THEN 'Yes' ELSE 'No' END) AS CardError, ErrorMessage
	FROM Invoices

	-- Only get invoices that are attached to a contract that has a payment
	JOIN 
	(
		SELECT DISTINCT ContractID
		FROM Invoices
		WHERE Paid = 1
	) AS HasPayment ON Invoices.ContractID = HasPayment.ContractID

	-- Only get invoices for users who have stripe info and auto pay turned on
	LEFT OUTER JOIN StripeInfo ON StripeInfo.LoginID = Invoices.LoginID AND (ISNULL(StripeInfo.DeleteFlag, 0) = 0)

	-- Ignore invoices who's contract or add on is deleted
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	WHERE 
		Invoices.LoginID = ISNULL(@LoginID, Invoices.LoginID)
		AND (DueDate >= ISNULL(@DateStart, DueDate) AND DueDate <= ISNULL(@DateEnd, DueDate))
		AND AutoPay = ISNULL(@AutoPay, AutoPay) AND Paid = ISNULL(@Paid, Paid)
		AND ISNULL(@HasCardError, StripeInfo.CardError) = StripeInfo.CardError
		AND (StripeCardID = (CASE WHEN @HasStripeInfo = 1 THEN StripeInfo.StripeCardID ELSE '' END))

		AND (Invoices.IsDeleted = 0 AND ISNULL(Contracts.IsDeleted, 0) = 0 AND ISNULL(ContractAddOn.IsDeleted, 0) = 0)
		ORDER BY Invoices.LoginID ASC
END
GO
