USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		<Author,,Name> 
-- Create date: <Create Date,,> 
-- Description:	<Description,,> 
-- ============================================= 
CREATE FUNCTION [dbo].[GetEstCount]  
(	 
	@BeginDate    DATE
   ,@EndDate date
) 
RETURNS  @Temp table(est int)

as 
begin

declare @Count table(admininfoid int)

insert into @Count
select e.AdminInfoID  
from estimationdata as e
	inner join AdminInfo as a
		on a.id = e.AdminInfoID
where DATEADD(DAY,0,CAST(EstimationDate as date)) between @BeginDate and @EndDate
union all 
select e.AdminInfoID  
from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.estimationdata as e
	inner join [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.AdminInfo as a
		on a.id = e.AdminInfoID
where DATEADD(DAY,0,CAST(EstimationDate as date)) between @BeginDate and @EndDate

insert into @Temp
select  count(distinct AdminInfoID) 
from @Count  

return  

end 

 
GO
