USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
/*      */ 
CREATE PROCEDURE [dbo].[spGetParts] 
	@AdminInfoID Int 
AS 
 
    IF object_id('tempdb..#GetParts') IS NOT NULL 
	BEGIN 
	    INSERT INTO #GetParts([AdminInfoID], 
		[RateTypesID], 
		[RateName], 
		[PartSource], 
		[Type], 
		[Price], 
		[BettermentType], 
		[Sublet], 
		[EMSCode1], 
		[EMSBetterment], 
		[EMSSublet], 
		[Rate], 
		[CapType], 
		[Cap], 
		[DiscountMarkup], 
		[Taxable], 
		[IncludeIn]) 
		SELECT	AdminInfo.id 'AdminInfoID', 
		RateTypes.id 'RateTypesID', 
		RateTypes.RateName, 
		ISNULL(EstimationLineItems.PartSource,'') 'PartSource', 
		CONVERT(VarChar(50), 
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other' 
				ELSE ISNULL(EstimationLineItems.PartSource,'Other')  
			END) + ' ' + 'Parts' 'Type', 
		Sum(ISNULL(EstimationLineItems.Price,0) * ISNULL(EstimationLineItems.Qty, 1)) 'Price', 
		EstimationLineItems.BettermentType, 
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1 
			WHEN EstimationLineItems.SubletPartsFlag  <> 0 THEN 1 
			ELSE 0 
		END 'Sublet', 
		RateTypes.EMSCode1, 
		RateTypes.EMSBetterment, 
		RateTypes.EMSSublet, 
		CustomerProfileRates.Rate, 
		CustomerProfileRates.CapType, 
		CustomerProfileRates.Cap, 
		CustomerProfileRates.DiscountMarkup, 
		CustomerProfileRates.Taxable, 
		CustomerProfileRates.IncludeIn	 
	FROM AdminInfo with(nolock) 
	INNER JOIN EstimationData with(nolock) ON 
		(EstimationData.AdminInfoID = AdminInfo.id) 
	INNER JOIN EstimationLineItems with(nolock) ON 
		(EstimationLineItems.EstimationDataID  = EstimationData.id) 
	LEFT JOIN EstimationLineItems EstimationLineItemsOverridden with(nolock) ON 
		(EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id) 
	LEFT JOIN (		SELECT 'OEM Parts' 'Type', 8 'RateTypesID' 
			UNION	SELECT 'LKQ Parts', 9 
			UNION	SELECT 'Reman Parts', 13 
			UNION	SELECT 'After Parts', 10 
			UNION	SELECT 'Other Parts', 18) PartRates ON 
		(PartRates.Type = 	CONVERT(VarChar(50), 
						CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other' 
							ELSE ISNULL(EstimationLineItems.PartSource,'Other')  
						END) + ' ' + 'Parts') 
	LEFT JOIN RateTypes with(nolock) ON 
		(RateTypes.id = PartRates.RateTypesID) 
	INNER JOIN CustomerProfiles with(nolock) ON 
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID) 
	LEFT JOIN CustomerProfileRates with(nolock) ON 
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND 
		 CustomerProfileRates.RateType = RateTypes.id) 
	WHERE EstimationLineItemsOverridden.ModifiesID IS NULL 
	and  admininfo.id = @AdminInfoID 
	GROUP BY  
		AdminInfo.id, 
		RateTypes.id, 
		RateTypes.RateName, 
		ISNULL(EstimationLineItems.PartSource,''), 
		CONVERT(VarChar(50), 
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other' 
				ELSE ISNULL(EstimationLineItems.PartSource,'Other')  
			END) + ' ' + 'Parts', 
		EstimationLineItems.BettermentType, 
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1 
			WHEN EstimationLineItems.SubletPartsFlag  <> 0 THEN 1 
			ELSE 0 
		END, 
		RateTypes.EMSCode1, 
		RateTypes.EMSBetterment, 
		RateTypes.EMSSublet, 
		CustomerProfileRates.Rate, 
		CustomerProfileRates.CapType, 
		CustomerProfileRates.Cap, 
		CustomerProfileRates.DiscountMarkup, 
		CustomerProfileRates.Taxable, 
		CustomerProfileRates.IncludeIn 
 
	END 
	ELSE 
	BEGIN 
	SELECT	AdminInfo.id 'AdminInfoID', 
		RateTypes.id 'RateTypesID', 
		RateTypes.RateName, 
		ISNULL(EstimationLineItems.PartSource,'') 'PartSource', 
		CONVERT(VarChar(50), 
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other' 
				ELSE ISNULL(EstimationLineItems.PartSource,'Other')  
			END) + ' ' + 'Parts' 'Type', 
		Sum(ISNULL(EstimationLineItems.Price,0) * ISNULL(EstimationLineItems.Qty, 1)) 'Price', 
	 
		EstimationLineItems.BettermentType, 
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1 
			WHEN EstimationLineItems.SubletPartsFlag  <> 0 THEN 1 
			ELSE 0 
		END 'Sublet', 
		RateTypes.EMSCode1, 
		RateTypes.EMSBetterment, 
		RateTypes.EMSSublet, 
		CustomerProfileRates.Rate, 
		CustomerProfileRates.CapType, 
		CustomerProfileRates.Cap, 
		CustomerProfileRates.DiscountMarkup, 
		CustomerProfileRates.Taxable, 
		CustomerProfileRates.IncludeIn 
	FROM AdminInfo with(nolock) 
	INNER JOIN EstimationData with(nolock) ON 
		(EstimationData.AdminInfoID = AdminInfo.id) 
	INNER JOIN EstimationLineItems with(nolock) ON 
		(EstimationLineItems.EstimationDataID  = EstimationData.id) 
	LEFT JOIN EstimationLineItems EstimationLineItemsOverridden with(nolock) ON 
		(EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id) 
	LEFT JOIN (		SELECT 'OEM Parts' 'Type', 8 'RateTypesID' 
			UNION	SELECT 'LKQ Parts', 9 
			UNION	SELECT 'Reman Parts', 13 
			UNION	SELECT 'After Parts', 10 
			UNION	SELECT 'Other Parts', 18) PartRates ON 
		(PartRates.Type = 	CONVERT(VarChar(50), 
						CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other' 
							ELSE ISNULL(EstimationLineItems.PartSource,'Other')  
						END) + ' ' + 'Parts') 
	LEFT JOIN RateTypes with(nolock) ON 
		(RateTypes.id = PartRates.RateTypesID) 
	INNER JOIN CustomerProfiles with(nolock) ON 
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID) 
	LEFT JOIN CustomerProfileRates with(nolock) ON 
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND 
		 CustomerProfileRates.RateType = RateTypes.id) 
	WHERE EstimationLineItemsOverridden.ModifiesID IS NULL 
	and  admininfo.id = @AdminInfoID 
	GROUP BY  
		AdminInfo.id, 
		RateTypes.id, 
		RateTypes.RateName, 
		ISNULL(EstimationLineItems.PartSource,''), 
		CONVERT(VarChar(50), 
			CASE 	WHEN EstimationLineItems.PartSource = '' THEN 'Other' 
				ELSE ISNULL(EstimationLineItems.PartSource,'Other')  
			END) + ' ' + 'Parts', 
		EstimationLineItems.BettermentType, 
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1 
			WHEN EstimationLineItems.SubletPartsFlag  <> 0 THEN 1 
			ELSE 0 
		END, 
		RateTypes.EMSCode1, 
		RateTypes.EMSBetterment, 
		RateTypes.EMSSublet, 
		CustomerProfileRates.Rate, 
		CustomerProfileRates.CapType, 
		CustomerProfileRates.Cap, 
		CustomerProfileRates.DiscountMarkup, 
		CustomerProfileRates.Taxable, 
		CustomerProfileRates.IncludeIn 
	END 
 
GO
