USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UnsubscribeInfo_Save] 
	@ID int,
	@LoginID int,
	@Email varchar(50),
	@TimeStamp DateTime,
	@Event varchar(20),
	@EmailID int
AS 
BEGIN 
	IF (@ID > 0 ) 
		BEGIN 
			UPDATE UnsubscribeInfo
			SET LoginID = @LoginID,
				Email = @Email,
				TimeStamp = @TimeStamp,
				Event = @Event,
				EmailID = @EmailID
			WHERE ID = @ID
 
			SELECT @ID
		END 
	ELSE 
		INSERT INTO UnsubscribeInfo
		(
			LoginID,
			Email,
			TimeStamp,
			Event,
			EmailID
		) 
		VALUES
		(
			@LoginID
			, @Email
			, @TimeStamp
			, @Event
			, @EmailID
		)
 
		SELECT CAST(SCOPE_IDENTITY() AS INT)
END
GO
