USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GetSalesReps]
	@SalesRepID int = NULL
AS

/*

-- All sales reps
EXECUTE GetSalesReps

-- Specific sales rep
EXECUTE GetSalesReps
	@SalesRepID = 1

*/

-- Reset @SalesRepID if it is 0 (Admin)
IF @SalesRepID = 0
	SET @SalesRepID = NULL
	
	
-- Open encryption key		
OPEN SYMMETRIC KEY WebEstEncryptionKey
   DECRYPTION BY CERTIFICATE WebEstEncryptionCertificate


SELECT		SalesRepID,
			SalesNumber,
			FirstName,
			LastName,
			( FirstName + ' ' + LastName ) AS FullName,
			( SalesNumber + ' - ' + FirstName + ' ' + LastName ) AS FullDescription,
			Email,
			UserName,
			Convert(varchar, DecryptByKey(Password)) AS Password
FROM		SalesRep with(nolock)
WHERE		SalesRepID = isNull(@SalesRepID, SalesRepID)
 AND			SalesRepID > 0	-- Omit Admin


GO
