USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[EMS_Export_GetProfileRates5] 
	@AdminInfoID Int 
AS 
 
SET NOCOUNT ON 
SET FMTONLY OFF 


declare @CreatorID int

select @CreatorID = CreatorID from AdminInfo as a where id = @AdminInfoID

if @CreatorID = 56027
begin
 exec [dbo].[EMS_Export_GetProfileRates5_201] @AdminInfoID 
end 
else 
begin

DECLARE @PolicyNumber VarChar(25) 
DECLARE @ClaimNumber VarChar(25) 
 
SELECT 
	NULL TAX_TYPE1, 
	0 TY1_TIER1, 
	0 TY1_THRES1, 
	0 TY1_RATE1, 
	0 TY1_SUR1, 
	0 TY1_TIER2, 
	0 TY1_THRES2, 
	0 TY1_RATE2, 
	0 TY1_SUR2, 
	0 TY1_TIER3, 
	0 TY1_THRES3, 
	0 TY1_RATE3, 
	0 TY1_SUR3, 
	0 TY1_TIER4, 
	0 TY1_THRES4, 
	0 TY1_RATE4, 
	0 TY1_SUR4, 
	0 TY1_TIER5, 
	0 TY1_THRES5, 
	0 TY1_RATE5, 
	0 TY1_SUR5, 
	NULL TAX_TYPE2, 
	0 TY2_TIER1, 
	0 TY2_THRES1, 
	0 TY2_RATE1, 
	0 TY2_SUR1, 
	0 TY2_TIER2, 
	0 TY2_THRES2, 
	0 TY2_RATE2, 
	0 TY2_SUR2, 
	0 TY2_TIER3, 
	0 TY2_THRES3, 
	0 TY2_RATE3, 
	0 TY2_SUR3, 
	0 TY2_TIER4, 
	0 TY2_THRES4, 
	0 TY2_RATE4, 
	0 TY2_SUR4, 
	0 TY2_TIER5, 
	0 TY2_THRES5, 
	0 TY2_RATE5, 
	0 TY2_SUR5, 
	NULL TAX_TYPE3, 
	0 TY3_TIER1, 
	0 TY3_THRES1, 
	0 TY3_RATE1, 
	0 TY3_SUR1, 
	0 TY3_TIER2, 
	0 TY3_THRES2, 
	0 TY3_RATE2, 
	0 TY3_SUR2, 
	0 TY3_TIER3, 
	0 TY3_THRES3, 
	0 TY3_RATE3, 
	0 TY3_SUR3, 
	0 TY3_TIER4, 
	0 TY3_THRES4, 
	0 TY3_RATE4, 
	0 TY3_SUR4, 
	0 TY3_TIER5, 
	0 TY3_THRES5, 
	0 TY3_RATE5, 
	0 TY3_SUR5, 
	NULL TAX_TYPE4, 
	0 TY4_TIER1, 
	0 TY4_THRES1, 
	0 TY4_RATE1, 
	0 TY4_SUR1, 
	0 TY4_TIER2, 
	0 TY4_THRES2, 
	0 TY4_RATE2, 
	0 TY4_SUR2, 
	0 TY4_TIER3, 
	0 TY4_THRES3, 
	0 TY4_RATE3, 
	0 TY4_SUR3, 
	0 TY4_TIER4, 
	0 TY4_THRES4, 
	0 TY4_RATE4, 
	0 TY4_SUR4, 
	0 TY4_TIER5, 
	0 TY4_THRES5, 
	0 TY4_RATE5, 
	0 TY4_SUR5, 
	NULL TAX_TYPE5, 
	0 TY5_TIER1, 
	0 TY5_THRES1, 
	0 TY5_RATE1, 
	0 TY5_SUR1, 
	0 TY5_TIER2, 
	0 TY5_THRES2, 
	0 TY5_RATE2, 
	0 TY5_SUR2, 
	0 TY5_TIER3, 
	0 TY5_THRES3, 
	0 TY5_RATE3, 
	0 TY5_SUR3, 
	0 TY5_TIER4, 
	0 TY5_THRES4, 
	0 TY5_RATE4, 
	0 TY5_SUR4, 
	0 TY5_TIER5, 
	0 TY5_THRES5, 
	0 TY5_RATE5, 
	0 TY5_SUR5, 
	NULL TAX_TYPE6, 
	0 TY6_TIER1, 
	0 TY6_THRES1, 
	0 TY6_RATE1, 
	0 TY6_SUR1, 
	0 TY6_TIER2, 
	0 TY6_THRES2, 
	0 TY6_RATE2, 
	0 TY6_SUR2, 
	0 TY6_TIER3, 
	0 TY6_THRES3, 
	0 TY6_RATE3, 
	0 TY6_SUR3, 
	0 TY6_TIER4, 
	0 TY6_THRES4, 
	0 TY6_RATE4, 
	0 TY6_SUR4, 
	0 TY6_TIER5, 
	0 TY6_THRES5, 
	0 TY6_RATE5, 
	0 TY6_SUR5 
 
 
 
 end
GO
