USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/22/2021
-- =============================================
CREATE PROCEDURE [dbo].[LoginsAutoRenew_Insert] 
	  @LoginID					int
	, @Enabled					bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO LoginsAutoRenew
	(
		  LoginID
		, Enabled
		, TimeStamp
	)
	VALUES
	(
		  @LoginID
		, @Enabled
		, GETDATE()
	)
END
GO
