USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareVersion](
	[Id] [int] NOT NULL,
	[SalesRepId] [int] NOT NULL,
	[Version] [nchar](10) NOT NULL,
	[CreateDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
