USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CustomerProfileFunctions-02.sql
CREATE PROCEDURE [dbo].[CustomerProfileFunctions]       
 @Function VarChar(50),       
 @AdminInfoID Int = NULL,       
 @LoginsID Int = NULL,       
 @ProfileID Int = NULL,       
 @CustomerProfilesID Int = NULL,       
 @CustomerProfilePresetsID Int = NULL,       
 @PresetLineItemsID Int = NULL,       
 @FromID Int = NULL,       
 @ToID Int = NULL,       
 @DefaultPrintNote VarChar(1000) = NULL,        
 @DefaultNonPrintNote VarChar(1000) = NULL,       
 @TaxRateAndLaborTaxed VarChar(500) = NULL,        
 @Caps VarChar(500) = NULL,       
 @PresetCharges VarChar(500) = NULL,        
 @DiscountsMarkups VarChar(500) = NULL,       
 @VarTaxRates VarChar(500) = NULL,       
 @PartNumber VarChar(50) = NULL,       
 @PartSource VarChar(20) = NULL,       
 @Qty TinyInt = NULL,       
 @Price Money = NULL,       
 @Description VarChar(255) =NULL,       
 @InternalNotes VarChar(500) = NULL,       
 @ExternalNotes VarChar(500) = NULL,       
 @PaintTime Real = NULL,       
 @PaintType Int = NULL,       
 @LaborType Int = NULL,       
 @LaborTime Real = NULL,       
 @OtherCharge Real = NULL,       
 @Other Int = NULL,       
 @Operation VarChar(20) = NULL,       
 @OpDesc VarChar(80) = NULL,       
 @EdgingType Int = NULL,       
 @EdgingTime Real = NULL,       
 @ClearcoatTime Real = NULL,       
 @BlendTime Real = NULL,       
 @Allowance Real = NULL,       
 @UndersideTime Real = NULL,       
 @LaborBody VarChar(100) = NULL,       
 @LaborPaint VarChar(100) = NULL,       
 @LaborFinish VarChar(100) = NULL,       
 @LaborMechanical VarChar(100) = NULL,       
 @LaborFrame VarChar(100) = NULL,       
 @LaborStructure VarChar(100) = NULL,       
 @LaborElectrical VarChar(100) = NULL,       
 @LaborGlass VarChar(100) = NULL,       
 @LaborDetail VarChar(100) = NULL,       
 @LaborCleanup VarChar(100) = NULL,       
 @LaborOther VarChar(100) = NULL,       
 @LaborClearcoat VarChar(100) = NULL,       
 @SuppliesBody VarChar(100) = NULL,       
 @SuppliesPaint VarChar(100) = NULL,       
 @SuppliesFinish VarChar(100) = NULL,       
 @SuppliesClearcoat VarChar(100) = NULL,       
 @PartsRetail VarChar(100) = NULL,       
 @PartsLKQ VarChar(100) = NULL,       
 @PartsAftermarket VarChar(100) = NULL,       
 @PartsReman VarChar(100) = NULL,       
 @PartsOther VarChar(100) = NULL,       
 @OtherSublet VarChar(100) = NULL,       
 @Overhaul Bit = NULL,       
 @UseBigFonts Bit = 0,       
 @AdjacentDeduction TinyInt = 0,       
 @MajorPanel Bit = 0,       
 @SeparateLabor Bit = 0,   
 @LaborIncluded Bit = 0,
     
  --------------------------------------------     
 --New columns Added by Manpreet Singh---      
  --------------------------------------------     
 @EstimateNumber Bit=0,     
 @AdminID Bit=0,      
@PrintPaymentInfo bit=0,  
 ---------------------------------------------     
      
 @LaborInDollars Bit = 0,      
 @GreyBars Bit =0,       
 @SectionID Int = NULL,       
 @Language_ID Int = 1,       
 @Country_ID Int = 1,       
 @CheckboxString VarChar(25) = NULL,       
 @TextBoxString VarChar(500) = NULL,       
 @GraphicsQuality TinyInt = NULL,        
 @NoHeaderLogo Bit = NULL,        
 @NoInsuranceSection Bit = NULL,        
 @NoPhotos Bit = NULL,       
 @NoVehicleAccessories VarChar(5000) = NULL,       
 @FooterText VarChar(8000) = NULL,       
 @PrintInternalNotes Bit = 1,       
 @PrintExternalNotes Bit = 0,       
 @VendorID Int = NULL,       
 @ContactOption VarChar(20) = NULL,       
 @SupplementOption VarChar(20) = NULL,       
 @OrderBy VarChar(20) = NULL,       
 @SessionID VarChar(50) = NULL,       
 @DefaultPresets Bit = NULL,       
 @DefaultPreset Bit = NULL,       
 @PrintEstimator Bit = NULL, 
 @PrintVendors Bit = NULL, 
 @NoFooterDateTimeStamp Bit = NULL, 
 @OperationBetterment Bit = NULL,       
        @OperationSublet Bit = NULL,       
 @NoReturn Bit = 0,       
 @DefaultProfile Bit = NULL OUTPUT,       
 @ProfileName VarChar(50) = NULL OUTPUT,       
 @ProfileDescription VarChar(500) = NULL OUTPUT,        
 
 @LockAllowance Bit = 0,  
@LockClearcoat Bit = 0,  
@LockBlend Bit = 0,  
@LockEdging Bit = 0,  
@LockUnderside Bit = 0,	  
@IncludeAllowance Bit = 0,  
@IncludeClearcoat Bit = 0,  
@IncludeBlend Bit = 0,  
@IncludeEdging Bit = 0,  
@IncludeUnderside Bit = 0,	  
 
@CapRatesAfterInclude BIT = 0, 
@CapSuppliesAfterInclude BIT = 0, 
 
 @Return Int = NULL OUTPUT       
AS       
       
DECLARE @id Int       
DECLARE @id1 Int       
DECLARE @id2 Int       
DECLARE @DescriptionsId Int       
DECLARE @TextValuesId Int       
DECLARE @NumericValues1Id Int       
DECLARE @NumericValues2Id Int       
DECLARE @ShortCharValuesId Int       
DECLARE @EntryType1 TinyInt       
DECLARE @EntryType2 TinyInt       
DECLARE @Changes VarChar(8000)       
DECLARE @TempString VarChar(1000)       
DECLARE @CharAt Int       
DECLARE @CharAt2 Int       
DECLARE @ChangeAdded Bit       
DECLARE @RecalcFlag Bit       
DECLARE @BranchingNeeded Bit      
       
SELECT @BranchingNeeded = 0       
       
IF @DefaultPreset IS NULL AND @DefaultPresets IS NOT NULL       
 SELECT @DefaultPreset = @DefaultPresets       
ELSE       
 SELECT @DefaultPresets = @DefaultPreset       
       
SET NOCOUNT ON       
       
IF @ProfileName IS NOT NULL SELECT @ProfileName = REPLACE(@ProfileName,'&nbsp;','')       
IF @ProfileDescription IS NOT NULL SELECT @ProfileDescription = REPLACE(@ProfileDescription,'&nbsp;','')       
       
--Update Profile Descriptions       
IF @ProfileID IS NOT NULL AND       
 @ProfileName IS NOT NULL AND       
 @ProfileDescription IS NOT NULL       
BEGIN       
 IF EXISTS ( SELECT ID FROM CustomerProfiles WITH (NOLOCK) WHERE ID = @ProfileID)       
  UPDATE CustomerProfiles WITH (ROWLOCK)       
  SET  ProfileName = @ProfileName,        
   Description = @ProfileDescription       
  WHERE ID = @ProfileID       
END       
       
-- Ezra - 7/14/2017 - Commenting this out, not sure why this would be desirable... we set the default flag manually. 
-- This was messing things up for us, it hid the active default rate profile when saving a rate profile. 
/* 
--Update Default Profile Flag       
IF @ProfileID IS NOT NULL AND       
 @DefaultProfile IS NOT NULL       
BEGIN       
 IF @DefaultProfile = 1        
  UPDATE CustomerProfiles WITH (ROWLOCK)       
  SET DefaultFlag = 0       
  FROM CustomerProfiles WITH (ROWLOCK)       
  INNER JOIN CustomerProfiles CustomerProfiles2 WITH(NOLOCK) ON       
   (CustomerProfiles2.OwnerID = CustomerProfiles.OwnerID AND       
    CustomerProfiles2.OwnerType = CustomerProfiles.OwnerType)       
  WHERE CustomerProfiles2.ID = @ProfileID       
   
       
 IF EXISTS ( SELECT ID FROM CustomerProfiles WITH (NOLOCK) WHERE ID = @ProfileID)       
  UPDATE CustomerProfiles WITH (ROWLOCK)       
  SET  DefaultFlag = @DefaultProfile       
  WHERE ID = @ProfileID       
END       
       
-- Update Preset Defaut Flag       
IF @ProfileID IS NOT NULL AND       
 @DefaultPreset IS NOT NULL       
BEGIN       
 IF @DefaultPreset = 1        
  UPDATE CustomerProfiles WITH (ROWLOCK)       
  SET DefaultPreset = 0       
  FROM CustomerProfiles WITH (ROWLOCK)       
  INNER JOIN CustomerProfiles CustomerProfiles2 WITH (NOLOCK) ON       
   (CustomerProfiles2.OwnerID = CustomerProfiles.OwnerID AND       
    CustomerProfiles2.OwnerType = CustomerProfiles.OwnerType)       
  WHERE CustomerProfiles2.ID = @ProfileID       
       
 IF EXISTS ( SELECT ID FROM CustomerProfiles WITH (NOLOCK) WHERE ID = @ProfileID)       
  UPDATE CustomerProfiles WITH (ROWLOCK)       
  SET  DefaultPreset = @DefaultPreset       
  WHERE ID = @ProfileID       
END       
*/ 
       
SELECT @ChangeAdded = 0       
       
IF @Function = 'CustomerProfileAddBlank' AND       
 @LoginsID IS NOT NULL       
BEGIN       
 --SELECT @ProfileName = 'Enter new name'       
 --SELECT @ProfileDescription = 'Enter a new description'       
 INSERT INTO CustomerProfiles WITH (ROWLOCK) (OwnerID, OwnerType, ProfileName, Description, DefaultFlag, CreationDate, CreatedBy)       
   VALUES (@LoginsID, 0, @ProfileName, @ProfileDescription, 0, GetDate(), @LoginsID)       
 SELECT @ToID = @@IDENTITY        
 SELECT @Return = @ToID       
 Select @ToID 
END       
       
IF @Function = 'CustomerProfileAddCurrent' AND       
 @LoginsID IS NOT NULL       
BEGIN       
 SELECT @ProfileName = 'Enter new name'       
 SELECT @ProfileDescription = 'Enter a new description'       
 INSERT INTO CustomerProfiles WITH (ROWLOCK) (OwnerID, OwnerType, ProfileName, Description, DefaultFlag, CreationDate, CreatedBy)       
   VALUES (@LoginsID, 0, @ProfileName, @ProfileDescription, 0, GetDate(), @LoginsID)       
 SELECT @ToID = @@IDENTITY        
 SELECT @Return = @ToID       
       
 SELECT @Function = 'Duplicate', @FromID = @ProfileID       
END       
       
IF @Function = 'CustomerProfileAddDefault' AND       
 @LoginsID IS NOT NULL       
BEGIN       
 SELECT @ProfileName = 'Enter new name'       
 SELECT @ProfileDescription = 'Enter a new description'       
 INSERT INTO CustomerProfiles WITH (ROWLOCK) (OwnerID, OwnerType, ProfileName, Description, DefaultFlag, CreationDate, CreatedBy)       
   VALUES (@LoginsID, 0, @ProfileName, @ProfileDescription, 0, GetDate(), @LoginsID)       
 SELECT @ToID = @@IDENTITY        
 SELECT @Return = @ToID       
       
 SELECT @FromID = id       
 FROM CustomerProfiles WITH (NOLOCK)       
 WHERE OwnerID = @LoginsID AND       
  OwnerType = 0 And       
  CustomerProfiles.DefaultFlag <> 0       
       
 SELECT @Function = 'Duplicate'       
END       
       
IF @Function = 'CreateDefault' AND       
 @LoginsID IS NOT NULL       
BEGIN       
 
	EXEC CustomerProfile_Copy @ProfileToCopy = 1, @LoginID = @LoginsID, @NewProfileName = 'New Rate Profile' 
 
 --SELECT @FromID = 1       
 --INSERT INTO CustomerProfiles WITH (ROWLOCK) (OwnerID, OwnerType, ProfileName, Description, DefaultFlag, CreationDate, CreatedBy)       
 --  VALUES (@LoginsID, 0, 'New Rate Profile', '', 0, GetDate(), @LoginsID)       
 --SELECT @ToID = @@IDENTITY        
       
 --INSERT INTO CustomerProfileRates WITH (ROWLOCK) (CustomerProfilesID,RateType,Rate,CapType,Cap,Taxable,DiscountMarkup,IncludeIn)       
 --SELECT @ToID,RateType,Rate,CapType,Cap,Taxable,DiscountMarkup,IncludeIn       
 --FROM CustomerProfileRates WITH (NOLOCK)       
 --WHERE CustomerProfilesID = @FromID       
       
 --INSERT INTO CustomerProfilesPaint WITH (ROWLOCK) (CustomerProfilesID,AllowDeductions,AdjacentDeduction,NonAdjacentDeduction,EdgeInteriorTimes,MajorClearCoat,MajorThreeStage,MajorTwoTone,OverlapClearCoat,OverlapThreeStage,OverLapTwoTone,ClearCoatCap,     
 --DeductFinishOverlap,TotalClearcoatWithPaint,NoClearcoatCap,ThreeStageInner,ThreeStagePillars,ThreeStateInterior,TwoToneInner,TwoTonePillars,TwoToneInterior, Blend, ThreeTwoBlend, Underside, Edging, ManualPaintOverlap)       
 --SELECT @ToID,AllowDeductions,ISNULL(AdjacentDeduction, 0), ISNULL(NonAdjacentDeduction, 0),EdgeInteriorTimes,ISNULL(MajorClearCoat, 0),ISNULL(MajorThreeStage, 0),ISNULL(MajorTwoTone, 0), 
	--ISNULL(OverlapClearCoat, 0),ISNULL(OverlapThreeStage, 0),ISNULL(OverLapTwoTone, 0),ISNULL(ClearCoatCap, 0),DeductFinishOverlap,TotalClearcoatWithPaint,NoClearcoatCap,   
	--ThreeStageInner,ThreeStagePillars,ThreeStateInterior,TwoToneInner,TwoTonePillars,TwoToneInterior, ISNULL(Blend, 0), ISNULL(ThreeTwoBlend, 0), ISNULL(Underside, 0), ISNULL(Edging, 0), ManualPaintOverlap 
 --FROM CustomerProfilesPaint WITH (NOLOCK)       
 --WHERE CustomerProfilesID = @FromID       
       
 --INSERT INTO CustomerProfilesMisc WITH (ROWLOCK) (CustomerProfilesID,TaxRate,SecondTaxRateStart,SecondTaxRate,ChargeForRadiatorRefilling,RadiatorChargeAmount,ChargeForACRefilling,ACChargeHow,ACChargeAmount,LKQText,TotalLossPerc,IncludeStructureInBody,     
 --ChargeForAimingHeadlights,ChargeForPowerUnits,ChargeForRefrigRecovery,SuppressAddRelatedPrompt,ChargeSuppliesOnAllOperations)       
 --SELECT @ToID, TaxRate,SecondTaxRateStart,SecondTaxRate,ChargeForRadiatorRefilling,RadiatorChargeAmount,ChargeForACRefilling,ACChargeHow,ACChargeAmount,LKQText,TotalLossPerc,IncludeStructureInBody,ChargeForAimingHeadlights,ChargeForPowerUnits,     
 --ChargeForRefrigRecovery,SuppressAddRelatedPrompt,ChargeSuppliesOnAllOperations       
 --FROM CustomerProfilesMisc WITH (NOLOCK)       
 --WHERE CustomerProfilesID = @FromID        
       
 --INSERT INTO CustomerProfilePrint WITH (ROWLOCK) (CustomerProfilesID,GraphicsQuality,NoHeaderLogo,NoInsuranceSection,NoPhotos,NoVehicleAccessories,FooterText,PrintPublicNotes,PrintPrivateNotes,ContactOption,SupplementOption,OrderBy,SeparateLabor,Dollars)  
      
 --SELECT @ToID,GraphicsQuality,NoHeaderLogo,NoInsuranceSection,NoPhotos,NoVehicleAccessories,FooterText,PrintPublicNotes,PrintPrivateNotes,ContactOption,SupplementOption,OrderBy,SeparateLabor,Dollars       
 --FROM CustomerProfilePrint WITH (NOLOCK)       
 --WHERE CustomerProfilesID = @FromID     
 
-- INSERT INTO [CustomerProfilePresets] WITH (ROWLOCK) 
--           ([CustomerProfilesID] 
--           ,[StepID] 
--           ,[PartSource] 
--           ,[ActionCode] 
--           ,[ActionDescription] 
--           ,[PartNumber] 
--           ,[Description] 
--           ,[Price] 
--           ,[PartOfOverhaul] 
--           ,[Qty] 
--           ,[LaborTime] 
--           ,[PaintTime] 
--           ,[Other] 
--           ,[ImageID] 
--           ,[PartSourceVendorID] 
--           ,[SubletOperationFlag] 
--           ,[BettermentOperationFlag]) 
--SELECT @ToID 
--      ,[StepID] 
--      ,[PartSource] 
--      ,[ActionCode] 
--      ,[ActionDescription] 
--      ,[PartNumber] 
--      ,[Description] 
--      ,[Price] 
--      ,[PartOfOverhaul] 
--      ,[Qty] 
--      ,[LaborTime] 
--      ,[PaintTime] 
--      ,[Other] 
--      ,[ImageID] 
--      ,[PartSourceVendorID] 
--      ,[SubletOperationFlag] 
--      ,[BettermentOperationFlag] 
--  FROM [CustomerProfilePresets] 
--  WHERE CustomerProfilesID = @FromID    
 
--  INSERT INTO [dbo].[CustomerProfilePresetsLabor] (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, AdjacentDeduction, MajorPanel, Lock, Include) 
--  SELECT 
--    ID, 
--    1, 
--    0, 
--    NULL, 
--    NULL, 
--    NULL, 
--    NULL, 
--    NULL, 
--    NULL 
--  FROM [dbo].[CustomerProfilePresets] 
--  WHERE CustomerProfilesID = @ToID 
--  ORDER BY id ASC 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborTime = 0.3 
--WHERE Row# = 1 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 14, 
--    LaborCost = 10.00 
--WHERE Row# = 2 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 13, 
--    LaborCost = 5.00 
--WHERE Row# = 3 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 8, 
--    LaborTime = 0.5 
--WHERE Row# = 4 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborTime = 1 
--WHERE Row# = 5 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborTime = 0.3 
--WHERE Row# = 6 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 30, 
--    LaborCost = 1.00 
--WHERE Row# = 12 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 15, 
--    LaborCost = 59.95 
--WHERE Row# = 13 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 15, 
--    LaborCost = 79.95 
--WHERE Row# = 14 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborTime = 2.5 
--WHERE Row# = 15 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 1, 
--    LaborTime = 1.5 
--WHERE Row# = 16 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 2, 
--    LaborTime = 2 
--WHERE Row# = 17 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 2, 
--    LaborTime = 2 
--WHERE Row# = 18 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 2, 
--    LaborTime = 2 
--WHERE Row# = 19 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 2, 
--    LaborTime = 2 
--WHERE Row# = 20 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 31, 
--    LaborCost = 50.00 
--WHERE Row# = 21 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborType = 31, 
--    laborCost = 25.00 
--WHERE Row# = 22 
 
--; 
--WITH cpplCTE 
--AS (SELECT TOP 100 
--  ROW_NUMBER() OVER (ORDER BY ID ASC) AS 'Row#', 
--  [id], 
--  [CustomerProfilePresetsID], 
--  [LaborType], 
--  [LaborSubType], 
--  [LaborTime], 
--  [LaborCost], 
--  [AdjacentDeduction], 
--  [MajorPanel], 
--  [Lock], 
--  [Include] 
--FROM [dbo].[CustomerProfilePresetsLabor] 
--WHERE CustomerProfilePresetsID IN (SELECT 
--  ID 
--FROM CustomerProfilePresets 
--WHERE CustomerProfilesID = @ToID) 
--ORDER BY CustomerProfilePresetsID ASC) 
--UPDATE cpplCTE 
--SET LaborTime = 1 
--WHERE Row# = 23 
       
 IF ISNULL(@NoReturn,0) = 0 SELECT @ToID 'NewID'       
END       
       
IF @Function = 'IsBranchingNeeded' AND       
 @AdminInfoID IS NOT NULL        
BEGIN       
 SELECT @id = AdminInfo.CustomerProfilesID       
 FROM AdminInfo WITH (NOLOCK)       
 WHERE AdminInfo.id = @AdminInfoID       
       
 IF @id IS NOT NULL       
 BEGIN       
  IF NOT EXISTS ( SELECT CustomerProfiles.*       
    FROM CustomerProfiles WITH (NOLOCK)       
    INNER JOIN AdminInfo WITH (NOLOCK) ON       
     (AdminInfo.CustomerProfilesID = CustomerProfiles.ID)       
    WHERE ISNULL(CustomerProfiles.AdminInfoID,-1) = @AdminInfoID )       
  BEGIN       
   SELECT @Function = 'IsBranchingNeededYes', @NoReturn = 1, @BranchingNeeded = 1       
  END       
 END       
END       
       
IF @Function IN ( 'BranchProfile','IsBranchingNeededYes') AND       
 @AdminInfoID IS NOT NULL        
BEGIN       
 --Check that a profile attached to the estimate, if not, set it default       
 SELECT @id = NULL       
 SELECT @id = CustomerProfiles.id       
 FROM CustomerProfiles WITH (NOLOCK)       
 INNER JOIN AdminInfo WITH (NOLOCK) ON       
  (AdminInfo.CustomerProfilesID = CustomerProfiles.id)       
 WHERE AdminInfo.id = @AdminInfoID       
       
 IF @id IS NULL       
 BEGIN       
  SELECT TOP 1 @id = CustomerProfiles.id       
  FROM CustomerProfiles WITH (NOLOCK)       
  INNER JOIN AdminInfo WITH (NOLOCK) ON       
   (AdminInfo.CreatorID = CustomerProfiles.CreatedBy)       
  WHERE AdminInfo.id = @AdminInfoID AND       
   CustomerProfiles.DefaultFlag <> 0       
       
  IF @id IS NOT NULL       
  BEGIN       
   UPDATE AdminInfo       
   SET CustomerProfilesID = @id       
   WHERE AdminInfo.id = @AdminInfoID       
  END       
  IF ISNULL(@NoReturn,0) = 0       
   SELECT @id 'NewID'       
 END       
 ELSE       
 BEGIN       
  SELECT @id = NULL       
  SELECT @id = CustomerProfiles.AdminInfoID       
  FROM CustomerProfiles WITH (NOLOCK)       
  INNER JOIN AdminInfo WITH (NOLOCK) ON       
   (AdminInfo.CustomerProfilesID = CustomerProfiles.id)       
  WHERE AdminInfo.id = @AdminInfoID       
       
  SELECT @LoginsID = AdminInfo.CreatorID,       
   @FromID = AdminInfo.CustomerProfilesID,       
   @id = CustomerProfiles.AdminInfoID       
  FROM AdminInfo WITH (NOLOCK)       
  LEFT JOIN CustomerProfiles WITH (NOLOCK) ON       
   (CustomerProfiles.id = AdminInfo.CustomerProfilesID)       
  WHERE AdminInfo.ID = @AdminInfoID       
        
  IF ISNULL(@id,-1) <> @AdminInfoID AND @LoginsID IS NOT NULL AND @FromID IS NOT NULL       
  BEGIN        
   INSERT INTO CustomerProfiles WITH (ROWLOCK) (OwnerID, OwnerType, ProfileName, Description, DefaultFlag, CreationDate, CreatedBy, OriginalID, AdminInfoID)       
    SELECT CustomerProfiles.OwnerID, CustomerProfiles.OwnerType, CustomerProfiles.ProfileName, CustomerProfiles.Description, 0, CustomerProfiles.CreationDate, CustomerProfiles.CreatedBy, @FromID, @AdminInfoID       
    FROM CustomerProfiles WITH (NOLOCK)       
    WHERE ID = @FromID       
         
   SELECT @ToID = @@IDENTITY        
   SELECT @Return = @ToID       
        
   UPDATE AdminInfo  WITH (ROWLOCK)       
   SET CustomerProfilesID = @ToID       
   WHERE ID = @AdminInfoID       
        
   SELECT @Function = 'Duplicate'       
  END       
  ELSE       
  BEGIN       
   SELECT @FromID = AdminInfo.CustomerProfilesID       
   FROM AdminInfo WITH (NOLOCK)       
   WHERE ID = @AdminInfoID       
        
   IF ISNULL(@NoReturn,0) = 0       
    SELECT @FromID 'NewID'       
  END       
 END       
END       
       
IF @Function = 'Duplicate' AND       
 @LoginsID IS NOT NULL AND       
 @FromID IS NOT NULL AND       
 @ToID IS NOT NULL       
BEGIN       
 PRINT '@FromID=' + CONVERT(VarChar(20),@FromID)       
 PRINT '@ToID=' + CONVERT(VarChar(20),@ToID)       
 INSERT INTO CustomerProfileRates WITH (ROWLOCK) (CustomerProfilesID,RateType,Rate,CapType,Cap,Taxable,DiscountMarkup,IncludeIn)       
 SELECT @ToID,RateType,Rate,CapType,Cap,Taxable,DiscountMarkup,IncludeIn       
 FROM CustomerProfileRates WITH (NOLOCK)       
 WHERE CustomerProfilesID = @FromID       
       
 INSERT INTO CustomerProfilesPaint WITH (ROWLOCK) (CustomerProfilesID,AllowDeductions,AdjacentDeduction,NonAdjacentDeduction,EdgeInteriorTimes,MajorClearCoat,MajorThreeStage,MajorTwoTone,OverlapClearCoat,OverlapThreeStage,OverLapTwoTone,ClearCoatCap,     
 DeductFinishOverlap,TotalClearcoatWithPaint,NoClearcoatCap,ThreeStageInner,ThreeStagePillars,ThreeStateInterior,TwoToneInner,TwoTonePillars,TwoToneInterior, Blend, ThreeTwoBlend, Underside, Edging)       
 SELECT @ToID,AllowDeductions,ISNULL(AdjacentDeduction, 0), ISNULL(NonAdjacentDeduction, 0),EdgeInteriorTimes,ISNULL(MajorClearCoat, 0),ISNULL(MajorThreeStage, 0),ISNULL(MajorTwoTone, 0), 
	ISNULL(OverlapClearCoat, 0),ISNULL(OverlapThreeStage, 0),ISNULL(OverLapTwoTone, 0),ISNULL(ClearCoatCap, 0),DeductFinishOverlap,TotalClearcoatWithPaint,NoClearcoatCap,   
	ThreeStageInner,ThreeStagePillars,ThreeStateInterior,TwoToneInner,TwoTonePillars,TwoToneInterior, ISNULL(Blend, 0), ISNULL(ThreeTwoBlend, 0), ISNULL(Underside, 0), ISNULL(Edging, 0)      
 FROM CustomerProfilesPaint WITH (NOLOCK)       
 WHERE CustomerProfilesID = @FromID       
       
 INSERT INTO CustomerProfilesMisc  WITH (ROWLOCK)(CustomerProfilesID,TaxRate,SecondTaxRateStart,SecondTaxRate,ChargeForRadiatorRefilling,RadiatorChargeAmount,ChargeForACRefilling,ACChargeHow,ACChargeAmount,LKQText,TotalLossPerc,IncludeStructureInBody,     
 ChargeForAimingHeadlights,ChargeForPowerUnits,ChargeForRefrigRecovery,SuppressAddRelatedPrompt,ChargeSuppliesOnAllOperations)       
 SELECT       @ToID,      TaxRate,SecondTaxRateStart,SecondTaxRate,ChargeForRadiatorRefilling,RadiatorChargeAmount,ChargeForACRefilling,ACChargeHow,ACChargeAmount,LKQText,TotalLossPerc,IncludeStructureInBody,ChargeForAimingHeadlights,ChargeForPowerUnits,  
   
    
 ChargeForRefrigRecovery,SuppressAddRelatedPrompt,ChargeSuppliesOnAllOperations       
 FROM CustomerProfilesMisc WITH (NOLOCK)       
 WHERE CustomerProfilesID = @FromID        
       
 INSERT INTO CustomerProfilePrint WITH (ROWLOCK) (CustomerProfilesID,GraphicsQuality,NoHeaderLogo,NoInsuranceSection,NoPhotos,FooterText,PrintPublicNotes,PrintPrivateNotes,ContactOption,SupplementOption,OrderBy,SeparateLabor,EstimateNumber,AdminInfoID,PrintPaymentInfo,          
 Dollars, GreyBars, NoVehicleAccessories, PrintEstimator, PrintVendors)       
 SELECT @ToID,GraphicsQuality,NoHeaderLogo,NoInsuranceSection,NoPhotos,FooterText,PrintPublicNotes,PrintPrivateNotes,ContactOption,SupplementOption,OrderBy,SeparateLabor,EstimateNumber,AdminInfoID,PrintPaymentInfo,Dollars, GreyBars, NoVehicleAccessories, PrintEstimator, PrintVendors 
 FROM CustomerProfilePrint WITH (NOLOCK)       
 WHERE CustomerProfilesID = @FromID        
       
 EXECUTE DuplicatePresets @FromID = @FromID, @ToID = @ToID       
       
 IF ISNULL(@NoReturn,0) = 0       
  SELECT @ToID 'NewID'       
END       
       
IF @BranchingNeeded = 1       
BEGIN       
 SELECT CustomerProfiles.*       
 FROM CustomerProfiles WITH (NOLOCK)       
 INNER JOIN AdminInfo WITH (NOLOCK) ON       
  (AdminInfo.CustomerProfilesID = CustomerProfiles.ID)       
 WHERE CustomerProfiles.AdminInfoID = @AdminInfoID        
END       
       
IF @Function = 'GetProfileRates' AND       
 @ProfileID IS NOT NULL       
BEGIN       
 SELECT CustomerProfileRates.*, RateTypes.RateName       
 FROM CustomerProfileRates WITH (NOLOCK)       
 INNER JOIN RateTypes WITH (NOLOCK) ON       
  (RateTypes.ID = CustomerProfileRates.RateType)       
 WHERE CustomerProfileRates.CustomerProfilesID = @ProfileID       
 ORDER BY CustomerProfileRates.RateType       
END       
       
IF @Function = 'GetProfileLaborRates' AND       
 @ProfileID IS NOT NULL       
BEGIN       
 SELECT RateTypes.id, RateTypes.RateName, CustomerProfileRates.Rate       
 FROM CustomerProfileRates WITH (NOLOCK)       
 INNER JOIN RateTypes WITH (NOLOCK) ON       
  (RateTypes.ID = CustomerProfileRates.RateType)       
 WHERE CustomerProfileRates.CustomerProfilesID = @ProfileID AND       
  RateTypes.ID IN (1, 2, 3, 4, 5, 12, 14, 15 ,16 ,17, 20, 21)       
 ORDER BY CustomerProfileRates.RateType       
END       
       
IF @Function = 'GetProfileLaborRates' AND       
 @AdminInfoID IS NOT NULL       
BEGIN       
 SELECT RateTypes.id, RateTypes.RateName, CustomerProfileRates.Rate       
 FROM AdminInfo WITH(NOLOCK)       
 INNER JOIN CustomerProfileRates WITH (NOLOCK) ON       
  (CustomerProfileRates.CustomerProfilesID = AdminInfo.CustomerProfilesID)       
 INNER JOIN RateTypes WITH (NOLOCK) ON       
  (RateTypes.ID = CustomerProfileRates.RateType)       
 WHERE AdminInfo.ID = @AdminInfoID AND       
  RateTypes.ID IN (1, 2, 3, 4, 5, 12, 14, 15 ,16 ,17, 20, 21)       
 ORDER BY CustomerProfileRates.RateType       
END       
       
IF @Function = 'UpdateAddCustomerProfile' AND       
 @ChangeAdded = 0       
BEGIN       
 INSERT INTO CustomerProfileEditHistory WITH (ROWLOCK) (CustomerProfileID, ChangedBy,  Changes)       
  VALUES (@ProfileID, @LoginsID, @Changes)       
END       
       
IF @Function IN ('UpdateProfileRates','UpdateProfilePaint','UpdateProfileMisc','UpdateProfilePreset','UpdateProfilePrint') AND       
@ProfileName IS NOT NULL AND       
 @ProfileDescription IS NOT NULL AND       
 @ProfileID IS NOT NULL       
BEGIN       
 UPDATE CustomerProfiles  WITH (ROWLOCK)       
 SET  ProfileName =  @ProfileName,       
  Description = @ProfileDescription       
 FROM CustomerProfiles       
 WHERE ID= @ProfileID       
END       
       
IF @Function = 'UpdateProfileRates' AND       
 @ProfileID IS NOT NULL AND       
 @LaborBody IS NOT NULL AND       
 @LaborPaint IS NOT NULL AND       
 @LaborMechanical IS NOT NULL AND       
 @LaborGlass IS NOT NULL AND       
 @LaborElectrical IS NOT NULL AND       
 @LaborFrame IS NOT NULL AND       
 @LaborStructure IS NOT NULL AND       
 @LaborClearcoat IS NOT NULL AND       
 @SuppliesBody IS NOT NULL AND       
 @SuppliesPaint IS NOT NULL AND       
 @SuppliesFinish IS NOT NULL AND       
 @SuppliesClearcoat IS NOT NULL AND       
 @PartsRetail IS NOT NULL AND       
 @PartsLKQ IS NOT NULL AND       
 @PartsAftermarket IS NOT NULL AND       
 @OtherSublet IS NOT NULL    BEGIN       
 
 UPDATE CustomerPRofiles 
 SET  
	CapRatesAfterInclude = @CapRatesAfterInclude 
	, CapSuppliesAfterInclude = @CapSuppliesAfterInclude 
WHERE id = @ProfileID 
 
 DELETE FROM CustomerProfileRates WITH (ROWLOCK) WHERE CustomerProfilesID = @ProfileID       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 1, @RateString = @LaborBody       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 2, @RateString = @LaborPaint       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 17, @RateString = @LaborFinish       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 3, @RateString = @LaborMechanical       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 4, @RateString = @LaborFrame       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 5, @RateString = @LaborStructure       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 12, @RateString = @LaborElectrical       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 20, @RateString = @LaborGlass       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 14, @RateString = @LaborDetail       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 15, @RateString = @LaborCleanup       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 16, @RateString = @LaborOther       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 21, @RateString = @LaborClearcoat       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 6, @RateString = @SuppliesBody       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 7, @RateString = @SuppliesPaint       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 19, @RateString = @SuppliesFinish       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 22, @RateString = @SuppliesClearcoat       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 8, @RateString = @PartsRetail       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 9, @RateString = @PartsLKQ       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 10, @RateString = @PartsAftermarket       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 13, @RateString = @PartsReman       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 18, @RateString = @PartsOther       
 EXECUTE CustomerProfileSupport @Function = 'UpdateRateInfo',  @ProfileID = @ProfileID, @RateType = 11, @RateString = @OtherSublet       
END       
       
IF @Function = 'GetProfilePaint' AND       
 @ProfileID IS NOT NULL       
BEGIN       
 SELECT *       
 FROM CustomerProfilesPaint WITH (NOLOCK)       
 WHERE CustomerProfilesID = @ProfileID          
END       
       
IF @Function = 'GetProfilePaint' AND       
 @AdminInfoID IS NOT NULL       
BEGIN       
 IF EXISTS ( SELECT AdminInfo.CustomerProfilesID 'ProfileID',       
    CustomerProfilesPaint.*,        
    CASE  WHEN CustomerProfilesMisc.SuppressAddRelatedPrompt<>0 THEN 1       
     ELSE 0       
    END 'OverlapPrompting'       
   FROM AdminInfo WITH (NOLOCK)       
   INNER JOIN CustomerProfiles WITH (NOLOCK) ON       
    (CustomerProfiles.ID = AdminInfo.CustomerProfilesID)       
   LEFT JOIN CustomerProfilesPaint WITH (NOLOCK) ON       
    (CustomerProfilesPaint.CustomerProfilesID = AdminInfo.CustomerProfilesID)       
   LEFT JOIN CustomerProfilesMisc WITH (NOLOCK) ON       
    (CustomerProfilesMisc.CustomerProfilesID =  AdminInfo.CustomerProfilesID)       
   WHERE AdminInfo.ID = @AdminInfoID )       
 BEGIN       
  SELECT AdminInfo.CustomerProfilesID 'ProfileID',       
   CustomerProfilesPaint.*,        
   CASE  WHEN CustomerProfilesMisc.SuppressAddRelatedPrompt<>0 THEN 1       
    ELSE 0       
   END 'OverlapPrompting'       
  FROM AdminInfo WITH (NOLOCK)       
  INNER JOIN CustomerProfiles WITH (NOLOCK) ON       
   (CustomerProfiles.ID = AdminInfo.CustomerProfilesID)       
  LEFT JOIN CustomerProfilesPaint WITH (NOLOCK) ON       
   (CustomerProfilesPaint.CustomerProfilesID = AdminInfo.CustomerProfilesID)       
  LEFT JOIN CustomerProfilesMisc WITH (NOLOCK) ON       
   (CustomerProfilesMisc.CustomerProfilesID =  AdminInfo.CustomerProfilesID)       
  WHERE AdminInfo.ID = @AdminInfoID       
 END       
 ELSE       
 BEGIN       
  --Get the default record       
  SELECT CustomerProfiles.ID 'ProfileID',       
   CustomerProfilesPaint.*,        
   CASE  WHEN CustomerProfilesMisc.SuppressAddRelatedPrompt<>0 THEN 1       
    ELSE 0       
   END 'OverlapPrompting'       
  FROM AdminInfo WITH (NOLOCK)       
  LEFT JOIN CustomerProfiles WITH (NOLOCK) ON       
   (ISNULL(AdminInfo.CustomerProfilesID,-1) = -1 AND       
    CustomerProfiles.OwnerID = AdminInfo.CreatorID AND       
    CustomerProfiles.DefaultFlag <> 0 )       
  LEFT JOIN CustomerProfilesPaint WITH (NOLOCK) ON       
   (CustomerProfilesPaint.CustomerProfilesID = CustomerProfiles.ID)       
  LEFT JOIN CustomerProfilesMisc WITH (NOLOCK) ON       
   (CustomerProfilesMisc.CustomerProfilesID =  AdminInfo.CustomerProfilesID)       
  WHERE AdminInfo.ID = @AdminInfoID       
 END       
       
END       
       
IF @Function = 'UpdateProfilePaint' AND       
 @ProfileID IS NOT NULL AND       
 @CheckboxString IS NOT NULL AND       
 @TextBoxString IS NOT NULL        
BEGIN       
 IF EXISTS ( SELECT MAX(id)
   FROM CustomerProfilesPaint WITH (NOLOCK)       
   WHERE CustomerProfilesID = @ProfileID  )       
 BEGIN       
  IF ( SELECT TOP 1 AllowDeductions       
   FROM CustomerProfilesPaint WITH (NOLOCK)       
   WHERE CustomerProfilesID = @ProfileID  ) <>  CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 1))       
  BEGIN       
   SELECT @RecalcFlag = 1       
  END       
  ELSE       
  BEGIN       
   SELECT @RecalcFlag = 0       
  END       
       
  UPDATE CustomerProfilesPaint WITH (ROWLOCK)       
  SET  AllowDeductions = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 1)),       
 
  AdjacentDeduction = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  0, '|')),       
   NonAdjacentDeduction = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  1, '|')),       
   EdgeInteriorTimes = CONVERT(Bit,SUBSTRING(@CheckboxString, 2, 1)),       
   MajorClearCoat = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  2, '|')),       
   MajorThreeStage = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  3, '|')),       
   MajorTwoTone = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  4, '|')),       
   OverlapClearCoat = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  5, '|')),       
   OverlapThreeStage = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  6, '|')),       
   OverLapTwoTone = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  7, '|')),       
   Blend = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  8, '|')),       
   Underside = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  9, '|')),       
   Edging = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  10, '|')),  
   ThreeTwoBlend = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  11, '|')),  
   DeductFinishOverlap = CONVERT(Bit,SUBSTRING(@CheckboxString, 3, 1)),       
   TotalClearcoatWithPaint = CONVERT(Bit,SUBSTRING(@CheckboxString, 4, 1)),       
   NoClearcoatCap = CONVERT(Bit,SUBSTRING(@CheckboxString, 5, 1)),       
   ThreeStageInner = CONVERT(Bit,SUBSTRING(@CheckboxString, 6, 1)),       
   ThreeStagePillars = CONVERT(Bit,SUBSTRING(@CheckboxString, 7, 1)),       
   ThreeStateInterior = CONVERT(Bit,SUBSTRING(@CheckboxString, 8, 1)),       
   TwoToneInner = CONVERT(Bit,SUBSTRING(@CheckboxString, 9, 1)),       
   TwoTonePillars = CONVERT(Bit,SUBSTRING(@CheckboxString, 10, 1)),       
   TwoToneInterior = CONVERT(Bit,SUBSTRING(@CheckboxString, 11, 1)),       
   ManualPaintOverlap  = CONVERT(Bit,SUBSTRING(@CheckboxString, 12, 1)), 
   AutomaticOverlap  = CONVERT(Bit,SUBSTRING(@CheckboxString, 13, 1))    
     
   --Josh Blade- 99% sure all the checkbox pieces are coded wrong as they are taking strings starting at 1 and going to the length of the index rather than  
   --starting at the index and going length of 1. Commented out just in case and fixed above 
   --DeductFinishOverlap = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 3)),       
   --TotalClearcoatWithPaint = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 4)),       
   --NoClearcoatCap = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 5)),       
   --ThreeStageInner = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 6)),       
   --ThreeStagePillars = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 7)),       
   --ThreeStateInterior = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 8)),       
   --TwoToneInner = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 9)),       
   --TwoTonePillars = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 10)),       
   --TwoToneInterior = CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 11)),       
   --ManualPaintOverlap  = CONVERT(Bit,SUBSTRING(@CheckboxString, 12, 1)), 
   --AutomaticOverlap  = CONVERT(Bit,SUBSTRING(@CheckboxString, 13, 1))              
  WHERE CustomerProfilesID = @ProfileID        
 END       
     ELSE       
 BEGIN       
  SELECT @RecalcFlag = 1       
  INSERT INTO CustomerProfilesPaint WITH (ROWLOCK) ( CustomerProfilesID, AllowDeductions, AdjacentDeduction, NonAdjacentDeduction, EdgeInteriorTimes, MajorClearCoat, MajorThreeStage, MajorTwoTone, OverlapClearCoat,        
       OverlapThreeStage, OverLapTwoTone, DeductFinishOverlap, TotalClearcoatWithPaint, NoClearcoatCap, ThreeStageInner, ThreeStagePillars, ThreeStateInterior,        
       TwoToneInner, TwoTonePillars, TwoToneInterior, Blend, Underside, Edging, ThreeTwoBlend, ManualPaintOverlap)       
  SELECT @ProfileID,       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 1)),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  0, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  1, '|')),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 2)),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  2, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  3, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  4, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  5, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  6, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  7, '|')),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 3)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 4)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 5)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 6)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 7)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 8)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 9)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 10)),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 11)),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  8, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString, 9, '|')),       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString, 10, '|')),   
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString, 11, '|')),       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 12, 12))       
       
 END       
 IF @RecalcFlag <> 0 and @AdminInfoID IS NOT NULL       
 BEGIN       
  EXECUTE FixAdjacencies @AdminInfoID       
  EXECUTE UpdateAdminTotals @AdminInfoID = @AdminInfoID       
 END       
END       
       
IF @Function = 'UpdateProfileMisc' AND       
 @ProfileID IS NOT NULL AND       
 @CheckboxString IS NOT NULL AND       
 @TextBoxString IS NOT NULL        
BEGIN       
       
 IF EXISTS ( SELECT id        
   FROM CustomerProfilesMisc WITH (NOLOCK)       
   WHERE CustomerProfilesID = @ProfileID  )       
 BEGIN       
  PRINT 'In Update'       
  UPDATE CustomerProfilesMisc WITH (ROWLOCK)       
  SET TaxRate = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  0, '|')),       
   SecondTaxRateStart = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  1, '|')),       
   SecondTaxRate = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  2, '|')),       
   ChargeForRadiatorRefilling = CONVERT(Bit,SUBSTRING(@CheckboxString, 2, 1)),       
   RadiatorChargeAmount = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  3, '|')),       
   ChargeForACRefilling = CONVERT(Bit,SUBSTRING(@CheckboxString, 3, 1)),       
   ACChargeHow = CONVERT(TinyInt,FocusWrite.Dbo.Extract ( @TextBoxString,  6, '|')),       
   ACChargeAmount = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  4, '|')),       
   LKQText = FocusWrite.Dbo.Extract ( @TextBoxString,  5, '|'),       
   TotalLossPerc = CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  7, '|')),       
   IncludeStructureInBody = CONVERT(Bit,SUBSTRING(@CheckboxString, 0, 1)),       
   ChargeForAimingHeadlights = CONVERT(Bit,SUBSTRING(@CheckboxString, 5, 1)),       
   ChargeForPowerUnits = CONVERT(Bit,SUBSTRING(@CheckboxString, 6, 1)),       
   ChargeForRefrigRecovery = CONVERT(Bit,SUBSTRING(@CheckboxString, 7, 1)),       
   SuppressAddRelatedPrompt = CONVERT(Bit,SUBSTRING(@CheckboxString, 8, 1)),       
   ChargeSuppliesOnAllOperations = CONVERT(Bit,SUBSTRING(@CheckboxString, 4, 1))       
  WHERE CustomerProfilesID = @ProfileID        
 END       
 ELSE       
 BEGIN       
  PRINT 'In Insert'       
  INSERT INTO CustomerProfilesMisc WITH (ROWLOCK) ( CustomerProfilesID, TaxRate,SecondTaxRateStart, SecondTaxRate, ChargeForRadiatorRefilling,        
        RadiatorChargeAmount, ChargeForACRefilling, ACChargeHow, ACChargeAmount, LKQText,       
        TotalLossPerc, IncludeStructureInBody, ChargeForAimingHeadlights, ChargeForPowerUnits,       
        ChargeForRefrigRecovery, SuppressAddRelatedPrompt, ChargeSuppliesOnAllOperations)       
  SELECT @ProfileID,       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  0, '|')), --TaxRate       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  1, '|')), --SecondTaxRateStart       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  2, '|')), --SecondTaxRate       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 2, 1)),  --ChargeForRadiatorRefilling       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  3, '|')), --RadiatorChargeAmount       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 3, 1)),  --ChargeForACRefilling       
   CONVERT(tinyint,FocusWrite.Dbo.Extract ( @TextBoxString,  6, '|')),--ACChargeHow       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  4, '|')), --ACChargeAmount       
   FocusWrite.Dbo.Extract ( @TextBoxString,  5, '|'),   --LKQText       
   CONVERT(Real,FocusWrite.Dbo.Extract ( @TextBoxString,  7, '|')), --TotalLossPerc       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 1, 1)),  --IncludeStructureInBody       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 5, 1)),  --ChargeForAimingHeadlights       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 6, 1)),  --ChargeForPowerUnits       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 7, 1)),  --ChargeForRefrigRecovery       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 8, 1)),  --SuppressAddRelatedPrompt       
       
   CONVERT(Bit,SUBSTRING(@CheckboxString, 4, 8))  --ChargeSuppliesOnAllOperations       
 END       
END       
       
IF @Function = 'UpdateProfilePrint' AND       
 @ProfileID IS NOT NULL       
BEGIN       
 IF EXISTS ( SELECT id        
   FROM CustomerProfilePrint WITH (NOLOCK)       
   WHERE CustomerProfilesID = @ProfileID  )       
 BEGIN       
       
  UPDATE CustomerProfilePrint WITH (ROWLOCK)       
  SET  GraphicsQuality = ISNULL(ISNULL(@GraphicsQuality, GraphicsQuality),0),       
   NoHeaderLogo = ISNULL(ISNULL(@NoHeaderLogo, NoHeaderLogo),0),       
   NoInsuranceSection = ISNULL(ISNULL(@NoInsuranceSection, NoInsuranceSection),0),       
   NoPhotos = ISNULL(ISNULL(@NoPhotos, NoPhotos),0),       
   NoVehicleAccessories = ISNULL(ISNULL(@NoVehicleAccessories, NoVehicleAccessories),0),       
   FooterText = ISNULL(ISNULL(@FooterText,FooterText),''),       
   PrintPublicNotes = ISNULL(ISNULL(@PrintExternalNotes, PrintPublicNotes),0),       
   PrintPrivateNotes = ISNULL(ISNULL(@PrintInternalNotes, PrintPrivateNotes),0),       
   ContactOption = ISNULL(ISNULL(@ContactOption, ContactOption),'Line'),       
   SupplementOption = ISNULL(ISNULL(@SupplementOption, SupplementOption),'FullRegular'),       
   OrderBy = ISNULL(ISNULL(@OrderBy, OrderBy),'Section'),       
   UseBigLetters = ISNULL(@UseBigFonts,0),       
   SeparateLabor = ISNULL(@SeparateLabor,0),     
     -----------------------------------------     
   --New Columns     
   -----------------------------------------     
   EstimateNumber=ISNULL(@EstimateNumber,0),     
   AdminInfoID =ISNULL(@AdminID,0),     
   PrintPaymentInfo=isnull(@PrintPaymentInfo,0), 
   PrintEstimator = ISNULL(@PrintEstimator, 0),   
   PrintVendors = ISNULL(@PrintVendors, 0), 
   NoFooterDateTimeStamp = ISNULL(@NoFooterDateTimeStamp, 0),
   -----------------------------------------       
   Dollars = ISNULL(@LaborInDollars,0),       
   GreyBars = ISNULL(@GreyBars,0)     
  WHERE CustomerProfilesID = @ProfileID      
     
       
  --====================================================================   
  update CustomerProfilePrint set UseBigLetters =ISNULL(@UseBigFonts,0)  where CustomerProfilesID=1333256   
  --====================================================================   
     
      
 END       
 ELSE       
  INSERT INTO CustomerProfilePrint WITH (ROWLOCK) (CustomerProfilesID, GraphicsQuality, NoHeaderLogo, NoInsuranceSection, NoPhotos, NoVehicleAccessories, FooterText, PrintPublicNotes, PrintPrivateNotes,ContactOption,SupplementOption,OrderBy,UseBigLetters, 
   
     
SeparateLabor,EstimateNumber,AdminInfoID,PrintPaymentInfo,Dollars,GreyBars)       
  SELECT @ProfileID,       
   ISNULL(@GraphicsQuality, 0),       
   ISNULL(@NoHeaderLogo, 0),       
   ISNULL(@NoInsuranceSection, 0),       
   ISNULL(@NoPhotos, 0),       
   ISNULL(@NoVehicleAccessories,''),       
   ISNULL(@FooterText, ''),       
   ISNULL(@PrintExternalNotes, 1),       
   ISNULL(@PrintInternalNotes, 0),        
   ISNULL(@ContactOption, 'Line'),       
   ISNULL(@SupplementOption, 'FullRegular'),       
   ISNULL(@OrderBy, 'Section'),       
   ISNULL(@UseBigFonts,0),       
   ISNULL(@SeparateLabor,0),       
   ------------------------------------------------     
   ---New Columns     
   ----------------------------------------------     
   ISNULL(@EstimateNumber,0),     
   ISNULL(@AdminID,0), 
   ISNULL(@PrintPaymentInfo,0) ,    
   ------------------------------------------------     
   ISNULL(@LaborInDollars,0),       
   ISNULL(@GreyBars,0)     
         
   END       
       
IF @Function = 'GetProfileMisc' AND       
 @ProfileID IS NOT NULL       
BEGIN       
 SELECT *       
 FROM CustomerProfilesMisc WITH (NOLOCK)       
 WHERE CustomerProfilesID = @ProfileID          
END       
       
IF @Function = 'GetProfilePrint' AND       
 @AdminInfoID IS NOT NULL       
BEGIN       
 SELECT CustomerProfilePrint.[id] 
      , CustomerProfilePrint.[CustomerProfilesID] 
      , CustomerProfilePrint.[GraphicsQuality] 
      , CustomerProfilePrint.[NoHeaderLogo] 
      , CustomerProfilePrint.[NoInsuranceSection] 
      , CustomerProfilePrint.[NoPhotos] 
      , CustomerProfilePrint.[FooterText] 
      , CustomerProfilePrint.[PrintPrivateNotes] 
      , CustomerProfilePrint.[PrintPublicNotes]        
       , CustomerProfilePrint.[ContactOption] 
      , CustomerProfilePrint.[SupplementOption] 
      , CustomerProfilePrint.[OrderBy] 
      , isnull(CustomerProfilePrint.[UseBigLetters],0) as [UseBigLetters] 
      , CustomerProfilePrint.[SeparateLabor] 
      ,  isnull(CustomerProfilePrint.[EstimateNumber],0)  as EstimateNumber  
      , isnull(CustomerProfilePrint.AdminInfoID,1) as AdminInfoID 
      , CustomerProfilePrint.[Dollars] 
      , CustomerProfilePrint.[GreyBars] 
      , CustomerProfilePrint.[NoVehicleAccessories] 
      , CustomerProfilePrint.[PrintPaymentInfo]    
 FROM AdminInfo WITH (NOLOCK)       
 INNER JOIN CustomerProfilePrint WITH (NOLOCK) ON       
  (AdminInfo.CustomerProfilesID = CustomerProfilePrint.CustomerProfilesID)       
 INNER JOIN Logins WITH (NOLOCK) ON       
  (Logins.ID = AdminInfo.CreatorID)       
 WHERE AdminInfo.ID = @AdminInfoID         
       
 SELECT 0 'ID', 0 'ContactTypeID', 0 'ContactSubTypeID', 0 'PrintContact','' 'Description'       
 WHERE 0 =1       
END       
       
IF @Function = 'GetProfilePrint' AND       
 @ProfileID IS NOT NULL       
BEGIN       
 SELECT   CustomerProfilePrint.[id] 
      , CustomerProfilePrint.[CustomerProfilesID] 
      , CustomerProfilePrint.[GraphicsQuality] 
      , CustomerProfilePrint.[NoHeaderLogo] 
      , CustomerProfilePrint.[NoInsuranceSection] 
      , CustomerProfilePrint.[NoPhotos] 
      , CustomerProfilePrint.[FooterText] 
      , CustomerProfilePrint.[PrintPrivateNotes] 
      , CustomerProfilePrint.[PrintPublicNotes]        
      , CustomerProfilePrint.[ContactOption] 
      , CustomerProfilePrint.[SupplementOption] 
      , CustomerProfilePrint.[OrderBy] 
      , isnull(CustomerProfilePrint.[UseBigLetters],0) as [UseBigLetters] 
      , CustomerProfilePrint.[SeparateLabor] 
      ,  isnull(CustomerProfilePrint.[EstimateNumber],0)  as EstimateNumber  
      , isnull(CustomerProfilePrint.AdminInfoID,1) as AdminInfoID 
      , CustomerProfilePrint.[Dollars] 
      , CustomerProfilePrint.[GreyBars] 
      , CustomerProfilePrint.[NoVehicleAccessories] 
      , CustomerProfilePrint.[PrintPaymentInfo]     
 FROM CustomerProfilePrint  WITH (NOLOCK)       
 WHERE CustomerProfilePrint.CustomerProfilesID = @ProfileID        
       
 SELECT @AdminInfoID = AdminInfoID       
 FROM Sessions WITH (NOLOCK)       
 WHERE Sessions.SessionID = @SessionID        
        
 SELECT 0 'ID', 0 'ContactTypeID', 0 'ContactSubTypeID', 0 'PrintContact','' 'Description'       
 WHERE 0 =1       
END       
       
IF @Function = 'DeleteProfile' AND       
 @ProfileID IS NOT NULL       
BEGIN       
  DELETE FROM CustomerProfilesMisc WITH (ROWLOCK) WHERE CustomerProfilesID = @ProfileID       
  DELETE FROM CustomerProfilesPaint WITH (ROWLOCK) WHERE CustomerProfilesID = @ProfileID       
  DELETE FROM CustomerProfileRates WITH (ROWLOCK) WHERE CustomerProfilesID = @ProfileID       
  DELETE FROM CustomerProfilePrint WITH (ROWLOCK) WHERE CustomerProfilesID = @ProfileID       
  DELETE FROM CustomerProfileEditHistory WITH (ROWLOCK) WHERE CustomerProfileID = @ProfileID       
  DELETE FROM CustomerProfiles WITH (ROWLOCK) WHERE ID = @ProfileID       
END       
       
       
/*********************************************************/       
IF @Function = 'PresetLineItems' AND       
 @ProfileID IS NOT NULL       
BEGIN       
SELECT        
  CustomerProfilePresets.ID,       
  ManualSections.Section 'Step',       
  ISNULL(ActionList.ActionLong,'') + ' ' + CustomerProfilePresets.ActionDescription 'ActionDescription',       
  CustomerProfilePresets.ActionCode,       
  CustomerProfilePresets.PartNumber,       
  Cast(CustomerProfilePresets.Price as varchar(20)) 'Price',    --Josh Added Cast because the EstimateLineItem Price is a string. Makes Entity Framework work better.   
  CustomerProfilePresets.PartSource,       
  CustomerProfilePresets.Description 'PartDescription',       
  CASE WHEN CustomerProfilePresets.PartOfOverHaul <> 0 THEN 'Yes' ELSE 'No' END 'PartOfOverHaul',       
  CustomerProfiles.ID 'CustomerProfilesID',       
  CustomerProfilePresets.ID 'LineID',       
  0 'LineNumber',       
  0 'Locked',       
  -1 'Modified',       
  '' 'Status',       
  FocusWrite.Dbo.GetPresetLaborItems(CustomerProfilePresets.ID) 'LaborItems'       
  ,'Edit' as EditText       
  ,'Delete' as DeleteText       
 FROM CustomerProfiles WITH (NOLOCK)       
 INNER JOIN CustomerProfilePresets WITH (NOLOCK) ON       
  (CustomerProfilePresets.CustomerProfilesID = CustomerProfiles.ID)       
 LEFT JOIN ActionList WITH (NOLOCK) ON       
  (ActionList.ActionShort = CustomerProfilePresets.ActionCode)     
 LEFT OUTER JOIN ManualSections ON ManualSections.ID = CustomerProfilePresets.StepID 
 WHERE CustomerProfiles.ID = @ProfileID       
END       
/*********************************************************/       
       
/*********************************************************/       
IF @Function = 'GetPresetLine' AND       
 @CustomerProfilePresetsID IS NOT NULL AND       
 @AdminInfoID IS NULL       
BEGIN       
 SELECT CustomerProfilePresets.ID,       
  '' 'Step',       
  CustomerProfilePresets.StepID,       
  ActionList.ActionShort,       
  CustomerProfilePresets.ActionDescription 'ActionDescription',       
  CustomerProfilePresets.ActionCode,       
  CustomerProfilePresets.PartNumber,       
  --dbo.fnCurrency(CustomerProfilePresets.Price, @Country_ID) as 'Price',       
  CustomerProfilePresets.Price as 'Price',       
  CustomerProfilePresets.PartSource,       
  CustomerProfilePresets.Description 'PartDescription',       
  CustomerProfilePresets.PartOfOverHaul,       
  CustomerProfilePresets.Qty,       
  CustomerProfilePresets.PartSourceVendorID,       
  CustomerProfilePresets.BettermentOperationFlag,       
  CustomerProfilePresets.SubletOperationFlag,       
  CustomerProfiles.ID 'CustomerProfilesID',       
  CustomerProfilePresets.ID 'LineID',       
  FocusWrite.Dbo.GetPresetLaborItems(CustomerProfilePresets.ID) 'LaborItems',       
  CustomerProfilePresetsLaborLaborType.LaborType 'LaborType',       
  isnull(CustomerProfilePresetsLaborLaborType.LaborTime,CustomerProfilePresets.LaborTime) 'LaborTime',       
  CustomerProfilePresetsLaborLaborType.LaborCost 'LaborCost',       
       
  CustomerProfilePresetsLaborPaintType.LaborType 'PaintType',       
  CustomerProfilePresetsLaborPaintType.LaborTime 'PaintTime',       
  CustomerProfilePresetsLaborPaintType.LaborCost 'PaintCost',       
  CustomerProfilePresetsLaborPaintType.AdjacentDeduction,       
  CustomerProfilePresetsLaborPaintType.MajorPanel,       
       
  CustomerProfilePresetsLaborOtherType.LaborType 'OtherType',       
  CustomerProfilePresetsLaborOtherType.LaborTime 'OtherTime',       
  CustomerProfilePresetsLaborOtherType.LaborCost 'OtherCost',       
       
  CustomerProfilePresetsLaborClearcoatType.LaborType 'ClearcoatType',       
  CustomerProfilePresetsLaborClearcoatType.LaborTime 'ClearcoatTime',       
  CustomerProfilePresetsLaborClearcoatType.LaborCost 'ClearcoatCost',    
  ISNULL(CustomerProfilePresetsLaborClearcoatType.Include, 0) 'ClearcoatInclude',       
  ISNULL(CustomerProfilePresetsLaborClearcoatType.Lock, 0) 'ClearcoatLock',  
	   
  CustomerProfilePresetsLaborBlendType.LaborType 'BlendType',       
  CustomerProfilePresetsLaborBlendType.LaborTime 'BlendTime',       
  CustomerProfilePresetsLaborBlendType.LaborCost 'BlendCost',      
  ISNULL(CustomerProfilePresetsLaborBlendType.Include, 0) 'BlendInclude',   
  ISNULL(CustomerProfilePresetsLaborBlendType.Lock, 0) 'BlendLock',   
       
  CustomerProfilePresetsLaborAllowanceType.LaborType 'AllowanceType',       
  CustomerProfilePresetsLaborAllowanceType.LaborTime 'AllowanceTime',       
  CustomerProfilePresetsLaborAllowanceType.LaborCost 'AllowanceCost',       
  ISNULL(CustomerProfilePresetsLaborAllowanceType.Include, 0) 'AllowanceInclude',    
  ISNULL(CustomerProfilePresetsLaborAllowanceType.Lock, 0) 'AllowanceLock',    
       
  CustomerProfilePresetsLaborEdgingType.LaborType 'EdgingType',       
  CustomerProfilePresetsLaborEdgingType.LaborTime 'EdgingTime',       
  CustomerProfilePresetsLaborEdgingType.LaborCost 'EdgingCost',       
  ISNULL(CustomerProfilePresetsLaborEdgingType.Include, 0) 'EdgingInclude',    
  ISNULL(CustomerProfilePresetsLaborEdgingType.Lock, 0) 'EdgingLock',   
       
  CustomerProfilePresetsLaborUndersideType.LaborType 'UndersideType',       
  CustomerProfilePresetsLaborUndersideType.LaborTime 'UndersideTime',       
  CustomerProfilePresetsLaborUndersideType.LaborCost 'UndersideCost',       
  ISNULL(CustomerProfilePresetsLaborUndersideType.Include, 0) 'UndersideInclude',   
  ISNULL(CustomerProfilePresetsLaborUndersideType.Lock, 0) 'UndersideLock',  
       
  CustomerProfilePresetsNotesPrinted.Notes 'ExternalNotes',       
  CustomerProfilePresetsNotesNonPrinted.Notes 'InternalNotes',       
         
  CustomerProfilesPaint.AdjacentDeduction,       
  CustomerProfilesPaint.NonAdjacentDeduction,       
  CustomerProfilesPaint.MajorClearCoat,       
  CustomerProfilesPaint.Blend,    
  CustomerProfilesPaint.ThreeTwoBlend,         
  CustomerProfilesPaint.MajorThreeStage,       
  CustomerProfilesPaint.MajorTwoTone,       
  CustomerProfilesPaint.Underside,       
  CustomerProfilesPaint.OverlapClearCoat,       
  CustomerProfilesPaint.OverLapTwoTone,       
  CustomerProfilesPaint.OverlapThreeStage,       
  CustomerProfilesPaint.Edging,       
  0 'MajorPanel',       
  0 'AdjacentDeduction',       
  '' 'Barcode',       
  '' 'SourcePartNumber',       
  0 'AdjacentDeductionLock', 
    CustomerProfilePresets.StepID AS SectionID     
   ,'Edit' as EditText       
  ,'Delete' as DeleteText       
 FROM CustomerProfiles WITH (NOLOCK)       
 LEFT JOIN CustomerProfilePresets WITH (NOLOCK) ON       
  (CustomerProfilePresets.CustomerProfilesID = CustomerProfiles.ID)       
 LEFT JOIN ActionList WITH (NOLOCK) ON       
  (ActionList.ActionShort = CustomerProfilePresets.ActionCode)       
       
 LEFT JOIN CustomerProfilesPaint WITH (NOLOCK) ON       
  (CustomerProfilesPaint.CustomerProfilesID = CustomerProfiles.ID)       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborLaborType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborLaborType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
CustomerProfilePresetsLaborLaborType.LaborType in (1,2,3,4,5,6,8,24,25,32) )     
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborPaintType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborPaintType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborPaintType.LaborType in (16,18,19,9) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborOtherType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborOtherType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborOtherType.LaborType in (13,14,15,30,31) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborClearcoatType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborClearcoatType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborClearcoatType.LaborType = 20 )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborAllowanceType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborAllowanceType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   (CustomerProfilePresetsLaborAllowanceType.LaborType = 27 AND CustomerProfilePresetsLaborPaintType.LaborType = 18) OR       
   (CustomerProfilePresetsLaborAllowanceType.LaborType = 28 AND CustomerProfilePresetsLaborPaintType.LaborType = 19) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborBlendType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborBlendType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborBlendType.LaborType = 26 )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborEdgingType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborEdgingType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborEdgingType.LaborType in (21,23) )       
       
 LEFT JOIN CustomerProfilePresetsLabor CustomerProfilePresetsLaborUndersideType WITH (NOLOCK) ON       
  (CustomerProfilePresetsLaborUndersideType.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsLaborUndersideType.LaborType in (22) )       
       
 LEFT JOIN CustomerProfilePresetsNotes CustomerProfilePresetsNotesPrinted WITH (NOLOCK) ON       
  (CustomerProfilePresetsNotesPrinted.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsNotesPrinted.Printed <> 0)       
       
 LEFT JOIN CustomerProfilePresetsNotes CustomerProfilePresetsNotesNonPrinted WITH (NOLOCK) ON       
  (CustomerProfilePresetsNotesNonPrinted.CustomerProfilePresetsID = CustomerProfilePresets.ID AND       
   CustomerProfilePresetsNotesNonPrinted.Printed = 0)       
       
 WHERE CustomerProfilePresets.ID = abs(@CustomerProfilePresetsID)       
END       
/*********************************************************/       
       
       
/*********************************************************/       
IF @Function = 'DeletePresetLineItem' AND       
 @PresetLineItemsID IS NOT NULL       
BEGIN       
 DELETE FROM CustomerProfilePresetsLabor WITH (ROWLOCK)       
 WHERE CustomerProfilePresetsID = @PresetLineItemsID       
       
 DELETE FROM CustomerProfilePresetsNotes WITH (ROWLOCK)       
 WHERE CustomerProfilePresetsID = @PresetLineItemsID       
       
 DELETE FROM  CustomerProfilePresets WITH (ROWLOCK)       
 WHERE ID = @PresetLineItemsID       
END       
/*********************************************************/       
       
/*********************************************************/       
IF @Function = 'AddPresetLineItem' AND       
 @ProfileID IS NOT NULL       
BEGIN        
 INSERT INTO CustomerProfilePresets WITH (ROWLOCK) (CustomerProfilesID, StepID, PartSource, ActionCode, ActionDescription, PartNumber, Description, Price, PartOfOverhaul, Qty, PartSourceVendorID, SubletOperationFlag, BettermentOperationFlag, LaborIncluded)       
    VALUES (@ProfileID, @SectionID, @PartSource, REPLACE(@Operation,'&','+'), @OpDesc, @PartNumber, @Description, @Price, @Overhaul, @Qty, @VendorID, @OperationSublet, @OperationBetterment, isnull(@LaborIncluded, 0))       
 SELECT @CustomerProfilePresetsID = @@IDENTITY       
       
 IF @ExternalNotes <> ''       
  INSERT INTO CustomerProfilePresetsNotes WITH (ROWLOCK) (CustomerProfilePresetsID, Printed, Notes)       
   VALUES (@CustomerProfilePresetsID, 1, @ExternalNotes)       
 IF @InternalNotes <> ''       
  INSERT INTO CustomerProfilePresetsNotes WITH (ROWLOCK) (CustomerProfilePresetsID, Printed, Notes)       
    VALUES (@CustomerProfilePresetsID, 0, @InternalNotes)       
        
 IF @LaborType IS NOT NULL  AND @LaborTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @CustomerProfilePresetsID, @LaborType, 0, @LaborTime, NULL       
         
 IF @PaintTime <> 0 AND @PaintType IS NOT NULL       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, AdjacentDeduction, MajorPanel )       
   SELECT @CustomerProfilePresetsID, @PaintType, 0, @PaintTime, NULL, @AdjacentDeduction, @MajorPanel       
       
 IF @Other IS NOT NULL  AND @OtherCharge <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @CustomerProfilePresetsID, @Other, 0, NULL, @OtherCharge       
       
 IF @ClearcoatTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )       
   SELECT @CustomerProfilePresetsID, 20, 0, @ClearcoatTime, NULL, @LockClearcoat, @IncludeClearcoat       
       
 IF @BlendTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )        
   SELECT @CustomerProfilePresetsID, 26, 0, @BlendTime, NULL, @LockBlend, @IncludeBlend 
         
 IF @Allowance <> 0 AND @PaintType = 19 --2 Stage Allowance       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )      
   SELECT @CustomerProfilePresetsID, 28, 0, @Allowance, NULL, @LockAllowance, @IncludeAllowance 
         
 IF @Allowance <> 0 AND @PaintType = 18 --3 Stage Allowance       
       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )     
   SELECT @CustomerProfilePresetsID, 27, 0, @Allowance, NULL, @LockAllowance, @IncludeAllowance      
         
 IF @EdgingTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )      
   SELECT @CustomerProfilePresetsID, 21, 0, @EdgingTime, NULL, @LockEdging, @IncludeEdging 
       
 IF @UndersideTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )          
   SELECT @CustomerProfilePresetsID, 22, 0, @UndersideTime, NULL, @LockUnderside, @IncludeUnderside 
END       
/*********************************************************/       
       
/*********************************************************/       
IF @Function = 'UpdateEstimateLineItem' AND       
 @CustomerProfilePresetsID IS NOT NULL       
BEGIN       
 UPDATE CustomerProfilePresets WITH (ROWLOCK)       
 SET StepID = -1,        
  PartSource = @PartSource,        
  ActionCode = REPLACE(@Operation,'&','+'),        
  ActionDescription = @OpDesc,        
  PartNumber = @PartNumber,        
  Description = @Description,        
  Price = @Price,        
  PartOfOverhaul = @Overhaul,        
  Qty = @Qty,        
  PartSourceVendorID = @VendorID,       
  SubletOperationFlag = @OperationSublet,       
  BettermentOperationFlag = @OperationBetterment       
 WHERE ID = @CustomerProfilePresetsID       
       
 DELETE FROM CustomerProfilePresetsNotes WITH (ROWLOCK)       
 WHERE CustomerProfilePresetsID = @CustomerProfilePresetsID       
       
 IF @ExternalNotes <> ''       
  INSERT INTO CustomerProfilePresetsNotes WITH (ROWLOCK) (CustomerProfilePresetsID, Printed, Notes)       
   VALUES (@CustomerProfilePresetsID, 1, @ExternalNotes)       
 IF @InternalNotes <> ''       
  INSERT INTO CustomerProfilePresetsNotes WITH (ROWLOCK) (CustomerProfilePresetsID, Printed, Notes)       
    VALUES (@CustomerProfilePresetsID, 0, @InternalNotes)       
        
 DELETE FROM CustomerProfilePresetsLabor WITH (ROWLOCK)       
 WHERE CustomerProfilePresetsID = @CustomerProfilePresetsID       
       
 IF @LaborType IS NOT NULL  AND @LaborTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @CustomerProfilePresetsID, @LaborType, 0, @LaborTime, NULL       
         
 IF @PaintTime <> 0 AND @PaintType IS NOT NULL       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, AdjacentDeduction, MajorPanel )       
   SELECT @CustomerProfilePresetsID, @PaintType, 0, @PaintTime, NULL, @AdjacentDeduction, @MajorPanel       
       
 IF @Other IS NOT NULL  AND @OtherCharge <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @CustomerProfilePresetsID, @Other, 0, NULL, @OtherCharge       
       
 IF @ClearcoatTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )       
   SELECT @CustomerProfilePresetsID, 20, 0, @ClearcoatTime, NULL, @LockClearcoat, @IncludeClearcoat  
       
 IF @BlendTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )        
   SELECT @CustomerProfilePresetsID, 26, 0, @BlendTime, NULL, @LockBlend, @IncludeBlend 
         
 IF @Allowance <> 0 AND @PaintType = 19 --2 Stage Allowance       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )      
   SELECT @CustomerProfilePresetsID, 28, 0, @Allowance, NULL, @LockAllowance, @IncludeAllowance 
         
 IF @Allowance <> 0 AND @PaintType = 18 --3 Stage Allowance       
       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )     
   SELECT @CustomerProfilePresetsID, 27, 0, @Allowance, NULL, @LockAllowance, @IncludeAllowance      
         
 IF @EdgingTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )      
   SELECT @CustomerProfilePresetsID, 21, 0, @EdgingTime, NULL, @LockEdging, @IncludeEdging 
       
 IF @UndersideTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )          
   SELECT @CustomerProfilePresetsID, 22, 0, @UndersideTime, NULL, @LockUnderside, @IncludeUnderside      
END       
/*********************************************************/       
       
       
IF @Function = 'UpdatePresetLineItem' AND       
 @PresetLineItemsID IS NOT NULL       
BEGIN        
 UPDATE CustomerProfilePresets WITH (ROWLOCK)       
 SET  PartSource = @PartSource,       
  ActionCode = REPLACE(@Operation,'&','+'),       
  ActionDescription = @OpDesc,       
  PartNumber = @PartNumber,       
  Description = @Description,       
  Price = @Price,       
  PartOfOverhaul = @Overhaul,       
  Qty = @Qty,       
  LaborTime = @LaborTime,       
  PaintTime = @PaintTime,       
  Other = @Other,
  PartSourceVendorID = @VendorID,     
  SubletOperationFlag = @OperationSublet,
  StepID = @SectionID		-- Ezra 8/6/2018 - To avoid adding a column to the Presets table, using the unused StepID column to store the panel ID 
  , LaborIncluded = isnull(@LaborIncluded, 0)
 WHERE id = @PresetLineItemsID       
       
 DELETE FROM CustomerProfilePresetsNotes WITH (ROWLOCK) WHERE CustomerProfilePresetsID = @PresetLineItemsID       
 IF @ExternalNotes <> ''       
 BEGIN       
  INSERT INTO CustomerProfilePresetsNotes WITH (ROWLOCK) (CustomerProfilePresetsID, Printed, Notes)       
   VALUES (@PresetLineItemsID, 1, @ExternalNotes)       
 END       
 IF @InternalNotes <> ''       
 BEGIN       
  INSERT INTO CustomerProfilePresetsNotes WITH (ROWLOCK) (CustomerProfilePresetsID, Printed, Notes)       
    VALUES (@PresetLineItemsID, 0, @InternalNotes)       
 END       
 DELETE FROM CustomerProfilePresetsLabor WITH (ROWLOCK) WHERE  CustomerProfilePresetsID = @PresetLineItemsID       
 IF @LaborType IS NOT NULL  AND @LaborTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @PresetLineItemsID, @LaborType, 0, @LaborTime, NULL       
         
 IF @PaintTime <> 0 AND @PaintType IS NOT NULL       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @PresetLineItemsID, @PaintType, 0, @PaintTime, NULL       
       
 IF @Other IS NOT NULL  AND @OtherCharge <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost )       
   SELECT @PresetLineItemsID, @Other, 0, NULL, @OtherCharge       
       
 IF @ClearcoatTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )          
   SELECT @PresetLineItemsID, 20, 0, @ClearcoatTime, NULL, @LockClearcoat, @IncludeClearcoat        
    
 IF @BlendTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )           
   SELECT @PresetLineItemsID, 26, 0, @BlendTime, NULL, @LockBlend, @IncludeBlend       
         
 IF @Allowance <> 0 AND @PaintType = 19 --2 Stage Allowance       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )            
   SELECT @PresetLineItemsID, 28, 0, @Allowance, NULL, @LockAllowance, @IncludeAllowance  
         
 IF @Allowance <> 0 AND @PaintType = 18 --3 Stage Allowance       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )           
   SELECT @PresetLineItemsID, 27, 0, @Allowance, NULL, @LockAllowance, @IncludeAllowance   
         
 IF @EdgingTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )           
   SELECT @PresetLineItemsID, 21, 0, @EdgingTime, NULL, @LockEdging, @IncludeEdging       
         
 IF @UndersideTime <> 0       
  INSERT INTO CustomerProfilePresetsLabor WITH (ROWLOCK) (CustomerProfilePresetsID, LaborType, LaborSubType, LaborTime, LaborCost, Lock, [Include] )           
   SELECT @PresetLineItemsID, 22, 0, @UndersideTime, NULL, @LockUnderside, @IncludeUnderside 
 
END
GO
