USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 10/2/2019
-- Description:	A better part search 
-- =============================================
CREATE PROCEDURE [dbo].[VehiclePartSearch]
	  @VehicleID		INT
	, @Search1			VARCHAR(20) = null
	, @Search2			VARCHAR(20) = null
	, @Search3			VARCHAR(20) = null
	, @Search4			VARCHAR(20) = null
	, @PartNumber		VARCHAR(20) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE	@Year Int = NULL

	DECLARE @Service_BarCode VarChar(10)
	
	SELECT @Service_BarCode = Max(Service_Barcode)
	FROM [Vinn].[dbo].[Vehicle_Service_Xref]
	WHERE VehicleID = @VehicleID

	SELECT @Year = VinYear
	FROM vinn.dbo.Vehicle_Service_Xref
	WHERE VehicleID = @VehicleID

	DECLARE @MinDate DATETIME = '1900-01-01 00:00:00.000'
	DECLARE @MaxDate DATETIME = '2100-01-01 00:00:00.000'
	DECLARE @VehicleDate AS DATETIME = DATETIMEFROMPARTS(@Year, 1, 1, 1, 1, 1, 1)

	SELECT *
	FROM
	(
		SELECT DISTINCT
			Category.nheader * 256 + ISNULL(Subcategory.nsection, 0) 'SectionKey',
			dbo.CapFirstSection(
				CASE 
					WHEN Category.Category IS NULL AND SubCategory.Subcategory IS NOT NULL
						THEN SubCategory.Subcategory
	 				WHEN Category.Category IS NOT NULL AND SubCategory.Subcategory IS NULL
						THEN Category.Category
					WHEN Category.Category = SubCategory.Subcategory
						THEN Category.Category 
					ELSE Category.Category + ' \ ' + SubCategory.Subcategory
				END
			) 'SectionName'
			, ISNULL(Part.Part_Desc, '') AS Part_Desc
			, ISNULL(Detail.barcode, 0) AS Barcode
			, ISNULL(Detail.Part_Number, '') AS Part_Number
			, ISNULL(Detail.Part_Number_Unpunc, '') AS Part_Number_Unpunc
			, ISNULL(Detail.Part_Text, '') AS Part_Text
			, ISNULL(Detail.Prtc_Description, '') AS Prtc_Description

			, CASE 
				WHEN Category.Category IS NULL AND SubCategory.Subcategory IS NOT NULL
					THEN SubCategory.Subcategory
	 			WHEN Category.Category IS NOT NULL AND SubCategory.Subcategory IS NULL
					THEN Category.Category
				WHEN Category.Category = SubCategory.Subcategory
					THEN Category.Category 
				ELSE Category.Category + ' \ ' + SubCategory.Subcategory
			END 
			+ ' ' + ISNULL(Part.Part_Desc, '') + ' ' + ISNULL(Detail.Part_Number_Unpunc, '') + ' ' + ISNULL(Detail.Part_Text, '') + ' ' + ISNULL(Detail.Prtc_Description, '') AS FullDescription

			, CONVERT(Money,Detail.Price_1) / 100 AS Price
			, CASE 
				WHEN Subcategory.Start_Date IS NOT NULL 
					THEN CAST(DATEPART(yyyy, Subcategory.Start_Date) AS VARCHAR) 
					+ CASE WHEN DATEPART(yyyy, Subcategory.End_Date) > DATEPART(yyyy, Subcategory.Start_Date) THEN ' - ' + CAST(DATEPART(yyyy, Subcategory.End_Date) AS VARCHAR) ELSE '' END
				ELSE '' END 
			  AS DateRange
		FROM Mitchell3.dbo.Category
		LEFT OUTER JOIN Mitchell3.dbo.Subcategory ON 
			Subcategory.Service_BarCode = Category.Service_BarCode 
			AND Subcategory.nheader = Category.nheader
			AND @VehicleDate BETWEEN ISNULL(Subcategory.Start_Date, @MinDate) AND ISNULL(Subcategory.End_Date, @MaxDate)
		LEFT OUTER JOIN Mitchell3.dbo.Part ON 
			Category.Service_BarCode = Part.Service_BarCode 
			AND Category.nheader = Part.nheader
			AND Subcategory.nsection = Part.nsection
		LEFT JOIN Mitchell3.Dbo.Detail  ON 
			Detail.Service_Barcode = Part.Service_Barcode  
			AND Detail.nHeader = Part.nheader  
			AND Detail.nSection = Part.nsection  
			AND Detail.nPart = Part.nPart 
			AND @VehicleDate BETWEEN ISNULL(Detail.Start_Date, @MinDate) AND ISNULL(Detail.End_Date, @MaxDate)
		WHERE 
			Category.Service_BarCode = @Service_Barcode 
	) AS Base
	WHERE 
		(ISNULL(@Search1, '') = '' OR FullDescription LIKE '%' + @Search1 + '%')
		AND (ISNULL(@Search2, '') = '' OR FullDescription LIKE '%' + @Search2 + '%')
		AND (ISNULL(@Search3, '') = '' OR FullDescription LIKE '%' + @Search3 + '%')
		AND (ISNULL(@Search4, '') = '' OR FullDescription LIKE '%' + @Search4 + '%')
		AND (ISNULL(@PartNumber, '') = '' OR Part_Number_Unpunc LIKE '%' + @PartNumber + '%' OR Part_Number LIKE '%' + @PartNumber + '%')
END
GO
