USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[spGetEMSTotals] 
	@AdminInfoID Int 
AS 
	CREATE TABLE [dbo].[#GetPartsTotals] ( 
		[LineItemTotal] [real] NULL , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[BettermentType] [varchar] (1) NOT NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[DiscountMarkup] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[Taxable] [bit] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetLaborTotals] ( 
		[LineItemTotal] [float] NULL , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[Betterment] [int] NOT NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[DiscountMarkup] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[Taxable] [int] NOT NULL , 
		[Rate] [real] NULL , 
		[Hours] [float] NULL , 
		[Cost] [money] NULL 
	) ON [PRIMARY] 
	CREATE TABLE [dbo].[#GetSuppliesTotals] ( 
		[LineItemTotal] [float] NULL , 
		[AdminInfoID] [int] NOT NULL , 
		[RateTypesID] [tinyint] NOT NULL , 
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL , 
		[Betterment] [int] NOT NULL , 
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL , 
		[DiscountMarkup] [real] NULL , 
		[CapType] [tinyint] NULL , 
		[Cap] [real] NULL , 
		[Taxable] [bit] NULL , 
		[Rate] [real] NULL , 
		[Hours] [float] NULL , 
		[Cost] [money] NULL 
	) ON [PRIMARY] 
 
	INSERT INTO #GetPartsTotals 
		EXECUTE spGetPartsTotals @AdminInfoID = @AdminInfoID 
	INSERT INTO #GetLaborTotals 
		EXECUTE spGetLaborTotals @AdminInfoID = @AdminInfoID 
	INSERT INTO #GetSuppliesTotals 
		EXECUTE spGetSuppliesTotals @AdminInfoID = @AdminInfoID 
 
	SELECT	RateName, 
		NULL 'Hours', 
		NULL 'Cost', 
		NULL 'LaborTypeID', 
		NULL 'Rate', 
		LineItemTotal, 
		Taxable, 
		CapType, 
		Cap, 
		DiscountMarkup, 
		RateTypesID, 
		EMSCode1, 
		EMSBetterment 
	FROM #GetPartsTotals GetPartsTotals 
	UNION ALL 
	SELECT 	RateName, 
		Hours, 
		Cost, 
		NULL 'LaborTypeID', 
		Rate, 
		LineItemTotal, 
		Taxable, 
		CapType, 
		Cap, 
		DiscountMarkup, 
		RateTypesID, 
		EMSCode1, 
		EMSBetterment 
	FROM #GetLaborTotals GetLaborTotals 
	UNION ALL 
	SELECT 	RateName, 
		Hours, 
		Cost, 
		NULL 'LaborTypeID', 
		Rate, 
		LineItemTotal, 
		Taxable, 
		CapType, 
		Cap, 
		DiscountMarkup, 
		RateTypesID, 
		EMSCode1, 
		EMSBetterment 
	FROM #GetSuppliesTotals GetSuppliesTotals 
 
	DROP TABLE #GetLaborTotals 
	DROP TABLE #GetPartsTotals  
	DROP TABLE #GetSuppliesTotals 
 
GO
