USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/12/2020
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ProcessedLines_Fill]
		  @AdminInfoID		int   
		, @SupplementVersion	int = 0
		, @ImageDirectory		varchar(500) = '' 
		, @ForPreview			bit = 0			-- True when putting together the line item preview, which doesn't calculate markup for prices
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO ProcessedLinesCache
	(AdminInfoID, TimeStamp)
	VALUES (@AdminInfoID, GETDATE())

	DECLARE @CacheID INT = (SELECT CAST(SCOPE_IDENTITY() AS INT))

	DECLARE @IsImported BIT = (SELECT ISNULL(IsImported, 0) FROM AdminInfo WHERE ID = @AdminInfoID)

	DECLARE @Service_BarCode VarCHar(10) = Mitchell3.dbo.GetServiceBarcode(@AdminInfoID) 

	-- Set up variables used for controlling overlap calculations.  Older estimates and imported estimates use different calculations
	DECLARE @OverlapRoundingFirst INT = 7163683		-- Set this to the first estimate that should use the 0.001 instead of 0 comparison for including labor
	DECLARE @OtherLaborTypesIncludeFirst INT = 0	-- Before only Body labor was applying the Included overlap logic, but Mechanical and Structure should be too.  Estimates after this ID will include Mech and Structure as well

	DECLARE @UseNewOverlapFormula BIT = 0

	IF @AdminInfoID > @OverlapRoundingFirst		-- Set this to the first estimate that should use the new overlap formula
		SET @UseNewOverlapFormula = 1

	IF @IsImported = 1
		SET @UseNewOverlapFormula = 0

--SET @UseNewOverlapFormula = 0		-- TEMP - Ignore new formula

	-- Get a table with the results of GetEstimateLineItemSummary which is joined a few times in the big query
	create table #EstimateLineItemSummary   
	(
		  LineItemID	int
		, Service_BarCode	varchar(20)
		, Category		varchar(200)
		, SubCategory	varchar(200)
		, barcode		varchar(50)
		, GroupNumber	int
		, nHeader		int
		, nSection		int
		, Step			varchar(200)
	)

	INSERT INTO #EstimateLineItemSummary 
	SELECT * FROM dbo.GetEstimateLineItemSummary(@AdminInfoID)

	-- Get a temp table with the line items for this estimate
	create TABLE #LineItems 
	(
		[id] [int] NOT NULL,
		[EstimationDataID] [int] NOT NULL,
		[StepID] [int] NULL,
		[PartNumber] [varchar](50) NULL,
		[PartSource] [varchar](10) NULL,
		[ActionCode] [varchar](20) NULL,
		[Description] [varchar](80) NULL,
		[Price] [money] NULL,
		[Qty] [int] NULL,
		[LaborTime] [real] NULL,
		[PaintTime] [real] NULL,
		[Other] [real] NULL,
		[ImageID] [int] NULL,
		[ActionDescription] [varchar](80) NULL,
		[PartOfOverhaul] [bit] NULL,
		[PartSourceVendorID] [int] NULL,
		[BettermentParts] [bit] NULL,
		[SubletPartsFlag] [bit] NULL,
		[BettermentMaterials] [bit] NULL,
		[SubletOperationFlag] [bit] NULL,
		[SupplementVersion] [tinyint] NULL,
		[LineNumber] [int] NULL,
		[UniqueSequenceNumber] [int] NULL,
		[ModifiesID] [int] NULL,
		[ACDCode] [char](1) NULL,
		[CustomerPrice] [real] NULL,
		[AutomaticCharge] [bit] NULL,
		[SourcePartNumber] [varchar](25) NULL,
		[SectionID] [int] NULL,
		[VehiclePosition] [varchar](5) NULL,
		[Barcode] [varchar](10) NULL,
		[dbPrice] [money] NULL,
		[AutoAdd] [bit] NULL,
		[Suppress] [bit] NULL,
		[AutoAddBarcodeParent] [varchar](10) NULL,
		[Date_Entered] [datetime] NOT NULL,
		[BettermentType] [char](10) NULL,
		[BettermentValue] [float] NULL
	)

	INSERT INTO #LineItems
	SELECT EstimationLineItems.*
	FROM EstimationData
	JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.id
	WHERE EstimationData.AdminInfoID = @AdminInfoID 

	 -- Get a temp table with the labor lines for this estimate
	 create TABLE #LaborItems 
	 (
		[id] [int] NOT NULL,
		[EstimationLineItemsID] [int] NOT NULL,
		[LaborType] [tinyint] NOT NULL,
		[LaborSubType] [smallint] NULL,
		[LaborTime] [real] NULL,
		[LaborCost] [money] NULL,
		[BettermentFlag] [bit] NULL,
		[SubletFlag] [bit] NULL,
		[UniqueSequenceNumber] [int] NULL,
		[ModifiesID] [int] NULL,
		[AdjacentDeduction] [tinyint] NULL,
		[MajorPanel] [bit] NULL,
		[BettermentPercentage] [real] NULL,
		[dbLaborTime] [real] NULL,
		[AdjacentDeductionLock] [bit] NULL,
		[barcode] [varchar](10) NULL,
		[Lock] [bit] NULL,
		[include] [bit] NULL,
		[WebEstID] [int] NULL
	 )

	INSERT INTO #LaborItems
	SELECT EstimationLineLabor.*
	FROM #LineItems LineItems
	JOIN EstimationLineLabor ON EstimationLineLabor.EstimationLineItemsID = LineItems.id

	

	-- Get the labor summary
	create TABLE #LaborSummary   
	( 
		 EstimationLineItemsID		int 
		,LaborSummaryPaintPanel		varchar(200) 
		,LaborTotalPaintPanel		real 
		,LaborSummaryPaint			varchar(200) 
		,LaborTotalPaint			real 
		,LaborTotalPaintDollars		real
		,LaborTotalClearcoat		real
		,ClearcoatLaborIncluded		bit
		,ClearcoatSuppliesIncluded	bit
		,LaborSummaryExtra			varchar(200) 
		,LaborTotalExtra			real 
		,LaborExtraType				varchar(50)
		,LaborExtraIncludedInType	varchar(50)
		,LaborExtraRemovedType		varchar(50)
		,LaborExtraRemovedIncludedInType		varchar(50) 
		,LaborExtraRemovedHours		real 
		,LaborExtraRemovedTotal		real
	)  

	INSERT INTO #LaborSummary
	SELECT * FROM dbo.GetLaborSummary(@AdminInfoID, @ForPreview)


	INSERT INTO ProcessedLines 
	SELECT  
		@CacheID,
		EstimationLineItems.ID, 
 
		-- Don't include lines that have been change by a supplement 
		CASE WHEN ISNULL(SuppOverride.ID, 0) > 0 AND ISNULL(EstimationLineItems.SupplementVersion, 0) < @SupplementVersion THEN 0 ELSE 1 END AS ForSummary, 
  
		-- Set a flag if a line has been modified by another line with a different part source, these lines aren't shown in the main list ofline items  
		CASE WHEN EstimationLineItems.id <> EstimationLineItemsModified.id AND EstimationLineItems.PartSource <> EstimationLineItemsModified.PartSource THEN 1 ELSE 0 END AS PartSourceModified,  
		CASE WHEN EstimationLineItems.id <> EstimationLineItemsModified.id THEN ISNULL(EstimationLineItemsModified.SupplementVersion, 0) ELSE 0 END AS ModifiedSupplementVersion,  
		EstimationLineItemsModified.ID AS ModifiedID, 
	  
		-- If there is no panel, return ZZZ so it is sorted at the end of the list.  The report will not show ZZZ  
				ISNULL(  
			CASE WHEN @Service_Barcode IS NULL
				THEN
					dbo.GetManualSection(ISNULL(ModifiesData.SectionID, EstimationLineItems.SectionID))
				ELSE
					NULLIF(  
						CASE WHEN ModifiesData.id IS NULL  
							THEN ISNULL(Mitchell3.dbo.GetCategory(@Service_BarCode, EstimationLineItems.SectionID), ISNULL(T1.Step, t2.step))  
						ELSE Mitchell3.dbo.GetCategory(@Service_BarCode, ModifiesData.SectionID)  
						END
					, '')
				END
		, 'ZZZ') As 'Panel',  
  
		CASE WHEN ISNULL(EstimationLineItems.SupplementVersion,0) > 0 AND EstimationLineItems.ModifiesID = -1 THEN 1 ELSE 0 END 'Added',  
		CASE   
			WHEN (ISNULL(SuppOverride.id, 0) > 0 AND SuppOverride.ActionDescription LIKE 'Delete%')  
				OR (ISNULL(ModifiesData.id, 0) > 0 AND EstimationLineItems.ActionDescription LIKE 'Delete%')  
			THEN 1   
		--WHEN EstimationLineItems.id <> EstimationLineItemsModified.id AND EstimationLineItems.PartSource <> EstimationLineItemsModified.PartSource THEN 1  
		WHEN EstimationLineItems.id <> EstimationLineItemsModified.id THEN 1  
		ELSE 0 END 'Removed',  
  
		REPLACE(ISNULL(EstimationLineItems.BettermentType, ''), ' ', '') AS BettermentType,  
		ISNULL(EstimationLineItems.BettermentValue, 0) AS BettermentValue,  
		CASE	  
			WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'P' THEN  
				CASE   
					WHEN EstimationOverlap.OverlapAdjacentFlag = 1 THEN 0 
					ELSE   
						EstimationLineItems.Price
						 *   
						 CASE   
							WHEN EstimationLineItems.BettermentType = 'P'  
								THEN (EstimationLineItems.BettermentValue / 100) * -1  
							ELSE -1  
						END  
				END   
			  
			WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'D' THEN  
				EstimationLineItems.BettermentValue * -1  
			ELSE 0  
		END AS BettermentAmount,  
  
		CASE  
			WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'P' THEN  
				'Betterment ' + CAST(EstimationLineItems.BettermentValue AS VARCHAR) + '%'  
			WHEN ISNULL(EstimationLineItems.BettermentType, '' ) = 'D' THEN  
				'Betterment $' + CAST(EstimationLineItems.BettermentValue AS VARCHAR)  
			ELSE ''  
		END As BettermentNote,  
  
		CASE WHEN ISNULL(EstimationLineItems.SubletOperationFlag,0) <> 0 THEN 1 ELSE 0 END 'Sublet',  
  
		CASE WHEN EstimationLineItems.ActionCode = 'PDR' THEN 'PDR' 
		ELSE
			CASE WHEN ISNULL(EstimationLineItems.Description + ' ','') NOT LIKE ISNULL(ActionList.ActionLong + ' ','') + '%' THEN ISNULL(ActionList.ActionLong + ' ','') ELSE '' END
		END AS 'Action',  
  
		COALESCE(EstimationLineItems.ActionDescription, ModifiesData.ActionDescription) AS OperationDescription, 
 
		UPPER(ISNULL(COALESCE(EstimationLineItems.Description, ModifiesData.Description), '')) +    
		CASE WHEN EstimationOverlap.OverlapAdjacentFlag = 1
			THEN ', Included in ' + ISNULL(EstimationLineItemsAssembly.Description,' Assembly')   
			ELSE ''   
		END  
		+ CASE WHEN ISNULL(EstimationLineItems.SubletOperationFlag, 0) = 1 THEN ' Sublet' ELSE '' END
		+ CASE WHEN ISNULL(OtherLaborType.LaborType, '') <> '' 
			THEN 
				-- Add a Dash if there is a description and labor type
				CASE WHEN ISNULL(COALESCE(EstimationLineItems.Description, ModifiesData.Description), '') <> '' THEN ' - ' ELSE '' END
				+ ISNULL(OtherLaborType.LaborType, '') 
			ELSE '' 
			END 
		+ ' ' + UPPER(COALESCE(EstimationLineItems.ActionDescription, ModifiesData.ActionDescription))
		AS 'Description',   
		
		CASE	
			WHEN EstimationLineItems.ActionCode = 'Replace' THEN
				CASE   
					WHEN   
						ISNULL(COALESCE(EstimationLineItems.BettermentType, ModifiesData.BettermentType), '') <> ''   
						AND ISNULL(COALESCE(EstimationLineItems.BettermentValue, ModifiesData.BettermentValue), 0) > 0   
						--AND ISNULL(COALESCE(EstimationLineItems.BettermentParts, ModifiesData.BettermentParts), 0) = 1  -- Ezra 6/6 this was in the old query, but BettermentParts never seems to be set to true.  Not sure how this worked...
					THEN '(Bet) ' ELSE '' END +  
				CASE   
					WHEN COALESCE(EstimationLineItems.PartSource, ModifiesData.PartSource) = 'LKQ' AND ISNULL(CustomerProfilesMisc.LKQText, '') <> '' THEN CustomerProfilesMisc.LKQText  
					WHEN COALESCE(EstimationLineItems.PartSource, ModifiesData.PartSource) = 'LKQ' AND ISNULL(CustomerProfilesMisc.LKQText,'')='' THEN '*LKQ*'  
					WHEN COALESCE(EstimationLineItems.PartSource, ModifiesData.PartSource) = 'After' THEN isnull(nullif(COALESCE(EstimationLineItems.SourcePartNumber, ModifiesData.SourcePartNumber),''), COALESCE(EstimationLineItems.PartNumber, ModifiesData.PartNumber) )  
					WHEN COALESCE(EstimationLineItems.PartNumber, ModifiesData.PartNumber) NOT LIKE '**%' THEN COALESCE(EstimationLineItems.PartNumber, ModifiesData.PartNumber) ELSE ''   
				END 
			ELSE ''
		END	'PartNumber',  
  
		CASE   
			WHEN EstimationOverlap.OverlapAdjacentFlag = 1 THEN 0 
			ELSE 
				CASE WHEN @ForPreview = 0 
					THEN
						EstimationLineItems.Price + (EstimationLineItems.Price * (CustomerProfileRates.DiscountMarkup / 100)) 
					ELSE
						EstimationLineItems.Price 
					END  
		END 
		'Price',   
  
		CASE WHEN EstimationLineItems.Price = 0 THEN null ELSE dbo.GetLineItemQuantity(EstimationLineItems.ID) END 'Quantity',   
		CASE WHEN ISNULL(EstimationLineItems.PartSource, '') != '' THEN ISNULL(EstimationLineItems.PartSource, '') ELSE 'Other' END AS 'PartSource',  
 
		-- If the part source changed, get the full price of the modified part and select it as subtracted 
		CASE  
			WHEN ISNULL(@SupplementVersion, 0) > 0 AND ISNULL(EstimationLineitems.PartSource, '') <> ISNULL(EstimationLineItemsModifies.PartSource, '') AND ISNULL(EstimationLineItemsModifies.PartSource, '') <> '' 
				THEN 
					CASE WHEN @ForPreview = 0 
						THEN
							EstimationLineItems.Price + (EstimationLineItems.Price * (CustomerProfileRatesRemoved.DiscountMarkup / 100)) 
						ELSE
							EstimationLineItems.Price 
						END  
			ELSE 0 
		END AS RemovedPrice, 
 
		CASE  
			WHEN ISNULL(@SupplementVersion, 0) > 0 AND ISNULL(EstimationLineitems.PartSource, '') <> ISNULL(EstimationLineItemsModifies.PartSource, '') 
				THEN dbo.GetLineItemQuantity(EstimationLineItems.ModifiesID) 
			ELSE 0 
		END AS RemovedQuantity, 
 
		CASE  
			WHEN ISNULL(@SupplementVersion, 0) > 0 AND ISNULL(EstimationLineitems.PartSource, '') <> ISNULL(EstimationLineItemsModifies.PartSource, '') 
				THEN ISNULL(EstimationLineItemsModifies.PartSource, '') 
			ELSE '' 
		END AS RemovedPartSource, 
 
		CASE 
			 WHEN EstimationLineItems.PartSource = 'After' THEN @ImageDirectory + 'Aftermarket.gif'  
			 WHEN EstimationLineItems.PartSource = 'LKQ' THEN @ImageDirectory + 'LKQ.gif'  
			 WHEN EstimationLineItems.PartSource = 'Reman' THEN @ImageDirectory + 'Remanufacturered.gif'  
			 ELSE @ImageDirectory + 'empty.gif'  
		END As PartSourceImage,  
  
		ISNULL(LaborSummary.LaborSummaryPaintPanel, ''), 
		ISNULL(ROUND(LaborSummary.LaborTotalPaintPanel, 1), 0), 
		ISNULL(LaborSummary.LaborSummaryPaint, ''), 
		ISNULL(ROUND(LaborSummary.LaborTotalPaint, 1), 0), 
		ISNULL(ROUND(LaborSummary.LaborTotalPaintDollars, 1), 0),
		ISNULL(ROUND(LaborSummary.LaborTotalClearcoat, 1), 0),
		ISNULL(LaborSummary.ClearcoatLaborIncluded, ''),
		ISNULL(LaborSummary.ClearcoatSuppliesIncluded, ''),
		ISNULL(LaborSummary.LaborSummaryExtra, ''), 
		ROUND(ISNULL(LaborSummary.LaborTotalExtra, 0), 1) AS LaborTotalExtra,
		ROUND(
			-- For Imported estimates, subtract EstimationLineItems.LaborTime from the body labor
			CASE WHEN ISNULL(AdminInfo.IsImported, 0) = 1  THEN
				CASE WHEN ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationLineItems.LaborTime, 0) < 0 THEN 0
					 ELSE ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationLineItems.LaborTime, 0)
					 END
			ELSE
			-- For regular estimates, subtract the overlap amountfrom the overlap table
				CASE WHEN ISNULL(LaborSummary.LaborTotalExtra, 0) < ISNULL(EstimationOverlap.Minimum, 0) THEN ISNULL(LaborSummary.LaborTotalExtra, 0)	-- Labor must be > the minimum to get deducted
				ELSE 
					-- Remove the amount from the labor, cap at 0
					CASE WHEN ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationOverlap.Amount, 0) < 0 THEN 0
					ELSE ISNULL(LaborSummary.LaborTotalExtra, 0) + ISNULL(EstimationOverlap.Amount, 0)
					END
				END
			END
			
		, 1) AS LaborTotalExtraOverlapped, 
		ISNULL(LaborSummary.LaborExtraType, ''),
		ISNULL(LaborSummary.LaborExtraIncludedInType, ''),
		ISNULL(LaborSummary.LaborExtraRemovedType, ''), 
		ISNULL(LaborSummary.LaborExtraRemovedIncludedInType, ''),
		ISNULL(ROUND(LaborSummary.LaborExtraRemovedHours, 1), 0), 
		ISNULL(ROUND(LaborSummary.LaborExtraRemovedTotal, 1), 0), 
 
		CASE WHEN @UseNewOverlapFormula = 0 AND ISNULL(AdminInfo.IsImported, 0) = 0 THEN
			-- Use the old formula
			CASE  
				WHEN ActionList.ActionLong IN ('R+R','R+I','R&I','Replace')
				AND  
				( 
					(EstimationOverlap2.Amount IS NOT NULL AND EstimationOverlap2.Amount = 0)  
					OR  
					( 
						ABS(LaborSummary.LaborTotalExtra) > 0 
						AND 
						( 
							( 
								ISNULL(EstimationOverlap1.Minimum, 0) = 0 
								AND (ABS(LaborSummary.LaborTotalExtra) <= ABS(EstimationOverlap1.Amount)) 
							) 
							OR  
							( 
								ISNULL(EstimationOverlap1.Minimum, 0) <> 0  
								AND (ABS(LaborSummary.LaborTotalExtra) - ABS(ISNULL(EstimationOverlap1.Minimum, 0)) <= CASE WHEN @AdminInfoID > @OverlapRoundingFirst THEN 0.001 ELSE 0 END)	-- 4/10/2019 - fixed a bug where a rounding error caused labor to not be included
							) 
						)  
					)					 
				)  
				THEN 1 
				ELSE 0 
			END 

		-- Otherwise start with labor not included, this will be calculated in the next query using the new formula
		ELSE 0 END AS LaborIncluded, 

		CASE WHEN @AdminInfoID > @OverlapRoundingFirst THEN ISNULL(EstimationOverlap.SupplementLevel, 0) ELSE 0 END AS OverlapSupplement,
 
		ISNULL(EstimationLineLaborOther.LaborCost, 0) +
			CASE WHEN @ForPreview = 1 THEN 0
			ELSE (ISNULL(EstimationLineLaborOther.LaborCost, 0) * (ISNULL(OtherLaborRate.DiscountMarkup, 0) / 100)) 
			END
		AS OtherCharges, 

		ISNULL(EstimationLineLaborOther.LaborType, 0) AS OtherChargesLaborType, 
 
		CASE 
			WHEN ISNULL(EstimationLineLaborOther.LaborType, 0) <> ISNULL(EstimationLineLaborModifiesOther.LaborType, 0) 
				THEN ISNULL(EstimationLineLaborModifiesOther.LaborCost, 0) + (ISNULL(EstimationLineLaborModifiesOther.LaborCost, 0) * (ISNULL(ModifiesOtherLaborRate.DiscountMarkup, 0) / 100))
			ELSE 0 
		END AS RemovedOtherCharges, 
 
		CASE 
			WHEN ISNULL(EstimationLineLaborOther.LaborType, 0) <> ISNULL(EstimationLineLaborModifiesOther.LaborType, 0) 
				THEN ISNULL(EstimationLineLaborModifiesOther.LaborType, 0) 
			ELSE 0 
		END AS RemovedOtherChargesLaborType, 
 
		CASE WHEN ISNULL(EstimationLineLaborPaint.AdjacentDeduction, 0) > 0 THEN 
			cast(EstimationLineLaborPaint.LaborTime AS VARCHAR(20)) 
			+ ' hrs. Paint - ' + 
			CASE  
				WHEN EstimationLineLaborPaint.AdjacentDeduction = 1 THEN FocusWrite.dbo.FormatNumber(CustomerProfilesPaint.AdjacentDeduction,1)  
				WHEN EstimationLineLaborPaint.AdjacentDeduction = 2 THEN FocusWrite.dbo.FormatNumber(CustomerProfilesPaint.NonAdjacentDeduction,1)  
				ELSE ''  
			END  
			+ ' hrs. Adjacent Deduction' 
		ELSE '' END  
		
		AS DeductionsMessage, 

		CASE 
			WHEN EstimationLineLaborPaint.AdjacentDeduction = 1 THEN 'Adj O/L'
			WHEN EstimationLineLaborPaint.AdjacentDeduction = 2 THEN 'Non Adj O/L'
			ELSE '' 
		END AS AdjacentMessage,
 
		CASE   
			WHEN ISNULL(CustomerProfilePrint.PrintPublicNotes, 0) = 1 THEN ISNULL(CONVERT(VarChar(5000), EstimationNotes.Notes), '')  
			ELSE ''  
		END 'Notes',  
  
		COALESCE(EstimationLineItems.LineNumber, ModifiesData.LineNumber) As LineNumber,  
  
		ISNULL(EstimationLineItems.SupplementVersion, 0) AS 'SupplementVersion',  
  
		CASE   
			WHEN SuppOverride.ActionDescription LIKE 'Delete%'  
			THEN SuppOverride.SupplementVersion ELSE 0 END 'DeletedBySupplement',  
  
		dbo.Biggest(ISNULL(EstimationLineItems.SupplementVersion, 0), ISNULL(SuppOverride.SupplementVersion, 0)) AS 'SupplementDisplay',
		--ISNULL(COALESCE(EstimationLineItems.SupplementVersion, SuppOverride.SupplementVersion), 0) AS 'SupplementDisplay',  
  
		ISNULL(T1.Step,t2.step) +'-'+  
		CONVERT(VarChar(3),ISNULL(EstimationLineItems.SupplementVersion,0)) 'StepSupp'  

		, ISNULL(T1.nheader, 1000) * 256 AS Sorter 
		, LineItemSummary.GroupNumber 
		, '' AS OversizedDescription 
		, 0 AS OversizedPrice 
		, '' AS ModifierDescription 
		, 0 AS ModifierPrice 
	FROM AdminInfo  
  
	-- TODO - Customer profile sups, not ready to go live
	--LEFT JOIN CustomerProfiles ON CustomerProfiles.id = AdminInfo.CustomerProfilesID AND ISNULL(CustomerProfiles.Supplement, 0) = @SupplementVersion 
	LEFT JOIN CustomerProfiles ON CustomerProfiles.id = AdminInfo.CustomerProfilesID  
	LEFT JOIN CustomerProfilePrint ON CustomerProfilePrint.id = (SELECT TOP 1 id FROM CustomerProfilePrint WHERE CustomerProfilesID = CustomerProfiles.id)
	LEFT JOIN CustomerProfilesMisc ON CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.id 
  
	LEFT JOIN EstimationData ON EstimationData.AdminInfoID = AdminInfo.ID  
	JOIN #LineItems EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID 
	LEFT JOIN ActionList ON ActionList.ActionShort = EstimationLineItems.ActionCode 
 
	LEFT JOIN #EstimateLineItemSummary AS LineItemSummary ON LineItemSummary.LineItemID = EstimationLineItems.id 
  
	LEFT JOIN VehicleInfo ON VehicleInfo.EstimationDataId = EstimationData.ID
  
	LEFT JOIN #EstimateLineItemSummary T1 ON T1.Service_BarCode = @Service_BarCode AND T1.barcode = EstimationLineItems.Barcode  
	LEFT JOIN (SELECT DISTINCT GroupNumber, Step FROM #EstimateLineItemSummary AS T2Base WHERE NOT T2Base.Service_BarCode IS NULL) T2 ON T2.GroupNumber = EstimationLineItems.SectionID 
  
	LEFT JOIN EstimationNotes   
		ON EstimationNotes.EstimationLineItemsID = EstimationLineItems.ID   
		AND (EstimationNotes.Printed = 1 AND ISNULL(CustomerProfilePrint.PrintPublicNotes, 0) = 1)   
	LEFT JOIN #LineItems EstimationLineItemsModified ON EstimationLineItemsModified.id = Focuswrite.Dbo.GetLatestLineItemMod(EstimationLineItems.ID)   
	LEFT JOIN #LineItems EstimationLineItemsModifies ON EstimationLineItemsModifies.ID = EstimationLineItems.ModifiesID
  
	LEFT JOIN (	        
		SELECT 'LKQ' 'PartSource', 9 'RateType'  
		UNION SELECT 'OEM', 8  
		UNION SELECT 'Retail', 8  
		UNION SELECT 'After', 10  
		UNION SELECT 'Reman', 13  
		UNION SELECT 'Other', 18 	  
	) PartSourceRateTypes ON CASE WHEN ISNULL(EstimationLineItems.PartSource, '') = '' THEN 'Other' ELSE EstimationLineItems.PartSource END = PartSourceRateTypes.PartSource
	LEFT JOIN CustomerProfileRates ON CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRates.RateType = PartSourceRateTypes.RateType   

	LEFT JOIN (	        
		SELECT 'LKQ' 'PartSource', 9 'RateType'  
		UNION SELECT 'OEM', 8  
		UNION SELECT 'Retail', 8  
		UNION SELECT 'After', 10  
		UNION SELECT 'Reman', 13  
		UNION SELECT 'Other', 18 	  
	) PartSourceRemovedRateTypes ON CASE WHEN ISNULL(EstimationLineItemsModifies.PartSource, '') = '' THEN '' ELSE EstimationLineItemsModifies.PartSource END = PartSourceRemovedRateTypes.PartSource
	LEFT JOIN CustomerProfileRates AS CustomerProfileRatesRemoved ON CustomerProfileRatesRemoved.CustomerProfilesID = CustomerProfiles.id AND CustomerProfileRatesRemoved.RateType = PartSourceRemovedRateTypes.RateType
   
	LEFT JOIN #LaborItems EstimationLineLaborMain ON EstimationLineLaborMain.EstimationLineItemsID = EstimationLineItems.ID AND EstimationLineLaborMain.LaborType in (1,2,3,4,5,6,8,24,25,32)  
	
	LEFT JOIN LaborTypes LaborTypesMain ON LaborTypesMain.id = EstimationLineLaborMain.LaborType  
  
	LEFT JOIN #LaborItems EstimationLineLaborPaint   
		ON EstimationLineLaborPaint.EstimationLineItemsID = EstimationLineItems.ID   
		AND  
		(  
			EstimationLineLaborPaint.LaborType in (9,16,19,18,29)  -- Clearcoat, Base Coat, 2 Stage, 3 Stage, 2 Tone 
			OR   
			(EstimationLineLaborPaint.LaborType = 26 AND EstimationLineItems.ActionCode = 'Blend')   
		)  
	LEFT JOIN LaborTypes LaborTypesPaint ON LaborTypesPaint.id = EstimationLineLaborPaint.LaborType
  
	LEFT JOIN #LaborItems EstimationLineLaborOther ON EstimationLineLaborOther.EstimationLineItemsID = EstimationLineItems.ID AND EstimationLineLaborOther.LaborType in (13,14,15,30,31)  
	LEFT JOIN LaborTypes OtherLaborType ON EstimationLineLaborOther.LaborType = OtherLaborType.id
	LEFT JOIN CustomerProfileRates OtherLaborRate ON OtherLaborRate.CustomerProfilesID = CustomerProfiles.id AND OtherLaborType.RateTypesID = OtherLaborRate.RateType

	LEFT JOIN #LaborItems EstimationLineLaborModifiesOther ON EstimationLineLaborModifiesOther.EstimationLineItemsID = EstimationLineItemsModifies.ID AND EstimationLineLaborModifiesOther.LaborType in (13,14,15,30,31) 
	LEFT JOIN LaborTypes ModifiesOtherLaborType ON EstimationLineLaborModifiesOther.LaborType = ModifiesOtherLaborType.id
	LEFT JOIN CustomerProfileRates ModifiesOtherLaborRate ON ModifiesOtherLaborRate.CustomerProfilesID = CustomerProfiles.id AND ModifiesOtherLaborType.RateTypesID = ModifiesOtherLaborRate.RateType

	-- New correct overlap logoc
	--LEFT JOIN EstimationOverlap ON @UseNewOverlapFormula = 1 AND EstimationLineItems.ID = EstimationOverlap.EstimationLineItemsID1 AND EstimationOverlap.SupplementLevel <= @SupplementVersion AND EstimationOverlap.UserAccepted = 1
	LEFT JOIN  
	( 
		SELECT
		  EstimationLineItemsID1
		, EstimationLineItemsID2
		, MIN(Amount) AS Amount
		, MIN(Minimum) AS Minimum
		, SupplementLevel
		, MAX(OverlapAdjacentFlag) AS OverlapAdjacentFlag
		FROM 
		(
			SELECT  
				  CASE WHEN LaborSummary1.LaborTotalExtra <= LaborSummary2.LaborTotalExtra THEN EstimationLineItemsID1 ELSE EstimationLineItemsID2 END AS EstimationLineItemsID1 
				, Amount 
				, Minimum 
				, SupplementLevel	SupplementLevel 
				, CASE WHEN CASE WHEN OverlapAdjacentFlag = 'S' THEN 1 ELSE 0 END > 0 THEN 1 ELSE 0 END AS OverlapAdjacentFlag 
				, CASE WHEN OverlapAdjacentFlag = 'S' THEN CASE WHEN LaborSummary1.LaborTotalExtra <= LaborSummary2.LaborTotalExtra THEN EstimationLineItemsID2 ELSE EstimationLineItemsID1 END ELSE 0 END As EstimationLineItemsID2 
			FROM EstimationData 
			JOIN EstimationLineItems ON EstimationData.id = EstimationLineItems.EstimationDataID 
			LEFT JOIN EstimationOverlap ON  
				EstimationLineItems.ID = EstimationOverlap.EstimationLineItemsID1  
				AND EstimationOverlap.SupplementLevel <= @SupplementVersion AND EstimationOverlap.UserAccepted = 1 
				AND EstimationOverlap.UserAccepted = 1 
				--AND dbo.IsLineDeletedBySupplement(EstimationOverlap.EstimationLineItemsID2, @SupplementVersion) = 0 
 
			LEFT JOIN #LaborSummary LaborSummary1 ON EstimationOverlap.EstimationLineItemsID1 = LaborSummary1.EstimationLineItemsID 
			LEFT JOIN #LaborSummary LaborSummary2 ON EstimationOverlap.EstimationLineItemsID2 = LaborSummary2.EstimationLineItemsID 
 
			WHERE  
				AdminInfoID = @AdminInfoID   
				AND EstimationLineItemsID1 IS NOT NULL 
		) base
		GROUP BY 
		  EstimationLineItemsID1
		, EstimationLineItemsID2
		, SupplementLevel
	) EstimationOverlap ON @UseNewOverlapFormula = 1 AND EstimationLineItems.ID = EstimationOverlap.EstimationLineItemsID1 
  
	-- Old incorrect overlap logic
	LEFT JOIN dbo.GetEstimateOverlap1(@AdminInfoID) AS EstimationOverlap1 ON @UseNewOverlapFormula = 0 AND EstimationOverlap1.EstimationLineItemsID1 = dbo.GetOriginalLineItemID(EstimationLineItems.id) AND EstimationOverlap1.SupplementVersion <= @SupplementVersion
	LEFT JOIN dbo.GetEstimateOverlap2(@AdminInfoID) AS EstimationOverlap2 ON @UseNewOverlapFormula = 0 AND EstimationOverlap2.EstimationLineItemsID2 = dbo.GetOriginalLineItemID(EstimationLineItems.id) AND EstimationOverlap2.SupplementVersion <= @SupplementVersion

	LEFT JOIN #LineItems EstimationLineItemsAssembly ON EstimationLineItemsAssembly.id = EstimationOverlap.EstimationLineItemsID2 AND EstimationOverlap.OverlapAdjacentFlag = 1  
  
	LEFT JOIN #LineItems SuppOverride ON SuppOverride.ModifiesID = EstimationLineItems.id AND SuppOverride.SupplementVersion <= @SupplementVersion
	LEFT JOIN #LineItems ModifiesData ON ModifiesData.id = EstimationLineItems.ModifiesID   
  
	LEFT JOIN CustomerProfilesPaint ON CustomerProfilesPaint.CustomerProfilesID = AdminInfo.CustomerProfilesID 
 
	LEFT JOIN #LaborSummary AS LaborSummary ON LaborSummary.EstimationLineItemsID = EstimationLineItems.ID 
 
	WHERE  
		AdminInfo.ID = @AdminInfoID 
 
		AND (ISNULL(EstimationLineItems.SupplementVersion, 0) <= @SupplementVersion) 

	-------------------------------------------------------------------------------------------------------------------------------------------------------- 
	---- Add the PDR lines to the main results 
 
	UNION 
 
	SELECT DISTINCT 
		  @CacheID
		, PDRSummary.EstimateDataPanelID As ID 
		, ForEOR AS ForSummary 
		, 0 AS PartSourceModified 
		, 0 AS ModifiedSupplementVersion 
		, 0 AS ModifiedID 
		, PDRSummary.Panel 
		, CASE WHEN PDRSummary.SupplementVersion = @SupplementVersion AND @SupplementVersion > 0 THEN 1 ELSE 0 END AS Added 
		, CASE WHEN ForEOR = 0 AND PDRSummary.SupplementVersion < @SupplementVersion THEN 1 ELSE 0 END AS Removed 
		, '' AS BettermentType 
		, 0 AS BettermentValue 
		, 0 AS BettermentAmount 
		, '' AS BettermentNote 
		, 0 AS Sublet 
		, 'PDR Matrix' AS Action 
		, ''  AS OperationDescription
		, PDRSummary.Description 
		, '' AS PartNumber 
		, ISNULL(PDRSummary.Price, 0) AS Price 
		, 1 AS Quantity 
		, '' AS PartSource 
		, 0 AS RemovedPrice 
		, 0 AS RemovedQuantity 
		, '' AS RemovedPartSource 
		, @ImageDirectory + 'empty.gif' AS PartSourceImage 
		, '' AS LaborSummaryPaintPanel 
		, 0 AS LaborTotalPaintPanel 
		, '' AS LaborSummaryPaint 
		, 0 AS LaborTotalPaint 
		, 0 AS LaborTotalPaintDollars
		, 0
		, 0
		, 0
		, '' AS LaborSummaryExtra 
		, 0 AS LaborTotalExtra
		, 0 AS LaborTotalExtraOverlapped
		, '' AS ExtraLaborType
		, '' AS ExtraLaborIncludeInType
		, '' AS LaborExtraRemovedType
		, '' AS LaborExtraRemovedIncludeInType
		, 0 LaborExtraRemovedHours
		, 0 LaborExtraRemovedTotal
		, 0 AS LaborIncluded 
		, 0 AS OverlapSupplement
		, 0 AS OtherCharges 
		, 0 AS OtherChargesLaborType 
		, 0 AS RemovedOtherCharges 
		, 0 AS RemovedOtherChargesLaborType 
		, '' DeductionsMessage 
		, '' AdjacentMessage
		, PDRSummary.Notes 
		, PDRSummary.LineNumber 
		, PDRSummary.SupplementVersion 
		, 0 AS DeletedBySupplement 
		, PDRSummary.SupplementVersion AS SupplementDisplay 
		, '' AS StepSupp 
		, PDRSummary.Sorter		 
		, PDRSummary.GroupNumber 
		, PDRSummary.OversizedDescription AS OversizedDescription 
		, PDRSummary.OversizedPrice AS OversizedPrice 
		, PDRSummary.ModifierDescription AS ModifierDescription 
		, PDRSummary.ModifierPrice AS ModifierPrice 
	FROM dbo.GetPDRSummary(@AdminInfoID, 1, @SupplementVersion) AS PDRSummary 
	WHERE PDRSummary.AdminInfoID = @AdminInfoID AND PDRSummary.SupplementVersion <= @SupplementVersion 
 
	---- END PDR 
	--------------------------------------------------------------------------------------------------------------------------------------------------------

	IF @UseNewOverlapFormula = 1 OR @IsImported = 1
		BEGIN
			-- Mark LaborIncluded when the overlapped body labor is <= 0 and the pre-overlapped value > 0
			UPDATE ProcessedLines
			SET LaborIncluded = 1
			WHERE 
			    CacheID = @CacheID
				AND 
				(
					((@AdminInfoID >= @OtherLaborTypesIncludeFirst OR @IsImported = 1) AND ExtraLaborType IN ('Body' , 'Mechanical', 'Structure'))
					OR (@AdminInfoID < @OtherLaborTypesIncludeFirst AND @IsImported = 0 AND ExtraLaborType = 'Body')
				)
				
				AND LaborTotalExtraOverlapped = 0 
				AND LaborTotalExtra > 0

			-- If the labor total overlapped is < the labor total, use the overlapped value as the labor total extra value
			UPDATE ProcessedLines
			SET 
				  LaborSummaryExtra = CAST(LaborTotalExtraOverlapped AS VARCHAR) + ' hrs. Body'
				, LaborTotalExtra = LaborTotalExtraOverlapped
			WHERE CacheID = @CacheID AND ExtraLaborType = 'Body' AND LaborTotalExtraOverlapped < LaborTotalExtra
		END

	-- If a panel has the Primary part in the estimate as a repair, replace, or blend, than any R&I lines should be exculted from the overlap calculation.
	-- This query updates the processed lines and sets the labor included to 0 when the above logic is true.
	UPDATE ProcessedLines
		SET LaborIncluded = 0 
		FROM ProcessedLines Lines
		JOIN 
		(
			SELECT Panel, MAX(CASE WHEN IsPrimaryPanel = 1 THEN 1 ELSE 0 END) AS PrimaryPanelUsed
			FROM ProcessedLines Lines
			JOIN 
			(
				SELECT EstimationLineItems.id AS LineItemID, CASE WHEN EstimationLineItems.ActionCode IN ('Repair', 'Refinish', 'Blend') AND ISNULL(Hotspot.Callout_Number, 0) = 1 THEN 1 ELSE 0 END AS IsPrimaryPanel
				FROM EstimationData
				LEFT OUTER JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.ID
				LEFT OUTER JOIN Mitchell3.dbo.Detail ON 
					EstimationLineItems.PartNumber <> 'ORDER FROM DEALER' 
					AND Detail.Part_Number = EstimationLineItems.PartNumber
					--AND CASE WHEN EstimationLineItems.VehiclePosition = 'R' THEN 1 ELSE 2 END = Detail.Right_Left_Code
					AND (EstimationLineItems.VehiclePosition = '' OR CASE WHEN EstimationLineItems.VehiclePosition = 'R' THEN 1 ELSE 2 END = Detail.Right_Left_Code)
				LEFT OUTER JOIN Mitchell3.dbo.Hotspot ON 
					Hotspot.Service_Barcode = Detail.Service_BarCode
					AND Hotspot.nheader = Detail.nheader
					AND Hotspot.nsection = Detail.nsection
					AND Hotspot.npart = Detail.npart
				WHERE EstimationData.AdminInfoID = @AdminInfoID
			) AS Panel ON Panel.LineItemID = Lines.LineItemID
			WHERE CacheID = @CacheID
			GROUP BY Panel
		) AS PanelUsed
		ON PanelUsed.Panel = Lines.Panel
		WHERE CacheID = @CacheID AND Action = 'R&I' AND PanelUsed.PrimaryPanelUsed = 1

	SELECT @CacheID
END
GO
