USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spGetSuppliesTotals]
	@AdminInfoID Int
AS
	CREATE TABLE [dbo].[#GetSuppliesSums] (
		[AdminInfoID] [int] NOT NULL ,
		[RateTypesID] [tinyint] NOT NULL ,
		[RateName] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
		[Betterment] [int] NOT NULL ,
		[LaborCost] [money] NULL ,
		[LaborTime] [float] NULL ,
		[EMSCode1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[EMSBetterment] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[Rate] [real] NULL ,
		[CapType] [tinyint] NULL ,
		[Cap] [real] NULL ,
		[DiscountMarkup] [real] NULL ,
		[Taxable] [bit] NULL ,
		[IncludeIn] [tinyint] NULL
	) ON [PRIMARY]
		
	SELECT	AdminInfo.id 'AdminInfoID',
		ISNULL(RateTypes.id,0) 'RateTypesID',
		ISNULL(RateTypes.RateName,LaborTypes.LaborType) 'RateName',
		LaborTypes.id 'LaborTypesID',
		LaborTypes.LaborType,
		LaborTypes.Description,
		CASE 	WHEN EstimationLineItems.BettermentOperationFlag <> 0 THEN 1
			WHEN EstimationLineLabor.BettermentFlag <> 0 THEN 1
			ELSE 0
		END 'Betterment',
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END 'Sublet',
		Sum(ISNULL(EstimationLineLabor.LaborCost,0)) 'LaborCost',
		Sum(ISNULL(EstimationLineLabor.LaborTime,0)) 'LaborTime',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CASE 	WHEN ISNULL(LaborTypes.id,0) = 14 OR ISNULL(CustomerProfileRates.Taxable,0) <> 0 THEN 1
			ELSE 0
		END 'Taxable',
		CustomerProfileRates.IncludeIn
	INTO #GetLabor
	FROM AdminInfo with(nolock)
	INNER JOIN EstimationData with(nolock) ON
		(EstimationData.AdminInfoID = AdminInfo.id)
	INNER JOIN EstimationLineItems with(nolock) ON
		(EstimationLineItems.EstimationDataID  = EstimationData.id)
	LEFT JOIN EstimationLineItems EstimationLineItemsOverridden with(nolock) ON
		(EstimationLineItemsOverridden.ModifiesID = EstimationLineItems.id)
	INNER JOIN EstimationLineLabor with(nolock) ON
		(EstimationLineLabor.EstimationLineItemsID  = EstimationLineItems.id)
	LEFT JOIN LaborTypes with(nolock) ON
		(LaborTypes.id = EstimationLineLabor.LaborType)
	LEFT JOIN RateTypes with(nolock) ON
		(RateTypes.id = LaborTypes.RateTypesID)
	INNER JOIN CustomerProfiles with(nolock) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates with(nolock) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)
	WHERE EstimationLineItemsOverridden.ID IS NULL AND
		AdminInfo.id = @AdminInfoID
	GROUP BY
		AdminInfo.id,
		RateTypes.id,
		RateTypes.RateName,
		LaborTypes.id,
		LaborTypes.LaborType,
		LaborTypes.Description,
		CASE 	WHEN EstimationLineItems.BettermentOperationFlag <> 0 THEN 1
			WHEN EstimationLineLabor.BettermentFlag <> 0 THEN 1
			ELSE 0
		END,
		CASE 	WHEN EstimationLineItems.SubletOperationFlag  <> 0 THEN 1
			WHEN EstimationLineLabor.SubletFlag  <> 0 THEN 1
			ELSE 0
		END,
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn

	SELECT GetLabor.AdminInfoID,
		RateTypes.ID 'RateTypesID',
		RateTypes.RateName,
		GetLabor.LaborTypesID,
		GetLabor.LaborType,
		GetLabor.Description,
		GetLabor.Betterment,
		GetLabor.Sublet,
		GetLabor.LaborCost,
		GetLabor.LaborTime,
		GetLabor.EMSCode1,
		GetLabor.EMSBetterment,
		GetLabor.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	INTO #GetSupplies
	FROM #GetLabor GetLabor
	INNER JOIN RateTypes with(nolock) ON
		(RateTypes.ID = CASE 	WHEN GetLabor.RateTypesID = 2 THEN 7
					WHEN GetLabor.RateTypesID = 1 THEN 6 
					WHEN GetLabor.RateTypesID = 17 THEN 19
					WHEN GetLabor.RateTypesID = 21 THEN 22
				END )
	INNER JOIN AdminInfo ON
		(AdminInfo.id = GetLabor.AdminInfoID)
	INNER JOIN CustomerProfiles ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id) 

	INSERT INTO #GetSuppliesSums
		SELECT AdminInfoID,RateTypesID,RateName,Betterment,Sum(isnull(LaborCost,0)) LaborCost,Sum(isnull(LaborTime,0)) LaborTime,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn
		FROM #GetSupplies GetSupplies
		GROUP BY AdminInfoID,RateTypesID,RateName,Betterment,EMSCode1,EMSBetterment,Rate,CapType,Cap,DiscountMarkup,Taxable,IncludeIn


	SELECT CASE 	WHEN 	ISNULL(s.Betterment,0) = 1 
				THEN ISNULL(s.Rate,0) * ISNULL(s.Hours,0) + ISNULL(s.Cost,0) 
			WHEN 	ISNULL(s.CapType,2) = 1 AND 
				ISNULL(s.Cap,0) < ISNULL(s.Hours,0) 
				THEN ISNULL(s.Rate,0) * ISNULL(s.Cap,0) + ISNULL(s.Cost,0) 
			WHEN 	ISNULL(s.CapType,2) = 0 AND 
				ISNULL(s.Cap,0) < ISNULL(s.Rate,0) * ISNULL(s.Hours,0) + ISNULL(s.Cost,0) 
				THEN ISNULL(s.Cap,0)
			ELSE	ISNULL(s.Rate,0) * ISNULL(s.Hours,0) + ISNULL(s.Cost,0) 
		END 'LineItemTotal',
			AdminInfoID,
			RateTypesID,
			RateName,
			Betterment,
			EMSCode1,
			EMSBetterment,
			DiscountMarkup,
			CapType,
			Cap,
			Taxable,
			Rate,
			Hours,
			Cost
	FROM (
		SELECT SUM(ISNULL(LineItemTotal,0)) 'LineItemTotal',
			AdminInfoID,
			RateTypesID,
			RateName,
			Betterment,
			EMSCode1,
			EMSBetterment,
			DiscountMarkup,
			CapType, 
			Cap,
			Taxable,
			Rate,
			SUM(ISNULL(Hours,0)) 'Hours',
			SUM(ISNULL(Cost,0)) 'Cost'
		FROM (
			SELECT DISTINCT
				
				CASE 	WHEN 	ISNULL(GetSuppliesSums.Betterment,0) = 1
						THEN ISNULL(GetSuppliesSums2.Rate,0) * ISNULL(GetSuppliesSums.LaborTime,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
					WHEN 	ISNULL(GetSuppliesSums.CapType,2) = 1 AND ISNULL(GetSuppliesSums.Cap,0) > 0 AND
						ISNULL(GetSuppliesSums.Cap,0) < ISNULL(GetSuppliesSums.LaborTime,0)
						THEN ISNULL(GetSuppliesSums2.Rate,0) * ISNULL(GetSuppliesSums.Cap,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
					WHEN 	ISNULL(GetSuppliesSums.CapType,2) = 0 AND ISNULL(GetSuppliesSums.Cap,0) > 0 AND
						ISNULL(GetSuppliesSums.Cap,0) < ISNULL(GetSuppliesSums2.Rate,0) * ISNULL(GetSuppliesSums.LaborTime,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
						THEN ISNULL(GetSuppliesSums.Cap,0)
			
					ELSE	ISNULL(GetSuppliesSums2.Rate,0) * ISNULL(GetSuppliesSums.LaborTime,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
				END 'LineItemTotal',
			
				GetSuppliesSums2.AdminInfoID,
				GetSuppliesSums2.RateTypesID,
				GetSuppliesSums2.RateName,
				GetSuppliesSums.Betterment,
				GetSuppliesSums2.EMSCode1,
				GetSuppliesSums2.EMSBetterment,
				GetSuppliesSums2.DiscountMarkup,
				CASE 	WHEN ISNULL(GetSuppliesSums.Betterment,0) = 0 THEN GetSuppliesSums2.CapType
					ELSE NULL
				END 'CapType', 
				CASE 	WHEN ISNULL(GetSuppliesSums.Betterment,0) = 0 THEN GetSuppliesSums2.Cap
					ELSE 0
				END 'Cap',
				GetSuppliesSums2.Taxable,
				GetSuppliesSums2.Rate,
				CASE 	WHEN ISNULL(GetSuppliesSums.Betterment,0) = 0 AND GetSuppliesSums.CapType = 1 AND ISNULL(GetSuppliesSums.Cap,0) < ISNULL(GetSuppliesSums.LaborTime,0)
						THEN ISNULL(GetSuppliesSums.Cap,0)
					ELSE	ISNULL(GetSuppliesSums.LaborTime,0)
				END 'Hours',
				ISNULL(GetSuppliesSums.LaborCost,0) 'Cost'
			FROM #GetSuppliesSums GetSuppliesSums
			INNER JOIN #GetSuppliesSums GetSuppliesSums2 ON
				(GetSuppliesSums2.AdminInfoID = GetSuppliesSums.AdminInfoID AND
				 GetSuppliesSums2.RateTypesID = GetSuppliesSums.IncludeIn)
			WHERE ISNULL(GetSuppliesSums.IncludeIn,0) > 0
			
			UNION ALL
			
			SELECT DISTINCT
				
				CASE 	WHEN 	ISNULL(GetSuppliesSums.Betterment,0) = 1 
						THEN ISNULL(GetSuppliesSums.Rate,0) * ISNULL(GetSuppliesSums.LaborTime,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
		
					WHEN 	ISNULL(GetSuppliesSums.CapType,2) = 1 AND ISNULL(GetSuppliesSums.Cap,0) > 0 AND
						ISNULL(GetSuppliesSums.Cap,0) < ISNULL(GetSuppliesSums.LaborTime,0) 
						THEN ISNULL(GetSuppliesSums.Rate,0) * ISNULL(GetSuppliesSums.Cap,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
		
					WHEN 	ISNULL(GetSuppliesSums.CapType,2) = 0 AND ISNULL(GetSuppliesSums.Cap,0) > 0 AND
						ISNULL(GetSuppliesSums.Cap,0) < ISNULL(GetSuppliesSums.Rate,0) * ISNULL(GetSuppliesSums.LaborTime,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
						THEN ISNULL(GetSuppliesSums.Cap,0)
		
					ELSE			
						ISNULL(GetSuppliesSums.Rate,0) * ISNULL(GetSuppliesSums.LaborTime,0) + ISNULL(GetSuppliesSums.LaborCost,0) 
				END 'LineItemTotal',
				GetSuppliesSums.AdminInfoID,
				GetSuppliesSums.RateTypesID,
				GetSuppliesSums.RateName,
				GetSuppliesSums.Betterment,
				GetSuppliesSums.EMSCode1,
				GetSuppliesSums.EMSBetterment,
				GetSuppliesSums.DiscountMarkup,
				CASE 	WHEN ISNULL(GetSuppliesSums.Betterment,0) = 0 THEN GetSuppliesSums.CapType
					ELSE NULL
				END 'CapType', 
				CASE 	WHEN ISNULL(GetSuppliesSums.Betterment,0) = 0 THEN GetSuppliesSums.Cap
					ELSE 0
				END 'Cap',
				GetSuppliesSums.Taxable,
				GetSuppliesSums.Rate,
				CASE 	WHEN ISNULL(GetSuppliesSums.Betterment,0) = 0 AND GetSuppliesSums.CapType = 1 AND ISNULL(GetSuppliesSums.Cap,0) < ISNULL(GetSuppliesSums.LaborTime,0)
						THEN ISNULL(GetSuppliesSums.Cap,0)
					ELSE	ISNULL(GetSuppliesSums.LaborTime,0)
				END 'Hours',
				ISNULL(GetSuppliesSums.LaborCost,0) 'Cost'
			FROM #GetSuppliesSums GetSuppliesSums
			WHERE ISNULL(GetSuppliesSums.IncludeIn,0) = 0	) T
		GROUP BY
			AdminInfoID,
			RateTypesID,
			RateName,
			Betterment,
			EMSCode1,
			EMSBetterment,
			DiscountMarkup,
			CapType, 
			Cap,
			Taxable,
			Rate		) s

	DROP TABLE #GetSuppliesSums


GO
