USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 6/26/2019
-- Description:	Get a digital signature record by a Contract ID.  In the case that there are multiple records, returns only the most recent.
-- ============================================= 
CREATE PROCEDURE [dbo].[ContractDigitalSignature_GetForContractID]   
	  @ContractID			int 
AS 
BEGIN 

	SELECT TOP 1 *
	FROM ContractDigitalSignature
	WHERE ContractID = @ContractID
	ORDER BY TimeStamp DESC

end 
GO
