USE [FocusWrite]
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[usp_countryregioncity]
	@ip [nvarchar](50),
	@country [nvarchar](50) OUTPUT,
	@region [nvarchar](50) OUTPUT,
	@city [nvarchar](50) OUTPUT
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [IPToLocation].[IP_INFO.IPInformation].[GetInfoFromIP]
GO
