USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO







CREATE     PROCEDURE [dbo].[GetEstimatesToArchive]
	@daysBack int
AS

SELECT  ed.[id], 
	[AdminInfoID], 
	[EstimationDate], 
	[DateOfLoss], 
	[CoverageType], 
	[EstimateLocation], 
	[TransactionLevel], 
	[LockLevel], 
	[LastLineNumber], 
	[EstimationLineItemIDLocked], 
	[Note], 
	[PrintNote], 
	[AssignmentDate], 
	[ReportTextHeader], 
	[AlternateIdentitiesID], 
	ed.[SupplementVersion], 
	[NextUniqueSequenceNumber]
FROM AdminInfo ai with (nolock)
	INNER JOIN EstimationData ed with (nolock)
	INNER JOIN EstimationLineItems li with (nolock)
ON li.estimationdataid = ed.id
ON ai.ID = ed.AdminInfoID WHERE
(ai.Archived = 0 OR ai.Archived is null)
AND datediff(d,ed.EstimationDate,getdate()) > 120
and not(ai.GrandTotal is null)

and ed.id not in (select distinct id from FocusWriteArchive.dbo.EstimationData)
--AND ai.creatorid = 2756
ORDER BY ed.id DESC

GO
