USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezea
-- Create date: 3/25/2019
-- Description:	Get a contact by the estimate ID and sub type
-- =============================================
CREATE PROCEDURE [dbo].[Contact_GetByEstimateAndSubType]
	@estimateID			int,
	@contactSubTypeID	tinyint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM tbl_ContactPerson
	WHERE 
		AdmininfoID = @estimateID
		AND ContactTypeID = 1
		AND ContactSubTypeID = @contactSubTypeID
END
GO
