USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Josh Blade>
-- Create date: <1/5/14>
-- Description:	<Gets the Make/Model/Year/Trim/BodyType/BodySubType/Doors and the available lists for each category to populate the respective dropdowns
--				after the VIN decode button has been clicked and a vehicle selected>
-- =============================================
CREATE PROCEDURE [dbo].[VinDecode]
	-- Add the parameters for the stored procedure here
	@Vin varchar(30),
	@VehicleID varchar(30),
	@AdminInfoID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @Year varchar(10)
	declare @MakeID int
	declare @ModelID int
	declare @SubModelID int
	declare @BodyID varchar(50)
	declare @EngineID int
	declare @TransmissionID varchar(50)
	declare @DriveID varchar(50)
	
	
	
	select @MakeID = x.MakeID, @ModelID = x.ModelID, @SubModelID = x.SubmodelID, @BodyID = x.EngineID, @EngineID = x.BodyID
	,@TransmissionID = x.TransmissionID, @DriveID = x.DriveID, @Year = x.VinYear
	from vinn.dbo.Vehicle_Service_Xref as x with(nolock)
	where x.VehicleID = @VehicleID

	Select  @Year as 'Year', @MakeID as MakeID, @ModelID as ModelID, @SubModelID as SubModelID,@BodyID as BodyID
	, @EngineID as EngineID, @TransmissionID as TransmissionID, @DriveID as DriveID

	exec SP_GetYears

	exec SP_GetMakes @Year
	
	exec SP_GetModels @Year, @MakeID

	exec SP_GetGetSubmodels @Year, @MakeID, @ModelID
	
	exec sp_GetBodyTypes_Old @VehicleID, @AdminInfoID

	exec SP_GetEngineTypes @VehicleID, @AdminInfoID, @BodyID
	
	exec SP_GetTransmissionTypes @VehicleID, @AdminInfoID, @BodyID
	
	exec SP_GetDriveTypes @VehicleID, @AdminInfoID
	
	
	
	
END



GO
