USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Technician_Save] 
	@TechnicianID	INT, 
	@EstimateID		INT, 
	@FirstName		VARCHAR(50), 
	@LastName		VARCHAR(50), 
	@LoginID		INT, 
	@OrderNo		INT,
	@LaborTypeID	INT,
	@LaborTypeText	NVARCHAR(100),  
	@DeleteStamp  DateTime = null  	
AS 
BEGIN 
	IF (@TechnicianID > 0 ) 
		BEGIN 
			UPDATE TechniciansData 
			SET  
				  AdminInfoID = @EstimateID 
				, AuthorFirstName = @FirstName 
				, AuthorLastName = @LastName 
				, LoginID = @LoginID 
				, OrderNo = @orderNo 
				, LaborTypeID = @LaborTypeID
				, LaborTypeText = @LaborTypeText
				, TimeStamp = @DeleteStamp
				WHERE TechnicianID = @TechnicianID 
 
			SELECT @TechnicianID 
		END 
	ELSE 
		INSERT INTO TechniciansData 
		( 
			  AdminInfoID 
			, AuthorFirstName 
			, AuthorLastName 
			, LoginID 
			, OrderNo 
			, LaborTypeID
			, LaborTypeText
		) 
		VALUES 
		( 
			  @EstimateID 
			, @FirstName 
			, @LastName 
			, @LoginID 
			, @OrderNo 
			, @LaborTypeID
			, @LaborTypeText
		) 
 
		SELECT CAST(SCOPE_IDENTITY() AS INT) 
END 
GO
