USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActiveLogin_GetAll]   
 @AdminSite   bit = 0  
AS   
BEGIN   
 -- SET NOCOUNT ON added to prevent extra result sets from   
 -- interfering with SELECT statements.   
 SET NOCOUNT ON;   
   
 SELECT ActiveLogin.*
 FROM ActiveLogin
 WHERE   
  DeleteKey = 0   
  AND   
  (  
   (@AdminSite = 1 AND ActiveLogin.SalesRepID > 0)  
   OR  
   (@AdminSite = 0 AND ActiveLogin.SiteUserID > 0)  
  )  
END   
GO
