USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 
 
 
CREATE PROCEDURE [dbo].[AddCheckedAutoIncludes] 
	@AdminInfoID Int,  
	@IDsChecked VarChar(1000), 
	@AddAll Bit = 0 
AS 
	DECLARE @Service_Barcode VarChar(10) 
	DECLARE @BarcodeInc VarChar(10) 
	DECLARE @ActionPart VarChar(200) 
	DECLARE @LaborHoursInc Real 
	DECLARE @GroupNumber Int 
	DECLARE @ActionCode VarChar(10) 
	DECLARE @LaborType Int 
	DECLARE @PartNumber VarChar(23) 
 
	SELECT @Service_Barcode = FocusWrite.Dbo.GetServiceBarcode(@AdmininfoID) 
			 
	IF EXISTS  
	(	 
		SELECT DISTINCT EstimationOverlapProposed.BarcodeInc 
		FROM EstimationOverlapProposed   with(nolock) 
		LEFT JOIN EstimationData with(nolock)  ON EstimationData.AdminInfoID = EstimationOverlapProposed.AdminInfoID 
		LEFT JOIN EstimationLineItems with(nolock) ON EstimationLineItems.EstimationDataID = EstimationData.id AND EstimationLineItems.Barcode = EstimationOverlapProposed.BarcodeInc 
		WHERE 	 
			EstimationOverlapProposed.AdminInfoID = @AdminInfoID  
			AND EstimationOverlapProposed.OverlapAmount IS NULL   
			AND EstimationOverlapProposed.MinimumLabor IS NULL  
			AND EstimationOverlapProposed.Reason = 'Added Because of'  
			AND EstimationLineItems.id IS NULL	 
			AND  
			( 
				@AddAll <> 0 OR  
				( 
					@AddAll = 0 AND CHARINDEX(',' + CONVERT(VarChar(10),EstimationOverlapProposed.ID) + ',', @IDsChecked) > 0  
				) 
			) 
		) 
	BEGIN 
 
		DECLARE AutoAddCursor CURSOR FOR 
			SELECT DISTINCT  
				  RIGHT('000000' + EstimationOverlapProposed.BarcodeInc, 6) 'BarcodeInc' 
				, EstimationOverlapProposed.ActionPart 
				, EstimationOverlapProposed.[Labor Hours] 
				, Detail.nheader * 256 + Detail.nsection 'GroupNumber' 
				, CASE	 
					WHEN Detail.Labor_Op = 1 THEN 'R+R' 
					WHEN Detail.Labor_Op = 2 THEN 'R+I' 
					WHEN Detail.Labor_Op = 3 THEN 'Add' 
					WHEN Detail.Labor_Op = 4 THEN 'Align' 
					WHEN Detail.Labor_Op = 5 THEN 'Over' 
					WHEN Detail.Labor_op = 6 THEN 'Refinish' 
					WHEN Detail.Labor_Op = 7 THEN 'Access/Ins' 
					WHEN Detail.Labor_Op = 8 THEN 'Check/Adj' 
					WHEN Detail.Labor_Op = 9 THEN 'Repair' 
				END 
				, CASE	 
					WHEN Detail.Labor_Type = 0 THEN 1 
					WHEN Detail.Labor_Type = 1 THEN 9 
					WHEN Detail.Labor_Type = 2 THEN 25 
					WHEN Detail.Labor_Type = 3 THEN 2 
					WHEN Detail.Labor_Type = 4 THEN 4 
				END 'LaborType' 
			FROM EstimationOverlapProposed with(nolock) 
			INNER JOIN Mitchell3.Dbo.Detail with(nolock) ON Detail.Service_BarCode = @Service_Barcode AND Detail.barcode = EstimationOverlapProposed.BarcodeInc 
			LEFT JOIN EstimationData with(nolock) ON EstimationData.AdminInfoID = EstimationOverlapProposed.AdminInfoID 
			LEFT JOIN EstimationLineItems with(nolock) ON EstimationLineItems.EstimationDataID = EstimationData.id AND EstimationLineItems.Barcode = EstimationOverlapProposed.BarcodeInc 
			WHERE 	 
				EstimationOverlapProposed.AdminInfoID = @AdminInfoID  
				AND	Detail.Service_BarCode = @Service_Barcode  
				AND EstimationOverlapProposed.OverlapAmount IS NULL   
				AND EstimationOverlapProposed.MinimumLabor IS NULL  
				AND EstimationOverlapProposed.Reason = 'Added Because of'  
				AND EstimationLineItems.id IS NULL  
				AND  
				(	 
					@AddAll <> 0 OR  
					( 
						@AddAll = 0 AND CHARINDEX(',' + CONVERT(VarChar(10),EstimationOverlapProposed.ID) + ',', @IDsChecked) > 0  
					) 
				) 
 
		OPEN AutoAddCursor 
		FETCH NEXT FROM AutoAddCursor INTO @BarcodeInc, @ActionPart, @LaborHoursInc, @GroupNumber, @ActionCode, @LaborType 
		WHILE @@FETCH_STATUS = 0 
		BEGIN 
			SELECT @PartNumber = '**' + @BarcodeInc 
 
			EXECUTE FocusWrite.Dbo.App_Functions -- 4/28/2006 4:27:01 PM 501 
				@Function = 'AddEstimateLineItem', 
				@AdminInfoID = @AdminInfoID, 
				@StepID = 0, 
				@SectionID = @GroupNumber, 
				@PartNumber = @PartNumber, 
				@VehiclePosition = '', 
				@Price = 0, 
				@Description = @ActionPart, 
				@PartSource = '', 
				@Operation = @ActionCode, 
				@OpDesc = '', 
				@LaborTime = @LaborHoursInc, 
				@LaborType = @LaborType, 
				@InternalNotes = '', 
				@ExternalNotes = '', 
				@Overhaul = 0, 
				@Qty = 0, 
				@OperationSublet = 0, 
				@PartBetterment = 0, 
				@PartSublet = 0, 
				@LaborBetterment = 0, 
				@LaborSublet = 0, 
				@PaintBetterment = 0, 
				@PaintSublet = 0, 
				@SourcePartNumber = '', 
				@OtherPartsID = -1, 
				@AdjacentDeduction = 0, 
				@MajorPanel = 0, 
				@BarCode = @BarcodeInc, 
				@AdjacentDeductionLock = 0, 
				@NoOverlapCheck = 1, 
				@AutomaticCharge = 1 
 
			FETCH NEXT FROM AutoAddCursor INTO @BarcodeInc, @ActionPart, @LaborHoursInc, @GroupNumber, @ActionCode, @LaborType 
		END 
		CLOSE AutoAddCursor 
		DEALLOCATE AutoAddCursor 
 
		SELECT DISTINCT   
			  EstimationOverlapProposed.BarcodeInc 
			, EstimationLineItems.ID 
		FROM EstimationOverlapProposed with(nolock)  
		INNER JOIN EstimationData with(nolock) ON EstimationData.AdminInfoID = EstimationOverlapProposed.AdminInfoID 
		INNER JOIN EstimationLineItems with(nolock) ON EstimationLineItems.EstimationDataID = EstimationData.id AND EstimationLineItems.Barcode = EstimationOverlapProposed.BarcodeInc 
		WHERE 	 
			EstimationOverlapProposed.AdminInfoID = @AdminInfoID  
			AND EstimationOverlapProposed.OverlapAmount IS NULL   
			AND EstimationOverlapProposed.MinimumLabor IS NULL  
			AND EstimationOverlapProposed.Reason = 'Added Because of'  
			AND 
			( 
				@AddAll <> 0 OR  
				( 
					@AddAll = 0 AND CHARINDEX(',' + CONVERT(VarChar(10),EstimationOverlapProposed.ID) + ',', @IDsChecked) > 0  
				) 
			)	 
	END 
 
  
 
GO
