USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetEstimationLineChangesByAdminInfo]
@admininfoid int
AS
SELECT 	[VehicleID]
	,[EstimationDataID]
	,[PartNumber]
	,[BarCode]
	,elic.[ID]
FROM EstimateLineItemsChanges elic WITH(NOLOCK)
inner join estimationdata e WITH(NOLOCK)
on e.id = elic.estimationdataid
where e.admininfoid = @admininfoid


GO
