USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
3/10/2023 - EVB: This updates the Transaction ID & Payment Link on the AdminInfo table for a
given AdminInfo ID
*/
CREATE PROCEDURE [dbo].[Wisetack_AdminInfoTransactionID_Update]
	@AdminInfoID int,
	@TransactionID nvarchar(200),
	@PaymentLink nvarchar(200),
	@AmountToFinance nvarchar(100),
	@EstimatedDateOfCompletion DATETIME,
	@LoanAppMobileNumber nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE	[AdminInfo]
	SET		[WisetackTransactionID] = @TransactionID,
			[WisetackPaymentLink] = @PaymentLink,
			[WisetackAmountToFinance] = @AmountToFinance,
			[WisetackEstimatedDateOfCompletion] = @EstimatedDateOfCompletion,
			[WisetackLoanAppMobileNumber] = @LoanAppMobileNumber
	WHERE [ID] = @AdminInfoID

END
GO
