USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
 
 
CREATE PROCEDURE [dbo].[EMS_Export_GetNonOEM] 
	@AdminInfoID Int   
AS 
 
SET NOCOUNT ON 
SET FMTONLY OFF 


declare @CreatorID int

select @CreatorID = CreatorID from AdminInfo as a where id = @AdminInfoID

if @CreatorID = 56027
begin
 exec [dbo].[EMS_Export_GetNonOEM_201] @AdminInfoID 
end 
else 
begin

DECLARE @FederalTaxID VarChar(25) 
DECLARE @PartSourceVendorID Int 

DECLARE @LoginID INT = (SELECT CreatorID FROM AdminInfo WHERE ID = @AdminInfoID)
 
CREATE TABLE #NonOemInfo 
( 
	ContactsID Int, 
	CompanyName VarChar (255)  NULL , 
	CompanyIDCode VarChar (255)  NULL , 
	ContactFirstName VarChar (255)  NULL , 
	ContactLastName VarChar (255)  NULL , 
	AddressLine1 VarChar (255)  NULL , 
	AddressLine2 VarChar (255)  NULL , 
	City VarChar (255)  NULL , 
	State VarChar (255)  NULL , 
	Zip VarChar (255)  NULL , 
	Phone1 VarChar (255)  NULL , 
	Phone2 VarChar (255)  NULL , 
	Fax VarChar (255)  NULL , 
	Country VarChar (30)  NULL , 
	EmailAddress VarChar(255) NULL, 
	FederalTaxID VarChar(255) NULL
) 
 
DECLARE VendorCursor CURSOR FOR 
	SELECT EstimationLineItems.PartSourceVendorID 
	FROM EstimationData
	INNER JOIN EstimationLineItems ON EstimationLineItems.EstimationDataID = EstimationData.id
	WHERE 
		EstimationData.AdminInfoID = @AdminInfoID  
		AND EstimationLineItems.PartSource IN ('LKQ','After') 
		AND	EstimationLineItems.PartSourceVendorID > 0 

OPEN VendorCursor 
FETCH NEXT FROM VendorCursor INTO @PartSourceVendorID 
 
WHILE @@FETCH_STATUS = 0  
	BEGIN 
		INSERT INTO #NonOemInfo 
			SELECT top 1 ID, CompanyName, CompanyIDCode, FirstName AS ContactFirstName, LastName AS ContactLarstName, Address1 AS AddressLine1, Address2 AS AddressLine2, CIty, State, Zip, '' Phone1, '' Phone2, '' Fax, Email AS EmailAddress, '' AS FederalTaxID, 'USA' AS Country 
			FROM Vendor
		WHERE 
			CompanyIDCode = @PartSourceVendorID
			AND (Universal = 1 OR LoginsID = @LoginID)
		ORDER BY ISNULL(LoginsID, 0) DESC 
 
		--EXECUTE GetContactDetailsByID @PartSourceVendorID 
 
		FETCH NEXT FROM VendorCursor INTO @PartSourceVendorID 
	END 
 
CLOSE VendorCursor 
DEALLOCATE VendorCursor 

SELECT TOP 1
	CAST(LEFT(CompanyIDCode,5) as nvarchar(5))		VND_CO_ID, 
	CAST(LEFT(CompanyName,35) as nvarchar(35))		VND_CO_NM, 
	CAST(LEFT(AddressLine1,40) as nvarchar(40))		VND_ADDR1, 
	CAST(LEFT(AddressLine2,40) as nvarchar(40))		VND_ADDR2, 
	CAST(LEFT(City,30) as nvarchar(30))			VND_CITY, 
	CAST(LEFT(State,2) as nvarchar(2))			VND_STATE, 
	CAST(LEFT(Zip,11) as nvarchar(11))			VND_ZIP, 
	CAST(LEFT(Country,3) as nvarchar(3))			VND_CTRY, 
	CAST(LEFT(Phone1,10) as nvarchar(10))			VND_PH1, 
	N'' VND_PH1X, 
	CAST(LEFT(Phone2,10) as nvarchar(10))			VND_PH2, 
	N'' VND_PH2X, 
	CAST(LEFT(Fax,10) as nvarchar(10))			VND_FAX, 
	N'' VND_FAXX, 
	CAST(LEFT(ContactLastName,35) as nvarchar(35))	VND_CT_LN, 
	CAST(LEFT(ContactFirstName,35) as nvarchar(35))	VND_CT_FN, 
	N'' VND_CT_TIT, 
	N'' VND_CT_PH, 
	N'' VND_CT_PHX, 
	CAST(LEFT(EmailAddress,80) as nvarchar(80))		VND_EA, 
	CAST(LEFT(FederalTaxID,30) as nvarchar(30))		VND_TAX_ID 
FROM #NonOemInfo 
 
DROP TABLE #NonOemInfo 
 
 end
 
 
 
GO
