USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/15/2018 
-- Description:	Get a PDR Estimate Data record by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_EstimateData_Get] 
	@AdminInfoID		int 
	 
AS 
BEGIN 
	SELECT * 
	FROM PDR_EstimateData 
	WHERE AdminInfoID = @AdminInfoID		 
END 
GO
