USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		<Author,,Name> 
-- Create date: <Create Date, ,> 
-- Description:	<Description, ,> 
-- ============================================= 
CREATE FUNCTION [dbo].[getPastDueRR]  
( 
	 
	@LoginID int
) 
RETURNS real as  
  
BEGIN 
	DECLARE @Total real 
	if exists(select 'x' from contracts where LoginID = @LoginID)
	begin
		
		-- Use PE
		Select @Total = SUM(InvoiceAmount)  + sum(isnull(SalesTax,0)) 
		from Invoices as i
			inner join contracts as c
				on c.ContractID = i.ContractID 
		where  i.loginID  = @LoginID
		and Paid = 0 
		and DueDate < GETDATE() 
		and c.IsDeleted = 0 
		and i.IsDeleted = 0 
		-- Return the result of the function 
		
	end
	Else
	Begin
		-- USE WE
		Select @Total = SUM(InvoiceAmount)   + sum(isnull(SalesTax,0)) 
		from [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Invoice  
		where  loginID  = @LoginID
		and Paid = 0 
		and DueDate < GETDATE() 
	end 
	RETURN @Total 
END 
 
 
GO
