USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePaidTracking](
	[TrackID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[Paid] [varchar](50) NOT NULL,
	[SalesRepID] [int] NOT NULL,
	[DateTracked] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePaidTracking] ADD  CONSTRAINT [DF_InvoicePaidTracking_DateTracked]  DEFAULT (getdate()) FOR [DateTracked]
GO
