USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[GetOverlapAmountInfo]
	@VehicleID Int, 
	@AdminInfoID Int, 
	@SectionID Int, 
	@StepID VarChar(25)
AS
	SELECT DISTINCT
		CASE	WHEN	EstimationOverlap.id IS NOT NULL		THEN	ROUND(EstimationOverlap.Amount,2)
			WHEN 	EstimationLineItems.SectionID = @SectionID	THEN	ROUND(EstimationLineItems.LaborTime * ROUND(SectionOverlaps.OverlapPercentage,2),2)
		    	WHEN	SectionOverlaps.Section1 = @SectionID		THEN	ROUND(VehicleOpTimes1.BodyTime * ROUND(SectionOverlaps.OverlapPercentage,2),2)
		    	WHEN	SectionOverlaps.Section2 = @SectionID		THEN	ROUND(VehicleOpTimes1.BodyTime * ROUND(SectionOverlaps.OverlapPercentage,2),2)
		END 'Amount',
		/*CASE	WHEN	EstimationOverlap.id IS NOT NULL		THEN	'Overlap amount already on estimate.'
			WHEN 	EstimationLineItems.SectionID = @SectionID	THEN	VehicleSections1.Name
		    	WHEN	SectionOverlaps.Section1 = @SectionID		THEN	VehicleSections2.Name
		    	WHEN	SectionOverlaps.Section2 = @SectionID		THEN	VehicleSections1.Name
		END*/
		FocusWrite.dbo.GetStepText(EstimationLineItems.StepID) 'Info',
		VehiclePositions.FullDescription 'VehiclePosition',
		EstimationLineItems.ID 'EstimationLineItemsID',
		VehicleSections1.id 'VehicleSectionsID1',
		VehicleSections2.id 'VehicleSectionsID2',
		StepList.StepsID 'StepListStepsID',
		EstimationLineItems.StepID 'EstimationLineItemsStepID',
		EstimationLineItems.SectionID 'EstimationLineItemsSectionID'

		FROM Vehicles.Dbo.SectionOverlaps SectionOverlaps WITH (NOLOCK)
		
		INNER JOIN Vehicles.Dbo.ClassesToVehicleIDs ClassesToVehicleIDs WITH (NOLOCK) ON
			(ClassesToVehicleIDs.ClassID = SectionOverlaps.ClassID)
		
		INNER JOIN Vehicles.Dbo.Classes Classes WITH (NOLOCK) ON
			(Classes.ID = ClassesToVehicleIDs.ClassID)
		
		INNER JOIN Vehicles.Dbo.VehicleOpTimes VehicleOpTimes1 WITH (NOLOCK) ON
			(VehicleOpTimes1.VehicleID = ClassesToVehicleIDs.VehicleIDs AND
			 VehicleOpTimes1.SectionID = SectionOverlaps.Section1)
		
		INNER JOIN Vehicles.Dbo.VehicleOpTimes VehicleOpTimes2 WITH (NOLOCK) ON
			(VehicleOpTimes2.VehicleID = ClassesToVehicleIDs.VehicleIDs AND
			 VehicleOpTimes2.SectionID = SectionOverlaps.Section2)
		
		INNER JOIN Vehicles.Dbo.GraphicsAvailable GraphicsAvailable WITH (NOLOCK) ON
			(GraphicsAvailable.VehicleID = ClassesToVehicleIDs.VehicleIDs)
		
		INNER JOIN Vehicles.Dbo.GraphicsAvailable GraphicsAvailableBase WITH (NOLOCK) ON
			(GraphicsAvailableBase.VehicleID = GraphicsAvailable.GraphicsVehicleID)
		
		INNER JOIN Vehicles.Dbo.GraphicsAvailable GraphicsAvailableList WITH (NOLOCK) ON
			(GraphicsAvailableList.GraphicsVehicleID = GraphicsAvailableBase.VehicleID)
		
		INNER JOIN Vehicles.Dbo.VehicleSections VehicleSections1 WITH (NOLOCK) ON
			(VehicleSections1.id  = SectionOverlaps.Section1)
		INNER JOIN Vehicles.Dbo.VehicleSections VehicleSections2 WITH (NOLOCK) ON
			(VehicleSections2.id  = SectionOverlaps.Section2)
		
		INNER JOIN FocusWrite.Dbo.EstimationData EstimationData WITH (NOLOCK) ON
			(EstimationData.AdminInfoID = @AdminInfoID)
		
		INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItemsT WITH (NOLOCK) ON
			(EstimationLineItemsT.EstimationDataID = EstimationData.ID)
		
		INNER JOIN FocusWrite.Dbo.EstimationLineItems EstimationLineItems WITH (NOLOCK) ON
			( ( ( EstimationLineItems.SectionID = SectionOverlaps.Section1 AND SectionOverlaps.Section2 = @SectionID  AND 
				EstimationLineItems.StepID IN (VehicleOpTimes1.StepsID1,VehicleOpTimes1.StepsID2,VehicleOpTimes1.StepsID3,VehicleOpTimes1.StepsID4,VehicleOpTimes1.StepsID5,VehicleOpTimes1.StepsID6) ) OR 
			    ( EstimationLineItems.SectionID = SectionOverlaps.Section2 AND SectionOverlaps.Section1 = @SectionID  AND 
				EstimationLineItems.StepID IN (VehicleOpTimes2.StepsID1,VehicleOpTimes2.StepsID2,VehicleOpTimes2.StepsID3,VehicleOpTimes2.StepsID4,VehicleOpTimes2.StepsID5,VehicleOpTimes2.StepsID6)) ) AND
			 EstimationLineItems.EstimationDataID = EstimationData.ID)
		
		INNER JOIN  Vehicles.Dbo.VehicleSteps VehicleSteps WITH (NOLOCK) ON
			(VehicleSteps.VehicleID = @VehicleID)
		INNER JOIN Vehicles.Dbo.VehicleSectionParts VehicleSectionParts WITH (NOLOCK) ON
			(VehicleSectionParts.VehicleSectionsID = EstimationLineItems.SectionID)
		INNER JOIN Vehicles.Dbo.StepList StepList WITH (NOLOCK) ON
			(StepList.VehicleStepsID = VehicleSteps.ID AND
			 StepList.StepsID = VehicleSectionParts.StepsID)
		INNER JOIN Vehicles.dbo.StepListToElements StepListToElements WITH (NOLOCK) ON
			(StepListToElements.StepListID = StepList.ID)
		INNER JOIN Vehicles.Dbo.Elements VehElements WITH (NOLOCK) ON
			(VehElements.id = StepListToElements.ElementsID AND
			 (VehElements.OEMPartNumber = EstimationLineItems.PartNumber OR
			  VehElements.OEMPartNumberBare = EstimationLineItems.PartNumber ) )
	
		LEFT JOIN FocusWrite.dbo.EstimationOverlap EstimationOverlap WITH (NOLOCK) ON
			(EstimationOverlap.EstimationLineItemsID1 = EstimationLineItemsT.id OR 
			 EstimationOverlap.EstimationLineItemsID2 = EstimationLineItemsT.id)	

		LEFT JOIN (	SELECT 'L' 'Short', 'Left' 'FullDescription'
				UNION ALL SELECT 'R' , 'Right') VehiclePositions ON
			(VehiclePositions.Short = EstimationLineItems.VehiclePosition)
		
		WHERE	FocusWrite.Dbo.Extract(Classes.Class,0,' ') = FocusWrite.Dbo.Extract(VehicleOpTimes1.[Body Type Name],0,' ') AND
			GraphicsAvailableList.VehicleID = @VehicleID ANd
			StepListToElements.VehiclePosition = ISNULL(EstimationLineItemsT.VehiclePosition,StepListToElements.VehiclePosition) AND
			( @StepID IN (VehicleOpTimes1.StepsID1,VehicleOpTimes1.StepsID2,VehicleOpTimes1.StepsID3,VehicleOpTimes1.StepsID4,VehicleOpTimes1.StepsID5,VehicleOpTimes1.StepsID6) OR 
			  @StepID IN (VehicleOpTimes2.StepsID1,VehicleOpTimes2.StepsID2,VehicleOpTimes2.StepsID3,VehicleOpTimes2.StepsID4,VehicleOpTimes2.StepsID5,VehicleOpTimes2.StepsID6))




GO
