USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 7/19/2017
-- Description:	Multiple invoice records could be paid by the same payment.  Returns all of the invoices for a payment ID
-- =============================================
CREATE PROCEDURE [dbo].[GetInvoicesForPaymentID] 
	@paymentID		int
AS
BEGIN

	SELECT Invoices.*, CASE WHEN ISNULL(Contracts.IsDeleted, 0) = 1 OR ISNULL(ContractAddOn.IsDeleted, 0) = 1 THEN 1 ELSE 0 END AS ContractIsDeleted
	FROM Invoices
	LEFT OUTER JOIN Contracts ON Invoices.ContractID = Contracts.ContractID
	LEFT OUTER JOIN ContractAddOn ON Invoices.AddOnID = ContractAddOn.ID
	WHERE PaymentID = @paymentID
END
GO
