USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 3/21/2017
-- Description:	Save data for a timed event
-- =============================================
CREATE PROCEDURE [dbo].[TimedEventData_Save] 
	@EventName	varchar(100),
	@LastExecution  datetime
AS
BEGIN
	IF EXISTS (SELECT * FROM TimedEventData WHERE EventName = @EventName)
		BEGIN
			UPDATE TimedEventData
			SET LastExecution = @LastExecution
			WHERE EventName = @EventName
		END
	ELSE
		BEGIN
			INSERT INTO TimedEventData
			(EventName, LastExecution)
			VALUES (@EventName, @LastExecution)
		END
END

GO
