USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/1/2019 
-- Description:	Update a profile paint record 
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfilesPaint_Update] 
	 @ID	int 
   , @CustomerProfilesID	int 
   , @AllowDeductions	bit 
   , @AdjacentDeduction	real 
   , @NonAdjacentDeduction	real 
   , @EdgeInteriorTimes	bit 
   , @MajorClearCoat	real 
   , @MajorThreeStage	real 
   , @MajorTwoTone	real 
   , @OverlapClearCoat	real 
   , @OverlapThreeStage	real 
   , @OverLapTwoTone	real 
   , @ClearCoatCap	real 
   , @DeductFinishOverlap	bit 
   , @TotalClearcoatWithPaint	bit 
   , @NoClearcoatCap	bit 
   , @ThreeStageInner	bit 
   , @ThreeStagePillars	bit 
   , @ThreeStateInterior	bit 
   , @TwoToneInner	bit 
   , @TwoTonePillars	bit 
   , @TwoToneInterior	bit 
   , @Blend	real 
   , @ThreeTwoBlend	real 
   , @Underside	real 
   , @Edging	real 
   , @ManualPaintOverlap	bit 
   , @AutomaticOverlap	bit 
	 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    UPDATE CustomerProfilesPaint 
	SET 
		CustomerProfilesID = @CustomerProfilesID, 
		AllowDeductions = @AllowDeductions, 
		AdjacentDeduction = @AdjacentDeduction, 
		NonAdjacentDeduction = @NonAdjacentDeduction, 
		EdgeInteriorTimes = @EdgeInteriorTimes, 
		MajorClearCoat = @MajorClearCoat, 
		MajorThreeStage = @MajorThreeStage, 
		MajorTwoTone = @MajorTwoTone, 
		OverlapClearCoat = @OverlapClearCoat, 
		OverlapThreeStage = @OverlapThreeStage, 
		OverLapTwoTone = @OverLapTwoTone, 
		ClearCoatCap = @ClearCoatCap, 
		DeductFinishOverlap = @DeductFinishOverlap, 
		TotalClearcoatWithPaint = @TotalClearcoatWithPaint, 
		NoClearcoatCap = @NoClearcoatCap, 
		ThreeStageInner = @ThreeStageInner, 
		ThreeStagePillars = @ThreeStagePillars, 
		ThreeStateInterior = @ThreeStateInterior, 
		TwoToneInner = @TwoToneInner, 
		TwoTonePillars = @TwoTonePillars, 
		TwoToneInterior = @TwoToneInterior, 
		Blend = @Blend, 
		ThreeTwoBlend = @ThreeTwoBlend, 
		Underside = @Underside, 
		Edging = @Edging, 
		ManualPaintOverlap = @ManualPaintOverlap, 
		AutomaticOverlap = @AutomaticOverlap 
 
	WHERE id = @ID 
END 
GO
