USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PopulateMonthlyReportSnapshots]
AS

/*

EXECUTE PopulateMonthlyReportSnapshots

*/

-- Check date
IF ( SELECT Convert(date, ThisMonthEnd) FROM fnDates() ) <> Convert(date, getDate())
BEGIN
	PRINT 'This procedure can only be executed on the last day of each month'
	RETURN
END


-- Royalty Report
INSERT INTO RoyaltyReport (
	ReportMonth,
	LoginID,
	ContractID,
	ContractPriceLevelID,
	EffectiveDate,
	ExpirationDate,
	Notes
)
SELECT		ReportMonth,
			LoginID,
			ContractID,
			ContractPriceLevelID,
			EffectiveDate,
			ExpirationDate,
			Notes
FROM		(
				SELECT		Convert(date, d.ThisMonthStart) AS ReportMonth,
							c.LoginID,
							c.ContractID,
							c.ContractPriceLevelID,
							c.EffectiveDate,
							c.ExpirationDate,
							c.Notes,
							ROW_NUMBER() OVER ( PARTITION BY c.LoginID, c.ContractPriceLevelID ORDER BY c.ExpirationDate DESC ) AS RowNumber
				FROM		vwContractLogins c (NOLOCK)
				INNER JOIN	Logins l (NOLOCK)
								ON c.LoginID = l.ID
								AND l.DoubtfulAccount = 0
				CROSS JOIN	fnDates() d
				LEFT JOIN	RoyaltyReport r (NOLOCK)
								ON r.ReportMonth = Convert(date, d.ThisMonthStart)
								AND c.ContractPriceLevelID = r.ContractPriceLevelID
								AND c.LoginID = r.LoginID
				WHERE		(
								d.ThisMonthStart BETWEEN c.EffectiveDate AND c.ExpirationDate 
								OR d.ThisMonthEnd BETWEEN c.EffectiveDate AND c.ExpirationDate
								OR c.EffectiveDate BETWEEN d.ThisMonthEnd AND d.ThisMonthEnd
								OR c.ExpirationDate BETWEEN d.ThisMonthEnd AND d.ThisMonthEnd
							)
				AND			c.PrimaryLogin = 1
				AND			c.Active = 1
				AND			r.RoyaltyReportID IS NULL
			) x
WHERE		RowNumber = 1


GO
