USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/13/2020 
-- Description:	Log that an account has seen the new updates 
-- ============================================= 
CREATE PROCEDURE [dbo].[SiteChangeLogSeen_Log] 
	@LoginID		int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	IF NOT EXISTS (SELECT * FROM SiteChangeLogSeen WHERE LoginID = 47736)  
		BEGIN 
			INSERT INTO SiteChangeLogSeen 
			( 
				  LoginID 
				, TimeStamp 
			) 
			VALUES 
			( 
				  @LoginID 
				, GETDATE() 
			) 
		END 
 
END 
GO
