USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetUnsubscribeList-03.sql
CREATE PROCEDURE [dbo].[GetUnsubscribeList]
	@Email varchar(50),
	@Event varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM Unsubscribe
	WHERE Email = Case when isnull(@Email, '') = '' then Email Else @Email End
	      and Event = Case when isnull(@Event, '') = '' then Event Else @Event End 
	Order By Email
END
GO
