USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/13/2020 
-- Description:	Get a site change log record by ID 
-- ============================================= 
CREATE PROCEDURE [dbo].[SiteChangeLog_Get] 
	  @ID				int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	SELECT * 
	FROM SiteChangeLog 
	WHERE ID = @ID 
 
END 
GO
