USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteVehicleInfoByAdminInfo]
	@admininfoid int
AS
DELETE FROM VehicleInfo
FROM VehicleInfo vi
INNER JOIN estimationdata ed
on vi.estimationdataid = ed.id
where ed.admininfoid = @admininfoid


GO
