USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/17/2017
-- Description:	Get the vendors to show a Login based on the type and optional search parameters.  Also includes whether the vendor is selected
-- =============================================
-- getvendors 68007,'After Market','','asc'
CREATE PROCEDURE [dbo].[GetVendors]
	@LoginID INT,
	@Type VARCHAR(20),
	@SearchText VARCHAR(50) = ''
AS
BEGIN
	
	SELECT 
		Vendor.*
		, CASE WHEN SelectedVendor.ID IS NULL THEN 0 ELSE 1 END AS Selected
	FROM Vendor
	LEFT OUTER JOIN SelectedVendor ON SelectedVendor.VendorID = Vendor.ID AND SelectedVendor.LoginID = @LoginID
	WHERE 
		rtrim(Vendor.Type) = @Type
		AND (ISNULL(Vendor.LoginsID, 0) = @LoginID OR Vendor.Universal = 1)		-- Only show vendors made by this user or univeral vendors
		AND (Vendor.CompanyName like '%' + @SearchText + '%' or Vendor.FirstName like @SearchText + '%' or Vendor.LastName like @SearchText + '%')
		AND (Vendor.Deleted IS NULL OR Vendor.Deleted = 0) 
		order by Vendor.State,Vendor.City Asc
		
END
GO
