USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_remove](
	[InvoiceID] [int] IDENTITY(20001,1) NOT NULL,
	[LoginID] [int] NOT NULL,
	[ContractID] [int] NULL,
	[FeeInvoiceID] [int] NULL,
	[PaymentNumber] [int] NOT NULL,
	[InvoiceTypeID] [int] NOT NULL,
	[InvoiceAmount] [decimal](8, 2) NOT NULL,
	[SalesTax] [decimal](5, 2) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Notes] [varchar](3000) NULL,
	[Paid] [bit] NOT NULL,
	[DatePaid] [datetime] NULL,
	[PaymentID] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_Invoice_7_902346329__K2_K1_3_4_5_6_7_8_9_10_11_12] ON [dbo].[Invoice_remove]
(
	[LoginID] ASC,
	[InvoiceID] ASC
)
INCLUDE([ContractID],[FeeInvoiceID],[PaymentNumber],[InvoiceTypeID],[InvoiceAmount],[SalesTax],[DueDate],[Notes],[Paid],[DatePaid]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_1] ON [dbo].[Invoice_remove]
(
	[LoginID] ASC,
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_2] ON [dbo].[Invoice_remove]
(
	[InvoiceID] ASC,
	[LoginID] ASC,
	[ContractID] ASC,
	[Paid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_3] ON [dbo].[Invoice_remove]
(
	[DueDate] ASC,
	[LoginID] ASC,
	[InvoiceAmount] ASC,
	[SalesTax] ASC,
	[Paid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_4] ON [dbo].[Invoice_remove]
(
	[ContractID] ASC,
	[InvoiceTypeID] ASC,
	[Paid] ASC,
	[InvoiceAmount] ASC,
	[SalesTax] ASC,
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Invoice_5] ON [dbo].[Invoice_remove]
(
	[LoginID] ASC,
	[InvoiceTypeID] ASC,
	[Paid] ASC,
	[InvoiceAmount] ASC,
	[SalesTax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Invoice_Paid] ON [dbo].[Invoice_remove]
(
	[Paid] ASC
)
INCLUDE([InvoiceID],[ContractID],[DueDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Paid] ON [dbo].[Invoice_remove]
(
	[Paid] ASC
)
INCLUDE([ContractID],[DueDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Paid_CID] ON [dbo].[Invoice_remove]
(
	[Paid] ASC
)
INCLUDE([ContractID],[DueDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
