USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/18/2018 
-- Description:	Delete a PDR Multiplier record by ID or all for a rate profile 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_Multiplier_Delete] 
	@MultiplierID	int = null, 
	@RateProfileID	int = null 
	 
AS 
BEGIN 
	IF NOT @MultiplierID IS NULL 
		BEGIN 
			DELETE 
			FROM PDR_Multiplier 
			WHERE ID = @MultiplierID 
		END 
	ELSE IF NOT @RateProfileID IS NULL 
		BEGIN 
			DELETE 
			FROM PDR_Multiplier 
			WHERE RateProfileID = @RateProfileID 
		END 
		 
END 
GO
