USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/20/22	
-- Description:	Refactoring of Admin.SearchUser to handle things differently depending on what is searched for
-- =============================================
-- AdminUserSearch-01.sql
CREATE PROCEDURE [dbo].[AdminUserSearch]
	@SearchLoginID VARCHAR(50) = NULL,  
    @EstimateID    VARCHAR(10) = NULL,  
    @SearchName    VARCHAR(25) = NULL, 
	@EmailAddress  VARCHAR(75) = NULL,
	@Vin           VARCHAR(25) = NULL			
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @SearchLoginID = '' 
		SET @SearchLoginID = NULL 
 
	IF @EstimateID = '' 
		SET @EstimateID = NULL 
 
	IF @SearchName = '' 
		SET @SearchName = NULL 
 
	IF @EmailAddress = '' 
		SET @EmailAddress = NULL

	IF @Vin = '' 
		SET @Vin = NULL

	IF @SearchLoginID IS NOT NULL
		BEGIN
			SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				ISNULL(Logins.CompanyName, '') AS Name, 
				ISNULL(tbl_ContactPerson.BusinessName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(tbl_ContactPerson.Email, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(Logins.Disabled, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID 
			WHERE   
				Logins.ID = @SearchLoginID 
			ORDER BY Logins.ID 
		END
	ELSE IF @EstimateID IS NOT NULL
		BEGIN
			SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				ISNULL(tbl_ContactPerson.FirstName, '') AS Name, 
				ISNULL(Logins.CompanyName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(tbl_ContactPerson.Email, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(Logins.Disabled, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID 
			LEFT JOIN AdminInfo ON Logins.ID = AdminInfo.CreatorID
			WHERE   
				AdminInfo.ID = @EstimateID
			ORDER BY Logins.ID 
		END
	ELSE IF @Vin IS NOT NULL
		BEGIN
			SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				ISNULL(tbl_ContactPerson.FirstName, '') AS Name, 
				ISNULL(Logins.CompanyName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(tbl_ContactPerson.Email, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(Logins.Disabled, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID 
			LEFT JOIN AdminInfo ON Logins.ID = AdminInfo.CreatorID
			LEFT JOIN EstimationData ON AdminInfo.ID = EstimationData.AdminInfoID
			LEFT JOIN VehicleInfo ON EstimationData.ID = VehicleInfo.EstimationDataId
			WHERE   
				VehicleInfo.Vin = @Vin
			ORDER BY Logins.ID 
		END
	ELSE IF @SearchName IS NOT NULL
		BEGIN
			SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				Case When ISNULL(SiteUsers.Name, '') = '' Then ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.lastname, '') Else SiteUsers.Name End AS Name,
				ISNULL(tbl_ContactPerson.BusinessName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(SiteUsers.EmailAddress, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(SiteUsers.IsDeleted, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID
			LEFT JOIN SiteUsers ON Logins.ID = SiteUsers.LogInID
			WHERE   
				Logins.LoginName LIKE '%' + @SearchName + '%' 
				OR tbl_ContactPerson.FirstName LIKE '%' + @SearchName + '%' 
				OR tbl_ContactPerson.LastName LIKE '%' + @SearchName + '%'
				OR SiteUsers.Name LIKE '%' + @SearchName + '%'
			ORDER BY Logins.ID 
		END
	ELSE IF @EmailAddress IS NOT NULL
		BEGIN
				SELECT DISTINCT  
				Logins.ID AS LoginID, 
				Logins.LoginName, 
				Case When ISNULL(SiteUsers.Name, '') = '' Then ISNULL(tbl_ContactPerson.FirstName, '') + ' ' + ISNULL(tbl_ContactPerson.lastname, '') Else SiteUsers.Name End AS Name,
				ISNULL(tbl_ContactPerson.BusinessName, '') AS BusinessName, 
				ISNULL(Logins.Organization, '') AS Organization, 
				Logins.CreationDate, 
				ISNULL(SiteUsers.EmailAddress, '') AS Email, 
				Logins.Password, 
				ISNULL(SalesRep.FirstName, '') + ' ' + ISNULL(SalesRep.LastName, '')  AS SalesRep,
				ISNULL(SiteUsers.IsDeleted, 0) AS UserDeleted
			FROM Logins 
			LEFT JOIN tbl_ContactPerson ON Logins.ContactID = tbl_ContactPerson.ContactID 
			LEFT JOIN SalesRep ON Logins.SalesRepID = SalesRep.SalesRepID
			LEFT JOIN SiteUsers ON Logins.ID = SiteUsers.LogInID
			WHERE   
				SiteUsers.EmailAddress = @EmailAddress
				OR tbl_ContactPerson.Email = @EmailAddress
			ORDER BY Logins.ID 
		END
END
GO
