USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 1/2/2019
-- Description:	Get's a Report record by ID
-- =============================================
CREATE PROCEDURE [dbo].[Report_Get]
	@ID				int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT *
	FROM Reports
	WHERE id = @ID
END
GO
