USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 2/16/2021
-- =============================================
CREATE PROCEDURE [dbo].[SitePermissionLinks_Update]
	  @ID				int
	, @SiteUserID		int
	, @PermissionID		tinyint
	, @HasPermission	bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @ID > 0
		BEGIN
			UPDATE SitePermissionLinks
			SET
				  SiteUserID = @SiteUserID
				, PermissionID = @PermissionID
				, HasPermission = @HasPermission
			WHERE ID = @ID

			SELECT @ID
		END
	ELSE
		BEGIN
			INSERT INTO SitePermissionLinks
			(
				  SiteUserID
				, PermissionID
				, HasPermission
			)
			VALUES
			(
				  @SiteUserID
				, @PermissionID
				, @HasPermission
			)

			SELECT CAST(SCOPE_IDENTITY() AS INT)
		END
END
GO
