USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 
CREATE PROCEDURE [dbo].[UpdateAnnouncements] 
	(@ID bigint,@Title nvarchar(100),@Summary nvarchar (2000),@CreatedDate datetime,  
	@Priority nvarchar(50),@URL nvarchar(500),@StartDate datetime,@ShowInSupport bit,@ExpirationDate datetime,@FilePath nvarchar(500)) 
AS 
BEGIN 
	UPDATE Announcement SET Title=@Title 
   ,Summary=@Summary 
	        ,CreatedDate=@CreatedDate 
      ,Priority =@Priority 
      ,URL =@URL 
      ,StartDate=@StartDate 
      ,ShowInSupport =@ShowInSupport 
	        ,ExpirationDate =@ExpirationDate 
	  ,FilePath =@FilePath 
	   where ID=@ID 
END 
 
GO
