USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 1/21/2021
-- Description:	Get a Logins by name and organization 
-- ============================================= 
CREATE PROCEDURE [dbo].[Logins_GetByCredentials] 
	  @LoginName		varchar(50) 
	, @Organization		varchar(50) 
	, @Password			varchar(50)
AS 
BEGIN 
	SELECT * 
	FROM Logins 
	WHERE 
		LoginName = @LoginName 
		AND Organization = @Organization 
		AND Password = @Password
END 
GO
