USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [dbo].[FormatDate] (@pValue DateTime)
RETURNS VarChar(25) AS  
BEGIN
	DECLARE @TempValue VarChar(20)

	SELECT @TempValue = 
		RIGHT('0'+CONVERT(VarChar(2),DatePart(m,@pValue)),2) + '/' + 
		RIGHT('0'+CONVERT(VarChar(2),DatePart(d,@pValue)),2) + '/' + 
		CONVERT(VarChar(4),DatePart(yyyy,@pValue))
	RETURN (@TempValue)
END




GO
