USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NULL,
	[ToAddresses] [varchar](1000) NULL,
	[CCAddresses] [varchar](1000) NULL,
	[SMSNumbers] [varchar](1000) NULL,
	[ReplyTo] [varchar](100) NULL,
	[Subject] [varchar](500) NULL,
	[Body] [text] NULL,
	[AttachmentPaths] [varchar](8000) NULL,
	[CreateStamp] [datetime] NULL,
	[SendStamp] [datetime] NULL,
	[HasError] [bit] NULL,
	[ErrorMessage] [text] NULL,
	[TemplateID] [int] NULL,
 CONSTRAINT [PK_Emails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
