USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:		Ezra  
-- Create date: 6/26/2019 
-- Description:	Insert a new digital signature record 
-- =============================================  
CREATE PROCEDURE [dbo].[ContractDigitalSignature_Insert]    
	  @LoginID			int  
	, @ContractID		int 
	, @Name				varchar(50) 
	, @Date				varchar(50) 
AS  
BEGIN  
 
	INSERT INTO ContractDigitalSignature 
	( 
		  LoginID 
		, ContractID 
		, Name 
		, Date 
		, TimeStamp 
	) 
	VALUES 
	( 
		  @LoginID 
		, @ContractID 
		, @Name 
		, @Date 
		, GETDATE() 
	) 
 
	SELECT CAST(SCOPE_IDENTITY() AS INT)  
 
end  
GO
