USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/7/2021 
-- ============================================= 
CREATE PROCEDURE [dbo].[FillProcessedLinesIfNeeded] 
	@AdminInfoID		int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 

 
	IF NOT EXISTS (SELECT * FROM ProcessedLines WHERE EstimateID = @AdminInfoID) 
		BEGIN 
			EXEC FillProcessedLines @AdminInfoID = @AdminInfoID
		END 
END 
GO
