USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[GetVehicleOptionsAdminInfo]
@admininfoid int
AS
SELECT 	[VehicleInfoID]
	,[VehicleOptionsID]
FROM VehicleSelectedOptions vso with(nolock)
inner join vehicleinfo vo with(nolock)
inner join estimationdata ed with(nolock)
on ed.id = vo.estimationdataid
on vo.id = vso.vehicleinfoid
where ed.admininfoid = @admininfoid



GO
