USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[EMS_Export_GetProfileRates4] 
	@AdminInfoID Int 
AS 
 
SET NOCOUNT ON 
SET FMTONLY OFF 


declare @CreatorID int

select @CreatorID = CreatorID from AdminInfo as a where id = @AdminInfoID

if @CreatorID = 56027
begin
 exec [dbo].[EMS_Export_GetProfileRates4_201] @AdminInfoID 
end 
else 
begin

DECLARE @PolicyNumber VarChar(25) 
DECLARE @ClaimNumber VarChar(25) 
 
SELECT  
	CAST(ISNULL(CodeListRateTypes.Code,'?') as nvarchar(25)) MATL_TYPE, 
	1 CAL_CODE, 
	CAST(LEFT('Calc % Materials' ,20) as nvarchar(20)) CAL_DESC, 
	CASE	WHEN CustomerProfileRates.CapType = 0 THEN CustomerProfileRates.Cap 
		ELSE 999999   
	END CAL_MAXDLR, 
	0 CAL_PRIP, 
	0 CAL_SECP, 
	0 MAT_CALP, 
	0 CAL_PRETHR, 
	0 CAL_PSTTHR, 
	0 CAL_THRAMT, 
	0 CAL_LBRMIN, 
	CASE WHEN CustomerProfileRates.CapType = 1 THEN CustomerProfileRates.Cap 
		ELSE 0	 
	END	CAL_LBRMAX, 
	0 CAL_LBRRTE, 
	0 CAL_OPCODE, 
	CustomerProfileRates.Taxable		TAX_IND, 
	CustomerProfilesMisc.TaxRate		MAT_TAXP, 
	CustomerProfileRates.DiscountMarkup	MAT_ADJP, 
	N'' MAT_TX_TY1, 
	N'' MAT_TX_IN1, 
	N'' MAT_TX_TY2, 
	N'' MAT_TX_IN2, 
	N'' MAT_TX_TY3, 
	N'' MAT_TX_IN3, 
	N'' MAT_TX_TY4, 
	N'' MAT_TX_IN4, 
	N'' MAT_TX_TY5, 
	N'' MAT_TX_IN5  
FROM AdminInfo AdminInfo WITH (NOLOCK) 
INNER JOIN CustomerProfiles CustomerProfiles WITH (NOLOCK) ON 
	(CustomerProfiles.id = AdminInfo.CustomerProfilesID) 
INNER JOIN CustomerProfilesMisc CustomerProfilesMisc WITH (NOLOCK) ON 
	(CustomerProfilesMisc.CustomerProfilesID = CustomerProfiles.id) 
INNER JOIN CustomerProfileRates CustomerProfileRates WITH (NOLOCK) ON 
	(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id) 
INNER JOIN RateTypes RateTypes WITH (NOLOCK) ON 
	(RateTypes.id = CustomerProfileRates.RateType) 
INNER JOIN CodeList CodeListRateTypes WITH (NOLOCK) ON 
	(CodeListRateTypes.MasterCodeListTabsID = 33 AND  
	 CodeListRateTypes.RateTypeID = CustomerProfileRates.RateType) 
WHERE AdminInfo.ID = @AdminInfoID  
 
 
 
 
 
 
end
GO
