USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[EMS_Export_GetProfileRates6] 
	@AdminInfoID Int 
AS 
 
SET NOCOUNT ON 
SET FMTONLY OFF  

declare @CreatorID int

select @CreatorID = CreatorID from AdminInfo as a where id = @AdminInfoID

if @CreatorID = 56027
begin
 exec [dbo].[EMS_Export_GetProfileRates6_201] @AdminInfoID 
end 
else 
begin


DECLARE @PolicyNumber VarChar(25) 
DECLARE @ClaimNumber VarChar(25) 
 
select 
	CAST('OTTW' as nvarchar(4))	TX_TOW_TY, 
	NULL TOW_T_TY1, 
	NULL TOW_T_IN1, 
	NULL TOW_T_TY2, 
	NULL TOW_T_IN2, 
	NULL TOW_T_TY3, 
	NULL TOW_T_IN3, 
	NULL TOW_T_TY4, 
	NULL TOW_T_IN4, 
	NULL TOW_T_TY5, 
	NULL TOW_T_IN5, 
	NULL TOW_T_TY6, 
	NULL TOW_T_IN6, 
	CAST('OTST' as nvarchar(4)) TX_STOR_TY, 
	NULL STOR_T_TY1, 
	NULL STOR_T_IN1, 
	NULL STOR_T_TY2, 
	NULL STOR_T_IN2, 
	NULL STOR_T_TY3, 
	NULL STOR_T_IN3, 
	NULL STOR_T_TY4, 
	NULL STOR_T_IN4, 
	NULL STOR_T_TY5, 
	NULL STOR_T_IN5, 
	NULL STOR_T_TY6, 
	NULL STOR_T_IN6
end
GO
