USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EmailErrorReport-01.sql
CREATE PROCEDURE [dbo].[EmailErrorReport]
	@LoginID int = NULL,
	@EmailAddress varchar(100) = NULL,
	@StartDate varchar(50) = NULL,
	@EndDate varchar(50) = NULL,
	@Event varchar(50) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
	SendGridInfo.ID
	, SendGridInfo.Email AS ToAddress
	, SendGridInfo.TimeStamp
	, SendGridInfo.Event
	, SendGridInfo.Reason
	, Emails.Subject
	, Emails.ReplyTo
	, Emails.AttachmentPaths
	, Logins.ID AS LoginID
	, Logins.Organization
	FROM SendGridInfo with(nolock)
	LEFT OUTER JOIN SendGridInfo b with(nolock) on SendGridInfo.[EmailID] = b.EmailID and SendGridInfo.Email = b.Email and SendGridInfo.ID <> b.ID and b.[Event] = 'delivered'
	LEFT OUTER JOIN Emails with(nolock) ON SendGridInfo.EmailID = Emails.ID
	LEFT OUTER JOIN Logins with(nolock) ON Emails.LoginID = Logins.ID
	WHERE SendGridInfo.Event <> 'processed' and SendGridInfo.[Event] <> 'delivered' and b.ID is null
		and SendGridInfo.Email = isnull(@EmailAddress, SendGridInfo.Email)
		and (isnull(@StartDate, '') = '' OR SendGridInfo.TimeStamp >= @StartDate)
		and (isnull(@EndDate, '') = '' OR SendGridInfo.TimeStamp < dateadd(dd, 1, convert(datetime, @EndDate)))
		and SendGridInfo.Event = isnull(@Event, SendGridInfo.Event)
		and Logins.ID = isnull(@LoginID, Logins.ID)		
	ORDER BY SendGridInfo.ID DESC
END
GO
