USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
CREATE  PROCEDURE [dbo].[EMS_Export_GetTotals1] 
	@AdminInfoID Int 
AS 
 
SET NOCOUNT ON 
SET FMTONLY OFF 


declare @CreatorID int

select @CreatorID = CreatorID from AdminInfo as a where id = @AdminInfoID

if @CreatorID = 56027
begin
 exec [dbo].[EMS_Export_GetTotals1_201] @AdminInfoID 
end 
else 
begin

 
-- Create a table with EMS codes for each labor type: 
create TABLE #EmsCodes  
( 
	  RateName		varchar(50) 
	, TypeCode		varchar(10) 
	, EMSCode		varchar(50) 
) 
 
INSERT INTO #EmsCodes 
SELECT 'OEM Parts' AS RateName, 'PA' AS TypeCode, 'PAN' AS EMSCode 
UNION SELECT 'LKQ Parts', 'PA', 'PAL' 
UNION SELECT 'Aftermarket Parts', 'PA', 'PAA' 
UNION SELECT 'Remanufactured Parts', 'PA', 'PAM' 
UNION SELECT 'Other Parts', 'PA', 'PAO' 
UNION SELECT 'Body Labor', 'LA', 'LAB' 
UNION SELECT 'Body Supplies', 'OTAC', 'MASH' 
UNION SELECT 'Paint Labor', 'LA', 'LAR' 
UNION SELECT 'Paint Supplies', 'OTAC', 'MAPA' 
UNION SELECT 'Clearcoat Labor', 'OTAC', 'LA2S' 
UNION SELECT 'Clearcoat Supplies', 'OTAC', 'MA2S' 
UNION SELECT 'Frame Labor', 'LA', 'LAF' 
UNION SELECT 'Structure Labor', 'LA', 'LAS' 
UNION SELECT 'Mechanical Labor', 'LA', 'LAM' 
UNION SELECT 'Electrical Labor', 'LA', 'LAE' 
UNION SELECT 'Glass Labor', 'LA', 'LAG' 
UNION SELECT 'Detail Labor', 'LA', 'LAD' 
UNION SELECT 'Cleanup Labor', 'LA', 'LA' 
UNION SELECT 'Other Labor', 'LA', 'LA' 
 
--SELECT * FROM #EmsCodes 
 
-- Get the rates   
create TABLE #Rates    
(  
	RateType		int,   
	Rate			real,   
	Taxable			bit,   
	RateName		varchar(50),  
	CapType			tinyint,  
	Cap				real, 
	Markup			real, 
	IncludeIn		int 
)  
  
INSERT INTO #Rates  
SELECT   
	RateType,   
	Rate,   
	Taxable,   
	RateName,  
	ISNULL(CapType, 99),		-- 0 is $, 1 is Hours  
	Cap, 
	DiscountMarkup, 
	IncludeIn 
FROM AdminInfo    
LEFT OUTER JOIN CustomerProfileRates ON CustomerProfileRates.CustomerProfilesID = AdminInfo.CustomerProfilesID 
LEFT OUTER JOIN RateTypes ON RateTypes.id = CustomerProfileRates.RateType   
WHERE AdminInfo.ID = @AdminInfoID 
 
--SELECT * FROM #Rates 
 
-- Get sub totals by calling the new query: 
create table #SubTotals   
( 
	RateName				varchar(50),   
	FinalLineItemTotal		float,   
	Taxable					bit,   
	Rate					float,   
	Hours					float,   
	SortOrder				varchar(50), 
	Notes					varchar(300), 
	CapType					int, 
	Cap						real,
	DirectLineItemTotal				real,
	DiscountMarkupLineItemTotal		real 
) 
 
DECLARE @SupplementVersion INT = (SELECT ISNULL(LockLevel, 0) FROM EstimationData WHERE AdminInfoID = @AdminInfoID) 
 
INSERT INTO #SubTotals 
SELECT * FROM [dbo].[GetEstimateSubTotalsFunction] (@AdminInfoID, @SupplementVersion, 0, 0) 
 
 --------------------------------------------------------------------------------------------------------------------------------------
 -- Add Taxed and NonTaxed other charges to the "Other Parts" section.
DECLARE @OtherTotals REAL = (SELECT SUM(FinalLineItemTotal)
FROM #SubTotals
WHERE RateName IN ('Taxed', 'Nontaxed', 'Storage', 'Towing', 'Sublet'))
--WHERE RateName IN ('Taxed', 'Nontaxed'))

IF NOT EXISTS(SELECT * FROM #SubTotals WHERE RateName = 'Other Parts')
	BEGIN
		INSERT INTO #SubTotals
			(RateName, FinalLineItemTotal, Taxable, Rate, Hours, SortOrder, Notes, CapType, Cap)
			VALUES 
			('Other Parts', @OtherTotals, 1, 0, 0, 'COther Parts', '', 99, 0)
	END
ELSE
	BEGIN
		UPDATE #SubTotals
		SET FinalLineItemTotal = FinalLineItemTotal + @OtherTotals
		WHERE RateName = 'Other Parts'
	END
--------------------------------------------------------------------------------------------------------------------------------------

SELECT  
	TypeCode AS TTL_TYPE 
	, EMSCode AS TTL_TYPECD 
	, CASE WHEN SubTotals.Taxable = 1 THEN FinalLineItemTotal ELSE 0 END AS T_AMT 
	, CASE WHEN SubTotals.Taxable = 1 THEN Hours ELSE 0 END AS T_HRS 
	, 0 AS T_ADDLBR 
	, CASE WHEN SubTotals.Taxable = 1 AND Rates.Markup < 0 THEN ISNULL(-((Rates.Markup / 100) * FinalLineItemTotal), 0) ELSE 0 END AS T_DISCAMT 
	, CASE WHEN SubTotals.Taxable = 1 AND Rates.Markup > 0 THEN ISNULL(((Rates.Markup / 100) * FinalLineItemTotal), 0) ELSE 0 END AS T_MKUPAMT 
	, 0 T_GDISCAMT 
	, 0 TAX_AMT 
	, CASE WHEN SubTotals.Taxable = 0 THEN FinalLineItemTotal ELSE 0 END AS NT_AMT 
	, CASE WHEN SubTotals.Taxable = 0 THEN Hours ELSE 0 END AS NT_HRS 
	, 0 AS NT_ADDLBR 
	, CASE WHEN SubTotals.Taxable = 0 AND Rates.Markup < 0 THEN ISNULL(-((Rates.Markup / 100) * FinalLineItemTotal), 0) ELSE 0 END AS NT_DISC 
	, CASE WHEN SubTotals.Taxable = 0 AND Rates.Markup > 0 THEN ISNULL(((Rates.Markup / 100) * FinalLineItemTotal), 0) ELSE 0 END AS NT_MKUP 
	, 0 AS NT_GDIS 
	, 0 AS TTL_TYPAMT 
	, ISNULL(Hours, 0) AS TTL_HRS 
	, ISNULL(FinalLineItemTotal, 0) AS TTL_AMT 
FROM #SubTotals SubTotals 
JOIN #Rates Rates ON SubTotals.RateName = Rates.RateName 
JOIN #EmsCodes EmsCodes ON SubTotals.RateName = EmsCodes.RateName

end
GO
