USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/8/2020 
-- Description:	Format the 3 parts of the POI with commas  
-- ============================================= 
CREATE FUNCTION [dbo].[FormatPOI] 
( 
	@Label			varchar(50) 
	, @Option		varchar(50) 
	, @Custom		varchar(500) 
) 
RETURNS varchar(600) 
AS 
BEGIN 
	DECLARE @Result varchar(600) = '' 
 
	IF ISNULL(@Label, '') <> '' 
		BEGIN 
			SET @Result = @Label 
		END 
 
	IF ISNULL(@Option, '') <> '' 
		BEGIN 
			 
			IF LEN(@Result) > 0 
				BEGIN 
					SET @Result = @Result + ', ' 
				END 
 
			SET @Result = @Result + @Option 
		END 
 
	IF ISNULL(@Custom, '') <> '' 
		BEGIN 
			 
			IF LEN(@Result) > 0 
				BEGIN 
					SET @Result = @Result + ', ' 
				END 
 
			SET @Result = @Result + @Custom 
		END 
 
	RETURN @Result 
 
END 
GO
