USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSendGridInfoByEmailID]
	@EmailID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM SendGridInfo
	WHERE EmailID = @EmailID and [Event] <> 'processed'
		And ([Event] = 'delivered' or 
				Email not in (SELECT Email
						FROM SendGridInfo
						WHERE EmailID = @EmailID and [Event] = 'delivered')
			)
END
GO
