USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[aaaGetInvoicesForTaxFix]

AS
BEGIN
	SELECT Invoices.*
	FROM Invoices
	LEFT OUTER JOIN Logins ON Invoices.LoginID = Logins.ID
	LEFT OUTER JOIN tbl_Address ON Logins.ContactID = tbl_Address.ContactsID
	WHERE 
		Invoices.DueDate >= '6/1/2023'
		AND tbl_Address.State IN ('KY')
		AND SalesTax = 0
		AND Invoices.Paid = 0
		AND Invoices.IsDeleted = 0

	ORDER BY LoginID
END
GO
