USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Unsubscribe_Save-02.sql
CREATE PROCEDURE [dbo].[Unsubscribe_Save] 
	@ID int,
	@Email varchar(50),
	@TimeStamp DateTime,
	@Event varchar(20),
	@EmailID int
AS 
BEGIN 
	IF (@ID > 0 ) 
		BEGIN 
			UPDATE Unsubscribe
			SET
				TimeStamp = @TimeStamp,
				Event = @Event,
				EmailID = @EmailID
			WHERE ID = @ID
 
			SELECT @ID
		END 
	ELSE 
		INSERT INTO Unsubscribe
		(
			Email,
			TimeStamp,
			Event,
			EmailID
		) 
		VALUES
		(
			@Email
			, @TimeStamp
			, @Event
			, @EmailID
		)
 
		SELECT CAST(SCOPE_IDENTITY() AS INT)
END
GO
