USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- =============================================
-- Author:    T. Gibson
-- Create date: 04042017
-- Description:  Insert to EmailLog table
-- =============================================
CREATE PROCEDURE [dbo].[Emaillog_insert] @Type    NVARCHAR(50),
                                 @Detail  NVARCHAR(max),
                                 @Message NVARCHAR(max)
AS
  BEGIN
      INSERT INTO [dbo].[emaillog]
                  ([type],
                   [detail],
                   [message],
                   [createdate])
      VALUES      (@Type,
                   @Detail,
                   @Message,
                   Getdate())
  END
GO
