USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create procedure [dbo].[GetLoginID]
@LoginName varchar(50),
@Organization varchar(50)
as
begin
select id from Logins where 
LoginName=@LoginName and Organization=@Organization
end



GO
