USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  VIEW [dbo].[GetSupplies]
as
	SELECT GetLabor.AdminInfoID,
		RateTypes.ID 'RateTypesID',
		RateTypes.RateName,
		GetLabor.LaborTypesID,
		GetLabor.LaborType,
		GetLabor.Description,
		GetLabor.Betterment,
		GetLabor.Sublet,
		GetLabor.LaborCost,
		Round(GetLabor.LaborTime,1) 'LaborTime',
		RateTypes.EMSCode1,
		RateTypes.EMSBetterment,
		RateTypes.EMSSublet,
		CustomerProfileRates.Rate,
		CustomerProfileRates.CapType,
		CustomerProfileRates.Cap,
		CustomerProfileRates.DiscountMarkup,
		CustomerProfileRates.Taxable,
		CustomerProfileRates.IncludeIn
	FROM GetLabor with(nolock)
	INNER JOIN RateTypes ON
		(RateTypes.ID = CASE 	WHEN GetLabor.RateTypesID = 2 THEN 7
					WHEN GetLabor.RateTypesID = 1 THEN 6 
					WHEN GetLabor.RateTypesID = 17 THEN 19
					WHEN GetLabor.RateTypesID = 21 THEN 22
				END )
	INNER JOIN AdminInfo with(nolock) ON
		(AdminInfo.id = GetLabor.AdminInfoID)
	INNER JOIN CustomerProfiles with(nolock) ON
		(CustomerProfiles.id = AdminInfo.CustomerProfilesID)
	LEFT JOIN CustomerProfileRates with(nolock) ON
		(CustomerProfileRates.CustomerProfilesID = CustomerProfiles.id AND
		 CustomerProfileRates.RateType = RateTypes.id)



GO
