USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrowthBonus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[renewalGoalPercent] [int] NOT NULL,
	[salesGoal] [int] NOT NULL,
	[salesForcast] [int] NOT NULL,
	[bonus100] [money] NOT NULL,
	[bonus110] [money] NOT NULL,
	[bonus120] [money] NOT NULL,
	[bonus130] [money] NOT NULL,
	[SalesRepID] [int] NOT NULL,
 CONSTRAINT [PK_GrowthBonus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GrowthBonus] ADD  CONSTRAINT [DF_GrowthBonus_salesGoal]  DEFAULT ((0)) FOR [salesGoal]
GO
ALTER TABLE [dbo].[GrowthBonus] ADD  CONSTRAINT [DF_GrowthBonus_salesForcast]  DEFAULT ((0)) FOR [salesForcast]
GO
