USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 11/4/2022
-- =============================================
CREATE PROCEDURE [dbo].[LinkRulePresetLink_Delete]
	@ID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE
	FROM LinkRulePresetLink
	WHERE ID = @ID
	
END
GO
