USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
-- ============================================= 
-- Author:		Ezra Schwartz 
-- Create date: 3/1/2019 
-- Description:	Get the profile presets data to show in the line item previews on the presets page 
-- ============================================= 
CREATE PROCEDURE [dbo].[CustomerProfile_GetPresetsPreview]  
	@ProfileID		int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	SELECT        
		CustomerProfilePresets.ID,       
		ManualSections.Section 'Step',       
		ISNULL(ActionList.ActionLong,'') + ' ' + CustomerProfilePresets.ActionDescription 'ActionDescription',       
		CustomerProfilePresets.ActionCode,       
		CustomerProfilePresets.PartNumber,       
		Cast(CustomerProfilePresets.Price as varchar(20)) 'Price',    --Josh Added Cast because the EstimateLineItem Price is a string. Makes Entity Framework work better.   
		CustomerProfilePresets.PartSource,       
		CustomerProfilePresets.Description 'PartDescription',       
		CASE WHEN CustomerProfilePresets.PartOfOverHaul <> 0 THEN 'Yes' ELSE 'No' END 'PartOfOverHaul',       
		CustomerProfiles.ID 'CustomerProfilesID',       
		CustomerProfilePresets.ID 'LineID',       
		FocusWrite.Dbo.GetPresetLaborItems(CustomerProfilePresets.ID) 'LaborItems'       
	FROM CustomerProfiles      
	INNER JOIN CustomerProfilePresets ON CustomerProfiles.ID = CustomerProfilePresets.CustomerProfilesID      
	LEFT JOIN ActionList ON CustomerProfilePresets.ActionCode = ActionList.ActionShort 
	LEFT OUTER JOIN ManualSections ON CustomerProfilePresets.StepID = ManualSections.ID 
	WHERE CustomerProfiles.ID = @ProfileID 
	ORDER BY ISNULL(OrderNo, 9999) ASC 
 
END 
 
GO
