USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 9/30/2020 
-- Description:	Save a contract note in WE 
-- ============================================= 
CREATE PROCEDURE [dbo].[SaveWEContractNote] 
	  @ContractID			int 
	, @Note					varchar(2000) 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    UPDATE [WEB-EST-PROE\WEBESTARCHIVE].focuswrite.dbo.Contract 
	SET Notes = @Note 
	WHERE ContractID = @ContractID 
END 
GO
