USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 7/3/2019 
-- Description: Get the Conversion Complete record for a login 
-- ============================================= 
CREATE PROCEDURE [dbo].[LoginsConversionCompleteGet] 
	@LoginID			int 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
    SELECT TOP 1 *  
	FROM LoginsConversionComplete with(nolock)
	WHERE LoginID = @LoginID 
	ORDER BY ID DESC 
	 
END 
GO
