USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContractAddOnHistory_Insert]
    @AddOnID			int
	, @InvoiceID		int
	, @Amount			decimal(8, 2)
	, @SalesTax			decimal(5, 2)
	, @StartQuantity	tinyint
	, @EndQuantity		tinyint
	, @Number			int
	, @Notes			varchar(300)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO ContractAddOnHistory
	(
		  ContractAddOnID
		, InvoiceID
		, TimeStamp
		, Amount
		, SalesTax
		, StartQuantity
		, EndQuantity
		, Number
		, Notes
	)
	VALUES
	(
		  @AddOnID
		, @InvoiceID
		, GETDATE()
		, @Amount
		, @SalesTax
		, @StartQuantity
		, @EndQuantity
		, @Number
		, @Notes
	)
END
GO
