USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Report_GetPartOrdersVendors-01.sql
CREATE PROCEDURE [dbo].[Report_GetPartOrdersVendors]
	@AdminInfoID	INT
	, @PartSourceFilter		VARCHAR(20) = 'All'
	, @SupplementVersion	INT = -1
AS
BEGIN

SELECT 
	  Vendor.CompanyName
	, ISNULL(Vendor.FirstName, '') + ' ' + ISNULL(Vendor.LastName, '') AS ContactName
	, Vendor.Email
	, dbo.FormatPhoneNumber(Vendor.WorkNumber) AS Phone
	, dbo.FormatPhoneNumber(Vendor.FaxNumber) AS Fax
	, ISNULL(Vendor.Address1, '') + ' ' + ISNULL(Vendor.Address2, '') + ' ' + ISNULL(City, '') + ' ' + ISNULL(State, '') + ' ' + ISNULL(Zip, '') AS Address
FROM AdminInfo with(nolock)
INNER JOIN EstimationData with(nolock) ON EstimationData.AdminInfoID = AdminInfo.id
INNER JOIN EstimationLineItems with(nolock) ON EstimationLineItems.EstimationDataID  = EstimationData.id
LEFT OUTER JOIN EstimationLineItems EstimationLineItemsModified with(nolock) ON EstimationLineItems.ModifiesID = EstimationLineItemsModified.id
INNER JOIN Vendor with(nolock) ON 
	EstimationLineItems.PartSourceVendorID > 0 
	AND EstimationLineItems.PartSourceVendorID = Vendor.ID 
	AND Vendor.Type = 
		CASE 
			WHEN EstimationLineItems.PartSource = 'After' THEN 'After Market'
			WHEN EstimationLineItems.PartSource = 'Reman' THEN 'Remanufactured'
			ELSE EstimationLineItems.PartSource
		END
	INNER JOIN SelectedVendor with(nolock) ON
		SelectedVendor.VendorID = Vendor.ID	
		AND (SelectedVendor.LoginID = AdminInfo.CreatorID)
WHERE 
	AdminInfo.ID = @AdminInfoID  
	AND  
	( 
		ISNULL(EstimationLineItems.PartNumber,'') <> '' 
		OR ISNULL(EstimationLineItems.Description,'') <> ''
	) 
	AND EstimationLineItems.ActionCode IN ('Add','Replace','R+R') 
	AND (@PartSourceFilter = 'All' OR ISNULL(EstimationLineItems.PartSource,'') = @PartSourceFilter)
	--AND (@SupplementVersion = -1 OR ISNULL(EstimationLineItems.SupplementVersion, 0) = @SupplementVersion)
	AND 
	(
		@SupplementVersion = -1
		OR 
		(
			ISNULL(EstimationLineItems.SupplementVersion, 0) = @SupplementVersion
			AND
			(
				EstimationLineItemsModified.id IS NULL
				OR EstimationLineItems.PartNumber <> EstimationLineItemsModified.PartNumber
				OR ISNULL(EstimationLineItems.PartSource,'') <> ISNULL(EstimationLineItemsModified.PartSource,'')
			)
		)
	)
ORDER BY CompanyName
END  


GO
