USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/16/2020 
-- Description: Delete all Seen records so all users are shown new changes 
-- ============================================= 
CREATE PROCEDURE [dbo].[SiteChangeLogSeen_Clear] 
 
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from 
	-- interfering with SELECT statements. 
	SET NOCOUNT ON; 
 
	TRUNCATE TABLE SiteChangeLogSeen 
 
END 
GO
