USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DeleteCustomerProfileRatesByAdminInfo]
	@admininfoid int
AS
DELETE FROM CustomerProfileRates
FROM customerprofilerates cpr
INNER join customerprofiles cp
inner join admininfo a
on cp.id = a.customerprofilesid
on cp.id = cpr.customerprofilesid
where a.id = @admininfoid


GO
