USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 12/17/2020
-- Description:	Get all Add On Preset records for a Profile
-- =============================================
CREATE PROCEDURE [dbo].[AddOnPreset_GetForProfile]
	@ProfileID			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- If all values for a profile line are blank, use the global profile for that preset
	SELECT
		  ISNULL(Base.ID, 0) AS ID
		, @ProfileID AS ProfileID
		, ISNULL(Base.GlobalPresetShellID, 0) AS PresetShellID
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalLabor ELSE Labor END, 0) AS Labor
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalRefinish ELSE Refinish END, 0) AS Refinish
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalCharge ELSE Charge END, 0) AS Charge
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalOtherTypeOverride ELSE OtherTypeOverride END, '') AS OtherTypeOverride
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalOtherCharge ELSE OtherCharge END, 0) AS OtherCharge
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalActive ELSE Active END, 0) AS Active
		, ISNULL(CASE WHEN Base.IsEmpty = 1 THEN GlobalAutoSelect ELSE AutoSelect END, 0) AS AutoSelect
	FROM
	(
		SELECT 
			  AddOnPreset.*
			, CASE WHEN
				ISNULL(AddOnPreset.Labor, 0) = 0
				AND ISNULL(AddOnPreset.Refinish, 0) = 0
				AND ISNULL(AddOnPreset.Charge, 0) = 0
				AND ISNULL(AddOnPreset.OtherTypeOverride, '') = ''
				AND ISNULL(AddOnPreset.OtherCharge, 0) = 0
				THEN 1 ELSE 0 END AS IsEmpty
			, GlobalPreset.PresetShellID AS GlobalPresetShellID
			, GlobalPreset.Labor AS GlobalLabor
			, GlobalPreset.Refinish AS GlobalRefinish
			, GlobalPreset.Charge AS GlobalCharge
			, GlobalPreset.OtherTypeOverride AS GlobalOtherTypeOverride
			, GlobalPreset.OtherCharge AS GlobalOtherCharge
			, GlobalPreset.Active AS GlobalActive
			, GlobalPreset.AutoSelect AS GlobalAutoSelect
		FROM AddOnPresetShell
		LEFT OUTER JOIN AddOnPreset ON AddOnPreset.ProfileID = @ProfileID AND AddOnPresetShell.ID = AddOnPreset.PresetShellID
		LEFT OUTER JOIN AddOnPreset AS GlobalPreset ON GlobalPreset.ProfileID = 1 AND AddOnPresetShell.ID = GlobalPreset.PresetShellID
		WHERE AddOnPresetShell.Deleted = 0
	) AS Base
	ORDER BY PresetShellID
  
END
GO
