USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE procedure [dbo].[FrameMatrix_GetVehicleMakes] 
as 
begin 
select makId,makDescription  from FrameMatrix.dbo.app_LUMakes order by makDescription  
end 
GO
