USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 3/5/2018 
-- Description:	Get a PDR_DescriptionPreset by ID, or all for a LoginID 
-- ============================================= 
CREATE PROCEDURE [dbo].[PDR_DescriptionPreset_Get] 
	@ID					int = null, 
	@LoginID			int = null 
AS 
BEGIN 
 
	IF NOT @ID IS NULL 
		BEGIN 
			SELECT * 
			FROM PDR_DescriptionPreset 
			WHERE ID = @ID 
		END 
	ELSE IF NOT @LoginID IS NULL 
		BEGIN 
			SELECT * 
			FROM PDR_DescriptionPreset 
			WHERE LoginID = @LoginID 
		END 
END 
GO
