USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[Trim] (@TheString AS varchar(8000))
RETURNS varchar(8000)
AS

/*

This function is used to remove white space from the beginning and end of a string.

Parameters:
	@TheString - The string that is to be trimmed

Returns:
	varchar - Trimmed @TheString value

Usage:
	SELECT dbo.Trim('  some text        ')	// Will return 'some text'

Notes:
	Char(9) = Tab
	Char(10) = Line Feed
	Char(13) = Carriage Return

*/

BEGIN
	
	DECLARE	@TrimChars varchar(10)
	SET @TrimChars = Char(9) + Char(10) + Char(13) + Char(32)
	
	-- Left trim
	IF @TheString LIKE '[' + @TrimChars + ']%'
		SET @TheString = SUBSTRING(@TheString, patIndex('%[^' + @TrimChars + ']%', @TheString), 8000)
	
	-- Right trim
	IF @TheString LIKE '%[' + @TrimChars + ']'
		SET @TheString = Reverse(Substring(Reverse(@TheString), patIndex('%[^' + @TrimChars + ']%', Reverse(@TheString)), 8000))
	
	
	RETURN @TheString
	
END


GO
