USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ContractID] [int] IDENTITY(1,1) NOT NULL,
	[ContractTypeID] [int] NOT NULL,
	[ParentContractID] [int] NULL,
	[ContractPriceLevelID] [int] NOT NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[isAutoPay] [bit] NOT NULL,
	[isSigned] [bit] NOT NULL,
	[DocuSignEnvelopeID] [varchar](50) NULL,
	[Notes] [varchar](2000) NULL,
	[PromoID] [int] NOT NULL,
	[acceptEChecks] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[WillRenew] [bit] NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_Contract_7_799393967__K1_K2_K4_6] ON [dbo].[Contract]
(
	[ContractID] ASC,
	[ContractTypeID] ASC,
	[ContractPriceLevelID] ASC
)
INCLUDE([ExpirationDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_Contract_9_799393967__K2_K1_K4] ON [dbo].[Contract]
(
	[ContractTypeID] ASC,
	[ContractID] ASC,
	[ContractPriceLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_Contract_9_799393967__K6_K2_K4_K1_10_15] ON [dbo].[Contract]
(
	[ExpirationDate] ASC,
	[ContractTypeID] ASC,
	[ContractPriceLevelID] ASC,
	[ContractID] ASC
)
INCLUDE([Notes],[WillRenew]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CTID_Active] ON [dbo].[Contract]
(
	[ContractTypeID] ASC,
	[Active] ASC
)
INCLUDE([ParentContractID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Contract_1] ON [dbo].[Contract]
(
	[ExpirationDate] ASC,
	[ContractPriceLevelID] ASC,
	[ContractTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_Contract_2] ON [dbo].[Contract]
(
	[ParentContractID] ASC,
	[ContractTypeID] ASC,
	[Active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Contract_ContractTypeID_isSigned] ON [dbo].[Contract]
(
	[ContractTypeID] ASC,
	[isSigned] ASC
)
INCLUDE([ContractID],[ExpirationDate],[DateCreated]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Contract_PromoID] ON [dbo].[Contract]
(
	[PromoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_ContractTypeID]  DEFAULT ((1)) FOR [ContractTypeID]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_isAutoPay]  DEFAULT ((0)) FOR [isAutoPay]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_isSigned]  DEFAULT ((0)) FOR [isSigned]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_PromoID]  DEFAULT ((0)) FOR [PromoID]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_AcceptEChecks]  DEFAULT ((1)) FOR [acceptEChecks]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [DF_Contract_WillRenew]  DEFAULT ((0)) FOR [WillRenew]
GO
