USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Author:		Ezra 
-- Create date: 12/8/2017 
-- Description:	Add or update a PDR Rate record 
-- ============================================= 
CREATE PROCEDURE [dbo].[AddOrUpdatePDRRate] 
	@ID					int, 
	@RateProfileID		int, 
	@Size				smallint, 
	@Amount				money, 
	@QuantityID			int, 
	@PanelID			int, 
	@Depth				smallint 
AS 
BEGIN 
 
	IF EXISTS (SELECT * FROM PDR_Rate with(nolock)  WHERE ID = @ID) 
		BEGIN 
			UPDATE [dbo].[PDR_Rate] 
			SET  
			     [RateProfileID] = @RateProfileID 
				,[Size] = @Size 
				,[Amount] = @Amount 
				,[Quantity] = @QuantityID 
				,[PanelID] = @PanelID 
				,[Depth] = @Depth 
			WHERE ID = @ID  
 
			SELECT @ID	 
		END 
	ELSE 
		BEGIN 
			INSERT INTO [dbo].[PDR_Rate] 
			( 
			     [RateProfileID] 
				,[Size] 
				,[Amount] 
				,[Quantity] 
				,[PanelID] 
				,[Depth] 
			) 
			VALUES 
			( 
				 @RateProfileID 
				,@Size 
				,@Amount 
				,@QuantityID 
				,@PanelID 
				,@Depth 
			) 
 
			SELECT CAST(SCOPE_IDENTITY() AS INT) 
		END 
END 
GO
