USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ezra
-- Create date: 5/1/2017
-- =============================================
CREATE PROCEDURE [dbo].[DeleteeEstimateImageLookup]
	@id			int
AS
BEGIN
	DELETE FROM EstimationImagesLookup WHERE ID = @id
END

GO
