USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NOT NULL,
	[ReportType] [varchar](25) NOT NULL,
	[FileName] [varchar](250) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DeleteStamp] [datetime] NULL,
	[CustomReportTemplateID] [int] NULL,
	[ImagesOnlyChecked] [bit] NULL,
	[Notes] [varchar](50) NULL,
	[ContractID] [int] NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ix_dba_Reports_AdminInfoID_DeleteStamp] ON [dbo].[Reports]
(
	[AdminInfoID] ASC,
	[DeleteStamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reports] ADD  CONSTRAINT [DF_Reports_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Reports] ADD  CONSTRAINT [DF__Reports__Contrac__26E3C520]  DEFAULT (NULL) FOR [ContractID]
GO
