USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobStatusHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AdminInfoID] [int] NOT NULL,
	[JobStatusID] [int] NOT NULL,
	[ActionDate] [datetime] NULL,
 CONSTRAINT [PK_JobStatusHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [_dta_index_JobStatusHistory_6_327672215__K2_K1D_3_4] ON [dbo].[JobStatusHistory]
(
	[AdminInfoID] ASC,
	[id] DESC
)
INCLUDE([JobStatusID],[ActionDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
