USE [FocusWrite]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaborTypes](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[LaborType] [varchar](20) NOT NULL,
	[Description] [varchar](255) NULL,
	[RateTypesID] [tinyint] NULL,
	[EMSCodeLabor] [varchar](10) NULL,
	[EMSCodeOperation] [varchar](10) NULL,
	[EMSSublet] [varchar](10) NULL,
	[EMSBetterment] [varchar](10) NULL,
 CONSTRAINT [PK_LaborTypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [RateTypesID] ON [dbo].[LaborTypes]
(
	[RateTypesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
