@model ProEstimator.Admin.ViewModel.ContractAddOnReportVM

@using ProEstimator.Admin.ViewModel;

@{
    ViewBag.Title = "Administration - Contract Add-On Report";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<style>
    .input-group-addon {
        min-width: 150px;
        text-align: left;
    }

    .padd-top {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .k-grid td {
        white-space: normal;
    }

    .stackem {
        margin-bottom: 5px;
    }
</style>

<script>

    function GetSearchParameters() {
        return {
            addOnDateFilter: $("#addOnDate").val()
        };
    }

    $(document).ready(function () {

        // Set up calendar controls
        $("#addOnDate").datepicker({
            showOn: "button",
            buttonImage: "/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Add-On date"
        });

        // Do the acount id search
        $("#btnSearchAddOn").click(function () {

            // Refresh the history grid
            var grid = $("#contract-addon-report-grid").data("kendoGrid");

            if (grid) {
                grid.dataSource.read();
            }
        });

        var currentDate = new Date();
        var dateChange = new Date();
        dateChange.setDate(currentDate.getDate() - 7)

        // addOnDate
        var addOnDate = GetDayMonthYear(dateChange);
        $("#addOnDate").val(addOnDate);

        function GetDayMonthYear(dateChange) {
            var d = dateChange.getDate();
            var day = (d < 10) ? '0' + d : d;
            var m = dateChange.getMonth() + 1;
            var month = (m < 10) ? '0' + m : m;
            var yy = dateChange.getYear();
            var year = (yy < 1000) ? yy + 1900 : yy;

            var dateRange = month + "/" + day + "/" + year;

            return dateRange;
        }

        $("#btnExcelExport").click(function () {

            var addOnDateFilter = $("#addOnDate").val();

            var win = window.open("/ContractAddOnReport/DownloadData/?addOnDateFilter=" + addOnDateFilter, "_blank");

            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert("Your browser blocked the site from opening a new tab, please allow popups for this site.");
            }
        });
    });

</script>

<div class="row padd-top">
    <div class="col-lg-8 col-md-7 col-sm-6">
        <h3>
            Contract Add-On Report
        </h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Search Criteria</h4>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Add-On Date</span>
                                    <input type="text" class="input-group-addon" placeholder="Add-On Date" aria-describedby="addOnDate" id="addOnDate" readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-lg-10 pull-left">

                    </div>
                    <div class="col-lg-2 pull-left">
                        <a class="btn btn-default pull-right" href="javascript:void(0);" style="width:95% !important" id="btnSearchAddOn" role="button">Search</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Contract Add-On</h4>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6" style="margin-top:5px">
            <div class="dt-buttons ui basic buttons"><button id="btnExcelExport" name="btnExcelExport" class="ui button buttons-excel buttons-html5" tabindex="0" aria-controls="cc-wei-table"><span class="ui-button-text">Excel</span></button></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="paymentreport-grid-container" class="datagrid">
                    @(Html.Kendo().Grid<ContractAddOnReportVM>()
                                .Name("contract-addon-report-grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(item => item.Type).Title("Add-On Type");
                                    columns.Bound(item => item.ContractCount).Title("Contract Count");
                                })
                                .Sortable()
                                .Pageable(pageable => pageable
                                    .Refresh(false)
                                )
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .ServerOperation(false)
                                    .Read(read => read.Action("GetContractAddOnReport", "ContractAddOnReport").Data("GetSearchParameters"))
                                    .PageSize(25)
                   ))
                </div>
            </div>
        </div>
    </div>

</div>


