@model Proestimator.ViewModel.LoginVM

@using Proestimator.Resources

@{
    ViewBag.Title = Proestimator.Resources.ProStrings.PageTitle_Login;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="clear: both; text-align: center;">
    <p>@Proestimator.Resources.ProStrings.InvalidLoginCode</p>
</div>