<!-- *** HEADER *** -->
@{
    string Url = Request.Url.ToString();
     
}

<style>
    .logo-img-text {
        margin-top: -20px;
        font-size: .625em;
        color: black;
    }
</style>
    
<div id="header" class="section group container">

    <div id="smHeader" class="container">
        <div id="smLogo" style="width: 100%; text-align: center;">
            <img id="smLogoImg" src="~/Content/images/WebEstGlobalSmall.png" alt="Web-Est Global" />

            <p id="supportNumber">
                <a href="mailto:help@web-est.com">@Proestimator.Resources.ProStrings.HelpWebEstEmail</a>
                <br /><a href="tel:888-932-3780" style="color: black; font-size: large;">(888) 932-3780</a>
            </p>
        </div>  
    </div> 

    <div id="lgHeader" class="container">
        <div class="col sm_4_4 md_8_8 lg_2_12 xl_2_14" id="logo">
            <a href="http://web-est.com/"><img id="smLogoImg" src="~/Content/images/WebEstGlobalSmall.png" alt="Web-Est Global" /></a>
        </div>
    
        <div id="lgHeaderPanel"  class="col sm_4_4 md_8_8 lg_10_12 xl_12_14">
            <div id="SupportContainer" class="col sm_4_4 md_8_8 lg_3_12 xl_3_14">
                <img src="~/content/images/TechSupport.png" alt="Tech Support" id="imgTechSupport" style="height: 65px;cursor:pointer;" />
                <p class="logo-img-text">Weekdays, 8:30 a.m. - 6:30 p.m. EST</p>

                <p id="supportNumber">@Proestimator.Resources.ProStrings.TechSupport: (888) 932-3780 x203</p>
            </div> 
        </div> 
    </div> 
</div> 