@model Proestimator.ViewModel.Printing.EstimateReportVM

@using Proestimator.Views.Estimate
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>
    <p>@Proestimator.Resources.ProStrings.InvalidReportID</p>
</body>
</html>